{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "packagePath": "admin",
  "revision": "20201124",
  "canonicalName": "DataTransfer",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "baseUrl": "https://admin.googleapis.com/",
  "resources": {
    "transfers": {
      "methods": {
        "get": {
          "description": "Retrieves a data transfer request by its resource ID.",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true
            }
          },
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "dataTransferId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "maximum": "500",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100."
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "status": {
              "location": "query",
              "type": "string",
              "description": "Status of the transfer."
            },
            "customerId": {
              "description": "Immutable ID of the Google Apps account.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "id": "datatransfer.transfers.list"
        },
        "insert": {
          "parameterOrder": [],
          "id": "datatransfer.transfers.insert",
          "httpMethod": "POST",
          "description": "Inserts a data transfer request.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "request": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers",
          "parameters": {}
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "description": "Retrieves information about an application for the given application ID.",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "applicationId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "ID of the application resource to be retrieved.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Application"
          },
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "datatransfer.applications.get"
        },
        "list": {
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/applications",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Apps account.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "type": "integer",
              "minimum": "1",
              "format": "int32",
              "location": "query"
            }
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "description": "Lists the applications available for data transfer for a customer.",
          "id": "datatransfer.applications.list"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "protocol": "rest",
  "batchPath": "batch",
  "documentationLink": "http://developers.google.com/admin-sdk/",
  "rootUrl": "https://admin.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "datatransfer_v1",
  "discoveryVersion": "v1",
  "schemas": {
    "DataTransfer": {
      "properties": {
        "overallTransferStatusCode": {
          "description": "Overall transfer status (Read-only).",
          "type": "string"
        },
        "requestTime": {
          "format": "date-time",
          "description": "The time at which the data transfer was requested (Read-only).",
          "type": "string"
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "applicationDataTransfers": {
          "description": "List of per application data transfer resources. It contains data transfer details of the applications associated with this transfer resource. Note that this list is also used to specify the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "The transfer's ID (Read-only)."
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer",
          "type": "string"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer",
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "id": "ApplicationDataTransfer",
      "properties": {
        "applicationTransferStatus": {
          "type": "string",
          "description": "Current status of transfer for this application. (Read-only)"
        },
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application."
        },
        "applicationId": {
          "format": "int64",
          "description": "The application's ID.",
          "type": "string"
        }
      }
    },
    "Application": {
      "description": "Applications resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters can be used to select the data of the user in this application to be transferred.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "id": {
          "description": "The application's ID.",
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        }
      },
      "id": "Application"
    },
    "DataTransfersListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token which will be used to specify next page in list API.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array",
          "description": "List of data transfer requests."
        }
      },
      "description": "Template for a collection of DataTransfer resources.",
      "id": "DataTransfersListResponse"
    },
    "ApplicationTransferParam": {
      "description": "Template for application transfer parameters.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter. eg: 'PRIVACY_LEVEL'"
        },
        "value": {
          "items": {
            "type": "string"
          },
          "description": "The value of the corresponding transfer parameter. eg: 'PRIVATE' or 'SHARED'",
          "type": "array"
        }
      },
      "id": "ApplicationTransferParam"
    },
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "id": "ApplicationsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "applications": {
          "items": {
            "$ref": "Application"
          },
          "description": "List of applications that support data transfer and are also installed for the customer.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token which will be used to specify next page in list API.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    }
  },
  "name": "admin",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "id": "admin:datatransfer_v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Admin SDK API"
}
