{
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1alpha",
  "protocol": "rest",
  "basePath": "",
  "rootUrl": "https://analyticsdata.googleapis.com/",
  "name": "analyticsdata",
  "id": "analyticsdata:v1alpha",
  "revision": "20210105",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Accesses report data in Google Analytics.",
  "version_module": true,
  "baseUrl": "https://analyticsdata.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "properties": {
      "methods": {
        "getMetadata": {
          "response": {
            "$ref": "Metadata"
          },
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/metadata$",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the metadata to retrieve. This name field is specified in the URL path and not URL parameters. Property is a numeric Google Analytics GA4 Property identifier. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Example: properties/1234/metadata Set the Property ID to 0 for dimensions and metrics common to all properties. In this special mode, this method will not return custom dimensions and metrics.",
              "type": "string"
            }
          },
          "description": "Returns metadata for dimensions and metrics available in reporting methods. Used to explore the dimensions and metrics. In this method, a Google Analytics GA4 Property Identifier is specified in the request, and the metadata response includes Custom dimensions and metrics as well as Universal metadata. For example if a custom metric with parameter name `levels_unlocked` is registered to a property, the Metadata response will contain `customEvent:levels_unlocked`. Universal metadata are dimensions and metrics applicable to any property such as `country` and `totalUsers`.",
          "flatPath": "v1alpha/properties/{propertiesId}/metadata",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha/{+name}",
          "id": "analyticsdata.properties.getMetadata"
        },
        "runRealtimeReport": {
          "response": {
            "$ref": "RunRealtimeReportResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "property"
          ],
          "description": "The Google Analytics Realtime API returns a customized report of realtime event data for your property. These reports show events and usage from the last 30 minutes.",
          "request": {
            "$ref": "RunRealtimeReportRequest"
          },
          "parameters": {
            "property": {
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "A Google Analytics GA4 property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Example: properties/1234"
            }
          },
          "id": "analyticsdata.properties.runRealtimeReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}:runRealtimeReport",
          "path": "v1alpha/{+property}:runRealtimeReport"
        }
      }
    },
    "v1alpha": {
      "methods": {
        "runPivotReport": {
          "description": "Returns a customized pivot report of your Google Analytics event data. Pivot reports are more advanced and expressive formats than regular reports. In a pivot report, dimensions are only visible if they are included in a pivot. Multiple pivots can be specified to further dissect your data.",
          "request": {
            "$ref": "RunPivotReportRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsdata.runPivotReport",
          "response": {
            "$ref": "RunPivotReportResponse"
          },
          "path": "v1alpha:runPivotReport",
          "flatPath": "v1alpha:runPivotReport"
        },
        "batchRunReports": {
          "response": {
            "$ref": "BatchRunReportsResponse"
          },
          "description": "Returns multiple reports in a batch. All reports must be for the same Entity.",
          "request": {
            "$ref": "BatchRunReportsRequest"
          },
          "httpMethod": "POST",
          "id": "analyticsdata.batchRunReports",
          "flatPath": "v1alpha:batchRunReports",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {},
          "path": "v1alpha:batchRunReports",
          "parameterOrder": []
        },
        "runReport": {
          "flatPath": "v1alpha:runReport",
          "response": {
            "$ref": "RunReportResponse"
          },
          "path": "v1alpha:runReport",
          "request": {
            "$ref": "RunReportRequest"
          },
          "description": "Returns a customized report of your Google Analytics event data. Reports contain statistics derived from data collected by the Google Analytics tracking code. The data returned from the API is as a table with columns for the requested dimensions and metrics. Metrics are individual measurements of user activity on your property, such as active users or event count. Dimensions break down metrics across some common criteria, such as country or event name.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsdata.runReport",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "batchRunPivotReports": {
          "response": {
            "$ref": "BatchRunPivotReportsResponse"
          },
          "parameters": {},
          "path": "v1alpha:batchRunPivotReports",
          "flatPath": "v1alpha:batchRunPivotReports",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchRunPivotReportsRequest"
          },
          "description": "Returns multiple pivot reports in a batch. All reports must be for the same Entity.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsdata.batchRunPivotReports"
        }
      }
    }
  },
  "mtlsRootUrl": "https://analyticsdata.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "title": "Google Analytics Data API",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "schemas": {
    "MetricHeader": {
      "id": "MetricHeader",
      "properties": {
        "name": {
          "description": "The metric's name.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Integer type.",
            "Floating point type.",
            "A duration of seconds; a special floating point type.",
            "A duration in milliseconds; a special floating point type.",
            "A duration in minutes; a special floating point type.",
            "A duration in hours; a special floating point type.",
            "A custom metric of standard type; a special floating point type.",
            "An amount of money; a special floating point type.",
            "A length in feet; a special floating point type.",
            "A length in miles; a special floating point type.",
            "A length in meters; a special floating point type.",
            "A length in kilometers; a special floating point type."
          ],
          "type": "string",
          "description": "The metric's data type.",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TYPE_INTEGER",
            "TYPE_FLOAT",
            "TYPE_SECONDS",
            "TYPE_MILLISECONDS",
            "TYPE_MINUTES",
            "TYPE_HOURS",
            "TYPE_STANDARD",
            "TYPE_CURRENCY",
            "TYPE_FEET",
            "TYPE_MILES",
            "TYPE_METERS",
            "TYPE_KILOMETERS"
          ]
        }
      },
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object"
    },
    "MetricMetadata": {
      "description": "Explains a metric.",
      "id": "MetricMetadata",
      "properties": {
        "deprecatedApiNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Still usable but deprecated names for this metric. If populated, this metric is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the metric will be available only by `apiName`."
        },
        "apiName": {
          "description": "A metric name. Useable in [Metric](#Metric)'s `name`. For example, `eventCount`.",
          "type": "string"
        },
        "uiName": {
          "type": "string",
          "description": "This metric's name within the Google Analytics user interface. For example, `Event count`."
        },
        "description": {
          "description": "Description of how this metric is used and calculated.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "The mathematical expression for this derived metric. Can be used in [Metric](#Metric)'s `expression` field for equivalent reports. Most metrics are not expressions, and for non-expressions, this field is empty."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Integer type.",
            "Floating point type.",
            "A duration of seconds; a special floating point type.",
            "A duration in milliseconds; a special floating point type.",
            "A duration in minutes; a special floating point type.",
            "A duration in hours; a special floating point type.",
            "A custom metric of standard type; a special floating point type.",
            "An amount of money; a special floating point type.",
            "A length in feet; a special floating point type.",
            "A length in miles; a special floating point type.",
            "A length in meters; a special floating point type.",
            "A length in kilometers; a special floating point type."
          ],
          "description": "The type of this metric.",
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TYPE_INTEGER",
            "TYPE_FLOAT",
            "TYPE_SECONDS",
            "TYPE_MILLISECONDS",
            "TYPE_MINUTES",
            "TYPE_HOURS",
            "TYPE_STANDARD",
            "TYPE_CURRENCY",
            "TYPE_FEET",
            "TYPE_MILES",
            "TYPE_METERS",
            "TYPE_KILOMETERS"
          ]
        },
        "customDefinition": {
          "type": "boolean",
          "description": "True if the metric is a custom metric for this property."
        }
      },
      "type": "object"
    },
    "Metadata": {
      "id": "Metadata",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "MetricMetadata"
          },
          "description": "The metric descriptions."
        },
        "dimensions": {
          "description": "The dimension descriptions.",
          "items": {
            "$ref": "DimensionMetadata"
          },
          "type": "array"
        },
        "name": {
          "description": "Resource name of this metadata.",
          "type": "string"
        }
      },
      "description": "The dimensions and metrics currently accepted in reporting methods.",
      "type": "object"
    },
    "DimensionExpression": {
      "description": "Used to express a dimension which is the result of a formula of multiple dimensions. Example usages: 1) lower_case(dimension) 2) concatenate(dimension1, symbol, dimension2).",
      "type": "object",
      "properties": {
        "concatenate": {
          "description": "Used to combine dimension values to a single dimension. For example, dimension \"country, city\": concatenate(country, \", \", city).",
          "$ref": "ConcatenateExpression"
        },
        "lowerCase": {
          "description": "Used to convert a dimension value to lower case.",
          "$ref": "CaseExpression"
        },
        "upperCase": {
          "$ref": "CaseExpression",
          "description": "Used to convert a dimension value to upper case."
        }
      },
      "id": "DimensionExpression"
    },
    "CohortSpec": {
      "properties": {
        "cohortReportSettings": {
          "$ref": "CohortReportSettings",
          "description": "Optional settings for a cohort report."
        },
        "cohortsRange": {
          "description": "Cohort reports follow cohorts over an extended reporting date range. This range specifies an offset duration to follow the cohorts over.",
          "$ref": "CohortsRange"
        },
        "cohorts": {
          "items": {
            "$ref": "Cohort"
          },
          "type": "array",
          "description": "Defines the selection criteria to group users into cohorts. Most cohort reports define only a single cohort. If multiple cohorts are specified, each cohort can be recognized in the report by their name."
        }
      },
      "id": "CohortSpec",
      "description": "The specification of cohorts for a cohort report. Cohort reports create a time series of user retention for the cohort. For example, you could select the cohort of users that were acquired in the first week of September and follow that cohort for the next six weeks. Selecting the users acquired in the first week of September cohort is specified in the `cohort` object. Following that cohort for the next six weeks is specified in the `cohortsRange` object. For examples, see [Cohort Report Examples](https://developers.google.com/analytics/devguides/reporting/data/v1/advanced#cohort_report_examples). The report response could show a weekly time series where say your app has retained 60% of this cohort after three weeks and 25% of this cohort after six weeks. These two percentages can be calculated by the metric `cohortActiveUsers/cohortTotalUsers` and will be separate rows in the report.",
      "type": "object"
    },
    "BetweenFilter": {
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "id": "BetweenFilter",
      "type": "object",
      "properties": {
        "fromValue": {
          "$ref": "NumericValue",
          "description": "Begins with this number."
        },
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "NumericValue"
        }
      }
    },
    "RunPivotReportRequest": {
      "properties": {
        "currencyCode": {
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the entity's default currency.",
          "type": "string"
        },
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter."
        },
        "cohortSpec": {
          "$ref": "CohortSpec",
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present."
        },
        "keepEmptyRows": {
          "type": "boolean",
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter."
        },
        "metrics": {
          "description": "The metrics requested, at least one metric needs to be specified. All defined metrics must be used by one of the following: metric_expression, metric_filter, order_bys.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "The dimensions requested. All defined dimensions must be used by one of the following: dimension_expression, dimension_filter, pivots, order_bys.",
          "type": "array"
        },
        "pivots": {
          "type": "array",
          "description": "Describes the visual format of the report's dimensions in columns or rows. The union of the fieldNames (dimension names) in all pivots must be a subset of dimension names defined in Dimensions. No two pivots can share a dimension. A dimension is only visible if it appears in a pivot.",
          "items": {
            "$ref": "Pivot"
          }
        },
        "dateRanges": {
          "type": "array",
          "items": {
            "$ref": "DateRange"
          },
          "description": "The date range to retrieve event data for the report. If multiple date ranges are specified, event data from each date range is used in the report. A special dimension with field name \"dateRange\" can be included in a Pivot's field names; if included, the report compares between date ranges. In a cohort request, this `dateRanges` must be unspecified."
        },
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity."
        },
        "metricFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter."
        },
        "returnPropertyQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota)."
        }
      },
      "id": "RunPivotReportRequest",
      "type": "object",
      "description": "The request to generate a pivot report."
    },
    "Dimension": {
      "description": "Dimensions are attributes of your data. For example, the dimension city indicates the city from which an event originates. Dimension values in report responses are strings; for example, city could be \"Paris\" or \"New York\". Requests are allowed up to 8 dimensions.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the dimension. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#dimensions) for the list of dimension names. If `dimensionExpression` is specified, `name` can be any string that you would like. For example if a `dimensionExpression` concatenates `country` and `city`, you could call that dimension `countryAndCity`. Dimensions are referenced by `name` in `dimensionFilter`, `orderBys`, `dimensionExpression`, and `pivots`.",
          "type": "string"
        },
        "dimensionExpression": {
          "$ref": "DimensionExpression",
          "description": "One dimension can be the result of an expression of multiple dimensions. For example, dimension \"country, city\": concatenate(country, \", \", city)."
        }
      },
      "id": "Dimension"
    },
    "RunRealtimeReportResponse": {
      "id": "RunRealtimeReportResponse",
      "properties": {
        "dimensionHeaders": {
          "type": "array",
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "DimensionHeader"
          }
        },
        "minimums": {
          "items": {
            "$ref": "Row"
          },
          "description": "If requested, the minimum values of metrics.",
          "type": "array"
        },
        "maximums": {
          "items": {
            "$ref": "Row"
          },
          "description": "If requested, the maximum values of metrics.",
          "type": "array"
        },
        "totals": {
          "description": "If requested, the totaled values of metrics.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "metricHeaders": {
          "items": {
            "$ref": "MetricHeader"
          },
          "type": "array",
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
        },
        "rowCount": {
          "description": "The total number of rows in the query result, regardless of the number of rows returned in the response. For example if a query returns 175 rows and includes limit = 50 in the API request, the response will contain row_count = 175 but only 50 rows.",
          "format": "int32",
          "type": "integer"
        },
        "propertyQuota": {
          "$ref": "PropertyQuota",
          "description": "This Analytics Property's Realtime quota state including this request."
        },
        "rows": {
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "description": "The response realtime report table corresponding to a request.",
      "type": "object"
    },
    "DimensionOrderBy": {
      "type": "object",
      "properties": {
        "orderType": {
          "description": "Controls the rule for dimension value ordering.",
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"X\" \u003c \"b\" \u003c \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"b\" \u003c \"X\" \u003c \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" \u003c \"100\", and in `ALPHANUMERIC` sort, \"100\" \u003c \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ],
          "type": "string"
        },
        "dimensionName": {
          "type": "string",
          "description": "A dimension name in the request to order by."
        }
      },
      "id": "DimensionOrderBy",
      "description": "Sorts by dimension values."
    },
    "NumericValue": {
      "type": "object",
      "properties": {
        "doubleValue": {
          "description": "Double value",
          "type": "number",
          "format": "double"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value"
        }
      },
      "description": "To represent a number.",
      "id": "NumericValue"
    },
    "DimensionMetadata": {
      "type": "object",
      "properties": {
        "customDefinition": {
          "description": "True if the dimension is a custom dimension for this property.",
          "type": "boolean"
        },
        "deprecatedApiNames": {
          "description": "Still usable but deprecated names for this dimension. If populated, this dimension is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the dimension will be available only by `apiName`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "Description of how this dimension is used and calculated.",
          "type": "string"
        },
        "uiName": {
          "type": "string",
          "description": "This dimension's name within the Google Analytics user interface. For example, `Event name`."
        },
        "apiName": {
          "description": "This dimension's name. Useable in [Dimension](#Dimension)'s `name`. For example, `eventName`.",
          "type": "string"
        }
      },
      "description": "Explains a dimension.",
      "id": "DimensionMetadata"
    },
    "FilterExpressionList": {
      "description": "A list of filter expressions.",
      "properties": {
        "expressions": {
          "items": {
            "$ref": "FilterExpression"
          },
          "description": "A list of filter expressions.",
          "type": "array"
        }
      },
      "id": "FilterExpressionList",
      "type": "object"
    },
    "RunReportResponse": {
      "type": "object",
      "properties": {
        "totals": {
          "type": "array",
          "description": "If requested, the totaled values of metrics.",
          "items": {
            "$ref": "Row"
          }
        },
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of rows in the query result, regardless of the number of rows returned in the response. For example if a query returns 175 rows and includes limit = 50 in the API request, the response will contain row_count = 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "metadata": {
          "description": "Metadata for the report.",
          "$ref": "ResponseMetaData"
        },
        "rows": {
          "description": "Rows of dimension value combinations and metric values in the report.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        },
        "metricHeaders": {
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "MetricHeader"
          },
          "type": "array"
        },
        "propertyQuota": {
          "description": "This Analytics Property's quota state including this request.",
          "$ref": "PropertyQuota"
        },
        "dimensionHeaders": {
          "items": {
            "$ref": "DimensionHeader"
          },
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "type": "array"
        },
        "minimums": {
          "description": "If requested, the minimum values of metrics.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "maximums": {
          "type": "array",
          "description": "If requested, the maximum values of metrics.",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "description": "The response report table corresponding to a request.",
      "id": "RunReportResponse"
    },
    "ResponseMetaData": {
      "properties": {
        "dataLossFromOtherRow": {
          "type": "boolean",
          "description": "If true, indicates some buckets of dimension combinations are rolled into \"(other)\" row. This can happen for high cardinality reports."
        }
      },
      "id": "ResponseMetaData",
      "type": "object",
      "description": "Response's metadata carrying additional information about the report content."
    },
    "PivotOrderBy": {
      "description": "Sorts by a pivot column group.",
      "type": "object",
      "properties": {
        "metricName": {
          "description": "In the response to order by, order rows by this column. Must be a metric name from the request.",
          "type": "string"
        },
        "pivotSelections": {
          "items": {
            "$ref": "PivotSelection"
          },
          "type": "array",
          "description": "Used to select a dimension name and value pivot. If multiple pivot selections are given, the sort occurs on rows where all pivot selection dimension name and value pairs match the row's dimension name and value pair."
        }
      },
      "id": "PivotOrderBy"
    },
    "Entity": {
      "type": "object",
      "properties": {
        "propertyId": {
          "description": "A Google Analytics GA4 property id. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id).",
          "type": "string"
        }
      },
      "id": "Entity",
      "description": "The unique identifier of the property whose events are tracked."
    },
    "RunPivotReportResponse": {
      "id": "RunPivotReportResponse",
      "description": "The response pivot report table corresponding to a pivot request.",
      "properties": {
        "metricHeaders": {
          "type": "array",
          "items": {
            "$ref": "MetricHeader"
          },
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
        },
        "pivotHeaders": {
          "items": {
            "$ref": "PivotHeader"
          },
          "description": "Summarizes the columns and rows created by a pivot. Each pivot in the request produces one header in the response. If we have a request like this: \"pivots\": [{ \"fieldNames\": [\"country\", \"city\"] }, { \"fieldNames\": \"eventName\" }] We will have the following `pivotHeaders` in the response: \"pivotHeaders\" : [{ \"dimensionHeaders\": [{ \"dimensionValues\": [ { \"value\": \"United Kingdom\" }, { \"value\": \"London\" } ] }, { \"dimensionValues\": [ { \"value\": \"Japan\" }, { \"value\": \"Osaka\" } ] }] }, { \"dimensionHeaders\": [{ \"dimensionValues\": [{ \"value\": \"session_start\" }] }, { \"dimensionValues\": [{ \"value\": \"scroll\" }] }] }]",
          "type": "array"
        },
        "metadata": {
          "$ref": "ResponseMetaData",
          "description": "Metadata for the report."
        },
        "propertyQuota": {
          "$ref": "PropertyQuota",
          "description": "This Analytics Property's quota state including this request."
        },
        "aggregates": {
          "items": {
            "$ref": "Row"
          },
          "description": "Aggregation of metric values. Can be totals, minimums, or maximums. The returned aggregations are controlled by the metric_aggregations in the pivot. The type of aggregation returned in each row is shown by the dimension_values which are set to \"RESERVED_\".",
          "type": "array"
        },
        "dimensionHeaders": {
          "items": {
            "$ref": "DimensionHeader"
          },
          "type": "array",
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CohortReportSettings": {
      "id": "CohortReportSettings",
      "description": "Optional settings of a cohort report.",
      "properties": {
        "accumulate": {
          "description": "If true, accumulates the result from first touch day to the end day. Not supported in `RunReportRequest`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ConcatenateExpression": {
      "properties": {
        "dimensionNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Names of dimensions. The names must refer back to names in the dimensions field of the request."
        },
        "delimiter": {
          "type": "string",
          "description": "The delimiter placed between dimension names. Delimiters are often single characters such as \"|\" or \",\" but can be longer strings. If a dimension value contains the delimiter, both will be present in response with no distinction. For example if dimension 1 value = \"US,FR\", dimension 2 value = \"JP\", and delimiter = \",\", then the response will contain \"US,FR,JP\"."
        }
      },
      "description": "Used to combine dimension values to a single dimension.",
      "id": "ConcatenateExpression",
      "type": "object"
    },
    "Filter": {
      "type": "object",
      "description": "An expression to filter dimension or metric values.",
      "properties": {
        "inListFilter": {
          "$ref": "InListFilter",
          "description": "A filter for in list values."
        },
        "stringFilter": {
          "description": "Strings related filter.",
          "$ref": "StringFilter"
        },
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "BetweenFilter"
        },
        "nullFilter": {
          "description": "A filter for null values. If True, a null dimension value is matched by this filter. Null filter is commonly used inside a NOT filter expression. For example, a NOT expression of a null filter removes rows when a dimension is null.",
          "type": "boolean"
        },
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name. Must be a name defined in dimensions or metrics."
        },
        "numericFilter": {
          "$ref": "NumericFilter",
          "description": "A filter for numeric or date values."
        }
      },
      "id": "Filter"
    },
    "InListFilter": {
      "description": "The result needs to be in a list of string values.",
      "properties": {
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty."
        }
      },
      "type": "object",
      "id": "InListFilter"
    },
    "PropertyQuota": {
      "id": "PropertyQuota",
      "type": "object",
      "description": "Current state of all quotas for this Analytics Property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "properties": {
        "tokensPerDay": {
          "description": "Standard Analytics Properties can use up to 25,000 tokens per day; Analytics 360 Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "QuotaStatus"
        },
        "tokensPerHour": {
          "$ref": "QuotaStatus",
          "description": "Standard Analytics Properties can use up to 5,000 tokens per day; Analytics 360 Properties can use 50,000 tokens per day. An API request consumes a single number of tokens, and that number is deducted from both the hourly and daily quotas."
        },
        "serverErrorsPerProjectPerHour": {
          "description": "Standard Analytics Properties and cloud project pairs can have up to 10 server errors per hour; Analytics 360 Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "QuotaStatus"
        },
        "concurrentRequests": {
          "description": "Standard Analytics Properties can send up to 10 concurrent requests; Analytics 360 Properties can use up to 50 concurrent requests.",
          "$ref": "QuotaStatus"
        }
      }
    },
    "MetricOrderBy": {
      "id": "MetricOrderBy",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "A metric name in the request to order by."
        }
      },
      "description": "Sorts by metric values.",
      "type": "object"
    },
    "MetricValue": {
      "type": "object",
      "description": "The value of a metric.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Measurement value. See MetricHeader for type."
        }
      },
      "id": "MetricValue"
    },
    "PivotSelection": {
      "id": "PivotSelection",
      "description": "A pair of dimension names and values. Rows with this dimension pivot pair are ordered by the metric's value. For example if pivots = {{\"browser\", \"Chrome\"}} and metric_name = \"Sessions\", then the rows will be sorted based on Sessions in Chrome. ---------|----------|----------------|----------|---------------- | Chrome | Chrome | Safari | Safari ---------|----------|----------------|----------|---------------- Country | Sessions | Pages/Sessions | Sessions | Pages/Sessions ---------|----------|----------------|----------|---------------- US | 2 | 2 | 3 | 1 ---------|----------|----------------|----------|---------------- Canada | 3 | 1 | 4 | 1 ---------|----------|----------------|----------|----------------",
      "properties": {
        "dimensionValue": {
          "type": "string",
          "description": "Order by only when the named dimension is this value."
        },
        "dimensionName": {
          "description": "Must be a dimension name from the request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Metric": {
      "description": "The quantitative measurements of a report. For example, the metric `eventCount` is the total number of events. Requests are allowed up to 10 metrics.",
      "properties": {
        "expression": {
          "description": "A mathematical expression for derived metrics. For example, the metric Event count per user is `eventCount/totalUsers`.",
          "type": "string"
        },
        "invisible": {
          "description": "Indicates if a metric is invisible in the report response. If a metric is invisible, the metric will not produce a column in the response, but can be used in `metricFilter`, `orderBys`, or a metric `expression`.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the metric. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of metric names. If `expression` is specified, `name` can be any string that you would like. For example if `expression` is `screenPageViews/sessions`, you could call that metric's name = `viewsPerSession`. Metrics are referenced by `name` in `metricFilter`, `orderBys`, and metric `expression`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Metric"
    },
    "Pivot": {
      "properties": {
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows to return in this pivot. If unspecified, 10 rows are returned. If -1, all rows are returned."
        },
        "metricAggregations": {
          "items": {
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ],
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Aggregate the metrics by dimensions in this pivot using the specified metric_aggregations."
        },
        "offset": {
          "format": "int64",
          "description": "The row count of the start row. The first row is counted as row 0.",
          "type": "string"
        },
        "fieldNames": {
          "description": "Dimension names for visible columns in the report response. Including \"dateRange\" produces a date range column; for each row in the response, dimension values in the date range column will indicate the corresponding date range from the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "orderBys": {
          "description": "Specifies how dimensions are ordered in the pivot. In the first Pivot, the OrderBys determine Row and PivotDimensionHeader ordering; in subsequent Pivots, the OrderBys determine only PivotDimensionHeader ordering. Dimensions specified in these OrderBys must be a subset of Pivot.field_names.",
          "items": {
            "$ref": "OrderBy"
          },
          "type": "array"
        }
      },
      "description": "Describes the visible dimension columns and rows in the report response.",
      "type": "object",
      "id": "Pivot"
    },
    "CohortsRange": {
      "type": "object",
      "description": "Configures the extended reporting date range for a cohort report. Specifies an offset duration to follow the cohorts over.",
      "id": "CohortsRange",
      "properties": {
        "granularity": {
          "type": "string",
          "enum": [
            "GRANULARITY_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "Should never be specified.",
            "Daily granularity. Commonly used if the cohort's `dateRange` is a single day and the request contains `cohortNthDay`.",
            "Weekly granularity. Commonly used if the cohort's `dateRange` is a week in duration (starting on Sunday and ending on Saturday) and the request contains `cohortNthWeek`.",
            "Monthly granularity. Commonly used if the cohort's `dateRange` is a month in duration and the request contains `cohortNthMonth`."
          ],
          "description": "Required. The granularity used to interpret the `startOffset` and `endOffset` for the extended reporting date range for a cohort report."
        },
        "endOffset": {
          "description": "Required. `endOffset` specifies the end date of the extended reporting date range for a cohort report. `endOffset` can be any positive integer but is commonly set to 5 to 10 so that reports contain data on the cohort for the next several granularity time periods. If `granularity` is `DAILY`, the `endDate` of the extended reporting date range is `endDate` of the cohort plus `endOffset` days. If `granularity` is `WEEKLY`, the `endDate` of the extended reporting date range is `endDate` of the cohort plus `endOffset * 7` days. If `granularity` is `MONTHLY`, the `endDate` of the extended reporting date range is `endDate` of the cohort plus `endOffset * 30` days.",
          "format": "int32",
          "type": "integer"
        },
        "startOffset": {
          "description": "`startOffset` specifies the start date of the extended reporting date range for a cohort report. `startOffset` is commonly set to 0 so that reports contain data from the acquisition of the cohort forward. If `granularity` is `DAILY`, the `startDate` of the extended reporting date range is `startDate` of the cohort plus `startOffset` days. If `granularity` is `WEEKLY`, the `startDate` of the extended reporting date range is `startDate` of the cohort plus `startOffset * 7` days. If `granularity` is `MONTHLY`, the `startDate` of the extended reporting date range is `startDate` of the cohort plus `startOffset * 30` days.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DimensionValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value as a string if the dimension type is a string."
        }
      },
      "description": "The value of a dimension.",
      "id": "DimensionValue",
      "type": "object"
    },
    "DimensionHeader": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The dimension's name.",
          "type": "string"
        }
      },
      "id": "DimensionHeader",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers."
    },
    "BatchRunReportsResponse": {
      "type": "object",
      "description": "The batch response containing multiple reports.",
      "properties": {
        "reports": {
          "description": "Individual responses. Each response has a separate report request.",
          "items": {
            "$ref": "RunReportResponse"
          },
          "type": "array"
        }
      },
      "id": "BatchRunReportsResponse"
    },
    "DateRange": {
      "id": "DateRange",
      "description": "A contiguous set of days: startDate, startDate + 1, ..., endDate. Requests are allowed up to 4 date ranges.",
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `start_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone."
        },
        "name": {
          "description": "Assigns a name to this date range. The dimension `dateRange` is valued to this name in a report response. If set, cannot begin with `date_range_` or `RESERVED_`. If not set, date ranges are named by their zero based index in the request: `date_range_0`, `date_range_1`, etc.",
          "type": "string"
        },
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `end_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone.",
          "type": "string"
        }
      }
    },
    "BatchRunReportsRequest": {
      "description": "The batch request containing multiple report requests.",
      "type": "object",
      "id": "BatchRunReportsRequest",
      "properties": {
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. This entity must be specified for the batch. The entity within RunReportRequest may either be unspecified or consistent with this entity."
        },
        "requests": {
          "description": "Individual requests. Each request has a separate report response. Each batch request is allowed up to 5 requests.",
          "type": "array",
          "items": {
            "$ref": "RunReportRequest"
          }
        }
      }
    },
    "PivotDimensionHeader": {
      "type": "object",
      "properties": {
        "dimensionValues": {
          "items": {
            "$ref": "DimensionValue"
          },
          "type": "array",
          "description": "Values of multiple dimensions in a pivot."
        }
      },
      "description": "Summarizes dimension values from a row for this pivot.",
      "id": "PivotDimensionHeader"
    },
    "BatchRunPivotReportsResponse": {
      "type": "object",
      "description": "The batch response containing multiple pivot reports.",
      "id": "BatchRunPivotReportsResponse",
      "properties": {
        "pivotReports": {
          "items": {
            "$ref": "RunPivotReportResponse"
          },
          "type": "array",
          "description": "Individual responses. Each response has a separate pivot report request."
        }
      }
    },
    "BatchRunPivotReportsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "RunPivotReportRequest"
          },
          "description": "Individual requests. Each request has a separate pivot report response. Each batch request is allowed up to 5 requests."
        },
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. This entity must be specified for the batch. The entity within RunPivotReportRequest may either be unspecified or consistent with this entity."
        }
      },
      "description": "The batch request containing multiple pivot report requests.",
      "id": "BatchRunPivotReportsRequest",
      "type": "object"
    },
    "OrderBy": {
      "description": "The sort options.",
      "id": "OrderBy",
      "properties": {
        "dimension": {
          "description": "Sorts results by a dimension's values.",
          "$ref": "DimensionOrderBy"
        },
        "pivot": {
          "$ref": "PivotOrderBy",
          "description": "Sorts results by a metric's values within a pivot column group."
        },
        "desc": {
          "description": "If true, sorts by descending order.",
          "type": "boolean"
        },
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "MetricOrderBy"
        }
      },
      "type": "object"
    },
    "PivotHeader": {
      "description": "Dimensions' values in a single pivot.",
      "properties": {
        "pivotDimensionHeaders": {
          "items": {
            "$ref": "PivotDimensionHeader"
          },
          "type": "array",
          "description": "The size is the same as the cardinality of the corresponding dimension combinations."
        },
        "rowCount": {
          "description": "The cardinality of the pivot as if offset = 0 and limit = -1. The total number of rows for this pivot's fields regardless of how the parameters offset and limit are specified in the request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "PivotHeader",
      "type": "object"
    },
    "RunReportRequest": {
      "description": "The request to generate a report.",
      "properties": {
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter."
        },
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "The row count of the start row. The first row is counted as row 0. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "limit": {
          "format": "int64",
          "description": "The number of rows to return. If unspecified, 10 rows are returned. If -1, all rows are returned. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        },
        "keepEmptyRows": {
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter.",
          "type": "boolean"
        },
        "dateRanges": {
          "type": "array",
          "description": "Date ranges of data to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the event data for the overlapping days is included in the response rows for both date ranges. In a cohort request, this `dateRanges` must be unspecified.",
          "items": {
            "$ref": "DateRange"
          }
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "The dimensions requested and displayed.",
          "type": "array"
        },
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity."
        },
        "currencyCode": {
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the entity's default currency.",
          "type": "string"
        },
        "orderBys": {
          "type": "array",
          "items": {
            "$ref": "OrderBy"
          },
          "description": "Specifies how rows are ordered in the response."
        },
        "metricAggregations": {
          "description": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\".",
          "type": "array",
          "items": {
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ]
          }
        },
        "returnPropertyQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota).",
          "type": "boolean"
        },
        "metricFilter": {
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "metrics": {
          "description": "The metrics requested and displayed.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "cohortSpec": {
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present.",
          "$ref": "CohortSpec"
        }
      },
      "id": "RunReportRequest",
      "type": "object"
    },
    "RunRealtimeReportRequest": {
      "type": "object",
      "id": "RunRealtimeReportRequest",
      "properties": {
        "metricFilter": {
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "dimensionFilter": {
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "metrics": {
          "description": "The metrics requested and displayed.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "orderBys": {
          "items": {
            "$ref": "OrderBy"
          },
          "type": "array",
          "description": "Specifies how rows are ordered in the response."
        },
        "returnPropertyQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's Realtime quota. Quota is returned in [PropertyQuota](#PropertyQuota).",
          "type": "boolean"
        },
        "metricAggregations": {
          "description": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\".",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ],
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ]
          },
          "type": "array"
        },
        "dimensions": {
          "description": "The dimensions requested and displayed.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "limit": {
          "description": "The number of rows to return. If unspecified, 10 rows are returned. If -1, all rows are returned.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The request to generate a realtime report."
    },
    "Cohort": {
      "type": "object",
      "id": "Cohort",
      "properties": {
        "dimension": {
          "type": "string",
          "description": "Dimension used by the cohort. Required and only supports `firstTouchDate`."
        },
        "dateRange": {
          "description": "The cohort selects users whose first touch date is between start date and end date defined in the `dateRange`. This `dateRange` does not specify the full date range of event data that is present in a cohort report. In a cohort report, this `dateRange` is extended by the granularity and offset present in the `cohortsRange`; event data for the extended reporting date range is present in a cohort report. In a cohort request, this `dateRange` is required and the `dateRanges` in the `RunReportRequest` or `RunPivotReportRequest` must be unspecified. This `dateRange` should generally be aligned with the cohort's granularity. If `CohortsRange` uses daily granularity, this `dateRange` can be a single day. If `CohortsRange` uses weekly granularity, this `dateRange` can be aligned to a week boundary, starting at Sunday and ending Saturday. If `CohortsRange` uses monthly granularity, this `dateRange` can be aligned to a month, starting at the first and ending on the last day of the month.",
          "$ref": "DateRange"
        },
        "name": {
          "type": "string",
          "description": "Assigns a name to this cohort. The dimension `cohort` is valued to this name in a report response. If set, cannot begin with `cohort_` or `RESERVED_`. If not set, cohorts are named by their zero based index `cohort_0`, `cohort_1`, etc."
        }
      },
      "description": "Defines a cohort selection criteria. A cohort is a group of users who share a common characteristic. For example, users with the same `firstTouchDate` belong to the same cohort."
    },
    "NumericFilter": {
      "id": "NumericFilter",
      "properties": {
        "value": {
          "$ref": "NumericValue",
          "description": "A numeric value or a date value."
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "type": "string",
          "description": "The operation type for this filter.",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ]
        }
      },
      "description": "Filters for numeric or date values.",
      "type": "object"
    },
    "StringFilter": {
      "type": "object",
      "properties": {
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        },
        "matchType": {
          "description": "The match type for this filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ]
        }
      },
      "description": "The filter for string",
      "id": "StringFilter"
    },
    "CaseExpression": {
      "id": "CaseExpression",
      "properties": {
        "dimensionName": {
          "description": "Name of a dimension. The name must refer back to a name in dimensions field of the request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Used to convert a dimension value to a single case."
    },
    "FilterExpression": {
      "description": "To express dimension or metric filters. The fields in the same FilterExpression need to be either all dimensions or all metrics.",
      "type": "object",
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "A primitive filter. All fields in filter in same FilterExpression needs to be either all dimensions or metrics."
        },
        "andGroup": {
          "description": "The FilterExpressions in and_group have an AND relationship.",
          "$ref": "FilterExpressionList"
        },
        "orGroup": {
          "description": "The FilterExpressions in or_group have an OR relationship.",
          "$ref": "FilterExpressionList"
        },
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "FilterExpression"
        }
      },
      "id": "FilterExpression"
    },
    "QuotaStatus": {
      "id": "QuotaStatus",
      "properties": {
        "consumed": {
          "format": "int32",
          "description": "Quota consumed by this request.",
          "type": "integer"
        },
        "remaining": {
          "description": "Quota remaining after this request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Current state for a particular quota group."
    },
    "Row": {
      "description": "Report data for each row. For example if RunReportRequest contains: ```none \"dimensions\": [ { \"name\": \"eventName\" }, { \"name\": \"countryId\" } ], \"metrics\": [ { \"name\": \"eventCount\" } ] ``` One row with 'in_app_purchase' as the eventName, 'JP' as the countryId, and 15 as the eventCount, would be: ```none \"dimensionValues\": [ { \"value\": \"in_app_purchase\" }, { \"value\": \"JP\" } ], \"metricValues\": [ { \"value\": \"15\" } ] ```",
      "properties": {
        "dimensionValues": {
          "type": "array",
          "description": "List of requested dimension values. In a PivotReport, dimension_values are only listed for dimensions included in a pivot.",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "metricValues": {
          "description": "List of requested visible metric values.",
          "type": "array",
          "items": {
            "$ref": "MetricValue"
          }
        }
      },
      "type": "object",
      "id": "Row"
    }
  },
  "documentationLink": "https://developers.google.com/analytics/devguides/reporting/data/v1/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "canonicalName": "AnalyticsData",
  "servicePath": "",
  "batchPath": "batch"
}
