{
  "ownerName": "Google",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "discoveryVersion": "v1",
  "title": "Google Analytics Admin API",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "version_module": true,
  "basePath": "",
  "name": "analyticsadmin",
  "servicePath": "",
  "revision": "20210120",
  "id": "analyticsadmin:v1alpha",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for this GlobalSiteTag resource. Format: properties/{propertyId}/globalSiteTag",
          "type": "string"
        },
        "snippet": {
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure.",
          "type": "string"
        }
      },
      "description": "Read-only resource with the tag for sending data from a website to a WebDataStream.",
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          },
          "type": "array",
          "description": "List of GoogleAdsLinks."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListUserLinksResponse": {
      "type": "object",
      "description": "Response message for ListUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListUserLinksResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "List of UserLinks. These will be ordered stably, but in an arbitrary order."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListPropertiesResponse": {
      "description": "Response message for ListProperties RPC.",
      "properties": {
        "properties": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListPropertiesResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "properties": {
        "sharingWithOthersEnabled": {
          "description": "Allows Google to share the data anonymously in aggregate form with others.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "type": "boolean",
          "description": "Allows Google to use the data to improve other Google products or services."
        },
        "sharingWithGoogleSupportEnabled": {
          "type": "boolean",
          "description": "Allows Google support to access the data in order to help troubleshoot issues."
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "type": "boolean",
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary",
      "properties": {
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for the property referred to in this account summary.",
          "type": "string"
        }
      },
      "description": "A virtual resource representing metadata for an GA4 property."
    },
    "GoogleAnalyticsAdminV1alphaAndroidAppDataStream": {
      "description": "A resource message representing a Google Analytics Android app stream.",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this stream was originally created."
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/1000/androidAppDataStreams/2000\"",
          "type": "string"
        },
        "packageName": {
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest"
          },
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.",
          "type": "array"
        }
      },
      "description": "Request message for BatchUpdateUserLinks RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "description": "Request message for ListAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse": {
      "properties": {
        "userLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "The requested user links.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for BatchGetUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaIosAppDataStream": {
      "id": "GoogleAnalyticsAdminV1alphaIosAppDataStream",
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated."
        },
        "name": {
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/1000/iosAppDataStreams/2000\"",
          "type": "string",
          "readOnly": true
        },
        "bundleId": {
          "type": "string",
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\""
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this stream was originally created."
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource message representing a Google Analytics IOS app stream."
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountSummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to."
        }
      },
      "description": "Response message for ListAccountSummaries RPC."
    },
    "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest": {
      "type": "object",
      "description": "Request message for DeleteUserLink RPC.",
      "properties": {
        "name": {
          "description": "Required. Example format: accounts/1234/userLinks/5678",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings",
      "description": "Singleton resource under a WebDataStream, configuring measurement of additional site interactions and content.",
      "properties": {
        "scrollsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page."
        },
        "outboundClicksEnabled": {
          "type": "boolean",
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain."
        },
        "streamEnabled": {
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected.",
          "type": "boolean"
        },
        "pageLoadsEnabled": {
          "type": "boolean",
          "description": "Output only. If enabled, capture a page view event each time a page loads.",
          "readOnly": true
        },
        "uriQueryParameter": {
          "description": "Additional URL query parameters. Max length is 1024 characters.",
          "type": "string"
        },
        "siteSearchEnabled": {
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter).",
          "type": "boolean"
        },
        "searchQueryParameter": {
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty.",
          "type": "string"
        },
        "fileDownloadsEnabled": {
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.",
          "type": "boolean"
        },
        "pageChangesEnabled": {
          "description": "If enabled, capture a page view event each time the website changes the browser history state.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\""
        },
        "videoEngagementEnabled": {
          "type": "boolean",
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site."
        },
        "pageViewsEnabled": {
          "description": "Output only. If enabled, capture a page view event each time a page loads or the website changes the browser history state.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "properties": {
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        },
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Developers Console as a Redirect URI"
        }
      },
      "type": "object",
      "description": "Request message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
    },
    "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest": {
      "description": "Request message for CreateUserLink RPC. Users can have multiple email addresses associated with their Google account, and one of these email addresses is the \"primary\" email address. Any of the email addresses associated with a Google account may be used for a new UserLink, but the returned UserLink will always contain the \"primary\" email address. As a result, the input and output email address for this request may differ.",
      "id": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest",
      "type": "object",
      "properties": {
        "userLink": {
          "description": "Required. The user link to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
        },
        "parent": {
          "description": "Required. Example format: accounts/1234",
          "type": "string"
        },
        "notifyNewUser": {
          "type": "boolean",
          "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "properties": {
        "deleted": {
          "description": "Output only. Indicates whether this Property is soft-deleted or not. Deleted properties are excluded from List results unless specifically requested.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when entity payload fields were last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "timeZone": {
          "description": "Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the entity was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account} Example: \"accounts/100\""
        },
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        }
      },
      "description": "A resource message representing a Google Analytics GA4 property.",
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        },
        "name": {
          "type": "string",
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        },
        "account": {
          "type": "string",
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
        },
        "propertySummaries": {
          "description": "List of summaries for child accounts of this account.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          }
        }
      },
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties.",
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest": {
      "type": "object",
      "properties": {
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 1000 user links will be returned. The maximum value is 5000; values above 5000 will be coerced to 5000."
        },
        "pageToken": {
          "description": "A page token, received from a previous `AuditUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `AuditUserLinks` must match the call that provided the page token.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest",
      "description": "Request message for AuditUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse": {
      "type": "object",
      "description": "Request message for ListWebDataStreams RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse",
      "properties": {
        "webDataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "properties": {
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "canManageClients": {
          "type": "boolean",
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when this link was originally created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string",
          "readOnly": true
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update it will be defaulted to true.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Time when this link was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A link between an GA4 property and a Google Ads account."
    },
    "GoogleAnalyticsAdminV1alphaWebDataStream": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaWebDataStream",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this stream was originally created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/1000/webDataStreams/2000\"",
          "readOnly": true,
          "type": "string"
        },
        "measurementId": {
          "description": "Output only. Analytics \"Measurement ID\", without the \"G-\" prefix. Example: \"G-1A2BCD345E\" would just be \"1A2BCD345E\"",
          "readOnly": true,
          "type": "string"
        },
        "defaultUri": {
          "description": "Immutable. Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for the Data Stream. The max allowed display name length is 100 UTF-16 code units."
        },
        "firebaseAppId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A resource message representing a Google Analytics web stream."
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "description": "A resource message representing a Google Analytics account.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Time when account payload fields were last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when this account was originally created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "regionCode": {
          "type": "string",
          "description": "Country of business. Must be a Unicode CLDR region code."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccount"
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "type": "object",
      "description": "A link between an GA4 property and a Firebase project.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Example format: properties/1234/firebaseLinks/5678",
          "type": "string"
        },
        "maximumUserAccess": {
          "enumDescriptions": [
            "Unspecified maximum user access.",
            "Firebase users have no access to the Analytics property.",
            "Firebase users have Read & Analyze access to the Analytics property.",
            "Firebase users have edit access to the Analytics property, but may not manage the Firebase link.",
            "Firebase users have edit access to the Analytics property and may manage the Firebase link."
          ],
          "description": "Maximum user access to the GA4 property allowed to admins of the linked Firebase project.",
          "enum": [
            "MAXIMUM_USER_ACCESS_UNSPECIFIED",
            "NO_ACCESS",
            "READ_AND_ANALYZE",
            "EDITOR_WITHOUT_LINK_MANAGEMENT",
            "EDITOR_INCLUDING_LINK_MANAGEMENT"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink"
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests specifying the user links to create. A maximum of 1000 user links can be created in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest"
          }
        },
        "notifyNewUsers": {
          "description": "Optional. If set, then email the new users notifying them that they've been granted permissions to the resource. Regardless of whether this is set or not, notify_new_user field inside each individual request is ignored.",
          "type": "boolean"
        }
      },
      "description": "Request message for BatchCreateUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaUserLink": {
      "type": "object",
      "properties": {
        "directRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Roles directly assigned to this user for this account or property. Valid values: predefinedRoles/read predefinedRoles/collaborate predefinedRoles/edit predefinedRoles/manage-users Excludes roles that are inherited from a higher-level entity, group, or organization admin role. A UserLink that is updated to have an empty list of direct_roles will be deleted."
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user to link"
        },
        "name": {
          "description": "Example format: properties/1234/userLinks/5678",
          "type": "string"
        }
      },
      "description": "A resource message representing a user's permissions on an Account or Property resource.",
      "id": "GoogleAnalyticsAdminV1alphaUserLink"
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
          },
          "type": "array",
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch."
        }
      },
      "description": "Request message for BatchDeleteUserLinks RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse",
      "description": "Response message for BatchUpdateUserLinks RPC.",
      "type": "object",
      "properties": {
        "userLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "The user links updated.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse": {
      "type": "object",
      "description": "Response message for BatchCreateUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse",
      "properties": {
        "userLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "The user links created."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "description": "Response message for ListFirebaseLinks RPC",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        },
        "firebaseLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          },
          "type": "array",
          "description": "List of FirebaseLinks. This will have at most one value."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "properties": {
        "accountTicketId": {
          "description": "The param to be passed in the ToS link.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userLinks": {
          "type": "array",
          "description": "List of AuditUserLinks. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLink"
          }
        }
      },
      "description": "Response message for AuditUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse": {
      "type": "object",
      "properties": {
        "iosAppDataStreams": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Request message for ListIosAppDataStreams RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLink": {
      "type": "object",
      "description": "Read-only resource used to summarize a principal's effective roles.",
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLink",
      "properties": {
        "effectiveRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Union of all permissions a user has at this account or property (includes direct permissions, group-inherited permissions, etc.). Format: predefinedRoles/read"
        },
        "name": {
          "description": "Example format: properties/1234/userLinks/5678",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the linked user"
        },
        "directRoles": {
          "items": {
            "type": "string"
          },
          "description": "Roles directly assigned to this user for this entity. Format: predefinedRoles/read Excludes roles that are inherited from an account (if this is for a property), group, or organization admin role.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest": {
      "id": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest",
      "properties": {
        "userLink": {
          "description": "Required. The user link to update.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
        }
      },
      "type": "object",
      "description": "Request message for UpdateUserLink RPC."
    },
    "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "androidAppDataStreams": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse",
      "description": "Request message for ListAndroidDataStreams RPC."
    }
  },
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "resources": {
    "accounts": {
      "methods": {
        "provisionAccountTicket": {
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          },
          "flatPath": "v1alpha/accounts:provisionAccountTicket",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
          },
          "description": "Requests a ticket for creating an account.",
          "httpMethod": "POST",
          "path": "v1alpha/accounts:provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "getDataSharingSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
          },
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "parameterOrder": [
            "name"
          ],
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "flatPath": "v1alpha/accounts/{accountsId}/dataSharingSettings",
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "delete": {
          "flatPath": "v1alpha/accounts/{accountsId}",
          "httpMethod": "DELETE",
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "id": "analyticsadmin.accounts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+$"
            }
          }
        },
        "list": {
          "path": "v1alpha/accounts",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "type": "boolean"
            }
          },
          "flatPath": "v1alpha/accounts",
          "httpMethod": "GET",
          "id": "analyticsadmin.accounts.list",
          "parameterOrder": []
        },
        "patch": {
          "parameters": {
            "name": {
              "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "flatPath": "v1alpha/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "httpMethod": "PATCH",
          "path": "v1alpha/{+name}",
          "description": "Updates an account.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "id": "analyticsadmin.accounts.patch"
        },
        "get": {
          "id": "analyticsadmin.accounts.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "description": "Lookup for a single Account.",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "parameters": {
            "name": {
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      },
      "resources": {
        "userLinks": {
          "methods": {
            "batchUpdate": {
              "id": "analyticsadmin.accounts.userLinks.batchUpdate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The account or property that all user links in the request are for. The parent field in the UpdateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchUpdate",
              "path": "v1alpha/{+parent}/userLinks:batchUpdate",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Updates information about multiple users' links to an account or property.",
              "httpMethod": "POST"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 200 user links will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLinks` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Example format: accounts/1234",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1alpha/{+parent}/userLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListUserLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists all user links on an account or property.",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks",
              "id": "analyticsadmin.accounts.userLinks.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates a user link on an account or property. If the user with the specified email already has permissions on the account or property, then the user's existing permissions will be unioned with the permissions specified in the new UserLink.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.accounts.userLinks.create",
              "parameters": {
                "notifyNewUser": {
                  "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: accounts/1234"
                }
              },
              "path": "v1alpha/{+parent}/userLinks"
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "analyticsadmin.accounts.userLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes a user link on an account or property.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "required": true,
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "audit": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: accounts/1234",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:audit",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all user links on an account or property, including implicit ones that come from effective permissions granted by groups or organization admin roles. If a returned user link does not have direct permissions, they cannot be removed from the account or property directly with the DeleteUserLink command. They have to be removed from the group/etc that gives them permissions, which is currently only usable/discoverable in the GA or GMP UIs.",
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/userLinks:audit",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
              },
              "id": "analyticsadmin.accounts.userLinks.audit"
            },
            "batchGet": {
              "description": "Gets information about multiple users' links to an account or property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
              },
              "httpMethod": "GET",
              "id": "analyticsadmin.accounts.userLinks.batchGet",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/userLinks:batchGet",
              "parameters": {
                "names": {
                  "type": "string",
                  "repeated": true,
                  "description": "Required. The names of the user links to retrieve. A maximum of 1000 user links can be retrieved in a batch. Format: accounts/{accountId}/userLinks/{userLinkId}",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The account or property that all user links in the request are for. The parent of all provided values for the 'names' field must match this field. Example format: accounts/1234",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              }
            },
            "batchDelete": {
              "path": "v1alpha/{+parent}/userLinks:batchDelete",
              "id": "analyticsadmin.accounts.userLinks.batchDelete",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The account or property that all user links in the request are for. The parent of all values for user link names to delete must match this field. Example format: accounts/1234",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
              },
              "description": "Deletes information about multiple users' links to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchDelete"
            },
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
              },
              "id": "analyticsadmin.accounts.userLinks.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+parent}/userLinks:batchCreate",
              "description": "Creates information about multiple users' links to an account or property. This method is transactional. If any UserLink cannot be created, none of the UserLinks will be created.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that all user links in the request are for. This field is required. The parent field in the CreateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchCreate"
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "id": "analyticsadmin.accounts.userLinks.get",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$",
                  "description": "Required. Example format: accounts/1234/userLinks/5678"
                }
              },
              "path": "v1alpha/{+name}",
              "description": "Gets information about a user's link to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$",
                  "required": true,
                  "description": "Example format: properties/1234/userLinks/5678"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "description": "Updates a user link on an account or property.",
              "id": "analyticsadmin.accounts.userLinks.patch",
              "path": "v1alpha/{+name}"
            }
          }
        }
      }
    },
    "properties": {
      "resources": {
        "androidAppDataStreams": {
          "methods": {
            "get": {
              "description": "Lookup for a single AndroidAppDataStream",
              "parameters": {
                "name": {
                  "description": "Required. The name of the android app data stream to lookup. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/123/androidAppDataStreams/456\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/androidAppDataStreams/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams/{androidAppDataStreamsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "id": "analyticsadmin.properties.androidAppDataStreams.get",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.androidAppDataStreams.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "httpMethod": "POST",
              "description": "Creates an Android app stream with the specified location and attributes. Note that an Android app stream must be linked to a Firebase app to receive traffic. To create a working app stream, make sure your property is linked to a Firebase project. Then, use the Firebase API to create a Firebase app, which will also create an appropriate data stream in Analytics (may take up to 24 hours).",
              "path": "v1alpha/{+parent}/androidAppDataStreams",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this android app data stream will be created. Format: properties/123",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "patch": {
              "id": "analyticsadmin.properties.androidAppDataStreams.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/1000/androidAppDataStreams/2000\"",
                  "required": true,
                  "pattern": "^properties/[^/]+/androidAppDataStreams/[^/]+$"
                }
              },
              "description": "Updates an android app stream on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams/{androidAppDataStreamsId}",
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an android app stream on a property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the android app data stream to delete. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/123/androidAppDataStreams/456\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/androidAppDataStreams/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams/{androidAppDataStreamsId}",
              "id": "analyticsadmin.properties.androidAppDataStreams.delete"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+parent}/androidAppDataStreams",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.androidAppDataStreams.list",
              "description": "Returns child android app streams under the specified parent property. Android app streams will be excluded if the caller does not have access. Returns an empty list if no relevant android app streams are found.",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAndroidAppDataStreams` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The name of the parent property. For example, to limit results to app streams under the property with Id 123: \"properties/123\"",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams",
              "httpMethod": "GET"
            }
          }
        },
        "firebaseLinks": {
          "methods": {
            "list": {
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks",
              "path": "v1alpha/{+parent}/firebaseLinks",
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks",
              "path": "v1alpha/{+parent}/firebaseLinks",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a FirebaseLink on a property",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: properties/1234/firebaseLinks/5678"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.delete"
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. Example format: properties/1234/firebaseLinks/5678",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "id": "analyticsadmin.properties.firebaseLinks.patch",
              "description": "Updates a FirebaseLink on a property",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "type": "string",
                  "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID."
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "description": "Updates a GoogleAdsLink on a property",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH"
            },
            "delete": {
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678",
                  "location": "path",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.googleAdsLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a GoogleAdsLink on a property",
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "httpMethod": "DELETE"
            },
            "create": {
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "path": "v1alpha/{+parent}/googleAdsLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "description": "Creates a GoogleAdsLink.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$"
                }
              }
            },
            "list": {
              "description": "Lists GoogleAdsLinks on a property.",
              "path": "v1alpha/{+parent}/googleAdsLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse"
              },
              "id": "analyticsadmin.properties.googleAdsLinks.list"
            }
          }
        },
        "userLinks": {
          "methods": {
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. The account or property that all user links in the request are for. This field is required. The parent field in the CreateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates information about multiple users' links to an account or property. This method is transactional. If any UserLink cannot be created, none of the UserLinks will be created.",
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/userLinks:batchCreate",
              "id": "analyticsadmin.properties.userLinks.batchCreate",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
              }
            },
            "delete": {
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.userLinks.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "description": "Required. Example format: accounts/1234/userLinks/5678"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "description": "Deletes a user link on an account or property.",
              "httpMethod": "DELETE"
            },
            "patch": {
              "description": "Updates a user link on an account or property.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Example format: properties/1234/userLinks/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "id": "analyticsadmin.properties.userLinks.patch"
            },
            "batchDelete": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The account or property that all user links in the request are for. The parent of all values for user link names to delete must match this field. Example format: accounts/1234",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "path": "v1alpha/{+parent}/userLinks:batchDelete",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchDelete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes information about multiple users' links to an account or property.",
              "id": "analyticsadmin.properties.userLinks.batchDelete"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "v1alpha/{+parent}/userLinks",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Example format: accounts/1234"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 200 user links will be returned. The maximum value is 500; values above 500 will be coerced to 500."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists all user links on an account or property.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListUserLinksResponse"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks",
              "id": "analyticsadmin.properties.userLinks.list"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "location": "path",
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "required": true
                }
              },
              "description": "Gets information about a user's link to an account or property.",
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.userLinks.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "path": "v1alpha/{+name}"
            },
            "batchGet": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/userLinks:batchGet",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchGet",
              "description": "Gets information about multiple users' links to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The account or property that all user links in the request are for. The parent of all provided values for the 'names' field must match this field. Example format: accounts/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                },
                "names": {
                  "repeated": true,
                  "description": "Required. The names of the user links to retrieve. A maximum of 1000 user links can be retrieved in a batch. Format: accounts/{accountId}/userLinks/{userLinkId}",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.userLinks.batchGet"
            },
            "audit": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
              },
              "path": "v1alpha/{+parent}/userLinks:audit",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:audit",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists all user links on an account or property, including implicit ones that come from effective permissions granted by groups or organization admin roles. If a returned user link does not have direct permissions, they cannot be removed from the account or property directly with the DeleteUserLink command. They have to be removed from the group/etc that gives them permissions, which is currently only usable/discoverable in the GA or GMP UIs.",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Example format: accounts/1234",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.userLinks.audit"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analyticsadmin.properties.userLinks.create",
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/userLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "description": "Creates a user link on an account or property. If the user with the specified email already has permissions on the account or property, then the user's existing permissions will be unioned with the permissions specified in the new UserLink.",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: accounts/1234",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "notifyNewUser": {
                  "type": "boolean",
                  "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
                  "location": "query"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks"
            },
            "batchUpdate": {
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchUpdate",
              "httpMethod": "POST",
              "description": "Updates information about multiple users' links to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
              },
              "path": "v1alpha/{+parent}/userLinks:batchUpdate",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.userLinks.batchUpdate",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The account or property that all user links in the request are for. The parent field in the UpdateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "iosAppDataStreams": {
          "methods": {
            "patch": {
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an iOS app stream on a property.",
              "id": "analyticsadmin.properties.iosAppDataStreams.patch",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$",
                  "type": "string",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/1000/iosAppDataStreams/2000\"",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              }
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListIosAppDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIosAppDataStreams` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. The name of the parent property. For example, to list results of app streams under the property with Id 123: \"properties/123\"",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer"
                }
              },
              "path": "v1alpha/{+parent}/iosAppDataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse"
              },
              "id": "analyticsadmin.properties.iosAppDataStreams.list",
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams",
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns child iOS app data streams under the specified parent property. iOS app data streams will be excluded if the caller does not have access. Returns an empty list if no relevant iOS app data streams are found.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "get": {
              "id": "analyticsadmin.properties.iosAppDataStreams.get",
              "description": "Lookup for a single IosAppDataStream",
              "httpMethod": "GET",
[...]
