{
  "discoveryVersion": "v1",
  "canonicalName": "Google Analytics Admin",
  "ownerDomain": "google.com",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "name": "analyticsadmin",
  "ownerName": "Google",
  "resources": {
    "properties": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}",
          "httpMethod": "PATCH",
          "id": "analyticsadmin.properties.patch",
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Updates a property.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListPropertiesResponse"
          },
          "parameters": {
            "filter": {
              "type": "string",
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. |",
              "location": "query"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "analyticsadmin.properties.list",
          "path": "v1alpha/properties",
          "parameterOrder": [],
          "flatPath": "v1alpha/properties",
          "description": "Returns child Properties under the specified parent Account. Only \"GA4\" properties will be returned. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found."
        },
        "delete": {
          "id": "analyticsadmin.properties.delete",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v1alpha/properties/{propertiesId}",
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found, or is not an GA4 Property.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "required": true
            }
          },
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE"
        },
        "create": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/properties",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "id": "analyticsadmin.properties.create",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "flatPath": "v1alpha/properties",
          "parameters": {},
          "description": "Creates an \"GA4\" property with the specified location and attributes.",
          "parameterOrder": []
        },
        "get": {
          "flatPath": "v1alpha/properties/{propertiesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.get",
          "description": "Lookup for a single \"GA4\" Property.",
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        }
      },
      "resources": {
        "userLinks": {
          "methods": {
            "batchUpdate": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The account or property that all user links in the request are for. The parent field in the UpdateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchUpdate",
              "description": "Updates information about multiple users' links to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+parent}/userLinks:batchUpdate",
              "id": "analyticsadmin.properties.userLinks.batchUpdate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "id": "analyticsadmin.properties.userLinks.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "required": true,
                  "description": "Required. Example format: accounts/1234/userLinks/5678"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "description": "Gets information about a user's link to an account or property.",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              }
            },
            "create": {
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks",
              "description": "Creates a user link on an account or property. If the user with the specified email already has permissions on the account or property, then the user's existing permissions will be unioned with the permissions specified in the new UserLink.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Example format: accounts/1234",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                },
                "notifyNewUser": {
                  "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+parent}/userLinks",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.userLinks.create",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              }
            },
            "batchCreate": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "description": "Required. The account or property that all user links in the request are for. This field is required. The parent field in the CreateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchCreate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/userLinks:batchCreate",
              "id": "analyticsadmin.properties.userLinks.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates information about multiple users' links to an account or property. This method is transactional. If any UserLink cannot be created, none of the UserLinks will be created.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all user links on an account or property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListUserLinksResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Example format: accounts/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 200 user links will be returned. The maximum value is 500; values above 500 will be coerced to 500."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks",
              "id": "analyticsadmin.properties.userLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "v1alpha/{+parent}/userLinks",
              "httpMethod": "GET"
            },
            "batchDelete": {
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.userLinks.batchDelete",
              "path": "v1alpha/{+parent}/userLinks:batchDelete",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchDelete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes information about multiple users' links to an account or property.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that all user links in the request are for. The parent of all values for user link names to delete must match this field. Example format: accounts/1234",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analyticsadmin.properties.userLinks.patch",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "description": "Updates a user link on an account or property.",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "parameters": {
                "name": {
                  "description": "Example format: properties/1234/userLinks/5678",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "location": "path"
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.userLinks.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a user link on an account or property.",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}"
            },
            "audit": {
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:audit",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "description": "Required. Example format: accounts/1234",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all user links on an account or property, including implicit ones that come from effective permissions granted by groups or organization admin roles. If a returned user link does not have direct permissions, they cannot be removed from the account or property directly with the DeleteUserLink command. They have to be removed from the group/etc that gives them permissions, which is currently only usable/discoverable in the GA or GMP UIs.",
              "path": "v1alpha/{+parent}/userLinks:audit",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
              },
              "id": "analyticsadmin.properties.userLinks.audit"
            },
            "batchGet": {
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchGet",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
              },
              "path": "v1alpha/{+parent}/userLinks:batchGet",
              "parameters": {
                "names": {
                  "location": "query",
                  "repeated": true,
                  "description": "Required. The names of the user links to retrieve. A maximum of 1000 user links can be retrieved in a batch. Format: accounts/{accountId}/userLinks/{userLinkId}",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The account or property that all user links in the request are for. The parent of all provided values for the 'names' field must match this field. Example format: accounts/1234",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "id": "analyticsadmin.properties.userLinks.batchGet",
              "description": "Gets information about multiple users' links to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            }
          }
        },
        "iosAppDataStreams": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/1000/iosAppDataStreams/2000\"",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "id": "analyticsadmin.properties.iosAppDataStreams.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "description": "Updates an iOS app stream on a property.",
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}"
            },
            "delete": {
              "description": "Deletes an iOS app stream on a property.",
              "id": "analyticsadmin.properties.iosAppDataStreams.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the iOS app data stream to delete. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/123/iosAppDataStreams/456\""
                }
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse"
              },
              "id": "analyticsadmin.properties.iosAppDataStreams.list",
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams",
              "httpMethod": "GET",
              "description": "Returns child iOS app data streams under the specified parent property. iOS app data streams will be excluded if the caller does not have access. Returns an empty list if no relevant iOS app data streams are found.",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the parent property. For example, to list results of app streams under the property with Id 123: \"properties/123\"",
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListIosAppDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIosAppDataStreams` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                }
              },
              "path": "v1alpha/{+parent}/iosAppDataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$",
                  "description": "Required. The name of the iOS app data stream to lookup. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/123/iosAppDataStreams/456\""
                }
              },
              "id": "analyticsadmin.properties.iosAppDataStreams.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "description": "Lookup for a single IosAppDataStream",
              "path": "v1alpha/{+name}"
            },
            "create": {
              "id": "analyticsadmin.properties.iosAppDataStreams.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/iosAppDataStreams",
              "description": "Creates an iOS app data stream with the specified location and attributes.",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The parent resource where this ios app data stream will be created. Format: properties/123",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "create": {
              "description": "Creates a GoogleAdsLink.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/googleAdsLinks",
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a GoogleAdsLink on a property",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678",
                  "location": "path",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "id": "analyticsadmin.properties.googleAdsLinks.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "DELETE"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/googleAdsLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse"
              },
              "id": "analyticsadmin.properties.googleAdsLinks.list",
              "description": "Lists GoogleAdsLinks on a property.",
              "httpMethod": "GET"
            },
            "patch": {
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "description": "Updates a GoogleAdsLink on a property",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              }
            }
          }
        },
        "androidAppDataStreams": {
          "methods": {
            "list": {
              "path": "v1alpha/{+parent}/androidAppDataStreams",
              "description": "Returns child android app streams under the specified parent property. Android app streams will be excluded if the caller does not have access. Returns an empty list if no relevant android app streams are found.",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The name of the parent property. For example, to limit results to app streams under the property with Id 123: \"properties/123\""
                },
                "pageToken": {
                  "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAndroidAppDataStreams` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.androidAppDataStreams.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse"
              }
            },
            "get": {
              "id": "analyticsadmin.properties.androidAppDataStreams.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "description": "Lookup for a single AndroidAppDataStream",
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams/{androidAppDataStreamsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the android app data stream to lookup. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/123/androidAppDataStreams/456\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/androidAppDataStreams/[^/]+$"
                }
              },
              "path": "v1alpha/{+name}"
            },
            "delete": {
              "description": "Deletes an android app stream on a property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams/{androidAppDataStreamsId}",
              "id": "analyticsadmin.properties.androidAppDataStreams.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/androidAppDataStreams/[^/]+$",
                  "description": "Required. The name of the android app data stream to delete. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/123/androidAppDataStreams/456\""
                }
              },
              "httpMethod": "DELETE"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "id": "analyticsadmin.properties.androidAppDataStreams.patch",
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams/{androidAppDataStreamsId}",
              "path": "v1alpha/{+name}",
              "description": "Updates an android app stream on a property.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/1000/androidAppDataStreams/2000\"",
                  "pattern": "^properties/[^/]+/androidAppDataStreams/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource where this android app data stream will be created. Format: properties/123"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "id": "analyticsadmin.properties.androidAppDataStreams.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+parent}/androidAppDataStreams",
              "description": "Creates an android app stream with the specified location and attributes.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              }
            }
          }
        },
        "webDataStreams": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource where this web data stream will be created. Format: properties/123",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.webDataStreams.create",
              "path": "v1alpha/{+parent}/webDataStreams",
              "description": "Creates a web stream with the specified location and attributes.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              }
            },
            "delete": {
              "id": "analyticsadmin.properties.webDataStreams.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "path": "v1alpha/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a web stream on a property.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the web data stream to delete. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/123/webDataStreams/456\"",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$"
                }
              }
            },
            "getEnhancedMeasurementSettings": {
              "description": "Returns the singleton enhanced measurement settings for this web stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/enhancedMeasurementSettings",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.webDataStreams.getEnhancedMeasurementSettings",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the settings to lookup. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\"",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/enhancedMeasurementSettings$"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "getGlobalSiteTag": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/globalSiteTag",
              "path": "v1alpha/{+name}",
              "description": "Returns the Site Tag for the specified web stream. Site Tags are immutable singletons.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.webDataStreams.getGlobalSiteTag",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/globalSiteTag$",
                  "type": "string",
                  "description": "Required. The name of the site tag to lookup. Note that site tags are singletons and do not have unique IDs. Format: properties/{property_id}/webDataStreams/{stream_id}/globalSiteTag Example: \"properties/123/webDataStreams/456/globalSiteTag\""
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "updateEnhancedMeasurementSettings": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/enhancedMeasurementSettings$",
                  "required": true,
                  "location": "path",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\""
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/enhancedMeasurementSettings",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates the singleton enhanced measurement settings for this web stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "id": "analyticsadmin.properties.webDataStreams.updateEnhancedMeasurementSettings",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent property. For example, to list results of web streams under the property with Id 123: \"properties/123\""
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListWebDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWebDataStreams` must match the call that provided the page token."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns child web data streams under the specified parent property. Web data streams will be excluded if the caller does not have access. Returns an empty list if no relevant web data streams are found.",
              "path": "v1alpha/{+parent}/webDataStreams",
              "id": "analyticsadmin.properties.webDataStreams.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "description": "Lookup for a single WebDataStream",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.webDataStreams.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the web data stream to lookup. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/123/webDataStreams/456\""
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/1000/webDataStreams/2000\""
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Updates a web stream on a property.",
              "id": "analyticsadmin.properties.webDataStreams.patch",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              }
            }
          }
        },
        "firebaseLinks": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
              },
              "path": "v1alpha/{+parent}/firebaseLinks",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "pattern": "^properties/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token."
                }
              },
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.",
              "httpMethod": "GET"
            },
            "delete": {
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "id": "analyticsadmin.properties.firebaseLinks.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: properties/1234/firebaseLinks/5678",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "description": "Deletes a FirebaseLink on a property",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. Example format: properties/1234/firebaseLinks/5678",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a FirebaseLink on a property",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "id": "analyticsadmin.properties.firebaseLinks.patch"
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks",
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+parent}/firebaseLinks",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "get": {
          "flatPath": "v1alpha/accounts/{accountsId}",
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Lookup for a single Account.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "id": "analyticsadmin.accounts.get",
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1alpha/accounts/{accountsId}",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "path": "v1alpha/{+name}",
          "description": "Updates an account.",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.accounts.patch"
        },
        "provisionAccountTicket": {
          "flatPath": "v1alpha/accounts:provisionAccountTicket",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
          },
          "description": "Requests a ticket for creating an account.",
          "httpMethod": "POST",
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          },
          "path": "v1alpha/accounts:provisionAccountTicket",
          "parameterOrder": []
        },
        "getDataSharingSettings": {
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
          },
          "flatPath": "v1alpha/accounts/{accountsId}/dataSharingSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\""
            }
          }
        },
        "list": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query"
            }
          },
          "flatPath": "v1alpha/accounts",
          "httpMethod": "GET",
          "path": "v1alpha/accounts",
          "parameterOrder": [],
          "id": "analyticsadmin.accounts.list",
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "delete": {
          "path": "v1alpha/{+name}",
          "httpMethod": "DELETE",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            }
          },
          "id": "analyticsadmin.accounts.delete",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "userLinks": {
          "methods": {
            "batchGet": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
              },
              "path": "v1alpha/{+parent}/userLinks:batchGet",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchGet",
              "id": "analyticsadmin.accounts.userLinks.batchGet",
              "description": "Gets information about multiple users' links to an account or property.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account or property that all user links in the request are for. The parent of all provided values for the 'names' field must match this field. Example format: accounts/1234",
                  "location": "path"
                },
                "names": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Required. The names of the user links to retrieve. A maximum of 1000 user links can be retrieved in a batch. Format: accounts/{accountId}/userLinks/{userLinkId}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "id": "analyticsadmin.accounts.userLinks.list",
              "description": "Lists all user links on an account or property.",
              "path": "v1alpha/{+parent}/userLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListUserLinksResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLinks` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 200 user links will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: accounts/1234",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "parameters": {
                "name": {
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.accounts.userLinks.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes a user link on an account or property.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "analyticsadmin.accounts.userLinks.get",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "description": "Gets information about a user's link to an account or property.",
              "httpMethod": "GET"
            },
            "batchUpdate": {
              "description": "Updates information about multiple users' links to an account or property.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The account or property that all user links in the request are for. The parent field in the UpdateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "id": "analyticsadmin.accounts.userLinks.batchUpdate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
              },
              "path": "v1alpha/{+parent}/userLinks:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchUpdate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "audit": {
              "path": "v1alpha/{+parent}/userLinks:audit",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Example format: accounts/1234",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:audit",
              "httpMethod": "POST",
              "description": "Lists all user links on an account or property, including implicit ones that come from effective permissions granted by groups or organization admin roles. If a returned user link does not have direct permissions, they cannot be removed from the account or property directly with the DeleteUserLink command. They have to be removed from the group/etc that gives them permissions, which is currently only usable/discoverable in the GA or GMP UIs.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
              },
              "id": "analyticsadmin.accounts.userLinks.audit",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks",
              "path": "v1alpha/{+parent}/userLinks",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. Example format: accounts/1234",
                  "type": "string",
                  "required": true
                },
                "notifyNewUser": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource."
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.accounts.userLinks.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates a user link on an account or property. If the user with the specified email already has permissions on the account or property, then the user's existing permissions will be unioned with the permissions specified in the new UserLink."
            },
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account or property that all user links in the request are for. The parent of all values for user link names to delete must match this field. Example format: accounts/1234"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/userLinks:batchDelete",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchDelete",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.accounts.userLinks.batchDelete",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
              },
              "description": "Deletes information about multiple users' links to an account or property."
            },
            "batchCreate": {
              "path": "v1alpha/{+parent}/userLinks:batchCreate",
              "description": "Creates information about multiple users' links to an account or property. This method is transactional. If any UserLink cannot be created, none of the UserLinks will be created.",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchCreate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.accounts.userLinks.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that all user links in the request are for. This field is required. The parent field in the CreateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST"
            },
            "patch": {
              "parameters": {
                "name": {
                  "description": "Example format: properties/1234/userLinks/5678",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$"
                }
              },
              "path": "v1alpha/{+name}",
              "description": "Updates a user link on an account or property.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "id": "analyticsadmin.accounts.userLinks.patch"
            }
          }
        }
      }
    },
    "accountSummaries": {
      "methods": {
        "list": {
          "flatPath": "v1alpha/accountSummaries",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "v1alpha/accountSummaries",
          "description": "Returns summaries of all accounts accessible by the caller.",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse"
          },
          "id": "analyticsadmin.accountSummaries.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      }
    }
  },
  "schemas": {
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "type": "object",
      "description": "Request message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest",
      "properties": {
        "account": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccount",
          "description": "The account to create."
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Developers Console as a Redirect URI",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag",
      "description": "Read-only resource with the tag for sending data from a website to a WebDataStream.",
      "properties": {
        "snippet": {
          "type": "string",
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "properties": {
        "timeZone": {
          "description": "Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when entity payload fields were last updated."
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. Indicates whether this Property is soft-deleted or not. Deleted properties are excluded from List results unless specifically requested.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the entity was originally created.",
          "type": "string",
          "readOnly": true
        },
        "industryCategory": {
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "type": "string",
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ]
        },
        "displayName": {
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "description": "A resource message representing a Google Analytics GA4 property.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest": {
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the user links to create. A maximum of 1000 user links can be created in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest"
          },
          "type": "array"
        },
        "notifyNewUsers": {
          "description": "Optional. If set, then email the new users notifying them that they've been granted permissions to the resource. Regardless of whether this is set or not, notify_new_user field inside each individual request is ignored.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request message for BatchCreateUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this account was originally created.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this account.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country of business. Must be a non-deprecated code for a UN M.49 region. https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when account payload fields were last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "description": "A resource message representing a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse": {
      "properties": {
        "androidAppDataStreams": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Request message for ListAndroidDataStreams RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse"
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "description": "A link between an GA4 property and a Google Ads account.",
      "properties": {
        "createTime": {
          "description": "Output only. Time when this link was originally created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Format: properties/{propertyId}"
        },
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "emailAddress": {
          "readOnly": true,
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this link was last updated.",
          "readOnly": true
        },
        "canManageClients": {
          "readOnly": true,
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean"
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update it will be defaulted to true.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userLinks": {
          "type": "array",
          "description": "List of AuditUserLinks. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLink"
          }
        }
      },
      "type": "object",
      "description": "Response message for AuditUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "type": "object",
      "description": "Singleton resource under a WebDataStream, configuring measurement of additional site interactions and content.",
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\"",
          "readOnly": true
        },
        "articlesAndBlogsEnabled": {
          "description": "Capture events when your visitors view content on your site that has articles or blog posts.",
          "type": "boolean"
        },
        "fileDownloadsEnabled": {
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.",
          "type": "boolean"
        },
        "searchQueryParameter": {
          "type": "string",
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty."
        },
        "pageChangesEnabled": {
          "description": "If enabled, capture a page view event each time the website changes the browser history state.",
          "type": "boolean"
        },
        "contentViewsEnabled": {
          "type": "boolean",
          "description": "Capture events when your visitors view content on your site that has structured data (eg, articles, blog posts, product details screens, etc.)."
        },
        "pageViewsEnabled": {
          "description": "Output only. If enabled, capture a page view event each time a page loads or the website changes the browser history state.",
          "type": "boolean",
          "readOnly": true
        },
        "siteSearchEnabled": {
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter).",
          "type": "boolean"
        },
        "dataTaggedElementClicksEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a click event each time a visitor clicks a link or element that has data attributes beginning with \"data-ga\"."
        },
        "productsAndEcommerceEnabled": {
          "description": "Capture events when your visitors view content on your site that has product details screens, etc.",
          "type": "boolean"
        },
        "formInteractionsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a view search results event each time a visitor interacts with a form on your site."
        },
        "urlQueryParameter": {
          "type": "string",
          "description": "Additional URL query parameters. Max length is 1024 characters."
        },
        "outboundClicksEnabled": {
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain.",
          "type": "boolean"
        },
        "excludedDomains": {
          "type": "string",
          "description": "Domains to exclude from measurement. Max length is 1024 characters."
        },
        "streamEnabled": {
          "type": "boolean",
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected."
        },
        "pageLoadsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a page view event each time a page loads."
        },
        "scrollsEnabled": {
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page.",
          "type": "boolean"
        },
        "videoEngagementEnabled": {
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          }
        }
      },
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListUserLinksResponse": {
      "description": "Response message for ListUserLinks RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userLinks": {
          "description": "List of UserLinks. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "type": "array"
        }
      },
[...]
