{
  "version_module": true,
  "rootUrl": "https://appengine.googleapis.com/",
  "baseUrl": "https://appengine.googleapis.com/",
  "ownerName": "Google",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "id": "appengine:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "App Engine Admin API",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "name": "appengine",
  "version": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "description": "Provisions and manages developers' App Engine applications.",
  "resources": {
    "apps": {
      "methods": {
        "get": {
          "flatPath": "v1/apps/{appsId}",
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets information about an application.",
          "response": {
            "$ref": "Application"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "appsId"
          ],
          "id": "appengine.apps.get",
          "parameters": {
            "appsId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Part of `name`. Name of the Application resource to get. Example: apps/myapp."
            }
          },
          "path": "v1/apps/{appsId}"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/apps",
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields: id - The ID of the target Cloud Platform project. location - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/standard/python/console/).",
          "path": "v1/apps",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Application"
          },
          "id": "appengine.apps.create",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "patch": {
          "parameterOrder": [
            "appsId"
          ],
          "id": "appengine.apps.patch",
          "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application.",
          "flatPath": "v1/apps/{appsId}",
          "path": "v1/apps/{appsId}",
          "parameters": {
            "updateMask": {
              "description": "Standard field mask for the set of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "appsId": {
              "description": "Part of `name`. Name of the Application resource to update. Example: apps/myapp.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Application"
          }
        },
        "repair": {
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account. If you have deleted your App Engine service account, this will not be able to recreate it. Instead, you should attempt to use the IAM undelete API if possible at https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts/undelete?apix_params=%7B\"name\"%3A\"projects%2F-%2FserviceAccounts%2Funique_id\"%2C\"resource\"%3A%7B%7D%7D . If the deletion was recent, the numeric ID can be found in the Cloud Console Activity Log.",
          "id": "appengine.apps.repair",
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "flatPath": "v1/apps/{appsId}:repair",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/apps/{appsId}:repair",
          "parameters": {
            "appsId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Part of `name`. Name of the application to repair. Example: apps/myapp"
            }
          },
          "parameterOrder": [
            "appsId"
          ]
        }
      },
      "resources": {
        "services": {
          "resources": {
            "versions": {
              "resources": {
                "instances": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "versionsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string"
                        },
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "appsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
                        },
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Instance"
                      },
                      "httpMethod": "GET",
                      "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "description": "Gets instance information.",
                      "id": "appengine.apps.services.versions.instances.get",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId"
                      ],
                      "parameters": {
                        "appsId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `parent`. Name of the parent Version resource. Example: apps/myapp/services/default/versions/v1.",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Maximum results to return per page.",
                          "location": "query"
                        },
                        "servicesId": {
                          "required": true,
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "versionsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Lists the instances of a version.Tip: To aggregate details about instances over time, see the Stackdriver Monitoring API (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list).",
                      "id": "appengine.apps.services.versions.instances.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances"
                    },
                    "delete": {
                      "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "instancesId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string"
                        },
                        "versionsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`."
                        },
                        "appsId": {
                          "required": true,
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "type": "string",
                          "location": "path"
                        },
                        "servicesId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "id": "appengine.apps.services.versions.instances.delete",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}"
                    },
                    "debug": {
                      "request": {
                        "$ref": "DebugInstanceRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                      "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "parameters": {
                        "appsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "location": "path"
                        },
                        "versionsId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true
                        },
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "id": "appengine.apps.services.versions.instances.debug",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "appengine.apps.services.versions.patch",
                  "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#manualscaling)",
                  "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "versionsId": {
                      "required": true,
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string"
                    },
                    "servicesId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`."
                    },
                    "appsId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default/versions/1."
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}"
                },
                "get": {
                  "response": {
                    "$ref": "Version"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "appengine.apps.services.versions.get",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "description": "Gets the specified Version resource. By default, only a BASIC_VIEW will be returned. Specify the FULL_VIEW parameter to get the full resource.",
                  "parameters": {
                    "versionsId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "servicesId": {
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "location": "path"
                    },
                    "view": {
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ],
                      "description": "Controls the set of fields returned in the Get response.",
                      "location": "query"
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}"
                },
                "delete": {
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes an existing Version resource.",
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "required": true,
                      "type": "string"
                    },
                    "versionsId": {
                      "type": "string",
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true
                    },
                    "servicesId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. See documentation of `appsId`."
                    }
                  },
                  "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "appengine.apps.services.versions.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum results to return per page.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string",
                      "location": "query"
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ],
                      "description": "Controls the set of fields returned in the List response.",
                      "location": "query",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "servicesId": {
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Service resource. Example: apps/myapp/services/default.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "path": "v1/apps/{appsId}/services/{servicesId}/versions",
                  "description": "Lists the versions of a service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/apps/{appsId}/services/{servicesId}/versions",
                  "description": "Deploys code and resource files to a new version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `parent`. Name of the parent resource to create this version under. Example: apps/myapp/services/default.",
                      "required": true
                    },
                    "servicesId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Part of `parent`. See documentation of `appsId`."
                    }
                  },
                  "id": "appengine.apps.services.versions.create",
                  "request": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "flatPath": "v1/apps/{appsId}/services/{servicesId}/versions",
                  "httpMethod": "POST"
                }
              }
            }
          },
          "methods": {
            "patch": {
              "flatPath": "v1/apps/{appsId}/services/{servicesId}",
              "request": {
                "$ref": "Service"
              },
              "parameters": {
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default.",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Standard field mask for the set of fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "migrateTraffic": {
                  "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                  "location": "query",
                  "type": "boolean"
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "id": "appengine.apps.services.patch",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "PATCH",
              "path": "v1/apps/{appsId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the configuration of the specified service."
            },
            "list": {
              "description": "Lists all the services in the application.",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "id": "appengine.apps.services.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "format": "int32"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/apps/{appsId}/services",
              "flatPath": "v1/apps/{appsId}/services",
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "id": "appengine.apps.services.get",
              "flatPath": "v1/apps/{appsId}/services/{servicesId}",
              "response": {
                "$ref": "Service"
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "httpMethod": "GET",
              "description": "Gets the current configuration of the specified service.",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/apps/{appsId}/services/{servicesId}",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default."
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                  "location": "path",
                  "required": true
                },
                "servicesId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/apps/{appsId}/services/{servicesId}",
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "id": "appengine.apps.services.delete",
              "description": "Deletes the specified service and all enclosed versions.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/apps/{appsId}/services/{servicesId}"
            }
          }
        },
        "domainMappings": {
          "methods": {
            "list": {
              "path": "v1/apps/{appsId}/domainMappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "flatPath": "v1/apps/{appsId}/domainMappings",
              "parameterOrder": [
                "appsId"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "appsId": {
                  "required": true,
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum results to return per page."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "description": "Lists the domain mappings on an application.",
              "id": "appengine.apps.domainMappings.list"
            },
            "get": {
              "parameters": {
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "appsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/domainMappings/example.com."
                }
              },
              "response": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "GET",
              "flatPath": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.get",
              "description": "Gets the specified domain mapping.",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ]
            },
            "patch": {
              "path": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Operation"
              },
              "id": "appengine.apps.domainMappings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Standard field mask for the set of fields to be updated."
                },
                "domainMappingsId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                }
              },
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "request": {
                "$ref": "DomainMapping"
              },
              "flatPath": "v1/apps/{appsId}/domainMappings/{domainMappingsId}"
            },
            "create": {
              "flatPath": "v1/apps/{appsId}/domainMappings",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "id": "appengine.apps.domainMappings.create",
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "request": {
                "$ref": "DomainMapping"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "overrideStrategy": {
                  "type": "string",
                  "location": "query",
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ],
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ]
                },
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp."
                }
              },
              "path": "v1/apps/{appsId}/domainMappings",
              "parameterOrder": [
                "appsId"
              ]
            },
            "delete": {
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "flatPath": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "location": "path"
                },
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
              "id": "appengine.apps.domainMappings.delete"
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "description": "Lists all domains the user is authorized to administer.",
              "id": "appengine.apps.authorizedDomains.list",
              "flatPath": "v1/apps/{appsId}/authorizedDomains",
              "path": "v1/apps/{appsId}/authorizedDomains",
              "httpMethod": "GET",
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "path": "v1/apps/{appsId}/locations/{locationsId}",
              "flatPath": "v1/apps/{appsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "locationsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. Resource name for the location.",
                  "required": true
                }
              },
              "id": "appengine.apps.locations.get"
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service.",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                }
              },
              "id": "appengine.apps.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1/apps/{appsId}/locations",
              "path": "v1/apps/{appsId}/locations"
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "delete": {
              "flatPath": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true
                },
                "authorizedCertificatesId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`."
                }
              },
              "id": "appengine.apps.authorizedCertificates.delete",
              "description": "Deletes the specified SSL certificate.",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "path": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}"
            },
            "get": {
              "flatPath": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameters": {
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "view": {
                  "description": "Controls the set of fields returned in the GET response.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ]
                }
              },
              "httpMethod": "GET",
              "path": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "description": "Gets the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ]
            },
            "list": {
              "path": "v1/apps/{appsId}/authorizedCertificates",
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/apps/{appsId}/authorizedCertificates",
              "id": "appengine.apps.authorizedCertificates.list",
              "parameters": {
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "description": "Controls the set of fields returned in the LIST response.",
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ]
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                },
                "appsId": {
                  "required": true,
                  "location": "path",
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "description": "Lists all SSL certificates the user is authorized to administer."
            },
            "create": {
              "description": "Uploads the specified SSL certificate.",
              "path": "v1/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "flatPath": "v1/apps/{appsId}/authorizedCertificates",
              "id": "appengine.apps.authorizedCertificates.create",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "httpMethod": "POST"
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "flatPath": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "appsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "id": "appengine.apps.authorizedCertificates.patch",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1/apps/{appsId}/operations",
              "httpMethod": "GET",
              "path": "v1/apps/{appsId}/operations",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "appsId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. The name of the operation's parent resource.",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "appengine.apps.operations.list",
              "response": {
                "$ref": "ListOperationsResponse"
              }
            },
            "get": {
              "flatPath": "v1/apps/{appsId}/operations/{operationsId}",
              "parameters": {
                "operationsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "location": "path"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. The name of the operation resource."
                }
              },
              "path": "v1/apps/{appsId}/operations/{operationsId}",
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "id": "appengine.apps.operations.get"
            }
          }
        },
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "create": {
                  "path": "v1/apps/{appsId}/firewall/ingressRules",
                  "description": "Creates a firewall rule for the application.",
                  "httpMethod": "POST",
                  "id": "appengine.apps.firewall.ingressRules.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules",
                  "parameterOrder": [
                    "appsId"
                  ]
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Standard field mask for the set of fields to be updated."
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "ingressRulesId": {
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "description": "Updates the specified firewall rule.",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}"
                },
                "batchUpdate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "appsId": {
                      "type": "string",
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                  "httpMethod": "POST",
                  "path": "v1/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "description": "Lists the firewall rules of an application.",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "matchingAddress": {
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum results to return per page.",
                      "format": "int32"
                    },
                    "appsId": {
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/apps/{appsId}/firewall/ingressRules"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true
                    },
                    "ingressRulesId": {
                      "required": true,
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets the specified firewall rule.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "path": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.get"
                },
                "delete": {
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.delete",
                  "parameters": {
                    "ingressRulesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    },
                    "appsId": {
                      "required": true,
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the specified firewall rule.",
                  "path": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "httpMethod": "DELETE"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "revision": "20201201",
  "schemas": {
    "ApiEndpointHandler": {
      "description": "Uses Google Cloud Endpoints to handle requests.",
      "type": "object",
      "id": "ApiEndpointHandler",
      "properties": {
        "scriptPath": {
          "type": "string",
          "description": "Path to the script from the application root directory."
        }
      }
    },
    "TrafficSplit": {
      "properties": {
        "allocations": {
          "type": "object",
          "description": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits.",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          }
        },
        "shardBy": {
          "description": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.",
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint of the IP address.",
            "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP",
            "RANDOM"
          ]
        }
      },
      "id": "TrafficSplit",
      "description": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions.",
      "type": "object"
    },
    "OperationMetadataV1": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1",
      "type": "object",
      "properties": {
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly"
        }
      }
    },
    "DebugInstanceRequest": {
      "properties": {
        "sshKey": {
          "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
          "type": "string"
        }
      },
      "description": "Request message for Instances.DebugInstance.",
      "type": "object",
      "id": "DebugInstanceRequest"
    },
    "ManualScaling": {
      "id": "ManualScaling",
      "properties": {
        "instances": {
          "type": "integer",
          "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}.",
      "id": "Empty",
      "type": "object"
    },
    "Resources": {
      "id": "Resources",
      "description": "Machine resources for a version.",
      "type": "object",
      "properties": {
        "memoryGb": {
          "type": "number",
          "description": "Memory (GB) needed.",
          "format": "double"
        },
        "kmsKeyReference": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk",
          "type": "string"
        },
        "diskGb": {
          "format": "double",
          "description": "Disk size (GB) needed.",
          "type": "number"
        },
        "volumes": {
          "description": "User specified volumes.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "cpu": {
          "description": "Number of CPU cores needed.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Entrypoint": {
      "description": "The entrypoint for the application.",
      "type": "object",
      "id": "Entrypoint",
      "properties": {
        "shell": {
          "description": "The format should be a shell command that can be fed to bash -c.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "FirewallRule": {
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional string description of this rule. This field has a maximum length of 100 characters."
        },
        "sourceRange": {
          "type": "string",
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32."
        },
        "priority": {
          "format": "int32",
          "description": "A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user.",
          "type": "integer"
        },
        "action": {
          "enumDescriptions": [
            "",
            "Matching requests are allowed.",
            "Matching requests are denied."
          ],
          "enum": [
            "UNSPECIFIED_ACTION",
            "ALLOW",
            "DENY"
          ],
          "type": "string",
          "description": "The action to take on matched requests."
        }
      },
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests.",
      "type": "object",
      "id": "FirewallRule"
    },
    "NetworkUtilization": {
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetSentPacketsPerSecond": {
          "description": "Target packets sent per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReceivedPacketsPerSecond": {
          "description": "Target packets received per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetSentBytesPerSecond": {
          "description": "Target bytes sent per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReceivedBytesPerSecond": {
          "description": "Target bytes received per second.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "NetworkUtilization"
    },
    "ErrorHandler": {
      "id": "ErrorHandler",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "MIME type of file. Defaults to text/html.",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_DEFAULT",
            "ERROR_CODE_OVER_QUOTA",
            "ERROR_CODE_DOS_API_DENIAL",
            "ERROR_CODE_TIMEOUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified. ERROR_CODE_DEFAULT is assumed.",
            "All other error types.",
            "Application has exceeded a resource quota.",
            "Client blocked by the application's Denial of Service protection configuration.",
            "Deadline reached before the application responds."
          ],
          "description": "Error condition this handler applies to."
        },
        "staticFile": {
          "description": "Static file content to be served for this error.",
          "type": "string"
        }
      },
      "description": "Custom static error page to be served when an error occurs."
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ManagedCertificate": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted, likely due to an invalid DNS setup.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "enum": [
            "MANAGEMENT_STATUS_UNSPECIFIED",
            "OK",
            "PENDING",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENT",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ]
        },
        "lastRenewalTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly"
        }
      },
      "id": "ManagedCertificate",
      "description": "A certificate managed by App Engine."
    },
    "DomainMapping": {
      "properties": {
        "name": {
          "description": "Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "type": "string"
        },
        "sslSettings": {
          "$ref": "SslSettings",
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL."
        },
        "resourceRecords": {
          "type": "array",
          "description": "The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "items": {
            "$ref": "ResourceRecord"
          }
        },
        "id": {
          "description": "Relative name of the domain serving the application. Example: example.com.",
          "type": "string"
        }
      },
      "description": "A domain serving an App Engine application.",
      "id": "DomainMapping",
      "type": "object"
    },
    "AuthorizedCertificate": {
      "type": "object",
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains.",
      "id": "AuthorizedCertificate",
      "properties": {
        "id": {
          "description": "Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly",
          "type": "string"
        },
        "domainMappingsCount": {
          "type": "integer",
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "format": "int32"
        },
        "domainNames": {
          "items": {
            "type": "string"
          },
          "description": "Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly",
          "type": "array"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly"
        },
        "displayName": {
          "type": "string",
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate."
        },
        "certificateRawData": {
          "$ref": "CertificateRawData",
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority."
        },
        "name": {
          "type": "string",
          "description": "Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly"
        },
        "visibleDomainMappings": {
          "description": "The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "managedCertificate": {
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly",
          "$ref": "ManagedCertificate"
        }
      }
    },
    "Application": {
      "type": "object",
      "id": "Application",
      "properties": {
        "defaultBucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly"
        },
        "iap": {
          "$ref": "IdentityAwareProxy"
        },
        "name": {
          "description": "Full path to the Application resource in the API. Example: apps/myapp.@OutputOnly",
          "type": "string"
        },
        "gcrDomain": {
          "description": "The Google Container Registry domain used for storing managed build docker images for this application.",
          "type": "string"
        },
        "featureSettings": {
          "description": "The feature specific settings to be used in the application.",
          "$ref": "FeatureSettings"
        },
        "databaseType": {
          "description": "The type of the Cloud Firestore or Cloud Datastore database associated with this application.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "CLOUD_DATASTORE",
            "CLOUD_FIRESTORE",
            "CLOUD_DATASTORE_COMPATIBILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Database type is unspecified.",
            "Cloud Datastore",
            "Cloud Firestore Native",
            "Cloud Firestore in Datastore Mode"
          ]
        },
        "authDomain": {
          "type": "string",
          "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account."
        },
        "defaultHostname": {
          "type": "string",
          "description": "Hostname used to reach this application, as resolved by App Engine.@OutputOnly"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp."
        },
        "defaultCookieExpiration": {
          "format": "google-duration",
          "description": "Cookie expiration policy for this application.",
          "type": "string"
        },
        "dispatchRules": {
          "type": "array",
          "items": {
            "$ref": "UrlDispatchRule"
          },
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported."
        },
        "servingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Serving status is unspecified.",
            "Application is serving.",
            "Application has been disabled by the user.",
            "Application has been disabled by the system."
          ],
          "description": "Serving status of this application.",
          "enum": [
            "UNSPECIFIED",
            "SERVING",
            "USER_DISABLED",
            "SYSTEM_DISABLED"
          ]
        },
        "codeBucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly"
        },
        "locationId": {
          "type": "string",
          "description": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations)."
        }
      },
      "description": "An Application resource contains the top-level configuration of an App Engine application."
    },
    "BatchUpdateIngressRulesResponse": {
      "properties": {
        "ingressRules": {
          "description": "The full list of ingress FirewallRules for this application.",
          "items": {
            "$ref": "FirewallRule"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateIngressRulesResponse",
      "description": "Response message for Firewall.UpdateAllIngressRules.",
      "type": "object"
    },
    "CreateVersionMetadataV1Alpha": {
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1Alpha",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "description": "Code and application artifacts used to deploy a version to App Engine.",
      "properties": {
        "zip": {
          "description": "The zip file for this deployment, if this is a zip deployment.",
          "$ref": "ZipInfo"
        },
        "cloudBuildOptions": {
          "description": "Options for any Google Cloud Build builds created as a part of this deployment.These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip.",
          "$ref": "CloudBuildOptions"
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FileInfo"
          },
          "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call."
        },
        "container": {
          "$ref": "ContainerInfo",
          "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment."
        }
      }
    },
    "ZipInfo": {
      "properties": {
        "filesCount": {
          "type": "integer",
          "format": "int32",
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow."
        },
        "sourceUrl": {
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        }
      },
      "description": "The zip file information for a zip deployment.",
      "id": "ZipInfo",
      "type": "object"
    },
    "FeatureSettings": {
      "properties": {
        "useContainerOptimizedOs": {
[...]
