{
  "servicePath": "",
  "name": "appengine",
  "baseUrl": "https://appengine.googleapis.com/",
  "description": "Provisions and manages developers' App Engine applications.",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version_module": true,
  "version": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "rootUrl": "https://appengine.googleapis.com/",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "title": "App Engine Admin API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "id": "appengine:v1",
  "ownerName": "Google",
  "schemas": {
    "OperationMetadataV1": {
      "id": "OperationMetadataV1",
      "type": "object",
      "properties": {
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Library": {
      "description": "Third-party Python runtime library that is required by the application.",
      "properties": {
        "version": {
          "description": "Version of the library to select, or \"latest\".",
          "type": "string"
        },
        "name": {
          "description": "Name of the library. Example: \"django\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Library"
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "properties": {
        "services": {
          "items": {
            "$ref": "Service"
          },
          "type": "array",
          "description": "The services belonging to the requested application."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "Response message for Services.ListServices.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "files": {
          "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call.",
          "additionalProperties": {
            "$ref": "FileInfo"
          },
          "type": "object"
        },
        "cloudBuildOptions": {
          "$ref": "CloudBuildOptions",
          "description": "Options for any Google Cloud Build builds created as a part of this deployment.These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip."
        },
        "zip": {
          "$ref": "ZipInfo",
          "description": "The zip file for this deployment, if this is a zip deployment."
        },
        "container": {
          "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment.",
          "$ref": "ContainerInfo"
        }
      },
      "id": "Deployment",
      "description": "Code and application artifacts used to deploy a version to App Engine."
    },
    "ErrorHandler": {
      "id": "ErrorHandler",
      "type": "object",
      "properties": {
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_DEFAULT",
            "ERROR_CODE_OVER_QUOTA",
            "ERROR_CODE_DOS_API_DENIAL",
            "ERROR_CODE_TIMEOUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified. ERROR_CODE_DEFAULT is assumed.",
            "All other error types.",
            "Application has exceeded a resource quota.",
            "Client blocked by the application's Denial of Service protection configuration.",
            "Deadline reached before the application responds."
          ],
          "description": "Error condition this handler applies to."
        },
        "staticFile": {
          "description": "Static file content to be served for this error.",
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type of file. Defaults to text/html.",
          "type": "string"
        }
      },
      "description": "Custom static error page to be served when an error occurs."
    },
    "FirewallRule": {
      "id": "FirewallRule",
      "type": "object",
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests.",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional string description of this rule. This field has a maximum length of 100 characters."
        },
        "action": {
          "enumDescriptions": [
            "",
            "Matching requests are allowed.",
            "Matching requests are denied."
          ],
          "description": "The action to take on matched requests.",
          "enum": [
            "UNSPECIFIED_ACTION",
            "ALLOW",
            "DENY"
          ],
          "type": "string"
        },
        "priority": {
          "description": "A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user.",
          "type": "integer",
          "format": "int32"
        },
        "sourceRange": {
          "type": "string",
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32."
        }
      }
    },
    "ListIngressRulesResponse": {
      "type": "object",
      "id": "ListIngressRulesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "ingressRules": {
          "description": "The ingress FirewallRules for this application.",
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          }
        }
      },
      "description": "Response message for Firewall.ListIngressRules."
    },
    "NetworkSettings": {
      "type": "object",
      "properties": {
        "ingressTrafficAllowed": {
          "enumDescriptions": [
            "Unspecified",
            "Allow HTTP traffic from public and private sources.",
            "Allow HTTP traffic from only private VPC sources.",
            "Allow HTTP traffic from private VPC sources and through load balancers."
          ],
          "description": "The ingress settings for version or service.",
          "enum": [
            "INGRESS_TRAFFIC_ALLOWED_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALLOWED_ALL",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_AND_LB"
          ],
          "type": "string"
        }
      },
      "description": "A NetworkSettings resource is a container for ingress settings for a version or service.",
      "id": "NetworkSettings"
    },
    "FileInfo": {
      "type": "object",
      "properties": {
        "sha1Sum": {
          "type": "string",
          "description": "The SHA1 hash of the file, in hex."
        },
        "mimeType": {
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage.",
          "type": "string"
        },
        "sourceUrl": {
          "type": "string",
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'."
        }
      },
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.",
      "id": "FileInfo"
    },
    "CertificateRawData": {
      "description": "An SSL certificate obtained from a certificate authority.",
      "id": "CertificateRawData",
      "properties": {
        "privateKey": {
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly",
          "type": "string"
        },
        "publicCertificate": {
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateVersionMetadataV1Alpha": {
      "id": "CreateVersionMetadataV1Alpha",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest."
    },
    "DomainMapping": {
      "description": "A domain serving an App Engine application.",
      "id": "DomainMapping",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Relative name of the domain serving the application. Example: example.com."
        },
        "name": {
          "type": "string",
          "description": "Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly"
        },
        "sslSettings": {
          "$ref": "SslSettings",
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL."
        },
        "resourceRecords": {
          "items": {
            "$ref": "ResourceRecord"
          },
          "type": "array",
          "description": "The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly"
        }
      }
    },
    "ListDomainMappingsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "domainMappings": {
          "description": "The domain mappings for the application.",
          "type": "array",
          "items": {
            "$ref": "DomainMapping"
          }
        }
      },
      "description": "Response message for DomainMappings.ListDomainMappings.",
      "type": "object",
      "id": "ListDomainMappingsResponse"
    },
    "ReadinessCheck": {
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation.",
      "id": "ReadinessCheck",
      "properties": {
        "checkInterval": {
          "description": "Interval between health checks.",
          "format": "google-duration",
          "type": "string"
        },
        "failureThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed checks required before removing traffic."
        },
        "appStartTimeout": {
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic.",
          "type": "string",
          "format": "google-duration"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Time before the check is considered failed."
        },
        "successThreshold": {
          "format": "uint32",
          "type": "integer",
          "description": "Number of consecutive successful checks required before receiving traffic."
        },
        "host": {
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListInstancesResponse": {
      "properties": {
        "instances": {
          "description": "The instances belonging to the requested version.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListInstancesResponse",
      "description": "Response message for Instances.ListInstances."
    },
    "AuthorizedCertificate": {
      "properties": {
        "displayName": {
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly"
        },
        "id": {
          "type": "string",
          "description": "Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly"
        },
        "domainNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly"
        },
        "name": {
          "description": "Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly",
          "type": "string"
        },
        "certificateRawData": {
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority.",
          "$ref": "CertificateRawData"
        },
        "managedCertificate": {
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly",
          "$ref": "ManagedCertificate"
        },
        "domainMappingsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "visibleDomainMappings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        }
      },
      "type": "object",
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains.",
      "id": "AuthorizedCertificate"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} "
        }
      }
    },
    "CreateVersionMetadataV1Beta": {
      "id": "CreateVersionMetadataV1Beta",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest."
    },
    "Network": {
      "properties": {
        "sessionAffinity": {
          "description": "Enable session affinity. Only applicable in the App Engine flexible environment.",
          "type": "boolean"
        },
        "subnetworkName": {
          "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network. If the network that the instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range. If the network that the instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network. If the network that the instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the App Engine flexible environment application.",
          "type": "string"
        },
        "name": {
          "description": "Google Compute Engine network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default.",
          "type": "string"
        },
        "forwardedPorts": {
          "description": "List of ports, or port pairs, to forward from the virtual machine to the application container. Only applicable in the App Engine flexible environment.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instanceTag": {
          "type": "string",
          "description": "Tag to apply to the instance during creation. Only applicable in the App Engine flexible environment."
        }
      },
      "type": "object",
      "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
      "id": "Network"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse"
    },
    "Version": {
      "id": "Version",
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service.",
      "properties": {
        "servingStatus": {
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.",
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ],
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ],
          "type": "string"
        },
        "readinessCheck": {
          "description": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation.Only returned in GET requests if view=FULL is set.",
          "$ref": "ReadinessCheck"
        },
        "handlers": {
          "type": "array",
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "UrlMap"
          }
        },
        "network": {
          "$ref": "Network",
          "description": "Extra network settings. Only applicable in the App Engine flexible environment."
        },
        "inboundServices": {
          "type": "array",
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ],
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ]
          }
        },
        "betaSettings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata settings that are supplied to this version to enable beta runtime features."
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "apiConfig": {
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/).Only returned in GET requests if view=FULL is set.",
          "$ref": "ApiConfigHandler"
        },
        "endpointsApiService": {
          "$ref": "EndpointsApiService",
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app."
        },
        "versionUrl": {
          "description": "Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly",
          "type": "string"
        },
        "healthCheck": {
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment.Only returned in GET requests if view=FULL is set.",
          "$ref": "HealthCheck"
        },
        "zones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated."
        },
        "runtimeChannel": {
          "description": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel.",
          "type": "string"
        },
        "env": {
          "description": "App Engine execution environment for this version.Defaults to standard.",
          "type": "string"
        },
        "runtimeMainExecutablePath": {
          "type": "string",
          "description": "The path or name of the app's main executable."
        },
        "nobuildFilesRegex": {
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "defaultExpiration": {
          "format": "google-duration",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "instanceClass": {
          "type": "string",
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling."
        },
        "buildEnvVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set."
        },
        "deployment": {
          "$ref": "Deployment",
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set."
        },
        "runtimeApiVersion": {
          "type": "string",
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref"
        },
        "libraries": {
          "type": "array",
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "Library"
          }
        },
        "id": {
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
          "type": "string"
        },
        "basicScaling": {
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
          "$ref": "BasicScaling"
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "runtime": {
          "description": "Desired runtime. Example: python27.",
          "type": "string"
        },
        "vpcAccessConnector": {
          "$ref": "VpcAccessConnector",
          "description": "Enables VPC connectivity for standard apps."
        },
        "manualScaling": {
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\".",
          "$ref": "ManualScaling"
        },
        "name": {
          "description": "Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this version was created.@OutputOnly"
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic.",
          "$ref": "AutomaticScaling"
        },
        "errorHandlers": {
          "items": {
            "$ref": "ErrorHandler"
          },
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set.",
          "type": "array"
        },
        "diskUsageBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly"
        },
        "entrypoint": {
          "description": "The entrypoint for the application.",
          "$ref": "Entrypoint"
        },
        "createdBy": {
          "type": "string",
          "description": "Email address of the user who created this version.@OutputOnly"
        },
        "vm": {
          "type": "boolean",
          "description": "Whether to deploy this version in a container on a virtual machine."
        },
        "livenessCheck": {
          "$ref": "LivenessCheck",
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instancesOnly returned in GET requests if view=FULL is set."
        },
        "envVariables": {
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ManagedCertificate": {
      "type": "object",
      "properties": {
        "lastRenewalTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly"
        },
        "status": {
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted, likely due to an invalid DNS setup.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "enum": [
            "MANAGEMENT_STATUS_UNSPECIFIED",
            "OK",
            "PENDING",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENT",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ]
        }
      },
      "id": "ManagedCertificate",
      "description": "A certificate managed by App Engine."
    },
    "ZipInfo": {
      "type": "object",
      "id": "ZipInfo",
      "description": "The zip file information for a zip deployment.",
      "properties": {
        "filesCount": {
          "format": "int32",
          "type": "integer",
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow."
        },
        "sourceUrl": {
          "type": "string",
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'."
        }
      }
    },
    "Instance": {
      "type": "object",
      "properties": {
        "averageLatency": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Average latency (ms) over the last minute.",
          "format": "int32"
        },
        "availability": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Output only. Availability of the instance.",
          "enum": [
            "UNSPECIFIED",
            "RESIDENT",
            "DYNAMIC"
          ]
        },
        "errors": {
          "description": "Output only. Number of errors since this instance was started.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "qps": {
          "description": "Output only. Average queries per second (QPS) over the last minute.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "vmStatus": {
          "readOnly": true,
          "description": "Output only. Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
          "type": "string"
        },
        "vmIp": {
          "description": "Output only. The IP address of this instance. Only applicable for instances in App Engine flexible environment.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
          "readOnly": true,
          "type": "string"
        },
        "requests": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of requests since this instance was started.",
          "type": "integer"
        },
        "id": {
          "description": "Output only. Relative name of the instance within the version. Example: instance-1.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Time that this instance was started.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "appEngineRelease": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. App Engine release this instance is running on."
        },
        "vmName": {
          "type": "string",
          "description": "Output only. Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true
        },
        "vmLiveness": {
          "description": "Output only. The liveness health check of this instance. Only applicable for instances in App Engine flexible environment.",
          "enum": [
            "LIVENESS_STATE_UNSPECIFIED",
            "UNKNOWN",
            "HEALTHY",
            "UNHEALTHY",
            "DRAINING",
            "TIMEOUT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "There is no liveness health check for the instance. Only applicable for instances in App Engine standard environment.",
            "The health checking system is aware of the instance but its health is not known at the moment.",
            "The instance is reachable i.e. a connection to the application health checking endpoint can be established, and conforms to the requirements defined by the health check.",
            "The instance is reachable, but does not conform to the requirements defined by the health check.",
            "The instance is being drained. The existing connections to the instance have time to complete, but the new ones are being refused.",
            "The instance is unreachable i.e. a connection to the application health checking endpoint cannot be established, or the server does not respond within the specified timeout."
          ],
          "type": "string"
        },
        "vmId": {
          "description": "Output only. Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.",
          "type": "string",
          "readOnly": true
        },
        "vmDebugEnabled": {
          "description": "Output only. Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true,
          "type": "boolean"
        },
        "vmZoneName": {
          "description": "Output only. Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true,
          "type": "string"
        },
        "memoryUsage": {
          "description": "Output only. Total memory in use (bytes).",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application.",
      "id": "Instance"
    },
    "CpuUtilization": {
      "id": "CpuUtilization",
      "description": "Target scaling by CPU usage.",
      "type": "object",
      "properties": {
        "targetUtilization": {
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1.",
          "type": "number",
          "format": "double"
        },
        "aggregationWindowLength": {
          "description": "Period of time over which CPU utilization is calculated.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ListVersionsResponse": {
      "properties": {
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "The versions belonging to the requested service.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListVersionsResponse",
      "type": "object",
      "description": "Response message for Versions.ListVersions."
    },
    "SslSettings": {
      "description": "SSL configuration for a DomainMapping resource.",
      "type": "object",
      "properties": {
        "pendingManagedCertificateId": {
          "description": "ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly",
          "type": "string"
        },
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        },
        "sslManagementType": {
          "enum": [
            "SSL_MANAGEMENT_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain.",
          "enumDescriptions": [
            "Defaults to AUTOMATIC.",
            "SSL support for this domain is configured automatically. The mapped SSL certificate will be automatically renewed.",
            "SSL support for this domain is configured manually by the user. Either the domain has no SSL support or a user-obtained SSL certificate has been explictly mapped to this domain."
          ],
          "type": "string"
        }
      },
      "id": "SslSettings"
    },
    "StandardSchedulerSettings": {
      "description": "Scheduler settings for standard environment.",
      "id": "StandardSchedulerSettings",
      "properties": {
        "minInstances": {
          "type": "integer",
          "description": "Minimum number of instances to run for this version. Set to zero to disable min_instances configuration.",
          "format": "int32"
        },
        "maxInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of instances to run for this version. Set to zero to disable max_instances configuration."
        },
        "targetCpuUtilization": {
          "type": "number",
          "description": "Target CPU utilization ratio to maintain when scaling.",
          "format": "double"
        },
        "targetThroughputUtilization": {
          "description": "Target throughput utilization ratio to maintain when scaling",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "BasicScaling": {
      "properties": {
        "maxInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of instances to create for this version."
        },
        "idleTimeout": {
          "description": "Duration of time after the last request that an instance must wait before the instance is shut down.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "BasicScaling",
      "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
      "type": "object"
    },
    "CloudBuildOptions": {
      "description": "Options for the build operations performed as a part of the version deployment. Only applicable for App Engine flexible environment when creating a version using source code directly.",
      "type": "object",
      "id": "CloudBuildOptions",
      "properties": {
        "appYamlPath": {
          "description": "Path to the yaml file used in deployment, used to determine runtime configuration details.Required for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref for more details.",
          "type": "string"
        },
        "cloudBuildTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "The Cloud Build timeout used as part of any dependent builds performed by version creation. Defaults to 10 minutes."
        }
      }
    },
    "IdentityAwareProxy": {
      "description": "Identity-Aware Proxy",
      "properties": {
        "oauth2ClientSecretSha256": {
          "type": "string",
          "description": "Hex-encoded SHA-256 hash of the client secret.@OutputOnly"
        },
        "oauth2ClientSecret": {
          "description": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly",
          "type": "string"
        },
        "enabled": {
          "description": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty.",
          "type": "boolean"
        },
        "oauth2ClientId": {
          "description": "OAuth2 client ID to use for the authentication flow.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IdentityAwareProxy"
    },
    "StaticFilesHandler": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension."
        },
        "uploadPathRegex": {
          "type": "string",
          "description": "Regular expression that matches the file paths for all files that should be referenced by this handler."
        },
        "httpHeaders": {
          "description": "HTTP headers to use for all responses from these URLs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "applicationReadable": {
          "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas.",
          "type": "boolean"
        },
        "requireMatchingFile": {
          "type": "boolean",
          "description": "Whether this handler should match the request if the file referenced by the handler does not exist."
        },
        "path": {
          "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.",
          "type": "string"
        },
        "expiration": {
          "format": "google-duration",
          "description": "Time a static file served by this handler should be cached by web proxies and browsers.",
          "type": "string"
        }
      },
      "id": "StaticFilesHandler",
      "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.",
      "type": "object"
    },
    "AutomaticScaling": {
      "type": "object",
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "id": "AutomaticScaling",
      "properties": {
        "requestUtilization": {
          "description": "Target scaling by request utilization.",
          "$ref": "RequestUtilization"
        },
        "maxTotalInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of instances that should be started to handle requests for this version."
        },
        "minTotalInstances": {
          "format": "int32",
          "description": "Minimum number of running instances that should be maintained for this version.",
          "type": "integer"
        },
        "diskUtilization": {
          "$ref": "DiskUtilization",
          "description": "Target scaling by disk usage."
        },
        "cpuUtilization": {
          "$ref": "CpuUtilization",
          "description": "Target scaling by CPU usage."
        },
        "minIdleInstances": {
          "format": "int32",
          "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service.",
          "type": "integer"
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "standardSchedulerSettings": {
          "$ref": "StandardSchedulerSettings",
          "description": "Scheduler settings for standard environment."
        },
        "coolDownPeriod": {
          "type": "string",
          "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment.",
          "format": "google-duration"
        },
        "maxPendingLatency": {
          "format": "google-duration",
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it.",
          "type": "string"
        },
        "maxIdleInstances": {
          "description": "Maximum number of idle instances that should be maintained for this version.",
          "format": "int32",
          "type": "integer"
        },
        "minPendingLatency": {
          "type": "string",
          "format": "google-duration",
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it."
        },
        "maxConcurrentRequests": {
          "type": "integer",
          "format": "int32",
          "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value."
        }
      }
    },
    "TrafficSplit": {
      "type": "object",
      "properties": {
        "allocations": {
          "description": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits.",
          "type": "object",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          }
        },
        "shardBy": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP",
            "RANDOM"
          ],
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint of the IP address.",
            "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
          ],
          "description": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed."
        }
      },
      "description": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions.",
      "id": "TrafficSplit"
    },
    "NetworkUtilization": {
      "type": "object",
      "id": "NetworkUtilization",
      "properties": {
        "targetSentBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes sent per second."
        },
        "targetReceivedBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes received per second."
        },
        "targetReceivedPacketsPerSecond": {
          "type": "integer",
          "description": "Target packets received per second.",
          "format": "int32"
        },
        "targetSentPacketsPerSecond": {
          "format": "int32",
          "description": "Target packets sent per second.",
          "type": "integer"
        }
      },
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment."
    },
    "RequestUtilization": {
      "type": "object",
      "properties": {
        "targetRequestCountPerSecond": {
          "type": "integer",
          "description": "Target requests per second.",
          "format": "int32"
        },
        "targetConcurrentRequests": {
          "format": "int32",
          "type": "integer",
          "description": "Target number of concurrent requests."
        }
      },
      "id": "RequestUtilization",
      "description": "Target scaling by request utilization. Only applicable in the App Engine flexible environment."
    },
    "ResourceRecord": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'."
        },
        "type": {
          "type": "string",
          "enum": [
            "RECORD_TYPE_UNSPECIFIED",
            "A",
            "AAAA",
            "CNAME"
          ],
          "description": "Resource record type. Example: AAAA.",
          "enumDescriptions": [
            "An unknown resource record.",
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ]
        },
        "rrdata": {
          "type": "string",
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)."
        }
      },
      "id": "ResourceRecord",
      "description": "A DNS resource record."
    },
    "Resources": {
      "properties": {
        "kmsKeyReference": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk",
          "type": "string"
        },
        "volumes": {
          "description": "User specified volumes.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "cpu": {
          "type": "number",
          "format": "double",
          "description": "Number of CPU cores needed."
        },
        "diskGb": {
          "format": "double",
          "type": "number",
          "description": "Disk size (GB) needed."
        },
        "memoryGb": {
          "type": "number",
          "description": "Memory (GB) needed.",
          "format": "double"
        }
      },
      "id": "Resources",
      "type": "object",
      "description": "Machine resources for a version."
    },
    "LivenessCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
      "type": "object",
      "properties": {
        "checkInterval": {
          "type": "string",
          "description": "Interval between health checks.",
          "format": "google-duration"
        },
        "host": {
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Time before the check is considered failed."
        },
        "failureThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy.",
          "type": "integer"
        },
        "path": {
          "type": "string",
          "description": "The request path."
        },
        "initialDelay": {
          "format": "google-duration",
          "type": "string",
          "description": "The initial delay before starting to execute the checks."
        },
        "successThreshold": {
          "description": "Number of consecutive successful checks required before considering the VM healthy.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "LivenessCheck"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "properties": {
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        },
        "standardEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine standard environment is available in the given location.@OutputOnly"
        },
        "searchApiAvailable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        }
      },
      "type": "object",
      "description": "Metadata for the given google.cloud.location.Location."
    },
    "RepairApplicationRequest": {
      "type": "object",
      "properties": {},
      "id": "RepairApplicationRequest",
      "description": "Request message for 'Applications.RepairApplication'."
    },
    "ApiConfigHandler": {
      "type": "object",
      "id": "ApiConfigHandler",
      "properties": {
        "script": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        },
        "securityLevel": {
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "description": "Security (HTTPS) enforcement for this URL.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ]
        },
        "login": {
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "type": "string",
          "description": "Level of login required to access this resource. Defaults to optional.",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ]
        },
        "authFailAction": {
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "type": "string",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ]
        },
        "url": {
          "type": "string",
          "description": "URL to serve the endpoint at."
        }
      },
      "description": "Google Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/) configuration for API handlers."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}.",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Entrypoint": {
      "description": "The entrypoint for the application.",
      "properties": {
        "shell": {
          "description": "The format should be a shell command that can be fed to bash -c.",
          "type": "string"
        }
      },
      "id": "Entrypoint",
      "type": "object"
    },
    "FeatureSettings": {
      "id": "FeatureSettings",
      "description": "The feature specific settings to be used in the application. These define behaviors that are user configurable.",
      "properties": {
        "useContainerOptimizedOs": {
          "type": "boolean",
          "description": "If true, use Container-Optimized OS (https://cloud.google.com/container-optimized-os/) base image for VMs, rather than a base Debian image."
        },
        "splitHealthChecks": {
          "type": "boolean",
          "description": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed."
        }
      },
      "type": "object"
    },
    "ListAuthorizedDomainsResponse": {
      "id": "ListAuthorizedDomainsResponse",
      "type": "object",
      "properties": {
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains."
    },
    "ScriptHandler": {
      "id": "ScriptHandler",
      "properties": {
        "scriptPath": {
          "type": "string",
          "description": "Path to the script from the application root directory."
        }
      },
      "type": "object",
      "description": "Executes a script to handle the request that matches the URL pattern."
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "DiskUtilization": {
      "properties": {
        "targetWriteOpsPerSecond": {
          "type": "integer",
          "description": "Target ops written per second.",
          "format": "int32"
        },
        "targetReadBytesPerSecond": {
          "description": "Target bytes read per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetWriteBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes written per second.",
          "type": "integer"
        },
        "targetReadOpsPerSecond": {
          "type": "integer",
          "description": "Target ops read per seconds.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment.",
      "id": "DiskUtilization"
    },
    "UrlDispatchRule": {
      "description": "Rules to match an HTTP request and dispatch that request to a service.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Pathname within the host. Must start with a \"/\". A single \"*\" can be included at the end of the path.The sum of the lengths of the domain and path may not exceed 100 characters.",
          "type": "string"
        },
        "service": {
          "description": "Resource ID of a service in this application that should serve the matched request. The service must already exist. Example: default.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain name to match against. The wildcard \"*\" is supported if specified before a period: \"*.\".Defaults to matching all domains: \"*\"."
        }
      },
      "id": "UrlDispatchRule"
    },
    "DebugInstanceRequest": {
      "id": "DebugInstanceRequest",
      "properties": {
        "sshKey": {
          "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
          "type": "string"
        }
      },
      "description": "Request message for Instances.DebugInstance.",
      "type": "object"
    },
    "Volume": {
      "description": "Volumes mounted within the app container. Only applicable in the App Engine flexible environment.",
      "properties": {
        "volumeType": {
          "type": "string",
          "description": "Underlying volume type, e.g. 'tmpfs'."
        },
        "sizeGb": {
          "type": "number",
          "description": "Volume size in gigabytes.",
          "format": "double"
        },
        "name": {
          "description": "Unique name for the volume.",
          "type": "string"
        }
      },
      "id": "Volume",
      "type": "object"
    },
    "UrlMap": {
      "type": "object",
      "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
      "properties": {
        "script": {
          "description": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\".",
          "$ref": "ScriptHandler"
        },
        "authFailAction": {
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ]
        },
        "securityLevel": {
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "description": "Security (HTTPS) enforcement for this URL.",
          "type": "string"
        },
        "login": {
          "description": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment.",
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "type": "string",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ]
        },
        "apiEndpoint": {
          "$ref": "ApiEndpointHandler",
          "description": "Uses API Endpoints to handle requests."
        },
        "staticFiles": {
          "$ref": "StaticFilesHandler",
          "description": "Returns the contents of a file, such as an image, as the response."
        },
        "urlRegex": {
          "type": "string",
          "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path."
        },
        "redirectHttpResponseCode": {
          "type": "string",
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ],
          "enumDescriptions": [
            "Not specified. 302 is assumed.",
            "301 Moved Permanently code.",
            "302 Moved Temporarily code.",
            "303 See Other code.",
            "307 Temporary Redirect code."
          ],
          "description": "30x code to use when performing redirects for the secure field. Defaults to 302."
        }
      },
      "id": "UrlMap"
    },
    "Service": {
      "type": "object",
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
      "properties": {
        "id": {
          "description": "Relative name of the service within the application. Example: default.@OutputOnly",
          "type": "string"
        },
        "name": {
          "description": "Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "split": {
          "$ref": "TrafficSplit",
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service."
        },
        "networkSettings": {
          "$ref": "NetworkSettings",
          "description": "Ingress settings for this service. Will apply to all versions."
        }
      },
      "id": "Service"
    },
    "CreateVersionMetadataV1": {
      "type": "object",
      "id": "CreateVersionMetadataV1",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest."
    },
    "VpcAccessConnector": {
      "type": "object",
      "id": "VpcAccessConnector",
      "properties": {
        "name": {
          "description": "Full Serverless VPC Access Connector name e.g. /projects/my-project/locations/us-central1/connectors/c1.",
          "type": "string"
        }
      },
      "description": "VPC access connector specification."
    },
    "ListAuthorizedCertificatesResponse": {
      "properties": {
        "certificates": {
          "items": {
            "$ref": "AuthorizedCertificate"
          },
          "type": "array",
          "description": "The SSL certificates the user is authorized to administer."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "type": "object",
      "id": "ListAuthorizedCertificatesResponse"
    },
    "BatchUpdateIngressRulesRequest": {
      "description": "Request message for Firewall.BatchUpdateIngressRules.",
      "id": "BatchUpdateIngressRulesRequest",
      "type": "object",
      "properties": {
        "ingressRules": {
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "A list of FirewallRules to replace the existing set.",
          "type": "array"
        }
      }
    },
    "ManualScaling": {
      "type": "object",
      "properties": {
        "instances": {
          "format": "int32",
          "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function.",
          "type": "integer"
        }
      },
      "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
      "id": "ManualScaling"
    },
    "HealthCheck": {
      "type": "object",
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "properties": {
        "restartThreshold": {
          "description": "Number of consecutive failed health checks required before an instance is restarted.",
          "format": "uint32",
          "type": "integer"
        },
        "unhealthyThreshold": {
          "type": "integer",
          "description": "Number of consecutive failed health checks required before removing traffic.",
          "format": "uint32"
        },
        "disableHealthCheck": {
          "type": "boolean",
          "description": "Whether to explicitly disable health checks for this instance."
        },
        "host": {
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "timeout": {
          "description": "Time before the health check is considered failed.",
          "type": "string",
          "format": "google-duration"
        },
        "checkInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Interval between health checks."
        },
        "healthyThreshold": {
          "type": "integer",
          "description": "Number of consecutive successful health checks required before receiving traffic.",
          "format": "uint32"
        }
      },
      "id": "HealthCheck"
    },
    "OperationMetadataV1Beta": {
      "type": "object",
      "id": "OperationMetadataV1Beta",
      "properties": {
        "warning": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "ContainerInfo": {
      "type": "object",
      "id": "ContainerInfo",
      "description": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
      "properties": {
        "image": {
          "type": "string",
          "description": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\""
        }
      }
    },
    "AuthorizedDomain": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com."
        },
        "name": {
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly",
          "type": "string"
        }
      },
      "id": "AuthorizedDomain",
      "type": "object",
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Webmaster Central (https://www.google.com/webmasters/verification/home)."
    },
    "BatchUpdateIngressRulesResponse": {
      "type": "object",
      "id": "BatchUpdateIngressRulesResponse",
      "description": "Response message for Firewall.UpdateAllIngressRules.",
      "properties": {
        "ingressRules": {
          "type": "array",
          "description": "The full list of ingress FirewallRules for this application.",
          "items": {
            "$ref": "FirewallRule"
          }
        }
      }
    },
    "OperationMetadataV1Alpha": {
      "type": "object",
      "id": "OperationMetadataV1Alpha",
      "properties": {
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "warning": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "Application": {
      "properties": {
        "authDomain": {
          "type": "string",
          "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account."
        },
        "locationId": {
          "description": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations).",
          "type": "string"
        },
        "iap": {
          "$ref": "IdentityAwareProxy"
        },
        "defaultCookieExpiration": {
          "description": "Cookie expiration policy for this application.",
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "description": "Full path to the Application resource in the API. Example: apps/myapp.@OutputOnly",
          "type": "string"
        },
        "featureSettings": {
          "$ref": "FeatureSettings",
          "description": "The feature specific settings to be used in the application."
        },
        "defaultBucket": {
          "description": "Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly",
          "type": "string"
        },
        "defaultHostname": {
          "type": "string",
          "description": "Hostname used to reach this application, as resolved by App Engine.@OutputOnly"
        },
        "gcrDomain": {
          "type": "string",
          "description": "The Google Container Registry domain used for storing managed build docker images for this application."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp."
        },
        "dispatchRules": {
          "type": "array",
          "items": {
            "$ref": "UrlDispatchRule"
          },
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported."
        },
        "databaseType": {
          "enumDescriptions": [
            "Database type is unspecified.",
            "Cloud Datastore",
            "Cloud Firestore Native",
            "Cloud Firestore in Datastore Mode"
          ],
          "type": "string",
          "description": "The type of the Cloud Firestore or Cloud Datastore database associated with this application.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "CLOUD_DATASTORE",
            "CLOUD_FIRESTORE",
            "CLOUD_DATASTORE_COMPATIBILITY"
          ]
        },
        "codeBucket": {
          "type": "string",
          "description": "Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly"
        },
        "servingStatus": {
          "enumDescriptions": [
            "Serving status is unspecified.",
            "Application is serving.",
            "Application has been disabled by the user.",
            "Application has been disabled by the system."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SERVING",
            "USER_DISABLED",
            "SYSTEM_DISABLED"
          ],
          "description": "Serving status of this application."
        }
      },
      "description": "An Application resource contains the top-level configuration of an App Engine application.",
      "type": "object",
      "id": "Application"
    },
    "ApiEndpointHandler": {
      "id": "ApiEndpointHandler",
      "description": "Uses Google Cloud Endpoints to handle requests.",
      "type": "object",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      }
    },
    "EndpointsApiService": {
      "id": "EndpointsApiService",
      "type": "object",
      "description": "Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\""
        },
        "rolloutStrategy": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ],
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ],
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted."
        },
        "configId": {
          "type": "string",
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted."
        },
        "disableTraceSampling": {
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
          "type": "boolean"
        }
      }
    }
  },
  "resources": {
    "apps": {
      "methods": {
        "repair": {
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account. If you have deleted your App Engine service account, this will not be able to recreate it. Instead, you should attempt to use the IAM undelete API if possible at https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts/undelete?apix_params=%7B\"name\"%3A\"projects%2F-%2FserviceAccounts%2Funique_id\"%2C\"resource\"%3A%7B%7D%7D . If the deletion was recent, the numeric ID can be found in the Cloud Console Activity Log.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "appsId"
          ],
          "parameters": {
            "appsId": {
[...]
