{
  "discoveryVersion": "v1",
  "servicePath": "bigquery/v2/",
  "version": "v2",
  "documentationLink": "https://cloud.google.com/bigquery/",
  "ownerName": "Google",
  "basePath": "/bigquery/v2/",
  "revision": "20210104",
  "protocol": "rest",
  "title": "BigQuery API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery.readonly": {
          "description": "View your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        }
      }
    }
  },
  "name": "bigquery",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json"
      ],
      "description": "Data format for the response."
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "description": "A data platform for customers to create, manage, share and query data.",
  "kind": "discovery#restDescription",
  "batchPath": "batch/bigquery/v2",
  "resources": {
    "tables": {
      "methods": {
        "insert": {
          "description": "Creates a new, empty table in the dataset.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "request": {
            "$ref": "Table"
          },
          "id": "bigquery.tables.insert",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Project ID of the new table",
              "type": "string",
              "required": true
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the new table"
            }
          },
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "patch": {
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "response": {
            "$ref": "Table"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.patch",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "request": {
            "$ref": "Table"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the table to update",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Dataset ID of the table to update"
            },
            "tableId": {
              "description": "Table ID of the table to update",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PATCH"
        },
        "getIamPolicy": {
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:getIamPolicy",
          "httpMethod": "POST",
          "id": "bigquery.tables.getIamPolicy",
          "path": "{+resource}:getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field."
            }
          }
        },
        "get": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "id": "bigquery.tables.get",
          "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "parameters": {
            "selectedFields": {
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
              "location": "query",
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Dataset ID of the requested table",
              "location": "path"
            },
            "projectId": {
              "location": "path",
              "description": "Project ID of the requested table",
              "type": "string",
              "required": true
            },
            "tableId": {
              "location": "path",
              "type": "string",
              "description": "Table ID of the requested table",
              "required": true
            }
          },
          "response": {
            "$ref": "Table"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "list": {
          "path": "projects/{projectId}/datasets/{datasetId}/tables",
          "response": {
            "$ref": "TableList"
          },
          "id": "bigquery.tables.list",
          "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the tables to list",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "Maximum number of results to return"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results",
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "description": "Dataset ID of the tables to list",
              "location": "path"
            }
          }
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "path": "{+resource}:testIamPermissions",
          "id": "bigquery.tables.testIamPermissions"
        },
        "update": {
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the table to update"
            },
            "datasetId": {
              "location": "path",
              "type": "string",
              "description": "Dataset ID of the table to update",
              "required": true
            },
            "tableId": {
              "location": "path",
              "description": "Table ID of the table to update",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Table"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
          "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Table"
          },
          "httpMethod": "PUT",
          "id": "bigquery.tables.update",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.tables.delete",
          "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "description": "Project ID of the table to delete",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "location": "path",
              "description": "Table ID of the table to delete",
              "required": true
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Dataset ID of the table to delete",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}"
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}:setIamPolicy",
          "parameters": {
            "resource": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$"
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "id": "bigquery.tables.setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "{+resource}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "response": {
            "$ref": "Policy"
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "update": {
          "path": "projects/{projectId}/datasets/{datasetId}",
          "id": "bigquery.datasets.update",
          "response": {
            "$ref": "Dataset"
          },
          "request": {
            "$ref": "Dataset"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "description": "Project ID of the dataset being updated",
              "type": "string"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Dataset ID of the dataset being updated"
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "PUT",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the dataset being deleted",
              "location": "path"
            },
            "deleteContents": {
              "location": "query",
              "type": "boolean",
              "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False"
            },
            "datasetId": {
              "location": "path",
              "description": "Dataset ID of dataset being deleted",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
          "id": "bigquery.datasets.delete",
          "httpMethod": "DELETE",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ]
        },
        "insert": {
          "request": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Creates a new empty dataset.",
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the new dataset"
            }
          },
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "bigquery.datasets.insert"
        },
        "list": {
          "httpMethod": "GET",
          "id": "bigquery.datasets.list",
          "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "DatasetList"
          },
          "parameters": {
            "filter": {
              "type": "string",
              "description": "An expression for filtering the results of the request by label. The syntax is \"labels.\u003cname\u003e[:\u003cvalue\u003e]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of results to return",
              "location": "query"
            },
            "all": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to list all datasets, including hidden ones"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "Project ID of the datasets to be listed",
              "location": "path"
            }
          },
          "path": "projects/{projectId}/datasets"
        },
        "get": {
          "id": "bigquery.datasets.get",
          "response": {
            "$ref": "Dataset"
          },
          "path": "projects/{projectId}/datasets/{datasetId}",
          "description": "Returns the dataset specified by datasetID.",
          "parameters": {
            "datasetId": {
              "description": "Dataset ID of the requested dataset",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the requested dataset",
              "required": true
            }
          },
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "patch": {
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Dataset ID of the dataset being updated",
              "location": "path",
              "type": "string"
            },
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the dataset being updated",
              "required": true
            }
          },
          "id": "bigquery.datasets.patch",
          "path": "projects/{projectId}/datasets/{datasetId}",
          "request": {
            "$ref": "Dataset"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "response": {
            "$ref": "Dataset"
          },
          "httpMethod": "PATCH",
          "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics."
        }
      }
    },
    "tabledata": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "required": true,
              "location": "path",
              "description": "Dataset ID of the table to read",
              "type": "string"
            },
            "startIndex": {
              "description": "Zero-based index of the starting row to read",
              "format": "uint64",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "required": true,
              "description": "Project ID of the table to read",
              "location": "path",
              "type": "string"
            },
            "selectedFields": {
              "type": "string",
              "location": "query",
              "description": "List of fields to return (comma-separated). If unspecified, all fields are returned"
            },
            "tableId": {
              "description": "Table ID of the table to read",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "description": "Page token, returned by a previous call, identifying the result set",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "Maximum number of results to return",
              "location": "query"
            }
          },
          "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "bigquery.tabledata.list",
          "response": {
            "$ref": "TableDataList"
          }
        },
        "insertAll": {
          "id": "bigquery.tabledata.insertAll",
          "parameters": {
            "datasetId": {
              "type": "string",
              "required": true,
              "description": "Dataset ID of the destination table.",
              "location": "path"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the destination table."
            },
            "tableId": {
              "description": "Table ID of the destination table.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.insertdata",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TableDataInsertAllResponse"
          },
          "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
          "httpMethod": "POST",
          "request": {
            "$ref": "TableDataInsertAllRequest"
          },
          "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ]
        }
      }
    },
    "models": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "description": "Deletes the model specified by modelId from the dataset.",
          "id": "bigquery.models.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "modelId": {
              "required": true,
              "description": "Required. Model ID of the model to delete.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "description": "Required. Project ID of the model to delete.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "datasetId": {
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the model to delete.",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}"
        },
        "list": {
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "description": "Lists all models in the specified dataset. Requires the READER dataset role.",
          "response": {
            "$ref": "ListModelsResponse"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models",
          "path": "projects/{+projectId}/datasets/{+datasetId}/models",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "bigquery.models.list",
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the models to list.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the models to list.",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call to request the next page of results"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "Model"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "request": {
            "$ref": "Model"
          },
          "parameters": {
            "modelId": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Model ID of the model to patch."
            },
            "projectId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Project ID of the model to patch.",
              "type": "string"
            },
            "datasetId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the model to patch.",
              "pattern": "^[^/]+$"
            }
          },
          "id": "bigquery.models.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "description": "Patch specific fields in the specified model."
        },
        "get": {
          "description": "Gets the specified model resource by model ID.",
          "response": {
            "$ref": "Model"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "modelId"
          ],
          "id": "bigquery.models.get",
          "parameters": {
            "projectId": {
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested model.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "datasetId": {
              "type": "string",
              "description": "Required. Dataset ID of the requested model.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "modelId": {
              "description": "Required. Model ID of the requested model.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/models/{modelsId}"
        }
      }
    },
    "jobs": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "bigquery.jobs.list",
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "JobList"
          },
          "path": "projects/{projectId}/jobs",
          "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of results to return",
              "type": "integer",
              "location": "query"
            },
            "minCreationTime": {
              "type": "string",
              "format": "uint64",
              "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
              "location": "query"
            },
            "parentJobId": {
              "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "description": "Project ID of the jobs to list",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "allUsers": {
              "description": "Whether to display jobs owned by all users in the project. Default false",
              "location": "query",
              "type": "boolean"
            },
            "projection": {
              "type": "string",
              "enum": [
                "full",
                "minimal"
              ],
              "location": "query",
              "enumDescriptions": [
                "Includes all job data",
                "Does not include the job configuration"
              ],
              "description": "Restrict information returned to a set of selected fields"
            },
            "maxCreationTime": {
              "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
              "format": "uint64",
              "type": "string",
              "location": "query"
            },
            "stateFilter": {
              "type": "string",
              "enum": [
                "done",
                "pending",
                "running"
              ],
              "enumDescriptions": [
                "Finished jobs",
                "Pending jobs",
                "Running jobs"
              ],
              "description": "Filter for job state",
              "location": "query",
              "repeated": true
            }
          }
        },
        "query": {
          "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
          "parameters": {
            "projectId": {
              "description": "Project ID of the project billed for the query",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "bigquery.jobs.query",
          "response": {
            "$ref": "QueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "QueryRequest"
          },
          "path": "projects/{projectId}/queries",
          "httpMethod": "POST"
        },
        "getQueryResults": {
          "response": {
            "$ref": "GetQueryResultsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "description": "Retrieves the results of a query job.",
          "path": "projects/{projectId}/queries/{jobId}",
          "httpMethod": "GET",
          "id": "bigquery.jobs.getQueryResults",
          "parameters": {
            "timeoutMs": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "jobId": {
              "required": true,
              "description": "[Required] Job ID of the query job",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "description": "Maximum number of results to read",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "projectId": {
              "location": "path",
              "description": "[Required] Project ID of the query job",
              "type": "string",
              "required": true
            },
            "location": {
              "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
              "type": "string",
              "location": "query"
            },
            "startIndex": {
              "location": "query",
              "type": "string",
              "description": "Zero-based index of the starting row",
              "format": "uint64"
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Job"
          },
          "id": "bigquery.jobs.insert",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
              },
              "simple": {
                "path": "/upload/bigquery/v2/projects/{projectId}/jobs",
                "multipart": true
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/devstorage.full_control",
            "https://www.googleapis.com/auth/devstorage.read_only",
            "https://www.googleapis.com/auth/devstorage.read_write"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "description": "Project ID of the project that will be billed for the job",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs",
          "description": "Starts a new asynchronous job. Requires the Can View project role."
        },
        "get": {
          "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
          "id": "bigquery.jobs.get",
          "response": {
            "$ref": "Job"
          },
          "path": "projects/{projectId}/jobs/{jobId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "jobId": {
              "description": "[Required] Job ID of the requested job",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "[Required] Project ID of the requested job"
            },
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            }
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ],
          "httpMethod": "GET"
        },
        "cancel": {
          "httpMethod": "POST",
          "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "projects/{projectId}/jobs/{jobId}/cancel",
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
            },
            "projectId": {
              "required": true,
              "description": "[Required] Project ID of the job to cancel",
              "location": "path",
              "type": "string"
            },
            "jobId": {
              "location": "path",
              "required": true,
              "description": "[Required] Job ID of the job to cancel",
              "type": "string"
            }
          },
          "id": "bigquery.jobs.cancel",
          "response": {
            "$ref": "JobCancelResponse"
          },
          "parameterOrder": [
            "projectId",
            "jobId"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "description": "Lists all projects to which you have been granted any project role.",
          "path": "projects",
          "response": {
            "$ref": "ProjectList"
          },
          "parameters": {
            "pageToken": {
              "description": "Page token, returned by a previous call, to request the next page of results",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return",
              "format": "uint32"
            }
          },
          "id": "bigquery.projects.list",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET"
        },
        "getServiceAccount": {
          "parameterOrder": [
            "projectId"
          ],
          "response": {
            "$ref": "GetServiceAccountResponse"
          },
          "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
          "httpMethod": "GET",
          "path": "projects/{projectId}/serviceAccount",
          "parameters": {
            "projectId": {
              "description": "Project ID for which the service account is requested.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "bigquery.projects.getServiceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "routines": {
      "methods": {
        "delete": {
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameters": {
            "datasetId": {
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the routine to delete",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projectId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Project ID of the routine to delete"
            },
            "routineId": {
              "type": "string",
              "location": "path",
              "description": "Required. Routine ID of the routine to delete",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "description": "Deletes the routine specified by routineId from the dataset.",
          "id": "bigquery.routines.delete"
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates information in an existing routine. The update method replaces the entire Routine resource.",
          "response": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the routine to update"
            },
            "routineId": {
              "description": "Required. Routine ID of the routine to update",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "datasetId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dataset ID of the routine to update",
              "type": "string"
            }
          },
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "id": "bigquery.routines.update",
          "request": {
            "$ref": "Routine"
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}"
        },
        "list": {
          "id": "bigquery.routines.list",
          "response": {
            "$ref": "ListRoutinesResponse"
          },
          "parameters": {
            "datasetId": {
              "description": "Required. Dataset ID of the routines to list",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "If set, then only the Routine fields in the field mask, as well as project_id, dataset_id and routine_id, are returned in the response. If unset, then the following Routine fields are returned: etag, project_id, dataset_id, routine_id, routine_type, creation_time, last_modified_time, and language.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token, returned by a previous call, to request the next page of results"
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Project ID of the routines to list",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "If set, then only the Routines matching this filter are returned. The current supported form is either \"routine_type:\" or \"routineType:\", where is a RoutineType enum. Example: \"routineType:SCALAR_FUNCTION\"."
            }
          },
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "description": "Lists all routines in the specified dataset. Requires the READER dataset role."
        },
        "insert": {
          "description": "Creates a new routine in the dataset.",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines",
          "parameterOrder": [
            "projectId",
            "datasetId"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. Project ID of the new routine",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            },
            "datasetId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Dataset ID of the new routine",
              "required": true
            }
          },
          "response": {
            "$ref": "Routine"
          },
          "id": "bigquery.routines.insert",
          "request": {
            "$ref": "Routine"
          }
        },
        "get": {
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/routines/{routinesId}",
          "response": {
            "$ref": "Routine"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
          "id": "bigquery.routines.get",
          "description": "Gets the specified routine resource by routine ID.",
          "parameterOrder": [
            "projectId",
            "datasetId",
            "routineId"
          ],
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Project ID of the requested routine"
            },
            "readMask": {
              "description": "If set, only the Routine fields in the field mask are returned in the response. If unset, all Routine fields are returned.",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "routineId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Routine ID of the requested routine"
            },
            "datasetId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Dataset ID of the requested routine",
              "type": "string"
            }
          }
        }
      }
    },
    "rowAccessPolicies": {
      "methods": {
        "getIamPolicy": {
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "path": "{+resource}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "id": "bigquery.rowAccessPolicies.getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:getIamPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$"
            }
          }
        },
        "testIamPermissions": {
          "path": "{+resource}:testIamPermissions",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:testIamPermissions",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true
            }
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "id": "bigquery.rowAccessPolicies.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
        },
        "list": {
          "id": "bigquery.rowAccessPolicies.list",
          "response": {
            "$ref": "ListRowAccessPoliciesResponse"
          },
          "parameterOrder": [
            "projectId",
            "datasetId",
            "tableId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "datasetId": {
              "required": true,
              "description": "Required. Dataset ID of row access policies to list.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token, returned by a previous call, to request the next page of results.",
              "type": "string"
            },
            "tableId": {
              "description": "Required. Table ID of the table to list row access policies.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
            },
            "projectId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Project ID of the row access policies to list.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/bigquery.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "projects/{+projectId}/datasets/{+datasetId}/tables/{+tableId}/rowAccessPolicies",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies",
          "description": "Lists all row access policies on the specified table."
        },
        "setIamPolicy": {
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+/rowAccessPolicies/[^/]+$",
              "required": true,
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
            }
          },
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "flatPath": "projects/{projectsId}/datasets/{datasetsId}/tables/{tablesId}/rowAccessPolicies/{rowAccessPoliciesId}:setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "{+resource}:setIamPolicy",
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "id": "bigquery.rowAccessPolicies.setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/bigquery",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/search-32.gif",
    "x16": "https://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "rootUrl": "https://bigquery.googleapis.com/",
  "schemas": {
    "ModelReference": {
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "[Required] The ID of the dataset containing this model."
        },
        "modelId": {
          "description": "[Required] The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "[Required] The ID of the project containing this model."
        }
      },
      "id": "ModelReference",
      "type": "object"
    },
    "ArimaResult": {
      "properties": {
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "arimaModelInfo": {
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "items": {
            "$ref": "ArimaModelInfo"
          },
          "type": "array"
        }
      },
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results.",
      "type": "object",
      "id": "ArimaResult"
    },
    "QueryParameterValue": {
      "id": "QueryParameterValue",
      "type": "object",
      "properties": {
        "value": {
          "description": "[Optional] The value of this value, if a simple scalar type.",
          "type": "string"
        },
        "arrayValues": {
          "items": {
            "$ref": "QueryParameterValue"
          },
          "type": "array",
          "description": "[Optional] The array values, if this is an array type."
        },
        "structValues": {
          "type": "object",
          "description": "[Optional] The struct field values, in order of the struct type's declaration.",
          "additionalProperties": {
            "$ref": "QueryParameterValue"
          }
        }
      }
    },
    "RowLevelSecurityStatistics": {
      "id": "RowLevelSecurityStatistics",
      "properties": {
        "rowLevelSecurityApplied": {
          "type": "boolean",
          "description": "[Output-only] [Preview] Whether any accessed data was protected by row access policies."
        }
      },
      "type": "object"
    },
    "QueryRequest": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The geographic location where the job should run. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location."
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "format": "int64",
          "type": "string"
        },
        "parameterMode": {
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
          "type": "string"
        },
        "maxResults": {
          "description": "[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.",
          "format": "uint32",
          "type": "integer"
        },
        "preserveNulls": {
          "type": "boolean",
          "description": "[Deprecated] This property is deprecated."
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "type": "boolean",
          "default": "true"
        },
        "connectionProperties": {
          "type": "array",
          "description": "Connection properties.",
          "items": {
            "$ref": "ConnectionProperty"
          }
        },
        "queryParameters": {
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          },
          "description": "Query parameters for Standard SQL queries."
        },
        "requestId": {
          "type": "string",
          "description": "A unique user provided identifier to ensure idempotent behavior for queries. Note that this is different from the job_id. It has the following properties: 1. It is case-sensitive, limited to up to 36 ASCII characters. A UUID is recommended. 2. Read only queries can ignore this token since they are nullipotent by definition. 3. For the purposes of idempotency ensured by the request_id, a request is considered duplicate of another only if they have the same request_id and are actually duplicates. When determining whether a request is a duplicate of the previous request, all parameters in the request that may affect the behavior are considered. For example, query, connection_properties, query_parameters, use_legacy_sql are parameters that affect the result and are considered when determining whether a request is a duplicate, but properties like timeout_ms don't affect the result and are thus not considered. Dry run query requests are never considered duplicate of another request. 4. When a duplicate mutating query request is detected, it returns: a. the results of the mutation if it completes successfully within the timeout. b. the running operation if it is still in progress at the end of the timeout. 5. Its lifetime is limited to 15 minutes. In other words, if two requests are sent with the same request_id, but more than 15 minutes apart, idempotency is not guaranteed."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key."
        },
        "timeoutMs": {
          "type": "integer",
          "description": "[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).",
          "format": "uint32"
        },
        "kind": {
          "default": "bigquery#queryRequest",
          "description": "The resource type of the request.",
          "type": "string"
        },
        "defaultDataset": {
          "$ref": "DatasetReference",
          "description": "[Optional] Specifies the default datasetId and projectId to assume for any unqualified table names in the query. If not set, all table names in the query string must be qualified in the format 'datasetId.tableId'."
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.",
          "default": "true",
          "type": "boolean"
        },
        "query": {
          "annotations": {
            "required": [
              "bigquery.jobs.query"
            ]
          },
          "description": "[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\".",
          "type": "string"
        },
        "dryRun": {
          "description": "[Optional] If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "QueryRequest"
    },
    "ArimaOrder": {
      "properties": {
        "p": {
          "description": "Order of the autoregressive part.",
          "type": "string",
          "format": "int64"
        },
        "q": {
          "type": "string",
          "description": "Order of the moving-average part.",
          "format": "int64"
        },
        "d": {
          "type": "string",
          "format": "int64",
          "description": "Order of the differencing part."
        }
      },
      "description": "Arima order, can be used for both non-seasonal and seasonal parts.",
      "id": "ArimaOrder",
      "type": "object"
    },
    "TableCell": {
      "id": "TableCell",
      "type": "object",
      "properties": {
        "v": {
          "type": "any"
        }
      }
    },
    "ProjectReference": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project."
        }
      },
      "id": "ProjectReference"
    },
    "TableList": {
      "type": "object",
      "properties": {
        "tables": {
          "items": {
            "type": "object",
            "properties": {
              "creationTime": {
                "type": "string",
                "format": "int64",
                "description": "The time when this table was created, in milliseconds since the epoch."
              },
              "type": {
                "type": "string",
                "description": "The type of table. Possible values are: TABLE, VIEW."
              },
              "timePartitioning": {
                "description": "The time-based partitioning specification for this table, if configured.",
                "$ref": "TimePartitioning"
              },
              "clustering": {
                "description": "[Beta] Clustering specification for this table, if configured.",
                "$ref": "Clustering"
              },
              "rangePartitioning": {
                "$ref": "RangePartitioning",
                "description": "The range partitioning specification for this table, if configured."
              },
              "view": {
                "type": "object",
                "properties": {
                  "useLegacySql": {
                    "type": "boolean",
                    "description": "True if view is defined in legacy SQL dialect, false if in standard SQL."
                  }
                },
                "description": "Additional details for a view."
              },
              "friendlyName": {
                "type": "string",
                "description": "The user-friendly name for this table."
              },
              "id": {
                "type": "string",
                "description": "An opaque ID of the table"
              },
              "labels": {
                "description": "The labels associated with this table. You can use these to organize and group your tables.",
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              "kind": {
                "type": "string",
                "default": "bigquery#table",
                "description": "The resource type."
              },
              "expirationTime": {
                "type": "string",
                "format": "int64",
                "description": "[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed."
              },
              "tableReference": {
                "description": "A reference uniquely identifying the table.",
                "$ref": "TableReference"
              }
            }
          },
          "description": "Tables in the requested dataset.",
          "type": "array"
        },
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of tables in the dataset."
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of list.",
          "default": "bigquery#tableList"
        },
        "etag": {
          "description": "A hash of this page of results.",
          "type": "string"
        }
      },
      "id": "TableList"
    },
    "BigtableColumn": {
      "properties": {
        "type": {
          "type": "string",
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels."
        },
        "qualifierEncoded": {
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.",
          "type": "string",
          "format": "byte"
        },
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels."
        },
        "qualifierString": {
          "type": "string"
        },
        "fieldName": {
          "type": "string",
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries."
        },
        "encoding": {
          "type": "string",
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels."
        }
      },
      "type": "object",
      "id": "BigtableColumn"
    },
    "TableDataInsertAllResponse": {
      "type": "object",
      "id": "TableDataInsertAllResponse",
      "properties": {
        "kind": {
          "default": "bigquery#tableDataInsertAllResponse",
          "type": "string",
          "description": "The resource type of the response."
        },
        "insertErrors": {
          "items": {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "$ref": "ErrorProto"
                },
                "description": "Error information for the row indicated by the index property."
              },
              "index": {
                "format": "uint32",
                "description": "The index of the row that error applies to.",
                "type": "integer"
              }
            }
          },
          "type": "array",
          "description": "An array of errors for rows that were not inserted."
        }
      }
    },
    "ModelDefinition": {
      "type": "object",
      "properties": {
        "modelOptions": {
          "type": "object",
          "properties": {
            "lossType": {
              "type": "string"
            },
            "labels": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "modelType": {
              "type": "string"
            }
          },
          "description": "[Output-only, Beta] Model options used for the first training run. These options are immutable for subsequent training runs. Default values are used for any options not specified in the input query."
        },
        "trainingRuns": {
          "items": {
            "$ref": "BqmlTrainingRun"
          },
          "description": "[Output-only, Beta] Information about ml training runs, each training run comprises of multiple iterations and there may be multiple training runs for the model if warm start is used or if a user decides to continue a previously cancelled query.",
          "type": "array"
        }
      },
      "id": "ModelDefinition"
    },
    "QueryResponse": {
      "properties": {
        "pageToken": {
          "description": "A token used for paging results.",
          "type": "string"
        },
        "totalRows": {
          "type": "string",
          "format": "uint64",
          "description": "The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results."
        },
        "rows": {
          "type": "array",
          "description": "An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.",
          "items": {
            "$ref": "TableRow"
          }
        },
        "totalBytesProcessed": {
          "type": "string",
          "description": "The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run.",
          "format": "int64"
        },
        "schema": {
          "description": "The schema of the results. Present only when the query completes successfully.",
          "$ref": "TableSchema"
        },
        "errors": {
          "items": {
            "$ref": "ErrorProto"
          },
          "description": "[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.",
          "type": "array"
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "Reference to the Job that was created to run the query. This field will be present even if the original request timed out, in which case GetQueryResults can be used to read the results once the query has completed. Since this API only returns the first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults)."
        },
        "jobComplete": {
          "type": "boolean",
          "description": "Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available."
        },
        "kind": {
          "type": "string",
          "default": "bigquery#queryResponse",
          "description": "The resource type."
        },
        "cacheHit": {
          "description": "Whether the query result was fetched from the query cache.",
          "type": "boolean"
        },
        "numDmlAffectedRows": {
          "type": "string",
          "format": "int64",
          "description": "[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE."
        }
      },
      "id": "QueryResponse",
      "type": "object"
    },
    "CategoryCount": {
      "description": "Represents the count of a single category within the cluster.",
      "type": "object",
      "id": "CategoryCount",
      "properties": {
        "count": {
          "type": "string",
          "description": "The count of training samples matching the category within the cluster.",
          "format": "int64"
        },
        "category": {
          "type": "string",
          "description": "The name of category."
        }
      }
    },
    "Job": {
      "properties": {
        "user_email": {
          "description": "[Output-only] Email address of the user who ran the job.",
          "type": "string"
        },
        "statistics": {
          "description": "[Output-only] Information about the job, including starting time and ending time of the job.",
          "$ref": "JobStatistics"
        },
        "kind": {
          "default": "bigquery#job",
          "type": "string",
          "description": "[Output-only] The type of the resource."
        },
        "id": {
          "description": "[Output-only] Opaque ID field of the job",
          "type": "string"
        },
        "configuration": {
          "description": "[Required] Describes the job configuration.",
          "$ref": "JobConfiguration"
        },
        "jobReference": {
          "$ref": "JobReference",
          "description": "[Optional] Reference describing the unique-per-user name of the job."
        },
        "etag": {
          "type": "string",
          "description": "[Output-only] A hash of this resource."
        },
        "status": {
          "description": "[Output-only] The status of this job. Examine this value when polling an asynchronous job to see if the job is complete.",
          "$ref": "JobStatus"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output-only] A URL that can be used to access this resource again."
        }
      },
      "type": "object",
      "id": "Job"
    },
    "JobStatistics": {
      "properties": {
        "totalSlotMs": {
          "description": "[Output-only] Slot-milliseconds for the job.",
          "format": "int64",
          "type": "string"
        },
        "query": {
          "description": "[Output-only] Statistics for a query job.",
          "$ref": "JobStatistics2"
        },
        "totalBytesProcessed": {
          "format": "int64",
          "description": "[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.",
          "type": "string"
        },
        "quotaDeferments": {
          "items": {
            "type": "string"
          },
          "description": "[Output-only] Quotas which delayed this job's start time.",
          "type": "array"
        },
        "extract": {
          "description": "[Output-only] Statistics for an extract job.",
          "$ref": "JobStatistics4"
        },
        "startTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE."
        },
        "load": {
          "description": "[Output-only] Statistics for a load job.",
          "$ref": "JobStatistics3"
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs."
        },
        "rowLevelSecurityStatistics": {
          "$ref": "RowLevelSecurityStatistics",
          "description": "[Output-only] [Preview] Statistics for row-level security. Present only for query and extract jobs."
        },
        "numChildJobs": {
          "description": "[Output-only] Number of child jobs executed.",
          "format": "int64",
          "type": "string"
        },
        "parentJobId": {
          "type": "string",
          "description": "[Output-only] If this is a child job, the id of the parent."
        },
        "reservationUsage": {
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "[Output-only] Reservation name or \"unreserved\" for on-demand resources usage."
              },
              "slotMs": {
                "type": "string",
                "format": "int64",
                "description": "[Output-only] Slot-milliseconds the job spent in the given reservation."
              }
            }
          },
          "type": "array",
          "description": "[Output-only] Job resource usage breakdown by reservation."
        },
        "reservation_id": {
          "description": "[Output-only] Name of the primary reservation assigned to this job. Note that this could be different than reservations reported in the reservation usage field if parent reservations were used to execute this job.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.",
          "format": "int64"
        },
        "scriptStatistics": {
          "$ref": "ScriptStatistics",
          "description": "[Output-only] Statistics for a child job of a script."
        },
        "transactionInfoTemplate": {
          "description": "[Output-only] [Alpha] Information of the multi-statement transaction if this job is part of one.",
          "$ref": "TransactionInfo"
        },
        "completionRatio": {
          "type": "number",
          "description": "[TrustedTester] [Output-only] Job progress (0.0 -\u003e 1.0) for LOAD and EXTRACT jobs.",
          "format": "double"
        }
      },
      "id": "JobStatistics",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ClusterInfo": {
      "description": "Information about a single cluster for clustering model.",
      "properties": {
        "centroidId": {
          "type": "string",
          "description": "Centroid id.",
          "format": "int64"
        },
        "clusterSize": {
          "type": "string",
          "format": "int64",
          "description": "Cluster size, the total number of points assigned to the cluster."
        },
        "clusterRadius": {
          "format": "double",
          "type": "number",
          "description": "Cluster radius, the average distance from centroid to each point assigned to the cluster."
        }
      },
      "type": "object",
      "id": "ClusterInfo"
    },
    "RangePartitioning": {
      "id": "RangePartitioning",
      "type": "object",
      "properties": {
        "field": {
          "description": "[TrustedTester] [Required] The table is partitioned by this field. The field must be a top-level NULLABLE/REQUIRED field. The only supported type is INTEGER/INT64.",
          "type": "string"
        },
        "range": {
          "properties": {
            "start": {
              "format": "int64",
              "type": "string",
              "description": "[TrustedTester] [Required] The start of range partitioning, inclusive."
            },
            "interval": {
              "format": "int64",
              "type": "string",
              "description": "[TrustedTester] [Required] The width of each interval."
            },
            "end": {
              "format": "int64",
              "type": "string",
              "description": "[TrustedTester] [Required] The end of range partitioning, exclusive."
            }
          },
          "description": "[TrustedTester] [Required] Defines the ranges for range partitioning.",
          "type": "object"
        }
      }
    },
    "JobStatistics3": {
      "id": "JobStatistics3",
      "type": "object",
      "properties": {
        "badRecords": {
          "type": "string",
          "description": "[Output-only] The number of bad records encountered. Note that if the job has failed because of more bad records encountered than the maximum allowed in the load job configuration, then this number can be less than the total number of bad records present in the input data.",
          "format": "int64"
        },
        "outputBytes": {
          "type": "string",
          "description": "[Output-only] Size of the loaded data in bytes. Note that while a load job is in the running state, this value may change.",
          "format": "int64"
        },
        "inputFileBytes": {
          "description": "[Output-only] Number of bytes of source data in a load job.",
          "type": "string",
          "format": "int64"
        },
        "outputRows": {
          "format": "int64",
          "description": "[Output-only] Number of rows imported in a load job. Note that while an import job is in the running state, this value may change.",
          "type": "string"
        },
        "inputFiles": {
          "format": "int64",
          "description": "[Output-only] Number of source files in a load job.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "BigtableColumnFamily": {
      "properties": {
        "onlyReadLatest": {
          "type": "boolean",
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column."
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it.",
          "type": "string"
        },
        "columns": {
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "items": {
            "$ref": "BigtableColumn"
          },
          "type": "array"
        },
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
[...]
