{
  "batchPath": "batch/calendar/v3",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ],
      "description": "Data format for the response."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/calendar.events": {
          "description": "View and edit events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar.settings.readonly": {
          "description": "View your Calendar settings"
        },
        "https://www.googleapis.com/auth/calendar.events.readonly": {
          "description": "View events on all your calendars"
        },
        "https://www.googleapis.com/auth/calendar": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/calendar.readonly": {
          "description": "See and download any calendar you can access using your Google Calendar"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
  "ownerDomain": "google.com",
  "title": "Calendar API",
  "baseUrl": "https://www.googleapis.com/calendar/v3/",
  "name": "calendar",
  "rootUrl": "https://www.googleapis.com/",
  "description": "Manipulates events and other calendar data.",
  "ownerName": "Google",
  "version": "v3",
  "protocol": "rest",
  "icons": {
    "x32": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-32dp/logo_calendar_2020q4_color_1x_web_32dp.png",
    "x16": "http://fonts.gstatic.com/s/i/productlogos/calendar_2020q4/v8/web-16dp/logo_calendar_2020q4_color_1x_web_16dp.png"
  },
  "resources": {
    "colors": {
      "methods": {
        "get": {
          "description": "Returns the color definitions for calendars and events.",
          "path": "colors",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Colors"
          },
          "id": "calendar.colors.get"
        }
      }
    },
    "acl": {
      "methods": {
        "watch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Watch for changes to ACL resources.",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "parameters": {
            "calendarId": {
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional."
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "calendars/{calendarId}/acl/watch",
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.watch"
        },
        "patch": {
          "id": "calendar.acl.patch",
          "request": {
            "$ref": "AclRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an access control rule. This method supports patch semantics.",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "ruleId": {
              "required": true,
              "description": "ACL rule identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "response": {
            "$ref": "AclRule"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "request": {
            "$ref": "AclRule"
          },
          "description": "Creates an access control rule.",
          "response": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl",
          "httpMethod": "POST",
          "parameters": {
            "sendNotifications": {
              "description": "Whether to send notifications about the calendar sharing change. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "id": "calendar.acl.insert"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.delete",
          "description": "Deletes an access control rule.",
          "httpMethod": "DELETE",
          "parameters": {
            "ruleId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "ACL rule identifier."
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "path": "calendars/{calendarId}/acl",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "maxResults": {
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "syncToken": {
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query"
            },
            "calendarId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "showDeleted": {
              "location": "query",
              "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Acl"
          },
          "id": "calendar.acl.list",
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Returns the rules in the access control list for the calendar."
        },
        "update": {
          "response": {
            "$ref": "AclRule"
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "request": {
            "$ref": "AclRule"
          },
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "parameters": {
            "sendNotifications": {
              "location": "query",
              "description": "Whether to send notifications about the calendar sharing change. Note that there are no notifications on access removal. Optional. The default is True.",
              "type": "boolean"
            },
            "ruleId": {
              "location": "path",
              "description": "ACL rule identifier.",
              "required": true,
              "type": "string"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            }
          },
          "description": "Updates an access control rule.",
          "id": "calendar.acl.update"
        },
        "get": {
          "path": "calendars/{calendarId}/acl/{ruleId}",
          "id": "calendar.acl.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "AclRule"
          },
          "httpMethod": "GET",
          "parameters": {
            "ruleId": {
              "required": true,
              "description": "ACL rule identifier.",
              "type": "string",
              "location": "path"
            },
            "calendarId": {
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "calendarId",
            "ruleId"
          ],
          "description": "Returns an access control rule."
        }
      }
    },
    "calendars": {
      "methods": {
        "clear": {
          "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "required": true
            }
          },
          "id": "calendar.calendars.clear",
          "path": "calendars/{calendarId}/clear",
          "httpMethod": "POST"
        },
        "get": {
          "id": "calendar.calendars.get",
          "description": "Returns metadata for a calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            }
          },
          "path": "calendars/{calendarId}",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Calendar"
          }
        },
        "patch": {
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Calendar"
          },
          "path": "calendars/{calendarId}",
          "request": {
            "$ref": "Calendar"
          },
          "id": "calendar.calendars.patch",
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Updates metadata for a calendar. This method supports patch semantics."
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Creates a secondary calendar.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "response": {
            "$ref": "Calendar"
          },
          "path": "calendars",
          "id": "calendar.calendars.insert",
          "request": {
            "$ref": "Calendar"
          }
        },
        "delete": {
          "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "parameterOrder": [
            "calendarId"
          ],
          "path": "calendars/{calendarId}",
          "httpMethod": "DELETE",
          "id": "calendar.calendars.delete",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            }
          }
        },
        "update": {
          "parameters": {
            "calendarId": {
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates metadata for a calendar.",
          "parameterOrder": [
            "calendarId"
          ],
          "response": {
            "$ref": "Calendar"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendars.update",
          "request": {
            "$ref": "Calendar"
          },
          "path": "calendars/{calendarId}"
        }
      }
    },
    "freebusy": {
      "methods": {
        "query": {
          "id": "calendar.freebusy.query",
          "request": {
            "$ref": "FreeBusyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "path": "freeBusy",
          "description": "Returns free/busy information for a set of calendars.",
          "httpMethod": "POST",
          "response": {
            "$ref": "FreeBusyResponse"
          }
        }
      }
    },
    "settings": {
      "methods": {
        "watch": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "id": "calendar.settings.watch",
          "description": "Watch for changes to Settings resources.",
          "path": "users/me/settings/watch",
          "parameters": {
            "syncToken": {
              "type": "string",
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "pageToken": {
              "location": "query",
              "description": "Token specifying which result page to return. Optional.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "format": "int32"
            }
          },
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "supportsSubscription": true
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "GET",
          "description": "Returns a single user setting.",
          "response": {
            "$ref": "Setting"
          },
          "parameterOrder": [
            "setting"
          ],
          "parameters": {
            "setting": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The id of the user setting."
            }
          },
          "id": "calendar.settings.get",
          "path": "users/me/settings/{setting}"
        },
        "list": {
          "path": "users/me/settings",
          "supportsSubscription": true,
          "description": "Returns all user settings for the authenticated user.",
          "response": {
            "$ref": "Settings"
          },
          "id": "calendar.settings.list",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            }
          }
        }
      }
    },
    "events": {
      "methods": {
        "patch": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Event"
          },
          "description": "Updates an event. This method supports patch semantics.",
          "parameters": {
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "supportsAttachments": {
              "location": "query",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "type": "boolean"
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.)."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "location": "query",
              "format": "int32",
              "maximum": "1",
              "type": "integer",
              "minimum": "0"
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "type": "string"
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "1"
            },
            "eventId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Event identifier."
            }
          },
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "id": "calendar.events.patch",
          "response": {
            "$ref": "Event"
          }
        },
        "delete": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            },
            "sendUpdates": {
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "description": "Guests who should receive notifications about the deletion of the event.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string"
            },
            "eventId": {
              "description": "Event identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the deletion of the event. Note that some emails might still be sent even if you set the value to false. The default is false."
            }
          },
          "description": "Deletes an event.",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ]
        },
        "get": {
          "description": "Returns an event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "httpMethod": "GET",
          "path": "calendars/{calendarId}/events/{eventId}",
          "id": "calendar.events.get",
          "parameters": {
            "maxAttendees": {
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer"
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "eventId": {
              "description": "Event identifier.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "timeZone": {
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query"
            },
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "response": {
            "$ref": "Event"
          }
        },
        "insert": {
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "location": "path"
            },
            "maxAttendees": {
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "sendUpdates": {
              "location": "query",
              "type": "string",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "description": "Whether to send notifications about the creation of the new event. Note that some emails might still be sent. The default is false.",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ]
            },
            "sendNotifications": {
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the new event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "type": "boolean",
              "location": "query"
            },
            "conferenceDataVersion": {
              "minimum": "0",
              "location": "query",
              "type": "integer",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "maximum": "1",
              "format": "int32"
            }
          },
          "request": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "description": "Creates an event.",
          "id": "calendar.events.insert",
          "path": "calendars/{calendarId}/events",
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ]
        },
        "import": {
          "id": "calendar.events.import",
          "parameters": {
            "conferenceDataVersion": {
              "minimum": "0",
              "maximum": "1",
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "supportsAttachments": {
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
              "location": "query"
            },
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar.",
          "request": {
            "$ref": "Event"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "response": {
            "$ref": "Event"
          },
          "path": "calendars/{calendarId}/events/import",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "POST"
        },
        "update": {
          "path": "calendars/{calendarId}/events/{eventId}",
          "description": "Updates an event.",
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "id": "calendar.events.update",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Event"
          },
          "response": {
            "$ref": "Event"
          },
          "parameters": {
            "sendUpdates": {
              "description": "Guests who should receive notifications about the event update (for example, title changes, etc.).",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "enum": [
                "all",
                "externalOnly",
                "none"
              ]
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the event update (for example, description changes, etc.). Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "conferenceDataVersion": {
              "description": "Version number of conference data supported by the API client. Version 0 assumes no conference data support and ignores conference data in the event's body. Version 1 enables support for copying of ConferenceData as well as for creating new conferences using the createRequest field of conferenceData. The default is 0.",
              "location": "query",
              "format": "int32",
              "maximum": "1",
              "type": "integer",
              "minimum": "0"
            },
            "alwaysIncludeEmail": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "calendarId": {
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path"
            },
            "eventId": {
              "required": true,
              "description": "Event identifier.",
              "location": "path",
              "type": "string"
            },
            "supportsAttachments": {
              "location": "query",
              "type": "boolean",
              "description": "Whether API client performing operation supports event attachments. Optional. The default is False."
            },
            "maxAttendees": {
              "minimum": "1",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "location": "query"
            }
          }
        },
        "watch": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "path": "calendars/{calendarId}/events/watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "parameters": {
            "showHiddenInvitations": {
              "type": "boolean",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "location": "query"
            },
            "maxAttendees": {
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "type": "integer",
              "minimum": "1",
              "location": "query"
            },
            "orderBy": {
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "enum": [
                "startTime",
                "updated"
              ],
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
              "location": "query"
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
              "type": "string",
              "location": "query"
            },
            "iCalUID": {
              "location": "query",
              "type": "string",
              "description": "Specifies event ID in the iCalendar format to be included in the response. Optional."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying which result page to return. Optional."
            },
            "privateExtendedProperty": {
              "repeated": true,
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "type": "string",
              "location": "query"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "default": "250",
              "type": "integer",
              "minimum": "1"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
              "location": "query"
            },
            "sharedExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin.",
              "type": "string",
              "location": "query",
              "format": "date-time"
            },
            "alwaysIncludeEmail": {
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query",
              "type": "boolean"
            },
            "timeMin": {
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax.",
              "type": "string",
              "format": "date-time"
            },
            "timeZone": {
              "type": "string",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "location": "query"
            },
            "singleEvents": {
              "type": "boolean",
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "location": "query"
            },
            "updatedMin": {
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
              "type": "string",
              "location": "query",
              "format": "date-time"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "id": "calendar.events.watch",
          "parameterOrder": [
            "calendarId"
          ],
          "description": "Watch for changes to Events resources."
        },
        "instances": {
          "description": "Returns instances of the specified recurring event.",
          "supportsSubscription": true,
          "id": "calendar.events.instances",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId"
          ],
          "response": {
            "$ref": "Events"
          },
          "parameters": {
            "showDeleted": {
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "eventId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Recurring event identifier."
            },
            "timeZone": {
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying which result page to return. Optional.",
              "location": "query"
            },
            "originalStart": {
              "type": "string",
              "location": "query",
              "description": "The original start time of the instance in the result. Optional."
            },
            "maxResults": {
              "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            },
            "timeMax": {
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "format": "date-time",
              "location": "query",
              "type": "string"
            },
            "calendarId": {
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided).",
              "location": "query"
            },
            "timeMin": {
              "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.",
              "type": "string",
              "format": "date-time",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "location": "query",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "calendars/{calendarId}/events/{eventId}/instances",
          "httpMethod": "GET"
        },
        "quickAdd": {
          "description": "Creates an event based on a simple text string.",
          "parameters": {
            "sendUpdates": {
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ],
              "type": "string",
              "description": "Guests who should receive notifications about the creation of the new event.",
              "location": "query"
            },
            "text": {
              "description": "The text describing the event to be created.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "sendNotifications": {
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the creation of the event. Note that some emails might still be sent even if you set the value to false. The default is false.",
              "location": "query"
            },
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "path": "calendars/{calendarId}/events/quickAdd",
          "id": "calendar.events.quickAdd",
          "parameterOrder": [
            "calendarId",
            "text"
          ]
        },
        "move": {
          "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
          "path": "calendars/{calendarId}/events/{eventId}/move",
          "response": {
            "$ref": "Event"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events"
          ],
          "parameterOrder": [
            "calendarId",
            "eventId",
            "destination"
          ],
          "parameters": {
            "eventId": {
              "required": true,
              "description": "Event identifier.",
              "type": "string",
              "location": "path"
            },
            "sendNotifications": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated. Please use sendUpdates instead.\n\nWhether to send notifications about the change of the event's organizer. Note that some emails might still be sent even if you set the value to false. The default is false."
            },
            "destination": {
              "description": "Calendar identifier of the target calendar where the event is to be moved to.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "sendUpdates": {
              "description": "Guests who should receive notifications about the change of the event's organizer.",
              "enum": [
                "all",
                "externalOnly",
                "none"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Notifications are sent to all guests.",
                "Notifications are sent to non-Google Calendar guests only.",
                "No notifications are sent. This value should only be used for migration use cases (note that in most migration cases the import method should be used)."
              ]
            },
            "calendarId": {
              "description": "Calendar identifier of the source calendar where the event currently is on.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "calendar.events.move"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "supportsSubscription": true,
          "path": "calendars/{calendarId}/events",
          "id": "calendar.events.list",
          "response": {
            "$ref": "Events"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "orderBy": {
              "location": "query",
              "enum": [
                "startTime",
                "updated"
              ],
              "enumDescriptions": [
                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                "Order by last modification time (ascending)."
              ],
              "type": "string",
              "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order."
            },
            "timeMin": {
              "format": "date-time",
              "type": "string",
              "location": "query",
              "description": "Lower bound (exclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMax is set, timeMin must be smaller than timeMax."
            },
            "timeMax": {
              "format": "date-time",
              "type": "string",
              "location": "query",
              "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, for example, 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but are ignored. If timeMin is set, timeMax must be greater than timeMin."
            },
            "alwaysIncludeEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated and ignored. A value will always be returned in the email field for the organizer, creator and attendees, even if no real email address is available (i.e. a generated, non-working value will be provided)."
            },
            "sharedExtendedProperty": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints."
            },
            "showHiddenInvitations": {
              "location": "query",
              "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
              "type": "boolean"
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
              "default": "250",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying which result page to return. Optional."
            },
            "timeZone": {
              "location": "query",
              "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
              "type": "string"
            },
            "singleEvents": {
              "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "privateExtendedProperty": {
              "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "updatedMin": {
              "type": "string",
              "location": "query",
              "format": "date-time",
              "description": "Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time."
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string",
              "location": "query"
            },
            "iCalUID": {
              "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False."
            },
            "q": {
              "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
              "type": "string",
              "location": "query"
            },
            "maxAttendees": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "GET",
          "description": "Returns events on the specified calendar."
        }
      }
    },
    "calendarList": {
      "methods": {
        "watch": {
          "parameters": {
            "minAccessRole": {
              "location": "query",
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "type": "string",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ]
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False."
            },
            "showHidden": {
              "description": "Whether to show hidden entries. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "format": "int32",
              "location": "query"
            },
            "syncToken": {
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "description": "Watch for changes to CalendarList resources.",
          "path": "users/me/calendarList/watch",
          "httpMethod": "POST",
          "id": "calendar.calendarList.watch",
          "response": {
            "$ref": "Channel"
          },
          "supportsSubscription": true
        },
        "get": {
          "path": "users/me/calendarList/{calendarId}",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "parameters": {
            "calendarId": {
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "GET",
          "id": "calendar.calendarList.get",
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "description": "Returns a calendar from the user's calendar list."
        },
        "update": {
          "path": "users/me/calendarList/{calendarId}",
          "parameters": {
            "calendarId": {
              "location": "path",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.",
              "required": true,
              "type": "string"
            },
            "colorRgbFormat": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          },
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "parameterOrder": [
            "calendarId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Updates an existing calendar on the user's calendar list."
        },
        "patch": {
          "response": {
            "$ref": "CalendarListEntry"
          },
          "id": "calendar.calendarList.patch",
          "parameterOrder": [
            "calendarId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "calendarId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            },
            "colorRgbFormat": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "path": "users/me/calendarList/{calendarId}",
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Updates an existing calendar on the user's calendar list. This method supports patch semantics."
        },
        "insert": {
          "request": {
            "$ref": "CalendarListEntry"
          },
          "description": "Inserts an existing calendar into the user's calendar list.",
          "path": "users/me/calendarList",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "id": "calendar.calendarList.insert",
          "response": {
            "$ref": "CalendarListEntry"
          },
          "httpMethod": "POST",
          "parameters": {
            "colorRgbFormat": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False."
            }
          }
        },
        "list": {
          "path": "users/me/calendarList",
          "description": "Returns the calendars on the user's calendar list.",
          "id": "calendar.calendarList.list",
          "response": {
            "$ref": "CalendarList"
          },
          "httpMethod": "GET",
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.readonly"
          ],
          "parameters": {
            "showDeleted": {
              "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
              "type": "boolean",
              "location": "query"
            },
            "syncToken": {
              "location": "query",
              "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            },
            "showHidden": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to show hidden entries. Optional. The default is False."
            },
            "minAccessRole": {
              "enum": [
                "freeBusyReader",
                "owner",
                "reader",
                "writer"
              ],
              "type": "string",
              "enumDescriptions": [
                "The user can read free/busy information.",
                "The user can read and modify events and access control lists.",
                "The user can read events that are not private.",
                "The user can read and modify events."
              ],
              "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
              "location": "query"
            },
            "pageToken": {
              "description": "Token specifying which result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "calendarId"
          ],
          "parameters": {
            "calendarId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword."
            }
          },
          "path": "users/me/calendarList/{calendarId}",
          "scopes": [
            "https://www.googleapis.com/auth/calendar"
          ],
          "description": "Removes a calendar from the user's calendar list.",
          "id": "calendar.calendarList.delete"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/calendar",
            "https://www.googleapis.com/auth/calendar.events",
            "https://www.googleapis.com/auth/calendar.events.readonly",
            "https://www.googleapis.com/auth/calendar.readonly",
            "https://www.googleapis.com/auth/calendar.settings.readonly"
          ],
          "description": "Stop watching resources through this channel",
          "path": "channels/stop",
          "id": "calendar.channels.stop",
          "httpMethod": "POST"
        }
      }
    }
  },
  "servicePath": "calendar/v3/",
  "schemas": {
    "Colors": {
      "properties": {
        "kind": {
          "default": "calendar#colors",
          "type": "string",
          "description": "Type of the resource (\"calendar#colors\")."
        },
        "calendar": {
          "description": "A global palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its color field. Read-only.",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "A calendar color defintion."
          },
          "type": "object"
        },
        "updated": {
          "description": "Last modification time of the color palette (as a RFC3339 timestamp). Read-only.",
          "type": "string",
          "format": "date-time"
        },
        "event": {
          "description": "A global palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its color field. Read-only.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ColorDefinition",
            "description": "An event color definition."
          }
        }
      },
      "type": "object",
      "id": "Colors"
    },
    "CalendarList": {
      "properties": {
        "nextSyncToken": {
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the collection.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CalendarListEntry"
          },
          "description": "Calendars that are present on the user's calendar list."
        },
        "kind": {
          "default": "calendar#calendarList",
          "type": "string",
          "description": "Type of the collection (\"calendar#calendarList\")."
        }
      },
      "id": "CalendarList",
      "type": "object"
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "properties": {
        "guestsCanInviteOthers": {
          "default": "true",
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
          "type": "boolean"
        },
        "transparency": {
          "description": "Whether the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\" - Default value. The event does block time on the calendar. This is equivalent to setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does not block time on the calendar. This is equivalent to setting Show me as to Available in the Calendar UI.",
          "type": "string",
          "default": "opaque"
        },
        "anyoneCanAddSelf": {
          "type": "boolean",
          "default": "false",
          "description": "Whether anyone can invite themselves to the event (currently works for Google+ events only). Optional. The default is False."
        },
        "location": {
          "description": "Geographic location of the event as free-form text. Optional.",
          "type": "string"
        },
        "creator": {
          "description": "The creator of the event. Read-only.",
          "properties": {
            "displayName": {
              "description": "The creator's name, if available.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "The creator's Profile ID, if available. It corresponds to the id field in the People collection of the Google+ API"
            },
            "self": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False."
            },
            "email": {
              "description": "The creator's email address, if available.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "visibility": {
          "type": "string",
          "default": "default",
          "description": "Visibility of the event. Optional. Possible values are:  \n- \"default\" - Uses the default visibility for events on the calendar. This is the default value. \n- \"public\" - The event is public and event details are visible to all readers of the calendar. \n- \"private\" - The event is private and only event attendees may view event details. \n- \"confidential\" - The event is private. This value is provided for compatibility reasons."
        },
        "sequence": {
          "type": "integer",
          "description": "Sequence number as per iCalendar.",
          "format": "int32"
        },
        "source": {
          "description": "Source from which the event was created. For example, a web page, an email message or any document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified by the creator of the event.",
          "properties": {
            "title": {
              "description": "Title of the source; for example a title of a web page or an email subject.",
              "type": "string"
            },
            "url": {
              "description": "URL of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "recurringEventId": {
          "type": "string",
          "description": "For an instance of a recurring event, this is the id of the recurring event to which this instance belongs. Immutable."
        },
        "created": {
          "format": "date-time",
          "description": "Creation time of the event (as a RFC3339 timestamp). Read-only.",
          "type": "string"
        },
        "iCalUID": {
          "type": "string",
          "annotations": {
            "required": [
              "calendar.events.import"
            ]
          },
          "description": "Event unique identifier as defined in RFC5545. It is used to uniquely identify events accross calendaring systems and must be supplied when importing events via the import method.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
        },
        "endTimeUnspecified": {
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it will be automatically generated by the server.\nNote that the icalUID and the id are not identical and only one of them should be supplied at event creation time. One difference in their semantics is that in recurring events, all occurrences of one event have different ids while they all share the same icalUIDs."
        },
        "guestsCanModify": {
          "default": "false",
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "type": "boolean"
        },
        "reminders": {
          "properties": {
            "useDefault": {
              "description": "Whether the default reminders of the calendar apply to the event.",
              "type": "boolean"
            },
            "overrides": {
              "description": "If the event doesn't use the default reminders, this lists the reminders specific to the event, or, if not set, indicates that no reminders are set for this event. The maximum number of override reminders is 5.",
              "type": "array",
              "items": {
                "$ref": "EventReminder"
              }
            }
          },
          "type": "object",
          "description": "Information about the event's reminders for the authenticated user."
        },
        "attendees": {
          "items": {
            "$ref": "EventAttendee"
          },
          "type": "array",
          "description": "The attendees of the event. See the Events with attendees guide for more information on scheduling events with other calendar users. Service accounts need to use domain-wide delegation of authority to populate the attendee list."
        },
        "organizer": {
          "type": "object",
          "properties": {
            "displayName": {
              "type": "string",
              "description": "The organizer's name, if available."
            },
            "self": {
              "description": "Whether the organizer corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "type": "boolean",
              "default": "false"
            },
            "id": {
              "description": "The organizer's Profile ID, if available. It corresponds to the id field in the People collection of the Google+ API",
              "type": "string"
            },
            "email": {
              "description": "The organizer's email address, if available. It must be a valid email address as per RFC5322.",
              "type": "string"
            }
          },
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event."
        },
        "extendedProperties": {
          "properties": {
            "private": {
              "additionalProperties": {
                "type": "string",
                "description": "The name of the private property and the corresponding value."
              },
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "type": "object"
            },
            "shared": {
              "additionalProperties": {
                "type": "string",
                "description": "The name of the shared property and the corresponding value."
              },
              "description": "Properties that are shared between copies of the event on other attendees' calendars.",
              "type": "object"
            }
          },
          "description": "Extended properties of the event.",
          "type": "object"
        },
        "originalStartTime": {
          "$ref": "EventDateTime",
          "description": "For an instance of a recurring event, this is the time at which this event would start according to the recurrence data in the recurring event identified by recurringEventId. It uniquely identifies the instance within the recurring event series even if the instance was moved to a different time. Immutable."
        },
        "start": {
          "description": "The (inclusive) start time of the event. For a recurring event, this is the start time of the first instance.",
          "$ref": "EventDateTime",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          }
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "EventAttachment"
          },
          "description": "File attachments for the event. Currently only Google Drive attachments are supported.\nIn order to modify attachments the supportsAttachments request parameter should be set to true.\nThere can be at most 25 attachments per event,"
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the event (as a RFC3339 timestamp). Read-only.",
          "format": "date-time"
        },
        "attendeesOmitted": {
          "default": "false",
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
          "type": "boolean"
        },
        "guestsCanSeeOtherGuests": {
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
          "default": "true",
          "type": "boolean"
        },
        "hangoutLink": {
          "type": "string",
          "description": "An absolute link to the Google+ hangout associated with this event. Read-only."
        },
        "htmlLink": {
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only.",
          "type": "string"
        },
        "summary": {
          "type": "string",
          "description": "Title of the event."
        },
        "colorId": {
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional.",
          "type": "string"
        },
        "locked": {
          "type": "boolean",
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only.",
          "default": "false"
        },
        "kind": {
          "type": "string",
          "default": "calendar#event",
          "description": "Type of the resource (\"calendar#event\")."
        },
        "eventType": {
          "type": "string",
          "description": "Specific type of the event. Read-only. Possible values are:  \n- \"default\" - A regular event or not further specified. \n- \"outOfOffice\" - An out-of-office event.",
          "default": "default"
        },
        "privateCopy": {
          "description": "If set to True, Event propagation is disabled. Note that it is not the same thing as Private event properties. Optional. Immutable. The default is False.",
          "default": "false",
          "type": "boolean"
        },
        "conferenceData": {
          "description": "The conference-related information, such as details of a Google Meet conference. To create new conference details use the createRequest field. To persist your changes, remember to set the conferenceDataVersion request parameter to 1 for all event modification requests.",
          "$ref": "ConferenceData"
        },
        "end": {
          "$ref": "EventDateTime",
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance.",
          "annotations": {
            "required": [
              "calendar.events.import",
              "calendar.events.insert",
              "calendar.events.update"
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the event. Can contain HTML. Optional."
        },
        "recurrence": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event start and end times are specified in the start and end fields. This field is omitted for single events or instances of recurring events."
        },
        "status": {
          "type": "string",
          "description": "Status of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed. This is the default status. \n- \"tentative\" - The event is tentatively confirmed. \n- \"cancelled\" - The event is cancelled (deleted). The list method returns cancelled events only on incremental sync (when syncToken or updatedMin are specified) or if the showDeleted flag is set to true. The get method always returns them.\nA cancelled status represents two different states depending on the event type:  \n- Cancelled exceptions of an uncancelled recurring event indicate that this instance should no longer be presented to the user. Clients should store these events for the lifetime of the parent recurring event.\nCancelled exceptions are only guaranteed to have values for the id, recurringEventId and originalStartTime fields populated. The other fields might be empty.  \n- All other cancelled events represent deleted events. Clients should remove their locally synced copies. Such cancelled events will eventually disappear, so do not rely on them being available indefinitely.\nDeleted events are only guaranteed to have the id field populated.   On the organizer's calendar, cancelled events continue to expose event details (summary, location, etc.) so that they can be restored (undeleted). Similarly, the events to which the user was invited and that they manually removed continue to provide details. However, incremental sync requests with showDeleted set to false will not return these details.\nIf an event changes its organizer (for example via the move operation) and the original organizer is not on the attendee list, it will leave behind a cancelled event where only the id field is guaranteed to be populated."
        },
        "gadget": {
          "type": "object",
          "properties": {
            "preferences": {
              "type": "object",
              "additionalProperties": {
                "description": "The preference name and corresponding value.",
                "type": "string"
              },
              "description": "Preferences."
            },
            "display": {
              "description": "The gadget's display mode. Deprecated. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked.",
              "type": "string"
            },
            "title": {
              "type": "string",
              "description": "The gadget's title. Deprecated."
            },
            "width": {
              "description": "The gadget's width in pixels. The width must be an integer greater than 0. Optional. Deprecated.",
              "format": "int32",
[...]
