{
  "description": "Enables bots to fetch information and perform actions in Google Chat.",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/hangouts/chat",
  "resources": {
    "media": {
      "methods": {
        "download": {
          "description": "Downloads media. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
          "response": {
            "$ref": "Media"
          },
          "id": "chat.media.download",
          "flatPath": "v1/media/{mediaId}",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "parameters": {
            "resourceName": {
              "pattern": "^.*$",
              "required": true,
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1/media/{+resourceName}",
          "parameterOrder": [
            "resourceName"
          ]
        }
      }
    },
    "rooms": {
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Message"
              },
              "path": "v1/{+parent}/messages",
              "parameters": {
                "threadKey": {
                  "type": "string",
                  "location": "query",
                  "description": "Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^rooms/[^/]+/conversations/[^/]+$",
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
                  "type": "string"
                }
              },
              "flatPath": "v1/rooms/{roomsId}/conversations/{conversationsId}/messages",
              "id": "chat.rooms.conversations.messages"
            }
          }
        }
      },
      "methods": {
        "messages": {
          "id": "chat.rooms.messages",
          "httpMethod": "POST",
          "response": {
            "$ref": "Message"
          },
          "path": "v1/{+parent}/messages",
          "flatPath": "v1/rooms/{roomsId}/messages",
          "request": {
            "$ref": "Message"
          },
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "pattern": "^rooms/[^/]+$",
              "required": true
            },
            "threadKey": {
              "description": "Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "webhooks": {
          "response": {
            "$ref": "Message"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "path": "v1/{+parent}/webhooks",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^rooms/[^/]+$",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "type": "string"
            },
            "threadKey": {
              "description": "Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/rooms/{roomsId}/webhooks",
          "request": {
            "$ref": "Message"
          },
          "id": "chat.rooms.webhooks"
        }
      }
    },
    "dms": {
      "resources": {
        "conversations": {
          "methods": {
            "messages": {
              "response": {
                "$ref": "Message"
              },
              "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
              "path": "v1/{+parent}/messages",
              "id": "chat.dms.conversations.messages",
              "httpMethod": "POST",
              "parameters": {
                "threadKey": {
                  "location": "query",
                  "type": "string",
                  "description": "Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
                },
                "parent": {
                  "required": true,
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
                  "location": "path",
                  "pattern": "^dms/[^/]+/conversations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Message"
              },
              "flatPath": "v1/dms/{dmsId}/conversations/{conversationsId}/messages"
            }
          }
        }
      },
      "methods": {
        "webhooks": {
          "response": {
            "$ref": "Message"
          },
          "parameters": {
            "threadKey": {
              "description": "Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "location": "path",
              "type": "string",
              "pattern": "^dms/[^/]+$",
              "required": true
            }
          },
          "path": "v1/{+parent}/webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "id": "chat.dms.webhooks",
          "flatPath": "v1/dms/{dmsId}/webhooks",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "Message"
          },
          "httpMethod": "POST"
        },
        "messages": {
          "path": "v1/{+parent}/messages",
          "request": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^dms/[^/]+$",
              "type": "string",
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "location": "path",
              "required": true
            },
            "threadKey": {
              "description": "Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "flatPath": "v1/dms/{dmsId}/messages",
          "id": "chat.dms.messages",
          "response": {
            "$ref": "Message"
          }
        }
      }
    },
    "spaces": {
      "resources": {
        "members": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "chat.spaces.members.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^spaces/[^/]+$",
                  "description": "Required. The resource name of the space for which membership list is to be fetched, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return."
                }
              },
              "path": "v1/{+parent}/members",
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "flatPath": "v1/spaces/{spacesId}/members",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists human memberships in a space."
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the membership to be retrieved, in the form \"spaces/*/members/*\". Example: spaces/AAAAMpdlehY/members/105115627578887013105"
                }
              },
              "response": {
                "$ref": "Membership"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/spaces/{spacesId}/members/{membersId}",
              "description": "Returns a membership.",
              "id": "chat.spaces.members.get"
            }
          }
        },
        "messages": {
          "methods": {
            "update": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a message.",
              "path": "v1/{+name}",
              "id": "chat.spaces.messages.update",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Message"
              },
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "request": {
                "$ref": "Message"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name, in the form \"spaces/*/messages/*\". Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. The field paths to be updated, comma separated if there are multiple. Currently supported field paths: * text * cards",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the message to be deleted, in the form \"spaces/*/messages/*\" Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Deletes a message.",
              "path": "v1/{+name}",
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "chat.spaces.messages.delete"
            },
            "get": {
              "path": "v1/{+name}",
              "id": "chat.spaces.messages.get",
              "httpMethod": "GET",
              "description": "Returns a message.",
              "response": {
                "$ref": "Message"
              },
              "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the message to be retrieved, in the form \"spaces/*/messages/*\". Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
                  "pattern": "^spaces/[^/]+/messages/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameters": {
                "threadKey": {
                  "location": "query",
                  "type": "string",
                  "description": "Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
                },
                "parent": {
                  "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^spaces/[^/]+$"
                }
              },
              "flatPath": "v1/spaces/{spacesId}/messages",
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/messages",
              "request": {
                "$ref": "Message"
              },
              "description": "Creates a message.",
              "id": "chat.spaces.messages.create"
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the metadata of a message attachment. The attachment data is fetched using the media API.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^spaces/[^/]+/messages/[^/]+/attachments/[^/]+$",
                      "location": "path",
                      "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\".",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Attachment"
                  },
                  "id": "chat.spaces.messages.attachments.get",
                  "flatPath": "v1/spaces/{spacesId}/messages/{messagesId}/attachments/{attachmentsId}"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "Space"
          },
          "flatPath": "v1/spaces/{spacesId}",
          "path": "v1/{+name}",
          "id": "chat.spaces.get",
          "httpMethod": "GET",
          "description": "Returns a space.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "webhooks": {
          "path": "v1/{+parent}/webhooks",
          "response": {
            "$ref": "Message"
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "chat.spaces.webhooks",
          "description": "Legacy path for creating message. Calling these will result in a BadRequest response.",
          "httpMethod": "POST",
          "flatPath": "v1/spaces/{spacesId}/webhooks",
          "request": {
            "$ref": "Message"
          },
          "parameters": {
            "threadKey": {
              "type": "string",
              "location": "query",
              "description": "Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message."
            },
            "parent": {
              "required": true,
              "description": "Required. Space resource name, in the form \"spaces/*\". Example: spaces/AAAAMpdlehY",
              "location": "path",
              "type": "string",
              "pattern": "^spaces/[^/]+$"
            }
          }
        },
        "list": {
          "id": "chat.spaces.list",
          "path": "v1/spaces",
          "response": {
            "$ref": "ListSpacesResponse"
          },
          "flatPath": "v1/spaces",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100.",
              "location": "query"
            }
          },
          "description": "Lists spaces the caller is a member of.",
          "parameterOrder": []
        }
      }
    }
  },
  "baseUrl": "https://chat.googleapis.com/",
  "title": "Google Chat API",
  "servicePath": "",
  "canonicalName": "Hangouts Chat",
  "rootUrl": "https://chat.googleapis.com/",
  "name": "chat",
  "basePath": "",
  "protocol": "rest",
  "id": "chat:v1",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "ActionParameter": {
      "type": "object",
      "description": "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters.",
      "properties": {
        "value": {
          "description": "The value of the parameter.",
          "type": "string"
        },
        "key": {
          "description": "The name of the parameter for the action script.",
          "type": "string"
        }
      },
      "id": "ActionParameter"
    },
    "Annotation": {
      "description": "Annotations associated with the plain-text body of the message. Example plain-text message body: ``` Hello @FooBot how are you!\" ``` The corresponding annotations metadata: ``` \"annotations\":[{ \"type\":\"USER_MENTION\", \"startIndex\":6, \"length\":7, \"userMention\": { \"user\": { \"name\":\"users/107946847022116401880\", \"displayName\":\"FooBot\", \"avatarUrl\":\"https://goo.gl/aeDtrS\", \"type\":\"BOT\" }, \"type\":\"MENTION\" } }] ```",
      "type": "object",
      "properties": {
        "length": {
          "type": "integer",
          "description": "Length of the substring in the plain-text message body this annotation corresponds to.",
          "format": "int32"
        },
        "userMention": {
          "description": "The metadata of user mention.",
          "$ref": "UserMentionMetadata"
        },
        "slashCommand": {
          "$ref": "SlashCommandMetadata",
          "description": "The metadata for a slash command."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Start index (0-based, inclusive) in the plain-text message body this annotation corresponds to."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A user is mentioned.",
            "A slash command is invoked."
          ],
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "USER_MENTION",
            "SLASH_COMMAND"
          ],
          "description": "The type of this annotation."
        }
      },
      "id": "Annotation"
    },
    "UserMentionMetadata": {
      "properties": {
        "user": {
          "description": "The user mentioned.",
          "$ref": "User"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "MENTION"
          ],
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add user to space.",
            "Mention user in space."
          ],
          "description": "The type of user mention."
        }
      },
      "id": "UserMentionMetadata",
      "type": "object",
      "description": "Annotation metadata for user mentions (@)."
    },
    "AttachmentDataRef": {
      "id": "AttachmentDataRef",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The resource name of the attachment data. This is used with the media API to download the attachment data."
        }
      },
      "type": "object",
      "description": "A reference to the data of an attachment."
    },
    "FormAction": {
      "description": "A form action describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.",
      "id": "FormAction",
      "properties": {
        "actionMethodName": {
          "description": "The method name is used to identify which part of the form triggered the form submission. This information is echoed back to the bot as part of the card click event. The same method name can be used for several elements that trigger a common behavior if desired.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ActionParameter"
          },
          "description": "List of action parameters."
        }
      },
      "type": "object"
    },
    "CardHeader": {
      "type": "object",
      "properties": {
        "imageStyle": {
          "description": "The image's type (e.g. square border or circular border).",
          "enum": [
            "IMAGE_STYLE_UNSPECIFIED",
            "IMAGE",
            "AVATAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Square border.",
            "Circular border."
          ]
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image in the card header."
        },
        "title": {
          "description": "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each will take up 1 line. If only the title is specified, it will take up both lines.",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the card header."
        }
      },
      "id": "CardHeader"
    },
    "OnClick": {
      "type": "object",
      "properties": {
        "action": {
          "description": "A form action will be triggered by this onclick if specified.",
          "$ref": "FormAction"
        },
        "openLink": {
          "$ref": "OpenLink",
          "description": "This onclick triggers an open link action if specified."
        }
      },
      "description": "An onclick action (e.g. open a link).",
      "id": "OnClick"
    },
    "WidgetMarkup": {
      "properties": {
        "image": {
          "description": "Display an image in this widget.",
          "$ref": "Image"
        },
        "keyValue": {
          "$ref": "KeyValue",
          "description": "Display a key value item in this widget."
        },
        "buttons": {
          "items": {
            "$ref": "Button"
          },
          "type": "array",
          "description": "A list of buttons. Buttons is also oneof data and only one of these fields should be set."
        },
        "textParagraph": {
          "$ref": "TextParagraph",
          "description": "Display a text paragraph in this widget."
        }
      },
      "description": "A widget is a UI element that presents texts, images, etc.",
      "type": "object",
      "id": "WidgetMarkup"
    },
    "KeyValue": {
      "properties": {
        "contentMultiline": {
          "description": "If the content should be multiline.",
          "type": "boolean"
        },
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action. Only the top label, bottom label and content region are clickable."
        },
        "bottomLabel": {
          "type": "string",
          "description": "The text of the bottom label. Formatted text supported."
        },
        "icon": {
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "type": "string",
          "description": "An enum value that will be replaced by the Chat API with the corresponding icon image.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "iconUrl": {
          "description": "The icon specified by a URL.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The text of the content. Formatted text supported and always required."
        },
        "topLabel": {
          "type": "string",
          "description": "The text of the top label. Formatted text supported."
        },
        "button": {
          "description": "A button that can be clicked to trigger an action.",
          "$ref": "Button"
        }
      },
      "id": "KeyValue",
      "description": "A UI element contains a key (label) and a value (content). And this element may also contain some actions such as onclick button.",
      "type": "object"
    },
    "Attachment": {
      "description": "An attachment in Hangouts Chat.",
      "type": "object",
      "id": "Attachment",
      "properties": {
        "attachmentDataRef": {
          "description": "A reference to the attachment data. This is used with the media API to download the attachment data.",
          "$ref": "AttachmentDataRef"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the attachment, in the form \"spaces/*/messages/*/attachments/*\"."
        },
        "contentType": {
          "description": "The content type (MIME type) of the file.",
          "type": "string"
        },
        "thumbnailUri": {
          "description": "Output only. The thumbnail URL which should be used to preview the attachment to a human user. Bots should not use this URL to download attachment content.",
          "type": "string"
        },
        "driveDataRef": {
          "description": "A reference to the drive attachment. This is used with the Drive API.",
          "$ref": "DriveDataRef"
        },
        "source": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DRIVE_FILE",
            "UPLOADED_CONTENT"
          ],
          "description": "The source of the attachment."
        },
        "contentName": {
          "description": "The original file name for the content, not the full path.",
          "type": "string"
        },
        "downloadUri": {
          "type": "string",
          "description": "Output only. The download URL which should be used to allow a human user to download the attachment. Bots should not use this URL to download attachment content."
        }
      }
    },
    "SlashCommandMetadata": {
      "type": "object",
      "description": "Annotation metadata for slash commands (/).",
      "properties": {
        "type": {
          "description": "The type of slash command.",
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Add bot to space.",
            "Invoke slash command in space."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADD",
            "INVOKE"
          ]
        },
        "bot": {
          "$ref": "User",
          "description": "The bot whose command was invoked."
        },
        "commandName": {
          "description": "The name of the invoked slash command.",
          "type": "string"
        },
        "triggersDialog": {
          "description": "Indicating whether the slash command is for a dialog.",
          "type": "boolean"
        },
        "commandId": {
          "format": "int64",
          "type": "string",
          "description": "The command id of the invoked slash command."
        }
      },
      "id": "SlashCommandMetadata"
    },
    "Card": {
      "properties": {
        "name": {
          "description": "Name of the card.",
          "type": "string"
        },
        "header": {
          "description": "The header of the card. A header usually contains a title and an image.",
          "$ref": "CardHeader"
        },
        "sections": {
          "description": "Sections are separated by a line divider.",
          "type": "array",
          "items": {
            "$ref": "Section"
          }
        },
        "cardActions": {
          "type": "array",
          "description": "The actions of this card.",
          "items": {
            "$ref": "CardAction"
          }
        }
      },
      "id": "Card",
      "description": "A card is a UI element that can contain UI widgets such as texts, images.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "ImageButton": {
      "description": "An image button with an onclick action.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this image_button which will be used for accessibility. Default value will be provided if developers don't specify."
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon specified by a URL."
        },
        "icon": {
          "enum": [
            "ICON_UNSPECIFIED",
            "AIRPLANE",
            "BOOKMARK",
            "BUS",
            "CAR",
            "CLOCK",
            "CONFIRMATION_NUMBER_ICON",
            "DOLLAR",
            "DESCRIPTION",
            "EMAIL",
            "EVENT_PERFORMER",
            "EVENT_SEAT",
            "FLIGHT_ARRIVAL",
            "FLIGHT_DEPARTURE",
            "HOTEL",
            "HOTEL_ROOM_TYPE",
            "INVITE",
            "MAP_PIN",
            "MEMBERSHIP",
            "MULTIPLE_PEOPLE",
            "OFFER",
            "PERSON",
            "PHONE",
            "RESTAURANT_ICON",
            "SHOPPING_CART",
            "STAR",
            "STORE",
            "TICKET",
            "TRAIN",
            "VIDEO_CAMERA",
            "VIDEO_PLAY"
          ],
          "description": "The icon specified by an enum that indices to an icon provided by Chat API.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "onClick": {
          "description": "The onclick action.",
          "$ref": "OnClick"
        }
      },
      "type": "object",
      "id": "ImageButton"
    },
    "CardAction": {
      "properties": {
        "onClick": {
          "description": "The onclick action for this action item.",
          "$ref": "OnClick"
        },
        "actionLabel": {
          "type": "string",
          "description": "The label used to be displayed in the action menu item."
        }
      },
      "type": "object",
      "description": "A card action is the action associated with the card. For an invoice card, a typical action would be: delete invoice, email invoice or open the invoice in browser.",
      "id": "CardAction"
    },
    "Section": {
      "properties": {
        "header": {
          "type": "string",
          "description": "The header of the section, text formatted supported."
        },
        "widgets": {
          "items": {
            "$ref": "WidgetMarkup"
          },
          "type": "array",
          "description": "A section must contain at least 1 widget."
        }
      },
      "type": "object",
      "id": "Section",
      "description": "A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties (e.g. float)."
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "properties": {
        "memberships": {
          "items": {
            "$ref": "Membership"
          },
          "description": "List of memberships in the requested (or first) page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token to retrieve the next page of results. It will be empty for the last page of results.",
          "type": "string"
        }
      }
    },
    "OpenLink": {
      "id": "OpenLink",
      "properties": {
        "url": {
          "description": "The URL to open.",
          "type": "string"
        }
      },
      "description": "A link that opens a new window.",
      "type": "object"
    },
    "Membership": {
      "properties": {
        "member": {
          "description": "A User in Hangout Chat",
          "$ref": "User"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "description": "State of the membership.",
          "enumDescriptions": [
            "Default, do not use.",
            "The user has joined the space.",
            "The user has been invited, is able to join the space, but currently has not joined.",
            "The user is not a member of the space, has not been invited and is not able to join the space."
          ],
          "type": "string",
          "enum": [
            "MEMBERSHIP_STATE_UNSPECIFIED",
            "JOINED",
            "INVITED",
            "NOT_A_MEMBER"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the membership a.k.a the time at which the member joined the space, if applicable."
        }
      },
      "type": "object",
      "id": "Membership",
      "description": "Represents a membership relation in Hangouts Chat."
    },
    "Media": {
      "description": "Media resource.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Name of the media resource."
        }
      },
      "id": "Media",
      "type": "object"
    },
    "Space": {
      "id": "Space",
      "properties": {
        "singleUserBotDm": {
          "type": "boolean",
          "description": "Whether the space is a DM between a bot and a single human."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the space, in the form \"spaces/*\". Example: spaces/AAAAMpdlehYs"
        },
        "threaded": {
          "type": "boolean",
          "description": "Whether the messages are threaded in this space."
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of a space. This is deprecated. Use `single_user_bot_dm` instead.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ROOM",
            "DM"
          ],
          "enumDescriptions": [
            "",
            "Multi-user spaces such as rooms and DMs between humans.",
            "1:1 Direct Message between a human and a bot, where all messages are flat."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name (only if the space is a room). Please note that this field might not be populated in direct messages between humans."
        }
      },
      "description": "A room or DM in Hangouts Chat.",
      "type": "object"
    },
    "Image": {
      "type": "object",
      "properties": {
        "onClick": {
          "$ref": "OnClick",
          "description": "The onclick action."
        },
        "aspectRatio": {
          "format": "double",
          "type": "number",
          "description": "The aspect ratio of this image (width/height). This field allows clients to reserve the right height for the image while waiting for it to load. It's not meant to override the native aspect ratio of the image. If unset, the server fills it by prefetching the image."
        },
        "imageUrl": {
          "description": "The URL of the image.",
          "type": "string"
        }
      },
      "description": "An image that is specified by a URL and can have an onclick action.",
      "id": "Image"
    },
    "Button": {
      "properties": {
        "imageButton": {
          "$ref": "ImageButton",
          "description": "A button with image and onclick action."
        },
        "textButton": {
          "$ref": "TextButton",
          "description": "A button with text and onclick action."
        }
      },
      "id": "Button",
      "type": "object",
      "description": "A button. Can be a text button or an image button."
    },
    "ActionResponse": {
      "description": "Parameters that a bot can use to configure how it's response is posted.",
      "id": "ActionResponse",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of bot response.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEW_MESSAGE",
            "UPDATE_MESSAGE",
            "REQUEST_CONFIG"
          ],
          "enumDescriptions": [
            "Default type; will be handled as NEW_MESSAGE.",
            "Post as a new message in the topic.",
            "Update the bot's own message. (Only after CARD_CLICKED events.)",
            "Privately ask the user for additional auth or config."
          ]
        },
        "url": {
          "description": "URL for users to auth or config. (Only for REQUEST_CONFIG response types.)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Message": {
      "properties": {
        "cards": {
          "description": "Rich, formatted and interactive cards that can be used to display UI elements such as: formatted texts, buttons, clickable images. Cards are normally displayed below the plain-text body of the message.",
          "items": {
            "$ref": "Card"
          },
          "type": "array"
        },
        "annotations": {
          "description": "Output only. Annotations associated with the text in this message.",
          "items": {
            "$ref": "Annotation"
          },
          "type": "array"
        },
        "text": {
          "description": "Plain-text body of the message.",
          "type": "string"
        },
        "thread": {
          "$ref": "Thread",
          "description": "The thread the message belongs to."
        },
        "actionResponse": {
          "$ref": "ActionResponse",
          "description": "Input only. Parameters that a bot can use to configure how its response is posted."
        },
        "createTime": {
          "description": "Output only. The time at which the message was created in Hangouts Chat server.",
          "format": "google-datetime",
          "type": "string"
        },
        "argumentText": {
          "description": "Plain-text body of the message with all bot mentions stripped out.",
          "type": "string"
        },
        "space": {
          "$ref": "Space",
          "description": "The space the message belongs to."
        },
        "previewText": {
          "type": "string",
          "description": "Text for generating preview chips. This text will not be displayed to the user, but any links to images, web pages, videos, etc. included here will generate preview chips."
        },
        "name": {
          "description": "Resource name, in the form \"spaces/*/messages/*\". Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4",
          "type": "string"
        },
        "fallbackText": {
          "type": "string",
          "description": "A plain-text description of the message's cards, used when the actual cards cannot be displayed (e.g. mobile notifications)."
        },
        "attachment": {
          "items": {
            "$ref": "Attachment"
          },
          "description": "User uploaded attachment.",
          "type": "array"
        },
        "slashCommand": {
          "description": "Slash command information, if applicable.",
          "$ref": "SlashCommand"
        },
        "sender": {
          "description": "The user who created the message.",
          "$ref": "User"
        }
      },
      "type": "object",
      "description": "A message in Hangouts Chat.",
      "id": "Message"
    },
    "DriveDataRef": {
      "type": "object",
      "id": "DriveDataRef",
      "properties": {
        "driveFileId": {
          "type": "string",
          "description": "The id for the drive file, for use with the Drive API."
        }
      },
      "description": "A reference to the data of a drive attachment."
    },
    "Thread": {
      "type": "object",
      "description": "A thread in Hangouts Chat.",
      "id": "Thread",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name, in the form \"spaces/*/threads/*\". Example: spaces/AAAAMpdlehY/threads/UMxbHmzDlr4"
        }
      }
    },
    "ListSpacesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to retrieve the next page of results. It will be empty for the last page of results. Tokens expire in an hour. An error is thrown if an expired token is passed."
        },
        "spaces": {
          "type": "array",
          "items": {
            "$ref": "Space"
          },
          "description": "List of spaces in the requested (or first) page."
        }
      },
      "id": "ListSpacesResponse",
      "type": "object"
    },
    "User": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "Human user.",
            "Bot user."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "HUMAN",
            "BOT"
          ],
          "type": "string",
          "description": "User type."
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name."
        },
        "domainId": {
          "type": "string",
          "description": "Obfuscated domain information."
        },
        "isAnonymous": {
          "type": "boolean",
          "description": "True when the user is deleted or the user's proifle is not visible."
        },
        "name": {
          "description": "Resource name, in the format \"users/*\".",
          "type": "string"
        }
      },
      "description": "A user in Hangouts Chat.",
      "id": "User"
    },
    "SlashCommand": {
      "description": "A Slash Command in Hangouts Chat.",
      "properties": {
        "commandId": {
          "description": "The id of the slash command invoked.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SlashCommand",
      "type": "object"
    },
    "DeprecatedEvent": {
      "id": "DeprecatedEvent",
      "type": "object",
      "properties": {
        "message": {
          "description": "The message that triggered the event, if applicable.",
          "$ref": "Message"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp indicating when the event was dispatched."
        },
        "action": {
          "$ref": "FormAction",
          "description": "The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/hangouts/chat/how-tos/cards-onclick) for more information."
        },
        "user": {
          "description": "The user that triggered the event.",
          "$ref": "User"
        },
        "space": {
          "description": "The room or DM in which the event occurred.",
          "$ref": "Space"
        },
        "token": {
          "description": "A secret value that bots can use to verify if a request is from Google. The token is randomly generated by Google, remains static, and can be obtained from the Google Chat API configuration page in the Cloud Console. Developers can revoke/regenerate it if needed from the same page.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value for the enum. DO NOT USE.",
            "A message was sent in a room or direct message.",
            "The bot was added to a room or DM.",
            "The bot was removed from a room or DM.",
            "The bot's interactive card was clicked."
          ],
          "description": "The type of the event.",
          "enum": [
            "UNSPECIFIED",
            "MESSAGE",
            "ADDED_TO_SPACE",
            "REMOVED_FROM_SPACE",
            "CARD_CLICKED"
          ]
        },
        "threadKey": {
          "description": "The bot-defined key for the thread related to the event. See the thread_key field of the `spaces.message.create` request for more information.",
          "type": "string"
        },
        "configCompleteRedirectUrl": {
          "description": "The URL the bot should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. See the [Authorizing access to 3p services guide](/hangouts/chat/how-tos/auth-3p) for more information.",
          "type": "string"
        }
      },
      "description": "Google Chat events."
    },
    "TextButton": {
      "description": "A button with text and onclick action.",
      "id": "TextButton",
      "properties": {
        "onClick": {
          "description": "The onclick action of the button.",
          "$ref": "OnClick"
        },
        "text": {
          "type": "string",
          "description": "The text of the button."
        }
      },
      "type": "object"
    },
    "TextParagraph": {
      "description": "A paragraph of text. Formatted text supported.",
      "id": "TextParagraph",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://chat.mtls.googleapis.com/",
  "revision": "20210127"
}
