{
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "version": "v1",
  "baseUrl": "https://classroom.googleapis.com/",
  "ownerDomain": "google.com",
  "title": "Google Classroom API",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/classroom/",
  "parameters": {
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "schemas": {
    "Date": {
      "id": "Date",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "Link": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the target of the URL. Read-only."
        },
        "url": {
          "type": "string",
          "description": "URL to link to. This must be a valid UTF-8 string containing between 1 and 2024 characters."
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the target URL. Read-only."
        }
      },
      "description": "URL item.",
      "id": "Link"
    },
    "Teacher": {
      "properties": {
        "profile": {
          "description": "Global user information for the teacher. Read-only.",
          "$ref": "UserProfile"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "userId": {
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Teacher",
      "description": "Teacher of a course."
    },
    "StudentSubmission": {
      "properties": {
        "creationTime": {
          "description": "Creation time of this submission. This may be unset if the student has not accessed this item. Read-only.",
          "format": "google-datetime",
          "type": "string"
        },
        "shortAnswerSubmission": {
          "description": "Submission content when course_work_type is SHORT_ANSWER_QUESTION.",
          "$ref": "ShortAnswerSubmission"
        },
        "assignmentSubmission": {
          "description": "Submission content when course_work_type is ASSIGNMENT. Students can modify this content using ModifyAttachments.",
          "$ref": "AssignmentSubmission"
        },
        "associatedWithDeveloper": {
          "type": "boolean",
          "description": "Whether this student submission is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only."
        },
        "assignedGrade": {
          "description": "Optional grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This may be modified only by course teachers.",
          "type": "number",
          "format": "double"
        },
        "courseWorkType": {
          "description": "Type of course work this submission is for. Read-only.",
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last update time of this submission. This may be unset if the student has not accessed this item. Read-only."
        },
        "state": {
          "type": "string",
          "description": "State of this submission. Read-only.",
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The student has never accessed this submission. Attachments are not returned and timestamps is not set.",
            "Has been created.",
            "Has been turned in to the teacher.",
            "Has been returned to the student.",
            "Student chose to \"unsubmit\" the assignment."
          ],
          "enum": [
            "SUBMISSION_STATE_UNSPECIFIED",
            "NEW",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT"
          ]
        },
        "courseWorkId": {
          "type": "string",
          "description": "Identifier for the course work this corresponds to. Read-only."
        },
        "multipleChoiceSubmission": {
          "$ref": "MultipleChoiceSubmission",
          "description": "Submission content when course_work_type is MULTIPLE_CHOICE_QUESTION."
        },
        "draftGrade": {
          "description": "Optional pending grade. If unset, no grade was set. This value must be non-negative. Decimal (that is, non-integer) values are allowed, but are rounded to two decimal places. This is only visible to and modifiable by course teachers.",
          "format": "double",
          "type": "number"
        },
        "late": {
          "description": "Whether this submission is late. Read-only.",
          "type": "boolean"
        },
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "userId": {
          "description": "Identifier for the student that owns this submission. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Absolute link to the submission in the Classroom web UI. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Classroom-assigned Identifier for the student submission. This is unique among submissions for the relevant course work. Read-only.",
          "type": "string"
        },
        "submissionHistory": {
          "type": "array",
          "description": "The history of the submission (includes state and grade histories). Read-only.",
          "items": {
            "$ref": "SubmissionHistory"
          }
        }
      },
      "id": "StudentSubmission",
      "description": "Student submission for course work. StudentSubmission items are generated when a CourseWork item is created. StudentSubmissions that have never been accessed (i.e. with `state` = NEW) may not have a creation time or update time.",
      "type": "object"
    },
    "ModifyIndividualStudentsOptions": {
      "type": "object",
      "properties": {
        "addStudentIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs of students to be added as having access to this coursework/announcement.",
          "type": "array"
        },
        "removeStudentIds": {
          "type": "array",
          "description": "IDs of students to be removed from having access to this coursework/announcement.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Contains fields to add or remove students from a course work or announcement where the `assigneeMode` is set to `INDIVIDUAL_STUDENTS`.",
      "id": "ModifyIndividualStudentsOptions"
    },
    "ListGuardianInvitationsResponse": {
      "type": "object",
      "description": "Response when listing guardian invitations.",
      "id": "ListGuardianInvitationsResponse",
      "properties": {
        "guardianInvitations": {
          "description": "Guardian invitations that matched the list request.",
          "type": "array",
          "items": {
            "$ref": "GuardianInvitation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      }
    },
    "ListCoursesResponse": {
      "type": "object",
      "id": "ListCoursesResponse",
      "description": "Response when listing courses.",
      "properties": {
        "courses": {
          "description": "Courses that match the list request.",
          "items": {
            "$ref": "Course"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      }
    },
    "CourseRosterChangesInfo": {
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`.",
      "properties": {
        "courseId": {
          "description": "The `course_id` of the course to subscribe to roster changes for.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CourseRosterChangesInfo"
    },
    "ModifyCourseWorkAssigneesRequest": {
      "description": "Request to modify assignee mode and options of a coursework.",
      "id": "ModifyCourseWorkAssigneesRequest",
      "properties": {
        "assigneeMode": {
          "type": "string",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Mode of the coursework describing whether it will be assigned to all students or specified individual students.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "modifyIndividualStudentsOptions": {
          "$ref": "ModifyIndividualStudentsOptions",
          "description": "Set which students are assigned or not assigned to the coursework. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`."
        }
      },
      "type": "object"
    },
    "ModifyAttachmentsRequest": {
      "id": "ModifyAttachmentsRequest",
      "description": "Request to modify the attachments of a student submission.",
      "properties": {
        "addAttachments": {
          "description": "Attachments to add. A student submission may not have more than 20 attachments. Form attachments are not supported.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        }
      },
      "type": "object"
    },
    "ListAnnouncementsResponse": {
      "type": "object",
      "id": "ListAnnouncementsResponse",
      "description": "Response when listing course work.",
      "properties": {
        "announcements": {
          "description": "Announcement items that match the request.",
          "type": "array",
          "items": {
            "$ref": "Announcement"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      }
    },
    "SubmissionHistory": {
      "type": "object",
      "properties": {
        "gradeHistory": {
          "description": "The grade history information of the submission, if present.",
          "$ref": "GradeHistory"
        },
        "stateHistory": {
          "description": "The state history information of the submission, if present.",
          "$ref": "StateHistory"
        }
      },
      "id": "SubmissionHistory",
      "description": "The history of the submission. This currently includes state and grade histories."
    },
    "ListInvitationsResponse": {
      "properties": {
        "invitations": {
          "type": "array",
          "items": {
            "$ref": "Invitation"
          },
          "description": "Invitations that match the list request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "description": "Response when listing invitations.",
      "id": "ListInvitationsResponse",
      "type": "object"
    },
    "YouTubeVideo": {
      "description": "YouTube video item.",
      "properties": {
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the YouTube video. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "URL that can be used to view the YouTube video. Read-only.",
          "type": "string"
        },
        "title": {
          "description": "Title of the YouTube video. Read-only.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "YouTube API resource ID."
        }
      },
      "type": "object",
      "id": "YouTubeVideo"
    },
    "GuardianInvitation": {
      "type": "object",
      "id": "GuardianInvitation",
      "description": "An invitation to become the guardian of a specified user, sent to a specified email address.",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Unique identifier for this invitation. Read-only."
        },
        "creationTime": {
          "description": "The time that this invitation was created. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should never be returned.",
            "The invitation is active and awaiting a response.",
            "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
          ],
          "description": "The state that this invitation is in."
        },
        "studentId": {
          "description": "ID of the student (in standard format)",
          "type": "string"
        },
        "invitedEmailAddress": {
          "type": "string",
          "description": "Email address that the invitation was sent to. This field is only visible to domain administrators."
        }
      }
    },
    "DriveFile": {
      "type": "object",
      "description": "Representation of a Google Drive file.",
      "properties": {
        "thumbnailUrl": {
          "description": "URL of a thumbnail image of the Drive item. Read-only.",
          "type": "string"
        },
        "title": {
          "description": "Title of the Drive item. Read-only.",
          "type": "string"
        },
        "alternateLink": {
          "description": "URL that can be used to access the Drive item. Read-only.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Drive API resource ID."
        }
      },
      "id": "DriveFile"
    },
    "Registration": {
      "description": "An instruction to Classroom to send notifications from the `feed` to the provided destination.",
      "properties": {
        "cloudPubsubTopic": {
          "description": "The Cloud Pub/Sub topic that notifications are to be sent to.",
          "$ref": "CloudPubsubTopic"
        },
        "expiryTime": {
          "type": "string",
          "description": "The time until which the `Registration` is effective. This is a read-only field assigned by the server.",
          "format": "google-datetime"
        },
        "feed": {
          "description": "Specification for the class of notifications that Classroom should deliver to the destination.",
          "$ref": "Feed"
        },
        "registrationId": {
          "type": "string",
          "description": "A server-generated unique identifier for this `Registration`. Read-only."
        }
      },
      "id": "Registration",
      "type": "object"
    },
    "ListStudentsResponse": {
      "description": "Response when listing students.",
      "properties": {
        "students": {
          "description": "Students who match the list request.",
          "type": "array",
          "items": {
            "$ref": "Student"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "type": "object",
      "id": "ListStudentsResponse"
    },
    "CourseWork": {
      "type": "object",
      "properties": {
        "dueTime": {
          "$ref": "TimeOfDay",
          "description": "Optional time of day, in UTC, that submissions for this course work are due. This must be specified if `due_date` is specified."
        },
        "description": {
          "type": "string",
          "description": "Optional description of this course work. If set, the description must be a valid UTF-8 string containing no more than 30,000 characters."
        },
        "assignment": {
          "description": "Assignment details. This is populated only when `work_type` is `ASSIGNMENT`. Read-only.",
          "$ref": "Assignment"
        },
        "workType": {
          "description": "Type of this course work. The type is set when the course work is created and cannot be changed.",
          "enum": [
            "COURSE_WORK_TYPE_UNSPECIFIED",
            "ASSIGNMENT",
            "SHORT_ANSWER_QUESTION",
            "MULTIPLE_CHOICE_QUESTION"
          ],
          "enumDescriptions": [
            "No work type specified. This is never returned.",
            "An assignment.",
            "A short answer question.",
            "A multiple-choice question."
          ],
          "type": "string"
        },
        "scheduledTime": {
          "description": "Optional timestamp when this course work is scheduled to be published.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "COURSE_WORK_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for work that has been published. This is the default state.",
            "Status for work that is not yet published. Work in this state is visible only to course teachers and domain administrators.",
            "Status for work that was published but is now deleted. Work in this state is visible only to course teachers and domain administrators. Work in this state is deleted after some time."
          ],
          "description": "Status of this course work. If unspecified, the default state is `DRAFT`."
        },
        "creationTime": {
          "description": "Timestamp when this course work was created. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "associatedWithDeveloper": {
          "type": "boolean",
          "description": "Whether this course work item is associated with the Developer Console project making the request. See CreateCourseWork for more details. Read-only."
        },
        "dueDate": {
          "description": "Optional date, in UTC, that submissions for this course work are due. This must be specified if `due_time` is specified.",
          "$ref": "Date"
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the coursework. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field are assigned the coursework.",
          "$ref": "IndividualStudentsOptions"
        },
        "submissionModificationMode": {
          "type": "string",
          "enum": [
            "SUBMISSION_MODIFICATION_MODE_UNSPECIFIED",
            "MODIFIABLE_UNTIL_TURNED_IN",
            "MODIFIABLE"
          ],
          "enumDescriptions": [
            "No modification mode specified. This is never returned.",
            "Submissions can be modified before being turned in.",
            "Submissions can be modified at any time."
          ],
          "description": "Setting to determine when students are allowed to modify submissions. If unspecified, the default value is `MODIFIABLE_UNTIL_TURNED_IN`."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the most recent change to this course work. Read-only."
        },
        "topicId": {
          "description": "Identifier for the topic that this coursework is associated with. Must match an existing topic in the course.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this course work, unique per course. Read-only."
        },
        "materials": {
          "description": "Additional materials. CourseWork must have no more than 20 material items.",
          "items": {
            "$ref": "Material"
          },
          "type": "array"
        },
        "alternateLink": {
          "description": "Absolute link to this course work in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "maxPoints": {
          "type": "number",
          "description": "Maximum grade for this course work. If zero or unspecified, this assignment is considered ungraded. This must be a non-negative integer value.",
          "format": "double"
        },
        "title": {
          "description": "Title of this course work. The title must be a valid UTF-8 string containing between 1 and 3000 characters.",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "multipleChoiceQuestion": {
          "description": "Multiple choice question details. For read operations, this field is populated only when `work_type` is `MULTIPLE_CHOICE_QUESTION`. For write operations, this field must be specified when creating course work with a `work_type` of `MULTIPLE_CHOICE_QUESTION`, and it must not be set otherwise.",
          "$ref": "MultipleChoiceQuestion"
        },
        "creatorUserId": {
          "description": "Identifier for the user that created the coursework. Read-only.",
          "type": "string"
        },
        "assigneeMode": {
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "type": "string",
          "description": "Assignee mode of the coursework. If unspecified, the default value is `ALL_STUDENTS`.",
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ]
        }
      },
      "description": "Course work created by a teacher for students of the course.",
      "id": "CourseWork"
    },
    "AssignmentSubmission": {
      "id": "AssignmentSubmission",
      "type": "object",
      "description": "Student work for an assignment.",
      "properties": {
        "attachments": {
          "description": "Attachments added by the student. Drive files that correspond to materials with a share mode of STUDENT_COPY may not exist yet if the student has not accessed the assignment in Classroom. Some attachment metadata is only populated if the requesting user has permission to access it. Identifier and alternate_link fields are always available, but others (for example, title) may not be.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        }
      }
    },
    "MultipleChoiceQuestion": {
      "id": "MultipleChoiceQuestion",
      "type": "object",
      "description": "Additional details for multiple-choice questions.",
      "properties": {
        "choices": {
          "items": {
            "type": "string"
          },
          "description": "Possible choices.",
          "type": "array"
        }
      }
    },
    "CourseMaterial": {
      "type": "object",
      "id": "CourseMaterial",
      "description": "A material attached to a course as part of a material set.",
      "properties": {
        "driveFile": {
          "description": "Google Drive file attachment.",
          "$ref": "DriveFile"
        },
        "link": {
          "$ref": "Link",
          "description": "Link atatchment."
        },
        "form": {
          "description": "Google Forms attachment.",
          "$ref": "Form"
        },
        "youTubeVideo": {
          "description": "Youtube video attachment.",
          "$ref": "YouTubeVideo"
        }
      }
    },
    "CourseWorkChangesInfo": {
      "type": "object",
      "id": "CourseWorkChangesInfo",
      "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`.",
      "properties": {
        "courseId": {
          "description": "The `course_id` of the course to subscribe to work changes for.",
          "type": "string"
        }
      }
    },
    "ModifyAnnouncementAssigneesRequest": {
      "properties": {
        "modifyIndividualStudentsOptions": {
          "$ref": "ModifyIndividualStudentsOptions",
          "description": "Set which students can view or cannot view the announcement. Must be specified only when `assigneeMode` is `INDIVIDUAL_STUDENTS`."
        },
        "assigneeMode": {
          "type": "string",
          "description": "Mode of the announcement describing whether it is accessible by all students or specified individual students.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ]
        }
      },
      "type": "object",
      "id": "ModifyAnnouncementAssigneesRequest",
      "description": "Request to modify assignee mode and options of an announcement."
    },
    "DriveFolder": {
      "description": "Representation of a Google Drive folder.",
      "type": "object",
      "id": "DriveFolder",
      "properties": {
        "title": {
          "description": "Title of the Drive folder. Read-only.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Drive API resource ID."
        },
        "alternateLink": {
          "description": "URL that can be used to access the Drive folder. Read-only.",
          "type": "string"
        }
      }
    },
    "ListCourseWorkMaterialResponse": {
      "description": "Response when listing course work material.",
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "courseWorkMaterial": {
          "description": "Course work material items that match the request.",
          "items": {
            "$ref": "CourseWorkMaterial"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListCourseWorkMaterialResponse"
    },
    "GlobalPermission": {
      "description": "Global user permission description.",
      "id": "GlobalPermission",
      "properties": {
        "permission": {
          "enumDescriptions": [
            "No permission is specified. This is not returned and is not a valid value.",
            "User is permitted to create a course."
          ],
          "type": "string",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "CREATE_COURSE"
          ],
          "description": "Permission value."
        }
      },
      "type": "object"
    },
    "CourseMaterialSet": {
      "id": "CourseMaterialSet",
      "description": "A set of materials that appears on the \"About\" page of the course. These materials might include a syllabus, schedule, or other background information relating to the course as a whole.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title for this set.",
          "type": "string"
        },
        "materials": {
          "description": "Materials attached to this set.",
          "items": {
            "$ref": "CourseMaterial"
          },
          "type": "array"
        }
      }
    },
    "ReclaimStudentSubmissionRequest": {
      "type": "object",
      "id": "ReclaimStudentSubmissionRequest",
      "description": "Request to reclaim a student submission.",
      "properties": {}
    },
    "IndividualStudentsOptions": {
      "id": "IndividualStudentsOptions",
      "description": "Assignee details about a coursework/announcement. This field is set if and only if `assigneeMode` is `INDIVIDUAL_STUDENTS`.",
      "properties": {
        "studentIds": {
          "description": "Identifiers for the students that have access to the coursework/announcement.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GradeHistory": {
      "id": "GradeHistory",
      "description": "The history of each grade on this submission.",
      "type": "object",
      "properties": {
        "pointsEarned": {
          "format": "double",
          "description": "The numerator of the grade at this time in the submission grade history.",
          "type": "number"
        },
        "maxPoints": {
          "format": "double",
          "description": "The denominator of the grade at this time in the submission grade history.",
          "type": "number"
        },
        "actorUserId": {
          "type": "string",
          "description": "The teacher who made the grade change."
        },
        "gradeChangeType": {
          "description": "The type of grade change at this time in the submission grade history.",
          "enumDescriptions": [
            "No grade change type specified. This should never be returned.",
            "A change in the numerator of the draft grade.",
            "A change in the numerator of the assigned grade.",
            "A change in the denominator of the grade."
          ],
          "enum": [
            "UNKNOWN_GRADE_CHANGE_TYPE",
            "DRAFT_GRADE_POINTS_EARNED_CHANGE",
            "ASSIGNED_GRADE_POINTS_EARNED_CHANGE",
            "MAX_POINTS_CHANGE"
          ],
          "type": "string"
        },
        "gradeTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "When the grade of the submission was changed."
        }
      }
    },
    "StateHistory": {
      "description": "The history of each state this submission has been in.",
      "type": "object",
      "properties": {
        "stateTimestamp": {
          "type": "string",
          "description": "When the submission entered this state.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "TURNED_IN",
            "RETURNED",
            "RECLAIMED_BY_STUDENT",
            "STUDENT_EDITED_AFTER_TURN_IN"
          ],
          "enumDescriptions": [
            "No state specified. This should never be returned.",
            "The Submission has been created.",
            "The student has turned in an assigned document, which may or may not be a template.",
            "The teacher has returned the assigned document to the student.",
            "The student turned in the assigned document, and then chose to \"unsubmit\" the assignment, giving the student control again as the owner.",
            "The student edited their submission after turning it in. Currently, only used by Questions, when the student edits their answer."
          ],
          "description": "The workflow pipeline stage."
        },
        "actorUserId": {
          "type": "string",
          "description": "The teacher or student who made the change."
        }
      },
      "id": "StateHistory"
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "Announcement": {
      "properties": {
        "alternateLink": {
          "type": "string",
          "description": "Absolute link to this announcement in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only."
        },
        "text": {
          "description": "Description of this announcement. The text must be a valid UTF-8 string containing no more than 30,000 characters.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the most recent change to this announcement. Read-only."
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "assigneeMode": {
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "type": "string",
          "description": "Assignee mode of the announcement. If unspecified, the default value is `ALL_STUDENTS`.",
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ]
        },
        "materials": {
          "items": {
            "$ref": "Material"
          },
          "type": "array",
          "description": "Additional materials. Announcements must have no more than 20 material items."
        },
        "scheduledTime": {
          "type": "string",
          "description": "Optional timestamp when this announcement is scheduled to be published.",
          "format": "google-datetime"
        },
        "individualStudentsOptions": {
          "$ref": "IndividualStudentsOptions",
          "description": "Identifiers of students with access to the announcement. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the announcement."
        },
        "id": {
          "type": "string",
          "description": "Classroom-assigned identifier of this announcement, unique per course. Read-only."
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when this announcement was created. Read-only."
        },
        "state": {
          "enum": [
            "ANNOUNCEMENT_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "description": "Status of this announcement. If unspecified, the default state is `DRAFT`.",
          "type": "string",
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for announcement that has been published. This is the default state.",
            "Status for an announcement that is not yet published. Announcement in this state is visible only to course teachers and domain administrators.",
            "Status for announcement that was published but is now deleted. Announcement in this state is visible only to course teachers and domain administrators. Announcement in this state is deleted after some time."
          ]
        },
        "creatorUserId": {
          "type": "string",
          "description": "Identifier for the user that created the announcement. Read-only."
        }
      },
      "id": "Announcement",
      "type": "object",
      "description": "Announcement created by a teacher for students of the course"
    },
    "ListTeachersResponse": {
      "id": "ListTeachersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "teachers": {
          "type": "array",
          "items": {
            "$ref": "Teacher"
          },
          "description": "Teachers who match the list request."
        }
      },
      "type": "object",
      "description": "Response when listing teachers."
    },
    "ListStudentSubmissionsResponse": {
      "id": "ListStudentSubmissionsResponse",
      "properties": {
        "studentSubmissions": {
          "description": "Student work that matches the request.",
          "type": "array",
          "items": {
            "$ref": "StudentSubmission"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "description": "Response when listing student submissions.",
      "type": "object"
    },
    "ListCourseWorkResponse": {
      "description": "Response when listing course work.",
      "id": "ListCourseWorkResponse",
      "type": "object",
      "properties": {
        "courseWork": {
          "items": {
            "$ref": "CourseWork"
          },
          "description": "Course work items that match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      }
    },
    "CourseAlias": {
      "properties": {
        "alias": {
          "type": "string",
          "description": "Alias string. The format of the string indicates the desired alias scoping. * `d:` indicates a domain-scoped alias. Example: `d:math_101` * `p:` indicates a project-scoped alias. Example: `p:abc123` This field has a maximum length of 256 characters."
        }
      },
      "id": "CourseAlias",
      "description": "Alternative identifier for a course. An alias uniquely identifies a course. It must be unique within one of the following scopes: * domain: A domain-scoped alias is visible to all users within the alias creator's domain and can be created only by a domain admin. A domain-scoped alias is often used when a course has an identifier external to Classroom. * project: A project-scoped alias is visible to any request from an application using the Developer Console project ID that created the alias and can be created by any project. A project-scoped alias is often used when an application has alternative identifiers. A random value can also be used to avoid duplicate courses in the event of transmission failures, as retrying a request will return `ALREADY_EXISTS` if a previous one has succeeded.",
      "type": "object"
    },
    "TurnInStudentSubmissionRequest": {
      "type": "object",
      "properties": {},
      "description": "Request to turn in a student submission.",
      "id": "TurnInStudentSubmissionRequest"
    },
    "Guardian": {
      "id": "Guardian",
      "type": "object",
      "properties": {
        "studentId": {
          "description": "Identifier for the student to whom the guardian relationship applies.",
          "type": "string"
        },
        "guardianId": {
          "type": "string",
          "description": "Identifier for the guardian."
        },
        "guardianProfile": {
          "$ref": "UserProfile",
          "description": "User profile for the guardian."
        },
        "invitedEmailAddress": {
          "type": "string",
          "description": "The email address to which the initial guardian invitation was sent. This field is only visible to domain administrators."
        }
      },
      "description": "Association between a student and a guardian of that student. The guardian may receive information about the student's course work."
    },
    "CloudPubsubTopic": {
      "properties": {
        "topicName": {
          "description": "The `name` field of a Cloud Pub/Sub [Topic](https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).",
          "type": "string"
        }
      },
      "id": "CloudPubsubTopic",
      "description": "A reference to a Cloud Pub/Sub topic. To register for notifications, the owner of the topic must grant `classroom-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "type": "object"
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "form": {
          "$ref": "Form",
          "description": "Google Forms attachment."
        },
        "youTubeVideo": {
          "description": "Youtube video attachment.",
          "$ref": "YouTubeVideo"
        },
        "link": {
          "$ref": "Link",
          "description": "Link attachment."
        },
        "driveFile": {
          "description": "Google Drive file attachment.",
          "$ref": "DriveFile"
        }
      },
      "id": "Attachment",
      "description": "Attachment added to student assignment work. When creating attachments, setting the `form` field is not supported."
    },
    "ShortAnswerSubmission": {
      "id": "ShortAnswerSubmission",
      "description": "Student work for a short answer question.",
      "type": "object",
      "properties": {
        "answer": {
          "description": "Student response to a short-answer question.",
          "type": "string"
        }
      }
    },
    "ListTopicResponse": {
      "description": "Response when listing topics.",
      "properties": {
        "topic": {
          "type": "array",
          "description": "Topic items that match the request.",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        }
      },
      "type": "object",
      "id": "ListTopicResponse"
    },
    "Feed": {
      "properties": {
        "courseWorkChangesInfo": {
          "$ref": "CourseWorkChangesInfo",
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`. This field must be specified if `feed_type` is `COURSE_WORK_CHANGES`."
        },
        "feedType": {
          "description": "The type of feed.",
          "type": "string",
          "enum": [
            "FEED_TYPE_UNSPECIFIED",
            "DOMAIN_ROSTER_CHANGES",
            "COURSE_ROSTER_CHANGES",
            "COURSE_WORK_CHANGES"
          ],
          "enumDescriptions": [
            "Should never be returned or provided.",
            "All roster changes for a particular domain. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All roster changes for a particular course. Notifications will be generated whenever a user joins or leaves a course. No notifications will be generated when an invitation is created or deleted, but notifications will be generated when a user joins a course by accepting an invitation.",
            "All course work activity for a particular course. Notifications will be generated when a CourseWork or StudentSubmission object is created or modified. No notification will be generated when a StudentSubmission object is created in connection with the creation or modification of its parent CourseWork object (but a notification will be generated for that CourseWork object's creation or modification)."
          ]
        },
        "courseRosterChangesInfo": {
          "$ref": "CourseRosterChangesInfo",
          "description": "Information about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`. This field must be specified if `feed_type` is `COURSE_ROSTER_CHANGES`."
        }
      },
      "id": "Feed",
      "description": "A class of notifications that an application can register to receive. For example: \"all roster changes for a domain\".",
      "type": "object"
    },
    "SharedDriveFile": {
      "description": "Drive file that is used as material for course work.",
      "properties": {
        "driveFile": {
          "description": "Drive file details.",
          "$ref": "DriveFile"
        },
        "shareMode": {
          "enumDescriptions": [
            "No sharing mode specified. This should never be returned.",
            "Students can view the shared file.",
            "Students can edit the shared file.",
            "Students have a personal copy of the shared file."
          ],
          "description": "Mechanism by which students access the Drive item.",
          "type": "string",
          "enum": [
            "UNKNOWN_SHARE_MODE",
            "VIEW",
            "EDIT",
            "STUDENT_COPY"
          ]
        }
      },
      "type": "object",
      "id": "SharedDriveFile"
    },
    "ListGuardiansResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token identifying the next page of results to return. If empty, no further results are available.",
          "type": "string"
        },
        "guardians": {
          "items": {
            "$ref": "Guardian"
          },
          "description": "Guardians on this page of results that met the criteria specified in the request.",
          "type": "array"
        }
      },
      "id": "ListGuardiansResponse",
      "description": "Response when listing guardians.",
      "type": "object"
    },
    "ListCourseAliasesResponse": {
      "id": "ListCourseAliasesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying the next page of results to return. If empty, no further results are available."
        },
        "aliases": {
          "description": "The course aliases.",
          "items": {
            "$ref": "CourseAlias"
          },
          "type": "array"
        }
      },
      "description": "Response when listing course aliases.",
      "type": "object"
    },
    "UserProfile": {
      "description": "Global information for a user.",
      "properties": {
        "photoUrl": {
          "description": "URL of user's profile photo. Read-only.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "$ref": "GlobalPermission"
          },
          "type": "array",
          "description": "Global permissions of the user. Read-only."
        },
        "verifiedTeacher": {
          "description": "Represents whether a G Suite for Education user's domain administrator has explicitly verified them as being a teacher. If the user is not a member of a G Suite for Education domain, than this field is always false. Read-only",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the user. Read-only.",
          "$ref": "Name"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user. Read-only."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the user. Read-only."
        }
      },
      "type": "object",
      "id": "UserProfile"
    },
    "Topic": {
      "description": "Topic created by a teacher for the course",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "The time the topic was last updated by the system. Read-only.",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "topicId": {
          "description": "Unique identifier for the topic. Read-only.",
          "type": "string"
        },
        "name": {
          "description": "The name of the topic, generated by the user. Leading and trailing whitespaces, if any, are trimmed. Also, multiple consecutive whitespaces are collapsed into one inside the name. The result must be a non-empty string. Topic names are case sensitive, and must be no longer than 100 characters.",
          "type": "string"
        }
      },
      "id": "Topic",
      "type": "object"
    },
    "Form": {
      "description": "Google Forms item.",
      "id": "Form",
      "type": "object",
      "properties": {
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image of the Form. Read-only."
        },
        "responseUrl": {
          "description": "URL of the form responses document. Only set if respsonses have been recorded and only when the requesting user is an editor of the form. Read-only.",
          "type": "string"
        },
        "formUrl": {
          "description": "URL of the form.",
          "type": "string"
        },
        "title": {
          "description": "Title of the Form. Read-only.",
          "type": "string"
        }
      }
    },
    "Name": {
      "description": "Details of the user's name.",
      "id": "Name",
      "type": "object",
      "properties": {
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values. Read-only.",
          "type": "string"
        },
        "familyName": {
          "description": "The user's last name. Read-only.",
          "type": "string"
        },
        "givenName": {
          "type": "string",
          "description": "The user's first name. Read-only."
        }
      }
    },
    "Assignment": {
      "id": "Assignment",
      "type": "object",
      "properties": {
        "studentWorkFolder": {
          "description": "Drive folder where attachments from student submissions are placed. This is only populated for course teachers and administrators.",
          "$ref": "DriveFolder"
        }
      },
      "description": "Additional details for assignments."
    },
    "CourseWorkMaterial": {
      "type": "object",
      "description": "Course work material created by a teacher for students of the course",
      "id": "CourseWorkMaterial",
      "properties": {
        "materials": {
          "type": "array",
          "description": "Additional materials. A course work material must have no more than 20 material items.",
          "items": {
            "$ref": "Material"
          }
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Timestamp when this course work material was created. Read-only.",
          "type": "string"
        },
        "courseId": {
          "description": "Identifier of the course. Read-only.",
          "type": "string"
        },
        "updateTime": {
          "description": "Timestamp of the most recent change to this course work material. Read-only.",
          "type": "string",
          "format": "google-datetime"
        },
        "topicId": {
          "description": "Identifier for the topic that this course work material is associated with. Must match an existing topic in the course.",
          "type": "string"
        },
        "scheduledTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional timestamp when this course work material is scheduled to be published."
        },
        "description": {
          "type": "string",
          "description": "Optional description of this course work material. The text must be a valid UTF-8 string containing no more than 30,000 characters."
        },
        "state": {
          "description": "Status of this course work material. If unspecified, the default state is `DRAFT`.",
          "enum": [
            "COURSEWORK_MATERIAL_STATE_UNSPECIFIED",
            "PUBLISHED",
            "DRAFT",
            "DELETED"
          ],
          "enumDescriptions": [
            "No state specified. This is never returned.",
            "Status for course work material that has been published. This is the default state.",
            "Status for an course work material that is not yet published. Course work material in this state is visible only to course teachers and domain administrators.",
            "Status for course work material that was published but is now deleted. Course work material in this state is visible only to course teachers and domain administrators. Course work material in this state is deleted after some time."
          ],
          "type": "string"
        },
        "creatorUserId": {
          "type": "string",
          "description": "Identifier for the user that created the course work material. Read-only."
        },
        "individualStudentsOptions": {
          "description": "Identifiers of students with access to the course work material. This field is set only if `assigneeMode` is `INDIVIDUAL_STUDENTS`. If the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then only students specified in this field can see the course work material.",
          "$ref": "IndividualStudentsOptions"
        },
        "title": {
          "description": "Title of this course work material. The title must be a valid UTF-8 string containing between 1 and 3000 characters.",
          "type": "string"
        },
        "alternateLink": {
          "description": "Absolute link to this course work material in the Classroom web UI. This is only populated if `state` is `PUBLISHED`. Read-only.",
          "type": "string"
        },
        "id": {
          "description": "Classroom-assigned identifier of this course work material, unique per course. Read-only.",
          "type": "string"
        },
        "assigneeMode": {
          "enum": [
            "ASSIGNEE_MODE_UNSPECIFIED",
            "ALL_STUDENTS",
            "INDIVIDUAL_STUDENTS"
          ],
          "enumDescriptions": [
            "No mode specified. This is never returned.",
            "All students can see the item. This is the default state.",
            "A subset of the students can see the item."
          ],
          "description": "Assignee mode of the course work material. If unspecified, the default value is `ALL_STUDENTS`.",
          "type": "string"
        }
      }
    },
    "Material": {
      "properties": {
        "form": {
          "description": "Google Forms material.",
          "$ref": "Form"
        },
        "youtubeVideo": {
          "description": "YouTube video material.",
          "$ref": "YouTubeVideo"
        },
        "link": {
          "description": "Link material. On creation, this is upgraded to a more appropriate type if possible, and this is reflected in the response.",
          "$ref": "Link"
        },
        "driveFile": {
          "description": "Google Drive file material.",
          "$ref": "SharedDriveFile"
        }
      },
      "id": "Material",
      "type": "object",
      "description": "Material attached to course work. When creating attachments, setting the `form` field is not supported."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "Student": {
      "description": "Student in a course.",
      "properties": {
        "courseId": {
          "type": "string",
          "description": "Identifier of the course. Read-only."
        },
        "userId": {
          "type": "string",
          "description": "Identifier of the user. When specified as a parameter of a request, this identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
        },
        "studentWorkFolder": {
          "description": "Information about a Drive Folder for this student's work in this course. Only visible to the student and domain administrators. Read-only.",
          "$ref": "DriveFolder"
        },
        "profile": {
          "description": "Global user information for the student. Read-only.",
          "$ref": "UserProfile"
        }
      },
      "id": "Student",
      "type": "object"
    },
    "Invitation": {
      "type": "object",
      "id": "Invitation",
      "description": "An invitation to join a course.",
      "properties": {
        "courseId": {
          "type": "string",
          "description": "Identifier of the course to invite the user to."
        },
        "role": {
          "enum": [
            "COURSE_ROLE_UNSPECIFIED",
            "STUDENT",
            "TEACHER",
            "OWNER"
          ],
          "enumDescriptions": [
            "No course role.",
            "Student in the course.",
            "Teacher of the course.",
            "Owner of the course."
          ],
          "type": "string",
          "description": "Role to invite the user to have. Must not be `COURSE_ROLE_UNSPECIFIED`."
        },
        "id": {
          "type": "string",
          "description": "Identifier assigned by Classroom. Read-only."
        },
        "userId": {
          "type": "string",
          "description": "Identifier of the invited user. When specified as a parameter of a request, this identifier can be set to one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user"
        }
      }
    },
    "ReturnStudentSubmissionRequest": {
      "description": "Request to return a student submission.",
      "type": "object",
      "properties": {},
      "id": "ReturnStudentSubmissionRequest"
    },
    "MultipleChoiceSubmission": {
      "id": "MultipleChoiceSubmission",
      "type": "object",
      "properties": {
        "answer": {
          "description": "Student's select choice.",
          "type": "string"
        }
      },
      "description": "Student work for a multiple-choice question."
    },
    "Course": {
      "id": "Course",
      "properties": {
        "teacherGroupEmail": {
          "type": "string",
          "description": "The email address of a Google group containing all teachers of the course. This group does not accept email and can only be used for permissions. Read-only."
        },
        "alternateLink": {
          "description": "Absolute link to this course in the Classroom web UI. Read-only.",
          "type": "string"
        },
        "name": {
          "description": "Name of the course. For example, \"10th Grade Biology\". The name is required. It must be between 1 and 750 characters and a valid UTF-8 string.",
          "type": "string"
        },
        "courseState": {
          "type": "string",
          "enum": [
            "COURSE_STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PROVISIONED",
            "DECLINED",
            "SUSPENDED"
          ],
          "description": "State of the course. If unspecified, the default state is `PROVISIONED`.",
          "enumDescriptions": [
            "No course state. No returned Course message will use this value.",
            "The course is active.",
            "The course has been archived. You cannot modify it except to change it to a different state.",
            "The course has been created, but not yet activated. It is accessible by the primary teacher and domain administrators, who may modify it or change it to the `ACTIVE` or `DECLINED` states. A course may only be changed to `PROVISIONED` if it is in the `DECLINED` state.",
            "The course has been created, but declined. It is accessible by the course owner and domain administrators, though it will not be displayed in the web UI. You cannot modify the course except to change it to the `PROVISIONED` state. A course may only be changed to `DECLINED` if it is in the `PROVISIONED` state.",
            "The course has been suspended. You cannot modify the course, and only the user identified by the `owner_id` can view the course. A course may be placed in this state if it potentially violates the Terms of Service."
          ]
        },
        "section": {
          "type": "string",
          "description": "Section of the course. For example, \"Period 2\". If set, this field must be a valid UTF-8 string and no longer than 2800 characters."
        },
        "ownerId": {
          "type": "string",
          "description": "The identifier of the owner of a course. When specified as a parameter of a create course request, this field is required. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user This must be set in a create request. Admins can also specify this field in a patch course request to transfer ownership. In other contexts, it is read-only."
        },
        "calendarId": {
          "description": "The Calendar ID for a calendar that all course members can see, to which Classroom adds events for course work and announcements in the course. Read-only.",
          "type": "string"
        },
        "courseMaterialSets": {
          "description": "Sets of materials that appear on the \"about\" page of this course. Read-only.",
          "type": "array",
          "items": {
            "$ref": "CourseMaterialSet"
          }
        },
        "guardiansEnabled": {
          "description": "Whether or not guardian notifications are enabled for this course. Read-only.",
          "type": "boolean"
        },
        "descriptionHeading": {
          "type": "string",
          "description": "Optional heading for the description. For example, \"Welcome to 10th Grade Biology.\" If set, this field must be a valid UTF-8 string and no longer than 3600 characters."
        },
        "enrollmentCode": {
          "description": "Enrollment code to use when joining this course. Specifying this field in a course update mask results in an error. Read-only.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional description. For example, \"We'll be learning about the structure of living creatures from a combination of textbooks, guest lectures, and lab work. Expect to be excited!\" If set, this field must be a valid UTF-8 string and no longer than 30,000 characters."
        },
        "teacherFolder": {
          "$ref": "DriveFolder",
          "description": "Information about a Drive Folder that is shared with all teachers of the course. This field will only be set for teachers of the course and domain administrators. Read-only."
        },
        "creationTime": {
          "description": "Creation time of the course. Specifying this field in a course update mask results in an error. Read-only.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Time of the most recent update to this course. Specifying this field in a course update mask results in an error. Read-only.",
          "format": "google-datetime",
          "type": "string"
        },
        "room": {
          "type": "string",
          "description": "Optional room location. For example, \"301\". If set, this field must be a valid UTF-8 string and no longer than 650 characters."
        },
        "id": {
          "description": "Identifier for this course assigned by Classroom. When creating a course, you may optionally set this identifier to an alias string in the request to create a corresponding alias. The `id` is still assigned by Classroom and cannot be updated after the course is created. Specifying this field in a course update mask results in an error.",
          "type": "string"
        },
        "courseGroupEmail": {
          "description": "The email address of a Google group containing all members of the course. This group does not accept email and can only be used for permissions. Read-only.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Course in Classroom."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/classroom.rosters": {
          "description": "Manage your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.rosters.readonly": {
          "description": "View your Google Classroom class rosters"
        },
        "https://www.googleapis.com/auth/classroom.profile.emails": {
          "description": "View the email addresses of people in your classes"
        },
        "https://www.googleapis.com/auth/classroom.announcements.readonly": {
          "description": "View announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me": {
          "description": "Manage your course work and view your grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.courses.readonly": {
          "description": "View your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.push-notifications": {
          "description": "Receive notifications about your Google Classroom data"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials.readonly": {
          "description": "See all classwork materials for your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly": {
          "description": "View your Google Classroom guardians"
        },
        "https://www.googleapis.com/auth/classroom.coursework.students": {
          "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
        },
        "https://www.googleapis.com/auth/classroom.courseworkmaterials": {
          "description": "See, edit, and create classwork materials in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students": {
          "description": "View and manage guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.topics": {
          "description": "See, create, and edit topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.courses": {
          "description": "Manage your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly": {
          "description": "View guardians for students in your Google Classroom classes"
        },
        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
          "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
        },
        "https://www.googleapis.com/auth/classroom.announcements": {
          "description": "View and manage announcements in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.topics.readonly": {
          "description": "View topics in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {
          "description": "View your course work and grades in Google Classroom"
        },
        "https://www.googleapis.com/auth/classroom.profile.photos": {
          "description": "View the profile photos of people in your classes"
        }
      }
    }
  },
  "description": "Manages classes, rosters, and invitations in Google Classroom.",
  "servicePath": "",
  "name": "classroom",
  "id": "classroom:v1",
  "basePath": "",
  "batchPath": "batch",
  "resources": {
    "registrations": {
      "methods": {
        "create": {
          "path": "v1/registrations",
          "response": {
            "$ref": "Registration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "flatPath": "v1/registrations",
          "description": "Creates a `Registration`, causing Classroom to start sending notifications from the provided `feed` to the destination provided in `cloudPubSubTopic`. Returns the created `Registration`. Currently, this will be the same as the argument, but with server-assigned fields such as `expiry_time` and `id` filled in. Note that any value specified for the `expiry_time` or `id` fields will be ignored. While Classroom may validate the `cloudPubSubTopic` and return errors on a best effort basis, it is the caller's responsibility to ensure that it exists and that Classroom has permission to publish to it. This method may return the following error codes: * `PERMISSION_DENIED` if: * the authenticated user does not have permission to receive notifications from the requested field; or * the current user has not granted access to the current Cloud project with the appropriate scope for the requested feed. Note that domain-wide delegation of authority is not currently supported for this purpose. If the request has the appropriate scope, but no grant exists, a Request Errors is returned. * another access error is encountered. * `INVALID_ARGUMENT` if: * no `cloudPubsubTopic` is specified, or the specified `cloudPubsubTopic` is not valid; or * no `feed` is specified, or the specified `feed` is not valid. * `NOT_FOUND` if: * the specified `feed` cannot be located, or the requesting user does not have permission to determine whether or not it exists; or * the specified `cloudPubsubTopic` cannot be located, or Classroom has not been granted permission to publish to it.",
          "request": {
            "$ref": "Registration"
          },
          "httpMethod": "POST",
          "parameters": {},
          "id": "classroom.registrations.create",
          "parameterOrder": []
        },
        "delete": {
          "parameters": {
            "registrationId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The `registration_id` of the `Registration` to be deleted."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "id": "classroom.registrations.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/classroom.push-notifications"
          ],
          "flatPath": "v1/registrations/{registrationId}",
          "parameterOrder": [
            "registrationId"
          ],
          "description": "Deletes a `Registration`, causing Classroom to stop sending notifications for that `Registration`.",
          "path": "v1/registrations/{registrationId}"
        }
      }
    },
    "userProfiles": {
      "resources": {
        "guardians": {
          "methods": {
            "get": {
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "response": {
                "$ref": "Guardian"
              },
              "description": "Returns a specific guardian. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to view guardian information for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if the requesting user is permitted to view guardians for the requested `student_id`, but no `Guardian` record exists for that student that matches the provided `guardian_id`.",
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "id": "classroom.userProfiles.guardians.get",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "guardianId": {
                  "required": true,
                  "description": "The `id` field from a `Guardian`.",
                  "location": "path",
                  "type": "string"
                },
                "studentId": {
                  "required": true,
                  "description": "The student whose guardian is being requested. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "delete": {
              "id": "classroom.userProfiles.guardians.delete",
              "description": "Deletes a guardian. The guardian will no longer receive guardian notifications and the guardian will no longer be accessible via the API. This method returns the following error codes: * `PERMISSION_DENIED` if no user that matches the provided `student_id` is visible to the requesting user, if the requesting user is not permitted to manage guardians for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API). * `NOT_FOUND` if the requesting user is permitted to modify guardians for the requested `student_id`, but no `Guardian` record exists for that student with the provided `guardian_id`.",
              "parameters": {
                "guardianId": {
                  "description": "The `id` field from a `Guardian`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "studentId": {
                  "location": "path",
                  "description": "The student whose guardian is to be deleted. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/userProfiles/{studentId}/guardians/{guardianId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "studentId",
                "guardianId"
              ],
              "path": "v1/userProfiles/{studentId}/guardians/{guardianId}"
            },
            "list": {
              "response": {
                "$ref": "ListGuardiansResponse"
              },
              "id": "classroom.userProfiles.guardians.list",
              "flatPath": "v1/userProfiles/{studentId}/guardians",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.me.readonly",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "studentId"
              ],
              "path": "v1/userProfiles/{studentId}/guardians",
              "description": "Returns a list of guardians that the requesting user is permitted to view, restricted to those that match the request. To list guardians for any student that the requesting user may view guardians for, use the literal character `-` for the student ID. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian information for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, if the `invited_email_address` filter is set by a user who is not a domain administrator, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token."
                },
                "invitedEmailAddress": {
                  "description": "Filter results by the email address that the original invitation was sent to, resulting in this guardian link. This filter can only be used by domain administrators.",
                  "location": "query",
                  "type": "string"
                },
                "studentId": {
                  "description": "Filter results by the student who the guardian is linked to. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user has access to view.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results."
                }
              }
            }
          }
        },
        "guardianInvitations": {
          "methods": {
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields are valid: * `state` When set in a query parameter, this field should be specified as `updateMask=,,...`",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "invitationId": {
                  "description": "The `id` field of the `GuardianInvitation` to be modified.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "studentId": {
                  "description": "The ID of the student whose guardian invitation is to be modified.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Modifies a guardian invitation. Currently, the only valid modification is to change the `state` from `PENDING` to `COMPLETE`. This has the effect of withdrawing the invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if guardians are not enabled for the domain in question or for other access errors. * `FAILED_PRECONDITION` if the guardian link is not in the `PENDING` state. * `INVALID_ARGUMENT` if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API), or if the passed `GuardianInvitation` has a `state` other than `COMPLETE`, or if it modifies fields other than `state`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student, or if the `id` field does not refer to a guardian invitation known to Classroom.",
              "id": "classroom.userProfiles.guardianInvitations.patch",
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GuardianInvitation"
              }
            },
            "get": {
              "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "parameters": {
                "invitationId": {
                  "description": "The `id` field of the `GuardianInvitation` being requested.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "studentId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the student whose guardian invitation is being requested."
                }
              },
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
              "description": "Returns a specific guardian invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view guardian invitations for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if Classroom cannot find any record of the given student or `invitation_id`. May also be returned if the student exists, but the requesting user does not have access to see that student.",
              "id": "classroom.userProfiles.guardianInvitations.get",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "parameterOrder": [
                "studentId",
                "invitationId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "response": {
                "$ref": "ListGuardianInvitationsResponse"
              },
              "parameters": {
                "studentId": {
                  "description": "The ID of the student whose guardian invitations are to be returned. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user is permitted to view guardian invitations.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "invitedEmailAddress": {
                  "location": "query",
                  "description": "If specified, only results with the specified `invited_email_address` are returned.",
                  "type": "string"
                },
                "states": {
                  "description": "If specified, only results with the specified `state` values are returned. Otherwise, results with a `state` of `PENDING` are returned.",
                  "repeated": true,
                  "enumDescriptions": [
                    "Should never be returned.",
                    "The invitation is active and awaiting a response.",
                    "The invitation is no longer active. It may have been accepted, declined, withdrawn or it may have expired."
                  ],
                  "enum": [
                    "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
                    "PENDING",
                    "COMPLETE"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "description": "Returns a list of guardian invitations that the requesting user is permitted to view, filtered by the parameters provided. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian invitations for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` or `state` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
              "id": "classroom.userProfiles.guardianInvitations.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "studentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students",
                "https://www.googleapis.com/auth/classroom.guardianlinks.students.readonly"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/classroom.guardianlinks.students"
              ],
              "parameterOrder": [
                "studentId"
              ],
              "description": "Creates a guardian invitation, and sends an email to the guardian asking them to confirm that they are the student's guardian. Once the guardian accepts the invitation, their `state` will change to `COMPLETED` and they will start receiving guardian notifications. A `Guardian` resource will also be created to represent the active guardian. The request object must have the `student_id` and `invited_email_address` fields set. Failing to set these fields, or setting any other fields in the request, will result in an error. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if the guardian in question has already rejected too many requests for that student, if guardians are not enabled for the domain in question, or for other access errors. * `RESOURCE_EXHAUSTED` if the student or guardian has exceeded the guardian link limit. * `INVALID_ARGUMENT` if the guardian email address is not valid (for example, if it is too long), or if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API). This error will also be returned if read-only fields are set, or if the `state` field is set to to a value other than `PENDING`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student. * `ALREADY_EXISTS` if there is already a pending guardian invitation for the student and `invited_email_address` provided, or if the provided `invited_email_address` matches the Google account of an existing `Guardian` for this user.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GuardianInvitation"
              },
              "parameters": {
                "studentId": {
                  "required": true,
                  "description": "ID of the student (in standard format)",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/userProfiles/{studentId}/guardianInvitations",
              "flatPath": "v1/userProfiles/{studentId}/guardianInvitations",
              "response": {
                "$ref": "GuardianInvitation"
              },
              "id": "classroom.userProfiles.guardianInvitations.create"
            }
          }
        }
      },
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/classroom.profile.emails",
            "https://www.googleapis.com/auth/classroom.profile.photos",
            "https://www.googleapis.com/auth/classroom.rosters",
            "https://www.googleapis.com/auth/classroom.rosters.readonly"
          ],
          "flatPath": "v1/userProfiles/{userId}",
          "parameterOrder": [
            "userId"
          ],
          "response": {
            "$ref": "UserProfile"
          },
          "parameters": {
            "userId": {
              "type": "string",
              "description": "Identifier of the profile to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns a user profile. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access this user profile, if no profile exists with the requested ID, or for access errors.",
          "path": "v1/userProfiles/{userId}",
          "httpMethod": "GET",
          "id": "classroom.userProfiles.get"
        }
      }
    },
    "courses": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/classroom.courses"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias."
            }
          },
          "description": "Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
          "path": "v1/courses/{id}",
          "flatPath": "v1/courses/{id}",
          "httpMethod": "DELETE",
          "id": "classroom.courses.delete"
        },
        "list": {
          "response": {
            "$ref": "ListCoursesResponse"
          },
          "parameterOrder": [],
          "path": "v1/courses",
          "parameters": {
            "teacherId": {
              "description": "Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "location": "query",
              "type": "string"
            },
            "studentId": {
              "description": "Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
[...]
