{
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud Identity",
  "id": "cloudidentity:v1beta1",
  "name": "cloudidentity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-identity.devices.lookup": {
          "description": "See your device details"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups": {
          "description": "See, change, create, and delete any of the Cloud Identity Groups that you can access, including the members of each group"
        },
        "https://www.googleapis.com/auth/cloud-identity.groups.readonly": {
          "description": "See any Cloud Identity Groups that you can access, including group members and their emails"
        }
      }
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "version_module": true,
  "protocol": "rest",
  "resources": {
    "groups": {
      "resources": {
        "memberships": {
          "methods": {
            "searchTransitiveGroups": {
              "description": "Search transitive groups of a member. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive group is any group that has a direct or indirect membership to the member. Actor must have view permissions all transitive groups.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/memberships:searchTransitiveGroups",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveGroups",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^groups/[^/]+$",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is always '-' as this API will search across all groups for a given member.",
                  "type": "string",
                  "required": true
                },
                "query": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). This is a `required` field. Users can search on label attributes of groups. CONTAINS match ('in') is supported on labels. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The default page size is 200 (max 1000).",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchTransitiveGroupsResponse"
              },
              "id": "cloudidentity.groups.memberships.searchTransitiveGroups"
            },
            "lookup": {
              "response": {
                "$ref": "LookupMembershipNameResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Membership` by its `EntityKey`.",
              "httpMethod": "GET",
              "parameters": {
                "memberKey.namespace": {
                  "location": "query",
                  "type": "string",
                  "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "pattern": "^groups/[^/]+$"
                },
                "memberKey.id": {
                  "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships:lookup",
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudidentity.groups.memberships.lookup",
              "path": "v1beta1/{+parent}/memberships:lookup"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListMembershipsResponse"
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "id": "cloudidentity.groups.memberships.list",
              "httpMethod": "GET",
              "description": "Lists the `Membership`s within a `Group`.",
              "path": "v1beta1/{+parent}/memberships",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
                  "format": "int32"
                },
                "view": {
                  "enum": [
                    "BASIC",
                    "FULL"
                  ],
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Default. Only basic resource information is returned.",
                    "All resource information is returned."
                  ],
                  "description": "The level of detail to be returned. If unspecified, defaults to `MembershipView.BASIC`."
                },
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent `Group` resource under which to lookup the `Membership` name. Must be of the form `groups/{group_id}`.",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The `next_page_token` value returned from a previous search request, if any."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "searchTransitiveMemberships": {
              "id": "cloudidentity.groups.memberships.searchTransitiveMemberships",
              "description": "Search transitive memberships of a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A transitive membership is any direct or indirect membership of a group. Actor must have view permissions to all transitive memberships.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:searchTransitiveMemberships",
              "path": "v1beta1/{+parent}/memberships:searchTransitiveMemberships",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous list request, if any.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The default page size is 200 (max 1000).",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group.",
                  "pattern": "^groups/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "SearchTransitiveMembershipsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships",
              "description": "Creates a `Membership`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/memberships",
              "parameters": {
                "parent": {
                  "pattern": "^groups/[^/]+$",
                  "description": "Required. The parent `Group` resource under which to create the `Membership`. Must be of the form `groups/{group_id}`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Membership"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.groups.memberships.create"
            },
            "checkTransitiveMembership": {
              "id": "cloudidentity.groups.memberships.checkTransitiveMembership",
              "path": "v1beta1/{+parent}/memberships:checkTransitiveMembership",
              "flatPath": "v1beta1/groups/{groupsId}/memberships:checkTransitiveMembership",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Check a potential member for membership in a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. A member has membership to a group as long as there is a single viewable transitive membership between the group and the member. The actor must have view permissions to at least one transitive membership between the member and group.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CheckTransitiveMembershipResponse"
              },
              "parameters": {
                "query": {
                  "description": "Required. A CEL expression that MUST include member specification. This is a `required` field. Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value'`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "description": "[Resource name](https://cloud.google.com/apis/design/resource_names) of the group to check the transitive membership in. Format: `groups/{group_id}`, where `group_id` is the unique id assigned to the Group to which the Membership belongs to.",
                  "location": "path"
                }
              }
            },
            "getMembershipGraph": {
              "description": "Get a membership graph of just a member or both a member and a group. **Note:** This feature is only available to Google Workspace Enterprise Standard, Enterprise Plus, and Enterprise for Education; and Cloud Identity Premium accounts. Given a member, the response will contain all membership paths from the member. Given both a group and a member, the response will contain all membership paths between the group and the member.",
              "path": "v1beta1/{+parent}/memberships:getMembershipGraph",
              "id": "cloudidentity.groups.memberships.getMembershipGraph",
              "parameters": {
                "query": {
                  "type": "string",
                  "description": "Required. A CEL expression that MUST include member specification AND label(s). Certain groups are uniquely identified by both a 'member_key_id' and a 'member_key_namespace', which requires an additional query input: 'member_key_namespace'. Example query: `member_key_id == 'member_key_id_value' && in labels`",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the group to search transitive memberships in. Format: `groups/{group_id}`, where `group_id` is the unique ID assigned to the Group to which the Membership belongs to. group_id can be a wildcard collection id \"-\". When a group_id is specified, the membership graph will be constrained to paths between the member (defined in the query) and the parent. If a wildcard collection is provided, all membership paths connected to the member will be returned.",
                  "type": "string",
                  "pattern": "^groups/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships:getMembershipGraph"
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "description": "Deletes a `Membership`.",
              "parameters": {
                "name": {
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to delete. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.groups.memberships.delete"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}",
              "parameters": {
                "name": {
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` to retrieve. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieves a `Membership`.",
              "response": {
                "$ref": "Membership"
              },
              "path": "v1beta1/{+name}",
              "id": "cloudidentity.groups.memberships.get"
            },
            "modifyMembershipRoles": {
              "request": {
                "$ref": "ModifyMembershipRolesRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ModifyMembershipRolesResponse"
              },
              "description": "Modifies the `MembershipRole`s of a `Membership`.",
              "path": "v1beta1/{+name}:modifyMembershipRoles",
              "parameters": {
                "name": {
                  "pattern": "^groups/[^/]+/memberships/[^/]+$",
                  "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Membership` whose roles are to be modified. Must be of the form `groups/{group_id}/memberships/{membership_id}`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.groups",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/groups/{groupsId}/memberships/{membershipsId}:modifyMembershipRoles",
              "id": "cloudidentity.groups.memberships.modifyMembershipRoles"
            }
          }
        }
      },
      "methods": {
        "search": {
          "description": "Searches for `Group`s matching a specified query.",
          "path": "v1beta1/groups:search",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "cloudidentity.groups.search",
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchGroupsResponse"
          },
          "flatPath": "v1beta1/groups:search",
          "parameters": {
            "view": {
              "enumDescriptions": [
                "Default. Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "type": "string",
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `GroupView.BASIC` and to 50 for `GroupView.FULL`. Must not be greater than 1000 for `GroupView.BASIC` or 500 for `GroupView.FULL`.",
              "format": "int32"
            },
            "query": {
              "description": "Required. The search query. Must be specified in [Common Expression Language](https://opensource.google/projects/cel). May only contain equality operators on the parent and inclusion operators on labels (e.g., `parent == 'customers/{customer_id}' && 'cloudidentity.googleapis.com/groups.discussion_forum' in labels`).",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous search request, if any.",
              "location": "query"
            }
          }
        },
        "list": {
          "flatPath": "v1beta1/groups",
          "description": "Lists the `Group`s under a customer or namespace.",
          "response": {
            "$ref": "ListGroupsResponse"
          },
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of results to return. Note that the number of results returned may be less than this value even if there are more available results. To fetch all results, clients must continue calling this method repeatedly until the response no longer contains a `next_page_token`. If unspecified, defaults to 200 for `View.BASIC` and to 50 for `View.FULL`. Must not be greater than 1000 for `View.BASIC` or 500 for `View.FULL`.",
              "type": "integer"
            },
            "view": {
              "description": "The level of detail to be returned. If unspecified, defaults to `View.BASIC`.",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default. Should not be used.",
                "Only basic resource information is returned.",
                "All resource information is returned."
              ],
              "type": "string"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous list request, if any.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "description": "Required. The parent resource under which to list all `Group`s. Must be of the form `identitysources/{identity_source_id}` for external- identity-mapped groups or `customers/{customer_id}` for Google Groups.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/groups",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "cloudidentity.groups.list"
        },
        "lookup": {
          "path": "v1beta1/groups:lookup",
          "response": {
            "$ref": "LookupGroupNameResponse"
          },
          "id": "cloudidentity.groups.lookup",
          "httpMethod": "GET",
          "parameters": {
            "groupKey.namespace": {
              "location": "query",
              "description": "The namespace in which the entity exists. If not specified, the `EntityKey` represents a Google-managed entity such as a Google user or a Google Group. If specified, the `EntityKey` represents an external-identity-mapped group. The namespace must correspond to an identity source created in Admin Console and must be in the form of `identitysources/{identity_source_id}.",
              "type": "string"
            },
            "groupKey.id": {
              "description": "The ID of the entity. For Google-managed entities, the `id` must be the email address of an existing group or user. For external-identity-mapped entities, the `id` must be a string conforming to the Identity Source's requirements. Must be unique within a `namespace`.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/groups:lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "description": "Looks up the [resource name](https://cloud.google.com/apis/design/resource_names) of a `Group` by its `EntityKey`."
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/groups/{groupsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "cloudidentity.groups.delete",
          "parameters": {
            "name": {
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "location": "path",
              "pattern": "^groups/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes a `Group`."
        },
        "patch": {
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/groups/{groupsId}",
          "description": "Updates a `Group`.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Group"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^groups/[^/]+$",
              "type": "string",
              "description": "Output only. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group`. Shall be of the form `groups/{group_id}`."
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. The fully-qualified names of fields to update. May only contain the following fields: `display_name`, `description`."
            }
          },
          "id": "cloudidentity.groups.patch"
        },
        "get": {
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Group"
          },
          "flatPath": "v1beta1/groups/{groupsId}",
          "id": "cloudidentity.groups.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-identity.groups.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a `Group`.",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^groups/[^/]+$",
              "type": "string",
              "description": "Required. The [resource name](https://cloud.google.com/apis/design/resource_names) of the `Group` to retrieve. Must be of the form `groups/{group_id}`.",
              "required": true
            }
          }
        },
        "create": {
          "request": {
            "$ref": "Group"
          },
          "parameters": {
            "initialGroupConfig": {
              "location": "query",
              "enum": [
                "INITIAL_GROUP_CONFIG_UNSPECIFIED",
                "WITH_INITIAL_OWNER",
                "EMPTY"
              ],
              "enumDescriptions": [
                "Default. Should not be used.",
                "The end user making the request will be added as the initial owner of the `Group`.",
                "An empty group is created without any initial owners. This can only be used by admins of the domain."
              ],
              "type": "string",
              "description": "Required. The initial configuration option for the `Group`."
            }
          },
          "parameterOrder": [],
          "description": "Creates a `Group`.",
          "path": "v1beta1/groups",
          "id": "cloudidentity.groups.create",
          "flatPath": "v1beta1/groups",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-identity.groups",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "devices": {
      "methods": {
        "wipe": {
          "parameters": {
            "name": {
              "pattern": "^devices/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User."
            }
          },
          "description": "Wipes all data on the specified device.",
          "id": "cloudidentity.devices.wipe",
          "path": "v1beta1/{+name}:wipe",
          "flatPath": "v1beta1/devices/{devicesId}:wipe",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "WipeDeviceRequest"
          }
        },
        "get": {
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Device"
          },
          "id": "cloudidentity.devices.get",
          "httpMethod": "GET",
          "description": "Retrieves the specified device.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/devices/{devicesId}",
          "parameters": {
            "customer": {
              "location": "query",
              "type": "string",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Customer in format: `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
            },
            "name": {
              "pattern": "^devices/[^/]+$",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "path": "v1beta1/devices",
          "parameterOrder": [],
          "flatPath": "v1beta1/devices",
          "id": "cloudidentity.devices.list",
          "parameters": {
            "customer": {
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "description": "Optional. Order specification for devices in the response. Only one of the following field names may be used to specify the order: `create_time`, `last_sync_time`, `model`, `os_version`, `device_type` and `serial_number`. `desc` may be specified optionally to specify results to be sorted in descending order. Default order is ascending.",
              "type": "string",
              "location": "query"
            },
            "view": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "COMPANY_INVENTORY",
                "USER_ASSIGNED_DEVICES"
              ],
              "type": "string",
              "description": "Optional. The view to use for the List request.",
              "location": "query",
              "enumDescriptions": [
                "Default value. The value is unused.",
                "This view contains all devices imported by the company admin. Each device in the response contains all information specified by the company admin when importing the device (i.e. asset tags).",
                "This view contains all devices with at least one user registered on the device. Each device in the response contains all device information, except for asset tags."
              ]
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "Optional. The maximum number of Devices to return. If unspecified, at most 20 Devices will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListDevicesResponse"
          },
          "description": "Lists/Searches devices."
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes the specified device.",
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^devices/[^/]+$",
              "required": true,
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device.",
              "location": "path"
            },
            "customer": {
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "v1beta1/devices/{devicesId}",
          "id": "cloudidentity.devices.delete"
        },
        "cancelWipe": {
          "request": {
            "$ref": "CancelWipeDeviceRequest"
          },
          "flatPath": "v1beta1/devices/{devicesId}:cancelWipe",
          "path": "v1beta1/{+name}:cancelWipe",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudidentity.devices.cancelWipe",
          "description": "Cancels an unfinished device wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^devices/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique ID assigned to the Device."
            }
          }
        },
        "create": {
          "id": "cloudidentity.devices.create",
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "httpMethod": "POST",
          "description": "Creates a device. Only company-owned device may be created. **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
          "flatPath": "v1beta1/devices",
          "path": "v1beta1/devices",
          "request": {
            "$ref": "CreateDeviceRequest"
          }
        }
      },
      "resources": {
        "deviceUsers": {
          "resources": {
            "clientStates": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "ClientState"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$",
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientStates/{partner_id}`, where device_id is the unique ID assigned to the Device, device_user_id is the unique ID assigned to the User and partner_id identifies the partner storing the data. To get the client state for devices belonging to your own organization, the `partnerId` is in the format: `customerId-*anystring*`. Where the `customerId` is your organization's customer ID and `anystring` is any suffix. This suffix is used in setting up Custom Access Levels in Context-Aware Access. You may use `my_customer` instead of the customer ID for devices managed by your own organization.",
                      "required": true,
                      "type": "string"
                    },
                    "customer": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the client state for the device user",
                  "path": "v1beta1/{+name}",
                  "id": "cloudidentity.devices.deviceUsers.clientStates.get"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}/clientStates/{clientStatesId}",
                  "id": "cloudidentity.devices.deviceUsers.clientStates.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. Comma-separated list of fully qualified names of fields to be updated. If not specified, all updatable fields in ClientState are updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data.",
                      "type": "string",
                      "pattern": "^devices/[^/]+/deviceUsers/[^/]+/clientStates/[^/]+$"
                    },
                    "customer": {
                      "location": "query",
                      "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Updates the client state for the device user **Note**: This method is available only to customers who have one of the following SKUs: Enterprise Standard, Enterprise Plus, Enterprise for Education, and Cloud Identity Premium",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ClientState"
                  }
                }
              }
            }
          },
          "methods": {
            "lookup": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Must be set to \"devices/-/deviceUsers\" to search across all DeviceUser belonging to the user.",
                  "pattern": "^devices/[^/]+/deviceUsers$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `LookupDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `LookupDeviceUsers` must match the call that provided the page token.",
                  "type": "string"
                },
                "androidId": {
                  "type": "string",
                  "location": "query",
                  "description": "Android Id returned by [Settings.Secure#ANDROID_ID](https://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID)."
                },
                "rawResourceId": {
                  "type": "string",
                  "description": "Raw Resource Id used by Google Endpoint Verification. If the user is enrolled into Google Endpoint Verification, this id will be saved as the 'device_resource_id' field in the following platform dependent files. Mac: ~/.secureConnect/context_aware_config.json Windows: C:\\Users\\%USERPROFILE%\\.secureConnect\\context_aware_config.json Linux: ~/.secureConnect/context_aware_config.json",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of DeviceUsers to return. If unspecified, at most 20 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "userId": {
                  "location": "query",
                  "type": "string",
                  "description": "The user whose DeviceUser's resource name will be fetched. Must be set to 'me' to fetch the DeviceUser's resource name for the calling user."
                }
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers:lookup",
              "description": "Looks up resource names of the DeviceUsers associated with the caller's credentials, as well as the properties provided in the request. This method must be called with end-user credentials with the scope: https://www.googleapis.com/auth/cloud-identity.devices.lookup If multiple properties are provided, only DeviceUsers having all of these properties are considered as matches - i.e. the query behaves like an AND. Different platforms require different amounts of information from the caller to ensure that the DeviceUser is uniquely identified. - iOS: No properties need to be passed, the caller's credentials are sufficient to identify the corresponding DeviceUser. - Android: Specifying the 'android_id' field is required. - Desktop: Specifying the 'raw_resource_id' field is required.",
              "response": {
                "$ref": "LookupSelfDeviceUsersResponse"
              },
              "id": "cloudidentity.devices.deviceUsers.lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-identity.devices.lookup"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}:lookup"
            },
            "wipe": {
              "httpMethod": "POST",
              "request": {
                "$ref": "WipeDeviceUserRequest"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:wipe",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.devices.deviceUsers.wipe",
              "path": "v1beta1/{+name}:wipe",
              "description": "Wipes the user's account on a device.",
              "response": {
                "$ref": "Operation"
              }
            },
            "approve": {
              "request": {
                "$ref": "ApproveDeviceUserRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "required": true,
                  "location": "path",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}:approve",
              "description": "Approves device to access user data.",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.devices.deviceUsers.approve",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:approve",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "id": "cloudidentity.devices.deviceUsers.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDeviceUsersResponse"
              },
              "description": "Lists/Searches DeviceUsers.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListDeviceUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBooks` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. To list all DeviceUsers, set this to \"devices/-\". To list all DeviceUsers owned by a device, set this to the resource name of the device. Format: devices/{device}",
                  "pattern": "^devices/[^/]+$",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Order specification for devices in the response.",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Additional restrictions when fetching list of devices. For a list of search fields, refer to [Mobile device search fields](https://developers.google.com/admin-sdk/directory/v1/search-operators). Multiple search fields are separated by the space character.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of DeviceUsers to return. If unspecified, at most 5 DeviceUsers will be returned. The maximum value is 20; values above 20 will be coerced to 20."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/deviceUsers",
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers"
            },
            "delete": {
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}",
              "id": "cloudidentity.devices.deviceUsers.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "type": "string",
                  "required": true,
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path"
                },
                "customer": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes the specified DeviceUser. This also revokes the user's access to device data.",
              "path": "v1beta1/{+name}"
            },
            "block": {
              "request": {
                "$ref": "BlockDeviceUserRequest"
              },
              "description": "Blocks device from accessing user data",
              "path": "v1beta1/{+name}:block",
              "httpMethod": "POST",
              "id": "cloudidentity.devices.deviceUsers.block",
              "parameters": {
                "name": {
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User."
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:block"
            },
            "cancelWipe": {
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}:cancelWipe",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudidentity.devices.deviceUsers.cancelWipe",
              "parameters": {
                "name": {
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "CancelWipeDeviceUserRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Cancels an unfinished user account wipe. This operation can be used to cancel device wipe in the gap between the wipe operation returning success and the device being wiped.",
              "path": "v1beta1/{+name}:cancelWipe"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "cloudidentity.devices.deviceUsers.get",
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}/deviceUsers/{device_user_id}`, where device_id is the unique ID assigned to the Device, and device_user_id is the unique ID assigned to the User.",
                  "pattern": "^devices/[^/]+/deviceUsers/[^/]+$"
                }
              },
              "description": "Retrieves the specified DeviceUser",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "DeviceUser"
              },
              "flatPath": "v1beta1/devices/{devicesId}/deviceUsers/{deviceUsersId}"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://cloudidentity.googleapis.com/",
  "version": "v1beta1",
  "basePath": "",
  "description": "API for provisioning and managing identity resources.",
  "kind": "discovery#restDescription",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://cloudidentity.googleapis.com/",
  "title": "Cloud Identity API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://cloudidentity.mtls.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/identity/",
  "schemas": {
    "CustomAttributeValue": {
      "type": "object",
      "description": "Additional custom attribute values may be one of these types",
      "properties": {
        "numberValue": {
          "description": "Represents a double value.",
          "format": "double",
          "type": "number"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      },
      "id": "CustomAttributeValue"
    },
    "CancelWipeDeviceUserRequest": {
      "description": "Request message for cancelling an unfinished user account wipe.",
      "type": "object",
      "id": "CancelWipeDeviceUserRequest",
      "properties": {
        "customer": {
          "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      }
    },
    "DeviceUser": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When the user first signed in to the device"
        },
        "passwordState": {
          "description": "Password state of the DeviceUser object",
          "type": "string",
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device_id}/deviceUsers/{user_id}`, where user_id is the ID of the user associated with the user session."
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        },
        "firstSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Most recent time when user registered with this service.",
          "readOnly": true
        },
        "managementState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ],
          "type": "string",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "description": "Output only. Management state of the user on the device."
        },
        "compromisedState": {
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "description": "Compromised State of the DeviceUser object"
        },
        "languageCode": {
          "readOnly": true,
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "type": "string"
        },
        "userAgent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User agent on the device for this specific user"
        },
        "lastSyncTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last time when user synced with policies."
        }
      },
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "id": "DeviceUser",
      "type": "object"
    },
    "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse": {
      "properties": {
        "device": {
          "description": "Resultant Device object for the action. Note that asset tags will not be returned in the device object.",
          "$ref": "GoogleAppsCloudidentityDevicesV1Device"
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1CancelWipeDeviceResponse",
      "type": "object",
      "description": "Response message for cancelling an unfinished device wipe."
    },
    "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse": {
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1WipeDeviceUserResponse",
      "description": "Response message for wiping the user's account from the device.",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser"
        }
      }
    },
    "ApproveDeviceUserRequest": {
      "id": "ApproveDeviceUserRequest",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs."
        }
      },
      "type": "object",
      "description": "Request message for approving the device to access user data."
    },
    "WipeDeviceUserResponse": {
      "id": "WipeDeviceUserResponse",
      "description": "Response message for wiping the user's account from the device.",
      "type": "object",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      }
    },
    "UpdateMembershipRolesParams": {
      "description": "The details of an update to a `MembershipRole`.",
      "properties": {
        "membershipRole": {
          "$ref": "MembershipRole",
          "description": "The `MembershipRole`s to be updated. Only `MEMBER` `MembershipRoles` can currently be updated. May only contain a `MembershipRole` with `name` `MEMBER`."
        },
        "fieldMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fully-qualified names of fields to update. May only contain the field `expiry_detail`."
        }
      },
      "type": "object",
      "id": "UpdateMembershipRolesParams"
    },
    "GoogleAppsCloudidentityDevicesV1ClientState": {
      "properties": {
        "lastUpdateTime": {
          "readOnly": true,
          "description": "Output only. The time the client state data was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "customId": {
          "description": "This field may be used to store a unique identifier for the API resource within which these CustomAttributes are a field.",
          "type": "string"
        },
        "keyValuePairs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleAppsCloudidentityDevicesV1CustomAttributeValue"
          },
          "description": "The map of key-value attributes stored by callers specific to a device. The total serialized length of this map may not exceed 10KB. No limit is placed on the number of attributes in a map."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the ClientState in format: `devices/{device_id}/deviceUsers/{device_user_id}/clientState/{partner_id}`, where partner_id corresponds to the partner storing the data. For partners belonging to the \"BeyondCorp Alliance\", this is the partner ID specified to you by Google. For all other callers, this is a string of the form: `{customer_id}-suffix`, where `customer_id` is your customer ID. The *suffix* is any string the caller specifies. This string will be displayed verbatim in the administration console. This suffix is used in setting up Custom Access Levels in Context-Aware Access. Your organization's customer ID can be obtained from the URL: `GET https://www.googleapis.com/admin/directory/v1/customers/my_customer` The `id` field in the response contains the customer ID starting with the letter 'C'. The customer ID to be used in this API is the string after the letter 'C' (not including 'C')"
        },
        "managed": {
          "type": "string",
          "description": "The management state of the resource as specified by the API client.",
          "enumDescriptions": [
            "The management state of the resource is unknown or unspecified.",
            "The resource is managed.",
            "The resource is not managed."
          ],
          "enum": [
            "MANAGED_STATE_UNSPECIFIED",
            "MANAGED",
            "UNMANAGED"
          ]
        },
        "complianceState": {
          "enumDescriptions": [
            "The compliance state of the resource is unknown or unspecified.",
            "Device is compliant with third party policies",
            "Device is not compliant with third party policies"
          ],
          "type": "string",
          "description": "The compliance state of the resource as specified by the API client.",
          "enum": [
            "COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT"
          ]
        },
        "scoreReason": {
          "type": "string",
          "description": "A descriptive cause of the health score."
        },
        "createTime": {
          "description": "Output only. The time the client state data was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "healthScore": {
          "enum": [
            "HEALTH_SCORE_UNSPECIFIED",
            "VERY_POOR",
            "POOR",
            "NEUTRAL",
            "GOOD",
            "VERY_GOOD"
          ],
          "enumDescriptions": [
            "Default value",
            "The object is in very poor health as defined by the caller.",
            "The object is in poor health as defined by the caller.",
            "The object health is neither good nor poor, as defined by the caller.",
            "The object is in good health as defined by the caller.",
            "The object is in very good health as defined by the caller."
          ],
          "description": "The Health score of the resource. The Health score is the callers specification of the condition of the device from a usability point of view. For example, a third-party device management provider may specify a health score based on its compliance with organizational policies.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The token that needs to be passed back for concurrency control in updates. Token needs to be passed back in UpdateRequest"
        },
        "assetTags": {
          "items": {
            "type": "string"
          },
          "description": "The caller can specify asset tags for this resource",
          "type": "array"
        },
        "ownerType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown owner type",
            "Customer is the owner",
            "Partner is the owner"
          ],
          "enum": [
            "OWNER_TYPE_UNSPECIFIED",
            "OWNER_TYPE_CUSTOMER",
            "OWNER_TYPE_PARTNER"
          ],
          "description": "Output only. The owner of the ClientState"
        }
      },
      "description": "Represents the state associated with an API client calling the Devices API. Resource representing ClientState and supports updates from API users",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1ClientState"
    },
    "GoogleAppsCloudidentityDevicesV1AndroidAttributes": {
      "properties": {
        "enabledUnknownSources": {
          "description": "Whether applications from unknown sources can be installed on device.",
          "type": "boolean"
        },
        "ownerProfileAccount": {
          "description": "Whether this account is on an owner/primary profile. For phones, only true for owner profiles. Android 4+ devices can have secondary or restricted user profiles.",
          "type": "boolean"
        },
        "ownershipPrivilege": {
          "enum": [
            "OWNERSHIP_PRIVILEGE_UNSPECIFIED",
            "DEVICE_ADMINISTRATOR",
            "PROFILE_OWNER",
            "DEVICE_OWNER"
          ],
          "type": "string",
          "description": "Ownership privileges on device.",
          "enumDescriptions": [
            "Ownership privilege is not set.",
            "Active device administrator privileges on the device.",
            "Profile Owner privileges. The account is in a managed corporate profile.",
            "Device Owner privileges on the device."
          ]
        },
        "supportsWorkProfile": {
          "description": "Whether device supports Android work profiles. If false, this service will not block access to corp data even if an administrator turns on the \"Enforce Work Profile\" policy.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1AndroidAttributes",
      "description": "Resource representing the Android specific attributes of a Device."
    },
    "GetMembershipGraphResponse": {
      "description": "The response message for MembershipsService.GetMembershipGraph.",
      "properties": {
        "adjacencyList": {
          "description": "The membership graph's path information represented as an adjacency list.",
          "type": "array",
          "items": {
            "$ref": "MembershipAdjacencyList"
          }
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "description": "The resources representing each group in the adjacency list. Each group in this list can be correlated to a 'group' of the MembershipAdjacencyList using the 'name' of the Group resource."
        }
      },
      "type": "object",
      "id": "GetMembershipGraphResponse"
    },
    "CancelWipeDeviceUserResponse": {
      "description": "Response message for cancelling an unfinished user account wipe.",
      "type": "object",
      "id": "CancelWipeDeviceUserResponse",
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      }
    },
    "ApproveDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "description": "Resultant DeviceUser object for the action.",
          "$ref": "DeviceUser"
        }
      },
      "id": "ApproveDeviceUserResponse",
      "type": "object",
      "description": "Response message for approving the device to access user data."
    },
    "GoogleAppsCloudidentityDevicesV1Device": {
      "description": " A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1Device",
      "properties": {
        "enabledUsbDebugging": {
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device.",
          "readOnly": true
        },
        "securityPatchTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. OS security patch update time on device."
        },
        "meid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. MEID number of device if CDMA device; empty otherwise."
        },
        "buildNumber": {
          "readOnly": true,
          "description": "Output only. Build number of the device.",
          "type": "string"
        },
        "ownerType": {
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "wifiMacAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "WiFi MAC addresses of device."
        },
        "encryptionState": {
          "description": "Output only. Device encryption state.",
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "type": "string",
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ],
          "readOnly": true
        },
        "assetTag": {
          "description": "Asset tag of the device.",
          "type": "string"
        },
        "androidSpecificAttributes": {
          "readOnly": true,
          "description": "Output only. Attributes specific to Android devices.",
          "$ref": "GoogleAppsCloudidentityDevicesV1AndroidAttributes"
        },
        "managementState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Management state of the device",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ],
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ]
        },
        "kernelVersion": {
          "type": "string",
          "description": "Output only. Kernel version of the device.",
          "readOnly": true
        },
        "imei": {
          "type": "string",
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "readOnly": true
        },
        "deviceType": {
          "description": "Output only. Type of device.",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "readOnly": true
        },
        "otherAccounts": {
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\".",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "compromisedState": {
          "description": "Output only. Represents whether the Device is compromised.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ],
          "readOnly": true,
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ]
        },
        "enabledDeveloperOptions": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether developer options is enabled on device."
        },
        "osVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OS version of the device. Example: Android 8.1.0."
        },
        "basebandVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Baseband version of the device."
        },
        "releaseVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OS release version. Example: 6.0."
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true,
          "type": "string"
        },
        "lastSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Most recent time when device synced with this service."
        },
        "bootloaderVersion": {
          "readOnly": true,
          "description": "Output only. Device bootloader version. Example: 0.6.7.",
          "type": "string"
        },
        "name": {
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique id assigned to the Device.",
          "type": "string",
          "readOnly": true
        },
        "networkOperator": {
          "description": "Output only. Mobile or network operator of device, if available.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "readOnly": true,
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial Number of device. Example: HT82V1A01076."
        }
      }
    },
    "TransitiveMembershipRole": {
      "description": "Message representing the role of a TransitiveMembership.",
      "id": "TransitiveMembershipRole",
      "type": "object",
      "properties": {
        "role": {
          "description": "TransitiveMembershipRole in string format. Currently supported TransitiveMembershipRoles: `\"MEMBER\"`, `\"OWNER\"`, and `\"MANAGER\"`.",
          "type": "string"
        }
      }
    },
    "CancelWipeDeviceRequest": {
      "id": "CancelWipeDeviceRequest",
      "type": "object",
      "properties": {
        "customer": {
          "description": "Required. [Resource name](https://cloud.google.com/apis/design/resource_names) of the customer. If you're using this API for your own organization, use `customers/my_customer` If you're using this API to manage another organization, use `customers/{customer_id}`, where customer_id is the customer to whom the device belongs.",
          "type": "string"
        }
      },
      "description": "Request message for cancelling an unfinished device wipe."
    },
    "Device": {
      "description": "A Device within the Cloud Identity Devices API. Represents a Device known to Google Cloud, independent of the device ownership, type, and whether it is assigned or in use by a user.",
      "id": "Device",
      "type": "object",
      "properties": {
        "meid": {
          "description": "Output only. MEID number of device if CDMA device; empty otherwise.",
          "type": "string",
          "readOnly": true
        },
        "bootloaderVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Device bootloader version. Example: 0.6.7."
        },
        "ownerType": {
          "readOnly": true,
          "enum": [
            "DEVICE_OWNERSHIP_UNSPECIFIED",
            "COMPANY",
            "BYOD"
          ],
          "enumDescriptions": [
            "Default value. The value is unused.",
            "Company owns the device.",
            "Bring Your Own Device (i.e. individual owns the device)"
          ],
          "description": "Output only. Whether the device is owned by the company or an individual",
          "type": "string"
        },
        "encryptionState": {
          "enumDescriptions": [
            "Encryption Status is not set.",
            "Device doesn't support encryption.",
            "Device is encrypted.",
            "Device is not encrypted."
          ],
          "type": "string",
          "description": "Output only. Device encryption state.",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "UNSUPPORTED_BY_DEVICE",
            "ENCRYPTED",
            "NOT_ENCRYPTED"
          ]
        },
        "androidSpecificAttributes": {
          "$ref": "AndroidAttributes",
          "description": "Output only. Attributes specific to Android devices.",
          "readOnly": true
        },
        "basebandVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Baseband version of the device."
        },
        "name": {
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the Device in format: `devices/{device_id}`, where device_id is the unique id assigned to the Device.",
          "readOnly": true
        },
        "securityPatchTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. OS security patch update time on device.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Output only. Model name of device. Example: Pixel 3.",
          "readOnly": true
        },
        "deviceType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown device type",
            "Device is an Android device",
            "Device is an iOS device",
            "Device is a Google Sync device.",
            "Device is a Windows device.",
            "Device is a MacOS device.",
            "Device is a Linux device.",
            "Device is a ChromeOS device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "GOOGLE_SYNC",
            "WINDOWS",
            "MAC_OS",
            "LINUX",
            "CHROME_OS"
          ],
          "description": "Output only. Type of device."
        },
        "networkOperator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Mobile or network operator of device, if available."
        },
        "assetTag": {
          "type": "string",
          "description": "Asset tag of the device."
        },
        "managementState": {
          "description": "Output only. Management state of the device",
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "APPROVED",
            "BLOCKED",
            "PENDING",
            "UNPROVISIONED",
            "WIPING",
            "WIPED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Device is approved.",
            "Device is blocked.",
            "Device is pending approval.",
            "The device is not provisioned. Device will start from this state until some action is taken (i.e. a user starts using the device).",
            "Data and settings on the device are being removed.",
            "All data and settings on the device are removed."
          ]
        },
        "buildNumber": {
          "type": "string",
          "description": "Output only. Build number of the device.",
          "readOnly": true
        },
        "imei": {
          "description": "Output only. IMEI number of device if GSM device; empty otherwise.",
          "readOnly": true,
          "type": "string"
        },
        "enabledDeveloperOptions": {
          "readOnly": true,
          "description": "Output only. Whether developer options is enabled on device.",
          "type": "boolean"
        },
        "kernelVersion": {
          "type": "string",
          "description": "Output only. Kernel version of the device.",
          "readOnly": true
        },
        "otherAccounts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Domain name for Google accounts on device. Type for other accounts on device. On Android, will only be populated if |ownership_privilege| is |PROFILE_OWNER| or |DEVICE_OWNER|. Does not include the account signed in to the device policy app if that account's domain has only one account. Examples: \"com.example\", \"xyz.com\"."
        },
        "compromisedState": {
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "UNCOMPROMISED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents whether the Device is compromised.",
          "enumDescriptions": [
            "Default value.",
            "The device is compromised (currently, this means Android device is rooted).",
            "The device is safe (currently, this means Android device is unrooted)."
          ]
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Device manufacturer. Example: Motorola.",
          "readOnly": true
        },
        "lastSyncTime": {
          "type": "string",
          "description": "Most recent time when device synced with this service.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Company-Owned device was imported. This field is empty for BYOD devices."
        },
        "osVersion": {
          "description": "Output only. OS version of the device. Example: Android 8.1.0.",
          "readOnly": true,
          "type": "string"
        },
        "wifiMacAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "WiFi MAC addresses of device."
        },
        "brand": {
          "description": "Output only. Device brand. Example: Samsung.",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "Serial Number of device. Example: HT82V1A01076.",
          "type": "string"
        },
        "enabledUsbDebugging": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether USB debugging is enabled on device."
        },
        "releaseVersion": {
          "readOnly": true,
          "description": "Output only. OS release version. Example: 6.0.",
          "type": "string"
        }
      }
    },
    "GoogleAppsCloudidentityDevicesV1DeviceUser": {
      "type": "object",
      "description": "Represents a user's use of a Device in the Cloud Identity Devices API. A DeviceUser is a resource representing a user's use of a Device",
      "properties": {
        "lastSyncTime": {
          "description": "Output only. Last time when user synced with policies.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "description": "Output only. Default locale used on device, in IETF BCP-47 format.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Resource name](https://cloud.google.com/apis/design/resource_names) of the DeviceUser in format: `devices/{device_id}/deviceUsers/{user_id}`, where user_id is the ID of the user associated with the user session."
        },
        "passwordState": {
          "enum": [
            "PASSWORD_STATE_UNSPECIFIED",
            "PASSWORD_SET",
            "PASSWORD_NOT_SET"
          ],
          "enumDescriptions": [
            "Password state not set.",
            "Password set in object.",
            "Password not set in object."
          ],
          "description": "Password state of the DeviceUser object",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the user first signed in to the device"
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user registered on the device."
        },
        "userAgent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User agent on the device for this specific user"
        },
        "compromisedState": {
          "type": "string",
          "enum": [
            "COMPROMISED_STATE_UNSPECIFIED",
            "COMPROMISED",
            "NOT_COMPROMISED"
          ],
          "enumDescriptions": [
            "Compromised state of Device User account is unknown or unspecified.",
            "Device User Account is compromised.",
            "Device User Account is not compromised."
          ],
          "description": "Compromised State of the DeviceUser object"
        },
        "firstSyncTime": {
          "description": "Output only. Most recent time when user registered with this service.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "managementState": {
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "WIPING",
            "WIPED",
            "APPROVED",
            "BLOCKED",
            "PENDING_APPROVAL",
            "UNENROLLED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Management state of the user on the device.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This user's data and profile is being removed from the device.",
            "This user's data and profile is removed from the device.",
            "User is approved to access data on the device.",
            "User is blocked from accessing data on the device.",
            "User is awaiting approval.",
            "User is unenrolled from Advanced Windows Management, but the Windows account is still intact."
          ]
        }
      },
      "id": "GoogleAppsCloudidentityDevicesV1DeviceUser"
    },
    "BlockDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "$ref": "DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "id": "BlockDeviceUserResponse",
      "type": "object",
      "description": "Response message for blocking the device from accessing user data."
    },
    "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse": {
      "properties": {
        "deviceUser": {
          "$ref": "GoogleAppsCloudidentityDevicesV1DeviceUser",
          "description": "Resultant DeviceUser object for the action."
        }
      },
      "type": "object",
      "id": "GoogleAppsCloudidentityDevicesV1BlockDeviceUserResponse",
[...]
