{
  "discoveryVersion": "v1",
  "basePath": "",
  "resources": {
    "products": {
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudChannelV1ListSkusResponse"
              },
              "parameters": {
                "account": {
                  "description": "Required. Resource name of the reseller. Format: accounts/{account_id}.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, at most 100 SKUs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query"
                },
                "languageCode": {
                  "description": "Optional. The BCP-47 language code, such as \"en-US\". If specified, the response will be localized to the corresponding language code. Default is \"en-US\".",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The resource name of the Product for which to list SKUs. The parent takes the format: products/{product_id}. Supports products/- to retrieve SKUs for all products.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^products/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results, if other than the first one. Optional.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists the SKUs for a product the reseller is authorized to sell. Possible Error Codes: * INVALID_ARGUMENT: Missing or invalid required parameters in the request.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/products/{productsId}/skus",
              "id": "cloudchannel.products.skus.list",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/skus"
            }
          }
        }
      },
      "methods": {
        "list": {
          "path": "v1/products",
          "parameters": {
            "pageSize": {
              "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, at most 100 Products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "languageCode": {
              "description": "Optional. The BCP-47 language code, such as \"en-US\". If specified, the response will be localized to the corresponding language code. Default is \"en-US\".",
              "location": "query",
              "type": "string"
            },
            "account": {
              "type": "string",
              "description": "Required. The resource name of the reseller account. Format: accounts/{account_id}.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token identifying a page of results, if other than the first one."
            }
          },
          "description": "Lists the Products the reseller is authorized to sell. Possible Error Codes: * INVALID_ARGUMENT: Missing or invalid required parameters in the request.",
          "response": {
            "$ref": "GoogleCloudChannelV1ListProductsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/products",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "id": "cloudchannel.products.list",
          "parameterOrder": []
        }
      }
    },
    "accounts": {
      "resources": {
        "offers": {
          "methods": {
            "list": {
              "id": "cloudchannel.accounts.offers.list",
              "path": "v1/{+parent}/offers",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/offers",
              "response": {
                "$ref": "GoogleCloudChannelV1ListOffersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, at most 500 Offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "parent": {
                  "description": "Required. The resource name of the reseller account from which to list Offers. The parent takes the format: accounts/{account_id}.",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token identifying a page of results, if other than the first one.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. The expression to filter results by name (name of the Offer), sku.name (name of the SKU) or sku.product.name (name of the Product). Example 1: sku.product.name=products/p1 AND sku.name!=products/p1/skus/s1 Example 2: name=accounts/a1/offers/o1",
                  "type": "string"
                },
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The BCP-47 language code, such as \"en-US\". If specified, the response will be localized to the corresponding language code. Default is \"en-US\".",
                  "type": "string"
                }
              },
              "description": "Lists the Offers the reseller can sell. Possible Error Codes: * INVALID_ARGUMENT: Missing or invalid required parameters in the request."
            }
          }
        },
        "customers": {
          "resources": {
            "entitlements": {
              "methods": {
                "changeOffer": {
                  "id": "cloudchannel.accounts.customers.entitlements.changeOffer",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The name of the entitlement to update. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeOffer",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:changeOffer",
                  "httpMethod": "POST",
                  "description": "Updates the Offer for an existing customer entitlement. An entitlement update is a long-running operation and results in updates to the entitlement as a result of fulfillment. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: Offer or Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeOfferRequest"
                  }
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1CancelEntitlementRequest"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:cancel",
                  "description": "Cancels a previously fulfilled entitlement. An entitlement cancellation is a long-running operation. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller or if the reseller account making the request and reseller account being queried for are different. * FAILED_PRECONDITION: If there are any Google Cloud projects linked to the Google Cloud entitlement's Cloud Billing subaccount. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: Entitlement resource not found. * DELETION_TYPE_NOT_ALLOWED: Cancel is only allowed for Google Workspace add-ons or entitlements for Google Cloud's development platform. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
                  "id": "cloudchannel.accounts.customers.entitlements.cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the entitlement to cancel. The name takes the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "startPaidService": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the entitlement for which paid service is being started. The name takes the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:startPaidService",
                  "id": "cloudchannel.accounts.customers.entitlements.startPaidService",
                  "request": {
                    "$ref": "GoogleCloudChannelV1StartPaidServiceRequest"
                  },
                  "description": "Starts paid service for a trial entitlement. Starts paid service for a trial entitlement immediately. This method is only applicable if a plan has already been set up for a trial entitlement but has some trial days remaining. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: Entitlement resource not found. * FAILED_PRECONDITION/NOT_IN_TRIAL: This method only works for entitlement on trial plans. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:startPaidService",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "activate": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1ActivateEntitlementRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.activate",
                  "httpMethod": "POST",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:activate",
                  "path": "v1/{+name}:activate",
                  "description": "Activates a previously suspended entitlement. The entitlement must be in a suspended state for it to be activated. Entitlements suspended for pending ToS acceptance can't be activated using this method. An entitlement activation is a long-running operation and can result in updates to the state of the customer entitlement. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller or if the reseller account making the request and reseller account being queried for are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: Entitlement resource not found. * SUSPENSION_NOT_RESELLER_INITIATED: Can't activate an entitlement that is pending TOS acceptance. Only reseller initiated suspensions can be activated. * NOT_SUSPENDED: Can't activate entitlements that are already in ACTIVE state. Can only activate suspended entitlements. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the entitlement to activate. The name takes the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path"
                    }
                  }
                },
                "suspend": {
                  "id": "cloudchannel.accounts.customers.entitlements.suspend",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:suspend",
                  "request": {
                    "$ref": "GoogleCloudChannelV1SuspendEntitlementRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:suspend",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Suspends a previously fulfilled entitlement. An entitlement suspension is a long-running operation. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: Entitlement resource not found. * NOT_ACTIVE: Entitlement is not active. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The resource name of the entitlement to suspend. The name takes the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                    }
                  },
                  "httpMethod": "POST"
                },
                "changeParameters": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeParametersRequest"
                  },
                  "path": "v1/{+name}:changeParameters",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudchannel.accounts.customers.entitlements.changeParameters",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the entitlement to update. The name takes the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeParameters",
                  "description": "Change parameters of the entitlement An entitlement parameters update is a long-running operation and results in updates to the entitlement as a result of fulfillment. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. For example, if the number of seats being changed to is greater than the allowed number of max seats for the resource. Or decreasing seats for a commitment based plan. * NOT_FOUND: Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata."
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Creates an entitlement for a customer. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: It can happen in below scenarios - * Missing or invalid required parameters in the request. * Cannot purchase an entitlement if there is already an entitlement for customer, for a SKU from the same product family. * INVALID_VALUE: Offer passed in isn't valid. Make sure OfferId is valid. If it is valid, then contact Google Channel support for further troubleshooting. * NOT_FOUND: If the customer or offer resource is not found for the reseller. * ALREADY_EXISTS: This failure can happen in the following cases: * If the SKU has been already purchased for the customer. * If the customer's primary email already exists. In this case retry after changing the customer's primary contact email. * CONDITION_NOT_MET or FAILED_PRECONDITION: This failure can happen in the following cases: * Purchasing a SKU that requires domain verification and the domain has not been verified. * Purchasing an Add-On SKU like Vault or Drive without purchasing the pre-requisite SKU, such as Google Workspace Business Starter. * Applicable only for developer accounts: reseller and resold domain. Must meet the following domain naming requirements: * Domain names must start with goog-test. * Resold domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel Support in this case. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel Support in this case. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "httpMethod": "POST",
                  "id": "cloudchannel.accounts.customers.entitlements.create",
                  "path": "v1/{+parent}/entitlements",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of reseller's customer account in which to create the entitlement. The parent takes the format: accounts/{account_id}/customers/{customer_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1CreateEntitlementRequest"
                  }
                },
                "get": {
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}",
                  "description": "Returns a requested Entitlement resource. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: If the entitlement is not found for the customer. Return Value: If found, the requested Entitlement resource, otherwise returns an error.",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the entitlement to retrieve. The name takes the format: accounts/{account_id}/customers/{customer_id}/entitlements/{id}",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Entitlement"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListEntitlementsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "List Entitlements belonging to a customer. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Return Value: List of Entitlements belonging to the customer, or empty list if there are none.",
                  "id": "cloudchannel.accounts.customers.entitlements.list",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "description": "Required. The resource name of the reseller's customer account for which to list entitlements. The parent takes the format: accounts/{account_id}/customers/{customer_id}",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results, if other than the first one. Typically obtained via ListEntitlementsResponse.next_page_token of the previous CloudChannelService.ListEntitlements call.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, at most 50 entitlements will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+parent}/entitlements",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ]
                },
                "changeRenewalSettings": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the entitlement to update. The name takes the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Updates the renewal settings for an existing customer entitlement. An entitlement update is a long-running operation and results in updates to the entitlement as a result of fulfillment. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: Entitlement resource not found. * NOT_COMMITMENT_PLAN: Renewal Settings are only applicable for a commitment plan. Can't enable or disable renewal for non-commitment plans. * INTERNAL: Any non user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeRenewalSettingsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.changeRenewalSettings",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeRenewalSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}:changeRenewalSettings"
                }
              }
            }
          },
          "methods": {
            "transferEntitlementsToGoogle": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlementsToGoogle",
              "description": "Transfers customer entitlements from current reseller to Google. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: If the customer or offer resource is not found for the reseller. * ALREADY_EXISTS: If the SKU has been already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: This failure can happen in the following cases: * Transferring a SKU that requires domain verification and the domain has not been verified. * Transferring an Add-On SKU like Vault or Drive without purchasing the pre-requisite SKU, such as G Suite Basic. * Applicable only for developer accounts: reseller and resold domain must follow the domain naming convention as follows: * Domain names must start with goog-test. * Resold domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Please contact Cloud Channel Support in this case. * UNKNOWN: Any non-user error related to a technical issue in the backend. Please contact Cloud Channel Support in this case. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest"
              },
              "path": "v1/{+parent}:transferEntitlementsToGoogle",
              "httpMethod": "POST",
              "id": "cloudchannel.accounts.customers.transferEntitlementsToGoogle",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of reseller's customer account where the entitlements transfer from. The parent takes the format: accounts/{account_id}/customers/{customer_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ]
            },
            "listPurchasableSkus": {
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableSkusResponse"
              },
              "path": "v1/{+customer}:listPurchasableSkus",
              "httpMethod": "GET",
              "id": "cloudchannel.accounts.customers.listPurchasableSkus",
              "description": "Lists the Purchasable SKUs for following cases: * SKUs that can be newly purchased for a customer * SKUs that can be upgraded/downgraded to, for an entitlement. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller * INVALID_ARGUMENT: Missing or invalid required parameters in the request.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameters": {
                "createEntitlementPurchase.product": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. List SKUs belonging to this Product. Format: products/{product_id}. Supports products/- to retrieve SKUs for all products."
                },
                "changeOfferPurchase.changeType": {
                  "location": "query",
                  "enum": [
                    "CHANGE_TYPE_UNSPECIFIED",
                    "UPGRADE",
                    "DOWNGRADE"
                  ],
                  "enumDescriptions": [
                    "Not used.",
                    "SKU is an upgrade on the current entitlement.",
                    "SKU is a downgrade on the current entitlement."
                  ],
                  "description": "Required. Change Type for the entitlement.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, at most 100 SKUs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                },
                "changeOfferPurchase.entitlement": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results, if other than the first one.",
                  "location": "query",
                  "type": "string"
                },
                "customer": {
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "description": "Required. The resource name of the customer for which to list SKUs. Format: accounts/{account_id}/customers/{customer_id}.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The BCP-47 language code, such as \"en-US\". If specified, the response will be localized to the corresponding language code. Default is \"en-US\"."
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableSkus",
              "parameterOrder": [
                "customer"
              ]
            },
            "patch": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates an existing Customer resource belonging to the reseller or distributor. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: No Customer resource found for the name specified in the request. Return Value: If successful, the updated Customer resource, otherwise returns an error.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The update mask that applies to the resource. Optional."
                },
                "name": {
                  "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "id": "cloudchannel.accounts.customers.patch"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the customer to retrieve. The name takes the format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "id": "cloudchannel.accounts.customers.get",
              "path": "v1/{+name}",
              "description": "Returns a requested Customer resource. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: If the customer resource doesn't exist. Usually the result of an invalid name parameter. Return Value: Customer resource if found, error otherwise.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ]
            },
            "listPurchasableOffers": {
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableOffersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "description": "Lists the Purchasable Offers for the following cases: * Offers that can be newly purchased for a customer * Offers that can be changed to, for an entitlement. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller * INVALID_ARGUMENT: Missing or invalid required parameters in the request.",
              "parameters": {
                "changeOfferPurchase.entitlement": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results, if other than the first one."
                },
                "createEntitlementPurchase.sku": {
                  "location": "query",
                  "description": "Required. SKU that the result should be restricted to. Format: products/{product_id}/skus/{sku_id}.",
                  "type": "string"
                },
                "changeOfferPurchase.newSku": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Resource name of the SKU that is being changed to. Should be provided if upgrading or downgrading an entitlement. Format: products/{product_id}/skus/{sku_id}"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, at most 100 Offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The BCP-47 language code, such as \"en-US\". If specified, the response will be localized to the corresponding language code. Default is \"en-US\".",
                  "type": "string"
                },
                "customer": {
                  "description": "Required. The resource name of the customer for which to list Offers. Format: accounts/{account_id}/customers/{customer_id}.",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "location": "path"
                }
              },
              "id": "cloudchannel.accounts.customers.listPurchasableOffers",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableOffers",
              "parameterOrder": [
                "customer"
              ],
              "path": "v1/{+customer}:listPurchasableOffers",
              "httpMethod": "GET"
            },
            "delete": {
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "description": "Deletes the given Customer permanently and irreversibly. Possible Error Codes: * PERMISSION_DENIED: If the account making the request does not own this customer. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * FAILED_PRECONDITION: If the customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name specified in the request.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the customer to delete.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "id": "cloudchannel.accounts.customers.delete"
            },
            "transferEntitlements": {
              "path": "v1/{+parent}:transferEntitlements",
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "description": "Required. The resource name of reseller's customer account where the entitlements transfer to. The parent takes the format: accounts/{account_id}/customers/{customer_id}",
                  "location": "path"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlements",
              "description": "Transfers customer entitlements to new reseller. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: If the customer or offer resource is not found for the reseller. * ALREADY_EXISTS: If the SKU has been already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: This failure can happen in the following cases: * Transferring a SKU that requires domain verification and the domain has not been verified. * Transferring an Add-On SKU like Vault or Drive without transferring the pre-requisite SKU, such as G Suite Basic. * Applicable only for developer accounts: reseller and resold domain must follow the domain naming convention as follows: * Domain names must start with goog-test. * Resold domain names must include the reseller domain. * All transferring entitlements must be specified. * INTERNAL: Any non-user error related to a technical issue in the backend. Please contact Cloud Channel Support in this case. * UNKNOWN: Any non-user error related to a technical issue in the backend. Please contact Cloud Channel Support in this case. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "id": "cloudchannel.accounts.customers.transferEntitlements",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST"
            },
            "create": {
              "path": "v1/{+parent}/customers",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of reseller account in which to create the customer. The parent takes the format: accounts/{account_id}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "cloudchannel.accounts.customers.create",
              "httpMethod": "POST",
              "description": "Creates a new Customer resource under the reseller or distributor account. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: It can happen in following scenarios - * Missing or invalid required parameters in the request. * Domain field value doesn't match the domain specified in primary email. Return Value: If successful, the newly created Customer resource, otherwise returns an error.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers"
            },
            "provisionCloudIdentity": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "path": "v1/{+customer}:provisionCloudIdentity",
              "description": "Creates a Cloud Identity for the given customer using the customer's information or the information provided here, if present. Possible Error Codes: * PERMISSION_DENIED: If the customer doesn't belong to the reseller. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: If the customer is not found for the reseller. * ALREADY_EXISTS: If the customer's primary email already exists. In this case, retry after changing the customer's primary contact email. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support in this case. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support in this case. Return Value: Long Running Operation ID. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:provisionCloudIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "request": {
                "$ref": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
              },
              "id": "cloudchannel.accounts.customers.provisionCloudIdentity",
              "parameterOrder": [
                "customer"
              ],
              "parameters": {
                "customer": {
                  "required": true,
                  "description": "Required. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "flatPath": "v1/accounts/{accountsId}/customers",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the reseller account from which to list customers. The parent takes the format: accounts/{account_id}.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results, if other than the first one. Typically obtained via ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, at most 10 customers will be returned. The maximum value is 50; values about 50 will be coerced to 50.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudchannel.accounts.customers.list",
              "description": "List downstream Customers. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Return Value: List of Customers pertaining to the reseller or empty list if there are none.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1ListCustomersResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/customers"
            }
          }
        },
        "channelPartnerLinks": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of reseller's account for which to create a channel partner link. The parent takes the format: accounts/{account_id}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Initiates a channel partner link between a distributor and a reseller or between resellers in an n-tier reseller channel. To accept the invite, the invited partner should follow the invite_link_uri provided in the response. If the link creation is accepted, a valid link is set up between the two involved parties. To call this method, you must be a distributor. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * ALREADY_EXISTS: If the ChannelPartnerLink sent in the request already exists. * NOT_FOUND: If no Cloud Identity customer exists for domain provided. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Newly created ChannelPartnerLink resource if successful, otherwise error is returned.",
              "id": "cloudchannel.accounts.channelPartnerLinks.create",
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks",
              "path": "v1/{+parent}/channelPartnerLinks"
            },
            "get": {
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}",
              "description": "Returns a requested ChannelPartnerLink resource. To call this method, you must be a distributor. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: ChannelPartnerLink resource not found. Results due invalid channel partner link name. Return Value: ChannelPartnerLink resource if found, otherwise returns an error.",
              "id": "cloudchannel.accounts.channelPartnerLinks.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "view": {
                  "location": "query",
                  "description": "Optional. The level of granularity the ChannelPartnerLink will display.",
                  "type": "string",
                  "enum": [
                    "UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Includes all fields except the ChannelPartnerLink.channel_partner_cloud_identity_info.",
                    "Includes all fields."
                  ]
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                  "description": "Required. The resource name of the channel partner link to retrieve. The name takes the format: accounts/{account_id}/channelPartnerLinks/{id} where {id} is the Cloud Identity ID of the partner.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a channel partner link. A distributor calls this method to change a link's status. For example, suspend a partner link. To call this method, you must be a distributor. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: It can happen in following scenarios - * Missing or invalid required parameters in the request. * Updating link state from invited to active or suspended. * Sending reseller_cloud_identity_id, invite_url or name in update mask. * NOT_FOUND: ChannelPartnerLink resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: If successful, the updated ChannelPartnerLink resource, otherwise returns an error.",
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the channel partner link to cancel. The name takes the format: accounts/{account_id}/channelPartnerLinks/{id} where {id} is the Cloud Identity ID of the partner.",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                  "required": true
                }
              },
              "id": "cloudchannel.accounts.channelPartnerLinks.patch",
              "request": {
                "$ref": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest"
              }
            },
            "list": {
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results, if other than the first one. Typically obtained via ListChannelPartnerLinksResponse.next_page_token of the previous CloudChannelService.ListChannelPartnerLinks call.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, server will pick a default size (25). The maximum value is 200, values above 200 will be coerced to 200.",
                  "type": "integer",
                  "format": "int32"
                },
                "view": {
                  "description": "Optional. The level of granularity the ChannelPartnerLink will display.",
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Includes all fields except the ChannelPartnerLink.channel_partner_cloud_identity_info.",
                    "Includes all fields."
                  ],
                  "enum": [
                    "UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The resource name of the reseller account for listing channel partner links. The parent takes the format: accounts/{account_id}",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "List ChannelPartnerLinks belonging to a distributor. To call this method, you must be a distributor. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Return Value: If successful, returns the list of ChannelPartnerLink resources for the distributor account, otherwise returns an error.",
              "id": "cloudchannel.accounts.channelPartnerLinks.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "path": "v1/{+parent}/channelPartnerLinks",
              "response": {
                "$ref": "GoogleCloudChannelV1ListChannelPartnerLinksResponse"
              }
            }
          }
        }
      },
      "methods": {
        "listSubscribers": {
          "id": "cloudchannel.accounts.listSubscribers",
          "path": "v1/{+account}:listSubscribers",
          "description": "Lists service accounts with subscriber privileges on the Cloud Pub/Sub topic created for this Channel Services account. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being provided are different, or if the account is not a super admin. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: If the topic resource doesn't exist. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: List of service email addresses if successful, otherwise error is returned.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "response": {
            "$ref": "GoogleCloudChannelV1ListSubscribersResponse"
          },
          "parameterOrder": [
            "account"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token."
            },
            "account": {
              "description": "Required. Resource name of the account.",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "location": "path"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of service accounts to return. The service may return fewer than this value. If unspecified, at most 100 service accounts will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
            }
          },
          "flatPath": "v1/accounts/{accountsId}:listSubscribers"
        },
        "unregister": {
          "parameters": {
            "account": {
              "required": true,
              "description": "Required. Resource name of the account.",
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "path": "v1/{+account}:unregister",
          "id": "cloudchannel.accounts.unregister",
          "flatPath": "v1/accounts/{accountsId}:unregister",
          "parameterOrder": [
            "account"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "description": "Unregisters a service account with subscriber privileges on the Cloud Pub/Sub topic created for this Channel Services account. If there are no more service account left with sunbscriber privileges, the topic will be deleted. You can check this by calling ListSubscribers api. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being provided are different, or if the impersonated user is not a super admin. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * NOT_FOUND: If the topic resource doesn't exist. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Topic name from which service email address has been unregistered if successful, otherwise error is returned. If the service email was already not associated with the topic, the success response will be returned.",
          "response": {
            "$ref": "GoogleCloudChannelV1UnregisterSubscriberResponse"
          },
          "request": {
            "$ref": "GoogleCloudChannelV1UnregisterSubscriberRequest"
          },
          "httpMethod": "POST"
        },
        "listTransferableSkus": {
          "response": {
            "$ref": "GoogleCloudChannelV1ListTransferableSkusResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1/accounts/{accountsId}:listTransferableSkus",
          "id": "cloudchannel.accounts.listTransferableSkus",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Required. The resource name of the reseller's account. The parent takes the format: accounts/{account_id}",
              "type": "string",
              "location": "path"
            }
          },
          "description": "List TransferableSkus of a customer based on Cloud Identity ID or Customer Name in the request. This method is used when a reseller lists the entitlements information of a customer that is not owned. The reseller should provide the customer's Cloud Identity ID or Customer Name. Possible Error Codes: * PERMISSION_DENIED: Appears because of one of the following - * The customer doesn't belong to the reseller and no auth token. * The supplied auth token is invalid. * The reseller account making the request and the queries reseller account are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Return Value: List of TransferableSku for the given customer.",
          "path": "v1/{+parent}:listTransferableSkus",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "GoogleCloudChannelV1ListTransferableSkusRequest"
          }
        },
        "register": {
          "flatPath": "v1/accounts/{accountsId}:register",
          "request": {
            "$ref": "GoogleCloudChannelV1RegisterSubscriberRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "description": "Registers a service account with subscriber privileges on the Cloud Pub/Sub topic created for this Channel Services account. Once you create a subscriber, you will get the events as per SubscriberEvent Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being provided are different, or if the impersonated user is not a super admin. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * INTERNAL: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. In this case, contact Cloud Channel support. Return Value: Topic name with service email address registered if successful, otherwise error is returned.",
          "parameterOrder": [
            "account"
          ],
          "path": "v1/{+account}:register",
          "response": {
            "$ref": "GoogleCloudChannelV1RegisterSubscriberResponse"
          },
          "id": "cloudchannel.accounts.register",
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Resource name of the account.",
              "required": true
            }
          },
          "httpMethod": "POST"
        },
        "checkCloudIdentityAccountsExist": {
          "flatPath": "v1/accounts/{accountsId}:checkCloudIdentityAccountsExist",
          "description": "Confirms the existence of Cloud Identity accounts, based on the domain and whether the Cloud Identity accounts are owned by the reseller. Possible Error Codes: * PERMISSION_DENIED: If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. * INVALID_VALUE: Invalid domain value in the request. Return Value: List of CloudIdentityCustomerAccount resources for the domain. List may be empty. Note: in the v1alpha1 version of the API, a NOT_FOUND error is returned if no CloudIdentityCustomerAccount resources match the domain.",
          "path": "v1/{+parent}:checkCloudIdentityAccountsExist",
          "request": {
            "$ref": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the reseller account. The parent takes the format: accounts/{account_id}"
            }
          },
          "response": {
            "$ref": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse"
          },
          "id": "cloudchannel.accounts.checkCloudIdentityAccountsExist",
          "parameterOrder": [
            "parent"
          ]
        },
        "listTransferableOffers": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "flatPath": "v1/accounts/{accountsId}:listTransferableOffers",
          "response": {
            "$ref": "GoogleCloudChannelV1ListTransferableOffersResponse"
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "cloudchannel.accounts.listTransferableOffers",
          "path": "v1/{+parent}:listTransferableOffers",
          "description": "List TransferableOffers of a customer based on Cloud Identity ID or Customer Name in the request. This method is used when a reseller gets the entitlement information of a customer that is not owned. The reseller should provide the customer's Cloud Identity ID or Customer Name. Possible Error Codes: * PERMISSION_DENIED: Appears because of one of the following: * If the customer doesn't belong to the reseller and no auth token or invalid auth token is supplied. * If the reseller account making the request and the reseller account being queried for are different. * INVALID_ARGUMENT: Missing or invalid required parameters in the request. Return Value: List of TransferableOffer for the given customer and SKU.",
          "request": {
            "$ref": "GoogleCloudChannelV1ListTransferableOffersRequest"
          },
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the reseller's account.",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource.",
              "type": "string",
              "location": "path",
              "pattern": "^operations/.*$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "id": "cloudchannel.operations.get",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "v1/operations/{operationsId}"
        },
        "delete": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "id": "cloudchannel.operations.delete",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "id": "cloudchannel.operations.list",
          "flatPath": "v1/operations",
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation's parent resource.",
              "pattern": "^operations$",
              "required": true,
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "The standard list filter.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The standard list page size.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The standard list page token.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ]
        },
        "cancel": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "pattern": "^operations/.*$",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "v1/{+name}:cancel",
          "id": "cloudchannel.operations.cancel"
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "id": "cloudchannel:v1",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/channel",
  "schemas": {
    "GoogleCloudChannelV1Sku": {
      "type": "object",
      "properties": {
        "marketingInfo": {
          "description": "Marketing information for the SKU.",
          "$ref": "GoogleCloudChannelV1MarketingInfo"
        },
        "product": {
          "$ref": "GoogleCloudChannelV1Product",
          "description": "Product the SKU is associated with."
        },
        "name": {
          "description": "Resource Name of the SKU. Format: products/{product_id}/skus/{sku_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1Sku",
      "description": "Represents a product's purchasable Stock Keeping Unit (SKU). SKUs represent the different variations of the product. For example, Google Workspace Business Standard and Google Workspace Business Plus are Google Workspace product SKUs."
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "type": "object",
      "description": "Request message for CloudChannelService.TransferEntitlements.",
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "authToken": {
          "description": "This token is generated by the Super Admin of the resold customer to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. This token can be omitted once the authorization is generated. See https://support.google.com/a/answer/7643790 for more details.",
          "type": "string"
        },
        "entitlements": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "Required. The new entitlements to be created or transferred."
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberRequest": {
      "id": "GoogleCloudChannelV1RegisterSubscriberRequest",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account which will provide subscriber access to the registered topic.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request Message for RegisterSubscriber."
    },
    "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest": {
      "id": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The update mask that applies to the resource. The only allowable value for update mask is channel_partner_link.link_state."
        },
        "channelPartnerLink": {
          "description": "Required. The channel partner link to update. Only field channel_partner_link.link_state is allowed to be updated.",
          "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
        }
      },
      "description": "Request message for CloudChannelService.UpdateChannelPartnerLink",
      "type": "object"
    },
    "GoogleCloudChannelV1alpha1Period": {
      "type": "object",
      "id": "GoogleCloudChannelV1alpha1Period",
      "properties": {
        "duration": {
          "description": "Total duration of Period Type defined.",
          "format": "int32",
          "type": "integer"
        },
        "periodType": {
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "description": "Period Type.",
          "type": "string"
        }
      },
      "description": "Represents period in days/months/years."
    },
    "GoogleCloudChannelV1EduData": {
      "description": "Required Edu Attributes",
      "properties": {
        "instituteType": {
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Elementary/Secondary Schools & Districts",
            "Higher Education Universities & Colleges"
          ],
          "enum": [
            "INSTITUTE_TYPE_UNSPECIFIED",
            "K12",
            "UNIVERSITY"
          ],
          "type": "string",
          "description": "Designated institute type of customer."
        },
        "website": {
          "description": "Web address for the edu customer's institution.",
          "type": "string"
        },
        "instituteSize": {
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "1 - 100",
            "101 - 500",
            "501 - 1,000",
            "1,001 - 2,000",
            "2,001 - 5,000",
            "5,001 - 10,000",
            "10,001 +"
          ],
          "enum": [
            "INSTITUTE_SIZE_UNSPECIFIED",
            "SIZE_1_100",
            "SIZE_101_500",
            "SIZE_501_1000",
            "SIZE_1001_2000",
            "SIZE_2001_5000",
            "SIZE_5001_10000",
            "SIZE_10001_OR_MORE"
          ],
          "type": "string",
          "description": "Size of the institute."
        }
      },
      "id": "GoogleCloudChannelV1EduData",
      "type": "object"
    },
    "GoogleCloudChannelV1ListCustomersResponse": {
      "type": "object",
      "description": "Response message for CloudChannelService.ListCustomers.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomersRequest.page_token to obtain that page."
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1Customer"
          },
          "description": "The customers belonging to the reseller or distributor."
        }
      },
      "id": "GoogleCloudChannelV1ListCustomersResponse"
    },
    "GoogleCloudChannelV1Value": {
      "type": "object",
      "description": "Data type and value of a parameter.",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Represents a double value."
        },
        "protoValue": {
          "description": "Represents an 'Any' proto value.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "int64Value": {
          "type": "string",
          "description": "Represents an int64 value.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudChannelV1Value"
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "id": "GoogleTypeMoney",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ParameterDefinition": {
      "type": "object",
      "id": "GoogleCloudChannelV1ParameterDefinition",
      "description": "Parameter's definition. Specifies what parameter is required to use the current Offer to purchase.",
      "properties": {
        "allowedValues": {
          "items": {
            "$ref": "GoogleCloudChannelV1Value"
          },
          "description": "If not empty, parameter values must be drawn from this list. For example, [us-west1, us-west2, ...] Applicable to STRING parameter type.",
          "type": "array"
        },
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "minValue": {
          "description": "Minimal value of the parameter, if applicable. Inclusive. For example, minimal commitment when purchasing Anthos is 0.01. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "maxValue": {
          "description": "Maximum value of the parameter, if applicable. Inclusive. For example, maximum seats when purchasing Google Workspace Business Standard. Applicable to INT64 and DOUBLE parameter types.",
          "$ref": "GoogleCloudChannelV1Value"
        },
        "parameterType": {
          "type": "string",
          "description": "Data type of the parameter. Minimal value, Maximum value and allowed values will use specified data type here.",
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "INT64",
            "STRING",
            "DOUBLE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Int64 type.",
            "String type.",
            "Double type."
          ]
        },
        "optional": {
          "type": "boolean",
          "description": "If set to true, parameter is optional to purchase this Offer."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudChannelV1PurchasableSku": {
      "id": "GoogleCloudChannelV1PurchasableSku",
      "properties": {
        "sku": {
          "description": "SKU",
          "$ref": "GoogleCloudChannelV1Sku"
        }
      },
      "type": "object",
      "description": "SKU that can be used for a puchase. This is used in ListPurchasableSku API response."
    },
    "GoogleCloudChannelV1OperationMetadata": {
      "type": "object",
      "description": "Provides contextual information about a google.longrunning.Operation.",
      "id": "GoogleCloudChannelV1OperationMetadata",
      "properties": {
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_RENEWAL_SETTINGS",
            "START_PAID_SERVICE",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ],
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "type": "string",
          "description": "The RPC that initiated this Long Running Operation."
        }
      }
    },
    "GoogleCloudChannelV1alpha1Entitlement": {
      "id": "GoogleCloudChannelV1alpha1Entitlement",
      "type": "object",
      "properties": {
        "commitmentSettings": {
          "description": "Commitment settings for a commitment-based Offer. Required for commitment based offers.",
          "$ref": "GoogleCloudChannelV1alpha1CommitmentSettings"
        },
        "maxUnits": {
          "type": "integer",
          "description": "Maximum number of units for a non commitment-based Offer, such as Flexible, Trial or Free entitlements. For commitment-based entitlements, this is a read-only field, which only the internal support team can update. Deprecated: Use `parameters` instead.",
          "format": "int32"
        },
        "createTime": {
          "description": "Output only. The time at which the entitlement is created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "channelPartnerId": {
          "description": "Cloud Identity ID of a channel partner who will be the direct reseller for the customer's order. This field is generally used in 2-tier ordering, where the order is placed by a top-level distributor on behalf of their channel partner or reseller. Required for distributors. Deprecated: `channel_partner_id` has been moved to the Customer.",
          "type": "string"
        },
        "purchaseOrderId": {
          "type": "string",
          "description": "Optional. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given, it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters."
        },
        "assignedUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The current number of users that are assigned a license for the product defined in provisioned_service.skuId. Read-only. Deprecated: Use `parameters` instead."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of an entitlement in the form: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}."
        },
        "offer": {
          "description": "Required. The offer resource name for which the entitlement is to be created. Takes the form: accounts/{account_id}/offers/{offer_id}.",
          "type": "string"
        },
        "numUnits": {
          "description": "Number of units for a commitment-based Offer. For example, for seat-based Offers, this would be the number of seats; for license-based Offers, this would be the number of licenses. Required for creating commitment-based Offers. Deprecated: Use `parameters` instead.",
          "format": "int32",
          "type": "integer"
        },
        "trialSettings": {
          "$ref": "GoogleCloudChannelV1alpha1TrialSettings",
          "readOnly": true,
          "description": "Output only. Settings for trial offers."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Parameter"
          },
          "description": "Extended entitlement parameters. When creating an entitlement, valid parameters' names and values are defined in the offer's parameter definitions."
        },
        "suspensionReasons": {
          "items": {
            "type": "string",
            "enum": [
              "SUSPENSION_REASON_UNSPECIFIED",
              "RESELLER_INITIATED",
              "TRIAL_ENDED",
              "RENEWAL_WITH_TYPE_CANCEL",
              "PENDING_TOS_ACCEPTANCE",
              "OTHER"
            ],
            "enumDescriptions": [
              "Default value. This state doesn't show unless an error occurs.",
              "Entitlement was manually suspended by the Reseller.",
              "Trial ended.",
              "Entitlement renewal was canceled.",
              "Entitlement was automatically suspended on creation for pending ToS acceptance on customer.",
              "Other reasons (internal reasons, abuse, etc.)."
            ]
          },
          "readOnly": true,
          "description": "Output only. Enumerable of all current suspension reasons for an entitlement.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. The time at which the entitlement is updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "associationInfo": {
          "description": "Association information to other entitlements.",
          "$ref": "GoogleCloudChannelV1alpha1AssociationInfo"
        },
        "provisionedService": {
          "readOnly": true,
          "description": "Output only. Service provisioning details for the entitlement.",
          "$ref": "GoogleCloudChannelV1alpha1ProvisionedService"
        },
        "provisioningState": {
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "The entitlement is currently active.",
            "The entitlement was canceled. After an entitlement is `CANCELED`, its status will not change. Deprecated: Canceled entitlements will no longer be visible.",
            "The entitlement reached end of term and was not renewed. After an entitlement is `COMPLETE`, its status will not change. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason in (TRIAL_ENDED, RENEWAL_WITH_TYPE_CANCEL)",
            "The entitlement is pending. Deprecated: This is represented as ProvisioningState=SUSPENDED and suspensionReason=PENDING_TOS_ACCEPTANCE",
            "The entitlement is currently suspended."
          ],
          "description": "Output only. Current provisioning state of the entitlement.",
          "enum": [
            "PROVISIONING_STATE_UNSPECIFIED",
            "ACTIVE",
            "CANCELED",
            "COMPLETE",
            "PENDING",
            "SUSPENDED"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An entitlement is a representation of a customer's ability to use a service."
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "properties": {
        "customer": {
          "type": "string",
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}"
        },
        "eventType": {
          "type": "string",
          "description": "Type of event which happened on the customer.",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs."
          ],
          "enum": [
            "TYPE_UNSPECIFIED"
          ]
        }
      },
      "id": "GoogleCloudChannelV1alpha1CustomerEvent",
      "type": "object",
      "description": "Represents Pub/Sub message content describing customer update."
    },
    "GoogleCloudChannelV1CancelEntitlementRequest": {
      "description": "Request message for CloudChannelService.CancelEntitlement.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
[...]
