{
  "name": "container",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Builds and manages container-based applications, powered by the open source Kubernetes technology.",
  "documentationLink": "https://cloud.google.com/container-engine/",
  "canonicalName": "Container",
  "baseUrl": "https://container.googleapis.com/",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ConsumptionMeteringConfig": {
      "description": "Parameters for controlling consumption metering.",
      "id": "ConsumptionMeteringConfig",
      "properties": {
        "enabled": {
          "description": "Whether to enable consumption metering for this cluster. If enabled, a second BigQuery table will be created to hold resource consumption records.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AutoUpgradeOptions": {
      "id": "AutoUpgradeOptions",
      "properties": {
        "description": {
          "type": "string",
          "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade."
        },
        "autoUpgradeStartTime": {
          "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed."
    },
    "UpdateClusterRequest": {
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "id": "UpdateClusterRequest",
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "update": {
          "description": "Required. A description of the update.",
          "$ref": "ClusterUpdate"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "AddonsConfig": {
      "type": "object",
      "properties": {
        "horizontalPodAutoscaling": {
          "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
          "$ref": "HorizontalPodAutoscaling"
        },
        "httpLoadBalancing": {
          "$ref": "HttpLoadBalancing",
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster."
        },
        "gcePersistentDiskCsiDriverConfig": {
          "description": "Configuration for the Compute Engine Persistent Disk CSI driver.",
          "$ref": "GcePersistentDiskCsiDriverConfig"
        },
        "configConnectorConfig": {
          "description": "Configuration for the ConfigConnector add-on, a Kubernetes extension to manage hosted GCP services through the Kubernetes API",
          "$ref": "ConfigConnectorConfig"
        },
        "cloudRunConfig": {
          "$ref": "CloudRunConfig",
          "description": "Configuration for the Cloud Run addon, which allows the user to use a managed Knative service."
        },
        "dnsCacheConfig": {
          "description": "Configuration for NodeLocalDNS, a dns cache running on cluster nodes",
          "$ref": "DnsCacheConfig"
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard. This addon is deprecated, and will be disabled in 1.15. It is recommended to use the Cloud Console to manage and monitor your Kubernetes clusters, workloads and applications. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dashboards",
          "$ref": "KubernetesDashboard"
        },
        "networkPolicyConfig": {
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes.",
          "$ref": "NetworkPolicyConfig"
        }
      },
      "id": "AddonsConfig",
      "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality."
    },
    "MaintenanceWindow": {
      "properties": {
        "dailyMaintenanceWindow": {
          "$ref": "DailyMaintenanceWindow",
          "description": "DailyMaintenanceWindow specifies a daily maintenance operation window."
        },
        "maintenanceExclusions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TimeWindow"
          },
          "description": "Exceptions to maintenance window. Non-emergency maintenance should not occur in these windows."
        },
        "recurringWindow": {
          "description": "RecurringWindow specifies some number of recurring time periods for maintenance to occur. The time windows may be overlapping. If no maintenance windows are set, maintenance can occur at any time.",
          "$ref": "RecurringTimeWindow"
        }
      },
      "id": "MaintenanceWindow",
      "type": "object",
      "description": "MaintenanceWindow defines the maintenance window to be used for the cluster."
    },
    "NodePool": {
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload.",
      "type": "object",
      "id": "NodePool",
      "properties": {
        "config": {
          "$ref": "NodeConfig",
          "description": "The node configuration of the pool."
        },
        "version": {
          "description": "The version of the Kubernetes of this node.",
          "type": "string"
        },
        "autoscaling": {
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present.",
          "$ref": "NodePoolAutoscaling"
        },
        "instanceGroupUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "[Output only] The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool."
        },
        "maxPodsConstraint": {
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool.",
          "$ref": "MaxPodsConstraint"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          },
          "description": "Which conditions caused the current node pool state."
        },
        "status": {
          "type": "string",
          "description": "[Output only] The status of the nodes in this pool instance.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ]
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and/or removed."
        },
        "initialNodeCount": {
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the node pool.",
          "type": "string"
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for this NodePool."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available."
        },
        "upgradeSettings": {
          "description": "Upgrade settings control disruption and speed of the upgrade.",
          "$ref": "UpgradeSettings"
        },
        "podIpv4CidrSize": {
          "description": "[Output only] The pod CIDR block size per node in this node pool.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "KubernetesDashboard": {
      "id": "KubernetesDashboard",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster."
        }
      },
      "type": "object",
      "description": "Configuration for the Kubernetes Dashboard."
    },
    "ServerConfig": {
      "type": "object",
      "id": "ServerConfig",
      "description": "Kubernetes Engine service configuration.",
      "properties": {
        "validImageTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid image types."
        },
        "validNodeVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of valid node upgrade target versions, in descending order."
        },
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "validMasterVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of valid master versions, in descending order."
        },
        "defaultImageType": {
          "type": "string",
          "description": "Default image type."
        },
        "channels": {
          "items": {
            "$ref": "ReleaseChannelConfig"
          },
          "type": "array",
          "description": "List of release channel configurations."
        }
      }
    },
    "GetOpenIDConfigResponse": {
      "properties": {
        "subject_types_supported": {
          "description": "Supported subject types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "grant_types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported grant types."
        },
        "cacheHeader": {
          "description": "OnePlatform automatically extracts this field and uses it to set the HTTP Cache-Control header.",
          "$ref": "HttpCacheControlResponseHeader"
        },
        "claims_supported": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported claims."
        },
        "jwks_uri": {
          "type": "string",
          "description": "JSON Web Key uri."
        },
        "id_token_signing_alg_values_supported": {
          "items": {
            "type": "string"
          },
          "description": "supported ID Token signing Algorithms.",
          "type": "array"
        },
        "issuer": {
          "description": "OIDC Issuer.",
          "type": "string"
        },
        "response_types_supported": {
          "description": "Supported response types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "GetOpenIDConfigResponse is an OIDC discovery document for the cluster. See the OpenID Connect Discovery 1.0 specification for details.",
      "type": "object",
      "id": "GetOpenIDConfigResponse"
    },
    "HorizontalPodAutoscaling": {
      "id": "HorizontalPodAutoscaling",
      "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring.",
          "type": "boolean"
        }
      }
    },
    "SetMonitoringServiceRequest": {
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "monitoringService": {
          "description": "Required. The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "description": "SetMonitoringServiceRequest sets the monitoring service of a cluster.",
      "id": "SetMonitoringServiceRequest"
    },
    "CreateClusterRequest": {
      "properties": {
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
        },
        "parent": {
          "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`.",
          "type": "string"
        },
        "cluster": {
          "description": "Required. A [cluster resource](https://cloud.google.com/container-engine/reference/rest/v1/projects.locations.clusters)",
          "$ref": "Cluster"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
          "type": "string"
        }
      },
      "id": "CreateClusterRequest",
      "description": "CreateClusterRequest creates a cluster.",
      "type": "object"
    },
    "MaintenancePolicy": {
      "type": "object",
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "id": "MaintenancePolicy",
      "properties": {
        "window": {
          "$ref": "MaintenanceWindow",
          "description": "Specifies the maintenance window in which maintenance may be performed."
        },
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy.",
          "type": "string"
        }
      }
    },
    "ShieldedNodes": {
      "type": "object",
      "id": "ShieldedNodes",
      "properties": {
        "enabled": {
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration of Shielded Nodes feature."
    },
    "NotificationConfig": {
      "type": "object",
      "id": "NotificationConfig",
      "description": "NotificationConfig is the configuration of notifications.",
      "properties": {
        "pubsub": {
          "description": "Notification config for Pub/Sub.",
          "$ref": "PubSub"
        }
      }
    },
    "LegacyAbac": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled, identities in the system, including service accounts, nodes, and controllers, will have statically granted permissions beyond those provided by the RBAC configuration or IAM."
        }
      },
      "description": "Configuration for the legacy Attribute Based Access Control authorization mode.",
      "id": "LegacyAbac",
      "type": "object"
    },
    "ResourceLimit": {
      "id": "ResourceLimit",
      "properties": {
        "minimum": {
          "description": "Minimum amount of the resource in the cluster.",
          "type": "string",
          "format": "int64"
        },
        "resourceType": {
          "type": "string",
          "description": "Resource name \"cpu\", \"memory\" or gpu-specific string."
        },
        "maximum": {
          "description": "Maximum amount of the resource in the cluster.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains information about amount of some resource in the cluster. For memory, value should be in GB."
    },
    "MaxPodsConstraint": {
      "description": "Constraints applied to pods.",
      "type": "object",
      "id": "MaxPodsConstraint",
      "properties": {
        "maxPodsPerNode": {
          "format": "int64",
          "type": "string",
          "description": "Constraint enforced on the max num of pods per node."
        }
      }
    },
    "OperationProgress": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A non-parameterized string describing an operation stage. Unset for single-stage operations."
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Progress metric bundle, for example: metrics: [{name: \"nodes done\", int_value: 15}, {name: \"nodes total\", int_value: 32}] or metrics: [{name: \"progress\", double_value: 0.56}, {name: \"progress scale\", double_value: 1.0}]",
          "type": "array"
        },
        "stages": {
          "description": "Substages of an operation or a stage.",
          "type": "array",
          "items": {
            "$ref": "OperationProgress"
          }
        },
        "status": {
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ],
          "description": "Status of an operation stage. Unset for single-stage operations.",
          "type": "string"
        }
      },
      "description": "Information about operation (or operation stage) progress.",
      "id": "OperationProgress"
    },
    "NetworkPolicy": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether network policy is enabled on the cluster."
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "description": "The selected network policy provider."
        }
      },
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "type": "object",
      "id": "NetworkPolicy"
    },
    "SetLoggingServiceRequest": {
      "type": "object",
      "description": "SetLoggingServiceRequest sets the logging service of a cluster.",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "loggingService": {
          "type": "string",
          "description": "Required. The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLoggingServiceRequest"
    },
    "SetMasterAuthRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username. If an empty username is provided, basic authentication is disabled for the cluster. If a non-empty username is provided, basic authentication is enabled, with either a provided password or a generated one."
          ],
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ],
          "type": "string",
          "description": "Required. The exact form of action to be taken on the master auth."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "update": {
          "$ref": "MasterAuth",
          "description": "Required. A description of the update."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetMasterAuthRequest",
      "description": "SetMasterAuthRequest updates the admin password of a cluster.",
      "type": "object"
    },
    "Jwk": {
      "properties": {
        "y": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "crv": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "alg": {
          "type": "string",
          "description": "Algorithm."
        },
        "x": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "kty": {
          "type": "string",
          "description": "Key Type."
        },
        "kid": {
          "description": "Key ID.",
          "type": "string"
        },
        "e": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "n": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "use": {
          "type": "string",
          "description": "Permitted uses for the public keys."
        }
      },
      "id": "Jwk",
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "type": "object"
    },
    "ListNodePoolsResponse": {
      "type": "object",
      "properties": {
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "type": "array",
          "description": "A list of node pools for a cluster."
        }
      },
      "id": "ListNodePoolsResponse",
      "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest."
    },
    "AcceleratorConfig": {
      "properties": {
        "acceleratorType": {
          "type": "string",
          "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)"
        },
        "acceleratorCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of the accelerator cards exposed to an instance."
        }
      },
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "id": "AcceleratorConfig",
      "type": "object"
    },
    "LinuxNodeConfig": {
      "type": "object",
      "properties": {
        "sysctls": {
          "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes. The following parameters are supported. net.core.netdev_max_backlog net.core.rmem_max net.core.wmem_default net.core.wmem_max net.core.optmem_max net.core.somaxconn net.ipv4.tcp_rmem net.ipv4.tcp_wmem net.ipv4.tcp_tw_reuse",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "LinuxNodeConfig",
      "description": "Parameters that can be configured on Linux nodes."
    },
    "NodePoolAutoscaling": {
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Is autoscaling enabled for this node pool."
        },
        "maxNodeCount": {
          "description": "Maximum number of nodes in the NodePool. Must be \u003e= min_node_count. There has to enough quota to scale up the cluster.",
          "type": "integer",
          "format": "int32"
        },
        "autoprovisioned": {
          "type": "boolean",
          "description": "Can this node pool be deleted automatically."
        },
        "minNodeCount": {
          "description": "Minimum number of nodes in the NodePool. Must be \u003e= 1 and \u003c= max_node_count.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "NodePoolAutoscaling",
      "type": "object"
    },
    "DatabaseEncryption": {
      "properties": {
        "keyName": {
          "type": "string",
          "description": "Name of CloudKMS key to use for the encryption of secrets in etcd. Ex. projects/my-project/locations/global/keyRings/my-ring/cryptoKeys/my-key"
        },
        "state": {
          "enum": [
            "UNKNOWN",
            "ENCRYPTED",
            "DECRYPTED"
          ],
          "description": "Denotes the state of etcd encryption.",
          "type": "string",
          "enumDescriptions": [
            "Should never be set",
            "Secrets in etcd are encrypted.",
            "Secrets in etcd are stored in plain text (at etcd level) - this is unrelated to Compute Engine level full disk encryption."
          ]
        }
      },
      "id": "DatabaseEncryption",
      "type": "object",
      "description": "Configuration of etcd encryption."
    },
    "NodeConfig": {
      "id": "NodeConfig",
      "description": "Parameters that describe the nodes in a cluster.",
      "type": "object",
      "properties": {
        "kubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "Node kubelet configs."
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)"
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-types) If unspecified, the default machine type is `e2-medium`."
        },
        "nodeGroup": {
          "description": "Setting this field will assign instances of this pool to run on the specified node group. This is useful for running workloads on [sole tenant nodes](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes).",
          "type": "string"
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Parameters that can be configured on Linux nodes."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/"
        },
        "sandboxConfig": {
          "$ref": "SandboxConfig",
          "description": "Sandbox configuration for this node."
        },
        "diskSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB."
        },
        "preemptible": {
          "type": "boolean",
          "description": "Whether the nodes are created as preemptible VM instances. See: https://cloud.google.com/compute/docs/instances/preemptible for more information about preemptible VM instances."
        },
        "reservationAffinity": {
          "$ref": "ReservationAffinity",
          "description": "The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) to this node pool."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used."
        },
        "taints": {
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "List of kubernetes taints to be applied to each node. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/"
        },
        "imageType": {
          "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used.",
          "type": "string"
        },
        "oauthScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added."
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption"
        },
        "accelerators": {
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp `[a-zA-Z0-9-_]+` and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the reserved keys: - \"cluster-location\" - \"cluster-name\" - \"cluster-uid\" - \"configure-sh\" - \"containerd-configure-sh\" - \"enable-os-login\" - \"gci-ensure-gke-docker\" - \"gci-metrics-enabled\" - \"gci-update-strategy\" - \"instance-template\" - \"kube-env\" - \"startup-script\" - \"user-data\" - \"disable-address-manager\" - \"windows-startup-script-ps1\" - \"common-psm1\" - \"k8s-node-setup-psm1\" - \"install-ssh-psm1\" - \"user-profile-psm1\" The following keys are reserved for Windows nodes: - \"serial-port-logging-enable\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "localSsdCount": {
          "format": "int32",
          "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information.",
          "type": "integer"
        },
        "diskType": {
          "type": "string",
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'"
        },
        "workloadMetadataConfig": {
          "description": "The workload metadata configuration for this node.",
          "$ref": "WorkloadMetadataConfig"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "tags": {
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster or node pool creation. Each tag within the list must comply with RFC1035.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReleaseChannel": {
      "description": "ReleaseChannel indicates which release channel a cluster is subscribed to. Release channels are arranged in order of risk. When a cluster is subscribed to a release channel, Google maintains both the master version and the node version. Node auto-upgrade defaults to true and cannot be disabled.",
      "id": "ReleaseChannel",
      "type": "object",
      "properties": {
        "channel": {
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "description": "channel specifies which release channel the cluster is subscribed to."
        }
      }
    },
    "AutoprovisioningNodePoolDefaults": {
      "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP.",
      "id": "AutoprovisioningNodePoolDefaults",
      "properties": {
        "minCpuPlatform": {
          "type": "string",
          "description": "Minimum CPU platform to be used for NAP created node pools. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as minCpuPlatform: Intel Haswell or minCpuPlatform: Intel Sandy Bridge. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) To unset the min cpu platform field pass \"automatic\" as field value."
        },
        "bootDiskKmsKey": {
          "description": "The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption",
          "type": "string"
        },
        "diskSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB."
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "management": {
          "description": "Specifies the node management options for NAP created node-pools.",
          "$ref": "NodeManagement"
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs.",
          "type": "string"
        },
        "oauthScopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Scopes that are used by NAP when creating node pools."
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Specifies the upgrade settings for NAP created node pools"
        }
      },
      "type": "object"
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails."
        },
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A set of Shielded Instance options."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This operation resource represents operations that may have happened or are happening on the cluster. All fields are output only.",
      "properties": {
        "progress": {
          "readOnly": true,
          "$ref": "OperationProgress",
          "description": "Output only. [Output only] Progress information for an operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If an error has occurred, a textual description of the error."
        },
        "startTime": {
          "type": "string",
          "description": "[Output only] The time the operation started, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "detail": {
          "type": "string",
          "description": "Detailed operation progress, if available."
        },
        "selfLink": {
          "type": "string",
          "description": "Server-defined URL for the resource."
        },
        "endTime": {
          "description": "[Output only] The time the operation completed, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "type": "string",
          "description": "The current status of the operation.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ]
        },
        "targetLink": {
          "description": "Server-defined URL for the target of the operation.",
          "type": "string"
        },
        "zone": {
          "description": "The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation is taking place. This field is deprecated, use location instead.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "nodepoolConditions": {
          "description": "Which conditions caused the current node pool state.",
          "type": "array",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "operationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CREATE_CLUSTER",
            "DELETE_CLUSTER",
            "UPGRADE_MASTER",
            "UPGRADE_NODES",
            "REPAIR_CLUSTER",
            "UPDATE_CLUSTER",
            "CREATE_NODE_POOL",
            "DELETE_NODE_POOL",
            "SET_NODE_POOL_MANAGEMENT",
            "AUTO_REPAIR_NODES",
            "AUTO_UPGRADE_NODES",
            "SET_LABELS",
            "SET_MASTER_AUTH",
            "SET_NODE_POOL_SIZE",
            "SET_NETWORK_POLICY",
            "SET_MAINTENANCE_POLICY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Cluster create.",
            "Cluster delete.",
            "A master upgrade.",
            "A node upgrade.",
            "Cluster repair.",
            "Cluster update.",
            "Node pool create.",
            "Node pool delete.",
            "Set node pool management.",
            "Automatic node pool repair.",
            "Automatic node upgrade.",
            "Set labels.",
            "Set/generate master auth materials",
            "Set node pool size.",
            "Updates network policy for a cluster.",
            "Set the maintenance policy."
          ],
          "description": "The operation type."
        },
        "clusterConditions": {
          "type": "array",
          "description": "Which conditions caused the current cluster state.",
          "items": {
            "$ref": "StatusCondition"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned ID for the operation."
        }
      }
    },
    "GcePersistentDiskCsiDriverConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Compute Engine PD CSI driver is enabled for this cluster."
        }
      },
      "description": "Configuration for the Compute Engine PD CSI driver.",
      "id": "GcePersistentDiskCsiDriverConfig"
    },
    "SetNodePoolManagementRequest": {
      "type": "object",
      "description": "SetNodePoolManagementRequest sets the node management properties of a node pool.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "Required. NodeManagement configuration for the node pool."
        },
        "nodePoolId": {
          "type": "string",
          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        }
      },
      "id": "SetNodePoolManagementRequest"
    },
    "ListUsableSubnetworksResponse": {
      "type": "object",
      "id": "ListUsableSubnetworksResponse",
      "description": "ListUsableSubnetworksResponse is the response of ListUsableSubnetworksRequest.",
      "properties": {
        "subnetworks": {
          "description": "A list of usable subnetworks in the specified network project.",
          "items": {
            "$ref": "UsableSubnetwork"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token allows you to get the next page of results for list requests. If the number of results is larger than `page_size`, use the `next_page_token` as a value for the query parameter `page_token` in the next request. The value will become empty when there are no more pages."
        }
      }
    },
    "HttpCacheControlResponseHeader": {
      "description": "RFC-2616: cache control support",
      "type": "object",
      "properties": {
        "directive": {
          "type": "string",
          "description": "14.9 request and response directives"
        },
        "expires": {
          "type": "string",
          "description": "14.21 response cache expires, in RFC 1123 date format"
        },
        "age": {
          "description": "14.6 response cache age, in seconds since the response is generated",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "HttpCacheControlResponseHeader"
    },
    "ReleaseChannelConfig": {
      "type": "object",
      "properties": {
        "validVersions": {
          "description": "List of valid versions for the channel.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultVersion": {
          "type": "string",
          "description": "The default version for newly created clusters on the channel."
        },
        "channel": {
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "The release channel this configuration applies to."
        }
      },
      "id": "ReleaseChannelConfig",
      "description": "ReleaseChannelConfig exposes configuration for a release channel."
    },
    "CidrBlock": {
      "properties": {
        "displayName": {
          "description": "display_name is an optional field for users to identify CIDR blocks.",
          "type": "string"
        },
        "cidrBlock": {
          "type": "string",
          "description": "cidr_block must be specified in CIDR notation."
        }
      },
      "id": "CidrBlock",
      "type": "object",
      "description": "CidrBlock contains an optional name and one CIDR block."
    },
    "RollbackNodePoolUpgradeRequest": {
      "properties": {
        "nodePoolId": {
          "type": "string",
          "description": "Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object",
      "id": "RollbackNodePoolUpgradeRequest",
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed."
    },
    "IntraNodeVisibilityConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables intra node visibility for this cluster."
        }
      },
      "description": "IntraNodeVisibilityConfig contains the desired config of the intra-node visibility on this cluster.",
      "id": "IntraNodeVisibilityConfig"
    },
    "BigQueryDestination": {
      "properties": {
        "datasetId": {
          "description": "The ID of a BigQuery Dataset.",
          "type": "string"
        }
      },
      "id": "BigQueryDestination",
      "type": "object",
      "description": "Parameters for using BigQuery as the destination of resource usage export."
    },
    "ConfigConnectorConfig": {
      "type": "object",
      "description": "Configuration options for the Config Connector add-on.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Cloud Connector is enabled for this cluster."
        }
      },
      "id": "ConfigConnectorConfig"
    },
    "SetLocationsRequest": {
      "id": "SetLocationsRequest",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "SetLocationsRequest sets the locations of the cluster."
    },
    "MasterAuthorizedNetworksConfig": {
      "id": "MasterAuthorizedNetworksConfig",
      "type": "object",
      "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether or not master authorized networks is enabled."
        },
        "cidrBlocks": {
          "description": "cidr_blocks define up to 50 external networks that could access Kubernetes master through HTTPS.",
          "items": {
            "$ref": "CidrBlock"
          },
          "type": "array"
        }
      }
    },
    "SetNodePoolAutoscalingRequest": {
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "autoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Required. Autoscaling configuration for the node pool."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        }
      },
      "description": "SetNodePoolAutoscalingRequest sets the autoscaler settings of a node pool.",
      "type": "object",
      "id": "SetNodePoolAutoscalingRequest"
    },
    "ClusterAutoscaling": {
      "id": "ClusterAutoscaling",
      "properties": {
        "autoprovisioningLocations": {
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes can be created by NAP.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "autoprovisioningNodePoolDefaults": {
          "$ref": "AutoprovisioningNodePoolDefaults",
          "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP."
        },
        "enableNodeAutoprovisioning": {
          "type": "boolean",
          "description": "Enables automatic node pool creation and deletion."
        },
        "resourceLimits": {
          "items": {
            "$ref": "ResourceLimit"
          },
          "description": "Contains global constraints regarding minimum and maximum amount of resources in the cluster.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "ClusterAutoscaling contains global, per-cluster information required by Cluster Autoscaler to automatically adjust the size of the cluster and create/delete node pools based on the current needs."
    },
    "ClusterUpdate": {
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
      "id": "ClusterUpdate",
      "properties": {
        "desiredAddonsConfig": {
          "description": "Configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "desiredNotificationConfig": {
          "description": "The desired notification configuration.",
          "$ref": "NotificationConfig"
        },
        "desiredShieldedNodes": {
          "description": "Configuration for Shielded Nodes.",
          "$ref": "ShieldedNodes"
        },
        "desiredImageType": {
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well.",
          "type": "string"
        },
        "desiredPrivateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "The desired private cluster configuration."
        },
        "desiredNodePoolId": {
          "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\" or \"desired_node_pool_autoscaling\" is specified and there is more than one node pool on the cluster.",
          "type": "string"
        },
        "desiredDefaultSnatStatus": {
          "$ref": "DefaultSnatStatus",
          "description": "The desired status of whether to disable default sNAT for this cluster."
        },
        "desiredNodePoolAutoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool."
        },
        "desiredReleaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The desired release channel configuration."
        },
        "desiredWorkloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for Workload Identity."
        },
        "desiredPrivateIpv6GoogleAccess": {
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services."
        },
        "desiredLocations": {
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed.",
          "type": "array"
        },
        "desiredIntraNodeVisibilityConfig": {
          "description": "The desired config of Intra-node visibility.",
          "$ref": "IntraNodeVisibilityConfig"
        },
        "desiredMasterVersion": {
          "description": "The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "desiredClusterAutoscaling": {
          "description": "Cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        },
        "desiredMonitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "desiredDatabaseEncryption": {
          "$ref": "DatabaseEncryption",
          "description": "Configuration of etcd encryption."
        },
        "desiredVerticalPodAutoscaling": {
          "$ref": "VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "desiredBinaryAuthorization": {
          "description": "The desired configuration options for the Binary Authorization feature.",
          "$ref": "BinaryAuthorization"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "description": "The desired configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "desiredResourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "The desired configuration for exporting resource usage."
        },
        "desiredLoggingService": {
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "desiredNodeVersion": {
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NodeKubeletConfig": {
      "properties": {
        "cpuCfsQuotaPeriod": {
          "type": "string",
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration."
        },
        "cpuCfsQuota": {
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified.",
          "type": "boolean"
        },
        "cpuManagerPolicy": {
          "type": "string",
          "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. - \"none\": the default, which represents the existing scheduling behavior. - \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified."
        }
      },
      "description": "Node kubelet configs.",
      "type": "object",
      "id": "NodeKubeletConfig"
    },
    "CloudRunConfig": {
      "type": "object",
      "properties": {
        "loadBalancerType": {
          "enumDescriptions": [
            "Load balancer type for Cloud Run is unspecified.",
            "Install external load balancer for Cloud Run.",
            "Install internal load balancer for Cloud Run."
          ],
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "LOAD_BALANCER_TYPE_EXTERNAL",
            "LOAD_BALANCER_TYPE_INTERNAL"
          ],
          "description": "Which load balancer type is installed for Cloud Run.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether Cloud Run addon is enabled for this cluster."
        }
      },
      "id": "CloudRunConfig",
      "description": "Configuration options for the Cloud Run feature."
    },
    "GetJSONWebKeysResponse": {
      "properties": {
        "keys": {
          "description": "The public component of the keys used by the cluster to sign token requests.",
          "items": {
            "$ref": "Jwk"
          },
          "type": "array"
        },
        "cacheHeader": {
          "description": "OnePlatform automatically extracts this field and uses it to set the HTTP Cache-Control header.",
          "$ref": "HttpCacheControlResponseHeader"
        }
      },
      "id": "GetJSONWebKeysResponse",
      "type": "object",
      "description": "GetJSONWebKeysResponse is a valid JSON Web Key Set as specififed in rfc 7517"
    },
    "MasterAuth": {
      "properties": {
        "clientKey": {
          "type": "string",
          "description": "[Output only] Base64-encoded private key used by clients to authenticate to the cluster endpoint."
        },
        "clientCertificateConfig": {
          "description": "Configuration for client certificate authentication on the cluster. For clusters before v1.12, if no configuration is specified, a client certificate is issued.",
          "$ref": "ClientCertificateConfig"
        },
        "username": {
          "type": "string",
          "description": "The username to use for HTTP basic authentication to the master endpoint. For clusters v1.6.0 and later, basic authentication can be disabled by leaving username unspecified (or setting it to the empty string). Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication"
        },
        "clusterCaCertificate": {
          "type": "string",
          "description": "[Output only] Base64-encoded public certificate that is the root of trust for the cluster."
        },
        "password": {
          "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password. If a password is provided for cluster creation, username must be non-empty. Warning: basic authentication is deprecated, and will be removed in GKE control plane versions 1.19 and newer. For a list of recommended authentication methods, see: https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "[Output only] Base64-encoded public certificate used by clients to authenticate to the cluster endpoint."
        }
      },
      "id": "MasterAuth",
      "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
      "type": "object"
    },
    "TimeWindow": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time that the window first starts.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the window ends. The end time should take place after the start time."
        }
      },
      "description": "Represents an arbitrary window of time.",
      "id": "TimeWindow"
    },
    "Metric": {
      "properties": {
        "doubleValue": {
          "description": "For metrics with floating point value.",
          "type": "number",
          "format": "double"
        },
        "intValue": {
          "format": "int64",
          "description": "For metrics with integer value.",
          "type": "string"
        },
        "name": {
          "description": "Required. Metric name, e.g., \"nodes total\", \"percent done\".",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "For metrics with custom values (ratios, visual progress, etc.)."
        }
      },
      "type": "object",
      "id": "Metric",
      "description": "Progress metric is (string, int|float|string) pair."
    },
    "RecurringTimeWindow": {
      "description": "Represents an arbitrary window of time that recurs.",
      "type": "object",
      "id": "RecurringTimeWindow",
      "properties": {
        "recurrence": {
          "type": "string",
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window reccurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported."
        },
        "window": {
          "$ref": "TimeWindow",
          "description": "The window of the first recurrence."
        }
      }
    },
    "PrivateClusterConfig": {
      "id": "PrivateClusterConfig",
      "properties": {
        "privateEndpoint": {
          "description": "Output only. The internal IP address of this cluster's master endpoint.",
          "type": "string"
        },
        "peeringName": {
          "type": "string",
          "description": "Output only. The peering name in the customer VPC used by this cluster."
        },
        "masterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP range in CIDR notation to use for the hosted master network. This range will be used for assigning internal IP addresses to the master or set of masters, as well as the ILB VIP. This range must not overlap with any other ranges in use within the cluster's network."
        },
        "enablePrivateEndpoint": {
          "description": "Whether the master's internal IP address is used as the cluster endpoint.",
          "type": "boolean"
        },
        "enablePrivateNodes": {
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are given only RFC 1918 private addresses and communicate with the master via private networking.",
          "type": "boolean"
        },
        "masterGlobalAccessConfig": {
          "$ref": "PrivateClusterMasterGlobalAccessConfig",
          "description": "Controls master global access settings."
        },
        "publicEndpoint": {
          "type": "string",
          "description": "Output only. The external IP address of this cluster's master endpoint."
        }
      },
      "type": "object",
      "description": "Configuration options for private clusters."
    },
    "UpgradeEvent": {
      "id": "UpgradeEvent",
      "properties": {
        "resourceType": {
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ],
          "type": "string",
          "description": "The resource type that is upgrading.",
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ]
        },
        "operationStartTime": {
          "format": "google-datetime",
          "description": "The time when the operation was started.",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool."
        },
        "currentVersion": {
          "description": "The current version before the upgrade.",
          "type": "string"
        },
        "targetVersion": {
          "description": "The target version for the upgrade.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "description": "The operation associated with this upgrade."
        }
      },
      "type": "object",
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading."
    },
    "NodeManagement": {
      "id": "NodeManagement",
      "type": "object",
      "properties": {
        "autoUpgrade": {
          "type": "boolean",
          "description": "A flag that specifies whether node auto-upgrade is enabled for the node pool. If enabled, node auto-upgrade helps keep the nodes in your node pool up to date with the latest release version of Kubernetes."
        },
        "autoRepair": {
          "description": "A flag that specifies whether the node auto-repair is enabled for the node pool. If enabled, the nodes in this node pool will be monitored and, if they fail health checks too many times, an automatic repair action will be triggered.",
          "type": "boolean"
        },
        "upgradeOptions": {
          "$ref": "AutoUpgradeOptions",
          "description": "Specifies the Auto Upgrade knobs for the node pool."
        }
      },
      "description": "NodeManagement defines the set of node management services turned on for the node pool."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "CancelOperationRequest cancels a single operation.",
      "properties": {
        "name": {
          "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field."
        },
        "operationId": {
          "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "DailyMaintenanceWindow": {
      "description": "Time window specified for daily maintenance operations.",
      "id": "DailyMaintenanceWindow",
      "properties": {
        "startTime": {
          "description": "Time within the maintenance window to start the maintenance operations. Time format should be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "[Output only] Duration of the time window, automatically chosen to be smallest possible in the given scenario. Duration will be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"PTnHnMnS\"."
        }
      },
      "type": "object"
    },
    "SetAddonsConfigRequest": {
      "type": "object",
      "description": "SetAddonsConfigRequest sets the addons associated with the cluster.",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "addonsConfig": {
          "description": "Required. The desired configurations for the various addons available to run in the cluster.",
          "$ref": "AddonsConfig"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        }
      },
      "id": "SetAddonsConfigRequest"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "ListOperationsResponse is the result of ListOperationsRequest.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations in the project in the specified zone.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of operations returned may be missing the operations from those zones."
        }
      }
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "properties": {
        "enabled": {
          "description": "Whenever master is accessible globally or not.",
          "type": "boolean"
        }
      },
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "type": "object",
      "description": "Configuration for controlling master global access settings."
    },
    "ListClustersResponse": {
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "A list of clusters in the project in the specified zone, or across all ones."
        },
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones."
        }
      },
      "id": "ListClustersResponse",
      "type": "object",
      "description": "ListClustersResponse is the result of ListClustersRequest."
    },
    "SetNodePoolSizeRequest": {
      "id": "SetNodePoolSizeRequest",
      "type": "object",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "nodeCount": {
          "format": "int32",
          "description": "Required. The desired node count for the pool.",
          "type": "integer"
        }
      },
      "description": "SetNodePoolSizeRequest sets the size of a node pool."
    },
    "ClientCertificateConfig": {
      "properties": {
        "issueClientCertificate": {
          "type": "boolean",
          "description": "Issue a client certificate."
        }
      },
      "id": "ClientCertificateConfig",
      "type": "object",
      "description": "Configuration for client certificates on the cluster."
    },
    "SetMaintenancePolicyRequest": {
      "id": "SetMaintenancePolicyRequest",
      "description": "SetMaintenancePolicyRequest sets the maintenance policy for a cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840)."
        },
        "zone": {
          "type": "string",
          "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides."
        },
        "maintenancePolicy": {
          "$ref": "MaintenancePolicy",
          "description": "Required. The maintenance policy to be set for the cluster. An empty field clears the existing maintenance policy."
        },
        "clusterId": {
          "description": "Required. The name of the cluster to update.",
          "type": "string"
        }
      }
    },
    "CompleteIPRotationRequest": {
      "type": "object",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "CompleteIPRotationRequest",
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode."
    },
    "ResourceUsageExportConfig": {
      "properties": {
        "bigqueryDestination": {
          "description": "Configuration to use BigQuery as usage export destination.",
          "$ref": "BigQueryDestination"
        },
        "consumptionMeteringConfig": {
          "description": "Configuration to enable resource consumption metering.",
          "$ref": "ConsumptionMeteringConfig"
        },
        "enableNetworkEgressMetering": {
          "description": "Whether to enable network egress metering for this cluster. If enabled, a daemonset will be created in the cluster to meter network egress traffic.",
          "type": "boolean"
        }
      },
      "description": "Configuration for exporting cluster resource usages.",
      "id": "ResourceUsageExportConfig",
      "type": "object"
    },
    "PubSub": {
      "type": "object",
      "id": "PubSub",
      "description": "Pub/Sub specific notification config.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable notifications for Pub/Sub."
        },
        "topic": {
          "description": "The desired Pub/Sub topic to which notifications will be sent by GKE. Format is `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      }
    },
    "Cluster": {
      "description": "A Google Kubernetes Engine cluster.",
      "type": "object",
      "properties": {
        "instanceGroupUrls": {
          "description": "Deprecated. Use node_pools.instance_group_urls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "releaseChannel": {
          "description": "Release channel configuration.",
          "$ref": "ReleaseChannel"
        },
        "binaryAuthorization": {
          "description": "Configuration for Binary Authorization.",
          "$ref": "BinaryAuthorization"
        },
        "verticalPodAutoscaling": {
          "$ref": "VerticalPodAutoscaling",
          "description": "Cluster-level Vertical Pod Autoscaling configuration."
        },
        "conditions": {
          "description": "Which conditions caused the current cluster state.",
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array"
        },
        "endpoint": {
          "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information.",
          "type": "string"
        },
        "masterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The configuration options for master authorized networks feature."
        },
        "initialClusterVersion": {
          "type": "string",
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version"
        },
        "currentNodeCount": {
          "type": "integer",
          "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "format": "int32"
        },
        "ipAllocationPolicy": {
          "$ref": "IPAllocationPolicy",
          "description": "Configuration for cluster IP allocation."
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead."
        },
        "nodeIpv4CidrSize": {
          "format": "int32",
          "type": "integer",
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode."
        },
        "workloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies."
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`."
        },
        "defaultMaxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available."
        },
        "network": {
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used.",
          "type": "string"
        },
        "resourceUsageExportConfig": {
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config is unspecified.",
          "$ref": "ResourceUsageExportConfig"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
[...]
