{
  "discoveryVersion": "v1",
  "description": "Manage your product listings and accounts for Google Shopping",
  "baseUrl": "https://shoppingcontent.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "resources": {
    "orderinvoices": {
      "methods": {
        "createrefundinvoice": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "id": "content.orderinvoices.createrefundinvoice",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64"
            },
            "orderId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the order."
            }
          },
          "description": "Creates a refund invoice for one or more shipment groups, and triggers a refund for orderinvoice enabled orders. This can only be used for line items that have previously been charged using `createChargeInvoice`. All amounts (except for the summary) are incremental with respect to the previous invoice.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "path": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "response": {
            "$ref": "OrderinvoicesCreateRefundInvoiceResponse"
          },
          "request": {
            "$ref": "OrderinvoicesCreateRefundInvoiceRequest"
          }
        },
        "createchargeinvoice": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "required": true
            },
            "orderId": {
              "location": "path",
              "description": "The ID of the order.",
              "type": "string",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "flatPath": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "description": "Creates a charge invoice for a shipment group, and triggers a charge capture for orderinvoice enabled orders.",
          "request": {
            "$ref": "OrderinvoicesCreateChargeInvoiceRequest"
          },
          "id": "content.orderinvoices.createchargeinvoice",
          "response": {
            "$ref": "OrderinvoicesCreateChargeInvoiceResponse"
          }
        }
      }
    },
    "products": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Product"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "flatPath": "content/v2.1/{merchantId}/products",
          "parameters": {
            "feedId": {
              "location": "query",
              "format": "uint64",
              "type": "string",
              "description": "The Content API Supplemental Feed ID."
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "format": "uint64"
            }
          },
          "id": "content.products.insert",
          "request": {
            "$ref": "Product"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2.1/{merchantId}/products"
        },
        "get": {
          "httpMethod": "GET",
          "id": "content.products.get",
          "flatPath": "content/v2.1/{merchantId}/products/{productId}",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "response": {
            "$ref": "Product"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string"
            },
            "productId": {
              "type": "string",
              "description": "The REST ID of the product.",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves a product from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/products/{productId}"
        },
        "list": {
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested.",
          "flatPath": "content/v2.1/{merchantId}/products",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.products.list",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2.1/{merchantId}/products",
          "response": {
            "$ref": "ProductsListResponse"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/products/{productId}",
          "parameters": {
            "feedId": {
              "type": "string",
              "description": "The Content API Supplemental Feed ID.",
              "location": "query",
              "format": "uint64"
            },
            "productId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The REST ID of the product."
            },
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/products/{productId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Deletes a product from your Merchant Center account.",
          "id": "content.products.delete"
        },
        "custombatch": {
          "flatPath": "content/v2.1/products/batch",
          "path": "content/v2.1/products/batch",
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "parameterOrder": [],
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.products.custombatch",
          "httpMethod": "POST"
        }
      }
    },
    "repricingrules": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "ruleId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The id of the rule to retrieve."
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The id of the merchant who owns the repricing rule.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "merchantId",
            "ruleId"
          ],
          "id": "content.repricingrules.get",
          "response": {
            "$ref": "RepricingRule"
          },
          "flatPath": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "path": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "description": "Retrieves a repricing rule from your Merchant Center account."
        },
        "delete": {
          "parameterOrder": [
            "merchantId",
            "ruleId"
          ],
          "flatPath": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "path": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "description": "Deletes a repricing rule in your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The id of the merchant who owns the repricing rule.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "ruleId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The id of the rule to Delete."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.repricingrules.delete"
        },
        "patch": {
          "response": {
            "$ref": "RepricingRule"
          },
          "parameterOrder": [
            "merchantId",
            "ruleId"
          ],
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The id of the merchant who owns the repricing rule.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "ruleId": {
              "required": true,
              "location": "path",
              "description": "Required. The id of the rule to update.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "RepricingRule"
          },
          "description": "Updates a repricing rule in your Merchant Center account. All mutable fields will be overwritten in each update request. In each update, you must provide all required mutable fields, or an error will be thrown. If you do not provide an optional field in the update request, if that field currently exists, it will be deleted from the rule.",
          "id": "content.repricingrules.patch",
          "path": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/repricingrules/{ruleId}"
        },
        "create": {
          "response": {
            "$ref": "RepricingRule"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2.1/{merchantId}/repricingrules",
          "flatPath": "content/v2.1/{merchantId}/repricingrules",
          "id": "content.repricingrules.create",
          "request": {
            "$ref": "RepricingRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "description": "Creates a repricing rule for your Merchant Center account.",
          "parameters": {
            "ruleId": {
              "description": "Required. The id of the rule to create.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "description": "Required. The id of the merchant who owns the repricing rule.",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "list": {
          "flatPath": "content/v2.1/{merchantId}/repricingrules",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of repricing rules to return. The service may return fewer than this value. If unspecified, at most 50 rules will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "countryCode": {
              "location": "query",
              "type": "string",
              "description": "CLDR country code (e.g. \"US\"), used as a filter on repricing rules."
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListRepricingRules` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRepricingRules` must match the call that provided the page token.",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Required. The id of the merchant who owns the repricing rule.",
              "type": "string"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The two-letter ISO 639-1 language code associated with the repricing rule, used as a filter."
            }
          },
          "description": "Lists the repricing rules in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2.1/{merchantId}/repricingrules",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.repricingrules.list",
          "response": {
            "$ref": "ListRepricingRulesResponse"
          }
        }
      }
    },
    "orderreports": {
      "methods": {
        "listdisbursements": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "disbursementEndDate": {
              "type": "string",
              "location": "query",
              "description": "The last date which disbursements occurred. In ISO 8601 format. Default: current date."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of disbursements to return in the response, used for paging."
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string"
            },
            "disbursementStartDate": {
              "description": "The first date which disbursements occurred. In ISO 8601 format.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "content.orderreports.listdisbursements",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a report for disbursements from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orderreports/disbursements",
          "response": {
            "$ref": "OrderreportsListDisbursementsResponse"
          },
          "path": "content/v2.1/{merchantId}/orderreports/disbursements"
        },
        "listtransactions": {
          "parameters": {
            "transactionStartDate": {
              "description": "The first date in which transaction occurred. In ISO 8601 format.",
              "type": "string",
              "location": "query"
            },
            "transactionEndDate": {
              "location": "query",
              "description": "The last date in which transaction occurred. In ISO 8601 format. Default: current date.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "disbursementId": {
              "description": "The Google-provided ID of the disbursement (found in Wallet).",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "maxResults": {
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            }
          },
          "parameterOrder": [
            "merchantId",
            "disbursementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orderreports.listtransactions",
          "response": {
            "$ref": "OrderreportsListTransactionsResponse"
          },
          "description": "Retrieves a list of transactions for a disbursement from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "httpMethod": "GET",
          "path": "content/v2.1/{merchantId}/orderreports/disbursements/{disbursementId}/transactions"
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "content.datafeedstatuses.list",
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/datafeedstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/datafeedstatuses",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of products to return in the response, used for paging.",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.datafeedstatuses.get",
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "parameters": {
            "country": {
              "location": "query",
              "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "type": "string"
            },
            "datafeedId": {
              "type": "string",
              "description": "The ID of the datafeed.",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "language": {
              "location": "query",
              "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "DatafeedStatus"
          },
          "path": "content/v2.1/{merchantId}/datafeedstatuses/{datafeedId}",
          "flatPath": "content/v2.1/{merchantId}/datafeedstatuses/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "content/v2.1/datafeedstatuses/batch",
          "id": "content.datafeedstatuses.custombatch",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "flatPath": "content/v2.1/datafeedstatuses/batch",
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          }
        }
      }
    },
    "productstatuses": {
      "methods": {
        "custombatch": {
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "id": "content.productstatuses.custombatch",
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "parameterOrder": [],
          "description": "Gets the statuses of multiple products in a single request.",
          "parameters": {},
          "path": "content/v2.1/productstatuses/batch",
          "flatPath": "content/v2.1/productstatuses/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "destinations": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of product statuses to return in the response, used for paging."
            }
          },
          "flatPath": "content/v2.1/{merchantId}/productstatuses",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/productstatuses",
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.productstatuses.list",
          "response": {
            "$ref": "ProductstatusesListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "description": "Gets the status of a product from your Merchant Center account.",
          "parameters": {
            "productId": {
              "type": "string",
              "description": "The REST ID of the product.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            },
            "destinations": {
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query"
            }
          },
          "id": "content.productstatuses.get",
          "flatPath": "content/v2.1/{merchantId}/productstatuses/{productId}",
          "response": {
            "$ref": "ProductStatus"
          },
          "path": "content/v2.1/{merchantId}/productstatuses/{productId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "orderreturns": {
      "methods": {
        "createorderreturn": {
          "flatPath": "content/v2.1/{merchantId}/orderreturns/createOrderReturn",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "description": "Create return in your Merchant Center account.",
          "response": {
            "$ref": "OrderreturnsCreateOrderReturnResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "OrderreturnsCreateOrderReturnRequest"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/orderreturns/createOrderReturn",
          "id": "content.orderreturns.createorderreturn"
        },
        "acknowledge": {
          "id": "content.orderreturns.acknowledge",
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "description": "Acks an order return in your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string"
            },
            "returnId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the return."
            }
          },
          "path": "content/v2.1/{merchantId}/orderreturns/{returnId}/acknowledge",
          "httpMethod": "POST",
          "request": {
            "$ref": "OrderreturnsAcknowledgeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/orderreturns/{returnId}/acknowledge",
          "response": {
            "$ref": "OrderreturnsAcknowledgeResponse"
          }
        },
        "process": {
          "response": {
            "$ref": "OrderreturnsProcessResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "OrderreturnsProcessRequest"
          },
          "parameters": {
            "returnId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the return."
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "flatPath": "content/v2.1/{merchantId}/orderreturns/{returnId}/process",
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "path": "content/v2.1/{merchantId}/orderreturns/{returnId}/process",
          "id": "content.orderreturns.process",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Processes return in your Merchant Center account."
        },
        "list": {
          "id": "content.orderreturns.list",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/orderreturns",
          "response": {
            "$ref": "OrderreturnsListResponse"
          },
          "description": "Lists order returns in your Merchant Center account.",
          "parameters": {
            "createdEndDate": {
              "location": "query",
              "type": "string",
              "description": "Obtains order returns created before this date (inclusively), in ISO 8601 format."
            },
            "shipmentStatus": {
              "location": "query",
              "repeated": true,
              "description": "Obtains order returns that match any shipment status provided in this parameter. When this parameter is not provided, order returns are obtained regardless of their shipment statuses.",
              "enum": [
                "NEW",
                "IN_PROGRESS",
                "PROCESSED"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                ""
              ]
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "shipmentTrackingNumbers": {
              "repeated": true,
              "type": "string",
              "description": "Obtains order returns with the specified tracking numbers. If this parameter is provided, createdStartDate, createdEndDate, shipmentType, shipmentStatus, shipmentState and acknowledged parameters must be not set. Note: if googleOrderId and shipmentTrackingNumber parameters are provided, the obtained results will include all order returns that either match the specified order id or the specified tracking number.",
              "location": "query"
            },
            "acknowledged": {
              "location": "query",
              "type": "boolean",
              "description": "Obtains order returns that match the acknowledgement status. When set to true, obtains order returns that have been acknowledged. When false, obtains order returns that have not been acknowledged. When not provided, obtains order returns regardless of their acknowledgement status. We recommend using this filter set to `false`, in conjunction with the `acknowledge` call, such that only un-acknowledged order returns are returned. "
            },
            "googleOrderIds": {
              "type": "string",
              "repeated": true,
              "description": "Obtains order returns with the specified order ids. If this parameter is provided, createdStartDate, createdEndDate, shipmentType, shipmentStatus, shipmentState and acknowledged parameters must be not set. Note: if googleOrderId and shipmentTrackingNumber parameters are provided, the obtained results will include all order returns that either match the specified order id or the specified tracking number.",
              "location": "query"
            },
            "shipmentTypes": {
              "description": "Obtains order returns that match any shipment type provided in this parameter. When this parameter is not provided, order returns are obtained regardless of their shipment types.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "enum": [
                "BY_MAIL",
                "RETURNLESS",
                "CONTACT_CUSTOMER_SUPPORT"
              ],
              "location": "query",
              "repeated": true
            },
            "orderBy": {
              "location": "query",
              "description": "Return the results in the specified order.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "RETURN_CREATION_TIME_DESC",
                "RETURN_CREATION_TIME_ASC"
              ]
            },
            "shipmentStates": {
              "location": "query",
              "type": "string",
              "enum": [
                "NEW",
                "SHIPPED",
                "COMPLETED",
                "UNDELIVERABLE",
                "PENDING"
              ],
              "description": "Obtains order returns that match any shipment state provided in this parameter. When this parameter is not provided, order returns are obtained regardless of their shipment states.",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "createdStartDate": {
              "description": "Obtains order returns created after this date (inclusively), in ISO 8601 format.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of order returns to return in the response, used for paging. The default value is 25 returns per page, and the maximum allowed value is 250 returns per page.",
              "format": "uint32"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/orderreturns",
          "httpMethod": "GET"
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "returnId"
          ],
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "returnId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Merchant order return ID generated by Google."
            }
          },
          "path": "content/v2.1/{merchantId}/orderreturns/{returnId}",
          "description": "Retrieves an order return from your Merchant Center account.",
          "httpMethod": "GET",
          "flatPath": "content/v2.1/{merchantId}/orderreturns/{returnId}",
          "id": "content.orderreturns.get",
          "response": {
            "$ref": "MerchantOrderReturn"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "pubsubnotificationsettings": {
      "methods": {
        "get": {
          "id": "content.pubsubnotificationsettings.get",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "description": "Retrieves a Merchant Center account's pubsub notification settings.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the account for which to get pubsub notification settings.",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/pubsubnotificationsettings",
          "path": "content/v2.1/{merchantId}/pubsubnotificationsettings",
          "httpMethod": "GET"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "PubsubNotificationSettings"
          },
          "flatPath": "content/v2.1/{merchantId}/pubsubnotificationsettings",
          "id": "content.pubsubnotificationsettings.update",
          "path": "content/v2.1/{merchantId}/pubsubnotificationsettings",
          "description": "Register a Merchant Center account for pubsub notifications. Note that cloud topic name should not be provided as part of the request.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "PubsubNotificationSettings"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the account.",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId"
          ]
        }
      }
    },
    "liasettings": {
      "methods": {
        "getaccessiblegmbaccounts": {
          "response": {
            "$ref": "LiasettingsGetAccessibleGmbAccountsResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts.",
              "type": "string",
              "required": true,
              "format": "uint64"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string"
            }
          },
          "id": "content.liasettings.getaccessiblegmbaccounts",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "description": "Retrieves the list of accessible Google My Business accounts.",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "requestgmbaccess": {
          "parameterOrder": [
            "merchantId",
            "accountId",
            "gmbEmail"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "accountId": {
              "required": true,
              "description": "The ID of the account for which GMB access is requested.",
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "gmbEmail": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The email of the Google My Business account."
            }
          },
          "id": "content.liasettings.requestgmbaccess",
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/requestgmbaccess",
          "response": {
            "$ref": "LiasettingsRequestGmbAccessResponse"
          },
          "description": "Requests access to a specified Google My Business account.",
          "httpMethod": "POST"
        },
        "requestinventoryverification": {
          "httpMethod": "POST",
          "response": {
            "$ref": "LiasettingsRequestInventoryVerificationResponse"
          },
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "id": "content.liasettings.requestinventoryverification",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path"
            },
            "country": {
              "description": "The country for which inventory validation is requested.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64"
            }
          },
          "description": "Requests inventory validation for the specified country.",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setinventoryverificationcontact": {
          "description": "Sets the inventory verification contract for the specified country.",
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country",
            "language",
            "contactName",
            "contactEmail"
          ],
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "response": {
            "$ref": "LiasettingsSetInventoryVerificationContactResponse"
          },
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact",
          "parameters": {
            "country": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The country for which inventory verification is requested."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The language for which inventory verification is requested.",
              "required": true
            },
            "contactName": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The name of the inventory verification contact."
            },
            "contactEmail": {
              "location": "query",
              "description": "The email of the inventory verification contact.",
              "type": "string",
              "required": true
            },
            "accountId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "id": "content.liasettings.setinventoryverificationcontact"
        },
        "listposdataproviders": {
          "httpMethod": "GET",
          "response": {
            "$ref": "LiasettingsListPosDataProvidersResponse"
          },
          "parameterOrder": [],
          "flatPath": "content/v2.1/liasettings/posdataproviders",
          "description": "Retrieves the list of POS data providers that have active settings for the all eiligible countries.",
          "path": "content/v2.1/liasettings/posdataproviders",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.liasettings.listposdataproviders"
        },
        "custombatch": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves and/or updates the LIA settings of multiple accounts in a single request.",
          "response": {
            "$ref": "LiasettingsCustomBatchResponse"
          },
          "path": "content/v2.1/liasettings/batch",
          "request": {
            "$ref": "LiasettingsCustomBatchRequest"
          },
          "parameterOrder": [],
          "flatPath": "content/v2.1/liasettings/batch",
          "id": "content.liasettings.custombatch",
          "httpMethod": "POST"
        },
        "update": {
          "request": {
            "$ref": "LiaSettings"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}",
          "id": "content.liasettings.update",
          "description": "Updates the LIA settings of the account. Any fields that are not provided are deleted from the resource.",
          "response": {
            "$ref": "LiaSettings"
          },
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}",
          "httpMethod": "PUT",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "accountId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account for which to get or update LIA settings."
            }
          }
        },
        "list": {
          "response": {
            "$ref": "LiasettingsListResponse"
          },
          "description": "Lists the LIA settings of the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.liasettings.list",
          "flatPath": "content/v2.1/{merchantId}/liasettings",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of LIA settings to return in the response, used for paging.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "path": "content/v2.1/{merchantId}/liasettings",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "LiaSettings"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Retrieves the LIA settings of the account.",
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}",
          "id": "content.liasettings.get",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}",
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true
            },
            "accountId": {
              "description": "The ID of the account for which to get or update LIA settings.",
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setposdataprovider": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "flatPath": "content/v2.1/{merchantId}/liasettings/{accountId}/setposdataprovider",
          "id": "content.liasettings.setposdataprovider",
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64"
            },
            "accountId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account for which to retrieve accessible Google My Business accounts."
            },
            "country": {
              "type": "string",
              "required": true,
              "description": "The country for which the POS data provider is selected.",
              "location": "query"
            },
            "posDataProviderId": {
              "location": "query",
              "type": "string",
              "description": "The ID of POS data provider.",
              "format": "uint64"
            },
            "posExternalAccountId": {
              "type": "string",
              "description": "The account ID by which this merchant is known to the POS data provider.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId",
            "country"
          ],
          "response": {
            "$ref": "LiasettingsSetPosDataProviderResponse"
          },
          "description": "Sets the POS data provider for the specified country."
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ShippingsettingsListResponse"
          },
          "path": "content/v2.1/{merchantId}/shippingsettings",
          "flatPath": "content/v2.1/{merchantId}/shippingsettings",
          "id": "content.shippingsettings.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of shipping settings to return in the response, used for paging.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "getsupportedholidays": {
          "response": {
            "$ref": "ShippingsettingsGetSupportedHolidaysResponse"
          },
          "id": "content.shippingsettings.getsupportedholidays",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves supported holidays for an account.",
          "path": "content/v2.1/{merchantId}/supportedHolidays",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to retrieve the supported holidays.",
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "flatPath": "content/v2.1/{merchantId}/supportedHolidays"
        },
        "getsupportedcarriers": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the account for which to retrieve the supported carriers.",
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/supportedCarriers",
          "response": {
            "$ref": "ShippingsettingsGetSupportedCarriersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves supported carriers and carrier services for an account.",
          "id": "content.shippingsettings.getsupportedcarriers",
          "httpMethod": "GET",
          "path": "content/v2.1/{merchantId}/supportedCarriers"
        },
        "update": {
          "path": "content/v2.1/{merchantId}/shippingsettings/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.shippingsettings.update",
          "response": {
            "$ref": "ShippingSettings"
          },
          "flatPath": "content/v2.1/{merchantId}/shippingsettings/{accountId}",
          "request": {
            "$ref": "ShippingSettings"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true
            },
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to get/update shipping settings.",
              "required": true,
              "format": "uint64",
              "type": "string"
            }
          },
          "httpMethod": "PUT"
        },
        "getsupportedpickupservices": {
          "flatPath": "content/v2.1/{merchantId}/supportedPickupServices",
          "response": {
            "$ref": "ShippingsettingsGetSupportedPickupServicesResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.getsupportedpickupservices",
          "httpMethod": "GET",
          "description": "Retrieves supported pickup services for an account.",
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account for which to retrieve the supported pickup services.",
              "format": "uint64",
              "location": "path"
            }
          },
          "path": "content/v2.1/{merchantId}/supportedPickupServices"
        },
        "custombatch": {
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "content/v2.1/shippingsettings/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.shippingsettings.custombatch",
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "path": "content/v2.1/shippingsettings/batch",
          "httpMethod": "POST",
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request."
        },
        "get": {
          "description": "Retrieves the shipping settings of the account.",
          "flatPath": "content/v2.1/{merchantId}/shippingsettings/{accountId}",
          "parameters": {
            "accountId": {
              "location": "path",
              "description": "The ID of the account for which to get/update shipping settings.",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/shippingsettings/{accountId}",
          "httpMethod": "GET",
          "id": "content.shippingsettings.get",
          "response": {
            "$ref": "ShippingSettings"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "datafeeds": {
      "methods": {
        "insert": {
          "description": "Registers a datafeed configuration with your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Datafeed"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.datafeeds.insert",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "uint64"
            }
          },
          "path": "content/v2.1/{merchantId}/datafeeds",
          "response": {
            "$ref": "Datafeed"
          },
          "flatPath": "content/v2.1/{merchantId}/datafeeds"
        },
        "get": {
          "description": "Retrieves a datafeed configuration from your Merchant Center account.",
          "id": "content.datafeeds.get",
          "path": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "datafeedId": {
              "type": "string",
              "required": true,
              "description": "The ID of the datafeed.",
              "location": "path",
              "format": "uint64"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Datafeed"
          },
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        },
        "delete": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "datafeedId": {
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path",
              "description": "The ID of the datafeed."
            }
          },
          "id": "content.datafeeds.delete",
          "flatPath": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "httpMethod": "DELETE",
          "path": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Deletes a datafeed configuration from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "description": "Lists the configurations for datafeeds in your Merchant Center account.",
          "response": {
            "$ref": "DatafeedsListResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/datafeeds",
          "httpMethod": "GET",
          "path": "content/v2.1/{merchantId}/datafeeds",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of products to return in the response, used for paging.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.datafeeds.list"
        },
        "fetchnow": {
          "response": {
            "$ref": "DatafeedsFetchNowResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "parameters": {
            "datafeedId": {
              "description": "The ID of the datafeed to be fetched.",
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            }
          },
          "id": "content.datafeeds.fetchnow",
          "description": "Invokes a fetch for the datafeed in your Merchant Center account. If you need to call this method more than once per day, we recommend you use the Products service to update your product data.",
          "path": "content/v2.1/{merchantId}/datafeeds/{datafeedId}/fetchNow",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ]
        },
        "custombatch": {
          "response": {
            "$ref": "DatafeedsCustomBatchResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/datafeeds/batch",
          "httpMethod": "POST",
          "description": "Deletes, fetches, gets, inserts and updates multiple datafeeds in a single request.",
          "parameterOrder": [],
          "flatPath": "content/v2.1/datafeeds/batch",
          "id": "content.datafeeds.custombatch",
          "request": {
            "$ref": "DatafeedsCustomBatchRequest"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "id": "content.datafeeds.update",
          "description": "Updates a datafeed configuration of your Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string"
            },
            "datafeedId": {
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the datafeed."
            }
          },
          "request": {
            "$ref": "Datafeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "path": "content/v2.1/{merchantId}/datafeeds/{datafeedId}",
          "response": {
            "$ref": "Datafeed"
          }
        }
      }
    },
    "ordertrackingsignals": {
      "methods": {
        "create": {
          "response": {
            "$ref": "OrderTrackingSignal"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "The ID of the merchant for which the order signal is created.",
              "required": true
            }
          },
          "id": "content.ordertrackingsignals.create",
          "flatPath": "content/v2.1/{merchantId}/ordertrackingsignals",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "OrderTrackingSignal"
          },
          "path": "content/v2.1/{merchantId}/ordertrackingsignals",
          "description": "Creates new order tracking signal."
        }
      }
    },
    "accounttax": {
      "methods": {
        "update": {
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "parameters": {
            "accountId": {
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "AccountTax"
          },
          "id": "content.accounttax.update",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "id": "content.accounttax.custombatch",
          "parameters": {},
          "flatPath": "content/v2.1/accounttax/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/accounttax/batch",
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "parameterOrder": []
        },
        "get": {
          "response": {
            "$ref": "AccountTax"
          },
          "description": "Retrieves the tax settings of the account.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "accountId": {
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account for which to get/update account tax settings."
            }
          },
          "id": "content.accounttax.get",
          "flatPath": "content/v2.1/{merchantId}/accounttax/{accountId}"
        },
        "list": {
          "path": "content/v2.1/{merchantId}/accounttax",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of tax settings to return in the response, used for paging.",
              "type": "integer",
              "format": "uint32"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounttax.list",
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "httpMethod": "GET",
          "flatPath": "content/v2.1/{merchantId}/accounttax"
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "list": {
          "path": "content/v2.1/{merchantId}/accountstatuses",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "format": "uint32"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "destinations": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
            }
          },
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/accountstatuses",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accountstatuses.list"
        },
        "get": {
          "parameters": {
            "accountId": {
              "type": "string",
              "required": true,
              "description": "The ID of the account.",
              "format": "uint64",
              "location": "path"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path"
            },
            "destinations": {
              "location": "query",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "type": "string",
              "repeated": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "content/v2.1/{merchantId}/accountstatuses/{accountId}",
          "path": "content/v2.1/{merchantId}/accountstatuses/{accountId}",
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accountstatuses.get"
        },
        "custombatch": {
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "id": "content.accountstatuses.custombatch",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/accountstatuses/batch",
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "parameterOrder": [],
          "path": "content/v2.1/accountstatuses/batch",
          "parameters": {},
          "description": "Retrieves multiple Merchant Center account statuses in a single request."
        }
      }
    },
    "settlementtransactions": {
      "methods": {
        "list": {
          "parameters": {
            "settlementId": {
              "type": "string",
              "description": "The Google-provided ID of the settlement.",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "transactionIds": {
              "description": "The list of transactions to return. If not set, all transactions will be returned.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "merchantId": {
              "required": true,
              "description": "The Merchant Center account to list transactions for.",
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of transactions to return in the response, used for paging. The default value is 200 transactions per page, and the maximum allowed value is 5000 transactions per page.",
              "type": "integer"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/settlementreports/{settlementId}/transactions",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "settlementId"
          ],
          "response": {
            "$ref": "SettlementtransactionsListResponse"
          },
          "path": "content/v2.1/{merchantId}/settlementreports/{settlementId}/transactions",
          "description": "Retrieves a list of transactions for the settlement.",
          "id": "content.settlementtransactions.list",
          "httpMethod": "GET"
        }
      }
    },
    "settlementreports": {
      "methods": {
        "list": {
          "path": "content/v2.1/{merchantId}/settlementreports",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.settlementreports.list",
          "flatPath": "content/v2.1/{merchantId}/settlementreports",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Retrieves a list of settlement reports from your Merchant Center account.",
          "response": {
            "$ref": "SettlementreportsListResponse"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The Merchant Center account to list settlements for.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of settlements to return in the response, used for paging. The default value is 200 returns per page, and the maximum allowed value is 5000 returns per page.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "transferEndDate": {
              "type": "string",
              "description": "Obtains settlements which have transactions before this date (inclusively), in ISO 8601 format.",
              "location": "query"
            },
            "transferStartDate": {
              "type": "string",
              "location": "query",
              "description": "Obtains settlements which have transactions after this date (inclusively), in ISO 8601 format."
            }
          }
        },
        "get": {
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "description": "The Merchant Center account of the settlement report.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "settlementId": {
              "type": "string",
              "required": true,
              "description": "The Google-provided ID of the settlement.",
              "location": "path"
            }
          },
          "description": "Retrieves a settlement report from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.settlementreports.get",
          "parameterOrder": [
            "merchantId",
            "settlementId"
          ],
          "response": {
            "$ref": "SettlementReport"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/settlementreports/{settlementId}",
          "flatPath": "content/v2.1/{merchantId}/settlementreports/{settlementId}"
        }
      }
    },
    "localinventory": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64"
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The REST ID of the product for which to update local inventory."
            }
          },
          "path": "content/v2.1/{merchantId}/products/{productId}/localinventory",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "flatPath": "content/v2.1/{merchantId}/products/{productId}/localinventory",
          "request": {
            "$ref": "LocalInventory"
          },
          "response": {
            "$ref": "LocalInventory"
          },
          "description": "Updates the local inventory of a product in your Merchant Center account.",
          "id": "content.localinventory.insert"
        },
        "custombatch": {
          "httpMethod": "POST",
          "id": "content.localinventory.custombatch",
          "request": {
            "$ref": "LocalinventoryCustomBatchRequest"
          },
          "parameters": {},
          "flatPath": "content/v2.1/localinventory/batch",
          "parameterOrder": [],
          "path": "content/v2.1/localinventory/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LocalinventoryCustomBatchResponse"
          },
          "description": "Updates local inventory for multiple products or stores in a single request."
        }
      }
    },
    "returnpolicy": {
      "methods": {
        "delete": {
          "path": "content/v2.1/{merchantId}/returnpolicy/{returnPolicyId}",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The Merchant Center account from which to delete the given return policy.",
              "format": "uint64",
              "type": "string"
            },
            "returnPolicyId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Return policy ID generated by Google."
            }
          },
          "id": "content.returnpolicy.delete",
          "httpMethod": "DELETE",
          "flatPath": "content/v2.1/{merchantId}/returnpolicy/{returnPolicyId}",
          "description": "Deletes a return policy for the given Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.returnpolicy.custombatch",
          "description": "Batches multiple return policy related calls in a single request.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "content/v2.1/returnpolicy/batch",
          "parameters": {},
          "response": {
            "$ref": "ReturnpolicyCustomBatchResponse"
          },
          "request": {
            "$ref": "ReturnpolicyCustomBatchRequest"
          },
          "path": "content/v2.1/returnpolicy/batch"
        },
        "insert": {
          "request": {
            "$ref": "ReturnPolicy"
          },
          "response": {
            "$ref": "ReturnPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2.1/{merchantId}/returnpolicy",
          "description": "Inserts a return policy for the Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/returnpolicy",
          "id": "content.returnpolicy.insert",
          "parameters": {
            "merchantId": {
              "description": "The Merchant Center account to insert a return policy for.",
              "format": "uint64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "flatPath": "content/v2.1/{merchantId}/returnpolicy",
          "response": {
            "$ref": "ReturnpolicyListResponse"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The Merchant Center account to list return policies for.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.returnpolicy.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the return policies of the Merchant Center account.",
          "path": "content/v2.1/{merchantId}/returnpolicy"
        },
        "get": {
          "flatPath": "content/v2.1/{merchantId}/returnpolicy/{returnPolicyId}",
          "path": "content/v2.1/{merchantId}/returnpolicy/{returnPolicyId}",
          "description": "Gets a return policy of the Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.returnpolicy.get",
          "parameters": {
            "returnPolicyId": {
              "required": true,
              "description": "Return policy ID generated by Google.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The Merchant Center account to get a return policy for.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ReturnPolicy"
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ]
        }
      }
    },
    "returnaddress": {
      "methods": {
        "insert": {
          "description": "Inserts a return address for the Merchant Center account.",
          "request": {
            "$ref": "ReturnAddress"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.returnaddress.insert",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The Merchant Center account to insert a return address for.",
              "format": "uint64",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/returnaddress",
          "httpMethod": "POST",
          "path": "content/v2.1/{merchantId}/returnaddress",
          "response": {
            "$ref": "ReturnAddress"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Batches multiple return address related calls in a single request.",
          "flatPath": "content/v2.1/returnaddress/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ReturnaddressCustomBatchResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "ReturnaddressCustomBatchRequest"
          },
          "path": "content/v2.1/returnaddress/batch",
          "id": "content.returnaddress.custombatch"
        },
        "delete": {
          "parameterOrder": [
            "merchantId",
            "returnAddressId"
          ],
          "httpMethod": "DELETE",
          "path": "content/v2.1/{merchantId}/returnaddress/{returnAddressId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a return address for the given Merchant Center account.",
          "id": "content.returnaddress.delete",
          "flatPath": "content/v2.1/{merchantId}/returnaddress/{returnAddressId}",
          "parameters": {
            "returnAddressId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Return address ID generated by Google."
            },
            "merchantId": {
              "description": "The Merchant Center account from which to delete the given return address.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "content/v2.1/{merchantId}/returnaddress/{returnAddressId}",
          "description": "Gets a return address of the Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/returnaddress/{returnAddressId}",
          "parameterOrder": [
            "merchantId",
            "returnAddressId"
          ],
          "id": "content.returnaddress.get",
          "parameters": {
            "returnAddressId": {
              "type": "string",
              "location": "path",
              "description": "Return address ID generated by Google.",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The Merchant Center account to get a return address for.",
              "format": "uint64"
            }
          },
          "response": {
            "$ref": "ReturnAddress"
          },
          "httpMethod": "GET"
        },
        "list": {
          "path": "content/v2.1/{merchantId}/returnaddress",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Lists the return addresses of the Merchant Center account.",
          "response": {
            "$ref": "ReturnaddressListResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/returnaddress",
          "id": "content.returnaddress.list",
          "parameters": {
            "country": {
              "type": "string",
              "description": "List only return addresses applicable to the given country of sale. When omitted, all return addresses are listed.",
              "location": "query"
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The Merchant Center account to list return addresses for."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of addresses in the response, used for paging.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "updatelabels": {
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/updatelabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/updatelabels",
          "id": "content.accounts.updatelabels",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account whose labels are updated.",
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the managing account.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64"
            }
          }
        },
        "custombatch": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "path": "content/v2.1/accounts/batch",
          "flatPath": "content/v2.1/accounts/batch",
          "parameters": {},
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "id": "content.accounts.custombatch",
          "parameterOrder": [],
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "link": {
          "response": {
            "$ref": "AccountsLinkResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
[...]
