{
  "servicePath": "",
  "id": "content:v2.1",
  "version": "v2.1",
  "ownerDomain": "google.com",
  "baseUrl": "https://shoppingcontent.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Shopping Content",
  "basePath": "",
  "parameters": {
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "name": "content",
  "title": "Content API for Shopping",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20210223",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "ownerName": "Google",
  "description": "Manage your product listings and accounts for Google Shopping",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "schemas": {
    "OrderreturnsProcessRequest": {
      "type": "object",
      "id": "OrderreturnsProcessRequest",
      "properties": {
        "fullChargeReturnShippingCost": {
          "type": "boolean",
          "description": "Option to charge the customer return shipping cost."
        },
        "operationId": {
          "description": "[required] The ID of the operation, unique across all operations for a given order return.",
          "type": "string"
        },
        "refundShippingFee": {
          "description": "Refunds for original shipping fee.",
          "$ref": "OrderreturnsRefundOperation"
        },
        "returnItems": {
          "items": {
            "$ref": "OrderreturnsReturnItem"
          },
          "description": "The list of items to return.",
          "type": "array"
        }
      }
    },
    "AccountStatusItemLevelIssue": {
      "id": "AccountStatusItemLevelIssue",
      "properties": {
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the offer."
        },
        "attributeName": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "numItems": {
          "format": "int64",
          "description": "Number of items with this issue.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OnboardBuyOnGoogleProgramRequest": {
      "type": "object",
      "description": "Request message for the OnboardProgram method.",
      "properties": {
        "customerServiceEmail": {
          "type": "string",
          "description": "The customer service email."
        }
      },
      "id": "OnboardBuyOnGoogleProgramRequest"
    },
    "CollectionStatusItemLevelIssue": {
      "description": "Issue associated with the collection.",
      "id": "CollectionStatusItemLevelIssue",
      "properties": {
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "servability": {
          "description": "How this issue affects the serving of the collection.",
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "attributeName": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "destination": {
          "type": "string",
          "description": "The destination the issue applies to."
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help with resolving this issue."
        }
      },
      "type": "object"
    },
    "RegionalinventoryCustomBatchResponseEntry": {
      "type": "object",
      "id": "RegionalinventoryCustomBatchResponseEntry",
      "description": "A batch entry encoding a single non-batch regional inventory response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#regionalinventoryCustomBatchResponseEntry\"."
        },
        "errors": {
          "description": "A list of errors defined if and only if the request failed.",
          "$ref": "Errors"
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer",
          "format": "uint32"
        },
        "regionalInventory": {
          "$ref": "RegionalInventory",
          "description": "Price and availability of the product."
        }
      }
    },
    "ShippingsettingsCustomBatchRequestEntry": {
      "type": "object",
      "properties": {
        "shippingSettings": {
          "description": "The account shipping settings to update. Only defined if the method is `update`.",
          "$ref": "ShippingSettings"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`update`\" "
        },
        "accountId": {
          "description": "The ID of the account for which to get/update account shipping settings.",
          "format": "uint64",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "An entry ID, unique within the batch request."
        }
      },
      "id": "ShippingsettingsCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch shippingsettings request."
    },
    "PosCustomBatchResponseEntry": {
      "id": "PosCustomBatchResponseEntry",
      "properties": {
        "inventory": {
          "description": "The updated inventory information.",
          "$ref": "PosInventory"
        },
        "batchId": {
          "description": "The ID of the request entry to which this entry responds.",
          "format": "uint32",
          "type": "integer"
        },
        "sale": {
          "description": "The updated sale information.",
          "$ref": "PosSale"
        },
        "store": {
          "$ref": "PosStore",
          "description": "The retrieved or updated store information."
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if, and only if, the request failed."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posCustomBatchResponseEntry`\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrdersRefundOrderResponse": {
      "type": "object",
      "id": "OrdersRefundOrderResponse",
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersRefundOrderResponse\"."
        }
      }
    },
    "CutoffTime": {
      "type": "object",
      "id": "CutoffTime",
      "properties": {
        "minute": {
          "type": "integer",
          "description": "Minute of the cutoff time until which an order has to be placed to be processed in the same day. Required.",
          "format": "uint32"
        },
        "hour": {
          "format": "uint32",
          "type": "integer",
          "description": "Hour of the cutoff time until which an order has to be placed to be processed in the same day. Required."
        },
        "timezone": {
          "description": "Timezone identifier for the cutoff time. A list of identifiers can be found in the AdWords API documentation. E.g. \"Europe/Zurich\". Required.",
          "type": "string"
        }
      }
    },
    "AccountsListLinksResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsListLinksResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of links."
        },
        "links": {
          "description": "The list of available links.",
          "items": {
            "$ref": "LinkedAccount"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AccountsListLinksResponse"
    },
    "OrdersSetLineItemMetadataResponse": {
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersSetLineItemMetadataResponse\"."
        }
      },
      "type": "object",
      "id": "OrdersSetLineItemMetadataResponse"
    },
    "AccountsLinkResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsLinkResponse\".",
          "type": "string"
        }
      },
      "id": "AccountsLinkResponse",
      "type": "object"
    },
    "PosDataProviders": {
      "properties": {
        "posDataProviders": {
          "items": {
            "$ref": "PosDataProvidersPosDataProvider"
          },
          "description": "A list of POS data providers.",
          "type": "array"
        },
        "country": {
          "description": "Country code.",
          "type": "string"
        }
      },
      "id": "PosDataProviders",
      "type": "object"
    },
    "SettlementTransactionTransaction": {
      "properties": {
        "postDate": {
          "description": "The time on which the event occurred in ISO 8601 format.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the transaction that occurred. Acceptable values are: - \"`order`\" - \"`reversal`\" - \"`orderRefund`\" - \"`reversalRefund`\" - \"`issueRelatedRefundAndReplacement`\" - \"`returnLabelShippingFeeTransaction`\" - \"`reversalIssueRelatedRefundAndReplacement`\" - \"`reversalReturnLabelShippingFeeTransaction`\" - \"`lumpSumCorrectionTransaction`\" "
        }
      },
      "type": "object",
      "id": "SettlementTransactionTransaction"
    },
    "PickupCarrierService": {
      "id": "PickupCarrierService",
      "type": "object",
      "properties": {
        "carrierName": {
          "description": "The name of the pickup carrier (e.g., `\"UPS\"`). Required.",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "The name of the pickup service (e.g., `\"Access point\"`). Required."
        }
      }
    },
    "Amount": {
      "properties": {
        "priceAmount": {
          "description": "[required] The pre-tax or post-tax price depending on the location of the order.",
          "$ref": "Price"
        },
        "taxAmount": {
          "description": "[required] Tax value.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "id": "Amount"
    },
    "ReturnpolicyCustomBatchResponseEntry": {
      "id": "ReturnpolicyCustomBatchResponseEntry",
      "properties": {
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry to which this entry responds.",
          "format": "uint32"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#returnpolicyCustomBatchResponseEntry`\""
        },
        "returnPolicy": {
          "$ref": "ReturnPolicy",
          "description": "The retrieved return policy."
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if, and only if, the request failed."
        }
      },
      "type": "object"
    },
    "LocalInventory": {
      "description": "Local inventory resource. For accepted attribute values, see the local product inventory feed specification.",
      "properties": {
        "availability": {
          "type": "string",
          "description": "Availability of the product. For accepted attribute values, see the local product inventory feed specification."
        },
        "storeCode": {
          "description": "Required. Store code of this local inventory resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localInventory`\"",
          "type": "string"
        },
        "pickupSla": {
          "type": "string",
          "description": "Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the local product inventory feed specification."
        },
        "salePriceEffectiveDate": {
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates may be specified as 'null' if undecided.",
          "type": "string"
        },
        "salePrice": {
          "description": "Sale price of the product. Mandatory if `sale_price_effective_date` is defined.",
          "$ref": "Price"
        },
        "pickupMethod": {
          "type": "string",
          "description": "Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the local product inventory feed // specification."
        },
        "quantity": {
          "description": "Quantity of the product. Must be nonnegative.",
          "format": "uint32",
          "type": "integer"
        },
        "price": {
          "description": "Price of the product.",
          "$ref": "Price"
        },
        "instoreProductLocation": {
          "description": "In-store product location.",
          "type": "string"
        }
      },
      "id": "LocalInventory",
      "type": "object"
    },
    "Price": {
      "properties": {
        "currency": {
          "type": "string",
          "description": "The currency of the price."
        },
        "value": {
          "description": "The price represented as a number.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Price"
    },
    "Installment": {
      "type": "object",
      "id": "Installment",
      "properties": {
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "type": "string",
          "format": "int64"
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per month."
        }
      }
    },
    "RefundReason": {
      "type": "object",
      "id": "RefundReason",
      "properties": {
        "reasonCode": {
          "description": "Code of the refund reason. Acceptable values are: - \"`adjustment`\" - \"`autoPostInternal`\" - \"`autoPostInvalidBillingAddress`\" - \"`autoPostNoInventory`\" - \"`autoPostPriceError`\" - \"`autoPostUndeliverableShippingAddress`\" - \"`couponAbuse`\" - \"`courtesyAdjustment`\" - \"`customerCanceled`\" - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`customerSupportRequested`\" - \"`deliveredLateByCarrier`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`failToPushOrderGoogleError`\" - \"`failToPushOrderMerchantError`\" - \"`failToPushOrderMerchantFulfillmentError`\" - \"`failToPushOrderToMerchant`\" - \"`failToPushOrderToMerchantOutOfStock`\" - \"`feeAdjustment`\" - \"`invalidCoupon`\" - \"`lateShipmentCredit`\" - \"`malformedShippingAddress`\" - \"`merchantDidNotShipOnTime`\" - \"`noInventory`\" - \"`orderTimeout`\" - \"`other`\" - \"`paymentAbuse`\" - \"`paymentDeclined`\" - \"`priceAdjustment`\" - \"`priceError`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`promoReallocation`\" - \"`qualityNotAsExpected`\" - \"`returnRefundAbuse`\" - \"`shippingCostAdjustment`\" - \"`shippingPriceError`\" - \"`taxAdjustment`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" ",
          "type": "string"
        },
        "description": {
          "description": "Description of the reason.",
          "type": "string"
        }
      }
    },
    "TestOrderLineItemProduct": {
      "properties": {
        "fees": {
          "description": "Fees for the item. Optional.",
          "type": "array",
          "items": {
            "$ref": "OrderLineItemProductFee"
          }
        },
        "variantAttributes": {
          "items": {
            "$ref": "OrderLineItemProductVariantAttribute"
          },
          "type": "array",
          "description": "Variant attributes for the item. Optional."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item. Acceptable values are: - \"`en`\" - \"`fr`\" "
        },
        "gtin": {
          "description": "Global Trade Item Number (GTIN) of the item. Optional.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product. Optional.",
          "type": "string"
        },
        "mpn": {
          "description": "Manufacturer Part Number (MPN) of the item. Optional.",
          "type": "string"
        },
        "title": {
          "description": "Required. The title of the product.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Required. Condition or state of the item. Acceptable values are: - \"`new`\" "
        },
        "imageLink": {
          "description": "Required. URL of an image of the item.",
          "type": "string"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory // code of the target country of the product."
        },
        "brand": {
          "description": "Required. Brand of the item.",
          "type": "string"
        },
        "price": {
          "description": "Required. The price for the product. Tax is automatically calculated for orders where marketplace facilitator tax laws are applicable. Otherwise, tax settings from Merchant Center are applied.",
          "$ref": "Price"
        },
        "offerId": {
          "type": "string",
          "description": "Required. An identifier of the item."
        }
      },
      "type": "object",
      "id": "TestOrderLineItemProduct"
    },
    "LiaInventorySettings": {
      "type": "object",
      "properties": {
        "inventoryVerificationContactName": {
          "type": "string",
          "description": "The name of the contact for the inventory verification process."
        },
        "inventoryVerificationContactEmail": {
          "type": "string",
          "description": "The email of the contact for the inventory verification process."
        },
        "inventoryVerificationContactStatus": {
          "type": "string",
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "status": {
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        }
      },
      "id": "LiaInventorySettings"
    },
    "LinkedAccount": {
      "properties": {
        "services": {
          "description": "List of provided services.",
          "items": {
            "$ref": "LinkService"
          },
          "type": "array"
        },
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        }
      },
      "id": "LinkedAccount",
      "type": "object"
    },
    "SettlementReport": {
      "description": " Settlement reports detail order-level and item-level credits and debits between you and Google.",
      "id": "SettlementReport",
      "properties": {
        "transferIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of bank identifiers used for the transfer. e.g. Trace ID for Federal Automated Clearing House (ACH). This may also be known as the Wire ID."
        },
        "previousBalance": {
          "description": "The residual amount from the previous invoice. This is set only if the previous invoices are not paid because of negative balance.",
          "$ref": "Price"
        },
        "transferDate": {
          "description": "Date on which transfer for this payment was initiated by Google, in ISO 8601 format.",
          "type": "string"
        },
        "endDate": {
          "description": "The end date on which all transactions are included in the report, in ISO 8601 format.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "The start date on which all transactions are included in the report, in ISO 8601 format."
        },
        "transferAmount": {
          "description": "The money due to the merchant.",
          "$ref": "Price"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#settlementReport`\"",
          "type": "string"
        },
        "settlementId": {
          "description": "The ID of the settlement report.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountstatusesCustomBatchRequest": {
      "id": "AccountstatusesCustomBatchRequest",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "AccountstatusesCustomBatchRequestEntry"
          }
        }
      },
      "type": "object"
    },
    "ProductstatusesCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch productstatuses request.",
      "properties": {
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" ",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product whose status to get."
        },
        "destinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
        },
        "includeAttributes": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ProductstatusesCustomBatchRequestEntry"
    },
    "AccountStatusProducts": {
      "properties": {
        "statistics": {
          "$ref": "AccountStatusStatistics",
          "description": "Aggregated product statistics."
        },
        "channel": {
          "type": "string",
          "description": "The channel the data applies to. Acceptable values are: - \"`local`\" - \"`online`\" "
        },
        "country": {
          "type": "string",
          "description": "The country the data applies to."
        },
        "itemLevelIssues": {
          "type": "array",
          "description": "List of item-level issues.",
          "items": {
            "$ref": "AccountStatusItemLevelIssue"
          }
        },
        "destination": {
          "description": "The destination the data applies to.",
          "type": "string"
        }
      },
      "id": "AccountStatusProducts",
      "type": "object"
    },
    "AccountCustomerService": {
      "type": "object",
      "id": "AccountCustomerService",
      "properties": {
        "email": {
          "type": "string",
          "description": "Customer service email."
        },
        "phoneNumber": {
          "description": "Customer service phone number.",
          "type": "string"
        },
        "url": {
          "description": "Customer service URL.",
          "type": "string"
        }
      }
    },
    "ShippingSettings": {
      "properties": {
        "services": {
          "items": {
            "$ref": "Service"
          },
          "type": "array",
          "description": "The target account's list of services. Optional."
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the account to which these account shipping settings belong. Ignored upon update, always present in get request responses."
        },
        "postalCodeGroups": {
          "items": {
            "$ref": "PostalCodeGroup"
          },
          "type": "array",
          "description": "A list of postal code groups that can be referred to in `services`. Optional."
        }
      },
      "id": "ShippingSettings",
      "description": "The merchant account's shipping settings. All methods except getsupportedcarriers and getsupportedholidays require the admin role.",
      "type": "object"
    },
    "AccountReturnCarrier": {
      "id": "AccountReturnCarrier",
      "properties": {
        "carrierAccountNumber": {
          "type": "string",
          "description": "Number of the carrier account."
        },
        "carrierCode": {
          "enum": [
            "CARRIER_CODE_UNSPECIFIED",
            "FEDEX",
            "UPS"
          ],
          "enumDescriptions": [
            "Carrier not specified",
            "FedEx carrier",
            "UPS carrier"
          ],
          "description": "The carrier code enum. Accepts the values FEDEX or UPS.",
          "type": "string"
        },
        "carrierAccountId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The Google-provided unique carrier ID, used to update the resource.",
          "format": "int64"
        },
        "carrierAccountName": {
          "type": "string",
          "description": "Name of the carrier account."
        }
      },
      "description": " The return carrier information. This service is designed for merchants enrolled in the Buy on Google program. ",
      "type": "object"
    },
    "OrderLineItemShippingDetailsMethod": {
      "id": "OrderLineItemShippingDetailsMethod",
      "properties": {
        "carrier": {
          "type": "string",
          "description": "The carrier for the shipping. Optional. See `shipments[].carrier` for a list of acceptable values."
        },
        "maxDaysInTransit": {
          "type": "integer",
          "description": "Required. Maximum transit time.",
          "format": "uint32"
        },
        "methodName": {
          "description": "Required. The name of the shipping method.",
          "type": "string"
        },
        "minDaysInTransit": {
          "format": "uint32",
          "type": "integer",
          "description": "Required. Minimum transit time."
        }
      },
      "type": "object"
    },
    "OrderreturnsCreateOrderReturnRequest": {
      "id": "OrderreturnsCreateOrderReturnRequest",
      "type": "object",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        },
        "lineItems": {
          "description": "The list of line items to return.",
          "type": "array",
          "items": {
            "$ref": "OrderreturnsLineItem"
          }
        },
        "orderId": {
          "type": "string",
          "description": "The ID of the order."
        },
        "returnMethodType": {
          "type": "string",
          "description": "The way of the package being returned."
        }
      }
    },
    "RepricingRuleEffectiveTime": {
      "properties": {
        "fixedTimePeriods": {
          "description": "A list of fixed time periods combined with OR. The maximum number of entries is limited to 5.",
          "items": {
            "$ref": "RepricingRuleEffectiveTimeFixedTimePeriod"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "RepricingRuleEffectiveTime"
    },
    "DatafeedsCustomBatchRequest": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "DatafeedsCustomBatchRequestEntry"
          }
        }
      },
      "id": "DatafeedsCustomBatchRequest"
    },
    "PosDataProvidersPosDataProvider": {
      "type": "object",
      "id": "PosDataProvidersPosDataProvider",
      "properties": {
        "fullName": {
          "description": "The full name of this POS data Provider.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the account."
        },
        "displayName": {
          "description": "The display name of Pos data Provider.",
          "type": "string"
        }
      }
    },
    "OrderMerchantProvidedAnnotation": {
      "properties": {
        "key": {
          "description": "Key for additional merchant provided (as key-value pairs) annotation about the line item.",
          "type": "string"
        },
        "value": {
          "description": "Value for additional merchant provided (as key-value pairs) annotation about the line item.",
          "type": "string"
        }
      },
      "id": "OrderMerchantProvidedAnnotation",
      "type": "object"
    },
    "PosListResponse": {
      "type": "object",
      "id": "PosListResponse",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "PosStore"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posListResponse\".",
          "type": "string"
        }
      }
    },
    "LiaOnDisplayToOrderSettings": {
      "properties": {
        "shippingCostPolicyUrl": {
          "description": "Shipping cost and policy URL.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status of the ?On display to order? feature. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        }
      },
      "type": "object",
      "id": "LiaOnDisplayToOrderSettings"
    },
    "ListCollectionStatusesResponse": {
      "type": "object",
      "description": "Response message for the ListCollectionStatuses method.",
      "properties": {
        "resources": {
          "description": "The collectionstatuses listed.",
          "type": "array",
          "items": {
            "$ref": "CollectionStatus"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListCollectionStatusesResponse"
    },
    "OrdersCancelLineItemResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelLineItemResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "id": "OrdersCancelLineItemResponse"
    },
    "RegionalinventoryCustomBatchRequestEntry": {
      "properties": {
        "productId": {
          "description": "The ID of the product for which to update price and availability.",
          "type": "string"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "method": {
          "type": "string",
          "description": "Method of the batch request entry. Acceptable values are: - \"`insert`\" "
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "regionalInventory": {
          "$ref": "RegionalInventory",
          "description": "Price and availability of the product."
        }
      },
      "type": "object",
      "description": "A batch entry encoding a single non-batch regional inventory request.",
      "id": "RegionalinventoryCustomBatchRequestEntry"
    },
    "OrderreturnsCreateOrderReturnResponse": {
      "properties": {
        "orderReturn": {
          "description": "Created order return.",
          "$ref": "MerchantOrderReturn"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreturnsCreateOrderReturnResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderreturnsCreateOrderReturnResponse"
    },
    "OrderPromotionItem": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "`orders.createtestorder`."
        },
        "offerId": {
          "type": "string",
          "description": "Required. Offer ID of a product. Only for `orders.createtestorder`."
        },
        "quantity": {
          "description": "The quantity of the associated product. Do not provide for `orders.createtestorder`.",
          "type": "integer",
          "format": "int32"
        },
        "lineItemId": {
          "description": "The line item ID of a product. Do not provide for `orders.createtestorder`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderPromotionItem"
    },
    "DatafeedstatusesCustomBatchResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedstatusesCustomBatchResponse\".",
          "type": "string"
        },
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "DatafeedstatusesCustomBatchResponseEntry"
          }
        }
      },
      "id": "DatafeedstatusesCustomBatchResponse"
    },
    "LinkService": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the link Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        },
        "service": {
          "type": "string",
          "description": "Service provided to or by the linked account. Acceptable values are: - \"`shoppingActionsOrderManagement`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingAdsProductManagement`\" "
        }
      },
      "id": "LinkService"
    },
    "Headers": {
      "type": "object",
      "id": "Headers",
      "properties": {
        "weights": {
          "description": "A list of inclusive order weight upper bounds. The last weight's value can be `\"infinity\"`. For example `[{\"value\": \"10\", \"unit\": \"kg\"}, {\"value\": \"50\", \"unit\": \"kg\"}, {\"value\": \"infinity\", \"unit\": \"kg\"}]` represents the headers \"\u003c= 10kg\", \"\u003c= 50kg\", and \"\u003e 50kg\". All weights within a service must have the same unit. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "$ref": "Weight"
          }
        },
        "numberOfItems": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"\u003c= 10 items\", \"\u003c= 50 items\", and \"\u003e 50 items\". Must be non-empty. Can only be set if all other fields are not set."
        },
        "postalCodeGroupNames": {
          "items": {
            "type": "string"
          },
          "description": "A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array"
        },
        "prices": {
          "items": {
            "$ref": "Price"
          },
          "type": "array",
          "description": "A list of inclusive order price upper bounds. The last price's value can be `\"infinity\"`. For example `[{\"value\": \"10\", \"currency\": \"USD\"}, {\"value\": \"500\", \"currency\": \"USD\"}, {\"value\": \"infinity\", \"currency\": \"USD\"}]` represents the headers \"\u003c= $10\", \"\u003c= $500\", and \"\u003e $500\". All prices within a service must have the same currency. Must be non-empty. Can only be set if all other fields are not set."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LocationIdSet"
          },
          "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set."
        }
      },
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `numItems`, `postalCodeGroupNames`, or `location` must be set."
    },
    "TestOrderAddress": {
      "type": "object",
      "id": "TestOrderAddress",
      "properties": {
        "locality": {
          "type": "string",
          "description": "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs)."
        },
        "region": {
          "description": "Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal Code or ZIP (e.g. \"94043\")."
        },
        "streetAddress": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Street-level part of the address."
        },
        "country": {
          "description": "CLDR country code (e.g. \"US\").",
          "type": "string"
        },
        "recipientName": {
          "description": "Name of the recipient.",
          "type": "string"
        },
        "fullAddress": {
          "type": "array",
          "description": "Strings representing the lines of the printed label for mailing the order, for example: John Smith 1600 Amphitheatre Parkway Mountain View, CA, 94043 United States ",
          "items": {
            "type": "string"
          }
        },
        "isPostOfficeBox": {
          "description": "Whether the address is a post office box.",
          "type": "boolean"
        }
      }
    },
    "OrderreportsListDisbursementsResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListDisbursementsResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of disbursements."
        },
        "disbursements": {
          "type": "array",
          "items": {
            "$ref": "OrderReportDisbursement"
          },
          "description": "The list of disbursements."
        }
      },
      "id": "OrderreportsListDisbursementsResponse"
    },
    "OrderLineItemProductVariantAttribute": {
      "properties": {
        "value": {
          "description": "The value for the dimension.",
          "type": "string"
        },
        "dimension": {
          "type": "string",
          "description": "The dimension of the variant."
        }
      },
      "type": "object",
      "id": "OrderLineItemProductVariantAttribute"
    },
    "DatafeedsListResponse": {
      "type": "object",
      "id": "DatafeedsListResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Datafeed"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsListResponse\"."
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of datafeeds.",
          "type": "string"
        }
      }
    },
    "ProductUnitPricingMeasure": {
      "type": "object",
      "id": "ProductUnitPricingMeasure",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit of the measure."
        },
        "value": {
          "description": "The measure of an item.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "OrderPickupDetails": {
      "properties": {
        "collectors": {
          "type": "array",
          "items": {
            "$ref": "OrderPickupDetailsCollector"
          },
          "description": "Collectors authorized to pick up shipment from the pickup location."
        },
        "locationId": {
          "description": "ID of the pickup location.",
          "type": "string"
        },
        "address": {
          "description": "Address of the pickup location where the shipment should be sent. Note that `recipientName` in the address is the name of the business at the pickup location.",
          "$ref": "OrderAddress"
        },
        "pickupType": {
          "description": "The pickup type of this order. Acceptable values are: - \"`merchantStore`\" - \"`merchantStoreCurbside`\" - \"`merchantStoreLocker`\" - \"`thirdPartyPickupPoint`\" - \"`thirdPartyLocker`\" ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderPickupDetails"
    },
    "DatafeedsCustomBatchRequestEntry": {
      "id": "DatafeedsCustomBatchRequestEntry",
      "properties": {
        "datafeedId": {
          "description": "The ID of the data feed to get, delete or fetch.",
          "format": "uint64",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" "
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        },
        "datafeed": {
          "$ref": "Datafeed",
          "description": "The data feed to insert."
        },
        "merchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the managing account."
        }
      },
      "description": "A batch entry encoding a single non-batch datafeeds request.",
      "type": "object"
    },
    "LiaSettings": {
      "type": "object",
      "id": "LiaSettings",
      "description": "Local Inventory ads (LIA) settings. All methods except listposdataproviders require the admin role.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#liaSettings`\""
        },
        "countrySettings": {
          "description": "The LIA settings for each country.",
          "items": {
            "$ref": "LiaCountrySettings"
          },
          "type": "array"
        },
        "accountId": {
          "description": "The ID of the account to which these LIA settings belong. Ignored upon update, always present in get request responses.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "AccountsLinkRequest": {
      "id": "AccountsLinkRequest",
      "properties": {
        "action": {
          "type": "string",
          "description": "Action to perform for this link. The `\"request\"` action is only available to select merchants. Acceptable values are: - \"`approve`\" - \"`remove`\" - \"`request`\" "
        },
        "linkedAccountId": {
          "description": "The ID of the linked account.",
          "type": "string"
        },
        "services": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": " Acceptable values are: - \"`shoppingAdsProductManagement`\" - \"`shoppingAdsOther`\" - \"`shoppingActionsProductManagement`\" - \"`shoppingActionsOrderManagement`\" - \"`shoppingActionsOther`\" "
        },
        "linkType": {
          "description": "Type of the link between the two accounts. Acceptable values are: - \"`channelPartner`\" - \"`eCommercePlatform`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrdersCreateTestOrderResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCreateTestOrderResponse\".",
          "type": "string"
        },
        "orderId": {
          "description": "The ID of the newly created test order.",
          "type": "string"
        }
      },
      "id": "OrdersCreateTestOrderResponse",
      "type": "object"
    },
    "OrderTrackingSignal": {
      "type": "object",
      "id": "OrderTrackingSignal",
      "description": "Represents a merchant trade from which signals are extracted, e.g. shipping.",
      "properties": {
        "shipmentLineItemMapping": {
          "items": {
            "$ref": "OrderTrackingSignalShipmentLineItemMapping"
          },
          "description": "The mapping of the line items to the shipment information.",
          "type": "array"
        },
        "orderId": {
          "description": "Required. The ID of the order on the merchant side.",
          "type": "string"
        },
        "deliveryPostalCode": {
          "description": "Required. The delivery postal code, as a continuous string without spaces or dashes, e.g. \"95016\".",
          "type": "string"
        },
        "shippingInfo": {
          "items": {
            "$ref": "OrderTrackingSignalShippingInfo"
          },
          "description": "The shipping information for the order.",
          "type": "array"
        },
        "deliveryRegionCode": {
          "type": "string",
          "description": "Required. The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) for the shipping destination."
        },
        "orderTrackingSignalId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID that uniquely identifies this order tracking signal."
        },
        "lineItems": {
          "description": "Information about line items in the order.",
          "items": {
            "$ref": "OrderTrackingSignalLineItemDetails"
          },
          "type": "array"
        },
        "merchantId": {
          "description": "The Google merchant ID of this order tracking signal. This value is optional. If left unset, the caller's merchant ID is used. You must request access in order to provide data on behalf of another merchant. For more information, see [Submitting Order Tracking Signals](/shopping-content/guides/order-tracking-signals).",
          "format": "int64",
          "type": "string"
        },
        "customerShippingFee": {
          "description": "The shipping fee of the order; this value should be set to zero in the case of free shipping.",
          "$ref": "PriceAmount"
        },
        "orderCreatedTime": {
          "$ref": "DateTime",
          "description": "Required. The time when the order was created on the merchant side. Include the year and timezone string, if available."
        }
      }
    },
    "OrdersAdvanceTestOrderResponse": {
      "type": "object",
      "id": "OrdersAdvanceTestOrderResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersAdvanceTestOrderResponse\"."
        }
      }
    },
    "LiaPosDataProvider": {
      "type": "object",
      "properties": {
        "posDataProviderId": {
          "type": "string",
          "description": "The ID of the POS data provider.",
          "format": "uint64"
        },
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS data provider.",
          "type": "string"
        }
      },
      "id": "LiaPosDataProvider"
    },
    "RegionPostalCodeAreaPostalCodeRange": {
      "id": "RegionPostalCodeAreaPostalCodeRange",
      "description": "A range of postal codes that defines the region area.",
      "properties": {
        "end": {
          "description": "Optional. A postal code or a pattern of the form prefix* denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin.",
          "type": "string"
        },
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: \"94108\", \"9410*\", \"9*\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocalinventoryCustomBatchResponse": {
      "id": "LocalinventoryCustomBatchResponse",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "LocalinventoryCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#localinventoryCustomBatchResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrdersCustomBatchRequestEntryRefundItemItem": {
      "type": "object",
      "id": "OrdersCustomBatchRequestEntryRefundItemItem",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The ID of the product. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "quantity": {
          "description": "The number of products that are refunded.",
          "type": "integer",
          "format": "int32"
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item. Either lineItemId or productId is required."
        },
        "fullRefund": {
          "description": "If true, the full item will be refunded. If this is true, amount should not be provided and will be ignored.",
          "type": "boolean"
        },
        "amount": {
          "$ref": "MonetaryAmount",
          "description": "The total amount that is refunded. (e.g. refunding $5 each for 2 products should be done by setting quantity to 2 and amount to 10$) In case of multiple refunds, this should be the amount you currently want to refund to the customer."
        }
      }
    },
    "TestOrderLineItem": {
      "properties": {
        "product": {
          "$ref": "TestOrderLineItemProduct",
          "description": "Required. Product data from the time of the order placement."
        },
        "quantityOrdered": {
          "type": "integer",
          "format": "uint32",
          "description": "Required. Number of items ordered."
        },
        "shippingDetails": {
          "$ref": "OrderLineItemShippingDetails",
          "description": "Required. Details of the requested shipping for the line item."
        },
        "returnInfo": {
          "description": "Required. Details of the return policy for the line item.",
          "$ref": "OrderLineItemReturnInfo"
        }
      },
      "type": "object",
      "id": "TestOrderLineItem"
    },
    "ReturnaddressCustomBatchRequest": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "ReturnaddressCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      },
      "type": "object",
      "id": "ReturnaddressCustomBatchRequest"
    },
    "DatafeedstatusesCustomBatchRequestEntry": {
      "properties": {
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" ",
          "type": "string"
        },
        "datafeedId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the data feed to get."
        },
        "country": {
          "type": "string",
          "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that for multi-target datafeeds this parameter is required."
        },
        "language": {
          "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that for multi-target datafeeds this parameter is required.",
          "type": "string"
        },
        "batchId": {
          "format": "uint32",
          "description": "An entry ID, unique within the batch request.",
          "type": "integer"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        }
      },
      "type": "object",
      "id": "DatafeedstatusesCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch datafeedstatuses request."
    },
    "AccountTax": {
      "description": "The tax settings of a merchant account. All methods require the admin role.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountTax\".",
          "type": "string"
        },
        "accountId": {
          "description": "Required. The ID of the account to which these account tax settings belong.",
          "type": "string",
          "format": "uint64"
        },
        "rules": {
          "items": {
            "$ref": "AccountTaxTaxRule"
          },
          "description": "Tax rules. Updating the tax rules will enable US taxes (not reversible). Defining no rules is equivalent to not charging tax at all.",
          "type": "array"
        }
      },
      "id": "AccountTax"
    },
    "PostalCodeRange": {
      "type": "object",
      "properties": {
        "postalCodeRangeEnd": {
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as `postalCodeRangeBegin`: if `postalCodeRangeBegin` is a postal code then `postalCodeRangeEnd` must be a postal code too; if `postalCodeRangeBegin` is a pattern then `postalCodeRangeEnd` must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching `postalCodeRangeBegin`.",
          "type": "string"
        },
        "postalCodeRangeBegin": {
          "description": "A postal code or a pattern of the form `prefix*` denoting the inclusive lower bound of the range defining the area. Examples values: `\"94108\"`, `\"9410*\"`, `\"9*\"`. Required.",
          "type": "string"
        }
      },
      "id": "PostalCodeRange"
    },
    "RepricingRuleEligibleOfferMatcher": {
      "type": "object",
      "description": "Matcher that specifies eligible offers. When the USE_FEED_ATTRIBUTE option is selected, only the repricing_rule_id attribute on the product feed is used to specify offer-rule mapping. When the CUSTOM_FILTER option is selected, only the *_matcher fields are used to filter the offers for offer-rule mapping. If the CUSTOM_FILTER option is selected, an offer needs to satisfy each custom filter matcher to be eligible for a rule. Size limit: the sum of the number of entries in all the matchers should not exceed 20. For example, there can be 15 product ids and 5 brands, but not 10 product ids and 11 brands.",
      "id": "RepricingRuleEligibleOfferMatcher",
      "properties": {
        "itemGroupIdMatcher": {
          "$ref": "RepricingRuleEligibleOfferMatcherStringMatcher",
          "description": "Filter by the item group id."
        },
        "matcherOption": {
          "enumDescriptions": [
            "Unused.",
            "Use custom filters.",
            "Use repricing_rule_id feed attribute on the product resource to specify offer-rule mapping.",
            "Matching all products."
          ],
          "type": "string",
          "description": "Determines whether to use the custom matchers or the product feed attribute \"repricing_rule_id\" to specify offer-rule mapping.",
          "enum": [
            "MATCHER_OPTION_UNSPECIFIED",
            "MATCHER_OPTION_CUSTOM_FILTER",
            "MATCHER_OPTION_USE_FEED_ATTRIBUTE",
            "MATCHER_OPTION_ALL_PRODUCTS"
          ]
        },
        "offerIdMatcher": {
          "$ref": "RepricingRuleEligibleOfferMatcherStringMatcher",
          "description": "Filter by the offer id."
        },
        "skipWhenOnPromotion": {
          "description": "When true, the rule won't be applied to offers with active promotions.",
          "type": "boolean"
        },
        "brandMatcher": {
          "description": "Filter by the brand.",
          "$ref": "RepricingRuleEligibleOfferMatcherStringMatcher"
        }
      }
    },
    "PostalCodeGroup": {
      "properties": {
        "postalCodeRanges": {
          "description": "A range of postal codes. Required.",
          "type": "array",
          "items": {
            "$ref": "PostalCodeRange"
          }
        },
        "country": {
          "description": "The CLDR territory code of the country the postal code group applies to. Required.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the postal code group, referred to in headers. Required."
        }
      },
      "id": "PostalCodeGroup",
      "type": "object"
    },
    "AccountstatusesCustomBatchRequestEntry": {
      "properties": {
        "merchantId": {
          "type": "string",
          "description": "The ID of the managing account.",
          "format": "uint64"
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "destinations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination."
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" "
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the (sub-)account whose status to get."
        }
      },
      "description": "A batch entry encoding a single non-batch accountstatuses request.",
      "type": "object",
      "id": "AccountstatusesCustomBatchRequestEntry"
    },
    "InapplicabilityDetails": {
      "id": "InapplicabilityDetails",
      "type": "object",
      "description": "Map of inapplicability details.",
      "properties": {
        "inapplicableCount": {
          "type": "string",
          "description": "Count of this inapplicable reason code.",
          "format": "int64"
        },
        "inapplicableReason": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The rule set for this product cannot beat the buybox winner.",
            "This product can already win the buybox without rule.",
            "Another rule of the same type takes precedence over this one.",
            "Another rule of a different type takes precedence over this one.",
            "The rule restrictions are not met. For example, this may be the case if the calculated rule price is lower than floor price in the restriction.",
            "The reason is not categorized to any known reason."
          ],
          "type": "string",
          "enum": [
            "INAPPLICABLE_REASON_UNSPECIFIED",
            "CANNOT_BEAT_BUYBOX_WINNER",
            "ALREADY_WINNING_BUYBOX",
            "TRIUMPHED_OVER_BY_SAME_TYPE_RULE",
            "TRIUMPHED_OVER_BY_OTHER_RULE_ON_OFFER",
            "RESTRICTIONS_NOT_MET",
            "UNCATEGORIZED"
          ],
          "description": "Reason code this rule was not applicable."
        }
      }
    },
    "PosInventoryResponse": {
      "type": "object",
      "properties": {
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posInventoryResponse\".",
          "type": "string"
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The current price of the item."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business."
        },
        "quantity": {
          "description": "Required. The available quantity of the item.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PosInventoryResponse"
    },
    "ShipmentInvoiceLineItemInvoice": {
      "type": "object",
      "properties": {
        "productId": {
          "description": "ID of the product. This is the REST ID used in the products service. Either lineItemId or productId must be set.",
          "type": "string"
        },
        "lineItemId": {
          "description": "ID of the line item. Either lineItemId or productId must be set.",
          "type": "string"
        },
        "shipmentUnitIds": {
          "description": "[required] The shipment unit ID is assigned by the merchant and defines individual quantities within a line item. The same ID can be assigned to units that are the same while units that differ must be assigned a different ID (for example: free or promotional units).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "unitInvoice": {
          "description": "[required] Invoice details for a single unit.",
          "$ref": "UnitInvoice"
        }
      },
      "id": "ShipmentInvoiceLineItemInvoice"
    },
    "OrderreturnsListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "MerchantOrderReturn"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of returns.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreturnsListResponse\"."
        }
      },
      "id": "OrderreturnsListResponse"
    },
    "ReturnShipment": {
      "properties": {
        "shippingDate": {
          "type": "string",
          "description": "The date of shipping of the shipment, in ISO 8601 format."
        },
        "shipmentTrackingInfos": {
          "items": {
            "$ref": "ShipmentTrackingInfo"
          },
          "description": "Tracking information of the shipment. One return shipment might be handled by several shipping carriers sequentially.",
          "type": "array"
        },
        "shipmentId": {
          "description": "Shipment ID generated by Google.",
          "type": "string"
        },
        "state": {
          "description": "State of the shipment. Acceptable values are: - \"`completed`\" - \"`new`\" - \"`shipped`\" - \"`undeliverable`\" - \"`pending`\" ",
          "type": "string"
        },
        "creationDate": {
          "description": "The date of creation of the shipment, in ISO 8601 format.",
          "type": "string"
        },
        "returnMethodType": {
          "description": "Type of the return method. Acceptable values are: - \"`byMail`\" - \"`contactCustomerSupport`\" - \"`returnless`\" - \"`inStore`\" ",
          "type": "string"
        },
        "deliveryDate": {
          "description": "The date of delivery of the shipment, in ISO 8601 format.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReturnShipment"
    },
    "ReturnPolicyOnlineRestockingFee": {
      "type": "object",
      "properties": {
        "fixedFee": {
          "$ref": "PriceAmount",
          "description": "Fixed restocking fee."
        },
        "microPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged."
        }
      },
      "id": "ReturnPolicyOnlineRestockingFee",
      "description": "The restocking fee. This can either be a fixed fee or a micro percent."
    },
    "DatafeedStatusError": {
      "id": "DatafeedStatusError",
      "type": "object",
      "description": "An error occurring in the feed, like \"invalid price\".",
      "properties": {
        "code": {
          "description": "The code of the error, e.g., \"validation/invalid_value\".",
          "type": "string"
        },
        "examples": {
          "description": "A list of example occurrences of the error, grouped by product.",
          "items": {
            "$ref": "DatafeedStatusExample"
          },
          "type": "array"
        },
        "count": {
          "description": "The number of occurrences of the error in the feed.",
          "format": "uint64",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The error message, e.g., \"Invalid price\"."
        }
      }
    },
    "OrdersUpdateShipmentResponse": {
      "type": "object",
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateShipmentResponse\".",
          "type": "string"
        }
      },
      "id": "OrdersUpdateShipmentResponse"
    },
    "OrdersUpdateLineItemShippingDetailsResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateLineItemShippingDetailsResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "id": "OrdersUpdateLineItemShippingDetailsResponse"
    },
    "OrderDeliveryDetails": {
      "properties": {
        "address": {
          "$ref": "OrderAddress",
          "description": "The delivery address"
        },
        "phoneNumber": {
          "description": "The phone number of the person receiving the delivery.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderDeliveryDetails"
    },
    "CustomAttribute": {
      "type": "object",
      "id": "CustomAttribute",
      "properties": {
        "name": {
          "description": "The name of the attribute. Underscores will be replaced by spaces upon insertion.",
          "type": "string"
        },
        "groupValues": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Subattributes within this attribute group. Exactly one of value or groupValues must be provided."
        },
        "value": {
          "type": "string",
          "description": "The value of the attribute."
        }
      }
    },
    "HolidaysHoliday": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The holiday type. Always present. Acceptable values are: - \"`Christmas`\" - \"`Easter`\" - \"`Father's Day`\" - \"`Halloween`\" - \"`Independence Day (USA)`\" - \"`Mother's Day`\" - \"`Thanksgiving`\" - \"`Valentine's Day`\" "
        },
        "deliveryGuaranteeDate": {
          "type": "string",
          "description": "Date on which the order has to arrive at the customer's, in ISO 8601 format. E.g. \"2016-12-24\" for 24th December 2016. Always present."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the holiday to be used when configuring holiday cutoffs. Always present."
        },
        "date": {
          "type": "string",
          "description": "Date of the holiday, in ISO 8601 format. E.g. \"2016-12-25\" for Christmas 2016. Always present."
        },
        "countryCode": {
          "type": "string",
          "description": "The CLDR territory code of the country in which the holiday is available. E.g. \"US\", \"DE\", \"GB\". A holiday cutoff can only be configured in a shipping settings service with matching delivery country. Always present."
        },
        "deliveryGuaranteeHour": {
          "type": "string",
          "description": "Hour of the day in the delivery location's timezone on the guaranteed delivery date by which the order has to arrive at the customer's. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Always present.",
          "format": "uint64"
        }
      },
      "type": "object",
      "id": "HolidaysHoliday"
    },
    "ReturnPolicyOnline": {
      "description": "Return policy online object. This is currently used to represent return policies for ads and free listings programs.",
      "type": "object",
      "id": "ReturnPolicyOnline",
      "properties": {
        "countries": {
          "description": "The countries of sale where the return policy is applicable. The values must be a valid 2 letter ISO 3166 code, e.g. \"US\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "label": {
          "description": "The unique user-defined label of the return policy. The same label cannot be used in different return policies for the same country. Policies with the label 'default' will apply to all products, unless a product specifies a return_policy_label attribute.",
          "type": "string"
        },
        "policy": {
          "$ref": "ReturnPolicyOnlinePolicy",
          "description": "The return policy."
        },
        "returnReasonCategoryInfo": {
          "description": "The return reason category information. This required to not be empty unless the type of return policy is noReturns.",
          "type": "array",
          "items": {
            "$ref": "ReturnPolicyOnlineReturnReasonCategoryInfo"
          }
        },
        "returnPolicyUri": {
          "type": "string",
          "description": "The return policy uri. This can used by Google to do a sanity check for the policy."
        },
        "returnMethods": {
          "items": {
            "type": "string",
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "By mail.",
              "In store.",
              "At a kiosk."
            ]
          },
          "type": "array",
          "description": "The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns."
        },
        "itemConditions": {
          "items": {
            "type": "string",
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ]
          },
          "type": "array",
          "description": "The item conditions that are accepted for returns. This is required to not be empty unless the type of return policy is noReturns."
        },
        "returnPolicyId": {
          "description": "Output only. Return policy ID generated by Google.",
          "type": "string",
          "readOnly": true
        },
        "restockingFee": {
          "description": "The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set.",
          "$ref": "ReturnPolicyOnlineRestockingFee"
        },
        "name": {
          "description": "The name of the policy as shown in Merchant Center.",
          "type": "string"
        }
      }
    },
    "AccountsUpdateLabelsResponse": {
      "id": "AccountsUpdateLabelsResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsUpdateLabelsResponse\".",
          "type": "string"
        }
      }
    },
    "AccountBusinessInformation": {
      "id": "AccountBusinessInformation",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the business."
        },
        "address": {
          "description": "The address of the business.",
          "$ref": "AccountAddress"
        },
        "customerService": {
          "description": "The customer service information of the business.",
          "$ref": "AccountCustomerService"
        }
      }
    },
    "AccounttaxCustomBatchRequest": {
      "id": "AccounttaxCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "AccounttaxCustomBatchRequestEntry"
          },
          "type": "array"
        }
      }
    },
    "ListReturnPolicyOnlineResponse": {
      "description": "Response message for the `ListReturnPolicyOnline` method.",
      "properties": {
        "returnPolicies": {
          "type": "array",
          "items": {
            "$ref": "ReturnPolicyOnline"
          },
          "description": "The retrieved return policies."
        }
      },
      "type": "object",
      "id": "ListReturnPolicyOnlineResponse"
    },
    "ProductStatusItemLevelIssue": {
      "id": "ProductStatusItemLevelIssue",
      "properties": {
        "applicableCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the offer.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "documentation": {
          "type": "string",
          "description": "The URL of a web page to help with resolving this issue."
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "attributeName": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "servability": {
          "description": "How this issue affects serving of the offer.",
          "type": "string"
        },
        "destination": {
          "description": "The destination the issue applies to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountsCustomBatchRequestEntry": {
      "id": "AccountsCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch accounts request.",
      "properties": {
        "view": {
          "description": "Controls which fields are visible. Only applicable if the method is 'get'.",
          "type": "string"
        },
        "account": {
          "description": "The account to create or update. Only defined if the method is `insert` or `update`.",
          "$ref": "Account"
        },
        "labelIds": {
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "description": "Label IDs for the 'updatelabels' request.",
          "type": "array"
        },
        "force": {
          "type": "boolean",
          "description": "Whether the account should be deleted if the account has offers. Only applicable if the method is `delete`."
        },
        "merchantId": {
          "description": "The ID of the managing account.",
          "type": "string",
          "format": "uint64"
        },
        "linkRequest": {
          "$ref": "AccountsCustomBatchRequestEntryLinkRequest",
          "description": "Details about the `link` request."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`claimWebsite`\" - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`link`\" - \"`update`\" ",
          "type": "string"
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the targeted account. Only defined if the method is not `insert`."
        },
        "overwrite": {
          "description": "Only applicable if the method is `claimwebsite`. Indicates whether or not to take the claim from another account in case there is a conflict.",
          "type": "boolean"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "RepricingProductReportBuyboxWinningProductStats": {
      "description": "Stats specific to buybox winning rules for product report.",
      "id": "RepricingProductReportBuyboxWinningProductStats",
      "type": "object",
      "properties": {
        "buyboxWinsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of times this product won the buybox with these rules during this time period."
        }
      }
    },
    "ShippingsettingsCustomBatchResponse": {
      "id": "ShippingsettingsCustomBatchResponse",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "ShippingsettingsCustomBatchResponseEntry"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsCustomBatchResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LiasettingsCustomBatchRequestEntry": {
      "id": "LiasettingsCustomBatchRequestEntry",
      "properties": {
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`getAccessibleGmbAccounts`\" - \"`requestGmbAccess`\" - \"`requestInventoryVerification`\" - \"`setInventoryVerificationContact`\" - \"`update`\" "
        },
        "contactEmail": {
          "description": "Inventory validation contact email. Required only for SetInventoryValidationContact.",
          "type": "string"
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        },
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS provider.",
          "type": "string"
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the account for which to get/update account LIA settings."
        },
        "country": {
          "type": "string",
          "description": "The country code. Required only for RequestInventoryVerification."
        },
        "merchantId": {
          "type": "string",
          "description": "The ID of the managing account.",
          "format": "uint64"
        },
        "gmbEmail": {
          "type": "string",
          "description": "The GMB account. Required only for RequestGmbAccess."
        },
        "contactName": {
          "type": "string",
          "description": "Inventory validation contact name. Required only for SetInventoryValidationContact."
        },
        "posDataProviderId": {
          "description": "The ID of POS data provider. Required only for SetPosProvider.",
          "type": "string",
          "format": "uint64"
        },
        "liaSettings": {
          "$ref": "LiaSettings",
          "description": "The account Lia settings to update. Only defined if the method is `update`."
        }
      },
      "type": "object"
    },
    "UnitInvoiceTaxLine": {
      "id": "UnitInvoiceTaxLine",
      "properties": {
        "taxAmount": {
          "description": "[required] Tax amount for the tax type.",
          "$ref": "Price"
        },
        "taxName": {
          "description": "Optional name of the tax type. This should only be provided if `taxType` is `otherFeeTax`.",
          "type": "string"
        },
        "taxType": {
          "type": "string",
          "description": "[required] Type of the tax. Acceptable values are: - \"`otherFee`\" - \"`otherFeeTax`\" - \"`sales`\" "
        }
      },
      "type": "object"
    },
    "GmbAccounts": {
      "id": "GmbAccounts",
      "type": "object",
      "properties": {
        "gmbAccounts": {
          "items": {
            "$ref": "GmbAccountsGmbAccount"
          },
          "type": "array",
          "description": "A list of GMB accounts which are available to the merchant."
        },
        "accountId": {
          "description": "The ID of the Merchant Center account.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "AccounttaxCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch accounttax response.",
      "type": "object",
      "id": "AccounttaxCustomBatchResponseEntry",
      "properties": {
        "accountTax": {
          "$ref": "AccountTax",
          "description": "The retrieved or updated account tax settings."
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "errors": {
          "description": "A list of errors defined if and only if the request failed.",
          "$ref": "Errors"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponseEntry`\""
        }
      }
    },
    "Datafeed": {
      "description": "Datafeed configuration data.",
      "properties": {
        "id": {
          "format": "int64",
          "description": "Required for update. The ID of the data feed.",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "Required. The type of data feed. For product inventory feeds, only feeds for local stores, not online stores, are supported. Acceptable values are: - \"`local products`\" - \"`product inventory`\" - \"`products`\" "
        },
        "targets": {
          "items": {
            "$ref": "DatafeedTarget"
          },
          "description": "The targets this feed should apply to (country, language, destinations).",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required for insert. A descriptive name of the data feed."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeed`\""
        },
        "fetchSchedule": {
          "description": "Fetch schedule for the feed file.",
          "$ref": "DatafeedFetchSchedule"
        },
        "fileName": {
          "type": "string",
          "description": "Required. The filename of the feed. All feeds must have a unique file name."
        },
        "attributeLanguage": {
          "description": "The two-letter ISO 639-1 language in which the attributes are defined in the data feed.",
          "type": "string"
        },
        "format": {
          "$ref": "DatafeedFormat",
          "description": "Format of the feed file."
        }
      },
      "type": "object",
      "id": "Datafeed"
    },
    "OrdersCancelTestOrderByCustomerRequest": {
      "type": "object",
      "id": "OrdersCancelTestOrderByCustomerRequest",
      "properties": {
        "reason": {
          "description": "The reason for the cancellation. Acceptable values are: - \"`changedMind`\" - \"`orderedWrongItem`\" - \"`other`\" ",
          "type": "string"
        }
      }
    },
    "InvoiceSummaryAdditionalChargeSummary": {
      "properties": {
        "type": {
          "description": "[required] Type of the additional charge. Acceptable values are: - \"`shipping`\" ",
          "type": "string"
        },
        "totalAmount": {
          "description": "[required] Total additional charge for this type.",
          "$ref": "Amount"
        }
      },
      "type": "object",
      "id": "InvoiceSummaryAdditionalChargeSummary"
    },
    "SettlementtransactionsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#settlementtransactionsListResponse\".",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "SettlementTransaction"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of returns."
        }
      },
      "id": "SettlementtransactionsListResponse"
    },
    "ProductShippingDimension": {
      "properties": {
        "value": {
          "type": "number",
          "description": "The dimension of the product used to calculate the shipping cost of the item.",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "The unit of value."
        }
      },
      "id": "ProductShippingDimension",
      "type": "object"
    },
    "LiasettingsSetInventoryVerificationContactResponse": {
      "type": "object",
      "id": "LiasettingsSetInventoryVerificationContactResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsSetInventoryVerificationContactResponse\".",
          "type": "string"
        }
      }
    },
    "OrderOrderAnnotation": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for additional google provided (as key-value pairs) annotation."
        },
        "value": {
          "type": "string",
          "description": "Value for additional google provided (as key-value pairs) annotation."
        }
      },
      "type": "object",
      "id": "OrderOrderAnnotation"
    },
    "AccountsCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch accounts response.",
      "type": "object",
      "id": "AccountsCustomBatchResponseEntry",
      "properties": {
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        },
        "account": {
          "$ref": "Account",
          "description": "The retrieved, created, or updated account. Not defined if the method was `delete`, `claimwebsite` or `link`."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountsCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to."
        }
      }
    },
    "OrdersGetTestOrderTemplateResponse": {
      "id": "OrdersGetTestOrderTemplateResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersGetTestOrderTemplateResponse\".",
          "type": "string"
        },
        "template": {
          "description": "The requested test order template.",
          "$ref": "TestOrder"
        }
      },
      "type": "object"
    },
    "AccountStatus": {
      "type": "object",
      "id": "AccountStatus",
      "properties": {
        "products": {
          "description": "List of product-related data by channel, destination, and country. Data in this field may be delayed by up to 30 minutes.",
          "items": {
            "$ref": "AccountStatusProducts"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountStatus`\""
        },
        "accountLevelIssues": {
          "type": "array",
          "items": {
            "$ref": "AccountStatusAccountLevelIssue"
          },
          "description": "A list of account level issues."
        },
        "websiteClaimed": {
          "description": "Whether the account's website is claimed or not.",
          "type": "boolean"
        },
        "accountId": {
          "type": "string",
          "description": "The ID of the account for which the status is reported."
        }
      },
      "description": "The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time."
    },
    "GmbAccountsGmbAccount": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email which identifies the GMB account.",
          "type": "string"
        },
        "type": {
          "description": "The type of the GMB account (User or Business).",
          "type": "string"
        },
        "listingCount": {
          "format": "uint64",
          "type": "string",
          "description": "Number of listings under this account."
        },
        "name": {
          "description": "The name of the GMB account.",
          "type": "string"
        }
      },
      "id": "GmbAccountsGmbAccount"
    },
    "DatafeedsFetchNowResponse": {
      "type": "object",
      "id": "DatafeedsFetchNowResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsFetchNowResponse\".",
          "type": "string"
        }
      }
    },
    "OrderAddress": {
      "properties": {
        "locality": {
          "type": "string",
          "description": "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs)."
        },
        "recipientName": {
          "type": "string",
          "description": "Name of the recipient."
        },
        "postalCode": {
          "type": "string",
          "description": "Postal Code or ZIP (e.g. \"94043\")."
        },
        "isPostOfficeBox": {
          "description": "Whether the address is a post office box.",
          "type": "boolean"
        },
        "streetAddress": {
          "items": {
            "type": "string"
          },
          "description": "Street-level part of the address.",
          "type": "array"
        },
        "region": {
          "type": "string",
          "description": "Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
        },
        "fullAddress": {
          "description": "Strings representing the lines of the printed label for mailing the order, for example: John Smith 1600 Amphitheatre Parkway Mountain View, CA, 94043 United States ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "country": {
          "description": "CLDR country code (e.g. \"US\").",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderAddress"
    },
    "PosInventoryRequest": {
      "type": "object",
      "properties": {
        "storeCode": {
          "type": "string",
[...]
