{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Kubernetes Engine API",
  "ownerName": "Google",
  "revision": "20210205",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "name": "container",
  "version": "v1",
  "protocol": "rest",
  "rootUrl": "https://container.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "setNetworkPolicy": {
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set networking policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "container.projects.locations.clusters.setNetworkPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setNetworkPolicy",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:setNetworkPolicy",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Enables or disables Network Policy for a cluster.",
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  }
                },
                "setLegacyAbac": {
                  "path": "v1/{+name}:setLegacyAbac",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLegacyAbac",
                  "httpMethod": "POST",
                  "description": "Enables or disables the ABAC authorization mechanism on a cluster.",
                  "request": {
                    "$ref": "SetLegacyAbacRequest"
                  },
                  "id": "container.projects.locations.clusters.setLegacyAbac",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setResourceLabels": {
                  "description": "Sets labels on a cluster.",
                  "path": "v1/{+name}:setResourceLabels",
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setResourceLabels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name (project, location, cluster id) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.setResourceLabels"
                },
                "updateMaster": {
                  "path": "v1/{+name}:updateMaster",
                  "id": "container.projects.locations.clusters.updateMaster",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:updateMaster",
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Updates the master for a specific cluster.",
                  "httpMethod": "POST"
                },
                "setMaintenancePolicy": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.setMaintenancePolicy",
                  "path": "v1/{+name}:setMaintenancePolicy",
                  "description": "Sets the maintenance policy for a cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMaintenancePolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "location": "query",
                      "description": "Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.locations.clusters.delete"
                },
                "startIpRotation": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "description": "Starts master IP rotation.",
                  "id": "container.projects.locations.clusters.startIpRotation",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:startIpRotation",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:startIpRotation"
                },
                "completeIpRotation": {
                  "id": "container.projects.locations.clusters.completeIpRotation",
                  "path": "v1/{+name}:completeIpRotation",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, cluster id) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:completeIpRotation",
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Completes master IP rotation."
                },
                "getJwks": {
                  "id": "container.projects.locations.clusters.getJwks",
                  "path": "v1/{+parent}/jwks",
                  "parameters": {
                    "parent": {
                      "description": "The cluster (project, location, cluster id) to get keys for. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GetJSONWebKeysResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the public component of the cluster signing keys in JSON Web Key format. This API is not yet intended for general use, and is not available for all clusters.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/jwks",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/clusters",
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`."
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "id": "container.projects.locations.clusters.create",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setAddons": {
                  "path": "v1/{+name}:setAddons",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.setAddons",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setAddons",
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "The name (project, location, cluster) of the cluster to set addons. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Sets the addons for a specific cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "setLocations": {
                  "id": "container.projects.locations.clusters.setLocations",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/update) instead.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLocations",
                  "path": "v1/{+name}:setLocations",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`."
                    }
                  },
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "update": {
                  "id": "container.projects.locations.clusters.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Updates the settings of a specific cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PUT",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}"
                },
                "setMasterAuth": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "id": "container.projects.locations.clusters.setMasterAuth",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMasterAuth",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:setMasterAuth",
                  "httpMethod": "POST",
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/clusters",
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.locations.clusters.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "query"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "ListClustersResponse"
                  }
                },
                "setMonitoring": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set monitoring. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "container.projects.locations.clusters.setMonitoring",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Sets the monitoring service for a specific cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setMonitoring",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:setMonitoring"
                },
                "setLogging": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:setLogging",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "id": "container.projects.locations.clusters.setLogging",
                  "description": "Sets the logging service for a specific cluster.",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to set logging. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:setLogging"
                },
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets the details of a specific cluster.",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "container.projects.locations.clusters.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "location": "query",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "clusterId": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              },
              "resources": {
                "well-known": {
                  "methods": {
                    "getOpenid-configuration": {
                      "description": "Gets the OIDC discovery document for the cluster. See the [OpenID Connect Discovery 1.0 specification](https://openid.net/specs/openid-connect-discovery-1_0.html) for details. This API is not yet intended for general use, and is not available for all clusters.",
                      "response": {
                        "$ref": "GetOpenIDConfigResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/.well-known/openid-configuration",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "The cluster (project, location, cluster id) to get the discovery document for. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/.well-known/openid-configuration",
                      "id": "container.projects.locations.clusters.well-known.getOpenid-configuration",
                      "httpMethod": "GET"
                    }
                  }
                },
                "nodePools": {
                  "methods": {
                    "setAutoscaling": {
                      "path": "v1/{+name}:setAutoscaling",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Sets the autoscaling settings for the specified node pool.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setAutoscaling",
                      "id": "container.projects.locations.clusters.nodePools.setAutoscaling",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SetNodePoolAutoscalingRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "setManagement": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}:setManagement",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setManagement",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to set management properties. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SetNodePoolManagementRequest"
                      },
                      "description": "Sets the NodeManagement options for a node pool.",
                      "id": "container.projects.locations.clusters.nodePools.setManagement"
                    },
                    "setSize": {
                      "id": "container.projects.locations.clusters.nodePools.setSize",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:setSize",
                      "description": "Sets the size for a specific node pool. The new size will be used for all replicas, including future replicas created by modifying NodePool.locations.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:setSize",
                      "request": {
                        "$ref": "SetNodePoolSizeRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "clusterId": {
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                          "location": "query",
                          "type": "string"
                        },
                        "nodePoolId": {
                          "type": "string",
                          "description": "Deprecated. The name of the node pool to delete. This field has been deprecated and replaced by the name field.",
                          "location": "query"
                        },
                        "zone": {
                          "type": "string",
                          "location": "query",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name (project, location, cluster, node pool id) of the node pool to delete. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "required": true
                        },
                        "projectId": {
                          "location": "query",
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        }
                      },
                      "id": "container.projects.locations.clusters.nodePools.delete",
                      "description": "Deletes a node pool from a cluster.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "clusterId": {
                          "location": "query",
                          "type": "string",
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                        },
                        "name": {
                          "description": "The name (project, location, cluster, node pool id) of the node pool to get. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "nodePoolId": {
                          "location": "query",
                          "description": "Deprecated. The name of the node pool. This field has been deprecated and replaced by the name field.",
                          "type": "string"
                        },
                        "zone": {
                          "location": "query",
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                        },
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "container.projects.locations.clusters.nodePools.get",
                      "response": {
                        "$ref": "NodePool"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieves the requested node pool.",
                      "httpMethod": "GET"
                    },
                    "update": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "UpdateNodePoolRequest"
                      },
                      "description": "Updates the version and/or image type for the specified node pool.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}",
                      "id": "container.projects.locations.clusters.nodePools.update",
                      "httpMethod": "PUT",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "id": "container.projects.locations.clusters.nodePools.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListNodePoolsResponse"
                      },
                      "parameters": {
                        "projectId": {
                          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The parent (project, location, cluster id) where the node pools will be listed. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        },
                        "clusterId": {
                          "type": "string",
                          "location": "query",
                          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field."
                        },
                        "zone": {
                          "type": "string",
                          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                          "location": "query"
                        }
                      },
                      "description": "Lists the node pools for a cluster.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                      "path": "v1/{+parent}/nodePools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "container.projects.locations.clusters.nodePools.create",
                      "request": {
                        "$ref": "CreateNodePoolRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "The parent (project, location, cluster id) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        }
                      },
                      "path": "v1/{+parent}/nodePools",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools",
                      "description": "Creates a node pool for a cluster."
                    },
                    "rollback": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Rolls back a previously Aborted or Failed NodePool upgrade. This makes no changes if the last upgrade successfully completed.",
                      "request": {
                        "$ref": "RollbackNodePoolUpgradeRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/nodePools/[^/]+$",
                          "location": "path",
                          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/nodePools/{nodePoolsId}:rollback",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "container.projects.locations.clusters.nodePools.rollback",
                      "path": "v1/{+name}:rollback"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name (project, location, operation id) of the operation to cancel. Specified in the format `projects/*/locations/*/operations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Cancels the specified operation.",
                  "id": "container.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "container.projects.locations.operations.get",
                  "parameters": {
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "query"
                    },
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`.",
                      "location": "path",
                      "required": true
                    },
                    "operationId": {
                      "location": "query",
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the specified operation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "container.projects.locations.operations.list",
                  "description": "Lists all operations in a project in a specific zone or all zones.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+parent}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "projectId": {
                      "location": "query",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions."
                    },
                    "zone": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field."
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "getServerConfig": {
              "description": "Returns configuration info about the Google Kubernetes Engine service.",
              "parameters": {
                "zone": {
                  "location": "query",
                  "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for. This field has been deprecated and replaced by the name field.",
                  "type": "string"
                },
                "projectId": {
                  "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "The name (project and location) of the server config to get, specified in the format `projects/*/locations/*`.",
                  "required": true
                }
              },
              "response": {
                "$ref": "ServerConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}/serverConfig",
              "id": "container.projects.locations.getServerConfig",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serverConfig",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "aggregated": {
          "resources": {
            "usableSubnetworks": {
              "methods": {
                "list": {
                  "description": "Lists subnetworks that are usable for creating clusters in a project.",
                  "response": {
                    "$ref": "ListUsableSubnetworksResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/aggregated/usableSubnetworks",
                  "parameters": {
                    "filter": {
                      "description": "Filtering currently only supports equality on the networkProjectId and must be in the form: \"networkProjectId=[PROJECTID]\", where `networkProjectId` is the project which owns the listed subnetworks. This defaults to the parent project ID.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Specifies a page token to use. Set this to the nextPageToken returned by previous list requests to get the next page of results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "The parent project where subnetworks are usable. Specified in the format `projects/*`.",
                      "pattern": "^projects/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The max number of results per page that should be returned. If the number of available results is larger than `page_size`, a `next_page_token` is returned which can be used to get the next page of results in subsequent requests. Acceptable values are 0 to 500, inclusive. (Default: 500)"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/aggregated/usableSubnetworks",
                  "id": "container.projects.aggregated.usableSubnetworks.list",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "zones": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) to return operations for, or `-` for all zones. This field has been deprecated and replaced by the parent field."
                    },
                    "parent": {
                      "description": "The parent (project and location) where the operations will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "required": true
                    }
                  },
                  "id": "container.projects.zones.operations.list",
                  "description": "Lists all operations in a project in a specific zone or all zones.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations",
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/projects/{projectId}/zones/{zone}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the specified operation.",
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name (project, location, operation id) of the operation to get. Specified in the format `projects/*/locations/*/operations/*`.",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path"
                    },
                    "operationId": {
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.operations.get",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "container.projects.zones.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Cancels the specified operation.",
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the operation resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "operationId": {
                      "description": "Deprecated. The server-assigned `name` of the operation. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "operationId"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "clusters": {
              "methods": {
                "master": {
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "clusterId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "container.projects.zones.clusters.master",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "description": "Updates the master for a specific cluster.",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "UpdateMasterRequest"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the Kubelet creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range the cluster is using.",
                  "request": {
                    "$ref": "CreateClusterRequest"
                  },
                  "id": "container.projects.zones.clusters.create",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "path"
                    },
                    "zone": {
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
                      "required": true
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters"
                },
                "get": {
                  "id": "container.projects.zones.clusters.get",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "description": "Gets the details of a specific cluster.",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "parameters": {
                    "zone": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The name of the cluster to retrieve. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "name": {
                      "description": "The name (project, location, cluster) of the cluster to retrieve. Specified in the format `projects/*/locations/*/clusters/*`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}"
                },
                "completeIpRotation": {
                  "parameters": {
                    "clusterId": {
                      "required": true,
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "zone": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "id": "container.projects.zones.clusters.completeIpRotation",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "request": {
                    "$ref": "CompleteIPRotationRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Completes master IP rotation."
                },
                "list": {
                  "parameterOrder": [
                    "projectId",
                    "zone"
                  ],
                  "httpMethod": "GET",
                  "id": "container.projects.zones.clusters.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones. This field has been deprecated and replaced by the parent field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "parent": {
                      "description": "The parent (project and location) where the clusters will be listed. Specified in the format `projects/*/locations/*`. Location \"-\" matches all zones and all regions.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters",
                  "response": {
                    "$ref": "ListClustersResponse"
                  }
                },
                "logging": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.logging",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the logging service for a specific cluster.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging",
                  "request": {
                    "$ref": "SetLoggingServiceRequest"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "zone": {
                      "location": "path",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    },
                    "clusterId": {
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging"
                },
                "setNetworkPolicy": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Enables or disables Network Policy for a cluster.",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                  "request": {
                    "$ref": "SetNetworkPolicyRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.setNetworkPolicy",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "clusterId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy",
                  "httpMethod": "POST"
                },
                "update": {
                  "id": "container.projects.zones.clusters.update",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "request": {
                    "$ref": "UpdateClusterRequest"
                  },
                  "description": "Updates the settings of a specific cluster.",
                  "parameters": {
                    "clusterId": {
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true
                    },
                    "zone": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "monitoring": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "parameters": {
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.monitoring",
                  "description": "Sets the monitoring service for a specific cluster.",
                  "request": {
                    "$ref": "SetMonitoringServiceRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "setMaintenancePolicy": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetMaintenancePolicyRequest"
                  },
                  "id": "container.projects.zones.clusters.setMaintenancePolicy",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy",
                  "description": "Sets the maintenance policy for a cluster.",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                      "type": "string"
                    },
                    "zone": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides."
                    },
                    "clusterId": {
                      "required": true,
                      "description": "Required. The name of the cluster to update.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy"
                },
                "resourceLabels": {
                  "httpMethod": "POST",
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "description": "Sets labels on a cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "SetLabelsRequest"
                  },
                  "id": "container.projects.zones.clusters.resourceLabels"
                },
                "addons": {
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "request": {
                    "$ref": "SetAddonsConfigRequest"
                  },
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons",
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "clusterId": {
                      "required": true,
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "type": "string"
                    },
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "container.projects.zones.clusters.addons",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Sets the addons for a specific cluster."
                },
                "delete": {
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "name": {
                      "type": "string",
                      "location": "query",
                      "description": "The name (project, location, cluster) of the cluster to delete. Specified in the format `projects/*/locations/*/clusters/*`."
                    },
                    "zone": {
                      "location": "path",
                      "type": "string",
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true
                    },
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster to delete. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                  "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster, such as load balancer resources, are not deleted if they weren't present when the cluster was initially created.",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "container.projects.zones.clusters.delete"
                },
                "startIpRotation": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                  "id": "container.projects.zones.clusters.startIpRotation",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation",
                  "request": {
                    "$ref": "StartIPRotationRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "zone": {
                      "location": "path",
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    }
                  },
                  "description": "Starts master IP rotation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "locations": {
                  "description": "Sets the locations for a specific cluster. Deprecated. Use [projects.locations.clusters.update](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/update) instead.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
                    },
                    "zone": {
                      "required": true,
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "type": "string",
                      "location": "path"
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "request": {
                    "$ref": "SetLocationsRequest"
                  },
                  "httpMethod": "POST",
                  "id": "container.projects.zones.clusters.locations",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ]
                },
                "setMasterAuth": {
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth",
                  "parameterOrder": [
                    "projectId",
                    "zone",
                    "clusterId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "container.projects.zones.clusters.setMasterAuth",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetMasterAuthRequest"
                  },
                  "description": "Sets master auth materials. Currently supports changing the admin password or a specific cluster, either via password generation or explicitly setting the password.",
                  "httpMethod": "POST",
                  "parameters": {
                    "zone": {
                      "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
                      "location": "path"
                    },
                    "clusterId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
                    }
                  },
                  "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth"
                },
                "legacyAbac": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac",
                  "request": {
[...]
