{
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/shopping-content/v2/",
  "kind": "discovery#restDescription",
  "version": "v2.1",
  "discoveryVersion": "v1",
  "id": "content:v2.1",
  "batchPath": "batch",
  "title": "Content API for Shopping",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://shoppingcontent.googleapis.com/",
  "name": "content",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "RegionalinventoryCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch regional inventory response.",
      "id": "RegionalinventoryCustomBatchResponseEntry",
      "properties": {
        "regionalInventory": {
          "description": "Price and availability of the product.",
          "$ref": "RegionalInventory"
        },
        "batchId": {
          "type": "integer",
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#regionalinventoryCustomBatchResponseEntry\"."
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        }
      },
      "type": "object"
    },
    "AccountsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsListResponse\".",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of accounts."
        }
      },
      "id": "AccountsListResponse"
    },
    "AccountstatusesCustomBatchResponse": {
      "id": "AccountstatusesCustomBatchResponse",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "AccountstatusesCustomBatchResponseEntry"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesCustomBatchResponse\"."
        }
      },
      "type": "object"
    },
    "OrderreturnsCreateOrderReturnRequest": {
      "type": "object",
      "id": "OrderreturnsCreateOrderReturnRequest",
      "properties": {
        "returnMethodType": {
          "type": "string",
          "description": "The way of the package being returned."
        },
        "lineItems": {
          "items": {
            "$ref": "OrderreturnsLineItem"
          },
          "description": "The list of line items to return.",
          "type": "array"
        },
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        },
        "orderId": {
          "description": "The ID of the order.",
          "type": "string"
        }
      }
    },
    "OrdersReturnRefundLineItemResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersReturnRefundLineItemResponse\"."
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrdersReturnRefundLineItemResponse"
    },
    "BusinessDayConfig": {
      "id": "BusinessDayConfig",
      "properties": {
        "businessDays": {
          "items": {
            "type": "string"
          },
          "description": "Regular business days. May not be empty.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "RegionPostalCodeAreaPostalCodeRange": {
      "type": "object",
      "properties": {
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: \"94108\", \"9410*\", \"9*\".",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "Optional. A postal code or a pattern of the form prefix* denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin."
        }
      },
      "id": "RegionPostalCodeAreaPostalCodeRange",
      "description": "A range of postal codes that defines the region area."
    },
    "OrdersShipLineItemsResponse": {
      "properties": {
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersShipLineItemsResponse\"."
        }
      },
      "type": "object",
      "id": "OrdersShipLineItemsResponse"
    },
    "PosCustomBatchResponseEntry": {
      "properties": {
        "errors": {
          "description": "A list of errors defined if, and only if, the request failed.",
          "$ref": "Errors"
        },
        "store": {
          "$ref": "PosStore",
          "description": "The retrieved or updated store information."
        },
        "inventory": {
          "$ref": "PosInventory",
          "description": "The updated inventory information."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posCustomBatchResponseEntry`\""
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "The ID of the request entry to which this entry responds."
        },
        "sale": {
          "$ref": "PosSale",
          "description": "The updated sale information."
        }
      },
      "id": "PosCustomBatchResponseEntry",
      "type": "object"
    },
    "AccountTaxTaxRule": {
      "properties": {
        "country": {
          "description": "Country code in which tax is applicable.",
          "type": "string"
        },
        "shippingTaxed": {
          "description": "If true, shipping charges are also taxed.",
          "type": "boolean"
        },
        "ratePercent": {
          "description": "Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative.",
          "type": "string"
        },
        "useGlobalRate": {
          "type": "boolean",
          "description": "Whether the tax rate is taken from a global tax table or specified explicitly."
        },
        "locationId": {
          "description": "Required. State (or province) is which the tax is applicable, described by its location ID (also called criteria ID).",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object",
      "id": "AccountTaxTaxRule",
      "description": "Tax calculation rule to apply in a state or province (USA only)."
    },
    "OrderReportDisbursement": {
      "properties": {
        "disbursementDate": {
          "type": "string",
          "description": "The date the disbursement was initiated, in ISO 8601 format."
        },
        "disbursementAmount": {
          "description": "The disbursement amount.",
          "$ref": "Price"
        },
        "disbursementCreationDate": {
          "type": "string",
          "description": "The disbursement date, in ISO 8601 format."
        },
        "disbursementId": {
          "description": "The ID of the disbursement.",
          "type": "string"
        },
        "merchantId": {
          "format": "uint64",
          "description": "The ID of the managing account.",
          "type": "string"
        }
      },
      "description": "Order disbursement. All methods require the payment analyst role.",
      "id": "OrderReportDisbursement",
      "type": "object"
    },
    "OrderreturnsRejectOperation": {
      "properties": {
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "The reason for the return."
        }
      },
      "id": "OrderreturnsRejectOperation",
      "type": "object"
    },
    "ShippingsettingsListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsListResponse\"."
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of shipping settings.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "ShippingSettings"
          },
          "type": "array"
        }
      },
      "id": "ShippingsettingsListResponse",
      "type": "object"
    },
    "AccountYouTubeChannelLink": {
      "type": "object",
      "id": "AccountYouTubeChannelLink",
      "properties": {
        "channelId": {
          "type": "string",
          "description": "Channel ID."
        },
        "status": {
          "description": "Status of the link between this Merchant Center account and the YouTube channel. Upon retrieval, it represents the actual status of the link and can be either `active` if it was approved in YT Creator Studio or `pending` if it's pending approval. Upon insertion, it represents the *intended* status of the link. Re-uploading a link with status `active` when it's still pending or with status `pending` when it's already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status `inactive` is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending.",
          "type": "string"
        }
      }
    },
    "OrderCustomerLoyaltyInfo": {
      "type": "object",
      "id": "OrderCustomerLoyaltyInfo",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of card/membership holder, this field will be populated when"
        },
        "loyaltyNumber": {
          "type": "string",
          "description": "The loyalty card/membership number."
        }
      }
    },
    "DatafeedsCustomBatchRequest": {
      "id": "DatafeedsCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DatafeedsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      }
    },
    "Weight": {
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: - \"`kg`\" - \"`lb`\" ",
          "type": "string"
        },
        "value": {
          "description": "Required. The weight represented as a number.",
          "type": "string"
        }
      },
      "id": "Weight",
      "type": "object"
    },
    "ProductStatus": {
      "properties": {
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "ProductStatusDestinationStatus"
          },
          "description": "The intended destinations for the product."
        },
        "lastUpdateDate": {
          "type": "string",
          "description": "Date on which the item has been last updated, in ISO 8601 format."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productStatus`\""
        },
        "link": {
          "description": "The link to the product.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product for which status is reported."
        },
        "creationDate": {
          "type": "string",
          "description": "Date on which the item has been created, in ISO 8601 format."
        },
        "googleExpirationDate": {
          "description": "Date on which the item expires in Google Shopping, in ISO 8601 format.",
          "type": "string"
        },
        "title": {
          "description": "The title of the product.",
          "type": "string"
        },
        "itemLevelIssues": {
          "description": "A list of all issues associated with the product.",
          "items": {
            "$ref": "ProductStatusItemLevelIssue"
          },
          "type": "array"
        }
      },
      "description": "The status of a product, i.e., information about a product computed asynchronously.",
      "type": "object",
      "id": "ProductStatus"
    },
    "OrdersCancelLineItemResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelLineItemResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrdersCancelLineItemResponse"
    },
    "AccountAddress": {
      "type": "object",
      "id": "AccountAddress",
      "properties": {
        "streetAddress": {
          "type": "string",
          "description": "Street-level part of the address."
        },
        "country": {
          "type": "string",
          "description": "CLDR country code (e.g. \"US\"). This value cannot be set for a sub-account of an MCA. All MCA sub-accounts inherit the country of their parent MCA."
        },
        "region": {
          "description": "Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "postalCode": {
          "description": "Postal code or ZIP (e.g. \"94043\").",
          "type": "string"
        },
        "locality": {
          "description": "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs).",
          "type": "string"
        }
      }
    },
    "OrderLineItem": {
      "properties": {
        "annotations": {
          "type": "array",
          "description": "Annotations that are attached to the line item.",
          "items": {
            "$ref": "OrderMerchantProvidedAnnotation"
          }
        },
        "product": {
          "$ref": "OrderLineItemProduct",
          "description": "Product data as seen by customer from the time of the order placement. Note that certain attributes values (e.g. title or gtin) might be reformatted and no longer match values submitted via product feed."
        },
        "quantityShipped": {
          "format": "uint32",
          "type": "integer",
          "description": "Number of items shipped."
        },
        "tax": {
          "$ref": "Price",
          "description": "Total tax amount for the line item. For example, if two items are purchased, and each have a cost tax of $2, the total tax amount will be $4."
        },
        "quantityOrdered": {
          "type": "integer",
          "description": "Number of items ordered.",
          "format": "uint32"
        },
        "quantityReadyForPickup": {
          "format": "uint32",
          "description": "Number of items ready for pickup.",
          "type": "integer"
        },
        "returns": {
          "type": "array",
          "items": {
            "$ref": "OrderReturn"
          },
          "description": "Returns of the line item."
        },
        "quantityCanceled": {
          "description": "Number of items canceled.",
          "type": "integer",
          "format": "uint32"
        },
        "quantityPending": {
          "type": "integer",
          "description": "Number of items pending.",
          "format": "uint32"
        },
        "shippingDetails": {
          "$ref": "OrderLineItemShippingDetails",
          "description": "Details of the requested shipping for the line item."
        },
        "adjustments": {
          "description": "Price and tax adjustments applied on the line item.",
          "type": "array",
          "items": {
            "$ref": "OrderLineItemAdjustment"
          }
        },
        "cancellations": {
          "description": "Cancellations of the line item.",
          "type": "array",
          "items": {
            "$ref": "OrderCancellation"
          }
        },
        "quantityUndeliverable": {
          "description": "Number of items undeliverable.",
          "type": "integer",
          "format": "uint32"
        },
        "id": {
          "description": "The ID of the line item.",
          "type": "string"
        },
        "quantityDelivered": {
          "description": "Number of items delivered.",
          "format": "uint32",
          "type": "integer"
        },
        "quantityReturned": {
          "description": "Number of items returned.",
          "type": "integer",
          "format": "uint32"
        },
        "returnInfo": {
          "description": "Details of the return policy for the line item.",
          "$ref": "OrderLineItemReturnInfo"
        },
        "price": {
          "$ref": "Price",
          "description": "Total price for the line item. For example, if two items for $10 are purchased, the total price will be $20."
        }
      },
      "type": "object",
      "id": "OrderLineItem"
    },
    "PubsubNotificationSettings": {
      "type": "object",
      "id": "PubsubNotificationSettings",
      "description": "Settings for Pub/Sub notifications, all methods require that the caller is a direct user of the merchant center account.",
      "properties": {
        "registeredEvents": {
          "description": "List of event types. Acceptable values are: - \"`orderPendingShipment`\" ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#pubsubNotificationSettings`\"",
          "type": "string"
        },
        "cloudTopicName": {
          "description": "Cloud pub/sub topic to which notifications are sent (read-only).",
          "type": "string"
        }
      }
    },
    "OrdersCreateTestReturnRequest": {
      "properties": {
        "items": {
          "items": {
            "$ref": "OrdersCustomBatchRequestEntryCreateTestReturnReturnItem"
          },
          "description": "Returned items.",
          "type": "array"
        }
      },
      "id": "OrdersCreateTestReturnRequest",
      "type": "object"
    },
    "RepricingRuleStatsBasedRule": {
      "type": "object",
      "properties": {
        "percentageDelta": {
          "format": "int32",
          "type": "integer",
          "description": "The percent change against the price target. Valid from 0 to 100 inclusively."
        },
        "priceDelta": {
          "type": "string",
          "description": "The price delta against the above price target. A positive value means the price should be adjusted to be above statistical measure, and a negative value means below. Currency code must not be included."
        }
      },
      "description": "Definition of stats based rule.",
      "id": "RepricingRuleStatsBasedRule"
    },
    "ProductShippingWeight": {
      "id": "ProductShippingWeight",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit of value."
        },
        "value": {
          "format": "double",
          "description": "The weight of the product used to calculate the shipping cost of the item.",
          "type": "number"
        }
      }
    },
    "OrderRefund": {
      "type": "object",
      "properties": {
        "actor": {
          "description": "The actor that created the refund. Acceptable values are: - \"`customer`\" - \"`googleBot`\" - \"`googleCustomerService`\" - \"`googlePayments`\" - \"`googleSabre`\" - \"`merchant`\" ",
          "type": "string"
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "creationDate": {
          "type": "string",
          "description": "Date on which the item has been created, in ISO 8601 format."
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount that is refunded."
        },
        "reason": {
          "description": "The reason for the refund. Acceptable values are: - \"`adjustment`\" - \"`autoPostInternal`\" - \"`autoPostInvalidBillingAddress`\" - \"`autoPostNoInventory`\" - \"`autoPostPriceError`\" - \"`autoPostUndeliverableShippingAddress`\" - \"`couponAbuse`\" - \"`courtesyAdjustment`\" - \"`customerCanceled`\" - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`customerSupportRequested`\" - \"`deliveredLateByCarrier`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`failToPushOrderGoogleError`\" - \"`failToPushOrderMerchantError`\" - \"`failToPushOrderMerchantFulfillmentError`\" - \"`failToPushOrderToMerchant`\" - \"`failToPushOrderToMerchantOutOfStock`\" - \"`feeAdjustment`\" - \"`invalidCoupon`\" - \"`lateShipmentCredit`\" - \"`malformedShippingAddress`\" - \"`merchantDidNotShipOnTime`\" - \"`noInventory`\" - \"`orderTimeout`\" - \"`other`\" - \"`paymentAbuse`\" - \"`paymentDeclined`\" - \"`priceAdjustment`\" - \"`priceError`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`promoReallocation`\" - \"`qualityNotAsExpected`\" - \"`returnRefundAbuse`\" - \"`shippingCostAdjustment`\" - \"`shippingPriceError`\" - \"`taxAdjustment`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" ",
          "type": "string"
        }
      },
      "id": "OrderRefund"
    },
    "RepricingRuleEffectiveTimeFixedTimePeriod": {
      "type": "object",
      "id": "RepricingRuleEffectiveTimeFixedTimePeriod",
      "description": "Definition of a fixed time period.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time (inclusive) of the period. It can only be hour granularity."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end time (exclusive) of the period. It can only be hour granularity."
        }
      }
    },
    "ProductUnitPricingBaseMeasure": {
      "properties": {
        "unit": {
          "description": "The unit of the denominator.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The denominator of the unit price.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ProductUnitPricingBaseMeasure"
    },
    "OrderTrackingSignalShippingInfo": {
      "properties": {
        "latestDeliveryPromiseTime": {
          "description": "The latest delivery promised time. Include the year and timezone string, if available. This field is required, if one of the following fields is absent: tracking_id or carrier_name.",
          "$ref": "DateTime"
        },
        "originPostalCode": {
          "type": "string",
          "description": "The origin postal code, as a continuous string without spaces or dashes, e.g. \"95016\"."
        },
        "shippingStatus": {
          "enumDescriptions": [
            "The shipping status is not known to merchant.",
            "All items are shipped.",
            "The shipment is already delivered."
          ],
          "type": "string",
          "description": "The status of the shipment.",
          "enum": [
            "SHIPPING_STATE_UNSPECIFIED",
            "SHIPPED",
            "DELIVERED"
          ]
        },
        "shipmentId": {
          "type": "string",
          "description": "Required. The shipment ID."
        },
        "trackingId": {
          "type": "string",
          "description": "The tracking ID of the shipment. This field is required if one of the following fields is absent: earliest_delivery_promise_time, latest_delivery_promise_time, and actual_delivery_time."
        },
        "earliestDeliveryPromiseTime": {
          "description": "The earliest delivery promised time. Include the year and timezone string, if available. This field is required, if one of the following fields is absent: tracking_id or carrier_name.",
          "$ref": "DateTime"
        },
        "carrierServiceName": {
          "type": "string",
          "description": "The service type for fulfillment, e.g., GROUND, FIRST_CLASS, etc."
        },
        "shippedTime": {
          "$ref": "DateTime",
          "description": "The time when the shipment was shipped. Include the year and timezone string, if available."
        },
        "actualDeliveryTime": {
          "$ref": "DateTime",
          "description": "The time when the shipment was actually delivered. Include the year and timezone string, if available. This field is required, if one of the following fields is absent: tracking_id or carrier_name."
        },
        "originRegionCode": {
          "description": "The [CLDR territory code] (http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) for the shipping origin.",
          "type": "string"
        },
        "carrierName": {
          "description": "The name of the shipping carrier for the delivery. This field is required if one of the following fields is absent: earliest_delivery_promise_time, latest_delivery_promise_time, and actual_delivery_time.",
          "type": "string"
        }
      },
      "description": "The shipping information for the order.",
      "type": "object",
      "id": "OrderTrackingSignalShippingInfo"
    },
    "DatafeedsListResponse": {
      "id": "DatafeedsListResponse",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Datafeed"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of datafeeds.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#datafeedsListResponse\"."
        }
      },
      "type": "object"
    },
    "OrderPickupDetailsCollector": {
      "type": "object",
      "id": "OrderPickupDetailsCollector",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the person picking up the shipment."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of the person picking up the shipment."
        }
      }
    },
    "OrderreportsListDisbursementsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of disbursements."
        },
        "disbursements": {
          "description": "The list of disbursements.",
          "type": "array",
          "items": {
            "$ref": "OrderReportDisbursement"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListDisbursementsResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderreportsListDisbursementsResponse"
    },
    "DateTime": {
      "id": "DateTime",
      "properties": {
        "utcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "seconds": {
          "description": "Required. Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Month of year. Must be from 1 to 12."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "nanos": {
          "format": "int32",
          "description": "Required. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Minutes of hour of day. Must be from 0 to 59."
        },
        "day": {
          "type": "integer",
          "description": "Required. Day of month. Must be from 1 to 31 and valid for the year and month.",
          "format": "int32"
        }
      },
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year is 0, the DateTime is considered not to have a specific year. month and day must have valid, non-zero values. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "type": "object"
    },
    "OrdersCustomBatchRequestEntryCreateTestReturnReturnItem": {
      "type": "object",
      "id": "OrdersCustomBatchRequestEntryCreateTestReturnReturnItem",
      "properties": {
        "quantity": {
          "description": "Quantity that is returned.",
          "format": "uint32",
          "type": "integer"
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to return."
        }
      }
    },
    "ShippingsettingsGetSupportedCarriersResponse": {
      "properties": {
        "carriers": {
          "items": {
            "$ref": "CarriersCarrier"
          },
          "type": "array",
          "description": "A list of supported carriers. May be empty."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsGetSupportedCarriersResponse\"."
        }
      },
      "type": "object",
      "id": "ShippingsettingsGetSupportedCarriersResponse"
    },
    "ProductShippingDimension": {
      "type": "object",
      "id": "ProductShippingDimension",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "The dimension of the product used to calculate the shipping cost of the item."
        },
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        }
      }
    },
    "ReturnPolicyOnlineRestockingFee": {
      "id": "ReturnPolicyOnlineRestockingFee",
      "properties": {
        "fixedFee": {
          "description": "Fixed restocking fee.",
          "$ref": "PriceAmount"
        },
        "microPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged."
        }
      },
      "type": "object",
      "description": "The restocking fee. This can either be a fixed fee or a micro percent."
    },
    "MerchantOrderReturn": {
      "type": "object",
      "id": "MerchantOrderReturn",
      "description": "Order return. Production access (all methods) requires the order manager role. Sandbox access does not.",
      "properties": {
        "returnItems": {
          "items": {
            "$ref": "MerchantOrderReturnItem"
          },
          "description": "Items of the return.",
          "type": "array"
        },
        "returnShipments": {
          "items": {
            "$ref": "ReturnShipment"
          },
          "type": "array",
          "description": "Shipments of the return."
        },
        "orderId": {
          "type": "string",
          "description": "Google order ID."
        },
        "creationDate": {
          "type": "string",
          "description": "The date of creation of the return, in ISO 8601 format."
        },
        "merchantOrderId": {
          "type": "string",
          "description": "Merchant defined order ID."
        },
        "orderReturnId": {
          "type": "string",
          "description": "Order return ID generated by Google."
        },
        "returnPricingInfo": {
          "$ref": "ReturnPricingInfo",
          "description": "Information about shipping costs."
        }
      }
    },
    "Error": {
      "description": "An error returned by the API.",
      "properties": {
        "message": {
          "type": "string",
          "description": "A description of the error."
        },
        "domain": {
          "description": "The domain of the error.",
          "type": "string"
        },
        "reason": {
          "description": "The error code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Error"
    },
    "AccounttaxCustomBatchRequest": {
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "type": "array",
          "items": {
            "$ref": "AccounttaxCustomBatchRequestEntry"
          }
        }
      },
      "type": "object",
      "id": "AccounttaxCustomBatchRequest"
    },
    "Region": {
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes or, in some countries, using predefined geotargets.",
      "properties": {
        "regionId": {
          "type": "string",
          "description": "Output only. Immutable. The ID uniquely identifying each region.",
          "readOnly": true
        },
        "postalCodeArea": {
          "description": "A list of postal codes that defines the region area.",
          "$ref": "RegionPostalCodeArea"
        },
        "displayName": {
          "description": "The display name of the region.",
          "type": "string"
        },
        "regionalInventoryEligible": {
          "type": "boolean",
          "description": "Output only. Indicates if the region is eligible to use in the Regional Inventory configuration.",
          "readOnly": true
        },
        "geotargetArea": {
          "description": "A list of geotargets that defines the region area.",
          "$ref": "RegionGeoTargetArea"
        },
        "merchantId": {
          "format": "int64",
          "description": "Output only. Immutable. Merchant that owns the region.",
          "type": "string",
          "readOnly": true
        },
        "shippingEligible": {
          "description": "Output only. Indicates if the region is eligible to use in the Shipping Services configuration.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "Region",
      "type": "object"
    },
    "DatafeedStatusExample": {
      "type": "object",
      "id": "DatafeedStatusExample",
      "properties": {
        "value": {
          "type": "string",
          "description": "The problematic value."
        },
        "itemId": {
          "description": "The ID of the example item.",
          "type": "string"
        },
        "lineNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Line number in the data feed where the example is found."
        }
      },
      "description": "An example occurrence for a particular error."
    },
    "OrdersCreateTestReturnResponse": {
      "type": "object",
      "id": "OrdersCreateTestReturnResponse",
      "properties": {
        "returnId": {
          "description": "The ID of the newly created test order return.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersCreateTestReturnResponse\"."
        }
      }
    },
    "DatafeedFetchSchedule": {
      "id": "DatafeedFetchSchedule",
      "description": "The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required.",
      "type": "object",
      "properties": {
        "paused": {
          "type": "boolean",
          "description": "Whether the scheduled fetch is paused or not."
        },
        "weekday": {
          "description": "The day of the week the feed file should be fetched. Acceptable values are: - \"`monday`\" - \"`tuesday`\" - \"`wednesday`\" - \"`thursday`\" - \"`friday`\" - \"`saturday`\" - \"`sunday`\" ",
          "type": "string"
        },
        "username": {
          "description": "An optional user name for fetch_url.",
          "type": "string"
        },
        "password": {
          "description": "An optional password for fetch_url.",
          "type": "string"
        },
        "hour": {
          "type": "integer",
          "description": "The hour of the day the feed file should be fetched (0-23).",
          "format": "uint32"
        },
        "minuteOfHour": {
          "type": "integer",
          "description": "The minute of the hour the feed file should be fetched (0-59). Read-only.",
          "format": "uint32"
        },
        "fetchUrl": {
          "description": "The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols.",
          "type": "string"
        },
        "dayOfMonth": {
          "description": "The day of the month the feed file should be fetched (1-31).",
          "format": "uint32",
          "type": "integer"
        },
        "timeZone": {
          "description": "Time zone used for schedule. UTC by default. E.g., \"America/Los_Angeles\".",
          "type": "string"
        }
      }
    },
    "OrdersUpdateShipmentRequest": {
      "id": "OrdersUpdateShipmentRequest",
      "properties": {
        "carrier": {
          "description": "The carrier handling the shipment. Not updated if missing. See `shipments[].carrier` in the Orders resource representation for a list of acceptable values.",
          "type": "string"
        },
        "lastPickupDate": {
          "description": "Date after which the pickup will expire, in ISO 8601 format. Required only when order is buy-online-pickup-in-store(BOPIS) and `status` is `ready for pickup`.",
          "type": "string"
        },
        "scheduledDeliveryDetails": {
          "description": "Delivery details of the shipment if scheduling is needed.",
          "$ref": "OrdersCustomBatchRequestEntryUpdateShipmentScheduledDeliveryDetails"
        },
        "trackingId": {
          "type": "string",
          "description": "The tracking ID for the shipment. Not updated if missing."
        },
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order.",
          "type": "string"
        },
        "shipmentId": {
          "description": "The ID of the shipment.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "New status for the shipment. Not updated if missing. Acceptable values are: - \"`delivered`\" - \"`undeliverable`\" - \"`readyForPickup`\" "
        },
        "deliveryDate": {
          "type": "string",
          "description": "Date on which the shipment has been delivered, in ISO 8601 format. Optional and can be provided only if `status` is `delivered`."
        },
        "readyPickupDate": {
          "description": "Date on which the shipment has been ready for pickup, in ISO 8601 format. Optional and can be provided only if `status` is `ready for pickup`.",
          "type": "string"
        },
        "undeliveredDate": {
          "description": "Date on which the shipment has been undeliverable, in ISO 8601 format. Optional and can be provided only if `status` is `undeliverable`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LiasettingsRequestInventoryVerificationResponse": {
      "id": "LiasettingsRequestInventoryVerificationResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#liasettingsRequestInventoryVerificationResponse\"."
        }
      },
      "type": "object"
    },
    "Amount": {
      "id": "Amount",
      "type": "object",
      "properties": {
        "priceAmount": {
          "description": "[required] The pre-tax or post-tax price depending on the location of the order.",
          "$ref": "Price"
        },
        "taxAmount": {
          "description": "[required] Tax value.",
          "$ref": "Price"
        }
      }
    },
    "ProductstatusesCustomBatchRequest": {
      "id": "ProductstatusesCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "ProductstatusesCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      }
    },
    "AccounttaxCustomBatchResponse": {
      "type": "object",
      "id": "AccounttaxCustomBatchResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponse\"."
        },
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "AccounttaxCustomBatchResponseEntry"
          }
        }
      }
    },
    "Errors": {
      "properties": {
        "code": {
          "description": "The HTTP status of the first error in `errors`.",
          "format": "uint32",
          "type": "integer"
        },
        "message": {
          "description": "The message of the first error in `errors`.",
          "type": "string"
        },
        "errors": {
          "description": "A list of errors.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        }
      },
      "description": "A list of errors returned by a failed batch entry.",
      "id": "Errors",
      "type": "object"
    },
    "OrderLineItemProductFee": {
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "Amount of the fee."
        },
        "name": {
          "description": "Name of the fee.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderLineItemProductFee"
    },
    "ReturnPolicy": {
      "description": "Return policy resource.",
      "type": "object",
      "id": "ReturnPolicy",
      "properties": {
        "policy": {
          "$ref": "ReturnPolicyPolicy",
          "description": "Required. The policy."
        },
        "nonFreeReturnReasons": {
          "type": "array",
          "description": "Return reasons that will incur return fees.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#returnPolicy`\"",
          "type": "string"
        },
        "returnShippingFee": {
          "description": "The return shipping fee that will apply to non free return reasons.",
          "$ref": "Price"
        },
        "seasonalOverrides": {
          "description": "An optional list of seasonal overrides.",
          "items": {
            "$ref": "ReturnPolicySeasonalOverride"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the policy as shown in Merchant Center."
        },
        "country": {
          "type": "string",
          "description": "Required. The country of sale where the return policy is applicable."
        },
        "label": {
          "description": "Required. The user-defined label of the return policy. For the default policy, use the label \"default\".",
          "type": "string"
        },
        "returnPolicyId": {
          "type": "string",
          "description": "Return policy ID generated by Google."
        }
      }
    },
    "PickupServicesPickupService": {
      "id": "PickupServicesPickupService",
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "The name of the carrier (e.g., `\"UPS\"`). Always present."
        },
        "country": {
          "type": "string",
          "description": "The CLDR country code of the carrier (e.g., \"US\"). Always present."
        },
        "serviceName": {
          "description": "The name of the pickup service (e.g., `\"Access point\"`). Always present.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Order": {
      "type": "object",
      "properties": {
        "placedDate": {
          "description": "The date when the order was placed, in ISO 8601 format.",
          "type": "string"
        },
        "shipments": {
          "description": "Shipments of the order.",
          "items": {
            "$ref": "OrderShipment"
          },
          "type": "array"
        },
        "refunds": {
          "description": "Refunds for the order.",
          "items": {
            "$ref": "OrderRefund"
          },
          "type": "array"
        },
        "shippingCostTax": {
          "$ref": "Price",
          "description": "The tax for the total shipping cost."
        },
        "deliveryDetails": {
          "description": "Delivery details for shipments of type `delivery`.",
          "$ref": "OrderDeliveryDetails"
        },
        "shippingCost": {
          "description": "The total cost of shipping for all items.",
          "$ref": "Price"
        },
        "annotations": {
          "items": {
            "$ref": "OrderOrderAnnotation"
          },
          "description": "List of key-value pairs that are attached to a given order.",
          "type": "array"
        },
        "lineItems": {
          "items": {
            "$ref": "OrderLineItem"
          },
          "type": "array",
          "description": "Line items that are ordered."
        },
        "billingAddress": {
          "description": "The billing address.",
          "$ref": "OrderAddress"
        },
        "promotions": {
          "description": "Promotions associated with the order. To determine which promotions apply to which products, check the `Promotions[].appliedItems[].lineItemId` field against the `LineItems[].id` field for each promotion. If a promotion is applied to more than 1 offerId, divide the discount value by the number of affected offers to determine how much discount to apply to each offerId. Examples: 1. To calculate price paid by the customer for a single line item including the discount: For each promotion, subtract the `LineItems[].adjustments[].priceAdjustment.value` amount from the `LineItems[].Price.value`. 2. To calculate price paid by the customer for a single line item including the discount in case of multiple quantity: For each promotion, divide the `LineItems[].adjustments[].priceAdjustment.value` by the quantity of products then subtract the resulting value from the `LineItems[].Product.Price.value` for each quantity item. Only 1 promotion can be applied to an offerId in a given order. To refund an item which had a promotion applied to it, make sure to refund the amount after first subtracting the promotion discount from the item price. More details about the program are here.",
          "items": {
            "$ref": "OrderPromotion"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#order`\""
        },
        "taxCollector": {
          "type": "string",
          "description": "The party responsible for collecting and remitting taxes. Acceptable values are: - \"`marketplaceFacilitator`\" - \"`merchant`\" "
        },
        "pickupDetails": {
          "$ref": "OrderPickupDetails",
          "description": "Pickup details for shipments of type `pickup`."
        },
        "id": {
          "description": "The REST ID of the order. Globally unique.",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "format": "uint64"
        },
        "customer": {
          "$ref": "OrderCustomer",
          "description": "The details of the customer who placed the order."
        },
        "status": {
          "type": "string",
          "description": "The status of the order. Acceptable values are: - \"`canceled`\" - \"`delivered`\" - \"`inProgress`\" - \"`partiallyDelivered`\" - \"`partiallyReturned`\" - \"`partiallyShipped`\" - \"`pendingShipment`\" - \"`returned`\" - \"`shipped`\" "
        },
        "netPriceAmount": {
          "description": "The net amount for the order (price part). For example, if an order was originally for $100 and a refund was issued for $20, the net amount will be $80.",
          "$ref": "Price"
        },
        "paymentStatus": {
          "description": "The status of the payment. Acceptable values are: - \"`paymentCaptured`\" - \"`paymentRejected`\" - \"`paymentSecured`\" - \"`pendingAuthorization`\" ",
          "type": "string"
        },
        "merchantOrderId": {
          "description": "Merchant-provided ID of the order.",
          "type": "string"
        },
        "acknowledged": {
          "type": "boolean",
          "description": "Whether the order was acknowledged."
        },
        "netTaxAmount": {
          "description": "The net amount for the order (tax part). Note that in certain cases due to taxable base adjustment `netTaxAmount` might not match to a sum of tax field across all lineItems and refunds.",
          "$ref": "Price"
        }
      },
      "id": "Order",
      "description": "Order. Production access (all methods) requires the order manager role. Sandbox access does not."
    },
    "OrdersRefundItemRequest": {
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        },
        "items": {
          "items": {
            "$ref": "OrdersCustomBatchRequestEntryRefundItemItem"
          },
          "type": "array",
          "description": "The items that are refunded. Either Item or Shipping must be provided in the request."
        },
        "reason": {
          "description": "The reason for the refund. Acceptable values are: - \"`shippingCostAdjustment`\" - \"`priceAdjustment`\" - \"`taxAdjustment`\" - \"`feeAdjustment`\" - \"`courtesyAdjustment`\" - \"`adjustment`\" - \"`customerCancelled`\" - \"`noInventory`\" - \"`productNotAsDescribed`\" - \"`undeliverableShippingAddress`\" - \"`wrongProductShipped`\" - \"`lateShipmentCredit`\" - \"`deliveredLateByCarrier`\" - \"`productArrivedDamaged`\" ",
          "type": "string"
        },
        "shipping": {
          "$ref": "OrdersCustomBatchRequestEntryRefundItemShipping",
          "description": "The refund on shipping. Optional, but either Item or Shipping must be provided in the request."
        },
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrdersRefundItemRequest"
    },
    "OrderreturnsProcessResponse": {
      "type": "object",
      "id": "OrderreturnsProcessResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreturnsProcessResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      }
    },
    "OrdersInStoreRefundLineItemRequest": {
      "properties": {
        "priceAmount": {
          "$ref": "Price",
          "description": "The amount to be refunded. This may be pre-tax or post-tax depending on the location of the order. Required."
        },
        "lineItemId": {
          "description": "The ID of the line item to return. Either lineItemId or productId is required.",
          "type": "string"
        },
        "reason": {
          "description": "The reason for the return. Acceptable values are: - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`other`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`qualityNotAsExpected`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" ",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to return. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "taxAmount": {
          "description": "The amount of tax to be refunded. Required.",
          "$ref": "Price"
        },
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "quantity": {
          "type": "integer",
          "format": "uint32",
          "description": "The quantity to return and refund."
        }
      },
      "id": "OrdersInStoreRefundLineItemRequest",
      "type": "object"
    },
    "OrderCustomerMarketingRightsInfo": {
      "type": "object",
      "properties": {
        "explicitMarketingPreference": {
          "description": "Last known customer selection regarding marketing preferences. In certain cases this selection might not be known, so this field would be empty. If a customer selected `granted` in their most recent order, they can be subscribed to marketing emails. Customers who have chosen `denied` must not be subscribed, or must be unsubscribed if already opted-in. Acceptable values are: - \"`denied`\" - \"`granted`\" ",
          "type": "string"
        },
        "marketingEmailAddress": {
          "description": "Email address that can be used for marketing purposes. The field may be empty even if `explicitMarketingPreference` is 'granted'. This happens when retrieving an old order from the customer who deleted their account.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "Timestamp when last time marketing preference was updated. Could be empty, if user wasn't offered a selection yet."
        }
      },
      "id": "OrderCustomerMarketingRightsInfo"
    },
    "OrderShipmentLineItemShipment": {
      "properties": {
        "quantity": {
          "description": "The quantity that is shipped.",
          "type": "integer",
          "format": "uint32"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to ship. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item that is shipped. This value is assigned by Google when an order is created. Either lineItemId or productId is required."
        }
      },
      "type": "object",
      "id": "OrderShipmentLineItemShipment"
    },
    "PickupCarrierService": {
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "The name of the pickup service (e.g., `\"Access point\"`). Required."
        },
        "carrierName": {
          "description": "The name of the pickup carrier (e.g., `\"UPS\"`). Required.",
          "type": "string"
        }
      },
      "id": "PickupCarrierService",
      "type": "object"
    },
    "ProductTax": {
      "type": "object",
      "id": "ProductTax",
      "properties": {
        "locationId": {
          "format": "int64",
          "description": "The numeric ID of a location that the tax rate applies to as defined in the AdWords API.",
          "type": "string"
        },
        "rate": {
          "type": "number",
          "format": "double",
          "description": "The percentage of tax rate that applies to the item price."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code range that the tax rate applies to, represented by a ZIP code, a ZIP code prefix using * wildcard, a range between two ZIP codes or two ZIP code prefixes of equal length. Examples: 94114, 94*, 94002-95460, 94*-95*."
        },
        "region": {
          "type": "string",
          "description": "The geographic region to which the tax rate applies."
        },
        "taxShip": {
          "type": "boolean",
          "description": "Should be set to true if tax is charged on shipping."
        },
        "country": {
          "description": "The country within which the item is taxed, specified as a CLDR territory code.",
          "type": "string"
        }
      }
    },
    "Product": {
      "properties": {
        "adsGrouping": {
          "description": "Used to group items in an arbitrary way. Only for CPA%, discouraged otherwise.",
          "type": "string"
        },
        "displayAdsTitle": {
          "type": "string",
          "description": "Title of an item for dynamic remarketing campaigns."
        },
        "shippingHeight": {
          "description": "Height of the item for shipping.",
          "$ref": "ProductShippingDimension"
        },
        "material": {
          "description": "The material of which the item is made.",
          "type": "string"
        },
        "sellOnGoogleQuantity": {
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products.",
          "type": "string",
          "format": "int64"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number (GTIN) of the item."
        },
        "link": {
          "type": "string",
          "description": "URL directly linking to your item's page on your website."
        },
        "offerId": {
          "type": "string",
          "description": "Required. A unique identifier for the item. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. Only valid unicode characters are accepted. See the products feed specification for details. *Note:* Content API methods that operate on products take the REST ID of the product, *not* this identifier."
        },
        "transitTimeLabel": {
          "type": "string",
          "description": "The transit time label of the product, used to group product in account-level transit time tables."
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number (MPN) of the item."
        },
        "sizeType": {
          "description": "The cut of the item. Recommended for apparel items.",
          "type": "string"
        },
        "imageLink": {
          "type": "string",
          "description": "URL of an image of the item."
        },
        "mobileLink": {
          "type": "string",
          "description": "URL for the mobile-optimized version of your item's landing page."
        },
        "minEnergyEfficiencyClass": {
          "type": "string",
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
        },
        "installment": {
          "$ref": "Installment",
          "description": "Number and amount of installments to pay for an item."
        },
        "ageGroup": {
          "description": "Target age group of the item.",
          "type": "string"
        },
        "identifierExists": {
          "type": "boolean",
          "description": "False when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Required according to the Unique Product Identifier Rules for all target countries except for Canada."
        },
        "shippingLength": {
          "description": "Length of the item for shipping.",
          "$ref": "ProductShippingDimension"
        },
        "availabilityDate": {
          "description": "The day a pre-ordered product becomes available for delivery, in ISO 8601 format.",
          "type": "string"
        },
        "source": {
          "description": "The source of the offer, i.e., how the offer was created. Acceptable values are: - \"`api`\" - \"`crawl`\" - \"`feed`\" ",
          "type": "string"
        },
        "sizes": {
          "items": {
            "type": "string"
          },
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value (see size definition).",
          "type": "array"
        },
        "pattern": {
          "type": "string",
          "description": "The item's pattern (e.g. polka dots)."
        },
        "displayAdsId": {
          "type": "string",
          "description": "An identifier for an item for dynamic remarketing campaigns."
        },
        "taxCategory": {
          "type": "string",
          "description": "The tax category of the product, used to configure detailed tax nexus in account-level tax settings."
        },
        "salePriceEffectiveDate": {
          "type": "string",
          "description": "Date range during which the item is on sale (see products data specification )."
        },
        "multipack": {
          "format": "int64",
          "type": "string",
          "description": "The number of identical products in a merchant-defined multipack."
        },
        "customLabel3": {
          "type": "string",
          "description": "Custom label 3 for custom grouping of items in a Shopping campaign."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "minHandlingTime": {
          "type": "string",
          "description": "Minimal product handling time (in business days).",
          "format": "int64"
        },
        "customLabel2": {
          "description": "Custom label 2 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "productHighlights": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant highlights of a product."
        },
        "shippingLabel": {
          "type": "string",
          "description": "The shipping label of the product, used to group product in account-level shipping rules."
        },
        "title": {
          "type": "string",
          "description": "Title of the item."
        },
        "loyaltyPoints": {
          "description": "Loyalty points that users receive after purchasing the item. Japan only.",
          "$ref": "LoyaltyPoints"
        },
        "excludedDestinations": {
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gender": {
          "type": "string",
          "description": "Target gender of the item."
        },
        "unitPricingMeasure": {
          "$ref": "ProductUnitPricingMeasure",
          "description": "The measure and dimension of an item."
        },
        "taxes": {
          "type": "array",
          "items": {
            "$ref": "ProductTax"
          },
          "description": "Tax information."
        },
        "description": {
          "type": "string",
          "description": "Description of the item."
        },
        "price": {
          "description": "Price of the item.",
          "$ref": "Price"
        },
        "shippingWeight": {
          "description": "Weight of the item for shipping.",
          "$ref": "ProductShippingWeight"
        },
        "unitPricingBaseMeasure": {
          "description": "The preference of the denominator of the unit price.",
          "$ref": "ProductUnitPricingBaseMeasure"
        },
        "id": {
          "description": "The REST ID of the product. Content API methods that operate on products take this as their `productId` parameter. The REST ID for a product is of the form channel:contentLanguage: targetCountry: offerId.",
          "type": "string"
        },
        "customLabel0": {
          "description": "Custom label 0 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "sizeSystem": {
          "description": "System in which the size is specified. Recommended for apparel items.",
          "type": "string"
        },
        "includedDestinations": {
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalImageLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional URLs of images of the item.",
          "type": "array"
        },
        "maxEnergyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "isBundle": {
          "description": "Whether the item is a merchant-defined bundle. A bundle is a custom grouping of different products sold by a merchant for a single price.",
          "type": "boolean"
        },
        "displayAdsSimilarIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Advertiser-specified recommendations."
        },
        "maxHandlingTime": {
          "format": "int64",
          "description": "Maximal product handling time (in business days).",
          "type": "string"
        },
        "adsLabels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Similar to ads_grouping, but only works on CPC."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#product`\"",
          "type": "string"
        },
        "expirationDate": {
          "type": "string",
          "description": "Date on which the item should expire, as specified upon insertion, in ISO 8601 format. The actual expiration date in Google Shopping is exposed in `productstatuses` as `googleExpirationDate` and might be earlier if `expirationDate` is too far in the future."
        },
        "energyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "promotionIds": {
          "description": "The unique ID of a promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "googleProductCategory": {
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API.",
          "type": "string"
        },
        "displayAdsLink": {
          "description": "URL directly to your item's landing page for dynamic remarketing campaigns.",
          "type": "string"
        },
        "shippingWidth": {
          "$ref": "ProductShippingDimension",
          "description": "Width of the item for shipping."
        },
        "availability": {
          "description": "Availability status of the item.",
          "type": "string"
        },
        "customLabel1": {
          "description": "Custom label 1 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "displayAdsValue": {
          "description": "Offer margin for dynamic remarketing campaigns.",
          "format": "double",
          "type": "number"
        },
        "color": {
          "type": "string",
          "description": "Color of the item."
        },
        "adsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product Ads."
        },
        "canonicalLink": {
          "type": "string",
          "description": "URL for the canonical version of your item's landing page."
        },
        "customLabel4": {
          "description": "Custom label 4 for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "itemGroupId": {
          "type": "string",
          "description": "Shared identifier for all variants of the same product."
        },
        "brand": {
          "description": "Brand of the item.",
          "type": "string"
        },
        "productDetails": {
          "items": {
            "$ref": "ProductProductDetail"
          },
          "type": "array",
          "description": "Technical specification or additional product details."
        },
        "productTypes": {
          "description": "Categories of the item (formatted as in products data specification).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "costOfGoodsSold": {
          "description": "Cost of goods sold. Used for gross profit reporting.",
          "$ref": "Price"
        },
        "shoppingAdsExcludedCountries": {
          "description": "List of country codes (ISO 3166-1 alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in MC feed settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "condition": {
          "description": "Condition or state of the item.",
          "type": "string"
        },
        "channel": {
          "description": "Required. The item's channel (online or local). Acceptable values are: - \"`local`\" - \"`online`\" ",
          "type": "string"
        },
        "subscriptionCost": {
          "description": "Number of periods (months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "ProductSubscriptionCost"
        },
        "salePrice": {
          "description": "Advertised sale price of the item.",
          "$ref": "Price"
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the feed specification in its generic form (e.g., `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google (formerly known as Shopping Actions)."
        },
        "adult": {
          "type": "boolean",
          "description": "Should be set to true if the item is targeted towards adults."
        },
        "shipping": {
          "type": "array",
          "items": {
            "$ref": "ProductShipping"
          },
          "description": "Shipping rules."
        }
      },
      "type": "object",
      "id": "Product",
      "description": " Required product attributes are primarily defined by the products data specification. See the Products Data Specification Help Center article for information. Some attributes are country-specific, so make sure you select the appropriate country in the drop-down selector at the top of the page. Product data. After inserting, updating, or deleting a product, it may take several minutes before changes take effect."
    },
    "LocalinventoryCustomBatchResponseEntry": {
      "id": "LocalinventoryCustomBatchResponseEntry",
      "description": "Batch entry encoding a single local inventory update response.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localinventoryCustomBatchResponseEntry`\"",
          "type": "string"
        },
        "errors": {
          "description": "A list of errors defined if and only if the request failed.",
          "$ref": "Errors"
        },
        "batchId": {
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "LiaCountrySettings": {
      "id": "LiaCountrySettings",
      "properties": {
        "hostedLocalStorefrontActive": {
          "type": "boolean",
          "description": "The status of the \"Merchant hosted local storefront\" feature."
        },
        "storePickupActive": {
          "description": "The status of the \"Store pickup\" feature.",
          "type": "boolean"
        },
        "onDisplayToOrder": {
          "$ref": "LiaOnDisplayToOrderSettings",
          "description": "LIA \"On Display To Order\" settings."
        },
        "country": {
          "type": "string",
          "description": "Required. CLDR country code (e.g. \"US\")."
        },
        "about": {
          "description": "The settings for the About page.",
          "$ref": "LiaAboutPageSettings"
        },
        "inventory": {
          "$ref": "LiaInventorySettings",
          "description": "LIA inventory verification settings."
        },
        "posDataProvider": {
          "description": "The POS data provider linked with this country.",
          "$ref": "LiaPosDataProvider"
        }
      },
      "type": "object"
    },
    "OrdersAcknowledgeRequest": {
      "type": "object",
      "id": "OrdersAcknowledgeRequest",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        }
      }
    },
    "OrdersUpdateMerchantOrderIdResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateMerchantOrderIdResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      },
      "id": "OrdersUpdateMerchantOrderIdResponse",
      "type": "object"
    },
    "ReturnpolicyCustomBatchRequestEntry": {
      "id": "ReturnpolicyCustomBatchRequestEntry",
      "properties": {
        "returnPolicyId": {
          "description": "The return policy ID. This should be set only if the method is `delete` or `get`.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "Method of the batch request entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" "
        },
        "merchantId": {
          "description": "The Merchant Center account ID.",
          "type": "string",
          "format": "uint64"
        },
        "batchId": {
          "type": "integer",
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32"
        },
        "returnPolicy": {
          "$ref": "ReturnPolicy",
          "description": "The return policy to submit. This should be set only if the method is `insert`."
        }
      },
      "type": "object"
    },
    "ProductsCustomBatchRequest": {
      "type": "object",
      "id": "ProductsCustomBatchRequest",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "ProductsCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch."
        }
      }
    },
    "OrdersRejectReturnLineItemResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersRejectReturnLineItemResponse\"."
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      },
      "id": "OrdersRejectReturnLineItemResponse"
    },
    "LiaPosDataProvider": {
      "type": "object",
      "id": "LiaPosDataProvider",
      "properties": {
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS data provider.",
          "type": "string"
        },
        "posDataProviderId": {
          "type": "string",
          "description": "The ID of the POS data provider.",
          "format": "uint64"
        }
      }
    },
    "PosSaleResponse": {
      "properties": {
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posSaleResponse\".",
          "type": "string"
        },
        "quantity": {
          "description": "Required. The relative change of the available quantity. Negative for items returned.",
          "format": "int64",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "saleId": {
          "type": "string",
          "description": "A unique ID to group items from the same sale event."
        },
        "price": {
          "description": "Required. The price of the item.",
          "$ref": "Price"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business.",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        }
      },
      "id": "PosSaleResponse",
      "type": "object"
    },
    "OrderreturnsListResponse": {
      "id": "OrderreturnsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreturnsListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of returns."
        },
        "resources": {
          "items": {
            "$ref": "MerchantOrderReturn"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomAttribute": {
      "id": "CustomAttribute",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute. Underscores will be replaced by spaces upon insertion."
        },
        "groupValues": {
          "type": "array",
          "description": "Subattributes within this attribute group. Exactly one of value or groupValues must be provided.",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "value": {
          "description": "The value of the attribute.",
          "type": "string"
        }
      }
    },
    "AccountStatusItemLevelIssue": {
      "type": "object",
      "properties": {
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "numItems": {
          "description": "Number of items with this issue.",
          "format": "int64",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "servability": {
          "type": "string",
          "description": "How this issue affects serving of the offer."
        },
        "code": {
          "type": "string",
          "description": "The error code of the issue."
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "attributeName": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        }
      },
      "id": "AccountStatusItemLevelIssue"
    },
    "AccountsAuthInfoResponse": {
      "id": "AccountsAuthInfoResponse",
      "type": "object",
      "properties": {
        "accountIdentifiers": {
          "description": "The account identifiers corresponding to the authenticated user. - For an individual account: only the merchant ID is defined - For an aggregator: only the aggregator ID is defined - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined. ",
          "items": {
            "$ref": "AccountIdentifier"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsAuthInfoResponse\".",
          "type": "string"
        }
      }
    },
    "LiaInventorySettings": {
      "type": "object",
      "properties": {
        "inventoryVerificationContactStatus": {
          "type": "string",
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "inventoryVerificationContactName": {
          "description": "The name of the contact for the inventory verification process.",
          "type": "string"
        },
        "inventoryVerificationContactEmail": {
          "description": "The email of the contact for the inventory verification process.",
          "type": "string"
        },
        "status": {
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        }
      },
      "id": "LiaInventorySettings"
    },
    "ProductsCustomBatchResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#productsCustomBatchResponse\"."
        },
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "type": "array",
          "items": {
            "$ref": "ProductsCustomBatchResponseEntry"
          }
        }
      },
      "type": "object",
      "id": "ProductsCustomBatchResponse"
    },
    "TestOrderLineItemProduct": {
      "properties": {
        "variantAttributes": {
          "items": {
            "$ref": "OrderLineItemProductVariantAttribute"
          },
          "type": "array",
          "description": "Variant attributes for the item. Optional."
        },
        "title": {
          "description": "Required. The title of the product.",
          "type": "string"
        },
        "fees": {
          "items": {
            "$ref": "OrderLineItemProductFee"
          },
          "type": "array",
          "description": "Fees for the item. Optional."
        },
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory // code of the target country of the product."
        },
        "imageLink": {
          "description": "Required. URL of an image of the item.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item. Acceptable values are: - \"`en`\" - \"`fr`\" ",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number (GTIN) of the item. Optional.",
          "type": "string"
        },
        "condition": {
          "description": "Required. Condition or state of the item. Acceptable values are: - \"`new`\" ",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "Required. Brand of the item."
        },
        "offerId": {
          "type": "string",
          "description": "Required. An identifier of the item."
        },
        "itemGroupId": {
          "type": "string",
          "description": "Shared identifier for all variants of the same product. Optional."
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number (MPN) of the item. Optional."
        },
        "price": {
          "description": "Required. The price for the product. Tax is automatically calculated for orders where marketplace facilitator tax laws are applicable. Otherwise, tax settings from Merchant Center are applied.",
          "$ref": "Price"
        }
      },
      "id": "TestOrderLineItemProduct",
      "type": "object"
    },
    "OrdersReturnRefundLineItemRequest": {
      "properties": {
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "priceAmount": {
          "$ref": "Price",
          "description": "The amount to be refunded. This may be pre-tax or post-tax depending on the location of the order. If omitted, refundless return is assumed."
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to return. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "quantity": {
          "format": "uint32",
          "type": "integer",
          "description": "The quantity to return and refund. Quantity is required."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the return. Acceptable values are: - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`other`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`qualityNotAsExpected`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" "
        },
        "taxAmount": {
          "$ref": "Price",
          "description": "The amount of tax to be refunded. Optional, but if filled, then priceAmount must be set. Calculated automatically if not provided."
        },
        "operationId": {
          "description": "The ID of the operation. Unique across all operations for a given order.",
          "type": "string"
        },
        "lineItemId": {
          "type": "string",
          "description": "The ID of the line item to return. Either lineItemId or productId is required."
        }
      },
      "type": "object",
      "id": "OrdersReturnRefundLineItemRequest"
    },
    "ListCssesResponse": {
      "type": "object",
      "description": "The response message for the `ListCsses` method",
      "id": "ListCssesResponse",
      "properties": {
        "csses": {
          "items": {
            "$ref": "Css"
          },
          "type": "array",
          "description": "The CSS domains affiliated with the specified CSS group."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption": {
      "id": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional description of the refund reason."
        },
        "reason": {
          "description": "[required] Reason for the refund. Acceptable values are: - \"`adjustment`\" - \"`autoPostInternal`\" - \"`autoPostInvalidBillingAddress`\" - \"`autoPostNoInventory`\" - \"`autoPostPriceError`\" - \"`autoPostUndeliverableShippingAddress`\" - \"`couponAbuse`\" - \"`courtesyAdjustment`\" - \"`customerCanceled`\" - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`customerSupportRequested`\" - \"`deliveredLateByCarrier`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`failToPushOrderGoogleError`\" - \"`failToPushOrderMerchantError`\" - \"`failToPushOrderMerchantFulfillmentError`\" - \"`failToPushOrderToMerchant`\" - \"`failToPushOrderToMerchantOutOfStock`\" - \"`feeAdjustment`\" - \"`invalidCoupon`\" - \"`lateShipmentCredit`\" - \"`malformedShippingAddress`\" - \"`merchantDidNotShipOnTime`\" - \"`noInventory`\" - \"`orderTimeout`\" - \"`other`\" - \"`paymentAbuse`\" - \"`paymentDeclined`\" - \"`priceAdjustment`\" - \"`priceError`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`promoReallocation`\" - \"`qualityNotAsExpected`\" - \"`returnRefundAbuse`\" - \"`shippingCostAdjustment`\" - \"`shippingPriceError`\" - \"`taxAdjustment`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatafeedstatusesCustomBatchRequestEntry": {
      "properties": {
        "datafeedId": {
          "description": "The ID of the data feed to get.",
          "type": "string",
          "format": "uint64"
        },
        "merchantId": {
          "type": "string",
          "description": "The ID of the managing account.",
          "format": "uint64"
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" ",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that for multi-target datafeeds this parameter is required."
        },
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "An entry ID, unique within the batch request."
        },
        "country": {
          "type": "string",
          "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that for multi-target datafeeds this parameter is required."
        }
      },
      "type": "object",
      "description": "A batch entry encoding a single non-batch datafeedstatuses request.",
      "id": "DatafeedstatusesCustomBatchRequestEntry"
    },
    "AccountsLinkResponse": {
      "id": "AccountsLinkResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsLinkResponse\"."
        }
      },
      "type": "object"
    },
    "ListRepricingProductReportsResponse": {
      "id": "ListRepricingProductReportsResponse",
      "description": "Response message for the ListRepricingProductReports method.",
      "properties": {
        "nextPageToken": {
          "description": "A token for retrieving the next page. Its absence means there is no subsequent page.",
          "type": "string"
        },
        "repricingProductReports": {
          "description": "Periodic reports for the given Repricing product.",
          "items": {
            "$ref": "RepricingProductReport"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ShipmentInvoiceLineItemInvoice": {
      "properties": {
        "shipmentUnitIds": {
          "items": {
            "type": "string"
          },
          "description": "[required] The shipment unit ID is assigned by the merchant and defines individual quantities within a line item. The same ID can be assigned to units that are the same while units that differ must be assigned a different ID (for example: free or promotional units).",
          "type": "array"
        },
        "unitInvoice": {
          "$ref": "UnitInvoice",
          "description": "[required] Invoice details for a single unit."
        },
        "lineItemId": {
          "description": "ID of the line item. Either lineItemId or productId must be set.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "ID of the product. This is the REST ID used in the products service. Either lineItemId or productId must be set."
        }
      },
      "id": "ShipmentInvoiceLineItemInvoice",
      "type": "object"
    },
    "OrderinvoicesCreateChargeInvoiceRequest": {
      "id": "OrderinvoicesCreateChargeInvoiceRequest",
      "type": "object",
      "properties": {
        "invoiceId": {
          "type": "string",
          "description": "[required] The ID of the invoice."
        },
        "lineItemInvoices": {
          "description": "[required] Invoice details per line item.",
          "type": "array",
          "items": {
            "$ref": "ShipmentInvoiceLineItemInvoice"
          }
        },
        "shipmentGroupId": {
          "description": "[required] ID of the shipment group. It is assigned by the merchant in the `shipLineItems` method and is used to group multiple line items that have the same kind of shipping charges.",
          "type": "string"
        },
        "invoiceSummary": {
          "description": "[required] Invoice summary.",
          "$ref": "InvoiceSummary"
        },
        "operationId": {
          "description": "[required] The ID of the operation, unique across all operations for a given order.",
          "type": "string"
        }
      }
    },
    "OrderTrackingSignalLineItemDetails": {
      "type": "object",
      "description": "The line items of the order.",
      "properties": {
        "lineItemId": {
          "type": "string",
          "description": "Required. The ID for this line item."
        },
        "productId": {
          "type": "string",
          "description": "Required. The Content API REST ID of the product, in the form channel:contentLanguage:targetCountry:offerId."
        },
        "mpn": {
          "description": "The manufacturer part number.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Required. The quantity of the line item in the order."
        },
        "gtin": {
          "type": "string",
          "description": "The Global Trade Item Number."
        }
      },
      "id": "OrderTrackingSignalLineItemDetails"
    },
    "ShipmentInvoice": {
      "type": "object",
[...]
