{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "canonicalName": "Shopping Content",
  "title": "Content API for Shopping",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "version": "v2.1",
  "fullyEncodeReservedExpansion": true,
  "revision": "20210210",
  "id": "content:v2.1",
  "name": "content",
  "basePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "baseUrl": "https://shoppingcontent.googleapis.com/",
  "servicePath": "",
  "description": "Manage your product listings and accounts for Google Shopping",
  "protocol": "rest",
  "resources": {
    "orderinvoices": {
      "methods": {
        "createchargeinvoice": {
          "description": "Creates a charge invoice for a shipment group, and triggers a charge capture for orderinvoice enabled orders.",
          "httpMethod": "POST",
          "id": "content.orderinvoices.createchargeinvoice",
          "parameters": {
            "orderId": {
              "location": "path",
              "description": "The ID of the order.",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "response": {
            "$ref": "OrderinvoicesCreateChargeInvoiceResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "request": {
            "$ref": "OrderinvoicesCreateChargeInvoiceRequest"
          }
        },
        "createrefundinvoice": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a refund invoice for one or more shipment groups, and triggers a refund for orderinvoice enabled orders. This can only be used for line items that have previously been charged using `createChargeInvoice`. All amounts (except for the summary) are incremental with respect to the previous invoice.",
          "path": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "id": "content.orderinvoices.createrefundinvoice",
          "flatPath": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "response": {
            "$ref": "OrderinvoicesCreateRefundInvoiceResponse"
          },
          "parameters": {
            "orderId": {
              "required": true,
              "location": "path",
              "description": "The ID of the order.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "OrderinvoicesCreateRefundInvoiceRequest"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        }
      }
    },
    "repricingrules": {
      "resources": {
        "repricingreports": {
          "methods": {
            "list": {
              "path": "content/v2.1/{merchantId}/repricingrules/{ruleId}/repricingreports",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListRepricingRuleReportsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of daily reports to return. Each report includes data from a single 24-hour period. The page size defaults to 50 and values above 1000 are coerced to 1000. This service may return fewer days than this value, for example, if the time between your start and end date is less than page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "endDate": {
                  "location": "query",
                  "type": "string",
                  "description": "Gets Repricing reports on and before this date in the merchant's timezone. You can only retrieve data up to 7 days ago (default) or earlier. Format: YYYY-MM-DD."
                },
                "merchantId": {
                  "required": true,
                  "description": "Required. Id of the merchant who owns the Repricing rule.",
                  "format": "int64",
                  "type": "string",
                  "location": "path"
                },
                "startDate": {
                  "location": "query",
                  "type": "string",
                  "description": "Gets Repricing reports on and after this date in the merchant's timezone, up to one year ago. Do not use a start date later than 7 days ago (default). Format: YYYY-MM-DD."
                },
                "pageToken": {
                  "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "ruleId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Id of the Repricing rule.",
                  "required": true
                }
              },
              "id": "content.repricingrules.repricingreports.list",
              "parameterOrder": [
                "merchantId",
                "ruleId"
              ],
              "httpMethod": "GET",
              "flatPath": "content/v2.1/{merchantId}/repricingrules/{ruleId}/repricingreports",
              "description": "Lists the metrics report for a given Repricing rule."
            }
          }
        }
      },
      "methods": {
        "patch": {
          "flatPath": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "response": {
            "$ref": "RepricingRule"
          },
          "path": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The id of the merchant who owns the repricing rule.",
              "location": "path"
            },
            "ruleId": {
              "type": "string",
              "description": "Required. The id of the rule to update.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Updates a repricing rule in your Merchant Center account. All mutable fields will be overwritten in each update request. In each update, you must provide all required mutable fields, or an error will be thrown. If you do not provide an optional field in the update request, if that field currently exists, it will be deleted from the rule.",
          "parameterOrder": [
            "merchantId",
            "ruleId"
          ],
          "request": {
            "$ref": "RepricingRule"
          },
          "id": "content.repricingrules.patch",
          "httpMethod": "PATCH"
        },
        "delete": {
          "parameters": {
            "merchantId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The id of the merchant who owns the repricing rule."
            },
            "ruleId": {
              "location": "path",
              "description": "Required. The id of the rule to Delete.",
              "type": "string",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "description": "Deletes a repricing rule in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "id": "content.repricingrules.delete",
          "parameterOrder": [
            "merchantId",
            "ruleId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "Required. The id of the merchant who owns the repricing rule.",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "ruleId": {
              "location": "path",
              "required": true,
              "description": "Required. The id of the rule to retrieve.",
              "type": "string"
            }
          },
          "id": "content.repricingrules.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "ruleId"
          ],
          "path": "content/v2.1/{merchantId}/repricingrules/{ruleId}",
          "response": {
            "$ref": "RepricingRule"
          },
          "description": "Retrieves a repricing rule from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/repricingrules/{ruleId}"
        },
        "list": {
          "response": {
            "$ref": "ListRepricingRulesResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the repricing rules in your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Required. The id of the merchant who owns the repricing rule."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of repricing rules to return. The service may return fewer than this value. If unspecified, at most 50 rules will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32"
            },
            "languageCode": {
              "location": "query",
              "description": "The two-letter ISO 639-1 language code associated with the repricing rule, used as a filter.",
              "type": "string"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListRepricingRules` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRepricingRules` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "countryCode": {
              "location": "query",
              "description": "CLDR country code (e.g. \"US\"), used as a filter on repricing rules.",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/repricingrules",
          "flatPath": "content/v2.1/{merchantId}/repricingrules",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "id": "content.repricingrules.list"
        },
        "create": {
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "Required. The id of the merchant who owns the repricing rule.",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "ruleId": {
              "description": "Required. The id of the rule to create.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/repricingrules",
          "path": "content/v2.1/{merchantId}/repricingrules",
          "id": "content.repricingrules.create",
          "parameterOrder": [
            "merchantId"
          ],
          "request": {
            "$ref": "RepricingRule"
          },
          "description": "Creates a repricing rule for your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "RepricingRule"
          },
          "httpMethod": "POST"
        }
      }
    },
    "datafeedstatuses": {
      "methods": {
        "get": {
          "flatPath": "content/v2.1/{merchantId}/datafeedstatuses/{datafeedId}",
          "parameterOrder": [
            "merchantId",
            "datafeedId"
          ],
          "description": "Retrieves the status of a datafeed from your Merchant Center account.",
          "httpMethod": "GET",
          "id": "content.datafeedstatuses.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "DatafeedStatus"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the datafeed. This account cannot be a multi-client account."
            },
            "country": {
              "description": "The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "language": {
              "description": "The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.",
              "location": "query",
              "type": "string"
            },
            "datafeedId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the datafeed."
            }
          },
          "path": "content/v2.1/{merchantId}/datafeedstatuses/{datafeedId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "DatafeedstatusesListResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/datafeedstatuses",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the datafeeds. This account cannot be a multi-client account.",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of products to return in the response, used for paging."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
          "path": "content/v2.1/{merchantId}/datafeedstatuses",
          "id": "content.datafeedstatuses.list",
          "httpMethod": "GET"
        },
        "custombatch": {
          "parameters": {},
          "response": {
            "$ref": "DatafeedstatusesCustomBatchResponse"
          },
          "description": "Gets multiple Merchant Center datafeed statuses in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/datafeedstatuses/batch",
          "path": "content/v2.1/datafeedstatuses/batch",
          "httpMethod": "POST",
          "id": "content.datafeedstatuses.custombatch",
          "request": {
            "$ref": "DatafeedstatusesCustomBatchRequest"
          },
          "parameterOrder": []
        }
      }
    },
    "productstatuses": {
      "methods": {
        "list": {
          "description": "Lists the statuses of the products in your Merchant Center account.",
          "httpMethod": "GET",
          "parameters": {
            "destinations": {
              "location": "query",
              "type": "string",
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of product statuses to return in the response, used for paging.",
              "type": "integer"
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "format": "uint64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2.1/{merchantId}/productstatuses",
          "id": "content.productstatuses.list",
          "flatPath": "content/v2.1/{merchantId}/productstatuses",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ProductstatusesListResponse"
          }
        },
        "get": {
          "flatPath": "content/v2.1/{merchantId}/productstatuses/{productId}",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "location": "path"
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "productId": {
              "description": "The REST ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "id": "content.productstatuses.get",
          "path": "content/v2.1/{merchantId}/productstatuses/{productId}",
          "httpMethod": "GET",
          "description": "Gets the status of a product from your Merchant Center account.",
          "response": {
            "$ref": "ProductStatus"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "description": "Gets the statuses of multiple products in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ProductstatusesCustomBatchResponse"
          },
          "path": "content/v2.1/productstatuses/batch",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "content/v2.1/productstatuses/batch",
          "request": {
            "$ref": "ProductstatusesCustomBatchRequest"
          },
          "parameters": {},
          "id": "content.productstatuses.custombatch"
        }
      },
      "resources": {
        "repricingreports": {
          "methods": {
            "list": {
              "parameterOrder": [
                "merchantId",
                "productId"
              ],
              "parameters": {
                "endDate": {
                  "description": "Gets Repricing reports on and before this date in the merchant's timezone. You can only retrieve data up to 7 days ago (default) or earlier. Format is YYYY-MM-DD.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of days of reports to return. There can be more than one rule report returned per day. For example, if 3 rule types got applied to the same product within a 24-hour period, then a page_size of 1 will return 3 rule reports. The page size defaults to 50 and values above 1000 are coerced to 1000. This service may return fewer days of reports than this value, for example, if the time between your start and end date is less than the page size."
                },
                "startDate": {
                  "location": "query",
                  "type": "string",
                  "description": "Gets Repricing reports on and after this date in the merchant's timezone, up to one year ago. Do not use a start date later than 7 days ago (default). Format is YYYY-MM-DD."
                },
                "ruleId": {
                  "type": "string",
                  "location": "query",
                  "description": "Id of the Repricing rule. If specified, only gets this rule's reports."
                },
                "productId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Id of the Repricing product. Also known as the [REST_ID](https://developers.google.com/shopping-content/reference/rest/v2.1/products#Product.FIELDS.id)",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Token (if provided) to retrieve the subsequent page. All other parameters must match the original call that provided the page token.",
                  "type": "string"
                },
                "merchantId": {
                  "location": "path",
                  "description": "Required. Id of the merchant who owns the Repricing rule.",
                  "type": "string",
                  "format": "int64",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListRepricingProductReportsResponse"
              },
              "id": "content.productstatuses.repricingreports.list",
              "flatPath": "content/v2.1/{merchantId}/productstatuses/{productId}/repricingreports",
              "path": "content/v2.1/{merchantId}/productstatuses/{productId}/repricingreports",
              "description": "Lists the metrics report for a given Repricing product.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        }
      }
    },
    "orders": {
      "methods": {
        "acknowledge": {
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/acknowledge",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "location": "path",
              "description": "The ID of the order.",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OrdersAcknowledgeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.acknowledge",
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersAcknowledgeRequest"
          },
          "description": "Marks an order as acknowledged.",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/acknowledge"
        },
        "refundorder": {
          "request": {
            "$ref": "OrdersRefundOrderRequest"
          },
          "id": "content.orders.refundorder",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/refundorder",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "httpMethod": "POST",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/refundorder",
          "description": "Issues a partial or total refund for an order.",
          "parameters": {
            "orderId": {
              "type": "string",
              "required": true,
              "description": "The ID of the order to refund.",
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OrdersRefundOrderResponse"
          }
        },
        "canceltestorderbycustomer": {
          "response": {
            "$ref": "OrdersCancelTestOrderByCustomerResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "type": "string"
            },
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the test order to cancel.",
              "required": true
            }
          },
          "id": "content.orders.canceltestorderbycustomer",
          "httpMethod": "POST",
          "description": "Sandbox only. Cancels a test order for customer-initiated cancellation.",
          "request": {
            "$ref": "OrdersCancelTestOrderByCustomerRequest"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ]
        },
        "createtestorder": {
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/testorders",
          "httpMethod": "POST",
          "flatPath": "content/v2.1/{merchantId}/testorders",
          "id": "content.orders.createtestorder",
          "request": {
            "$ref": "OrdersCreateTestOrderRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersCreateTestOrderResponse"
          },
          "description": "Sandbox only. Creates a test order.",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "updatelineitemshippingdetails": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.updatelineitemshippingdetails",
          "response": {
            "$ref": "OrdersUpdateLineItemShippingDetailsResponse"
          },
          "request": {
            "$ref": "OrdersUpdateLineItemShippingDetailsRequest"
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "required": true,
              "description": "The ID of the order.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Updates ship by and delivery by dates for a line item."
        },
        "gettestordertemplate": {
          "id": "content.orders.gettestordertemplate",
          "httpMethod": "GET",
          "description": "Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox.",
          "parameterOrder": [
            "merchantId",
            "templateName"
          ],
          "path": "content/v2.1/{merchantId}/testordertemplates/{templateName}",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "templateName": {
              "description": "The name of the template to retrieve.",
              "enum": [
                "TEMPLATE1",
                "TEMPLATE2",
                "TEMPLATE1A",
                "TEMPLATE1B",
                "TEMPLATE3",
                "TEMPLATE4"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "required": true,
              "location": "path"
            },
            "country": {
              "description": "The country of the template to retrieve. Defaults to `US`.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/testordertemplates/{templateName}",
          "response": {
            "$ref": "OrdersGetTestOrderTemplateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "shiplineitems": {
          "path": "content/v2.1/{merchantId}/orders/{orderId}/shipLineItems",
          "response": {
            "$ref": "OrdersShipLineItemsResponse"
          },
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "orderId": {
              "description": "The ID of the order.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "content.orders.shiplineitems",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/shipLineItems",
          "description": "Marks line item(s) as shipped.",
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersShipLineItemsRequest"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updatemerchantorderid": {
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/updateMerchantOrderId",
          "request": {
            "$ref": "OrdersUpdateMerchantOrderIdRequest"
          },
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/updateMerchantOrderId",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "description": "Updates the merchant order ID for a given order.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersUpdateMerchantOrderIdResponse"
          },
          "id": "content.orders.updatemerchantorderid"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersListResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/orders",
          "description": "Lists the orders in your Merchant Center account.",
          "path": "content/v2.1/{merchantId}/orders",
          "id": "content.orders.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "placedDateEnd": {
              "type": "string",
              "description": "Obtains orders placed before this date (exclusively), in ISO 8601 format.",
              "location": "query"
            },
            "placedDateStart": {
              "type": "string",
              "description": "Obtains orders placed after this date (inclusively), in ISO 8601 format.",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Order results by placement date in descending or ascending order. Acceptable values are: - placedDateAsc - placedDateDesc "
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.",
              "format": "uint32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "acknowledged": {
              "type": "boolean",
              "description": "Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged. We recommend using this filter set to `false`, in conjunction with the `acknowledge` call, such that only un-acknowledged orders are returned. ",
              "location": "query"
            },
            "statuses": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Obtains orders that match any of the specified statuses. Please note that `active` is a shortcut for `pendingShipment` and `partiallyShipped`, and `completed` is a shortcut for `shipped`, `partiallyDelivered`, `delivered`, `partiallyReturned`, `returned`, and `canceled`.",
              "enum": [
                "ACTIVE",
                "COMPLETED",
                "CANCELED",
                "IN_PROGRESS",
                "PENDING_SHIPMENT",
                "PARTIALLY_SHIPPED",
                "SHIPPED",
                "PARTIALLY_DELIVERED",
                "DELIVERED",
                "PARTIALLY_RETURNED",
                "RETURNED"
              ]
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          }
        },
        "returnrefundlineitem": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/returnRefundLineItem",
          "parameters": {
            "orderId": {
              "type": "string",
              "required": true,
              "description": "The ID of the order.",
              "location": "path"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "id": "content.orders.returnrefundlineitem",
          "request": {
            "$ref": "OrdersReturnRefundLineItemRequest"
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/returnRefundLineItem",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Returns and refunds a line item. Note that this method can only be called on fully shipped orders. Please also note that the Orderreturns API is the preferred way to handle returns after you receive a return from a customer. You can use Orderreturns.list or Orderreturns.get to search for the return, and then use Orderreturns.processreturn to issue the refund. If the return cannot be found, then we recommend using this API to issue a refund.",
          "response": {
            "$ref": "OrdersReturnRefundLineItemResponse"
          }
        },
        "instorerefundlineitem": {
          "id": "content.orders.instorerefundlineitem",
          "httpMethod": "POST",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "request": {
            "$ref": "OrdersInStoreRefundLineItemRequest"
          },
          "description": "Deprecated. Notifies that item return and refund was handled directly by merchant outside of Google payments processing (e.g. cash refund done in store). Note: We recommend calling the returnrefundlineitem method to refund in-store returns. We will issue the refund directly to the customer. This helps to prevent possible differences arising between merchant and Google transaction records. We also recommend having the point of sale system communicate with Google to ensure that customers do not receive a double refund by first refunding via Google then via an in-store return.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "orderId": {
              "location": "path",
              "required": true,
              "description": "The ID of the order.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersInStoreRefundLineItemResponse"
          }
        },
        "advancetestorder": {
          "description": "Sandbox only. Moves a test order from state \"`inProgress`\" to state \"`pendingShipment`\".",
          "parameters": {
            "orderId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the test order to modify.",
              "required": true
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.advancetestorder",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/testorders/{orderId}/advance",
          "response": {
            "$ref": "OrdersAdvanceTestOrderResponse"
          },
          "path": "content/v2.1/{merchantId}/testorders/{orderId}/advance"
        },
        "cancellineitem": {
          "id": "content.orders.cancellineitem",
          "parameters": {
            "orderId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the order."
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/cancelLineItem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "OrdersCancelLineItemResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/cancelLineItem",
          "description": "Cancels a line item, making a full refund.",
          "request": {
            "$ref": "OrdersCancelLineItemRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "setlineitemmetadata": {
          "request": {
            "$ref": "OrdersSetLineItemMetadataRequest"
          },
          "description": "Sets (or overrides if it already exists) merchant provided annotations in the form of key-value pairs. A common use case would be to supply us with additional structured information about a line item that cannot be provided via other methods. Submitted key-value pairs can be retrieved as part of the orders resource.",
          "response": {
            "$ref": "OrdersSetLineItemMetadataResponse"
          },
          "id": "content.orders.setlineitemmetadata",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/setLineItemMetadata",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "path": "content/v2.1/{merchantId}/orders/{orderId}/setLineItemMetadata",
          "parameters": {
            "orderId": {
              "location": "path",
              "description": "The ID of the order.",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          }
        },
        "get": {
          "id": "content.orders.get",
          "description": "Retrieves an order from your Merchant Center account.",
          "response": {
            "$ref": "Order"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}",
          "path": "content/v2.1/{merchantId}/orders/{orderId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "rejectreturnlineitem": {
          "path": "content/v2.1/{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "description": "Rejects return on an line item.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.rejectreturnlineitem",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "request": {
            "$ref": "OrdersRejectReturnLineItemRequest"
          },
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "OrdersRejectReturnLineItemResponse"
          }
        },
        "getbymerchantorderid": {
          "path": "content/v2.1/{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "merchantOrderId"
          ],
          "id": "content.orders.getbymerchantorderid",
          "description": "Retrieves an order using merchant order ID.",
          "response": {
            "$ref": "OrdersGetByMerchantOrderIdResponse"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "location": "path"
            },
            "merchantOrderId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The merchant order ID to be looked for."
            }
          }
        },
        "updateshipment": {
          "request": {
            "$ref": "OrdersUpdateShipmentRequest"
          },
          "response": {
            "$ref": "OrdersUpdateShipmentResponse"
          },
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "description": "Updates a shipment's status, carrier, and/or tracking ID.",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/updateShipment",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "httpMethod": "POST",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/updateShipment",
          "id": "content.orders.updateshipment",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createtestreturn": {
          "path": "content/v2.1/{merchantId}/orders/{orderId}/testreturn",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/testreturn",
          "description": "Sandbox only. Creates a test return.",
          "id": "content.orders.createtestreturn",
          "response": {
            "$ref": "OrdersCreateTestReturnResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersCreateTestReturnRequest"
          },
          "parameters": {
            "orderId": {
              "required": true,
              "type": "string",
              "description": "The ID of the order.",
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "refunditem": {
          "id": "content.orders.refunditem",
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersRefundItemRequest"
          },
          "description": "Issues a partial or total refund for items and shipment.",
          "response": {
            "$ref": "OrdersRefundItemResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/refunditem",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "location": "path"
            },
            "orderId": {
              "location": "path",
              "description": "The ID of the order to refund.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "path": "content/v2.1/{merchantId}/orders/{orderId}/refunditem"
        },
        "cancel": {
          "response": {
            "$ref": "OrdersCancelResponse"
          },
          "request": {
            "$ref": "OrdersCancelRequest"
          },
          "description": "Cancels all line items in an order, making a full refund.",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/cancel",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/cancel",
          "httpMethod": "POST",
          "id": "content.orders.cancel",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "orderId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the order to cancel."
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "delete": {
          "parameters": {
            "accountId": {
              "description": "The ID of the account.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64"
            },
            "force": {
              "type": "boolean",
              "location": "query",
              "description": "Flag to delete sub-accounts with products. The default value is false.",
              "default": "false"
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}",
          "description": "Deletes a Merchant Center sub-account.",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "id": "content.accounts.delete"
        },
        "link": {
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/link",
          "id": "content.accounts.link",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/link",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path"
            },
            "accountId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that should be linked.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountsLinkResponse"
          }
        },
        "claimwebsite": {
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/claimwebsite",
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Claims the website of a Merchant Center sub-account.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "format": "uint64",
              "location": "path"
            },
            "accountId": {
              "format": "uint64",
              "description": "The ID of the account whose website is claimed.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "overwrite": {
              "type": "boolean",
              "description": "Only available to selected merchants. When set to `True`, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account.",
              "location": "query"
            }
          },
          "id": "content.accounts.claimwebsite",
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/claimwebsite",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "label": {
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "type": "string",
              "location": "query",
              "format": "uint64"
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "view": {
              "location": "query",
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "type": "string",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            }
          },
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/accounts",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountsListResponse"
          },
          "path": "content/v2.1/{merchantId}/accounts",
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.accounts.list"
        },
        "listlinks": {
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/listlinks",
          "response": {
            "$ref": "AccountsListLinksResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of links to return in the response, used for pagination.",
              "type": "integer"
            },
            "accountId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account for which to list links."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/listlinks",
          "id": "content.accounts.listlinks",
          "httpMethod": "GET"
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Account"
          },
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "accountId": {
              "format": "uint64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the account."
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account."
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2.1/{merchantId}/accounts/{accountId}",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}",
          "id": "content.accounts.update"
        },
        "get": {
          "httpMethod": "GET",
          "path": "content/v2.1/{merchantId}/accounts/{accountId}",
          "id": "content.accounts.get",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}",
          "description": "Retrieves a Merchant Center account.",
          "parameters": {
            "view": {
              "location": "query",
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "accountId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the account."
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true
            }
          },
          "request": {
            "$ref": "Account"
          },
          "description": "Creates a Merchant Center sub-account.",
          "path": "content/v2.1/{merchantId}/accounts",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "content/v2.1/{merchantId}/accounts",
          "id": "content.accounts.insert"
        },
        "updatelabels": {
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/updatelabels",
          "parameters": {
            "accountId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "uint64",
              "description": "The ID of the account whose labels are updated."
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account."
            }
          },
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/updatelabels",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "httpMethod": "POST",
          "id": "content.accounts.updatelabels",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "authinfo": {
          "parameters": {},
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.authinfo",
          "flatPath": "content/v2.1/accounts/authinfo",
          "description": "Returns information about the authenticated user.",
          "path": "content/v2.1/accounts/authinfo"
        },
        "custombatch": {
          "id": "content.accounts.custombatch",
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {},
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "flatPath": "content/v2.1/accounts/batch",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "content/v2.1/accounts/batch"
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "delete": {
              "id": "content.accounts.labels.delete",
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "flatPath": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "httpMethod": "DELETE",
              "path": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "parameters": {
                "labelId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The id of the label to delete.",
                  "format": "int64",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The id of the account that owns the label.",
                  "required": true
                }
              }
            },
            "list": {
              "description": "Lists the labels assigned to an account.",
              "flatPath": "content/v2.1/accounts/{accountId}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The account id for whose labels are to be listed.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "content.accounts.labels.list",
              "path": "content/v2.1/accounts/{accountId}/labels"
            },
            "patch": {
              "parameters": {
                "labelId": {
                  "location": "path",
                  "description": "Required. The id of the label to update.",
                  "required": true,
                  "format": "int64",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The id of the account this label belongs to.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AccountLabel"
              },
              "description": "Updates a label.",
              "request": {
                "$ref": "AccountLabel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "flatPath": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "id": "content.accounts.labels.patch"
            },
            "create": {
              "httpMethod": "POST",
              "description": "Creates a new label, not assigned to any account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "AccountLabel"
              },
              "id": "content.accounts.labels.create",
              "flatPath": "content/v2.1/accounts/{accountId}/labels",
              "response": {
                "$ref": "AccountLabel"
              },
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The id of the account this label belongs to.",
                  "location": "path"
                }
              },
              "path": "content/v2.1/accounts/{accountId}/labels",
              "parameterOrder": [
                "accountId"
              ]
            }
          }
        },
        "returncarrier": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "id": "content.accounts.returncarrier.patch",
              "description": "Updates a return carrier in the merchant account.",
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "type": "string"
                },
                "carrierAccountId": {
                  "required": true,
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "format": "int64",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "flatPath": "content/v2.1/accounts/{accountId}/returncarrier/{carrierAccountId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "path": "content/v2.1/accounts/{accountId}/returncarrier/{carrierAccountId}"
            },
            "create": {
              "id": "content.accounts.returncarrier.create",
              "path": "content/v2.1/accounts/{accountId}/returncarrier",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "AccountReturnCarrier"
              },
              "response": {
                "$ref": "AccountReturnCarrier"
              },
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "required": true,
                  "format": "int64"
                }
              },
              "flatPath": "content/v2.1/accounts/{accountId}/returncarrier",
              "description": "Links return carrier to a merchant account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "content/v2.1/accounts/{accountId}/returncarrier",
              "id": "content.accounts.returncarrier.list",
              "path": "content/v2.1/accounts/{accountId}/returncarrier",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "ListAccountReturnCarrierResponse"
              },
              "description": "Lists available return carriers in the merchant account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "accountId": {
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              }
            },
            "delete": {
              "parameters": {
                "carrierAccountId": {
                  "required": true,
                  "description": "Required. The Google-provided unique carrier ID, used to update the resource.",
                  "location": "path",
                  "format": "int64",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The Merchant Center Account Id under which the Return Carrier is to be linked.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "description": "Delete a return carrier in the merchant account.",
              "parameterOrder": [
                "accountId",
                "carrierAccountId"
              ],
              "id": "content.accounts.returncarrier.delete",
              "flatPath": "content/v2.1/accounts/{accountId}/returncarrier/{carrierAccountId}",
              "path": "content/v2.1/accounts/{accountId}/returncarrier/{carrierAccountId}"
            }
          }
        }
      }
    },
    "accounttax": {
      "methods": {
        "get": {
          "flatPath": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountTax"
          },
          "id": "content.accounttax.get",
          "path": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "httpMethod": "GET",
          "description": "Retrieves the tax settings of the account.",
          "parameters": {
            "accountId": {
              "required": true,
              "location": "path",
              "description": "The ID of the account for which to get/update account tax settings.",
              "format": "uint64",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "format": "uint64",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ]
        },
        "update": {
          "parameters": {
            "accountId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account for which to get/update account tax settings.",
              "type": "string",
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "id": "content.accounttax.update",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "request": {
            "$ref": "AccountTax"
          },
          "flatPath": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "response": {
            "$ref": "AccountTax"
          },
          "path": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "path": "content/v2.1/{merchantId}/accounttax",
          "parameters": {
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of tax settings to return in the response, used for paging."
            }
          },
          "id": "content.accounttax.list",
          "flatPath": "content/v2.1/{merchantId}/accounttax",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "custombatch": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "id": "content.accounttax.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/accounttax/batch",
          "path": "content/v2.1/accounttax/batch",
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          }
        }
      }
    },
    "pos": {
      "methods": {
        "insert": {
          "parameters": {
            "merchantId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64"
            },
            "targetMerchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the target merchant."
            }
          },
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store",
          "response": {
            "$ref": "PosStore"
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "PosStore"
          },
          "description": "Creates a store for the given merchant."
        },
        "sale": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "PosSaleRequest"
          },
          "description": "Submit a sale event for the given merchant.",
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/sale",
          "response": {
            "$ref": "PosSaleResponse"
          },
          "parameters": {
            "targetMerchantId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/sale",
          "httpMethod": "POST",
          "id": "content.pos.sale",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ]
        },
        "list": {
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store",
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path"
            },
            "targetMerchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the target merchant.",
              "type": "string",
              "format": "uint64"
            }
          },
          "httpMethod": "GET",
          "description": "Lists the stores of the target merchant.",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "response": {
            "$ref": "PosListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.list"
        },
        "custombatch": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "PosCustomBatchResponse"
          },
          "flatPath": "content/v2.1/pos/batch",
          "id": "content.pos.custombatch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {},
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "path": "content/v2.1/pos/batch",
          "description": "Batches multiple POS-related calls in a single request."
        },
        "delete": {
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "parameters": {
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            },
            "storeCode": {
              "required": true,
              "location": "path",
              "description": "A store code that is unique per merchant.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64"
            }
          },
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.delete",
          "httpMethod": "DELETE",
          "description": "Deletes a store for the given merchant."
        },
        "inventory": {
          "description": "Submit inventory for the given merchant.",
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            },
            "targetMerchantId": {
              "type": "string",
              "location": "path",
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/inventory",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/inventory",
          "id": "content.pos.inventory",
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "id": "content.pos.get",
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "description": "Retrieves information about the given store.",
          "parameters": {
            "storeCode": {
              "type": "string",
              "description": "A store code that is unique per merchant.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "targetMerchantId": {
              "format": "uint64",
              "description": "The ID of the target merchant.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "PosStore"
          },
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "httpMethod": "GET"
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "custombatch": {
          "request": {
            "$ref": "AccountstatusesCustomBatchRequest"
          },
          "id": "content.accountstatuses.custombatch",
          "flatPath": "content/v2.1/accountstatuses/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/accountstatuses/batch",
          "description": "Retrieves multiple Merchant Center account statuses in a single request.",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "AccountstatusesCustomBatchResponse"
          },
          "httpMethod": "POST"
        },
        "get": {
          "id": "content.accountstatuses.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/accountstatuses/{accountId}",
          "parameters": {
            "destinations": {
              "location": "query",
              "repeated": true,
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "location": "path",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string"
            },
            "accountId": {
              "format": "uint64",
              "description": "The ID of the account.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/accountstatuses/{accountId}",
          "description": "Retrieves the status of a Merchant Center account. No itemLevelIssues are returned for multi-client accounts.",
          "response": {
            "$ref": "AccountStatus"
          }
        },
        "list": {
          "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "uint64",
              "description": "The ID of the managing account. This must be a multi-client account."
            },
            "destinations": {
              "description": "If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of account statuses to return in the response, used for paging.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "AccountstatusesListResponse"
          },
          "path": "content/v2.1/{merchantId}/accountstatuses",
          "flatPath": "content/v2.1/{merchantId}/accountstatuses",
          "id": "content.accountstatuses.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "shippingsettings": {
      "methods": {
        "custombatch": {
          "response": {
            "$ref": "ShippingsettingsCustomBatchResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "path": "content/v2.1/shippingsettings/batch",
          "flatPath": "content/v2.1/shippingsettings/batch",
          "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "ShippingsettingsCustomBatchRequest"
          },
          "httpMethod": "POST",
          "id": "content.shippingsettings.custombatch"
        },
        "update": {
          "description": "Updates the shipping settings of the account. Any fields that are not provided are deleted from the resource.",
          "path": "content/v2.1/{merchantId}/shippingsettings/{accountId}",
          "response": {
            "$ref": "ShippingSettings"
          },
          "flatPath": "content/v2.1/{merchantId}/shippingsettings/{accountId}",
          "parameterOrder": [
            "merchantId",
            "accountId"
[...]
