{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "baseUrl": "https://container.googleapis.com/",
  "mtlsRootUrl": "https://container.mtls.googleapis.com/",
  "protocol": "rest",
  "id": "container:v1",
  "revision": "20210205",
  "ownerDomain": "google.com",
  "rootUrl": "https://container.googleapis.com/",
  "version": "v1",
  "title": "Kubernetes Engine API",
  "ownerName": "Google",
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "schemas": {
    "UsableSubnetworkSecondaryRange": {
      "id": "UsableSubnetworkSecondaryRange",
      "description": "Secondary IP range of a usable subnetwork.",
      "properties": {
        "ipCidrRange": {
          "description": "The range of IP addresses belonging to this subnetwork secondary range.",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNKNOWN",
            "UNUSED",
            "IN_USE_SERVICE",
            "IN_USE_SHAREABLE_POD",
            "IN_USE_MANAGED_POD"
          ],
          "enumDescriptions": [
            "UNKNOWN is the zero value of the Status enum. It's not a valid status.",
            "UNUSED denotes that this range is unclaimed by any cluster.",
            "IN_USE_SERVICE denotes that this range is claimed by a cluster for services. It cannot be used for other clusters.",
            "IN_USE_SHAREABLE_POD denotes this range was created by the network admin and is currently claimed by a cluster for pods. It can only be used by other clusters as a pod range.",
            "IN_USE_MANAGED_POD denotes this range was created by GKE and is claimed for pods. It cannot be used for other clusters."
          ],
          "type": "string",
          "description": "This field is to determine the status of the secondary range programmably."
        },
        "rangeName": {
          "type": "string",
          "description": "The name associated with this subnetwork secondary range, used when adding an alias IP range to a VM instance."
        }
      },
      "type": "object"
    },
    "GetJSONWebKeysResponse": {
      "properties": {
        "cacheHeader": {
          "$ref": "HttpCacheControlResponseHeader",
          "description": "OnePlatform automatically extracts this field and uses it to set the HTTP Cache-Control header."
        },
        "keys": {
          "items": {
            "$ref": "Jwk"
          },
          "description": "The public component of the keys used by the cluster to sign token requests.",
          "type": "array"
        }
      },
      "description": "GetJSONWebKeysResponse is a valid JSON Web Key Set as specififed in rfc 7517",
      "type": "object",
      "id": "GetJSONWebKeysResponse"
    },
    "AutoUpgradeOptions": {
      "type": "object",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed.",
      "id": "AutoUpgradeOptions",
      "properties": {
        "autoUpgradeStartTime": {
          "type": "string",
          "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "description": {
          "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade.",
          "type": "string"
        }
      }
    },
    "MasterAuthorizedNetworksConfig": {
      "description": "Configuration options for the master authorized networks feature. Enabled master authorized networks will disallow all external traffic to access Kubernetes master through HTTPS except traffic from the given CIDR blocks, Google Compute Engine Public IPs and Google Prod IPs.",
      "id": "MasterAuthorizedNetworksConfig",
      "properties": {
        "enabled": {
          "description": "Whether or not master authorized networks is enabled.",
          "type": "boolean"
        },
        "cidrBlocks": {
          "type": "array",
          "description": "cidr_blocks define up to 50 external networks that could access Kubernetes master through HTTPS.",
          "items": {
            "$ref": "CidrBlock"
          }
        }
      },
      "type": "object"
    },
    "SetLegacyAbacRequest": {
      "description": "SetLegacyAbacRequest enables or disables the ABAC authorization mechanism for a cluster.",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set legacy abac. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Whether ABAC authorization will be enabled in the cluster."
        }
      },
      "type": "object",
      "id": "SetLegacyAbacRequest"
    },
    "LinuxNodeConfig": {
      "type": "object",
      "id": "LinuxNodeConfig",
      "description": "Parameters that can be configured on Linux nodes.",
      "properties": {
        "sysctls": {
          "description": "The Linux kernel parameters to be applied to the nodes and all pods running on the nodes. The following parameters are supported. net.core.netdev_max_backlog net.core.rmem_max net.core.wmem_default net.core.wmem_max net.core.optmem_max net.core.somaxconn net.ipv4.tcp_rmem net.ipv4.tcp_wmem net.ipv4.tcp_tw_reuse",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AddonsConfig": {
      "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality.",
      "type": "object",
      "id": "AddonsConfig",
      "properties": {
        "httpLoadBalancing": {
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
          "$ref": "HttpLoadBalancing"
        },
        "kubernetesDashboard": {
          "description": "Configuration for the Kubernetes Dashboard. This addon is deprecated, and will be disabled in 1.15. It is recommended to use the Cloud Console to manage and monitor your Kubernetes clusters, workloads and applications. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dashboards",
          "$ref": "KubernetesDashboard"
        },
        "cloudRunConfig": {
          "$ref": "CloudRunConfig",
          "description": "Configuration for the Cloud Run addon, which allows the user to use a managed Knative service."
        },
        "gcePersistentDiskCsiDriverConfig": {
          "$ref": "GcePersistentDiskCsiDriverConfig",
          "description": "Configuration for the Compute Engine Persistent Disk CSI driver."
        },
        "configConnectorConfig": {
          "$ref": "ConfigConnectorConfig",
          "description": "Configuration for the ConfigConnector add-on, a Kubernetes extension to manage hosted GCP services through the Kubernetes API"
        },
        "horizontalPodAutoscaling": {
          "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
          "$ref": "HorizontalPodAutoscaling"
        },
        "networkPolicyConfig": {
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes.",
          "$ref": "NetworkPolicyConfig"
        },
        "dnsCacheConfig": {
          "description": "Configuration for NodeLocalDNS, a dns cache running on cluster nodes",
          "$ref": "DnsCacheConfig"
        }
      }
    },
    "AutoprovisioningNodePoolDefaults": {
      "type": "object",
      "id": "AutoprovisioningNodePoolDefaults",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "The Google Cloud Platform Service Account to be used by the node VMs."
        },
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "bootDiskKmsKey": {
          "description": "The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption",
          "type": "string"
        },
        "minCpuPlatform": {
          "description": "Minimum CPU platform to be used for NAP created node pools. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as minCpuPlatform: Intel Haswell or minCpuPlatform: Intel Sandy Bridge. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) To unset the min cpu platform field pass \"automatic\" as field value.",
          "type": "string"
        },
        "management": {
          "description": "Specifies the node management options for NAP created node-pools.",
          "$ref": "NodeManagement"
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Specifies the upgrade settings for NAP created node pools"
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
          "type": "integer"
        },
        "oauthScopes": {
          "description": "Scopes that are used by NAP when creating node pools.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "AutoprovisioningNodePoolDefaults contains defaults for a node pool created by NAP."
    },
    "ConsumptionMeteringConfig": {
      "id": "ConsumptionMeteringConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable consumption metering for this cluster. If enabled, a second BigQuery table will be created to hold resource consumption records."
        }
      },
      "description": "Parameters for controlling consumption metering.",
      "type": "object"
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "properties": {
        "enabled": {
          "description": "Whenever master is accessible globally or not.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "description": "Configuration for controlling master global access settings."
    },
    "DailyMaintenanceWindow": {
      "description": "Time window specified for daily maintenance operations.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time within the maintenance window to start the maintenance operations. Time format should be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"HH:MM\", where HH : [00-23] and MM : [00-59] GMT."
        },
        "duration": {
          "description": "[Output only] Duration of the time window, automatically chosen to be smallest possible in the given scenario. Duration will be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) format \"PTnHnMnS\".",
          "type": "string"
        }
      },
      "id": "DailyMaintenanceWindow"
    },
    "Cluster": {
      "description": "A Google Kubernetes Engine cluster.",
      "id": "Cluster",
      "type": "object",
      "properties": {
        "resourceUsageExportConfig": {
          "description": "Configuration for exporting resource usages. Resource usage export is disabled when this config is unspecified.",
          "$ref": "ResourceUsageExportConfig"
        },
        "masterAuth": {
          "description": "The authentication information for accessing the master endpoint. If unspecified, the defaults are used: For clusters before v1.12, if master_auth is unspecified, `username` will be set to \"admin\", a random password will be generated, and a client certificate will be issued.",
          "$ref": "MasterAuth"
        },
        "databaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "clusterIpv4Cidr": {
          "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "nodeIpv4CidrSize": {
          "format": "int32",
          "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range. This field will only be set when cluster is in route-based network mode.",
          "type": "integer"
        },
        "ipAllocationPolicy": {
          "description": "Configuration for cluster IP allocation.",
          "$ref": "IPAllocationPolicy"
        },
        "location": {
          "type": "string",
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) or [region](https://cloud.google.com/compute/docs/regions-zones/regions-zones#available) in which the cluster resides."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output only] Deprecated. Use conditions instead. Additional information about the current status of this cluster, if available."
        },
        "labelFingerprint": {
          "type": "string",
          "description": "The fingerprint of the set of labels for this cluster."
        },
        "networkPolicy": {
          "$ref": "NetworkPolicy",
          "description": "Configuration options for the NetworkPolicy feature."
        },
        "initialNodeCount": {
          "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. This field is deprecated, use node_pool.initial_node_count instead.",
          "type": "integer",
          "format": "int32"
        },
        "subnetwork": {
          "description": "The name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/subnetworks) to which the cluster is connected.",
          "type": "string"
        },
        "masterAuthorizedNetworksConfig": {
          "description": "The configuration options for master authorized networks feature.",
          "$ref": "MasterAuthorizedNetworksConfig"
        },
        "network": {
          "type": "string",
          "description": "The name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used."
        },
        "defaultMaxPodsConstraint": {
          "$ref": "MaxPodsConstraint",
          "description": "The default constraint on the maximum number of pods that can be run simultaneously on a node in the node pool of this cluster. Only honored if cluster created with IP Alias support."
        },
        "name": {
          "type": "string",
          "description": "The name of this cluster. The name must be unique within this project and location (e.g. zone or region), and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter."
        },
        "currentMasterVersion": {
          "description": "[Output only] The current software version of the master endpoint.",
          "type": "string"
        },
        "verticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that some work is actively being done on the cluster, such as upgrading the master or node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is unusable. It will be automatically deleted. Details can be found in the `statusMessage` field.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality. Details can be found in the `statusMessage` field."
          ],
          "description": "[Output only] The current status of this cluster.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "legacyAbac": {
          "$ref": "LegacyAbac",
          "description": "Configuration for the legacy ABAC authorization mode."
        },
        "initialClusterVersion": {
          "description": "The initial Kubernetes version for this cluster. Valid versions are those found in validMasterVersions returned by getServerConfig. The version can be upgraded over time; such upgrades are reflected in currentMasterVersion and currentNodeVersion. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"\",\"-\": picks the default Kubernetes version",
          "type": "string"
        },
        "currentNodeCount": {
          "description": "[Output only] The number of nodes currently in the cluster. Deprecated. Call Kubernetes API directly to retrieve node information.",
          "type": "integer",
          "format": "int32"
        },
        "zone": {
          "description": "[Output only] The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field is deprecated, use location instead.",
          "type": "string"
        },
        "workloadIdentityConfig": {
          "description": "Configuration for the use of Kubernetes Service Accounts in GCP IAM policies.",
          "$ref": "WorkloadIdentityConfig"
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "conditions": {
          "description": "Which conditions caused the current cluster state.",
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array"
        },
        "enableKubernetesAlpha": {
          "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1alpha1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation.",
          "type": "boolean"
        },
        "notificationConfig": {
          "description": "Notification configuration of the cluster.",
          "$ref": "NotificationConfig"
        },
        "authenticatorGroupsConfig": {
          "description": "Configuration controlling RBAC group membership information.",
          "$ref": "AuthenticatorGroupsConfig"
        },
        "createTime": {
          "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "releaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "Release channel configuration."
        },
        "networkConfig": {
          "description": "Configuration for cluster networking.",
          "$ref": "NetworkConfig"
        },
        "tpuIpv4CidrBlock": {
          "type": "string",
          "description": "[Output only] The IP address range of the Cloud TPUs in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`)."
        },
        "currentNodeVersion": {
          "type": "string",
          "description": "[Output only] Deprecated, use [NodePools.version](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools) instead. The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes."
        },
        "locations": {
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This field provides a default value if [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) are not specified during node pool creation. Warning: changing cluster locations will update the [NodePool.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters.nodePools#NodePool.FIELDS.locations) of all node pools and will result in nodes being added and/or removed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "autoscaling": {
          "$ref": "ClusterAutoscaling",
          "description": "Cluster-level autoscaling configuration."
        },
        "instanceGroupUrls": {
          "description": "Deprecated. Use node_pools.instance_group_urls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "description": "[Output only] Server-defined URL for the resource.",
          "type": "string"
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR."
        },
        "endpoint": {
          "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information.",
          "type": "string"
        },
        "nodePools": {
          "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "maintenancePolicy": {
          "description": "Configure the maintenance policy for this cluster.",
          "$ref": "MaintenancePolicy"
        },
        "nodeConfig": {
          "$ref": "NodeConfig",
          "description": "Parameters used in creating the cluster's nodes. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. (For configuration of each node pool, see `node_pool.config`) If unspecified, the defaults are used. This field is deprecated, use node_pool.config instead."
        },
        "resourceLabels": {
          "type": "object",
          "description": "The resource labels for the cluster to use to annotate any related Google Compute Engine resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingService": {
          "type": "string",
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions."
        },
        "shieldedNodes": {
          "$ref": "ShieldedNodes",
          "description": "Shielded Nodes configuration."
        },
        "binaryAuthorization": {
          "description": "Configuration for Binary Authorization.",
          "$ref": "BinaryAuthorization"
        },
        "description": {
          "description": "An optional description of this cluster.",
          "type": "string"
        },
        "monitoringService": {
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "addonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "enableTpu": {
          "description": "Enable the ability to use Cloud TPUs in this cluster.",
          "type": "boolean"
        }
      }
    },
    "NotificationConfig": {
      "type": "object",
      "properties": {
        "pubsub": {
          "$ref": "PubSub",
          "description": "Notification config for Pub/Sub."
        }
      },
      "id": "NotificationConfig",
      "description": "NotificationConfig is the configuration of notifications."
    },
    "MaintenancePolicy": {
      "type": "object",
      "properties": {
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy.",
          "type": "string"
        },
        "window": {
          "description": "Specifies the maintenance window in which maintenance may be performed.",
          "$ref": "MaintenanceWindow"
        }
      },
      "id": "MaintenancePolicy",
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster."
    },
    "VerticalPodAutoscaling": {
      "id": "VerticalPodAutoscaling",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables vertical pod autoscaling."
        }
      },
      "type": "object",
      "description": "VerticalPodAutoscaling contains global, per-cluster information required by Vertical Pod Autoscaler to automatically adjust the resources of pods controlled by it."
    },
    "UpdateMasterRequest": {
      "description": "UpdateMasterRequest updates the master of the cluster.",
      "properties": {
        "masterVersion": {
          "type": "string",
          "description": "Required. The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object",
      "id": "UpdateMasterRequest"
    },
    "NodeConfig": {
      "description": "Parameters that describe the nodes in a cluster.",
      "type": "object",
      "properties": {
        "diskType": {
          "description": "Type of the disk attached to each node (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') If unspecified, the default disk type is 'pd-standard'",
          "type": "string"
        },
        "minCpuPlatform": {
          "description": "Minimum CPU platform to be used by this instance. The instance may be scheduled on the specified or newer CPU platform. Applicable values are the friendly names of CPU platforms, such as `minCpuPlatform: \"Intel Haswell\"` or `minCpuPlatform: \"Intel Sandy Bridge\"`. For more information, read [how to specify min CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)",
          "type": "string"
        },
        "localSsdCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependent upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd for more information."
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the node VMs. Specify the email address of the Service Account; otherwise, if no Service Account is specified, the \"default\" service account is used.",
          "type": "string"
        },
        "nodeGroup": {
          "type": "string",
          "description": "Setting this field will assign instances of this pool to run on the specified node group. This is useful for running workloads on [sole tenant nodes](https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes)."
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Google Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-types) If unspecified, the default machine type is `e2-medium`."
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB."
        },
        "metadata": {
          "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp `[a-zA-Z0-9-_]+` and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the reserved keys: - \"cluster-location\" - \"cluster-name\" - \"cluster-uid\" - \"configure-sh\" - \"containerd-configure-sh\" - \"enable-os-login\" - \"gci-ensure-gke-docker\" - \"gci-metrics-enabled\" - \"gci-update-strategy\" - \"instance-template\" - \"kube-env\" - \"startup-script\" - \"user-data\" - \"disable-address-manager\" - \"windows-startup-script-ps1\" - \"common-psm1\" - \"k8s-node-setup-psm1\" - \"install-ssh-psm1\" - \"user-profile-psm1\" The following keys are reserved for Windows nodes: - \"serial-port-logging-enable\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/"
        },
        "oauthScopes": {
          "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](https://cloud.google.com/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sandboxConfig": {
          "description": "Sandbox configuration for this node.",
          "$ref": "SandboxConfig"
        },
        "taints": {
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "List of kubernetes taints to be applied to each node. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/",
          "type": "array"
        },
        "bootDiskKmsKey": {
          "description": " The Customer Managed Encryption Key used to encrypt the boot disk attached to each node in the node pool. This should be of the form projects/[KEY_PROJECT_ID]/locations/[LOCATION]/keyRings/[RING_NAME]/cryptoKeys/[KEY_NAME]. For more information about protecting resources with Cloud KMS Keys please see: https://cloud.google.com/compute/docs/disks/customer-managed-encryption",
          "type": "string"
        },
        "linuxNodeConfig": {
          "description": "Parameters that can be configured on Linux nodes.",
          "$ref": "LinuxNodeConfig"
        },
        "accelerators": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "type": "array"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "imageType": {
          "type": "string",
          "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used."
        },
        "preemptible": {
          "type": "boolean",
          "description": "Whether the nodes are created as preemptible VM instances. See: https://cloud.google.com/compute/docs/instances/preemptible for more information about preemptible VM instances."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster or node pool creation. Each tag within the list must comply with RFC1035.",
          "type": "array"
        },
        "workloadMetadataConfig": {
          "description": "The workload metadata configuration for this node.",
          "$ref": "WorkloadMetadataConfig"
        },
        "kubeletConfig": {
          "description": "Node kubelet configs.",
          "$ref": "NodeKubeletConfig"
        },
        "reservationAffinity": {
          "$ref": "ReservationAffinity",
          "description": "The optional reservation affinity. Setting this field will apply the specified [Zonal Compute Reservation](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) to this node pool."
        }
      },
      "id": "NodeConfig"
    },
    "WorkloadMetadataConfig": {
      "type": "object",
      "description": "WorkloadMetadataConfig defines the metadata configuration to expose to workloads on the node pool.",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "GCE_METADATA",
            "GKE_METADATA"
          ],
          "enumDescriptions": [
            "Not set.",
            "Expose all Compute Engine metadata to pods.",
            "Run the GKE Metadata Server on this node. The GKE Metadata Server exposes a metadata API to workloads that is compatible with the V1 Compute Metadata APIs exposed by the Compute Engine and App Engine Metadata Servers. This feature can only be enabled if Workload Identity is enabled at the cluster level."
          ],
          "description": "Mode is the configuration for how to expose metadata to workloads running on the node pool.",
          "type": "string"
        }
      },
      "id": "WorkloadMetadataConfig"
    },
    "ServerConfig": {
      "type": "object",
      "properties": {
        "validImageTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of valid image types."
        },
        "validNodeVersions": {
          "type": "array",
          "description": "List of valid node upgrade target versions, in descending order.",
          "items": {
            "type": "string"
          }
        },
        "defaultImageType": {
          "type": "string",
          "description": "Default image type."
        },
        "channels": {
          "items": {
            "$ref": "ReleaseChannelConfig"
          },
          "type": "array",
          "description": "List of release channel configurations."
        },
        "defaultClusterVersion": {
          "description": "Version of Kubernetes the service deploys by default.",
          "type": "string"
        },
        "validMasterVersions": {
          "items": {
            "type": "string"
          },
          "description": "List of valid master versions, in descending order.",
          "type": "array"
        }
      },
      "id": "ServerConfig",
      "description": "Kubernetes Engine service configuration."
    },
    "IPAllocationPolicy": {
      "properties": {
        "useRoutes": {
          "description": "Whether routes will be used for pod IPs in the cluster. This is used in conjunction with use_ip_aliases. It cannot be true if use_ip_aliases is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode",
          "type": "boolean"
        },
        "servicesSecondaryRangeName": {
          "description": "The name of the secondary range to be used as for the services CIDR block. The secondary range will be used for service ClusterIPs. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false.",
          "type": "string"
        },
        "useIpAliases": {
          "description": "Whether alias IPs will be used for pod IPs in the cluster. This is used in conjunction with use_routes. It cannot be true if use_routes is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode",
          "type": "boolean"
        },
        "nodeIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use node_ipv4_cidr_block."
        },
        "servicesIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the services IPs in this cluster. If blank, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "nodeIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the instance IPs in this cluster. This is applicable only if `create_subnetwork` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "tpuIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. If unspecified, the range will use the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use services_ipv4_cidr_block."
        },
        "clusterIpv4Cidr": {
          "description": "This field is deprecated, use cluster_ipv4_cidr_block.",
          "type": "string"
        },
        "clusterSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used for the cluster CIDR block. The secondary range will be used for pod IP addresses. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false."
        },
        "subnetworkName": {
          "type": "string",
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true. If this field is empty, then an automatic name will be chosen for the new subnetwork."
        },
        "createSubnetwork": {
          "type": "boolean",
          "description": "Whether a new subnetwork will be created automatically for the cluster. This field is only applicable when `use_ip_aliases` is true."
        },
        "clusterIpv4CidrBlock": {
          "description": "The IP address range for the cluster pod IPs. If this field is set, then `cluster.cluster_ipv4_cidr` must be left blank. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
          "type": "string"
        }
      },
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "id": "IPAllocationPolicy",
      "type": "object"
    },
    "AuthenticatorGroupsConfig": {
      "id": "AuthenticatorGroupsConfig",
      "properties": {
        "securityGroup": {
          "description": "The name of the security group-of-groups to be used. Only relevant if enabled = true.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether this cluster should return group membership lookups during authentication using a group of security groups.",
          "type": "boolean"
        }
      },
      "description": "Configuration for returning group information from authenticators.",
      "type": "object"
    },
    "SetNodePoolAutoscalingRequest": {
      "type": "object",
      "description": "SetNodePoolAutoscalingRequest sets the autoscaler settings of a node pool.",
      "id": "SetNodePoolAutoscalingRequest",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "type": "string",
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
        },
        "autoscaling": {
          "description": "Required. Autoscaling configuration for the node pool.",
          "$ref": "NodePoolAutoscaling"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        }
      }
    },
    "StartIPRotationRequest": {
      "id": "StartIPRotationRequest",
      "description": "StartIPRotationRequest creates a new IP for the cluster and then performs a node upgrade on each node pool to point to the new IP.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to start IP rotation. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "rotateCredentials": {
          "description": "Whether to rotate credentials during IP rotation.",
          "type": "boolean"
        }
      }
    },
    "ReservationAffinity": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Corresponds to the label value(s) of reservation resource(s)."
        },
        "key": {
          "description": "Corresponds to the label key of a reservation resource. To target a SPECIFIC_RESERVATION by name, specify \"googleapis.com/reservation-name\" as the key and specify the name of your reservation as its value.",
          "type": "string"
        },
        "consumeReservationType": {
          "description": "Corresponds to the type of reservation consumption.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        }
      },
      "id": "ReservationAffinity",
      "description": "[ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) is the configuration of desired reservation which instances could take capacity from.",
      "type": "object"
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "properties": {
        "name": {
          "description": "A non-parameterized string describing an operation stage. Unset for single-stage operations.",
          "type": "string"
        },
        "metrics": {
          "description": "Progress metric bundle, for example: metrics: [{name: \"nodes done\", int_value: 15}, {name: \"nodes total\", int_value: 32}] or metrics: [{name: \"progress\", double_value: 0.56}, {name: \"progress scale\", double_value: 1.0}]",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "stages": {
          "description": "Substages of an operation or a stage.",
          "type": "array",
          "items": {
            "$ref": "OperationProgress"
          }
        },
        "status": {
          "description": "Status of an operation stage. Unset for single-stage operations.",
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about operation (or operation stage) progress."
    },
    "CreateClusterRequest": {
      "id": "CreateClusterRequest",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the parent field."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. A [cluster resource](https://cloud.google.com/container-engine/reference/rest/v1/projects.locations.clusters)"
        },
        "parent": {
          "type": "string",
          "description": "The parent (project and location) where the cluster will be created. Specified in the format `projects/*/locations/*`."
        }
      },
      "description": "CreateClusterRequest creates a cluster.",
      "type": "object"
    },
    "NetworkPolicyConfig": {
      "type": "object",
      "id": "NetworkPolicyConfig",
      "properties": {
        "disabled": {
          "description": "Whether NetworkPolicy is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations in the project in the specified zone.",
          "type": "array"
        },
        "missingZones": {
          "description": "If any zones are listed here, the list of operations returned may be missing the operations from those zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "ListOperationsResponse is the result of ListOperationsRequest.",
      "type": "object"
    },
    "UpdateClusterRequest": {
      "description": "UpdateClusterRequest updates the settings of a cluster.",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster) of the cluster to update. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "update": {
          "$ref": "ClusterUpdate",
          "description": "Required. A description of the update."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        }
      },
      "type": "object",
      "id": "UpdateClusterRequest"
    },
    "NetworkConfig": {
      "properties": {
        "subnetwork": {
          "description": "Output only. The relative name of the Google Compute Engine [subnetwork](https://cloud.google.com/compute/docs/vpc) to which the cluster is connected. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet",
          "type": "string"
        },
        "enableIntraNodeVisibility": {
          "type": "boolean",
          "description": "Whether Intra-node visibility is enabled for this cluster. This makes same node pod to pod traffic visible for VPC network."
        },
        "defaultSnatStatus": {
          "description": "Whether the cluster disables default in-node sNAT rules. In-node sNAT rules will be disabled when default_snat_status is disabled. When disabled is set to false, default IP masquerade rules will be applied to the nodes to prevent sNAT on cluster internal traffic.",
          "$ref": "DefaultSnatStatus"
        },
        "network": {
          "description": "Output only. The relative name of the Google Compute Engine network(https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. Example: projects/my-project/global/networks/my-network",
          "type": "string"
        },
        "privateIpv6GoogleAccess": {
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ],
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "description": "The desired state of IPv6 connectivity to Google Services. By default, no private IPv6 access to or from Google Services (all access will be via IPv4)",
          "type": "string"
        }
      },
      "description": "NetworkConfig reports the relative names of network & subnetwork.",
      "type": "object",
      "id": "NetworkConfig"
    },
    "CidrBlock": {
      "description": "CidrBlock contains an optional name and one CIDR block.",
      "type": "object",
      "properties": {
        "cidrBlock": {
          "type": "string",
          "description": "cidr_block must be specified in CIDR notation."
        },
        "displayName": {
          "type": "string",
          "description": "display_name is an optional field for users to identify CIDR blocks."
        }
      },
      "id": "CidrBlock"
    },
    "CreateNodePoolRequest": {
      "description": "CreateNodePoolRequest creates a node pool for a cluster.",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "parent": {
          "description": "The parent (project, location, cluster id) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the parent field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
        },
        "nodePool": {
          "description": "Required. The node pool to create.",
          "$ref": "NodePool"
        }
      },
      "id": "CreateNodePoolRequest"
    },
    "ClusterUpdate": {
      "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
      "id": "ClusterUpdate",
      "properties": {
        "desiredBinaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "The desired configuration options for the Binary Authorization feature."
        },
        "desiredNotificationConfig": {
          "$ref": "NotificationConfig",
          "description": "The desired notification configuration."
        },
        "desiredNodePoolId": {
          "type": "string",
          "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\" or \"desired_node_pool_autoscaling\" is specified and there is more than one node pool on the cluster."
        },
        "desiredReleaseChannel": {
          "$ref": "ReleaseChannel",
          "description": "The desired release channel configuration."
        },
        "desiredDefaultSnatStatus": {
          "$ref": "DefaultSnatStatus",
          "description": "The desired status of whether to disable default sNAT for this cluster."
        },
        "desiredNodePoolAutoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool."
        },
        "desiredMasterVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the master to. Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the default Kubernetes version"
        },
        "desiredClusterAutoscaling": {
          "description": "Cluster-level autoscaling configuration.",
          "$ref": "ClusterAutoscaling"
        },
        "desiredPrivateClusterConfig": {
          "description": "The desired private cluster configuration.",
          "$ref": "PrivateClusterConfig"
        },
        "desiredMasterAuthorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "The desired configuration options for master authorized networks feature."
        },
        "desiredAddonsConfig": {
          "$ref": "AddonsConfig",
          "description": "Configurations for the various addons available to run in the cluster."
        },
        "desiredLoggingService": {
          "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com/kubernetes` - The Cloud Logging service with a Kubernetes-native resource model * `logging.googleapis.com` - The legacy Cloud Logging service (no longer available as of GKE 1.15). * `none` - no logs will be exported from the cluster. If left as an empty string,`logging.googleapis.com/kubernetes` will be used for GKE 1.14+ or `logging.googleapis.com` for earlier versions.",
          "type": "string"
        },
        "desiredPrivateIpv6GoogleAccess": {
          "description": "The desired state of IPv6 connectivity to Google Services.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Same as DISABLED",
            "No private access to or from Google Services",
            "Enables private IPv6 access to Google Services from GKE",
            "Enables priate IPv6 access to and from Google Services"
          ],
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_DISABLED",
            "PRIVATE_IPV6_GOOGLE_ACCESS_TO_GOOGLE",
            "PRIVATE_IPV6_GOOGLE_ACCESS_BIDIRECTIONAL"
          ]
        },
        "desiredIntraNodeVisibilityConfig": {
          "$ref": "IntraNodeVisibilityConfig",
          "description": "The desired config of Intra-node visibility."
        },
        "desiredLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. This list must always include the cluster's primary zone. Warning: changing cluster locations will update the locations of all node pools and will result in nodes being added and/or removed."
        },
        "desiredResourceUsageExportConfig": {
          "$ref": "ResourceUsageExportConfig",
          "description": "The desired configuration for exporting resource usage."
        },
        "desiredDatabaseEncryption": {
          "description": "Configuration of etcd encryption.",
          "$ref": "DatabaseEncryption"
        },
        "desiredImageType": {
          "type": "string",
          "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well."
        },
        "desiredWorkloadIdentityConfig": {
          "$ref": "WorkloadIdentityConfig",
          "description": "Configuration for Workload Identity."
        },
        "desiredVerticalPodAutoscaling": {
          "description": "Cluster-level Vertical Pod Autoscaling configuration.",
          "$ref": "VerticalPodAutoscaling"
        },
        "desiredShieldedNodes": {
          "description": "Configuration for Shielded Nodes.",
          "$ref": "ShieldedNodes"
        },
        "desiredNodeVersion": {
          "type": "string",
          "description": "The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version"
        },
        "desiredMonitoringService": {
          "type": "string",
          "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com/kubernetes\" - The Cloud Monitoring service with a Kubernetes-native resource model * `monitoring.googleapis.com` - The legacy Cloud Monitoring service (no longer available as of GKE 1.15). * `none` - No metrics will be exported from the cluster. If left as an empty string,`monitoring.googleapis.com/kubernetes` will be used for GKE 1.14+ or `monitoring.googleapis.com` for earlier versions."
        }
      },
      "type": "object"
    },
    "UpgradeSettings": {
      "type": "object",
      "properties": {
        "maxSurge": {
          "description": "The maximum number of nodes that can be created beyond the current size of the node pool during the upgrade process.",
          "type": "integer",
          "format": "int32"
        },
        "maxUnavailable": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of nodes that can be simultaneously unavailable during the upgrade process. A node is considered available if its status is Ready."
        }
      },
      "id": "UpgradeSettings",
      "description": "These upgrade settings control the level of parallelism and the level of disruption caused by an upgrade. maxUnavailable controls the number of nodes that can be simultaneously unavailable. maxSurge controls the number of additional nodes that can be added to the node pool temporarily for the time of the upgrade to increase the number of available nodes. (maxUnavailable + maxSurge) determines the level of parallelism (how many nodes are being upgraded at the same time). Note: upgrades inevitably introduce some disruption since workloads need to be moved from old nodes to new, upgraded ones. Even if maxUnavailable=0, this holds true. (Disruption stays within the limits of PodDisruptionBudget, if it is configured.) Consider a hypothetical node pool with 5 nodes having maxSurge=2, maxUnavailable=1. This means the upgrade process upgrades 3 nodes simultaneously. It creates 2 additional (upgraded) nodes, then it brings down 3 old (not yet upgraded) nodes at the same time. This ensures that there are always at least 4 nodes available."
    },
    "MaxPodsConstraint": {
      "id": "MaxPodsConstraint",
      "description": "Constraints applied to pods.",
      "properties": {
        "maxPodsPerNode": {
          "format": "int64",
          "type": "string",
          "description": "Constraint enforced on the max num of pods per node."
        }
      },
      "type": "object"
    },
    "Metric": {
      "properties": {
        "stringValue": {
          "description": "For metrics with custom values (ratios, visual progress, etc.).",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "For metrics with floating point value.",
          "type": "number"
        },
        "intValue": {
          "format": "int64",
          "description": "For metrics with integer value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Metric name, e.g., \"nodes total\", \"percent done\"."
        }
      },
      "type": "object",
      "id": "Metric",
      "description": "Progress metric is (string, int|float|string) pair."
    },
    "NetworkPolicy": {
      "description": "Configuration options for the NetworkPolicy feature. https://kubernetes.io/docs/concepts/services-networking/networkpolicies/",
      "type": "object",
      "id": "NetworkPolicy",
      "properties": {
        "enabled": {
          "description": "Whether network policy is enabled on the cluster.",
          "type": "boolean"
        },
        "provider": {
          "type": "string",
          "enumDescriptions": [
            "Not set",
            "Tigera (Calico Felix)."
          ],
          "description": "The selected network policy provider.",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "CALICO"
          ]
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "NodeManagement": {
      "type": "object",
      "description": "NodeManagement defines the set of node management services turned on for the node pool.",
      "properties": {
        "upgradeOptions": {
          "description": "Specifies the Auto Upgrade knobs for the node pool.",
          "$ref": "AutoUpgradeOptions"
        },
        "autoUpgrade": {
          "type": "boolean",
          "description": "A flag that specifies whether node auto-upgrade is enabled for the node pool. If enabled, node auto-upgrade helps keep the nodes in your node pool up to date with the latest release version of Kubernetes."
        },
        "autoRepair": {
          "type": "boolean",
          "description": "A flag that specifies whether the node auto-repair is enabled for the node pool. If enabled, the nodes in this node pool will be monitored and, if they fail health checks too many times, an automatic repair action will be triggered."
        }
      },
      "id": "NodeManagement"
    },
    "UpgradeEvent": {
      "properties": {
        "operation": {
          "description": "The operation associated with this upgrade.",
          "type": "string"
        },
        "targetVersion": {
          "description": "The target version for the upgrade.",
          "type": "string"
        },
        "operationStartTime": {
          "description": "The time when the operation was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "resource": {
          "description": "Optional relative path to the resource. For example in node pool upgrades, the relative path of the node pool.",
          "type": "string"
        },
        "currentVersion": {
          "type": "string",
          "description": "The current version before the upgrade."
        },
        "resourceType": {
          "enumDescriptions": [
            "Default value. This shouldn't be used.",
            "Master / control plane",
            "Node pool"
          ],
          "description": "The resource type that is upgrading.",
          "type": "string",
          "enum": [
            "UPGRADE_RESOURCE_TYPE_UNSPECIFIED",
            "MASTER",
            "NODE_POOL"
          ]
        }
      },
      "id": "UpgradeEvent",
      "description": "UpgradeEvent is a notification sent to customers by the cluster server when a resource is upgrading.",
      "type": "object"
    },
    "HttpLoadBalancing": {
      "properties": {
        "disabled": {
          "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
          "type": "boolean"
        }
      },
      "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
      "type": "object",
      "id": "HttpLoadBalancing"
    },
    "NodePoolAutoscaling": {
      "id": "NodePoolAutoscaling",
      "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage.",
      "properties": {
        "minNodeCount": {
          "description": "Minimum number of nodes in the NodePool. Must be \u003e= 1 and \u003c= max_node_count.",
          "type": "integer",
          "format": "int32"
        },
        "autoprovisioned": {
          "type": "boolean",
          "description": "Can this node pool be deleted automatically."
        },
        "maxNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of nodes in the NodePool. Must be \u003e= min_node_count. There has to enough quota to scale up the cluster."
        },
        "enabled": {
          "type": "boolean",
          "description": "Is autoscaling enabled for this node pool."
        }
      },
      "type": "object"
    },
    "StatusCondition": {
      "description": "StatusCondition describes why a cluster or a node pool has a certain status (e.g., ERROR or DEGRADED).",
      "type": "object",
      "id": "StatusCondition",
      "properties": {
        "code": {
          "description": "Machine-friendly representation of the condition",
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN indicates a generic condition.",
            "GCE_STOCKOUT indicates that Google Compute Engine resources are temporarily unavailable.",
            "GKE_SERVICE_ACCOUNT_DELETED indicates that the user deleted their robot service account.",
            "Google Compute Engine quota was exceeded.",
            "Cluster state was manually changed by an SRE due to a system logic error.",
            "Unable to perform an encrypt operation against the CloudKMS key used for etcd level encryption. More codes TBA"
          ],
          "enum": [
            "UNKNOWN",
            "GCE_STOCKOUT",
            "GKE_SERVICE_ACCOUNT_DELETED",
            "GCE_QUOTA_EXCEEDED",
            "SET_BY_OPERATOR",
            "CLOUD_KMS_KEY_ERROR"
          ]
        },
        "message": {
          "description": "Human-friendly representation of the condition",
          "type": "string"
        }
      }
    },
    "AcceleratorConfig": {
      "properties": {
        "acceleratorCount": {
          "format": "int64",
          "description": "The number of the accelerator cards exposed to an instance.",
          "type": "string"
        },
        "acceleratorType": {
          "description": "The accelerator type resource name. List of supported accelerators [here](https://cloud.google.com/compute/docs/gpus)",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AcceleratorConfig represents a Hardware Accelerator request.",
      "id": "AcceleratorConfig"
    },
    "ListUsableSubnetworksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "This token allows you to get the next page of results for list requests. If the number of results is larger than `page_size`, use the `next_page_token` as a value for the query parameter `page_token` in the next request. The value will become empty when there are no more pages.",
          "type": "string"
        },
        "subnetworks": {
          "type": "array",
          "items": {
            "$ref": "UsableSubnetwork"
          },
          "description": "A list of usable subnetworks in the specified network project."
        }
      },
      "type": "object",
      "id": "ListUsableSubnetworksResponse",
      "description": "ListUsableSubnetworksResponse is the response of ListUsableSubnetworksRequest."
    },
    "SetMasterAuthRequest": {
      "id": "SetMasterAuthRequest",
      "properties": {
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field."
        },
        "action": {
          "description": "Required. The exact form of action to be taken on the master auth.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ],
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username. If an empty username is provided, basic authentication is disabled for the cluster. If a non-empty username is provided, basic authentication is enabled, with either a provided password or a generated one."
          ]
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "update": {
          "$ref": "MasterAuth",
          "description": "Required. A description of the update."
        }
      },
      "description": "SetMasterAuthRequest updates the admin password of a cluster.",
      "type": "object"
    },
    "ReleaseChannel": {
      "type": "object",
      "description": "ReleaseChannel indicates which release channel a cluster is subscribed to. Release channels are arranged in order of risk. When a cluster is subscribed to a release channel, Google maintains both the master version and the node version. Node auto-upgrade defaults to true and cannot be disabled.",
      "id": "ReleaseChannel",
      "properties": {
        "channel": {
          "type": "string",
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "channel specifies which release channel the cluster is subscribed to."
        }
      }
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "type": "object",
      "properties": {
        "missingZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones."
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "type": "array",
          "description": "A list of clusters in the project in the specified zone, or across all ones."
        }
      }
    },
    "Jwk": {
      "id": "Jwk",
      "type": "object",
      "description": "Jwk is a JSON Web Key as specified in RFC 7517",
      "properties": {
        "kid": {
          "type": "string",
          "description": "Key ID."
        },
        "alg": {
          "type": "string",
          "description": "Algorithm."
        },
        "y": {
          "type": "string",
          "description": "Used for ECDSA keys."
        },
        "crv": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "use": {
          "type": "string",
          "description": "Permitted uses for the public keys."
        },
        "kty": {
          "type": "string",
          "description": "Key Type."
        },
        "x": {
          "description": "Used for ECDSA keys.",
          "type": "string"
        },
        "n": {
          "type": "string",
          "description": "Used for RSA keys."
        },
        "e": {
          "type": "string",
          "description": "Used for RSA keys."
        }
      }
    },
    "PubSub": {
      "type": "object",
      "properties": {
        "topic": {
          "description": "The desired Pub/Sub topic to which notifications will be sent by GKE. Format is `projects/{project}/topics/{topic}`.",
          "type": "string"
        },
        "enabled": {
          "description": "Enable notifications for Pub/Sub.",
          "type": "boolean"
        }
      },
      "description": "Pub/Sub specific notification config.",
      "id": "PubSub"
    },
    "BigQueryDestination": {
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "The ID of a BigQuery Dataset.",
          "type": "string"
        }
      },
      "description": "Parameters for using BigQuery as the destination of resource usage export.",
      "id": "BigQueryDestination"
    },
    "SetLabelsRequest": {
      "description": "SetLabelsRequest sets the Google Cloud Platform labels on a Google Container Engine cluster, which will in turn set them for Google Compute Engine resources used by that cluster",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber). This field has been deprecated and replaced by the name field."
        },
        "resourceLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The labels to set for that cluster."
        },
        "labelFingerprint": {
          "description": "Required. The fingerprint of the previous set of labels for this resource, used to detect conflicts. The fingerprint is initially generated by Kubernetes Engine and changes after every request to modify or update labels. You must always provide an up-to-date fingerprint hash when updating or changing labels. Make a `get()` request to the resource to get the latest fingerprint.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster id) of the cluster to set labels. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "id": "SetLabelsRequest"
    },
    "ConfigConnectorConfig": {
      "description": "Configuration options for the Config Connector add-on.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Cloud Connector is enabled for this cluster."
        }
      },
      "id": "ConfigConnectorConfig",
      "type": "object"
    },
    "HttpCacheControlResponseHeader": {
      "type": "object",
      "description": "RFC-2616: cache control support",
      "id": "HttpCacheControlResponseHeader",
      "properties": {
        "directive": {
          "type": "string",
          "description": "14.9 request and response directives"
        },
        "age": {
          "description": "14.6 response cache age, in seconds since the response is generated",
          "type": "string",
          "format": "int64"
        },
        "expires": {
          "type": "string",
          "description": "14.21 response cache expires, in RFC 1123 date format"
        }
      }
    },
    "ReleaseChannelConfig": {
      "type": "object",
      "properties": {
        "validVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of valid versions for the channel."
        },
        "channel": {
          "enumDescriptions": [
            "No channel specified.",
            "RAPID channel is offered on an early access basis for customers who want to test new releases. WARNING: Versions available in the RAPID Channel may be subject to unresolved issues with no known workaround and are not subject to any SLAs.",
            "Clusters subscribed to REGULAR receive versions that are considered GA quality. REGULAR is intended for production users who want to take advantage of new features.",
            "Clusters subscribed to STABLE receive versions that are known to be stable and reliable in production."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "The release channel this configuration applies to."
        },
        "defaultVersion": {
          "type": "string",
          "description": "The default version for newly created clusters on the channel."
        }
      },
      "description": "ReleaseChannelConfig exposes configuration for a release channel.",
      "id": "ReleaseChannelConfig"
    },
    "KubernetesDashboard": {
      "description": "Configuration for the Kubernetes Dashboard.",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Kubernetes Dashboard is enabled for this cluster."
        }
      },
      "id": "KubernetesDashboard"
    },
    "MaintenanceWindow": {
      "properties": {
        "maintenanceExclusions": {
          "additionalProperties": {
            "$ref": "TimeWindow"
          },
          "description": "Exceptions to maintenance window. Non-emergency maintenance should not occur in these windows.",
          "type": "object"
        },
        "dailyMaintenanceWindow": {
          "description": "DailyMaintenanceWindow specifies a daily maintenance operation window.",
          "$ref": "DailyMaintenanceWindow"
        },
        "recurringWindow": {
          "$ref": "RecurringTimeWindow",
          "description": "RecurringWindow specifies some number of recurring time periods for maintenance to occur. The time windows may be overlapping. If no maintenance windows are set, maintenance can occur at any time."
        }
      },
      "description": "MaintenanceWindow defines the maintenance window to be used for the cluster.",
      "type": "object",
      "id": "MaintenanceWindow"
    },
    "SetMaintenancePolicyRequest": {
      "type": "object",
      "properties": {
        "zone": {
          "description": "Required. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The name of the cluster to update."
        },
        "maintenancePolicy": {
          "description": "Required. The maintenance policy to be set for the cluster. An empty field clears the existing maintenance policy.",
          "$ref": "MaintenancePolicy"
        },
        "name": {
          "description": "The name (project, location, cluster id) of the cluster to set maintenance policy. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
          "type": "string"
        }
      },
      "description": "SetMaintenancePolicyRequest sets the maintenance policy for a cluster.",
      "id": "SetMaintenancePolicyRequest"
    },
    "RollbackNodePoolUpgradeRequest": {
      "id": "RollbackNodePoolUpgradeRequest",
      "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node poll to rollback upgrade. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Deprecated. The name of the cluster to rollback. This field has been deprecated and replaced by the name field."
        },
        "nodePoolId": {
          "description": "Deprecated. The name of the node pool to rollback. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840). This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      }
    },
    "GetOpenIDConfigResponse": {
      "type": "object",
      "description": "GetOpenIDConfigResponse is an OIDC discovery document for the cluster. See the OpenID Connect Discovery 1.0 specification for details.",
      "properties": {
        "response_types_supported": {
          "description": "Supported response types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id_token_signing_alg_values_supported": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "supported ID Token signing Algorithms."
        },
        "grant_types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported grant types."
        },
        "issuer": {
          "description": "OIDC Issuer.",
          "type": "string"
        },
        "cacheHeader": {
          "description": "OnePlatform automatically extracts this field and uses it to set the HTTP Cache-Control header.",
          "$ref": "HttpCacheControlResponseHeader"
        },
        "jwks_uri": {
          "type": "string",
          "description": "JSON Web Key uri."
        },
        "subject_types_supported": {
          "type": "array",
          "description": "Supported subject types.",
          "items": {
            "type": "string"
          }
        },
        "claims_supported": {
          "description": "Supported claims.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GetOpenIDConfigResponse"
    },
    "UsableSubnetwork": {
      "properties": {
        "statusMessage": {
          "description": "A human readable status message representing the reasons for cases where the caller cannot use the secondary ranges under the subnet. For example if the secondary_ip_ranges is empty due to a permission issue, an insufficient permission message will be given by status_message.",
          "type": "string"
        },
        "secondaryIpRanges": {
          "type": "array",
          "description": "Secondary IP ranges.",
          "items": {
            "$ref": "UsableSubnetworkSecondaryRange"
          }
        },
        "ipCidrRange": {
          "type": "string",
          "description": "The range of internal addresses that are owned by this subnetwork."
        },
        "network": {
          "type": "string",
          "description": "Network Name. Example: projects/my-project/global/networks/my-network"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork Name. Example: projects/my-project/regions/us-central1/subnetworks/my-subnet"
        }
      },
      "type": "object",
      "id": "UsableSubnetwork",
      "description": "UsableSubnetwork resource returns the subnetwork name, its associated network and the primary CIDR range."
    },
    "DatabaseEncryption": {
      "description": "Configuration of etcd encryption.",
      "type": "object",
      "id": "DatabaseEncryption",
      "properties": {
[...]
