{
  "rootUrl": "https://shoppingcontent.googleapis.com/",
  "protocol": "rest",
  "version": "v2.1",
  "mtlsRootUrl": "https://shoppingcontent.mtls.googleapis.com/",
  "id": "content:v2.1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Shopping Content",
  "description": "Manage your product listings and accounts for Google Shopping",
  "resources": {
    "products": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "path": "content/v2.1/{merchantId}/products/{productId}",
          "id": "content.products.get",
          "flatPath": "content/v2.1/{merchantId}/products/{productId}",
          "response": {
            "$ref": "Product"
          },
          "httpMethod": "GET",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "productId": {
              "location": "path",
              "description": "The REST ID of the product.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves a product from your Merchant Center account."
        },
        "list": {
          "parameterOrder": [
            "merchantId"
          ],
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the account that contains the products. This account cannot be a multi-client account.",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of products to return in the response, used for paging.",
              "location": "query",
              "format": "uint32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.products.list",
          "description": "Lists the products in your Merchant Center account. The response might contain fewer items than specified by maxResults. Rely on nextPageToken to determine if there are more items to be requested.",
          "path": "content/v2.1/{merchantId}/products",
          "response": {
            "$ref": "ProductsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "content/v2.1/{merchantId}/products"
        },
        "custombatch": {
          "request": {
            "$ref": "ProductsCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ProductsCustomBatchResponse"
          },
          "httpMethod": "POST",
          "flatPath": "content/v2.1/products/batch",
          "path": "content/v2.1/products/batch",
          "parameterOrder": [],
          "parameters": {},
          "description": "Retrieves, inserts, and deletes multiple products in a single request.",
          "id": "content.products.custombatch"
        },
        "insert": {
          "request": {
            "$ref": "Product"
          },
          "id": "content.products.insert",
          "flatPath": "content/v2.1/{merchantId}/products",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "Product"
          },
          "path": "content/v2.1/{merchantId}/products",
          "httpMethod": "POST",
          "parameters": {
            "feedId": {
              "type": "string",
              "description": "The Content API Supplemental Feed ID.",
              "location": "query",
              "format": "uint64"
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true
            }
          },
          "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "delete": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account.",
              "required": true,
              "type": "string",
              "format": "uint64",
              "location": "path"
            },
            "feedId": {
              "format": "uint64",
              "description": "The Content API Supplemental Feed ID.",
              "location": "query",
              "type": "string"
            },
            "productId": {
              "type": "string",
              "location": "path",
              "description": "The REST ID of the product.",
              "required": true
            }
          },
          "description": "Deletes a product from your Merchant Center account.",
          "flatPath": "content/v2.1/{merchantId}/products/{productId}",
          "id": "content.products.delete",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "DELETE",
          "path": "content/v2.1/{merchantId}/products/{productId}"
        }
      }
    },
    "returnaddress": {
      "methods": {
        "delete": {
          "description": "Deletes a return address for the given Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The Merchant Center account from which to delete the given return address."
            },
            "returnAddressId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Return address ID generated by Google."
            }
          },
          "id": "content.returnaddress.delete",
          "flatPath": "content/v2.1/{merchantId}/returnaddress/{returnAddressId}",
          "path": "content/v2.1/{merchantId}/returnaddress/{returnAddressId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "returnAddressId"
          ]
        },
        "custombatch": {
          "httpMethod": "POST",
          "description": "Batches multiple return address related calls in a single request.",
          "id": "content.returnaddress.custombatch",
          "flatPath": "content/v2.1/returnaddress/batch",
          "parameters": {},
          "request": {
            "$ref": "ReturnaddressCustomBatchRequest"
          },
          "path": "content/v2.1/returnaddress/batch",
          "parameterOrder": [],
          "response": {
            "$ref": "ReturnaddressCustomBatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "parameters": {
            "country": {
              "type": "string",
              "location": "query",
              "description": "List only return addresses applicable to the given country of sale. When omitted, all return addresses are listed."
            },
            "merchantId": {
              "description": "The Merchant Center account to list return addresses for.",
              "location": "path",
              "type": "string",
              "format": "uint64",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of addresses in the response, used for paging.",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.returnaddress.list",
          "httpMethod": "GET",
          "path": "content/v2.1/{merchantId}/returnaddress",
          "description": "Lists the return addresses of the Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "ReturnaddressListResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/returnaddress"
        },
        "insert": {
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "description": "The Merchant Center account to insert a return address for.",
              "format": "uint64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "ReturnAddress"
          },
          "id": "content.returnaddress.insert",
          "description": "Inserts a return address for the Merchant Center account.",
          "request": {
            "$ref": "ReturnAddress"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/returnaddress",
          "httpMethod": "POST",
          "path": "content/v2.1/{merchantId}/returnaddress"
        },
        "get": {
          "parameterOrder": [
            "merchantId",
            "returnAddressId"
          ],
          "path": "content/v2.1/{merchantId}/returnaddress/{returnAddressId}",
          "description": "Gets a return address of the Merchant Center account.",
          "parameters": {
            "returnAddressId": {
              "type": "string",
              "required": true,
              "description": "Return address ID generated by Google.",
              "location": "path"
            },
            "merchantId": {
              "type": "string",
              "description": "The Merchant Center account to get a return address for.",
              "format": "uint64",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "flatPath": "content/v2.1/{merchantId}/returnaddress/{returnAddressId}",
          "id": "content.returnaddress.get",
          "response": {
            "$ref": "ReturnAddress"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "accountId": {
              "format": "uint64",
              "description": "The ID of the account.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "type": "string",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}",
          "description": "Updates a Merchant Center account. Any fields that are not provided are deleted from the resource.",
          "response": {
            "$ref": "Account"
          },
          "id": "content.accounts.update",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}"
        },
        "authinfo": {
          "flatPath": "content/v2.1/accounts/authinfo",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "AccountsAuthInfoResponse"
          },
          "httpMethod": "GET",
          "id": "content.accounts.authinfo",
          "path": "content/v2.1/accounts/authinfo",
          "description": "Returns information about the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "updatelabels": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "accountId": {
              "required": true,
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account whose labels are updated.",
              "location": "path"
            },
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account.",
              "format": "uint64",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "AccountsUpdateLabelsRequest"
          },
          "description": "Updates labels that are assigned to the Merchant Center account by CSS user.",
          "response": {
            "$ref": "AccountsUpdateLabelsResponse"
          },
          "httpMethod": "POST",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/updatelabels",
          "id": "content.accounts.updatelabels",
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/updatelabels"
        },
        "insert": {
          "flatPath": "content/v2.1/{merchantId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/accounts",
          "id": "content.accounts.insert",
          "description": "Creates a Merchant Center sub-account.",
          "parameterOrder": [
            "merchantId"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "required": true,
              "format": "uint64"
            }
          },
          "request": {
            "$ref": "Account"
          },
          "httpMethod": "POST"
        },
        "link": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Performs an action on a link between two Merchant Center accounts, namely accountId and linkedAccountId.",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/link",
          "id": "content.accounts.link",
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountsLinkRequest"
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/link",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "location": "path",
              "format": "uint64"
            },
            "accountId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the account that should be linked.",
              "format": "uint64"
            }
          },
          "response": {
            "$ref": "AccountsLinkResponse"
          }
        },
        "get": {
          "id": "content.accounts.get",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "path": "content/v2.1/{merchantId}/accounts/{accountId}",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "description": "Retrieves a Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "type": "string",
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "accountId": {
              "description": "The ID of the account.",
              "type": "string",
              "format": "uint64",
              "required": true,
              "location": "path"
            }
          }
        },
        "custombatch": {
          "flatPath": "content/v2.1/accounts/batch",
          "id": "content.accounts.custombatch",
          "path": "content/v2.1/accounts/batch",
          "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountsCustomBatchResponse"
          },
          "request": {
            "$ref": "AccountsCustomBatchRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "path": "content/v2.1/{merchantId}/accounts",
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "view": {
              "enum": [
                "MERCHANT",
                "CSS"
              ],
              "description": "Controls which fields will be populated. Acceptable values are: \"merchant\" and \"css\". The default value is \"merchant\".",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The maximum number of accounts to return in the response, used for paging.",
              "location": "query"
            },
            "label": {
              "description": "If view is set to \"css\", only return accounts that are assigned label with given ID.",
              "location": "query",
              "type": "string",
              "format": "uint64"
            }
          },
          "description": "Lists the sub-accounts in your Merchant Center account.",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/accounts",
          "id": "content.accounts.list",
          "parameterOrder": [
            "merchantId"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.accounts.delete",
          "httpMethod": "DELETE",
          "path": "content/v2.1/{merchantId}/accounts/{accountId}",
          "description": "Deletes a Merchant Center sub-account.",
          "parameters": {
            "accountId": {
              "required": true,
              "description": "The ID of the account.",
              "format": "uint64",
              "type": "string",
              "location": "path"
            },
            "force": {
              "type": "boolean",
              "description": "Flag to delete sub-accounts with products. The default value is false.",
              "default": "false",
              "location": "query"
            },
            "merchantId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.",
              "format": "uint64"
            }
          }
        },
        "claimwebsite": {
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64",
              "type": "string"
            },
            "accountId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account whose website is claimed."
            },
            "overwrite": {
              "description": "Only available to selected merchants. When set to `True`, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "description": "Claims the website of a Merchant Center sub-account.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "AccountsClaimWebsiteResponse"
          },
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/claimwebsite",
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/claimwebsite",
          "id": "content.accounts.claimwebsite"
        },
        "listlinks": {
          "parameters": {
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "accountId": {
              "type": "string",
              "description": "The ID of the account for which to list links.",
              "required": true,
              "format": "uint64",
              "location": "path"
            },
            "maxResults": {
              "description": "The maximum number of links to return in the response, used for pagination.",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/accounts/{accountId}/listlinks",
          "httpMethod": "GET",
          "description": "Returns the list of accounts linked to your Merchant Center account.",
          "id": "content.accounts.listlinks",
          "path": "content/v2.1/{merchantId}/accounts/{accountId}/listlinks",
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountsListLinksResponse"
          }
        }
      },
      "resources": {
        "labels": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "content/v2.1/accounts/{accountId}/labels",
              "path": "content/v2.1/accounts/{accountId}/labels",
              "description": "Lists the labels assigned to an account.",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "ListAccountLabelsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccountLabels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountLabels` must match the call that provided the page token."
                },
                "accountId": {
                  "description": "Required. The account id for whose labels are to be listed.",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of labels to return. The service may return fewer than this value. If unspecified, at most 50 labels will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "content.accounts.labels.list"
            },
            "patch": {
              "id": "content.accounts.labels.patch",
              "parameters": {
                "labelId": {
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The id of the label to update.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The id of the account this label belongs to.",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates a label.",
              "request": {
                "$ref": "AccountLabel"
              },
              "response": {
                "$ref": "AccountLabel"
              },
              "path": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "flatPath": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "parameterOrder": [
                "accountId",
                "labelId"
              ]
            },
            "create": {
              "flatPath": "content/v2.1/accounts/{accountId}/labels",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AccountLabel"
              },
              "id": "content.accounts.labels.create",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "AccountLabel"
              },
              "httpMethod": "POST",
              "description": "Creates a new label, not assigned to any account.",
              "parameters": {
                "accountId": {
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The id of the account this label belongs to.",
                  "required": true
                }
              },
              "path": "content/v2.1/accounts/{accountId}/labels"
            },
            "delete": {
              "id": "content.accounts.labels.delete",
              "parameterOrder": [
                "accountId",
                "labelId"
              ],
              "flatPath": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "path": "content/v2.1/accounts/{accountId}/labels/{labelId}",
              "httpMethod": "DELETE",
              "description": "Deletes a label and removes it from all accounts to which it was assigned.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The id of the account that owns the label."
                },
                "labelId": {
                  "description": "Required. The id of the label to delete.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        }
      }
    },
    "pos": {
      "methods": {
        "insert": {
          "id": "content.pos.insert",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Creates a store for the given merchant.",
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store",
          "request": {
            "$ref": "PosStore"
          },
          "response": {
            "$ref": "PosStore"
          },
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store",
          "parameters": {
            "targetMerchantId": {
              "location": "path",
              "format": "uint64",
              "required": true,
              "description": "The ID of the target merchant.",
              "type": "string"
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ]
        },
        "delete": {
          "id": "content.pos.delete",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the POS or inventory data provider.",
              "location": "path"
            },
            "targetMerchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the target merchant.",
              "format": "uint64",
              "required": true
            },
            "storeCode": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "A store code that is unique per merchant."
            }
          },
          "httpMethod": "DELETE",
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "description": "Deletes a store for the given merchant.",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store/{storeCode}"
        },
        "inventory": {
          "response": {
            "$ref": "PosInventoryResponse"
          },
          "parameters": {
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64"
            },
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/inventory",
          "request": {
            "$ref": "PosInventoryRequest"
          },
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/inventory",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Submit inventory for the given merchant.",
          "id": "content.pos.inventory"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "PosListResponse"
          },
          "description": "Lists the stores of the target merchant.",
          "id": "content.pos.list",
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store",
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store",
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "targetMerchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the target merchant."
            },
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "type": "string",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          }
        },
        "custombatch": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "PosCustomBatchRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Batches multiple POS-related calls in a single request.",
          "id": "content.pos.custombatch",
          "flatPath": "content/v2.1/pos/batch",
          "path": "content/v2.1/pos/batch",
          "response": {
            "$ref": "PosCustomBatchResponse"
          }
        },
        "sale": {
          "parameterOrder": [
            "merchantId",
            "targetMerchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.pos.sale",
          "description": "Submit a sale event for the given merchant.",
          "httpMethod": "POST",
          "request": {
            "$ref": "PosSaleRequest"
          },
          "parameters": {
            "merchantId": {
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "targetMerchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the target merchant."
            }
          },
          "response": {
            "$ref": "PosSaleResponse"
          },
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/sale",
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/sale"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "httpMethod": "GET",
          "path": "content/v2.1/{merchantId}/pos/{targetMerchantId}/store/{storeCode}",
          "id": "content.pos.get",
          "description": "Retrieves information about the given store.",
          "response": {
            "$ref": "PosStore"
          },
          "parameters": {
            "storeCode": {
              "type": "string",
              "location": "path",
              "description": "A store code that is unique per merchant.",
              "required": true
            },
            "merchantId": {
              "location": "path",
              "description": "The ID of the POS or inventory data provider.",
              "format": "uint64",
              "type": "string",
              "required": true
            },
            "targetMerchantId": {
              "description": "The ID of the target merchant.",
              "required": true,
              "format": "uint64",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "merchantId",
            "targetMerchantId",
            "storeCode"
          ]
        }
      }
    },
    "regionalinventory": {
      "methods": {
        "custombatch": {
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "RegionalinventoryCustomBatchRequest"
          },
          "description": "Updates regional inventory for multiple products or regions in a single request.",
          "path": "content/v2.1/regionalinventory/batch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.regionalinventory.custombatch",
          "flatPath": "content/v2.1/regionalinventory/batch",
          "response": {
            "$ref": "RegionalinventoryCustomBatchResponse"
          }
        },
        "insert": {
          "parameters": {
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "productId": {
              "location": "path",
              "type": "string",
              "description": "The REST ID of the product for which to update the regional inventory.",
              "required": true
            }
          },
          "request": {
            "$ref": "RegionalInventory"
          },
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "id": "content.regionalinventory.insert",
          "httpMethod": "POST",
          "flatPath": "content/v2.1/{merchantId}/products/{productId}/regionalinventory",
          "path": "content/v2.1/{merchantId}/products/{productId}/regionalinventory",
          "response": {
            "$ref": "RegionalInventory"
          },
          "description": "Update the regional inventory of a product in your Merchant Center account. If a regional inventory with the same region ID already exists, this method updates that entry.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "settlementreports": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SettlementReport"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/settlementreports/{settlementId}",
          "id": "content.settlementreports.get",
          "description": "Retrieves a settlement report from your Merchant Center account.",
          "parameters": {
            "settlementId": {
              "required": true,
              "location": "path",
              "description": "The Google-provided ID of the settlement.",
              "type": "string"
            },
            "merchantId": {
              "description": "The Merchant Center account of the settlement report.",
              "required": true,
              "format": "uint64",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "settlementId"
          ],
          "flatPath": "content/v2.1/{merchantId}/settlementreports/{settlementId}"
        },
        "list": {
          "httpMethod": "GET",
          "path": "content/v2.1/{merchantId}/settlementreports",
          "response": {
            "$ref": "SettlementreportsListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "flatPath": "content/v2.1/{merchantId}/settlementreports",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves a list of settlement reports from your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The Merchant Center account to list settlements for.",
              "location": "path",
              "format": "uint64",
              "required": true
            },
            "transferEndDate": {
              "location": "query",
              "description": "Obtains settlements which have transactions before this date (inclusively), in ISO 8601 format.",
              "type": "string"
            },
            "transferStartDate": {
              "type": "string",
              "location": "query",
              "description": "Obtains settlements which have transactions after this date (inclusively), in ISO 8601 format."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of settlements to return in the response, used for paging. The default value is 200 returns per page, and the maximum allowed value is 5000 returns per page.",
              "format": "uint32",
              "location": "query"
            }
          },
          "id": "content.settlementreports.list"
        }
      }
    },
    "accounttax": {
      "methods": {
        "update": {
          "id": "content.accounttax.update",
          "parameters": {
            "accountId": {
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account for which to get/update account tax settings.",
              "required": true
            },
            "merchantId": {
              "required": true,
              "format": "uint64",
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "response": {
            "$ref": "AccountTax"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "description": "Updates the tax settings of the account. Any fields that are not provided are deleted from the resource.",
          "request": {
            "$ref": "AccountTax"
          },
          "httpMethod": "PUT",
          "flatPath": "content/v2.1/{merchantId}/accounttax/{accountId}"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Retrieves the tax settings of the account.",
          "response": {
            "$ref": "AccountTax"
          },
          "parameterOrder": [
            "merchantId",
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "location": "path",
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account for which to get/update account tax settings."
            },
            "merchantId": {
              "description": "The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and `accountId` must be the ID of a sub-account of this account.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "uint64"
            }
          },
          "path": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/accounttax/{accountId}",
          "id": "content.accounttax.get"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/accounttax",
          "flatPath": "content/v2.1/{merchantId}/accounttax",
          "httpMethod": "GET",
          "id": "content.accounttax.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "type": "string",
              "description": "The ID of the managing account. This must be a multi-client account.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of tax settings to return in the response, used for paging."
            }
          },
          "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
          "response": {
            "$ref": "AccounttaxListResponse"
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "custombatch": {
          "path": "content/v2.1/accounttax/batch",
          "httpMethod": "POST",
          "response": {
            "$ref": "AccounttaxCustomBatchResponse"
          },
          "flatPath": "content/v2.1/accounttax/batch",
          "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "AccounttaxCustomBatchRequest"
          },
          "id": "content.accounttax.custombatch"
        }
      }
    },
    "returnpolicy": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a return policy for the given Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ],
          "flatPath": "content/v2.1/{merchantId}/returnpolicy/{returnPolicyId}",
          "path": "content/v2.1/{merchantId}/returnpolicy/{returnPolicyId}",
          "httpMethod": "DELETE",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The Merchant Center account from which to delete the given return policy.",
              "required": true,
              "format": "uint64",
              "location": "path"
            },
            "returnPolicyId": {
              "location": "path",
              "description": "Return policy ID generated by Google.",
              "required": true,
              "type": "string"
            }
          },
          "id": "content.returnpolicy.delete"
        },
        "custombatch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "ReturnpolicyCustomBatchRequest"
          },
          "response": {
            "$ref": "ReturnpolicyCustomBatchResponse"
          },
          "path": "content/v2.1/returnpolicy/batch",
          "flatPath": "content/v2.1/returnpolicy/batch",
          "description": "Batches multiple return policy related calls in a single request.",
          "parameterOrder": [],
          "id": "content.returnpolicy.custombatch"
        },
        "list": {
          "path": "content/v2.1/{merchantId}/returnpolicy",
          "flatPath": "content/v2.1/{merchantId}/returnpolicy",
          "httpMethod": "GET",
          "description": "Lists the return policies of the Merchant Center account.",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The Merchant Center account to list return policies for.",
              "type": "string",
              "format": "uint64"
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "id": "content.returnpolicy.list",
          "response": {
            "$ref": "ReturnpolicyListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/returnpolicy",
          "description": "Inserts a return policy for the Merchant Center account.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "description": "The Merchant Center account to insert a return policy for.",
              "required": true,
              "format": "uint64",
              "location": "path"
            }
          },
          "id": "content.returnpolicy.insert",
          "path": "content/v2.1/{merchantId}/returnpolicy",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReturnPolicy"
          },
          "response": {
            "$ref": "ReturnPolicy"
          },
          "parameterOrder": [
            "merchantId"
          ]
        },
        "get": {
          "id": "content.returnpolicy.get",
          "httpMethod": "GET",
          "path": "content/v2.1/{merchantId}/returnpolicy/{returnPolicyId}",
          "flatPath": "content/v2.1/{merchantId}/returnpolicy/{returnPolicyId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Gets a return policy of the Merchant Center account.",
          "parameters": {
            "returnPolicyId": {
              "type": "string",
              "required": true,
              "description": "Return policy ID generated by Google.",
              "location": "path"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The Merchant Center account to get a return policy for.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ReturnPolicy"
          },
          "parameterOrder": [
            "merchantId",
            "returnPolicyId"
          ]
        }
      }
    },
    "regions": {
      "methods": {
        "delete": {
          "parameters": {
            "regionId": {
              "type": "string",
              "location": "path",
              "description": "Required. The id of the region to delete.",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The id of the merchant for which to delete region definition.",
              "location": "path"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/regions/{regionId}",
          "id": "content.regions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes a region definition from your Merchant Center account.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "path": "content/v2.1/{merchantId}/regions/{regionId}"
        },
        "list": {
          "response": {
            "$ref": "ListRegionsResponse"
          },
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the regions in your Merchant Center account.",
          "id": "content.regions.list",
          "path": "content/v2.1/{merchantId}/regions",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token.",
              "type": "string"
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to list region definitions.",
              "format": "int64",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 rules will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "flatPath": "content/v2.1/{merchantId}/regions"
        },
        "patch": {
          "id": "content.regions.patch",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Region"
          },
          "request": {
            "$ref": "Region"
          },
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "path": "content/v2.1/{merchantId}/regions/{regionId}",
          "parameters": {
            "regionId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The id of the region to update."
            },
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "Required. The id of the merchant for which to update region definition.",
              "format": "int64",
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. The field mask indicating the fields to update.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/regions/{regionId}",
          "description": "Updates a region definition in your Merchant Center account.",
          "httpMethod": "PATCH"
        },
        "get": {
          "path": "content/v2.1/{merchantId}/regions/{regionId}",
          "parameterOrder": [
            "merchantId",
            "regionId"
          ],
          "flatPath": "content/v2.1/{merchantId}/regions/{regionId}",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "Required. The id of the merchant for which to retrieve region definition.",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "regionId": {
              "location": "path",
              "description": "Required. The id of the region to retrieve.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Region"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.regions.get",
          "httpMethod": "GET",
          "description": "Retrieves a region defined in your Merchant Center account."
        },
        "create": {
          "flatPath": "content/v2.1/{merchantId}/regions",
          "id": "content.regions.create",
          "description": "Creates a region definition in your Merchant Center account.",
          "path": "content/v2.1/{merchantId}/regions",
          "response": {
            "$ref": "Region"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "format": "int64",
              "description": "Required. The id of the merchant for which to create region definition.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "regionId": {
              "type": "string",
              "location": "query",
              "description": "Required. The id of the region to create."
            }
          },
          "parameterOrder": [
            "merchantId"
          ],
          "request": {
            "$ref": "Region"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "localinventory": {
      "methods": {
        "custombatch": {
          "request": {
            "$ref": "LocalinventoryCustomBatchRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "LocalinventoryCustomBatchResponse"
          },
          "parameterOrder": [],
          "description": "Updates local inventory for multiple products or stores in a single request.",
          "httpMethod": "POST",
          "id": "content.localinventory.custombatch",
          "parameters": {},
          "flatPath": "content/v2.1/localinventory/batch",
          "path": "content/v2.1/localinventory/batch"
        },
        "insert": {
          "request": {
            "$ref": "LocalInventory"
          },
          "description": "Updates the local inventory of a product in your Merchant Center account.",
          "parameters": {
            "merchantId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that contains the product. This account cannot be a multi-client account."
            },
            "productId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The REST ID of the product for which to update local inventory."
            }
          },
          "response": {
            "$ref": "LocalInventory"
          },
          "flatPath": "content/v2.1/{merchantId}/products/{productId}/localinventory",
          "parameterOrder": [
            "merchantId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.localinventory.insert",
          "httpMethod": "POST",
          "path": "content/v2.1/{merchantId}/products/{productId}/localinventory"
        }
      }
    },
    "orderreports": {
      "methods": {
        "listdisbursements": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "disbursementStartDate": {
              "description": "The first date which disbursements occurred. In ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of disbursements to return in the response, used for paging."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "disbursementEndDate": {
              "description": "The last date which disbursements occurred. In ISO 8601 format. Default: current date.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/orderreports/disbursements",
          "id": "content.orderreports.listdisbursements",
          "description": "Retrieves a report for disbursements from your Merchant Center account.",
          "httpMethod": "GET",
          "response": {
            "$ref": "OrderreportsListDisbursementsResponse"
          },
          "path": "content/v2.1/{merchantId}/orderreports/disbursements",
          "parameterOrder": [
            "merchantId"
          ]
        },
        "listtransactions": {
          "flatPath": "content/v2.1/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The maximum number of disbursements to return in the response, used for paging.",
              "location": "query"
            },
            "transactionEndDate": {
              "location": "query",
              "description": "The last date in which transaction occurred. In ISO 8601 format. Default: current date.",
              "type": "string"
            },
            "transactionStartDate": {
              "description": "The first date in which transaction occurred. In ISO 8601 format.",
              "location": "query",
              "type": "string"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path"
            },
            "disbursementId": {
              "type": "string",
              "description": "The Google-provided ID of the disbursement (found in Wallet).",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "path": "content/v2.1/{merchantId}/orderreports/disbursements/{disbursementId}/transactions",
          "response": {
            "$ref": "OrderreportsListTransactionsResponse"
          },
          "parameterOrder": [
            "merchantId",
            "disbursementId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of transactions for a disbursement from your Merchant Center account.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orderreports.listtransactions"
        }
      }
    },
    "orders": {
      "methods": {
        "cancel": {
          "id": "content.orders.cancel",
          "description": "Cancels all line items in an order, making a full refund.",
          "response": {
            "$ref": "OrdersCancelResponse"
          },
          "request": {
            "$ref": "OrdersCancelRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "path": "content/v2.1/{merchantId}/orders/{orderId}/cancel",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "orderId": {
              "required": true,
              "description": "The ID of the order to cancel.",
              "location": "path",
              "type": "string"
            },
            "merchantId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/cancel"
        },
        "createtestreturn": {
          "description": "Sandbox only. Creates a test return.",
          "request": {
            "$ref": "OrdersCreateTestReturnRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "format": "uint64"
            },
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the order.",
              "required": true
            }
          },
          "response": {
            "$ref": "OrdersCreateTestReturnResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/testreturn",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/testreturn",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.createtestreturn"
        },
        "shiplineitems": {
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/shipLineItems",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "content.orders.shiplineitems",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/shipLineItems",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "httpMethod": "POST",
          "description": "Marks line item(s) as shipped.",
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            },
            "orderId": {
              "required": true,
              "description": "The ID of the order.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OrdersShipLineItemsResponse"
          },
          "request": {
            "$ref": "OrdersShipLineItemsRequest"
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "placedDateEnd": {
              "location": "query",
              "description": "Obtains orders placed before this date (exclusively), in ISO 8601 format.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "description": "Order results by placement date in descending or ascending order. Acceptable values are: - placedDateAsc - placedDateDesc ",
              "location": "query"
            },
            "merchantId": {
              "format": "uint64",
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "acknowledged": {
              "description": "Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged. We recommend using this filter set to `false`, in conjunction with the `acknowledge` call, such that only un-acknowledged orders are returned. ",
              "type": "boolean",
              "location": "query"
            },
            "statuses": {
              "enum": [
                "ACTIVE",
                "COMPLETED",
                "CANCELED",
                "IN_PROGRESS",
                "PENDING_SHIPMENT",
                "PARTIALLY_SHIPPED",
                "SHIPPED",
                "PARTIALLY_DELIVERED",
                "DELIVERED",
                "PARTIALLY_RETURNED",
                "RETURNED"
              ],
              "location": "query",
              "description": "Obtains orders that match any of the specified statuses. Please note that `active` is a shortcut for `pendingShipment` and `partiallyShipped`, and `completed` is a shortcut for `shipped`, `partiallyDelivered`, `delivered`, `partiallyReturned`, `returned`, and `canceled`.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "repeated": true
            },
            "placedDateStart": {
              "type": "string",
              "description": "Obtains orders placed after this date (inclusively), in ISO 8601 format.",
              "location": "query"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/orders",
          "id": "content.orders.list",
          "path": "content/v2.1/{merchantId}/orders",
          "response": {
            "$ref": "OrdersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId"
          ],
          "description": "Lists the orders in your Merchant Center account.",
          "httpMethod": "GET"
        },
        "rejectreturnlineitem": {
          "id": "content.orders.rejectreturnlineitem",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "location": "path",
              "format": "uint64",
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "httpMethod": "POST",
          "description": "Rejects return on an line item.",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/rejectReturnLineItem",
          "response": {
            "$ref": "OrdersRejectReturnLineItemResponse"
          },
          "request": {
            "$ref": "OrdersRejectReturnLineItemRequest"
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/rejectReturnLineItem"
        },
        "setlineitemmetadata": {
          "response": {
            "$ref": "OrdersSetLineItemMetadataResponse"
          },
          "id": "content.orders.setlineitemmetadata",
          "description": "Sets (or overrides if it already exists) merchant provided annotations in the form of key-value pairs. A common use case would be to supply us with additional structured information about a line item that cannot be provided via other methods. Submitted key-value pairs can be retrieved as part of the orders resource.",
          "request": {
            "$ref": "OrdersSetLineItemMetadataRequest"
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/setLineItemMetadata",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {
            "orderId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the order."
            },
            "merchantId": {
              "required": true,
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "location": "path"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/setLineItemMetadata"
        },
        "canceltestorderbycustomer": {
          "id": "content.orders.canceltestorderbycustomer",
          "description": "Sandbox only. Cancels a test order for customer-initiated cancellation.",
          "parameters": {
            "merchantId": {
              "required": true,
              "location": "path",
              "format": "uint64",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string"
            },
            "orderId": {
              "required": true,
              "location": "path",
              "description": "The ID of the test order to cancel.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "request": {
            "$ref": "OrdersCancelTestOrderByCustomerRequest"
          },
          "flatPath": "content/v2.1/{merchantId}/testorders/{orderId}/cancelByCustomer",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersCancelTestOrderByCustomerResponse"
          },
          "httpMethod": "POST"
        },
        "advancetestorder": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.advancetestorder",
          "flatPath": "content/v2.1/{merchantId}/testorders/{orderId}/advance",
          "description": "Sandbox only. Moves a test order from state \"`inProgress`\" to state \"`pendingShipment`\".",
          "httpMethod": "POST",
          "parameters": {
            "orderId": {
              "type": "string",
              "description": "The ID of the test order to modify.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "format": "uint64",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersAdvanceTestOrderResponse"
          },
          "path": "content/v2.1/{merchantId}/testorders/{orderId}/advance"
        },
        "updateshipment": {
          "description": "Updates a shipment's status, carrier, and/or tracking ID.",
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path",
              "format": "uint64"
            },
            "orderId": {
              "description": "The ID of the order.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "OrdersUpdateShipmentRequest"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersUpdateShipmentResponse"
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/updateShipment",
          "httpMethod": "POST",
          "id": "content.orders.updateshipment",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/updateShipment"
        },
        "updatemerchantorderid": {
          "request": {
            "$ref": "OrdersUpdateMerchantOrderIdRequest"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersUpdateMerchantOrderIdResponse"
          },
          "parameters": {
            "merchantId": {
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "type": "string",
              "location": "path"
            },
            "orderId": {
              "location": "path",
              "description": "The ID of the order.",
              "type": "string",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/updateMerchantOrderId",
          "description": "Updates the merchant order ID for a given order.",
          "httpMethod": "POST",
          "id": "content.orders.updatemerchantorderid",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/updateMerchantOrderId"
        },
        "getbymerchantorderid": {
          "path": "content/v2.1/{merchantId}/ordersbymerchantid/{merchantOrderId}",
          "id": "content.orders.getbymerchantorderid",
          "response": {
            "$ref": "OrdersGetByMerchantOrderIdResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "merchantOrderId"
          ],
          "description": "Retrieves an order using merchant order ID.",
          "httpMethod": "GET",
          "parameters": {
            "merchantOrderId": {
              "type": "string",
              "description": "The merchant order ID to be looked for.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            }
          },
          "flatPath": "content/v2.1/{merchantId}/ordersbymerchantid/{merchantOrderId}"
        },
        "refunditem": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "id": "content.orders.refunditem",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/refunditem",
          "parameters": {
            "orderId": {
              "type": "string",
              "description": "The ID of the order to refund.",
              "required": true,
              "location": "path"
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "OrdersRefundItemRequest"
          },
          "description": "Issues a partial or total refund for items and shipment.",
          "response": {
            "$ref": "OrdersRefundItemResponse"
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/refunditem"
        },
        "refundorder": {
          "request": {
            "$ref": "OrdersRefundOrderRequest"
          },
          "id": "content.orders.refundorder",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/refundorder",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Issues a partial or total refund for an order.",
          "response": {
            "$ref": "OrdersRefundOrderResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "merchantId": {
              "required": true,
              "format": "uint64",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path"
            },
            "orderId": {
              "description": "The ID of the order to refund.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/refundorder"
        },
        "updatelineitemshippingdetails": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "httpMethod": "POST",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "description": "Updates ship by and delivery by dates for a line item.",
          "request": {
            "$ref": "OrdersUpdateLineItemShippingDetailsRequest"
          },
          "id": "content.orders.updatelineitemshippingdetails",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/orders/{orderId}/updateLineItemShippingDetails",
          "parameters": {
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the order.",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "uint64"
            }
          },
          "response": {
            "$ref": "OrdersUpdateLineItemShippingDetailsResponse"
          }
        },
        "createtestorder": {
          "flatPath": "content/v2.1/{merchantId}/testorders",
          "description": "Sandbox only. Creates a test order.",
          "response": {
            "$ref": "OrdersCreateTestOrderResponse"
          },
          "id": "content.orders.createtestorder",
          "request": {
            "$ref": "OrdersCreateTestOrderRequest"
          },
          "path": "content/v2.1/{merchantId}/testorders",
          "parameters": {
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "format": "uint64",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "merchantId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "acknowledge": {
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "response": {
            "$ref": "OrdersAcknowledgeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/acknowledge",
          "description": "Marks an order as acknowledged.",
          "request": {
            "$ref": "OrdersAcknowledgeRequest"
          },
          "id": "content.orders.acknowledge",
          "parameters": {
            "merchantId": {
              "location": "path",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "format": "uint64",
              "type": "string"
            },
            "orderId": {
              "description": "The ID of the order.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/acknowledge"
        },
        "cancellineitem": {
          "parameters": {
            "orderId": {
              "type": "string",
              "description": "The ID of the order.",
              "location": "path",
              "required": true
            },
            "merchantId": {
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "location": "path",
              "format": "uint64",
              "required": true
            }
          },
          "id": "content.orders.cancellineitem",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "OrdersCancelLineItemRequest"
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/cancelLineItem",
          "path": "content/v2.1/{merchantId}/orders/{orderId}/cancelLineItem",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "description": "Cancels a line item, making a full refund.",
          "response": {
            "$ref": "OrdersCancelLineItemResponse"
          }
        },
        "gettestordertemplate": {
          "path": "content/v2.1/{merchantId}/testordertemplates/{templateName}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "OrdersGetTestOrderTemplateResponse"
          },
          "parameterOrder": [
            "merchantId",
            "templateName"
          ],
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "required": true,
              "description": "The ID of the account that should manage the order. This cannot be a multi-client account.",
              "type": "string",
              "location": "path"
            },
            "country": {
              "location": "query",
              "description": "The country of the template to retrieve. Defaults to `US`.",
              "type": "string"
            },
            "templateName": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "TEMPLATE1",
                "TEMPLATE2",
                "TEMPLATE1A",
                "TEMPLATE1B",
                "TEMPLATE3",
                "TEMPLATE4"
              ],
              "required": true,
              "type": "string",
              "description": "The name of the template to retrieve.",
              "location": "path"
            }
          },
          "id": "content.orders.gettestordertemplate",
          "flatPath": "content/v2.1/{merchantId}/testordertemplates/{templateName}",
          "httpMethod": "GET",
          "description": "Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox."
        },
        "instorerefundlineitem": {
          "description": "Deprecated. Notifies that item return and refund was handled directly by merchant outside of Google payments processing (e.g. cash refund done in store). Note: We recommend calling the returnrefundlineitem method to refund in-store returns. We will issue the refund directly to the customer. This helps to prevent possible differences arising between merchant and Google transaction records. We also recommend having the point of sale system communicate with Google to ensure that customers do not receive a double refund by first refunding via Google then via an in-store return.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "request": {
            "$ref": "OrdersInStoreRefundLineItemRequest"
          },
          "response": {
            "$ref": "OrdersInStoreRefundLineItemResponse"
          },
          "parameters": {
            "orderId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the order."
            },
            "merchantId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "required": true,
              "format": "uint64"
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/inStoreRefundLineItem",
          "id": "content.orders.instorerefundlineitem",
          "httpMethod": "POST"
        },
        "get": {
          "id": "content.orders.get",
          "path": "content/v2.1/{merchantId}/orders/{orderId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "description": "Retrieves an order from your Merchant Center account.",
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "parameters": {
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string"
            },
            "orderId": {
              "required": true,
              "description": "The ID of the order.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Order"
          },
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}"
        },
        "returnrefundlineitem": {
          "response": {
            "$ref": "OrdersReturnRefundLineItemResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "description": "Returns and refunds a line item. Note that this method can only be called on fully shipped orders. Please also note that the Orderreturns API is the preferred way to handle returns after you receive a return from a customer. You can use Orderreturns.list or Orderreturns.get to search for the return, and then use Orderreturns.processreturn to issue the refund. If the return cannot be found, then we recommend using this API to issue a refund.",
          "request": {
            "$ref": "OrdersReturnRefundLineItemRequest"
          },
          "id": "content.orders.returnrefundlineitem",
          "httpMethod": "POST",
          "flatPath": "content/v2.1/{merchantId}/orders/{orderId}/returnRefundLineItem",
          "parameters": {
            "merchantId": {
              "location": "path",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "type": "string",
              "format": "uint64"
            },
            "orderId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the order."
            }
          },
          "path": "content/v2.1/{merchantId}/orders/{orderId}/returnRefundLineItem"
        }
      }
    },
    "orderinvoices": {
      "methods": {
        "createrefundinvoice": {
          "request": {
            "$ref": "OrderinvoicesCreateRefundInvoiceRequest"
          },
          "flatPath": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createRefundInvoice",
          "parameters": {
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the order.",
              "required": true
            },
            "merchantId": {
              "description": "The ID of the account that manages the order. This cannot be a multi-client account.",
              "format": "uint64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "content.orderinvoices.createrefundinvoice",
          "description": "Creates a refund invoice for one or more shipment groups, and triggers a refund for orderinvoice enabled orders. This can only be used for line items that have previously been charged using `createChargeInvoice`. All amounts (except for the summary) are incremental with respect to the previous invoice.",
          "response": {
            "$ref": "OrderinvoicesCreateRefundInvoiceResponse"
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createRefundInvoice"
        },
        "createchargeinvoice": {
          "path": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "id": "content.orderinvoices.createchargeinvoice",
          "response": {
            "$ref": "OrderinvoicesCreateChargeInvoiceResponse"
          },
          "parameters": {
            "orderId": {
              "description": "The ID of the order.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "merchantId": {
              "format": "uint64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the account that manages the order. This cannot be a multi-client account."
            }
          },
          "parameterOrder": [
            "merchantId",
            "orderId"
          ],
          "flatPath": "content/v2.1/{merchantId}/orderinvoices/{orderId}/createChargeInvoice",
          "description": "Creates a charge invoice for a shipment group, and triggers a charge capture for orderinvoice enabled orders.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "OrderinvoicesCreateChargeInvoiceRequest"
          }
        }
      }
    },
    "accountstatuses": {
      "methods": {
        "list": {
          "parameterOrder": [
            "merchantId"
          ],
          "path": "content/v2.1/{merchantId}/accountstatuses",
          "id": "content.accountstatuses.list",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
[...]
