{
  "canonicalName": "Shopping Content",
  "discoveryVersion": "v1",
  "schemas": {
    "DatafeedstatusesCustomBatchRequest": {
      "id": "DatafeedstatusesCustomBatchRequest",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "DatafeedstatusesCustomBatchRequestEntry"
          },
          "type": "array"
        }
      }
    },
    "AccountBusinessInformation": {
      "id": "AccountBusinessInformation",
      "properties": {
        "address": {
          "$ref": "AccountAddress",
          "description": "The address of the business."
        },
        "phoneNumber": {
          "description": "The phone number of the business.",
          "type": "string"
        },
        "customerService": {
          "description": "The customer service information of the business.",
          "$ref": "AccountCustomerService"
        }
      },
      "type": "object"
    },
    "SettlementTransactionAmountCommission": {
      "properties": {
        "rate": {
          "description": "Rate of the commission in percentage.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category of the commission. Acceptable values are: - \"`animalsAndPetSupplies`\" - \"`dogCatFoodAndCatLitter`\" - \"`apparelAndAccessories`\" - \"`shoesHandbagsAndSunglasses`\" - \"`costumesAndAccessories`\" - \"`jewelry`\" - \"`watches`\" - \"`hobbiesArtsAndCrafts`\" - \"`homeAndGarden`\" - \"`entertainmentCollectibles`\" - \"`collectibleCoins`\" - \"`sportsCollectibles`\" - \"`sportingGoods`\" - \"`toysAndGames`\" - \"`musicalInstruments`\" - \"`giftCards`\" - \"`babyAndToddler`\" - \"`babyFoodWipesAndDiapers`\" - \"`businessAndIndustrial`\" - \"`camerasOpticsAndPhotography`\" - \"`consumerElectronics`\" - \"`electronicsAccessories`\" - \"`personalComputers`\" - \"`videoGameConsoles`\" - \"`foodAndGrocery`\" - \"`beverages`\" - \"`tobaccoProducts`\" - \"`furniture`\" - \"`hardware`\" - \"`buildingMaterials`\" - \"`tools`\" - \"`healthAndPersonalCare`\" - \"`beauty`\" - \"`householdSupplies`\" - \"`kitchenAndDining`\" - \"`majorAppliances`\" - \"`luggageAndBags`\" - \"`media`\" - \"`officeSupplies`\" - \"`softwareAndVideoGames`\" - \"`vehiclePartsAndAccessories`\" - \"`vehicleTiresAndWheels`\" - \"`vehicles`\" - \"`everythingElse`\" "
        }
      },
      "id": "SettlementTransactionAmountCommission",
      "type": "object"
    },
    "ReturnpolicyCustomBatchRequest": {
      "type": "object",
      "id": "ReturnpolicyCustomBatchRequest",
      "properties": {
        "entries": {
          "items": {
            "$ref": "ReturnpolicyCustomBatchRequestEntry"
          },
          "description": "The request entries to be processed in the batch.",
          "type": "array"
        }
      }
    },
    "LiaPosDataProvider": {
      "properties": {
        "posExternalAccountId": {
          "description": "The account ID by which this merchant is known to the POS data provider.",
          "type": "string"
        },
        "posDataProviderId": {
          "description": "The ID of the POS data provider.",
          "format": "uint64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiaPosDataProvider"
    },
    "ShippingsettingsListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of shipping settings."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsListResponse\"."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "ShippingSettings"
          }
        }
      },
      "id": "ShippingsettingsListResponse"
    },
    "AccountsCustomBatchRequestEntry": {
      "type": "object",
      "properties": {
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "type": "integer",
          "format": "uint32"
        },
        "accountId": {
          "type": "string",
          "description": "The ID of the targeted account. Only defined if the method is not `insert`.",
          "format": "uint64"
        },
        "view": {
          "description": "Controls which fields are visible. Only applicable if the method is 'get'.",
          "type": "string"
        },
        "force": {
          "description": "Whether the account should be deleted if the account has offers. Only applicable if the method is `delete`.",
          "type": "boolean"
        },
        "overwrite": {
          "description": "Only applicable if the method is `claimwebsite`. Indicates whether or not to take the claim from another account in case there is a conflict.",
          "type": "boolean"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`claimWebsite`\" - \"`delete`\" - \"`get`\" - \"`insert`\" - \"`link`\" - \"`update`\" "
        },
        "account": {
          "description": "The account to create or update. Only defined if the method is `insert` or `update`.",
          "$ref": "Account"
        },
        "labelIds": {
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "type": "array",
          "description": "Label IDs for the 'updatelabels' request."
        },
        "linkRequest": {
          "description": "Details about the `link` request.",
          "$ref": "AccountsCustomBatchRequestEntryLinkRequest"
        }
      },
      "description": "A batch entry encoding a single non-batch accounts request.",
      "id": "AccountsCustomBatchRequestEntry"
    },
    "AccounttaxCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch accounttax response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accounttaxCustomBatchResponseEntry`\""
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        },
        "accountTax": {
          "description": "The retrieved or updated account tax settings.",
          "$ref": "AccountTax"
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        }
      },
      "type": "object",
      "id": "AccounttaxCustomBatchResponseEntry"
    },
    "SettlementReport": {
      "type": "object",
      "description": " Settlement reports detail order-level and item-level credits and debits between you and Google.",
      "id": "SettlementReport",
      "properties": {
        "previousBalance": {
          "$ref": "Price",
          "description": "The residual amount from the previous invoice. This is set only if the previous invoices are not paid because of negative balance."
        },
        "transferAmount": {
          "$ref": "Price",
          "description": "The money due to the merchant."
        },
        "transferIds": {
          "items": {
            "type": "string"
          },
          "description": "The list of bank identifiers used for the transfer. e.g. Trace ID for Federal Automated Clearing House (ACH). This may also be known as the Wire ID.",
          "type": "array"
        },
        "transferDate": {
          "type": "string",
          "description": "Date on which transfer for this payment was initiated by Google, in ISO 8601 format."
        },
        "startDate": {
          "type": "string",
          "description": "The start date on which all transactions are included in the report, in ISO 8601 format."
        },
        "endDate": {
          "description": "The end date on which all transactions are included in the report, in ISO 8601 format.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#settlementReport`\"",
          "type": "string"
        },
        "settlementId": {
          "type": "string",
          "description": "The ID of the settlement report."
        }
      }
    },
    "ProductstatusesCustomBatchResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#productstatusesCustomBatchResponse\".",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "ProductstatusesCustomBatchResponseEntry"
          },
          "description": "The result of the execution of the batch requests."
        }
      },
      "type": "object",
      "id": "ProductstatusesCustomBatchResponse"
    },
    "ShippingsettingsCustomBatchRequest": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The request entries to be processed in the batch.",
          "items": {
            "$ref": "ShippingsettingsCustomBatchRequestEntry"
          }
        }
      },
      "id": "ShippingsettingsCustomBatchRequest"
    },
    "LocationIdSet": {
      "id": "LocationIdSet",
      "type": "object",
      "properties": {
        "locationIds": {
          "description": "A non-empty list of location IDs. They must all be of the same location type (e.g., state).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Datafeed": {
      "id": "Datafeed",
      "properties": {
        "attributeLanguage": {
          "type": "string",
          "description": "The two-letter ISO 639-1 language in which the attributes are defined in the data feed."
        },
        "fetchSchedule": {
          "description": "Fetch schedule for the feed file.",
          "$ref": "DatafeedFetchSchedule"
        },
        "name": {
          "type": "string",
          "description": "Required for insert. A descriptive name of the data feed."
        },
        "fileName": {
          "description": "Required. The filename of the feed. All feeds must have a unique file name.",
          "type": "string"
        },
        "id": {
          "description": "Required for update. The ID of the data feed.",
          "type": "string",
          "format": "int64"
        },
        "format": {
          "description": "Format of the feed file.",
          "$ref": "DatafeedFormat"
        },
        "targets": {
          "description": "The targets this feed should apply to (country, language, destinations).",
          "type": "array",
          "items": {
            "$ref": "DatafeedTarget"
          }
        },
        "contentType": {
          "type": "string",
          "description": "Required. The type of data feed. For product inventory feeds, only feeds for local stores, not online stores, are supported. Acceptable values are: - \"`local products`\" - \"`product inventory`\" - \"`products`\" "
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeed`\"",
          "type": "string"
        }
      },
      "description": "Datafeed configuration data.",
      "type": "object"
    },
    "ShippingsettingsGetSupportedPickupServicesResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsGetSupportedPickupServicesResponse\"."
        },
        "pickupServices": {
          "items": {
            "$ref": "PickupServicesPickupService"
          },
          "type": "array",
          "description": "A list of supported pickup services. May be empty."
        }
      },
      "type": "object",
      "id": "ShippingsettingsGetSupportedPickupServicesResponse"
    },
    "AccountTax": {
      "description": "The tax settings of a merchant account. All methods require the admin role.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountTax\".",
          "type": "string"
        },
        "rules": {
          "type": "array",
          "description": "Tax rules. Updating the tax rules will enable US taxes (not reversible). Defining no rules is equivalent to not charging tax at all.",
          "items": {
            "$ref": "AccountTaxTaxRule"
          }
        },
        "accountId": {
          "format": "uint64",
          "type": "string",
          "description": "Required. The ID of the account to which these account tax settings belong."
        }
      },
      "id": "AccountTax"
    },
    "OrderTrackingSignalLineItemDetails": {
      "properties": {
        "gtin": {
          "type": "string",
          "description": "The Global Trade Item Number."
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Required. The quantity of the line item in the order."
        },
        "mpn": {
          "description": "The manufacturer part number.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The Content API REST ID of the product, in the form channel:contentLanguage:targetCountry:offerId.",
          "type": "string"
        },
        "lineItemId": {
          "type": "string",
          "description": "Required. The ID for this line item."
        }
      },
      "description": "The line items of the order.",
      "id": "OrderTrackingSignalLineItemDetails",
      "type": "object"
    },
    "OrderLineItemProductFee": {
      "id": "OrderLineItemProductFee",
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "Amount of the fee."
        },
        "name": {
          "description": "Name of the fee.",
          "type": "string"
        }
      }
    },
    "PosSale": {
      "type": "object",
      "description": "The change of the available quantity of an item at the given store.",
      "id": "PosSale",
      "properties": {
        "price": {
          "description": "Required. The price of the item.",
          "$ref": "Price"
        },
        "quantity": {
          "description": "Required. The relative change of the available quantity. Negative for items returned.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#posSale`\"",
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business.",
          "type": "string"
        },
        "gtin": {
          "description": "Global Trade Item Number.",
          "type": "string"
        },
        "saleId": {
          "type": "string",
          "description": "A unique ID to group items from the same sale event."
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "itemId": {
          "description": "Required. A unique identifier for the item.",
          "type": "string"
        }
      }
    },
    "LiaOnDisplayToOrderSettings": {
      "id": "LiaOnDisplayToOrderSettings",
      "properties": {
        "shippingCostPolicyUrl": {
          "description": "Shipping cost and policy URL.",
          "type": "string"
        },
        "status": {
          "description": "The status of the ?On display to order? feature. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatafeedStatus": {
      "description": "The status of a datafeed, i.e., the result of the last retrieval of the datafeed computed asynchronously when the feed processing is finished.",
      "type": "object",
      "properties": {
        "processingStatus": {
          "type": "string",
          "description": "The processing status of the feed. Acceptable values are: - \"`\"`failure`\": The feed could not be processed or all items had errors.`\" - \"`in progress`\": The feed is being processed. - \"`none`\": The feed has not yet been processed. For example, a feed that has never been uploaded will have this processing status. - \"`success`\": The feed was processed successfully, though some items might have had errors. "
        },
        "warnings": {
          "description": "The list of errors occurring in the feed.",
          "type": "array",
          "items": {
            "$ref": "DatafeedStatusError"
          }
        },
        "itemsTotal": {
          "type": "string",
          "description": "The number of items in the feed that were processed.",
          "format": "uint64"
        },
        "errors": {
          "description": "The list of errors occurring in the feed.",
          "type": "array",
          "items": {
            "$ref": "DatafeedStatusError"
          }
        },
        "datafeedId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the feed for which the status is reported."
        },
        "language": {
          "description": "The two-letter ISO 639-1 language for which the status is reported.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#datafeedStatus`\"",
          "type": "string"
        },
        "lastUploadDate": {
          "description": "The last date at which the feed was uploaded.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country for which the status is reported, represented as a CLDR territory code."
        },
        "itemsValid": {
          "type": "string",
          "format": "uint64",
          "description": "The number of items in the feed that were valid."
        }
      },
      "id": "DatafeedStatus"
    },
    "TestOrder": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#testOrder`\"",
          "type": "string"
        },
        "enableOrderinvoices": {
          "type": "boolean",
          "description": "Whether the orderinvoices service should support this order."
        },
        "predefinedDeliveryAddress": {
          "description": "Required. Identifier of one of the predefined delivery addresses for the delivery. Acceptable values are: - \"`dwight`\" - \"`jim`\" - \"`pam`\" ",
          "type": "string"
        },
        "shippingOption": {
          "type": "string",
          "description": "Required. The requested shipping option. Acceptable values are: - \"`economy`\" - \"`expedited`\" - \"`oneDay`\" - \"`sameDay`\" - \"`standard`\" - \"`twoDay`\" "
        },
        "promotions": {
          "description": "Promotions associated with the order.",
          "type": "array",
          "items": {
            "$ref": "OrderPromotion"
          }
        },
        "notificationMode": {
          "description": "Restricted. Do not use.",
          "type": "string"
        },
        "shippingCost": {
          "$ref": "Price",
          "description": "Required. The price of shipping for all items. Shipping tax is automatically calculated for orders where marketplace facilitator tax laws are applicable. Otherwise, tax settings from Merchant Center are applied. Note that shipping is not taxed in certain states."
        },
        "pickupDetails": {
          "description": "Overrides the predefined pickup details if provided.",
          "$ref": "TestOrderPickupDetails"
        },
        "predefinedPickupDetails": {
          "description": "Identifier of one of the predefined pickup details. Required for orders containing line items with shipping type `pickup`. Acceptable values are: - \"`dwight`\" - \"`jim`\" - \"`pam`\" ",
          "type": "string"
        },
        "predefinedBillingAddress": {
          "description": "Required. The billing address. Acceptable values are: - \"`dwight`\" - \"`jim`\" - \"`pam`\" ",
          "type": "string"
        },
        "deliveryDetails": {
          "description": "Overrides the predefined delivery details if provided.",
          "$ref": "TestOrderDeliveryDetails"
        },
        "lineItems": {
          "description": "Required. Line items that are ordered. At least one line item must be provided.",
          "type": "array",
          "items": {
            "$ref": "TestOrderLineItem"
          }
        },
        "predefinedEmail": {
          "type": "string",
          "description": "Required. Email address of the customer. Acceptable values are: - \"`pog.dwight.schrute@gmail.com`\" - \"`pog.jim.halpert@gmail.com`\" - \"`penpog.pam.beesly@gmail.comding`\" "
        }
      },
      "id": "TestOrder"
    },
    "SettlementreportsListResponse": {
      "id": "SettlementreportsListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of returns."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "SettlementReport"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#settlementreportsListResponse\"."
        }
      },
      "type": "object"
    },
    "OrdersCustomBatchRequestEntryRefundItemShipping": {
      "id": "OrdersCustomBatchRequestEntryRefundItemShipping",
      "type": "object",
      "properties": {
        "fullRefund": {
          "type": "boolean",
          "description": "If set to true, all shipping costs for the order will be refunded. If this is true, amount should not be provided and will be ignored."
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount that is refunded. If this is not the first refund for the shipment, this should be the newly refunded amount."
        }
      }
    },
    "LinkedAccount": {
      "id": "LinkedAccount",
      "properties": {
        "services": {
          "description": "List of provided services.",
          "type": "array",
          "items": {
            "$ref": "LinkService"
          }
        },
        "linkedAccountId": {
          "type": "string",
          "description": "The ID of the linked account."
        }
      },
      "type": "object"
    },
    "ReturnaddressListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of addresses."
        },
        "resources": {
          "items": {
            "$ref": "ReturnAddress"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#returnaddressListResponse\"."
        }
      },
      "id": "ReturnaddressListResponse"
    },
    "PosDataProviders": {
      "type": "object",
      "properties": {
        "country": {
          "type": "string",
          "description": "Country code."
        },
        "posDataProviders": {
          "items": {
            "$ref": "PosDataProvidersPosDataProvider"
          },
          "type": "array",
          "description": "A list of POS data providers."
        }
      },
      "id": "PosDataProviders"
    },
    "OrderreturnsPartialRefund": {
      "id": "OrderreturnsPartialRefund",
      "properties": {
        "taxAmount": {
          "$ref": "Price",
          "description": "Tax amount to be refunded. Note: This has different meaning depending on the location of the order."
        },
        "priceAmount": {
          "$ref": "Price",
          "description": "The pre-tax or post-tax amount to be refunded, depending on the location of the order."
        }
      },
      "type": "object"
    },
    "ProductUnitPricingBaseMeasure": {
      "type": "object",
      "id": "ProductUnitPricingBaseMeasure",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string",
          "description": "The denominator of the unit price."
        },
        "unit": {
          "description": "The unit of the denominator.",
          "type": "string"
        }
      }
    },
    "OrdersShipLineItemsResponse": {
      "id": "OrdersShipLineItemsResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersShipLineItemsResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      }
    },
    "DatafeedStatusError": {
      "id": "DatafeedStatusError",
      "properties": {
        "code": {
          "description": "The code of the error, e.g., \"validation/invalid_value\".",
          "type": "string"
        },
        "examples": {
          "description": "A list of example occurrences of the error, grouped by product.",
          "items": {
            "$ref": "DatafeedStatusExample"
          },
          "type": "array"
        },
        "message": {
          "description": "The error message, e.g., \"Invalid price\".",
          "type": "string"
        },
        "count": {
          "description": "The number of occurrences of the error in the feed.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "An error occurring in the feed, like \"invalid price\".",
      "type": "object"
    },
    "LiaInventorySettings": {
      "properties": {
        "status": {
          "description": "The status of the inventory verification process. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        },
        "inventoryVerificationContactStatus": {
          "type": "string",
          "description": "The status of the verification contact. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" "
        },
        "inventoryVerificationContactName": {
          "description": "The name of the contact for the inventory verification process.",
          "type": "string"
        },
        "inventoryVerificationContactEmail": {
          "description": "The email of the contact for the inventory verification process.",
          "type": "string"
        }
      },
      "id": "LiaInventorySettings",
      "type": "object"
    },
    "HolidayCutoff": {
      "properties": {
        "visibleFromDate": {
          "type": "string",
          "description": "Date on which the deadline will become visible to consumers in ISO 8601 format. E.g. \"2016-10-31\" for 31st October 2016. Required."
        },
        "deadlineHour": {
          "description": "Hour of the day on the deadline date until which the order has to be placed to qualify for the delivery guarantee. Possible values are: 0 (midnight), 1, ..., 12 (noon), 13, ..., 23. Required.",
          "format": "uint32",
          "type": "integer"
        },
        "deadlineTimezone": {
          "description": "Timezone identifier for the deadline hour. A list of identifiers can be found in the AdWords API documentation. E.g. \"Europe/Zurich\". Required.",
          "type": "string"
        },
        "deadlineDate": {
          "description": "Date of the order deadline, in ISO 8601 format. E.g. \"2016-11-29\" for 29th November 2016. Required.",
          "type": "string"
        },
        "holidayId": {
          "description": "Unique identifier for the holiday. Required.",
          "type": "string"
        }
      },
      "id": "HolidayCutoff",
      "type": "object"
    },
    "TestOrderPickupDetailsPickupPerson": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Required. The phone number of the person picking up the items."
        },
        "name": {
          "type": "string",
          "description": "Required. Full name of the pickup person."
        }
      },
      "id": "TestOrderPickupDetailsPickupPerson",
      "type": "object"
    },
    "ListRepricingProductReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token for retrieving the next page. Its absence means there is no subsequent page."
        },
        "repricingProductReports": {
          "description": "Periodic reports for the given Repricing product.",
          "type": "array",
          "items": {
            "$ref": "RepricingProductReport"
          }
        }
      },
      "description": "Response message for the ListRepricingProductReports method.",
      "id": "ListRepricingProductReportsResponse",
      "type": "object"
    },
    "LiaAboutPageSettings": {
      "properties": {
        "status": {
          "description": "The status of the verification process for the About page. Acceptable values are: - \"`active`\" - \"`inactive`\" - \"`pending`\" ",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL for the About page."
        }
      },
      "id": "LiaAboutPageSettings",
      "type": "object"
    },
    "RepricingRuleStatsBasedRule": {
      "id": "RepricingRuleStatsBasedRule",
      "properties": {
        "priceDelta": {
          "description": "The price delta against the above price target. A positive value means the price should be adjusted to be above statistical measure, and a negative value means below. Currency code must not be included.",
          "type": "string"
        },
        "percentageDelta": {
          "type": "integer",
          "format": "int32",
          "description": "The percent change against the price target. Valid from 0 to 100 inclusively."
        }
      },
      "type": "object",
      "description": "Definition of stats based rule."
    },
    "OrdersCustomBatchRequestEntryUpdateShipmentScheduledDeliveryDetails": {
      "description": "ScheduledDeliveryDetails used to update the scheduled delivery order.",
      "type": "object",
      "id": "OrdersCustomBatchRequestEntryUpdateShipmentScheduledDeliveryDetails",
      "properties": {
        "carrierPhoneNumber": {
          "type": "string",
          "description": "The phone number of the carrier fulfilling the delivery. The phone number should be formatted as the international notation in"
        },
        "scheduledDate": {
          "description": "The date a shipment is scheduled for delivery, in ISO 8601 format.",
          "type": "string"
        }
      }
    },
    "ListAccountLabelsResponse": {
      "type": "object",
      "properties": {
        "accountLabels": {
          "type": "array",
          "description": "The labels from the specified account.",
          "items": {
            "$ref": "AccountLabel"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAccountLabelsResponse",
      "description": "Response message for the `ListAccountLabels` method."
    },
    "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption": {
      "type": "object",
      "id": "OrderinvoicesCustomBatchRequestEntryCreateRefundInvoiceRefundOption",
      "properties": {
        "description": {
          "description": "Optional description of the refund reason.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "[required] Reason for the refund. Acceptable values are: - \"`adjustment`\" - \"`autoPostInternal`\" - \"`autoPostInvalidBillingAddress`\" - \"`autoPostNoInventory`\" - \"`autoPostPriceError`\" - \"`autoPostUndeliverableShippingAddress`\" - \"`couponAbuse`\" - \"`courtesyAdjustment`\" - \"`customerCanceled`\" - \"`customerDiscretionaryReturn`\" - \"`customerInitiatedMerchantCancel`\" - \"`customerSupportRequested`\" - \"`deliveredLateByCarrier`\" - \"`deliveredTooLate`\" - \"`expiredItem`\" - \"`failToPushOrderGoogleError`\" - \"`failToPushOrderMerchantError`\" - \"`failToPushOrderMerchantFulfillmentError`\" - \"`failToPushOrderToMerchant`\" - \"`failToPushOrderToMerchantOutOfStock`\" - \"`feeAdjustment`\" - \"`invalidCoupon`\" - \"`lateShipmentCredit`\" - \"`malformedShippingAddress`\" - \"`merchantDidNotShipOnTime`\" - \"`noInventory`\" - \"`orderTimeout`\" - \"`other`\" - \"`paymentAbuse`\" - \"`paymentDeclined`\" - \"`priceAdjustment`\" - \"`priceError`\" - \"`productArrivedDamaged`\" - \"`productNotAsDescribed`\" - \"`promoReallocation`\" - \"`qualityNotAsExpected`\" - \"`returnRefundAbuse`\" - \"`shippingCostAdjustment`\" - \"`shippingPriceError`\" - \"`taxAdjustment`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" - \"`wrongProductShipped`\" "
        }
      }
    },
    "OrdersSetLineItemMetadataResponse": {
      "id": "OrdersSetLineItemMetadataResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersSetLineItemMetadataResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        }
      }
    },
    "OrderreturnsReturnItem": {
      "properties": {
        "reject": {
          "$ref": "OrderreturnsRejectOperation",
          "description": "Rejects the item."
        },
        "returnItemId": {
          "description": "Unit level ID for the return item. Different units of the same product will have different IDs.",
          "type": "string"
        },
        "refund": {
          "$ref": "OrderreturnsRefundOperation",
          "description": "Refunds the item."
        }
      },
      "type": "object",
      "id": "OrderreturnsReturnItem"
    },
    "OrderLineItem": {
      "id": "OrderLineItem",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the line item."
        },
        "annotations": {
          "type": "array",
          "description": "Annotations that are attached to the line item.",
          "items": {
            "$ref": "OrderMerchantProvidedAnnotation"
          }
        },
        "quantityDelivered": {
          "format": "uint32",
          "description": "Number of items delivered.",
          "type": "integer"
        },
        "returns": {
          "type": "array",
          "items": {
            "$ref": "OrderReturn"
          },
          "description": "Returns of the line item."
        },
        "quantityReadyForPickup": {
          "format": "uint32",
          "description": "Number of items ready for pickup.",
          "type": "integer"
        },
        "price": {
          "$ref": "Price",
          "description": "Total price for the line item. For example, if two items for $10 are purchased, the total price will be $20."
        },
        "tax": {
          "description": "Total tax amount for the line item. For example, if two items are purchased, and each have a cost tax of $2, the total tax amount will be $4.",
          "$ref": "Price"
        },
        "cancellations": {
          "items": {
            "$ref": "OrderCancellation"
          },
          "type": "array",
          "description": "Cancellations of the line item."
        },
        "adjustments": {
          "description": "Price and tax adjustments applied on the line item.",
          "items": {
            "$ref": "OrderLineItemAdjustment"
          },
          "type": "array"
        },
        "shippingDetails": {
          "$ref": "OrderLineItemShippingDetails",
          "description": "Details of the requested shipping for the line item."
        },
        "returnInfo": {
          "description": "Details of the return policy for the line item.",
          "$ref": "OrderLineItemReturnInfo"
        },
        "quantityCanceled": {
          "description": "Number of items canceled.",
          "format": "uint32",
          "type": "integer"
        },
        "quantityShipped": {
          "format": "uint32",
          "type": "integer",
          "description": "Number of items shipped."
        },
        "quantityReturned": {
          "type": "integer",
          "description": "Number of items returned.",
          "format": "uint32"
        },
        "quantityOrdered": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of items ordered."
        },
        "quantityPending": {
          "type": "integer",
          "description": "Number of items pending.",
          "format": "uint32"
        },
        "quantityUndeliverable": {
          "format": "uint32",
          "description": "Number of items undeliverable.",
          "type": "integer"
        },
        "product": {
          "description": "Product data as seen by customer from the time of the order placement. Note that certain attributes values (e.g. title or gtin) might be reformatted and no longer match values submitted via product feed.",
          "$ref": "OrderLineItemProduct"
        }
      }
    },
    "LocalInventory": {
      "description": "Local inventory resource. For accepted attribute values, see the local product inventory feed specification.",
      "properties": {
        "pickupMethod": {
          "description": "Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the local product inventory feed // specification.",
          "type": "string"
        },
        "availability": {
          "type": "string",
          "description": "Availability of the product. For accepted attribute values, see the local product inventory feed specification."
        },
        "pickupSla": {
          "type": "string",
          "description": "Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the local product inventory feed specification."
        },
        "salePrice": {
          "description": "Sale price of the product. Mandatory if `sale_price_effective_date` is defined.",
          "$ref": "Price"
        },
        "instoreProductLocation": {
          "description": "In-store product location.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#localInventory`\"",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "type": "string",
          "description": "A date range represented by a pair of ISO 8601 dates separated by a space, comma, or slash. Both dates may be specified as 'null' if undecided."
        },
        "storeCode": {
          "description": "Required. Store code of this local inventory resource.",
          "type": "string"
        },
        "price": {
          "description": "Price of the product.",
          "$ref": "Price"
        },
        "quantity": {
          "description": "Quantity of the product. Must be nonnegative.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "LocalInventory"
    },
    "DatafeedsCustomBatchRequestEntry": {
      "type": "object",
      "description": "A batch entry encoding a single non-batch datafeeds request.",
      "id": "DatafeedsCustomBatchRequestEntry",
      "properties": {
        "merchantId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the managing account."
        },
        "batchId": {
          "format": "uint32",
          "description": "An entry ID, unique within the batch request.",
          "type": "integer"
        },
        "datafeedId": {
          "type": "string",
          "description": "The ID of the data feed to get, delete or fetch.",
          "format": "uint64"
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`fetchNow`\" - \"`get`\" - \"`insert`\" - \"`update`\" "
        },
        "datafeed": {
          "$ref": "Datafeed",
          "description": "The data feed to insert."
        }
      }
    },
    "OrdersCreateTestOrderRequest": {
      "properties": {
        "testOrder": {
          "$ref": "TestOrder",
          "description": "The test order to create."
        },
        "country": {
          "type": "string",
          "description": "The CLDR territory code of the country of the test order to create. Affects the currency and addresses of orders created via `template_name`, or the addresses of orders created via `test_order`. Acceptable values are: - \"`US`\" - \"`FR`\" Defaults to `US`."
        },
        "templateName": {
          "type": "string",
          "description": "The test order template to use. Specify as an alternative to `testOrder` as a shortcut for retrieving a template and then creating an order using that template. Acceptable values are: - \"`template1`\" - \"`template1a`\" - \"`template1b`\" - \"`template2`\" - \"`template3`\" "
        }
      },
      "type": "object",
      "id": "OrdersCreateTestOrderRequest"
    },
    "DatafeedTarget": {
      "id": "DatafeedTarget",
      "type": "object",
      "properties": {
        "country": {
          "description": "The country where the items in the feed will be included in the search index, represented as a CLDR territory code.",
          "type": "string"
        },
        "excludedDestinations": {
          "items": {
            "type": "string"
          },
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center).",
          "type": "array"
        },
        "includedDestinations": {
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`. List of supported destinations (if available to the account): - DisplayAds - Shopping - ShoppingActions - SurfacesAcrossGoogle ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "language": {
          "description": "The two-letter ISO 639-1 language of the items in the feed. Must be a valid language for `targets[].country`.",
          "type": "string"
        }
      }
    },
    "AccountStatusItemLevelIssue": {
      "properties": {
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the merchant."
        },
        "numItems": {
          "description": "Number of items with this issue.",
          "format": "int64",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "servability": {
          "description": "How this issue affects serving of the offer.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "attributeName": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        }
      },
      "type": "object",
      "id": "AccountStatusItemLevelIssue"
    },
    "ProductSubscriptionCost": {
      "id": "ProductSubscriptionCost",
      "type": "object",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "periodLength": {
          "type": "string",
          "format": "int64",
          "description": "The number of subscription periods the buyer has to pay."
        },
        "period": {
          "description": "The type of subscription period.",
          "type": "string"
        }
      }
    },
    "Order": {
      "id": "Order",
      "description": "Order. Production access (all methods) requires the order manager role. Sandbox access does not.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The REST ID of the order. Globally unique."
        },
        "customer": {
          "description": "The details of the customer who placed the order.",
          "$ref": "OrderCustomer"
        },
        "merchantOrderId": {
          "type": "string",
          "description": "Merchant-provided ID of the order."
        },
        "status": {
          "type": "string",
          "description": "The status of the order. Acceptable values are: - \"`canceled`\" - \"`delivered`\" - \"`inProgress`\" - \"`partiallyDelivered`\" - \"`partiallyReturned`\" - \"`partiallyShipped`\" - \"`pendingShipment`\" - \"`returned`\" - \"`shipped`\" "
        },
        "pickupDetails": {
          "$ref": "OrderPickupDetails",
          "description": "Pickup details for shipments of type `pickup`."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#order`\""
        },
        "annotations": {
          "type": "array",
          "description": "List of key-value pairs that are attached to a given order.",
          "items": {
            "$ref": "OrderOrderAnnotation"
          }
        },
        "shippingCostTax": {
          "description": "The tax for the total shipping cost.",
          "$ref": "Price"
        },
        "deliveryDetails": {
          "description": "Delivery details for shipments of type `delivery`.",
          "$ref": "OrderDeliveryDetails"
        },
        "netTaxAmount": {
          "$ref": "Price",
          "description": "The net amount for the order (tax part). Note that in certain cases due to taxable base adjustment `netTaxAmount` might not match to a sum of tax field across all lineItems and refunds."
        },
        "netPriceAmount": {
          "$ref": "Price",
          "description": "The net amount for the order (price part). For example, if an order was originally for $100 and a refund was issued for $20, the net amount will be $80."
        },
        "acknowledged": {
          "type": "boolean",
          "description": "Whether the order was acknowledged."
        },
        "lineItems": {
          "description": "Line items that are ordered.",
          "type": "array",
          "items": {
            "$ref": "OrderLineItem"
          }
        },
        "placedDate": {
          "type": "string",
          "description": "The date when the order was placed, in ISO 8601 format."
        },
        "taxCollector": {
          "description": "The party responsible for collecting and remitting taxes. Acceptable values are: - \"`marketplaceFacilitator`\" - \"`merchant`\" ",
          "type": "string"
        },
        "merchantId": {
          "format": "uint64",
          "type": "string"
        },
        "refunds": {
          "type": "array",
          "description": "Refunds for the order.",
          "items": {
            "$ref": "OrderRefund"
          }
        },
        "shipments": {
          "items": {
            "$ref": "OrderShipment"
          },
          "description": "Shipments of the order.",
          "type": "array"
        },
        "billingAddress": {
          "description": "The billing address.",
          "$ref": "OrderAddress"
        },
        "promotions": {
          "description": "Promotions associated with the order. To determine which promotions apply to which products, check the `Promotions[].appliedItems[].lineItemId` field against the `LineItems[].id` field for each promotion. If a promotion is applied to more than 1 offerId, divide the discount value by the number of affected offers to determine how much discount to apply to each offerId. Examples: 1. To calculate price paid by the customer for a single line item including the discount: For each promotion, subtract the `LineItems[].adjustments[].priceAdjustment.value` amount from the `LineItems[].Price.value`. 2. To calculate price paid by the customer for a single line item including the discount in case of multiple quantity: For each promotion, divide the `LineItems[].adjustments[].priceAdjustment.value` by the quantity of products then subtract the resulting value from the `LineItems[].Product.Price.value` for each quantity item. Only 1 promotion can be applied to an offerId in a given order. To refund an item which had a promotion applied to it, make sure to refund the amount after first subtracting the promotion discount from the item price. More details about the program are here.",
          "items": {
            "$ref": "OrderPromotion"
          },
          "type": "array"
        },
        "shippingCost": {
          "description": "The total cost of shipping for all items.",
          "$ref": "Price"
        },
        "paymentStatus": {
          "type": "string",
          "description": "The status of the payment. Acceptable values are: - \"`paymentCaptured`\" - \"`paymentRejected`\" - \"`paymentSecured`\" - \"`pendingAuthorization`\" "
        }
      },
      "type": "object"
    },
    "ReturnaddressCustomBatchRequest": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "ReturnaddressCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "ReturnaddressCustomBatchRequest",
      "type": "object"
    },
    "AccountsUpdateLabelsRequest": {
      "properties": {
        "labelIds": {
          "items": {
            "format": "uint64",
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of labels that should be assigned to the account."
        }
      },
      "id": "AccountsUpdateLabelsRequest",
      "type": "object"
    },
    "RegionalinventoryCustomBatchResponse": {
      "type": "object",
      "id": "RegionalinventoryCustomBatchResponse",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "RegionalinventoryCustomBatchResponseEntry"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#regionalinventoryCustomBatchResponse\".",
          "type": "string"
        }
      }
    },
    "InapplicabilityDetails": {
      "properties": {
        "inapplicableCount": {
          "type": "string",
          "description": "Count of this inapplicable reason code.",
          "format": "int64"
        },
        "inapplicableReason": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The rule set for this product cannot beat the buybox winner.",
            "This product can already win the buybox without rule.",
            "Another rule of the same type takes precedence over this one.",
            "Another rule of a different type takes precedence over this one.",
            "The rule restrictions are not met. For example, this may be the case if the calculated rule price is lower than floor price in the restriction.",
            "The reason is not categorized to any known reason."
          ],
          "enum": [
            "INAPPLICABLE_REASON_UNSPECIFIED",
            "CANNOT_BEAT_BUYBOX_WINNER",
            "ALREADY_WINNING_BUYBOX",
            "TRIUMPHED_OVER_BY_SAME_TYPE_RULE",
            "TRIUMPHED_OVER_BY_OTHER_RULE_ON_OFFER",
            "RESTRICTIONS_NOT_MET",
            "UNCATEGORIZED"
          ],
          "type": "string",
          "description": "Reason code this rule was not applicable."
        }
      },
      "id": "InapplicabilityDetails",
      "type": "object",
      "description": "Map of inapplicability details."
    },
    "AccountStatus": {
      "description": "The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time.",
      "properties": {
        "accountLevelIssues": {
          "type": "array",
          "items": {
            "$ref": "AccountStatusAccountLevelIssue"
          },
          "description": "A list of account level issues."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#accountStatus`\"",
          "type": "string"
        },
        "accountId": {
          "description": "The ID of the account for which the status is reported.",
          "type": "string"
        },
        "websiteClaimed": {
          "description": "Whether the account's website is claimed or not.",
          "type": "boolean"
        },
        "products": {
          "description": "List of product-related data by channel, destination, and country. Data in this field may be delayed by up to 30 minutes.",
          "type": "array",
          "items": {
            "$ref": "AccountStatusProducts"
          }
        }
      },
      "type": "object",
      "id": "AccountStatus"
    },
    "ShippingsettingsGetSupportedHolidaysResponse": {
      "type": "object",
      "id": "ShippingsettingsGetSupportedHolidaysResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#shippingsettingsGetSupportedHolidaysResponse\".",
          "type": "string"
        },
        "holidays": {
          "type": "array",
          "items": {
            "$ref": "HolidaysHoliday"
          },
          "description": "A list of holidays applicable for delivery guarantees. May be empty."
        }
      }
    },
    "PubsubNotificationSettings": {
      "type": "object",
      "properties": {
        "registeredEvents": {
          "items": {
            "type": "string"
          },
          "description": "List of event types. Acceptable values are: - \"`orderPendingShipment`\" ",
          "type": "array"
        },
        "cloudTopicName": {
          "type": "string",
          "description": "Cloud pub/sub topic to which notifications are sent (read-only)."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#pubsubNotificationSettings`\""
        }
      },
      "id": "PubsubNotificationSettings",
      "description": "Settings for Pub/Sub notifications, all methods require that the caller is a direct user of the merchant center account."
    },
    "AccountUser": {
      "type": "object",
      "id": "AccountUser",
      "properties": {
        "orderManager": {
          "description": "Whether user is an order manager.",
          "type": "boolean"
        },
        "admin": {
          "description": "Whether user is an admin.",
          "type": "boolean"
        },
        "paymentsAnalyst": {
          "description": "Whether user can access payment statements.",
          "type": "boolean"
        },
        "paymentsManager": {
          "type": "boolean",
          "description": "Whether user can manage payment settings."
        },
        "emailAddress": {
          "type": "string",
          "description": "User's email address."
        }
      }
    },
    "PosCustomBatchRequest": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "PosCustomBatchRequestEntry"
          },
          "type": "array",
          "description": "The request entries to be processed in the batch."
        }
      },
      "id": "PosCustomBatchRequest",
      "type": "object"
    },
    "OrdersUpdateLineItemShippingDetailsResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersUpdateLineItemShippingDetailsResponse\".",
          "type": "string"
        },
        "executionStatus": {
          "type": "string",
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" "
        }
      },
      "id": "OrdersUpdateLineItemShippingDetailsResponse"
    },
    "CollectionFeaturedProduct": {
      "id": "CollectionFeaturedProduct",
      "properties": {
        "x": {
          "format": "float",
          "type": "number",
          "description": "Required. X-coordinate of the product callout on the Shoppable Image."
        },
        "offerId": {
          "description": "The unique identifier for the product item.",
          "type": "string"
        },
        "y": {
          "type": "number",
          "description": "Required. Y-coordinate of the product callout on the Shoppable Image.",
          "format": "float"
        }
      },
      "description": "The message for FeaturedProduct. FeaturedProduct",
      "type": "object"
    },
    "ProductsCustomBatchResponseEntry": {
      "description": "A batch entry encoding a single non-batch products response.",
      "id": "ProductsCustomBatchResponseEntry",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productsCustomBatchResponseEntry`\""
        },
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "The ID of the request entry this entry responds to."
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        },
        "product": {
          "$ref": "Product",
          "description": "The inserted product. Only defined if the method is `insert` and if the request was successful."
        }
      }
    },
    "ReturnPolicyPolicy": {
      "type": "object",
      "id": "ReturnPolicyPolicy",
      "properties": {
        "type": {
          "type": "string",
          "description": "Policy type. Use \"lastReturnDate\" for seasonal overrides only. Note that for most items a minimum of 30 days is required for returns. Exceptions may be made for electronics or non-returnable items such as food, perishables, and living things. A policy of less than 30 days can only be applied to those items. Acceptable values are: - \"`lastReturnDate`\" - \"`lifetimeReturns`\" - \"`noReturns`\" - \"`numberOfDaysAfterDelivery`\" "
        },
        "numberOfDays": {
          "description": "The number of days items can be returned after delivery, where one day is defined to be 24 hours after the delivery timestamp. When specifying the return window like this, set the policy type to \"numberOfDaysAfterDelivery\". Acceptable values are 30, 45, 60, 90, 100, 180, 270 and 365 for the default policy. Additional policies further allow 14, 15, 21 and 28 days, but note that for most items a minimum of 30 days is required for returns. Exceptions may be made for electronics. A policy of less than 30 days can only be applied to those items.",
          "type": "string",
          "format": "int64"
        },
        "lastReturnDate": {
          "description": "Required. Last day for returning the items. In ISO 8601 format. When specifying the return window like this, set the policy type to \"lastReturnDate\". Use this for seasonal overrides only.",
          "type": "string"
        }
      }
    },
    "OrderreturnsRefundOperation": {
      "type": "object",
      "properties": {
        "fullRefund": {
          "type": "boolean",
          "description": "If true, the item will be fully refunded. Allowed only when payment_type is FOP. Merchant can choose this refund option to indicate the full remaining amount of corresponding object to be refunded to the customer via FOP."
        },
        "paymentType": {
          "type": "string",
          "description": "The payment way of issuing refund. Default value is ORIGINAL_FOP if not set."
        },
        "partialRefund": {
          "description": "If this is set, the item will be partially refunded. Merchant can choose this refund option to specify the customized amount that to be refunded to the customer.",
          "$ref": "OrderreturnsPartialRefund"
        },
        "reasonText": {
          "type": "string",
          "description": "The explanation of the reason."
        },
        "returnRefundReason": {
          "type": "string",
          "description": "Code of the refund reason."
        }
      },
      "id": "OrderreturnsRefundOperation"
    },
    "OrderreturnsAcknowledgeResponse": {
      "type": "object",
      "properties": {
        "executionStatus": {
          "description": "The status of the execution. Acceptable values are: - \"`duplicate`\" - \"`executed`\" ",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreturnsAcknowledgeResponse\".",
          "type": "string"
        }
      },
      "id": "OrderreturnsAcknowledgeResponse"
    },
    "OrdersListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#ordersListResponse\"."
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of orders.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Order"
          }
        }
      },
      "id": "OrdersListResponse",
      "type": "object"
    },
    "OrdersCreateTestReturnRequest": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "OrdersCustomBatchRequestEntryCreateTestReturnReturnItem"
          },
          "description": "Returned items.",
          "type": "array"
        }
      },
      "id": "OrdersCreateTestReturnRequest"
    },
    "AccountsLinkResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsLinkResponse\"."
        }
      },
      "type": "object",
      "id": "AccountsLinkResponse"
    },
    "UnitInvoiceTaxLine": {
      "properties": {
        "taxType": {
          "description": "[required] Type of the tax. Acceptable values are: - \"`otherFee`\" - \"`otherFeeTax`\" - \"`sales`\" ",
          "type": "string"
        },
        "taxAmount": {
          "description": "[required] Tax amount for the tax type.",
          "$ref": "Price"
        },
        "taxName": {
          "type": "string",
          "description": "Optional name of the tax type. This should only be provided if `taxType` is `otherFeeTax`."
        }
      },
      "type": "object",
      "id": "UnitInvoiceTaxLine"
    },
    "PosSaleRequest": {
      "id": "PosSaleRequest",
      "properties": {
        "targetCountry": {
          "type": "string",
          "description": "Required. The CLDR territory code for the item."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business."
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Required. The relative change of the available quantity. Negative for items returned."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The inventory timestamp, in ISO 8601 format."
        },
        "saleId": {
          "description": "A unique ID to group items from the same sale event.",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "price": {
          "description": "Required. The price of the item.",
          "$ref": "Price"
        }
      },
      "type": "object"
    },
    "MerchantOrderReturnItem": {
      "id": "MerchantOrderReturnItem",
      "type": "object",
      "properties": {
        "product": {
          "$ref": "OrderLineItemProduct",
          "description": "Product data from the time of the order placement."
        },
        "shipmentGroupId": {
          "description": "ID of the original shipment group. Provided for shipments with invoice support.",
          "type": "string"
        },
        "state": {
          "description": "State of the item. Acceptable values are: - \"`canceled`\" - \"`new`\" - \"`received`\" - \"`refunded`\" - \"`rejected`\" ",
          "type": "string"
        },
        "merchantReturnReason": {
          "$ref": "RefundReason",
          "description": "The reason that merchant chooses to accept a return item."
        },
        "customerReturnReason": {
          "description": "The reason that the customer chooses to return an item.",
          "$ref": "CustomerReturnReason"
        },
        "returnItemId": {
          "type": "string",
          "description": "Unit level ID for the return item. Different units of the same product will have different IDs."
        },
        "refundableAmount": {
          "description": "Maximum amount that can be refunded for this return item.",
          "$ref": "MonetaryAmount"
        },
        "itemId": {
          "type": "string",
          "description": "Product level item ID. If the returned items are of the same product, they will have the same ID."
        },
        "returnShipmentIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs of the return shipments that this return item belongs to.",
          "type": "array"
        },
        "shipmentUnitId": {
          "description": "ID of the shipment unit assigned by the merchant. Provided for shipments with invoice support.",
          "type": "string"
        },
        "merchantRejectionReason": {
          "$ref": "MerchantRejectionReason",
          "description": "The reason that the merchant chose to reject an item return."
        }
      }
    },
    "ProductStatus": {
      "id": "ProductStatus",
      "properties": {
        "link": {
          "description": "The link to the product.",
          "type": "string"
        },
        "title": {
          "description": "The title of the product.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"`content#productStatus`\""
        },
        "creationDate": {
          "description": "Date on which the item has been created, in ISO 8601 format.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product for which status is reported.",
          "type": "string"
        },
        "googleExpirationDate": {
          "description": "Date on which the item expires in Google Shopping, in ISO 8601 format.",
          "type": "string"
        },
        "lastUpdateDate": {
          "description": "Date on which the item has been last updated, in ISO 8601 format.",
          "type": "string"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "ProductStatusDestinationStatus"
          },
          "description": "The intended destinations for the product.",
          "type": "array"
        },
        "itemLevelIssues": {
          "items": {
            "$ref": "ProductStatusItemLevelIssue"
          },
          "description": "A list of all issues associated with the product.",
          "type": "array"
        }
      },
      "description": "The status of a product, i.e., information about a product computed asynchronously.",
      "type": "object"
    },
    "PosCustomBatchResponse": {
      "id": "PosCustomBatchResponse",
      "properties": {
        "entries": {
          "description": "The result of the execution of the batch requests.",
          "items": {
            "$ref": "PosCustomBatchResponseEntry"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posCustomBatchResponse\"."
        }
      },
      "type": "object"
    },
    "TransitTableTransitTimeRowTransitTimeValue": {
      "properties": {
        "minTransitTimeInDays": {
          "format": "uint32",
          "description": "Transit time range (min-max) in business days. 0 means same day delivery, 1 means next day delivery.",
          "type": "integer"
        },
        "maxTransitTimeInDays": {
          "format": "uint32",
          "description": "Must be greater than or equal to `minTransitTimeInDays`.",
          "type": "integer"
        }
      },
      "id": "TransitTableTransitTimeRowTransitTimeValue",
      "type": "object"
    },
    "ProductsCustomBatchRequestEntry": {
      "type": "object",
      "id": "ProductsCustomBatchRequestEntry",
      "description": "A batch entry encoding a single non-batch products request.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The ID of the product to get or delete. Only defined if the method is `get` or `delete`."
        },
        "merchantId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the managing account."
        },
        "feedId": {
          "type": "string",
          "format": "uint64",
          "description": "The Content API feed id."
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "product": {
          "$ref": "Product",
          "description": "The product to insert. Only required if the method is `insert`."
        },
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`delete`\" - \"`get`\" - \"`insert`\" ",
          "type": "string"
        }
      }
    },
    "CollectionStatusDestinationStatus": {
      "description": "Destination status message.",
      "properties": {
        "destination": {
          "description": "The name of the destination",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status for the specified destination."
        }
      },
      "type": "object",
      "id": "CollectionStatusDestinationStatus"
    },
    "OrdersCancelLineItemRequest": {
      "type": "object",
      "id": "OrdersCancelLineItemRequest",
      "properties": {
        "lineItemId": {
          "description": "The ID of the line item to cancel. Either lineItemId or productId is required.",
          "type": "string"
        },
        "quantity": {
          "description": "The quantity to cancel.",
          "format": "uint32",
          "type": "integer"
        },
        "reasonText": {
          "description": "The explanation of the reason.",
          "type": "string"
        },
        "reason": {
          "description": "The reason for the cancellation. Acceptable values are: - \"`customerInitiatedCancel`\" - \"`invalidCoupon`\" - \"`malformedShippingAddress`\" - \"`noInventory`\" - \"`other`\" - \"`priceError`\" - \"`shippingPriceError`\" - \"`taxError`\" - \"`undeliverableShippingAddress`\" - \"`unsupportedPoBoxAddress`\" ",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product to cancel. This is the REST ID used in the products service. Either lineItemId or productId is required."
        },
        "operationId": {
          "type": "string",
          "description": "The ID of the operation. Unique across all operations for a given order."
        }
      }
    },
    "Weight": {
      "type": "object",
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: - \"`kg`\" - \"`lb`\" ",
          "type": "string"
        },
        "value": {
          "description": "Required. The weight represented as a number.",
          "type": "string"
        }
      },
      "id": "Weight"
    },
    "PriceAmount": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The price represented as a number.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency of the price."
        }
      },
      "id": "PriceAmount",
      "description": "The price represented as a number and currency."
    },
    "Price": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The price represented as a number.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency of the price."
        }
      },
      "id": "Price"
    },
    "ListCollectionStatusesResponse": {
      "type": "object",
      "description": "Response message for the ListCollectionStatuses method.",
      "id": "ListCollectionStatusesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "CollectionStatus"
          },
          "type": "array",
          "description": "The collectionstatuses listed."
        }
      }
    },
    "RepricingRule": {
      "type": "object",
      "id": "RepricingRule",
      "properties": {
        "restriction": {
          "$ref": "RepricingRuleRestriction",
          "description": "Required. Restriction of the rule appliance."
        },
        "eligibleOfferMatcher": {
          "description": "Required. Match criteria for the eligible offers.",
          "$ref": "RepricingRuleEligibleOfferMatcher"
        },
        "cogsBasedRule": {
          "$ref": "RepricingRuleCostOfGoodsSaleRule",
          "description": "The rule definition for TYPE_COGS_BASED. Required when the rule type is TYPE_COGS_BASED."
        },
        "type": {
          "enum": [
            "REPRICING_RULE_TYPE_UNSPECIFIED",
            "TYPE_STATS_BASED",
            "TYPE_COGS_BASED"
          ],
          "description": "Required. Immutable. The type of the rule.",
          "enumDescriptions": [
            "Unused.",
            "Statistical measurement based rules among Google SA merchants. If this rule is chosen, repricer will adjust the offer price based on statistical metrics (currently only min is available) among other merchants who sell the same product. Details need to be provdided in the RuleDefinition.",
            "Cost of goods sale based rule. Repricer will adjust the offer price based on the offer's sale cost which is provided by the merchant."
          ],
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. Immutable. The two-letter ISO 639-1 language code associated with the repricing rule."
        },
        "title": {
          "description": "The title for the rule.",
          "type": "string"
        },
        "effectiveTimePeriod": {
          "$ref": "RepricingRuleEffectiveTime",
          "description": "Required. Time period when the rule should take effect."
        },
        "countryCode": {
          "type": "string",
          "description": "Required. Immutable. CLDR country code (e.g. \"US\")."
        },
        "statsBasedRule": {
          "description": "The rule definition for TYPE_STATS_BASED. Required when the rule type is TYPE_STATS_BASED.",
          "$ref": "RepricingRuleStatsBasedRule"
        },
        "merchantId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Immutable. Merchant that owns the repricing rule.",
          "readOnly": true
        },
        "ruleId": {
          "readOnly": true,
          "description": "Output only. Immutable. The ID to uniquely identify each repricing rule.",
          "type": "string"
        },
        "paused": {
          "description": "Represents whether a rule is paused. A paused rule will behave like a non-paused rule within CRUD operations, with the major difference that a paused rule will not be evaluated and will have no effect on offers.",
          "type": "boolean"
        }
      },
      "description": "Represents a repricing rule. A repricing rule is used by shopping serving to adjust transactable offer prices if conditions are met. Next ID: 24"
    },
    "OrderLineItemProductVariantAttribute": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value for the dimension."
        },
        "dimension": {
          "description": "The dimension of the variant.",
          "type": "string"
        }
      },
      "id": "OrderLineItemProductVariantAttribute"
    },
    "PosInventoryResponse": {
      "id": "PosInventoryResponse",
      "type": "object",
      "properties": {
        "timestamp": {
          "description": "Required. The inventory timestamp, in ISO 8601 format.",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "Required. A unique identifier for the item."
        },
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted via the API or the code of the store in Google My Business."
        },
        "gtin": {
          "type": "string",
          "description": "Global Trade Item Number."
        },
        "price": {
          "$ref": "Price",
          "description": "Required. The current price of the item."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "targetCountry": {
          "description": "Required. The CLDR territory code for the item.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#posInventoryResponse\"."
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Required. The available quantity of the item."
        }
      }
    },
    "OrderreportsListDisbursementsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of disbursements.",
          "type": "string"
        },
        "disbursements": {
          "description": "The list of disbursements.",
          "type": "array",
          "items": {
            "$ref": "OrderReportDisbursement"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListDisbursementsResponse\"."
        }
      },
      "id": "OrderreportsListDisbursementsResponse",
      "type": "object"
    },
    "MinimumOrderValueTable": {
      "properties": {
        "storeCodeSetWithMovs": {
          "items": {
            "$ref": "MinimumOrderValueTableStoreCodeSetWithMov"
          },
          "type": "array"
        }
      },
      "id": "MinimumOrderValueTable",
      "type": "object"
    },
    "AccountTaxTaxRule": {
      "type": "object",
      "description": "Tax calculation rule to apply in a state or province (USA only).",
      "id": "AccountTaxTaxRule",
      "properties": {
        "country": {
          "type": "string",
          "description": "Country code in which tax is applicable."
        },
        "shippingTaxed": {
          "description": "If true, shipping charges are also taxed.",
          "type": "boolean"
        },
        "locationId": {
          "type": "string",
          "description": "Required. State (or province) is which the tax is applicable, described by its location ID (also called criteria ID).",
          "format": "uint64"
        },
        "ratePercent": {
          "type": "string",
          "description": "Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative."
        },
        "useGlobalRate": {
          "type": "boolean",
          "description": "Whether the tax rate is taken from a global tax table or specified explicitly."
        }
      }
    },
    "Row": {
      "properties": {
        "cells": {
          "description": "The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables. Required.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "type": "object",
      "id": "Row"
    },
    "DatafeedsCustomBatchResponseEntry": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer",
          "format": "uint32",
          "description": "The ID of the request entry this entry responds to."
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        },
        "datafeed": {
          "$ref": "Datafeed",
          "description": "The requested data feed. Defined if and only if the request was successful."
        }
      },
      "description": "A batch entry encoding a single non-batch datafeeds response.",
      "id": "DatafeedsCustomBatchResponseEntry"
    },
    "RepricingRuleCostOfGoodsSaleRule": {
      "description": "A repricing rule that changes the sale price based on cost of goods sale.",
      "properties": {
        "percentageDelta": {
          "format": "int32",
          "type": "integer",
          "description": "The percent change against the COGS. Ex: 20 would mean to set the adjusted price 1.2X of the COGS data."
        },
        "priceDelta": {
          "type": "string",
          "description": "The price delta against the COGS. E.g. 2 means $2 more of the COGS."
        }
      },
      "id": "RepricingRuleCostOfGoodsSaleRule",
      "type": "object"
    },
    "MerchantRejectionReason": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the reason.",
          "type": "string"
        },
        "reasonCode": {
          "type": "string",
          "description": "Code of the rejection reason."
        }
      },
      "id": "MerchantRejectionReason"
    },
    "OrderShipmentScheduledDeliveryDetails": {
      "type": "object",
      "id": "OrderShipmentScheduledDeliveryDetails",
      "properties": {
        "carrierPhoneNumber": {
          "description": "The phone number of the carrier fulfilling the delivery. The phone number is formatted as the international notation in ITU-T Recommendation E.123 (e.g., \"+41 44 668 1800\").",
          "type": "string"
        },
        "scheduledDate": {
          "type": "string",
          "description": "The date a shipment is scheduled for delivery, in ISO 8601 format."
        }
      }
    },
    "Collection": {
      "type": "object",
      "properties": {
        "customLabel0": {
          "type": "string",
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns. Custom label"
        },
        "featuredProduct": {
          "type": "array",
          "items": {
            "$ref": "CollectionFeaturedProduct"
          },
          "description": "This identifies one or more products associated with the collection. Used as a lookup to the corresponding product ID in your product feeds. Provide a maximum of 100 featuredProduct (for collections). Provide up to 10 featuredProduct (for Shoppable Images only) with ID and X and Y coordinates. featured_product attribute"
        },
        "customLabel1": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns.",
          "type": "string"
        },
        "headline": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Your collection's name. headline attribute"
        },
        "link": {
          "description": "A collection’s landing page. URL directly linking to your collection's page on your website. link attribute",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. The REST ID of the collection. Content API methods that operate on collections take this as their collectionId parameter. The REST ID for a collection is of the form collectionId. id attribute"
        },
        "customLabel4": {
          "type": "string",
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns."
        },
        "productCountry": {
          "type": "string",
          "description": "product_country attribute"
        },
        "mobileLink": {
          "type": "string",
          "description": "A collection’s mobile-optimized landing page when you have a different URL for mobile and desktop traffic. mobile_link attribute"
        },
        "language": {
          "type": "string",
          "description": "The language of a collection and the language of any featured products linked to the collection. language attribute"
        },
        "customLabel3": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns.",
          "type": "string"
        },
        "customLabel2": {
          "description": "Label that you assign to a collection to help organize bidding and reporting in Shopping campaigns.",
          "type": "string"
        },
        "imageLink": {
          "description": "The URL of a collection’s image. image_link attribute",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The collection message.",
      "id": "Collection"
    },
    "DeliveryTime": {
      "type": "object",
      "id": "DeliveryTime",
      "properties": {
        "minHandlingTimeInDays": {
          "format": "uint32",
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped.",
          "type": "integer"
        },
        "transitTimeTable": {
          "$ref": "TransitTable",
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `{min,max}TransitTimeInDays` or `transitTimeTable` can be set, but not both."
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "maxHandlingTimeInDays": {
          "format": "uint32",
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `minHandlingTimeInDays`.",
          "type": "integer"
        },
        "minTransitTimeInDays": {
          "type": "integer",
          "format": "uint32",
          "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `{min,max}TransitTimeInDays` or `transitTimeTable` must be set, but not both."
        },
        "cutoffTime": {
          "description": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST.",
          "$ref": "CutoffTime"
        },
        "holidayCutoffs": {
          "type": "array",
          "items": {
            "$ref": "HolidayCutoff"
          },
          "description": "Holiday cutoff definitions. If configured, they specify order cutoff times for holiday-specific shipping."
        },
        "maxTransitTimeInDays": {
          "type": "integer",
          "format": "uint32",
          "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `minTransitTimeInDays`."
        },
        "transitBusinessDayConfig": {
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        }
      }
    },
    "OrderAddress": {
      "type": "object",
      "properties": {
        "country": {
          "description": "CLDR country code (e.g. \"US\").",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
        },
        "recipientName": {
          "description": "Name of the recipient.",
          "type": "string"
        },
        "isPostOfficeBox": {
          "type": "boolean",
          "description": "Whether the address is a post office box."
        },
        "streetAddress": {
          "description": "Street-level part of the address.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "locality": {
          "description": "City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs).",
          "type": "string"
        },
        "fullAddress": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Strings representing the lines of the printed label for mailing the order, for example: John Smith 1600 Amphitheatre Parkway Mountain View, CA, 94043 United States "
        },
        "postalCode": {
          "description": "Postal Code or ZIP (e.g. \"94043\").",
          "type": "string"
        }
      },
      "id": "OrderAddress"
    },
    "ShippingsettingsCustomBatchRequestEntry": {
      "description": "A batch entry encoding a single non-batch shippingsettings request.",
      "type": "object",
      "properties": {
        "method": {
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" - \"`update`\" ",
          "type": "string"
        },
        "accountId": {
          "description": "The ID of the account for which to get/update account shipping settings.",
          "format": "uint64",
          "type": "string"
        },
        "shippingSettings": {
          "$ref": "ShippingSettings",
          "description": "The account shipping settings to update. Only defined if the method is `update`."
        },
        "batchId": {
          "description": "An entry ID, unique within the batch request.",
          "format": "uint32",
          "type": "integer"
        },
        "merchantId": {
          "format": "uint64",
          "description": "The ID of the managing account.",
          "type": "string"
        }
      },
      "id": "ShippingsettingsCustomBatchRequestEntry"
    },
    "OrderOrderAnnotation": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for additional google provided (as key-value pairs) annotation."
        },
        "key": {
          "description": "Key for additional google provided (as key-value pairs) annotation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrderOrderAnnotation"
    },
    "AccounttaxListResponse": {
      "id": "AccounttaxListResponse",
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "$ref": "AccountTax"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of account tax settings.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxListResponse\".",
          "type": "string"
        }
      }
    },
    "CustomerReturnReason": {
      "properties": {
        "reasonCode": {
          "type": "string",
          "description": "Code of the return reason. Acceptable values are: - \"`betterPriceFound`\" - \"`changedMind`\" - \"`damagedOrDefectiveItem`\" - \"`didNotMatchDescription`\" - \"`doesNotFit`\" - \"`expiredItem`\" - \"`incorrectItemReceived`\" - \"`noLongerNeeded`\" - \"`notSpecified`\" - \"`orderedWrongItem`\" - \"`other`\" - \"`qualityNotExpected`\" - \"`receivedTooLate`\" - \"`undeliverable`\" "
        },
        "description": {
          "type": "string",
          "description": "Description of the reason."
        }
      },
      "type": "object",
      "id": "CustomerReturnReason"
    },
    "OrdersCustomBatchRequestEntryShipLineItemsShipmentInfo": {
      "properties": {
        "trackingId": {
          "type": "string",
          "description": "The tracking ID for the shipment."
        },
        "carrier": {
          "description": "The carrier handling the shipment. See `shipments[].carrier` in the Orders resource representation for a list of acceptable values.",
          "type": "string"
        },
        "shipmentId": {
          "description": "Required. The ID of the shipment. This is assigned by the merchant and is unique to each shipment.",
          "type": "string"
        }
      },
      "id": "OrdersCustomBatchRequestEntryShipLineItemsShipmentInfo",
      "type": "object"
    },
    "RepricingProductReportBuyboxWinningProductStats": {
      "properties": {
        "buyboxWinsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of times this product won the buybox with these rules during this time period."
        }
      },
      "description": "Stats specific to buybox winning rules for product report.",
      "type": "object",
      "id": "RepricingProductReportBuyboxWinningProductStats"
    },
    "OrderreportsListTransactionsResponse": {
      "id": "OrderreportsListTransactionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of transactions.",
          "type": "string"
        },
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "OrderReportTransaction"
          },
          "description": "The list of transactions."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"content#orderreportsListTransactionsResponse\".",
          "type": "string"
        }
      }
    },
    "DatafeedstatusesCustomBatchResponseEntry": {
      "id": "DatafeedstatusesCustomBatchResponseEntry",
      "type": "object",
      "properties": {
        "datafeedStatus": {
          "$ref": "DatafeedStatus",
          "description": "The requested data feed status. Defined if and only if the request was successful."
        },
        "errors": {
          "$ref": "Errors",
          "description": "A list of errors defined if and only if the request failed."
        },
        "batchId": {
          "description": "The ID of the request entry this entry responds to.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "description": "A batch entry encoding a single non-batch datafeedstatuses response."
    },
    "AccountstatusesCustomBatchRequestEntry": {
      "id": "AccountstatusesCustomBatchRequestEntry",
      "type": "object",
      "properties": {
        "batchId": {
          "format": "uint32",
          "type": "integer",
          "description": "An entry ID, unique within the batch request."
        },
        "method": {
          "type": "string",
          "description": "The method of the batch entry. Acceptable values are: - \"`get`\" "
        },
        "accountId": {
          "description": "The ID of the (sub-)account whose status to get.",
          "type": "string",
          "format": "uint64"
        },
        "destinations": {
          "items": {
            "type": "string"
          },
[...]
