{
  "rootUrl": "https://datacatalog.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://datacatalog.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "name": "datacatalog",
  "revision": "20210205",
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "mtlsRootUrl": "https://datacatalog.mtls.googleapis.com/",
  "servicePath": "",
  "title": "Google Cloud Data Catalog API",
  "version": "v1beta1",
  "canonicalName": "Data Catalog",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/data-catalog/docs/",
  "schemas": {
    "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse": {
      "type": "object",
      "description": "Response message for ListTaxonomies.",
      "id": "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token used to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "taxonomies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          },
          "description": "Taxonomies that the project contains."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListTagsResponse": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Tag"
          },
          "description": "Tag details."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ListTagsResponse",
      "description": "Response message for ListTags."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "id": "Policy"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequest": {
      "description": "Request message for SearchCatalog.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequest",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. Pagination token returned in an earlier SearchCatalogResponse.next_page_token, which indicates that this is a continuation of a prior SearchCatalogRequest call, and that the system should return the next page of data. If empty, the first page is returned."
        },
        "scope": {
          "description": "Required. The scope of this search request. A `scope` that has empty `include_org_ids`, `include_project_ids` AND false `include_gcp_public_datasets` is considered invalid. Data Catalog will return an error in such a case.",
          "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope"
        },
        "pageSize": {
          "format": "int32",
          "description": "Number of results in the search page. If \u003c=0 then defaults to 10. Max limit for page_size is 1000. Throws an invalid argument for page_size \u003e 1000.",
          "type": "integer"
        },
        "orderBy": {
          "description": "Specifies the ordering of results, currently supported case-sensitive choices are: * `relevance`, only supports descending * `last_modified_timestamp [asc|desc]`, defaults to descending if not specified If not specified, defaults to `relevance` descending.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Optional. The query string in search query syntax. An empty query string will result in all data assets (in the specified scope) that the user has access to. Query strings can be simple as \"x\" or more qualified as: * name:x * column:x * description:y Note: Query tokens need to have a minimum of 3 characters for substring matching to work correctly. See [Data Catalog Search Syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference) for more information."
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1Taxonomy": {
      "type": "object",
      "description": "A taxonomy is a collection of policy tags that classify data along a common axis. For instance a data *sensitivity* taxonomy could contain policy tags denoting PII such as age, zipcode, and SSN. A data *origin* taxonomy could contain policy tags to distinguish user data, employee data, partner data, public data.",
      "properties": {
        "policyTagCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of policy tags contained in this taxonomy."
        },
        "activatedPolicyTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine grained access control policy, which enables access control on tagged resources."
            ]
          },
          "type": "array",
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set, defaults to an empty list."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this taxonomy, whose format is: \"projects/{project_number}/locations/{location_id}/taxonomies/{id}\"."
        },
        "taxonomyTimestamps": {
          "description": "Output only. Timestamps about this taxonomy. Only create_time and update_time are used.",
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. User defined name of this taxonomy. It must: contain only unicode letters, numbers, underscores, dashes and spaces; not start or end with spaces; and be at most 200 bytes long when encoded in UTF-8."
        },
        "description": {
          "description": "Optional. Description of this taxonomy. It must: contain only unicode characters, tabs, newlines, carriage returns and page breaks; and be at most 2000 bytes long when encoded in UTF-8. If not set, defaults to an empty description.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1Taxonomy"
    },
    "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse": {
      "type": "object",
      "properties": {
        "taxonomies": {
          "description": "List of taxonomies and policy tags in a tree structure.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse",
      "description": "Response message for ExportTaxonomies."
    },
    "GoogleCloudDatacatalogV1beta1Tag": {
      "type": "object",
      "description": "Tags are used to attach custom metadata to Data Catalog resources. Tags conform to the specifications within their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "properties": {
        "templateDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the tag template."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the tag in URL format. Example: * projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}/tags/{tag_id} where `tag_id` is a system-generated identifier. Note that this Tag may not actually be stored in the location in this name."
        },
        "column": {
          "description": "Resources like Entry can have schemas associated with them. This scope allows users to attach tags to an individual column based on that schema. For attaching a tag to a nested column, use `.` to separate the column names. Example: * `outer_column.inner_column`",
          "type": "string"
        },
        "fields": {
          "description": "Required. This maps the ID of a tag field to the value of and additional information about that field. Valid field IDs are defined by the tag's template. A tag must have at least 1 field and at most 500 fields.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1TagField"
          },
          "type": "object"
        },
        "template": {
          "type": "string",
          "description": "Required. The resource name of the tag template that this tag uses. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id} This field cannot be modified after creation."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1Tag"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse",
      "properties": {
        "taxonomies": {
          "description": "Taxonomies that were imported.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          },
          "type": "array"
        }
      },
      "description": "Response message for ImportTaxonomies.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1Entry": {
      "description": "Entry Metadata. A Data Catalog Entry resource represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic), or outside of Google Cloud Platform. Clients can use the `linked_resource` field in the Entry resource to refer to the original resource ID of the source system. An Entry resource contains resource details, such as its schema. An Entry can also be used to attach flexible metadata, such as a Tag.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1Entry",
      "properties": {
        "integratedSystem": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This field indicates the entry's source system that Data Catalog integrates with, such as BigQuery or Pub/Sub.",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub."
          ],
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB"
          ]
        },
        "schema": {
          "$ref": "GoogleCloudDatacatalogV1beta1Schema",
          "description": "Schema of the entry. An entry might not have any schema attached to it."
        },
        "userSpecifiedSystem": {
          "description": "This field indicates the entry's source system that Data Catalog does not integrate with. `user_specified_system` strings must begin with a letter or underscore and can only contain letters, numbers, and underscores; are case insensitive; must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the entry. Only used for Entries with types in the EntryType enum.",
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "Output only. The type of entry that has a GoogleSQL schema, including logical views.",
            "Output only. The type of models. https://cloud.google.com/bigquery-ml/docs/bigqueryml-intro",
            "Output only. An entry type which is used for streaming entries. Example: Pub/Sub topic.",
            "An entry type which is a set of files or objects. Example: Cloud Storage fileset."
          ]
        },
        "displayName": {
          "description": "Display information such as title and description. A short name to identify the entry, for example, \"Analytics Data - Jan 2011\". Default value is an empty string.",
          "type": "string"
        },
        "userSpecifiedType": {
          "description": "Entry type if it does not fit any of the input-allowed values listed in `EntryType` enum above. When creating an entry, users should check the enum values first, if nothing matches the entry to be created, then provide a custom value, for example \"my_special_type\". `user_specified_type` strings must begin with a letter or underscore and can only contain letters, numbers, and underscores; are case insensitive; must be at least 1 character and at most 64 characters long. Currently, only FILESET enum value is allowed. All other entries created through Data Catalog must use `user_specified_type`.",
          "type": "string"
        },
        "linkedResource": {
          "type": "string",
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [full name of the resource](https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: * //bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId Output only when Entry is of type in the EntryType enum. For entries with user_specified_type, this field is optional and defaults to an empty string."
        },
        "bigqueryDateShardedSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec",
          "description": "Specification for a group of BigQuery tables with name pattern `[prefix]YYYYMMDD`. Context: https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Data Catalog resource name of the entry in URL format. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}/entries/{entry_id} Note that this Entry and its child resources may not actually be stored in the location in this name."
        },
        "bigqueryTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1BigQueryTableSpec",
          "description": "Specification that applies to a BigQuery table. This is only valid on entries of type `TABLE`."
        },
        "sourceSystemTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "readOnly": true,
          "description": "Output only. Timestamps about the underlying resource, not about this Data Catalog entry. Output only when Entry is of type in the EntryType enum. For entries with user_specified_type, this field is optional and defaults to an empty timestamp."
        },
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. This is only valid on entries of type FILESET.",
          "$ref": "GoogleCloudDatacatalogV1beta1GcsFilesetSpec"
        },
        "description": {
          "description": "Entry description, which can consist of several sentences or paragraphs that describe entry contents. Default value is an empty string.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest": {
      "description": "Request message for RenameTagTemplateFieldEnumValue.",
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest",
      "properties": {
        "newEnumValueDisplayName": {
          "type": "string",
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1Schema": {
      "description": "Represents a schema (e.g. BigQuery, GoogleSQL, Avro schema).",
      "type": "object",
      "properties": {
        "columns": {
          "description": "Required. Schema of columns. A maximum of 10,000 columns and sub-columns can be specified.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1ColumnSchema"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1Schema"
    },
    "GoogleCloudDatacatalogV1beta1InlineSource": {
      "description": "Inline source used for taxonomies import.",
      "id": "GoogleCloudDatacatalogV1beta1InlineSource",
      "properties": {
        "taxonomies": {
          "description": "Required. Taxonomies to be imported.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogResult": {
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogResult",
      "description": "A result that appears in the response of a search request. Each result captures details of one entry that matches the search.",
      "properties": {
        "searchResultSubtype": {
          "type": "string",
          "description": "Sub-type of the search result. This is a dot-delimited description of the resource's full type, and is the same as the value callers would provide in the \"type\" search facet. Examples: `entry.table`, `entry.dataStream`, `tagTemplate`."
        },
        "relativeResourceName": {
          "type": "string",
          "description": "The relative resource name of the resource in URL format. Examples: * `projects/{project_id}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}` * `projects/{project_id}/tagTemplates/{tag_template_id}`"
        },
        "modifyTime": {
          "description": "Last-modified timestamp of the entry from the managing system.",
          "type": "string",
          "format": "google-datetime"
        },
        "searchResultType": {
          "enumDescriptions": [
            "Default unknown type.",
            "An Entry.",
            "A TagTemplate.",
            "An EntryGroup."
          ],
          "description": "Type of the search result. This field can be used to determine which Get method to call to fetch the full resource.",
          "type": "string",
          "enum": [
            "SEARCH_RESULT_TYPE_UNSPECIFIED",
            "ENTRY",
            "TAG_TEMPLATE",
            "ENTRY_GROUP"
          ]
        },
        "linkedResource": {
          "description": "The full name of the cloud resource the entry belongs to. See: https://cloud.google.com/apis/design/resource_names#full_resource_name. Example: * `//bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse",
      "properties": {
        "entryGroups": {
          "type": "array",
          "description": "EntryGroup details.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results."
        }
      },
      "type": "object",
      "description": "Response message for ListEntryGroups."
    },
    "GoogleCloudDatacatalogV1beta1GcsFileSpec": {
      "id": "GoogleCloudDatacatalogV1beta1GcsFileSpec",
      "description": "Specifications of a single file in Cloud Storage.",
      "type": "object",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "Required. The full file path. Example: `gs://bucket_name/a/b.txt`."
        },
        "gcsTimestamps": {
          "readOnly": true,
          "description": "Output only. Timestamps about the Cloud Storage file.",
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps"
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of the file, in bytes.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1TagTemplateField": {
      "description": "The template for an individual field within a tag template.",
      "properties": {
        "isRequired": {
          "type": "boolean",
          "description": "Whether this is a required field. Defaults to false."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for this field. Defaults to an empty string."
        },
        "description": {
          "type": "string",
          "description": "The description for this field. Defaults to an empty string."
        },
        "order": {
          "type": "integer",
          "description": "The order of this field with respect to other fields in this tag template. A higher value indicates a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag do not have to be sequential.",
          "format": "int32"
        },
        "name": {
          "description": "Output only. The resource name of the tag template field in URL format. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template}/fields/{field} Note that this TagTemplateField may not actually be stored in the location in this name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Required. The type of value this tag field can contain.",
          "$ref": "GoogleCloudDatacatalogV1beta1FieldType"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TagTemplateField"
    },
    "GoogleCloudDatacatalogV1beta1GcsFilesetSpec": {
      "description": "Describes a Cloud Storage fileset entry.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1GcsFilesetSpec",
      "properties": {
        "sampleGcsFileSpecs": {
          "readOnly": true,
          "description": "Output only. Sample files contained in this fileset, not all files contained in this fileset are represented here.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1GcsFileSpec"
          },
          "type": "array"
        },
        "filePatterns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Patterns to identify a set of files in Google Cloud Storage. See [Cloud Storage documentation](https://cloud.google.com/storage/docs/gsutil/addlhelp/WildcardNames) for more information. Note that bucket wildcards are currently not supported. Examples of valid file_patterns: * `gs://bucket_name/dir/*`: matches all files within `bucket_name/dir` directory. * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` spanning all subdirectories. * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to provide more powerful matches, for example: * `gs://bucket_name/[a-m]??.j*g`"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1EntryGroup": {
      "description": "EntryGroup Metadata. An EntryGroup resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string."
        },
        "description": {
          "description": "Entry group description, which can consist of several sentences or paragraphs that describe entry group contents. Default value is an empty string.",
          "type": "string"
        },
        "dataCatalogTimestamps": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "description": "Output only. Timestamps about this EntryGroup. Default value is empty timestamps."
        },
        "name": {
          "description": "The resource name of the entry group in URL format. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id} Note that this EntryGroup and its child resources may not actually be stored in the location in this name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1EntryGroup",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1TagFieldEnumValue": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the enum value."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue",
      "description": "Holds an enum value."
    },
    "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse": {
      "type": "object",
      "description": "Response message for ListPolicyTags.",
      "properties": {
        "policyTags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
          },
          "description": "The policy tags that are in the requested taxonomy."
        },
        "nextPageToken": {
          "description": "Token used to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse"
    },
    "GoogleCloudDatacatalogV1beta1PolicyTag": {
      "id": "GoogleCloudDatacatalogV1beta1PolicyTag",
      "properties": {
        "name": {
          "description": "Output only. Resource name of this policy tag, whose format is: \"projects/{project_number}/locations/{location_id}/taxonomies/{taxonomy_id}/policyTags/{id}\".",
          "type": "string",
          "readOnly": true
        },
        "childPolicyTags": {
          "description": "Output only. Resource names of child policy tags of this policy tag.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parentPolicyTag": {
          "type": "string",
          "description": "Resource name of this policy tag's parent policy tag (e.g. for the \"LatLong\" policy tag in the example above, this field contains the resource name of the \"Geolocation\" policy tag). If empty, it means this policy tag is a top level policy tag (e.g. this field is empty for the \"Geolocation\" policy tag in the example above). If not set, defaults to an empty string."
        },
        "description": {
          "type": "string",
          "description": "Description of this policy tag. It must: contain only unicode characters, tabs, newlines, carriage returns and page breaks; and be at most 2000 bytes long when encoded in UTF-8. If not set, defaults to an empty description. If not set, defaults to an empty description."
        },
        "displayName": {
          "type": "string",
          "description": "Required. User defined name of this policy tag. It must: be unique within the parent taxonomy; contain only unicode letters, numbers, underscores, dashes and spaces; not start or end with spaces; and be at most 200 bytes long when encoded in UTF-8."
        }
      },
      "description": "Denotes one policy tag in a taxonomy (e.g. ssn). Policy Tags can be defined in a hierarchy. For example, consider the following hierarchy: Geolocation -\u003e (LatLong, City, ZipCode). PolicyTag \"Geolocation\" contains three child policy tags: \"LatLong\", \"City\", and \"ZipCode\".",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members` with a `role`.",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ColumnSchema": {
      "description": "Representation of a column within a schema. Columns could be nested inside other columns.",
      "properties": {
        "description": {
          "description": "Optional. Description of the column. Default value is an empty string.",
          "type": "string"
        },
        "column": {
          "type": "string",
          "description": "Required. Name of the column."
        },
        "type": {
          "type": "string",
          "description": "Required. Type of the column."
        },
        "mode": {
          "type": "string",
          "description": "Optional. A column's mode indicates whether the values in this column are required, nullable, etc. Only `NULLABLE`, `REQUIRED` and `REPEATED` are supported. Default mode is `NULLABLE`."
        },
        "subcolumns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1ColumnSchema"
          },
          "description": "Optional. Schema of sub-columns. A column can have zero or more sub-columns."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ColumnSchema",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SystemTimestamps": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The expiration time of the resource within the given system. Currently only apllicable to BigQuery resources.",
          "readOnly": true
        },
        "updateTime": {
          "description": "The last-modified time of the resource within the given system.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time of the resource within the given system.",
          "type": "string"
        }
      },
      "description": "Timestamps about this resource according to a particular system."
    },
    "GoogleCloudDatacatalogV1beta1ViewSpec": {
      "type": "object",
      "description": "Table view specification.",
      "properties": {
        "viewQuery": {
          "description": "Output only. The query that defines the table view.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ViewSpec"
    },
    "GoogleCloudDatacatalogV1beta1FieldType": {
      "properties": {
        "primitiveType": {
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP"
          ],
          "enumDescriptions": [
            "This is the default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp."
          ],
          "description": "Represents primitive types - string, bool etc.",
          "type": "string"
        },
        "enumType": {
          "description": "Represents an enum type.",
          "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1FieldType"
    },
    "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec",
      "properties": {
        "tablePrefix": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`, for example, for shard `MyTable20180101`, the `table_prefix` is `MyTable`."
        },
        "dataset": {
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to, for example, `projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`.",
          "type": "string",
          "readOnly": true
        },
        "shardCount": {
          "type": "string",
          "description": "Output only. Total number of shards.",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": "Spec for a group of BigQuery tables with name pattern `[prefix]YYYYMMDD`. Context: https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding"
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest": {
      "properties": {
        "newTagTemplateFieldId": {
          "type": "string",
          "description": "Required. The new ID of this tag template field. For example, `my_new_field`."
        }
      },
      "description": "Request message for RenameTagTemplateField.",
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1BigQueryTableSpec": {
      "type": "object",
      "properties": {
        "tableSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1TableSpec",
          "description": "Spec of a BigQuery table. This field should only be populated if `table_source_type` is `BIGQUERY_TABLE`."
        },
        "tableSourceType": {
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "description": "Output only. The table source type."
        },
        "viewSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1ViewSpec",
          "description": "Table view specification. This field should only be populated if `table_source_type` is `BIGQUERY_VIEW`."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1BigQueryTableSpec",
      "description": "Describes a BigQuery table."
    },
    "GoogleCloudDatacatalogV1beta1TagField": {
      "description": "Contains the value and supporting information for a field within a Tag.",
      "id": "GoogleCloudDatacatalogV1beta1TagField",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Holds the value for a tag field with string type."
        },
        "enumValue": {
          "$ref": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue",
          "description": "Holds the value for a tag field with enum type. This value must be one of the allowed values in the definition of this enum."
        },
        "timestampValue": {
          "format": "google-datetime",
          "description": "Holds the value for a tag field with timestamp type.",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "Holds the value for a tag field with double type.",
          "type": "number"
        },
        "boolValue": {
          "description": "Holds the value for a tag field with boolean type.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of this field."
        },
        "order": {
          "format": "int32",
          "description": "Output only. The order of this field with respect to other fields in this tag. It can be set in Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag do not have to be sequential.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "type": "object",
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SerializedTaxonomy": {
      "type": "object",
      "description": "Message capturing a taxonomy and its policy tag hierarchy as a nested proto. Used for taxonomy import/export and mutation.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the serialized taxonomy. The length of the description is limited to 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the taxonomy. Max 200 bytes when encoded in UTF-8."
        },
        "activatedPolicyTypes": {
          "type": "array",
          "description": "A list of policy types that are activated for a taxonomy.",
          "items": {
            "type": "string",
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine grained access control policy, which enables access control on tagged resources."
            ]
          }
        },
        "policyTags": {
          "description": "Top level policy tags associated with the taxonomy if any.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
    },
    "GoogleCloudDatacatalogV1beta1SerializedPolicyTag": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the policy tag. Max 200 bytes when encoded in UTF-8."
        },
        "policyTag": {
          "type": "string",
          "description": "Resource name of the policy tag. This field will be ignored when calling ImportTaxonomies."
        },
        "description": {
          "type": "string",
          "description": "Description of the serialized policy tag. The length of the description is limited to 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "childPolicyTags": {
          "type": "array",
          "description": "Children of the policy tag if any.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag"
          }
        }
      },
      "type": "object",
      "description": "Message representing one policy tag when exported as a nested proto.",
      "id": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag"
    },
    "GoogleCloudDatacatalogV1beta1ListEntriesResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ListEntriesResponse",
      "type": "object",
      "description": "Response message for ListEntries.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results.",
          "type": "string"
        },
        "entries": {
          "description": "Entry details.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Entry"
          },
          "type": "array"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogResponse": {
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogResponse",
      "type": "object",
      "properties": {
        "results": {
          "description": "Search results.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogResult"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unreachable locations. Search result does not include data from those locations. Users can get additional information on the error by repeating the search request with a more restrictive parameter -- setting the value for `SearchDataCatalogRequest.scope.restricted_locations`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for SearchCatalog."
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumType": {
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType",
      "properties": {
        "allowedValues": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest": {
      "properties": {
        "inlineSource": {
          "$ref": "GoogleCloudDatacatalogV1beta1InlineSource",
          "description": "Inline source used for taxonomies to be imported."
        }
      },
      "type": "object",
      "description": "Request message for ImportTaxonomies.",
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "Expr",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1TagTemplate": {
      "id": "GoogleCloudDatacatalogV1beta1TagTemplate",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name for this template. Defaults to an empty string."
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
          },
          "description": "Required. Map of tag template field IDs to the settings for the field. This map is an exhaustive list of the allowed fields. This map must contain at least one field and at most 500 fields. The keys to this map are tag template field IDs. Field IDs can contain letters (both uppercase and lowercase), numbers (0-9) and underscores (_). Field IDs must be at least 1 character long and at most 64 characters long. Field IDs must start with a letter or underscore."
        },
        "name": {
          "description": "The resource name of the tag template in URL format. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id} Note that this TagTemplate and its child resources may not actually be stored in the location in this name.",
          "type": "string"
        }
      },
      "description": "A tag template defines a tag, which can have one or more typed fields. The template is used to create and attach the tag to GCP resources. [Tag template roles](https://cloud.google.com/iam/docs/understanding-roles#data-catalog-roles) provide permissions to create, edit, and use the template. See, for example, the [TagTemplate User](https://cloud.google.com/data-catalog/docs/how-to/template-user) role, which includes permission to use the tag template to tag resources.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue": {
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the enum value. Must not be an empty string."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope": {
      "description": "The criteria that select the subspace used for query matching.",
      "properties": {
        "includeOrgIds": {
          "description": "The list of organization IDs to search within. To find your organization ID, follow instructions in https://cloud.google.com/resource-manager/docs/creating-managing-organization.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeProjectIds": {
          "description": "The list of project IDs to search within. To learn more about the distinction between project names/IDs/numbers, go to https://cloud.google.com/docs/overview/#projects.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "restrictedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of locations to search within. 1. If empty, search will be performed in all locations; 2. If any of the locations are NOT in the valid locations list, error will be returned; 3. Otherwise, search only the given locations for matching results. Typical usage is to leave this field empty. When a location is unreachable as returned in the `SearchCatalogResponse.unreachable` field, users can repeat the search request with this parameter set to get additional information on the error. Valid locations: * asia-east1 * asia-east2 * asia-northeast1 * asia-northeast2 * asia-northeast3 * asia-south1 * asia-southeast1 * australia-southeast1 * eu * europe-north1 * europe-west1 * europe-west2 * europe-west3 * europe-west4 * europe-west6 * global * northamerica-northeast1 * southamerica-east1 * us * us-central1 * us-east1 * us-east4 * us-west1 * us-west2"
        },
        "includeGcpPublicDatasets": {
          "description": "If `true`, include Google Cloud Platform (GCP) public datasets in the search results. Info on GCP public datasets is available at https://cloud.google.com/public-datasets/. By default, GCP public datasets are excluded.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope"
    },
    "GoogleCloudDatacatalogV1beta1TableSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TableSpec",
      "properties": {
        "groupedEntry": {
          "type": "string",
          "description": "Output only. If the table is a dated shard, i.e., with name pattern `[prefix]YYYYMMDD`, `grouped_entry` is the Data Catalog resource name of the date sharded grouped entry, for example, `projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`. Otherwise, `grouped_entry` is empty.",
          "readOnly": true
        }
      },
      "description": "Normal BigQuery table spec."
    }
  },
  "ownerDomain": "google.com",
  "id": "datacatalog:v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "resources": {
    "catalog": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogRequest"
          },
          "response": {
            "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogResponse"
          },
          "id": "datacatalog.catalog.search",
          "parameters": {},
          "flatPath": "v1beta1/catalog:search",
          "httpMethod": "POST",
          "description": "Searches Data Catalog for multiple resources like entries, tags that match a query. This is a custom method (https://cloud.google.com/apis/design/custom_methods) and does not return the complete resource, only the resource identifier and high level fields. Clients can subsequentally call `Get` methods. Note that Data Catalog search queries do not guarantee full recall. Query results that match your query may not be returned, even in subsequent result pages. Also note that results returned (and not returned) can vary across repeated search queries. See [Data Catalog Search Syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference) for more information.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta1/catalog:search"
        }
      }
    },
    "entries": {
      "methods": {
        "lookup": {
          "path": "v1beta1/entries:lookup",
          "parameters": {
            "linkedResource": {
              "location": "query",
              "description": "The full name of the Google Cloud Platform resource the Data Catalog entry represents. See: https://cloud.google.com/apis/design/resource_names#full_resource_name. Full names are case-sensitive. Examples: * //bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId * //pubsub.googleapis.com/projects/projectId/topics/topicId",
              "type": "string"
            },
            "sqlResource": {
              "type": "string",
              "location": "query",
              "description": "The SQL name of the entry. SQL names are case-sensitive. Examples: * `pubsub.project_id.topic_id` * ``pubsub.project_id.`topic.id.with.dots` `` * `bigquery.table.project_id.dataset_id.table_id` * `bigquery.dataset.project_id.dataset_id` * `datacatalog.entry.project_id.location_id.entry_group_id.entry_id` `*_id`s shoud satisfy the standard SQL rules for identifiers. https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical."
            }
          },
          "response": {
            "$ref": "GoogleCloudDatacatalogV1beta1Entry"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta1/entries:lookup",
          "httpMethod": "GET",
          "id": "datacatalog.entries.lookup",
          "description": "Get an entry by target resource name. This method allows clients to use the resource name from the source Google Cloud Platform service to get the Data Catalog Entry.",
          "parameterOrder": []
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "tagTemplates": {
              "methods": {
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "id": "datacatalog.projects.locations.tagTemplates.testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "description": "Returns the caller's permissions on a resource. If the resource does not exist, an empty set of permissions is returned (We don't return a `NOT_FOUND` error). Supported resources are: - Tag templates. - Entries. - Entry groups. Note, this method cannot be used to manage policies for BigQuery, Pub/Sub and any external Google Cloud Platform resources synced to Data Catalog. A caller is not required to have Google IAM permission to make this request.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}",
                  "id": "datacatalog.projects.locations.tagTemplates.get",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                      "description": "Required. The name of the tag template. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a tag template."
                },
                "getIamPolicy": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "id": "datacatalog.projects.locations.tagTemplates.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. A `NOT_FOUND` error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Supported resources are: - Tag templates. - Entries. - Entry groups. Note, this method cannot be used to manage policies for BigQuery, Pub/Sub and any external Google Cloud Platform resources synced to Data Catalog. Callers must have following Google IAM permission - `datacatalog.tagTemplates.getIamPolicy` to get policies on tag templates. - `datacatalog.entries.getIamPolicy` to get policies on entries. - `datacatalog.entryGroups.getIamPolicy` to get policies on entry groups.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}:getIamPolicy"
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the access control policy for a resource. Replaces any existing policy. Supported resources are: - Tag templates. - Entries. - Entry groups. Note, this method cannot be used to manage policies for BigQuery, Pub/Sub and any external Google Cloud Platform resources synced to Data Catalog. Callers must have following Google IAM permission - `datacatalog.tagTemplates.setIamPolicy` to set policies on tag templates. - `datacatalog.entries.setIamPolicy` to set policies on entries. - `datacatalog.entryGroups.setIamPolicy` to set policies on entry groups.",
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "datacatalog.projects.locations.tagTemplates.setIamPolicy"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}",
                  "description": "Deletes a tag template and all tags using the template. Users should enable the Data Catalog API in the project identified by the `name` parameter (see [Data Catalog Resource Project] (https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the tag template to delete. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id}"
                    },
                    "force": {
                      "description": "Required. Currently, this field must always be set to `true`. This confirms the deletion of any possible tags using this template. `force = false` will be supported in the future.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "id": "datacatalog.projects.locations.tagTemplates.delete"
                },
                "create": {
                  "description": "Creates a tag template. The user should enable the Data Catalog API in the project identified by the `parent` parameter (see [Data Catalog Resource Project](https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information).",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the project and the template location [region](https://cloud.google.com/data-catalog/docs/concepts/regions. Example: * projects/{project_id}/locations/us-central1",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "tagTemplateId": {
                      "description": "Required. The id of the tag template to create.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.tagTemplates.create",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/tagTemplates"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1beta1TagTemplate"
                  },
                  "id": "datacatalog.projects.locations.tagTemplates.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}",
                  "httpMethod": "PATCH",
                  "description": "Updates a tag template. This method cannot be used to update the fields of a template. The tag template fields are represented as separate resources and should be updated using their own create/update/delete methods. Users should enable the Data Catalog API in the project identified by the `tag_template.name` parameter (see [Data Catalog Resource Project] (https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information).",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                      "type": "string",
                      "description": "The resource name of the tag template in URL format. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id} Note that this TagTemplate and its child resources may not actually be stored in the location in this name.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "The field mask specifies the parts of the template to overwrite. Allowed fields: * `display_name` If absent or empty, all of the allowed fields above will be updated."
                    }
                  }
                }
              },
              "resources": {
                "fields": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "id": "datacatalog.projects.locations.tagTemplates.fields.patch",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the tag template field. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id}/fields/{tag_template_field_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. The field mask specifies the parts of the template to be updated. Allowed fields: * `display_name` * `type.enum_type` * `is_required` If `update_mask` is not set or empty, all of the allowed fields above will be updated. When updating an enum type, the provided values will be merged with the existing values. Therefore, enum values can only be added, existing enum values cannot be deleted nor renamed. Updating a template field from optional to required is NOT allowed.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}",
                      "path": "v1beta1/{+name}",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                      },
                      "description": "Updates a field in a tag template. This method cannot be used to update the field type. Users should enable the Data Catalog API in the project identified by the `name` parameter (see [Data Catalog Resource Project] (https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information)."
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                      },
                      "path": "v1beta1/{+parent}/fields",
                      "id": "datacatalog.projects.locations.tagTemplates.fields.create",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "tagTemplateFieldId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID of the tag template field to create. Field ids can contain letters (both uppercase and lowercase), numbers (0-9), underscores (_) and dashes (-). Field IDs must be at least 1 character long and at most 128 characters long. Field IDs must also be unique within their template."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+$",
                          "description": "Required. The name of the project and the template location [region](https://cloud.google.com/data-catalog/docs/concepts/regions). Example: * projects/{project_id}/locations/us-central1/tagTemplates/{tag_template_id}"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                      },
                      "description": "Creates a field in a tag template. The user should enable the Data Catalog API in the project identified by the `parent` parameter (see [Data Catalog Resource Project](https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information)."
                    },
                    "rename": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}:rename",
                      "description": "Renames a field in a tag template. The user should enable the Data Catalog API in the project identified by the `name` parameter (see [Data Catalog Resource Project](https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information).",
                      "id": "datacatalog.projects.locations.tagTemplates.fields.rename",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}:rename",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the tag template. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id}/fields/{tag_template_field_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}",
                      "description": "Deletes a field in a tag template and all uses of that field. Users should enable the Data Catalog API in the project identified by the `name` parameter (see [Data Catalog Resource Project] (https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information).",
                      "parameters": {
                        "force": {
                          "location": "query",
                          "description": "Required. Currently, this field must always be set to `true`. This confirms the deletion of this field from any tags using this field. `force = false` will be supported in the future.",
                          "type": "boolean"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the tag template field to delete. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id}/fields/{tag_template_field_id}",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "id": "datacatalog.projects.locations.tagTemplates.fields.delete"
                    }
                  },
                  "resources": {
                    "enumValues": {
                      "methods": {
                        "rename": {
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The name of the enum field value. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id}/fields/{tag_template_field_id}/enumValues/{enum_value_display_name}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/tagTemplates/[^/]+/fields/[^/]+/enumValues/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Renames an enum value in a tag template. The enum values have to be unique within one enum field. Thus, an enum value cannot be renamed with a name used in any other enum value within the same enum field.",
                          "path": "v1beta1/{+name}:rename",
                          "id": "datacatalog.projects.locations.tagTemplates.fields.enumValues.rename",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
                          },
                          "httpMethod": "POST",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/tagTemplates/{tagTemplatesId}/fields/{fieldsId}/enumValues/{enumValuesId}:rename",
                          "request": {
                            "$ref": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "entryGroups": {
              "methods": {
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datacatalog.projects.locations.entryGroups.getIamPolicy",
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$"
                    }
                  },
                  "description": "Gets the access control policy for a resource. A `NOT_FOUND` error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Supported resources are: - Tag templates. - Entries. - Entry groups. Note, this method cannot be used to manage policies for BigQuery, Pub/Sub and any external Google Cloud Platform resources synced to Data Catalog. Callers must have following Google IAM permission - `datacatalog.tagTemplates.getIamPolicy` to get policies on tag templates. - `datacatalog.entries.getIamPolicy` to get policies on entries. - `datacatalog.entryGroups.getIamPolicy` to get policies on entry groups.",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the location that contains the entry groups, which can be provided in URL format. Example: * projects/{project_id}/locations/{location}",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. Default is 10. Max limit is 1000. Throws an invalid argument for `page_size \u003e 1000`.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Token that specifies which page is requested. If empty, the first page is returned."
                    }
                  },
                  "description": "Lists entry groups.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups",
                  "path": "v1beta1/{+parent}/entryGroups",
                  "id": "datacatalog.projects.locations.entryGroups.list",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse"
                  }
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:testIamPermissions",
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "id": "datacatalog.projects.locations.entryGroups.testIamPermissions",
                  "description": "Returns the caller's permissions on a resource. If the resource does not exist, an empty set of permissions is returned (We don't return a `NOT_FOUND` error). Supported resources are: - Tag templates. - Entries. - Entry groups. Note, this method cannot be used to manage policies for BigQuery, Pub/Sub and any external Google Cloud Platform resources synced to Data Catalog. A caller is not required to have Google IAM permission to make this request.",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "setIamPolicy": {
                  "id": "datacatalog.projects.locations.entryGroups.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy for a resource. Replaces any existing policy. Supported resources are: - Tag templates. - Entries. - Entry groups. Note, this method cannot be used to manage policies for BigQuery, Pub/Sub and any external Google Cloud Platform resources synced to Data Catalog. Callers must have following Google IAM permission - `datacatalog.tagTemplates.setIamPolicy` to set policies on tag templates. - `datacatalog.entries.setIamPolicy` to set policies on entries. - `datacatalog.entryGroups.setIamPolicy` to set policies on entry groups.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}:setIamPolicy"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                  },
                  "description": "Gets an EntryGroup.",
                  "id": "datacatalog.projects.locations.entryGroups.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the entry group. For example, `projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                      "required": true
                    },
                    "readMask": {
                      "location": "query",
                      "description": "The fields to return. If not set or empty, all fields are returned.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/entryGroups/{entryGroupsId}",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
                  },
                  "description": "Updates an EntryGroup. The user should enable the Data Catalog API in the project identified by the `entry_group.name` parameter (see [Data Catalog Resource Project] (https://cloud.google.com/data-catalog/docs/concepts/resource-project) for more information).",
                  "path": "v1beta1/{+name}",
                  "id": "datacatalog.projects.locations.entryGroups.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "The fields to update on the entry group. If absent or empty, all modifiable fields are updated.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "description": "The resource name of the entry group in URL format. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id} Note that this EntryGroup and its child resources may not actually be stored in the location in this name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/entryGroups/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
[...]
