{
  "kind": "discovery#restDescription",
  "version": "v1beta1",
  "ownerDomain": "google.com",
  "version_module": true,
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "revision": "20201020",
  "baseUrl": "https://datalabeling.googleapis.com/",
  "protocol": "rest",
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "name": "datalabeling",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "annotationSpecSets": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "description": "Gets an annotation spec set by resource name.",
              "id": "datalabeling.projects.annotationSpecSets.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "description": "Required. AnnotationSpecSet resource name, format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. AnnotationSpecSet resource parent, format: projects/{project_id}",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "id": "datalabeling.projects.annotationSpecSets.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "description": "Creates an annotation spec set by providing a set of labels."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.annotationSpecSets.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "type": "string",
                  "description": "Required. AnnotationSpec resource name, format: `projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}`."
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an annotation spec set by resource name.",
              "path": "v1beta1/{+name}"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter is not supported at this moment."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32"
                }
              },
              "id": "datalabeling.projects.annotationSpecSets.list",
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists annotation spec sets for a project. Pagination is supported.",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets"
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/operations",
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "required": true
                }
              },
              "id": "datalabeling.projects.operations.list",
              "path": "v1beta1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.operations.cancel",
              "path": "v1beta1/{+name}:cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "id": "datalabeling.projects.operations.delete",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "id": "datalabeling.projects.operations.get",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "evaluationJobs": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.evaluationJobs.delete",
              "description": "Stops and deletes an evaluation job.",
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be deleted. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "pause": {
              "path": "v1beta1/{+name}:pause",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the evaluation job that is going to be paused. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:pause",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op.",
              "id": "datalabeling.projects.evaluationJobs.pause",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "create": {
              "id": "datalabeling.projects.evaluationJobs.create",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/evaluationJobs",
              "description": "Creates an evaluation job.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "httpMethod": "POST"
            },
            "resume": {
              "description": "Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the evaluation job that is going to be resumed. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:resume",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
              },
              "id": "datalabeling.projects.evaluationJobs.resume",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:resume"
            },
            "get": {
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the evaluation job. Format: \"projects/{project_id} /evaluationJobs/{evaluation_job_id}\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an evaluation job by resource name.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "httpMethod": "GET",
              "id": "datalabeling.projects.evaluationJobs.get"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\""
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: \"evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}\""
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "id": "datalabeling.projects.evaluationJobs.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
              },
              "path": "v1beta1/{+parent}/evaluationJobs",
              "description": "Lists all evaluation jobs within a project with possible filters. Pagination is supported.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\""
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas.",
                  "type": "string"
                }
              },
              "id": "datalabeling.projects.evaluationJobs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "description": "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}"
            }
          }
        },
        "instructions": {
          "methods": {
            "create": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "id": "datalabeling.projects.instructions.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates an instruction for how data should be labeled.",
              "path": "v1beta1/{+parent}/instructions",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/instructions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "id": "datalabeling.projects.instructions.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Instruction resource parent, format: projects/{project_id}"
                },
                "filter": {
                  "description": "Optional. Filter is not supported at this moment.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty.",
                  "location": "query"
                }
              },
              "description": "Lists instructions for a project. Pagination is supported.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
              }
            },
            "delete": {
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "parameters": {
                "name": {
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.instructions.delete",
              "path": "v1beta1/{+name}",
              "description": "Deletes an instruction object by resource name.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
              },
              "id": "datalabeling.projects.instructions.get",
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "httpMethod": "GET",
              "description": "Gets an instruction by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}"
            }
          }
        },
        "datasets": {
          "methods": {
            "create": {
              "path": "v1beta1/{+parent}/datasets",
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Creates dataset. If success return a Dataset resource.",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "id": "datalabeling.projects.datasets.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "importData": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
              },
              "id": "datalabeling.projects.datasets.importData",
              "httpMethod": "POST",
              "description": "Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}:importData",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:importData"
            },
            "exportData": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "datalabeling.projects.datasets.exportData",
              "path": "v1beta1/{+name}:exportData",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:exportData",
              "description": "Exports data and annotations from dataset."
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter on dataset is not supported at this moment."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty."
                }
              },
              "description": "Lists datasets under a project. Pagination is supported.",
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/datasets",
              "id": "datalabeling.projects.datasets.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "description": "Gets dataset by resource name.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.datasets.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "required": true,
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}"
                }
              },
              "description": "Deletes a dataset by resource name.",
              "id": "datalabeling.projects.datasets.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "dataItems": {
              "methods": {
                "list": {
                  "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems",
                  "path": "v1beta1/{+parent}/dataItems",
                  "id": "datalabeling.projects.datasets.dataItems.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                    },
                    "filter": {
                      "description": "Optional. Filter is not supported at this moment.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/datasets/[^/]+/dataItems/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems/{dataItemsId}",
                  "id": "datalabeling.projects.datasets.dataItems.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "image": {
              "methods": {
                "label": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1beta1/{+parent}/image:label",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelImageRequest"
                  },
                  "description": "Starts a labeling task for image. The type of image labeling task is configured by feature in the request.",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/image:label",
                  "id": "datalabeling.projects.datasets.image.label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "text": {
              "methods": {
                "label": {
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/text:label",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/text:label",
                  "description": "Starts a labeling task for text. The type of text labeling task is configured by feature in the request.",
                  "id": "datalabeling.projects.datasets.text.label",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "annotatedDatasets": {
              "resources": {
                "feedbackThreads": {
                  "methods": {
                    "get": {
                      "description": "Get a FeedbackThread object.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.get",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list",
                      "description": "List FeedbackThreads with pagination.",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. FeedbackThread resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}\"",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "format": "int32"
                        }
                      },
                      "path": "v1beta1/{+parent}/feedbackThreads",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads"
                    },
                    "delete": {
                      "description": "Delete a FeedbackThread.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "description": "Required. Name of the FeedbackThread that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'."
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.delete"
                    }
                  },
                  "resources": {
                    "feedbackMessages": {
                      "methods": {
                        "create": {
                          "parameters": {
                            "parent": {
                              "required": true,
                              "description": "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "location": "path"
                            }
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create",
                          "request": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "description": "Create a FeedbackMessage object.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST"
                        },
                        "list": {
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list",
                          "description": "List FeedbackMessages with pagination.",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "description": "Required. FeedbackMessage resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}\"",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty.",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "path": "v1beta1/{+parent}/feedbackMessages"
                        },
                        "get": {
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.get",
                          "httpMethod": "GET",
                          "path": "v1beta1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "required": true
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "description": "Get a FeedbackMessage object."
                        },
                        "delete": {
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "description": "Required. Name of the FeedbackMessage that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "Delete a FeedbackMessage.",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.delete",
                          "httpMethod": "DELETE"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
                      },
                      "httpMethod": "GET",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists examples in an annotated dataset. Pagination is supported.",
                      "path": "v1beta1/{+parent}/examples",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Example resource parent.",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "format": "int32"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "description": "Gets an example by resource name, including both data and annotation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1Example"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.get",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/examples/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of example, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples/{examplesId}"
                    }
                  }
                },
                "dataItems": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.list",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/dataItems",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter is not supported at this moment.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported."
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.get",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems/{dataItemsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/dataItems/[^/]+$"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
                  },
                  "id": "datalabeling.projects.datasets.annotatedDatasets.list",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter is not supported at this moment.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty.",
                      "location": "query"
                    }
                  },
                  "description": "Lists annotated datasets for a dataset. Pagination is supported.",
                  "path": "v1beta1/{+parent}/annotatedDatasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the annotated dataset to get, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$"
                    }
                  },
                  "description": "Gets an annotated dataset by resource name.",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datalabeling.projects.datasets.annotatedDatasets.get",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the annotated dataset to delete, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.annotatedDatasets.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an annotated dataset by resource name.",
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            },
            "video": {
              "methods": {
                "label": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "datalabeling.projects.datasets.video.label",
                  "path": "v1beta1/{+parent}/video:label",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoRequest"
                  },
                  "description": "Starts a labeling task for video. The type of video labeling task is configured by feature in the request.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/video:label"
                }
              }
            },
            "evaluations": {
              "resources": {
                "exampleComparisons": {
                  "methods": {
                    "search": {
                      "path": "v1beta1/{+parent}/exampleComparisons:search",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "datalabeling.projects.datasets.evaluations.exampleComparisons.search",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID.",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the Evaluation resource to search for example comparisons from. Format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}\"",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}/exampleComparisons:search"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "path": "v1beta1/{+name}",
                  "description": "Gets an evaluation by resource name (to search, use projects.evaluations.search).",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the evaluation. Format: \"projects/{project_id}/datasets/ {dataset_id}/evaluations/{evaluation_id}'",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.evaluations.get"
                }
              }
            }
          }
        },
        "evaluations": {
          "methods": {
            "search": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: \"evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}\"",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Evaluation search parent (project ID). Format: \"projects/ {project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta1/{+parent}/evaluations:search",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
              },
              "id": "datalabeling.projects.evaluations.search",
              "flatPath": "v1beta1/projects/{projectsId}/evaluations:search",
              "description": "Searches evaluations within a project.",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://datalabeling.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "canonicalName": "Data Labeling",
  "id": "datalabeling:v1beta1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "schemas": {
    "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1OperatorMetadata": {
      "properties": {
        "labelVotes": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of contributors that choose this label."
        },
        "totalVotes": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of contributors that answer this question."
        },
        "score": {
          "type": "number",
          "description": "Confidence score corresponding to a label. For examle, if 3 contributors have answered the question and 2 of them agree on the final label, the confidence score will be 0.67 (2/3).",
          "format": "float"
        },
        "comments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Comments from contributors."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1OperatorMetadata",
      "type": "object",
      "description": "General information useful for labels coming from contributors."
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoClassificationOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoClassificationOperationMetadata",
      "description": "Details of a LabelVideoClassification operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message ResumeEvaluationJob.",
      "id": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
    },
    "GoogleCloudDatalabelingV1beta1Vertex": {
      "type": "object",
      "properties": {
        "y": {
          "format": "int32",
          "description": "Y coordinate.",
          "type": "integer"
        },
        "x": {
          "description": "X coordinate.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1Vertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image."
    },
    "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingBoxOperationMetadata": {
      "type": "object",
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingBoxOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1Row": {
      "description": "A row in the confusion matrix. Each entry in this row has the same ground truth label.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1Row",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "The annotation spec of the ground truth label for this row."
        },
        "entries": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry"
          },
          "description": "A list of the confusion matrix entries. One entry for each possible predicted label.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelTextEntityExtractionOperationMetadata": {
      "description": "Details of a LabelTextEntityExtraction operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelTextEntityExtractionOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p2alpha1OutputConfig": {
      "properties": {
        "gcsFolderDestination": {
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsDestination",
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1OutputConfig",
      "description": "The configuration of output data."
    },
    "GoogleCloudDatalabelingV1beta1EventConfig": {
      "id": "GoogleCloudDatalabelingV1beta1EventConfig",
      "type": "object",
      "properties": {
        "clipLength": {
          "description": "Videos will be cut to smaller clips to make it easier for labelers to work on. Users can configure is field in seconds, if not set, default value is 60s.",
          "format": "int32",
          "type": "integer"
        },
        "annotationSpecSets": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of annotation spec set resource name. Similar to video classification, we support selecting event from multiple AnnotationSpecSet at the same time.",
          "type": "array"
        },
        "overlapLength": {
          "format": "int32",
          "description": "The overlap length between different video clips. Users can configure is field in seconds, if not set, default value is 1s.",
          "type": "integer"
        }
      },
      "description": "Config for video event human labeling task."
    },
    "GoogleCloudDatalabelingV1beta1FeedbackThread": {
      "properties": {
        "feedbackThreadMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThreadMetadata",
          "description": "Metadata regarding the feedback thread."
        },
        "name": {
          "type": "string",
          "description": "Name of the feedback thread. Format: 'project/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'"
        }
      },
      "type": "object",
      "description": "A feedback thread of a certain labeling task on a certain annotated dataset.",
      "id": "GoogleCloudDatalabelingV1beta1FeedbackThread"
    },
    "GoogleCloudDatalabelingV1beta1OutputConfig": {
      "properties": {
        "gcsFolderDestination": {
          "$ref": "GoogleCloudDatalabelingV1beta1GcsFolderDestination",
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
        },
        "gcsDestination": {
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1beta1GcsDestination"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1OutputConfig",
      "description": "The configuration of output data.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingPolyOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingPolyOperationMetadata",
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1BoundingPolyConfig": {
      "properties": {
        "instructionMessage": {
          "description": "Optional. Instruction message showed on contributors UI.",
          "type": "string"
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig",
      "description": "Config for image bounding poly (and bounding box) human labeling task.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata",
      "type": "object",
      "description": "Metadata of a LabelImageClassification operation."
    },
    "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse": {
      "id": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        },
        "evaluations": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
          },
          "type": "array",
          "description": "The list of evaluations matching the search."
        }
      },
      "description": "Results of searching evaluations.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1GcsDestination": {
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "Required. The output uri of destination file."
        },
        "mimeType": {
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1GcsDestination",
      "type": "object",
      "description": "Export destination of the data.Only gcs path is allowed in output_uri."
    },
    "GoogleCloudDatalabelingV1alpha1GcsDestination": {
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "Required. The output uri of destination file."
        },
        "mimeType": {
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1alpha1GcsDestination",
      "description": "Export destination of the data.Only gcs path is allowed in output_uri.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Metadata of a LabelImageClassification operation."
    },
    "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata": {
      "type": "object",
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata": {
      "type": "object",
      "description": "Metadata of an ImportData operation.",
      "id": "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
        },
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when import dataset request was created."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig": {
      "properties": {
        "labelGroup": {
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`.",
          "type": "string"
        },
        "annotatedDatasetDisplayName": {
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters .",
          "type": "string"
        },
        "annotatedDatasetDescription": {
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.",
          "type": "string"
        },
        "contributorEmails": {
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userEmailAddress": {
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent.",
          "type": "string"
        },
        "instruction": {
          "description": "Required. Instruction resource name.",
          "type": "string"
        },
        "questionDuration": {
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification."
        },
        "replicaCount": {
          "type": "integer",
          "description": "Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
      "description": "Configuration for how human labeling task should be done.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig": {
      "type": "object",
      "description": "Configuration for how human labeling task should be done.",
      "properties": {
        "instruction": {
          "description": "Required. Instruction resource name.",
          "type": "string"
        },
        "annotatedDatasetDescription": {
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.",
          "type": "string"
        },
        "questionDuration": {
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "labelGroup": {
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification."
        },
        "userEmailAddress": {
          "type": "string",
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent."
        },
        "contributorEmails": {
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replicaCount": {
          "format": "int32",
          "description": "Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5.",
          "type": "integer"
        },
        "annotatedDatasetDisplayName": {
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters .",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
    },
    "GoogleCloudDatalabelingV1alpha1OutputConfig": {
      "description": "The configuration of output data.",
      "properties": {
        "gcsFolderDestination": {
          "$ref": "GoogleCloudDatalabelingV1alpha1GcsFolderDestination",
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
        },
        "gcsDestination": {
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1GcsDestination"
        }
      },
      "id": "GoogleCloudDatalabelingV1alpha1OutputConfig",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationMetadata": {
      "type": "object",
      "description": "Metadata of an ImportData operation.",
      "properties": {
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when import dataset request was created."
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1LabelStats": {
      "properties": {
        "exampleCount": {
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelStats",
[...]
