{
  "revision": "20210114",
  "discoveryVersion": "v1",
  "canonicalName": "Dataproc",
  "basePath": "",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "version": "v1",
  "title": "Cloud Dataproc API",
  "schemas": {
    "JobScheduling": {
      "properties": {
        "maxFailuresTotal": {
          "description": "Optional. Maximum number of times in total a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed. Maximum value is 240.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailuresPerHour": {
          "format": "int32",
          "description": "Optional. Maximum number of times per hour a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed.A job may be reported as thrashing if driver exits with non-zero code 4 times within 10 minute window.Maximum value is 10.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Job scheduling options.",
      "id": "JobScheduling"
    },
    "SparkRJob": {
      "id": "SparkRJob",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "mainRFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A Dataproc job for running Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) applications on YARN."
    },
    "EndpointConfig": {
      "description": "Endpoint config for this cluster",
      "id": "EndpointConfig",
      "type": "object",
      "properties": {
        "enableHttpPortAccess": {
          "type": "boolean",
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false."
        },
        "httpPorts": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "HadoopJob": {
      "id": "HadoopJob",
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "type": "object",
      "properties": {
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'",
          "type": "string"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip."
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks."
        },
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BasicAutoscalingAlgorithm": {
      "id": "BasicAutoscalingAlgorithm",
      "description": "Basic algorithm for autoscaling.",
      "properties": {
        "cooldownPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m."
        },
        "yarnConfig": {
          "$ref": "BasicYarnAutoscalingConfig",
          "description": "Required. YARN autoscaling configuration."
        }
      },
      "type": "object"
    },
    "GceClusterConfig": {
      "id": "GceClusterConfig",
      "type": "object",
      "description": "Common config settings for resources of Compute Engine cluster instances, applicable to all instances in the cluster.",
      "properties": {
        "serviceAccountScopes": {
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. The following base set of scopes is always included: https://www.googleapis.com/auth/cloud.useraccounts.readonly https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/logging.writeIf no scopes are specified, the following defaults are also provided: https://www.googleapis.com/auth/bigquery https://www.googleapis.com/auth/bigtable.admin.table https://www.googleapis.com/auth/bigtable.data https://www.googleapis.com/auth/devstorage.full_control",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAccount": {
          "description": "Optional. The Dataproc service account (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/service-accounts#service_accounts_in_dataproc) (also see VM Data Plane identity (https://cloud.google.com/dataproc/docs/concepts/iam/dataproc-principals#vm_service_account_data_plane_identity)) used by Dataproc cluster VM instances to access Google Cloud Platform services.If not specified, the Compute Engine default service account (https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used.",
          "type": "string"
        },
        "metadata": {
          "description": "The Compute Engine metadata entries to add to all instances (see Project and instance metadata (https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata)).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "zoneUri": {
          "type": "string",
          "description": "Optional. The zone where the Compute Engine cluster will be located. On a create request, it is required in the \"global\" region. If omitted in a non-global Dataproc region, the service will pick a zone in the corresponding Compute Engine region. On a get request, zone will always be present.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] us-central1-f"
        },
        "privateIpv6GoogleAccess": {
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ],
          "description": "Optional. The type of IPv6 access for a cluster.",
          "enumDescriptions": [
            "If unspecified, Compute Engine default behavior will apply, which is the same as INHERIT_FROM_SUBNETWORK.",
            "Private access to and from Google Services configuration inherited from the subnetwork configuration. This is the default Compute Engine behavior.",
            "Enables outbound private IPv6 access to Google Services from the Dataproc cluster.",
            "Enables bidirectional private IPv6 access between Google Services and the Dataproc cluster."
          ],
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
          "$ref": "ShieldedInstanceConfig"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Compute Engine tags to add to all instances (see Tagging instances (https://cloud.google.com/compute/docs/label-or-tag-resources#tags))."
        },
        "internalIpOnly": {
          "type": "boolean",
          "description": "Optional. If true, all instances in the cluster will only have internal IP addresses. By default, clusters are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each instance. This internal_ip_only restriction can only be enabled for subnetwork enabled networks, and all off-cluster dependencies must be configured to be accessible without external IP addresses."
        },
        "nodeGroupAffinity": {
          "$ref": "NodeGroupAffinity",
          "description": "Optional. Node Group Affinity for sole-tenant clusters."
        },
        "reservationAffinity": {
          "description": "Optional. Reservation Affinity for consuming Zonal reservation.",
          "$ref": "ReservationAffinity"
        },
        "networkUri": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a \"Custom Subnet Network\" (see Using Subnetworks (https://cloud.google.com/compute/docs/subnetworks) for more information).A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/global/default projects/[project_id]/regions/global/default default"
        },
        "subnetworkUri": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/subnetworks/sub0 projects/[project_id]/regions/us-east1/subnetworks/sub0 sub0",
          "type": "string"
        }
      }
    },
    "ClusterMetrics": {
      "properties": {
        "hdfsMetrics": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "The HDFS metrics."
        },
        "yarnMetrics": {
          "description": "The YARN metrics.",
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "id": "ClusterMetrics",
      "type": "object"
    },
    "SubmitJobRequest": {
      "description": "A request to submit a job.",
      "id": "SubmitJobRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two SubmitJobRequest requests with the same id, then the second request will be ignored and the first Job created and stored in the backend is returned.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "job": {
          "$ref": "Job",
          "description": "Required. The job resource."
        }
      }
    },
    "JobStatus": {
      "id": "JobStatus",
      "description": "Dataproc job status.",
      "properties": {
        "stateStartTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when this state was entered."
        },
        "state": {
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ],
          "readOnly": true,
          "description": "Output only. A state message specifying the overall job state.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Optional. Output only. Job state details, such as an error description if the state is ERROR.",
          "readOnly": true
        },
        "substate": {
          "type": "string",
          "description": "Output only. Additional state information, which includes status reported by the agent.",
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it may be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which may be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ]
        }
      },
      "type": "object"
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "Encryption settings for the cluster.",
      "id": "EncryptionConfig",
      "properties": {
        "gcePdKmsKeyName": {
          "description": "Optional. The Cloud KMS key name to use for PD disk encryption for all instances in the cluster.",
          "type": "string"
        }
      }
    },
    "AcceleratorConfig": {
      "type": "object",
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/).",
      "id": "AcceleratorConfig",
      "properties": {
        "acceleratorCount": {
          "type": "integer",
          "description": "The number of the accelerator cards of this type exposed to this instance.",
          "format": "int32"
        },
        "acceleratorTypeUri": {
          "type": "string",
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes).Examples: https://www.googleapis.com/compute/beta/projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 nvidia-tesla-k80Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80."
        }
      }
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "properties": {
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have integrity monitoring enabled."
        },
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have Secure Boot enabled."
        },
        "enableVtpm": {
          "description": "Optional. Defines whether instances have the vTPM enabled.",
          "type": "boolean"
        }
      },
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
      "id": "ShieldedInstanceConfig"
    },
    "ManagedCluster": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "ClusterConfig",
          "description": "Required. The cluster configuration."
        },
        "clusterName": {
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster."
        }
      },
      "id": "ManagedCluster",
      "description": "Cluster that is managed by the workflow."
    },
    "SecurityConfig": {
      "description": "Security related configuration, including Kerberos.",
      "type": "object",
      "id": "SecurityConfig",
      "properties": {
        "kerberosConfig": {
          "description": "Kerberos related configuration.",
          "$ref": "KerberosConfig"
        }
      }
    },
    "NodeGroupAffinity": {
      "description": "Node Group Affinity for clusters using sole-tenant node groups.",
      "properties": {
        "nodeGroupUri": {
          "type": "string",
          "description": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 node-group-1"
        }
      },
      "id": "NodeGroupAffinity",
      "type": "object"
    },
    "InjectCredentialsRequest": {
      "type": "object",
      "id": "InjectCredentialsRequest",
      "description": "A request to inject credentials into a cluster.",
      "properties": {
        "credentialsCiphertext": {
          "type": "string",
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs."
        },
        "clusterUuid": {
          "type": "string",
          "description": "Required. The cluster UUID."
        }
      }
    },
    "ClusterSelector": {
      "description": "A selector that chooses target cluster for jobs based on metadata.",
      "id": "ClusterSelector",
      "type": "object",
      "properties": {
        "clusterLabels": {
          "type": "object",
          "description": "Required. The cluster labels. Cluster must have all labels to match.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "zone": {
          "description": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used.",
          "type": "string"
        }
      }
    },
    "ListAutoscalingPoliciesResponse": {
      "type": "object",
      "id": "ListAutoscalingPoliciesResponse",
      "properties": {
        "policies": {
          "description": "Output only. Autoscaling policies list.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AutoscalingPolicy"
          }
        },
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A response to a request to list autoscaling policies in a project."
    },
    "LoggingConfig": {
      "type": "object",
      "description": "The runtime logging config of the job.",
      "properties": {
        "driverLogLevels": {
          "type": "object",
          "additionalProperties": {
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ],
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ],
            "type": "string"
          },
          "description": "The per-package log levels for the driver. This may include \"root\" package name to configure rootLogger. Examples: 'com.google = FATAL', 'root = INFO', 'org.apache = DEBUG'"
        }
      },
      "id": "LoggingConfig"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members to a single role. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of members to a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one member.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "NodeInitializationAction": {
      "type": "object",
      "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion.",
      "properties": {
        "executableFile": {
          "type": "string",
          "description": "Required. Cloud Storage URI of executable file."
        },
        "executionTimeout": {
          "type": "string",
          "description": "Optional. Amount of time executable has to complete. Default is 10 minutes (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period.",
          "format": "google-duration"
        }
      },
      "id": "NodeInitializationAction"
    },
    "ClusterOperationStatus": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "Output only. A message containing the operation state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ]
        },
        "stateStartTime": {
          "description": "Output only. The time this state was entered.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "innerState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message containing the detailed operation state."
        },
        "details": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A message containing any operation metadata details."
        }
      },
      "id": "ClusterOperationStatus",
      "description": "The status of the operation."
    },
    "DiagnoseClusterRequest": {
      "type": "object",
      "id": "DiagnoseClusterRequest",
      "description": "A request to collect cluster diagnostic information.",
      "properties": {}
    },
    "WorkflowNode": {
      "id": "WorkflowNode",
      "description": "The workflow node.",
      "type": "object",
      "properties": {
        "stepId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the node."
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The job id; populated after the node enters RUNNING state."
        },
        "error": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error detail."
        },
        "state": {
          "description": "Output only. The node state.",
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ],
          "type": "string",
          "enum": [
            "NODE_STATE_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ]
        },
        "prerequisiteStepIds": {
          "type": "array",
          "description": "Output only. Node's prerequisite nodes.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RegexValidation": {
      "description": "Validation based on regular expressions.",
      "type": "object",
      "id": "RegexValidation",
      "properties": {
        "regexes": {
          "type": "array",
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WorkflowGraph": {
      "properties": {
        "nodes": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "WorkflowNode"
          },
          "description": "Output only. The workflow nodes."
        }
      },
      "type": "object",
      "description": "The workflow graph.",
      "id": "WorkflowGraph"
    },
    "DiskConfig": {
      "description": "Specifies the config of disk options for a group of VM instances.",
      "type": "object",
      "id": "DiskConfig",
      "properties": {
        "bootDiskSizeGb": {
          "description": "Optional. Size in GB of the boot disk (default is 500GB).",
          "type": "integer",
          "format": "int32"
        },
        "numLocalSsds": {
          "type": "integer",
          "description": "Optional. Number of attached SSDs, from 0 to 4 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs and HDFS (https://hadoop.apache.org/docs/r1.2.1/hdfs_user_guide.html) data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic config and installed binaries.",
          "format": "int32"
        },
        "bootDiskType": {
          "type": "string",
          "description": "Optional. Type of the boot disk (default is \"pd-standard\"). Valid values: \"pd-balanced\" (Persistent Disk Balanced Solid State Drive), \"pd-ssd\" (Persistent Disk Solid State Drive), or \"pd-standard\" (Persistent Disk Hard Disk Drive). See Disk types (https://cloud.google.com/compute/docs/disks#disk-types)."
        }
      }
    },
    "WorkflowTemplate": {
      "description": "A Dataproc workflow template resource.",
      "properties": {
        "createTime": {
          "description": "Output only. The time template was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels to associate with this template. These labels will be propagated to all jobs and clusters created by the workflow instance.Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).No more than 32 labels can be associated with a template.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "version": {
          "description": "Optional. Used to perform a consistent read-modify-write.This field should be left blank for a CreateWorkflowTemplate request. It is required for an UpdateWorkflowTemplate request, and must match the current server version. A typical update template flow would fetch the current template with a GetWorkflowTemplate request, which will return the current template with the version field filled in with the current server version. The user updates other fields in the template, then returns it as part of the UpdateWorkflowTemplate request.",
          "format": "int32",
          "type": "integer"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time template was last updated."
        },
        "dagTimeout": {
          "format": "google-duration",
          "description": "Optional. Timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). The timeout duration must be from 10 minutes (\"600s\") to 24 hours (\"86400s\"). The timer begins when the first job is submitted. If the workflow is running at the end of the timeout period, any remaining jobs are cancelled, the workflow is ended, and if the workflow was running on a managed cluster, the cluster is deleted.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "type": "string",
          "readOnly": true
        },
        "jobs": {
          "description": "Required. The Directed Acyclic Graph of Jobs to submit.",
          "type": "array",
          "items": {
            "$ref": "OrderedJob"
          }
        },
        "placement": {
          "$ref": "WorkflowTemplatePlacement",
          "description": "Required. WorkflowTemplate scheduling information."
        },
        "id": {
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "description": "Optional. Template parameters whose values are substituted into the template. Values for parameters must be provided when the template is instantiated.",
          "items": {
            "$ref": "TemplateParameter"
          }
        }
      },
      "type": "object",
      "id": "WorkflowTemplate"
    },
    "InstanceGroupConfig": {
      "properties": {
        "numInstances": {
          "type": "integer",
          "description": "Optional. The number of VM instances in the instance group. For master instance groups, must be set to 1.",
          "format": "int32"
        },
        "isPreemptible": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Specifies that this instance group contains preemptible instances."
        },
        "machineTypeUri": {
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2.",
          "type": "string"
        },
        "instanceNames": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "type": "array"
        },
        "preemptibility": {
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE.",
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE"
          ],
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible.This option is allowed only for secondary worker groups."
          ],
          "type": "string"
        },
        "diskConfig": {
          "description": "Optional. Disk option config settings.",
          "$ref": "DiskConfig"
        },
        "managedGroupConfig": {
          "$ref": "ManagedGroupConfig",
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "readOnly": true
        },
        "accelerators": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "type": "array"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -\u003e Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu)."
        },
        "imageUri": {
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default.",
          "type": "string"
        },
        "instanceReferences": {
          "description": "Output only. List of references to Compute Engine instances.",
          "items": {
            "$ref": "InstanceReference"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "InstanceGroupConfig",
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group."
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups.",
      "type": "object",
      "properties": {
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers."
        },
        "maxInstances": {
          "format": "int32",
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "type": "integer"
        },
        "minInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0."
        }
      },
      "id": "InstanceGroupAutoscalingPolicyConfig"
    },
    "PySparkJob": {
      "type": "object",
      "description": "A Dataproc job for running Apache PySpark (https://spark.apache.org/docs/0.9.0/python-programming-guide.html) applications on YARN.",
      "id": "PySparkJob",
      "properties": {
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "pythonFileUris": {
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mainPythonFileUri": {
          "description": "Required. The HCFS URI of the main Python file to use as the driver. Must be a .py file.",
          "type": "string"
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListWorkflowTemplatesResponse": {
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListWorkflowTemplatesRequest."
        },
        "templates": {
          "type": "array",
          "items": {
            "$ref": "WorkflowTemplate"
          },
          "readOnly": true,
          "description": "Output only. WorkflowTemplates list."
        }
      },
      "id": "ListWorkflowTemplatesResponse",
      "description": "A response to a request to list workflow templates in a project.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}.",
      "type": "object"
    },
    "ParameterValidation": {
      "type": "object",
      "id": "ParameterValidation",
      "description": "Configuration for parameter validation.",
      "properties": {
        "regex": {
          "description": "Validation based on regular expressions.",
          "$ref": "RegexValidation"
        },
        "values": {
          "$ref": "ValueValidation",
          "description": "Validation based on a list of allowed values."
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for GetIamPolicy method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "HiveJob": {
      "id": "HiveJob",
      "type": "object",
      "properties": {
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains Hive queries."
        },
        "scriptVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";)."
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
          "type": "object"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "type": "array"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        }
      },
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN."
    },
    "BasicYarnAutoscalingConfig": {
      "type": "object",
      "id": "BasicYarnAutoscalingConfig",
      "properties": {
        "scaleDownMinWorkerFraction": {
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "format": "google-duration",
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string"
        },
        "scaleUpFactor": {
          "format": "double",
          "type": "number",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0."
        },
        "scaleUpMinWorkerFraction": {
          "format": "double",
          "type": "number",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
        },
        "scaleDownFactor": {
          "type": "number",
          "format": "double",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0."
        }
      },
      "description": "Basic autoscaling configurations for YARN."
    },
    "SparkSqlJob": {
      "type": "object",
      "description": "A Dataproc job for running Apache Spark SQL (http://spark.apache.org/sql/) queries.",
      "id": "SparkSqlJob",
      "properties": {
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "items": {
            "type": "string"
          }
        },
        "scriptVariables": {
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API may be overwritten.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "id": "Status"
    },
    "CancelJobRequest": {
      "type": "object",
      "id": "CancelJobRequest",
      "properties": {},
      "description": "A request to cancel a job."
    },
    "ManagedGroupConfig": {
      "type": "object",
      "properties": {
        "instanceTemplateName": {
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "type": "string",
          "readOnly": true
        },
        "instanceGroupManagerName": {
          "description": "Output only. The name of the Instance Group Manager for this group.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ManagedGroupConfig",
      "description": "Specifies the resources used to actively manage an instance group."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for SetIamPolicy method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "WorkflowTemplatePlacement": {
      "type": "object",
      "properties": {
        "managedCluster": {
          "$ref": "ManagedCluster",
          "description": "A cluster that is managed by the workflow."
        },
        "clusterSelector": {
          "description": "Optional. A selector that chooses target cluster for jobs based on metadata.The selector is evaluated at the time each job is submitted.",
          "$ref": "ClusterSelector"
        }
      },
      "id": "WorkflowTemplatePlacement",
      "description": "Specifies workflow execution target.Either managed_cluster or cluster_selector is required."
    },
    "ClusterStatus": {
      "description": "The status of a cluster and its instances.",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cluster's state.",
          "enum": [
            "UNKNOWN",
            "CREATING",
            "RUNNING",
            "ERROR",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "The cluster state is unknown.",
            "The cluster is being created and set up. It is not ready for use.",
            "The cluster is currently running and healthy. It is ready for use.",
            "The cluster encountered an error. It is not ready for use.",
            "The cluster is being deleted. It cannot be used.",
            "The cluster is being updated. It continues to accept and process jobs."
          ]
        },
        "substate": {
          "readOnly": true,
          "enumDescriptions": [
            "The cluster substate is unknown.",
            "The cluster is known to be in an unhealthy state (for example, critical daemons are not running or HDFS capacity is exhausted).Applies to RUNNING state.",
            "The agent-reported status is out of date (may occur if Dataproc loses communication with Agent).Applies to RUNNING state."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNHEALTHY",
            "STALE_STATUS"
          ],
          "description": "Output only. Additional state information that includes status reported by the agent."
        },
        "detail": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Details of cluster's state."
        },
        "stateStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this state was entered (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string"
        }
      },
      "id": "ClusterStatus"
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "type": "object",
      "description": "The cluster config.",
      "properties": {
        "encryptionConfig": {
          "description": "Optional. Encryption settings for the cluster.",
          "$ref": "EncryptionConfig"
        },
        "gceClusterConfig": {
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster.",
          "$ref": "GceClusterConfig"
        },
        "securityConfig": {
          "description": "Optional. Security settings for the cluster.",
          "$ref": "SecurityConfig"
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset."
        },
        "configBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging bucket (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for worker instances in a cluster."
        },
        "initializationActions": {
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "items": {
            "$ref": "NodeInitializationAction"
          },
          "type": "array"
        },
        "softwareConfig": {
          "$ref": "SoftwareConfig",
          "description": "Optional. The config settings for software inside the cluster."
        },
        "tempBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket. This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket."
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for additional worker instances in a cluster."
        },
        "masterConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the master instance in a cluster."
        },
        "endpointConfig": {
          "description": "Optional. Port/endpoint configuration for this cluster",
          "$ref": "EndpointConfig"
        },
        "lifecycleConfig": {
          "description": "Optional. Lifecycle setting for the cluster.",
          "$ref": "LifecycleConfig"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
        }
      },
      "description": "Response message for TestIamPermissions method.",
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "YarnApplication": {
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "properties": {
        "trackingUrl": {
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The application name."
        },
        "progress": {
          "format": "float",
          "description": "Required. The numerical progress of the application, from 1 to 100.",
          "type": "number"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ],
          "description": "Required. The application state.",
          "type": "string",
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ]
        }
      },
      "type": "object",
      "id": "YarnApplication"
    },
    "PrestoJob": {
      "description": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster.",
      "id": "PrestoJob",
      "properties": {
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats",
          "type": "string"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "clientTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Presto client tags to attach to this query"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AutoscalingConfig": {
      "properties": {
        "policyUri": {
          "type": "string",
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and Dataproc region."
        }
      },
      "type": "object",
      "id": "AutoscalingConfig",
      "description": "Autoscaling Policy config associated with the cluster."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "ListClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The clusters in the project.",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest."
        }
      },
      "description": "The list of all clusters in a project.",
      "id": "ListClustersResponse"
    },
    "ClusterOperationMetadata": {
      "properties": {
        "description": {
          "description": "Output only. Short description of operation.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "$ref": "ClusterOperationStatus",
          "description": "Output only. Current operation status.",
          "readOnly": true
        },
        "labels": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Labels associated with the operation"
        },
        "warnings": {
          "description": "Output only. Errors encountered during operation execution.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "clusterName": {
          "description": "Output only. Name of the cluster for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusHistory": {
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The previous operation status."
        },
        "operationType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The operation type."
        },
        "clusterUuid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Cluster UUID for the operation."
        }
      },
      "description": "Metadata describing the operation.",
      "id": "ClusterOperationMetadata",
      "type": "object"
    },
    "SparkJob": {
      "properties": {
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris."
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A Dataproc job for running Apache Spark (http://spark.apache.org/) applications on YARN.",
      "id": "SparkJob",
      "type": "object"
    },
    "ClusterOperation": {
      "type": "object",
      "id": "ClusterOperation",
      "description": "The cluster operation triggered by a workflow.",
      "properties": {
        "done": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates the operation is done."
        },
        "operationId": {
          "readOnly": true,
          "description": "Output only. The id of the cluster operation.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Error, if operation failed.",
          "type": "string"
        }
      }
    },
    "ValueValidation": {
      "type": "object",
      "id": "ValueValidation",
      "description": "Validation based on a list of allowed values.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of allowed values for the parameter.",
          "type": "array"
        }
      }
    },
    "ListJobsResponse": {
      "type": "object",
      "id": "ListJobsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Optional. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest.",
          "type": "string"
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "Output only. Jobs list.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "A list of jobs in a project."
    },
    "JobMetadata": {
      "properties": {
        "operationType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Operation type."
        },
        "status": {
          "$ref": "JobStatus",
          "description": "Output only. Most recent job status.",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Job submission time.",
          "format": "google-datetime"
        },
        "jobId": {
          "description": "Output only. The job id.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Job Operation metadata.",
      "id": "JobMetadata",
      "type": "object"
    },
    "Cluster": {
      "id": "Cluster",
      "type": "object",
      "description": "Describes the identifying information, config, and status of a cluster of Compute Engine instances.",
      "properties": {
        "statusHistory": {
          "description": "Output only. The previous cluster status.",
          "items": {
            "$ref": "ClusterStatus"
          },
          "readOnly": true,
          "type": "array"
        },
        "status": {
          "$ref": "ClusterStatus",
          "description": "Output only. Cluster status.",
          "readOnly": true
        },
        "projectId": {
          "type": "string",
          "description": "Required. The Google Cloud Platform project ID that the cluster belongs to."
        },
        "clusterUuid": {
          "description": "Output only. A cluster UUID (Unique Universal Identifier). Dataproc generates this value when it creates the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "config": {
          "$ref": "ClusterConfig",
          "description": "Required. The cluster config. Note that Dataproc may set default values, and values may change when clusters are updated."
        },
        "labels": {
          "description": "Optional. The labels to associate with this cluster. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterName": {
          "type": "string",
          "description": "Required. The cluster name. Cluster names within a project must be unique. Names of deleted clusters can be reused."
        },
        "metrics": {
          "readOnly": true,
          "description": "Output only. Contains cluster daemon metrics such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
          "$ref": "ClusterMetrics"
        }
      }
    },
    "OrderedJob": {
      "id": "OrderedJob",
      "type": "object",
      "description": "A job executed by the workflow.",
      "properties": {
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "prerequisiteStepIds": {
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "sparkSqlJob": {
          "$ref": "SparkSqlJob",
          "description": "Optional. Job is a SparkSql job."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job."
        },
        "stepId": {
          "type": "string",
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters."
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "pysparkJob": {
          "$ref": "PySparkJob",
          "description": "Optional. Job is a PySpark job."
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        }
      }
    },
    "DiagnoseClusterResults": {
      "id": "DiagnoseClusterResults",
      "type": "object",
      "properties": {
        "outputUri": {
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The location of diagnostic output."
    },
    "KerberosConfig": {
      "id": "KerberosConfig",
      "description": "Specifies Kerberos related configuration.",
      "properties": {
        "kdcDbKeyUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database.",
          "type": "string"
        },
        "keystorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "keystoreUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate."
        },
        "crossRealmTrustSharedPasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship."
        },
        "rootPrincipalPasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the root principal password."
        },
        "truststoreUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate."
        },
        "crossRealmTrustAdminServer": {
          "type": "string",
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship."
        },
        "enableKerberos": {
          "type": "boolean",
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster."
        },
        "truststorePasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by Dataproc."
        },
        "realm": {
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm.",
          "type": "string"
        },
        "kmsKeyUri": {
          "description": "Optional. The uri of the KMS key used to encrypt various sensitive files.",
          "type": "string"
        },
        "crossRealmTrustRealm": {
          "type": "string",
          "description": "Optional. The remote realm the Dataproc on-cluster KDC will trust, should the user enable cross realm trust."
        },
        "tgtLifetimeHours": {
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used.",
          "format": "int32",
          "type": "integer"
        },
        "crossRealmTrustKdc": {
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "keyPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstanceReference": {
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "The public key used for sharing data with this instance."
        },
        "instanceName": {
          "description": "The user-friendly name of the Compute Engine instance.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "The unique identifier of the Compute Engine instance."
        }
      },
      "id": "InstanceReference",
      "description": "A reference to a Compute Engine instance.",
      "type": "object"
    },
    "LifecycleConfig": {
      "id": "LifecycleConfig",
      "properties": {
        "autoDeleteTime": {
          "description": "Optional. The time when cluster will be auto-deleted (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-datetime"
        },
        "idleStartTime": {
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "idleDeleteTtl": {
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoDeleteTtl": {
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "type": "object"
    },
    "QueryList": {
      "properties": {
        "queries": {
          "type": "array",
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } ",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "QueryList",
      "description": "A list of queries to run on a cluster."
    },
    "WorkflowMetadata": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from parameter names to values that were used for those parameters.",
          "type": "object"
        },
        "clusterUuid": {
          "readOnly": true,
          "description": "Output only. The UUID of target cluster.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Workflow start time."
        },
        "graph": {
          "readOnly": true,
          "$ref": "WorkflowGraph",
          "description": "Output only. The workflow graph."
        },
        "clusterName": {
          "description": "Output only. The name of the target cluster.",
          "type": "string",
          "readOnly": true
        },
        "dagTimeout": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "dagEndTime": {
          "description": "Output only. DAG end time, only set for workflows with dag_timeout when DAG ends.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dagStartTime": {
          "description": "Output only. DAG start time, only set for workflows with dag_timeout when DAG begins.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "Output only. The workflow state."
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The version of template at the time of workflow instantiation.",
          "type": "integer",
          "format": "int32"
        },
        "createCluster": {
          "readOnly": true,
          "$ref": "ClusterOperation",
          "description": "Output only. The create cluster operation metadata."
        },
        "template": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}"
        },
        "endTime": {
          "description": "Output only. Workflow end time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteCluster": {
          "description": "Output only. The delete cluster operation metadata.",
          "readOnly": true,
          "$ref": "ClusterOperation"
        }
      },
      "description": "A Dataproc workflow template resource.",
      "id": "WorkflowMetadata",
      "type": "object"
    },
    "SoftwareConfig": {
      "description": "Specifies the selection and config of software inside the cluster.",
      "properties": {
        "optionalComponents": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda python distribution. The Anaconda component is not supported in the Dataproc preview 2.0 image. The 2.0 preview image is pre-installed with Miniconda.",
              "Docker",
              "Flink",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "The Jupyter Notebook.",
              "The Presto query engine.",
              "The Ranger service.",
              "The Solr service.",
              "The Zeppelin notebook.",
              "The Zookeeper service."
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "DOCKER",
              "FLINK",
              "HIVE_WEBHCAT",
              "JUPYTER",
              "PRESTO",
              "RANGER",
              "SOLR",
              "ZEPPELIN",
              "ZOOKEEPER"
            ]
          },
          "type": "array",
          "description": "Optional. The set of components to activate on the cluster."
        },
[...]
