{
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for SetIamPolicy method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "EndpointConfig": {
      "id": "EndpointConfig",
      "type": "object",
      "properties": {
        "httpPorts": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true."
        },
        "enableHttpPortAccess": {
          "type": "boolean",
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false."
        }
      },
      "description": "Endpoint config for this cluster"
    },
    "ManagedGroupConfig": {
      "type": "object",
      "id": "ManagedGroupConfig",
      "properties": {
        "instanceGroupManagerName": {
          "type": "string",
          "description": "Output only. The name of the Instance Group Manager for this group.",
          "readOnly": true
        },
        "instanceTemplateName": {
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Specifies the resources used to actively manage an instance group."
    },
    "WorkflowNode": {
      "description": "The workflow node.",
      "properties": {
        "error": {
          "type": "string",
          "description": "Output only. The error detail.",
          "readOnly": true
        },
        "stepId": {
          "description": "Output only. The name of the node.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "NODE_STATUS_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. The node state.",
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ]
        },
        "prerequisiteStepIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Node's prerequisite nodes."
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The job id; populated after the node enters RUNNING state."
        }
      },
      "type": "object",
      "id": "WorkflowNode"
    },
    "HadoopJob": {
      "properties": {
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainJarFileUri": {
          "type": "string",
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "id": "HadoopJob"
    },
    "ListAutoscalingPoliciesResponse": {
      "id": "ListAutoscalingPoliciesResponse",
      "type": "object",
      "properties": {
        "policies": {
          "items": {
            "$ref": "AutoscalingPolicy"
          },
          "description": "Output only. Autoscaling policies list.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This token is included in the response if there are more results to fetch."
        }
      },
      "description": "A response to a request to list autoscaling policies in a project."
    },
    "WorkflowTemplatePlacement": {
      "properties": {
        "clusterSelector": {
          "$ref": "ClusterSelector",
          "description": "Optional. A selector that chooses target cluster for jobs based on metadata.The selector is evaluated at the time each job is submitted."
        },
        "managedCluster": {
          "$ref": "ManagedCluster",
          "description": "Optional. A cluster that is managed by the workflow."
        }
      },
      "type": "object",
      "id": "WorkflowTemplatePlacement",
      "description": "Specifies workflow execution target.Either managed_cluster or cluster_selector is required."
    },
    "WorkflowGraph": {
      "properties": {
        "nodes": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The workflow nodes.",
          "items": {
            "$ref": "WorkflowNode"
          }
        }
      },
      "description": "The workflow graph.",
      "id": "WorkflowGraph",
      "type": "object"
    },
    "PrestoJob": {
      "id": "PrestoJob",
      "description": "A Dataproc job for running Presto (https://prestosql.io/) queries. IMPORTANT: The Dataproc Presto Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/presto) must be enabled when the cluster is created to submit a Presto job to the cluster.",
      "type": "object",
      "properties": {
        "clientTags": {
          "description": "Optional. Presto client tags to attach to this query",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Presto documentation for supported output formats",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Presto session properties (https://prestodb.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Presto CLI",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The policy format version to be returned.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object"
    },
    "ClusterMetrics": {
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "properties": {
        "yarnMetrics": {
          "description": "The YARN metrics.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        },
        "hdfsMetrics": {
          "type": "object",
          "description": "The HDFS metrics.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "id": "ClusterMetrics"
    },
    "JobMetadata": {
      "description": "Job Operation metadata.",
      "properties": {
        "status": {
          "description": "Output only. Most recent job status.",
          "readOnly": true,
          "$ref": "JobStatus"
        },
        "startTime": {
          "description": "Output only. Job submission time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "jobId": {
          "description": "Output only. The job id.",
          "readOnly": true,
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Operation type."
        }
      },
      "type": "object",
      "id": "JobMetadata"
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy.",
          "$ref": "GetPolicyOptions"
        }
      },
      "description": "Request message for GetIamPolicy method."
    },
    "MetastoreConfig": {
      "properties": {
        "dataprocMetastoreService": {
          "description": "Required. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MetastoreConfig",
      "description": "Specifies a Metastore configuration."
    },
    "Status": {
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "GceClusterConfig": {
      "id": "GceClusterConfig",
      "type": "object",
      "properties": {
        "zoneUri": {
          "type": "string",
          "description": "Optional. The zone where the Compute Engine cluster will be located. On a create request, it is required in the \"global\" region. If omitted in a non-global Dataproc region, the service will pick a zone in the corresponding Compute Engine region. On a get request, zone will always be present.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] us-central1-f"
        },
        "serviceAccount": {
          "description": "Optional. The Dataproc service account (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/service-accounts#service_accounts_in_dataproc) (also see VM Data Plane identity (https://cloud.google.com/dataproc/docs/concepts/iam/dataproc-principals#vm_service_account_data_plane_identity)) used by Dataproc cluster VM instances to access Google Cloud Platform services.If not specified, the Compute Engine default service account (https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used.",
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm)."
        },
        "serviceAccountScopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. The following base set of scopes is always included: https://www.googleapis.com/auth/cloud.useraccounts.readonly https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/logging.writeIf no scopes are specified, the following defaults are also provided: https://www.googleapis.com/auth/bigquery https://www.googleapis.com/auth/bigtable.admin.table https://www.googleapis.com/auth/bigtable.data https://www.googleapis.com/auth/devstorage.full_control",
          "type": "array"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The Compute Engine metadata entries to add to all instances (see Project and instance metadata (https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata))."
        },
        "networkUri": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a \"Custom Subnet Network\" (see Using Subnetworks (https://cloud.google.com/compute/docs/subnetworks) for more information).A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/global/default projects/[project_id]/regions/global/default default"
        },
        "subnetworkUri": {
          "type": "string",
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/subnetworks/sub0 projects/[project_id]/regions/us-east1/subnetworks/sub0 sub0"
        },
        "internalIpOnly": {
          "type": "boolean",
          "description": "Optional. If true, all instances in the cluster will only have internal IP addresses. By default, clusters are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each instance. This internal_ip_only restriction can only be enabled for subnetwork enabled networks, and all off-cluster dependencies must be configured to be accessible without external IP addresses."
        },
        "privateIpv6GoogleAccess": {
          "enumDescriptions": [
            "If unspecified, Compute Engine default behavior will apply, which is the same as INHERIT_FROM_SUBNETWORK.",
            "Private access to and from Google Services configuration inherited from the subnetwork configuration. This is the default Compute Engine behavior.",
            "Enables outbound private IPv6 access to Google Services from the Dataproc cluster.",
            "Enables bidirectional private IPv6 access between Google Services and the Dataproc cluster."
          ],
          "type": "string",
          "description": "Optional. The type of IPv6 access for a cluster.",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ]
        },
        "reservationAffinity": {
          "$ref": "ReservationAffinity",
          "description": "Optional. Reservation Affinity for consuming Zonal reservation."
        },
        "nodeGroupAffinity": {
          "description": "Optional. Node Group Affinity for sole-tenant clusters.",
          "$ref": "NodeGroupAffinity"
        },
        "tags": {
          "description": "The Compute Engine tags to add to all instances (see Tagging instances (https://cloud.google.com/compute/docs/label-or-tag-resources#tags)).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Common config settings for resources of Compute Engine cluster instances, applicable to all instances in the cluster."
    },
    "AcceleratorConfig": {
      "type": "object",
      "properties": {
        "acceleratorTypeUri": {
          "type": "string",
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes)Examples * https://www.googleapis.com/compute/beta/projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 * projects/[project_id]/zones/us-east1-a/acceleratorTypes/nvidia-tesla-k80 * nvidia-tesla-k80Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-k80."
        },
        "acceleratorCount": {
          "description": "The number of the accelerator cards of this type exposed to this instance.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AcceleratorConfig",
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance group (see GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/))."
    },
    "LifecycleConfig": {
      "description": "Specifies the cluster auto-delete schedule configuration.",
      "type": "object",
      "id": "LifecycleConfig",
      "properties": {
        "idleStartTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when cluster became idle (most recent job finished) and became eligible for deletion due to idleness (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json))."
        },
        "idleDeleteTtl": {
          "description": "Optional. The duration to keep the cluster alive while idling (when no jobs are running). Passing this threshold will cause the cluster to be deleted. Minimum value is 5 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string",
          "format": "google-duration"
        },
        "autoDeleteTtl": {
          "type": "string",
          "description": "Optional. The lifetime duration of cluster. The cluster will be auto-deleted at the end of this period. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-duration"
        },
        "autoDeleteTime": {
          "description": "Optional. The time when cluster will be auto-deleted. (see JSON representation of Timestamp (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "description": "The cluster config.",
      "type": "object",
      "properties": {
        "gceClusterConfig": {
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster.",
          "$ref": "GceClusterConfig"
        },
        "configBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging bucket (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "initializationActions": {
          "type": "array",
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1beta2/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "items": {
            "$ref": "NodeInitializationAction"
          }
        },
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. Metastore configuration."
        },
        "tempBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket. This field requires a Cloud Storage bucket name, not a URI to a Cloud Storage bucket."
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset."
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for additional worker instances in a cluster."
        },
        "gkeClusterConfig": {
          "description": "Optional. The Kubernetes Engine config for Dataproc clusters deployed to Kubernetes. Setting this is considered mutually exclusive with Compute Engine-based options such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config.",
          "$ref": "GkeClusterConfig"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption settings for the cluster."
        },
        "lifecycleConfig": {
          "$ref": "LifecycleConfig",
          "description": "Optional. The config setting for auto delete cluster schedule."
        },
        "endpointConfig": {
          "description": "Optional. Port/endpoint configuration for this cluster",
          "$ref": "EndpointConfig"
        },
        "workerConfig": {
          "description": "Optional. The Compute Engine config settings for worker instances in a cluster.",
          "$ref": "InstanceGroupConfig"
        },
        "securityConfig": {
          "description": "Optional. Security related configuration.",
          "$ref": "SecurityConfig"
        },
        "softwareConfig": {
          "description": "Optional. The config settings for software inside the cluster.",
          "$ref": "SoftwareConfig"
        },
        "masterConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the master instance in a cluster."
        }
      }
    },
    "ClusterOperation": {
      "description": "The cluster operation triggered by a workflow.",
      "id": "ClusterOperation",
      "properties": {
        "done": {
          "description": "Output only. Indicates the operation is done.",
          "readOnly": true,
          "type": "boolean"
        },
        "error": {
          "description": "Output only. Error, if operation failed.",
          "type": "string",
          "readOnly": true
        },
        "operationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The id of the cluster operation."
        }
      },
      "type": "object"
    },
    "NodeGroupAffinity": {
      "type": "object",
      "id": "NodeGroupAffinity",
      "properties": {
        "nodeGroupUri": {
          "description": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 projects/[project_id]/zones/us-central1-a/nodeGroups/node-group-1 node-group-1",
          "type": "string"
        }
      },
      "description": "Node Group Affinity for clusters using sole-tenant node groups."
    },
    "LoggingConfig": {
      "type": "object",
      "description": "The runtime logging config of the job.",
      "properties": {
        "driverLogLevels": {
          "additionalProperties": {
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ],
            "type": "string",
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ]
          },
          "description": "The per-package log levels for the driver. This may include \"root\" package name to configure rootLogger. Examples: 'com.google = FATAL', 'root = INFO', 'org.apache = DEBUG'",
          "type": "object"
        }
      },
      "id": "LoggingConfig"
    },
    "RegexValidation": {
      "id": "RegexValidation",
      "type": "object",
      "properties": {
        "regexes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. RE2 regular expressions used to validate the parameter's value. The value must match the regex in its entirety (substring matches are not sufficient)."
        }
      },
      "description": "Validation based on regular expressions."
    },
    "InstantiateWorkflowTemplateRequest": {
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "Deprecated. Please use request_id field instead.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestId": {
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template.",
          "type": "integer"
        }
      },
      "id": "InstantiateWorkflowTemplateRequest",
      "description": "A request to instantiate a workflow template."
    },
    "StartClusterRequest": {
      "id": "StartClusterRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two StartClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#google.cloud.dataproc.v1beta2.StartClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        }
      },
      "description": "A request to start a cluster."
    },
    "ClusterOperationMetadata": {
      "type": "object",
      "properties": {
        "statusHistory": {
          "type": "array",
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "description": "Output only. The previous operation status."
        },
        "operationType": {
          "type": "string",
          "description": "Output only. The operation type."
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Errors encountered during operation execution.",
          "type": "array"
        },
        "description": {
          "description": "Output only. Short description of operation.",
          "type": "string"
        },
        "clusterUuid": {
          "type": "string",
          "description": "Output only. Cluster UUID for the operation."
        },
        "clusterName": {
          "description": "Output only. Name of the cluster for the operation.",
          "type": "string"
        },
        "status": {
          "$ref": "ClusterOperationStatus",
          "description": "Output only. Current operation status."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Labels associated with the operation"
        }
      },
      "id": "ClusterOperationMetadata",
      "description": "Metadata describing the operation."
    },
    "SecurityConfig": {
      "id": "SecurityConfig",
      "description": "Security related configuration, including encryption, Kerberos, etc.",
      "type": "object",
      "properties": {
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Kerberos related configuration."
        }
      }
    },
    "GkeClusterConfig": {
      "description": "The GKE config for this cluster.",
      "id": "GkeClusterConfig",
      "properties": {
        "namespacedGkeDeploymentTarget": {
          "description": "Optional. A target for the deployment.",
          "$ref": "NamespacedGkeDeploymentTarget"
        }
      },
      "type": "object"
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A cluster UUID (Unique Universal Identifier). Dataproc generates this value when it creates the cluster."
        },
        "metrics": {
          "description": "Output only. Contains cluster daemon metrics such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
          "readOnly": true,
          "$ref": "ClusterMetrics"
        },
        "config": {
          "$ref": "ClusterConfig",
          "description": "Required. The cluster config. Note that Dataproc may set default values, and values may change when clusters are updated."
        },
        "projectId": {
          "type": "string",
          "description": "Required. The Google Cloud Platform project ID that the cluster belongs to."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to associate with this cluster. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster."
        },
        "status": {
          "description": "Output only. Cluster status.",
          "$ref": "ClusterStatus",
          "readOnly": true
        },
        "statusHistory": {
          "description": "Output only. The previous cluster status.",
          "items": {
            "$ref": "ClusterStatus"
          },
          "readOnly": true,
          "type": "array"
        },
        "clusterName": {
          "description": "Required. The cluster name. Cluster names within a project must be unique. Names of deleted clusters can be reused.",
          "type": "string"
        }
      },
      "description": "Describes the identifying information, config, and status of a cluster of Compute Engine instances.",
      "id": "Cluster"
    },
    "Binding": {
      "description": "Associates members with a role.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities requesting access for a Cloud Platform resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a service account. For example, my-other-app@appspot.gserviceaccount.com. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com."
        },
        "role": {
          "description": "Role that is assigned to members. For example, roles/viewer, roles/editor, or roles/owner.",
          "type": "string"
        }
      },
      "id": "Binding"
    },
    "SparkRJob": {
      "id": "SparkRJob",
      "description": "A Dataproc job for running Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) applications on YARN.",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "mainRFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file."
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for TestIamPermissions method.",
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "PigJob": {
      "properties": {
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "scriptVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value])."
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PigJob",
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN."
    },
    "ClusterOperationStatus": {
      "type": "object",
      "description": "The status of the operation.",
      "properties": {
        "stateStartTime": {
          "format": "google-datetime",
          "description": "Output only. The time this state was entered.",
          "type": "string"
        },
        "innerState": {
          "type": "string",
          "description": "Output only. A message containing the detailed operation state."
        },
        "state": {
          "description": "Output only. A message containing the operation state.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ]
        },
        "details": {
          "type": "string",
          "description": "Output only. A message containing any operation metadata details."
        }
      },
      "id": "ClusterOperationStatus"
    },
    "BasicAutoscalingAlgorithm": {
      "description": "Basic algorithm for autoscaling.",
      "type": "object",
      "properties": {
        "yarnConfig": {
          "$ref": "BasicYarnAutoscalingConfig",
          "description": "Required. YARN autoscaling configuration."
        },
        "cooldownPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m."
        }
      },
      "id": "BasicAutoscalingAlgorithm"
    },
    "JobStatus": {
      "properties": {
        "stateStartTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when this state was entered."
        },
        "substate": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ],
          "description": "Output only. Additional state information, which includes status reported by the agent.",
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it may be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which may be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ]
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "description": "Output only. A state message specifying the overall job state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ]
        },
        "details": {
          "readOnly": true,
          "description": "Output only. Optional Job state details, such as an error description if the state is ERROR.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Dataproc job status.",
      "id": "JobStatus"
    },
    "NamespacedGkeDeploymentTarget": {
      "id": "NamespacedGkeDeploymentTarget",
      "properties": {
        "targetGkeCluster": {
          "description": "Optional. The target GKE cluster to deploy to. Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'",
          "type": "string"
        },
        "clusterNamespace": {
          "description": "Optional. A namespace within the GKE cluster to deploy into.",
          "type": "string"
        }
      },
      "description": "A full, namespace-isolated deployment target for an existing GKE cluster.",
      "type": "object"
    },
    "YarnApplication": {
      "type": "object",
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "properties": {
        "progress": {
          "description": "Output only. The numerical progress of the application, from 1 to 100.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "state": {
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "type": "string",
          "description": "Output only. The application state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ]
        },
        "trackingUrl": {
          "type": "string",
          "description": "Output only. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The application name.",
          "type": "string"
        }
      },
      "id": "YarnApplication"
    },
    "CancelJobRequest": {
      "description": "A request to cancel a job.",
      "properties": {},
      "type": "object",
      "id": "CancelJobRequest"
    },
    "BasicYarnAutoscalingConfig": {
      "description": "Basic autoscaling configurations for YARN.",
      "type": "object",
      "id": "BasicYarnAutoscalingConfig",
      "properties": {
        "gracefulDecommissionTimeout": {
          "type": "string",
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "format": "google-duration"
        },
        "scaleDownFactor": {
          "type": "number",
          "format": "double",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works for more information.Bounds: 0.0, 1.0."
        },
        "scaleUpMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        },
        "scaleDownMinWorkerFraction": {
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double",
          "type": "number"
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works for more information.Bounds: 0.0, 1.0.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "OrderedJob": {
      "description": "A job executed by the workflow.",
      "id": "OrderedJob",
      "properties": {
        "labels": {
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pysparkJob": {
          "$ref": "PySparkJob",
          "description": "Optional. Job is a PySpark job."
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "prerequisiteStepIds": {
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "stepId": {
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        },
        "hiveJob": {
          "$ref": "HiveJob",
          "description": "Optional. Job is a Hive job."
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "sparkRJob": {
          "$ref": "SparkRJob",
          "description": "Optional. Job is a SparkR job."
        }
      },
      "type": "object"
    },
    "DiskConfig": {
      "type": "object",
      "properties": {
        "bootDiskSizeGb": {
          "format": "int32",
          "description": "Optional. Size in GB of the boot disk (default is 500GB).",
          "type": "integer"
        },
        "bootDiskType": {
          "type": "string",
          "description": "Optional. Type of the boot disk (default is \"pd-standard\"). Valid values: \"pd-balanced\" (Persistent Disk Balanced Solid State Drive), \"pd-ssd\" (Persistent Disk Solid State Drive), or \"pd-standard\" (Persistent Disk Hard Disk Drive). See Disk types (https://cloud.google.com/compute/docs/disks#disk-types)."
        },
        "numLocalSsds": {
          "type": "integer",
          "description": "Number of attached SSDs, from 0 to 4 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs and HDFS (https://hadoop.apache.org/docs/r1.2.1/hdfs_user_guide.html) data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic config and installed binaries.",
          "format": "int32"
        }
      },
      "id": "DiskConfig",
      "description": "Specifies the config of disk options for a group of VM instances."
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "type": "object",
      "description": "The list of all clusters in a project.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest.",
          "readOnly": true
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "readOnly": true,
          "description": "Output only. The clusters in the project.",
          "type": "array"
        }
      }
    },
    "QueryList": {
      "type": "object",
      "description": "A list of queries to run on a cluster.",
      "properties": {
        "queries": {
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "QueryList"
    },
    "ManagedCluster": {
      "type": "object",
      "id": "ManagedCluster",
      "description": "Cluster that is managed by the workflow.",
      "properties": {
        "config": {
          "$ref": "ClusterConfig",
          "description": "Required. The cluster configuration."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster.",
          "type": "object"
        },
        "clusterName": {
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters.",
          "type": "string"
        }
      }
    },
    "ValueValidation": {
      "type": "object",
      "description": "Validation based on a list of allowed values.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of allowed values for the parameter.",
          "type": "array"
        }
      },
      "id": "ValueValidation"
    },
    "DiagnoseClusterRequest": {
      "id": "DiagnoseClusterRequest",
      "properties": {},
      "type": "object",
      "description": "A request to collect cluster diagnostic information."
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups.",
      "properties": {
        "minInstances": {
          "type": "integer",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "format": "int32"
        },
        "weight": {
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers.",
          "type": "integer",
          "format": "int32"
        },
        "maxInstances": {
          "format": "int32",
          "description": "Optional. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Required. Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "WorkflowMetadata": {
      "type": "object",
      "properties": {
        "template": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}"
        },
        "graph": {
          "$ref": "WorkflowGraph",
          "readOnly": true,
          "description": "Output only. The workflow graph."
        },
        "clusterName": {
          "type": "string",
          "description": "Output only. The name of the target cluster.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "description": "Output only. The workflow state.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Workflow start time."
        },
        "clusterUuid": {
          "description": "Output only. The UUID of target cluster.",
          "readOnly": true,
          "type": "string"
        },
        "dagStartTime": {
          "description": "Output only. DAG start time, which is only set for workflows with dag_timeout when the DAG begins.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteCluster": {
          "readOnly": true,
          "$ref": "ClusterOperation",
          "description": "Output only. The delete cluster operation metadata."
        },
        "createCluster": {
          "readOnly": true,
          "description": "Output only. The create cluster operation metadata.",
          "$ref": "ClusterOperation"
        },
        "dagTimeout": {
          "format": "google-duration",
          "readOnly": true,
          "description": "Output only. The timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The version of template at the time of workflow instantiation.",
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "description": "Map from parameter names to values that were used for those parameters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Workflow end time.",
          "type": "string",
          "readOnly": true
        },
        "dagEndTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. DAG end time, which is only set for workflows with dag_timeout when the DAG ends.",
          "type": "string"
        }
      },
      "description": "A Dataproc workflow template resource.",
      "id": "WorkflowMetadata"
    },
    "SparkJob": {
      "id": "SparkJob",
      "description": "A Dataproc job for running Apache Spark (http://spark.apache.org/) applications on YARN. The specification of the main method to call to drive the job. Specify either the jar file that contains the main class or the main class name. To pass both a main jar and a main class in that jar, add the jar to CommonJob.jar_file_uris, and then specify the main class name in main_class.",
      "properties": {
        "fileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks."
        }
      },
      "type": "object"
    },
    "InstanceGroupConfig": {
      "id": "InstanceGroupConfig",
      "type": "object",
      "properties": {
        "accelerators": {
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "preemptibility": {
          "type": "string",
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE.",
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE"
          ],
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible.This option is allowed only for secondary worker groups."
          ]
        },
        "diskConfig": {
          "description": "Optional. Disk option config settings.",
          "$ref": "DiskConfig"
        },
        "machineTypeUri": {
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 projects/[project_id]/zones/us-east1-a/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2.",
          "type": "string"
        },
        "minCpuPlatform": {
          "description": "Specifies the minimum cpu platform for the Instance Group. See Dataproc -\u003e Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu).",
          "type": "string"
        },
        "managedGroupConfig": {
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "readOnly": true,
          "$ref": "ManagedGroupConfig"
        },
        "isPreemptible": {
          "description": "Output only. Specifies that this instance group contains preemptible instances.",
          "type": "boolean",
          "readOnly": true
        },
        "numInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of VM instances in the instance group. For master instance groups, must be set to 1."
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/beta/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default."
        },
        "instanceNames": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "items": {
            "type": "string"
          }
        },
        "instanceReferences": {
          "type": "array",
          "items": {
            "$ref": "InstanceReference"
          },
          "description": "Output only. List of references to Compute Engine instances.",
          "readOnly": true
        }
      },
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group."
    },
    "ClusterSelector": {
      "description": "A selector that chooses target cluster for jobs based on metadata.",
      "type": "object",
      "properties": {
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The cluster labels. Cluster must have all labels to match."
        },
        "zone": {
          "type": "string",
          "description": "Optional. The zone where workflow process executes. This parameter does not affect the selection of the cluster.If unspecified, the zone of the first cluster matching the selector is used."
        }
      },
      "id": "ClusterSelector"
    },
    "SoftwareConfig": {
      "description": "Specifies the selection and config of software inside the cluster.",
      "type": "object",
      "id": "SoftwareConfig",
      "properties": {
        "imageVersion": {
          "description": "Optional. The version of software inside the cluster. It must be one of the supported Dataproc Versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#supported_dataproc_versions), such as \"1.2\" (including a subminor version, such as \"1.2.29\"), or the \"preview\" version (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#other_versions). If unspecified, it defaults to the latest Debian version.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "description": "Optional. The properties to set on daemon config files.Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. The following are supported prefixes and their mappings: capacity-scheduler: capacity-scheduler.xml core: core-site.xml distcp: distcp-default.xml hdfs: hdfs-site.xml hive: hive-site.xml mapred: mapred-site.xml pig: pig.properties spark: spark-defaults.conf yarn: yarn-site.xmlFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "optionalComponents": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda python distribution. The Anaconda component is not supported in the Dataproc 2.0 image. The 2.0 image is pre-installed with Miniconda.",
              "Docker",
              "The Druid query engine.",
              "Flink",
              "HBase.",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "The Jupyter Notebook.",
              "The Kerberos security feature.",
              "The Presto query engine.",
              "The Ranger service.",
              "The Solr service.",
              "The Zeppelin notebook.",
              "The Zookeeper service."
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "DOCKER",
              "DRUID",
              "FLINK",
              "HBASE",
              "HIVE_WEBHCAT",
              "JUPYTER",
              "KERBEROS",
              "PRESTO",
              "RANGER",
              "SOLR",
              "ZEPPELIN",
              "ZOOKEEPER"
            ]
          },
          "type": "array",
          "description": "The set of optional components to activate on the cluster."
        }
      }
    },
    "SparkSqlJob": {
      "description": "A Dataproc job for running Apache Spark SQL (http://spark.apache.org/sql/) queries.",
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API may be overwritten."
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "items": {
            "type": "string"
          }
        },
        "scriptVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        }
      },
      "id": "SparkSqlJob",
      "type": "object"
    },
    "JobPlacement": {
      "id": "JobPlacement",
      "description": "Dataproc job config.",
      "type": "object",
      "properties": {
        "clusterUuid": {
          "readOnly": true,
          "description": "Output only. A cluster UUID generated by the Dataproc service when the job is submitted.",
          "type": "string"
        },
        "clusterName": {
          "description": "Required. The name of the cluster where the job will be submitted.",
          "type": "string"
        }
      }
    },
    "KerberosConfig": {
      "description": "Specifies Kerberos related configuration.",
      "type": "object",
      "id": "KerberosConfig",
      "properties": {
        "enableKerberos": {
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster.",
          "type": "boolean"
        },
        "truststoreUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate."
        },
        "crossRealmTrustRealm": {
          "description": "Optional. The remote realm the Dataproc on-cluster KDC will trust, should the user enable cross realm trust.",
          "type": "string"
        },
        "keyPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "crossRealmTrustAdminServer": {
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "truststorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by Dataproc.",
          "type": "string"
        },
        "kdcDbKeyUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database.",
          "type": "string"
        },
        "crossRealmTrustKdc": {
          "type": "string",
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship."
        },
        "realm": {
          "type": "string",
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm."
        },
        "keystoreUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, Dataproc will provide a self-signed certificate."
        },
        "tgtLifetimeHours": {
          "type": "integer",
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used.",
          "format": "int32"
        },
        "keystorePasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by Dataproc."
        },
        "rootPrincipalPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the root principal password.",
          "type": "string"
        },
        "kmsKeyUri": {
          "type": "string",
          "description": "Optional. The uri of the KMS key used to encrypt various sensitive files."
        },
        "crossRealmTrustSharedPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship.",
          "type": "string"
        }
      }
    },
    "DiagnoseClusterResults": {
      "properties": {
        "outputUri": {
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The location of diagnostic output.",
      "id": "DiagnoseClusterResults"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}.",
      "type": "object"
    },
    "InjectCredentialsRequest": {
      "type": "object",
      "properties": {
        "clusterUuid": {
          "description": "Required. The cluster UUID.",
          "type": "string"
        },
        "credentialsCiphertext": {
          "type": "string",
          "description": "Required. The encrypted credentials being injected in to the cluster.The client is responsible for encrypting the credentials in a way that is supported by the cluster.A wrapped value is used here so that the actual contents of the encrypted credentials are not written to audit logs."
        }
      },
      "id": "InjectCredentialsRequest",
      "description": "A request to inject credentials into a cluster."
    },
    "ParameterValidation": {
      "properties": {
        "values": {
          "description": "Validation based on a list of allowed values.",
          "$ref": "ValueValidation"
        },
        "regex": {
          "description": "Validation based on regular expressions.",
          "$ref": "RegexValidation"
        }
      },
      "type": "object",
      "description": "Configuration for parameter validation.",
      "id": "ParameterValidation"
    },
    "AutoscalingConfig": {
      "description": "Autoscaling Policy config associated with the cluster.",
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and Dataproc region.",
          "type": "string"
        }
      },
      "id": "AutoscalingConfig",
      "type": "object"
    },
    "TemplateParameter": {
      "type": "object",
      "id": "TemplateParameter",
      "description": "A configurable parameter that replaces one or more fields in the template. Parameterizable fields: - Labels - File uris - Job properties - Job arguments - Script variables - Main class (in HadoopJob and SparkJob) - Zone (in ClusterSelector)",
      "properties": {
        "fields": {
          "items": {
            "type": "string"
          },
          "description": "Required. Paths to all fields that the parameter replaces. A field is allowed to appear in at most one parameter's list of field paths.A field path is similar in syntax to a google.protobuf.FieldMask. For example, a field path that references the zone field of a workflow template's cluster selector would be specified as placement.clusterSelector.zone.Also, field paths can reference fields using the following syntax: Values in maps can be referenced by key: labels'key' placement.clusterSelector.clusterLabels'key' placement.managedCluster.labels'key' placement.clusterSelector.clusterLabels'key' jobs'step-id'.labels'key' Jobs in the jobs list can be referenced by step-id: jobs'step-id'.hadoopJob.mainJarFileUri jobs'step-id'.hiveJob.queryFileUri jobs'step-id'.pySparkJob.mainPythonFileUri jobs'step-id'.hadoopJob.jarFileUris0 jobs'step-id'.hadoopJob.archiveUris0 jobs'step-id'.hadoopJob.fileUris0 jobs'step-id'.pySparkJob.pythonFileUris0 Items in repeated fields can be referenced by a zero-based index: jobs'step-id'.sparkJob.args0 Other examples: jobs'step-id'.hadoopJob.properties'key' jobs'step-id'.hadoopJob.args0 jobs'step-id'.hiveJob.scriptVariables'key' jobs'step-id'.hadoopJob.mainJarFileUri placement.clusterSelector.zoneIt may not be possible to parameterize maps and repeated fields in their entirety since only individual map values and individual items in repeated fields can be referenced. For example, the following field paths are invalid: placement.clusterSelector.clusterLabels jobs'step-id'.sparkJob.args",
          "type": "array"
        },
        "description": {
          "description": "Optional. Brief description of the parameter. Must not exceed 1024 characters.",
          "type": "string"
        },
        "validation": {
          "description": "Optional. Validation rules to be applied to this parameter's value.",
          "$ref": "ParameterValidation"
        },
        "name": {
          "description": "Required. Parameter name. The parameter name is used as the key, and paired with the parameter value, which are passed to the template when the template is instantiated. The name must contain only capital letters (A-Z), numbers (0-9), and underscores (_), and must not start with a number. The maximum length is 40 characters.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "PySparkJob": {
      "type": "object",
      "properties": {
        "pythonFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "type": "array"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks."
        },
        "fileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission."
        },
        "mainPythonFileUri": {
          "description": "Required. The HCFS URI of the main Python file to use as the driver. Must be a .py file.",
          "type": "string"
        }
      },
      "description": "A Dataproc job for running Apache PySpark (https://spark.apache.org/docs/0.9.0/python-programming-guide.html) applications on YARN.",
      "id": "PySparkJob"
    },
    "StopClusterRequest": {
      "type": "object",
      "id": "StopClusterRequest",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        },
        "requestId": {
          "description": "Optional. A unique id used to identify the request. If the server receives two StopClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#google.cloud.dataproc.v1beta2.StopClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "description": "A request to stop a cluster."
    },
    "JobScheduling": {
      "type": "object",
      "id": "JobScheduling",
      "properties": {
        "maxFailuresTotal": {
          "description": "Optional. Maximum number of times in total a driver may be restarted as a result of driver exiting with non-zero code before job is reported failed. Maximum value is 240.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailuresPerHour": {
          "type": "integer",
          "description": "Optional. Maximum number of times per hour a driver may be restarted as a result of driver terminating with non-zero code before job is reported failed.A job may be reported as thrashing if driver exits with non-zero code 4 times within 10 minute window.Maximum value is 10.",
          "format": "int32"
        }
      },
      "description": "Job scheduling options."
    },
    "AutoscalingPolicy": {
      "properties": {
        "secondaryWorkerConfig": {
          "description": "Optional. Describes how the autoscaler will operate for secondary workers.",
          "$ref": "InstanceGroupAutoscalingPolicyConfig"
        },
        "name": {
          "type": "string",
          "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
          "readOnly": true
        },
        "workerConfig": {
          "description": "Required. Describes how the autoscaler will operate for primary workers.",
          "$ref": "InstanceGroupAutoscalingPolicyConfig"
        },
        "id": {
          "description": "Required. The policy id.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "basicAlgorithm": {
          "$ref": "BasicAutoscalingAlgorithm"
        }
      },
      "id": "AutoscalingPolicy",
      "type": "object",
      "description": "Describes an autoscaling policy for Dataproc cluster autoscaler."
    },
    "WorkflowTemplate": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. Used to perform a consistent read-modify-write.This field should be left blank for a CreateWorkflowTemplate request. It is required for an UpdateWorkflowTemplate request, and must match the current server version. A typical update template flow would fetch the current template with a GetWorkflowTemplate request, which will return the current template with the version field filled in with the current server version. The user updates other fields in the template, then returns it as part of the UpdateWorkflowTemplate request.",
          "type": "integer",
          "format": "int32"
        },
        "jobs": {
          "description": "Required. The Directed Acyclic Graph of Jobs to submit.",
          "items": {
            "$ref": "OrderedJob"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
[...]
