{
"auth": {
"oauth2": {
"scopes": {
"https://www.googleapis.com/auth/cloud-platform": {
"description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
}
}
}
},
"basePath": "",
"baseUrl": "https://developerknowledge.googleapis.com/",
"batchPath": "batch",
"canonicalName": "Developer Knowledge",
"description": "The Developer Knowledge API provides access to Google's developer knowledge.",
"discoveryVersion": "v1",
"documentationLink": "https://developers.google.com/knowledge",
"fullyEncodeReservedExpansion": true,
"icons": {
"x16": "http://www.google.com/images/icons/product/search-16.gif",
"x32": "http://www.google.com/images/icons/product/search-32.gif"
},
"id": "developerknowledge:v1alpha",
"kind": "discovery#restDescription",
"mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
"name": "developerknowledge",
"ownerDomain": "google.com",
"ownerName": "Google",
"parameters": {
"$.xgafv": {
"description": "V1 error format.",
"enum": [
"1",
"2"
],
"enumDescriptions": [
"v1 error format",
"v2 error format"
],
"location": "query",
"type": "string"
},
"access_token": {
"description": "OAuth access token.",
"location": "query",
"type": "string"
},
"alt": {
"default": "json",
"description": "Data format for response.",
"enum": [
"json",
"media",
"proto"
],
"enumDescriptions": [
"Responses with Content-Type of application/json",
"Media download with context-dependent Content-Type",
"Responses with Content-Type of application/x-protobuf"
],
"location": "query",
"type": "string"
},
"callback": {
"description": "JSONP",
"location": "query",
"type": "string"
},
"fields": {
"description": "Selector specifying which fields to include in a partial response.",
"location": "query",
"type": "string"
},
"key": {
"description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
"location": "query",
"type": "string"
},
"oauth_token": {
"description": "OAuth 2.0 token for the current user.",
"location": "query",
"type": "string"
},
"prettyPrint": {
"default": "true",
"description": "Returns response with indentations and line breaks.",
"location": "query",
"type": "boolean"
},
"quotaUser": {
"description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
"location": "query",
"type": "string"
},
"uploadType": {
"description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
"location": "query",
"type": "string"
},
"upload_protocol": {
"description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
"location": "query",
"type": "string"
}
},
"protocol": "rest",
"resources": {
"documents": {
"methods": {
"batchGet": {
"description": "Retrieves multiple documents, each with its full Markdown content.",
"flatPath": "v1alpha/documents:batchGet",
"httpMethod": "GET",
"id": "developerknowledge.documents.batchGet",
"parameterOrder": [],
"parameters": {
"names": {
"description": "Required. The names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
"location": "query",
"repeated": true,
"type": "string"
}
},
"path": "v1alpha/documents:batchGet",
"response": {
"$ref": "BatchGetDocumentsResponse"
},
"scopes": [
"https://www.googleapis.com/auth/cloud-platform"
]
},
"get": {
"description": "Retrieves a single document with its full Markdown content.",
"flatPath": "v1alpha/documents/{documentsId}",
"httpMethod": "GET",
"id": "developerknowledge.documents.get",
"parameterOrder": [
"name"
],
"parameters": {
"name": {
"description": "Required. The name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
"location": "path",
"pattern": "^documents/.*$",
"required": true,
"type": "string"
}
},
"path": "v1alpha/{+name}",
"response": {
"$ref": "Document"
},
"scopes": [
"https://www.googleapis.com/auth/cloud-platform"
]
},
"searchDocumentChunks": {
"description": "Searches for developer knowledge across Google's developer documentation. This method returns document chunks based on the user's query. There can be many chunks of the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
"flatPath": "v1alpha/documents:searchDocumentChunks",
"httpMethod": "GET",
"id": "developerknowledge.documents.searchDocumentChunks",
"parameterOrder": [],
"parameters": {
"pageSize": {
"description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error.",
"format": "int32",
"location": "query",
"type": "integer"
},
"pageToken": {
"description": "Optional. A page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
"location": "query",
"type": "string"
},
"query": {
"description": "Required. The raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\".",
"location": "query",
"type": "string"
}
},
"path": "v1alpha/documents:searchDocumentChunks",
"response": {
"$ref": "SearchDocumentChunksResponse"
},
"scopes": [
"https://www.googleapis.com/auth/cloud-platform"
]
}
}
}
},
"revision": "20260223",
"rootUrl": "https://developerknowledge.googleapis.com/",
"schemas": {
"BatchGetDocumentsResponse": {
"description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
"id": "BatchGetDocumentsResponse",
"properties": {
"documents": {
"description": "Documents requested.",
"items": {
"$ref": "Document"
},
"type": "array"
}
},
"type": "object"
},
"Document": {
"description": "A Document represents a piece of content from the Developer Knowledge corpus.",
"id": "Document",
"properties": {
"content": {
"description": "Output only. The full content of the document in Markdown format.",
"readOnly": true,
"type": "string"
},
"description": {
"description": "Output only. A description of the document.",
"readOnly": true,
"type": "string"
},
"name": {
"description": "Identifier. The resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
"type": "string"
},
"uri": {
"description": "Output only. The URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
"readOnly": true,
"type": "string"
}
},
"type": "object"
},
"DocumentChunk": {
"description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
"id": "DocumentChunk",
"properties": {
"content": {
"description": "Output only. The content of the document chunk.",
"readOnly": true,
"type": "string"
},
"id": {
"description": "Output only. The ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
"readOnly": true,
"type": "string"
},
"parent": {
"description": "Output only. The resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
"readOnly": true,
"type": "string"
}
},
"type": "object"
},
"SearchDocumentChunksResponse": {
"description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
"id": "SearchDocumentChunksResponse",
"properties": {
"nextPageToken": {
"description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
"type": "string"
},
"results": {
"description": "The search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content.",
"items": {
"$ref": "DocumentChunk"
},
"type": "array"
}
},
"type": "object"
}
},
"servicePath": "",
"title": "Developer Knowledge API",
"version": "v1alpha",
"version_module": true
}