{
  "canonicalName": "Dfareporting",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "revision": "20210210",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "batchPath": "batch",
  "version": "v3.3",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v3.3/",
  "schemas": {
    "CampaignsListResponse": {
      "type": "object",
      "description": "Campaign List Response",
      "id": "CampaignsListResponse",
      "properties": {
        "campaigns": {
          "items": {
            "$ref": "Campaign"
          },
          "description": "Campaign collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "UniversalAdId": {
      "properties": {
        "registry": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Registry used for the Ad ID value.",
          "enum": [
            "OTHER",
            "AD_ID.ORG",
            "CLEARCAST",
            "DCM"
          ],
          "type": "string"
        },
        "value": {
          "description": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "id": "UniversalAdId"
    },
    "DeepLink": {
      "id": "DeepLink",
      "type": "object",
      "description": "Contains information about a landing page deep link.",
      "properties": {
        "mobileApp": {
          "description": "The mobile app targeted by this deep link.",
          "$ref": "MobileApp"
        },
        "appUrl": {
          "type": "string",
          "description": "The URL of the mobile app being linked to."
        },
        "fallbackUrl": {
          "type": "string",
          "description": "The fallback URL. This URL will be served to users who do not have the mobile app installed."
        },
        "remarketingListIds": {
          "description": "Ads served to users on these remarketing lists will use this deep link. Applicable when mobileApp.directory is APPLE_APP_STORE.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#deepLink\".",
          "type": "string"
        }
      }
    },
    "LastModifiedInfo": {
      "type": "object",
      "properties": {
        "time": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp of the last change in milliseconds since epoch."
        }
      },
      "description": "Modification timestamp.",
      "id": "LastModifiedInfo"
    },
    "ConversionsBatchUpdateRequest": {
      "properties": {
        "conversions": {
          "type": "array",
          "description": "The set of conversions to update.",
          "items": {
            "$ref": "Conversion"
          }
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        }
      },
      "description": "Update Conversions Request.",
      "id": "ConversionsBatchUpdateRequest",
      "type": "object"
    },
    "CustomViewabilityMetricConfiguration": {
      "type": "object",
      "id": "CustomViewabilityMetricConfiguration",
      "properties": {
        "timePercent": {
          "format": "int32",
          "description": "The percentage of video that must play for the Custom Viewability Metric to count an impression. If both this and timeMillis are specified, the earlier of the two will be used.",
          "type": "integer"
        },
        "audible": {
          "type": "boolean",
          "description": "Whether the video must be audible to count an impression."
        },
        "viewabilityPercent": {
          "description": "The percentage of video that must be on screen for the Custom Viewability Metric to count an impression.",
          "type": "integer",
          "format": "int32"
        },
        "timeMillis": {
          "format": "int32",
          "type": "integer",
          "description": "The time in milliseconds the video must play for the Custom Viewability Metric to count an impression. If both this and timePercent are specified, the earlier of the two will be used."
        }
      },
      "description": "The attributes, like playtime and percent onscreen, that define the Custom Viewability Metric."
    },
    "PostalCodesListResponse": {
      "id": "PostalCodesListResponse",
      "properties": {
        "postalCodes": {
          "items": {
            "$ref": "PostalCode"
          },
          "type": "array",
          "description": "Postal code collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Postal Code List Response"
    },
    "FloodlightActivityGroupsListResponse": {
      "description": "Floodlight Activity Group List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "floodlightActivityGroups": {
          "type": "array",
          "items": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Floodlight activity group collection."
        }
      },
      "type": "object",
      "id": "FloodlightActivityGroupsListResponse"
    },
    "DirectorySiteSettings": {
      "properties": {
        "instreamVideoPlacementAccepted": {
          "type": "boolean",
          "description": "Whether this site accepts in-stream video ads."
        },
        "interstitialPlacementAccepted": {
          "description": "Whether this site accepts interstitial ads.",
          "type": "boolean"
        },
        "dfpSettings": {
          "description": "Directory site Ad Manager settings.",
          "$ref": "DfpSettings"
        },
        "activeViewOptOut": {
          "type": "boolean",
          "description": "Whether this directory site has disabled active view creatives."
        }
      },
      "description": "Directory Site Settings",
      "type": "object",
      "id": "DirectorySiteSettings"
    },
    "DateRange": {
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dateRange.",
          "type": "string"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "relativeDateRange": {
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The date range relative to the date of when the report is run.",
          "type": "string"
        }
      },
      "description": "Represents a date range.",
      "id": "DateRange",
      "type": "object"
    },
    "Language": {
      "type": "object",
      "description": "Contains information about a language that can be targeted by ads.",
      "properties": {
        "id": {
          "format": "int64",
          "description": "Language ID of this language. This is the ID used for targeting and generating reports.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this language."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\".",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese."
        }
      },
      "id": "Language"
    },
    "LanguageTargeting": {
      "type": "object",
      "description": "Language Targeting.",
      "id": "LanguageTargeting",
      "properties": {
        "languages": {
          "items": {
            "$ref": "Language"
          },
          "type": "array",
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated."
        }
      }
    },
    "ClickThroughUrl": {
      "type": "object",
      "properties": {
        "customClickThroughUrl": {
          "type": "string",
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset."
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "format": "int64",
          "type": "string"
        },
        "defaultLandingPage": {
          "type": "boolean",
          "description": "Whether the campaign default landing page is used."
        }
      },
      "description": "Click-through URL",
      "id": "ClickThroughUrl"
    },
    "PlatformTypesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformTypesListResponse\"."
        },
        "platformTypes": {
          "items": {
            "$ref": "PlatformType"
          },
          "type": "array",
          "description": "Platform type collection."
        }
      },
      "id": "PlatformTypesListResponse",
      "type": "object",
      "description": "Platform Type List Response"
    },
    "CampaignCreativeAssociationsListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "campaignCreativeAssociations": {
          "description": "Campaign creative association collection",
          "type": "array",
          "items": {
            "$ref": "CampaignCreativeAssociation"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\"."
        }
      },
      "id": "CampaignCreativeAssociationsListResponse",
      "description": "Campaign Creative Association List Response"
    },
    "SiteSettings": {
      "description": "Site Settings",
      "id": "SiteSettings",
      "properties": {
        "disableNewCookie": {
          "description": "Whether new cookies are disabled for this site.",
          "type": "boolean"
        },
        "adBlockingOptOut": {
          "description": "Whether this site opts out of ad blocking. When true, ad blocking is disabled for all placements under the site, regardless of the individual placement settings. When false, the campaign and placement settings take effect.",
          "type": "boolean"
        },
        "videoActiveViewOptOutTemplate": {
          "description": "Whether Verification and ActiveView for in-stream video creatives are disabled by default for new placements created under this site. This value will be used to populate the placement.videoActiveViewOptOut field, when no value is specified for the new placement.",
          "type": "boolean"
        },
        "activeViewOptOut": {
          "description": "Whether active view creatives are disabled for this site.",
          "type": "boolean"
        },
        "vpaidAdapterChoiceTemplate": {
          "description": "Default VPAID adapter setting for new placements created under this site. This value will be used to populate the placements.vpaidAdapterChoice field, when no value is specified for the new placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to the placement. The publisher's specifications will typically determine this setting. For VPAID creatives, the adapter format will match the VPAID format (HTML5 VPAID creatives use the HTML5 adapter). *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "tagSetting": {
          "$ref": "TagSetting",
          "description": "Configuration settings for dynamic and image floodlight tags."
        }
      },
      "type": "object"
    },
    "Metric": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The metric name, e.g. dfa:impressions",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#metric."
        }
      },
      "id": "Metric",
      "description": "Represents a metric."
    },
    "RichMediaExitOverride": {
      "properties": {
        "enabled": {
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used.",
          "type": "boolean"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        },
        "exitId": {
          "description": "ID for the override to refer to a specific exit in the creative.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RichMediaExitOverride",
      "type": "object",
      "description": "Rich Media Exit Override."
    },
    "Placement": {
      "description": "Contains properties of a placement.",
      "properties": {
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "placementGroupId": {
          "format": "int64",
          "description": "ID of this placement's group, if applicable.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the most recent modification of this placement. This is a read-only field."
        },
        "videoSettings": {
          "$ref": "VideoSettings",
          "description": "A collection of settings which affect video creatives served through this placement. Applicable to placements with IN_STREAM_VIDEO compatibility."
        },
        "publisherUpdateInfo": {
          "description": "Information about the last publisher update. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "createInfo": {
          "description": "Information about the creation of this placement. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement.",
          "format": "int64",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID of this placement. This field is a required field on insertion."
        },
        "compatibility": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Placement compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering on desktop, on mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are no longer allowed for new placement insertions. Instead, use DISPLAY or DISPLAY_INTERSTITIAL. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. This field is required on insertion.",
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ]
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "videoActiveViewOptOut": {
          "description": "Whether Verification and ActiveView are disabled for in-stream video creatives for this placement. The same setting videoActiveViewOptOut exists on the site level -- the opt out occurs if either of these settings are true. These settings are distinct from DirectorySites.settings.activeViewOptOut or Sites.siteSettings.activeViewOptOut which only apply to display ads. However, Accounts.activeViewOptOut opts out both video traffic, as well as display ads, from Verification and ActiveView.",
          "type": "boolean"
        },
        "tagSetting": {
          "$ref": "TagSetting",
          "description": "Tag settings for this placement."
        },
        "contentCategoryId": {
          "type": "string",
          "description": "ID of the content category assigned to this placement.",
          "format": "int64"
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement. This field is required on insertion, specifically subfields startDate, endDate and pricingType.",
          "$ref": "PricingSchedule"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "comment": {
          "type": "string",
          "description": "Comments for this placement."
        },
        "name": {
          "type": "string",
          "description": "Name of this placement.This is a required field and must be less than or equal to 256 characters long."
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement. This field can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "paymentSource": {
          "description": "Payment source for this placement. This is a required field that is read-only after insertion.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_AGENCY_PAID",
            "PLACEMENT_PUBLISHER_PAID"
          ]
        },
        "sslRequired": {
          "description": "Whether creatives assigned to this placement must be SSL-compliant.",
          "type": "boolean"
        },
        "externalId": {
          "type": "string",
          "description": "External ID for this placement."
        },
        "status": {
          "enum": [
            "PENDING_REVIEW",
            "PAYMENT_ACCEPTED",
            "PAYMENT_REJECTED",
            "ACKNOWLEDGE_REJECTION",
            "ACKNOWLEDGE_ACCEPTANCE",
            "DRAFT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Third-party placement status."
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this placement. When inserting or updating a placement, only the size ID field is used. This field is required on insertion."
        },
        "primary": {
          "type": "boolean",
          "description": "Whether this placement is the primary placement of a roadblock (placement group). You cannot change this field from true to false. Setting this field to true will automatically set the primary field on the original primary placement of the roadblock to false, and it will automatically set the roadblock's primaryPlacementId field to the ID of this placement."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "vpaidAdapterChoice": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "VPAID adapter setting for this placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to this placement. *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ]
        },
        "id": {
          "description": "ID of this placement. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "lookbackConfiguration": {
          "description": "Lookback window settings for this placement.",
          "$ref": "LookbackConfiguration"
        },
        "additionalSizes": {
          "type": "array",
          "description": "Additional sizes associated with this placement. When inserting or updating a placement, only the size ID field is used.",
          "items": {
            "$ref": "Size"
          }
        },
        "adBlockingOptOut": {
          "type": "boolean",
          "description": "Whether this placement opts out of ad blocking. When true, ad blocking is disabled for this placement. When false, the campaign and site settings take effect."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement. This field can be left blank.",
          "format": "int64"
        },
        "archived": {
          "description": "Whether this placement is archived.",
          "type": "boolean"
        },
        "paymentApproved": {
          "type": "boolean",
          "description": "Whether payment was approved for this placement. This is a read-only field relevant only to publisher-paid placements."
        },
        "placementGroupIdDimensionValue": {
          "description": "Dimension value for the ID of the placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "subaccountId": {
          "description": "Subaccount ID of this placement. This field can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "keyName": {
          "type": "string",
          "description": "Key name of this placement. This is a read-only, auto-generated field."
        },
        "siteId": {
          "format": "int64",
          "type": "string",
          "description": "Site ID associated with this placement. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement. This is a required field that is read-only after insertion."
        },
        "tagFormats": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLACEMENT_TAG_STANDARD",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_IFRAME_ILAYER",
              "PLACEMENT_TAG_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
              "PLACEMENT_TAG_CLICK_COMMANDS",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
              "PLACEMENT_TAG_TRACKING",
              "PLACEMENT_TAG_TRACKING_IFRAME",
              "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4"
            ]
          },
          "description": "Tag formats to generate for this placement. This field is required on insertion. Acceptable values are: - \"PLACEMENT_TAG_STANDARD\" - \"PLACEMENT_TAG_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_IFRAME_ILAYER\" - \"PLACEMENT_TAG_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT\" - \"PLACEMENT_TAG_CLICK_COMMANDS\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4\" - \"PLACEMENT_TAG_TRACKING\" - \"PLACEMENT_TAG_TRACKING_IFRAME\" - \"PLACEMENT_TAG_TRACKING_JAVASCRIPT\" "
        },
        "directorySiteId": {
          "description": "Directory site ID of this placement. On insert, you must set either this field or the siteId field to specify the site associated with this placement. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placement\".",
          "type": "string"
        }
      },
      "id": "Placement",
      "type": "object"
    },
    "TargetWindow": {
      "type": "object",
      "description": "Target Window.",
      "id": "TargetWindow",
      "properties": {
        "customHtml": {
          "type": "string",
          "description": "User-entered value."
        },
        "targetWindowOption": {
          "type": "string",
          "enum": [
            "NEW_WINDOW",
            "CURRENT_WINDOW",
            "CUSTOM"
          ],
          "description": "Type of browser window for which the backup image of the flash creative can be displayed.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "MetrosListResponse": {
      "description": "Metro List Response",
      "id": "MetrosListResponse",
      "type": "object",
      "properties": {
        "metros": {
          "description": "Metro collection.",
          "items": {
            "$ref": "Metro"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\".",
          "type": "string"
        }
      }
    },
    "AdvertisersListResponse": {
      "id": "AdvertisersListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertisersListResponse\"."
        },
        "advertisers": {
          "items": {
            "$ref": "Advertiser"
          },
          "description": "Advertiser collection.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "description": "Advertiser List Response"
    },
    "Report": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#report.",
          "type": "string"
        },
        "lastModifiedTime": {
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          },
          "format": "uint64",
          "type": "string",
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified."
        },
        "floodlightCriteria": {
          "description": "The report criteria for a report of type \"FLOODLIGHT\".",
          "properties": {
            "floodlightConfigId": {
              "$ref": "DimensionValue",
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
            },
            "metricNames": {
              "type": "array",
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            },
            "customRichMediaEvents": {
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array",
              "description": "The list of custom rich media events to include."
            },
            "dimensionFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "reportProperties": {
              "properties": {
                "includeUnattributedCookieConversions": {
                  "type": "boolean",
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
                },
                "includeUnattributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
                },
                "includeAttributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no cookie, but do have an exposure path."
                }
              },
              "description": "The properties of the report.",
              "type": "object"
            },
            "dimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array",
              "description": "The list of dimensions the report should include."
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            }
          },
          "type": "object"
        },
        "reachCriteria": {
          "properties": {
            "enableAllDimensionCombinations": {
              "description": "Whether to enable all reach dimension combinations in the report. Defaults to false. If enabled, the date range of the report should be within the last 42 days.",
              "type": "boolean"
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "reachByFrequencyMetricNames": {
              "type": "array",
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "items": {
                "type": "string"
              }
            },
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "customRichMediaEvents": {
              "$ref": "CustomRichMediaEvents",
              "description": "Custom Rich Media Events group."
            }
          },
          "type": "object",
          "description": "The report criteria for a report of type \"REACH\"."
        },
        "format": {
          "type": "string",
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "pathToConversionCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "properties": {
            "customFloodlightVariables": {
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array",
              "description": "The list of custom floodlight variables the report should include."
            },
            "customRichMediaEvents": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include.",
              "type": "array"
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range this report should be run for."
            },
            "metricNames": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The list of names of metrics the report should include."
            },
            "floodlightConfigId": {
              "$ref": "DimensionValue",
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
            },
            "reportProperties": {
              "description": "The properties of the report.",
              "type": "object",
              "properties": {
                "clicksLookbackWindow": {
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "maximumClickInteractions": {
                  "type": "integer",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32"
                },
                "includeAttributedIPConversions": {
                  "type": "boolean",
                  "description": "Deprecated: has no effect."
                },
                "includeUnattributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
                },
                "maximumInteractionGap": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90."
                },
                "impressionsLookbackWindow": {
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "pivotOnInteractionPath": {
                  "type": "boolean",
                  "description": "Enable pivoting on interaction path."
                },
                "maximumImpressionInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "type": "integer",
                  "format": "int32"
                },
                "includeUnattributedCookieConversions": {
                  "type": "boolean",
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
                }
              }
            },
            "perInteractionDimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of per interaction dimensions the report should include."
            },
            "conversionDimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of conversion dimensions the report should include.",
              "type": "array"
            },
            "activityFilters": {
              "description": "The list of 'dfa:activity' values to filter on.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            }
          }
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "type": {
          "annotations": {
            "required": [
              "dfareporting.reports.insert",
              "dfareporting.reports.update"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The type of the report.",
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "CROSS_DIMENSION_REACH",
            "FLOODLIGHT"
          ]
        },
        "ownerProfileId": {
          "format": "int64",
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          },
          "description": "The user profile id of the owner of this report.",
          "type": "string"
        },
        "criteria": {
          "description": "The report criteria for a report of type \"STANDARD\".",
          "properties": {
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array"
            },
            "dimensions": {
              "type": "array",
              "description": "The list of standard dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "dateRange": {
              "description": "The date range for which this report should be run.",
              "$ref": "DateRange"
            },
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            },
            "metricNames": {
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include.",
              "type": "array"
            }
          },
          "type": "object"
        },
        "schedule": {
          "properties": {
            "repeats": {
              "type": "string",
              "annotations": {
                "required": [
                  "dfareporting.reports.insert",
                  "dfareporting.reports.update"
                ]
              },
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. "
            },
            "active": {
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "annotations": {
                "required": [
                  "dfareporting.reports.insert",
                  "dfareporting.reports.update"
                ]
              },
              "type": "boolean"
            },
            "runsOnDayOfMonth": {
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "type": "string"
            },
            "repeatsOnWeekDays": {
              "type": "array",
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "items": {
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ],
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ],
                "type": "string"
              }
            },
            "startDate": {
              "type": "string",
              "format": "date"
            },
            "every": {
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "format": "int32",
              "type": "integer"
            },
            "expirationDate": {
              "format": "date",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\"."
        },
        "subAccountId": {
          "format": "int64",
          "description": "The subaccount ID to which this report belongs if applicable.",
          "type": "string"
        },
        "delivery": {
          "properties": {
            "recipients": {
              "items": {
                "$ref": "Recipient"
              },
              "type": "array",
              "description": "The list of recipients to which to email the report."
            },
            "message": {
              "type": "string",
              "description": "The message to be sent with each email."
            },
            "emailOwnerDeliveryType": {
              "enum": [
                "LINK",
                "ATTACHMENT"
              ],
              "description": "The type of delivery for the owner to receive, if enabled.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "emailOwner": {
              "type": "boolean",
              "description": "Whether the report should be emailed to the report owner."
            }
          },
          "description": "The report's email delivery settings.",
          "type": "object"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "The account ID to which this report belongs.",
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          }
        },
        "name": {
          "annotations": {
            "required": [
              "dfareporting.reports.insert",
              "dfareporting.reports.update"
            ]
          },
          "type": "string",
          "description": "The name of the report."
        },
        "crossDimensionReachCriteria": {
          "description": "The report criteria for a report of type \"CROSS_DIMENSION_REACH\".",
          "type": "object",
          "properties": {
            "dimension": {
              "enum": [
                "ADVERTISER",
                "CAMPAIGN",
                "SITE_BY_ADVERTISER",
                "SITE_BY_CAMPAIGN"
              ],
              "description": "The dimension option.",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "type": "string"
            },
            "metricNames": {
              "type": "array",
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            },
            "dimensionFilters": {
              "type": "array",
              "description": "The list of filters on which dimensions are filtered.",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "breakdown": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of dimensions the report should include."
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "pivoted": {
              "type": "boolean",
              "description": "Whether the report is pivoted or not. Defaults to true."
            },
            "overlapMetricNames": {
              "description": "The list of names of overlap metrics the report should include.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        },
        "fileName": {
          "type": "string",
          "description": "The filename used when generating report files for this report."
        },
        "id": {
          "type": "string",
          "description": "The unique ID identifying this report resource.",
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          },
          "format": "int64"
        }
      },
      "description": "Represents a Report resource.",
      "id": "Report"
    },
    "PlacementTag": {
      "description": "Placement Tag",
      "id": "PlacementTag",
      "type": "object",
      "properties": {
        "placementId": {
          "format": "int64",
          "type": "string",
          "description": "Placement ID"
        },
        "tagDatas": {
          "items": {
            "$ref": "TagData"
          },
          "description": "Tags generated for this placement.",
          "type": "array"
        }
      }
    },
    "FloodlightActivityGroup": {
      "id": "FloodlightActivityGroup",
      "properties": {
        "accountId": {
          "format": "int64",
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank."
        },
        "name": {
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\"."
        },
        "type": {
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser."
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "tagString": {
          "type": "string",
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion."
        },
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains properties of a Floodlight activity group."
    },
    "CreativeAssetMetadata": {
      "type": "object",
      "properties": {
        "clickTags": {
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset.",
          "items": {
            "$ref": "ClickTag"
          },
          "type": "array"
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\"."
        },
        "assetIdentifier": {
          "description": "ID of the creative asset. This is a required field.",
          "$ref": "CreativeAssetId"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field."
        },
        "warnedValidationRules": {
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" ",
          "items": {
            "type": "string",
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field.",
          "format": "int64"
        }
      },
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.",
      "id": "CreativeAssetMetadata"
    },
    "CreativeFieldValue": {
      "type": "object",
      "description": "Contains properties of a creative field value.",
      "id": "CreativeFieldValue",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this creative field value. This is a read-only, auto-generated field."
        },
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\".",
          "type": "string"
        }
      }
    },
    "SizesListResponse": {
      "properties": {
        "sizes": {
          "type": "array",
          "items": {
            "$ref": "Size"
          },
          "description": "Size collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Size List Response",
      "id": "SizesListResponse"
    },
    "Flight": {
      "id": "Flight",
      "type": "object",
      "description": "Flight",
      "properties": {
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "units": {
          "type": "string",
          "description": "Units of this flight.",
          "format": "int64"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "rateOrCost": {
          "format": "int64",
          "description": "Rate or cost of this flight.",
          "type": "string"
        }
      }
    },
    "BrowsersListResponse": {
      "properties": {
        "browsers": {
          "description": "Browser collection.",
          "type": "array",
          "items": {
            "$ref": "Browser"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\".",
          "type": "string"
        }
      },
      "id": "BrowsersListResponse",
      "description": "Browser List Response",
      "type": "object"
    },
    "Ad": {
      "type": "object",
      "description": "Contains properties of a Campaign Manager ad.",
      "id": "Ad",
      "properties": {
        "defaultClickThroughEventTagProperties": {
          "$ref": "DefaultClickThroughEventTagProperties",
          "description": "Default click-through event tag properties for this ad."
        },
        "keyValueTargetingExpression": {
          "$ref": "KeyValueTargetingExpression",
          "description": "Key-value targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this ad. This is a read-only, auto-generated field."
        },
        "languageTargeting": {
          "$ref": "LanguageTargeting",
          "description": "Language targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "eventTagOverrides": {
          "items": {
            "$ref": "EventTagOverride"
          },
          "description": "Event tag overrides for this ad.",
          "type": "array"
        },
        "comments": {
          "type": "string",
          "description": "Comments for this ad."
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "name": {
          "description": "Name of this ad. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "dynamicClickTracker": {
          "type": "boolean",
          "description": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ad\"."
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix properties for this ad. Applies to the URL in the ad or (if overriding ad properties) the URL in the creative.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "creativeGroupAssignments": {
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "type": "array",
          "description": "Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments."
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "sslRequired": {
          "type": "boolean",
          "description": "Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "compatibility": {
          "description": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard.",
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this ad. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "size": {
          "$ref": "Size",
          "description": "Size of this ad. Applicable when type is AD_SERVING_DEFAULT_AD."
        },
        "deliverySchedule": {
          "description": "Delivery schedule information for this ad. Applicable when type is AD_SERVING_STANDARD_AD or AD_SERVING_TRACKING. This field along with subfields priority and impressionRatio are required on insertion when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DeliverySchedule"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the most recent modification of this ad. This is a read-only field."
        },
        "clickThroughUrl": {
          "description": "Click-through URL for this ad. This is a required field on insertion. Applicable when type is AD_SERVING_CLICK_TRACKER.",
          "$ref": "ClickThroughUrl"
        },
        "creativeRotation": {
          "$ref": "CreativeRotation",
          "description": "Creative rotation for this ad. Applicable when type is AD_SERVING_DEFAULT_AD, AD_SERVING_STANDARD_AD, or AD_SERVING_TRACKING. When type is AD_SERVING_DEFAULT_AD, this field should have exactly one creativeAssignment ."
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "targetingTemplateId": {
          "format": "int64",
          "description": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD.",
          "type": "string"
        },
        "dayPartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Time and day targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "createInfo": {
          "description": "Information about the creation of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "campaignId": {
          "description": "Campaign ID of this ad. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this ad. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "placementAssignments": {
          "type": "array",
          "description": "Placement assignments for this ad.",
          "items": {
            "$ref": "PlacementAssignment"
          }
        },
        "type": {
          "enum": [
            "AD_SERVING_STANDARD_AD",
            "AD_SERVING_DEFAULT_AD",
            "AD_SERVING_CLICK_TRACKER",
            "AD_SERVING_TRACKING",
            "AD_SERVING_BRAND_SAFE_AD"
          ],
          "type": "string",
          "description": "Type of ad. This is a required field on insertion. Note that default ads ( AD_SERVING_DEFAULT_AD) cannot be created directly (see Creative resource).",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this ad. This is a read-only, auto-generated field."
        },
        "archived": {
          "type": "boolean",
          "description": "Whether this ad is archived. When true, active must be false."
        },
        "remarketingListExpression": {
          "description": "Remarketing list targeting expression for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "ListTargetingExpression"
        },
        "geoTargeting": {
          "description": "Geographical targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "GeoTargeting"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "audienceSegmentId": {
          "description": "Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD.",
          "format": "int64",
          "type": "string"
        },
        "technologyTargeting": {
          "description": "Technology platform targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "TechnologyTargeting"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this ad is active. When true, archived must be false."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this ad. This is a required field on insertion."
        }
      }
    },
    "FloodlightActivityDynamicTag": {
      "id": "FloodlightActivityDynamicTag",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "tag": {
          "description": "Tag code.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this tag."
        }
      },
      "description": "Dynamic Tag"
    },
    "CreativeClickThroughUrl": {
      "type": "object",
      "id": "CreativeClickThroughUrl",
      "description": "Click-through URL",
      "properties": {
        "landingPageId": {
          "format": "int64",
          "description": "ID of the landing page for the click-through URL.",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If landingPageId is specified then that landing page's URL is assigned to this field. - Otherwise, the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "customClickThroughUrl": {
          "type": "string",
          "description": "Custom click-through URL. Applicable if the landingPageId field is left unset."
        }
      }
    },
    "ChangeLogsListResponse": {
      "id": "ChangeLogsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "changeLogs": {
          "type": "array",
          "items": {
            "$ref": "ChangeLog"
          },
          "description": "Change log collection."
        }
      },
      "type": "object",
      "description": "Change Log List Response"
    },
    "VideoFormatsListResponse": {
      "id": "VideoFormatsListResponse",
      "properties": {
        "videoFormats": {
          "type": "array",
          "items": {
            "$ref": "VideoFormat"
          },
          "description": "Video format collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormatsListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video Format List Response"
    },
    "DimensionFilter": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimensionFilter."
        },
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension to filter."
        },
        "value": {
          "description": "The value of the dimension to filter.",
          "type": "string"
        }
      },
      "description": "Represents a dimension filter.",
      "id": "DimensionFilter",
      "type": "object"
    },
    "CompanionClickThroughOverride": {
      "type": "object",
      "properties": {
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of this companion click-through override."
        },
        "creativeId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the creative for this companion click-through override."
        }
      },
      "description": "Companion Click-through override.",
      "id": "CompanionClickThroughOverride"
    },
    "FloodlightActivitiesGenerateTagResponse": {
      "id": "FloodlightActivitiesGenerateTagResponse",
      "properties": {
        "floodlightActivityTag": {
          "type": "string",
          "description": "Generated tag for this Floodlight activity. For global site tags, this is the event snippet."
        },
        "globalSiteTagGlobalSnippet": {
          "description": "The global snippet section of a global site tag. The global site tag sets new cookies on your domain, which will store a unique identifier for a user or the ad click that brought the user to your site. Learn more.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesGenerateTagResponse\"."
        }
      },
      "type": "object",
      "description": "Floodlight Activity GenerateTag Response"
    },
    "CreativeAssetSelection": {
      "type": "object",
      "properties": {
        "defaultAssetId": {
          "format": "int64",
          "description": "A creativeAssets[].id. This should refer to one of the parent assets in this creative, and will be served if none of the rules match. This is a required field.",
          "type": "string"
        },
        "rules": {
          "description": "Rules determine which asset will be served to a viewer. Rules will be evaluated in the order in which they are stored in this list. This list must contain at least one rule. Applicable to INSTREAM_VIDEO creatives.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        }
      },
      "id": "CreativeAssetSelection",
      "description": "Encapsulates the list of rules for asset selection and a default asset in case none of the rules match. Applicable to INSTREAM_VIDEO creatives."
    },
    "ThirdPartyAuthenticationToken": {
      "id": "ThirdPartyAuthenticationToken",
      "description": "Third Party Authentication Token",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the third-party authentication token."
        }
      }
    },
    "VideoFormat": {
      "type": "object",
      "id": "VideoFormat",
      "properties": {
        "targetBitRate": {
          "type": "integer",
          "description": "The target bit rate of this video format.",
          "format": "int32"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        },
        "resolution": {
          "$ref": "Size",
          "description": "The resolution of this video format."
        },
        "id": {
          "type": "integer",
          "description": "ID of the video format.",
          "format": "int32"
        },
        "fileType": {
          "type": "string",
          "description": "File type of the video format.",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Contains information about supported video formats."
    },
    "OperatingSystemsListResponse": {
      "description": "Operating System List Response",
      "properties": {
        "operatingSystems": {
          "items": {
            "$ref": "OperatingSystem"
          },
          "description": "Operating system collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        }
      },
      "id": "OperatingSystemsListResponse",
      "type": "object"
    },
    "CreativeAssignment": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "creativeId": {
          "description": "ID of the creative to be assigned. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of the creative assignment.",
          "$ref": "ClickThroughUrl"
        },
        "weight": {
          "format": "int32",
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1.",
          "type": "integer"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation."
        },
        "applyEventTags": {
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "sequence": {
          "type": "integer",
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive.",
          "format": "int32"
        },
        "companionCreativeOverrides": {
          "items": {
            "$ref": "CompanionClickThroughOverride"
          },
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads.",
          "type": "array"
        },
        "creativeIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field."
        },
        "richMediaExitOverrides": {
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR ",
          "items": {
            "$ref": "RichMediaExitOverride"
          },
          "type": "array"
        },
        "creativeGroupAssignments": {
          "type": "array",
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments."
        }
      },
      "id": "CreativeAssignment",
      "type": "object",
      "description": "Creative Assignment."
    },
    "FrequencyCap": {
      "id": "FrequencyCap",
      "type": "object",
      "properties": {
        "duration": {
          "format": "int64",
          "type": "string",
          "description": "Duration of time, in seconds, for this frequency cap. The maximum duration is 90 days. Acceptable values are 1 to 7776000, inclusive."
        },
        "impressions": {
          "description": "Number of times an individual user can be served the ad within the specified duration. Acceptable values are 1 to 15, inclusive.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Frequency Cap."
    },
    "FloodlightConfigurationsListResponse": {
      "description": "Floodlight Configuration List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "items": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Floodlight configuration collection.",
          "type": "array"
        }
      },
      "id": "FloodlightConfigurationsListResponse",
      "type": "object"
    },
    "OmnitureSettings": {
      "properties": {
        "omnitureIntegrationEnabled": {
          "type": "boolean",
          "description": "Whether Omniture integration is enabled. This property can be enabled only when the \"Advanced Ad Serving\" account setting is enabled."
        },
        "omnitureCostDataEnabled": {
          "type": "boolean",
          "description": "Whether placement cost data will be sent to Omniture. This property can be enabled only if omnitureIntegrationEnabled is true."
        }
      },
      "description": "Omniture Integration Settings.",
      "id": "OmnitureSettings",
      "type": "object"
    },
    "ListTargetingExpression": {
      "id": "ListTargetingExpression",
      "description": "Remarketing List Targeting Expression.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Expression describing which lists are being targeted by the ad.",
          "type": "string"
        }
      }
    },
    "InventoryItemsListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#inventoryItemsListResponse\".",
          "type": "string"
        },
        "inventoryItems": {
          "type": "array",
          "items": {
            "$ref": "InventoryItem"
          },
          "description": "Inventory item collection"
        }
      },
      "id": "InventoryItemsListResponse",
      "type": "object",
      "description": "Inventory item List Response"
    },
    "TargetableRemarketingListsListResponse": {
      "description": "Targetable remarketing list response",
      "id": "TargetableRemarketingListsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\"."
        },
        "targetableRemarketingLists": {
          "items": {
            "$ref": "TargetableRemarketingList"
          },
          "type": "array",
          "description": "Targetable remarketing list collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      }
    },
    "AccountPermissionGroupsListResponse": {
      "id": "AccountPermissionGroupsListResponse",
      "type": "object",
      "description": "Account Permission Group List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupsListResponse\".",
          "type": "string"
        },
        "accountPermissionGroups": {
          "type": "array",
          "items": {
            "$ref": "AccountPermissionGroup"
          },
          "description": "Account permission group collection."
        }
      }
    },
    "PlacementStrategy": {
      "id": "PlacementStrategy",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field."
        },
        "name": {
          "type": "string",
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains properties of a placement strategy."
    },
    "OperatingSystemVersionsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\".",
          "type": "string"
        },
        "operatingSystemVersions": {
          "type": "array",
          "items": {
            "$ref": "OperatingSystemVersion"
          },
          "description": "Operating system version collection."
        }
      },
      "type": "object",
      "description": "Operating System Version List Response",
      "id": "OperatingSystemVersionsListResponse"
    },
    "DynamicTargetingKeysListResponse": {
      "properties": {
        "dynamicTargetingKeys": {
          "type": "array",
          "description": "Dynamic targeting key collection.",
          "items": {
            "$ref": "DynamicTargetingKey"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKeysListResponse\"."
        }
      },
      "type": "object",
      "description": "Dynamic Targeting Key List Response",
      "id": "DynamicTargetingKeysListResponse"
    },
    "PopupWindowProperties": {
      "id": "PopupWindowProperties",
      "properties": {
        "dimension": {
          "$ref": "Size",
          "description": "Popup dimension for a creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID"
        },
        "showMenuBar": {
          "description": "Whether to display the browser menu bar.",
          "type": "boolean"
        },
        "showToolBar": {
          "type": "boolean",
          "description": "Whether to display the browser tool bar."
        },
        "offset": {
          "$ref": "OffsetPosition",
          "description": "Upper-left corner coordinates of the popup window. Applicable if positionType is COORDINATES."
        },
        "showStatusBar": {
          "description": "Whether to display the browser status bar.",
          "type": "boolean"
        },
        "positionType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CENTER",
            "COORDINATES"
          ],
          "description": "Popup window position either centered or at specific coordinate."
        },
        "title": {
          "type": "string",
          "description": "Title of popup window."
        },
        "showScrollBar": {
          "description": "Whether to display the browser scroll bar.",
          "type": "boolean"
        },
        "showAddressBar": {
          "type": "boolean",
          "description": "Whether to display the browser address bar."
        }
      },
      "type": "object",
      "description": "Popup Window Properties."
    },
    "AccountPermission": {
      "properties": {
        "level": {
          "description": "Administrative level required to enable this account permission.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\"."
        },
        "name": {
          "description": "Name of this account permission.",
          "type": "string"
        },
        "permissionGroupId": {
          "format": "int64",
          "type": "string",
          "description": "Permission group of this account permission."
        },
        "id": {
          "description": "ID of this account permission.",
          "type": "string",
          "format": "int64"
        },
        "accountProfiles": {
          "type": "array",
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" ",
          "items": {
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              ""
            ]
          }
        }
      },
      "type": "object",
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account.",
      "id": "AccountPermission"
    },
    "CustomFloodlightVariable": {
      "type": "object",
      "description": "A custom floodlight variable.",
      "id": "CustomFloodlightVariable",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the custom floodlight variable. The length of string must not exceed 100 characters."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customFloodlightVariable\"."
        },
        "type": {
          "description": "The type of custom floodlight variable to supply a value for. These map to the \"u[1-20]=\" in the tags.",
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
[...]
