{
  "revision": "20201102",
  "name": "dfareporting",
  "batchPath": "batch",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version": "v3.4",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "ownerDomain": "google.com",
  "description": "Manage your DoubleClick Campaign Manager ad campaigns and reports.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v3.4/",
  "canonicalName": "Dfareporting",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "ownerName": "Google",
  "schemas": {
    "Dimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The dimension name, e.g. dfa:advertiser"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimension."
        }
      },
      "id": "Dimension",
      "description": "Represents a dimension.",
      "type": "object"
    },
    "TargetingTemplatesListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplatesListResponse\".",
          "type": "string"
        },
        "targetingTemplates": {
          "description": "Targeting template collection.",
          "items": {
            "$ref": "TargetingTemplate"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "description": "Targeting Template List Response",
      "id": "TargetingTemplatesListResponse"
    },
    "SiteSettings": {
      "id": "SiteSettings",
      "properties": {
        "adBlockingOptOut": {
          "type": "boolean",
          "description": "Whether this site opts out of ad blocking. When true, ad blocking is disabled for all placements under the site, regardless of the individual placement settings. When false, the campaign and placement settings take effect."
        },
        "videoActiveViewOptOutTemplate": {
          "type": "boolean",
          "description": "Whether Verification and ActiveView for in-stream video creatives are disabled by default for new placements created under this site. This value will be used to populate the placement.videoActiveViewOptOut field, when no value is specified for the new placement."
        },
        "tagSetting": {
          "$ref": "TagSetting",
          "description": "Configuration settings for dynamic and image floodlight tags."
        },
        "disableNewCookie": {
          "type": "boolean",
          "description": "Whether new cookies are disabled for this site."
        },
        "vpaidAdapterChoiceTemplate": {
          "description": "Default VPAID adapter setting for new placements created under this site. This value will be used to populate the placements.vpaidAdapterChoice field, when no value is specified for the new placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to the placement. The publisher's specifications will typically determine this setting. For VPAID creatives, the adapter format will match the VPAID format (HTML5 VPAID creatives use the HTML5 adapter). *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "activeViewOptOut": {
          "type": "boolean",
          "description": "Whether active view creatives are disabled for this site."
        }
      },
      "type": "object",
      "description": "Site Settings"
    },
    "SubaccountsListResponse": {
      "id": "SubaccountsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        },
        "subaccounts": {
          "description": "Subaccount collection.",
          "items": {
            "$ref": "Subaccount"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "description": "Subaccount List Response",
      "type": "object"
    },
    "TagSetting": {
      "id": "TagSetting",
      "properties": {
        "keywordOption": {
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ],
          "type": "string"
        },
        "additionalKeyValues": {
          "type": "string",
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field."
        },
        "includeClickThroughUrls": {
          "type": "boolean",
          "description": "Whether static landing page URLs should be included in the tags. This setting applies only to placements."
        },
        "includeClickTracking": {
          "type": "boolean",
          "description": "Whether click-tracking string should be included in the tags."
        }
      },
      "description": "Tag Settings",
      "type": "object"
    },
    "TagData": {
      "properties": {
        "clickTag": {
          "type": "string",
          "description": "Tag string to record a click."
        },
        "creativeId": {
          "format": "int64",
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "TagData tag format of this tag.",
          "type": "string",
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4"
          ]
        },
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        },
        "adId": {
          "type": "string",
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Placement Tag Data",
      "id": "TagData"
    },
    "AdvertisersListResponse": {
      "id": "AdvertisersListResponse",
      "type": "object",
      "description": "Advertiser List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "advertisers": {
          "items": {
            "$ref": "Advertiser"
          },
          "description": "Advertiser collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertisersListResponse\".",
          "type": "string"
        }
      }
    },
    "ConversionsBatchInsertResponse": {
      "description": "Insert Conversions Response.",
      "properties": {
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to insert.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\".",
          "type": "string"
        },
        "status": {
          "type": "array",
          "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted.",
          "items": {
            "$ref": "ConversionStatus"
          }
        }
      },
      "type": "object",
      "id": "ConversionsBatchInsertResponse"
    },
    "DirectorySite": {
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "properties": {
        "settings": {
          "description": "Directory site settings.",
          "$ref": "DirectorySiteSettings"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
          "type": "string"
        },
        "interstitialTagFormats": {
          "items": {
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" "
        },
        "id": {
          "format": "int64",
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "url": {
          "description": "URL of this directory site.",
          "type": "string"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field."
        },
        "name": {
          "type": "string",
          "description": "Name of this directory site."
        },
        "inpageTagFormats": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ]
          },
          "type": "array",
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" "
        }
      },
      "type": "object",
      "id": "DirectorySite"
    },
    "ClickThroughUrl": {
      "description": "Click-through URL",
      "id": "ClickThroughUrl",
      "properties": {
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        },
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset.",
          "type": "string"
        },
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "EventTagsListResponse": {
      "id": "EventTagsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\".",
          "type": "string"
        },
        "eventTags": {
          "description": "Event tag collection.",
          "type": "array",
          "items": {
            "$ref": "EventTag"
          }
        }
      },
      "type": "object",
      "description": "Event Tag List Response"
    },
    "ListPopulationRule": {
      "id": "ListPopulationRule",
      "type": "object",
      "properties": {
        "listPopulationClauses": {
          "description": "Clauses that make up this list population rule. Clauses are joined by ANDs, and the clauses themselves are made up of list population terms which are joined by ORs.",
          "items": {
            "$ref": "ListPopulationClause"
          },
          "type": "array"
        },
        "floodlightActivityName": {
          "type": "string",
          "description": "Name of floodlight activity associated with this rule. This is a read-only, auto-generated field."
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this rule. This field can be left blank.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Remarketing List Population Rule."
    },
    "CustomEventsBatchInsertRequest": {
      "description": "Insert Custom Events Request.",
      "id": "CustomEventsBatchInsertRequest",
      "properties": {
        "customEvents": {
          "description": "The set of custom events to insert.",
          "type": "array",
          "items": {
            "$ref": "CustomEvent"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customEventsBatchInsertRequest\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlacementStrategy": {
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank."
        }
      },
      "id": "PlacementStrategy",
      "description": "Contains properties of a placement strategy.",
      "type": "object"
    },
    "AdvertiserLandingPagesListResponse": {
      "id": "AdvertiserLandingPagesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserLandingPagesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "landingPages": {
          "description": "Landing page collection",
          "items": {
            "$ref": "LandingPage"
          },
          "type": "array"
        }
      },
      "description": "Landing Page List Response",
      "type": "object"
    },
    "ContentCategoriesListResponse": {
      "id": "ContentCategoriesListResponse",
      "description": "Content Category List Response",
      "properties": {
        "contentCategories": {
          "description": "Content category collection.",
          "type": "array",
          "items": {
            "$ref": "ContentCategory"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategoriesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "type": "object"
    },
    "TranscodeSetting": {
      "type": "object",
      "properties": {
        "enabledVideoFormats": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Allowlist of video formats to be served to this placement. Set this list to null or empty to serve all video formats."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#transcodeSetting\".",
          "type": "string"
        }
      },
      "description": "Transcode Settings",
      "id": "TranscodeSetting"
    },
    "OrderDocument": {
      "type": "object",
      "properties": {
        "signed": {
          "description": "Whether this order document has been signed.",
          "type": "boolean"
        },
        "type": {
          "description": "Type of this order document",
          "type": "string",
          "enum": [
            "PLANNING_ORDER_TYPE_INSERTION_ORDER",
            "PLANNING_ORDER_TYPE_CHANGE_ORDER"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "orderId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the order from which this order document is created."
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Advertiser ID of this order document."
        },
        "createdInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this order document."
        },
        "cancelled": {
          "type": "boolean",
          "description": "Whether this order document is cancelled."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this order document.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this order document.",
          "format": "int64"
        },
        "approvedByUserProfileIds": {
          "description": "IDs of users who have approved this order document.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of this order document.",
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "description": "ID of this order document.",
          "type": "string"
        },
        "lastSentTime": {
          "format": "date-time",
          "type": "string"
        },
        "effectiveDate": {
          "format": "date",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of this order document."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#orderDocument\"."
        },
        "lastSentRecipients": {
          "items": {
            "type": "string"
          },
          "description": "List of email addresses that received the last sent document.",
          "type": "array"
        },
        "amendedOrderDocumentId": {
          "description": "The amended order document ID of this order document. An order document can be created by optionally amending another order document so that the change history can be preserved.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "OrderDocument",
      "description": "Contains properties of a Planning order document."
    },
    "OrdersListResponse": {
      "description": "Order List Response",
      "type": "object",
      "properties": {
        "orders": {
          "description": "Order collection.",
          "items": {
            "$ref": "Order"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ordersListResponse\"."
        }
      },
      "id": "OrdersListResponse"
    },
    "PlacementGroupsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\".",
          "type": "string"
        },
        "placementGroups": {
          "type": "array",
          "items": {
            "$ref": "PlacementGroup"
          },
          "description": "Placement group collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "type": "object",
      "id": "PlacementGroupsListResponse",
      "description": "Placement Group List Response"
    },
    "DirectorySiteSettings": {
      "id": "DirectorySiteSettings",
      "description": "Directory Site Settings",
      "properties": {
        "instreamVideoPlacementAccepted": {
          "description": "Whether this site accepts in-stream video ads.",
          "type": "boolean"
        },
        "dfpSettings": {
          "description": "Directory site Ad Manager settings.",
          "$ref": "DfpSettings"
        },
        "interstitialPlacementAccepted": {
          "description": "Whether this site accepts interstitial ads.",
          "type": "boolean"
        },
        "activeViewOptOut": {
          "type": "boolean",
          "description": "Whether this directory site has disabled active view creatives."
        }
      },
      "type": "object"
    },
    "UserRole": {
      "id": "UserRole",
      "description": "Contains properties of auser role, which is used to manage user access.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "List of permissions associated with this user role.",
          "type": "array"
        },
        "defaultUserRole": {
          "type": "boolean",
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank."
        },
        "parentUserRoleId": {
          "format": "int64",
          "description": "ID of the user role that this user role is based on or copied from. This is a required field.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "format": "int64"
        }
      }
    },
    "CustomEventClickAnnotation": {
      "properties": {
        "gclid": {
          "description": "The Google click ID. Use this field to annotate the click associated with the gclid.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customEventClickAnnotation\"."
        }
      },
      "id": "CustomEventClickAnnotation",
      "description": "Annotate a click event.",
      "type": "object"
    },
    "CountriesListResponse": {
      "properties": {
        "countries": {
          "items": {
            "$ref": "Country"
          },
          "description": "Country collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\".",
          "type": "string"
        }
      },
      "description": "Country List Response",
      "type": "object",
      "id": "CountriesListResponse"
    },
    "Size": {
      "type": "object",
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets.",
      "id": "Size",
      "properties": {
        "iab": {
          "type": "boolean",
          "description": "IAB standard size. This is a read-only, auto-generated field."
        },
        "id": {
          "description": "ID of this size. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        },
        "height": {
          "format": "int32",
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer"
        },
        "width": {
          "format": "int32",
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer"
        }
      }
    },
    "TagSettings": {
      "description": "Dynamic and Image Tag Settings.",
      "properties": {
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        },
        "imageTagEnabled": {
          "type": "boolean",
          "description": "Whether image tags are enabled."
        }
      },
      "id": "TagSettings",
      "type": "object"
    },
    "PostalCodesListResponse": {
      "properties": {
        "postalCodes": {
          "description": "Postal code collection.",
          "type": "array",
          "items": {
            "$ref": "PostalCode"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\".",
          "type": "string"
        }
      },
      "id": "PostalCodesListResponse",
      "type": "object",
      "description": "Postal Code List Response"
    },
    "CampaignsListResponse": {
      "description": "Campaign List Response",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\"."
        },
        "campaigns": {
          "items": {
            "$ref": "Campaign"
          },
          "type": "array",
          "description": "Campaign collection."
        }
      },
      "id": "CampaignsListResponse",
      "type": "object"
    },
    "UserRolePermissionGroup": {
      "description": "Represents a grouping of related user role permissions.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this user role permission group."
        },
        "id": {
          "description": "ID of this user role permission.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\".",
          "type": "string"
        }
      },
      "id": "UserRolePermissionGroup",
      "type": "object"
    },
    "PostalCode": {
      "id": "PostalCode",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this postal code."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCode\".",
          "type": "string"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this postal code belongs.",
          "type": "string",
          "format": "int64"
        },
        "countryCode": {
          "description": "Country code of the country to which this postal code belongs.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Postal code. This is equivalent to the id field."
        }
      },
      "type": "object",
      "description": "Contains information about a postal code that can be targeted by ads."
    },
    "RichMediaExitOverride": {
      "id": "RichMediaExitOverride",
      "description": "Rich Media Exit Override.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used."
        },
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true."
        },
        "exitId": {
          "format": "int64",
          "type": "string",
          "description": "ID for the override to refer to a specific exit in the creative."
        }
      }
    },
    "ChangeLogsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "changeLogs": {
          "type": "array",
          "items": {
            "$ref": "ChangeLog"
          },
          "description": "Change log collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\"."
        }
      },
      "id": "ChangeLogsListResponse",
      "type": "object",
      "description": "Change Log List Response"
    },
    "PlacementsGenerateTagsResponse": {
      "properties": {
        "placementTags": {
          "type": "array",
          "items": {
            "$ref": "PlacementTag"
          },
          "description": "Set of generated tags for the specified placements."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsGenerateTagsResponse\"."
        }
      },
      "id": "PlacementsGenerateTagsResponse",
      "description": "Placement GenerateTags Response",
      "type": "object"
    },
    "AccountUserProfilesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfilesListResponse\"."
        },
        "accountUserProfiles": {
          "description": "Account user profile collection.",
          "type": "array",
          "items": {
            "$ref": "AccountUserProfile"
          }
        }
      },
      "type": "object",
      "id": "AccountUserProfilesListResponse",
      "description": "Account User Profile List Response"
    },
    "Advertiser": {
      "properties": {
        "advertiserGroupId": {
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.",
          "type": "string",
          "format": "int64"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field."
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. ",
          "type": "string"
        },
        "name": {
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\".",
          "type": "string"
        },
        "defaultClickThroughEventTagId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns."
        },
        "clickThroughUrlSuffix": {
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long.",
          "type": "string"
        },
        "status": {
          "description": "Status of this advertiser.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ],
          "type": "string"
        },
        "defaultEmail": {
          "description": "Default email address used in sender field for tag emails.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank."
        },
        "originalFloodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement."
        },
        "suspended": {
          "type": "boolean",
          "description": "Suspension status of this advertiser."
        },
        "subaccountId": {
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "description": "ID of this advertiser. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Contains properties of a Campaign Manager advertiser.",
      "type": "object",
      "id": "Advertiser"
    },
    "AudienceSegment": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this audience segment. This is a read-only, auto-generated field."
        },
        "allocation": {
          "type": "integer",
          "format": "int32",
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive."
        },
        "name": {
          "type": "string",
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long."
        }
      },
      "description": "Audience Segment.",
      "id": "AudienceSegment"
    },
    "LanguageTargeting": {
      "description": "Language Targeting.",
      "type": "object",
      "properties": {
        "languages": {
          "items": {
            "$ref": "Language"
          },
          "type": "array",
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated."
        }
      },
      "id": "LanguageTargeting"
    },
    "BrowsersListResponse": {
      "description": "Browser List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\"."
        },
        "browsers": {
          "type": "array",
          "items": {
            "$ref": "Browser"
          },
          "description": "Browser collection."
        }
      },
      "type": "object",
      "id": "BrowsersListResponse"
    },
    "UserProfileList": {
      "id": "UserProfileList",
      "properties": {
        "items": {
          "description": "The user profiles returned in this response.",
          "type": "array",
          "items": {
            "$ref": "UserProfile"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfileList\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the list of user profiles."
    },
    "OperatingSystemsListResponse": {
      "description": "Operating System List Response",
      "id": "OperatingSystemsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        },
        "operatingSystems": {
          "items": {
            "$ref": "OperatingSystem"
          },
          "description": "Operating system collection.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SiteVideoSettings": {
      "properties": {
        "obaEnabled": {
          "description": "Whether OBA icons are enabled for this placement.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteVideoSettings\"."
        },
        "orientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Orientation of a site template used for video. This will act as default for new placements created under this site.",
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "type": "string"
        },
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "ObaIcon"
        },
        "companionSettings": {
          "$ref": "SiteCompanionSetting",
          "description": "Settings for the companion creatives of video creatives served to this site."
        },
        "skippableSettings": {
          "description": "Settings for the skippability of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "SiteSkippableSetting"
        },
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "SiteTranscodeSetting"
        }
      },
      "type": "object",
      "id": "SiteVideoSettings",
      "description": "Video Settings"
    },
    "ChangeLog": {
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this change log.",
          "type": "string"
        },
        "oldValue": {
          "type": "string",
          "description": "Old value of the object field."
        },
        "userProfileId": {
          "description": "ID of the user who modified the object.",
          "format": "int64",
          "type": "string"
        },
        "userProfileName": {
          "description": "User profile name of the user who modified the object.",
          "type": "string"
        },
        "objectId": {
          "format": "int64",
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of the modified object."
        },
        "action": {
          "description": "Action which caused the change.",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "New value of the object field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of the modified object."
        },
        "fieldName": {
          "description": "Field name of the object which changed.",
          "type": "string"
        },
        "changeTime": {
          "format": "date-time",
          "type": "string"
        },
        "transactionId": {
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
          "format": "int64",
          "type": "string"
        },
        "objectType": {
          "type": "string",
          "description": "Object type of the change log."
        }
      },
      "description": "Describes a change that a user has made to a resource.",
      "id": "ChangeLog",
      "type": "object"
    },
    "SitesListResponse": {
      "id": "SitesListResponse",
      "type": "object",
      "description": "Site List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sitesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "description": "Site collection.",
          "type": "array"
        }
      }
    },
    "CustomEventStatus": {
      "description": "The original custom event that was inserted and whether there were any errors.",
      "id": "CustomEventStatus",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customEventStatus\"."
        },
        "errors": {
          "items": {
            "$ref": "CustomEventError"
          },
          "type": "array",
          "description": "A list of errors related to this custom event."
        },
        "customEvent": {
          "$ref": "CustomEvent",
          "description": "The original custom event that was inserted."
        }
      }
    },
    "CreativeAssetSelection": {
      "type": "object",
      "id": "CreativeAssetSelection",
      "description": "Encapsulates the list of rules for asset selection and a default asset in case none of the rules match. Applicable to INSTREAM_VIDEO creatives.",
      "properties": {
        "defaultAssetId": {
          "format": "int64",
          "type": "string",
          "description": "A creativeAssets[].id. This should refer to one of the parent assets in this creative, and will be served if none of the rules match. This is a required field."
        },
        "rules": {
          "description": "Rules determine which asset will be served to a viewer. Rules will be evaluated in the order in which they are stored in this list. This list must contain at least one rule. Applicable to INSTREAM_VIDEO creatives.",
          "items": {
            "$ref": "Rule"
          },
          "type": "array"
        }
      }
    },
    "CustomViewabilityMetric": {
      "id": "CustomViewabilityMetric",
      "type": "object",
      "description": "Custom Viewability Metric",
      "properties": {
        "configuration": {
          "$ref": "CustomViewabilityMetricConfiguration",
          "description": "Configuration of the custom viewability metric."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of the custom viewability metric."
        },
        "name": {
          "type": "string",
          "description": "Name of the custom viewability metric."
        }
      }
    },
    "ThirdPartyAuthenticationToken": {
      "description": "Third Party Authentication Token",
      "id": "ThirdPartyAuthenticationToken",
      "properties": {
        "name": {
          "description": "Name of the third-party authentication token.",
          "type": "string"
        },
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportCompatibleFields": {
      "properties": {
        "dimensionFilters": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "pivotedActivityMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "id": "ReportCompatibleFields",
      "type": "object"
    },
    "PlatformType": {
      "type": "object",
      "id": "PlatformType",
      "description": "Contains information about a platform type that can be targeted by ads.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformType\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this platform type."
        },
        "name": {
          "description": "Name of this platform type.",
          "type": "string"
        }
      }
    },
    "DeepLink": {
      "id": "DeepLink",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#deepLink\"."
        },
        "remarketingListIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Ads served to users on these remarketing lists will use this deep link. Applicable when mobileApp.directory is APPLE_APP_STORE.",
          "type": "array"
        },
        "fallbackUrl": {
          "description": "The fallback URL. This URL will be served to users who do not have the mobile app installed.",
          "type": "string"
        },
        "appUrl": {
          "type": "string",
          "description": "The URL of the mobile app being linked to."
        },
        "mobileApp": {
          "$ref": "MobileApp",
          "description": "The mobile app targeted by this deep link."
        }
      },
      "description": "Contains information about a landing page deep link.",
      "type": "object"
    },
    "CreativeRotation": {
      "description": "Creative Rotation.",
      "type": "object",
      "id": "CreativeRotation",
      "properties": {
        "creativeAssignments": {
          "type": "array",
          "items": {
            "$ref": "CreativeAssignment"
          },
          "description": "Creative assignments in this creative rotation."
        },
        "creativeOptimizationConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Creative optimization configuration that is used by this ad. It should refer to one of the existing optimization configurations in the ad's campaign. If it is unset or set to 0, then the campaign's default optimization configuration will be used for this ad."
        },
        "weightCalculationStrategy": {
          "type": "string",
          "enum": [
            "WEIGHT_STRATEGY_EQUAL",
            "WEIGHT_STRATEGY_CUSTOM",
            "WEIGHT_STRATEGY_HIGHEST_CTR",
            "WEIGHT_STRATEGY_OPTIMIZED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Strategy for calculating weights. Used with CREATIVE_ROTATION_TYPE_RANDOM."
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Type of creative rotation. Can be used to specify whether to use sequential or random rotation.",
          "type": "string",
          "enum": [
            "CREATIVE_ROTATION_TYPE_SEQUENTIAL",
            "CREATIVE_ROTATION_TYPE_RANDOM"
          ]
        }
      }
    },
    "GeoTargeting": {
      "type": "object",
      "properties": {
        "excludeCountries": {
          "type": "boolean",
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad."
        },
        "metros": {
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro.",
          "items": {
            "$ref": "Metro"
          },
          "type": "array"
        },
        "countries": {
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country.",
          "items": {
            "$ref": "Country"
          },
          "type": "array"
        },
        "regions": {
          "items": {
            "$ref": "Region"
          },
          "type": "array",
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region."
        },
        "postalCodes": {
          "type": "array",
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code.",
          "items": {
            "$ref": "PostalCode"
          }
        },
        "cities": {
          "type": "array",
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city.",
          "items": {
            "$ref": "City"
          }
        }
      },
      "id": "GeoTargeting",
      "description": "Geographical Targeting."
    },
    "CampaignCreativeAssociationsListResponse": {
      "type": "object",
      "id": "CampaignCreativeAssociationsListResponse",
      "description": "Campaign Creative Association List Response",
      "properties": {
        "campaignCreativeAssociations": {
          "type": "array",
          "items": {
            "$ref": "CampaignCreativeAssociation"
          },
          "description": "Campaign creative association collection"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\".",
          "type": "string"
        }
      }
    },
    "AdSlot": {
      "description": "Ad Slot",
      "properties": {
        "height": {
          "description": "Height of this ad slot.",
          "format": "int64",
          "type": "string"
        },
        "width": {
          "format": "int64",
          "type": "string",
          "description": "Width of this ad slot."
        },
        "comment": {
          "type": "string",
          "description": "Comment for this ad slot."
        },
        "linkedPlacementId": {
          "format": "int64",
          "description": "ID of the placement from an external platform that is linked to this ad slot.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "Primary ad slot of a roadblock inventory item."
        },
        "paymentSourceType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Payment source type of this ad slot.",
          "enum": [
            "PLANNING_PAYMENT_SOURCE_TYPE_AGENCY_PAID",
            "PLANNING_PAYMENT_SOURCE_TYPE_PUBLISHER_PAID"
          ],
          "type": "string"
        },
        "name": {
          "description": "Name of this ad slot.",
          "type": "string"
        },
        "compatibility": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Ad slot compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop, mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdSlot"
    },
    "AdsListResponse": {
      "description": "Ad List Response",
      "type": "object",
      "id": "AdsListResponse",
      "properties": {
        "ads": {
          "items": {
            "$ref": "Ad"
          },
          "description": "Ad collection.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\"."
        }
      }
    },
    "DayPartTargeting": {
      "type": "object",
      "description": "Day Part Targeting.",
      "properties": {
        "userLocalTime": {
          "type": "boolean",
          "description": "Whether or not to use the user's local time. If false, the America/New York time zone applies."
        },
        "daysOfWeek": {
          "items": {
            "type": "string",
            "enum": [
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array",
          "description": "Days of the week when the ad will serve. Acceptable values are: - \"SUNDAY\" - \"MONDAY\" - \"TUESDAY\" - \"WEDNESDAY\" - \"THURSDAY\" - \"FRIDAY\" - \"SATURDAY\" "
        },
        "hoursOfDay": {
          "description": "Hours of the day when the ad will serve, where 0 is midnight to 1 AM and 23 is 11 PM to midnight. Can be specified with days of week, in which case the ad would serve during these hours on the specified days. For example if Monday, Wednesday, Friday are the days of week specified and 9-10am, 3-5pm (hours 9, 15, and 16) is specified, the ad would serve Monday, Wednesdays, and Fridays at 9-10am and 3-5pm. Acceptable values are 0 to 23, inclusive.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      },
      "id": "DayPartTargeting"
    },
    "MetrosListResponse": {
      "properties": {
        "metros": {
          "items": {
            "$ref": "Metro"
          },
          "type": "array",
          "description": "Metro collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\"."
        }
      },
      "description": "Metro List Response",
      "type": "object",
      "id": "MetrosListResponse"
    },
    "OperatingSystemVersionsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\".",
          "type": "string"
        },
        "operatingSystemVersions": {
          "items": {
            "$ref": "OperatingSystemVersion"
          },
          "type": "array",
          "description": "Operating system version collection."
        }
      },
      "id": "OperatingSystemVersionsListResponse",
      "description": "Operating System Version List Response"
    },
    "AccountPermissionGroup": {
      "id": "AccountPermissionGroup",
      "description": "AccountPermissionGroups contains a mapping of permission group IDs to names. A permission group is a grouping of account permissions.",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this account permission group.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroup\"."
        },
        "name": {
          "type": "string",
          "description": "Name of this account permission group."
        }
      },
      "type": "object"
    },
    "ObaIcon": {
      "properties": {
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "size": {
          "description": "OBA icon size.",
          "$ref": "Size"
        },
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        },
        "iconClickTrackingUrl": {
          "type": "string",
          "description": "URL to track click when an OBA icon is clicked."
        },
        "iconClickThroughUrl": {
          "type": "string",
          "description": "URL to redirect to when an OBA icon is clicked."
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "yPosition": {
          "type": "string",
          "description": "OBA icon y coordinate position. Accepted values are top or bottom."
        },
        "program": {
          "type": "string",
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices."
        }
      },
      "id": "ObaIcon",
      "type": "object",
      "description": "Online Behavioral Advertiser icon."
    },
    "CompanionSetting": {
      "properties": {
        "companionsDisabled": {
          "type": "boolean",
          "description": "Whether companions are disabled for this placement."
        },
        "enabledSizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
          "type": "string"
        },
        "imageOnly": {
          "type": "boolean",
          "description": "Whether to serve only static images as companions."
        }
      },
      "description": "Companion Settings",
      "id": "CompanionSetting",
      "type": "object"
    },
    "UserRolesListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolesListResponse\".",
          "type": "string"
        },
        "userRoles": {
          "type": "array",
          "description": "User role collection.",
          "items": {
            "$ref": "UserRole"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "type": "object",
      "description": "User Role List Response",
      "id": "UserRolesListResponse"
    },
    "CreativeFieldAssignment": {
      "type": "object",
      "description": "Creative Field Assignment.",
      "id": "CreativeFieldAssignment",
      "properties": {
        "creativeFieldId": {
          "format": "int64",
          "description": "ID of the creative field.",
          "type": "string"
        },
        "creativeFieldValueId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative field value."
        }
      }
    },
    "OmnitureSettings": {
      "id": "OmnitureSettings",
      "description": "Omniture Integration Settings.",
      "type": "object",
      "properties": {
        "omnitureIntegrationEnabled": {
          "description": "Whether Omniture integration is enabled. This property can be enabled only when the \"Advanced Ad Serving\" account setting is enabled.",
          "type": "boolean"
        },
        "omnitureCostDataEnabled": {
          "description": "Whether placement cost data will be sent to Omniture. This property can be enabled only if omnitureIntegrationEnabled is true.",
          "type": "boolean"
        }
      }
    },
    "CreativeAsset": {
      "type": "object",
      "id": "CreativeAsset",
      "properties": {
        "artworkType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "progressiveServingUrl": {
          "type": "string",
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "pushdownDuration": {
          "description": "Pushdown duration in seconds for an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable when the asset pushdown field is true, the offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height. Acceptable values are 0 to 9.99, inclusive.",
          "type": "number",
          "format": "float"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field."
        },
        "mediaDuration": {
          "type": "number",
          "format": "float",
          "description": "Detected duration for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "backupImageExit": {
          "$ref": "CreativeCustomEvent",
          "description": "Exit event configured for the backup image. Applicable to the following creative types: all RICH_MEDIA."
        },
        "zIndex": {
          "type": "integer",
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive.",
          "format": "int32"
        },
        "size": {
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "Size"
        },
        "frameRate": {
          "format": "float",
          "type": "number",
          "description": "Video frame rate for video asset in frames per second. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "bitRate": {
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "orientation": {
          "type": "string",
          "description": "Orientation of video asset. This is a read-only, auto-generated field.",
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "childAssetType": {
          "type": "string",
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ]
        },
        "assetIdentifier": {
          "$ref": "CreativeAssetId",
          "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "collapsedSize": {
          "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "Size"
        },
        "positionLeftUnit": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "originalBackup": {
          "type": "boolean",
          "description": "Whether the backup asset is original or changed by the user in Campaign Manager. Applicable to the following creative types: all RICH_MEDIA."
        },
        "verticallyLocked": {
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "windowMode": {
          "description": "Window mode options for flash assets. Applicable to the following creative types: FLASH_INPAGE, RICH_MEDIA_DISPLAY_EXPANDING, RICH_MEDIA_IM_EXPAND, RICH_MEDIA_DISPLAY_BANNER, and RICH_MEDIA_INPAGE_FLOATING.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "OPAQUE",
            "WINDOW",
            "TRANSPARENT"
          ]
        },
        "durationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ]
        },
        "actionScript3": {
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "zipFilename": {
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1."
        },
        "horizontallyLocked": {
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "expandedDimension": {
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "$ref": "Size"
        },
        "displayType": {
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "detectedFeatures": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "zipFilesize": {
          "description": "Size of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "audioBitRate": {
          "format": "int32",
          "description": "Audio stream bit rate in kbps. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer"
        },
        "startTimeType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ],
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Detected MIME type for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "fileSize": {
          "format": "int64",
          "type": "string",
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "role": {
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. ",
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sslCompliant": {
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "boolean"
        },
        "position": {
          "description": "Offset position for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "$ref": "OffsetPosition"
        },
        "politeLoad": {
          "type": "boolean",
          "description": "Whether this asset is used as a polite load asset."
        },
        "positionTopUnit": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Offset top unit for an asset. This is a read-only field if the asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ]
        },
        "audioSampleRate": {
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "hideFlashObjects": {
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "streamingServingUrl": {
          "type": "string",
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "flashVersion": {
          "format": "int32",
          "description": "Flash version of the asset. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer"
        },
        "pushdown": {
          "description": "Whether the asset pushes down other content. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable when the asset offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height.",
          "type": "boolean"
        },
        "transparency": {
          "type": "boolean",
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets."
        },
        "customStartTimeValue": {
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0.",
          "format": "int32",
          "type": "integer"
        },
        "hideSelectionBoxes": {
          "type": "boolean",
          "description": "Whether to hide selection boxes flag for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "alignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ALIGNMENT_TOP",
            "ALIGNMENT_RIGHT",
            "ALIGNMENT_BOTTOM",
            "ALIGNMENT_LEFT"
          ],
          "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL ."
        },
        "companionCreativeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true."
        },
        "additionalSizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Additional sizes associated with this creative asset. HTML5 asset generated by compatible software such as GWD will be able to support more sizes this creative asset can render.",
          "type": "array"
        },
        "offset": {
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "OffsetPosition"
        },
        "active": {
          "type": "boolean",
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "id": {
          "format": "int64",
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "string"
        }
      },
      "description": "Creative Asset."
    },
    "FileList": {
      "description": "List of files for a report.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "File"
          },
          "description": "The files returned in this response.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "id": "FileList"
    },
    "CreativeGroup": {
      "description": "Contains properties of a creative group.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this creative group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "description": "Account ID of this creative group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "groupNumber": {
          "type": "integer",
          "description": "Subgroup of the creative group. Assign your creative groups to a subgroup in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion. Acceptable values are 1 to 2, inclusive.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\"."
        },
        "name": {
          "description": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this creative group. This is a required field on insertion."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string"
        }
      },
      "id": "CreativeGroup"
    },
    "LastModifiedInfo": {
      "id": "LastModifiedInfo",
      "type": "object",
      "description": "Modification timestamp.",
      "properties": {
        "time": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp of the last change in milliseconds since epoch."
        }
      }
    },
    "CustomEventImpressionAnnotation": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customEventImpressionAnnotation\"."
        },
        "pathImpressionId": {
          "type": "string",
          "description": "The path impression ID. Use this field to annotate the impression associated with the pathImpressionId."
        }
      },
      "id": "CustomEventImpressionAnnotation",
      "description": "Annotate an impression.",
      "type": "object"
    },
    "AdvertiserGroup": {
      "type": "object",
      "description": "Groups advertisers together so that reports can be generated for the entire group at once.",
      "id": "AdvertiserGroup",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this advertiser group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroup\"."
        },
        "name": {
          "description": "Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this advertiser group. This is a read-only field that can be left blank."
        }
      }
    },
    "FloodlightConfigurationsListResponse": {
      "id": "FloodlightConfigurationsListResponse",
      "type": "object",
      "properties": {
        "floodlightConfigurations": {
          "type": "array",
          "items": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Floodlight configuration collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\"."
        }
      },
      "description": "Floodlight Configuration List Response"
    },
    "AdvertiserGroupsListResponse": {
      "id": "AdvertiserGroupsListResponse",
      "description": "Advertiser Group List Response",
      "type": "object",
      "properties": {
        "advertiserGroups": {
          "type": "array",
          "items": {
            "$ref": "AdvertiserGroup"
          },
          "description": "Advertiser group collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroupsListResponse\"."
        }
      }
    },
    "RemarketingListsListResponse": {
      "type": "object",
      "properties": {
        "remarketingLists": {
          "type": "array",
          "description": "Remarketing list collection.",
          "items": {
            "$ref": "RemarketingList"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "RemarketingListsListResponse",
      "description": "Remarketing list response"
    },
    "DirectorySitesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySitesListResponse\"."
        },
        "directorySites": {
          "type": "array",
          "items": {
            "$ref": "DirectorySite"
          },
          "description": "Directory site collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Directory Site List Response",
      "id": "DirectorySitesListResponse"
    },
    "ListPopulationClause": {
      "type": "object",
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "properties": {
        "terms": {
          "type": "array",
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "items": {
            "$ref": "ListPopulationTerm"
          }
        }
      },
      "id": "ListPopulationClause"
    },
    "Report": {
      "properties": {
        "ownerProfileId": {
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          },
          "type": "string",
          "format": "int64",
          "description": "The user profile id of the owner of this report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#report.",
          "type": "string"
        },
        "accountId": {
          "description": "The account ID to which this report belongs.",
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          },
          "type": "string",
          "format": "int64"
        },
        "type": {
          "annotations": {
            "required": [
              "dfareporting.reports.insert",
              "dfareporting.reports.update"
            ]
          },
          "description": "The type of the report.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
[...]
