{
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "version_module": true,
  "rootUrl": "https://dialogflow.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}",
              "id": "dialogflow.projects.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource."
                }
              },
              "path": "v3/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "httpMethod": "POST",
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path"
                }
              },
              "path": "v3/{+name}:cancel"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3/{+name}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "flatPath": "v3/projects/{projectsId}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.operations.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            }
          }
        },
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "path": "v3/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "dialogflow.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "path": "v3/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    }
                  }
                },
                "get": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "dialogflow.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET"
                }
              }
            },
            "agents": {
              "resources": {
                "sessions": {
                  "methods": {
                    "matchIntent": {
                      "parameters": {
                        "session": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session).",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3MatchIntentResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.sessions.matchIntent",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:matchIntent",
                      "httpMethod": "POST",
                      "description": "Returns preliminary intent match results, doesn't change the session status.",
                      "path": "v3/{+session}:matchIntent"
                    },
                    "fulfillIntent": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
                      },
                      "path": "v3/{+session}:fulfillIntent",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:fulfillIntent",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
                      },
                      "description": "Fulfills a matched intent returned by MatchIntent. Must be called after MatchIntent, with input from MatchIntentResponse. Otherwise, the behavior is undefined.",
                      "httpMethod": "POST",
                      "parameters": {
                        "session": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session).",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "id": "dialogflow.projects.locations.agents.sessions.fulfillIntent"
                    },
                    "detectIntent": {
                      "httpMethod": "POST",
                      "parameters": {
                        "session": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session). Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/cx/docs/concept/version).",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.sessions.detectIntent",
                      "path": "v3/{+session}:detectIntent",
                      "description": "Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause session entity types to be updated, which in turn might affect results of future queries. Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/cx/docs/concept/version).",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:detectIntent"
                    }
                  },
                  "resources": {
                    "entityTypes": {
                      "methods": {
                        "get": {
                          "description": "Retrieves the specified session entity type.",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The name of the session entity type. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "location": "path"
                            }
                          },
                          "path": "v3/{+name}"
                        },
                        "list": {
                          "description": "Returns the list of all session entity types in the specified session.",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.list",
                          "path": "v3/{+parent}/entityTypes",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                              "description": "Required. The session to list all session entity types from. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                              "type": "string",
                              "location": "path"
                            },
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
                          }
                        },
                        "delete": {
                          "description": "Deletes the specified session entity type.",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the session entity type to delete. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "path": "v3/{+name}"
                        },
                        "create": {
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.create",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The session to create a session entity type for. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "description": "Creates a session entity type. If the specified session entity type already exists, overrides the session entity type.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "path": "v3/{+parent}/entityTypes"
                        },
                        "patch": {
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "description": "Updates the specified session entity type.",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "description": "Required. The unique identifier of the session entity type. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                              "required": true
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string",
                              "description": "The mask to control which fields get updated."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                        }
                      }
                    }
                  }
                },
                "intents": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Updates the specified intent.",
                      "id": "dialogflow.projects.locations.agents.intents.patch",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "description": "The unique identifier of the intent. Required for the Intents.UpdateIntent method. Intents.CreateIntent populates the name automatically. Format: `projects//locations//agents//intents/`."
                        },
                        "languageCode": {
                          "description": "The language of the following fields in `intent`: * `Intent.training_phrases.parts.text` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                          "location": "query",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query"
                        }
                      },
                      "path": "v3/{+name}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Deletes the specified intent.",
                      "id": "dialogflow.projects.locations.agents.intents.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the intent to delete. Format: `projects//locations//agents//intents/`."
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "httpMethod": "DELETE",
                      "path": "v3/{+name}"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListIntentsResponse"
                      },
                      "description": "Returns the list of all intents in the specified agent.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.intents.list",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "path": "v3/{+parent}/intents",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "description": "Required. The agent to list all intents for. Format: `projects//locations//agents/`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "intentView": {
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_PARTIAL",
                            "INTENT_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "Not specified. Treated as INTENT_VIEW_FULL.",
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "type": "string",
                          "description": "The resource view to apply to the returned intent.",
                          "location": "query"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string",
                          "description": "The language to list intents for. The following fields are language dependent: * `Intent.training_phrases.parts.text` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                        }
                      }
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agents.intents.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/intents",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "description": "Creates an intent in the specified agent.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "description": "Required. The agent to create an intent for. Format: `projects//locations//agents/`."
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query",
                          "description": "The language of the following fields in `intent`: * `Intent.training_phrases.parts.text` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "id": "dialogflow.projects.locations.agents.intents.get",
                      "path": "v3/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "description": "Required. The name of the intent. Format: `projects//locations//agents//intents/`.",
                          "type": "string"
                        },
                        "languageCode": {
                          "location": "query",
                          "description": "The language to retrieve the intent for. The following fields are language dependent: * `Intent.training_phrases.parts.text` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Retrieves the specified intent.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "testCases": {
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.testCases.results.list",
                          "path": "v3/{+parent}/results",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results",
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "The filter expression used to filter test case results. See [API Filtering](https://aip.dev/160). The expression is case insensitive. Only 'AND' is supported for logical operators. The supported syntax is listed below in detail: [AND ] ... [AND latest] The supported fields and operators are: field operator `environment` `=`, `IN` (Use value `draft` for draft environment) `test_time` `\u003e`, `\u003c` `latest` only returns the latest test result in all results for each test case. Examples: * \"environment=draft AND latest\" matches the latest test result for each test case in the draft environment. * \"environment IN (e1,e2)\" matches any test case results with an environment resource name of either \"e1\" or \"e2\". * \"test_time \u003e 1602540713\" matches any test case results with test time later than a unix timestamp in seconds 1602540713."
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "The next_page_token value returned from a previous list request."
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                              "location": "path",
                              "description": "Required. The test case to list results for. Format: `projects//locations//agents// testCases/`. Specify a `-` as a wildcard for TestCase ID to list results across multiple test cases."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse"
                          },
                          "description": "Fetches a list of results for a given test case.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "description": "Gets a test case.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the testcase. Format: `projects//locations//agents//testCases/`."
                        }
                      },
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.testCases.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListTestCasesResponse"
                      },
                      "description": "Fetches a list of test cases for a given agent.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "id": "dialogflow.projects.locations.agents.testCases.list",
                      "path": "v3/{+parent}/testCases",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of items to return in a single page. By default 20. Note that when TestCaseView = FULL, the maximum page size allowed is 20. When TestCaseView = BASIC, the maximum page size allowed is 500."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The agent to list all pages for. Format: `projects//locations//agents/`."
                        },
                        "view": {
                          "enum": [
                            "TEST_CASE_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "description": "Specifies whether response should include all fields or just the metadata.",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the BASIC view.",
                            "Include basic metadata about the test case, but not the conversation turns. This is the default value.",
                            "Include everything."
                          ],
                          "location": "query"
                        }
                      }
                    },
                    "export": {
                      "path": "v3/{+parent}/testCases:export",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:export",
                      "description": "Exports the test cases under the agent to a Cloud Storage bucket or a local file. Filter can be applied to export a subset of test cases.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ExportTestCasesRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "description": "Required. The agent where to export test cases from. Format: `projects//locations//agents/`."
                        }
                      }
                    },
                    "import": {
                      "path": "v3/{+parent}/testCases:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ImportTestCasesRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.import",
                      "description": "Imports the test cases from a Cloud Storage bucket or a local file. It always creates new test cases and won't overwite any existing ones. The provided ID in the imported test case is neglected.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The agent to import test cases to. Format: `projects//locations//agents/`."
                        }
                      }
                    },
                    "calculateCoverage": {
                      "id": "dialogflow.projects.locations.agents.testCases.calculateCoverage",
                      "httpMethod": "GET",
                      "description": "Calculates the test coverage for an agent.",
                      "parameters": {
                        "type": {
                          "location": "query",
                          "description": "Required. The type of coverage requested.",
                          "enum": [
                            "COVERAGE_TYPE_UNSPECIFIED",
                            "INTENT",
                            "PAGE_TRANSITION"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "Should never be used.",
                            "Intent coverage.",
                            "Page transition coverage"
                          ]
                        },
                        "agent": {
                          "type": "string",
                          "description": "Required. The agent to calculate coverage for. Format: `projects//locations//agents/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3CalculateCoverageResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+agent}/testCases:calculateCoverage",
                      "parameterOrder": [
                        "agent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:calculateCoverage"
                    },
                    "create": {
                      "path": "v3/{+parent}/testCases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The agent to create the test case for. Format: `projects//locations//agents/`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "description": "Creates a test case for the given agent.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.create"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The unique identifier of the test case. TestCases.CreateTestCase will populate the name automatically. Otherwise use format: `projects//locations//agents/ /testCases/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. The mask to specify which fields should be updated. Only a test case's metadata and replayed_conversation_turns may be updated. The original test_case_conversation_turns may not be updated.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.testCases.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "description": "Updates the specified test case.",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      }
                    },
                    "batchRun": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/testCases:batchRun",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.testCases.batchRun",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Kicks off a batch run of test cases.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. Agent name. Format: `projects//locations//agents/ `.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchRun",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchRunTestCasesRequest"
                      }
                    },
                    "batchDelete": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.batchDelete",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchDelete",
                      "path": "v3/{+parent}/testCases:batchDelete",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "description": "Required. The agent to delete test cases from. Format: `projects//locations//agents/`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchDeleteTestCasesRequest"
                      },
                      "description": "Batch deletes test cases."
                    },
                    "run": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:run",
                      "id": "dialogflow.projects.locations.agents.testCases.run",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Kicks off a test case run.",
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "agentsId": {
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "agentsId"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3RunTestCaseRequest"
                      },
                      "path": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:run",
                      "httpMethod": "POST"
                    }
                  }
                },
                "webhooks": {
                  "methods": {
                    "delete": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "force": {
                          "description": "This field has no effect for webhook not being used. For webhooks that are used by pages/flows/transition route groups: * If `force` is set to false, an error will be returned with message indicating the referenced resources. * If `force` is set to true, Dialogflow will remove the webhook, as well as any references to the webhook (i.e. Webhook and tagin fulfillments that point to this webhook will be removed).",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the webhook to delete. Format: `projects//locations//agents//webhooks/`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.webhooks.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified webhook.",
                      "path": "v3/{+name}"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListWebhooksResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "description": "Required. The agent to list all webhooks for. Format: `projects//locations//agents/`.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.webhooks.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns the list of all webhooks in the specified agent.",
                      "path": "v3/{+parent}/webhooks",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks"
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "description": "Required. The agent to create a webhook for. Format: `projects//locations//agents/`.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/webhooks",
                      "description": "Creates a webhook in the specified agent.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "id": "dialogflow.projects.locations.agents.webhooks.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      }
                    },
                    "get": {
                      "description": "Retrieves the specified webhook.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the webhook. Format: `projects//locations//agents//webhooks/`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.webhooks.get"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "description": "The unique identifier of the webhook. Required for the Webhooks.UpdateWebhook method. Webhooks.CreateWebhook populates the name automatically. Format: `projects//locations//agents//webhooks/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "path": "v3/{+name}",
                      "description": "Updates the specified webhook.",
                      "id": "dialogflow.projects.locations.agents.webhooks.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      }
                    }
                  }
                },
                "environments": {
                  "resources": {
                    "experiments": {
                      "methods": {
                        "create": {
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The Agent to create an Environment for. Format: `projects//locations//agents//environments/`."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "path": "v3/{+parent}/experiments",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "Creates an Experiment in the specified Environment.",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments"
                        },
                        "patch": {
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "description": "The name of the experiment. Format: projects//locations//agents//environments//experiments/.."
                            },
                            "updateMask": {
                              "location": "query",
                              "description": "Required. The mask to control which fields get updated.",
                              "format": "google-fieldmask",
                              "type": "string"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.patch",
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "description": "Updates the specified Experiment.",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "start": {
                          "description": "Starts the specified Experiment. This rpc only changes the state of experiment from PENDING to RUNNING.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.start",
                          "httpMethod": "POST",
                          "path": "v3/{+name}:start",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StartExperimentRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. Resource name of the experiment to start. Format: `projects//locations//agents//environments//experiments/`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          }
                        },
                        "stop": {
                          "id": "dialogflow.projects.locations.agents.environments.experiments.stop",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}:stop",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. Resource name of the experiment to stop. Format: `projects//locations//agents//environments//experiments/`.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StopExperimentRequest"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop",
                          "description": "Stops the specified Experiment. This rpc only changes the state of experiment from RUNNING to DONE.",
                          "httpMethod": "POST"
                        },
                        "delete": {
                          "path": "v3/{+name}",
                          "description": "Deletes the specified Experiment.",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The name of the Environment to delete. Format: `projects//locations//agents//environments//experiments/`."
                            }
                          },
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete"
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the Environment. Format: `projects//locations//agents//environments//experiments/`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "description": "Retrieves the specified Experiment.",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "path": "v3/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "path": "v3/{+parent}/experiments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListExperimentsResponse"
                          },
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "description": "The maximum number of items to return in a single page. By default 20 and at most 100.",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "description": "Required. The Environment to list all environments for. Format: `projects//locations//agents//environments/`.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "description": "Returns the list of all experiments in the specified Environment."
                        }
                      }
                    },
                    "sessions": {
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "create": {
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "description": "Required. The session to create a session entity type for. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment."
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.create",
                              "description": "Creates a session entity type. If the specified session entity type already exists, overrides the session entity type.",
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "httpMethod": "POST",
                              "path": "v3/{+parent}/entityTypes",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              }
                            },
                            "delete": {
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "description": "Required. The name of the session entity type to delete. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true
                                }
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "description": "Deletes the specified session entity type.",
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.delete",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "httpMethod": "DELETE",
                              "path": "v3/{+name}"
                            },
                            "get": {
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "description": "Required. The name of the session entity type. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "httpMethod": "GET",
                              "description": "Retrieves the specified session entity type.",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.get",
                              "path": "v3/{+name}"
                            },
                            "patch": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "path": "v3/{+name}",
                              "description": "Updates the specified session entity type.",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "description": "Required. The unique identifier of the session entity type. Format: `projects//locations//agents//sessions//entityTypes/` or `projects//locations//agents//environments//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                },
                                "updateMask": {
                                  "type": "string",
                                  "description": "The mask to control which fields get updated.",
                                  "format": "google-fieldmask",
                                  "location": "query"
                                }
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "httpMethod": "PATCH",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.patch",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              }
                            },
                            "list": {
                              "path": "v3/{+parent}/entityTypes",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
                              },
                              "parameters": {
                                "pageSize": {
                                  "location": "query",
                                  "format": "int32",
                                  "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                                  "type": "integer"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "The next_page_token value returned from a previous list request."
                                },
                                "parent": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "required": true,
                                  "description": "Required. The session to list all session entity types from. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment.",
                                  "type": "string"
                                }
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "httpMethod": "GET",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.list",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "parent"
                              ],
                              "description": "Returns the list of all session entity types in the specified session."
                            }
                          }
                        }
                      },
                      "methods": {
                        "detectIntent": {
                          "httpMethod": "POST",
                          "path": "v3/{+session}:detectIntent",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.detectIntent",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:detectIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "description": "Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause session entity types to be updated, which in turn might affect results of future queries. Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/cx/docs/concept/version).",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          },
                          "parameters": {
                            "session": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session). Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/cx/docs/concept/version)."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "session"
                          ]
                        },
                        "matchIntent": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.matchIntent",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:matchIntent",
                          "parameters": {
                            "session": {
                              "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session).",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "description": "Returns preliminary intent match results, doesn't change the session status.",
                          "path": "v3/{+session}:matchIntent"
                        },
                        "fulfillIntent": {
                          "httpMethod": "POST",
                          "path": "v3/{+session}:fulfillIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.fulfillIntent",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:fulfillIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
                          },
                          "description": "Fulfills a matched intent returned by MatchIntent. Must be called after MatchIntent, with input from MatchIntentResponse. Otherwise, the behavior is undefined.",
                          "parameterOrder": [
                            "session"
                          ],
                          "parameters": {
                            "session": {
                              "required": true,
                              "description": "Required. The name of the session this query is sent to. Format: `projects//locations//agents//sessions/` or `projects//locations//agents//environments//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. It's up to the API caller to choose an appropriate `Session ID`. It can be a random number or some type of session identifiers (preferably hashed). The length of the `Session ID` must not exceed 36 characters. For more information, see the [sessions guide](https://cloud.google.com/dialogflow/cx/docs/concept/session).",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          }
                        }
                      }
                    }
                  },
                  "methods": {
[...]
