{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Dialogflow API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    }
  },
  "canonicalName": "Dialogflow",
  "id": "dialogflow:v3",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "dialogflow.projects.operations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}",
              "path": "v3/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            },
            "cancel": {
              "id": "dialogflow.projects.operations.cancel",
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "path": "v3/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v3/{+name}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "dialogflow.projects.operations.list",
              "flatPath": "v3/projects/{projectsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "name": {
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "agents": {
              "methods": {
                "getValidationResult": {
                  "id": "dialogflow.projects.locations.agents.getValidationResult",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3AgentValidationResult"
                  },
                  "description": "Gets the latest agent validation result. Agent validation is performed when ValidateAgent is called.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$",
                      "description": "Required. The agent name. Format: `projects//locations//agents//validationResult`."
                    },
                    "languageCode": {
                      "type": "string",
                      "description": "If not specified, the agent's default language is used.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/validationResult",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "export": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:export",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3ExportAgentRequest"
                  },
                  "id": "dialogflow.projects.locations.agents.export",
                  "description": "Exports the specified agent to a binary file.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3/{+name}:export",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "description": "Required. The name of the agent to export. Format: `projects//locations//agents/`.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "id": "dialogflow.projects.locations.agents.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The location to create a agent for. Format: `projects//locations/`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3/{+parent}/agents",
                  "description": "Creates an agent in the specified location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.agents.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "path": "v3/{+name}",
                  "description": "Retrieves the specified agent.",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the agent. Format: `projects//locations//agents/`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string",
                      "description": "The unique identifier of the agent. Required for the Agents.UpdateAgent method. Agents.CreateAgent populates the name automatically. Format: `projects//locations//agents/`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "The mask to control which fields get updated. If the mask is not present, all fields will be updated."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the specified agent.",
                  "path": "v3/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.agents.patch"
                },
                "validate": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:validate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.agents.validate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3ValidateAgentRequest"
                  },
                  "path": "v3/{+name}:validate",
                  "description": "Validates the specified agent and creates or updates validation results. The agent in draft version is validated. Please call this API after the training is completed to get the complete validation results.",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3AgentValidationResult"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The agent to validate. Format: `projects//locations//agents/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3ListAgentsResponse"
                  },
                  "id": "dialogflow.projects.locations.agents.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return in a single page. By default 100 and at most 1000."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The location to list all agents for. Format: `projects//locations/`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous list request."
                    }
                  },
                  "path": "v3/{+parent}/agents",
                  "description": "Returns the list of all agents in the specified location.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "restore": {
                  "id": "dialogflow.projects.locations.agents.restore",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the agent to restore into. Format: `projects//locations//agents/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Restores the specified agent from a binary file. Replaces the current agent with a new one. Note that all existing resources in agent (e.g. intents, entity types, flows) will be removed.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:restore",
                  "path": "v3/{+name}:restore",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3RestoreAgentRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "path": "v3/{+name}",
                  "description": "Deletes the specified agent.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the agent to delete. Format: `projects//locations//agents/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.agents.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "intents": {
                  "methods": {
                    "get": {
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.intents.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "Retrieves the specified intent.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the intent. Format: `projects//locations//agents//intents/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "type": "string",
                          "description": "The language to retrieve the intent for. The following fields are language dependent: * `Intent.training_phrases.parts.text` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Deletes the specified intent.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the intent to delete. Format: `projects//locations//agents//intents/`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.intents.delete"
                    },
                    "list": {
                      "description": "Returns the list of all intents in the specified agent.",
                      "id": "dialogflow.projects.locations.agents.intents.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListIntentsResponse"
                      },
                      "parameters": {
                        "languageCode": {
                          "description": "The language to list intents for. The following fields are language dependent: * `Intent.training_phrases.parts.text` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "description": "Required. The agent to list all intents for. Format: `projects//locations//agents/`.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer"
                        },
                        "intentView": {
                          "description": "The resource view to apply to the returned intent.",
                          "location": "query",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_PARTIAL",
                            "INTENT_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "Not specified. Treated as INTENT_VIEW_FULL.",
                            "Training phrases field is not populated in the response.",
                            "All fields are populated."
                          ],
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/intents"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The agent to create an intent for. Format: `projects//locations//agents/`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "description": "The language of the following fields in `intent`: * `Intent.training_phrases.parts.text` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/intents",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates an intent in the specified agent.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "id": "dialogflow.projects.locations.agents.intents.create"
                    },
                    "patch": {
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.intents.patch",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "description": "Updates the specified intent.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "description": "The unique identifier of the intent. Required for the Intents.UpdateIntent method. Intents.CreateIntent populates the name automatically. Format: `projects//locations//agents//intents/`.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$"
                        },
                        "updateMask": {
                          "description": "The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query",
                          "description": "The language of the following fields in `intent`: * `Intent.training_phrases.parts.text` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                        }
                      }
                    }
                  }
                },
                "testCases": {
                  "methods": {
                    "export": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "description": "Required. The agent where to export test cases from. Format: `projects//locations//agents/`.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/testCases:export",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:export",
                      "id": "dialogflow.projects.locations.agents.testCases.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ExportTestCasesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Exports the test cases under the agent to a Cloud Storage bucket or a local file. Filter can be applied to export a subset of test cases."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the testcase. Format: `projects//locations//agents//testCases/`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets a test case.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}"
                    },
                    "batchRun": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "description": "Required. Agent name. Format: `projects//locations//agents/ `."
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.batchRun",
                      "path": "v3/{+parent}/testCases:batchRun",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchRun",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchRunTestCasesRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "Kicks off a batch run of test cases.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "calculateCoverage": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3CalculateCoverageResponse"
                      },
                      "description": "Calculates the test coverage for an agent.",
                      "httpMethod": "GET",
                      "parameters": {
                        "type": {
                          "enumDescriptions": [
                            "Should never be used.",
                            "Intent coverage.",
                            "Page transition coverage.",
                            "Transition route group coverage."
                          ],
                          "location": "query",
                          "enum": [
                            "COVERAGE_TYPE_UNSPECIFIED",
                            "INTENT",
                            "PAGE_TRANSITION",
                            "TRANSITION_ROUTE_GROUP"
                          ],
                          "description": "Required. The type of coverage requested.",
                          "type": "string"
                        },
                        "agent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "description": "Required. The agent to calculate coverage for. Format: `projects//locations//agents/`."
                        }
                      },
                      "parameterOrder": [
                        "agent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:calculateCoverage",
                      "id": "dialogflow.projects.locations.agents.testCases.calculateCoverage",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+agent}/testCases:calculateCoverage"
                    },
                    "patch": {
                      "description": "Updates the specified test case.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.patch",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. The mask to specify which fields should be updated. The `creationTime` and `lastTestResult` cannot be updated.",
                          "type": "string"
                        },
                        "name": {
                          "description": "The unique identifier of the test case. TestCases.CreateTestCase will populate the name automatically. Otherwise use format: `projects//locations//agents/ /testCases/`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      }
                    },
                    "import": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "description": "Required. The agent to import test cases to. Format: `projects//locations//agents/`."
                        }
                      },
                      "path": "v3/{+parent}/testCases:import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ImportTestCasesRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:import",
                      "description": "Imports the test cases from a Cloud Storage bucket or a local file. It always creates new test cases and won't overwite any existing ones. The provided ID in the imported test case is neglected.",
                      "id": "dialogflow.projects.locations.agents.testCases.import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "batchDelete": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The agent to delete test cases from. Format: `projects//locations//agents/`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.batchDelete",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchDelete",
                      "description": "Batch deletes test cases.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/testCases:batchDelete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchDeleteTestCasesRequest"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.list",
                      "path": "v3/{+parent}/testCases",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListTestCasesResponse"
                      },
                      "description": "Fetches a list of test cases for a given agent.",
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of items to return in a single page. By default 20. Note that when TestCaseView = FULL, the maximum page size allowed is 20. When TestCaseView = BASIC, the maximum page size allowed is 500."
                        },
                        "view": {
                          "enum": [
                            "TEST_CASE_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": "Specifies whether response should include all fields or just the metadata.",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the BASIC view.",
                            "Include basic metadata about the test case, but not the conversation turns. This is the default value.",
                            "Include everything."
                          ]
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The agent to list all pages for. Format: `projects//locations//agents/`."
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The agent to create the test case for. Format: `projects//locations//agents/`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "description": "Creates a test case for the given agent.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/testCases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "run": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Format of test case name to run: `projects//locations/ /agents//testCases/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Kicks off a test case run.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}:run",
                      "id": "dialogflow.projects.locations.agents.testCases.run",
                      "path": "v3/{+name}:run",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3RunTestCaseRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "id": "dialogflow.projects.locations.agents.testCases.results.list",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "Fetches a list of results for a given test case.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v3/{+parent}/results",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request.",
                              "type": "string",
                              "location": "query"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "The filter expression used to filter test case results. See [API Filtering](https://aip.dev/160). The expression is case insensitive. Only 'AND' is supported for logical operators. The supported syntax is listed below in detail: [AND ] ... [AND latest] The supported fields and operators are: field operator `environment` `=`, `IN` (Use value `draft` for draft environment) `test_time` `\u003e`, `\u003c` `latest` only returns the latest test result in all results for each test case. Examples: * \"environment=draft AND latest\" matches the latest test result for each test case in the draft environment. * \"environment IN (e1,e2)\" matches any test case results with an environment resource name of either \"e1\" or \"e2\". * \"test_time \u003e 1602540713\" matches any test case results with test time later than a unix timestamp in seconds 1602540713."
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. The test case to list results for. Format: `projects//locations//agents// testCases/`. Specify a `-` as a wildcard for TestCase ID to list results across multiple test cases.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "webhooks": {
                  "methods": {
                    "list": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "path": "v3/{+parent}/webhooks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "description": "Required. The agent to list all webhooks for. Format: `projects//locations//agents/`."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request."
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "description": "Returns the list of all webhooks in the specified agent.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListWebhooksResponse"
                      },
                      "id": "dialogflow.projects.locations.agents.webhooks.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "id": "dialogflow.projects.locations.agents.webhooks.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "The unique identifier of the webhook. Required for the Webhooks.UpdateWebhook method. Webhooks.CreateWebhook populates the name automatically. Format: `projects//locations//agents//webhooks/`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$"
                        }
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates the specified webhook.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      }
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a webhook in the specified agent.",
                      "id": "dialogflow.projects.locations.agents.webhooks.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "description": "Required. The agent to create a webhook for. Format: `projects//locations//agents/`.",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "path": "v3/{+parent}/webhooks",
                      "httpMethod": "POST",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the webhook. Format: `projects//locations//agents//webhooks/`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "id": "dialogflow.projects.locations.agents.webhooks.get",
                      "description": "Retrieves the specified webhook.",
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "delete": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the specified webhook.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.webhooks.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the webhook to delete. Format: `projects//locations//agents//webhooks/`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean",
                          "description": "This field has no effect for webhook not being used. For webhooks that are used by pages/flows/transition route groups: * If `force` is set to false, an error will be returned with message indicating the referenced resources. * If `force` is set to true, Dialogflow will remove the webhook, as well as any references to the webhook (i.e. Webhook and tagin fulfillments that point to this webhook will be removed)."
                        }
                      },
                      "httpMethod": "DELETE",
                      "path": "v3/{+name}"
                    }
                  }
                },
                "flows": {
                  "resources": {
                    "transitionRouteGroups": {
                      "methods": {
                        "delete": {
                          "description": "Deletes the specified TransitionRouteGroup.",
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "force": {
                              "type": "boolean",
                              "location": "query",
                              "description": "This field has no effect for transition route group that no page is using. If the transition route group is referenced by any page: * If `force` is set to false, an error will be returned with message indicating pages that reference the transition route group. * If `force` is set to true, Dialogflow will remove the transition route group, as well as any reference to it."
                            },
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The name of the TransitionRouteGroup to delete. Format: `projects//locations//agents//flows//transitionRouteGroups/`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/transitionRouteGroups/[^/]+$"
                            }
                          }
                        },
                        "create": {
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.create",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. The flow to create an TransitionRouteGroup for. Format: `projects//locations//agents//flows/`.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "languageCode": {
                              "description": "The language to list transition route groups for. The field `messages` in TransitionRoute is language dependent. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "Creates an TransitionRouteGroup in the specified flow.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "path": "v3/{+parent}/transitionRouteGroups",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups"
                        },
                        "list": {
                          "description": "Returns the list of all transition route groups in the specified flow.",
                          "parameters": {
                            "languageCode": {
                              "location": "query",
                              "type": "string",
                              "description": "The language to list transition route groups for. The field `messages` in TransitionRoute is language dependent. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The next_page_token value returned from a previous list request.",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "format": "int32",
                              "type": "integer"
                            },
                            "parent": {
                              "description": "Required. The flow to list all transition route groups for. Format: `projects//locations//agents//flows/`.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups",
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.list",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v3/{+parent}/transitionRouteGroups"
                        },
                        "patch": {
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "The unique identifier of the transition route group. TransitionRouteGroups.CreateTransitionRouteGroup populates the name automatically. Format: `projects//locations//agents//flows//transitionRouteGroups/`.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/transitionRouteGroups/[^/]+$"
                            },
                            "languageCode": {
                              "type": "string",
                              "location": "query",
                              "description": "The language to list transition route groups for. The field `messages` in TransitionRoute is language dependent. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "type": "string",
                              "location": "query",
                              "description": "The mask to control which fields get updated."
                            }
                          },
                          "description": "Updates the specified TransitionRouteGroup.",
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3/{+name}",
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "get": {
                          "description": "Retrieves the specified TransitionRouteGroup.",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.get",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the TransitionRouteGroup. Format: `projects//locations//agents//flows//transitionRouteGroups/`.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/transitionRouteGroups/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "languageCode": {
                              "location": "query",
                              "description": "The language to list transition route groups for. The field `messages` in TransitionRoute is language dependent. If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "pages": {
                      "methods": {
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "path": "v3/{+parent}/pages",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.pages.create",
                          "parameters": {
                            "languageCode": {
                              "description": "The language of the following fields in `page`: * `Page.entry_fulfillment.messages` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.messages` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.messages` * `Page.transition_routes.trigger_fulfillment.messages` * `Page.transition_route_groups.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The flow to create a page for. Format: `projects//locations//agents//flows/`.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "Creates a page in the specified flow.",
                          "httpMethod": "POST"
                        },
                        "get": {
                          "path": "v3/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "description": "Retrieves the specified page.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.flows.pages.get",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the page. Format: `projects//locations//agents//flows//pages/`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "type": "string"
                            },
                            "languageCode": {
                              "location": "query",
                              "type": "string",
                              "description": "The language to retrieve the page for. The following fields are language dependent: * `Page.entry_fulfillment.messages` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.messages` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.messages` * `Page.transition_routes.trigger_fulfillment.messages` * `Page.transition_route_groups.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used."
                            }
                          }
                        },
                        "list": {
                          "path": "v3/{+parent}/pages",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListPagesResponse"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages",
                          "id": "dialogflow.projects.locations.agents.flows.pages.list",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of items to return in a single page. By default 100 and at most 1000.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request.",
                              "location": "query",
                              "type": "string"
                            },
                            "languageCode": {
                              "description": "The language to list pages for. The following fields are language dependent: * `Page.entry_fulfillment.messages` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.messages` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.messages` * `Page.transition_routes.trigger_fulfillment.messages` * `Page.transition_route_groups.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "description": "Required. The flow to list all pages for. Format: `projects//locations//agents//flows/`."
                            }
                          },
                          "description": "Returns the list of all pages in the specified flow."
                        },
                        "delete": {
                          "path": "v3/{+name}",
                          "id": "dialogflow.projects.locations.agents.flows.pages.delete",
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "Deletes the specified page.",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "description": "Required. The name of the page to delete. Format: `projects//locations//agents//Flows//pages/`."
                            },
                            "force": {
                              "location": "query",
                              "type": "boolean",
                              "description": "This field has no effect for pages with no incoming transitions. For pages with incoming transitions: * If `force` is set to false, an error will be returned with message indicating the incoming transitions. * If `force` is set to true, Dialogflow will remove the page, as well as any transitions to the page (i.e. Target page in event handlers or Target page in transition routes that point to this page will be cleared)."
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "patch": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "The unique identifier of the page. Required for the Pages.UpdatePage method. Pages.CreatePage populates the name automatically. Format: `projects//locations//agents//flows//pages/`.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$"
                            },
                            "updateMask": {
                              "description": "The mask to control which fields get updated. If the mask is not present, all fields will be updated.",
                              "location": "query",
                              "format": "google-fieldmask",
                              "type": "string"
                            },
                            "languageCode": {
                              "location": "query",
                              "description": "The language of the following fields in `page`: * `Page.entry_fulfillment.messages` * `Page.form.parameters.fill_behavior.initial_prompt_fulfillment.messages` * `Page.form.parameters.fill_behavior.reprompt_event_handlers.messages` * `Page.transition_routes.trigger_fulfillment.messages` * `Page.transition_route_groups.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                              "type": "string"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "description": "Updates the specified page.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.pages.patch",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "httpMethod": "PATCH",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          }
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "load": {
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3LoadVersionRequest"
                          },
                          "id": "dialogflow.projects.locations.agents.flows.versions.load",
                          "description": "Loads a specified version to draft version.",
                          "parameters": {
                            "name": {
                              "description": "Required. The Version to be loaded to draft version. Format: `projects//locations//agents//flows//versions/`.",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3/{+name}:load",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}:load",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "create": {
                          "path": "v3/{+parent}/versions",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.versions.create",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "description": "Required. The Flow to create an Version for. Format: `projects//locations//agents//flows/`."
                            }
                          },
                          "description": "Creates a Version in the specified Flow.",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions"
                        },
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of items to return in a single page. By default 20 and at most 100."
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "type": "string",
                              "description": "Required. The Flow to list all versions for. Format: `projects//locations//agents//flows/`.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "Returns the list of all versions in the specified Flow.",
                          "httpMethod": "GET",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.versions.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListVersionsResponse"
                          },
                          "path": "v3/{+parent}/versions"
                        },
                        "patch": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3/{+name}",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}",
                          "httpMethod": "PATCH",
                          "parameters": {
                            "updateMask": {
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "Required. The mask to control which fields get updated. Currently only `description` and `display_name` can be updated."
                            },
                            "name": {
                              "location": "path",
                              "description": "Format: projects//locations//agents//flows//versions/. Version ID is a self-increasing number generated by Dialogflow upon version creation.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$"
                            }
                          },
                          "description": "Updates the specified Version.",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "id": "dialogflow.projects.locations.agents.flows.versions.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "id": "dialogflow.projects.locations.agents.flows.versions.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}",
                          "path": "v3/{+name}",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "description": "Required. The name of the Version to delete. Format: `projects//locations//agents//flows//versions/`.",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "DELETE",
                          "description": "Deletes the specified Version."
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.versions.get",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Retrieves the specified Version.",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the Version. Format: `projects//locations//agents//flows//versions/`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "path": "v3/{+name}"
                        }
                      }
                    }
                  },
                  "methods": {
                    "create": {
                      "description": "Creates a flow in the specified agent.",
                      "id": "dialogflow.projects.locations.agents.flows.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "description": "Required. The agent to create a flow for. Format: `projects//locations//agents/`."
                        },
                        "languageCode": {
                          "type": "string",
                          "description": "The language of the following fields in `flow`: * `Flow.event_handlers.trigger_fulfillment.messages` * `Flow.transition_routes.trigger_fulfillment.messages` If not specified, the agent's default language is used. [Many languages](https://cloud.google.com/dialogflow/cx/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/flows",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows"
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
[...]
