{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "batchPath": "batch",
  "title": "Dialogflow API",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "path": "v2/{+name}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.operations.cancel"
            },
            "list": {
              "path": "v2/{+name}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "dialogflow.projects.operations.list",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation's parent resource."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}",
              "path": "v2/{+name}",
              "id": "dialogflow.projects.operations.get"
            }
          }
        },
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}:cancel",
                  "id": "dialogflow.projects.locations.operations.cancel"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "dialogflow.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "path": "v2/{+name}/operations",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "agent": {
          "resources": {
            "environments": {
              "resources": {
                "users": {
                  "resources": {
                    "sessions": {
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "create": {
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "httpMethod": "POST",
                              "path": "v2/{+parent}/entityTypes",
                              "parameters": {
                                "parent": {
                                  "description": "Required. The session to create a session entity type for. Format: `projects//agent/sessions/` or `projects//agent/environments//users// sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.create",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "description": "Creates a session entity type. If the specified session entity type already exists, overrides the session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              }
                            },
                            "patch": {
                              "path": "v2/{+name}",
                              "httpMethod": "PATCH",
                              "description": "Updates the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "description": "Required. The unique identifier of this session entity type. Format: `projects//agent/sessions//entityTypes/`, or `projects//agent/environments//users//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. `` must be the display name of an existing entity type in the same agent that will be overridden or supplemented.",
                                  "required": true
                                },
                                "updateMask": {
                                  "description": "Optional. The mask to control which fields get updated.",
                                  "type": "string",
                                  "format": "google-fieldmask",
                                  "location": "query"
                                }
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.patch"
                            },
                            "list": {
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "description": "Required. The session to list all session entity types from. Format: `projects//agent/sessions/` or `projects//agent/environments//users// sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true
                                },
                                "pageSize": {
                                  "format": "int32",
                                  "type": "integer",
                                  "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                                  "location": "query"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional. The next_page_token value returned from a previous list request."
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                              },
                              "httpMethod": "GET",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.list",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "parameterOrder": [
                                "parent"
                              ],
                              "description": "Returns the list of all session entity types in the specified session. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                              "path": "v2/{+parent}/entityTypes"
                            },
                            "get": {
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.get",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "httpMethod": "GET",
                              "description": "Retrieves the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "name": {
                                  "description": "Required. The name of the session entity type. Format: `projects//agent/sessions//entityTypes/` or `projects//agent/environments//users//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v2/{+name}"
                            },
                            "delete": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "DELETE",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "description": "Required. The name of the entity type to delete. Format: `projects//agent/sessions//entityTypes/` or `projects//agent/environments//users//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user."
                                }
                              },
                              "path": "v2/{+name}",
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.delete",
                              "description": "Deletes the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration."
                            }
                          }
                        },
                        "contexts": {
                          "methods": {
                            "delete": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The name of the context to delete. Format: `projects//agent/sessions//contexts/` or `projects//agent/environments//users//sessions//contexts/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user."
                                }
                              },
                              "description": "Deletes the specified context.",
                              "path": "v2/{+name}",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "httpMethod": "DELETE",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}"
                            },
                            "create": {
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "path": "v2/{+parent}/contexts",
                              "description": "Creates a context. If the specified context already exists, overrides the context.",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true,
                                  "description": "Required. The session to create a context for. Format: `projects//agent/sessions/` or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user."
                                }
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "parameterOrder": [
                                "parent"
                              ]
                            },
                            "get": {
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v2/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "required": true,
                                  "description": "Required. The name of the context. Format: `projects//agent/sessions//contexts/` or `projects//agent/environments//users//sessions//contexts/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                  "location": "path"
                                }
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.get",
                              "description": "Retrieves the specified context."
                            },
                            "list": {
                              "path": "v2/{+parent}/contexts",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                              },
                              "httpMethod": "GET",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list",
                              "description": "Returns the list of all contexts in the specified session.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "parameters": {
                                "pageSize": {
                                  "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                                  "format": "int32",
                                  "type": "integer",
                                  "location": "query"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "description": "Optional. The next_page_token value returned from a previous list request.",
                                  "type": "string"
                                },
                                "parent": {
                                  "description": "Required. The session to list all contexts from. Format: `projects//agent/sessions/` or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            },
                            "patch": {
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "path": "v2/{+name}",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "httpMethod": "PATCH",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "required": true,
                                  "description": "Required. The unique identifier of the context. Format: `projects//agent/sessions//contexts/`, or `projects//agent/environments//users//sessions//contexts/`. The `Context ID` is always converted to lowercase, may only contain characters in a-zA-Z0-9_-% and may be at most 250 bytes long. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. The following context names are reserved for internal use by Dialogflow. You should not use these contexts or create contexts with these names: * `__system_counters__` * `*_id_dialog_context` * `*_dialog_params_size`",
                                  "type": "string"
                                },
                                "updateMask": {
                                  "type": "string",
                                  "format": "google-fieldmask",
                                  "location": "query",
                                  "description": "Optional. The mask to control which fields get updated."
                                }
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.patch",
                              "description": "Updates the specified context.",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            }
                          }
                        }
                      },
                      "methods": {
                        "deleteContexts": {
                          "path": "v2/{+parent}/contexts",
                          "description": "Deletes all active contexts in the specified session.",
                          "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                          "httpMethod": "DELETE",
                          "id": "dialogflow.projects.agent.environments.users.sessions.deleteContexts",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. The name of the session to delete all contexts from. Format: `projects//agent/sessions/` or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "detectIntent": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                          },
                          "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}:detectIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                          },
                          "httpMethod": "POST",
                          "path": "v2/{+session}:detectIntent",
                          "id": "dialogflow.projects.agent.environments.users.sessions.detectIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "session"
                          ],
                          "description": "Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause contexts and session entity types to be updated, which in turn might affect results of future queries. Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions).",
                          "parameters": {
                            "session": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the session this query is sent to. Format: `projects//agent/sessions/`, or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we are using \"-\". It's up to the API caller to choose an appropriate `Session ID` and `User Id`. They can be a random number or some type of user and session identifiers (preferably hashed). The length of the `Session ID` and `User ID` must not exceed 36 characters. For more information, see the [API interactions guide](https://cloud.google.com/dialogflow/docs/api-overview). Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions).",
                              "location": "path",
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.environments.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEnvironmentsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Returns the list of all non-draft environments of the specified agent.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The agent to list all environments from. Format: `projects//agent`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list request."
                    }
                  },
                  "path": "v2/{+parent}/environments",
                  "flatPath": "v2/projects/{projectsId}/agent/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "sessions": {
              "resources": {
                "contexts": {
                  "methods": {
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "description": "Updates the specified context.",
                      "id": "dialogflow.projects.agent.sessions.contexts.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The unique identifier of the context. Format: `projects//agent/sessions//contexts/`, or `projects//agent/environments//users//sessions//contexts/`. The `Context ID` is always converted to lowercase, may only contain characters in a-zA-Z0-9_-% and may be at most 250 bytes long. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. The following context names are reserved for internal use by Dialogflow. You should not use these contexts or create contexts with these names: * `__system_counters__` * `*_id_dialog_context` * `*_dialog_params_size`",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. The mask to control which fields get updated.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "PATCH",
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Retrieves the specified context.",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the context. Format: `projects//agent/sessions//contexts/` or `projects//agent/environments//users//sessions//contexts/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}"
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The session to create a context for. Format: `projects//agent/sessions/` or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "description": "Creates a context. If the specified context already exists, overrides the context.",
                      "path": "v2/{+parent}/contexts",
                      "id": "dialogflow.projects.agent.sessions.contexts.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list request."
                        },
                        "parent": {
                          "description": "Required. The session to list all contexts from. Format: `projects//agent/sessions/` or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "dialogflow.projects.agent.sessions.contexts.list",
                      "path": "v2/{+parent}/contexts",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns the list of all contexts in the specified session.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "delete": {
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the context to delete. Format: `projects//agent/sessions//contexts/` or `projects//agent/environments//users//sessions//contexts/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "description": "Deletes the specified context.",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "dialogflow.projects.agent.sessions.contexts.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list request."
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The session to list all session entity types from. Format: `projects//agent/sessions/` or `projects//agent/environments//users// sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/entityTypes",
                      "description": "Returns the list of all session entity types in the specified session. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration."
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "path": "v2/{+name}",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The mask to control which fields get updated.",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "description": "Required. The unique identifier of this session entity type. Format: `projects//agent/sessions//entityTypes/`, or `projects//agent/environments//users//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. `` must be the display name of an existing entity type in the same agent that will be overridden or supplemented.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "description": "Updates the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration."
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The session to create a session entity type for. Format: `projects//agent/sessions/` or `projects//agent/environments//users// sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "description": "Creates a session entity type. If the specified session entity type already exists, overrides the session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/entityTypes"
                    },
                    "delete": {
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "dialogflow.projects.agent.sessions.entityTypes.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "description": "Required. The name of the entity type to delete. Format: `projects//agent/sessions//entityTypes/` or `projects//agent/environments//users//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "get": {
                      "id": "dialogflow.projects.agent.sessions.entityTypes.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the session entity type. Format: `projects//agent/sessions//entityTypes/` or `projects//agent/environments//users//sessions//entityTypes/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Retrieves the specified session entity type. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                    }
                  }
                }
              },
              "methods": {
                "deleteContexts": {
                  "id": "dialogflow.projects.agent.sessions.deleteContexts",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "description": "Required. The name of the session to delete all contexts from. Format: `projects//agent/sessions/` or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes all active contexts in the specified session.",
                  "path": "v2/{+parent}/contexts",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "detectIntent": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}:detectIntent",
                  "description": "Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause contexts and session entity types to be updated, which in turn might affect results of future queries. Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions).",
                  "id": "dialogflow.projects.agent.sessions.detectIntent",
                  "parameters": {
                    "session": {
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the session this query is sent to. Format: `projects//agent/sessions/`, or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we are using \"-\". It's up to the API caller to choose an appropriate `Session ID` and `User Id`. They can be a random number or some type of user and session identifiers (preferably hashed). The length of the `Session ID` and `User ID` must not exceed 36 characters. For more information, see the [API interactions guide](https://cloud.google.com/dialogflow/docs/api-overview). Note: Always use agent versions for production traffic. See [Versions and environments](https://cloud.google.com/dialogflow/es/docs/agents-versions)."
                    }
                  },
                  "parameterOrder": [
                    "session"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                  },
                  "path": "v2/{+session}:detectIntent"
                }
              }
            },
            "intents": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.agent.intents.list",
                  "path": "v2/{+parent}/intents",
                  "description": "Returns the list of all intents in the specified agent.",
                  "parameters": {
                    "intentView": {
                      "enumDescriptions": [
                        "Training phrases field is not populated in the response.",
                        "All fields are populated."
                      ],
                      "description": "Optional. The resource view to apply to the returned intent.",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The agent to list all intents from. Format: `projects//agent`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous list request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListIntentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/intents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "batchUpdate": {
                  "flatPath": "v2/projects/{projectsId}/agent/intents:batchUpdate",
                  "path": "v2/{+parent}/intents:batchUpdate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "description": "Required. The name of the agent to update or create intents in. Format: `projects//agent`."
                    }
                  },
                  "id": "dialogflow.projects.agent.intents.batchUpdate",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Updates/Creates multiple intents in the specified agent. Operation "
                },
                "delete": {
                  "id": "dialogflow.projects.agent.intents.delete",
                  "description": "Deletes the specified intent and its direct or indirect followup intents.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the intent to delete. If this intent has direct or indirect followup intents, we also delete them. Format: `projects//agent/intents/`."
                    }
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "batchDelete": {
                  "path": "v2/{+parent}/intents:batchDelete",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.agent.intents.batchDelete",
                  "flatPath": "v2/projects/{projectsId}/agent/intents:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Deletes intents in the specified agent. Operation ",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the agent to delete all entities types for. Format: `projects//agent`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                  "path": "v2/{+name}",
                  "description": "Retrieves the specified intent.",
                  "httpMethod": "GET",
                  "parameters": {
                    "intentView": {
                      "location": "query",
                      "description": "Optional. The resource view to apply to the returned intent.",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "Training phrases field is not populated in the response.",
                        "All fields are populated."
                      ],
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "description": "Required. The name of the intent. Format: `projects//agent/intents/`.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "id": "dialogflow.projects.agent.intents.get"
                },
                "patch": {
                  "id": "dialogflow.projects.agent.intents.patch",
                  "description": "Updates the specified intent.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "languageCode": {
                      "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Optional. The unique identifier of this intent. Required for Intents.UpdateIntent and Intents.BatchUpdateIntents methods. Format: `projects//agent/intents/`.",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. The mask to control which fields get updated.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "intentView": {
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Training phrases field is not populated in the response.",
                        "All fields are populated."
                      ],
                      "type": "string",
                      "description": "Optional. The resource view to apply to the returned intent."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an intent in the specified agent.",
                  "id": "dialogflow.projects.agent.intents.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "parameters": {
                    "languageCode": {
                      "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The agent to create a intent for. Format: `projects//agent`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "intentView": {
                      "description": "Optional. The resource view to apply to the returned intent.",
                      "enumDescriptions": [
                        "Training phrases field is not populated in the response.",
                        "All fields are populated."
                      ],
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "location": "query"
                    }
                  },
                  "path": "v2/{+parent}/intents",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/agent/intents",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  }
                }
              }
            },
            "entityTypes": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "path": "v2/{+name}",
                  "description": "Retrieves the specified entity type.",
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the entity type. Format: `projects//agent/entityTypes/`.",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.entityTypes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  }
                },
                "batchDelete": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                  },
                  "description": "Deletes entity types in the specified agent. Operation ",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/entityTypes:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the agent to delete all entities types for. Format: `projects//agent`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.entityTypes.batchDelete"
                },
                "list": {
                  "id": "dialogflow.projects.agent.entityTypes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "Returns the list of all entity types in the specified agent.",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return in a single page. By default 100 and at most 1000."
                    },
                    "languageCode": {
                      "type": "string",
                      "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The agent to list all entity types from. Format: `projects//agent`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list request."
                    }
                  },
                  "path": "v2/{+parent}/entityTypes"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "description": "Creates an entity type in the specified agent.",
                  "path": "v2/{+parent}/entityTypes",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "description": "Required. The agent to create a entity type for. Format: `projects//agent`."
                    },
                    "languageCode": {
                      "type": "string",
                      "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "id": "dialogflow.projects.agent.entityTypes.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the entity type to delete. Format: `projects//agent/entityTypes/`."
                    }
                  },
                  "description": "Deletes the specified entity type.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchUpdate": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchUpdate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/entityTypes:batchUpdate",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the agent to update or create entity types in. Format: `projects//agent`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.entityTypes.batchUpdate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Updates/Creates multiple entity types in the specified agent. Operation "
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The unique identifier of the entity type. Required for EntityTypes.UpdateEntityType and EntityTypes.BatchUpdateEntityTypes methods. Format: `projects//agent/entityTypes/`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The mask to control which fields get updated.",
                      "location": "query"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity)."
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the specified entity type.",
                  "path": "v2/{+name}"
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "batchDelete": {
                      "description": "Deletes entities in the specified entity type. Operation ",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the entity type to delete entries for. Format: `projects//agent/entityTypes/`.",
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2/{+parent}/entities:batchDelete"
                    },
                    "batchCreate": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The name of the entity type to create entities in. Format: `projects//agent/entityTypes/`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate",
                      "path": "v2/{+parent}/entities:batchCreate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
                      },
                      "description": "Creates multiple new entities in the specified entity type. Operation ",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate"
                    },
                    "batchUpdate": {
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the entity type to update or create entities in. Format: `projects//agent/entityTypes/`."
                        }
                      },
                      "description": "Updates or creates multiple entities in the specified entity type. This method does not affect entities in the entity type that aren't explicitly specified in the request. Operation ",
                      "path": "v2/{+parent}/entities:batchUpdate",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "restore": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project that the agent to restore is associated with. Format: `projects/`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.agent.restore",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/agent:restore",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2RestoreAgentRequest"
              },
              "httpMethod": "POST",
              "description": "Restores the specified agent from a ZIP file. Replaces the current agent version with a new one. All the intents and entity types in the older version are deleted. After the restore, the restored draft agent will be trained automatically (unless disabled in agent settings). However, once the restore is done, training may not be completed yet. Please call TrainAgent and wait for the operation it returns in order to train explicitly. Operation An operation which tracks when restoring is complete. It only tracks when the draft agent is updated not when it is done training.",
              "flatPath": "v2/projects/{projectsId}/agent:restore",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "getFulfillment": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "id": "dialogflow.projects.agent.getFulfillment",
              "description": "Retrieves the fulfillment.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the fulfillment. Format: `projects//agent/fulfillment`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/agent/fulfillment$"
                }
              },
              "flatPath": "v2/projects/{projectsId}/agent/fulfillment",
              "response": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET"
            },
            "import": {
              "path": "v2/{+parent}/agent:import",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The project that the agent to import is associated with. Format: `projects/`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Imports the specified agent from a ZIP file. Uploads new intents and entity types without deleting the existing ones. Intents and entity types with the same name are replaced with the new versions from ImportAgentRequest. After the import, the imported draft agent will be trained automatically (unless disabled in agent settings). However, once the import is done, training may not be completed yet. Please call TrainAgent and wait for the operation it returns in order to train explicitly. Operation An operation which tracks when importing is complete. It only tracks when the draft agent is updated not when it is done training.",
              "id": "dialogflow.projects.agent.import",
              "flatPath": "v2/projects/{projectsId}/agent:import",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ImportAgentRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "train": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2TrainAgentRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2/{+parent}/agent:train",
              "description": "Trains the specified agent. Operation ",
              "id": "dialogflow.projects.agent.train",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/agent:train",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project that the agent to train is associated with. Format: `projects/`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "export": {
              "id": "dialogflow.projects.agent.export",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
[...]
