{
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "basePath": "",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "version_module": true,
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "",
  "revision": "20210222",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "version": "v2beta1",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1DeleteDocumentOperationMetadata": {
      "description": "Metadata for DeleteDocument operation.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeleteDocumentOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The generic information of the operation.",
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "properties": {
        "audioUri": {
          "description": "Required. URI to a Google Cloud Storage object containing the audio to play, e.g., \"gs://bucket/object\". The object must contain a single channel (mono) of linear PCM audio (2 bytes / sample) at 8kHz. This object must be readable by the `service-@gcp-sa-dialogflow.iam.gserviceaccount.com` service account where is the number of the Telephony Gateway project (usually the same as the Dialogflow agent project). If the Google Cloud Storage bucket is in the Telephony Gateway project, this permission is added by default when enabling the Dialogflow V2 API. For audio from other sources, consider using the `TelephonySynthesizeSpeech` message with SSML.",
          "type": "string"
        }
      },
      "description": "Plays audio from a file in Telephony Gateway.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportDocumentsResponse",
      "description": "Response message for Documents.ImportDocuments.",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Includes details about skipped documents or any other warnings.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "description": "The simple response message containing speech or text.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "type": "object",
      "properties": {
        "displayText": {
          "description": "Optional. The text to display.",
          "type": "string"
        },
        "ssml": {
          "description": "One of text_to_speech or ssml must be provided. Structured spoken response to the user in the SSML format. Mutually exclusive with text_to_speech.",
          "type": "string"
        },
        "textToSpeech": {
          "type": "string",
          "description": "One of text_to_speech or ssml must be provided. The plain text of the speech output. Mutually exclusive with ssml."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1FulfillmentGenericWebService": {
      "type": "object",
      "description": "Represents configuration for a generic web service. Dialogflow supports two mechanisms for authentications: - Basic authentication with username and password. - Authentication with additional authentication headers. More information could be found at: https://cloud.google.com/dialogflow/docs/fulfillment-configure.",
      "id": "GoogleCloudDialogflowV2beta1FulfillmentGenericWebService",
      "properties": {
        "username": {
          "type": "string",
          "description": "The user name for HTTP Basic authentication."
        },
        "isCloudFunction": {
          "description": "Indicates if generic web service is created through Cloud Functions integration. Defaults to false.",
          "type": "boolean"
        },
        "password": {
          "description": "The password for HTTP Basic authentication.",
          "type": "string"
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The HTTP request headers to send together with fulfillment requests.",
          "type": "object"
        },
        "uri": {
          "description": "Required. The fulfillment URI for receiving POST requests. It must use https protocol.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "description": "Represents an intent parameter.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The unique identifier of the parameter. This field is used by training phrases to annotate their parts."
        },
        "isList": {
          "description": "Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        },
        "entityType": {
          "type": "string",
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types."
        },
        "redact": {
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput",
      "type": "object",
      "description": "The output from the virtual agent.",
      "properties": {
        "diagnosticInfo": {
          "description": "Required. Input only. The diagnostic info output for the turn.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "currentPage": {
          "description": "The Page on which the utterance was spoken. Only name and displayName will be set.",
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent",
          "description": "The Intent that triggered the response. Only name and displayName will be set."
        },
        "status": {
          "description": "Response error from the agent in the test result. If set, other output is empty.",
          "$ref": "GoogleRpcStatus"
        },
        "sessionParameters": {
          "description": "The session parameters available to the bot at this point.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          },
          "type": "array",
          "description": "The text responses from the agent for the turn."
        },
        "differences": {
          "description": "Output only. If this is part of a result conversation turn, the list of differences between the original run and the replay for this output, if any.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1UpdateDocumentOperationMetadata": {
      "description": "Metadata for UpdateDocument operation.",
      "id": "GoogleCloudDialogflowV3alpha1UpdateDocumentOperationMetadata",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowV3alpha1GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "properties": {
        "title": {
          "description": "Optional. The title of the collection of quick replies.",
          "type": "string"
        },
        "quickReplies": {
          "description": "Optional. The collection of quick replies.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "description": "The quick replies response message.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest": {
      "properties": {
        "intents": {
          "description": "Required. The collection of intents to delete. Only intent `name` must be filled in.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest",
      "description": "The request message for Intents.BatchDeleteIntents.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "description": "Column properties for TableCard.",
      "properties": {
        "horizontalAlignment": {
          "description": "Optional. Defines text alignment for all cells in this column.",
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ]
        },
        "header": {
          "type": "string",
          "description": "Required. Column heading."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "type": "object",
      "properties": {
        "required": {
          "description": "Indicates whether the parameter is required. Optional parameters will not trigger prompts; however, they are filled if the user specifies them. Required parameters must be filled before form filling concludes.",
          "type": "boolean"
        },
        "entityType": {
          "type": "string",
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types."
        },
        "isList": {
          "description": "Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The human-readable name of the parameter, unique within the form."
        },
        "fillBehavior": {
          "description": "Required. Defines fill behavior for the parameter.",
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        },
        "redact": {
          "type": "boolean",
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled."
        },
        "defaultValue": {
          "description": "The default value of an optional parameter. If the parameter is required, the default value will be ignored.",
          "type": "any"
        }
      },
      "description": "Represents a form parameter.",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter"
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "description": "Name of the created version. Format: `projects//locations//agents//flows//versions/`.",
          "type": "string"
        }
      },
      "description": "Metadata associated with the long running operation for Versions.CreateVersion.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "description": "The response message for TestCases.ImportTestCases.",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse",
      "type": "object",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "The unique identifiers of the new test cases. Format: `projects//locations//agents//testCases/`.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse": {
      "properties": {
        "knowledgeBases": {
          "type": "array",
          "description": "The list of knowledge bases.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse",
      "description": "Response message for KnowledgeBases.ListKnowledgeBases.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "description": "The collection of suggestions.",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "description": "Required. The list of suggested replies.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions"
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest": {
      "type": "object",
      "description": "The request message for EntityTypes.BatchDeleteEntityTypes.",
      "properties": {
        "entityTypeNames": {
          "description": "Required. The names entity types to delete. All names must point to the same agent as `parent`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "description": "The request message for a webhook call.",
      "properties": {
        "payload": {
          "description": "Custom data set in QueryParameters.payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo",
          "description": "Information about the last matched intent."
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo",
          "description": "Information about session status."
        },
        "pageInfo": {
          "description": "Information about page status.",
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "detectIntentResponseId": {
          "description": "Always present. The unique identifier of the DetectIntentResponse that will be returned to the API caller.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "description": "The list of rich message responses to present to the user. Webhook can choose to append or replace this list in WebhookResponse.fulfillment_response;",
          "type": "array"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult",
          "description": "The sentiment analysis result of the current user request. The field is filled when sentiment analysis is configured to be enabled for the request."
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo",
          "description": "Always present. Information about the fulfillment that triggered this webhook call."
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "description": "Setting a parameter value.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction",
      "properties": {
        "value": {
          "type": "any",
          "description": "The new value of the parameter. A null value clears the parameter."
        },
        "parameter": {
          "description": "Display name of the parameter.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "description": "Represents fulfillment information communicated to the webhook.",
      "properties": {
        "tag": {
          "description": "Always present. The tag used to identify which fulfillment is being called.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SpeechContext": {
      "properties": {
        "phrases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of strings containing words and phrases that the speech recognizer should recognize with higher likelihood. This list can be used to: * improve accuracy for words and phrases you expect the user to say, e.g. typical commands for your Dialogflow agent * add additional words to the speech recognizer vocabulary * ... See the [Cloud Speech documentation](https://cloud.google.com/speech-to-text/quotas) for usage limits."
        },
        "boost": {
          "type": "number",
          "description": "Optional. Boost for this context compared to other contexts: * If the boost is positive, Dialogflow will increase the probability that the phrases in this context are recognized over similar sounding phrases. * If the boost is unspecified or non-positive, Dialogflow will not apply any boost. Dialogflow recommends that you use boosts in the range (0, 20] and that you find a value that fits your use case with binary search.",
          "format": "float"
        }
      },
      "description": "Hints for the speech recognizer to help with recognition in a specific conversation state.",
      "id": "GoogleCloudDialogflowV2beta1SpeechContext",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "description": "Additional info about the select item for when it is triggered in a dialog.",
      "properties": {
        "key": {
          "description": "Required. A unique key that will be sent back to the agent if this response is given.",
          "type": "string"
        },
        "synonyms": {
          "description": "Optional. A list of synonyms that can also be used to trigger this item in dialog.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "description": "Represents the natural speech audio to be processed.",
      "properties": {
        "audio": {
          "format": "byte",
          "description": "The natural language speech audio to be processed. A single request can contain up to 1 minute of speech audio data. The transcribed text cannot contain more than 256 bytes. For non-streaming audio detect intent, both `config` and `audio` must be provided. For streaming audio detect intent, `config` must be provided in the first request and `audio` must be provided in all following requests.",
          "type": "string"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
          "description": "Required. Instructs the speech recognizer how to process the speech audio."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "type": "object",
      "properties": {
        "input": {
          "description": "Supports text input, event input, dtmf input in the test case.",
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "isWebhookEnabled": {
          "description": "If webhooks should be allowed to trigger in response to the user utterance. Often if parameters are injected, webhooks should not be enabled.",
          "type": "boolean"
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Parameters that need to be injected into the conversation during intent detection.",
          "type": "object"
        }
      },
      "description": "The input from the human user.",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "properties": {
        "additionalCases": {
          "description": "Additional cases to be evaluated.",
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage",
          "description": "Returned message."
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "description": "The list of messages or conditional cases to activate for this case."
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "properties": {
        "id": {
          "description": "Output only. The unique identifier of the training phrase.",
          "type": "string"
        },
        "repeatCount": {
          "description": "Indicates how many times this example was added to the intent.",
          "format": "int32",
          "type": "integer"
        },
        "parts": {
          "type": "array",
          "description": "Required. The ordered list of training phrase parts. The parts are concatenated in order to form the training phrase. Note: The API does not automatically annotate training phrases like the Dialogflow Console does. Note: Do not forget to include whitespace at part boundaries, so the training phrase is well formatted when the parts are concatenated. If the training phrase does not need to be annotated with parameters, you just need a single part with only the Part.text field set. If you want to annotate the training phrase, you must create multiple parts, where the fields of each part are populated in one of two ways: - `Part.text` is set to a part of the phrase that has no parameters. - `Part.text` is set to a part of the phrase that you want to annotate, and the `parameter_id` field is set.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "description": "Represents an example that the agent is trained on to identify the intent.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. The text for this part."
        },
        "parameterId": {
          "type": "string",
          "description": "The parameter used to annotate this part of the training phrase. This field is required for annotated parts of the training phrase."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "type": "object",
      "description": "Represents a part of a training phrase."
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "description": "Each case has a Boolean condition. When it is evaluated to be True, the corresponding messages will be selected and evaluated recursively.",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "properties": {
        "caseContent": {
          "description": "A list of case content.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        },
        "condition": {
          "description": "The condition to activate and select this case. Empty means the condition is always true. The condition is evaluated against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The unique identifier of this event handler.",
          "type": "string"
        },
        "event": {
          "description": "Required. The name of the event to handle.",
          "type": "string"
        },
        "triggerFulfillment": {
          "description": "The fulfillment to call when the event occurs. Handling webhook errors with a fulfillment enabled with webhook could cause infinite loop. It is invalid to specify such fulfillment for a handler handling webhooks.",
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string",
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`."
        },
        "targetPage": {
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        }
      },
      "description": "An event handler specifies an event that can be handled during a session. When the specified event happens, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the event, it will be called. * If there is a `target_page` associated with the event, the session will transition into the specified page. * If there is a `target_flow` associated with the event, the session will transition into the specified flow.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EventHandler"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "properties": {
        "id": {
          "description": "Required. The unique identifier of the parameter. This field is used by training phrases to annotate their parts.",
          "type": "string"
        },
        "isList": {
          "description": "Indicates whether the parameter represents a list of values.",
          "type": "boolean"
        },
        "redact": {
          "description": "Indicates whether the parameter content should be redacted in log. If redaction is enabled, the parameter content will be replaced by parameter name during logging. Note: the parameter content is subject to redaction if either parameter level redaction or entity type level redaction is enabled.",
          "type": "boolean"
        },
        "entityType": {
          "description": "Required. The entity type of the parameter. Format: `projects/-/locations/-/agents/-/entityTypes/` for system entity types (for example, `projects/-/locations/-/agents/-/entityTypes/sys.date`), or `projects//locations//agents//entityTypes/` for developer entity types.",
          "type": "string"
        }
      },
      "description": "Represents an intent parameter.",
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "properties": {
        "targetPage": {
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "intent": {
          "description": "The unique identifier of an Intent. Format: `projects//locations//agents//intents/`. Indicates that the transition can only happen when the given intent is matched. At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "The condition to evaluate against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition). At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled."
        },
        "triggerFulfillment": {
          "description": "The fulfillment to call when the condition is satisfied. At least one of `trigger_fulfillment` and `target` must be specified. When both are defined, `trigger_fulfillment` is executed first.",
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "name": {
          "description": "Output only. The unique identifier of this transition route.",
          "type": "string",
          "readOnly": true
        },
        "targetFlow": {
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`.",
          "type": "string"
        }
      },
      "description": "A transition route specifies a intent that can be matched and/or a data condition that can be evaluated during a session. When a specified transition is matched, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the transition, it will be called. * If there is a `target_page` associated with the transition, the session will transition into the specified page. * If there is a `target_flow` associated with the transition, the session will transition into the specified flow.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportDocumentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportDocumentsResponse",
      "properties": {
        "warnings": {
          "description": "Includes details about skipped documents or any other warnings.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "description": "Response message for Documents.ImportDocuments."
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "properties": {
        "targetPage": {
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "Information about session status. This field can be omitted by the webhook if it does not intend to modify session status.",
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "fulfillmentResponse": {
          "description": "The fulfillment response to send to the user. This field can be omitted by the webhook if it does not intend to send any response to the user.",
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo",
          "description": "Information about page status. This field can be omitted by the webhook if it does not intend to modify page status."
        },
        "targetFlow": {
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`.",
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Value to append directly to QueryResult.webhook_payloads."
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "description": "The response message for a webhook call.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "description": "An answer from Knowledge Connector.",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "type": "object",
      "properties": {
        "matchConfidence": {
          "description": "The system's confidence score that this Knowledge answer is a good match for this conversational query. The range is from 0.0 (completely uncertain) to 1.0 (completely certain). Note: The confidence score is likely to vary somewhat (possibly even for identical requests), as the underlying model is under constant improvement. It may be deprecated in the future. We recommend using `match_confidence_level` which should be generally more stable.",
          "type": "number",
          "format": "float"
        },
        "answer": {
          "description": "The piece of text from the `source` knowledge base document that answers this conversational query.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Indicates which Knowledge Document this answer was extracted from. Format: `projects//knowledgeBases//documents/`."
        },
        "matchConfidenceLevel": {
          "type": "string",
          "description": "The system's confidence level that this knowledge answer is a good match for this conversational query. NOTE: The confidence level for a given `` pair may change without notice, as it depends on models that are constantly being improved. However, it will change less frequently than the confidence score below, and should be preferred for referencing the quality of an answer.",
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Indicates that the confidence is low.",
            "Indicates our confidence is medium.",
            "Indicates our confidence is high."
          ]
        },
        "faqQuestion": {
          "description": "The corresponding FAQ question if the answer was extracted from a FAQ Document, empty otherwise.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "description": "The request message for a webhook call.",
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult",
          "description": "The result of the conversational query or event processing. Contains the same value as `[Streaming]DetectIntentResponse.query_result`."
        },
        "responseId": {
          "description": "The unique identifier of the response. Contains the same value as `[Streaming]DetectIntentResponse.response_id`.",
          "type": "string"
        },
        "session": {
          "type": "string",
          "description": "The unique identifier of detectIntent request session. Can be used to identify end-user inside webhook implementation. Supported formats: - `projects//agent/sessions/, - `projects//locations//agent/sessions/`, - `projects//agent/environments//users//sessions/`, - `projects//locations//agent/environments//users//sessions/`,"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
          "description": "Optional. The contents of the original request that was passed to `[Streaming]DetectIntent` call."
        },
        "alternativeQueryResults": {
          "description": "Alternative query results from KnowledgeService.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "description": "The collection of simple response candidates. This message in `QueryResult.fulfillment_messages` and `WebhookResponse.fulfillment_messages` should contain only one `SimpleResponse`.",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "type": "object",
      "properties": {
        "simpleResponses": {
          "description": "Required. The list of simple responses.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "description": "The image response message.",
      "properties": {
        "imageUri": {
          "type": "string",
          "description": "Optional. The public URI to an image file."
        },
        "accessibilityText": {
          "type": "string",
          "description": "A text description of the image to be used for accessibility, e.g., screen readers. Required if image_uri is set for CarouselSelect."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CreateDocumentOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1CreateDocumentOperationMetadata",
      "description": "Metadata for CreateDocument operation.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "properties": {
        "text": {
          "description": "Required. The UTF-8 encoded natural language text to be processed. Text length must not exceed 256 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "type": "object",
      "description": "Represents the natural language text to be processed."
    },
    "GoogleCloudDialogflowV2beta1OutputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "enumDescriptions": [
            "Not specified.",
            "Uncompressed 16-bit signed little-endian samples (Linear PCM). Audio content returned as LINEAR16 also contains a WAV header.",
            "MP3 audio at 32kbps.",
            "Opus encoded audio wrapped in an ogg container. The result will be a file which can be played natively on Android, and in browsers (at least Chrome and Firefox). The quality of the encoding is considerably higher than MP3 while using approximately the same bitrate."
          ],
          "description": "Required. Audio encoding of the synthesized audio content.",
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS"
          ],
          "type": "string"
        },
        "synthesizeSpeechConfig": {
          "description": "Configuration of how speech should be synthesized.",
          "$ref": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig"
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer",
          "description": "The synthesis sample rate (in hertz) for this audio. If not provided, then the synthesizer will use the default sample rate based on the audio encoding. If this is different from the voice's natural sample rate, then the synthesizer will honor this request by converting to the desired sample rate (which might result in worse audio quality)."
        }
      },
      "description": "Instructs the speech synthesizer how to generate the output audio content. If this audio config is supplied in a request, it overrides all existing text-to-speech settings applied to the agent.",
      "id": "GoogleCloudDialogflowV2beta1OutputAudioConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "properties": {
        "items": {
          "description": "Required. Carousel items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "description": "The card for presenting a carousel of options to select from."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "description": "Browsing carousel tile",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage",
          "description": "Optional. Hero image for the carousel item."
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item. Maximum of two lines of text."
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
          "description": "Required. Action to present to the user."
        },
        "description": {
          "description": "Optional. Description of the carousel item. Maximum of four lines of text.",
          "type": "string"
        },
        "footer": {
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SearchAgentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SearchAgentsResponse",
      "description": "The response message for Agents.SearchAgents.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "agents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "type": "array",
          "description": "The list of agents. There will be a maximum number of items returned based on the page_size field in the request."
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction",
      "description": "Setting a parameter value.",
      "properties": {
        "parameter": {
          "type": "string",
          "description": "Display name of the parameter."
        },
        "value": {
          "type": "any",
          "description": "The new value of the parameter. A null value clears the parameter."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "description": "The response message for a webhook call. This response is validated by the Dialogflow server. If validation fails, an error will be returned in the QueryResult.diagnostic_info field. Setting JSON fields to an empty value with the wrong type is a common error. To avoid this error: - Use `\"\"` for empty strings - Use `{}` or `null` for empty objects - Use `[]` or `null` for empty arrays For more information, see the [Protocol Buffers Language Guide](https://developers.google.com/protocol-buffers/docs/proto3#json).",
      "properties": {
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "description": "Optional. The rich response messages intended for the end-user. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_messages sent to the integration or API caller."
        },
        "outputContexts": {
          "type": "array",
          "description": "Optional. The collection of output contexts that will overwrite currently active contexts for the session and reset their lifespans. When provided, Dialogflow uses this field to populate QueryResult.output_contexts sent to the integration or API caller.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput",
          "description": "Optional. Invokes the supplied events. When this field is set, Dialogflow ignores the `fulfillment_text`, `fulfillment_messages`, and `payload` fields."
        },
        "source": {
          "description": "Optional. A custom field used to identify the webhook source. Arbitrary strings are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_source sent to the integration or API caller.",
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string",
          "description": "Optional. The text response message intended for the end-user. It is recommended to use `fulfillment_messages.text.text[0]` instead. When provided, Dialogflow uses this field to populate QueryResult.fulfillment_text sent to the integration or API caller."
        },
        "sessionEntityTypes": {
          "description": "Optional. Additional session entity types to replace or extend developer entity types with. The entity synonyms apply to all languages and persist for the session. Setting this data from a webhook overwrites the session entity types that have been set using `detectIntent`, `streamingDetectIntent` or SessionEntityType management methods.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "type": "array"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. This field can be used to pass custom data from your webhook to the integration or API caller. Arbitrary JSON objects are supported. When provided, Dialogflow uses this field to populate QueryResult.webhook_payload sent to the integration or API caller. This field is also used by the [Google Assistant integration](https://cloud.google.com/dialogflow/docs/integrations/aog) for rich response messages. See the format definition at [Google Assistant Dialogflow webhook format](https://developers.google.com/assistant/actions/build/json/dialogflow-webhook-json)"
        }
      },
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestion": {
      "type": "object",
      "description": "The suggestion chip message that the user can tap to quickly post a reply to the conversation.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion",
      "properties": {
        "title": {
          "description": "Required. The text shown the in the suggestion chip.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "properties": {
        "results": {
          "type": "array",
          "description": "The test case results. The detailed conversation turns are empty in this response.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse",
      "description": "The response message for TestCases.BatchRunTestCases."
    },
    "GoogleCloudDialogflowCxV3ReloadDocumentOperationMetadata": {
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3GenericKnowledgeOperationMetadata",
          "description": "The generic information of the operation."
        }
      },
      "description": "Metadata for ReloadDocument operation.",
      "id": "GoogleCloudDialogflowCxV3ReloadDocumentOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "description": "Represents a result from running a test case in an agent environment.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCaseResult",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name for the test case result. Format: `projects//locations//agents//testCases/ /results/`."
        },
        "environment": {
          "type": "string",
          "description": "Environment where the test was run. If not set, it indicates the draft environment."
        },
        "conversationTurns": {
          "type": "array",
          "description": "The conversation turns uttered during the test case replay in chronological order.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "testResult": {
          "description": "Whether the test case passed in the agent environment.",
          "type": "string",
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not specified. Should never be used.",
            "The test passed.",
            "The test did not pass."
          ]
        },
        "testTime": {
          "description": "The time that the test was run.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
          },
          "description": "Segments this audio response is composed of.",
          "type": "array"
        }
      },
      "description": "Represents an audio message that is composed of both segments synthesized from the Dialogflow agent prompts and ones hosted externally at the specified URIs. The external URIs are specified via play_audio. This message is generated by Dialogflow only and not supposed to be defined by the user.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item."
        },
        "image": {
          "description": "Optional. The image to display.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
          "description": "Required. Additional info about the option item."
        },
        "description": {
          "type": "string",
          "description": "Optional. The body text of the card."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem",
      "type": "object",
      "description": "An item in the carousel."
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "description": "Represents a fulfillment response to the user.",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "properties": {
        "mergeBehavior": {
          "description": "Merge behavior for `messages`.",
          "enumDescriptions": [
            "Not specified. `APPEND` will be used.",
            "`messages` will be appended to the list of messages waiting to be sent to the user.",
            "`messages` will replace the list of messages waiting to be sent to the user."
          ],
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "type": "string"
        },
        "messages": {
          "description": "The list of rich message responses to present to the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse",
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "The URI to a file containing the exported test cases. This field is populated only if `gcs_uri` is specified in ExportTestCasesRequest.",
          "type": "string"
        },
        "content": {
          "description": "Uncompressed raw byte content for test cases.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "The response message for TestCases.ExportTestCases."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "properties": {
        "uri": {
          "description": "Required. The HTTP or HTTPS scheme URI.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "type": "object",
      "description": "Opens the given URI."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "description": "The suggestion chip message that allows the user to jump out to the app or website associated with this agent.",
      "properties": {
        "uri": {
          "description": "Required. The URI of the app or site to open when the user taps the suggestion chip.",
          "type": "string"
        },
        "destinationName": {
          "type": "string",
          "description": "Required. The name of the app or site this chip is linking to."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "description": "Represents the input for dtmf event.",
      "id": "GoogleCloudDialogflowCxV3DtmfInput",
      "properties": {
        "finishDigit": {
          "description": "The finish digit (if any).",
          "type": "string"
        },
        "digits": {
          "type": "string",
          "description": "The dtmf digits."
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GcsSource": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The Google Cloud Storage URIs for the inputs. A URI is of the form: gs://bucket/object-prefix-or-name Whether a prefix or name is used depends on the use case.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GcsSource",
      "description": "Google Cloud Storage location for single input."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell",
      "description": "Cell of TableCardRow.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Required. Text in this cell."
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "properties": {
        "urlTypeHint": {
          "enumDescriptions": [
            "Unspecified",
            "Url would be an amp action",
            "URL that points directly to AMP content, or to a canonical URL which refers to AMP content via ."
          ],
          "type": "string",
          "description": "Optional. Specifies the type of viewer that is used when opening the URL. Defaults to opening via web browser.",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        },
        "url": {
          "description": "Required. URL",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "description": "Actions on Google action to open a given url.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "description": "Required. The phone number to transfer the call to in [E.164 format](https://en.wikipedia.org/wiki/E.164). We currently only allow transferring to US numbers (+1xxxyyyzzzz).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Transfers the call in Telephony Gateway.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The language of the input. See [Language Support](https://cloud.google.com/dialogflow/cx/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language."
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput",
          "description": "The natural language speech audio to be processed."
        },
        "event": {
          "description": "The event to be triggered.",
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "intent": {
          "description": "The intent to be triggered.",
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "dtmf": {
          "description": "The DTMF event to be handled.",
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "text": {
          "description": "The natural language text to be processed.",
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        }
      },
      "type": "object",
      "description": "Represents the query input. It can contain one of: 1. A conversational query in the form of text. 2. An intent query that specifies which intent to trigger. 3. Natural language speech audio to be processed. 4. An event to be triggered. "
    },
    "GoogleCloudDialogflowV2beta1Document": {
      "type": "object",
      "properties": {
        "contentUri": {
          "type": "string",
          "description": "The URI where the file content is located. For documents stored in Google Cloud Storage, these URIs must have the form `gs:///`. NOTE: External URLs must correspond to public webpages, i.e., they must be indexed by Google Search. In particular, URLs for showing documents in Google Cloud Storage (i.e. the URL in your browser) are not supported. Instead use the `gs://` format URI described above."
        },
        "knowledgeTypes": {
          "description": "Required. The knowledge type of document content.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA"
            ],
            "enumDescriptions": [
              "The type is unspecified or arbitrary.",
              "The document content contains question and answer pairs as either HTML or CSV. Typical FAQ HTML formats are parsed accurately, but unusual formats may fail to be parsed. CSV must have questions in the first column and answers in the second, with no header. Because of this explicit format, they are always parsed accurately.",
              "Documents for which unstructured text is extracted and used for question answering."
            ]
          }
        },
        "content": {
          "description": "The raw content of the document. This field is only permitted for EXTRACTIVE_QA and FAQ knowledge types. Note: This field is in the process of being deprecated, please use raw_content instead.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The document resource name. The name must be empty when creating a document. Format: `projects//locations//knowledgeBases//documents/`.",
          "type": "string"
        },
        "latestReloadStatus": {
          "description": "Output only. The time and status of the latest reload. This reload may have been triggered automatically or manually and may not have succeeded.",
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1DocumentReloadStatus"
        },
        "enableAutoReload": {
          "description": "Optional. If true, we try to automatically reload the document every day (at a time picked by the system). If false or unspecified, we don't try to automatically reload the document. Currently you can only enable automatic reload for documents sourced from a public url, see `source` field for the source types. Reload status can be tracked in `latest_reload_status`. If a reload fails, we will keep the document unchanged. If a reload fails with internal errors, the system will try to reload the document on the next day. If a reload fails with non-retriable errors (e.g. PERMISION_DENIED), the system will not try to reload the document anymore. You need to manually reload the document successfully by calling `ReloadDocument` and clear the errors.",
          "type": "boolean"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The MIME type of this document."
        },
        "displayName": {
          "description": "Required. The display name of the document. The name must be 1024 bytes or less; otherwise, the creation request fails.",
          "type": "string"
        },
        "rawContent": {
          "format": "byte",
          "description": "The raw content of the document. This field is only permitted for EXTRACTIVE_QA and FAQ knowledge types.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Document",
      "description": "A knowledge document to be used by a KnowledgeBase. For more information, see the [knowledge base guide](https://cloud.google.com/dialogflow/docs/how/knowledge-bases). Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`."
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "description": "Error info for importing a test.",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status associated with the test case."
        },
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase",
          "description": "The test case."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError"
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "description": "Represents the contents of the original request that was passed to the `[Streaming]DetectIntent` call.",
      "properties": {
        "payload": {
          "type": "object",
          "description": "Optional. This field is set to the value of the `QueryParameters.payload` field passed in the request. Some integrations that query a Dialogflow agent may provide additional information in the payload. In particular, for the Dialogflow Phone Gateway integration, this field has the form: { \"telephony\": { \"caller_id\": \"+18558363987\" } } Note: The caller ID field (`caller_id`) will be redacted for Trial Edition agents and populated with the caller ID in [E.164 format](https://en.wikipedia.org/wiki/E.164) for Essentials Edition agents.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "source": {
          "type": "string",
          "description": "The source of this request, e.g., `google`, `facebook`, `slack`. It is set by Dialogflow-owned servers."
        },
        "version": {
          "description": "Optional. The version of the protocol used for this request. This field is AoG-specific.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "description": "Indicates that interaction with the Dialogflow agent has ended. This message is generated by Dialogflow only and not supposed to be defined by the user.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "type": "object",
      "description": "The suggestion chip message that allows the user to jump out to the app or website associated with this agent.",
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "properties": {
        "uri": {
          "description": "Required. The URI of the app or site to open when the user taps the suggestion chip.",
          "type": "string"
        },
        "destinationName": {
          "description": "Required. The name of the app or site this chip is linking to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "properties": {
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput",
          "description": "The virtual agent output."
        },
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
          "description": "The user input."
        }
      },
      "type": "object",
      "description": "One interaction between a human and virtual agent. The human provides some input and the virtual agent provides a response.",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "description": "Represents the query input. It can contain one of: 1. A conversational query in the form of text. 2. An intent query that specifies which intent to trigger. 3. Natural language speech audio to be processed. 4. An event to be triggered. ",
      "id": "GoogleCloudDialogflowCxV3QueryInput",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The language of the input. See [Language Support](https://cloud.google.com/dialogflow/cx/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language."
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput",
          "description": "The natural language speech audio to be processed."
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput",
          "description": "The event to be triggered."
        },
        "dtmf": {
          "description": "The DTMF event to be handled.",
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput",
          "description": "The intent to be triggered."
        },
        "text": {
          "description": "The natural language text to be processed.",
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeBase": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the knowledge base. The name must be 1024 bytes or less; otherwise, the creation request fails.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The knowledge base resource name. The name must be empty when creating a knowledge base. Format: `projects//locations//knowledgeBases/`."
        },
        "languageCode": {
          "type": "string",
          "description": "Language which represents the KnowledgeBase. When the KnowledgeBase is created/updated, this is populated for all non en-us languages. If not populated, the default language en-us applies."
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeBase",
      "description": "A knowledge base represents a collection of knowledge documents that you provide to Dialogflow. Your knowledge documents contain information that may be useful during conversations with end-users. Some Dialogflow features use knowledge bases when looking for a response to an end-user input. For more information, see the [knowledge base guide](https://cloud.google.com/dialogflow/docs/how/knowledge-bases). Note: The `projects.agent.knowledgeBases` resource is deprecated; only use `projects.knowledgeBases`."
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "description": "Represents the result of sentiment analysis.",
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        },
        "magnitude": {
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment, regardless of score (positive or negative).",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "description": "Optional. Contains information about a button.",
      "properties": {
        "postback": {
          "type": "string",
          "description": "Optional. The text to send back to the Dialogflow API or a URI to open."
        },
        "text": {
          "description": "Optional. The text to show on the button.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "description": "Metadata returned for the TestCases.ExportTestCases long running operation.",
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "description": "The text response message.",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A collection of text responses."
        },
        "allowPlaybackInterruption": {
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "description": "Table card for Actions on Google.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "properties": {
        "rows": {
          "type": "array",
          "description": "Optional. Rows in this table of data.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          }
        },
        "image": {
          "description": "Optional. Image which should be displayed on the card.",
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "description": "Optional. List of buttons for the card."
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the card."
        },
        "subtitle": {
          "description": "Optional. Subtitle to the title.",
          "type": "string"
        },
        "columnProperties": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          },
          "type": "array",
          "description": "Optional. Display properties for the columns in this table."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. This field is set to the value of the `QueryParameters.payload` field passed in the request. Some integrations that query a Dialogflow agent may provide additional information in the payload. In particular, for the Dialogflow Phone Gateway integration, this field has the form: { \"telephony\": { \"caller_id\": \"+18558363987\" } } Note: The caller ID field (`caller_id`) will be redacted for Trial Edition agents and populated with the caller ID in [E.164 format](https://en.wikipedia.org/wiki/E.164) for Essentials Edition agents."
        },
        "version": {
          "type": "string",
          "description": "Optional. The version of the protocol used for this request. This field is AoG-specific."
        },
        "source": {
          "type": "string",
          "description": "The source of this request, e.g., `google`, `facebook`, `slack`. It is set by Dialogflow-owned servers."
        }
      },
      "description": "Represents the contents of the original request that was passed to the `[Streaming]DetectIntent` call.",
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "type": "object",
      "description": "A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message.",
      "properties": {
        "ssml": {
          "type": "string",
          "description": "The SSML text to be synthesized. For more information, see [SSML](/speech/text-to-speech/docs/ssml)."
        },
        "text": {
          "description": "The raw text to be synthesized.",
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "description": "Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
    },
    "GoogleCloudDialogflowV2beta1RestoreAgentRequest": {
      "properties": {
        "agentContent": {
          "format": "byte",
          "type": "string",
          "description": "Zip compressed raw byte content for agent."
        },
        "agentUri": {
          "description": "The URI to a Google Cloud Storage file containing the agent to restore. Note: The URI must start with \"gs://\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1RestoreAgentRequest",
      "description": "The request message for Agents.RestoreAgent."
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "description": "Dialogflow contexts are similar to natural language context. If a person says to you \"they are orange\", you need context in order to understand what \"they\" is referring to. Similarly, for Dialogflow to handle an end-user expression like that, it needs to be provided with context in order to correctly match an intent. Using contexts, you can control the flow of a conversation. You can configure contexts for an intent by setting input and output contexts, which are identified by string names. When an intent is matched, any configured output contexts for that intent become active. While any contexts are active, Dialogflow is more likely to match intents that are configured with input contexts that correspond to the currently active contexts. For more information about context, see the [Contexts guide](https://cloud.google.com/dialogflow/docs/contexts-overview).",
      "id": "GoogleCloudDialogflowV2beta1Context",
      "type": "object",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. The collection of parameters associated with this context. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter's entity type is a composite entity: map - Else: depending on parameter value type, could be one of string, number, boolean, null, list or map - MapValue value: - If parameter's entity type is a composite entity: map from composite entity property names to property values - Else: parameter value"
        },
        "lifespanCount": {
          "type": "integer",
          "description": "Optional. The number of conversational query requests after which the context expires. The default is `0`. If set to `0`, the context expires immediately. Contexts expire automatically after 20 minutes if there are no matching queries.",
          "format": "int32"
        },
        "name": {
          "description": "Required. The unique identifier of the context. Supported formats: - `projects//agent/sessions//contexts/`, - `projects//locations//agent/sessions//contexts/`, - `projects//agent/environments//users//sessions//contexts/`, - `projects//locations//agent/environments//users//sessions//contexts/`, The `Context ID` is always converted to lowercase, may only contain characters in a-zA-Z0-9_-% and may be at most 250 bytes long. If `Environment ID` is not specified, we assume default 'draft' environment. If `User ID` is not specified, we assume default '-' user. The following context names are reserved for internal use by Dialogflow. You should not use these contexts or create contexts with these names: * `__system_counters__` * `*_id_dialog_context` * `*_dialog_params_size`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "description": "Opens the device's location chooser so the user can pick a location to send back to the agent.",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest": {
      "properties": {
        "entities": {
          "type": "array",
          "description": "Required. The entities to create.",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "languageCode": {
          "description": "Optional. The language used to access language-specific data. If not specified, the agent's default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest",
      "description": "The request message for EntityTypes.BatchCreateEntities."
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "properties": {
        "formattedText": {
          "description": "Required, unless image is present. The body text of the card.",
          "type": "string"
        },
        "buttons": {
          "description": "Optional. The collection of card buttons.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the card."
        },
        "image": {
          "description": "Optional. The image for the card.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "subtitle": {
          "description": "Optional. The subtitle of the card.",
          "type": "string"
        }
      },
      "description": "The basic card message. Useful for displaying information.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "properties": {
        "header": {
          "type": "string",
          "description": "Required. Column heading."
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "enumDescriptions": [
            "Text is aligned to the leading edge of the column.",
            "Text is aligned to the leading edge of the column.",
            "Text is centered in the column.",
            "Text is aligned to the trailing edge of the column."
          ],
          "description": "Optional. Defines text alignment for all cells in this column.",
          "type": "string"
        }
      },
      "description": "Column properties for TableCard.",
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of synonyms that can also be used to trigger this item in dialog.",
          "type": "array"
        },
        "key": {
          "description": "Required. A unique key that will be sent back to the agent if this response is given.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Additional info about the select item for when it is triggered in a dialog.",
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          },
          "type": "array",
          "description": "Parameters to collect from the user."
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "description": "A form is a data model that groups related parameters that can be collected from the user. The process in which the agent prompts the user and collects parameter values from the user is called form filling. A form can be added to a page. When form filling is done, the filled parameters will be written to the session."
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "type": "object",
      "properties": {
        "image": {
          "description": "Optional. Hero image for the carousel item.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the carousel item. Maximum of four lines of text."
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
          "description": "Required. Action to present to the user."
        },
        "footer": {
          "description": "Optional. Text that appears at the bottom of the Browse Carousel Card. Maximum of one line of text.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the carousel item. Maximum of two lines of text."
        }
      },
      "description": "Browsing carousel tile"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "type": "object",
      "properties": {
        "info": {
          "description": "Required. Additional information about this option.",
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "description": "Optional. The main text describing the item.",
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage",
          "description": "Optional. The image to display."
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the list item."
        }
      },
      "description": "An item in the list."
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
          "description": "Required. Action to take when a user taps on the button."
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the button."
        }
      },
      "description": "The button object that appears at the bottom of a card.",
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "type": "object",
      "properties": {
        "dividerAfter": {
          "type": "boolean",
          "description": "Optional. Whether to add a visual divider after this row."
        },
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "description": "Optional. List of cells that make up this row.",
          "type": "array"
        }
      },
      "description": "Row of TableCard.",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "description": "The list of rich message responses to present to the user."
        },
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "Not specified. `APPEND` will be used.",
            "`messages` will be appended to the list of messages waiting to be sent to the user.",
            "`messages` will replace the list of messages waiting to be sent to the user."
          ],
          "description": "Merge behavior for `messages`.",
          "type": "string"
        }
      },
      "description": "Represents a fulfillment response to the user.",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "type": "object",
      "description": "Contains information about a button.",
      "properties": {
        "text": {
          "description": "Optional. The text to show on the button.",
          "type": "string"
        },
        "postback": {
          "type": "string",
          "description": "Optional. The text to send back to the Dialogflow API or a URI to open."
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          },
          "description": "The collection of updated or created entity types.",
          "type": "array"
        }
      },
      "description": "The response message for EntityTypes.BatchUpdateEntityTypes."
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "properties": {
        "testTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the test was run."
        },
        "conversationTurns": {
          "description": "The conversation turns uttered during the test case replay in chronological order.",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "type": "array"
        },
        "testResult": {
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not specified. Should never be used.",
            "The test passed.",
            "The test did not pass."
          ],
          "description": "Whether the test case passed in the agent environment.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the test case result. Format: `projects//locations//agents//testCases/ /results/`."
        },
        "environment": {
          "description": "Environment where the test was run. If not set, it indicates the draft environment.",
          "type": "string"
        }
      },
      "description": "Represents a result from running a test case in an agent environment.",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "properties": {
        "intent": {
          "description": "The unique identifier of an Intent. Format: `projects//locations//agents//intents/`. Indicates that the transition can only happen when the given intent is matched. At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled.",
          "type": "string"
        },
        "condition": {
          "description": "The condition to evaluate against form parameters or session parameters. See the [conditions reference](https://cloud.google.com/dialogflow/cx/docs/reference/condition). At least one of `intent` or `condition` must be specified. When both `intent` and `condition` are specified, the transition can only happen when both are fulfilled.",
          "type": "string"
        },
        "targetFlow": {
          "description": "The target flow to transition to. Format: `projects//locations//agents//flows/`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique identifier of this transition route.",
          "readOnly": true
        },
        "targetPage": {
          "description": "The target page to transition to. Format: `projects//locations//agents//flows//pages/`.",
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment",
          "description": "The fulfillment to call when the condition is satisfied. At least one of `trigger_fulfillment` and `target` must be specified. When both are defined, `trigger_fulfillment` is executed first."
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionRoute",
      "description": "A transition route specifies a intent that can be matched and/or a data condition that can be evaluated during a session. When a specified transition is matched, the following actions are taken in order: * If there is a `trigger_fulfillment` associated with the transition, it will be called. * If there is a `target_page` associated with the transition, the session will transition into the specified page. * If there is a `target_flow` associated with the transition, the session will transition into the specified flow."
    },
    "GoogleCloudDialogflowV2beta1VoiceSelectionParams": {
      "type": "object",
      "description": "Description of which voice to use for speech synthesis.",
      "id": "GoogleCloudDialogflowV2beta1VoiceSelectionParams",
      "properties": {
        "name": {
          "description": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code and ssml_gender. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices).",
          "type": "string"
        },
[...]
