{
  "rootUrl": "https://displayvideo.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "name": "displayvideo",
  "batchPath": "batch",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "documentationLink": "https://developers.google.com/display-video/",
  "revision": "20210218",
  "description": "Display & Video 360 API allows users to manage and create campaigns and reports.",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "servicePath": "",
  "discoveryVersion": "v1",
  "basePath": "",
  "version": "v1",
  "resources": {
    "inventorySourceGroups": {
      "methods": {
        "list": {
          "path": "v1/inventorySourceGroups",
          "response": {
            "$ref": "ListInventorySourceGroupsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Lists inventory source groups that are accessible to the current user. The order is defined by the order_by parameter.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListInventorySources` method. If not specified, the first page of results will be returned."
            },
            "advertiserId": {
              "format": "int64",
              "description": "The ID of the advertiser that has access to the inventory source group. If an inventory source group is partner-owned, only advertisers to which the group is explicitly shared can access the group.",
              "location": "query",
              "type": "string"
            },
            "partnerId": {
              "description": "The ID of the partner that has access to the inventory source group. A partner cannot access advertiser-owned inventory source groups.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`.",
              "format": "int32"
            },
            "filter": {
              "type": "string",
              "description": "Allows filtering by inventory source group properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `inventorySourceGroupId` The length of this field should be no more than 500 characters.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `inventorySourceGroupId` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
            }
          },
          "id": "displayvideo.inventorySourceGroups.list",
          "flatPath": "v1/inventorySourceGroups",
          "parameterOrder": []
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameterOrder": [
            "inventorySourceGroupId"
          ],
          "id": "displayvideo.inventorySourceGroups.get",
          "response": {
            "$ref": "InventorySourceGroup"
          },
          "path": "v1/inventorySourceGroups/{+inventorySourceGroupId}",
          "parameters": {
            "inventorySourceGroupId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the inventory source group to fetch."
            },
            "advertiserId": {
              "description": "The ID of the advertiser that has access to the inventory source group. If an inventory source group is partner-owned, only advertisers to which the group is explicitly shared can access the group.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "The ID of the partner that has access to the inventory source group. A partner cannot access an advertiser-owned inventory source group."
            }
          },
          "flatPath": "v1/inventorySourceGroups/{inventorySourceGroupsId}",
          "description": "Gets an inventory source group."
        },
        "create": {
          "id": "displayvideo.inventorySourceGroups.create",
          "request": {
            "$ref": "InventorySourceGroup"
          },
          "path": "v1/inventorySourceGroups",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v1/inventorySourceGroups",
          "description": "Creates a new inventory source group. Returns the newly created inventory source group if successful.",
          "parameters": {
            "partnerId": {
              "location": "query",
              "description": "The ID of the partner that owns the inventory source group. Only this partner will have write access to this group. Only advertisers to which this group is explicitly shared will have read access to this group.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the advertiser that owns the inventory source group. The parent partner will not have access to this group.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "InventorySourceGroup"
          },
          "httpMethod": "POST"
        },
        "patch": {
          "id": "displayvideo.inventorySourceGroups.patch",
          "httpMethod": "PATCH",
          "flatPath": "v1/inventorySourceGroups/{inventorySourceGroupId}",
          "response": {
            "$ref": "InventorySourceGroup"
          },
          "description": "Updates an inventory source group. Returns the updated inventory source group if successful.",
          "request": {
            "$ref": "InventorySourceGroup"
          },
          "path": "v1/inventorySourceGroups/{inventorySourceGroupId}",
          "parameters": {
            "updateMask": {
              "description": "Required. The mask to control which fields to update.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "The ID of the partner that owns the inventory source group. Only this partner has write access to this group."
            },
            "inventorySourceGroupId": {
              "location": "path",
              "format": "int64",
              "description": "Output only. The unique ID of the inventory source group. Assigned by the system.",
              "type": "string",
              "required": true
            },
            "advertiserId": {
              "type": "string",
              "description": "The ID of the advertiser that owns the inventory source group. The parent partner does not have access to this group.",
              "format": "int64",
              "location": "query"
            }
          },
          "parameterOrder": [
            "inventorySourceGroupId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "delete": {
          "parameters": {
            "inventorySourceGroupId": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the inventory source group to delete.",
              "format": "int64"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that owns the inventory source group. The parent partner does not have access to this group.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "partnerId": {
              "description": "The ID of the partner that owns the inventory source group. Only this partner has write access to this group.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "flatPath": "v1/inventorySourceGroups/{inventorySourceGroupsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "inventorySourceGroupId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "displayvideo.inventorySourceGroups.delete",
          "path": "v1/inventorySourceGroups/{+inventorySourceGroupId}",
          "description": "Deletes an inventory source group."
        }
      },
      "resources": {
        "assignedInventorySources": {
          "methods": {
            "bulkEdit": {
              "response": {
                "$ref": "BulkEditAssignedInventorySourcesResponse"
              },
              "flatPath": "v1/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources:bulkEdit",
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.bulkEdit",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "POST",
              "parameters": {
                "inventorySourceGroupId": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the inventory source group to which the assignments are assigned.",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "request": {
                "$ref": "BulkEditAssignedInventorySourcesRequest"
              },
              "description": "Bulk edits multiple assignments between inventory sources and a single inventory source group. The operation will delete the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.deleted_assigned_inventory_sources and then create the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.created_assigned_inventory_sources.",
              "path": "v1/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources:bulkEdit"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "GET",
              "path": "v1/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources",
              "flatPath": "v1/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources",
              "description": "Lists inventory sources assigned to an inventory source group.",
              "response": {
                "$ref": "ListAssignedInventorySourcesResponse"
              },
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "parameters": {
                "inventorySourceGroupId": {
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the inventory source group to which these assignments are assigned.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAssignedInventorySources` method. If not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the advertiser that has access to the assignment. If the parent inventory source group is partner-owned, only advertisers to which the parent group is explicitly shared can access the assigned inventory source."
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `assignedInventorySourceId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `assignedInventorySourceId desc`.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32"
                },
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the partner that has access to the assignment. If the parent inventory source group is advertiser-owned, the assignment cannot be accessed via a partner."
                },
                "filter": {
                  "type": "string",
                  "description": "Allows filtering by assigned inventory source fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `assignedInventorySourceId` The length of this field should be no more than 500 characters.",
                  "location": "query"
                }
              },
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.list"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "request": {
                "$ref": "AssignedInventorySource"
              },
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.create",
              "flatPath": "v1/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources",
              "description": "Creates an assignment between an inventory source and an inventory source group.",
              "path": "v1/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources",
              "response": {
                "$ref": "AssignedInventorySource"
              },
              "httpMethod": "POST",
              "parameters": {
                "inventorySourceGroupId": {
                  "description": "Required. The ID of the inventory source group to which the assignment will be assigned.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "type": "string",
                  "required": true
                },
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner will not have access to this assigned inventory source.",
                  "location": "query"
                },
                "partnerId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent inventory source group. Only this partner will have write access to this assigned inventory source.",
                  "format": "int64"
                }
              }
            },
            "delete": {
              "parameters": {
                "assignedInventorySourceId": {
                  "type": "string",
                  "description": "Required. The ID of the assigned inventory source to delete.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "format": "int64"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent inventory source group. Only this partner has write access to this assigned inventory source.",
                  "type": "string",
                  "location": "query",
                  "format": "int64"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner does not have access to this assigned inventory source.",
                  "type": "string",
                  "location": "query",
                  "format": "int64"
                },
                "inventorySourceGroupId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the inventory source group to which this assignment is assigned.",
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "inventorySourceGroupId",
                "assignedInventorySourceId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources/{assignedInventorySourcesId}",
              "httpMethod": "DELETE",
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.delete",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v1/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources/{+assignedInventorySourceId}",
              "description": "Deletes the assignment between an inventory source and an inventory source group."
            }
          }
        }
      }
    },
    "firstAndThirdPartyAudiences": {
      "methods": {
        "get": {
          "parameters": {
            "partnerId": {
              "type": "string",
              "description": "The ID of the partner that has access to the fetched first and third party audience.",
              "format": "int64",
              "location": "query"
            },
            "firstAndThirdPartyAudienceId": {
              "description": "Required. The ID of the first and third party audience to fetch.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the advertiser that has access to the fetched first and third party audience."
            }
          },
          "response": {
            "$ref": "FirstAndThirdPartyAudience"
          },
          "id": "displayvideo.firstAndThirdPartyAudiences.get",
          "parameterOrder": [
            "firstAndThirdPartyAudienceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v1/firstAndThirdPartyAudiences/{+firstAndThirdPartyAudienceId}",
          "httpMethod": "GET",
          "description": "Gets a first and third party audience.",
          "flatPath": "v1/firstAndThirdPartyAudiences/{firstAndThirdPartyAudiencesId}"
        },
        "list": {
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListFirstAndThirdPartyAudiences` method. If not specified, the first page of results will be returned.",
              "type": "string",
              "location": "query"
            },
            "partnerId": {
              "description": "The ID of the partner that has access to the fetched first and third party audiences.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `firstAndThirdPartyAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "description": "The ID of the advertiser that has access to the fetched first and third party audiences.",
              "location": "query",
              "format": "int64"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Allows filtering by first and third party audience fields. Supported syntax: * Filter expressions for first and third party audiences currently can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)`. * Supported fields: - `displayName` Examples: * All first and third party audiences for which the display name contains \"Google\": `displayName : \"Google\"`. The length of this field should be no more than 500 characters."
            }
          },
          "description": "Lists first and third party audiences. The order is defined by the order_by parameter.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "ListFirstAndThirdPartyAudiencesResponse"
          },
          "id": "displayvideo.firstAndThirdPartyAudiences.list",
          "path": "v1/firstAndThirdPartyAudiences",
          "httpMethod": "GET",
          "flatPath": "v1/firstAndThirdPartyAudiences"
        }
      }
    },
    "sdfdownloadtasks": {
      "methods": {
        "create": {
          "path": "v1/sdfdownloadtasks",
          "request": {
            "$ref": "CreateSdfDownloadTaskRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1/sdfdownloadtasks",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.sdfdownloadtasks.create",
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates an SDF Download Task. Returns an Operation. An SDF Download Task is a long-running, asynchronous operation. The metadata type of this operation is SdfDownloadTaskMetadata. If the request is successful, the response type of the operation is SdfDownloadTask. The response will not include the download files, which must be retrieved with media.download. The state of operation can be retrieved with sdfdownloadtask.operations.get. Any errors can be found in the error.message. Note that error.details is expected to be empty."
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^sdfdownloadtasks/operations/[^/]+$"
                }
              },
              "description": "Gets the latest state of an asynchronous SDF download task operation. Clients should poll this method at intervals of 30 seconds.",
              "flatPath": "v1/sdfdownloadtasks/operations/{operationsId}",
              "id": "displayvideo.sdfdownloadtasks.operations.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "advertisers": {
      "methods": {
        "get": {
          "parameters": {
            "advertiserId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Required. The ID of the advertiser to fetch."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "id": "displayvideo.advertisers.get",
          "flatPath": "v1/advertisers/{advertisersId}",
          "parameterOrder": [
            "advertiserId"
          ],
          "description": "Gets an advertiser.",
          "path": "v1/advertisers/{+advertiserId}",
          "httpMethod": "GET"
        },
        "bulkEditAdvertiserAssignedTargetingOptions": {
          "description": "Bulk edits targeting options under a single advertiser. The operation will delete the assigned targeting options provided in BulkEditAdvertiserAssignedTargetingOptionsRequest.delete_requests and then create the assigned targeting options provided in BulkEditAdvertiserAssignedTargetingOptionsRequest.create_requests .",
          "flatPath": "v1/advertisers/{advertisersId}:bulkEditAdvertiserAssignedTargetingOptions",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.advertisers.bulkEditAdvertiserAssignedTargetingOptions",
          "request": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsRequest"
          },
          "parameterOrder": [
            "advertiserId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "advertiserId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the advertiser.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "path": "v1/advertisers/{+advertiserId}:bulkEditAdvertiserAssignedTargetingOptions",
          "response": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsResponse"
          }
        },
        "bulkListAdvertiserAssignedTargetingOptions": {
          "parameters": {
            "pageSize": {
              "description": "Requested page size. The size must be an integer between `1` and `5000`. If unspecified, the default is '5000'. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `targetingType` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingType desc`."
            },
            "advertiserId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the advertiser the line item belongs to.",
              "format": "int64"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token that lets the client fetch the next page of results. Typically, this is the value of next_page_token returned from the previous call to `BulkListAdvertiserAssignedTargetingOptions` method. If not specified, the first page of results will be returned."
            },
            "filter": {
              "description": "Allows filtering by assigned targeting option properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`.. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `targetingType` Examples: * targetingType with value TARGETING_TYPE_CHANNEL `targetingType=\"TARGETING_TYPE_CHANNEL\"` The length of this field should be no more than 500 characters.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "BulkListAdvertiserAssignedTargetingOptionsResponse"
          },
          "parameterOrder": [
            "advertiserId"
          ],
          "path": "v1/advertisers/{+advertiserId}:bulkListAdvertiserAssignedTargetingOptions",
          "flatPath": "v1/advertisers/{advertisersId}:bulkListAdvertiserAssignedTargetingOptions",
          "httpMethod": "GET",
          "id": "displayvideo.advertisers.bulkListAdvertiserAssignedTargetingOptions",
          "description": "Lists assigned targeting options of an advertiser across targeting types.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "audit": {
          "httpMethod": "GET",
          "parameters": {
            "readMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. The specific fields to return. If no mask is specified, all fields in the response proto will be filled. Valid values are: * usedLineItemsCount * usedInsertionOrdersCount * usedCampaignsCount * channelsCount * negativelyTargetedChannelsCount * negativeKeywordListsCount * adGroupCriteriaCount * campaignCriteriaCount"
            },
            "advertiserId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the advertiser to audit.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AuditAdvertiserResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Audits an advertiser. Returns the counts of used entities per resource type under the advertiser provided. Used entities count towards their respective resource limit. See https://support.google.com/displayvideo/answer/6071450.",
          "flatPath": "v1/advertisers/{advertisersId}:audit",
          "path": "v1/advertisers/{+advertiserId}:audit",
          "parameterOrder": [
            "advertiserId"
          ],
          "id": "displayvideo.advertisers.audit"
        },
        "list": {
          "description": "Lists advertisers that are accessible to the current user. The order is defined by the order_by parameter. A single partner_id is required. Cross-partner listing is not supported.",
          "response": {
            "$ref": "ListAdvertisersResponse"
          },
          "path": "v1/advertisers",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdvertisers` method. If not specified, the first page of results will be returned."
            },
            "partnerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the partner that the fetched advertisers should all belong to. The system only supports listing advertisers for one partner at a time."
            },
            "filter": {
              "description": "Allows filtering by advertiser properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The operator used on `updateTime` must be `GREATER THAN OR EQUAL TO (\u003e=)` or `LESS THAN OR EQUAL TO (\u003c=)`. * The operator must be `EQUALS (=)`. * Supported fields: - `advertiserId` - `displayName` - `entityStatus` - `updateTime` (input in ISO 8601 format, or YYYY-MM-DDTHH:MM:SSZ) Examples: * All active advertisers under a partner: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` * All advertisers with an update time less than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime\u003c=\"2020-11-04T18:54:47Z\"` * All advertisers with an update time greater than or equal to `2020-11-04T18:54:47Z (format of ISO 8601)`: `updateTime\u003e=\"2020-11-04T18:54:47Z\"` The length of this field should be no more than 500 characters.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `entityStatus` * `updateTime` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`.",
              "format": "int32"
            }
          },
          "flatPath": "v1/advertisers",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "displayvideo.advertisers.list"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "response": {
            "$ref": "Advertiser"
          },
          "path": "v1/advertisers/{+advertiserId}",
          "description": "Updates an existing advertiser. Returns the updated advertiser if successful.",
          "flatPath": "v1/advertisers/{advertisersId}",
          "parameterOrder": [
            "advertiserId"
          ],
          "httpMethod": "PATCH",
          "id": "displayvideo.advertisers.patch",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "Required. The mask to control which fields to update.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "advertiserId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          }
        },
        "create": {
          "flatPath": "v1/advertisers",
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v1/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "id": "displayvideo.advertisers.create",
          "request": {
            "$ref": "Advertiser"
          },
          "parameters": {},
          "description": "Creates a new advertiser. Returns the newly created advertiser if successful. This method can take up to 180 seconds to complete."
        },
        "delete": {
          "flatPath": "v1/advertisers/{advertisersId}",
          "path": "v1/advertisers/{+advertiserId}",
          "parameterOrder": [
            "advertiserId"
          ],
          "description": "Deletes an advertiser. Deleting an advertiser will delete all of its child resources, for example, campaigns, insertion orders and line items. A deleted advertiser cannot be recovered.",
          "parameters": {
            "advertiserId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "The ID of the advertiser we need to delete.",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.advertisers.delete",
          "response": {
            "$ref": "Empty"
          }
        }
      },
      "resources": {
        "manualTriggers": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The mask to control which fields to update.",
                  "location": "query"
                },
                "advertiserId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Immutable. The unique ID of the advertiser that the manual trigger belongs to.",
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "triggerId": {
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Output only. The unique ID of the manual trigger."
                }
              },
              "description": "Updates a manual trigger. Returns the updated manual trigger if successful.",
              "response": {
                "$ref": "ManualTrigger"
              },
              "parameterOrder": [
                "advertiserId",
                "triggerId"
              ],
              "id": "displayvideo.advertisers.manualTriggers.patch",
              "path": "v1/advertisers/{+advertiserId}/manualTriggers/{+triggerId}",
              "httpMethod": "PATCH",
              "flatPath": "v1/advertisers/{advertisersId}/manualTriggers/{manualTriggersId}",
              "request": {
                "$ref": "ManualTrigger"
              }
            },
            "activate": {
              "path": "v1/advertisers/{+advertiserId}/manualTriggers/{+triggerId}:activate",
              "parameterOrder": [
                "advertiserId",
                "triggerId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/advertisers/{advertisersId}/manualTriggers/{manualTriggersId}:activate",
              "description": "Activates a manual trigger. Each activation of the manual trigger must be at least 5 minutes apart, otherwise an error will be returned.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "request": {
                "$ref": "ActivateManualTriggerRequest"
              },
              "id": "displayvideo.advertisers.manualTriggers.activate",
              "response": {
                "$ref": "ManualTrigger"
              },
              "parameters": {
                "triggerId": {
                  "description": "Required. The ID of the manual trigger to activate.",
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                },
                "advertiserId": {
                  "location": "path",
                  "description": "Required. The ID of the advertiser that the manual trigger belongs.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "advertiserId"
              ],
              "description": "Creates a new manual trigger. Returns the newly created manual trigger if successful.",
              "path": "v1/advertisers/{+advertiserId}/manualTriggers",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.manualTriggers.create",
              "response": {
                "$ref": "ManualTrigger"
              },
              "flatPath": "v1/advertisers/{advertisersId}/manualTriggers",
              "request": {
                "$ref": "ManualTrigger"
              },
              "parameters": {
                "advertiserId": {
                  "location": "path",
                  "description": "Required. Immutable. The unique ID of the advertiser that the manual trigger belongs to.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "format": "int64"
                }
              }
            },
            "deactivate": {
              "request": {
                "$ref": "DeactivateManualTriggerRequest"
              },
              "httpMethod": "POST",
              "description": "Deactivates a manual trigger.",
              "response": {
                "$ref": "ManualTrigger"
              },
              "path": "v1/advertisers/{+advertiserId}/manualTriggers/{+triggerId}:deactivate",
              "parameters": {
                "advertiserId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the advertiser that the manual trigger belongs.",
                  "format": "int64",
                  "required": true
                },
                "triggerId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the manual trigger to deactivate."
                }
              },
              "parameterOrder": [
                "advertiserId",
                "triggerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.manualTriggers.deactivate",
              "flatPath": "v1/advertisers/{advertisersId}/manualTriggers/{manualTriggersId}:deactivate"
            },
            "get": {
              "parameters": {
                "triggerId": {
                  "description": "Required. The ID of the manual trigger to fetch.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "format": "int64",
                  "type": "string"
                },
                "advertiserId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the advertiser this manual trigger belongs to.",
                  "required": true,
                  "format": "int64"
                }
              },
              "id": "displayvideo.advertisers.manualTriggers.get",
              "parameterOrder": [
                "advertiserId",
                "triggerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "GET",
              "path": "v1/advertisers/{+advertiserId}/manualTriggers/{+triggerId}",
              "description": "Gets a manual trigger.",
              "response": {
                "$ref": "ManualTrigger"
              },
              "flatPath": "v1/advertisers/{advertisersId}/manualTriggers/{manualTriggersId}"
            },
            "list": {
              "flatPath": "v1/advertisers/{advertisersId}/manualTriggers",
              "parameters": {
                "filter": {
                  "description": "Allows filtering by manual trigger properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `displayName` - `state` Examples: * All active manual triggers under an advertiser: `state=\"ACTIVE\"` The length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "description": "Required. The ID of the advertiser that the fetched manual triggers belong to.",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `state` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListManualTriggers` method. If not specified, the first page of results will be returned.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "advertiserId"
              ],
              "response": {
                "$ref": "ListManualTriggersResponse"
              },
              "httpMethod": "GET",
              "description": "Lists manual triggers that are accessible to the current user for a given advertiser ID. The order is defined by the order_by parameter. A single advertiser_id is required.",
              "path": "v1/advertisers/{+advertiserId}/manualTriggers",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.manualTriggers.list"
            }
          }
        },
        "creatives": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "Creative"
              },
              "path": "v1/advertisers/{+advertiserId}/creatives/{+creativeId}",
              "id": "displayvideo.advertisers.creatives.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "advertiserId": {
                  "type": "string",
                  "description": "Output only. The unique ID of the advertiser the creative belongs to.",
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "creativeId": {
                  "description": "Output only. The unique ID of the creative. Assigned by the system.",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Updates an existing creative. Returns the updated creative if successful.",
              "flatPath": "v1/advertisers/{advertisersId}/creatives/{creativesId}",
              "parameterOrder": [
                "advertiserId",
                "creativeId"
              ]
            },
            "get": {
              "response": {
                "$ref": "Creative"
              },
              "httpMethod": "GET",
              "description": "Gets a creative.",
              "id": "displayvideo.advertisers.creatives.get",
              "flatPath": "v1/advertisers/{advertisersId}/creatives/{creativesId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "advertiserId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the advertiser this creative belongs to."
                },
                "creativeId": {
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the creative to fetch.",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "advertiserId",
                "creativeId"
              ],
              "path": "v1/advertisers/{+advertiserId}/creatives/{+creativeId}"
            },
            "list": {
              "flatPath": "v1/advertisers/{advertisersId}/creatives",
              "description": "Lists creatives in an advertiser. The order is defined by the order_by parameter. If a filter by entity_status is not specified, creatives with `ENTITY_STATUS_ARCHIVED` will not be included in the results.",
              "path": "v1/advertisers/{+advertiserId}/creatives",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCreatives` method. If not specified, the first page of results will be returned."
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `creativeId` (default) * `createTime` * `mediaDuration` * `dimensions` (sorts by width first, then by height) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `createTime desc`.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows filtering by creative properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restriction for the same field must be combined by `OR`. * Restriction for different fields must be combined by `AND`. * Between `(` and `)` there can only be restrictions combined by `OR` for the same field. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)` for the following fields: - `entityStatus` - `creativeType`. - `dimensions` - `minDuration` - `maxDuration` - `approvalStatus` - `exchangeReviewStatus` - `dynamic` - `creativeId` * The operator must be `HAS (:)` for the following fields: - `lineItemIds` * For `entityStatus`, `minDuration`, `maxDuration`, and `dynamic` there may be at most one restriction. * For `dimensions`, the value is in the form of `\"{width}x{height}\"`. * For `exchangeReviewStatus`, the value is in the form of `{exchange}-{reviewStatus}`. * For `minDuration` and `maxDuration`, the value is in the form of `\"{duration}s\"`. Only seconds are supported with millisecond granularity. * There may be multiple `lineItemIds` restrictions in order to search against multiple possible line item IDs. * There may be multiple `creativeId` restrictions in order to search against multiple possible creative IDs. Examples: * All native creatives: `creativeType=\"CREATIVE_TYPE_NATIVE\"` * All active creatives with 300x400 or 50x100 dimensions: `entityStatus=\"ENTITY_STATUS_ACTIVE\" AND (dimensions=\"300x400\" OR dimensions=\"50x100\")` * All dynamic creatives that are approved by AdX or AppNexus, with a minimum duration of 5 seconds and 200ms. `dynamic=\"true\" AND minDuration=\"5.2s\" AND (exchangeReviewStatus=\"EXCHANGE_GOOGLE_AD_MANAGER-REVIEW_STATUS_APPROVED\" OR exchangeReviewStatus=\"EXCHANGE_APPNEXUS-REVIEW_STATUS_APPROVED\")` * All video creatives that are associated with line item ID 1 or 2: `creativeType=\"CREATIVE_TYPE_VIDEO\" AND (lineItemIds:1 OR lineItemIds:2)` * Find creatives by multiple creative IDs: `creativeId=1 OR creativeId=2` The length of this field should be no more than 500 characters."
                },
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the advertiser to list creatives for.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.creatives.list",
              "parameterOrder": [
                "advertiserId"
              ],
              "response": {
                "$ref": "ListCreativesResponse"
              }
            },
            "create": {
              "path": "v1/advertisers/{+advertiserId}/creatives",
              "parameterOrder": [
                "advertiserId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/advertisers/{advertisersId}/creatives",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "request": {
                "$ref": "Creative"
              },
              "response": {
                "$ref": "Creative"
              },
              "id": "displayvideo.advertisers.creatives.create",
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "description": "Output only. The unique ID of the advertiser the creative belongs to.",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              },
              "description": "Creates a new creative. Returns the newly created creative if successful."
            },
            "delete": {
              "parameterOrder": [
                "advertiserId",
                "creativeId"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "advertiserId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the advertiser this creative belongs to.",
                  "location": "path",
                  "format": "int64"
                },
                "creativeId": {
                  "required": true,
                  "format": "int64",
                  "description": "The ID of the creative to be deleted.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/advertisers/{+advertiserId}/creatives/{+creativeId}",
              "description": "Deletes a creative. Returns error code `NOT_FOUND` if the creative does not exist. The creative should be archived first, i.e. set entity_status to `ENTITY_STATUS_ARCHIVED`, before it can be deleted.",
              "id": "displayvideo.advertisers.creatives.delete",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/advertisers/{advertisersId}/creatives/{creativesId}"
            }
          }
        },
        "channels": {
          "resources": {
            "sites": {
              "methods": {
                "list": {
                  "path": "v1/advertisers/{+advertiserId}/channels/{+channelId}/sites",
                  "flatPath": "v1/advertisers/{advertisersId}/channels/{channelsId}/sites",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                    },
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `urlOrAppId desc`.",
                      "location": "query",
                      "type": "string"
                    },
                    "advertiserId": {
                      "pattern": "^[^/]+$",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "type": "string",
                      "location": "path",
                      "format": "int64",
                      "required": true
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the requested sites belong.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "format": "int64",
                      "pattern": "^[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows filtering by site fields. Supported syntax: * Filter expressions for site currently can only contain at most one * restriction. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)`. * Supported fields: - `urlOrAppId` Examples: * All sites for which the URL or app ID contains \"google\": `urlOrAppId : \"google\"`"
                    },
                    "partnerId": {
                      "location": "query",
                      "type": "string",
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel."
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists sites in a channel.",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ],
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "displayvideo.advertisers.channels.sites.list"
                },
                "delete": {
                  "flatPath": "v1/advertisers/{advertiserId}/channels/{channelsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId",
                    "urlOrAppId"
                  ],
                  "description": "Deletes a site from a channel.",
                  "parameters": {
                    "advertiserId": {
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "type": "string"
                    },
                    "urlOrAppId": {
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "Required. The URL or app ID of the site to delete.",
                      "required": true,
                      "type": "string"
                    },
                    "channelId": {
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the parent channel to which the site belongs."
                    },
                    "partnerId": {
                      "type": "string",
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "query"
                    }
                  },
                  "path": "v1/advertisers/{advertiserId}/channels/{+channelId}/sites/{+urlOrAppId}",
                  "id": "displayvideo.advertisers.channels.sites.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "create": {
                  "description": "Creates a site in a channel.",
                  "parameters": {
                    "channelId": {
                      "pattern": "^[^/]+$",
                      "required": true,
                      "description": "Required. The ID of the parent channel in which the site will be created.",
                      "format": "int64",
                      "location": "path",
                      "type": "string"
                    },
                    "advertiserId": {
                      "format": "int64",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the advertiser that owns the parent channel."
                    },
                    "partnerId": {
                      "type": "string",
                      "location": "query",
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel."
                    }
                  },
                  "request": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "path": "v1/advertisers/{advertiserId}/channels/{+channelId}/sites",
                  "flatPath": "v1/advertisers/{advertiserId}/channels/{channelsId}/sites",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ],
                  "response": {
                    "$ref": "Site"
                  },
                  "id": "displayvideo.advertisers.channels.sites.create"
                },
                "bulkEdit": {
                  "description": "Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.",
                  "parameters": {
                    "channelId": {
                      "type": "string",
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "advertiserId": {
                      "location": "path",
                      "required": true,
                      "format": "int64",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "httpMethod": "POST",
                  "id": "displayvideo.advertisers.channels.sites.bulkEdit",
                  "parameterOrder": [
                    "advertiserId",
                    "channelId"
                  ],
                  "flatPath": "v1/advertisers/{advertiserId}/channels/{channelsId}/sites:bulkEdit",
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "path": "v1/advertisers/{advertiserId}/channels/{+channelId}/sites:bulkEdit"
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameterOrder": [
                "advertiserId"
              ],
              "description": "Lists channels for a partner or advertiser.",
              "parameters": {
                "advertiserId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "The ID of the advertiser that owns the channels.",
                  "format": "int64",
                  "type": "string",
                  "location": "path"
                },
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the partner that owns the channels.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel currently can only contain at most one * restriction. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)`. * Supported fields: - `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/advertisers/{advertisersId}/channels",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v1/advertisers/{+advertiserId}/channels",
              "id": "displayvideo.advertisers.channels.list",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "httpMethod": "GET"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "advertiserId",
                "channelId"
              ],
              "description": "Updates a channel. Returns the updated channel if successful.",
              "httpMethod": "PATCH",
              "path": "v1/advertisers/{+advertiserId}/channels/{channelId}",
              "id": "displayvideo.advertisers.channels.patch",
              "flatPath": "v1/advertisers/{advertisersId}/channels/{channelId}",
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "description": "The ID of the partner that owns the created channel.",
                  "type": "string",
                  "location": "query"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask"
                },
                "channelId": {
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "description": "Output only. The unique ID of the channel. Assigned by the system."
                },
                "advertiserId": {
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v1/advertisers/{+advertiserId}/channels/{+channelId}",
              "response": {
                "$ref": "Channel"
              },
              "httpMethod": "GET",
              "parameters": {
                "advertiserId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the fetched channel.",
                  "location": "path"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the fetched channel.",
                  "type": "string",
                  "location": "query",
                  "format": "int64"
                },
                "channelId": {
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the channel to fetch."
                }
              },
              "parameterOrder": [
                "advertiserId",
                "channelId"
              ],
              "description": "Gets a channel for a partner or advertiser.",
              "id": "displayvideo.advertisers.channels.get",
              "flatPath": "v1/advertisers/{advertisersId}/channels/{channelsId}"
            },
            "create": {
              "id": "displayvideo.advertisers.channels.create",
              "response": {
                "$ref": "Channel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v1/advertisers/{+advertiserId}/channels",
              "httpMethod": "POST",
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "location": "path",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                },
                "partnerId": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the partner that owns the created channel."
                }
              },
              "flatPath": "v1/advertisers/{advertisersId}/channels",
              "parameterOrder": [
                "advertiserId"
              ],
              "request": {
                "$ref": "Channel"
              },
              "description": "Creates a new channel. Returns the newly created channel if successful."
            }
          }
        },
        "negativeKeywordLists": {
          "methods": {
            "create": {
              "request": {
                "$ref": "NegativeKeywordList"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "response": {
                "$ref": "NegativeKeywordList"
              },
              "flatPath": "v1/advertisers/{advertisersId}/negativeKeywordLists",
              "path": "v1/advertisers/{+advertiserId}/negativeKeywordLists",
              "httpMethod": "POST",
              "description": "Creates a new negative keyword list. Returns the newly created negative keyword list if successful.",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "description": "Required. The ID of the DV360 advertiser to which the negative keyword list will belong.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64"
                }
              },
              "id": "displayvideo.advertisers.negativeKeywordLists.create"
            },
            "patch": {
              "path": "v1/advertisers/{+advertiserId}/negativeKeywordLists/{negativeKeywordListId}",
              "description": "Updates a negative keyword list. Returns the updated negative keyword list if successful.",
              "request": {
                "$ref": "NegativeKeywordList"
              },
              "parameterOrder": [
                "advertiserId",
                "negativeKeywordListId"
              ],
              "response": {
                "$ref": "NegativeKeywordList"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v1/advertisers/{advertisersId}/negativeKeywordLists/{negativeKeywordListId}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "negativeKeywordListId": {
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "description": "Output only. The unique ID of the negative keyword list. Assigned by the system.",
                  "required": true
                },
                "advertiserId": {
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the DV360 advertiser to which the negative keyword list belongs."
                }
              },
              "id": "displayvideo.advertisers.negativeKeywordLists.patch",
              "httpMethod": "PATCH"
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "displayvideo.advertisers.negativeKeywordLists.delete",
              "parameterOrder": [
                "advertiserId",
                "negativeKeywordListId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Deletes a negative keyword list given an advertiser ID and a negative keyword list ID.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/advertisers/{advertisersId}/negativeKeywordLists/{negativeKeywordListsId}",
              "path": "v1/advertisers/{+advertiserId}/negativeKeywordLists/{+negativeKeywordListId}",
              "parameters": {
                "advertiserId": {
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the DV360 advertiser to which the negative keyword list belongs.",
                  "required": true
                },
                "negativeKeywordListId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The ID of the negative keyword list to delete.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "get": {
              "id": "displayvideo.advertisers.negativeKeywordLists.get",
              "response": {
                "$ref": "NegativeKeywordList"
              },
              "parameterOrder": [
                "advertiserId",
                "negativeKeywordListId"
              ],
              "httpMethod": "GET",
              "path": "v1/advertisers/{+advertiserId}/negativeKeywordLists/{+negativeKeywordListId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "negativeKeywordListId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the negative keyword list to fetch.",
                  "location": "path",
                  "format": "int64"
                },
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the DV360 advertiser to which the fetched negative keyword list belongs.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets a negative keyword list given an advertiser ID and a negative keyword list ID.",
              "flatPath": "v1/advertisers/{advertisersId}/negativeKeywordLists/{negativeKeywordListsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. Must be between `1` and `100`. Defaults to `100` if not set. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListNegativeKeywordLists` method. If not specified, the first page of results will be returned.",
                  "location": "query"
                },
                "advertiserId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the DV360 advertiser to which the fetched negative keyword lists belong.",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64"
                }
              },
              "id": "displayvideo.advertisers.negativeKeywordLists.list",
              "parameterOrder": [
                "advertiserId"
              ],
              "path": "v1/advertisers/{+advertiserId}/negativeKeywordLists",
              "flatPath": "v1/advertisers/{advertisersId}/negativeKeywordLists",
              "response": {
                "$ref": "ListNegativeKeywordListsResponse"
              },
              "description": "Lists negative keyword lists based on a given advertiser id.",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "negativeKeywords": {
              "methods": {
                "list": {
                  "id": "displayvideo.advertisers.negativeKeywordLists.negativeKeywords.list",
                  "parameterOrder": [
                    "advertiserId",
                    "negativeKeywordListId"
                  ],
                  "description": "Lists negative keywords in a negative keyword list.",
                  "httpMethod": "GET",
                  "path": "v1/advertisers/{+advertiserId}/negativeKeywordLists/{+negativeKeywordListId}/negativeKeywords",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Allows filtering by negative keyword fields. Supported syntax: * Filter expressions for negative keyword currently can only contain at most one * restriction. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `CONTAINS (:)`. * Supported fields: - `keywordValue` Examples: * All negative keywords for which the keyword value contains \"google\": `keywordValue : \"google\"`",
                      "location": "query"
                    },
                    "negativeKeywordListId": {
                      "required": true,
                      "format": "int64",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The ID of the parent negative keyword list to which the requested negative keywords belong.",
                      "pattern": "^[^/]+$"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Field by which to sort the list. Acceptable values are: * `keywordValue` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `keywordValue desc`."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListNegativeKeywords` method. If not specified, the first page of results will be returned.",
                      "type": "string"
                    },
                    "advertiserId": {
                      "required": true,
                      "location": "path",
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the DV360 advertiser to which the parent negative keyword list belongs.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListNegativeKeywordsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v1/advertisers/{advertisersId}/negativeKeywordLists/{negativeKeywordListsId}/negativeKeywords"
                },
                "bulkEdit": {
                  "id": "displayvideo.advertisers.negativeKeywordLists.negativeKeywords.bulkEdit",
                  "path": "v1/advertisers/{advertiserId}/negativeKeywordLists/{+negativeKeywordListId}/negativeKeywords:bulkEdit",
                  "parameterOrder": [
                    "advertiserId",
                    "negativeKeywordListId"
                  ],
                  "parameters": {
                    "advertiserId": {
                      "required": true,
                      "description": "Required. The ID of the DV360 advertiser to which the parent negative keyword list belongs.",
                      "format": "int64",
                      "type": "string",
                      "location": "path"
                    },
                    "negativeKeywordListId": {
                      "description": "Required. The ID of the parent negative keyword list to which the negative keywords belong.",
                      "format": "int64",
                      "type": "string",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "BulkEditNegativeKeywordsRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BulkEditNegativeKeywordsResponse"
                  },
                  "flatPath": "v1/advertisers/{advertiserId}/negativeKeywordLists/{negativeKeywordListsId}/negativeKeywords:bulkEdit",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "description": "Bulk edits negative keywords in a single negative keyword list. The operation will delete the negative keywords provided in BulkEditNegativeKeywordsRequest.deleted_negative_keywords and then create the negative keywords provided in BulkEditNegativeKeywordsRequest.created_negative_keywords. This operation is guaranteed to be atomic and will never result in a partial success or partial failure."
                },
                "delete": {
                  "flatPath": "v1/advertisers/{advertiserId}/negativeKeywordLists/{negativeKeywordListsId}/negativeKeywords/{negativeKeywordsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "path": "v1/advertisers/{advertiserId}/negativeKeywordLists/{+negativeKeywordListId}/negativeKeywords/{+keywordValue}",
                  "description": "Deletes a negative keyword from a negative keyword list.",
                  "parameters": {
                    "advertiserId": {
                      "description": "Required. The ID of the DV360 advertiser to which the parent negative keyword list belongs.",
                      "format": "int64",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "negativeKeywordListId": {
                      "required": true,
                      "location": "path",
                      "format": "int64",
                      "description": "Required. The ID of the parent negative keyword list to which the negative keyword belongs.",
                      "type": "string",
                      "pattern": "^[^/]+$"
                    },
                    "keywordValue": {
                      "required": true,
                      "description": "Required. The keyword value of the negative keyword to delete.",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "advertiserId",
                    "negativeKeywordListId",
                    "keywordValue"
                  ],
                  "httpMethod": "DELETE",
                  "id": "displayvideo.advertisers.negativeKeywordLists.negativeKeywords.delete"
                },
                "create": {
                  "id": "displayvideo.advertisers.negativeKeywordLists.negativeKeywords.create",
                  "request": {
                    "$ref": "NegativeKeyword"
                  },
                  "parameterOrder": [
                    "advertiserId",
                    "negativeKeywordListId"
                  ],
                  "flatPath": "v1/advertisers/{advertiserId}/negativeKeywordLists/{negativeKeywordListsId}/negativeKeywords",
                  "description": "Creates a negative keyword in a negative keyword list.",
                  "path": "v1/advertisers/{advertiserId}/negativeKeywordLists/{+negativeKeywordListId}/negativeKeywords",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "response": {
                    "$ref": "NegativeKeyword"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "negativeKeywordListId": {
                      "location": "path",
                      "format": "int64",
                      "description": "Required. The ID of the parent negative keyword list in which the negative keyword will be created.",
                      "type": "string",
                      "required": true,
                      "pattern": "^[^/]+$"
                    },
                    "advertiserId": {
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the DV360 advertiser to which the parent negative keyword list belongs.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "lineItems": {
          "methods": {
            "bulkListLineItemAssignedTargetingOptions": {
              "httpMethod": "GET",
              "response": {
                "$ref": "BulkListLineItemAssignedTargetingOptionsResponse"
              },
              "description": "Lists assigned targeting options of a line item across targeting types.",
              "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}:bulkListLineItemAssignedTargetingOptions",
              "id": "displayvideo.advertisers.lineItems.bulkListLineItemAssignedTargetingOptions",
              "flatPath": "v1/advertisers/{advertisersId}/lineItems/{lineItemsId}:bulkListLineItemAssignedTargetingOptions",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "advertiserId",
                "lineItemId"
              ],
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `targetingType` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingType desc`.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The size must be an integer between `1` and `5000`. If unspecified, the default is '5000'. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer"
                },
                "lineItemId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the line item to list assigned targeting options for.",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token that lets the client fetch the next page of results. Typically, this is the value of next_page_token returned from the previous call to `BulkListLineItemAssignedTargetingOptions` method. If not specified, the first page of results will be returned.",
                  "location": "query"
                },
                "filter": {
                  "description": "Allows filtering by assigned targeting option properties. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR` on the same field. * A restriction has the form of `{field} {operator} {value}`. * The operator must be `EQUALS (=)`. * Supported fields: - `targetingType` - `inheritance` Examples: * AssignedTargetingOptions of targeting type TARGETING_TYPE_PROXIMITY_LOCATION_LIST or TARGETING_TYPE_CHANNEL `targetingType=\"TARGETING_TYPE_PROXIMITY_LOCATION_LIST\" OR targetingType=\"TARGETING_TYPE_CHANNEL\"` * AssignedTargetingOptions with inheritance status of NOT_INHERITED or INHERITED_FROM_PARTNER `inheritance=\"NOT_INHERITED\" OR inheritance=\"INHERITED_FROM_PARTNER\"` The length of this field should be no more than 500 characters.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "description": "Required. The ID of the advertiser the line item belongs to.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "type": "string"
                }
              }
            },
            "get": {
              "description": "Gets a line item.",
              "path": "v1/advertisers/{+advertiserId}/lineItems/{+lineItemId}",
              "parameters": {
                "lineItemId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
[...]
