{
  "discoveryVersion": "v1",
  "servicePath": "",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "title": "Cloud DNS API",
  "documentationLink": "https://cloud.google.com/dns/docs",
  "rootUrl": "https://dns.googleapis.com/",
  "baseUrl": "https://dns.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Dns",
  "name": "dns",
  "id": "dns:v1",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "protocol": "rest",
  "version": "v1",
  "schemas": {
    "PoliciesPatchResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "id": "PoliciesPatchResponse"
    },
    "DnsKeysListResponse": {
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone.",
      "type": "object",
      "properties": {
        "dnsKeys": {
          "description": "The requested resources.",
          "items": {
            "$ref": "DnsKey"
          },
          "type": "array"
        },
        "kind": {
          "description": "Type of resource.",
          "type": "string",
          "default": "dns#dnsKeysListResponse"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size.",
          "type": "string"
        }
      },
      "id": "DnsKeysListResponse"
    },
    "PolicyNetwork": {
      "type": "object",
      "id": "PolicyNetwork",
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        },
        "kind": {
          "default": "dns#policyNetwork",
          "type": "string"
        }
      }
    },
    "Quota": {
      "properties": {
        "policies": {
          "format": "int32",
          "description": "Maximum allowed number of policies per project.",
          "type": "integer"
        },
        "managedZones": {
          "description": "Maximum allowed number of managed zones in the project.",
          "format": "int32",
          "type": "integer"
        },
        "dnsKeysPerManagedZone": {
          "description": "Maximum allowed number of DnsKeys per ManagedZone.",
          "type": "integer",
          "format": "int32"
        },
        "targetNameServersPerPolicy": {
          "format": "int32",
          "description": "Maximum allowed number of alternative target name servers per policy.",
          "type": "integer"
        },
        "networksPerPolicy": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of networks per policy."
        },
        "kind": {
          "type": "string",
          "default": "dns#quota"
        },
        "rrsetsPerManagedZone": {
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project.",
          "type": "integer",
          "format": "int32"
        },
        "rrsetDeletionsPerChange": {
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.",
          "format": "int32",
          "type": "integer"
        },
        "resourceRecordsPerRrset": {
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet.",
          "format": "int32",
          "type": "integer"
        },
        "totalRrdataSizePerChange": {
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.",
          "format": "int32",
          "type": "integer"
        },
        "targetNameServersPerManagedZone": {
          "description": "Maximum allowed number of target name servers per managed forwarding zone.",
          "type": "integer",
          "format": "int32"
        },
        "managedZonesPerNetwork": {
          "description": "Maximum allowed number of managed zones which can be attached to a network.",
          "type": "integer",
          "format": "int32"
        },
        "networksPerManagedZone": {
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached.",
          "format": "int32",
          "type": "integer"
        },
        "whitelistedKeySpecs": {
          "type": "array",
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys.",
          "items": {
            "$ref": "DnsKeySpec"
          }
        },
        "rrsetAdditionsPerChange": {
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Quota",
      "description": "Limits associated with a Project."
    },
    "ManagedZoneServiceDirectoryConfig": {
      "description": "Contains information about Service Directory-backed zones.",
      "type": "object",
      "id": "ManagedZoneServiceDirectoryConfig",
      "properties": {
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfig",
          "type": "string"
        },
        "namespace": {
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace",
          "description": "Contains information about the namespace associated with the zone."
        }
      }
    },
    "ResourceRecordSetsListResponse": {
      "id": "ResourceRecordSetsListResponse",
      "properties": {
        "rrsets": {
          "type": "array",
          "description": "The resource record set resources.",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "kind": {
          "type": "string",
          "description": "Type of resource.",
          "default": "dns#resourceRecordSetsListResponse"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "user": {
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "pending",
            "done"
          ],
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "type": "string"
        },
        "dnsKeyContext": {
          "description": "Only populated if the operation targeted a DnsKey (output only).",
          "$ref": "OperationDnsKeyContext"
        },
        "id": {
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)",
          "type": "string"
        },
        "type": {
          "description": "Type of the operation. Operations include insert, update, and delete (output only).",
          "type": "string"
        },
        "zoneContext": {
          "$ref": "OperationManagedZoneContext",
          "description": "Only populated if the operation targeted a ManagedZone (output only)."
        },
        "kind": {
          "default": "dns#operation",
          "type": "string"
        },
        "startTime": {
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id."
    },
    "PolicyAlternativeNameServerConfig": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfig"
        },
        "targetNameServers": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "type": "array",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          }
        }
      },
      "id": "PolicyAlternativeNameServerConfig",
      "type": "object"
    },
    "ManagedZoneForwardingConfig": {
      "properties": {
        "kind": {
          "default": "dns#managedZoneForwardingConfig",
          "type": "string"
        },
        "targetNameServers": {
          "description": "List of target name servers to forward to. Cloud DNS will select the best available name server if more than one target is given.",
          "type": "array",
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          }
        }
      },
      "type": "object",
      "id": "ManagedZoneForwardingConfig"
    },
    "Project": {
      "id": "Project",
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console.",
      "type": "object",
      "properties": {
        "number": {
          "type": "string",
          "format": "uint64",
          "description": "Unique numeric identifier for the resource; defined by the server (output only)."
        },
        "quota": {
          "description": "Quotas assigned to this project (output only).",
          "$ref": "Quota"
        },
        "id": {
          "type": "string",
          "description": "User assigned unique identifier for the resource (output only)."
        },
        "kind": {
          "type": "string",
          "default": "dns#project"
        }
      }
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "type": "object",
      "id": "ManagedZonePeeringConfigTargetNetwork",
      "properties": {
        "kind": {
          "default": "dns#managedZonePeeringConfigTargetNetwork",
          "type": "string"
        },
        "deactivateTime": {
          "type": "string",
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only."
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        }
      }
    },
    "ResourceRecordSet": {
      "description": "A unit of data that will be returned by the DNS servers.",
      "id": "ResourceRecordSet",
      "properties": {
        "ttl": {
          "type": "integer",
          "format": "int32",
          "description": "Number of seconds that this ResourceRecordSet can be cached by resolvers."
        },
        "type": {
          "type": "string",
          "description": "The identifier of a supported record type. See the list of Supported DNS record types."
        },
        "name": {
          "description": "For example, www.example.com.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#resourceRecordSet"
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples."
        },
        "signatureRrdatas": {
          "description": "As defined in RFC 4034 (section 3.2).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ManagedZone": {
      "type": "object",
      "id": "ManagedZone",
      "properties": {
        "privateVisibilityConfig": {
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from.",
          "$ref": "ManagedZonePrivateVisibilityConfig"
        },
        "dnsName": {
          "description": "The DNS name of this managed zone, for instance \"example.com.\".",
          "type": "string"
        },
        "reverseLookupConfig": {
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS will resolve reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config.",
          "$ref": "ManagedZoneReverseLookupConfig"
        },
        "serviceDirectoryConfig": {
          "$ref": "ManagedZoneServiceDirectoryConfig",
          "description": "This field links to the associated service directory namespace. This field should not be set for public zones or forwarding zones."
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function."
        },
        "name": {
          "type": "string",
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
        },
        "peeringConfig": {
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with.",
          "$ref": "ManagedZonePeeringConfig"
        },
        "kind": {
          "default": "dns#managedZone",
          "type": "string"
        },
        "id": {
          "format": "uint64",
          "description": "Unique identifier for the resource; defined by the server (output only)",
          "type": "string"
        },
        "nameServers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)"
        },
        "creationTime": {
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "forwardingConfig": {
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to.",
          "$ref": "ManagedZoneForwardingConfig"
        },
        "labels": {
          "description": "User labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "visibility": {
          "type": "string",
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "public",
            "private"
          ]
        },
        "dnssecConfig": {
          "$ref": "ManagedZoneDnsSecConfig",
          "description": "DNSSEC configuration."
        },
        "nameServerSet": {
          "type": "string",
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users will leave this field unset."
        }
      },
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service."
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "properties": {
        "kind": {
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer",
          "type": "string"
        },
        "forwardingPath": {
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses go to the VPC, non-RFC1918 addresses go to the Internet. When set to PRIVATE, Cloud DNS will always send queries through VPC for this target.",
          "type": "string",
          "enum": [
            "default",
            "private"
          ],
          "enumDescriptions": [
            "Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses will forward to the target through the Internet",
            "Cloud DNS will always forward to this target through the VPC."
          ]
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address to forward to."
        }
      },
      "id": "PolicyAlternativeNameServerConfigTargetNameServer",
      "type": "object"
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "properties": {
        "kind": {
          "default": "dns#managedZoneForwardingConfigNameServerTarget",
          "type": "string"
        },
        "forwardingPath": {
          "enum": [
            "default",
            "private"
          ],
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses go to the VPC, non-RFC1918 addresses go to the Internet. When set to PRIVATE, Cloud DNS will always send queries through VPC for this target.",
          "enumDescriptions": [
            "Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses will forward to the target through the Internet",
            "Cloud DNS will always forward to this target through the VPC."
          ],
          "type": "string"
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address of a target name server."
        }
      },
      "type": "object",
      "id": "ManagedZoneForwardingConfigNameServerTarget"
    },
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "properties": {
        "deletionTime": {
          "type": "string",
          "description": "The time that the namespace backing this zone was deleted, empty string if it still exists. This is in RFC3339 text format. Output only."
        },
        "namespaceUrl": {
          "description": "The fully qualified URL of the namespace associated with the zone. This should be formatted like https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfigNamespace",
          "type": "string"
        }
      },
      "id": "ManagedZoneServiceDirectoryConfigNamespace",
      "type": "object"
    },
    "DnsKeySpec": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#dnsKeySpec"
        },
        "keyLength": {
          "type": "integer",
          "description": "Length of the keys in bits.",
          "format": "uint32"
        },
        "keyType": {
          "type": "string",
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, will only be used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and will be used to sign all other types of resource record sets.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "keySigning",
            "zoneSigning"
          ]
        },
        "algorithm": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ]
        }
      },
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "type": "object",
      "id": "DnsKeySpec"
    },
    "ManagedZonesListResponse": {
      "id": "ManagedZonesListResponse",
      "properties": {
        "kind": {
          "default": "dns#managedZonesListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "managedZones": {
          "type": "array",
          "description": "The managed zone resources.",
          "items": {
            "$ref": "ManagedZone"
          }
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "enableInboundForwarding": {
          "type": "boolean",
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address will be allocated from each of the sub-networks that are bound to this policy."
        },
        "name": {
          "type": "string",
          "description": "User assigned name for this policy."
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "uint64",
          "type": "string"
        },
        "enableLogging": {
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "dns#policy"
        },
        "alternativeNameServerConfig": {
          "$ref": "PolicyAlternativeNameServerConfig",
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified."
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function."
        },
        "networks": {
          "type": "array",
          "description": "List of network names specifying networks to which this policy is applied.",
          "items": {
            "$ref": "PolicyNetwork"
          }
        }
      },
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources."
    },
    "OperationDnsKeyContext": {
      "id": "OperationDnsKeyContext",
      "type": "object",
      "properties": {
        "newValue": {
          "description": "The post-operation DnsKey resource.",
          "$ref": "DnsKey"
        },
        "oldValue": {
          "$ref": "DnsKey",
          "description": "The pre-operation DnsKey resource."
        }
      }
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "type": "object",
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfigNetwork",
          "type": "string"
        }
      },
      "id": "ManagedZonePrivateVisibilityConfigNetwork"
    },
    "ManagedZoneReverseLookupConfig": {
      "properties": {
        "kind": {
          "default": "dns#managedZoneReverseLookupConfig",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZoneReverseLookupConfig"
    },
    "PoliciesUpdateResponse": {
      "id": "PoliciesUpdateResponse",
      "properties": {
        "policy": {
          "$ref": "Policy"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "type": "object"
    },
    "DnsKey": {
      "type": "object",
      "properties": {
        "publicKey": {
          "description": "Base64 encoded public half of this key. Output only.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function."
        },
        "isActive": {
          "type": "boolean",
          "description": "Active keys will be used to sign subsequent changes to the ManagedZone. Inactive keys will still be present as DNSKEY Resource Records for the use of resolvers validating existing signatures."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, will be used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag will be cleared and this key will be used to sign only resource record sets of other types. Immutable after creation time.",
          "enum": [
            "keySigning",
            "zoneSigning"
          ]
        },
        "kind": {
          "default": "dns#dnsKey",
          "type": "string"
        },
        "digests": {
          "type": "array",
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.",
          "items": {
            "$ref": "DnsKeyDigest"
          }
        },
        "keyTag": {
          "format": "int32",
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.",
          "type": "integer"
        },
        "creationTime": {
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "algorithm": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.",
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ]
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "keyLength": {
          "type": "integer",
          "description": "Length of the key in bits. Specified at creation time then immutable.",
          "format": "uint32"
        }
      },
      "id": "DnsKey",
      "description": "A DNSSEC key pair."
    },
    "ManagedZoneDnsSecConfig": {
      "type": "object",
      "id": "ManagedZoneDnsSecConfig",
      "properties": {
        "nonExistence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "nsec",
            "nsec3"
          ],
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZoneDnsSecConfig",
          "type": "string"
        },
        "defaultKeySpecs": {
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF.",
          "type": "array",
          "items": {
            "$ref": "DnsKeySpec"
          }
        },
        "state": {
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ],
          "enum": [
            "off",
            "on",
            "transfer"
          ],
          "type": "string",
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in."
        }
      }
    },
    "ChangesListResponse": {
      "properties": {
        "changes": {
          "description": "The requested changes.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size."
        },
        "kind": {
          "description": "Type of resource.",
          "type": "string",
          "default": "dns#changesListResponse"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "id": "ChangesListResponse",
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection.",
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "properties": {
        "networks": {
          "description": "The list of VPC networks that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfig",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfig"
    },
    "ManagedZoneOperationsListResponse": {
      "id": "ManagedZoneOperationsListResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneOperationsListResponse"
        },
        "operations": {
          "description": "The operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object"
    },
    "ResponseHeader": {
      "id": "ResponseHeader",
      "description": "Elements common to every response.",
      "type": "object",
      "properties": {
        "operationId": {
          "description": "For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only).",
          "type": "string"
        }
      }
    },
    "Change": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "additions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array",
          "description": "Which ResourceRecordSets to add?"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent but the servers might not be updated yet.",
          "enum": [
            "pending",
            "done"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "isServing": {
          "type": "boolean",
          "description": "If the DNS queries for the zone will be served."
        },
        "kind": {
          "default": "dns#change",
          "type": "string"
        },
        "deletions": {
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        },
        "startTime": {
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format.",
          "type": "string"
        }
      },
      "id": "Change",
      "type": "object",
      "description": "A Change represents a set of ResourceRecordSet additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the ResourceRecordSets in a ManagedZone. The current state of the ManagedZone is the sum effect of applying all Change elements in the Changes collection in sequence."
    },
    "PoliciesListResponse": {
      "type": "object",
      "id": "PoliciesListResponse",
      "properties": {
        "policies": {
          "description": "The policy resources.",
          "type": "array",
          "items": {
            "$ref": "Policy"
          }
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "kind": {
          "description": "Type of resource.",
          "type": "string",
          "default": "dns#policiesListResponse"
        }
      }
    },
    "ManagedZonePeeringConfig": {
      "type": "object",
      "id": "ManagedZonePeeringConfig",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfig"
        },
        "targetNetwork": {
          "description": "The network with which to peer.",
          "$ref": "ManagedZonePeeringConfigTargetNetwork"
        }
      }
    },
    "DnsKeyDigest": {
      "id": "DnsKeyDigest",
      "type": "object",
      "properties": {
        "digest": {
          "type": "string",
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record."
        },
        "type": {
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Specifies the algorithm used to calculate this digest."
        }
      }
    },
    "OperationManagedZoneContext": {
      "id": "OperationManagedZoneContext",
      "properties": {
        "oldValue": {
          "$ref": "ManagedZone",
          "description": "The pre-operation ManagedZone resource."
        },
        "newValue": {
          "description": "The post-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "ownerName": "Google",
  "description": "",
  "resources": {
    "dnsKeys": {
      "methods": {
        "list": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "id": "dns.dnsKeys.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "description": "Enumerate DnsKeys to a ResourceRecordSet collection.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "format": "int32"
            },
            "digestType": {
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed.",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "id": "dns.dnsKeys.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "description": "Fetch the representation of an existing DnsKey.",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "digestType": {
              "location": "query",
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed."
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "dnsKeyId": {
              "location": "path",
              "required": true,
              "description": "The identifier of the requested DnsKey.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DnsKey"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "flatPath": "dns/v1/projects/{project}",
          "description": "Fetch the representation of an existing Project.",
          "id": "dns.projects.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "response": {
            "$ref": "Project"
          }
        }
      }
    },
    "managedZones": {
      "methods": {
        "get": {
          "response": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "description": "Fetch the representation of an existing ManagedZone.",
          "id": "dns.managedZones.get",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.managedZones.update",
          "description": "Update an existing ManagedZone.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "dnsName": {
              "type": "string",
              "description": "Restricts the list to return only zones with this domain name.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones",
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "parameterOrder": [
            "project"
          ],
          "description": "Enumerate ManagedZones that have been created but not yet deleted.",
          "id": "dns.managedZones.list",
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "Operation"
          },
          "id": "dns.managedZones.patch",
          "description": "Apply a partial update to an existing ManagedZone.",
          "parameters": {
            "managedZone": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "ManagedZone"
          }
        },
        "create": {
          "request": {
            "$ref": "ManagedZone"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Create a new ManagedZone.",
          "path": "dns/v1/projects/{project}/managedZones",
          "response": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true
            }
          },
          "id": "dns.managedZones.create"
        },
        "delete": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.delete",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "description": "Delete a previously created ManagedZone."
        }
      }
    },
    "changes": {
      "methods": {
        "create": {
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "description": "Atomically update the ResourceRecordSet collection.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "request": {
            "$ref": "Change"
          },
          "response": {
            "$ref": "Change"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "id": "dns.changes.create",
          "httpMethod": "POST"
        },
        "get": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "httpMethod": "GET",
          "description": "Fetch the representation of an existing Change.",
          "parameters": {
            "managedZone": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "changeId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse."
            }
          },
          "response": {
            "$ref": "Change"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.changes.get"
        },
        "list": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "type": "integer"
            },
            "sortBy": {
              "enumDescriptions": [
                ""
              ],
              "type": "string",
              "enum": [
                "changeSequence"
              ],
              "location": "query",
              "default": "changeSequence",
              "description": "Sorting criterion. The only supported value is change sequence."
            },
            "sortOrder": {
              "type": "string",
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "location": "query"
            }
          },
          "description": "Enumerate Changes to a ResourceRecordSet collection.",
          "id": "dns.changes.list",
          "response": {
            "$ref": "ChangesListResponse"
          }
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "list": {
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            },
            "sortBy": {
              "enum": [
                "startTime",
                "id"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "default": "startTime",
              "type": "string"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "description": "Enumerate Operations for the given ManagedZone.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "id": "dns.managedZoneOperations.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          }
        },
        "get": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "description": "Fetch the representation of an existing Operation.",
          "parameters": {
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "operation": {
              "description": "Identifies the operation addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "id": "dns.managedZoneOperations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "policies": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Policy"
          },
          "id": "dns.policies.update",
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "policy": {
              "type": "string",
              "location": "path",
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Update an existing Policy.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "policy"
          ]
        },
        "delete": {
          "parameterOrder": [
            "project",
            "policy"
          ],
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "policy": {
              "location": "path",
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true
            }
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "description": "Delete a previously created Policy. Will fail if the policy is still being referenced by a network.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE",
          "id": "dns.policies.delete"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "policy": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request."
            }
          },
          "description": "Fetch the representation of an existing Policy.",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.get",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/policies/{policy}"
        },
        "create": {
          "path": "dns/v1/projects/{project}/policies",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "description": "Create a new Policy",
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "dns/v1/projects/{project}/policies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "id": "dns.policies.create"
        },
        "list": {
          "flatPath": "dns/v1/projects/{project}/policies",
          "description": "Enumerate all Policies associated with a project.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/policies",
          "httpMethod": "GET",
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "id": "dns.policies.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "request": {
            "$ref": "Policy"
          },
          "description": "Apply a partial update to an existing Policy.",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "policy": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "id": "dns.policies.patch",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "httpMethod": "PATCH"
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "list": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "description": "Enumerate ResourceRecordSets that have been created but not yet deleted.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "id": "dns.resourceRecordSets.list",
          "parameters": {
            "managedZone": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "type": {
              "location": "query",
              "description": "Restricts the list to return only records of this type. If present, the \"name\" parameter must also be present.",
              "type": "string"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Restricts the list to return only records with this fully qualified domain name."
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        }
      }
    }
  },
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "revision": "20210204",
  "kind": "discovery#restDescription"
}
