{
  "canonicalName": "Dns",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://dns.googleapis.com/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "revision": "20201116",
  "description": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version": "v1beta2",
  "ownerName": "Google",
  "servicePath": "",
  "title": "Cloud DNS API",
  "resources": {
    "changes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerate Changes to a ResourceRecordSet collection.",
          "id": "dns.changes.list",
          "response": {
            "$ref": "ChangesListResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "location": "query",
              "format": "int32"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "sortBy": {
              "enum": [
                "changeSequence"
              ],
              "type": "string",
              "enumDescriptions": [
                ""
              ],
              "default": "changeSequence",
              "description": "Sorting criterion. The only supported value is change sequence.",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "description": "Sorting order direction: 'ascending' or 'descending'."
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes"
        },
        "create": {
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Atomically update the ResourceRecordSet collection.",
          "response": {
            "$ref": "Change"
          },
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Change"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.changes.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Change"
          },
          "httpMethod": "GET",
          "description": "Fetch the representation of an existing Change.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "changeId": {
              "required": true,
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            }
          },
          "id": "dns.changes.get"
        }
      }
    },
    "policies": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "project",
            "policy"
          ],
          "id": "dns.policies.patch",
          "request": {
            "$ref": "Policy"
          },
          "parameters": {
            "policy": {
              "type": "string",
              "location": "path",
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "description": "Apply a partial update to an existing Policy.",
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "path": "dns/v1beta2/projects/{project}/policies/{policy}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "policy": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "description": "Fetch the representation of an existing Policy.",
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "id": "dns.policies.get",
          "parameterOrder": [
            "project",
            "policy"
          ]
        },
        "delete": {
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "policy": {
              "required": true,
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "description": "Delete a previously created Policy. Will fail if the policy is still being referenced by a network.",
          "id": "dns.policies.delete",
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ]
        },
        "list": {
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "description": "Enumerate all Policies associated with a project.",
          "id": "dns.policies.list",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "maxResults": {
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "dns/v1beta2/projects/{project}/policies",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "flatPath": "dns/v1beta2/projects/{project}/policies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "update": {
          "description": "Update an existing Policy.",
          "request": {
            "$ref": "Policy"
          },
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "id": "dns.policies.update",
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "policy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request."
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/policies",
          "path": "dns/v1beta2/projects/{project}/policies",
          "httpMethod": "POST",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "id": "dns.policies.create",
          "description": "Create a new Policy"
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "list": {
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "description": "Enumerate DnsKeys to a ResourceRecordSet collection.",
          "id": "dns.dnsKeys.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "digestType": {
              "type": "string",
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed."
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "httpMethod": "GET"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Fetch the representation of an existing DnsKey.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "managedZone": {
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string"
            },
            "digestType": {
              "type": "string",
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed."
            },
            "dnsKeyId": {
              "location": "path",
              "required": true,
              "description": "The identifier of the requested DnsKey.",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "id": "dns.dnsKeys.get",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "response": {
            "$ref": "DnsKey"
          }
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerate ResourceRecordSets that have been created but not yet deleted.",
          "id": "dns.resourceRecordSets.list",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Restricts the list to return only records with this fully qualified domain name."
            },
            "type": {
              "location": "query",
              "description": "Restricts the list to return only records of this type. If present, the \"name\" parameter must also be present.",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return."
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "managedZones": {
          "resources": {
            "rrsets": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "ResourceRecordSet"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "project",
                    "managedZone"
                  ],
                  "id": "dns.projects.managedZones.rrsets.create",
                  "description": "Create a new ResourceRecordSet.",
                  "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
                  "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                  ],
                  "request": {
                    "$ref": "ResourceRecordSet"
                  },
                  "parameters": {
                    "project": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Identifies the project addressed by this request."
                    },
                    "clientOperationId": {
                      "location": "query",
                      "type": "string",
                      "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
                    },
                    "managedZone": {
                      "type": "string",
                      "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "get": {
                  "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
                  "description": "Fetch the representation of an existing ResourceRecordSet.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/ndev.clouddns.readonly",
                    "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                  ],
                  "response": {
                    "$ref": "ResourceRecordSet"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Fully qualified domain name.",
                      "type": "string",
                      "required": true
                    },
                    "project": {
                      "description": "Identifies the project addressed by this request.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "clientOperationId": {
                      "location": "query",
                      "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
                      "type": "string"
                    },
                    "managedZone": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
                      "required": true
                    },
                    "type": {
                      "description": "RRSet type.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
                  "parameterOrder": [
                    "project",
                    "managedZone",
                    "name",
                    "type"
                  ],
                  "httpMethod": "GET",
                  "id": "dns.projects.managedZones.rrsets.get"
                },
                "patch": {
                  "parameters": {
                    "type": {
                      "description": "RRSet type.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "managedZone": {
                      "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "project": {
                      "required": true,
                      "description": "Identifies the project addressed by this request.",
                      "type": "string",
                      "location": "path"
                    },
                    "clientOperationId": {
                      "type": "string",
                      "location": "query",
                      "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Fully qualified domain name.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Apply a partial update to an existing ResourceRecordSet.",
                  "request": {
                    "$ref": "ResourceRecordSet"
                  },
                  "response": {
                    "$ref": "ResourceRecordSet"
                  },
                  "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
                  "parameterOrder": [
                    "project",
                    "managedZone",
                    "name",
                    "type"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                  ],
                  "id": "dns.projects.managedZones.rrsets.patch",
                  "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}"
                },
                "delete": {
                  "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
                  "response": {
                    "$ref": "ResourceRecordSetsDeleteResponse"
                  },
                  "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
                  "description": "Delete a previously created ResourceRecordSet.",
                  "id": "dns.projects.managedZones.rrsets.delete",
                  "parameters": {
                    "type": {
                      "description": "RRSet type.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "name": {
                      "description": "Fully qualified domain name.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "project": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Identifies the project addressed by this request."
                    },
                    "clientOperationId": {
                      "type": "string",
                      "location": "query",
                      "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
                    },
                    "managedZone": {
                      "required": true,
                      "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "project",
                    "managedZone",
                    "name",
                    "type"
                  ]
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "dns/v1beta2/projects/{project}",
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [
            "project"
          ],
          "id": "dns.projects.get",
          "httpMethod": "GET",
          "description": "Fetch the representation of an existing Project.",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}"
        }
      }
    },
    "managedZones": {
      "methods": {
        "create": {
          "flatPath": "dns/v1beta2/projects/{project}/managedZones",
          "id": "dns.managedZones.create",
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Create a new ManagedZone.",
          "httpMethod": "POST",
          "response": {
            "$ref": "ManagedZone"
          },
          "request": {
            "$ref": "ManagedZone"
          }
        },
        "update": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            }
          },
          "description": "Update an existing ManagedZone.",
          "id": "dns.managedZones.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "ManagedZone"
          }
        },
        "delete": {
          "parameters": {
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Delete a previously created ManagedZone.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "DELETE",
          "id": "dns.managedZones.delete",
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "list": {
          "parameters": {
            "dnsName": {
              "location": "query",
              "type": "string",
              "description": "Restricts the list to return only zones with this domain name."
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones",
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "id": "dns.managedZones.list",
          "description": "Enumerate ManagedZones that have been created but not yet deleted.",
          "path": "dns/v1beta2/projects/{project}/managedZones"
        },
        "patch": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "managedZone": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "id": "dns.managedZones.patch",
          "description": "Apply a partial update to an existing ManagedZone."
        },
        "get": {
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ManagedZone"
          },
          "id": "dns.managedZones.get",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Fetch the representation of an existing ManagedZone.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "sortBy": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "enum": [
                "startTime",
                "id"
              ],
              "default": "startTime",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "dns.managedZoneOperations.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Enumerate Operations for the given ManagedZone.",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "httpMethod": "GET",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "parameters": {
            "operation": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the operation addressed by this request."
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request.",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "description": "Fetch the representation of an existing Operation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "id": "dns.managedZoneOperations.get"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "protocol": "rest",
  "schemas": {
    "Quota": {
      "type": "object",
      "id": "Quota",
      "description": "Limits associated with a Project.",
      "properties": {
        "policies": {
          "format": "int32",
          "description": "Maximum allowed number of policies per project.",
          "type": "integer"
        },
        "managedZones": {
          "description": "Maximum allowed number of managed zones in the project.",
          "format": "int32",
          "type": "integer"
        },
        "targetNameServersPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of alternative target name servers per policy.",
          "format": "int32"
        },
        "networksPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of networks per policy.",
          "format": "int32"
        },
        "totalRrdataSizePerChange": {
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.",
          "format": "int32",
          "type": "integer"
        },
        "resourceRecordsPerRrset": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet.",
          "type": "integer"
        },
        "rrsetsPerManagedZone": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project."
        },
        "rrsetAdditionsPerChange": {
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.",
          "format": "int32",
          "type": "integer"
        },
        "whitelistedKeySpecs": {
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys.",
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array"
        },
        "dnsKeysPerManagedZone": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of DnsKeys per ManagedZone."
        },
        "gkeClustersPerPolicy": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of GKE clusters per policy."
        },
        "kind": {
          "default": "dns#quota",
          "type": "string"
        },
        "managedZonesPerNetwork": {
          "format": "int32",
          "description": "Maximum allowed number of managed zones which can be attached to a network.",
          "type": "integer"
        },
        "targetNameServersPerManagedZone": {
          "description": "Maximum allowed number of target name servers per managed forwarding zone.",
          "type": "integer",
          "format": "int32"
        },
        "networksPerManagedZone": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached."
        },
        "rrsetDeletionsPerChange": {
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ManagedZoneServiceDirectoryConfig": {
      "id": "ManagedZoneServiceDirectoryConfig",
      "type": "object",
      "description": "Contains information about Service Directory-backed zones.",
      "properties": {
        "namespace": {
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace",
          "description": "Contains information about the namespace associated with the zone."
        },
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfig",
          "type": "string"
        }
      }
    },
    "ManagedZonePrivateVisibilityConfig": {
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfig",
      "properties": {
        "networks": {
          "type": "array",
          "description": "The list of VPC networks that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          }
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfig",
          "type": "string"
        }
      }
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem",
          "type": "string"
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "The weight corresponding to this subset of rrdata. When multiple WeightedRoundRobinPolicyItems are configured, the probability of returning an rrset is proportional to its weight relative to the sum of weights configured for all items. This weight should be a decimal in the range [0,1]."
        },
        "signatureRrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for the above wrr_rrdata."
        }
      }
    },
    "ManagedZoneReverseLookupConfig": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneReverseLookupConfig"
        }
      },
      "id": "ManagedZoneReverseLookupConfig"
    },
    "OperationManagedZoneContext": {
      "properties": {
        "newValue": {
          "$ref": "ManagedZone",
          "description": "The post-operation ManagedZone resource."
        },
        "oldValue": {
          "$ref": "ManagedZone",
          "description": "The pre-operation ManagedZone resource."
        }
      },
      "type": "object",
      "id": "OperationManagedZoneContext"
    },
    "ManagedZone": {
      "type": "object",
      "properties": {
        "dnsName": {
          "description": "The DNS name of this managed zone, for instance \"example.com.\".",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ManagedZoneServiceDirectoryConfig",
          "description": "This field links to the associated service directory namespace. This field should not be set for public zones or forwarding zones."
        },
        "reverseLookupConfig": {
          "$ref": "ManagedZoneReverseLookupConfig",
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS will resolve reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config."
        },
        "creationTime": {
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "peeringConfig": {
          "$ref": "ManagedZonePeeringConfig",
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with."
        },
        "name": {
          "type": "string",
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
        },
        "visibility": {
          "type": "string",
          "enum": [
            "public",
            "private"
          ],
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User labels."
        },
        "dnssecConfig": {
          "description": "DNSSEC configuration.",
          "$ref": "ManagedZoneDnsSecConfig"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZone"
        },
        "nameServers": {
          "items": {
            "type": "string"
          },
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function."
        },
        "forwardingConfig": {
          "$ref": "ManagedZoneForwardingConfig",
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to."
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only)",
          "format": "uint64",
          "type": "string"
        },
        "privateVisibilityConfig": {
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from.",
          "$ref": "ManagedZonePrivateVisibilityConfig"
        },
        "nameServerSet": {
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users will leave this field unset.",
          "type": "string"
        }
      },
      "id": "ManagedZone",
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service."
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfigNetwork"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        }
      },
      "id": "ManagedZonePrivateVisibilityConfigNetwork"
    },
    "OperationDnsKeyContext": {
      "type": "object",
      "properties": {
        "oldValue": {
          "$ref": "DnsKey",
          "description": "The pre-operation DnsKey resource."
        },
        "newValue": {
          "$ref": "DnsKey",
          "description": "The post-operation DnsKey resource."
        }
      },
      "id": "OperationDnsKeyContext"
    },
    "Change": {
      "type": "object",
      "id": "Change",
      "properties": {
        "deletions": {
          "type": "array",
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "isServing": {
          "type": "boolean",
          "description": "If the DNS queries for the zone will be served."
        },
        "kind": {
          "type": "string",
          "default": "dns#change"
        },
        "status": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent but the servers might not be updated yet.",
          "enum": [
            "pending",
            "done"
          ],
          "type": "string"
        },
        "additions": {
          "type": "array",
          "description": "Which ResourceRecordSets to add?",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format."
        }
      },
      "description": "A Change represents a set of ResourceRecordSet additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the ResourceRecordSets in a ManagedZone. The current state of the ManagedZone is the sum effect of applying all Change elements in the Changes collection in sequence."
    },
    "ResponseHeader": {
      "id": "ResponseHeader",
      "description": "Elements common to every response.",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only)."
        }
      },
      "type": "object"
    },
    "ManagedZoneForwardingConfig": {
      "properties": {
        "targetNameServers": {
          "description": "List of target name servers to forward to. Cloud DNS will select the best available name server if more than one target is given.",
          "type": "array",
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          }
        },
        "kind": {
          "default": "dns#managedZoneForwardingConfig",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZoneForwardingConfig"
    },
    "ResourceRecordSetsDeleteResponse": {
      "type": "object",
      "id": "ResourceRecordSetsDeleteResponse",
      "properties": {}
    },
    "Project": {
      "type": "object",
      "id": "Project",
      "properties": {
        "id": {
          "description": "User assigned unique identifier for the resource (output only).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#project"
        },
        "quota": {
          "description": "Quotas assigned to this project (output only).",
          "$ref": "Quota"
        },
        "number": {
          "description": "Unique numeric identifier for the resource; defined by the server (output only).",
          "type": "string",
          "format": "uint64"
        }
      },
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console."
    },
    "ManagedZoneDnsSecConfig": {
      "properties": {
        "nonExistence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.",
          "enum": [
            "nsec",
            "nsec3"
          ]
        },
        "defaultKeySpecs": {
          "items": {
            "$ref": "DnsKeySpec"
          },
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneDnsSecConfig"
        },
        "state": {
          "enum": [
            "off",
            "on",
            "transfer"
          ],
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in.",
          "type": "string",
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ]
        }
      },
      "id": "ManagedZoneDnsSecConfig",
      "type": "object"
    },
    "RRSetRoutingPolicyGeoPolicy": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyGeoPolicy"
        },
        "failovers": {
          "description": "If the health check for the primary target for a geo location returns an unhealthy status, the failover target is returned instead. This failover configuration is not mandatory. If a failover is not provided, the primary target won't be healthchecked - we'll return the primarily configured rrdata irrespective of whether it is healthy or not.",
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          },
          "type": "array"
        },
        "items": {
          "description": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead.",
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "RRSetRoutingPolicyGeoPolicy"
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "id": "ManagedZonePeeringConfigTargetNetwork",
      "type": "object",
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfigTargetNetwork"
        },
        "deactivateTime": {
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only.",
          "type": "string"
        }
      }
    },
    "PolicyNetwork": {
      "type": "object",
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#policyNetwork"
        }
      },
      "id": "PolicyNetwork"
    },
    "PoliciesUpdateResponse": {
      "id": "PoliciesUpdateResponse",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      }
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "properties": {
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem",
          "type": "string"
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for the above geo_rrdata.",
          "type": "array"
        },
        "location": {
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc.",
          "type": "string"
        }
      },
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "type": "object"
    },
    "Policy": {
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.",
      "properties": {
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "uint64",
          "type": "string"
        },
        "name": {
          "description": "User assigned name for this policy.",
          "type": "string"
        },
        "enableInboundForwarding": {
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address will be allocated from each of the sub-networks that are bound to this policy.",
          "type": "boolean"
        },
        "kind": {
          "default": "dns#policy",
          "type": "string"
        },
        "enableLogging": {
          "type": "boolean",
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set."
        },
        "networks": {
          "type": "array",
          "description": "List of network names specifying networks to which this policy is applied.",
          "items": {
            "$ref": "PolicyNetwork"
          }
        },
        "alternativeNameServerConfig": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "$ref": "PolicyAlternativeNameServerConfig"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function."
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "ResourceRecordSet": {
      "id": "ResourceRecordSet",
      "type": "object",
      "properties": {
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples."
        },
        "type": {
          "type": "string",
          "description": "The identifier of a supported record type. See the list of Supported DNS record types."
        },
        "signatureRrdatas": {
          "description": "As defined in RFC 4034 (section 3.2).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "For example, www.example.com.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#resourceRecordSet"
        },
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
          "description": "Configures dynamic query responses based on geo location of querying user or a weighted round robin based routing policy. A ResourceRecordSet should only have either rrdata (static) or routing_policy(dynamic). An error is returned otherwise."
        },
        "ttl": {
          "type": "integer",
          "description": "Number of seconds that this ResourceRecordSet can be cached by resolvers.",
          "format": "int32"
        }
      },
      "description": "A unit of data that will be returned by the DNS servers."
    },
    "ManagedZoneOperationsListResponse": {
      "type": "object",
      "id": "ManagedZoneOperationsListResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneOperationsListResponse"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "The operation resources.",
          "type": "array"
        }
      }
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneForwardingConfigNameServerTarget"
        },
        "forwardingPath": {
          "type": "string",
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses go to the VPC, non-RFC1918 addresses go to the Internet. When set to PRIVATE, Cloud DNS will always send queries through VPC for this target.",
          "enumDescriptions": [
            "Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses will forward to the target through the Internet",
            "Cloud DNS will always forward to this target through the VPC."
          ],
          "enum": [
            "default",
            "private"
          ]
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address of a target name server."
        }
      },
      "id": "ManagedZoneForwardingConfigNameServerTarget",
      "type": "object"
    },
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "properties": {
        "deletionTime": {
          "description": "The time that the namespace backing this zone was deleted, empty string if it still exists. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfigNamespace",
          "type": "string"
        },
        "namespaceUrl": {
          "description": "The fully qualified URL of the namespace associated with the zone. This should be formatted like https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZoneServiceDirectoryConfigNamespace"
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicy",
      "properties": {
        "items": {
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        }
      }
    },
    "PoliciesListResponse": {
      "id": "PoliciesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Type of resource.",
          "default": "dns#policiesListResponse",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "policies": {
          "items": {
            "$ref": "Policy"
          },
          "description": "The policy resources.",
          "type": "array"
        }
      }
    },
    "ResourceRecordSetsListResponse": {
      "id": "ResourceRecordSetsListResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "rrsets": {
          "description": "The resource record set resources.",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "dns#resourceRecordSetsListResponse"
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ManagedZonesListResponse": {
      "id": "ManagedZonesListResponse",
      "type": "object",
      "properties": {
        "managedZones": {
          "type": "array",
          "items": {
            "$ref": "ManagedZone"
          },
          "description": "The managed zone resources."
        },
        "kind": {
          "default": "dns#managedZonesListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      }
    },
    "DnsKeySpec": {
      "id": "DnsKeySpec",
      "type": "object",
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "properties": {
        "algorithm": {
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "type": "string",
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "keyLength": {
          "format": "uint32",
          "description": "Length of the keys in bits.",
          "type": "integer"
        },
        "keyType": {
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, will only be used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and will be used to sign all other types of resource record sets."
        },
        "kind": {
          "default": "dns#dnsKeySpec",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the operation. Operations include insert, update, and delete (output only)."
        },
        "dnsKeyContext": {
          "description": "Only populated if the operation targeted a DnsKey (output only).",
          "$ref": "OperationDnsKeyContext"
        },
        "id": {
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only)."
        },
        "kind": {
          "default": "dns#operation",
          "type": "string"
        },
        "zoneContext": {
          "$ref": "OperationManagedZoneContext",
          "description": "Only populated if the operation targeted a ManagedZone (output only)."
        },
        "status": {
          "enum": [
            "pending",
            "done"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet."
        },
        "user": {
          "type": "string",
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)"
        }
      },
      "type": "object"
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "id": "PolicyAlternativeNameServerConfigTargetNameServer",
      "properties": {
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address to forward to."
        },
        "forwardingPath": {
          "enumDescriptions": [
            "Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses will forward to the target through the Internet",
            "Cloud DNS will always forward to this target through the VPC."
          ],
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses go to the VPC, non-RFC1918 addresses go to the Internet. When set to PRIVATE, Cloud DNS will always send queries through VPC for this target.",
          "type": "string",
          "enum": [
            "default",
            "private"
          ]
        },
        "kind": {
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer"
        }
      },
      "type": "object"
    },
    "PolicyAlternativeNameServerConfig": {
      "properties": {
        "targetNameServers": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#policyAlternativeNameServerConfig",
          "type": "string"
        }
      },
      "id": "PolicyAlternativeNameServerConfig",
      "type": "object"
    },
    "ChangesListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "default": "dns#changesListResponse",
          "type": "string",
          "description": "Type of resource."
        },
        "changes": {
          "description": "The requested changes.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        }
      },
      "id": "ChangesListResponse",
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection."
    },
    "RRSetRoutingPolicy": {
      "description": "A RRSetRoutingPolicy represents ResourceRecordSet data that will be returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicy"
        },
        "geoPolicy": {
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        },
        "wrrPolicy": {
          "$ref": "RRSetRoutingPolicyWrrPolicy"
        }
      },
      "id": "RRSetRoutingPolicy",
      "type": "object"
    },
    "DnsKeysListResponse": {
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone.",
      "type": "object",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "type": "string",
          "default": "dns#dnsKeysListResponse",
          "description": "Type of resource."
        },
        "dnsKeys": {
          "type": "array",
          "description": "The requested resources.",
          "items": {
            "$ref": "DnsKey"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size."
        }
      },
      "id": "DnsKeysListResponse"
    },
    "DnsKey": {
      "properties": {
        "digests": {
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.",
          "type": "array",
          "items": {
            "$ref": "DnsKeyDigest"
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, will be used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag will be cleared and this key will be used to sign only resource record sets of other types. Immutable after creation time.",
          "type": "string"
        },
        "isActive": {
          "type": "boolean",
          "description": "Active keys will be used to sign subsequent changes to the ManagedZone. Inactive keys will still be present as DNSKEY Resource Records for the use of resolvers validating existing signatures."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only."
        },
        "keyLength": {
          "format": "uint32",
          "type": "integer",
          "description": "Length of the key in bits. Specified at creation time then immutable."
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function."
        },
        "publicKey": {
          "description": "Base64 encoded public half of this key. Output only.",
          "type": "string"
        },
        "keyTag": {
          "type": "integer",
          "format": "int32",
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only."
        },
        "algorithm": {
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time."
        },
        "kind": {
          "default": "dns#dnsKey",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A DNSSEC key pair.",
      "id": "DnsKey"
    },
    "DnsKeyDigest": {
      "properties": {
        "type": {
          "description": "Specifies the algorithm used to calculate this digest.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "type": "string"
        },
        "digest": {
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DnsKeyDigest"
    },
    "ManagedZonePeeringConfig": {
      "properties": {
        "kind": {
          "default": "dns#managedZonePeeringConfig",
          "type": "string"
        },
        "targetNetwork": {
          "description": "The network with which to peer.",
          "$ref": "ManagedZonePeeringConfigTargetNetwork"
        }
      },
      "id": "ManagedZonePeeringConfig",
      "type": "object"
    },
    "PoliciesPatchResponse": {
      "type": "object",
      "id": "PoliciesPatchResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "policy": {
          "$ref": "Policy"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/dns/docs",
  "baseUrl": "https://dns.googleapis.com/",
  "id": "dns:v1beta2",
  "basePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "dns",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  }
}
