{
 "kind": "discovery#restDescription",
 "etag": "\"-2NioU2H8y8siEzrBOV_qzRI6kQ/PfnNs6540GtpSJ-y6RmFD__VKLE\"",
 "discoveryVersion": "v1",
 "id": "drive:v3",
 "name": "drive",
 "version": "v3",
 "revision": "20210207",
 "title": "Drive API",
 "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png",
  "x32": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"
 },
 "documentationLink": "https://developers.google.com/drive/",
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/drive/v3/",
 "basePath": "/drive/v3/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "drive/v3/",
 "batchPath": "batch/drive/v3",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "Deprecated. Please use quotaUser instead.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/drive": {
     "description": "See, edit, create, and delete all of your Google Drive files"
    },
    "https://www.googleapis.com/auth/drive.appdata": {
     "description": "See, create, and delete its own configuration data in your Google Drive"
    },
    "https://www.googleapis.com/auth/drive.file": {
     "description": "View and manage Google Drive files and folders that you have opened or created with this app"
    },
    "https://www.googleapis.com/auth/drive.metadata": {
     "description": "View and manage metadata of files in your Google Drive"
    },
    "https://www.googleapis.com/auth/drive.metadata.readonly": {
     "description": "See information about your Google Drive files"
    },
    "https://www.googleapis.com/auth/drive.photos.readonly": {
     "description": "View the photos, videos and albums in your Google Photos"
    },
    "https://www.googleapis.com/auth/drive.readonly": {
     "description": "See and download all your Google Drive files"
    },
    "https://www.googleapis.com/auth/drive.scripts": {
     "description": "Modify your Google Apps Script scripts' behavior"
    }
   }
  }
 },
 "schemas": {
  "About": {
   "id": "About",
   "type": "object",
   "description": "Information about the user, the user's Drive, and system capabilities.",
   "properties": {
    "appInstalled": {
     "type": "boolean",
     "description": "Whether the user has installed the requesting app."
    },
    "canCreateDrives": {
     "type": "boolean",
     "description": "Whether the user can create shared drives."
    },
    "canCreateTeamDrives": {
     "type": "boolean",
     "description": "Deprecated - use canCreateDrives instead."
    },
    "driveThemes": {
     "type": "array",
     "description": "A list of themes that are supported for shared drives.",
     "items": {
      "type": "object",
      "properties": {
       "backgroundImageLink": {
        "type": "string",
        "description": "A link to this theme's background image."
       },
       "colorRgb": {
        "type": "string",
        "description": "The color of this theme as an RGB hex string."
       },
       "id": {
        "type": "string",
        "description": "The ID of the theme."
       }
      }
     }
    },
    "exportFormats": {
     "type": "object",
     "description": "A map of source MIME type to possible targets for all supported exports.",
     "additionalProperties": {
      "type": "array",
      "items": {
       "type": "string"
      }
     }
    },
    "folderColorPalette": {
     "type": "array",
     "description": "The currently supported folder colors as RGB hex strings.",
     "items": {
      "type": "string"
     }
    },
    "importFormats": {
     "type": "object",
     "description": "A map of source MIME type to possible targets for all supported imports.",
     "additionalProperties": {
      "type": "array",
      "items": {
       "type": "string"
      }
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#about\".",
     "default": "drive#about"
    },
    "maxImportSizes": {
     "type": "object",
     "description": "A map of maximum import sizes by MIME type, in bytes.",
     "additionalProperties": {
      "type": "string",
      "format": "int64"
     }
    },
    "maxUploadSize": {
     "type": "string",
     "description": "The maximum upload size in bytes.",
     "format": "int64"
    },
    "storageQuota": {
     "type": "object",
     "description": "The user's storage quota limits and usage. All fields are measured in bytes.",
     "properties": {
      "limit": {
       "type": "string",
       "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage.",
       "format": "int64"
      },
      "usage": {
       "type": "string",
       "description": "The total usage across all services.",
       "format": "int64"
      },
      "usageInDrive": {
       "type": "string",
       "description": "The usage by all files in Google Drive.",
       "format": "int64"
      },
      "usageInDriveTrash": {
       "type": "string",
       "description": "The usage by trashed files in Google Drive.",
       "format": "int64"
      }
     }
    },
    "teamDriveThemes": {
     "type": "array",
     "description": "Deprecated - use driveThemes instead.",
     "items": {
      "type": "object",
      "properties": {
       "backgroundImageLink": {
        "type": "string",
        "description": "Deprecated - use driveThemes/backgroundImageLink instead."
       },
       "colorRgb": {
        "type": "string",
        "description": "Deprecated - use driveThemes/colorRgb instead."
       },
       "id": {
        "type": "string",
        "description": "Deprecated - use driveThemes/id instead."
       }
      }
     }
    },
    "user": {
     "$ref": "User",
     "description": "The authenticated user."
    }
   }
  },
  "Change": {
   "id": "Change",
   "type": "object",
   "description": "A change to a file or shared drive.",
   "properties": {
    "changeType": {
     "type": "string",
     "description": "The type of the change. Possible values are file and drive."
    },
    "drive": {
     "$ref": "Drive",
     "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
    },
    "driveId": {
     "type": "string",
     "description": "The ID of the shared drive associated with this change."
    },
    "file": {
     "$ref": "File",
     "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
    },
    "fileId": {
     "type": "string",
     "description": "The ID of the file which has changed."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#change\".",
     "default": "drive#change"
    },
    "removed": {
     "type": "boolean",
     "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
    },
    "teamDrive": {
     "$ref": "TeamDrive",
     "description": "Deprecated - use drive instead."
    },
    "teamDriveId": {
     "type": "string",
     "description": "Deprecated - use driveId instead."
    },
    "time": {
     "type": "string",
     "description": "The time of this change (RFC 3339 date-time).",
     "format": "date-time"
    },
    "type": {
     "type": "string",
     "description": "Deprecated - use changeType instead."
    }
   }
  },
  "ChangeList": {
   "id": "ChangeList",
   "type": "object",
   "description": "A list of changes for a user.",
   "properties": {
    "changes": {
     "type": "array",
     "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "Change"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#changeList\".",
     "default": "drive#changeList"
    },
    "newStartPageToken": {
     "type": "string",
     "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached."
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    }
   }
  },
  "Channel": {
   "id": "Channel",
   "type": "object",
   "description": "An notification channel used to watch for resource changes.",
   "properties": {
    "address": {
     "type": "string",
     "description": "The address where notifications are delivered for this channel."
    },
    "expiration": {
     "type": "string",
     "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
     "format": "int64"
    },
    "id": {
     "type": "string",
     "description": "A UUID or similar unique string that identifies this channel."
    },
    "kind": {
     "type": "string",
     "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\".",
     "default": "api#channel"
    },
    "params": {
     "type": "object",
     "description": "Additional parameters controlling delivery channel behavior. Optional.",
     "additionalProperties": {
      "type": "string",
      "description": "Declares a new parameter by name."
     }
    },
    "payload": {
     "type": "boolean",
     "description": "A Boolean value to indicate whether payload is wanted. Optional."
    },
    "resourceId": {
     "type": "string",
     "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
    },
    "resourceUri": {
     "type": "string",
     "description": "A version-specific identifier for the watched resource."
    },
    "token": {
     "type": "string",
     "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
    },
    "type": {
     "type": "string",
     "description": "The type of delivery mechanism used for this channel."
    }
   }
  },
  "Comment": {
   "id": "Comment",
   "type": "object",
   "description": "A comment on a file.",
   "properties": {
    "anchor": {
     "type": "string",
     "description": "A region of the document represented as a JSON string. See anchor documentation for details on how to define and interpret anchor properties."
    },
    "author": {
     "$ref": "User",
     "description": "The author of the comment. The author's email address and permission ID will not be populated."
    },
    "content": {
     "type": "string",
     "description": "The plain text content of the comment. This field is used for setting the content, while htmlContent should be displayed.",
     "annotations": {
      "required": [
       "drive.comments.create",
       "drive.comments.update"
      ]
     }
    },
    "createdTime": {
     "type": "string",
     "description": "The time at which the comment was created (RFC 3339 date-time).",
     "format": "date-time"
    },
    "deleted": {
     "type": "boolean",
     "description": "Whether the comment has been deleted. A deleted comment has no content."
    },
    "htmlContent": {
     "type": "string",
     "description": "The content of the comment with HTML formatting."
    },
    "id": {
     "type": "string",
     "description": "The ID of the comment."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#comment\".",
     "default": "drive#comment"
    },
    "modifiedTime": {
     "type": "string",
     "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
     "format": "date-time"
    },
    "quotedFileContent": {
     "type": "object",
     "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
     "properties": {
      "mimeType": {
       "type": "string",
       "description": "The MIME type of the quoted content."
      },
      "value": {
       "type": "string",
       "description": "The quoted content itself. This is interpreted as plain text if set through the API."
      }
     }
    },
    "replies": {
     "type": "array",
     "description": "The full list of replies to the comment in chronological order.",
     "items": {
      "$ref": "Reply"
     }
    },
    "resolved": {
     "type": "boolean",
     "description": "Whether the comment has been resolved by one of its replies."
    }
   }
  },
  "CommentList": {
   "id": "CommentList",
   "type": "object",
   "description": "A list of comments on a file.",
   "properties": {
    "comments": {
     "type": "array",
     "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "Comment"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#commentList\".",
     "default": "drive#commentList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    }
   }
  },
  "ContentRestriction": {
   "id": "ContentRestriction",
   "type": "object",
   "description": "A restriction for accessing the content of the file.",
   "properties": {
    "readOnly": {
     "type": "boolean",
     "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified."
    },
    "reason": {
     "type": "string",
     "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set readOnly=true."
    },
    "restrictingUser": {
     "$ref": "User",
     "description": "The user who set the content restriction. Only populated if readOnly is true."
    },
    "restrictionTime": {
     "type": "string",
     "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
     "format": "date-time"
    },
    "type": {
     "type": "string",
     "description": "The type of the content restriction. Currently the only possible value is globalContentRestriction."
    }
   }
  },
  "Drive": {
   "id": "Drive",
   "type": "object",
   "description": "Representation of a shared drive.",
   "properties": {
    "backgroundImageFile": {
     "type": "object",
     "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on drive.drives.update requests that don't set themeId. When specified, all fields of the backgroundImageFile must be set.",
     "properties": {
      "id": {
       "type": "string",
       "description": "The ID of an image file in Google Drive to use for the background image."
      },
      "width": {
       "type": "number",
       "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
       "format": "float"
      },
      "xCoordinate": {
       "type": "number",
       "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
       "format": "float"
      },
      "yCoordinate": {
       "type": "number",
       "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
       "format": "float"
      }
     }
    },
    "backgroundImageLink": {
     "type": "string",
     "description": "A short-lived link to this shared drive's background image."
    },
    "capabilities": {
     "type": "object",
     "description": "Capabilities the current user has on this shared drive.",
     "properties": {
      "canAddChildren": {
       "type": "boolean",
       "description": "Whether the current user can add children to folders in this shared drive."
      },
      "canChangeCopyRequiresWriterPermissionRestriction": {
       "type": "boolean",
       "description": "Whether the current user can change the copyRequiresWriterPermission restriction of this shared drive."
      },
      "canChangeDomainUsersOnlyRestriction": {
       "type": "boolean",
       "description": "Whether the current user can change the domainUsersOnly restriction of this shared drive."
      },
      "canChangeDriveBackground": {
       "type": "boolean",
       "description": "Whether the current user can change the background of this shared drive."
      },
      "canChangeDriveMembersOnlyRestriction": {
       "type": "boolean",
       "description": "Whether the current user can change the driveMembersOnly restriction of this shared drive."
      },
      "canComment": {
       "type": "boolean",
       "description": "Whether the current user can comment on files in this shared drive."
      },
      "canCopy": {
       "type": "boolean",
       "description": "Whether the current user can copy files in this shared drive."
      },
      "canDeleteChildren": {
       "type": "boolean",
       "description": "Whether the current user can delete children from folders in this shared drive."
      },
      "canDeleteDrive": {
       "type": "boolean",
       "description": "Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
      },
      "canDownload": {
       "type": "boolean",
       "description": "Whether the current user can download files in this shared drive."
      },
      "canEdit": {
       "type": "boolean",
       "description": "Whether the current user can edit files in this shared drive"
      },
      "canListChildren": {
       "type": "boolean",
       "description": "Whether the current user can list the children of folders in this shared drive."
      },
      "canManageMembers": {
       "type": "boolean",
       "description": "Whether the current user can add members to this shared drive or remove them or change their role."
      },
      "canReadRevisions": {
       "type": "boolean",
       "description": "Whether the current user can read the revisions resource of files in this shared drive."
      },
      "canRename": {
       "type": "boolean",
       "description": "Whether the current user can rename files or folders in this shared drive."
      },
      "canRenameDrive": {
       "type": "boolean",
       "description": "Whether the current user can rename this shared drive."
      },
      "canShare": {
       "type": "boolean",
       "description": "Whether the current user can share files or folders in this shared drive."
      },
      "canTrashChildren": {
       "type": "boolean",
       "description": "Whether the current user can trash children from folders in this shared drive."
      }
     }
    },
    "colorRgb": {
     "type": "string",
     "description": "The color of this shared drive as an RGB hex string. It can only be set on a drive.drives.update request that does not set themeId."
    },
    "createdTime": {
     "type": "string",
     "description": "The time at which the shared drive was created (RFC 3339 date-time).",
     "format": "date-time"
    },
    "hidden": {
     "type": "boolean",
     "description": "Whether the shared drive is hidden from default view."
    },
    "id": {
     "type": "string",
     "description": "The ID of this shared drive which is also the ID of the top level folder of this shared drive."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#drive\".",
     "default": "drive#drive"
    },
    "name": {
     "type": "string",
     "description": "The name of this shared drive."
    },
    "restrictions": {
     "type": "object",
     "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
     "properties": {
      "adminManagedRestrictions": {
       "type": "boolean",
       "description": "Whether administrative privileges on this shared drive are required to modify restrictions."
      },
      "copyRequiresWriterPermission": {
       "type": "boolean",
       "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to true, it will override the similarly named field to true for any file inside this shared drive."
      },
      "domainUsersOnly": {
       "type": "boolean",
       "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
      },
      "driveMembersOnly": {
       "type": "boolean",
       "description": "Whether access to items inside this shared drive is restricted to its members."
      }
     }
    },
    "themeId": {
     "type": "string",
     "description": "The ID of the theme from which the background image and color will be set. The set of possible driveThemes can be retrieved from a drive.about.get response. When not specified on a drive.drives.create request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set colorRgb or backgroundImageFile."
    }
   }
  },
  "DriveList": {
   "id": "DriveList",
   "type": "object",
   "description": "A list of shared drives.",
   "properties": {
    "drives": {
     "type": "array",
     "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "Drive"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#driveList\".",
     "default": "drive#driveList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    }
   }
  },
  "File": {
   "id": "File",
   "type": "object",
   "description": "The metadata for a file.",
   "properties": {
    "appProperties": {
     "type": "object",
     "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "capabilities": {
     "type": "object",
     "description": "Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
     "properties": {
      "canAddChildren": {
       "type": "boolean",
       "description": "Whether the current user can add children to this folder. This is always false when the item is not a folder."
      },
      "canAddFolderFromAnotherDrive": {
       "type": "boolean",
       "description": "Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives."
      },
      "canAddMyDriveParent": {
       "type": "boolean",
       "description": "Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
      },
      "canChangeCopyRequiresWriterPermission": {
       "type": "boolean",
       "description": "Whether the current user can change the copyRequiresWriterPermission restriction of this file."
      },
      "canChangeViewersCanCopyContent": {
       "type": "boolean",
       "description": "Deprecated"
      },
      "canComment": {
       "type": "boolean",
       "description": "Whether the current user can comment on this file."
      },
      "canCopy": {
       "type": "boolean",
       "description": "Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder."
      },
      "canDelete": {
       "type": "boolean",
       "description": "Whether the current user can delete this file."
      },
      "canDeleteChildren": {
       "type": "boolean",
       "description": "Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
      },
      "canDownload": {
       "type": "boolean",
       "description": "Whether the current user can download this file."
      },
      "canEdit": {
       "type": "boolean",
       "description": "Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see canChangeCopyRequiresWriterPermission or canModifyContent."
      },
      "canListChildren": {
       "type": "boolean",
       "description": "Whether the current user can list the children of this folder. This is always false when the item is not a folder."
      },
      "canModifyContent": {
       "type": "boolean",
       "description": "Whether the current user can modify the content of this file."
      },
      "canModifyContentRestriction": {
       "type": "boolean",
       "description": "Whether the current user can modify restrictions on content of this file."
      },
      "canMoveChildrenOutOfDrive": {
       "type": "boolean",
       "description": "Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives."
      },
      "canMoveChildrenOutOfTeamDrive": {
       "type": "boolean",
       "description": "Deprecated - use canMoveChildrenOutOfDrive instead."
      },
      "canMoveChildrenWithinDrive": {
       "type": "boolean",
       "description": "Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
      },
      "canMoveChildrenWithinTeamDrive": {
       "type": "boolean",
       "description": "Deprecated - use canMoveChildrenWithinDrive instead."
      },
      "canMoveItemIntoTeamDrive": {
       "type": "boolean",
       "description": "Deprecated - use canMoveItemOutOfDrive instead."
      },
      "canMoveItemOutOfDrive": {
       "type": "boolean",
       "description": "Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added."
      },
      "canMoveItemOutOfTeamDrive": {
       "type": "boolean",
       "description": "Deprecated - use canMoveItemOutOfDrive instead."
      },
      "canMoveItemWithinDrive": {
       "type": "boolean",
       "description": "Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed."
      },
      "canMoveItemWithinTeamDrive": {
       "type": "boolean",
       "description": "Deprecated - use canMoveItemWithinDrive instead."
      },
      "canMoveTeamDriveItem": {
       "type": "boolean",
       "description": "Deprecated - use canMoveItemWithinDrive or canMoveItemOutOfDrive instead."
      },
      "canReadDrive": {
       "type": "boolean",
       "description": "Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
      },
      "canReadRevisions": {
       "type": "boolean",
       "description": "Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read."
      },
      "canReadTeamDrive": {
       "type": "boolean",
       "description": "Deprecated - use canReadDrive instead."
      },
      "canRemoveChildren": {
       "type": "boolean",
       "description": "Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use canDeleteChildren or canTrashChildren instead."
      },
      "canRemoveMyDriveParent": {
       "type": "boolean",
       "description": "Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
      },
      "canRename": {
       "type": "boolean",
       "description": "Whether the current user can rename this file."
      },
      "canShare": {
       "type": "boolean",
       "description": "Whether the current user can modify the sharing settings for this file."
      },
      "canTrash": {
       "type": "boolean",
       "description": "Whether the current user can move this file to trash."
      },
      "canTrashChildren": {
       "type": "boolean",
       "description": "Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
      },
      "canUntrash": {
       "type": "boolean",
       "description": "Whether the current user can restore this file from trash."
      }
     }
    },
    "contentHints": {
     "type": "object",
     "description": "Additional information about the content of the file. These fields are never populated in responses.",
     "properties": {
      "indexableText": {
       "type": "string",
       "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128KB in length and may contain HTML elements."
      },
      "thumbnail": {
       "type": "object",
       "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.",
       "properties": {
        "image": {
         "type": "string",
         "description": "The thumbnail data encoded with URL-safe Base64 (RFC 4648 section 5).",
         "format": "byte"
        },
        "mimeType": {
         "type": "string",
         "description": "The MIME type of the thumbnail."
        }
       }
      }
     }
    },
    "contentRestrictions": {
     "type": "array",
     "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
     "items": {
      "$ref": "ContentRestriction"
     }
    },
    "copyRequiresWriterPermission": {
     "type": "boolean",
     "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters."
    },
    "createdTime": {
     "type": "string",
     "description": "The time at which the file was created (RFC 3339 date-time).",
     "format": "date-time"
    },
    "description": {
     "type": "string",
     "description": "A short description of the file."
    },
    "driveId": {
     "type": "string",
     "description": "ID of the shared drive the file resides in. Only populated for items in shared drives."
    },
    "explicitlyTrashed": {
     "type": "boolean",
     "description": "Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder."
    },
    "exportLinks": {
     "type": "object",
     "description": "Links for exporting Docs Editors files to specific formats.",
     "additionalProperties": {
      "type": "string",
      "description": "A mapping from export format to URL"
     }
    },
    "fileExtension": {
     "type": "string",
     "description": "The final component of fullFileExtension. This is only available for files with binary content in Google Drive."
    },
    "folderColorRgb": {
     "type": "string",
     "description": "The color for a folder as an RGB hex string. The supported colors are published in the folderColorPalette field of the About resource.\nIf an unsupported color is specified, the closest color in the palette will be used instead."
    },
    "fullFileExtension": {
     "type": "string",
     "description": "The full file extension extracted from the name field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive.\nThis is automatically updated when the name field changes, however it is not cleared if the new name does not contain a valid extension."
    },
    "hasAugmentedPermissions": {
     "type": "boolean",
     "description": "Whether there are permissions directly on this file. This field is only populated for items in shared drives."
    },
    "hasThumbnail": {
     "type": "boolean",
     "description": "Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
    },
    "headRevisionId": {
     "type": "string",
     "description": "The ID of the file's head revision. This is currently only available for files with binary content in Google Drive."
    },
    "iconLink": {
     "type": "string",
     "description": "A static, unauthenticated link to the file's icon."
    },
    "id": {
     "type": "string",
     "description": "The ID of the file."
    },
    "imageMediaMetadata": {
     "type": "object",
     "description": "Additional metadata about image media, if available.",
     "properties": {
      "aperture": {
       "type": "number",
       "description": "The aperture used to create the photo (f-number).",
       "format": "float"
      },
      "cameraMake": {
       "type": "string",
       "description": "The make of the camera used to create the photo."
      },
      "cameraModel": {
       "type": "string",
       "description": "The model of the camera used to create the photo."
      },
      "colorSpace": {
       "type": "string",
       "description": "The color space of the photo."
      },
      "exposureBias": {
       "type": "number",
       "description": "The exposure bias of the photo (APEX value).",
       "format": "float"
      },
      "exposureMode": {
       "type": "string",
       "description": "The exposure mode used to create the photo."
      },
      "exposureTime": {
       "type": "number",
       "description": "The length of the exposure, in seconds.",
       "format": "float"
      },
      "flashUsed": {
       "type": "boolean",
       "description": "Whether a flash was used to create the photo."
      },
      "focalLength": {
       "type": "number",
       "description": "The focal length used to create the photo, in millimeters.",
       "format": "float"
      },
      "height": {
       "type": "integer",
       "description": "The height of the image in pixels.",
       "format": "int32"
      },
      "isoSpeed": {
       "type": "integer",
       "description": "The ISO speed used to create the photo.",
       "format": "int32"
      },
      "lens": {
       "type": "string",
       "description": "The lens used to create the photo."
      },
      "location": {
       "type": "object",
       "description": "Geographic location information stored in the image.",
       "properties": {
        "altitude": {
         "type": "number",
         "description": "The altitude stored in the image.",
         "format": "double"
        },
        "latitude": {
         "type": "number",
         "description": "The latitude stored in the image.",
         "format": "double"
        },
        "longitude": {
         "type": "number",
         "description": "The longitude stored in the image.",
         "format": "double"
        }
       }
      },
      "maxApertureValue": {
       "type": "number",
       "description": "The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
       "format": "float"
      },
      "meteringMode": {
       "type": "string",
       "description": "The metering mode used to create the photo."
      },
      "rotation": {
       "type": "integer",
       "description": "The number of clockwise 90 degree rotations applied from the image's original orientation.",
       "format": "int32"
      },
      "sensor": {
       "type": "string",
       "description": "The type of sensor used to create the photo."
      },
      "subjectDistance": {
       "type": "integer",
       "description": "The distance to the subject of the photo, in meters.",
       "format": "int32"
      },
      "time": {
       "type": "string",
       "description": "The date and time the photo was taken (EXIF DateTime)."
      },
      "whiteBalance": {
       "type": "string",
       "description": "The white balance mode used to create the photo."
      },
      "width": {
       "type": "integer",
       "description": "The width of the image in pixels.",
       "format": "int32"
      }
     }
    },
    "isAppAuthorized": {
     "type": "boolean",
     "description": "Whether the file was created or opened by the requesting app."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#file\".",
     "default": "drive#file"
    },
    "lastModifyingUser": {
     "$ref": "User",
     "description": "The last user to modify the file."
    },
    "md5Checksum": {
     "type": "string",
     "description": "The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive."
    },
    "mimeType": {
     "type": "string",
     "description": "The MIME type of the file.\nGoogle Drive will attempt to automatically detect an appropriate value from uploaded content if no value is provided. The value cannot be changed unless a new revision is uploaded.\nIf a file is created with a Google Doc MIME type, the uploaded content will be imported if possible. The supported import formats are published in the About resource."
    },
    "modifiedByMe": {
     "type": "boolean",
     "description": "Whether the file has been modified by this user."
    },
    "modifiedByMeTime": {
     "type": "string",
     "description": "The last time the file was modified by the user (RFC 3339 date-time).",
     "format": "date-time"
    },
    "modifiedTime": {
     "type": "string",
     "description": "The last time the file was modified by anyone (RFC 3339 date-time).\nNote that setting modifiedTime will also update modifiedByMeTime for the user.",
     "format": "date-time"
    },
    "name": {
     "type": "string",
     "description": "The name of the file. This is not necessarily unique within a folder. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the name is constant."
    },
    "originalFilename": {
     "type": "string",
     "description": "The original filename of the uploaded content if available, or else the original value of the name field. This is only available for files with binary content in Google Drive."
    },
    "ownedByMe": {
     "type": "boolean",
     "description": "Whether the user owns the file. Not populated for items in shared drives."
    },
    "owners": {
     "type": "array",
     "description": "The owners of the file. Currently, only certain legacy files may have more than one owner. Not populated for items in shared drives.",
     "items": {
      "$ref": "User"
     }
    },
    "parents": {
     "type": "array",
     "description": "The IDs of the parent folders which contain the file.\nIf not specified as part of a create request, the file will be placed directly in the user's My Drive folder. If not specified as part of a copy request, the file will inherit any discoverable parents of the source file. Update requests must use the addParents and removeParents parameters to modify the parents list.",
     "items": {
      "type": "string"
     }
    },
    "permissionIds": {
     "type": "array",
     "description": "List of permission IDs for users with access to this file.",
     "items": {
      "type": "string"
     }
    },
    "permissions": {
     "type": "array",
     "description": "The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.",
     "items": {
      "$ref": "Permission"
     }
    },
    "properties": {
     "type": "object",
     "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "quotaBytesUsed": {
     "type": "string",
     "description": "The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with keepForever enabled.",
     "format": "int64"
    },
    "shared": {
     "type": "boolean",
     "description": "Whether the file has been shared. Not populated for items in shared drives."
    },
    "sharedWithMeTime": {
     "type": "string",
     "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
     "format": "date-time"
    },
    "sharingUser": {
     "$ref": "User",
     "description": "The user who shared the file with the requesting user, if applicable."
    },
    "shortcutDetails": {
     "type": "object",
     "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to application/vnd.google-apps.shortcut.",
     "properties": {
      "targetId": {
       "type": "string",
       "description": "The ID of the file that this shortcut points to."
      },
      "targetMimeType": {
       "type": "string",
       "description": "The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created."
      }
     }
    },
    "size": {
     "type": "string",
     "description": "The size of the file's content in bytes. This is applicable to binary files in Google Drive and Google Docs files.",
     "format": "int64"
    },
    "spaces": {
     "type": "array",
     "description": "The list of spaces which contain the file. The currently supported values are 'drive', 'appDataFolder' and 'photos'.",
     "items": {
      "type": "string"
     }
    },
    "starred": {
     "type": "boolean",
     "description": "Whether the user has starred the file."
    },
    "teamDriveId": {
     "type": "string",
     "description": "Deprecated - use driveId instead."
    },
    "thumbnailLink": {
     "type": "string",
     "description": "A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in Files.thumbnailLink must be fetched using a credentialed request."
    },
    "thumbnailVersion": {
     "type": "string",
     "description": "The thumbnail version for use in thumbnail cache invalidation.",
     "format": "int64"
    },
    "trashed": {
     "type": "boolean",
     "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file. The trashed item is excluded from all files.list responses returned for any user who does not own the file. However, all users with access to the file can see the trashed item metadata in an API response. All users with access can copy, download, export, and share the file."
    },
    "trashedTime": {
     "type": "string",
     "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives.",
     "format": "date-time"
    },
    "trashingUser": {
     "$ref": "User",
     "description": "If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
    },
    "version": {
     "type": "string",
     "description": "A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.",
     "format": "int64"
    },
    "videoMediaMetadata": {
     "type": "object",
     "description": "Additional metadata about video media. This may not be available immediately upon upload.",
     "properties": {
      "durationMillis": {
       "type": "string",
       "description": "The duration of the video in milliseconds.",
       "format": "int64"
      },
      "height": {
       "type": "integer",
       "description": "The height of the video in pixels.",
       "format": "int32"
      },
      "width": {
       "type": "integer",
       "description": "The width of the video in pixels.",
       "format": "int32"
      }
     }
    },
    "viewedByMe": {
     "type": "boolean",
     "description": "Whether the file has been viewed by this user."
    },
    "viewedByMeTime": {
     "type": "string",
     "description": "The last time the file was viewed by the user (RFC 3339 date-time).",
     "format": "date-time"
    },
    "viewersCanCopyContent": {
     "type": "boolean",
     "description": "Deprecated - use copyRequiresWriterPermission instead."
    },
    "webContentLink": {
     "type": "string",
     "description": "A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive."
    },
    "webViewLink": {
     "type": "string",
     "description": "A link for opening the file in a relevant Google editor or viewer in a browser."
    },
    "writersCanShare": {
     "type": "boolean",
     "description": "Whether users with only writer permission can modify the file's permissions. Not populated for items in shared drives."
    }
   }
  },
  "FileList": {
   "id": "FileList",
   "type": "object",
   "description": "A list of files.",
   "properties": {
    "files": {
     "type": "array",
     "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "File"
     }
    },
    "incompleteSearch": {
     "type": "boolean",
     "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"user\" or \"drive\"."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#fileList\".",
     "default": "drive#fileList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    }
   }
  },
  "GeneratedIds": {
   "id": "GeneratedIds",
   "type": "object",
   "description": "A list of generated file IDs which can be provided in create requests.",
   "properties": {
    "ids": {
     "type": "array",
     "description": "The IDs generated for the requesting user in the specified space.",
     "items": {
      "type": "string"
     }
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#generatedIds\".",
     "default": "drive#generatedIds"
    },
    "space": {
     "type": "string",
     "description": "The type of file that can be created with these IDs."
    }
   }
  },
  "Permission": {
   "id": "Permission",
   "type": "object",
   "description": "A permission for a file. A permission grants a user, group, domain or the world access to a file or a folder hierarchy.",
   "properties": {
    "allowFileDiscovery": {
     "type": "boolean",
     "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type domain or anyone."
    },
    "deleted": {
     "type": "boolean",
     "description": "Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions."
    },
    "displayName": {
     "type": "string",
     "description": "The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission:  \n- user - User's full name, as defined for their Google account, such as \"Joe Smith.\" \n- group - Name of the Google Group, such as \"The Company Administrators.\" \n- domain - String domain name, such as \"thecompany.com.\" \n- anyone - No displayName is present."
    },
    "domain": {
     "type": "string",
     "description": "The domain to which this permission refers."
    },
    "emailAddress": {
     "type": "string",
     "description": "The email address of the user or group to which this permission refers."
    },
    "expirationTime": {
     "type": "string",
     "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions:  \n- They can only be set on user and group permissions \n- The time must be in the future \n- The time cannot be more than a year in the future",
     "format": "date-time"
    },
    "id": {
     "type": "string",
     "description": "The ID of this permission. This is a unique identifier for the grantee, and is published in User resources as permissionId. IDs should be treated as opaque values."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#permission\".",
     "default": "drive#permission"
    },
    "permissionDetails": {
     "type": "array",
     "description": "Details of whether the permissions on this shared drive item are inherited or directly on this item. This is an output-only field which is present only for shared drive items.",
     "items": {
      "type": "object",
      "properties": {
       "inherited": {
        "type": "boolean",
        "description": "Whether this permission is inherited. This field is always populated. This is an output-only field."
       },
       "inheritedFrom": {
        "type": "string",
        "description": "The ID of the item from which this permission is inherited. This is an output-only field."
       },
       "permissionType": {
        "type": "string",
        "description": "The permission type for this user. While new values may be added in future, the following are currently possible:  \n- file \n- member"
       },
       "role": {
        "type": "string",
        "description": "The primary role for this user. While new values may be added in the future, the following are currently possible:  \n- organizer \n- fileOrganizer \n- writer \n- commenter \n- reader"
       }
      }
     }
    },
    "photoLink": {
     "type": "string",
     "description": "A link to the user's profile photo, if available."
    },
    "role": {
     "type": "string",
     "description": "The role granted by this permission. While new values may be supported in the future, the following are currently allowed:  \n- owner \n- organizer \n- fileOrganizer \n- writer \n- commenter \n- reader",
     "annotations": {
      "required": [
       "drive.permissions.create"
      ]
     }
    },
    "teamDrivePermissionDetails": {
     "type": "array",
     "description": "Deprecated - use permissionDetails instead.",
     "items": {
      "type": "object",
      "properties": {
       "inherited": {
        "type": "boolean",
        "description": "Deprecated - use permissionDetails/inherited instead."
       },
       "inheritedFrom": {
        "type": "string",
        "description": "Deprecated - use permissionDetails/inheritedFrom instead."
       },
       "role": {
        "type": "string",
        "description": "Deprecated - use permissionDetails/role instead."
       },
       "teamDrivePermissionType": {
        "type": "string",
        "description": "Deprecated - use permissionDetails/permissionType instead."
       }
      }
     }
    },
    "type": {
     "type": "string",
     "description": "The type of the grantee. Valid values are:  \n- user \n- group \n- domain \n- anyone  When creating a permission, if type is user or group, you must provide an emailAddress for the user or group. When type is domain, you must provide a domain. There isn't extra information required for a anyone type.",
     "annotations": {
      "required": [
       "drive.permissions.create"
      ]
     }
    },
    "view": {
     "type": "string",
     "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published is the only supported value."
    }
   }
  },
  "PermissionList": {
   "id": "PermissionList",
   "type": "object",
   "description": "A list of permissions for a file.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#permissionList\".",
     "default": "drive#permissionList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "permissions": {
     "type": "array",
     "description": "The list of permissions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "Permission"
     }
    }
   }
  },
  "Reply": {
   "id": "Reply",
   "type": "object",
   "description": "A reply to a comment on a file.",
   "properties": {
    "action": {
     "type": "string",
     "description": "The action the reply performed to the parent comment. Valid values are:  \n- resolve \n- reopen"
    },
    "author": {
     "$ref": "User",
     "description": "The author of the reply. The author's email address and permission ID will not be populated."
    },
    "content": {
     "type": "string",
     "description": "The plain text content of the reply. This field is used for setting the content, while htmlContent should be displayed. This is required on creates if no action is specified.",
     "annotations": {
      "required": [
       "drive.replies.update"
      ]
     }
    },
    "createdTime": {
     "type": "string",
     "description": "The time at which the reply was created (RFC 3339 date-time).",
     "format": "date-time"
    },
    "deleted": {
     "type": "boolean",
     "description": "Whether the reply has been deleted. A deleted reply has no content."
    },
    "htmlContent": {
     "type": "string",
     "description": "The content of the reply with HTML formatting."
    },
    "id": {
     "type": "string",
     "description": "The ID of the reply."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#reply\".",
     "default": "drive#reply"
    },
    "modifiedTime": {
     "type": "string",
     "description": "The last time the reply was modified (RFC 3339 date-time).",
     "format": "date-time"
    }
   }
  },
  "ReplyList": {
   "id": "ReplyList",
   "type": "object",
   "description": "A list of replies to a comment on a file.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#replyList\".",
     "default": "drive#replyList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "replies": {
     "type": "array",
     "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "Reply"
     }
    }
   }
  },
  "Revision": {
   "id": "Revision",
   "type": "object",
   "description": "The metadata for a revision to a file.",
   "properties": {
    "exportLinks": {
     "type": "object",
     "description": "Links for exporting Docs Editors files to specific formats.",
     "additionalProperties": {
      "type": "string",
      "description": "A mapping from export format to URL"
     }
    },
    "id": {
     "type": "string",
     "description": "The ID of the revision."
    },
    "keepForever": {
     "type": "boolean",
     "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file.\nThis field is only applicable to files with binary content in Drive."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#revision\".",
     "default": "drive#revision"
    },
    "lastModifyingUser": {
     "$ref": "User",
     "description": "The last user to modify this revision."
    },
    "md5Checksum": {
     "type": "string",
     "description": "The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive."
    },
    "mimeType": {
     "type": "string",
     "description": "The MIME type of the revision."
    },
    "modifiedTime": {
     "type": "string",
     "description": "The last time the revision was modified (RFC 3339 date-time).",
     "format": "date-time"
    },
    "originalFilename": {
     "type": "string",
     "description": "The original filename used to create this revision. This is only applicable to files with binary content in Drive."
    },
    "publishAuto": {
     "type": "boolean",
     "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files."
    },
    "published": {
     "type": "boolean",
     "description": "Whether this revision is published. This is only applicable to Docs Editors files."
    },
    "publishedLink": {
     "type": "string",
     "description": "A link to the published revision. This is only populated for Google Sites files."
    },
    "publishedOutsideDomain": {
     "type": "boolean",
     "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files."
    },
    "size": {
     "type": "string",
     "description": "The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.",
     "format": "int64"
    }
   }
  },
  "RevisionList": {
   "id": "RevisionList",
   "type": "object",
   "description": "A list of revisions of a file.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#revisionList\".",
     "default": "drive#revisionList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "revisions": {
     "type": "array",
     "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "Revision"
     }
    }
   }
  },
  "StartPageToken": {
   "id": "StartPageToken",
   "type": "object",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#startPageToken\".",
     "default": "drive#startPageToken"
    },
    "startPageToken": {
     "type": "string",
     "description": "The starting page token for listing changes."
    }
   }
  },
  "TeamDrive": {
   "id": "TeamDrive",
   "type": "object",
   "description": "Deprecated: use the drive collection instead.",
   "properties": {
    "backgroundImageFile": {
     "type": "object",
     "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on drive.teamdrives.update requests that don't set themeId. When specified, all fields of the backgroundImageFile must be set.",
     "properties": {
      "id": {
       "type": "string",
       "description": "The ID of an image file in Drive to use for the background image."
      },
      "width": {
       "type": "number",
       "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
       "format": "float"
      },
      "xCoordinate": {
       "type": "number",
       "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
       "format": "float"
      },
      "yCoordinate": {
       "type": "number",
       "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
       "format": "float"
      }
     }
    },
    "backgroundImageLink": {
     "type": "string",
     "description": "A short-lived link to this Team Drive's background image."
    },
    "capabilities": {
     "type": "object",
     "description": "Capabilities the current user has on this Team Drive.",
     "properties": {
      "canAddChildren": {
       "type": "boolean",
       "description": "Whether the current user can add children to folders in this Team Drive."
      },
      "canChangeCopyRequiresWriterPermissionRestriction": {
       "type": "boolean",
       "description": "Whether the current user can change the copyRequiresWriterPermission restriction of this Team Drive."
      },
      "canChangeDomainUsersOnlyRestriction": {
       "type": "boolean",
       "description": "Whether the current user can change the domainUsersOnly restriction of this Team Drive."
      },
      "canChangeTeamDriveBackground": {
       "type": "boolean",
       "description": "Whether the current user can change the background of this Team Drive."
      },
      "canChangeTeamMembersOnlyRestriction": {
       "type": "boolean",
       "description": "Whether the current user can change the teamMembersOnly restriction of this Team Drive."
      },
      "canComment": {
       "type": "boolean",
       "description": "Whether the current user can comment on files in this Team Drive."
      },
      "canCopy": {
       "type": "boolean",
       "description": "Whether the current user can copy files in this Team Drive."
      },
      "canDeleteChildren": {
       "type": "boolean",
       "description": "Whether the current user can delete children from folders in this Team Drive."
      },
      "canDeleteTeamDrive": {
       "type": "boolean",
       "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
      },
      "canDownload": {
       "type": "boolean",
       "description": "Whether the current user can download files in this Team Drive."
      },
      "canEdit": {
       "type": "boolean",
       "description": "Whether the current user can edit files in this Team Drive"
      },
      "canListChildren": {
       "type": "boolean",
       "description": "Whether the current user can list the children of folders in this Team Drive."
      },
      "canManageMembers": {
       "type": "boolean",
       "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
      },
      "canReadRevisions": {
       "type": "boolean",
       "description": "Whether the current user can read the revisions resource of files in this Team Drive."
      },
      "canRemoveChildren": {
       "type": "boolean",
       "description": "Deprecated - use canDeleteChildren or canTrashChildren instead."
      },
      "canRename": {
       "type": "boolean",
       "description": "Whether the current user can rename files or folders in this Team Drive."
      },
      "canRenameTeamDrive": {
       "type": "boolean",
       "description": "Whether the current user can rename this Team Drive."
      },
      "canShare": {
       "type": "boolean",
       "description": "Whether the current user can share files or folders in this Team Drive."
      },
      "canTrashChildren": {
       "type": "boolean",
       "description": "Whether the current user can trash children from folders in this Team Drive."
      }
     }
    },
    "colorRgb": {
     "type": "string",
     "description": "The color of this Team Drive as an RGB hex string. It can only be set on a drive.teamdrives.update request that does not set themeId."
    },
    "createdTime": {
     "type": "string",
     "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
     "format": "date-time"
    },
    "id": {
     "type": "string",
     "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#teamDrive\".",
     "default": "drive#teamDrive"
    },
    "name": {
     "type": "string",
     "description": "The name of this Team Drive."
    },
    "restrictions": {
     "type": "object",
     "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
     "properties": {
      "adminManagedRestrictions": {
       "type": "boolean",
       "description": "Whether administrative privileges on this Team Drive are required to modify restrictions."
      },
      "copyRequiresWriterPermission": {
       "type": "boolean",
       "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to true, it will override the similarly named field to true for any file inside this Team Drive."
      },
      "domainUsersOnly": {
       "type": "boolean",
       "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive."
      },
      "teamMembersOnly": {
       "type": "boolean",
       "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
      }
     }
    },
    "themeId": {
     "type": "string",
     "description": "The ID of the theme from which the background image and color will be set. The set of possible teamDriveThemes can be retrieved from a drive.about.get response. When not specified on a drive.teamdrives.create request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set colorRgb or backgroundImageFile."
    }
   }
  },
  "TeamDriveList": {
   "id": "TeamDriveList",
   "type": "object",
   "description": "A list of Team Drives.",
   "properties": {
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#teamDriveList\".",
     "default": "drive#teamDriveList"
    },
    "nextPageToken": {
     "type": "string",
     "description": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
    },
    "teamDrives": {
     "type": "array",
     "description": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
     "items": {
      "$ref": "TeamDrive"
     }
    }
   }
  },
  "User": {
   "id": "User",
   "type": "object",
   "description": "Information about a Drive user.",
   "properties": {
    "displayName": {
     "type": "string",
     "description": "A plain text displayable name for this user."
    },
    "emailAddress": {
     "type": "string",
     "description": "The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester."
    },
    "kind": {
     "type": "string",
     "description": "Identifies what kind of resource this is. Value: the fixed string \"drive#user\".",
     "default": "drive#user"
    },
    "me": {
     "type": "boolean",
     "description": "Whether this user is the requesting user."
    },
    "permissionId": {
     "type": "string",
     "description": "The user's ID as visible in Permission resources."
    },
    "photoLink": {
     "type": "string",
     "description": "A link to the user's profile photo, if available."
    }
   }
  }
 },
 "resources": {
  "about": {
   "methods": {
    "get": {
     "id": "drive.about.get",
     "path": "about",
     "httpMethod": "GET",
     "description": "Gets information about the user, the user's Drive, and system capabilities.",
     "response": {
      "$ref": "About"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    }
   }
  },
  "changes": {
   "methods": {
    "getStartPageToken": {
     "id": "drive.changes.getStartPageToken",
     "path": "changes/startPageToken",
     "httpMethod": "GET",
     "description": "Gets the starting pageToken for listing future changes.",
     "parameters": {
      "driveId": {
       "type": "string",
       "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive is returned.",
       "location": "query"
      },
      "supportsAllDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports both My Drives and shared drives.",
       "default": "false",
       "location": "query"
      },
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Deprecated use supportsAllDrives instead.",
       "default": "false",
       "location": "query"
      },
      "teamDriveId": {
       "type": "string",
       "description": "Deprecated use driveId instead.",
       "location": "query"
      }
     },
     "response": {
      "$ref": "StartPageToken"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "list": {
     "id": "drive.changes.list",
     "path": "changes",
     "httpMethod": "GET",
     "description": "Lists the changes for a user or shared drive.",
     "parameters": {
      "driveId": {
       "type": "string",
       "description": "The shared drive from which changes are returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
       "location": "query"
      },
      "includeCorpusRemovals": {
       "type": "boolean",
       "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
       "default": "false",
       "location": "query"
      },
      "includeItemsFromAllDrives": {
       "type": "boolean",
       "description": "Whether both My Drive and shared drive items should be included in results.",
       "default": "false",
       "location": "query"
      },
      "includePermissionsForView": {
       "type": "string",
       "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
       "location": "query"
      },
      "includeRemoved": {
       "type": "boolean",
       "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
       "default": "true",
       "location": "query"
      },
      "includeTeamDriveItems": {
       "type": "boolean",
       "description": "Deprecated use includeItemsFromAllDrives instead.",
       "default": "false",
       "location": "query"
      },
      "pageSize": {
       "type": "integer",
       "description": "The maximum number of changes to return per page.",
       "default": "100",
       "format": "int32",
       "minimum": "1",
       "maximum": "1000",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
       "required": true,
       "location": "query"
      },
      "restrictToMyDrive": {
       "type": "boolean",
       "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
       "default": "false",
       "location": "query"
      },
      "spaces": {
       "type": "string",
       "description": "A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
       "default": "drive",
       "location": "query"
      },
      "supportsAllDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports both My Drives and shared drives.",
       "default": "false",
       "location": "query"
      },
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Deprecated use supportsAllDrives instead.",
       "default": "false",
       "location": "query"
      },
      "teamDriveId": {
       "type": "string",
       "description": "Deprecated use driveId instead.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "pageToken"
     ],
     "response": {
      "$ref": "ChangeList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ],
     "supportsSubscription": true
    },
    "watch": {
     "id": "drive.changes.watch",
     "path": "changes/watch",
     "httpMethod": "POST",
     "description": "Subscribes to changes for a user.",
     "parameters": {
      "driveId": {
       "type": "string",
       "description": "The shared drive from which changes are returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
       "location": "query"
      },
      "includeCorpusRemovals": {
       "type": "boolean",
       "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
       "default": "false",
       "location": "query"
      },
      "includeItemsFromAllDrives": {
       "type": "boolean",
       "description": "Whether both My Drive and shared drive items should be included in results.",
       "default": "false",
       "location": "query"
      },
      "includePermissionsForView": {
       "type": "string",
       "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
       "location": "query"
      },
      "includeRemoved": {
       "type": "boolean",
       "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
       "default": "true",
       "location": "query"
      },
      "includeTeamDriveItems": {
       "type": "boolean",
       "description": "Deprecated use includeItemsFromAllDrives instead.",
       "default": "false",
       "location": "query"
      },
      "pageSize": {
       "type": "integer",
       "description": "The maximum number of changes to return per page.",
       "default": "100",
       "format": "int32",
       "minimum": "1",
       "maximum": "1000",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
       "required": true,
       "location": "query"
      },
      "restrictToMyDrive": {
       "type": "boolean",
       "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
       "default": "false",
       "location": "query"
      },
      "spaces": {
       "type": "string",
       "description": "A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.",
       "default": "drive",
       "location": "query"
      },
      "supportsAllDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports both My Drives and shared drives.",
       "default": "false",
       "location": "query"
      },
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Deprecated use supportsAllDrives instead.",
       "default": "false",
       "location": "query"
      },
      "teamDriveId": {
       "type": "string",
       "description": "Deprecated use driveId instead.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "pageToken"
     ],
     "request": {
      "$ref": "Channel",
      "parameterName": "resource"
     },
     "response": {
      "$ref": "Channel"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ],
     "supportsSubscription": true
    }
   }
  },
  "channels": {
   "methods": {
    "stop": {
     "id": "drive.channels.stop",
     "path": "channels/stop",
     "httpMethod": "POST",
     "description": "Stop watching resources through this channel",
     "request": {
      "$ref": "Channel",
      "parameterName": "resource"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.metadata",
      "https://www.googleapis.com/auth/drive.metadata.readonly",
      "https://www.googleapis.com/auth/drive.photos.readonly",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    }
   }
  },
  "comments": {
   "methods": {
    "create": {
     "id": "drive.comments.create",
     "path": "files/{fileId}/comments",
     "httpMethod": "POST",
     "description": "Creates a new comment on a file.",
     "parameters": {
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "fileId"
     ],
     "request": {
      "$ref": "Comment"
     },
     "response": {
      "$ref": "Comment"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file"
     ]
    },
    "delete": {
     "id": "drive.comments.delete",
     "path": "files/{fileId}/comments/{commentId}",
     "httpMethod": "DELETE",
     "description": "Deletes a comment.",
     "parameters": {
      "commentId": {
       "type": "string",
       "description": "The ID of the comment.",
       "required": true,
       "location": "path"
      },
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "fileId",
      "commentId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file"
     ]
    },
    "get": {
     "id": "drive.comments.get",
     "path": "files/{fileId}/comments/{commentId}",
     "httpMethod": "GET",
     "description": "Gets a comment by ID.",
     "parameters": {
      "commentId": {
       "type": "string",
       "description": "The ID of the comment.",
       "required": true,
       "location": "path"
      },
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      },
      "includeDeleted": {
       "type": "boolean",
       "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
       "default": "false",
       "location": "query"
      }
     },
     "parameterOrder": [
      "fileId",
      "commentId"
     ],
     "response": {
      "$ref": "Comment"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "list": {
     "id": "drive.comments.list",
     "path": "files/{fileId}/comments",
     "httpMethod": "GET",
     "description": "Lists a file's comments.",
     "parameters": {
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      },
      "includeDeleted": {
       "type": "boolean",
       "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
       "default": "false",
       "location": "query"
      },
      "pageSize": {
       "type": "integer",
       "description": "The maximum number of comments to return per page.",
       "default": "20",
       "format": "int32",
       "minimum": "1",
       "maximum": "100",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
       "location": "query"
      },
      "startModifiedTime": {
       "type": "string",
       "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
       "location": "query"
      }
     },
     "parameterOrder": [
      "fileId"
     ],
     "response": {
      "$ref": "CommentList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "update": {
     "id": "drive.comments.update",
     "path": "files/{fileId}/comments/{commentId}",
     "httpMethod": "PATCH",
     "description": "Updates a comment with patch semantics.",
     "parameters": {
      "commentId": {
       "type": "string",
       "description": "The ID of the comment.",
       "required": true,
       "location": "path"
      },
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "fileId",
      "commentId"
     ],
     "request": {
      "$ref": "Comment"
     },
     "response": {
      "$ref": "Comment"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.file"
     ]
    }
   }
  },
  "drives": {
   "methods": {
    "create": {
     "id": "drive.drives.create",
     "path": "drives",
     "httpMethod": "POST",
     "description": "Creates a new shared drive.",
     "parameters": {
      "requestId": {
       "type": "string",
       "description": "An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "requestId"
     ],
     "request": {
      "$ref": "Drive"
     },
     "response": {
      "$ref": "Drive"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive"
     ]
    },
    "delete": {
     "id": "drive.drives.delete",
     "path": "drives/{driveId}",
     "httpMethod": "DELETE",
     "description": "Permanently deletes a shared drive for which the user is an organizer. The shared drive cannot contain any untrashed items.",
     "parameters": {
      "driveId": {
       "type": "string",
       "description": "The ID of the shared drive.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "driveId"
     ],
     "scopes": [
      "https://www.googleapis.com/auth/drive"
     ]
    },
    "get": {
     "id": "drive.drives.get",
     "path": "drives/{driveId}",
     "httpMethod": "GET",
     "description": "Gets a shared drive's metadata by ID.",
     "parameters": {
      "driveId": {
       "type": "string",
       "description": "The ID of the shared drive.",
       "required": true,
       "location": "path"
      },
      "useDomainAdminAccess": {
       "type": "boolean",
       "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
       "default": "false",
       "location": "query"
      }
     },
     "parameterOrder": [
      "driveId"
     ],
     "response": {
      "$ref": "Drive"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "hide": {
     "id": "drive.drives.hide",
     "path": "drives/{driveId}/hide",
     "httpMethod": "POST",
     "description": "Hides a shared drive from the default view.",
     "parameters": {
      "driveId": {
       "type": "string",
       "description": "The ID of the shared drive.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "driveId"
     ],
     "response": {
      "$ref": "Drive"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive"
     ]
    },
    "list": {
     "id": "drive.drives.list",
     "path": "drives",
     "httpMethod": "GET",
     "description": "Lists the user's shared drives.",
     "parameters": {
      "pageSize": {
       "type": "integer",
       "description": "Maximum number of shared drives to return.",
       "default": "10",
       "format": "int32",
       "minimum": "1",
       "maximum": "100",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Page token for shared drives.",
       "location": "query"
      },
      "q": {
       "type": "string",
       "description": "Query string for searching shared drives.",
       "location": "query"
      },
      "useDomainAdminAccess": {
       "type": "boolean",
       "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
       "default": "false",
       "location": "query"
      }
     },
     "response": {
      "$ref": "DriveList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.readonly"
     ]
    },
    "unhide": {
     "id": "drive.drives.unhide",
     "path": "drives/{driveId}/unhide",
     "httpMethod": "POST",
     "description": "Restores a shared drive to the default view.",
     "parameters": {
      "driveId": {
       "type": "string",
       "description": "The ID of the shared drive.",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "driveId"
     ],
     "response": {
      "$ref": "Drive"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive"
     ]
    },
    "update": {
     "id": "drive.drives.update",
     "path": "drives/{driveId}",
     "httpMethod": "PATCH",
     "description": "Updates the metadate for a shared drive.",
     "parameters": {
      "driveId": {
       "type": "string",
       "description": "The ID of the shared drive.",
       "required": true,
       "location": "path"
      },
      "useDomainAdminAccess": {
       "type": "boolean",
       "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
       "default": "false",
       "location": "query"
      }
     },
     "parameterOrder": [
      "driveId"
     ],
     "request": {
      "$ref": "Drive"
     },
     "response": {
      "$ref": "Drive"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive"
     ]
    }
   }
  },
  "files": {
   "methods": {
    "copy": {
     "id": "drive.files.copy",
     "path": "files/{fileId}/copy",
     "httpMethod": "POST",
     "description": "Creates a copy of a file and applies any requested updates with patch semantics. Folders cannot be copied.",
     "parameters": {
      "enforceSingleParent": {
       "type": "boolean",
       "description": "Deprecated. Copying files into multiple folders is no longer supported. Use shortcuts instead.",
       "default": "false",
       "location": "query"
      },
      "fileId": {
       "type": "string",
       "description": "The ID of the file.",
       "required": true,
       "location": "path"
      },
      "ignoreDefaultVisibility": {
       "type": "boolean",
       "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
       "default": "false",
       "location": "query"
      },
      "includePermissionsForView": {
       "type": "string",
       "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
       "location": "query"
      },
      "keepRevisionForever": {
       "type": "boolean",
       "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
       "default": "false",
       "location": "query"
      },
      "ocrLanguage": {
       "type": "string",
       "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
       "location": "query"
      },
      "supportsAllDrives": {
       "type": "boolean",
       "description": "Whether the requesting application supports both My Drives and shared drives.",
       "default": "false",
       "location": "query"
      },
      "supportsTeamDrives": {
       "type": "boolean",
       "description": "Deprecated use supportsAllDrives instead.",
       "default": "false",
       "location": "query"
      }
     },
     "parameterOrder": [
      "fileId"
     ],
     "request": {
      "$ref": "File"
     },
     "response": {
      "$ref": "File"
     },
     "scopes": [
      "https://www.googleapis.com/auth/drive",
      "https://www.googleapis.com/auth/drive.appdata",
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.photos.readonly"
     ]
    },
    "create": {
     "id": "drive.files.create",
     "path": "files",
     "httpMethod": "POST",
     "description": "Creates a new file.",
     "parameters": {
      "enforceSingleParent": {
       "type": "boolean",
       "description": "Deprecated. Creating files in multiple folders is no longer supported.",
       "default": "false",
       "location": "query"
      },
      "ignoreDefaultVisibility": {
       "type": "boolean",
       "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
       "default": "false",
       "location": "query"
      },
      "includePermissionsForView": {
       "type": "string",
       "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
       "location": "query"
      },
      "keepRevisionForever": {
       "type": "boolean",
       "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
       "default": "false",
       "location": "query"
      },
      "ocrLanguage": {
       "type": "string",
       "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
[...]
