{
  "version": "v1beta2",
  "batchPath": "batch",
  "version_module": true,
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "",
  "baseUrl": "https://firestore.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Firestore",
  "revision": "20200801",
  "schemas": {
    "GoogleFirestoreAdminV1beta2ListIndexesResponse": {
      "id": "GoogleFirestoreAdminV1beta2ListIndexesResponse",
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to request another page of results. If blank, this is the last page."
        },
        "indexes": {
          "type": "array",
          "description": "The requested indexes.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2Index"
          }
        }
      }
    },
    "GoogleFirestoreAdminV1beta2Field": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration."
        },
        "indexConfig": {
          "description": "The index configuration for this field. If unset, field indexing will revert to the configuration defined by the `ancestor_field`. To explicitly remove all indexes for this field, specify an index config with an empty list of indexes.",
          "$ref": "GoogleFirestoreAdminV1beta2IndexConfig"
        }
      },
      "description": "Represents a single field in the database. Fields are grouped by their \"Collection Group\", which represent all collections in the database with the same id.",
      "id": "GoogleFirestoreAdminV1beta2Field"
    },
    "GoogleFirestoreAdminV1beta2IndexField": {
      "description": "A field in an index. The field_path describes which field is indexed, the value_mode describes how the field value is indexed.",
      "properties": {
        "order": {
          "enumDescriptions": [
            "The ordering is unspecified. Not a valid option.",
            "The field is ordered by ascending field value.",
            "The field is ordered by descending field value."
          ],
          "type": "string",
          "description": "Indicates that this field supports ordering by the specified order or comparing using =, \u003c, \u003c=, \u003e, \u003e=.",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "fieldPath": {
          "description": "Can be __name__. For single field indexes, this must match the name of the field or may be omitted.",
          "type": "string"
        },
        "arrayConfig": {
          "enumDescriptions": [
            "The index does not support additional array queries.",
            "The index supports array containment queries."
          ],
          "description": "Indicates that this field supports operations on `array_value`s.",
          "type": "string",
          "enum": [
            "ARRAY_CONFIG_UNSPECIFIED",
            "CONTAINS"
          ]
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2IndexField"
    },
    "GoogleFirestoreAdminV1beta2Progress": {
      "properties": {
        "completedWork": {
          "type": "string",
          "format": "int64",
          "description": "The amount of work completed."
        },
        "estimatedWork": {
          "type": "string",
          "description": "The amount of work estimated.",
          "format": "int64"
        }
      },
      "id": "GoogleFirestoreAdminV1beta2Progress",
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta2ExportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "properties": {
        "outputUriPrefix": {
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time.",
          "type": "string"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection ids to export. Unspecified means all collections."
        }
      },
      "id": "GoogleFirestoreAdminV1beta2ExportDocumentsRequest",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta2ExportDocumentsResponse": {
      "description": "Returned in the google.longrunning.Operation response field.",
      "id": "GoogleFirestoreAdminV1beta2ExportDocumentsResponse",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1beta2IndexConfigDelta": {
      "type": "object",
      "description": "Information about an index configuration change.",
      "id": "GoogleFirestoreAdminV1beta2IndexConfigDelta",
      "properties": {
        "index": {
          "$ref": "GoogleFirestoreAdminV1beta2Index",
          "description": "The index being changed."
        },
        "changeType": {
          "type": "string",
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The single field index is being added.",
            "The single field index is being removed."
          ],
          "description": "Specifies how the index is changing.",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      }
    },
    "GoogleFirestoreAdminV1beta2Index": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The serving state of the index.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NEEDS_REPAIR"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist. Use the google.longrunning.Operations API to determine why the operation that last attempted to create this index failed, then re-create the index."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. A server defined name for this index. The form of this name for composite indexes will be: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{composite_index_id}` For single field indexes, this field will be empty."
        },
        "fields": {
          "description": "The fields supported by this index. For composite indexes, this is always 2 or more fields. The last field entry is always for the field path `__name__`. If, on creation, `__name__` was not specified as the last field, it will be added automatically with the same direction as that of the last field defined. If the final field in a composite index is not directional, the `__name__` will be ordered ASCENDING (unless explicitly specified). For single field indexes, this will always be exactly one entry with a field path equal to the field path of the associated field.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2IndexField"
          }
        },
        "queryScope": {
          "type": "string",
          "description": "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the same collection id. Indexes with a collection group query scope specified allow queries against all collections descended from a specific document, specified at query time, and that have the same collection id as this index.",
          "enum": [
            "QUERY_SCOPE_UNSPECIFIED",
            "COLLECTION",
            "COLLECTION_GROUP"
          ],
          "enumDescriptions": [
            "The query scope is unspecified. Not a valid option.",
            "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the collection id specified by the index.",
            "Indexes with a collection group query scope specified allow queries against all collections that has the collection id specified by the index."
          ]
        }
      },
      "description": "Cloud Firestore indexes enable simple and complex queries against documents in a database.",
      "id": "GoogleFirestoreAdminV1beta2Index",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta2IndexConfig": {
      "properties": {
        "usesAncestorConfig": {
          "type": "boolean",
          "description": "Output only. When true, the `Field`'s index configuration is set from the configuration specified by the `ancestor_field`. When false, the `Field`'s index configuration is defined explicitly."
        },
        "indexes": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2Index"
          },
          "type": "array",
          "description": "The indexes supported for this field."
        },
        "ancestorField": {
          "type": "string",
          "description": "Output only. Specifies the resource name of the `Field` from which this field's index configuration is set (when `uses_ancestor_config` is true), or from which it *would* be set if this field had no index configuration (when `uses_ancestor_config` is false)."
        },
        "reverting": {
          "description": "Output only When true, the `Field`'s index configuration is in the process of being reverted. Once complete, the index config will transition to the same state as the field specified by `ancestor_field`, at which point `uses_ancestor_config` will be `true` and `reverting` will be `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2IndexConfig",
      "description": "The index configuration for this field."
    },
    "GoogleFirestoreAdminV1beta2FieldOperationMetadata": {
      "properties": {
        "field": {
          "description": "The field resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}`",
          "type": "string"
        },
        "bytesProgress": {
          "$ref": "GoogleFirestoreAdminV1beta2Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "documentProgress": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "The state of the operation."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime",
          "type": "string"
        },
        "indexConfigDeltas": {
          "description": "A list of IndexConfigDelta, which describe the intent of this operation.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2IndexConfigDelta"
          },
          "type": "array"
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.UpdateField.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2FieldOperationMetadata"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleFirestoreAdminV1beta2ListFieldsResponse": {
      "description": "The response for FirestoreAdmin.ListFields.",
      "properties": {
        "fields": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta2Field"
          },
          "type": "array",
          "description": "The requested fields."
        },
        "nextPageToken": {
          "description": "A page token that may be used to request another page of results. If blank, this is the last page.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1beta2ListFieldsResponse",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta2ImportDocumentsMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ImportDocuments.",
      "properties": {
        "collectionIds": {
          "description": "Which collection ids are being imported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1beta2Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "description": "The state of the import operation.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "The location of the documents being imported."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2ImportDocumentsMetadata"
    },
    "GoogleFirestoreAdminV1beta2IndexOperationMetadata": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
          "type": "string"
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        },
        "state": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the operation.",
          "type": "string"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.CreateIndex.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2IndexOperationMetadata"
    },
    "GoogleFirestoreAdminV1beta2ExportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1beta2ExportDocumentsMetadata",
      "properties": {
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1beta2Progress",
          "description": "The progress, in documents, of this operation."
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "Where the entities are being exported to."
        },
        "operationState": {
          "description": "The state of the export operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection ids are being exported."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1beta2Progress"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation started."
        }
      },
      "type": "object",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ExportDocuments."
    },
    "GoogleFirestoreAdminV1beta2ImportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "properties": {
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta2.ExportDocumentsResponse.output_uri_prefix."
        },
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids to import. Unspecified means all collections included in the import."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta2ImportDocumentsRequest"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    }
  },
  "rootUrl": "https://firestore.googleapis.com/",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "resources": {
            "collectionGroups": {
              "resources": {
                "indexes": {
                  "methods": {
                    "list": {
                      "path": "v1beta2/{+parent}/indexes",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1beta2ListIndexesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "description": "Lists composite indexes.",
                      "httpMethod": "GET",
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListIndexes, that may be used to get the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The filter to apply to list results."
                        },
                        "parent": {
                          "description": "A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The number of results to return."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firestore.projects.databases.collectionGroups.indexes.list"
                    },
                    "get": {
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "id": "firestore.projects.databases.collectionGroups.indexes.get",
                      "description": "Gets a composite index.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1beta2Index"
                      },
                      "httpMethod": "GET",
                      "path": "v1beta2/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.create",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1beta2Index"
                      },
                      "description": "Creates a composite index. This returns a google.longrunning.Operation which may be used to track the status of the creation. The metadata for the operation will be the type IndexOperationMetadata.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "path": "v1beta2/{+parent}/indexes",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "id": "firestore.projects.databases.collectionGroups.indexes.delete",
                      "description": "Deletes a composite index.",
                      "path": "v1beta2/{+name}",
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "description": "A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "fields": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "description": "Gets the metadata and configuration for a Field.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1beta2Field"
                      },
                      "id": "firestore.projects.databases.collectionGroups.fields.get",
                      "path": "v1beta2/{+name}"
                    },
                    "list": {
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListFields, that may be used to get the next page of results.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The filter to apply to list results. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false`.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The number of results to return.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "path": "v1beta2/{+parent}/fields",
                      "id": "firestore.projects.databases.collectionGroups.fields.list",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1beta2ListFieldsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists the field configuration and metadata for this database. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false`."
                    },
                    "patch": {
                      "description": "Updates a field configuration. Currently, field updates apply only to single field index configuration. However, calls to FirestoreAdmin.UpdateField should provide a field mask to avoid changing any configuration that the caller isn't aware of. The field mask should be specified as: `{ paths: \"index_config\" }`. This call returns a google.longrunning.Operation which may be used to track the status of the field update. The metadata for the operation will be the type FieldOperationMetadata. To configure the default field settings for the database, use the special `Field` with resource name: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`.",
                      "id": "firestore.projects.databases.collectionGroups.fields.patch",
                      "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1beta2Field"
                      },
                      "path": "v1beta2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "A mask, relative to the field. If specified, only configuration specified by this field_mask will be updated in the field."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "description": "A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "PATCH"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "exportDocuments": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta2ExportDocumentsRequest"
              },
              "id": "firestore.projects.databases.exportDocuments",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "description": "Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "path": "v1beta2/{+name}:exportDocuments"
            },
            "importDocuments": {
              "path": "v1beta2/{+name}:importDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta2ImportDocumentsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.importDocuments",
              "httpMethod": "POST",
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`."
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "title": "Cloud Firestore API",
  "id": "firestore:v1beta2",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/firestore",
  "name": "firestore",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}
