{
  "name": "firebasehosting",
  "ownerDomain": "google.com",
  "canonicalName": "Firebase Hosting",
  "discoveryVersion": "v1",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "id": "firebasehosting:v1beta1",
  "batchPath": "batch",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    }
  },
  "title": "Firebase Hosting API",
  "basePath": "",
  "version": "v1beta1",
  "fullyEncodeReservedExpansion": true,
  "revision": "20210129",
  "description": "The Firebase Hosting REST API enables programmatic and customizable deployments to your Firebase-hosted sites. Use this REST API to deploy new or updated hosting configurations and content files.",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.projects.operations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}"
            }
          }
        },
        "sites": {
          "methods": {
            "updateConfig": {
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "id": "firebasehosting.projects.sites.updateConfig",
              "request": {
                "$ref": "SiteConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "SiteConfig"
              },
              "description": "Sets the Hosting metadata for a specific site.",
              "parameters": {
                "updateMask": {
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "getConfig": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
                }
              },
              "httpMethod": "GET",
              "description": "Gets the Hosting metadata for a specific site.",
              "id": "firebasehosting.projects.sites.getConfig",
              "response": {
                "$ref": "SiteConfig"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}"
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `ListReleases` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The site for which to list releases, in the format: sites/ SITE_NAME"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "id": "firebasehosting.projects.sites.releases.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the releases that have been created on the specified site.",
                  "path": "v1beta1/{+parent}/releases"
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "response": {
                    "$ref": "Release"
                  },
                  "id": "firebasehosting.projects.sites.releases.create",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "request": {
                    "$ref": "Release"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The site to which the release belongs, in the format: sites/ SITE_NAME",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string"
                    },
                    "versionName": {
                      "type": "string",
                      "location": "query",
                      "description": " The unique identifier for a version, in the format: sites/SITE_NAME /versions/VERSION_ID The SITE_NAME in this version identifier must match the SITE_NAME in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/releases"
                }
              }
            },
            "versions": {
              "methods": {
                "clone": {
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The target site where the cloned version will reside, in the format: `sites/{site}`"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/versions:clone",
                  "description": "Creates a new version on the target site using the content of the specified version."
                },
                "patch": {
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The only valid transition for a version is currently from a `CREATED` status to a `FINALIZED` status. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "The unique identifier for a version, in the format: sites/SITE_NAME /versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "populateFiles": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "description": "Required. The version to which to add files, in the format: sites/SITE_NAME /versions/VERSION_ID",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "path": "v1beta1/{+parent}:populateFiles"
                },
                "create": {
                  "request": {
                    "$ref": "Version"
                  },
                  "parameters": {
                    "sizeBytes": {
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "format": "int64",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_NAME",
                      "type": "string"
                    },
                    "versionId": {
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.versions.create",
                  "path": "v1beta1/{+parent}/versions",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Version"
                  },
                  "description": "Creates a new version for the specified site.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.versions.list",
                  "description": "Lists the versions that have been created on the specified site. Will include filtering in the future.",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided."
                    },
                    "parent": {
                      "description": "Required. The parent for which to list files, in the format: sites/site-name",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 25 versions will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter string used to return a subset of versions in the response. Currently supported fields for filtering are: name, status, and create_time. Filter processing will be implemented in accordance with go/filtering."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "path": "v1beta1/{+parent}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "delete": {
                  "description": "Deletes the specified version.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the version to be deleted, in the format: sites/ SITE_NAME/versions/VERSION_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "parameters": {
                        "parent": {
                          "description": "Required. The version for which to list files, in the format: sites/ SITE_NAME/versions/VERSION_ID",
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing."
                        },
                        "status": {
                          "type": "string",
                          "description": " The type of files that should be listed for the specified version.",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "location": "query"
                        }
                      },
                      "path": "v1beta1/{+parent}/files",
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      }
                    }
                  }
                }
              }
            },
            "channels": {
              "resources": {
                "releases": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Release"
                      },
                      "parameters": {
                        "versionName": {
                          "location": "query",
                          "type": "string",
                          "description": " The unique identifier for a version, in the format: sites/SITE_NAME /versions/VERSION_ID The SITE_NAME in this version identifier must match the SITE_NAME in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "required": true,
                          "description": "Required. The site to which the release belongs, in the format: sites/ SITE_NAME"
                        }
                      },
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "request": {
                        "$ref": "Release"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "path": "v1beta1/{+parent}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "httpMethod": "GET",
                      "description": "Lists the releases that have been created on the specified site.",
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "path": "v1beta1/{+parent}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "A token from a previous call to `ListReleases` that tells the server where to resume listing.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The site for which to list releases, in the format: sites/ SITE_NAME",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The fully-qualified identifier for the site.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a channel of a site. The `live` channel cannot be deleted.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "description": "Required. The fully-qualified identifier for the channel.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "description": "Retrieves information for the specified channel of a site.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.channels.get",
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 25 channels will be returned. The maximum value is 100; valuupdateses above 100 will be coerced to 100"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "description": "Required. The site from which to list channels.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "id": "firebasehosting.projects.sites.channels.list",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/channels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the channels for the specified site. All sites have a default \"live\" channel."
                },
                "patch": {
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "type": "string",
                      "description": "The fully-qualified identifier of the Channel."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "path": "v1beta1/{+name}",
                  "description": "Updates information for the specified channel of a site. This method will implicitly create a channel if it doesn't exist.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Channel"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "Channel"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "id": "firebasehosting.projects.sites.channels.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The site in which this channel should be created.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string"
                    },
                    "channelId": {
                      "type": "string",
                      "description": "Required. Immutable. A unique id within the site to identify the channel.",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new channel in the specified site.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Channel"
                  },
                  "path": "v1beta1/{+parent}/channels",
                  "httpMethod": "POST"
                }
              }
            },
            "domains": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the domain association to delete."
                    }
                  },
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The page size to return. Defaults to 50.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The next_page_token from a previous request, if provided.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the domains for the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "path": "v1beta1/{+parent}/domains",
                  "id": "firebasehosting.projects.sites.domains.list"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the domain configuration to get.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Domain"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "description": "Gets a domain mapping on the specified site.",
                  "id": "firebasehosting.projects.sites.domains.get",
                  "path": "v1beta1/{+name}"
                },
                "create": {
                  "request": {
                    "$ref": "Domain"
                  },
                  "path": "v1beta1/{+parent}/domains",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a domain mapping on the specified site.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.domains.create",
                  "response": {
                    "$ref": "Domain"
                  }
                },
                "update": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Domain"
                  },
                  "id": "firebasehosting.projects.sites.domains.update",
                  "request": {
                    "$ref": "Domain"
                  },
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "sites": {
      "resources": {
        "channels": {
          "resources": {
            "releases": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Release"
                  },
                  "request": {
                    "$ref": "Release"
                  },
                  "id": "firebasehosting.sites.channels.releases.create",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "description": "Required. The site to which the release belongs, in the format: sites/ SITE_NAME"
                    },
                    "versionName": {
                      "type": "string",
                      "location": "query",
                      "description": " The unique identifier for a version, in the format: sites/SITE_NAME /versions/VERSION_ID The SITE_NAME in this version identifier must match the SITE_NAME in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/releases"
                },
                "list": {
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "description": "Lists the releases that have been created on the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The site for which to list releases, in the format: sites/ SITE_NAME",
                      "required": true,
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListReleases` that tells the server where to resume listing.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "firebasehosting.sites.channels.releases.list",
                  "path": "v1beta1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "description": "Lists the channels for the specified site. All sites have a default \"live\" channel.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "id": "firebasehosting.sites.channels.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 25 channels will be returned. The maximum value is 100; valuupdateses above 100 will be coerced to 100",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The site from which to list channels.",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+parent}/channels"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a channel of a site. The `live` channel cannot be deleted.",
              "httpMethod": "DELETE",
              "id": "firebasehosting.sites.channels.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified identifier for the site.",
                  "pattern": "^sites/[^/]+/channels/[^/]+$"
                }
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}"
            },
            "patch": {
              "request": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Channel"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The fully-qualified identifier of the Channel.",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$"
                }
              },
              "description": "Updates information for the specified channel of a site. This method will implicitly create a channel if it doesn't exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "PATCH",
              "id": "firebasehosting.sites.channels.patch",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "path": "v1beta1/{+name}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.channels.get",
              "description": "Retrieves information for the specified channel of a site.",
              "httpMethod": "GET",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "response": {
                "$ref": "Channel"
              },
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully-qualified identifier for the channel.",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "create": {
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "id": "firebasehosting.sites.channels.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site in which this channel should be created."
                },
                "channelId": {
                  "description": "Required. Immutable. A unique id within the site to identify the channel.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new channel in the specified site.",
              "path": "v1beta1/{+parent}/channels",
              "response": {
                "$ref": "Channel"
              },
              "request": {
                "$ref": "Channel"
              },
              "httpMethod": "POST"
            }
          }
        },
        "versions": {
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "id": "firebasehosting.sites.versions.files.list",
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "path": "v1beta1/{+parent}/files",
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "Required. The version for which to list files, in the format: sites/ SITE_NAME/versions/VERSION_ID",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000."
                    },
                    "status": {
                      "location": "query",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ],
                      "description": " The type of files that should be listed for the specified version.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent for which to list files, in the format: sites/site-name",
                  "pattern": "^sites/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 25 versions will be returned. The maximum value is 100; values above 100 will be coerced to 100"
                },
                "filter": {
                  "type": "string",
                  "description": "The filter string used to return a subset of versions in the response. Currently supported fields for filtering are: name, status, and create_time. Filter processing will be implemented in accordance with go/filtering.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query"
                }
              },
              "id": "firebasehosting.sites.versions.list",
              "httpMethod": "GET",
              "description": "Lists the versions that have been created on the specified site. Will include filtering in the future.",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              }
            },
            "populateFiles": {
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The version to which to add files, in the format: sites/SITE_NAME /versions/VERSION_ID",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+parent}:populateFiles",
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "id": "firebasehosting.sites.versions.populateFiles",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the specified version.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "id": "firebasehosting.sites.versions.delete",
              "parameters": {
                "name": {
                  "description": "Required. The name of the version to be deleted, in the format: sites/ SITE_NAME/versions/VERSION_ID",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^sites/[^/]+/versions/[^/]+$"
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_NAME",
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                },
                "versionId": {
                  "location": "query",
                  "type": "string",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank."
                },
                "sizeBytes": {
                  "type": "string",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "format": "int64",
                  "location": "query"
                }
              },
              "id": "firebasehosting.sites.versions.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}/versions",
              "response": {
                "$ref": "Version"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "description": "Creates a new version for the specified site.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Version"
              }
            },
            "clone": {
              "id": "firebasehosting.sites.versions.clone",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Creates a new version on the target site using the content of the specified version.",
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The target site where the cloned version will reside, in the format: `sites/{site}`"
                }
              },
              "path": "v1beta1/{+parent}/versions:clone",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Version"
              },
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Version"
              },
              "id": "firebasehosting.sites.versions.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true,
                  "description": "The unique identifier for a version, in the format: sites/SITE_NAME /versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The only valid transition for a version is currently from a `CREATED` status to a `FINALIZED` status. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`."
            }
          }
        },
        "domains": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes the existing domain mapping on the specified site.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the domain association to delete.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.domains.delete"
            },
            "create": {
              "id": "firebasehosting.sites.domains.create",
              "request": {
                "$ref": "Domain"
              },
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Creates a domain mapping on the specified site.",
              "path": "v1beta1/{+parent}/domains",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "response": {
                "$ref": "Domain"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "path": "v1beta1/{+parent}/domains",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "description": "Lists the domains for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The page size to return. Defaults to 50.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "firebasehosting.sites.domains.list"
            },
            "get": {
              "response": {
                "$ref": "Domain"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "id": "firebasehosting.sites.domains.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain configuration to get.",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Gets a domain mapping on the specified site."
            },
            "update": {
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "Domain"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "response": {
                "$ref": "Domain"
              },
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.domains.update",
              "httpMethod": "PUT"
            }
          }
        },
        "releases": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/releases",
              "request": {
                "$ref": "Release"
              },
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "response": {
                "$ref": "Release"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The site to which the release belongs, in the format: sites/ SITE_NAME",
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "versionName": {
                  "type": "string",
                  "description": " The unique identifier for a version, in the format: sites/SITE_NAME /versions/VERSION_ID The SITE_NAME in this version identifier must match the SITE_NAME in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "location": "query"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "id": "firebasehosting.sites.releases.create"
            },
            "list": {
              "path": "v1beta1/{+parent}/releases",
              "httpMethod": "GET",
              "id": "firebasehosting.sites.releases.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the releases that have been created on the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The site for which to list releases, in the format: sites/ SITE_NAME",
                  "type": "string",
                  "pattern": "^sites/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token from a previous call to `ListReleases` that tells the server where to resume listing."
                }
              },
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "flatPath": "v1beta1/sites/{sitesId}/releases"
            }
          }
        }
      },
      "methods": {
        "getConfig": {
          "id": "firebasehosting.sites.getConfig",
          "description": "Gets the Hosting metadata for a specific site.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^sites/[^/]+/config$",
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
            }
          },
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "SiteConfig"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ]
        },
        "updateConfig": {
          "id": "firebasehosting.sites.updateConfig",
          "request": {
            "$ref": "SiteConfig"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SiteConfig"
          },
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "description": "Sets the Hosting metadata for a specific site.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "PATCH",
          "path": "v1beta1/{+name}",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^sites/[^/]+/config$",
              "required": true,
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "schemas": {
    "DomainProvisioning": {
      "type": "object",
      "description": "The current certificate provisioning status information for a domain.",
      "properties": {
        "discoveredIps": {
          "description": "The IPs found at the last DNS fetch.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsFetchTime": {
          "description": "The time at which the last DNS fetch occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "certStatus": {
          "description": "The certificate provisioning status; updated when Firebase Hosting provisions an SSL certificate for the domain.",
          "enum": [
            "CERT_STATUS_UNSPECIFIED",
            "CERT_PENDING",
            "CERT_MISSING",
            "CERT_PROCESSING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified certificate provisioning status.",
            "Waiting for certificate challenge to be created.",
            "Waiting for certificate challenge to be met.",
            "Certificate challenge met; attempting to acquire/propagate certificate.",
            "Certificate obtained; propagating to the CDN.",
            "Certificate provisioned and deployed across the CDN.",
            "Certificate provisioning failed in a non-recoverable manner."
          ]
        },
        "expectedIps": {
          "description": "The list of IPs to which the domain is expected to resolve.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsStatus": {
          "enumDescriptions": [
            "Unspecified DNS status.",
            "No DNS records have been specified for this domain yet.",
            "None of the required DNS records have been detected on the domain.",
            "Some of the required DNS records were detected, but not all of them. No extra (non-required) DNS records were detected.",
            "All required DNS records were detected. No extra (non-required) DNS records were detected.",
            "The domain has at least one of the required DNS records, and it has at least one extra (non-required) DNS record."
          ],
          "type": "string",
          "enum": [
            "DNS_STATUS_UNSPECIFIED",
            "DNS_PENDING",
            "DNS_MISSING",
            "DNS_PARTIAL_MATCH",
            "DNS_MATCH",
            "DNS_EXTRANEOUS_MATCH"
          ],
          "description": "The DNS record match status as of the last DNS fetch."
        },
        "certChallengeDiscoveredTxt": {
          "type": "array",
          "description": "The TXT records (for the certificate challenge) that were found at the last DNS fetch.",
          "items": {
            "type": "string"
          }
        },
        "certChallengeHttp": {
          "$ref": "CertHttpChallenge",
          "description": "The HTTP challenge for generating a certificate."
        },
        "certChallengeDns": {
          "description": "The DNS challenge for generating a certificate.",
          "$ref": "CertDnsChallenge"
        }
      },
      "id": "DomainProvisioning"
    },
    "ListDomainsResponse": {
      "type": "object",
      "description": "The response to listing Domains.",
      "id": "ListDomainsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token, if more results exist.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "description": "The list of domains, if any exist.",
          "items": {
            "$ref": "Domain"
          }
        }
      }
    },
    "PopulateVersionFilesResponse": {
      "type": "object",
      "id": "PopulateVersionFilesResponse",
      "properties": {
        "uploadRequiredHashes": {
          "items": {
            "type": "string"
          },
          "description": "The content hashes of the specified files that need to be uploaded to the specified URL.",
          "type": "array"
        },
        "uploadUrl": {
          "description": "The URL to which the files should be uploaded, in the format: \"https://upload-firebasehosting.googleapis.com/upload/sites/SITE_NAME /versions/VERSION_ID/files\" Perform a multipart `POST` of the Gzipped file contents to the URL using a forward slash and the hash of the file appended to the end.",
          "type": "string"
        }
      }
    },
    "I18nConfig": {
      "properties": {
        "root": {
          "type": "string",
          "description": "Required. The user-supplied path where country and language specific content will be looked for within the public directory."
        }
      },
      "id": "I18nConfig",
      "description": "If provided, i18n rewrites are enabled.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "properties": {
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "The list of versions, if any exist.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist"
        }
      },
      "type": "object"
    },
    "Channel": {
      "description": "A `Channel` represents a stream of releases for a site. All sites have a default `live` channel that serves content to the live Firebase-provided domains and any connected custom domains.",
      "properties": {
        "release": {
          "description": "Output only. The current release for the channel, if any.",
          "readOnly": true,
          "$ref": "Release"
        },
        "retainedReleaseCount": {
          "format": "int32",
          "description": "The number of previous releases to retain on the channel for rollback or other purposes. Must be a number between 1-100. Defaults to 10 for new channels.",
          "type": "integer"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the channel will be automatically deleted. If null, the channel will not be automatically deleted. This field is present in output whether set directly or via the `ttl` field."
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. A time-to-live for this channel. Sets `expire_time` to the provided duration past the time of the request."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the channel was last updated.",
          "type": "string"
        },
        "name": {
          "description": "The fully-qualified identifier of the Channel.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the channel was created.",
          "readOnly": true
        },
        "url": {
          "description": "Output only. The URL at which the channel can be viewed. For the `live` channel, the content of the current release may also be visible at other URLs.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Text labels used for extra metadata and/or filtering."
        }
      },
      "id": "Channel",
      "type": "object"
    },
    "CloneVersionRequest": {
      "type": "object",
      "description": "The request sent to CloneVersion.",
      "properties": {
        "sourceVersion": {
          "description": "Required. The name of the version to be cloned, in the format: `sites/{site}/versions/{version}`",
          "type": "string"
        },
        "finalize": {
          "type": "boolean",
          "description": "If true, immediately finalize the version after cloning is complete."
        },
        "include": {
          "$ref": "PathFilter",
          "description": "If provided, only paths that match one or more regexes in this list will be included in the new version."
        },
        "exclude": {
          "$ref": "PathFilter",
          "description": "If provided, only paths that do not match any of the regexes in this list will be included in the new version."
        }
      },
      "id": "CloneVersionRequest"
    },
    "Version": {
      "id": "Version",
      "description": "A `Version` is a configuration and a collection of static files which determine how a site is displayed.",
      "type": "object",
      "properties": {
        "deleteTime": {
          "description": "Output only. The time at which the version was `DELETED`.",
          "format": "google-datetime",
          "type": "string"
        },
        "finalizeUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who `FINALIZED` the version."
        },
        "preview": {
          "description": "Deprecated in favor of site channels. Version preview configuration for the site version. This configuration specifies whether previewing is enabled for this site version. Version previews allow you to preview your site at a custom URL before releasing it as the live version.",
          "$ref": "PreviewConfig"
        },
        "createUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who created the version."
        },
        "finalizeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the version was `FINALIZED`."
        },
        "deleteUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who `DELETED` the version."
        },
        "versionBytes": {
          "format": "int64",
          "description": "Output only. The total stored bytesize of the version. This value is calculated after a version is `FINALIZED`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the version was created."
        },
        "fileCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The total number of files associated with the version. This value is calculated after a version is `FINALIZED`."
        },
        "labels": {
          "description": "The labels used for extra metadata and/or filtering.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "config": {
          "description": "The configuration for the behavior of the site. This configuration exists in the [`firebase.json`](https://firebase.google.com/docs/cli/#the_firebasejson_file) file.",
          "$ref": "ServingConfig"
        },
        "name": {
          "type": "string",
          "description": "The unique identifier for a version, in the format: sites/SITE_NAME /versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create)."
        },
        "status": {
          "description": "The deploy status of a version. For a successful deploy, call [`CreateVersion`](sites.versions/create) to make a new version (`CREATED` status), [upload all desired files](sites.versions/populateFiles) to the version, then [update](sites.versions/patch) the version to the `FINALIZED` status. Note that if you leave the version in the `CREATED` state for more than 12 hours, the system will automatically mark the version as `ABANDONED`. You can also change the status of a version to `DELETED` by calling [`DeleteVersion`](sites.versions/delete).",
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "CREATED",
            "FINALIZED",
            "DELETED",
            "ABANDONED",
            "EXPIRED",
            "CLONING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default status; should not be intentionally used.",
            "The version has been created, and content is currently being added to the version.",
            "All content has been added to the version, and the version can no longer be changed.",
            "The version has been deleted.",
            "The version was not updated to `FINALIZED` within 12 hours and was automatically deleted.",
            "The version is outside the site-configured limit for the number of retained versions, so the version's content is scheduled for deletion.",
            "The version is being cloned from another version. All content is still being copied over."
          ]
        }
      }
    },
    "ActingUser": {
      "id": "ActingUser",
      "description": "Contains metadata about the user who performed an action, such as creating a release or finalizing a version.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the user when the user performed the action.",
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "A profile image URL for the user. May not be present if the user has changed their email address or deleted their account."
        }
      }
    },
    "Release": {
      "description": " A `Release` is a particular [collection of configurations and files](sites.versions) that is set to be public at a particular time.",
      "type": "object",
      "id": "Release",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEPLOY",
            "ROLLBACK",
            "SITE_DISABLE"
          ],
          "description": "Explains the reason for the release. Specify a value for this field only when creating a `SITE_DISABLE` type release.",
          "enumDescriptions": [
            "An unspecified type. Indicates that a version was released. This is the default value when no other `type` is explicitly specified.",
            "A version was uploaded to Firebase Hosting and released.",
            "The release points back to a previously deployed version.",
            "The release prevents the site from serving content. Firebase Hosting acts as if the site never existed."
          ],
          "type": "string"
        },
        "releaseUser": {
          "description": "Output only. Identifies the user who created the release.",
          "$ref": "ActingUser"
        },
        "releaseTime": {
          "description": "Output only. The time at which the version is set to be public.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The unique identifier for the release, in the format: sites/ SITE_NAME/releases/RELEASE_ID This name is provided in the response body when you call [`CreateRelease`](sites.releases/create).",
          "type": "string"
        },
        "version": {
          "$ref": "Version",
          "description": "Output only. The configuration and content that was released."
        },
        "message": {
          "type": "string",
          "description": "The deploy description when the release was created. The value can be up to 512 characters."
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Rewrite": {
      "properties": {
        "run": {
          "description": "The request will be forwarded to Cloud Run.",
          "$ref": "CloudRunRewrite"
        },
        "regex": {
          "type": "string",
          "description": "The user-supplied RE2 regular expression to match against the request URL path."
        },
        "dynamicLinks": {
          "description": "The request will be forwarded to Firebase Dynamic Links.",
          "type": "boolean"
        },
        "path": {
          "description": "The URL path to rewrite the request to.",
          "type": "string"
        },
        "function": {
          "description": "The function to proxy requests to. Must match the exported function name exactly.",
          "type": "string"
        },
        "glob": {
          "type": "string",
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path."
        }
      },
      "description": "A [`Rewrite`](https://firebase.google.com/docs/hosting/full-config#rewrites) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL.",
      "id": "Rewrite",
      "type": "object"
    },
    "PathFilter": {
      "description": "A representation of filter path.",
      "type": "object",
      "id": "PathFilter",
      "properties": {
        "regexes": {
          "description": "An array of regexes to filter by.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SiteConfig": {
[...]
