{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://firestore.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "revision": "20201017",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "resources": {
            "documents": {
              "methods": {
                "write": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+database}/documents:write",
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "description": "Streams batches of document updates and deletes, in order.",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "id": "firestore.projects.databases.documents.write",
                  "response": {
                    "$ref": "WriteResponse"
                  }
                },
                "rollback": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1beta1/{+database}/documents:rollback",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Rolls back a transaction.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "id": "firestore.projects.databases.documents.rollback"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameters": {
                    "transaction": {
                      "location": "query",
                      "description": "Reads the document in a transaction.",
                      "type": "string",
                      "format": "byte"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "required": true
                    },
                    "readTime": {
                      "description": "Reads the version of the document at the given time. This may not be older than 270 seconds.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Gets a single document.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "firestore.projects.databases.documents.get"
                },
                "partitionQuery": {
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1beta1/{+parent}:partitionQuery",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results.",
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  }
                },
                "batchGet": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+database}/documents:batchGet",
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested.",
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchGet"
                },
                "beginTransaction": {
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "description": "Starts a new transaction.",
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "path": "v1beta1/{+database}/documents:beginTransaction",
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "parameters": {
                    "database": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "database"
                  ]
                },
                "listCollectionIds": {
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "httpMethod": "POST",
                  "description": "Lists all the collection IDs underneath a document.",
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "path": "v1beta1/{+parent}:listCollectionIds",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "description": "The order to sort results by. For example: `priority desc, name`.",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
                      "location": "query"
                    },
                    "showMissing": {
                      "location": "query",
                      "description": "If the list should show missing documents. A missing document is a document that does not exist but has sub-documents. These documents will be returned with a key but will not have fields, Document.create_time, or Document.update_time set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of documents to return.",
                      "type": "integer",
                      "location": "query"
                    },
                    "transaction": {
                      "format": "byte",
                      "location": "query",
                      "type": "string",
                      "description": "Reads documents in a transaction."
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "collectionId": {
                      "type": "string",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "id": "firestore.projects.databases.documents.list",
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "description": "Lists documents.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}"
                },
                "runQuery": {
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    }
                  },
                  "path": "v1beta1/{+parent}:runQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "description": "Runs a query.",
                  "id": "firestore.projects.databases.documents.runQuery",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery"
                },
                "batchWrite": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+database}/documents:batchWrite",
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "parameters": {
                    "database": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "listen": {
                  "id": "firestore.projects.databases.documents.listen",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1beta1/{+database}/documents:listen",
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "httpMethod": "POST",
                  "description": "Listens to changes.",
                  "response": {
                    "$ref": "ListenResponse"
                  }
                },
                "commit": {
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "description": "Commits a transaction, while optionally updating documents.",
                  "id": "firestore.projects.databases.documents.commit",
                  "path": "v1beta1/{+database}/documents:commit",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "createDocument": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "parameters": {
                    "collectionId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`."
                    },
                    "documentId": {
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service.",
                      "location": "query",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "parent": {
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.documents.createDocument",
                  "response": {
                    "$ref": "Document"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new document.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "request": {
                    "$ref": "Document"
                  }
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "currentDocument.updateTime": {
                      "type": "string",
                      "description": "When set, the target document must exist and have been last updated at that time.",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "id": "firestore.projects.databases.documents.delete",
                  "description": "Deletes a document."
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.patch",
                  "request": {
                    "$ref": "Document"
                  },
                  "description": "Updates or inserts a document.",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameters": {
                    "updateMask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "currentDocument.exists": {
                      "type": "boolean",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query"
                    },
                    "currentDocument.updateTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "description": "When set, the target document must exist and have been last updated at that time.",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}"
                }
              }
            },
            "indexes": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The index name. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an index.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "firestore.projects.databases.indexes.delete"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1ListIndexesResponse"
                  },
                  "id": "firestore.projects.databases.indexes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The standard List page size."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard List page token."
                    },
                    "parent": {
                      "required": true,
                      "description": "The database name. For example: `projects/{project_id}/databases/{database_id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Lists the indexes that match the specified filters.",
                  "path": "v1beta1/{+parent}/indexes",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single field cannot be created.",
                  "id": "firestore.projects.databases.indexes.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "The name of the database this index will apply to. For example: `projects/{project_id}/databases/{database_id}`",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+parent}/indexes",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "required": true,
                      "description": "The name of the index. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`"
                    }
                  },
                  "id": "firestore.projects.databases.indexes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Gets an index.",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}"
                }
              }
            }
          },
          "methods": {
            "importDocuments": {
              "path": "v1beta1/{+name}:importDocuments",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "description": "Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "id": "firestore.projects.databases.importDocuments"
            },
            "exportDocuments": {
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest"
              },
              "path": "v1beta1/{+name}:exportDocuments",
              "id": "firestore.projects.databases.exportDocuments",
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            }
          }
        }
      }
    }
  },
  "title": "Cloud Firestore API",
  "id": "firestore:v1beta1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "BatchGetDocumentsRequest": {
      "description": "The request for Firestore.BatchGetDocuments.",
      "id": "BatchGetDocumentsRequest",
      "properties": {
        "transaction": {
          "description": "Reads documents in a transaction.",
          "type": "string",
          "format": "byte"
        },
        "mask": {
          "$ref": "DocumentMask",
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response."
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "readTime": {
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
          "type": "string",
          "format": "google-datetime"
        },
        "documents": {
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CollectionSelector": {
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "The collection ID. When set, selects only collections with this ID."
        },
        "allDescendants": {
          "type": "boolean",
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections."
        }
      },
      "type": "object",
      "description": "A selection of a collection, such as `messages as m1`.",
      "id": "CollectionSelector"
    },
    "UnaryFilter": {
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`.",
            "The given `field` is not equal to `NaN`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is not equal to `NULL`. Requires: * A single `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "description": "The unary operator to apply.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL",
            "IS_NOT_NAN",
            "IS_NOT_NULL"
          ]
        },
        "field": {
          "description": "The field to which to apply the operator.",
          "$ref": "FieldReference"
        }
      },
      "type": "object",
      "description": "A filter with a single operand.",
      "id": "UnaryFilter"
    },
    "GoogleFirestoreAdminV1beta1IndexField": {
      "description": "A field of an index.",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING",
            "ARRAY_CONTAINS"
          ],
          "description": "The field's mode.",
          "enumDescriptions": [
            "The mode is unspecified.",
            "The field's values are indexed so as to support sequencing in ascending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =.",
            "The field's values are indexed so as to support sequencing in descending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =.",
            "The field's array values are indexed so as to support membership using ARRAY_CONTAINS queries."
          ]
        },
        "fieldPath": {
          "description": "The path of the field. Must match the field path specification described by google.firestore.v1beta1.Document.fields. Special field path `__name__` may be used by itself or at the end of a path. `__type__` may be used only at the end of path.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1IndexField"
    },
    "DocumentRemove": {
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "properties": {
        "document": {
          "type": "string",
          "description": "The resource name of the Document that has gone out of view."
        },
        "removedTargetIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs for targets that previously matched this document."
        },
        "readTime": {
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DocumentRemove"
    },
    "WriteResponse": {
      "description": "The response for Firestore.Write.",
      "type": "object",
      "id": "WriteResponse",
      "properties": {
        "commitTime": {
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write.",
          "format": "google-datetime"
        },
        "writeResults": {
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        },
        "streamToken": {
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "type": "string",
          "format": "byte"
        },
        "streamId": {
          "type": "string",
          "description": "The ID of the stream. Only set on the first message, when a new stream was created."
        }
      }
    },
    "Cursor": {
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause."
        },
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        }
      },
      "id": "Cursor",
      "type": "object",
      "description": "A position in a query result set."
    },
    "BatchWriteResponse": {
      "id": "BatchWriteResponse",
      "description": "The response from Firestore.BatchWrite.",
      "properties": {
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        },
        "status": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request."
        }
      },
      "type": "object"
    },
    "CommitResponse": {
      "id": "CommitResponse",
      "description": "The response for Firestore.Commit.",
      "type": "object",
      "properties": {
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit.",
          "format": "google-datetime",
          "type": "string"
        },
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array"
        }
      }
    },
    "WriteRequest": {
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "type": "object",
      "id": "WriteRequest",
      "properties": {
        "writes": {
          "items": {
            "$ref": "Write"
          },
          "type": "array",
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
        },
        "streamToken": {
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "type": "string",
          "format": "byte"
        },
        "streamId": {
          "type": "string",
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this write request.",
          "type": "object"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "description": "The operator for combining multiple filters.",
          "type": "string"
        },
        "filters": {
          "description": "The list of filters to combine. Must contain at least one filter.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        }
      },
      "type": "object",
      "description": "A filter that merges multiple other filters using the given operator."
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time."
        },
        "collectionIds": {
          "type": "array",
          "description": "Which collection ids to export. Unspecified means all collections.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest"
    },
    "DocumentMask": {
      "type": "object",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value.",
      "id": "DocumentMask",
      "properties": {
        "fieldPaths": {
          "items": {
            "type": "string"
          },
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
          "type": "array"
        }
      }
    },
    "RunQueryRequest": {
      "properties": {
        "readTime": {
          "type": "string",
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
          "format": "google-datetime"
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
        },
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        },
        "transaction": {
          "format": "byte",
          "description": "Reads documents in a transaction.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RunQueryRequest",
      "description": "The request for Firestore.RunQuery."
    },
    "MapValue": {
      "type": "object",
      "description": "A map value.",
      "properties": {
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty."
        }
      },
      "id": "MapValue"
    },
    "WriteResult": {
      "properties": {
        "transformResults": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order."
        },
        "updateTime": {
          "type": "string",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time.",
          "format": "google-datetime"
        }
      },
      "id": "WriteResult",
      "description": "The result of applying a write.",
      "type": "object"
    },
    "CommitRequest": {
      "id": "CommitRequest",
      "type": "object",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "If set, applies all writes in this transaction, and commits it."
        },
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order."
        }
      },
      "description": "The request for Firestore.Commit."
    },
    "TargetChange": {
      "type": "object",
      "id": "TargetChange",
      "properties": {
        "resumeToken": {
          "type": "string",
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "format": "byte"
        },
        "cause": {
          "description": "The error that resulted in this change, if applicable.",
          "$ref": "Status"
        },
        "targetChangeType": {
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "type": "string",
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ],
          "description": "The type of change that occurred."
        },
        "readTime": {
          "type": "string",
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "format": "google-datetime"
        },
        "targetIds": {
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "description": "Targets being watched have changed."
    },
    "ArrayValue": {
      "type": "object",
      "properties": {
        "values": {
          "description": "Values in the array.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      },
      "id": "ArrayValue",
      "description": "An array value."
    },
    "BatchGetDocumentsResponse": {
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "id": "BatchGetDocumentsResponse",
      "type": "object",
      "properties": {
        "found": {
          "$ref": "Document",
          "description": "A document that was requested."
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one."
        },
        "missing": {
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "transaction": {
          "format": "byte",
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request.",
          "type": "string"
        }
      }
    },
    "ReadOnly": {
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "Reads documents at the given time. This may not be older than 60 seconds.",
          "type": "string"
        }
      },
      "description": "Options for a transaction that can only be used to read documents.",
      "id": "ReadOnly"
    },
    "GoogleFirestoreAdminV1beta1LocationMetadata": {
      "id": "GoogleFirestoreAdminV1beta1LocationMetadata",
      "description": "The metadata message for google.cloud.location.Location.metadata.",
      "properties": {},
      "type": "object"
    },
    "DocumentTransform": {
      "properties": {
        "fieldTransforms": {
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty.",
          "type": "array",
          "items": {
            "$ref": "FieldTransform"
          }
        },
        "document": {
          "description": "The name of the document to transform.",
          "type": "string"
        }
      },
      "description": "A transformation of a document.",
      "type": "object",
      "id": "DocumentTransform"
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsResponse": {
      "description": "Returned in the google.longrunning.Operation response field.",
      "properties": {
        "outputUriPrefix": {
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsResponse"
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata": {
      "description": "Metadata for ImportDocuments operations.",
      "properties": {
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids are being imported."
        },
        "inputUriPrefix": {
          "description": "The location of the documents being imported.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "format": "google-datetime"
        },
        "progressDocuments": {
          "description": "An estimate of the number of documents processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "operationState": {
          "type": "string",
          "description": "The state of the import operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata",
      "type": "object"
    },
    "ListCollectionIdsResponse": {
      "id": "ListCollectionIdsResponse",
      "description": "The response from Firestore.ListCollectionIds.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to continue the list."
        },
        "collectionIds": {
          "description": "The collection ids.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FieldFilter": {
      "description": "A filter on a specific field.",
      "id": "FieldFilter",
      "type": "object",
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is not equal to the given `value`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY` or `NOT_IN`.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY` or `NOT_IN`.",
            "The value of the `field` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN`, `ARRAY_CONTAINS_ANY`, `NOT_IN`, `NOT_EQUAL`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY",
            "NOT_IN"
          ],
          "description": "The operator to filter by.",
          "type": "string"
        },
        "value": {
          "description": "The value to compare to.",
          "$ref": "Value"
        },
        "field": {
          "description": "The field to filter by.",
          "$ref": "FieldReference"
        }
      }
    },
    "DocumentChange": {
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected.",
      "type": "object",
      "id": "DocumentChange",
      "properties": {
        "removedTargetIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "A set of target IDs for targets that no longer match this document."
        },
        "document": {
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added.",
          "$ref": "Document"
        },
        "targetIds": {
          "type": "array",
          "description": "A set of target IDs of targets that match this document.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "PartitionQueryResponse": {
      "id": "PartitionQueryResponse",
      "type": "object",
      "properties": {
        "partitions": {
          "type": "array",
          "items": {
            "$ref": "Cursor"
          },
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results."
        }
      },
      "description": "The response for Firestore.PartitionQuery."
    },
    "GoogleFirestoreAdminV1beta1IndexOperationMetadata": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1IndexOperationMetadata",
      "properties": {
        "documentProgress": {
          "description": "Progress of the existing operation, measured in number of documents.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATING_INDEX"
          ],
          "enumDescriptions": [
            "Unspecified. Never set by server.",
            "The operation is creating the index. Initiated by a `CreateIndex` call."
          ],
          "description": "The type of index operation."
        },
        "cancelled": {
          "description": "True if the [google.longrunning.Operation] was cancelled. If the cancellation is in progress, cancelled will be true but google.longrunning.Operation.done will be false.",
          "type": "boolean"
        }
      },
      "description": "Metadata for index operations. This metadata populates the metadata field of google.longrunning.Operation."
    },
    "Order": {
      "properties": {
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Ascending.",
            "Descending."
          ]
        },
        "field": {
          "description": "The field to order by.",
          "$ref": "FieldReference"
        }
      },
      "description": "An order on a field.",
      "type": "object",
      "id": "Order"
    },
    "ListCollectionIdsRequest": {
      "type": "object",
      "id": "ListCollectionIdsRequest",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A page token. Must be a value from ListCollectionIdsResponse."
        },
        "pageSize": {
          "description": "The maximum number of results to return.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The request for Firestore.ListCollectionIds."
    },
    "QueryTarget": {
      "properties": {
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query."
        },
        "parent": {
          "description": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
          "type": "string"
        }
      },
      "description": "A target specified by a query.",
      "type": "object",
      "id": "QueryTarget"
    },
    "Document": {
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "id": "Document",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The document's fields. The map keys represent field names. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by the simple or quoted field names of the containing fields, delimited by `.`. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `foo.x&y`. Within a field path, a quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query."
        }
      },
      "type": "object"
    },
    "BeginTransactionRequest": {
      "properties": {
        "options": {
          "description": "The options for the transaction. Defaults to a read-write transaction.",
          "$ref": "TransactionOptions"
        }
      },
      "id": "BeginTransactionRequest",
      "type": "object",
      "description": "The request for Firestore.BeginTransaction."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsRequest": {
      "properties": {
        "inputUriPrefix": {
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta1.ExportDocumentsResponse.output_uri_prefix.",
          "type": "string"
        },
        "collectionIds": {
          "description": "Which collection ids to import. Unspecified means all collections included in the import.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest"
    },
    "ReadWrite": {
      "description": "Options for a transaction that can be used to read and write documents.",
      "type": "object",
      "id": "ReadWrite",
      "properties": {
        "retryTransaction": {
          "format": "byte",
          "type": "string",
          "description": "An optional transaction to retry."
        }
      }
    },
    "ExistenceFilter": {
      "id": "ExistenceFilter",
      "properties": {
        "targetId": {
          "description": "The target ID to which this filter applies.",
          "type": "integer",
          "format": "int32"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target."
        }
      },
      "type": "object",
      "description": "A digest of all the documents that match a given target."
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata",
      "properties": {
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the export operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active."
        },
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids are being exported."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "An estimate of the number of documents processed."
        },
        "outputUriPrefix": {
          "description": "Where the entities are being exported to.",
          "type": "string"
        }
      },
      "description": "Metadata for ExportDocuments operations.",
      "type": "object"
    },
    "LatLng": {
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        }
      },
      "id": "LatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object"
    },
    "RunQueryResponse": {
      "id": "RunQueryResponse",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "A query result. Not set when reporting partial progress."
        },
        "skippedResults": {
          "type": "integer",
          "format": "int32",
          "description": "The number of results that have been skipped due to an offset between the last response and the current response."
        },
        "transaction": {
          "type": "string",
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "format": "byte"
        },
        "readTime": {
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The response for Firestore.RunQuery.",
      "type": "object"
    },
    "StructuredQuery": {
      "type": "object",
      "id": "StructuredQuery",
      "properties": {
        "offset": {
          "format": "int32",
          "type": "integer",
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Must be \u003e= 0 if specified."
        },
        "startAt": {
          "description": "A starting point for the query results.",
          "$ref": "Cursor"
        },
        "endAt": {
          "$ref": "Cursor",
          "description": "A end point for the query results."
        },
        "select": {
          "$ref": "Projection",
          "description": "The projection to return."
        },
        "from": {
          "items": {
            "$ref": "CollectionSelector"
          },
          "type": "array",
          "description": "The collections to query."
        },
        "orderBy": {
          "description": "The order to apply to the query results. Firestore guarantees a stable ordering through the following rules: * Any field required to appear in `order_by`, that is not already specified in `order_by`, is appended to the order in field name order by default. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `SELECT * FROM Foo ORDER BY A` becomes `SELECT * FROM Foo ORDER BY A, __name__` * `SELECT * FROM Foo ORDER BY A DESC` becomes `SELECT * FROM Foo ORDER BY A DESC, __name__ DESC` * `SELECT * FROM Foo WHERE A \u003e 1` becomes `SELECT * FROM Foo WHERE A \u003e 1 ORDER BY A, __name__`",
          "items": {
            "$ref": "Order"
          },
          "type": "array"
        },
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Must be \u003e= 0 if specified.",
          "format": "int32",
          "type": "integer"
        },
        "where": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        }
      },
      "description": "A Firestore query."
    },
    "DocumentsTarget": {
      "type": "object",
      "properties": {
        "documents": {
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DocumentsTarget",
      "description": "A target specified by a set of documents names."
    },
    "BatchWriteRequest": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this batch write.",
          "type": "object"
        },
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request."
        }
      },
      "id": "BatchWriteRequest",
      "description": "The request for Firestore.BatchWrite.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1Progress": {
      "properties": {
        "workCompleted": {
          "format": "int64",
          "description": "An estimate of how much work has been completed. Note that this may be greater than `work_estimated`.",
          "type": "string"
        },
        "workEstimated": {
          "description": "An estimate of how much work needs to be performed. Zero if the work estimate is unavailable. May change as work progresses.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Measures the progress of a particular metric.",
      "id": "GoogleFirestoreAdminV1beta1Progress",
      "type": "object"
    },
    "FieldTransform": {
      "id": "FieldTransform",
      "type": "object",
      "properties": {
        "setToServerValue": {
          "description": "Sets the field to the given server value.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ],
          "type": "string",
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ]
        },
        "appendMissingElements": {
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "maximum": {
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "fieldPath": {
          "description": "The path of the field. See Document.fields for the field path syntax reference.",
          "type": "string"
        },
        "minimum": {
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "removeAllFromArray": {
          "$ref": "ArrayValue",
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value."
        },
        "increment": {
          "$ref": "Value",
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer."
        }
      },
      "description": "A transformation of a field of the document."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "Value": {
      "properties": {
        "bytesValue": {
          "type": "string",
          "format": "byte",
          "description": "A bytes value. Must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes are considered by queries."
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down."
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "arrayValue": {
          "$ref": "ArrayValue",
          "description": "An array value. Cannot directly contain another array value, though can contain an map which contains another array."
        },
        "doubleValue": {
          "type": "number",
          "description": "A double value.",
          "format": "double"
        },
        "stringValue": {
          "description": "A string value. The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes of the UTF-8 representation are considered by queries.",
          "type": "string"
        },
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "description": "A null value.",
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ]
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "geoPointValue": {
          "$ref": "LatLng",
          "description": "A geo point value representing a point on the surface of Earth."
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        }
      },
      "description": "A message that can hold any of the supported value types.",
      "type": "object",
      "id": "Value"
    },
    "TransactionOptions": {
      "description": "Options for creating a new transaction.",
      "properties": {
        "readWrite": {
          "$ref": "ReadWrite",
          "description": "The transaction can be used for both read and write operations."
        },
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        }
      },
      "id": "TransactionOptions",
      "type": "object"
    },
    "ListenRequest": {
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels associated with this target change.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "removeTarget": {
          "description": "The ID of a target to remove from this stream.",
          "format": "int32",
          "type": "integer"
        },
        "addTarget": {
          "description": "A target to add to this stream.",
          "$ref": "Target"
        }
      },
      "description": "A request for Firestore.Listen",
      "type": "object",
      "id": "ListenRequest"
    },
    "BeginTransactionResponse": {
      "description": "The response for Firestore.BeginTransaction.",
      "properties": {
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction that was started."
        }
      },
      "type": "object",
      "id": "BeginTransactionResponse"
    },
    "Filter": {
      "type": "object",
      "description": "A filter.",
      "id": "Filter",
      "properties": {
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        },
        "fieldFilter": {
          "$ref": "FieldFilter",
          "description": "A filter on a document field."
        },
        "unaryFilter": {
          "description": "A filter that takes exactly one argument.",
          "$ref": "UnaryFilter"
        }
      }
    },
    "RollbackRequest": {
      "description": "The request for Firestore.Rollback.",
      "properties": {
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "Required. The transaction to roll back."
        }
      },
      "id": "RollbackRequest",
      "type": "object"
    },
    "Write": {
      "properties": {
        "updateMask": {
          "$ref": "DocumentMask",
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name."
        },
        "update": {
          "description": "A document to write.",
          "$ref": "Document"
        },
        "transform": {
          "$ref": "DocumentTransform",
          "description": "Applies a transformation to a document."
        },
        "updateTransforms": {
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order.",
          "items": {
            "$ref": "FieldTransform"
          },
          "type": "array"
        },
        "delete": {
          "type": "string",
          "description": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "currentDocument": {
          "$ref": "Precondition",
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document."
        }
      },
      "description": "A write on a document.",
      "id": "Write",
      "type": "object"
    },
    "Target": {
      "id": "Target",
      "description": "A specification of a set of documents to listen to.",
      "type": "object",
      "properties": {
        "targetId": {
          "type": "integer",
          "format": "int32",
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero."
        },
        "readTime": {
          "type": "string",
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time.",
          "format": "google-datetime"
        },
        "query": {
          "description": "A target specified by a query.",
[...]
