{
  "description": "The Google Play games service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "canonicalName": "Games",
  "batchPath": "batch",
  "servicePath": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "View and manage its own configuration data in your Google Drive"
        }
      }
    }
  },
  "title": "Google Play Game Services",
  "ownerDomain": "google.com",
  "version": "v1",
  "name": "games",
  "revision": "20201022",
  "basePath": "",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://games.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "AchievementUpdateResponse": {
      "id": "AchievementUpdateResponse",
      "description": "An updated achievement.",
      "type": "object",
      "properties": {
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32",
          "type": "integer"
        },
        "currentState": {
          "enum": [
            "UPDATED_ACHIEVEMENT_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "description": "The current state of the achievement."
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        },
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is was applied to."
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Whether the requested updates actually affected the achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        }
      }
    },
    "SnapshotListResponse": {
      "description": "A third party list snapshots response.",
      "id": "SnapshotListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "items": {
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImageAsset": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the asset."
        },
        "height": {
          "description": "The height of the asset.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "width": {
          "description": "The width of the asset.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        }
      },
      "description": "An image asset object.",
      "id": "ImageAsset",
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "description": "A list of achievement definition objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "AchievementDefinition"
          },
          "description": "The achievement definitions."
        }
      },
      "id": "AchievementDefinitionsListResponse",
      "type": "object"
    },
    "RevisionCheckResponse": {
      "id": "RevisionCheckResponse",
      "type": "object",
      "description": "A third party checking a revision response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`."
        },
        "revisionStatus": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "type": "string",
          "description": "The result of the revision check.",
          "enum": [
            "REVISION_STATUS_UNSPECIFIED",
            "OK",
            "DEPRECATED",
            "INVALID"
          ]
        },
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        }
      }
    },
    "ResolveSnapshotHeadResponse": {
      "type": "object",
      "description": "Response for ResolveSnapshotHead RPC.",
      "id": "ResolveSnapshotHeadResponse",
      "properties": {
        "snapshot": {
          "$ref": "SnapshotExtended",
          "description": "The state of the snapshot."
        }
      }
    },
    "InstanceIosDetails": {
      "id": "InstanceIosDetails",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`."
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "supportIpad": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPad."
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "supportIphone": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPhone."
        }
      },
      "description": "The iOS details resource."
    },
    "EventDefinitionListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "EventDefinition"
          },
          "description": "The event definitions."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        }
      },
      "id": "EventDefinitionListResponse",
      "type": "object",
      "description": "A ListDefinitions response."
    },
    "PlayerEvent": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`."
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        },
        "numEvents": {
          "type": "string",
          "format": "int64",
          "description": "The current number of times this event has occurred."
        },
        "formattedNumEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console."
        }
      },
      "description": "An event status resource.",
      "id": "PlayerEvent"
    },
    "EventRecordRequest": {
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64"
        },
        "currentTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch)."
        },
        "timePeriods": {
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "type": "array",
          "description": "A list of the time period updates being made in this request."
        }
      },
      "type": "object",
      "id": "EventRecordRequest"
    },
    "EventBatchRecordFailure": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`.",
          "type": "string"
        },
        "range": {
          "$ref": "EventPeriodRange",
          "description": "The time range which was rejected; empty for a request-wide failure."
        },
        "failureCause": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "type": "string",
          "enum": [
            "EVENT_FAILURE_CAUSE_UNSPECIFIED",
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "description": "The cause for the update failure."
        }
      },
      "description": "A batch update failure resource.",
      "id": "EventBatchRecordFailure",
      "type": "object"
    },
    "PlayerScoreSubmissionList": {
      "properties": {
        "scores": {
          "description": "The score submissions.",
          "type": "array",
          "items": {
            "$ref": "ScoreSubmission"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`."
        }
      },
      "description": "A list of score submission requests.",
      "id": "PlayerScoreSubmissionList",
      "type": "object"
    },
    "SnapshotRevision": {
      "id": "SnapshotRevision",
      "description": "A Snapshot revision resource. Snapshot revisions are immutable.",
      "type": "object",
      "properties": {
        "coverImage": {
          "$ref": "SnapshotCoverImageResource",
          "description": "Reference to the cover image for this revision."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A server generated identifier of the snapshot revision."
        },
        "metadata": {
          "$ref": "SnapshotMetadata",
          "description": "Metadata for this snapshot revision."
        },
        "blob": {
          "description": "Reference to the game provided blob for this revision.",
          "$ref": "SnapshotDataResource"
        }
      }
    },
    "GamesAchievementIncrement": {
      "description": "The payload to request to increment an achievement.",
      "id": "GamesAchievementIncrement",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "steps": {
          "format": "int32",
          "description": "The number of steps to be incremented.",
          "type": "integer"
        }
      }
    },
    "GamesAchievementSetStepsAtLeast": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "type": "integer",
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32"
        }
      },
      "description": "The payload to request to increment an achievement.",
      "type": "object",
      "id": "GamesAchievementSetStepsAtLeast"
    },
    "PlayerScore": {
      "properties": {
        "timeSpan": {
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span for this player score."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "score": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value for this player score."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        }
      },
      "description": "A player score.",
      "id": "PlayerScore",
      "type": "object"
    },
    "EventUpdateResponse": {
      "id": "EventUpdateResponse",
      "properties": {
        "batchFailures": {
          "description": "Any batch-wide failures which occurred applying updates.",
          "type": "array",
          "items": {
            "$ref": "EventBatchRecordFailure"
          }
        },
        "playerEvents": {
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The current status of any updated events"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`."
        },
        "eventFailures": {
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event.",
          "type": "array"
        }
      },
      "description": "An event period update resource.",
      "type": "object"
    },
    "PlayerLevel": {
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "id": "PlayerLevel",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`."
        },
        "minExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The minimum experience points for this level."
        },
        "level": {
          "format": "int32",
          "description": "The level for the user.",
          "type": "integer"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Instance": {
      "description": "The Instance resource.",
      "id": "Instance",
      "properties": {
        "name": {
          "type": "string",
          "description": "Localized display name."
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`."
        },
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        },
        "platformType": {
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "enumDescriptions": [
            "Default value. Should be unused.",
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "description": "The platform type."
        },
        "webInstance": {
          "$ref": "InstanceWebDetails",
          "description": "Platform dependent details for Web."
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        }
      },
      "type": "object"
    },
    "ScoreSubmission": {
      "id": "ScoreSubmission",
      "properties": {
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        },
        "score": {
          "description": "The new score being submitted.",
          "format": "int64",
          "type": "string"
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard this score is being submitted to."
        }
      },
      "description": "A request to submit a score to leaderboards.",
      "type": "object"
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "description": "A list of score submission statuses.",
      "id": "PlayerScoreListResponse",
      "properties": {
        "submittedScores": {
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        }
      }
    },
    "AchievementUnlockResponse": {
      "id": "AchievementUnlockResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "An achievement unlock response"
    },
    "Category": {
      "description": "Data related to individual game categories.",
      "type": "object",
      "id": "Category",
      "properties": {
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`."
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned in this category.",
          "format": "int64"
        }
      }
    },
    "AchievementRevealResponse": {
      "description": "An achievement reveal response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        },
        "currentState": {
          "enum": [
            "REVEAL_ACHIEVEMENT_STATE_UNSPECIFIED",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked."
        }
      },
      "id": "AchievementRevealResponse"
    },
    "PlayerLeaderboardScore": {
      "properties": {
        "publicRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly."
        },
        "writeTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`."
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "timeSpan": {
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "description": "The time span of this score.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "scoreValue": {
          "description": "The numerical value of this score.",
          "format": "int64",
          "type": "string"
        },
        "friendsRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The rank of the score in the friends collection for this leaderboard."
        }
      },
      "id": "PlayerLeaderboardScore",
      "type": "object",
      "description": "A player leaderboard score object."
    },
    "ApplicationVerifyResponse": {
      "id": "ApplicationVerifyResponse",
      "description": "A third party application verification response resource.",
      "properties": {
        "alternate_player_id": {
          "type": "string",
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)"
        },
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementDefinition": {
      "properties": {
        "initialState": {
          "description": "The initial state of the achievement.",
          "type": "string",
          "enum": [
            "INITIAL_ACHIEVEMENT_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of the achievement."
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`."
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "achievementType": {
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string",
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ]
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points which will be earned when unlocking this achievement."
        },
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "totalSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The total steps for an incremental achievement."
        }
      },
      "description": "An achievement definition object.",
      "id": "AchievementDefinition",
      "type": "object"
    },
    "LeaderboardListResponse": {
      "description": "A list of leaderboard objects.",
      "id": "LeaderboardListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        },
        "items": {
          "items": {
            "$ref": "Leaderboard"
          },
          "type": "array",
          "description": "The leaderboards."
        }
      },
      "type": "object"
    },
    "ProfileSettings": {
      "type": "object",
      "description": "Profile settings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`."
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        },
        "friendsListVisibility": {
          "enumDescriptions": [
            "Unused.",
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "enum": [
            "FRIENDS_LIST_VISIBILITY_UNSPECIFIED",
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "type": "string"
        }
      },
      "id": "ProfileSettings"
    },
    "AchievementUpdateRequest": {
      "type": "object",
      "properties": {
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is being applied to."
        },
        "updateType": {
          "type": "string",
          "description": "The type of update being applied.",
          "enum": [
            "ACHIEVEMENT_UPDATE_TYPE_UNSPECIFIED",
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ]
        },
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`."
        },
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        }
      },
      "id": "AchievementUpdateRequest",
      "description": "A request to update an achievement."
    },
    "EventPeriodRange": {
      "type": "object",
      "description": "An event period time range.",
      "id": "EventPeriodRange",
      "properties": {
        "periodStartMillis": {
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodEndMillis": {
          "format": "int64",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string"
        }
      }
    },
    "MetagameConfig": {
      "description": "The metagame config resource",
      "type": "object",
      "id": "MetagameConfig",
      "properties": {
        "currentVersion": {
          "type": "integer",
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        },
        "playerLevels": {
          "description": "The list of player levels.",
          "type": "array",
          "items": {
            "$ref": "PlayerLevel"
          }
        }
      }
    },
    "PlayerExperienceInfo": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "nextLevel": {
          "$ref": "PlayerLevel",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        },
        "lastLevelUpTimestampMillis": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
        },
        "currentLevel": {
          "$ref": "PlayerLevel",
          "description": "The current level of the player."
        }
      },
      "id": "PlayerExperienceInfo",
      "description": "1P/3P metadata about the player's experience."
    },
    "SnapshotCoverImageResource": {
      "properties": {
        "contentHash": {
          "description": "Output only. Hash-like weak identifier of the uploaded image bytes, consistent per player per application. Within the context of a single player/application, it's guaranteed that two identical blobs coming from two different uploads will have the same content hash. It's extremely likely, though not guaranteed, that if two content hashes are equal, the images are identical.",
          "type": "string",
          "readOnly": true
        },
        "width": {
          "description": "Output only. The width of the image in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "downloadUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A URL the client can use to download the image. May vary across requests, and only guaranteed to be valid for a short time after it is returned."
        },
        "resourceId": {
          "description": "The ID of the image resource. It's guaranteed that if two IDs are equal then the contents are equal as well. It's not guaranteed that two identical blobs coming from separate uploads have the same ID. The resource ID can only be used within the application, user and resource type it was originally returned for. For example, it's not possible to use SnapshotDataResource's resource ID as the resource_id of a SnapshotCoverImageResource, even if the blob is a valid image file.",
          "type": "string"
        },
        "mimeType": {
          "readOnly": true,
          "description": "Output only. The MIME type of the image.",
          "type": "string"
        },
        "height": {
          "description": "Output only. The height of the image in pixels.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "SnapshotCoverImageResource",
      "description": "Identifies a snapshot cover image resource. The image is provided by the game.",
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        },
        "updates": {
          "type": "array",
          "description": "The individual achievement update requests.",
          "items": {
            "$ref": "AchievementUpdateRequest"
          }
        }
      },
      "type": "object",
      "description": "A list of achievement update requests.",
      "id": "AchievementUpdateMultipleRequest"
    },
    "AchievementUpdateMultipleResponse": {
      "id": "AchievementUpdateMultipleResponse",
      "properties": {
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        }
      },
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "type": "object"
    },
    "PlayerEventListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "type": "array",
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A ListByPlayer response.",
      "id": "PlayerEventListResponse"
    },
    "EventUpdateRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        },
        "updateCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of times this event occurred in this time period."
        }
      },
      "type": "object",
      "description": "An event period update resource.",
      "id": "EventUpdateRequest"
    },
    "AchievementSetStepsAtLeastResponse": {
      "description": "An achievement set steps at least response.",
      "id": "AchievementSetStepsAtLeastResponse",
      "properties": {
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StatsResponse": {
      "description": "A third party stats resource.",
      "id": "StatsResponse",
      "properties": {
        "total_spend_next_28_days": {
          "format": "float",
          "type": "number",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "num_sessions": {
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "spend_percentile": {
          "format": "float",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "num_sessions_percentile": {
          "format": "float",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "churn_probability": {
          "format": "float",
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information."
        },
        "avg_session_length_minutes": {
          "type": "number",
          "format": "float",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`."
        },
        "spend_probability": {
          "format": "float",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "num_purchases": {
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "high_spender_probability": {
          "format": "float",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "days_since_last_played": {
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "PlayerAchievementListResponse": {
      "id": "PlayerAchievementListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerAchievement"
          },
          "description": "The achievements.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of achievement objects."
    },
    "SnapshotImage": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`."
        },
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the image."
        },
        "url": {
          "type": "string",
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached."
        },
        "width": {
          "type": "integer",
          "description": "The width of the image.",
          "format": "int32"
        }
      },
      "description": "An image of a snapshot.",
      "id": "SnapshotImage",
      "type": "object"
    },
    "Application": {
      "id": "Application",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the application."
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "achievement_count": {
          "type": "integer",
          "description": "The number of achievements visible to the currently authenticated player.",
          "format": "int32"
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The last updated timestamp of the application."
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "enabledFeatures": {
          "type": "array",
          "description": "A list of features that have been enabled for the application.",
          "items": {
            "enum": [
              "APPLICATION_FEATURE_UNSPECIFIED",
              "SNAPSHOTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Safe default, don't use.",
              "Saved Games (snapshots)."
            ]
          }
        },
        "instances": {
          "description": "The instances of the application.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "leaderboard_count": {
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "assets": {
          "description": "The assets of the application.",
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "id": {
          "type": "string",
          "description": "The ID of the application."
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        }
      },
      "type": "object",
      "description": "The Application resource."
    },
    "EventChild": {
      "description": "An event child relationship resource.",
      "properties": {
        "childId": {
          "type": "string",
          "description": "The ID of the child event."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`."
        }
      },
      "id": "EventChild",
      "type": "object"
    },
    "SnapshotDataResource": {
      "id": "SnapshotDataResource",
      "properties": {
        "downloadUrl": {
          "type": "string",
          "description": "Output only. A URL that the client can use to download the blob. May vary across requests, and only guaranteed to be valid for a short time after it is returned.",
          "readOnly": true
        },
        "size": {
          "format": "int64",
          "description": "Size of the saved game blob in bytes.",
          "type": "string"
        },
        "contentHash": {
          "type": "string",
          "description": "Output only. Hash-like weak identifier of the uploaded blob, consistent per player per application. Within the context of a single player/application, it's guaranteed that two identical blobs coming from two different uploads will have the same content hash. It's extremely likely, though not guaranteed, that if two content hashes are equal, the blobs are identical.",
          "readOnly": true
        },
        "resourceId": {
          "description": "The ID of the blob resource. It's guaranteed that if two IDs are equal then the contents are equal as well. It's not guaranteed that two identical blobs coming from separate uploads have the same resource ID. The resource ID can only be used within the application, user and resource type it was originally returned for. For example, it's not possible to use SnapshotDataResource's resource ID as the resource_id of a SnapshotCoverImageResource, even if the blob is a valid image file.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Identifies a snapshot data resource. The data is provided by the game."
    },
    "EventPeriodUpdate": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        },
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "updates": {
          "items": {
            "$ref": "EventUpdateRequest"
          },
          "type": "array",
          "description": "The updates being made for this time period."
        }
      },
      "type": "object",
      "description": "An event period update resource.",
      "id": "EventPeriodUpdate"
    },
    "SnapshotMetadata": {
      "description": "Metadata about a snapshot revision. Snapshot metadata is immutable - a metadata change corresponds to a new snapshot revision.",
      "properties": {
        "progressValue": {
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration associated with this snapshot. Values with sub-millisecond precision can be rounded or trimmed to the closest millisecond."
        },
        "description": {
          "type": "string",
          "description": "The description of this snapshot."
        },
        "lastModifyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of the last modification to this snapshot. Values with sub-millisecond precision can be rounded or trimmed to the closest millisecond."
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "deviceName": {
          "type": "string",
          "description": "The device that created the current revision."
        }
      },
      "id": "SnapshotMetadata",
      "type": "object"
    },
    "ApplicationCategory": {
      "description": "An application category object.",
      "type": "object",
      "id": "ApplicationCategory",
      "properties": {
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        },
        "primary": {
          "description": "The primary category.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`."
        }
      }
    },
    "EventDefinition": {
      "properties": {
        "childEvents": {
          "items": {
            "$ref": "EventChild"
          },
          "description": "A list of events that are a child of this event.",
          "type": "array"
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "visibility": {
          "enum": [
            "EVENT_VISIBILITY_UNSPECIFIED",
            "REVEALED",
            "HIDDEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "description": "The visibility of event being tracked in this definition."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        }
      },
      "id": "EventDefinition",
      "description": "An event definition resource.",
      "type": "object"
    },
    "CategoryListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        }
      },
      "id": "CategoryListResponse",
      "type": "object",
      "description": "A third party list metagame categories response."
    },
    "Leaderboard": {
      "description": "The Leaderboard resource.",
      "properties": {
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "order": {
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "description": "How scores are ordered.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ]
        },
        "id": {
          "type": "string",
          "description": "The leaderboard ID."
        }
      },
      "type": "object",
      "id": "Leaderboard"
    },
    "LeaderboardEntry": {
      "properties": {
        "formattedScore": {
          "type": "string",
          "description": "The localized string for the numerical value of this score."
        },
        "writeTimestampMillis": {
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string"
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "timeSpan": {
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "description": "The time span of this high score.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        },
        "scoreValue": {
          "description": "The numerical value of this score.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The Leaderboard Entry resource.",
      "id": "LeaderboardEntry",
      "type": "object"
    },
    "EventRecordFailure": {
      "properties": {
        "eventId": {
          "type": "string",
          "description": "The ID of the event that was not updated."
        },
        "failureCause": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not use.",
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "enum": [
            "EVENT_UPDATE_FAILURE_CAUSE_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "description": "The cause for the update failure."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
        }
      },
      "type": "object",
      "id": "EventRecordFailure",
      "description": "An event update failure resource."
    },
    "SnapshotExtended": {
      "type": "object",
      "id": "SnapshotExtended",
      "description": "A snapshot represents a saved game state referred to using the developer-provided snapshot_id (think of it as a file's path). The set of attributes and binary data for a specific state is called a revision. Each revision is itself immutable, and referred to by a snapshot_revision_id. At any time, a snapshot has a \"head\" revision, and updates are made against that revision. If a snapshot update is received that isn't against the current head revision, then instead of changing the head revision it will result in a conflicting revision that must be specifically resolved.",
      "properties": {
        "hasConflictingRevisions": {
          "type": "boolean",
          "description": "An indicator whether the snapshot has any conflicting revisions or not. Always set."
        },
        "name": {
          "type": "string",
          "description": "An identifier of the snapshot,developer-specified."
        },
        "headRevision": {
          "$ref": "SnapshotRevision",
          "description": "The current head revision (the canonical revision as understood by the server)."
        },
        "conflictingRevisions": {
          "type": "array",
          "description": "A list of conflicting revisions. Only set if explicitly requested (e.g. using a field mask or a request flag), or if the RPC guarantees that this field is set. The conflicting revisions are sorted chronologically by their server creation time (oldest first). If there are too many conflicting revisions to return all of them in a single request this will only contain the first batch. In such case, the presented conflicting revisions must be resolved first in order to fetch the next batch.",
          "items": {
            "$ref": "SnapshotRevision"
          }
        }
      }
    },
    "Player": {
      "type": "object",
      "description": "A Player resource.",
      "id": "Player",
      "properties": {
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`"
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "friendStatus": {
          "type": "string",
          "enum": [
            "FRIEND_STATUS_UNSPECIFIED",
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "name": {
          "type": "object",
          "description": "A representation of the individual components of the name.",
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          }
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        }
      }
    },
    "InstanceWebDetails": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`."
        },
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        }
      },
      "description": "The Web details resource.",
      "id": "InstanceWebDetails",
      "type": "object"
    },
    "LeaderboardScores": {
      "id": "LeaderboardScores",
      "type": "object",
      "description": "A ListScores response.",
      "properties": {
        "playerScore": {
          "$ref": "LeaderboardEntry",
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`."
        },
        "items": {
          "description": "The scores in the leaderboard.",
          "items": {
            "$ref": "LeaderboardEntry"
          },
          "type": "array"
        },
        "numScores": {
          "description": "The total number of scores in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      }
    },
    "LeaderboardScoreRank": {
      "properties": {
        "formattedRank": {
          "type": "string",
          "description": "The rank in the leaderboard as a string."
        },
        "formattedNumScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard as a string."
        },
        "numScores": {
          "format": "int64",
          "type": "string",
          "description": "The number of scores in the leaderboard."
        },
        "rank": {
          "description": "The rank in the leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LeaderboardScoreRank",
      "description": "A score rank in a leaderboard."
    },
    "Snapshot": {
      "properties": {
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "lastModifiedMillis": {
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "type": "string",
          "format": "int64"
        },
        "durationMillis": {
          "format": "int64",
          "description": "The duration associated with this snapshot, in millis.",
          "type": "string"
        },
        "type": {
          "enum": [
            "SNAPSHOT_TYPE_UNSPECIFIED",
            "SAVE_GAME"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A snapshot representing a save game."
          ],
          "type": "string",
          "description": "The type of this snapshot."
        },
        "description": {
          "type": "string",
          "description": "The description of this snapshot."
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller."
        },
        "title": {
          "type": "string",
          "description": "The title of this snapshot."
        },
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
        },
        "progressValue": {
          "type": "string",
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot."
        }
      },
      "id": "Snapshot",
      "description": "An snapshot object.",
      "type": "object"
    },
    "PlayerListResponse": {
      "type": "object",
      "description": "A third party player list response.",
      "id": "PlayerListResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Player"
          },
          "description": "The players."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        }
      }
    },
    "PlayerAchievement": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "type": "string",
          "format": "int64"
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string"
        },
        "formattedCurrentStepsString": {
          "type": "string",
          "description": "The current steps for an incremental achievement as a string."
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps for an incremental achievement.",
          "format": "int32"
        },
        "achievementState": {
          "description": "The state of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string"
        }
      },
      "id": "PlayerAchievement",
      "description": "An achievement object."
    },
    "InstanceAndroidDetails": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Android package name which maps to Google Play URL."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource."
    },
    "ResolveSnapshotHeadRequest": {
      "description": "Request for ResolveSnapshotHead RPC.",
      "type": "object",
      "id": "ResolveSnapshotHeadRequest",
      "properties": {
        "resolutionPolicy": {
          "description": "Required. The automatic resolution policy. All conflicts are resolved in chronological order, starting from the/ least recent. If the comparison metric is equal for the tentative head and the conflict, the head wins.",
          "enumDescriptions": [
            "Safe default, don't use explicitly.",
            "Drops all conflicts and keeps the current head only.",
            "Use the snapshot with the longest played time.",
            "Use the snapshot that was most recently modified.",
            "Use the snapshot with the highest progress value.",
            "Don't resolve conflicts at all. Effectively only returns the current head revision of the snapshot. Corresponds to a game opening the snapshot with manual resolution policy."
          ],
          "enum": [
            "RESOLUTION_POLICY_UNSPECIFIED",
            "USE_HEAD",
            "LONGEST_PLAYTIME",
            "MOST_RECENTLY_MODIFIED",
            "HIGHEST_PROGRESS",
            "NO_AUTOMATIC_RESOLUTION"
          ],
          "type": "string"
        }
      }
    },
    "PlayerScoreResponse": {
      "description": "A list of leaderboard entry resources.",
      "properties": {
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted value of the submitted score."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "unbeatenScores": {
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array",
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans."
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard ID that this score was submitted to."
        },
        "beatenScoreTimeSpans": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "enum": [
              "SCORE_TIME_SPAN_UNSPECIFIED",
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "type": "string"
          },
          "description": "The time spans where the submitted score is better than the existing score for that time span."
        }
      },
      "id": "PlayerScoreResponse",
      "type": "object"
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "type": "object",
      "description": "A list of player leaderboard scores.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "player": {
          "$ref": "Player",
          "description": "The Player resources for the owner of this score."
        },
        "items": {
          "description": "The leaderboard scores.",
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        }
      }
    },
    "AchievementIncrementResponse": {
      "id": "AchievementIncrementResponse",
      "type": "object",
      "description": "An achievement increment response",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        }
      }
    }
  },
  "baseUrl": "https://games.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "players": {
      "methods": {
        "get": {
          "id": "games.players.get",
          "path": "games/v1/players/{playerId}",
          "parameters": {
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "parameterOrder": [
            "playerId"
          ],
          "response": {
            "$ref": "Player"
          }
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/players/{collection}",
          "parameterOrder": [
            "collection"
          ],
          "description": "Get the collection of players for the currently authenticated user.",
          "path": "games/v1/players/me/players/{collection}",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "collection": {
              "type": "string",
              "location": "path",
              "description": "Collection of players being retrieved",
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "required": true,
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ]
            }
          },
          "id": "games.players.list",
          "response": {
            "$ref": "PlayerListResponse"
          }
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "response": {
            "$ref": "StatsResponse"
          },
          "path": "games/v1/stats",
          "httpMethod": "GET",
          "id": "games.stats.get",
          "parameters": {},
          "flatPath": "games/v1/stats",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "path": "games/v1/revisions/check",
          "flatPath": "games/v1/revisions/check",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Checks whether the games client is out of date.",
          "id": "games.revisions.check",
          "parameterOrder": [
            "clientRevision"
          ],
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "clientRevision": {
              "description": "The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "setStepsAtLeast": {
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "httpMethod": "POST",
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.setStepsAtLeast",
          "parameters": {
            "achievementId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method."
            },
            "steps": {
              "type": "integer",
              "required": true,
              "format": "int32",
              "location": "query",
              "description": "The minimum value to set the steps to."
            }
          }
        },
        "increment": {
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "httpMethod": "POST",
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/{achievementId}/increment",
          "parameters": {
            "stepsToIncrement": {
              "required": true,
              "description": "The number of steps to increment.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "requestId": {
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "achievementId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "id": "games.achievements.increment",
          "flatPath": "games/v1/achievements/{achievementId}/increment"
        },
        "unlock": {
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "description": "Unlocks this achievement for the currently authenticated player.",
          "id": "games.achievements.unlock",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/{achievementId}/unlock",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "httpMethod": "POST"
        },
        "reveal": {
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/reveal",
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "httpMethod": "POST",
          "id": "games.achievements.reveal",
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "state": {
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "type": "string",
              "location": "query",
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ]
            },
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "flatPath": "games/v1/players/{playerId}/achievements",
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "id": "games.achievements.list",
          "parameterOrder": [
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "path": "games/v1/players/{playerId}/achievements",
          "httpMethod": "GET"
        },
        "updateMultiple": {
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.updateMultiple",
          "path": "games/v1/achievements/updateMultiple",
          "flatPath": "games/v1/achievements/updateMultiple",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "description": "Updates multiple achievements for the currently authenticated player."
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.leaderboards.get",
          "path": "games/v1/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "Leaderboard"
          },
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard with the given ID."
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "description": "Lists all the leaderboard metadata for your application.",
          "parameterOrder": [],
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/leaderboards",
          "id": "games.leaderboards.list",
          "path": "games/v1/leaderboards"
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "games/v1/snapshots/{snapshotId}",
          "description": "Retrieves the metadata for a given snapshot ID.",
          "response": {
            "$ref": "Snapshot"
          },
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "snapshotId": {
              "required": true,
              "type": "string",
              "description": "The ID of the snapshot.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "snapshotId"
          ],
          "id": "games.snapshots.get",
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/{playerId}/snapshots",
          "id": "games.snapshots.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ],
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query"
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID."
        }
      }
    },
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "id": "games.metagame.listCategoriesByPlayer",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "parameters": {
            "playerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "collection": {
              "enum": [
                "COLLECTION_UNSPECIFIED",
                "ALL"
              ],
              "location": "path",
              "type": "string",
              "required": true,
              "enumDescriptions": [
                "Default value. This value is unused.",
[...]
