{
  "version_module": true,
  "discoveryVersion": "v1",
  "rootUrl": "https://gameservices.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/solutions/gaming/",
  "servicePath": "",
  "canonicalName": "Game Services",
  "ownerName": "Google",
  "version": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://gameservices.googleapis.com/",
  "title": "Game Services API",
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "GameServerConfig": {
      "properties": {
        "name": {
          "description": "The resource name of the game server config, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/{config}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the game server config."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "scalingConfigs": {
          "description": "The autoscaling settings.",
          "items": {
            "$ref": "ScalingConfig"
          },
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this game server config. Each label is a key-value pair."
        },
        "fleetConfigs": {
          "type": "array",
          "items": {
            "$ref": "FleetConfig"
          },
          "description": "FleetConfig contains a list of Agones fleet specs. Only one FleetConfig is allowed."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation time.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GameServerConfig",
      "type": "object",
      "description": "A game server config resource."
    },
    "LogConfig": {
      "type": "object",
      "id": "LogConfig",
      "description": "Specifies what kind of log the caller must write",
      "properties": {
        "counter": {
          "description": "Counter options.",
          "$ref": "CounterOptions"
        },
        "dataAccess": {
          "$ref": "DataAccessOptions",
          "description": "Data access options."
        },
        "cloudAudit": {
          "description": "Cloud audit options.",
          "$ref": "CloudAuditOptions"
        }
      }
    },
    "TargetFleetAutoscaler": {
      "description": "Target Agones autoscaler policy reference.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Agones autoscaler.",
          "type": "string"
        },
        "specSource": {
          "description": "Encapsulates the source of the Agones fleet spec. Details about the Agones autoscaler spec.",
          "$ref": "SpecSource"
        }
      },
      "id": "TargetFleetAutoscaler"
    },
    "CustomField": {
      "properties": {
        "name": {
          "description": "Name is the field name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value is the field value. It is important that in contrast to the CounterOptions.field, the value here is a constant that is not derived from the IAMContext."
        }
      },
      "id": "CustomField",
      "description": "Custom fields. These can be used to create a counter with arbitrary field/value pairs. See: go/rpcsp-custom-fields.",
      "type": "object"
    },
    "GkeClusterReference": {
      "properties": {
        "cluster": {
          "description": "The full or partial name of a GKE cluster, using one of the following forms: * `projects/{project}/locations/{location}/clusters/{cluster}` * `locations/{location}/clusters/{cluster}` * `{cluster}` If project and location are not specified, the project and location of the GameServerCluster resource are used to generate the full name of the GKE cluster.",
          "type": "string"
        }
      },
      "description": "A reference to a GKE cluster.",
      "id": "GkeClusterReference",
      "type": "object"
    },
    "ListRealmsResponse": {
      "id": "ListRealmsResponse",
      "description": "Response message for RealmsService.ListRealms.",
      "properties": {
        "realms": {
          "description": "The list of realms.",
          "type": "array",
          "items": {
            "$ref": "Realm"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "operationStatus": {
          "additionalProperties": {
            "$ref": "OperationStatus"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Operation status for Game Services API operations. Operation status is in the form of key-value pairs where keys are resource IDs and the values show the status of the operation. In case of failures, the value includes an error code and error message."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of Locations that could not be reached.",
          "readOnly": true,
          "type": "array"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "CloudAuditOptions": {
      "properties": {
        "logName": {
          "description": "The log_name to populate in the Cloud Audit Record.",
          "enum": [
            "UNSPECIFIED_LOG_NAME",
            "ADMIN_ACTIVITY",
            "DATA_ACCESS"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "Corresponds to \"cloudaudit.googleapis.com/activity\"",
            "Corresponds to \"cloudaudit.googleapis.com/data_access\""
          ],
          "type": "string"
        },
        "authorizationLoggingOptions": {
          "$ref": "AuthorizationLoggingOptions",
          "description": "Information used by the Cloud Audit Logging pipeline."
        }
      },
      "type": "object",
      "id": "CloudAuditOptions",
      "description": "Write a Cloud Audit log"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "PreviewDeleteGameServerClusterResponse": {
      "description": "Response message for GameServerClustersService.PreviewDeleteGameServerCluster.",
      "id": "PreviewDeleteGameServerClusterResponse",
      "type": "object",
      "properties": {
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        }
      }
    },
    "TargetFleetDetails": {
      "id": "TargetFleetDetails",
      "type": "object",
      "properties": {
        "autoscaler": {
          "description": "Reference to target Agones fleet autoscaling policy.",
          "$ref": "TargetFleetAutoscaler"
        },
        "fleet": {
          "$ref": "TargetFleet",
          "description": "Reference to target Agones fleet."
        }
      },
      "description": "Details of the target Agones fleet."
    },
    "DeployedFleetAutoscaler": {
      "description": "Details about the Agones autoscaler.",
      "properties": {
        "autoscaler": {
          "type": "string",
          "description": "The name of the Agones autoscaler."
        },
        "specSource": {
          "$ref": "SpecSource",
          "description": "The source spec that is used to create the autoscaler. The GameServerConfig resource may no longer exist in the system."
        },
        "fleetAutoscalerSpec": {
          "type": "string",
          "description": "The autoscaler spec retrieved from Agones."
        }
      },
      "type": "object",
      "id": "DeployedFleetAutoscaler"
    },
    "TargetFleet": {
      "type": "object",
      "description": "Target Agones fleet specification.",
      "id": "TargetFleet",
      "properties": {
        "specSource": {
          "$ref": "SpecSource",
          "description": "Encapsulates the source of the Agones fleet spec. The Agones fleet spec source."
        },
        "name": {
          "description": "The name of the Agones fleet.",
          "type": "string"
        }
      }
    },
    "Condition": {
      "description": "A condition to be met.",
      "type": "object",
      "id": "Condition",
      "properties": {
        "iam": {
          "enum": [
            "NO_ATTR",
            "AUTHORITY",
            "ATTRIBUTION",
            "SECURITY_REALM",
            "APPROVER",
            "JUSTIFICATION_TYPE",
            "CREDENTIALS_TYPE",
            "CREDS_ASSERTION"
          ],
          "enumDescriptions": [
            "Default non-attribute.",
            "Either principal or (if present) authority selector.",
            "The principal (even if an authority selector is present), which must only be used for attribution, not authorization.",
            "Any of the security realms in the IAMContext (go/security-realms). When used with IN, the condition indicates \"any of the request's realms match one of the given values; with NOT_IN, \"none of the realms match any of the given values\". Note that a value can be: - 'self' (i.e., allow connections from clients that are in the same security realm) - 'self:metro' (i.e., clients that are in the same metro) - 'self:cloud-region' (i.e., allow connections from clients that are in the same cloud region) - 'guardians' (i.e., allow connections from its guardian realms. See go/security-realms-glossary#guardian for more information.) - a realm (e.g., 'campus-abc') - a realm group (e.g., 'realms-for-borg-cell-xx', see: go/realm-groups) A match is determined by a realm group membership check performed by a RealmAclRep object (go/realm-acl-howto). It is not permitted to grant access based on the *absence* of a realm, so realm conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "An approver (distinct from the requester) that has authorized this request. When used with IN, the condition indicates that one of the approvers associated with the request matches the specified principal, or is a member of the specified group. Approvers can only grant additional access, and are thus only used in a strictly positive context (e.g. ALLOW/IN or DENY/NOT_IN).",
            "What types of justifications have been supplied with this request. String values should match enum names from security.credentials.JustificationType, e.g. \"MANUAL_STRING\". It is not permitted to grant access based on the *absence* of a justification, so justification conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN). Multiple justifications, e.g., a Buganizer ID and a manually-entered reason, are normal and supported.",
            "What type of credentials have been supplied with this request. String values should match enum names from security_loas_l2.CredentialsType - currently, only CREDS_TYPE_EMERGENCY is supported. It is not permitted to grant access based on the *absence* of a credentials type, so the conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "EXPERIMENTAL -- DO NOT USE. The conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN)."
          ],
          "description": "Trusted attributes supplied by the IAM system.",
          "type": "string"
        },
        "svc": {
          "description": "Trusted attributes discharged by the service.",
          "type": "string"
        },
        "op": {
          "enum": [
            "NO_OP",
            "EQUALS",
            "NOT_EQUALS",
            "IN",
            "NOT_IN",
            "DISCHARGED"
          ],
          "description": "An operator to apply the subject with.",
          "enumDescriptions": [
            "Default no-op.",
            "DEPRECATED. Use IN instead.",
            "DEPRECATED. Use NOT_IN instead.",
            "The condition is true if the subject (or any element of it if it is a set) matches any of the supplied values.",
            "The condition is true if the subject (or every element of it if it is a set) matches none of the supplied values.",
            "Subject is discharged"
          ],
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The objects of the condition."
        },
        "sys": {
          "description": "Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.",
          "enum": [
            "NO_ATTR",
            "REGION",
            "SERVICE",
            "NAME",
            "IP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default non-attribute type",
            "Region of the resource",
            "Service name",
            "Resource name",
            "IP address of the caller"
          ]
        }
      }
    },
    "GameServerConfigOverride": {
      "properties": {
        "realmsSelector": {
          "description": "Selector for choosing applicable realms.",
          "$ref": "RealmSelector"
        },
        "configVersion": {
          "type": "string",
          "description": "The game server config for this override."
        }
      },
      "type": "object",
      "id": "GameServerConfigOverride",
      "description": "A game server config override."
    },
    "PreviewCreateGameServerClusterResponse": {
      "id": "PreviewCreateGameServerClusterResponse",
      "description": "Response message for GameServerClustersService.PreviewCreateGameServerCluster.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ignoreChildExemptions": {
          "type": "boolean"
        }
      }
    },
    "RealmSelector": {
      "type": "object",
      "properties": {
        "realms": {
          "description": "List of realms to match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RealmSelector",
      "description": "The realm selector, used to match realm resources."
    },
    "OperationStatus": {
      "type": "object",
      "id": "OperationStatus",
      "properties": {
        "errorCode": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The error code in case of failures.",
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "PERMISSION_DENIED",
            "CLUSTER_CONNECTION"
          ]
        },
        "done": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the operation is done or still in progress."
        },
        "errorMessage": {
          "description": "The human-readable error message.",
          "type": "string"
        }
      }
    },
    "Rule": {
      "properties": {
        "logConfig": {
          "type": "array",
          "items": {
            "$ref": "LogConfig"
          },
          "description": "The config returned to callers of tech.iam.IAM.CheckPolicy for any entries that match the LOG action."
        },
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*' matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
          "type": "array"
        },
        "description": {
          "description": "Human-readable description of the rule.",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "description": "Required",
          "type": "string",
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ]
        },
        "notIn": {
          "items": {
            "type": "string"
          },
          "description": "If one or more 'not_in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries. The format for in and not_in entries can be found at in the Local IAM documentation (see go/local-iam#features).",
          "type": "array"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Additional restrictions that must be met. All conditions must pass for the rule to match."
        },
        "in": {
          "items": {
            "type": "string"
          },
          "description": "If one or more 'in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A rule to be applied in a Policy.",
      "id": "Rule"
    },
    "GameServerDeploymentRollout": {
      "id": "GameServerDeploymentRollout",
      "type": "object",
      "description": "The game server deployment rollout which represents the desired rollout state.",
      "properties": {
        "defaultGameServerConfig": {
          "type": "string",
          "description": "The default game server config is applied to all realms unless overridden in the rollout. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "gameServerConfigOverrides": {
          "description": "Contains the game server config rollout overrides. Overrides are processed in the order they are listed. Once a match is found for a realm, the rest of the list is not processed.",
          "items": {
            "$ref": "GameServerConfigOverride"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation time."
        }
      }
    },
    "DeployedFleetDetails": {
      "properties": {
        "deployedAutoscaler": {
          "description": "Information about the Agones autoscaler for that fleet.",
          "$ref": "DeployedFleetAutoscaler"
        },
        "deployedFleet": {
          "$ref": "DeployedFleet",
          "description": "Information about the Agones fleet."
        }
      },
      "description": "Details of the deployed Agones fleet.",
      "id": "DeployedFleetDetails",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ScalingConfig": {
      "id": "ScalingConfig",
      "properties": {
        "schedules": {
          "type": "array",
          "description": "The schedules to which this Scaling Config applies.",
          "items": {
            "$ref": "Schedule"
          }
        },
        "selectors": {
          "description": "Labels used to identify the game server clusters to which this Agones scaling config applies. A game server cluster is subject to this Agones scaling config if its labels match any of the selector entries.",
          "type": "array",
          "items": {
            "$ref": "LabelSelector"
          }
        },
        "fleetAutoscalerSpec": {
          "description": "Required. Agones fleet autoscaler spec. Example spec: https://agones.dev/site/docs/reference/fleetautoscaler/",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the Scaling Config",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Autoscaling config for an Agones fleet."
    },
    "Schedule": {
      "type": "object",
      "id": "Schedule",
      "description": "The schedule of a recurring or one time event. The event's time span is specified by start_time and end_time. If the scheduled event's timespan is larger than the cron_spec + cron_job_duration, the event will be recurring. If only cron_spec + cron_job_duration are specified, the event is effective starting at the local time specified by cron_spec, and is recurring. start_time|-------[cron job]-------[cron job]-------[cron job]---|end_time cron job: cron spec start time + duration",
      "properties": {
        "cronSpec": {
          "description": "The cron definition of the scheduled event. See https://en.wikipedia.org/wiki/Cron. Cron spec specifies the local time as defined by the realm.",
          "type": "string"
        },
        "cronJobDuration": {
          "description": "The duration for the cron job event. The duration of the event is effective after the cron job's start time.",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "The end time of the event.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of the event.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListGameServerConfigsResponse": {
      "id": "ListGameServerConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "gameServerConfigs": {
          "type": "array",
          "items": {
            "$ref": "GameServerConfig"
          },
          "description": "The list of game server configs."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of locations that could not be reached."
        }
      },
      "description": "Response message for GameServerConfigsService.ListGameServerConfigs.",
      "type": "object"
    },
    "PreviewRealmUpdateResponse": {
      "description": "Response message for RealmsService.PreviewRealmUpdate.",
      "type": "object",
      "id": "PreviewRealmUpdateResponse",
      "properties": {
        "etag": {
          "description": "ETag of the realm.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "SpecSource": {
      "description": "Encapsulates Agones fleet spec and Agones autoscaler spec sources.",
      "properties": {
        "gameServerConfigName": {
          "description": "The game server config resource. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment_id}/configs/{config_id}`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the Agones leet config or Agones scaling config used to derive the Agones fleet or Agones autoscaler spec.",
          "type": "string"
        }
      },
      "id": "SpecSource",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "DeployedFleet": {
      "type": "object",
      "description": "Agones fleet specification and details.",
      "properties": {
        "fleetSpec": {
          "type": "string",
          "description": "The fleet spec retrieved from the Agones fleet."
        },
        "status": {
          "description": "The current status of the Agones fleet. Includes count of game servers in various states.",
          "$ref": "DeployedFleetStatus"
        },
        "specSource": {
          "$ref": "SpecSource",
          "description": "The source spec that is used to create the Agones fleet. The GameServerConfig resource may no longer exist in the system."
        },
        "fleet": {
          "description": "The name of the Agones fleet.",
          "type": "string"
        }
      },
      "id": "DeployedFleet"
    },
    "LabelSelector": {
      "id": "LabelSelector",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Resource labels for this selector.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The label selector, used to group labels on the resources."
    },
    "GameServerCluster": {
      "description": "A game server cluster resource.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Human readable description of the cluster."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this game server cluster. Each label is a key-value pair."
        },
        "connectionInfo": {
          "description": "The game server cluster connection information. This information is used to manage game server clusters.",
          "$ref": "GameServerClusterConnectionInfo"
        },
        "name": {
          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation time."
        }
      },
      "id": "GameServerCluster",
      "type": "object"
    },
    "PreviewGameServerDeploymentRolloutResponse": {
      "type": "object",
      "properties": {
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        },
        "unavailable": {
          "description": "Locations that could not be reached on this request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the game server deployment."
        }
      },
      "id": "PreviewGameServerDeploymentRolloutResponse",
      "description": "Response message for PreviewGameServerDeploymentRollout. This has details about the Agones fleet and autoscaler to be actuated."
    },
    "DeployedFleetStatus": {
      "id": "DeployedFleetStatus",
      "description": "DeployedFleetStatus has details about the Agones fleets such as how many are running, how many allocated, and so on.",
      "type": "object",
      "properties": {
        "readyReplicas": {
          "description": "The number of GameServer replicas in the READY state in this fleet.",
          "format": "int64",
          "type": "string"
        },
        "allocatedReplicas": {
          "description": "The number of GameServer replicas in the ALLOCATED state in this fleet.",
          "format": "int64",
          "type": "string"
        },
        "reservedReplicas": {
          "description": "The number of GameServer replicas in the RESERVED state in this fleet. Reserved instances won't be deleted on scale down, but won't cause an autoscaler to scale up.",
          "type": "string",
          "format": "int64"
        },
        "replicas": {
          "type": "string",
          "description": "The total number of current GameServer replicas in this fleet.",
          "format": "int64"
        }
      }
    },
    "DataAccessOptions": {
      "id": "DataAccessOptions",
      "properties": {
        "logMode": {
          "enum": [
            "LOG_MODE_UNSPECIFIED",
            "LOG_FAIL_CLOSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client is not required to write a partial Gin log immediately after the authorization check. If client chooses to write one and it fails, client may either fail open (allow the operation to continue) or fail closed (handle as a DENY outcome).",
            "The application's operation in the context of which this authorization check is being made may only be performed if it is successfully logged to Gin. For instance, the authorization library may satisfy this obligation by emitting a partial log entry at authorization check time and only returning ALLOW to the application if it succeeds. If a matching Rule has this directive, but the client has not indicated that it will honor such requirements, then the IAM check will result in authorization failure by setting CheckPolicyResponse.success=false."
          ]
        }
      },
      "type": "object",
      "description": "Write a Data Access (Gin) log"
    },
    "FetchDeploymentStateResponse": {
      "description": "Response message for GameServerDeploymentsService.FetchDeploymentState.",
      "properties": {
        "unavailable": {
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached.",
          "type": "array"
        },
        "clusterState": {
          "type": "array",
          "description": "The state of the game server deployment in each game server cluster.",
          "items": {
            "$ref": "DeployedClusterState"
          }
        }
      },
      "id": "FetchDeploymentStateResponse",
      "type": "object"
    },
    "ListGameServerClustersResponse": {
      "id": "ListGameServerClustersResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of locations that could not be reached."
        },
        "gameServerClusters": {
          "items": {
            "$ref": "GameServerCluster"
          },
          "type": "array",
          "description": "The list of game server clusters."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "Response message for GameServerClustersService.ListGameServerClusters.",
      "type": "object"
    },
    "PreviewUpdateGameServerClusterResponse": {
      "type": "object",
      "description": "Response message for GameServerClustersService.PreviewUpdateGameServerCluster",
      "id": "PreviewUpdateGameServerClusterResponse",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag of the game server cluster."
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "Realm": {
      "type": "object",
      "id": "Realm",
      "description": "A realm resource.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last-modified time."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation time."
        },
        "timeZone": {
          "description": "Required. Time zone where all policies targeting this realm are evaluated. The value of this field must be from the IANA time zone database: https://www.iana.org/time-zones.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this realm. Each label is a key-value pair.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{location}/realms/{realm}`. For example, `projects/my-project/locations/{location}/realms/my-realm`."
        },
        "description": {
          "description": "Human readable description of the realm.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "CounterOptions": {
      "properties": {
        "customFields": {
          "description": "Custom fields.",
          "type": "array",
          "items": {
            "$ref": "CustomField"
          }
        },
        "field": {
          "type": "string",
          "description": "The field value to attribute."
        },
        "metric": {
          "description": "The metric to update.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Increment a streamz counter with the specified metric and field names. Metric names should start with a '/', generally be lowercase-only, and end in \"_count\". Field names should not contain an initial slash. The actual exported metric names will have \"/iam/policy\" prepended. Field names correspond to IAM request parameters and field values are their respective values. Supported field names: - \"authority\", which is \"[token]\" if IAMContext.token is present, otherwise the value of IAMContext.authority_selector if present, and otherwise a representation of IAMContext.principal; or - \"iam_principal\", a representation of IAMContext.principal even if a token or authority selector is present; or - \"\" (empty string), resulting in a counter with no fields. Examples: counter { metric: \"/debug_access_count\" field: \"iam_principal\" } ==\u003e increment counter /iam/policy/debug_access_count {iam_principal=[value of IAMContext.principal]}",
      "id": "CounterOptions"
    },
    "GameServerDeployment": {
      "description": "A game server deployment resource.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last-modified time."
        },
        "description": {
          "description": "Human readable description of the game server delpoyment.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the game server deployment, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this game server deployment. Each label is a key-value pair.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object",
      "id": "GameServerDeployment"
    },
    "FleetConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the FleetConfig.",
          "type": "string"
        },
        "fleetSpec": {
          "description": "Agones fleet spec. Example spec: `https://agones.dev/site/docs/reference/fleet/`.",
          "type": "string"
        }
      },
      "id": "FleetConfig",
      "description": "Fleet configs for Agones."
    },
    "TargetState": {
      "type": "object",
      "description": "Encapsulates the Target state.",
      "id": "TargetState",
      "properties": {
        "details": {
          "items": {
            "$ref": "TargetDetails"
          },
          "type": "array",
          "description": "Details about Agones fleets."
        }
      }
    },
    "FetchDeploymentStateRequest": {
      "description": "Request message for GameServerDeploymentsService.FetchDeploymentState.",
      "id": "FetchDeploymentStateRequest",
      "properties": {},
      "type": "object"
    },
    "AuthorizationLoggingOptions": {
      "id": "AuthorizationLoggingOptions",
      "properties": {
        "permissionType": {
          "enum": [
            "PERMISSION_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "ADMIN_WRITE",
            "DATA_READ",
            "DATA_WRITE"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "A read of admin (meta) data.",
            "A write of admin (meta) data.",
            "A read of standard data.",
            "A write of standard data."
          ],
          "type": "string",
          "description": "The type of the permission that was checked."
        }
      },
      "type": "object",
      "description": "Authorization-related information used by Cloud Audit Logging."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "GameServerClusterConnectionInfo": {
      "id": "GameServerClusterConnectionInfo",
      "type": "object",
      "properties": {
        "namespace": {
          "description": "Namespace designated on the game server cluster where the Agones game server instances will be created. Existence of the namespace will be validated during creation.",
          "type": "string"
        },
        "gkeClusterReference": {
          "$ref": "GkeClusterReference",
          "description": "Reference to the GKE cluster where the game servers are installed."
        }
      },
      "description": "The game server cluster connection information."
    },
    "Binding": {
      "properties": {
        "bindingId": {
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object"
    },
    "DeployedClusterState": {
      "id": "DeployedClusterState",
      "properties": {
        "cluster": {
          "description": "The name of the cluster.",
          "type": "string"
        },
        "fleetDetails": {
          "type": "array",
          "items": {
            "$ref": "DeployedFleetDetails"
          },
          "description": "The details about the Agones fleets and autoscalers created in the game server cluster."
        }
      },
      "type": "object",
      "description": "The game server cluster changes made by the game server deployment."
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "rules": {
          "description": "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "iamOwned": {
          "type": "boolean"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListGameServerDeploymentsResponse": {
      "description": "Response message for GameServerDeploymentsService.ListGameServerDeployments.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached.",
          "type": "array"
        },
        "gameServerDeployments": {
          "type": "array",
          "items": {
            "$ref": "GameServerDeployment"
          },
          "description": "The list of game server deployments."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "id": "ListGameServerDeploymentsResponse"
    },
    "TargetDetails": {
      "description": "Details about the Agones resources.",
      "id": "TargetDetails",
      "type": "object",
      "properties": {
        "fleetDetails": {
          "items": {
            "$ref": "TargetFleetDetails"
          },
          "description": "Agones fleet details for game server clusters and game server deployments.",
          "type": "array"
        },
        "gameServerClusterName": {
          "type": "string",
          "description": "The game server cluster name. Uses the form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`."
        },
        "gameServerDeploymentName": {
          "description": "The game server deployment name. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment_id}`.",
          "type": "string"
        }
      }
    }
  },
  "protocol": "rest",
  "id": "gameservices:v1",
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "description": "Deploy and manage infrastructure for global multiplayer gaming experiences.",
  "basePath": "",
  "mtlsRootUrl": "https://gameservices.mtls.googleapis.com/",
  "name": "gameservices",
  "revision": "20201029",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "gameservices.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "id": "gameservices.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "includeUnrevealedLocations": {
                  "description": "If true, the returned list will include locations which are not yet revealed.",
                  "type": "boolean",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service."
            }
          },
          "resources": {
            "realms": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "realmId": {
                      "type": "string",
                      "description": "Required. The ID of the realm resource to be created.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Creates a new realm in a given project and location.",
                  "path": "v1/{+parent}/realms",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "gameservices.projects.locations.realms.create",
                  "request": {
                    "$ref": "Realm"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "gameservices.projects.locations.realms.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the realm to delete, in the following form: `projects/{project}/locations/{location}/realms/{realm}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single realm.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "previewUpdate": {
                  "request": {
                    "$ref": "Realm"
                  },
                  "description": "Previews patches to a single realm.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PreviewRealmUpdateResponse"
                  },
                  "parameters": {
                    "previewTime": {
                      "description": "Optional. The target timestamp to compute the preview.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "name": {
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{location}/realms/{realm}`. For example, `projects/my-project/locations/{location}/realms/my-realm`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https: //developers.google.com/protocol-buffers // /docs/reference/google.protobuf#fieldmask",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "gameservices.projects.locations.realms.previewUpdate",
                  "path": "v1/{+name}:previewUpdate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}:previewUpdate",
                  "httpMethod": "PATCH"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Realm"
                  },
                  "description": "Patches a single realm.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "gameservices.projects.locations.realms.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{location}/realms/{realm}`. For example, `projects/my-project/locations/{location}/realms/my-realm`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https: //developers.google.com/protocol-buffers // /docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "path": "v1/{+parent}/realms",
                  "description": "Lists realms in a given project and location.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. The filter to apply to list results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, server will pick an appropriate default. Server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more realms left to be queried."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The next_page_token value returned from a previous List request, if any."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms",
                  "httpMethod": "GET",
                  "id": "gameservices.projects.locations.realms.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRealmsResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Realm"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "gameservices.projects.locations.realms.get",
                  "description": "Gets details of a single realm.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "Required. The name of the realm to retrieve, in the following form: `projects/{project}/locations/{location}/realms/{realm}`.",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "gameServerClusters": {
                  "methods": {
                    "previewUpdate": {
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewUpdate",
                      "description": "Previews updating a GameServerCluster.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewUpdate",
                      "path": "v1/{+name}:previewUpdate",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https: //developers.google.com/protocol-buffers // /docs/reference/google.protobuf#fieldmask"
                        },
                        "previewTime": {
                          "location": "query",
                          "format": "google-datetime",
                          "description": "Optional. The target timestamp to compute the preview.",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "PreviewUpdateGameServerClusterResponse"
                      }
                    },
                    "list": {
                      "description": "Lists game server clusters in a given project and location.",
                      "path": "v1/{+parent}/gameServerClusters",
                      "httpMethod": "GET",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. The filter to apply to list results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return. If unspecified, the server will pick an appropriate default. The server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerClusters left to be queried.",
                          "format": "int32",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: \"projects/{project}/locations/{location}/realms/{realm}\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ListGameServerClustersResponse"
                      }
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "description": "Patches a single game server cluster.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.patch",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$"
                        },
                        "updateMask": {
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https: //developers.google.com/protocol-buffers // /docs/reference/google.protobuf#fieldmask",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "previewCreate": {
                      "httpMethod": "POST",
                      "parameters": {
                        "previewTime": {
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string",
                          "description": "Optional. The target timestamp to compute the preview."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}/realms/{realm}`."
                        },
                        "gameServerClusterId": {
                          "type": "string",
                          "description": "Required. The ID of the game server cluster resource to be created.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewCreate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/gameServerClusters:previewCreate",
                      "description": "Previews creation of a new game server cluster in a given project and location.",
                      "response": {
                        "$ref": "PreviewCreateGameServerClusterResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters:previewCreate",
                      "request": {
                        "$ref": "GameServerCluster"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.delete",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single game server cluster.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the game server cluster to delete, in the following form: `projects/{project}/locations/{location}/gameServerClusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "id": "gameservices.projects.locations.realms.gameServerClusters.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                      "description": "Creates a new game server cluster in a given project and location.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/gameServerClusters",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}/realms/{realm-id}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "location": "path"
                        },
                        "gameServerClusterId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID of the game server cluster resource to be created."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the game server cluster to retrieve, in the following form: `projects/{project}/locations/{location}/realms/{realm-id}/gameServerClusters/{cluster}`.",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single game server cluster.",
                      "response": {
                        "$ref": "GameServerCluster"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET"
                    },
                    "previewDelete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewDelete",
                      "description": "Previews deletion of a single game server cluster.",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewDelete",
                      "path": "v1/{+name}:previewDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "PreviewDeleteGameServerClusterResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the game server cluster to delete, in the following form: `projects/{project}/locations/{location}/gameServerClusters/{cluster}`.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$"
                        },
                        "previewTime": {
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime",
                          "description": "Optional. The target timestamp to compute the preview."
                        }
                      },
                      "httpMethod": "DELETE"
                    }
                  }
                }
              }
            },
            "gameServerDeployments": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "required": true,
                      "description": "The resource name of the game server deployment, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https: //developers.google.com/protocol-buffers // /docs/reference/google.protobuf#fieldmask",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "httpMethod": "PATCH",
                  "id": "gameservices.projects.locations.gameServerDeployments.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "description": "Patches a game server deployment."
                },
                "fetchDeploymentState": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
[...]
