{
  "basePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "View and modify but not delete your email"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "name": "gmail",
  "revision": "20210301",
  "discoveryVersion": "v1",
  "schemas": {
    "Label": {
      "properties": {
        "messagesTotal": {
          "description": "The total number of messages with the label.",
          "format": "int32",
          "type": "integer"
        },
        "color": {
          "description": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`.",
          "$ref": "LabelColor"
        },
        "name": {
          "description": "The display name of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "messageListVisibility": {
          "enum": [
            "show",
            "hide"
          ],
          "enumDescriptions": [
            "Show the label in the message list.",
            "Do not show the label in the message list."
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "description": "The visibility of messages with this label in the message list in the Gmail web interface.",
          "type": "string"
        },
        "id": {
          "description": "The immutable ID of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "threadsTotal": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of threads with the label."
        },
        "labelListVisibility": {
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ],
          "type": "string",
          "description": "The visibility of the label in the label list in the Gmail web interface.",
          "enumDescriptions": [
            "Show the label in the label list.",
            "Show the label if there are any unread messages with that label.",
            "Do not show the label in the label list."
          ]
        },
        "type": {
          "enumDescriptions": [
            "Labels created by Gmail.",
            "Custom labels created by the user or application."
          ],
          "type": "string",
          "description": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads.",
          "enum": [
            "system",
            "user"
          ]
        },
        "threadsUnread": {
          "description": "The number of unread threads with the label.",
          "type": "integer",
          "format": "int32"
        },
        "messagesUnread": {
          "description": "The number of unread messages with the label.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Label",
      "description": "Labels are used to categorize messages and threads within the user's mailbox."
    },
    "BatchModifyMessagesRequest": {
      "properties": {
        "removeLabelIds": {
          "description": "A list of label IDs to remove from messages.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ids": {
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "addLabelIds": {
          "description": "A list of label IDs to add to messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "BatchModifyMessagesRequest"
    },
    "BatchDeleteMessagesRequest": {
      "id": "BatchDeleteMessagesRequest",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of the messages to delete."
        }
      },
      "type": "object"
    },
    "SmimeInfo": {
      "properties": {
        "pem": {
          "type": "string",
          "description": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key)."
        },
        "expiration": {
          "type": "string",
          "description": "When the certificate expires (in milliseconds since epoch).",
          "format": "int64"
        },
        "id": {
          "description": "The immutable ID for the SmimeInfo.",
          "type": "string"
        },
        "pkcs12": {
          "format": "byte",
          "description": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately.",
          "type": "string"
        },
        "issuerCn": {
          "description": "The S/MIME certificate issuer's common name.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether this SmimeInfo is the default one for this user's send-as address.",
          "type": "boolean"
        },
        "encryptedKeyPassword": {
          "description": "Encrypted key password, when key is encrypted.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SmimeInfo",
      "description": "An S/MIME email config."
    },
    "Delegate": {
      "type": "object",
      "properties": {
        "verificationStatus": {
          "type": "string",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ],
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not yet accepted it.",
            "A verification request was mailed to the address, and the owner rejected it.",
            "A verification request was mailed to the address, and it expired without verification."
          ],
          "description": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only."
        },
        "delegateEmail": {
          "description": "The email address of the delegate.",
          "type": "string"
        }
      },
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates.",
      "id": "Delegate"
    },
    "ModifyMessageRequest": {
      "type": "object",
      "id": "ModifyMessageRequest",
      "properties": {
        "removeLabelIds": {
          "description": "A list IDs of labels to remove from this message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of IDs of labels to add to this message."
        }
      }
    },
    "ImapSettings": {
      "properties": {
        "autoExpunge": {
          "description": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether IMAP is enabled for the account.",
          "type": "boolean"
        },
        "maxFolderSize": {
          "type": "integer",
          "format": "int32",
          "description": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit."
        },
        "expungeBehavior": {
          "type": "string",
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ],
          "description": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder.",
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted. The expunged messages cannot be recovered."
          ]
        }
      },
      "description": "IMAP settings for an account.",
      "type": "object",
      "id": "ImapSettings"
    },
    "LabelColor": {
      "id": "LabelColor",
      "properties": {
        "textColor": {
          "type": "string",
          "description": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765"
        },
        "backgroundColor": {
          "description": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Profile": {
      "description": "Profile for a Gmail user.",
      "properties": {
        "threadsTotal": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of threads in the mailbox."
        },
        "messagesTotal": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of messages in the mailbox."
        },
        "historyId": {
          "format": "uint64",
          "description": "The ID of the mailbox's current history record.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The user's email address.",
          "type": "string"
        }
      },
      "id": "Profile",
      "type": "object"
    },
    "ListLabelsResponse": {
      "properties": {
        "labels": {
          "type": "array",
          "description": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The labels.get method can fetch additional label details.",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "type": "object",
      "id": "ListLabelsResponse"
    },
    "ListMessagesResponse": {
      "properties": {
        "resultSizeEstimate": {
          "type": "integer",
          "description": "Estimated total number of results.",
          "format": "uint32"
        },
        "messages": {
          "type": "array",
          "description": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method.",
          "items": {
            "$ref": "Message"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListMessagesResponse"
    },
    "Draft": {
      "description": "A draft email in the user's mailbox.",
      "properties": {
        "message": {
          "$ref": "Message",
          "description": "The message content of the draft."
        },
        "id": {
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          },
          "type": "string",
          "description": "The immutable ID of the draft."
        }
      },
      "type": "object",
      "id": "Draft"
    },
    "HistoryLabelAdded": {
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "items": {
            "type": "string"
          },
          "description": "Label IDs added to the message.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "HistoryLabelAdded"
    },
    "HistoryLabelRemoved": {
      "id": "HistoryLabelRemoved",
      "properties": {
        "labelIds": {
          "type": "array",
          "description": "Label IDs removed from the message.",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "ListDraftsResponse": {
      "type": "object",
      "properties": {
        "resultSizeEstimate": {
          "type": "integer",
          "format": "uint32",
          "description": "Estimated total number of results."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "drafts": {
          "items": {
            "$ref": "Draft"
          },
          "description": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The messages.get method can fetch additional message details.",
          "type": "array"
        }
      },
      "id": "ListDraftsResponse"
    },
    "ListForwardingAddressesResponse": {
      "id": "ListForwardingAddressesResponse",
      "description": "Response for the ListForwardingAddresses method.",
      "type": "object",
      "properties": {
        "forwardingAddresses": {
          "type": "array",
          "items": {
            "$ref": "ForwardingAddress"
          },
          "description": "List of addresses that may be used for forwarding."
        }
      }
    },
    "PopSettings": {
      "description": "POP settings for an account.",
      "type": "object",
      "properties": {
        "disposition": {
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "type": "string",
          "description": "The action that will be executed on a message after it has been fetched via POP."
        },
        "accessWindow": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in time are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ],
          "description": "The range of messages which are accessible via POP."
        }
      },
      "id": "PopSettings"
    },
    "LanguageSettings": {
      "description": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface.",
      "properties": {
        "displayLanguage": {
          "type": "string",
          "description": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. A table of sample values is also provided in the Managing Language Settings guide Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default)."
        }
      },
      "id": "LanguageSettings",
      "type": "object"
    },
    "FilterCriteria": {
      "type": "object",
      "id": "FilterCriteria",
      "description": "Message matching criteria.",
      "properties": {
        "size": {
          "format": "int32",
          "description": "The size of the entire RFC822 message in bytes, including all headers and attachments.",
          "type": "integer"
        },
        "hasAttachment": {
          "type": "boolean",
          "description": "Whether the message has any attachment."
        },
        "query": {
          "type": "string",
          "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
        },
        "subject": {
          "type": "string",
          "description": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed."
        },
        "to": {
          "type": "string",
          "description": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive."
        },
        "excludeChats": {
          "description": "Whether the response should exclude chats.",
          "type": "boolean"
        },
        "from": {
          "description": "The sender's display name or email address.",
          "type": "string"
        },
        "sizeComparison": {
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ],
          "description": "How the message size in bytes should be in relation to the size field.",
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ],
          "type": "string"
        },
        "negatedQuery": {
          "description": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        }
      }
    },
    "SendAs": {
      "description": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface.",
      "id": "SendAs",
      "type": "object",
      "properties": {
        "treatAsAlias": {
          "type": "boolean",
          "description": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases."
        },
        "signature": {
          "type": "string",
          "description": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only."
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only."
        },
        "replyToAddress": {
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header.",
          "type": "string"
        },
        "sendAsEmail": {
          "description": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create.",
          "type": "string"
        },
        "smtpMsa": {
          "description": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases.",
          "$ref": "SmtpMsa"
        },
        "verificationStatus": {
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ],
          "type": "string",
          "description": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases."
        },
        "displayName": {
          "description": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address."
        }
      }
    },
    "AutoForwarding": {
      "id": "AutoForwarding",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses.",
          "type": "string"
        },
        "disposition": {
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "description": "The state that a message should be left in after it has been forwarded.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether all incoming mail is automatically forwarded to another address.",
          "type": "boolean"
        }
      },
      "description": "Auto-forwarding settings for an account."
    },
    "HistoryMessageAdded": {
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object",
      "id": "HistoryMessageAdded"
    },
    "ForwardingAddress": {
      "description": "Settings for a forwarding address.",
      "properties": {
        "verificationStatus": {
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ],
          "type": "string",
          "description": "Indicates whether this address has been verified and is usable for forwarding. Read-only.",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ]
        },
        "forwardingEmail": {
          "type": "string",
          "description": "An email address to which messages can be forwarded."
        }
      },
      "type": "object",
      "id": "ForwardingAddress"
    },
    "FilterAction": {
      "id": "FilterAction",
      "description": "A set of actions to perform on a message.",
      "type": "object",
      "properties": {
        "addLabelIds": {
          "description": "List of labels to add to the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "List of labels to remove from the message.",
          "type": "array"
        },
        "forward": {
          "type": "string",
          "description": "Email address that the message should be forwarded to."
        }
      }
    },
    "ModifyThreadRequest": {
      "id": "ModifyThreadRequest",
      "properties": {
        "addLabelIds": {
          "type": "array",
          "description": "A list of IDs of labels to add to this thread.",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of IDs of labels to remove from this thread."
        }
      },
      "type": "object"
    },
    "WatchRequest": {
      "description": "Set up or update a new push notification watch on this user's mailbox.",
      "id": "WatchRequest",
      "type": "object",
      "properties": {
        "topicName": {
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request).",
          "type": "string"
        },
        "labelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated."
        },
        "labelFilterAction": {
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "enum": [
            "include",
            "exclude"
          ],
          "type": "string",
          "description": "Filtering behavior of labelIds list specified."
        }
      }
    },
    "ListThreadsResponse": {
      "properties": {
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        },
        "threads": {
          "items": {
            "$ref": "Thread"
          },
          "description": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the threads.get method.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListThreadsResponse"
    },
    "ListHistoryResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "history": {
          "items": {
            "$ref": "History"
          },
          "description": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated.",
          "type": "array"
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "ListHistoryResponse"
    },
    "MessagePart": {
      "type": "object",
      "description": "A single MIME message part.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the message part."
        },
        "parts": {
          "items": {
            "$ref": "MessagePart"
          },
          "type": "array",
          "description": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521."
        },
        "partId": {
          "description": "The immutable ID of the message part.",
          "type": "string"
        },
        "body": {
          "$ref": "MessagePartBody",
          "description": "The message part body for this part, which may be empty for container MIME message parts."
        },
        "headers": {
          "description": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`.",
          "type": "array",
          "items": {
            "$ref": "MessagePartHeader"
          }
        },
        "filename": {
          "description": "The filename of the attachment. Only present if this message part represents an attachment.",
          "type": "string"
        }
      },
      "id": "MessagePart"
    },
    "SmtpMsa": {
      "id": "SmtpMsa",
      "description": "Configuration for communication with an SMTP service.",
      "properties": {
        "host": {
          "description": "The hostname of the SMTP service. Required.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "password": {
          "type": "string",
          "description": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "port": {
          "format": "int32",
          "description": "The port of the SMTP service. Required.",
          "type": "integer"
        },
        "securityMode": {
          "description": "The protocol that will be used to secure communication with the SMTP service. Required.",
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured. Requires port 25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "History": {
      "properties": {
        "messagesDeleted": {
          "items": {
            "$ref": "HistoryMessageDeleted"
          },
          "type": "array",
          "description": "Messages deleted (not Trashed) from the mailbox in this history record."
        },
        "labelsRemoved": {
          "description": "Labels removed from messages in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryLabelRemoved"
          }
        },
        "messagesAdded": {
          "type": "array",
          "items": {
            "$ref": "HistoryMessageAdded"
          },
          "description": "Messages added to the mailbox in this history record."
        },
        "labelsAdded": {
          "type": "array",
          "description": "Labels added to messages in this history record.",
          "items": {
            "$ref": "HistoryLabelAdded"
          }
        },
        "messages": {
          "description": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "The mailbox sequence ID.",
          "format": "uint64"
        }
      },
      "type": "object",
      "id": "History",
      "description": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways."
    },
    "ListDelegatesResponse": {
      "description": "Response for the ListDelegates method.",
      "type": "object",
      "properties": {
        "delegates": {
          "description": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear.",
          "items": {
            "$ref": "Delegate"
          },
          "type": "array"
        }
      },
      "id": "ListDelegatesResponse"
    },
    "MessagePartHeader": {
      "properties": {
        "name": {
          "description": "The name of the header before the `:` separator. For example, `To`.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the header after the `:` separator. For example, `someuser@example.com`."
        }
      },
      "id": "MessagePartHeader",
      "type": "object"
    },
    "Message": {
      "type": "object",
      "description": "An email message.",
      "id": "Message",
      "properties": {
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "description": "List of IDs of labels applied to this message.",
          "items": {
            "type": "string"
          }
        },
        "sizeEstimate": {
          "format": "int32",
          "type": "integer",
          "description": "Estimated size in bytes of the message."
        },
        "threadId": {
          "type": "string",
          "description": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. "
        },
        "payload": {
          "$ref": "MessagePart",
          "description": "The parsed email structure in the message parts."
        },
        "historyId": {
          "description": "The ID of the last history record that modified this message.",
          "format": "uint64",
          "type": "string"
        },
        "raw": {
          "description": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied.",
          "format": "byte",
          "annotations": {
            "required": [
              "gmail.users.drafts.create",
              "gmail.users.drafts.update",
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          },
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The immutable ID of the message."
        },
        "internalDate": {
          "description": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "WatchResponse": {
      "description": "Push notification watch response.",
      "type": "object",
      "properties": {
        "historyId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the mailbox's current history record."
        },
        "expiration": {
          "description": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "WatchResponse"
    },
    "VacationSettings": {
      "properties": {
        "restrictToContacts": {
          "description": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts.",
          "type": "boolean"
        },
        "restrictToDomain": {
          "description": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for G Suite users.",
          "type": "boolean"
        },
        "enableAutoReply": {
          "description": "Flag that controls whether Gmail automatically replies to messages.",
          "type": "boolean"
        },
        "responseBodyHtml": {
          "description": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        },
        "responseBodyPlainText": {
          "description": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        },
        "endTime": {
          "format": "int64",
          "description": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "type": "string"
        },
        "startTime": {
          "format": "int64",
          "type": "string",
          "description": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`."
        },
        "responseSubject": {
          "description": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface.",
      "id": "VacationSettings"
    },
    "ListSmimeInfoResponse": {
      "type": "object",
      "properties": {
        "smimeInfo": {
          "description": "List of SmimeInfo.",
          "items": {
            "$ref": "SmimeInfo"
          },
          "type": "array"
        }
      },
      "id": "ListSmimeInfoResponse"
    },
    "ListSendAsResponse": {
      "type": "object",
      "id": "ListSendAsResponse",
      "properties": {
        "sendAs": {
          "items": {
            "$ref": "SendAs"
          },
          "type": "array",
          "description": "List of send-as aliases."
        }
      },
      "description": "Response for the ListSendAs method."
    },
    "MessagePartBody": {
      "id": "MessagePartBody",
      "properties": {
        "attachmentId": {
          "description": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment."
        },
        "size": {
          "type": "integer",
          "description": "Number of bytes for the message part data (encoding notwithstanding).",
          "format": "int32"
        }
      },
      "description": "The body of a single MIME message part.",
      "type": "object"
    },
    "Filter": {
      "description": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread.",
      "properties": {
        "id": {
          "description": "The server assigned ID of the filter.",
          "type": "string"
        },
        "criteria": {
          "$ref": "FilterCriteria",
          "description": "Matching criteria for the filter."
        },
        "action": {
          "$ref": "FilterAction",
          "description": "Action that the filter performs."
        }
      },
      "id": "Filter",
      "type": "object"
    },
    "Thread": {
      "properties": {
        "historyId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the last history record that modified this thread."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of the thread."
        },
        "messages": {
          "type": "array",
          "description": "The list of messages in the thread.",
          "items": {
            "$ref": "Message"
          }
        },
        "snippet": {
          "type": "string",
          "description": "A short part of the message text."
        }
      },
      "id": "Thread",
      "type": "object",
      "description": "A collection of messages representing a conversation."
    },
    "ListFiltersResponse": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "array",
          "description": "List of a user's filters.",
          "items": {
            "$ref": "Filter"
          }
        }
      },
      "id": "ListFiltersResponse",
      "description": "Response for the ListFilters method."
    },
    "HistoryMessageDeleted": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "id": "HistoryMessageDeleted"
    }
  },
  "title": "Gmail API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://gmail.googleapis.com/",
  "version": "v1",
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/gmail/api/",
  "id": "gmail:v1",
  "baseUrl": "https://gmail.googleapis.com/",
  "ownerName": "Google",
  "canonicalName": "Gmail",
  "resources": {
    "users": {
      "resources": {
        "threads": {
          "methods": {
            "trash": {
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the thread to Trash.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/trash",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "POST",
              "id": "gmail.users.threads.trash",
              "path": "gmail/v1/users/{userId}/threads/{id}/trash",
              "response": {
                "$ref": "Thread"
              },
              "description": "Moves the specified thread to the trash.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "delete": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/"
              ],
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "description": "Immediately and permanently deletes the specified thread. This operation cannot be undone. Prefer `threads.trash` instead.",
              "httpMethod": "DELETE",
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "id": {
                  "description": "ID of the Thread to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "gmail.users.threads.delete"
            },
            "get": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "format": {
                  "enumDescriptions": [
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message IDs, labels, and email headers.",
                    "Returns only email message IDs and labels; does not return the email headers, body, or payload."
                  ],
                  "location": "query",
                  "enum": [
                    "full",
                    "metadata",
                    "minimal"
                  ],
                  "description": "The format to return the messages in.",
                  "default": "full",
                  "type": "string"
                },
                "metadataHeaders": {
                  "description": "When given and format is METADATA, only include headers specified.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "id": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the thread to retrieve."
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "id": "gmail.users.threads.get",
              "description": "Gets the specified thread.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "response": {
                "$ref": "Thread"
              }
            },
            "modify": {
              "response": {
                "$ref": "Thread"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "POST",
              "parameters": {
                "id": {
                  "type": "string",
                  "description": "The ID of the thread to modify.",
                  "required": true,
                  "location": "path"
                },
                "userId": {
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "gmail.users.threads.modify",
              "description": "Modifies the labels applied to the thread. This applies to all messages in the thread.",
              "request": {
                "$ref": "ModifyThreadRequest"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/modify",
              "path": "gmail/v1/users/{userId}/threads/{id}/modify"
            },
            "list": {
              "response": {
                "$ref": "ListThreadsResponse"
              },
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/threads",
              "flatPath": "gmail/v1/users/{userId}/threads",
              "parameters": {
                "q": {
                  "location": "query",
                  "type": "string",
                  "description": "Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string"
                },
                "maxResults": {
                  "type": "integer",
                  "default": "100",
                  "description": "Maximum number of threads to return.",
                  "format": "uint32",
                  "location": "query"
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true
                },
                "includeSpamTrash": {
                  "description": "Include threads from `SPAM` and `TRASH` in the results.",
                  "type": "boolean",
                  "location": "query",
                  "default": "false"
                },
                "labelIds": {
                  "description": "Only return threads with labels that match all of the specified label IDs.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "description": "Lists the threads in the user's mailbox.",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.threads.list",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            },
            "untrash": {
              "id": "gmail.users.threads.untrash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "description": "Removes the specified thread from the trash.",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "httpMethod": "POST",
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the thread to remove from Trash.",
                  "type": "string"
                },
                "userId": {
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Thread"
              },
              "parameterOrder": [
                "userId",
                "id"
              ]
            }
          }
        },
        "drafts": {
          "methods": {
            "update": {
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}",
                    "multipart": true
                  }
                },
                "maxSize": "36700160",
                "accept": [
                  "message/*"
                ]
              },
              "description": "Replaces a draft's content.",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "location": "path",
                  "description": "The ID of the draft to update.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Draft"
              },
              "id": "gmail.users.drafts.update",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "response": {
                "$ref": "Draft"
              },
              "httpMethod": "PUT",
              "path": "gmail/v1/users/{userId}/drafts/{id}"
            },
            "send": {
              "parameters": {
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path"
                }
              },
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.",
              "request": {
                "$ref": "Draft"
              },
              "mediaUpload": {
                "maxSize": "36700160",
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send",
                    "multipart": true
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "id": "gmail.users.drafts.send",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/drafts/send",
              "httpMethod": "POST"
            },
            "delete": {
              "parameters": {
                "id": {
                  "required": true,
                  "description": "The ID of the draft to delete.",
                  "location": "path",
                  "type": "string"
                },
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it.",
              "httpMethod": "DELETE",
              "id": "gmail.users.drafts.delete",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/drafts/{id}"
            },
            "create": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.drafts.create",
              "response": {
                "$ref": "Draft"
              },
              "request": {
                "$ref": "Draft"
              },
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "supportsMediaUpload": true,
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/drafts",
                    "multipart": true
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "path": "gmail/v1/users/{userId}/drafts",
              "description": "Creates a new draft with the `DRAFT` label.",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "parameterOrder": [
                "userId"
              ]
            },
            "get": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "format": {
                  "default": "full",
                  "location": "query",
                  "description": "The format to return the draft in.",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "type": "string"
                },
                "id": {
                  "type": "string",
                  "description": "The ID of the draft to retrieve.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "gmail.users.drafts.get",
              "response": {
                "$ref": "Draft"
              },
              "description": "Gets the specified draft.",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}"
            },
            "list": {
              "description": "Lists the drafts in the user's mailbox.",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/drafts",
              "id": "gmail.users.drafts.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list."
                },
                "q": {
                  "type": "string",
                  "location": "query",
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
                },
                "includeSpamTrash": {
                  "location": "query",
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "type": "boolean",
                  "default": "false"
                },
                "userId": {
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me"
                },
                "maxResults": {
                  "description": "Maximum number of drafts to return.",
                  "default": "100",
                  "type": "integer",
                  "format": "uint32",
                  "location": "query"
                }
              }
            }
          }
        },
        "labels": {
          "methods": {
            "create": {
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Label"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels",
              "response": {
                "$ref": "Label"
              },
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "gmail/v1/users/{userId}/labels",
              "description": "Creates a new label.",
              "id": "gmail.users.labels.create"
            },
            "get": {
              "id": "gmail.users.labels.get",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Label"
              },
              "description": "Gets the specified label.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "parameters": {
                "id": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the label to retrieve."
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "default": "me"
                }
              }
            },
            "delete": {
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.labels.delete",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "DELETE",
              "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the label to delete."
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                }
              }
            },
            "patch": {
              "parameters": {
                "userId": {
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "type": "string",
                  "description": "The ID of the label to update.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "response": {
                "$ref": "Label"
              },
              "description": "Patch the specified label.",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Label"
              },
              "id": "gmail.users.labels.patch",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}"
            },
            "update": {
              "response": {
                "$ref": "Label"
              },
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "parameters": {
                "id": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the label to update."
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Updates the specified label.",
              "id": "gmail.users.labels.update",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "request": {
                "$ref": "Label"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "list": {
              "id": "gmail.users.labels.list",
              "flatPath": "gmail/v1/users/{userId}/labels",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/labels",
              "response": {
                "$ref": "ListLabelsResponse"
              },
              "description": "Lists all labels in the user's mailbox.",
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "default": "me"
                }
              }
            }
          }
        },
        "messages": {
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "description": "Gets the specified message attachment.",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "location": "path",
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                      "type": "string",
                      "required": true
                    },
                    "id": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the attachment.",
                      "location": "path"
                    },
                    "messageId": {
                      "required": true,
                      "location": "path",
                      "description": "The ID of the message containing the attachment.",
                      "type": "string"
                    }
                  },
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "MessagePartBody"
                  },
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ],
                  "id": "gmail.users.messages.attachments.get"
                }
              }
            }
          },
          "methods": {
            "get": {
              "response": {
                "$ref": "Message"
              },
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "GET",
              "description": "Gets the specified message.",
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
                  "type": "string"
                },
                "format": {
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "default": "full",
                  "location": "query",
                  "description": "The format to return the message in.",
                  "type": "string"
                },
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "metadataHeaders": {
                  "description": "When given and format is `METADATA`, only include headers specified.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                }
              },
              "id": "gmail.users.messages.get"
            },
            "delete": {
              "id": "gmail.users.messages.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
              "scopes": [
                "https://mail.google.com/"
              ],
              "parameters": {
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the message to delete.",
                  "required": true
                },
                "userId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me"
                }
              }
            },
            "batchDelete": {
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete",
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "id": "gmail.users.messages.batchDelete",
              "path": "gmail/v1/users/{userId}/messages/batchDelete",
              "parameterOrder": [
                "userId"
              ]
            },
            "modify": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
              "path": "gmail/v1/users/{userId}/messages/{id}/modify",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path"
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to modify."
                }
              },
              "description": "Modifies the labels on the specified message.",
              "httpMethod": "POST",
              "id": "gmail.users.messages.modify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "request": {
                "$ref": "ModifyMessageRequest"
              },
              "response": {
                "$ref": "Message"
              }
            },
            "insert": {
              "supportsMediaUpload": true,
              "path": "gmail/v1/users/{userId}/messages",
              "request": {
                "$ref": "Message"
              },
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages"
                  },
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages",
                    "multipart": true
                  }
                },
                "maxSize": "52428800",
                "accept": [
                  "message/*"
                ]
              },
              "httpMethod": "POST",
              "id": "gmail.users.messages.insert",
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message.",
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "response": {
                "$ref": "Message"
              },
              "parameters": {
                "internalDateSource": {
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "default": "receivedTime",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Source for Gmail's internal date of the message."
                },
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me"
                },
                "deleted": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.",
                  "location": "query"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages"
            },
            "send": {
              "path": "gmail/v1/users/{userId}/messages/send",
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.send",
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "Message"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/send",
              "httpMethod": "POST",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/send"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                  }
                },
                "maxSize": "36700160"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "default": "me"
                }
              },
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers.",
              "supportsMediaUpload": true
            },
            "import": {
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "52428800",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/messages/import",
                    "multipart": true
                  }
                }
              },
              "response": {
                "$ref": "Message"
              },
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. Does not send a message. Note: This function doesn't trigger forwarding rules or filters set up by the user.",
              "id": "gmail.users.messages.import",
              "supportsMediaUpload": true,
              "request": {
                "$ref": "Message"
              },
              "flatPath": "gmail/v1/users/{userId}/messages/import",
              "path": "gmail/v1/users/{userId}/messages/import",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "internalDateSource": {
                  "location": "query",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "description": "Source for Gmail's internal date of the message.",
                  "type": "string",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "default": "dateHeader"
                },
                "processForCalendar": {
                  "type": "boolean",
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "default": "false",
                  "location": "query"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "default": "me"
                },
                "neverMarkSpam": {
                  "type": "boolean",
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "default": "false",
                  "location": "query"
                },
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.",
                  "default": "false",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "POST"
            },
            "untrash": {
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "httpMethod": "POST",
              "description": "Removes the specified message from the trash.",
              "response": {
                "$ref": "Message"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.messages.untrash",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "parameters": {
                "userId": {
                  "required": true,
[...]
