{
  "servicePath": "",
  "version": "v1beta1",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20201202",
  "title": "Cloud Healthcare API",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "name": "healthcare",
  "schemas": {
    "Annotation": {
      "description": "An annotation record.",
      "type": "object",
      "properties": {
        "annotationSource": {
          "$ref": "AnnotationSource",
          "description": "Details of the source."
        },
        "imageAnnotation": {
          "$ref": "ImageAnnotation",
          "description": "Annotations for images. For example, bounding polygons."
        },
        "resourceAnnotation": {
          "description": "Annotations for resource. For example, classification tags.",
          "$ref": "ResourceAnnotation"
        },
        "textAnnotation": {
          "description": "Annotations for sensitive texts. For example, a range that describes the location of sensitive text.",
          "$ref": "SensitiveTextAnnotation"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the Annotation, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/annotationStores/{annotation_store_id}/annotations/{annotation_id}`."
        },
        "customData": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional information for this annotation record, such as annotator and verifier information or study campaign."
        }
      },
      "id": "Annotation"
    },
    "DicomConfig": {
      "properties": {
        "removeList": {
          "description": "List of tags to remove. Keep all other tags.",
          "$ref": "TagFilterList"
        },
        "keepList": {
          "$ref": "TagFilterList",
          "description": "List of tags to keep. Remove all other tags."
        },
        "skipIdRedaction": {
          "type": "boolean",
          "description": "If true, skip replacing StudyInstanceUID, SeriesInstanceUID, SOPInstanceUID, and MediaStorageSOPInstanceUID and leave them untouched. The Cloud Healthcare API regenerates these UIDs by default based on the DICOM Standard's reasoning: \"Whilst these UIDs cannot be mapped directly to an individual out of context, given access to the original images, or to a database of the original images containing the UIDs, it would be possible to recover the individual's identity.\" http://dicom.nema.org/medical/dicom/current/output/chtml/part15/sect_E.3.9.html"
        },
        "filterProfile": {
          "type": "string",
          "enumDescriptions": [
            "No tag filtration profile provided. Same as KEEP_ALL_PROFILE.",
            "Keep only tags required to produce valid DICOM.",
            "Remove tags based on DICOM Standard's Attribute Confidentiality Basic Profile (DICOM Standard Edition 2018e) http://dicom.nema.org/medical/dicom/2018e/output/chtml/part15/chapter_E.html.",
            "Keep all tags.",
            "Inspects within tag contents and replaces sensitive text. The process can be configured using the TextConfig. Applies to all tags with the following Value Representation names: AE, LO, LT, PN, SH, ST, UC, UT, DA, DT, AS"
          ],
          "enum": [
            "TAG_FILTER_PROFILE_UNSPECIFIED",
            "MINIMAL_KEEP_LIST_PROFILE",
            "ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE",
            "KEEP_ALL_PROFILE",
            "DEIDENTIFY_TAG_CONTENTS"
          ],
          "description": "Tag filtering profile that determines which tags to keep/remove."
        }
      },
      "id": "DicomConfig",
      "description": "Specifies the parameters needed for de-identification of DICOM stores.",
      "type": "object"
    },
    "EvaluateUserConsentsResponse": {
      "description": "Evaluate an end user's Consents for all matching User data mappings.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list. This token is valid for 72 hours after it is created."
        },
        "results": {
          "items": {
            "$ref": "Result"
          },
          "description": "The consent evaluation result for each `data_id`.",
          "type": "array"
        }
      },
      "id": "EvaluateUserConsentsResponse"
    },
    "CheckDataAccessRequest": {
      "type": "object",
      "description": "Checks if a particular data_id of a User data mapping in the given Consent store is consented for a given use.",
      "id": "CheckDataAccessRequest",
      "properties": {
        "responseView": {
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `consented` field is populated in CheckDataAccessResponse.",
            "All fields within CheckDataAccessResponse are populated. When set to `FULL`, all `ACTIVE` consents are evaluated even if a matching policy is found during evaluation."
          ],
          "type": "string",
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ],
          "description": "The view for CheckDataAccessResponse. If unspecified, defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`."
        },
        "requestAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The values of request attributes associated with this access request.",
          "type": "object"
        },
        "dataId": {
          "type": "string",
          "description": "The unique identifier of the data to check access for. It must exist in the given `consent_store`."
        },
        "consentList": {
          "description": "The Consents to evaluate the access request against. They must have the same `user_id` as the data to check access for, exist in the current `consent_store`, and can have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 consents can be provided here. If unspecified, all `ACTIVE` unexpired consents in the current `consent_store` will be evaluated.",
          "$ref": "ConsentList"
        }
      }
    },
    "AnnotationConfig": {
      "properties": {
        "annotationStoreName": {
          "type": "string",
          "description": "The name of the annotation store, in the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/annotationStores/{annotation_store_id}`). * The destination annotation store must be in the same project as the source data. De-identifying data across multiple projects is not supported. * The destination annotation store must exist when using DeidentifyDicomStore or DeidentifyFhirStore. DeidentifyDataset automatically creates the destination annotation store."
        },
        "storeQuote": {
          "type": "boolean",
          "description": "If set to true, the sensitive texts are included in SensitiveTextAnnotation of Annotation."
        }
      },
      "type": "object",
      "id": "AnnotationConfig",
      "description": "Specifies how to store annotations during de-identification operation."
    },
    "GoogleCloudHealthcareV1beta1AnnotationGcsDestination": {
      "description": "The Cloud Storage location for export.",
      "type": "object",
      "properties": {
        "uriPrefix": {
          "type": "string",
          "description": "The Cloud Storage destination to export to. URI for a Cloud Storage directory where the server writes result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`."
        }
      },
      "id": "GoogleCloudHealthcareV1beta1AnnotationGcsDestination"
    },
    "ParserConfig": {
      "description": "The configuration for the parser. It determines how the server parses the messages.",
      "id": "ParserConfig",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "SchemaPackage",
          "description": "Schemas used to parse messages in this store, if schematized parsing is desired."
        },
        "segmentTerminator": {
          "description": "Byte(s) to use as the segment terminator. If this is unset, '\\r' is used as segment terminator, matching the HL7 version 2 specification.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "enumDescriptions": [
            "Unspecified parser version, equivalent to V1.",
            "The `parsed_data` includes every given non-empty message field except the Field Separator (MSH-1) field. As a result, the parsed MSH segment starts with the MSH-2 field and the field numbers are off-by-one with respect to the HL7 standard.",
            "The `parsed_data` includes every given non-empty message field."
          ],
          "enum": [
            "PARSER_VERSION_UNSPECIFIED",
            "V1",
            "V2"
          ],
          "description": "Immutable. Determines the version of the unschematized parser to be used when `schema` is not given. This field is immutable after store creation.",
          "type": "string"
        },
        "allowNullHeader": {
          "description": "Determines whether messages with no header are allowed.",
          "type": "boolean"
        }
      }
    },
    "ImportMessagesRequest": {
      "type": "object",
      "description": "Request to import messages.",
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GcsSource"
        }
      },
      "id": "ImportMessagesRequest"
    },
    "FhirConfig": {
      "properties": {
        "fieldMetadataList": {
          "items": {
            "$ref": "FieldMetadata"
          },
          "type": "array",
          "description": "Specifies FHIR paths to match and how to transform them. Any field that is not matched by a FieldMetadata is passed through to the output dataset unmodified. All extensions are removed in the output. If a field can be matched by more than one FieldMetadata, the first FieldMetadata.Action is applied."
        }
      },
      "type": "object",
      "id": "FhirConfig",
      "description": "Specifies how to handle de-identification of a FHIR store."
    },
    "RedactConfig": {
      "type": "object",
      "description": "Define how to redact sensitive values. Default behaviour is erase. For example, \"My name is Jane.\" becomes \"My name is .\"",
      "id": "RedactConfig",
      "properties": {}
    },
    "SearchResourcesRequest": {
      "description": "Request to search the resources in the specified FHIR store.",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "The FHIR resource type to search, such as Patient or Observation. For a complete list, see the FHIR Resource Index ([DSTU2](https://hl7.org/implement/standards/fhir/DSTU2/resourcelist.html), [STU3](https://hl7.org/implement/standards/fhir/STU3/resourcelist.html), [R4](https://hl7.org/implement/standards/fhir/R4/resourcelist.html)).",
          "type": "string"
        }
      },
      "id": "SearchResourcesRequest"
    },
    "NotificationConfig": {
      "description": "Specifies where to send notifications upon changes to a data store.",
      "id": "NotificationConfig",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "description": "The [Cloud Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. PubsubMessage.Data contains the resource name. PubsubMessage.MessageId is the ID of this message. It is guaranteed to be unique within the topic. PubsubMessage.PublishTime is the time at which the message was published. Notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. Cloud Healthcare API service account must have publisher permissions on the given Cloud Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification can't be published to Cloud Pub/Sub, errors are logged to Cloud Logging (see [Viewing logs](/healthcare/docs/how-tos/logging)). If the number of errors exceeds a certain rate, some aren't submitted. Note that not all operations trigger notifications, see [Configuring Pub/Sub notifications](https://cloud.google.com/healthcare/docs/how-tos/pubsub) for specific details.",
          "type": "string"
        }
      }
    },
    "GoogleCloudHealthcareV1beta1DicomBigQueryDestination": {
      "id": "GoogleCloudHealthcareV1beta1DicomBigQueryDestination",
      "description": "The BigQuery table where the server writes output.",
      "properties": {
        "force": {
          "description": "Use `write_disposition` instead. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE.",
          "type": "boolean"
        },
        "tableUri": {
          "description": "BigQuery URI to a table, up to 2000 characters long, in the format `bq://projectId.bqDatasetId.tableId`",
          "type": "string"
        },
        "writeDisposition": {
          "enumDescriptions": [
            "Default behavior is the same as WRITE_EMPTY.",
            "Only export data if the destination table is empty.",
            "Erase all existing data in a table before writing the instances.",
            "Append data to the existing table."
          ],
          "type": "string",
          "description": "Determines whether the existing table in the destination is to be overwritten or appended to. If a write_disposition is specified, the `force` parameter is ignored.",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_EMPTY",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ]
        }
      },
      "type": "object"
    },
    "SchemaPackage": {
      "properties": {
        "unexpectedSegmentHandling": {
          "enumDescriptions": [
            "Unspecified handling mode, equivalent to FAIL.",
            "Unexpected segments fail to parse and return an error.",
            "Unexpected segments do not fail, but are omitted from the output.",
            "Unexpected segments do not fail, but are parsed in place and added to the current group. If a segment has a type definition, it is used, otherwise it is parsed as VARIES."
          ],
          "type": "string",
          "enum": [
            "UNEXPECTED_SEGMENT_HANDLING_MODE_UNSPECIFIED",
            "FAIL",
            "SKIP",
            "PARSE"
          ],
          "description": "Determines how unexpected segments (segments not matched to the schema) are handled."
        },
        "schemas": {
          "items": {
            "$ref": "Hl7SchemaConfig"
          },
          "description": "Schema configs that are layered based on their VersionSources that match the incoming message. Schema configs present in higher indices override those in lower indices with the same message type and trigger event if their VersionSources all match an incoming message.",
          "type": "array"
        },
        "types": {
          "items": {
            "$ref": "Hl7TypesConfig"
          },
          "type": "array",
          "description": "Schema type definitions that are layered based on their VersionSources that match the incoming message. Type definitions present in higher indices override those in lower indices with the same type name if their VersionSources all match an incoming message."
        },
        "ignoreMinOccurs": {
          "description": "Flag to ignore all min_occurs restrictions in the schema. This means that incoming messages can omit any group, segment, field, component, or subcomponent.",
          "type": "boolean"
        },
        "schematizedParsingType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified schematized parsing type, equivalent to `SOFT_FAIL`.",
            "Messages that fail to parse are still stored and ACKed but a parser error is stored in place of the schematized data.",
            "Messages that fail to parse are rejected from ingestion/insertion and return an error code."
          ],
          "description": "Determines how messages that fail to parse are handled.",
          "enum": [
            "SCHEMATIZED_PARSING_TYPE_UNSPECIFIED",
            "SOFT_FAIL",
            "HARD_FAIL"
          ]
        }
      },
      "type": "object",
      "description": "A schema package contains a set of schemas and type definitions.",
      "id": "SchemaPackage"
    },
    "ProgressCounter": {
      "description": "ProgressCounter provides counters to describe an operation's progress.",
      "properties": {
        "pending": {
          "type": "string",
          "description": "The number of units that are pending in the operation.",
          "format": "int64"
        },
        "success": {
          "description": "The number of units that succeeded in the operation.",
          "type": "string",
          "format": "int64"
        },
        "failure": {
          "type": "string",
          "format": "int64",
          "description": "The number of units that failed in the operation."
        }
      },
      "type": "object",
      "id": "ProgressCounter"
    },
    "SchemaSegment": {
      "properties": {
        "minOccurs": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of times this segment can be present in this group."
        },
        "maxOccurs": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of times this segment can be present in this group. 0 or -1 means unbounded."
        },
        "type": {
          "description": "The Segment type. For example, \"PID\".",
          "type": "string"
        }
      },
      "description": "An HL7v2 Segment.",
      "type": "object",
      "id": "SchemaSegment"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "GoogleCloudHealthcareV1beta1FhirRestExportResourcesResponse": {
      "type": "object",
      "id": "GoogleCloudHealthcareV1beta1FhirRestExportResourcesResponse",
      "properties": {
        "fhirStore": {
          "type": "string",
          "description": "The name of the FHIR store where resources have been exported, in the format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
        },
        "resourceCount": {
          "type": "string",
          "format": "int64",
          "description": "The total number of resources exported from the requested FHIR store."
        }
      },
      "description": " Response when all resources export successfully. This structure is included in the response to describe the detailed outcome after the operation finishes successfully."
    },
    "ImageAnnotation": {
      "id": "ImageAnnotation",
      "properties": {
        "boundingPolys": {
          "description": "The list of polygons outlining the sensitive regions in the image.",
          "items": {
            "$ref": "BoundingPoly"
          },
          "type": "array"
        },
        "frameIndex": {
          "description": "0-based index of the image frame. For example, an image frame in a DICOM instance.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Image annotation.",
      "type": "object"
    },
    "ListAnnotationStoresResponse": {
      "type": "object",
      "id": "ListAnnotationStoresResponse",
      "description": "Lists the Annotation stores in the given dataset.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list."
        },
        "annotationStores": {
          "description": "The returned Annotation stores. Won't be more Annotation stores than the value of page_size in the request.",
          "items": {
            "$ref": "AnnotationStore"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudHealthcareV1beta1DicomGcsSource": {
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "id": "GoogleCloudHealthcareV1beta1DicomGcsSource",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Points to a Cloud Storage URI containing file(s) with content only. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: '*' to match 0 or more non-separator characters '**' to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .dcm), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.dcm` imports all files with .dcm extensions in `my-directory/` and its sub-directories. '?' to match 1 character All other URI formats are invalid. Files matching the wildcard are expected to contain content only, no metadata."
        }
      },
      "type": "object"
    },
    "RevokeConsentRequest": {
      "type": "object",
      "description": "Revokes the latest revision of the specified Consent by committing a new revision with `state` updated to `REVOKED`. If the latest revision of the given consent is in the `REVOKED` state, no new revision is committed.",
      "id": "RevokeConsentRequest",
      "properties": {
        "consentArtifact": {
          "description": "The resource name of the consent artifact that contains proof of the end user's revocation of the consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudHealthcareV1beta1FhirExportResourcesResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudHealthcareV1beta1FhirExportResourcesResponse",
      "description": "Response when all resources export successfully. This structure is included in the response to describe the detailed outcome after the operation finishes successfully."
    },
    "GoogleCloudHealthcareV1beta1DeidentifyDeidentifyDicomStoreSummary": {
      "description": "Contains a summary of the DeidentifyDicomStore operation.",
      "id": "GoogleCloudHealthcareV1beta1DeidentifyDeidentifyDicomStoreSummary",
      "type": "object",
      "properties": {}
    },
    "Image": {
      "type": "object",
      "properties": {
        "rawBytes": {
          "format": "byte",
          "description": "Consent artifact content represented as a stream of bytes. This field is populated when returned in GetConsentArtifact response, but not included in CreateConsentArtifact and ListConsentArtifact response.",
          "type": "string"
        },
        "gcsUri": {
          "type": "string",
          "description": "Input only. Points to a Cloud Storage URI containing the consent artifact content. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The Cloud Healthcare API service account must have the `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage location. The consent artifact content at this URI is copied to a Cloud Storage location managed by the Cloud Healthcare API. Responses to fetching requests return the consent artifact content in raw_bytes."
        }
      },
      "id": "Image",
      "description": "Raw bytes representing consent artifact content."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "ConsentArtifact": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the consent artifact. For example, the consent locale or user agent version.",
          "type": "object"
        },
        "consentContentVersion": {
          "type": "string",
          "description": "An string indicating the version of the consent content."
        },
        "consentContentScreenshots": {
          "description": "Screenshots of the consent content.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "userSignature": {
          "$ref": "Signature",
          "description": "User's signature."
        },
        "name": {
          "description": "Resource name of the Consent artifact, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`.",
          "type": "string"
        },
        "userId": {
          "description": "Required. User's UUID provided by the client.",
          "type": "string"
        },
        "witnessSignature": {
          "description": "A signature from a witness.",
          "$ref": "Signature"
        },
        "guardianSignature": {
          "$ref": "Signature",
          "description": "A signature from guardian."
        }
      },
      "description": "Proof of an end user's consent.",
      "id": "ConsentArtifact",
      "type": "object"
    },
    "ExportDicomDataRequest": {
      "id": "ExportDicomDataRequest",
      "properties": {
        "gcsDestination": {
          "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GoogleCloudHealthcareV1beta1DicomGcsDestination"
        },
        "filterConfig": {
          "description": "Specifies the filter configuration.",
          "$ref": "DicomFilterConfig"
        },
        "bigqueryDestination": {
          "$ref": "GoogleCloudHealthcareV1beta1DicomBigQueryDestination",
          "description": "The BigQuery output destination. You can only export to a BigQuery dataset that's in the same project as the DICOM store you're exporting from. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`."
        }
      },
      "description": "Exports data from the specified DICOM store. If a given resource, such as a DICOM object with the same SOPInstance UID, already exists in the output, it is overwritten with the version in the source dataset. Exported DICOM data persists when the DICOM store from which it was exported is deleted.",
      "type": "object"
    },
    "ExportDicomDataResponse": {
      "description": "Returns additional information in regards to a completed DICOM store export.",
      "properties": {},
      "type": "object",
      "id": "ExportDicomDataResponse"
    },
    "GoogleCloudHealthcareV1beta1FhirRestExportResourcesErrorDetails": {
      "id": "GoogleCloudHealthcareV1beta1FhirRestExportResourcesErrorDetails",
      "properties": {
        "resourceCount": {
          "description": "The total number of resources included in the export operation. This is the sum of the success and error counts.",
          "format": "int64",
          "type": "string"
        },
        "fhirStore": {
          "type": "string",
          "description": "The name of the FHIR store where resources have been exported, in the format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
        },
        "successCount": {
          "description": "The number of resources that were exported.",
          "format": "int64",
          "type": "string"
        },
        "errorCount": {
          "format": "int64",
          "description": "The number of resources that had errors.",
          "type": "string"
        }
      },
      "type": "object",
      "description": " Response when errors occur while exporting resources. This structure is included in the error details to describe the detailed outcome. It is only included when the operation finishes with errors."
    },
    "Attribute": {
      "description": "An attribute value for a consent or data mapping. Each Attribute must have a corresponding AttributeDefinition in the consent store that defines the default and allowed values.",
      "id": "Attribute",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value of the attribute. Must be an acceptable value as defined in the consent store. For example, if the consent store defines \"data type\" with acceptable values \"questionnaire\" and \"step-count\", when the attribute name is data type, this field must contain one of those values."
        },
        "attributeDefinitionId": {
          "description": "Indicates the name of an attribute defined at the consent store.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExportMessagesRequest": {
      "id": "ExportMessagesRequest",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Export to a Cloud Storage destination."
        },
        "startTime": {
          "type": "string",
          "description": "The start of the range in `send_time` (MSH.7, https://www.hl7.org/documentcenter/public_temp_2E58C1F9-1C23-BA17-0C6126475344DA9D/wg/conf/HL7MSH.htm) to process. If not specified, the UNIX epoch (1970-01-01T00:00:00Z) is used. This value has to come before the `end_time` defined below. Only messages whose `send_time` lies in the range `start_time` (inclusive) to `end_time` (exclusive) are exported.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end of the range in `send_time` (MSH.7, https://www.hl7.org/documentcenter/public_temp_2E58C1F9-1C23-BA17-0C6126475344DA9D/wg/conf/HL7MSH.htm) to process. If not specified, the time when the export is scheduled is used. This value has to come after the `start_time` defined below. Only messages whose `send_time` lies in the range `start_time` (inclusive) to `end_time` (exclusive) are exported.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to schedule an export."
    },
    "FhirStore": {
      "description": "Represents a FHIR store.",
      "properties": {
        "disableResourceVersioning": {
          "type": "boolean",
          "description": "Immutable. Whether to disable resource versioning for this FHIR store. This field can not be changed after the creation of FHIR store. If set to false, which is the default behavior, all write operations cause historical versions to be recorded automatically. The historical versions can be fetched through the history APIs, but cannot be updated. If set to true, no historical versions are kept. The server sends errors for attempts to read the historical versions."
        },
        "streamConfigs": {
          "items": {
            "$ref": "StreamConfig"
          },
          "description": "A list of streaming configs that configure the destinations of streaming export for every resource mutation in this FHIR store. Each store is allowed to have up to 10 streaming configs. After a new config is added, the next resource mutation is streamed to the new location in addition to the existing ones. When a location is removed from the list, the server stops streaming to that location. Before adding a new config, you must add the required [`bigquery.dataEditor`](https://cloud.google.com/bigquery/docs/access-control#bigquery.dataEditor) role to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/iam/docs/service-accounts). Some lag (typically on the order of dozens of seconds) is expected before the results show up in the streaming destination.",
          "type": "array"
        },
        "disableReferentialIntegrity": {
          "description": "Immutable. Whether to disable referential integrity in this FHIR store. This field is immutable after FHIR store creation. The default value is false, meaning that the API enforces referential integrity and fails the requests that result in inconsistent state in the FHIR store. When this field is set to true, the API skips referential integrity checks. Consequently, operations that rely on references, such as GetPatientEverything, do not return all the results if broken references exist.",
          "type": "boolean"
        },
        "version": {
          "enumDescriptions": [
            "VERSION_UNSPECIFIED is treated as STU3 to accommodate the existing FHIR stores.",
            "Draft Standard for Trial Use, [Release 2](https://www.hl7.org/fhir/DSTU2)",
            "Standard for Trial Use, [Release 3](https://www.hl7.org/fhir/STU3)",
            "[Release 4](https://www.hl7.org/fhir/R4)"
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "DSTU2",
            "STU3",
            "R4"
          ],
          "type": "string",
          "description": "Immutable. The FHIR specification version that this FHIR store supports natively. This field is immutable after store creation. Requests are rejected if they contain FHIR resources of a different version. Version is required for every FHIR store."
        },
        "name": {
          "description": "Output only. Resource name of the FHIR store, of the form `projects/{project_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.",
          "type": "string"
        },
        "notificationConfig": {
          "$ref": "NotificationConfig",
          "description": "If non-empty, publish all resource modifications of this FHIR store to this destination. The Cloud Pub/Sub message attributes contain a map with a string describing the action that has triggered the notification. For example, \"action\":\"CreateResource\"."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key-value pairs used to organize FHIR stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store."
        },
        "enableUpdateCreate": {
          "type": "boolean",
          "description": "Whether this FHIR store has the [updateCreate capability](https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.rest.resource.updateCreate). This determines if the client can use an Update operation to create a new resource with a client-specified ID. If false, all IDs are server-assigned through the Create operation and attempts to update a non-existent resource return errors. Be careful with the audit logs if client-specified resource IDs contain sensitive data such as patient identifiers, those IDs are part of the FHIR resource path recorded in Cloud audit logs and Cloud Pub/Sub notifications."
        },
        "defaultSearchHandlingStrict": {
          "type": "boolean",
          "description": "If true, overrides the default search behavior for this FHIR store to `handling=strict` which returns an error for unrecognized search parameters. If false, uses the FHIR specification default `handling=lenient` which ignores unrecognized search parameters. The handling can always be changed from the default on an individual API call by setting the HTTP header `Prefer: handling=strict` or `Prefer: handling=lenient`."
        }
      },
      "type": "object",
      "id": "FhirStore"
    },
    "DeidentifySummary": {
      "type": "object",
      "id": "DeidentifySummary",
      "description": "Contains a detailed summary of the Deidentify operation.",
      "properties": {}
    },
    "ImportDicomDataResponse": {
      "id": "ImportDicomDataResponse",
      "properties": {},
      "description": "Returns additional information in regards to a completed DICOM store import.",
      "type": "object"
    },
    "CloudHealthcareSource": {
      "description": "Cloud Healthcare API resource.",
      "type": "object",
      "id": "CloudHealthcareSource",
      "properties": {
        "name": {
          "description": "Full path of a Cloud Healthcare API resource.",
          "type": "string"
        }
      }
    },
    "GoogleCloudHealthcareV1beta1FhirGcsDestination": {
      "id": "GoogleCloudHealthcareV1beta1FhirGcsDestination",
      "description": "The configuration for exporting to Cloud Storage.",
      "properties": {
        "uriPrefix": {
          "description": "URI for a Cloud Storage directory where result files should be written (in the format `gs://{bucket-id}/{path/to/destination/dir}`). If there is no trailing slash, the service appends one when composing the object path. The Cloud Storage bucket referenced in `uri_prefix` must exist or an error occurs.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConsentStore": {
      "type": "object",
      "id": "ConsentStore",
      "description": "Represents a Consent store.",
      "properties": {
        "enableConsentCreateOnUpdate": {
          "description": "If true, UpdateConsent creates the consent if it does not already exist.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the Consent store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}`."
        },
        "labels": {
          "type": "object",
          "description": "User-supplied key-value pairs used to organize Consent stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultConsentTtl": {
          "description": "Default time to live for consents in this store. Must be at least 24 hours. Updating this field will not affect the expiration time of existing consents.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "SchemaGroup": {
      "type": "object",
      "id": "SchemaGroup",
      "description": "An HL7v2 logical group construct.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this group. For example, \"ORDER_DETAIL\"."
        },
        "choice": {
          "description": "True indicates that this is a choice group, meaning that only one of its segments can exist in a given message.",
          "type": "boolean"
        },
        "minOccurs": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of times this group must be present/repeated."
        },
        "members": {
          "description": "Nested groups and/or segments.",
          "items": {
            "$ref": "GroupOrSegment"
          },
          "type": "array"
        },
        "maxOccurs": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of times this group can be repeated. 0 or -1 means unbounded."
        }
      }
    },
    "FilterList": {
      "properties": {
        "infoTypes": {
          "type": "array",
          "description": "These infoTypes are based on after the `eval_info_type_mapping` and `golden_info_type_mapping`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "FilterList",
      "description": "List of infoTypes to be filtered."
    },
    "ArchiveUserDataMappingResponse": {
      "description": "Archives the specified User data mapping.",
      "properties": {},
      "type": "object",
      "id": "ArchiveUserDataMappingResponse"
    },
    "Segment": {
      "description": "A segment in a structured format.",
      "type": "object",
      "id": "Segment",
      "properties": {
        "segmentId": {
          "type": "string",
          "description": "A string that indicates the type of segment. For example, EVN or PID."
        },
        "setId": {
          "description": "Set ID for segments that can be in a set. This can be empty if it's missing or isn't applicable.",
          "type": "string"
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A mapping from the positional location to the value. The key string uses zero-based indexes separated by dots to identify Fields, components and sub-components. A bracket notation is also used to identify different instances of a repeated field. Regex for key: (\\d+)(\\[\\d+\\])?(.\\d+)?(.\\d+)? Examples of (key, value) pairs: * (0.1, \"hemoglobin\") denotes that the first component of Field 0 has the value \"hemoglobin\". * (1.1.2, \"CBC\") denotes that the second sub-component of the first component of Field 1 has the value \"CBC\". * (1[0].1, \"HbA1c\") denotes that the first component of the first Instance of Field 1, which is repeated, has the value \"HbA1c\"."
        }
      }
    },
    "GoogleCloudHealthcareV1beta1DeidentifyDeidentifyFhirStoreSummary": {
      "description": "Contains a summary of the DeidentifyFhirStore operation.",
      "id": "GoogleCloudHealthcareV1beta1DeidentifyDeidentifyFhirStoreSummary",
      "type": "object",
      "properties": {}
    },
    "AnnotationSource": {
      "type": "object",
      "description": "AnnotationSource holds the source information of the annotation.",
      "id": "AnnotationSource",
      "properties": {
        "cloudHealthcareSource": {
          "description": "Cloud Healthcare API resource.",
          "$ref": "CloudHealthcareSource"
        }
      }
    },
    "ImportAnnotationsResponse": {
      "properties": {},
      "id": "ImportAnnotationsResponse",
      "type": "object",
      "description": "Final response of importing Annotations in successful case. This structure is included in the response. It is only included when the operation finishes."
    },
    "Type": {
      "id": "Type",
      "description": "A type definition for some HL7v2 type (incl. Segments and Datatypes).",
      "properties": {
        "name": {
          "description": "The name of this type. This would be the segment or datatype name. For example, \"PID\" or \"XPN\".",
          "type": "string"
        },
        "fields": {
          "items": {
            "$ref": "Field"
          },
          "description": "The (sub) fields this type has (if not primitive).",
          "type": "array"
        },
        "primitive": {
          "enum": [
            "PRIMITIVE_UNSPECIFIED",
            "STRING",
            "VARIES",
            "UNESCAPED_STRING"
          ],
          "description": "If this is a primitive type then this field is the type of the primitive For example, STRING. Leave unspecified for composite types.",
          "enumDescriptions": [
            "Not a primitive.",
            "String primitive.",
            "Element that can have unschematized children.",
            "Like STRING, but all delimiters below this element are ignored."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudHealthcareV1beta1FhirRestImportResourcesResponse": {
      "type": "object",
      "id": "GoogleCloudHealthcareV1beta1FhirRestImportResourcesResponse",
      "properties": {
        "fhirStore": {
          "type": "string",
          "description": "The name of the FHIR store where the resources have been imported, in the format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
        },
        "inputSize": {
          "type": "string",
          "description": "The total number of resources included in the source data.",
          "format": "int64"
        }
      },
      "description": " Final response of importing resources. This structure is included in the response to describe the detailed outcome after the operation finishes successfully."
    },
    "ListConsentStoresResponse": {
      "id": "ListConsentStoresResponse",
      "description": "Lists the Consent stores in the given dataset.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list."
        },
        "consentStores": {
          "description": "The returned Consent stores. The maximum number of stores returned is determined by the value of page_size in the ListConsentStoresRequest.",
          "type": "array",
          "items": {
            "$ref": "ConsentStore"
          }
        }
      }
    },
    "EntityMention": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The semantic type of the entity: UNKNOWN_ENTITY_TYPE, ALONE, ANATOMICAL_STRUCTURE, ASSISTED_LIVING, BF_RESULT, BM_RESULT, BM_UNIT, BM_VALUE, BODY_FUNCTION, BODY_MEASUREMENT, COMPLIANT, DOESNOT_FOLLOWUP, FAMILY, FOLLOWSUP, LABORATORY_DATA, LAB_RESULT, LAB_UNIT, LAB_VALUE, MEDICAL_DEVICE, MEDICINE, MED_DOSE, MED_DURATION, MED_FORM, MED_FREQUENCY, MED_ROUTE, MED_STATUS, MED_STRENGTH, MED_TOTALDOSE, MED_UNIT, NON_COMPLIANT, OTHER_LIVINGSTATUS, PROBLEM, PROCEDURE, PROCEDURE_RESULT, PROC_METHOD, REASON_FOR_NONCOMPLIANCE, SEVERITY, SUBSTANCE_ABUSE, UNCLEAR_FOLLOWUP."
        },
        "text": {
          "description": "text is the location of the entity mention in the document.",
          "$ref": "TextSpan"
        },
        "mentionId": {
          "description": "mention_id uniquely identifies each entity mention in a single response.",
          "type": "string"
        },
        "confidence": {
          "format": "double",
          "type": "number",
          "description": "The model's confidence in this entity mention annotation. A number between 0 and 1."
        },
        "linkedEntities": {
          "description": "linked_entities are candidate ontological concepts that this entity mention may refer to. They are sorted by decreasing confidence.it",
          "items": {
            "$ref": "LinkedEntity"
          },
          "type": "array"
        },
        "subject": {
          "$ref": "Feature",
          "description": "The subject this entity mention relates to. Its value is one of: PATIENT, FAMILY_MEMBER, OTHER"
        },
        "temporalAssessment": {
          "description": "How this entity mention relates to the subject temporally. Its value is one of: CURRENT, CLINICAL_HISTORY, FAMILY_HISTORY, UPCOMING, ALLERGY",
          "$ref": "Feature"
        },
        "certaintyAssessment": {
          "description": "The certainty assessment of the entity mention. Its value is one of: LIKELY, SOMEWHAT_LIKELY, UNCERTAIN, SOMEWHAT_UNLIKELY, UNLIKELY, CONDITIONAL",
          "$ref": "Feature"
        }
      },
      "id": "EntityMention",
      "description": "An entity mention in the document."
    },
    "DeidentifyDatasetRequest": {
      "properties": {
        "config": {
          "$ref": "DeidentifyConfig",
          "description": "Deidentify configuration."
        },
        "destinationDataset": {
          "description": "The name of the dataset resource to create and write the redacted data to. * The destination dataset must not exist. * The destination dataset must be in the same project and location as the source dataset. De-identifying data across multiple projects or locations is not supported.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Redacts identifying information from the specified dataset.",
      "id": "DeidentifyDatasetRequest"
    },
    "Finding": {
      "type": "object",
      "id": "Finding",
      "properties": {
        "end": {
          "format": "int64",
          "type": "string",
          "description": "Zero-based ending index of the found text, exclusively."
        },
        "start": {
          "format": "int64",
          "type": "string",
          "description": "Zero-based starting index of the found text, inclusively."
        },
        "infoType": {
          "type": "string",
          "description": "The type of information stored in this text range. For example, HumanName, BirthDate, or Address."
        },
        "quote": {
          "description": "The snippet of the sensitive text. This field is only populated during deidentification if `store_quote` is set to true in DeidentifyConfig.",
          "type": "string"
        }
      }
    },
    "StreamConfig": {
      "description": "Contains configuration for streaming FHIR export.",
      "properties": {
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supply a FHIR resource type (such as \"Patient\" or \"Observation\"). See https://www.hl7.org/fhir/valueset-resource-types.html for a list of all FHIR resource types. The server treats an empty list as an intent to stream all the supported resource types in this FHIR store."
        },
        "bigqueryDestination": {
          "$ref": "GoogleCloudHealthcareV1beta1FhirBigQueryDestination",
          "description": "The destination BigQuery structure that contains both the dataset location and corresponding schema config. The output is organized in one table per resource type. The server reuses the existing tables (if any) that are named after the resource types, e.g. \"Patient\", \"Observation\". When there is no existing table for a given resource type, the server attempts to create one. When a table schema doesn't align with the schema config, either because of existing incompatible schema or out of band incompatible modification, the server does not stream in new data. One resolution in this case is to delete the incompatible table and let the server recreate one, though the newly created table only contains data after the table recreation. BigQuery imposes a 1 MB limit on streaming insert row size, therefore any resource mutation that generates more than 1 MB of BigQuery data will not be streamed. Results are appended to the corresponding BigQuery tables. Different versions of the same resource are distinguishable by the meta.versionId and meta.lastUpdated columns. The operation (CREATE/UPDATE/DELETE) that results in the new version is recorded in the meta.tag. The tables contain all historical resource versions since streaming was enabled. For query convenience, the server also creates one view per table of the same name containing only the current resource version. The streamed data in the BigQuery dataset is not guaranteed to be completely unique. The combination of the id and meta.versionId columns should ideally identify a single unique row. But in rare cases, duplicates may exist. At query time, users may use the SQL select statement to keep only one of the duplicate rows given an id and meta.versionId pair. Alternatively, the server created view mentioned above also filters out duplicates. If a resource mutation cannot be streamed to BigQuery, errors will be logged to Cloud Logging (see [Viewing error logs in Cloud Logging](/healthcare/docs/how-tos/logging))."
        }
      },
      "type": "object",
      "id": "StreamConfig"
    },
    "Field": {
      "id": "Field",
      "properties": {
        "maxOccurs": {
          "format": "int32",
          "description": "The maximum number of times this field can be repeated. 0 or -1 means unbounded.",
          "type": "integer"
        },
        "name": {
          "description": "The name of the field. For example, \"PID-1\" or just \"1\".",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "The HL7v2 table this field refers to. For example, PID-15 (Patient's Primary Language) usually refers to table \"0296\"."
        },
        "type": {
          "type": "string",
          "description": "The type of this field. A Type with this name must be defined in an Hl7TypesConfig."
        },
        "minOccurs": {
          "description": "The minimum number of times this field must be present/repeated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A (sub) field of a type."
    },
    "ConsentEvaluation": {
      "description": "The detailed evaluation of a particular Consent.",
      "properties": {
        "evaluationResult": {
          "description": "The evaluation result.",
          "enum": [
            "EVALUATION_RESULT_UNSPECIFIED",
            "NOT_APPLICABLE",
            "NO_MATCHING_POLICY",
            "NO_SATISFIED_POLICY",
            "HAS_SATISFIED_POLICY"
          ],
          "type": "string",
          "enumDescriptions": [
            "No evaluation result specified. This option is invalid.",
            "The consent is not applicable to the requested access determination. For example, it does not belong to the end user who owns the data for which the access determination is requested, or it has a `state` of `REVOKED`.",
            "The consent does not have a policy with matching `resource_attributes` as the data.",
            "The consent has at least one policy with matching `resource_attributes` as the data, but none with a satisfied `authorization_rule`.",
            "The consent has at least one policy with matching `resource_attributes` as the data and a satisfied `authorization_rule`."
          ]
        }
      },
      "type": "object",
      "id": "ConsentEvaluation"
    },
    "AnnotationStore": {
      "description": "An Annotation store that can store annotation resources such as labels and tags for text, image and audio.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. User-supplied key-value pairs used to organize Annotation stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name of the Annotation store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/annotationStores/{annotation_store_id}`.",
          "type": "string"
        }
      },
      "id": "AnnotationStore",
      "type": "object"
    },
    "EvaluateUserConsentsRequest": {
      "description": "Evaluate an end user's Consents for all matching User data mappings.",
      "type": "object",
      "id": "EvaluateUserConsentsRequest",
      "properties": {
        "consentList": {
          "$ref": "ConsentList",
          "description": "The Consents to evaluate the access request against. They must have the same `user_id` as the data to check access for, exist in the current `consent_store`, and can have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 consents can be provided here. If unspecified, all `ACTIVE` unexpired consents in the current `consent_store` will be evaluated."
        },
        "pageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results to get the first page."
        },
        "resourceAttributes": {
          "description": "The values of resources attributes associated with the type of data being requested. If no values are specified, then all data types are queried.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "responseView": {
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `consented` field is populated in the response.",
            "All fields within the response are populated. When set to `FULL`, all `ACTIVE` consents are evaluated even if a matching policy is found during evaluation."
          ],
          "type": "string",
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ],
          "description": "The view for EvaluateUserConsentsResponse. If unspecified, defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`."
        },
        "userId": {
          "type": "string",
          "description": "Required. User ID to evaluate consents for."
        },
        "pageSize": {
          "description": "Limit on the number of user data mappings to return in a single response. If not specified, 100 is used. May not be larger than 1000.",
          "format": "int32",
          "type": "integer"
        },
        "requestAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The values of request attributes associated with this access request."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "DicomFilterConfig": {
      "properties": {
        "resourcePathsGcsUri": {
          "type": "string",
          "description": "The Cloud Storage location of the filter configuration file. The `gcs_uri` must be in the format `gs://bucket/path/to/object`. The filter configuration file must contain a list of resource paths separated by newline characters (\\n or \\r\\n). Each resource path must be in the format \"/studies/{studyUID}[/series/{seriesUID}[/instances/{instanceUID}]]\" The Cloud Healthcare API service account must have the `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage location."
        }
      },
      "description": "Specifies the filter configuration for DICOM resources.",
      "type": "object",
      "id": "DicomFilterConfig"
    },
    "Consent": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "REVOKED",
            "DRAFT",
            "REJECTED"
          ],
          "enumDescriptions": [
            "No state specified.",
            "The consent is active and is considered when evaluating user's consent on resources.",
            "When a consent is updated, the current version is archived and a new one is created with active state.",
            "A revoked consent is not considered when evaluating user's consent on resources.",
            "A draft consent is not considered when evaluating user's consent on resources unless explicitly asked.",
            "When a draft consent is rejected by end user, it should be stored back with rejected state. A rejected consent is not considered when evaluating user's consent on resources."
          ],
          "type": "string",
          "description": "Indicates the current state of this consent."
        },
        "metadata": {
          "type": "object",
          "description": "User-supplied key-value pairs used to organize consent resources. Metadata keys must: - be between 1 and 63 characters long - have a UTF-8 encoding of maximum 128 bytes - begin with a letter - consist of up to 63 characters including lowercase letters, numeric characters, underscores, and dashes Metadata values must be: - be between 1 and 63 characters long - have a UTF-8 encoding of maximum 128 bytes - consist of up to 63 characters including lowercase letters, numeric characters, underscores, and dashes No more than 64 metadata entries can be associated with a given consent.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "revisionId": {
          "description": "Output only. The revision ID of the consent. The format is an 8-character hexadecimal string. Refer to a specific revision of a Consent by appending `@{revision_id}` to the Consent's resource name.",
          "type": "string",
          "readOnly": true
        },
        "consentArtifact": {
          "description": "Required. The resource name of the consent artifact that contains proof of the end user's consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`.",
          "type": "string"
        },
        "revisionCreateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp that the revision was created."
        },
        "userId": {
          "type": "string",
          "description": "Required. User's UUID provided by the client."
        },
        "expireTime": {
          "description": "Timestamp in UTC of when this consent is considered expired.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the Consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consents/{consent_id}`."
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. The time to live for this consent from when it is created."
        },
        "policies": {
          "description": "Represents an end user's consent in terms of the resources that can be accessed and under what conditions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudHealthcareV1beta1ConsentPolicy"
          }
        }
      },
      "id": "Consent",
      "description": "Represents an end user's consent."
    },
    "Result": {
      "description": "The consent evaluation result for a single `data_id`.",
      "type": "object",
      "id": "Result",
      "properties": {
        "dataId": {
          "type": "string",
          "description": "The unique identifier of the data the consents were checked for."
        },
        "consented": {
          "description": "Whether the requested data is consented for the given use.",
          "type": "boolean"
        },
        "consentDetails": {
          "description": "The resource names of all evaluated Consents mapped to their evaluation.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          }
        }
      }
    },
    "QueryAccessibleDataRequest": {
      "type": "object",
      "id": "QueryAccessibleDataRequest",
      "description": "Queries all data_ids that are consented for a given use in the given Consent store and writes them to a specified destination. The returned Operation includes a progress counter for the number of User data mappings processed. Errors are logged to Cloud Logging (see [Viewing logs] (/healthcare/docs/how-tos/logging) and [QueryAccessibleData] for a sample log entry).",
      "properties": {
        "resourceAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The values of resources attributes associated with the type of data being requested. If no values are specified, then all data types are included in the output."
        },
        "requestAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The values of request attributes associated with this access request."
        },
        "gcsDestination": {
          "$ref": "GoogleCloudHealthcareV1beta1ConsentGcsDestination",
          "description": "The Cloud Storage destination. The Cloud Healthcare API service account must have the `roles/storage.objectAdmin` Cloud IAM role for this Cloud Storage location."
        }
      }
    },
    "ImportDicomDataRequest": {
      "description": "Imports data into the specified DICOM store. Returns an error if any of the files to import are not DICOM files. This API accepts duplicate DICOM instances by ignoring the newly-pushed instance. It does not overwrite.",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudHealthcareV1beta1DicomGcsSource",
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage location."
        }
      },
      "type": "object",
      "id": "ImportDicomDataRequest"
    },
    "SchematizedData": {
      "id": "SchematizedData",
      "description": "The content of an HL7v2 message in a structured format as specified by a schema.",
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "The error output of the parser."
        },
        "data": {
          "type": "string",
          "description": "JSON output of the parser."
        }
      }
    },
    "EvaluateAnnotationStoreResponse": {
      "id": "EvaluateAnnotationStoreResponse",
      "type": "object",
      "properties": {},
      "description": "Response for successful Annotation store evaluation operations. This structure is included in the response upon operation completion."
    },
    "GoogleCloudHealthcareV1beta1ConsentPolicy": {
      "type": "object",
      "id": "GoogleCloudHealthcareV1beta1ConsentPolicy",
      "properties": {
        "resourceAttributes": {
          "type": "array",
          "description": "The data resources that this policy applies to. A data resource is a match if it matches all the attributes listed here.",
          "items": {
            "$ref": "Attribute"
          }
        },
        "authorizationRule": {
          "$ref": "Expr",
          "description": "The request conditions to meet to grant access. In addition to any supported comparison operators, authorization rules may have `IN` operator as well as at most 10 logical operators that are limited to `AND` (`&&`), `OR` (`||`)."
        }
      },
      "description": "Represents an end user's consent in terms of the resources that can be accessed and under what conditions."
    },
    "GoogleCloudHealthcareV1beta1AnnotationBigQueryDestination": {
      "properties": {
        "force": {
          "description": "Use `write_disposition` instead. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE.",
          "type": "boolean"
        },
        "tableUri": {
          "description": "BigQuery URI to a table, up to 2000 characters long, must be of the form bq://projectId.bqDatasetId.tableId.",
          "type": "string"
        },
        "writeDisposition": {
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_EMPTY",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Determines whether existing tables in the destination dataset are overwritten or appended to. If a write_disposition is specified, the `force` parameter is ignored.",
          "type": "string",
          "enumDescriptions": [
            "Default behavior is the same as WRITE_EMPTY.",
            "Only export data if the destination table is empty.",
            "Erase all existing data in a table before writing the instances.",
            "Append data to the existing table."
          ]
        },
        "schemaType": {
          "description": "Specifies the schema format to export.",
          "enumDescriptions": [
            "Same as SIMPLE.",
            "A flatterned version of Annotation."
          ],
          "type": "string",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "SIMPLE"
          ]
        }
      },
      "id": "GoogleCloudHealthcareV1beta1AnnotationBigQueryDestination",
      "description": "The BigQuery table for export.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "GoogleCloudHealthcareV1beta1FhirRestImportResourcesErrorDetails": {
      "description": " Error response of importing resources. This structure is included in the error details to describe the detailed error after the operation finishes with some failure.",
      "id": "GoogleCloudHealthcareV1beta1FhirRestImportResourcesErrorDetails",
      "properties": {
        "fhirStore": {
          "type": "string",
          "description": "The name of the FHIR store where resources have been imported, in the format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
        },
        "errorCount": {
          "format": "int64",
          "description": "The number of resources that had errors.",
          "type": "string"
        },
        "inputSize": {
          "format": "int64",
          "type": "string",
          "description": "The total number of resources included in the source data. This is the sum of the success and error counts."
        },
        "successCount": {
          "description": "The number of resources that have been imported.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "ParsedData": {
      "description": "The content of an HL7v2 message in a structured format.",
      "type": "object",
      "id": "ParsedData",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "Segment"
          }
        }
      }
    },
    "Entity": {
      "description": "The candidate entities that an entity mention could link to.",
      "type": "object",
      "properties": {
        "vocabularyCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Vocabulary codes are first-class fields and differentiated from the concept unique identifier (entity_id). vocabulary_codes contains the representation of this concept in particular vocabularies, such as ICD-10, SNOMED-CT and RxNORM. These are prefixed by the name of the vocabulary, followed by the unique code within that vocabulary. For example, \"RXNORM/A10334543\"."
        },
        "entityId": {
          "type": "string",
          "description": "entity_id is a first class field entity_id uniquely identifies this concept and its meta-vocabulary. For example, \"UMLS/C0000970\"."
        },
        "preferredTerm": {
          "description": "preferred_term is the preferred term for this concept. For example, \"Acetaminophen\". For ad hoc entities formed by normalization, this is the most popular unnormalized string.",
          "type": "string"
        }
      },
      "id": "Entity"
    },
    "Resources": {
      "description": "A list of FHIR resources.",
      "id": "Resources",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of resources IDs. For example, \"Patient/1234\"."
        }
      },
      "type": "object"
    },
    "DateShiftConfig": {
      "properties": {
        "cryptoKey": {
          "type": "string",
          "format": "byte",
          "description": "An AES 128/192/256 bit key. Causes the shift to be computed based on this key and the patient ID. A default key is generated for each Deidentify operation and is used wherever crypto_key is not specified."
        }
      },
      "description": "Shift a date forward or backward in time by a random amount which is consistent for a given patient and crypto key combination.",
      "id": "DateShiftConfig",
      "type": "object"
    },
    "ListDatasetsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "datasets": {
          "type": "array",
          "description": "The first page of datasets.",
          "items": {
            "$ref": "Dataset"
          }
        }
      },
      "type": "object",
      "description": "Lists the available datasets.",
      "id": "ListDatasetsResponse"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudHealthcareV1beta1AnnotationGcsSource": {
      "properties": {
        "uri": {
          "description": "Points to a Cloud Storage URI containing file(s) with content only. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: '*' to match 0 or more non-separator characters '**' to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .dcm), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.json` imports all files with .json extensions in `my-directory/` and its sub-directories. '?' to match 1 character All other URI formats are invalid. Files matching the wildcard are expected to contain content only, no metadata.",
          "type": "string"
        }
      },
      "id": "GoogleCloudHealthcareV1beta1AnnotationGcsSource",
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "type": "object"
    },
    "ExportAnnotationsRequest": {
      "properties": {
        "bigqueryDestination": {
          "$ref": "GoogleCloudHealthcareV1beta1AnnotationBigQueryDestination",
          "description": "The BigQuery output destination, which requires two IAM roles: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`."
        },
        "gcsDestination": {
          "description": "The Cloud Storage destination, which requires the `roles/storage.objectAdmin` Cloud IAM role.",
          "$ref": "GoogleCloudHealthcareV1beta1AnnotationGcsDestination"
        }
      },
      "description": "Request to export Annotations. The export operation is not atomic. If a failure occurs, any annotations already exported are not removed.",
      "type": "object",
      "id": "ExportAnnotationsRequest"
    },
    "ListAnnotationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        },
        "annotations": {
          "description": "The returned Annotations. Won't be more values than the value of page_size in the request. See `AnnotationView` in the request for populated fields.",
          "items": {
            "$ref": "Annotation"
          },
          "type": "array"
        }
      },
      "description": "Lists the Annotations in the specified Annotation store.",
      "type": "object",
      "id": "ListAnnotationsResponse"
    },
    "GroupOrSegment": {
      "description": "Construct representing a logical group or a segment.",
      "properties": {
        "segment": {
          "$ref": "SchemaSegment"
        },
        "group": {
          "$ref": "SchemaGroup"
        }
      },
      "id": "GroupOrSegment",
      "type": "object"
    },
    "PatientId": {
      "type": "object",
      "id": "PatientId",
      "description": "A patient identifier and associated type.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The patient's unique identifier."
        },
        "type": {
          "description": "ID type. For example, MRN or NHS.",
          "type": "string"
        }
      }
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "type": "object",
      "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location.",
      "properties": {
        "uriPrefix": {
          "description": "URI of an existing Cloud Storage directory where the server writes result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path.",
          "type": "string"
        },
        "messageView": {
          "description": "Specifies the parts of the Message resource to include in the export. If not specified, FULL is used.",
          "type": "string",
          "enumDescriptions": [
            "Not specified, equivalent to FULL for getMessage, equivalent to BASIC for listMessages.",
            "Server responses include all the message fields except parsed_data, and schematized_data fields.",
            "Server responses include all the message fields except data and schematized_data fields.",
            "Server responses include all the message fields.",
            "Server responses include all the message fields except data and parsed_data fields.",
            "Server responses include only the name field."
          ],
          "enum": [
            "MESSAGE_VIEW_UNSPECIFIED",
            "RAW_ONLY",
            "PARSED_ONLY",
            "FULL",
            "SCHEMATIZED_ONLY",
            "BASIC"
          ]
        },
        "contentStructure": {
          "enumDescriptions": [
            "If the content structure is not specified, the default value `MESSAGE_JSON` will be used.",
            "Messages are printed using the JSON format returned from the `GetMessage` API. Messages are delimited with newlines."
          ],
          "type": "string",
          "enum": [
            "CONTENT_STRUCTURE_UNSPECIFIED",
            "MESSAGE_JSON"
          ],
          "description": "The format of the exported HL7v2 message files."
        }
      }
    },
    "GoogleCloudHealthcareV1beta1DicomGcsDestination": {
      "description": "The Cloud Storage location where the server writes the output and the export configuration.",
      "id": "GoogleCloudHealthcareV1beta1DicomGcsDestination",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "MIME types supported by DICOM spec. Each file is written in the following format: `.../{study_id}/{series_id}/{instance_id}[/{frame_number}].{extension}` The frame_number component exists only for multi-frame instances. Supported MIME types are consistent with supported formats in DICOMweb: https://cloud.google.com/healthcare/docs/dicom#retrieve_transaction. Specifically, the following are supported: - application/dicom; transfer-syntax=1.2.840.10008.1.2.1 (uncompressed DICOM) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.50 (DICOM with embedded JPEG Baseline) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.90 (DICOM with embedded JPEG 2000 Lossless Only) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.91 (DICOM with embedded JPEG 2000)h - application/dicom; transfer-syntax=* (DICOM with no transcoding) - application/octet-stream; transfer-syntax=1.2.840.10008.1.2.1 (raw uncompressed PixelData) - application/octet-stream; transfer-syntax=* (raw PixelData in whatever format it was uploaded in) - image/jpeg; transfer-syntax=1.2.840.10008.1.2.4.50 (Consumer JPEG) - image/png The following extensions are used for output files: - application/dicom -\u003e .dcm - image/jpeg -\u003e .jpg - image/png -\u003e .png - application/octet-stream -\u003e no extension If unspecified, the instances are exported in the original DICOM format they were uploaded in.",
          "type": "string"
        },
        "uriPrefix": {
          "type": "string",
          "description": "The Cloud Storage destination to export to. URI for a Cloud Storage directory where the server writes the result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`). If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`."
        }
      }
    },
    "LinkedEntity": {
      "id": "LinkedEntity",
      "description": "EntityMentions can be linked to multiple entities using a LinkedEntity message lets us add other fields, e.g. confidence.",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "entity_id is a concept unique identifier. These are prefixed by a string that identifies the entity coding system, followed by the unique identifier within that system. For example, \"UMLS/C0000970\". This also supports ad hoc entities, which are formed by normalizing entity mention content."
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      }
    },
    "ImageConfig": {
      "id": "ImageConfig",
      "description": "Specifies how to handle de-identification of image pixels.",
      "properties": {
        "textRedactionMode": {
          "enumDescriptions": [
            "No text redaction specified. Same as REDACT_NO_TEXT.",
            "Redact all text.",
            "Redact sensitive text.",
            "Do not redact text."
          ],
          "description": "Determines how to redact text from image.",
          "enum": [
            "TEXT_REDACTION_MODE_UNSPECIFIED",
            "REDACT_ALL_TEXT",
            "REDACT_SENSITIVE_TEXT",
            "REDACT_NO_TEXT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "FieldMetadata": {
      "type": "object",
      "id": "FieldMetadata",
      "properties": {
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "TRANSFORM",
            "INSPECT_AND_TRANSFORM",
            "DO_NOT_TRANSFORM"
          ],
          "type": "string",
          "description": "Deidentify action for one field.",
          "enumDescriptions": [
            "No action specified.",
            "Transform the entire field based on transformations specified in TextConfig. When the specified transformation cannot be applied to a field, RedactConfig is used. For example, a Crypto Hash transformation can't be applied to a FHIR Date field.",
            "Inspect and transform any found PHI. When `AnnotationConfig` is provided, annotations of PHI will be generated, except for Date and Datetime.",
            "Do not transform."
          ]
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of paths to FHIR fields to redact. Each path is a period-separated list where each component is either a field name or FHIR type name. All types begin with an upper case letter. For example, the resource field \"Patient.Address.city\", which uses a string type, can be matched by \"Patient.Address.String\". Path also supports partial matching. For example, \"Patient.Address.city\" can be matched by \"Address.city\" (Patient omitted). Partial matching and type matching can be combined. For example, \"Patient.Address.city\" can be matched by \"Address.String\". For \"choice\" types (those defined in the FHIR spec with the form: field[x]), use two separate components. For example, \"deceasedAge.unit\" is matched by \"Deceased.Age.unit\". Supported types are: AdministrativeGenderCode, Code, Date, DateTime, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml. The sub-type for HumanName, such as HumanName.given or HumanName.family, can be omitted."
        }
      },
      "description": "Specifies FHIR paths to match, and how to handle de-identification of matching fields."
    },
    "TagFilterList": {
      "type": "object",
      "description": "List of tags to be filtered.",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags to be filtered. Tags must be DICOM Data Elements, File Meta Elements, or Directory Structuring Elements, as defined at: http://dicom.nema.org/medical/dicom/current/output/html/part06.html#table_6-1,. They may be provided by \"Keyword\" or \"Tag\". For example, \"PatientID\", \"00100010\".",
          "type": "array"
        }
      },
      "id": "TagFilterList"
    },
    "GoogleCloudHealthcareV1beta1FhirImportResourcesResponse": {
      "properties": {},
      "id": "GoogleCloudHealthcareV1beta1FhirImportResourcesResponse",
      "description": "Final response of importing resources. This structure is included in the response to describe the detailed outcome after the operation finishes successfully.",
      "type": "object"
    },
    "ExportResourcesRequest": {
      "id": "ExportResourcesRequest",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudHealthcareV1beta1FhirGcsDestination",
          "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location. The exported outputs are organized by FHIR resource types. The server creates one object per resource type. Each object contains newline delimited JSON, and each line is a FHIR resource."
        },
        "bigqueryDestination": {
          "$ref": "GoogleCloudHealthcareV1beta1FhirBigQueryDestination",
          "description": "The BigQuery output destination. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`. The output is one BigQuery table per resource type."
        },
        "_type": {
          "type": "string",
          "description": "String of comma-delimited FHIR resource types. If provided, only resources of the specified resource type(s) are exported."
        },
        "_since": {
          "type": "string",
          "description": "If provided, only resources updated after this time are exported. The time uses the format YYYY-MM-DDThh:mm:ss.sss+zz:zz. For example, `2015-02-07T13:28:17.239+02:00` or `2017-01-01T00:00:00Z`. The time must be specified to the second and include a time zone."
        }
      },
      "description": "Request to export resources.",
      "type": "object"
    },
    "GoogleCloudHealthcareV1beta1ConsentGcsDestination": {
      "type": "object",
      "id": "GoogleCloudHealthcareV1beta1ConsentGcsDestination",
      "properties": {
        "uriPrefix": {
          "type": "string",
[...]
