{
  "batchPath": "batch",
  "title": "Cloud Talent Solution API",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://jobs.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "tenants": {
          "resources": {
            "clientEvents": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the tenant under which the event is created. The format is \"projects/{project_id}/tenants/{tenant_id}\", for example, \"projects/foo/tenants/bar\"."
                    }
                  },
                  "description": "Report events issued when end user interacts with customer's application that uses Cloud Talent Solution. You may inspect the created events in [self service tools](https://console.cloud.google.com/talent-solution/overview). [Learn more](https://cloud.google.com/talent-solution/docs/management-tools) about self service tools.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudTalentV4ClientEvent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/clientEvents",
                  "path": "v4/{+parent}/clientEvents",
                  "id": "jobs.projects.tenants.clientEvents.create",
                  "request": {
                    "$ref": "GoogleCloudTalentV4ClientEvent"
                  }
                }
              }
            },
            "jobs": {
              "methods": {
                "searchForAlert": {
                  "id": "jobs.projects.tenants.jobs.searchForAlert",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "request": {
                    "$ref": "GoogleCloudTalentV4SearchJobsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The resource name of the tenant to search within. The format is \"projects/{project_id}/tenants/{tenant_id}\". For example, \"projects/foo/tenants/bar\".",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudTalentV4SearchJobsResponse"
                  },
                  "path": "v4/{+parent}/jobs:searchForAlert",
                  "description": "Searches for jobs using the provided SearchJobsRequest. This API call is intended for the use case of targeting passive job seekers (for example, job seekers who have signed up to receive email alerts about potential job opportunities), it has different algorithmic adjustments that are designed to specifically target passive job seekers. This call constrains the visibility of jobs present in the database, and only returns jobs the caller has permission to search against.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs:searchForAlert"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "path": "v4/{+name}",
                  "id": "jobs.projects.tenants.jobs.get",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs/{jobsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+/jobs/[^/]+$",
                      "description": "Required. The resource name of the job to retrieve. The format is \"projects/{project_id}/tenants/{tenant_id}/jobs/{job_id}\". For example, \"projects/foo/tenants/bar/jobs/baz\".",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Retrieves the specified job, whose status is OPEN or recently EXPIRED within the last 90 days.",
                  "response": {
                    "$ref": "GoogleCloudTalentV4Job"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "id": "jobs.projects.tenants.jobs.patch",
                  "path": "v4/{+name}",
                  "response": {
                    "$ref": "GoogleCloudTalentV4Job"
                  },
                  "description": "Updates specified job. Typically, updated contents become visible in search results within 10 seconds, but it may take up to 5 minutes.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs/{jobsId}",
                  "request": {
                    "$ref": "GoogleCloudTalentV4Job"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required during job update. The resource name for the job. This is generated by the service when a job is created. The format is \"projects/{project_id}/tenants/{tenant_id}/jobs/{job_id}\". For example, \"projects/foo/tenants/bar/jobs/baz\". Use of this field in job queries and API calls is preferred over the use of requisition_id since this value is unique.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/jobs/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Strongly recommended for the best service experience. If update_mask is provided, only the specified fields in job are updated. Otherwise all the fields are updated. A field mask to restrict the fields that are updated. Only top level fields of Job are supported.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "search": {
                  "path": "v4/{+parent}/jobs:search",
                  "httpMethod": "POST",
                  "description": "Searches for jobs using the provided SearchJobsRequest. This call constrains the visibility of jobs present in the database, and only returns jobs that the caller has permission to search against.",
                  "id": "jobs.projects.tenants.jobs.search",
                  "request": {
                    "$ref": "GoogleCloudTalentV4SearchJobsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the tenant to search within. The format is \"projects/{project_id}/tenants/{tenant_id}\". For example, \"projects/foo/tenants/bar\".",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs:search",
                  "response": {
                    "$ref": "GoogleCloudTalentV4SearchJobsResponse"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v4/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "jobs.projects.tenants.jobs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the job to be deleted. The format is \"projects/{project_id}/tenants/{tenant_id}/jobs/{job_id}\". For example, \"projects/foo/tenants/bar/jobs/baz\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs/{jobsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "description": "Deletes the specified job. Typically, the job becomes unsearchable within 10 seconds, but it may take up to 5 minutes."
                },
                "create": {
                  "id": "jobs.projects.tenants.jobs.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the tenant under which the job is created. The format is \"projects/{project_id}/tenants/{tenant_id}\". For example, \"projects/foo/tenants/bar\".",
                      "location": "path"
                    }
                  },
                  "path": "v4/{+parent}/jobs",
                  "httpMethod": "POST",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs",
                  "request": {
                    "$ref": "GoogleCloudTalentV4Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "response": {
                    "$ref": "GoogleCloudTalentV4Job"
                  },
                  "description": "Creates a new job. Typically, the job becomes searchable within 10 seconds, but it may take up to 5 minutes.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "batchUpdate": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudTalentV4BatchUpdateJobsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the tenant under which the job is created. The format is \"projects/{project_id}/tenants/{tenant_id}\". For example, \"projects/foo/tenants/bar\"."
                    }
                  },
                  "id": "jobs.projects.tenants.jobs.batchUpdate",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs:batchUpdate",
                  "description": "Begins executing a batch update jobs operation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "path": "v4/{+parent}/jobs:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "batchDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the tenant under which the job is created. The format is \"projects/{project_id}/tenants/{tenant_id}\". For example, \"projects/foo/tenants/bar\". The parent of all of the jobs specified in `names` must match this field.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs:batchDelete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v4/{+parent}/jobs:batchDelete",
                  "id": "jobs.projects.tenants.jobs.batchDelete",
                  "description": "Begins executing a batch delete jobs operation.",
                  "request": {
                    "$ref": "GoogleCloudTalentV4BatchDeleteJobsRequest"
                  }
                },
                "batchCreate": {
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs:batchCreate",
                  "path": "v4/{+parent}/jobs:batchCreate",
                  "request": {
                    "$ref": "GoogleCloudTalentV4BatchCreateJobsRequest"
                  },
                  "id": "jobs.projects.tenants.jobs.batchCreate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource name of the tenant under which the job is created. The format is \"projects/{project_id}/tenants/{tenant_id}\". For example, \"projects/foo/tenants/bar\".",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Begins executing a batch create jobs operation."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "path": "v4/{+parent}/jobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists jobs by filter.",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/jobs",
                  "id": "jobs.projects.tenants.jobs.list",
                  "response": {
                    "$ref": "GoogleCloudTalentV4ListJobsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Required. The filter string specifies the jobs to be enumerated. Supported operator: =, AND The fields eligible for filtering are: * `companyName` (Required) * `requisitionId` * `status` Available values: OPEN, EXPIRED, ALL. Defaults to OPEN if no value is specified. Sample Query: * companyName = \"projects/foo/tenants/bar/companies/baz\" * companyName = \"projects/foo/tenants/bar/companies/baz\" AND requisitionId = \"req-1\" * companyName = \"projects/foo/tenants/bar/companies/baz\" AND status = \"EXPIRED\"",
                      "location": "query"
                    },
                    "jobView": {
                      "enumDescriptions": [
                        "Default value.",
                        "A ID only view of job, with following attributes: Job.name, Job.requisition_id, Job.language_code.",
                        "A minimal view of the job, with the following attributes: Job.name, Job.requisition_id, Job.title, Job.company, Job.DerivedInfo.locations, Job.language_code.",
                        "A small view of the job, with the following attributes in the search results: Job.name, Job.requisition_id, Job.title, Job.company, Job.DerivedInfo.locations, Job.visibility, Job.language_code, Job.description.",
                        "All available attributes are included in the search results."
                      ],
                      "enum": [
                        "JOB_VIEW_UNSPECIFIED",
                        "JOB_VIEW_ID_ONLY",
                        "JOB_VIEW_MINIMAL",
                        "JOB_VIEW_SMALL",
                        "JOB_VIEW_FULL"
                      ],
                      "type": "string",
                      "location": "query",
                      "description": "The desired job attributes returned for jobs in the search response. Defaults to JobView.JOB_VIEW_FULL if no value is specified."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of jobs to be returned per page of results. If job_view is set to JobView.JOB_VIEW_ID_ONLY, the maximum allowed page size is 1000. Otherwise, the maximum allowed page size is 100. Default is 100 if empty or a number \u003c 1 is specified."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The starting point of a query result."
                    },
                    "parent": {
                      "description": "Required. The resource name of the tenant under which the job is created. The format is \"projects/{project_id}/tenants/{tenant_id}\". For example, \"projects/foo/tenants/bar\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "companies": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/companies/[^/]+$",
                      "description": "Required. The resource name of the company to be retrieved. The format is \"projects/{project_id}/tenants/{tenant_id}/companies/{company_id}\", for example, \"projects/api-test-project/tenants/foo/companies/bar\"."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "id": "jobs.projects.tenants.companies.get",
                  "description": "Retrieves specified company.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudTalentV4Company"
                  },
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/companies/{companiesId}",
                  "path": "v4/{+name}",
                  "httpMethod": "GET"
                },
                "delete": {
                  "description": "Deletes specified company. Prerequisite: The company has no jobs associated with it.",
                  "path": "v4/{+name}",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/companies/{companiesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "jobs.projects.tenants.companies.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the company to be deleted. The format is \"projects/{project_id}/tenants/{tenant_id}/companies/{company_id}\", for example, \"projects/foo/tenants/bar/companies/baz\".",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/companies/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "jobs.projects.tenants.companies.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "response": {
                    "$ref": "GoogleCloudTalentV4Company"
                  },
                  "description": "Updates specified company.",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/companies/{companiesId}",
                  "httpMethod": "PATCH",
                  "path": "v4/{+name}",
                  "request": {
                    "$ref": "GoogleCloudTalentV4Company"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required during company update. The resource name for a company. This is generated by the service when a company is created. The format is \"projects/{project_id}/tenants/{tenant_id}/companies/{company_id}\", for example, \"projects/foo/tenants/bar/companies/baz\".",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/companies/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Strongly recommended for the best service experience. If update_mask is provided, only the specified fields in company are updated. Otherwise all the fields are updated. A field mask to specify the company fields to be updated. Only top level fields of Company are supported."
                    }
                  }
                },
                "list": {
                  "description": "Lists all companies associated with the project.",
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/companies",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudTalentV4ListCompaniesResponse"
                  },
                  "path": "v4/{+parent}/companies",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of companies to be returned, at most 100. Default is 100 if a non-positive number is provided.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. Resource name of the tenant under which the company is created. The format is \"projects/{project_id}/tenants/{tenant_id}\", for example, \"projects/foo/tenants/bar\".",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The starting indicator from which to return results.",
                      "location": "query"
                    },
                    "requireOpenJobs": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Set to true if the companies requested must have open jobs. Defaults to false. If true, at most page_size of companies are fetched, among which only those with open jobs are returned."
                    }
                  },
                  "id": "jobs.projects.tenants.companies.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "description": "Creates a new company entity.",
                  "id": "jobs.projects.tenants.companies.create",
                  "request": {
                    "$ref": "GoogleCloudTalentV4Company"
                  },
                  "path": "v4/{+parent}/companies",
                  "parameters": {
                    "parent": {
                      "description": "Required. Resource name of the tenant under which the company is created. The format is \"projects/{project_id}/tenants/{tenant_id}\", for example, \"projects/foo/tenants/bar\".",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/jobs"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}/companies",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudTalentV4Company"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Resource name of the project under which the tenant is created. The format is \"projects/{project_id}\", for example, \"projects/foo\".",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v4/projects/{projectsId}/tenants",
              "id": "jobs.projects.tenants.create",
              "request": {
                "$ref": "GoogleCloudTalentV4Tenant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/jobs"
              ],
              "httpMethod": "POST",
              "path": "v4/{+parent}/tenants",
              "description": "Creates a new tenant entity.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudTalentV4Tenant"
              }
            },
            "completeQuery": {
              "description": "Completes the specified prefix with keyword suggestions. Intended for use by a job search auto-complete search box.",
              "parameterOrder": [
                "tenant"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/jobs"
              ],
              "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}:completeQuery",
              "response": {
                "$ref": "GoogleCloudTalentV4CompleteQueryResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Required. Completion result count. The maximum allowed page size is 10.",
                  "location": "query",
                  "format": "int32"
                },
                "languageCodes": {
                  "repeated": true,
                  "location": "query",
                  "description": "The list of languages of the query. This is the BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47). The maximum number of allowed characters is 255.",
                  "type": "string"
                },
                "tenant": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of tenant the completion is performed within. The format is \"projects/{project_id}/tenants/{tenant_id}\", for example, \"projects/foo/tenants/bar\"."
                },
                "company": {
                  "type": "string",
                  "description": "If provided, restricts completion to specified company. The format is \"projects/{project_id}/tenants/{tenant_id}/companies/{company_id}\", for example, \"projects/foo/tenants/bar/companies/baz\".",
                  "location": "query"
                },
                "query": {
                  "description": "Required. The query used to generate suggestions. The maximum number of allowed characters is 255.",
                  "location": "query",
                  "type": "string"
                },
                "scope": {
                  "enum": [
                    "COMPLETION_SCOPE_UNSPECIFIED",
                    "TENANT",
                    "PUBLIC"
                  ],
                  "location": "query",
                  "description": "The scope of the completion. The defaults is CompletionScope.PUBLIC.",
                  "enumDescriptions": [
                    "Default value.",
                    "Suggestions are based only on the data provided by the client.",
                    "Suggestions are based on all jobs data in the system that's visible to the client"
                  ],
                  "type": "string"
                },
                "type": {
                  "description": "The completion topic. The default is CompletionType.COMBINED.",
                  "type": "string",
                  "enum": [
                    "COMPLETION_TYPE_UNSPECIFIED",
                    "JOB_TITLE",
                    "COMPANY_NAME",
                    "COMBINED"
                  ],
                  "enumDescriptions": [
                    "Default value.",
                    "Suggest job titles for jobs autocomplete. For CompletionType.JOB_TITLE type, only open jobs with the same language_codes are returned.",
                    "Suggest company names for jobs autocomplete. For CompletionType.COMPANY_NAME type, only companies having open jobs with the same language_codes are returned.",
                    "Suggest both job titles and company names for jobs autocomplete. For CompletionType.COMBINED type, only open jobs with the same language_codes or companies having open jobs with the same language_codes are returned."
                  ],
                  "location": "query"
                }
              },
              "id": "jobs.projects.tenants.completeQuery",
              "path": "v4/{+tenant}:completeQuery"
            },
            "delete": {
              "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the tenant to be deleted. The format is \"projects/{project_id}/tenants/{tenant_id}\", for example, \"projects/foo/tenants/bar\".",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/jobs"
              ],
              "description": "Deletes specified tenant.",
              "httpMethod": "DELETE",
              "path": "v4/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "id": "jobs.projects.tenants.delete"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/jobs"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves specified tenant.",
              "path": "v4/{+name}",
              "response": {
                "$ref": "GoogleCloudTalentV4Tenant"
              },
              "httpMethod": "GET",
              "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "Required. The resource name of the tenant to be retrieved. The format is \"projects/{project_id}/tenants/{tenant_id}\", for example, \"projects/foo/tenants/bar\".",
                  "type": "string"
                }
              },
              "id": "jobs.projects.tenants.get"
            },
            "patch": {
              "path": "v4/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v4/projects/{projectsId}/tenants/{tenantsId}",
              "id": "jobs.projects.tenants.patch",
              "response": {
                "$ref": "GoogleCloudTalentV4Tenant"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/jobs"
              ],
              "request": {
                "$ref": "GoogleCloudTalentV4Tenant"
              },
              "description": "Updates specified tenant.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "Required during tenant update. The resource name for a tenant. This is generated by the service when a tenant is created. The format is \"projects/{project_id}/tenants/{tenant_id}\", for example, \"projects/foo/tenants/bar\"."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Strongly recommended for the best service experience. If update_mask is provided, only the specified fields in tenant are updated. Otherwise all the fields are updated. A field mask to specify the tenant fields to be updated. Only top level fields of Tenant are supported."
                }
              }
            },
            "list": {
              "description": "Lists all tenants associated with the project.",
              "flatPath": "v4/projects/{projectsId}/tenants",
              "id": "jobs.projects.tenants.list",
              "path": "v4/{+parent}/tenants",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/jobs"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of tenants to be returned, at most 100. Default is 100 if a non-positive number is provided.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The starting indicator from which to return results.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Resource name of the project under which the tenant is created. The format is \"projects/{project_id}\", for example, \"projects/foo\".",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudTalentV4ListTenantsResponse"
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/jobs": {
          "description": "Manage job postings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version": "v4",
  "name": "jobs",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://jobs.googleapis.com/",
  "revision": "20201111",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "version_module": true,
  "description": "Cloud Talent Solution provides the capability to create, read, update, and delete job postings, as well as search jobs based on keywords and filters. ",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudTalentV4BatchDeleteJobsResponse": {
      "id": "GoogleCloudTalentV4BatchDeleteJobsResponse",
      "properties": {
        "jobResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudTalentV4JobResult"
          },
          "description": "List of job mutation results from a batch delete operation. It can change until operation status is FINISHED, FAILED or CANCELLED."
        }
      },
      "type": "object",
      "description": "The result of JobService.BatchDeleteJobs. It's used to replace google.longrunning.Operation.response in case of success."
    },
    "GoogleCloudTalentV4Location": {
      "properties": {
        "radiusMiles": {
          "format": "double",
          "type": "number",
          "description": "Radius in miles of the job location. This value is derived from the location bounding box in which a circle with the specified radius centered from google.type.LatLng covers the area associated with the job location. For example, currently, \"Mountain View, CA, USA\" has a radius of 6.17 miles."
        },
        "postalAddress": {
          "$ref": "PostalAddress",
          "description": "Postal address of the location that includes human readable information, such as postal delivery and payments addresses. Given a postal address, a postal service can deliver items to a premises, P.O. Box, or other delivery location."
        },
        "latLng": {
          "$ref": "LatLng",
          "description": "An object representing a latitude/longitude pair."
        },
        "locationType": {
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "COUNTRY",
            "ADMINISTRATIVE_AREA",
            "SUB_ADMINISTRATIVE_AREA",
            "LOCALITY",
            "POSTAL_CODE",
            "SUB_LOCALITY",
            "SUB_LOCALITY_1",
            "SUB_LOCALITY_2",
            "NEIGHBORHOOD",
            "STREET_ADDRESS"
          ],
          "description": "The type of a location, which corresponds to the address lines field of google.type.PostalAddress. For example, \"Downtown, Atlanta, GA, USA\" has a type of LocationType.NEIGHBORHOOD, and \"Kansas City, KS, USA\" has a type of LocationType.LOCALITY.",
          "type": "string",
          "enumDescriptions": [
            "Default value if the type isn't specified.",
            "A country level location.",
            "A state or equivalent level location.",
            "A county or equivalent level location.",
            "A city or equivalent level location.",
            "A postal code level location.",
            "A sublocality is a subdivision of a locality, for example a city borough, ward, or arrondissement. Sublocalities are usually recognized by a local political authority. For example, Manhattan and Brooklyn are recognized as boroughs by the City of New York, and are therefore modeled as sublocalities.",
            "A district or equivalent level location.",
            "A smaller district or equivalent level display.",
            "A neighborhood level location.",
            "A street address level location."
          ]
        }
      },
      "type": "object",
      "description": "A resource that represents a location with full geographic information.",
      "id": "GoogleCloudTalentV4Location"
    },
    "GoogleCloudTalentV4TimestampRange": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "End of the period (exclusive).",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Begin of the period (inclusive)."
        }
      },
      "id": "GoogleCloudTalentV4TimestampRange",
      "description": "Message representing a period of time between two timestamps."
    },
    "GoogleCloudTalentV4BatchCreateJobsRequest": {
      "properties": {
        "jobs": {
          "description": "Required. The jobs to be created. A maximum of 200 jobs can be created in a batch.",
          "items": {
            "$ref": "GoogleCloudTalentV4Job"
          },
          "type": "array"
        }
      },
      "description": "Request to create a batch of jobs.",
      "id": "GoogleCloudTalentV4BatchCreateJobsRequest",
      "type": "object"
    },
    "GoogleCloudTalentV4SearchJobsRequest": {
      "id": "GoogleCloudTalentV4SearchJobsRequest",
      "description": "The Request body of the `SearchJobs` call.",
      "properties": {
        "jobView": {
          "description": "The desired job attributes returned for jobs in the search response. Defaults to JobView.JOB_VIEW_SMALL if no value is specified.",
          "type": "string",
          "enum": [
            "JOB_VIEW_UNSPECIFIED",
            "JOB_VIEW_ID_ONLY",
            "JOB_VIEW_MINIMAL",
            "JOB_VIEW_SMALL",
            "JOB_VIEW_FULL"
          ],
          "enumDescriptions": [
            "Default value.",
            "A ID only view of job, with following attributes: Job.name, Job.requisition_id, Job.language_code.",
            "A minimal view of the job, with the following attributes: Job.name, Job.requisition_id, Job.title, Job.company, Job.DerivedInfo.locations, Job.language_code.",
            "A small view of the job, with the following attributes in the search results: Job.name, Job.requisition_id, Job.title, Job.company, Job.DerivedInfo.locations, Job.visibility, Job.language_code, Job.description.",
            "All available attributes are included in the search results."
          ]
        },
        "pageToken": {
          "description": "The token specifying the current offset within search results. See SearchJobsResponse.next_page_token for an explanation of how to obtain the next set of query results.",
          "type": "string"
        },
        "jobQuery": {
          "description": "Query used to search against jobs, such as keyword, location filters, etc.",
          "$ref": "GoogleCloudTalentV4JobQuery"
        },
        "maxPageSize": {
          "type": "integer",
          "description": "A limit on the number of jobs returned in the search results. Increasing this value above the default value of 10 can increase search response time. The value can be between 1 and 100.",
          "format": "int32"
        },
        "searchMode": {
          "enumDescriptions": [
            "The mode of the search method isn't specified. The default search behavior is identical to JOB_SEARCH search behavior.",
            "The job search matches against all jobs, and featured jobs (jobs with promotionValue \u003e 0) are not specially handled.",
            "The job search matches only against featured jobs (jobs with a promotionValue \u003e 0). This method doesn't return any jobs having a promotionValue \u003c= 0. The search results order is determined by the promotionValue (jobs with a higher promotionValue are returned higher up in the search results), with relevance being used as a tiebreaker."
          ],
          "enum": [
            "SEARCH_MODE_UNSPECIFIED",
            "JOB_SEARCH",
            "FEATURED_JOB_SEARCH"
          ],
          "description": "Mode of a search. Defaults to SearchMode.JOB_SEARCH.",
          "type": "string"
        },
        "customRankingInfo": {
          "$ref": "GoogleCloudTalentV4SearchJobsRequestCustomRankingInfo",
          "description": "Controls over how job documents get ranked on top of existing relevance score (determined by API algorithm)."
        },
        "requestMetadata": {
          "$ref": "GoogleCloudTalentV4RequestMetadata",
          "description": "Required. The meta information collected about the job searcher, used to improve the search quality of the service. The identifiers (such as `user_id`) are provided by users, and must be unique and consistent."
        },
        "disableKeywordMatch": {
          "description": "Controls whether to disable exact keyword match on Job.title, Job.description, Job.company_display_name, Job.addresses, Job.qualifications. When disable keyword match is turned off, a keyword match returns jobs that do not match given category filters when there are matching keywords. For example, for the query \"program manager,\" a result is returned even if the job posting has the title \"software developer,\" which doesn't fall into \"program manager\" ontology, but does have \"program manager\" appearing in its description. For queries like \"cloud\" that don't contain title or location specific ontology, jobs with \"cloud\" keyword matches are returned regardless of this flag's value. Use Company.keyword_searchable_job_custom_attributes if company-specific globally matched custom field/attribute string values are needed. Enabling keyword match improves recall of subsequent search requests. Defaults to false.",
          "type": "boolean"
        },
        "orderBy": {
          "description": "The criteria determining how search results are sorted. Default is `\"relevance desc\"`. Supported options are: * `\"relevance desc\"`: By relevance descending, as determined by the API algorithms. Relevance thresholding of query results is only available with this ordering. * `\"posting_publish_time desc\"`: By Job.posting_publish_time descending. * `\"posting_update_time desc\"`: By Job.posting_update_time descending. * `\"title\"`: By Job.title ascending. * `\"title desc\"`: By Job.title descending. * `\"annualized_base_compensation\"`: By job's CompensationInfo.annualized_base_compensation_range ascending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"annualized_base_compensation desc\"`: By job's CompensationInfo.annualized_base_compensation_range descending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"annualized_total_compensation\"`: By job's CompensationInfo.annualized_total_compensation_range ascending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"annualized_total_compensation desc\"`: By job's CompensationInfo.annualized_total_compensation_range descending. Jobs whose annualized base compensation is unspecified are put at the end of search results. * `\"custom_ranking desc\"`: By the relevance score adjusted to the SearchJobsRequest.CustomRankingInfo.ranking_expression with weight factor assigned by SearchJobsRequest.CustomRankingInfo.importance_level in descending order. * Location sorting: Use the special syntax to order jobs by distance: `\"distance_from('Hawaii')\"`: Order by distance from Hawaii. `\"distance_from(19.89, 155.5)\"`: Order by distance from a coordinate. `\"distance_from('Hawaii'), distance_from('Puerto Rico')\"`: Order by multiple locations. See details below. `\"distance_from('Hawaii'), distance_from(19.89, 155.5)\"`: Order by multiple locations. See details below. The string can have a maximum of 256 characters. When multiple distance centers are provided, a job that is close to any of the distance centers would have a high rank. When a job has multiple locations, the job location closest to one of the distance centers will be used. Jobs that don't have locations will be ranked at the bottom. Distance is calculated with a precision of 11.3 meters (37.4 feet). Diversification strategy is still applied unless explicitly disabled in diversification_level.",
          "type": "string"
        },
        "histogramQueries": {
          "description": "An expression specifies a histogram request against matching jobs. Expression syntax is an aggregation function call with histogram facets and other options. Available aggregation function calls are: * `count(string_histogram_facet)`: Count the number of matching entities, for each distinct attribute value. * `count(numeric_histogram_facet, list of buckets)`: Count the number of matching entities within each bucket. Data types: * Histogram facet: facet names with format a-zA-Z+. * String: string like \"any string with backslash escape for quote(\\\").\" * Number: whole number and floating point number like 10, -1 and -0.01. * List: list of elements with comma(,) separator surrounded by square brackets, for example, [1, 2, 3] and [\"one\", \"two\", \"three\"]. Built-in constants: * MIN (minimum number similar to java Double.MIN_VALUE) * MAX (maximum number similar to java Double.MAX_VALUE) Built-in functions: * bucket(start, end[, label]): bucket built-in function creates a bucket with range of start, end). Note that the end is exclusive, for example, bucket(1, MAX, \"positive number\") or bucket(1, 10). Job histogram facets: * company_display_name: histogram by [Job.company_display_name. * employment_type: histogram by Job.employment_types, for example, \"FULL_TIME\", \"PART_TIME\". * company_size: histogram by CompanySize, for example, \"SMALL\", \"MEDIUM\", \"BIG\". * publish_time_in_month: histogram by the Job.posting_publish_time in months. Must specify list of numeric buckets in spec. * publish_time_in_year: histogram by the Job.posting_publish_time in years. Must specify list of numeric buckets in spec. * degree_types: histogram by the Job.degree_types, for example, \"Bachelors\", \"Masters\". * job_level: histogram by the Job.job_level, for example, \"Entry Level\". * country: histogram by the country code of jobs, for example, \"US\", \"FR\". * admin1: histogram by the admin1 code of jobs, which is a global placeholder referring to the state, province, or the particular term a country uses to define the geographic structure below the country level, for example, \"CA\", \"IL\". * city: histogram by a combination of the \"city name, admin1 code\". For example, \"Mountain View, CA\", \"New York, NY\". * admin1_country: histogram by a combination of the \"admin1 code, country\", for example, \"CA, US\", \"IL, US\". * city_coordinate: histogram by the city center's GPS coordinates (latitude and longitude), for example, 37.4038522,-122.0987765. Since the coordinates of a city center can change, customers may need to refresh them periodically. * locale: histogram by the Job.language_code, for example, \"en-US\", \"fr-FR\". * language: histogram by the language subtag of the Job.language_code, for example, \"en\", \"fr\". * category: histogram by the JobCategory, for example, \"COMPUTER_AND_IT\", \"HEALTHCARE\". * base_compensation_unit: histogram by the CompensationInfo.CompensationUnit of base salary, for example, \"WEEKLY\", \"MONTHLY\". * base_compensation: histogram by the base salary. Must specify list of numeric buckets to group results by. * annualized_base_compensation: histogram by the base annualized salary. Must specify list of numeric buckets to group results by. * annualized_total_compensation: histogram by the total annualized salary. Must specify list of numeric buckets to group results by. * string_custom_attribute: histogram by string Job.custom_attributes. Values can be accessed via square bracket notations like string_custom_attribute[\"key1\"]. * numeric_custom_attribute: histogram by numeric Job.custom_attributes. Values can be accessed via square bracket notations like numeric_custom_attribute[\"key1\"]. Must specify list of numeric buckets to group results by. Example expressions: * `count(admin1)` * `count(base_compensation, [bucket(1000, 10000), bucket(10000, 100000), bucket(100000, MAX)])` * `count(string_custom_attribute[\"some-string-custom-attribute\"])` * `count(numeric_custom_attribute[\"some-numeric-custom-attribute\"], [bucket(MIN, 0, \"negative\"), bucket(0, MAX, \"non-negative\"])`",
          "items": {
            "$ref": "GoogleCloudTalentV4HistogramQuery"
          },
          "type": "array"
        },
        "enableBroadening": {
          "type": "boolean",
          "description": "Controls whether to broaden the search when it produces sparse results. Broadened queries append results to the end of the matching results list. Defaults to false."
        },
        "offset": {
          "description": "An integer that specifies the current offset (that is, starting result location, amongst the jobs deemed by the API as relevant) in search results. This field is only considered if page_token is unset. The maximum allowed value is 5000. Otherwise an error is thrown. For example, 0 means to return results starting from the first matching job, and 10 means to return from the 11th job. This can be used for pagination, (for example, pageSize = 10 and offset = 10 means to return from the second page).",
          "type": "integer",
          "format": "int32"
        },
        "diversificationLevel": {
          "description": "Controls whether highly similar jobs are returned next to each other in the search results. Jobs are identified as highly similar based on their titles, job categories, and locations. Highly similar results are clustered so that only one representative job of the cluster is displayed to the job seeker higher up in the results, with the other jobs being displayed lower down in the results. Defaults to DiversificationLevel.SIMPLE if no value is specified.",
          "type": "string",
          "enum": [
            "DIVERSIFICATION_LEVEL_UNSPECIFIED",
            "DISABLED",
            "SIMPLE"
          ],
          "enumDescriptions": [
            "The diversification level isn't specified.",
            "Disables diversification. Jobs that would normally be pushed to the last page would not have their positions altered. This may result in highly similar jobs appearing in sequence in the search results.",
            "Default diversifying behavior. The result list is ordered so that highly similar results are pushed to the end of the last page of search results. If you are using pageToken to page through the result set, latency might be lower but we can't guarantee that all results are returned. If you are using page offset, latency might be higher but all results are returned."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4JobEvent": {
      "id": "GoogleCloudTalentV4JobEvent",
      "properties": {
        "jobs": {
          "description": "Required. The job name(s) associated with this event. For example, if this is an impression event, this field contains the identifiers of all jobs shown to the job seeker. If this was a view event, this field contains the identifier of the viewed job. The format is \"projects/{project_id}/tenants/{tenant_id}/jobs/{job_id}\", for example, \"projects/foo/tenants/bar/jobs/baz\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "The event is unspecified by other provided values.",
            "The job seeker or other entity interacting with the service has had a job rendered in their view, such as in a list of search results in a compressed or clipped format. This event is typically associated with the viewing of a jobs list on a single page by a job seeker.",
            "The job seeker, or other entity interacting with the service, has viewed the details of a job, including the full description. This event doesn't apply to the viewing a snippet of a job appearing as a part of the job search results. Viewing a snippet is associated with an impression).",
            "The job seeker or other entity interacting with the service performed an action to view a job and was redirected to a different website for job.",
            "The job seeker or other entity interacting with the service began the process or demonstrated the intention of applying for a job.",
            "The job seeker or other entity interacting with the service submitted an application for a job.",
            "The job seeker or other entity interacting with the service submitted an application for a job with a single click without entering information. If a job seeker performs this action, send only this event to the service. Do not also send JobEventType.APPLICATION_START or JobEventType.APPLICATION_FINISH events.",
            "The job seeker or other entity interacting with the service performed an action to apply to a job and was redirected to a different website to complete the application.",
            "The job seeker or other entity interacting with the service began the process or demonstrated the intention of applying for a job from the search results page without viewing the details of the job posting. If sending this event, JobEventType.VIEW event shouldn't be sent.",
            "The job seeker, or other entity interacting with the service, performs an action with a single click from the search results page to apply to a job (without viewing the details of the job posting), and is redirected to a different website to complete the application. If a candidate performs this action, send only this event to the service. Do not also send JobEventType.APPLICATION_START, JobEventType.APPLICATION_FINISH or JobEventType.VIEW events.",
            "This event should be used when a company submits an application on behalf of a job seeker. This event is intended for use by staffing agencies attempting to place candidates.",
            "The job seeker or other entity interacting with the service demonstrated an interest in a job by bookmarking or saving it.",
            "The job seeker or other entity interacting with the service was sent a notification, such as an email alert or device notification, containing one or more jobs listings generated by the service.",
            "The job seeker or other entity interacting with the service was employed by the hiring entity (employer). Send this event only if the job seeker was hired through an application that was initiated by a search conducted through the Cloud Talent Solution service.",
            "A recruiter or staffing agency submitted an application on behalf of the candidate after interacting with the service to identify a suitable job posting.",
            "The entity interacting with the service (for example, the job seeker), was granted an initial interview by the hiring entity (employer). This event should only be sent if the job seeker was granted an interview as part of an application that was initiated by a search conducted through / recommendation provided by the Cloud Talent Solution service."
          ],
          "description": "Required. The type of the event (see JobEventType).",
          "type": "string",
          "enum": [
            "JOB_EVENT_TYPE_UNSPECIFIED",
            "IMPRESSION",
            "VIEW",
            "VIEW_REDIRECT",
            "APPLICATION_START",
            "APPLICATION_FINISH",
            "APPLICATION_QUICK_SUBMISSION",
            "APPLICATION_REDIRECT",
            "APPLICATION_START_FROM_SEARCH",
            "APPLICATION_REDIRECT_FROM_SEARCH",
            "APPLICATION_COMPANY_SUBMIT",
            "BOOKMARK",
            "NOTIFICATION",
            "HIRED",
            "SENT_CV",
            "INTERVIEW_GRANTED"
          ]
        }
      },
      "description": "An event issued when a job seeker interacts with the application that implements Cloud Talent Solution.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "GoogleCloudTalentV4Company": {
      "description": "A Company resource represents a company in the service. A company is the entity that owns job postings, that is, the hiring entity responsible for employing applicants for the job position.",
      "id": "GoogleCloudTalentV4Company",
      "properties": {
        "size": {
          "description": "The employer's company size.",
          "enumDescriptions": [
            "Default value if the size isn't specified.",
            "The company has less than 50 employees.",
            "The company has between 50 and 99 employees.",
            "The company has between 100 and 499 employees.",
            "The company has between 500 and 999 employees.",
            "The company has between 1,000 and 4,999 employees.",
            "The company has between 5,000 and 9,999 employees.",
            "The company has 10,000 or more employees."
          ],
          "type": "string",
          "enum": [
            "COMPANY_SIZE_UNSPECIFIED",
            "MINI",
            "SMALL",
            "SMEDIUM",
            "MEDIUM",
            "BIG",
            "BIGGER",
            "GIANT"
          ]
        },
        "imageUri": {
          "description": "A URI that hosts the employer's company logo.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required during company update. The resource name for a company. This is generated by the service when a company is created. The format is \"projects/{project_id}/tenants/{tenant_id}/companies/{company_id}\", for example, \"projects/foo/tenants/bar/companies/baz\"."
        },
        "hiringAgency": {
          "description": "Set to true if it is the hiring agency that post jobs for other employers. Defaults to false if not provided.",
          "type": "boolean"
        },
        "derivedInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudTalentV4CompanyDerivedInfo",
          "description": "Output only. Derived details about the company."
        },
        "eeoText": {
          "type": "string",
          "description": "Equal Employment Opportunity legal disclaimer text to be associated with all jobs, and typically to be displayed in all roles. The maximum number of allowed characters is 500."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the company, for example, \"Google LLC\"."
        },
        "suspended": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether a company is flagged to be suspended from public availability by the service when job content appears suspicious, abusive, or spammy."
        },
        "externalId": {
          "type": "string",
          "description": "Required. Client side company identifier, used to uniquely identify the company. The maximum number of allowed characters is 255."
        },
        "websiteUri": {
          "description": "The URI representing the company's primary web site or home page, for example, \"https://www.google.com\". The maximum number of allowed characters is 255.",
          "type": "string"
        },
        "keywordSearchableJobCustomAttributes": {
          "type": "array",
          "description": "A list of keys of filterable Job.custom_attributes, whose corresponding `string_values` are used in keyword searches. Jobs with `string_values` under these specified field keys are returned if any of the values match the search keyword. Custom field values with parenthesis, brackets and special symbols are not searchable as-is, and those keyword queries must be surrounded by quotes.",
          "items": {
            "type": "string"
          }
        },
        "headquartersAddress": {
          "type": "string",
          "description": "The street address of the company's main headquarters, which may be different from the job location. The service attempts to geolocate the provided address, and populates a more specific location wherever possible in DerivedInfo.headquarters_location."
        },
        "careerSiteUri": {
          "type": "string",
          "description": "The URI to employer's career site or careers page on the employer's web site, for example, \"https://careers.google.com\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudTalentV4CompanyDerivedInfo": {
      "description": "Derived details about the company.",
      "type": "object",
      "properties": {
        "headquartersLocation": {
          "$ref": "GoogleCloudTalentV4Location",
          "description": "A structured headquarters location of the company, resolved from Company.headquarters_address if provided."
        }
      },
      "id": "GoogleCloudTalentV4CompanyDerivedInfo"
    },
    "GoogleCloudTalentV4BatchUpdateJobsRequest": {
      "type": "object",
      "id": "GoogleCloudTalentV4BatchUpdateJobsRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Strongly recommended for the best service experience. Be aware that it will also increase latency when checking the status of a batch operation. If update_mask is provided, only the specified fields in Job are updated. Otherwise all the fields are updated. A field mask to restrict the fields that are updated. Only top level fields of Job are supported. If update_mask is provided, The Job inside JobResult will only contains fields that is updated, plus the Id of the Job. Otherwise, Job will include all fields, which can yield a very large response."
        },
        "jobs": {
          "items": {
            "$ref": "GoogleCloudTalentV4Job"
          },
          "description": "Required. The jobs to be updated. A maximum of 200 jobs can be updated in a batch.",
          "type": "array"
        }
      },
      "description": "Request to update a batch of jobs."
    },
    "Job": {
      "type": "object",
      "description": "A Job resource represents a job posting (also referred to as a \"job listing\" or \"job requisition\"). A job belongs to a Company, which is the hiring entity responsible for the job.",
      "properties": {
        "derivedInfo": {
          "description": "Output only. Derived details about the job posting.",
          "readOnly": true,
          "$ref": "JobDerivedInfo"
        },
        "incentives": {
          "description": "A description of bonus, commission, and other compensation incentives associated with the job not including salary or pay. The maximum number of allowed characters is 10,000.",
          "type": "string"
        },
        "applicationInfo": {
          "description": "Job application information.",
          "$ref": "ApplicationInfo"
        },
        "employmentTypes": {
          "items": {
            "enum": [
              "EMPLOYMENT_TYPE_UNSPECIFIED",
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "CONTRACT_TO_HIRE",
              "TEMPORARY",
              "INTERN",
              "VOLUNTEER",
              "PER_DIEM",
              "FLY_IN_FLY_OUT",
              "OTHER_EMPLOYMENT_TYPE"
            ],
            "type": "string",
            "enumDescriptions": [
              "The default value if the employment type isn't specified.",
              "The job requires working a number of hours that constitute full time employment, typically 40 or more hours per week.",
              "The job entails working fewer hours than a full time job, typically less than 40 hours a week.",
              "The job is offered as a contracted, as opposed to a salaried employee, position.",
              "The job is offered as a contracted position with the understanding that it's converted into a full-time position at the end of the contract. Jobs of this type are also returned by a search for EmploymentType.CONTRACTOR jobs.",
              "The job is offered as a temporary employment opportunity, usually a short-term engagement.",
              "The job is a fixed-term opportunity for students or entry-level job seekers to obtain on-the-job training, typically offered as a summer position.",
              "The is an opportunity for an individual to volunteer, where there's no expectation of compensation for the provided services.",
              "The job requires an employee to work on an as-needed basis with a flexible schedule.",
              "The job involves employing people in remote areas and flying them temporarily to the work site instead of relocating employees and their families permanently.",
              "The job does not fit any of the other listed types."
            ]
          },
          "description": "The employment type(s) of a job, for example, full time or part time.",
          "type": "array"
        },
        "postingPublishTime": {
          "description": "The timestamp this job posting was most recently published. The default value is the time the request arrives at the server. Invalid timestamps are ignored.",
          "type": "string",
          "format": "google-datetime"
        },
        "languageCode": {
          "description": "The language of the posting. This field is distinct from any requirements for fluency that are associated with the job. Language codes must be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47){: class=\"external\" target=\"_blank\" }. If this field is unspecified and Job.description is present, detected language code based on Job.description is assigned, otherwise defaults to 'en_US'.",
          "type": "string"
        },
        "processingOptions": {
          "description": "Options for job processing.",
          "$ref": "ProcessingOptions"
        },
        "jobStartTime": {
          "type": "string",
          "description": "The start timestamp of the job in UTC time zone. Typically this field is used for contracting engagements. Invalid timestamps are ignored.",
          "format": "google-datetime"
        },
        "jobEndTime": {
          "description": "The end timestamp of the job. Typically this field is used for contracting engagements. Invalid timestamps are ignored.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Required during job update. The resource name for the job. This is generated by the service when a job is created. The format is \"projects/{project_id}/tenants/{tenant_id}/jobs/{job_id}\". For example, \"projects/foo/tenants/bar/jobs/baz\". If tenant id is unspecified, the default tenant is used. For example, \"projects/foo/jobs/bar\". Use of this field in job queries and API calls is preferred over the use of requisition_id since this value is unique."
        },
        "postingCreateTime": {
          "description": "Output only. The timestamp when this job posting was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "qualifications": {
          "type": "string",
          "description": "A description of the qualifications required to perform the job. The use of this field is recommended as an alternative to using the more general description field. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 10,000."
        },
        "degreeTypes": {
          "items": {
            "enum": [
              "DEGREE_TYPE_UNSPECIFIED",
              "PRIMARY_EDUCATION",
              "LOWER_SECONDARY_EDUCATION",
              "UPPER_SECONDARY_EDUCATION",
              "ADULT_REMEDIAL_EDUCATION",
              "ASSOCIATES_OR_EQUIVALENT",
              "BACHELORS_OR_EQUIVALENT",
              "MASTERS_OR_EQUIVALENT",
              "DOCTORAL_OR_EQUIVALENT"
            ],
            "enumDescriptions": [
              "Default value. Represents no degree, or early childhood education. Maps to ISCED code 0. Ex) Kindergarten",
              "Primary education which is typically the first stage of compulsory education. ISCED code 1. Ex) Elementary school",
              "Lower secondary education; First stage of secondary education building on primary education, typically with a more subject-oriented curriculum. ISCED code 2. Ex) Middle school",
              "Middle education; Second/final stage of secondary education preparing for tertiary education and/or providing skills relevant to employment. Usually with an increased range of subject options and streams. ISCED code 3. Ex) High school",
              "Adult Remedial Education; Programmes providing learning experiences that build on secondary education and prepare for labour market entry and/or tertiary education. The content is broader than secondary but not as complex as tertiary education. ISCED code 4.",
              "Associate's or equivalent; Short first tertiary programmes that are typically practically-based, occupationally-specific and prepare for labour market entry. These programmes may also provide a pathway to other tertiary programmes. ISCED code 5.",
              "Bachelor's or equivalent; Programmes designed to provide intermediate academic and/or professional knowledge, skills and competencies leading to a first tertiary degree or equivalent qualification. ISCED code 6.",
              "Master's or equivalent; Programmes designed to provide advanced academic and/or professional knowledge, skills and competencies leading to a second tertiary degree or equivalent qualification. ISCED code 7.",
              "Doctoral or equivalent; Programmes designed primarily to lead to an advanced research qualification, usually concluding with the submission and defense of a substantive dissertation of publishable quality based on original research. ISCED code 8."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The desired education degrees for the job, such as Bachelors, Masters."
        },
        "compensationInfo": {
          "$ref": "CompensationInfo",
          "description": "Job compensation information (a.k.a. \"pay rate\") i.e., the compensation that will paid to the employee."
        },
        "companyDisplayName": {
          "readOnly": true,
          "description": "Output only. Display name of the company listing the job.",
          "type": "string"
        },
        "customAttributes": {
          "additionalProperties": {
            "$ref": "CustomAttribute"
          },
          "type": "object",
          "description": "A map of fields to hold both filterable and non-filterable custom job attributes that are not covered by the provided structured fields. The keys of the map are strings up to 64 bytes and must match the pattern: a-zA-Z*. For example, key0LikeThis or KEY_1_LIKE_THIS. At most 100 filterable and at most 100 unfilterable keys are supported. For filterable `string_values`, across all keys at most 200 values are allowed, with each string no more than 255 characters. For unfilterable `string_values`, the maximum total size of `string_values` across all keys is 50KB."
        },
        "postingUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this job posting was last updated."
        },
        "postingExpireTime": {
          "description": "Strongly recommended for the best service experience. The expiration timestamp of the job. After this timestamp, the job is marked as expired, and it no longer appears in search results. The expired job can't be listed by the ListJobs API, but it can be retrieved with the GetJob API or updated with the UpdateJob API or deleted with the DeleteJob API. An expired job can be updated and opened again by using a future expiration timestamp. Updating an expired job fails if there is another existing open job with same company, language_code and requisition_id. The expired jobs are retained in our system for 90 days. However, the overall expired job count cannot exceed 3 times the maximum number of open jobs over previous 7 days. If this threshold is exceeded, expired jobs are cleaned out in order of earliest expire time. Expired jobs are no longer accessible after they are cleaned out. Invalid timestamps are ignored, and treated as expire time not provided. If the timestamp is before the instant request is made, the job is treated as expired immediately on creation. This kind of job can not be updated. And when creating a job with past timestamp, the posting_publish_time must be set before posting_expire_time. The purpose of this feature is to allow other objects, such as Application, to refer a job that didn't exist in the system prior to becoming expired. If you want to modify a job that was expired on creation, delete it and create a new one. If this value isn't provided at the time of job creation or is invalid, the job posting expires after 30 days from the job's creation time. For example, if the job was created on 2017/01/01 13:00AM UTC with an unspecified expiration date, the job expires after 2017/01/31 13:00AM UTC. If this value isn't provided on job update, it depends on the field masks set by UpdateJobRequest.update_mask. If the field masks include job_end_time, or the masks are empty meaning that every field is updated, the job posting expires after 30 days from the job's last update time. Otherwise the expiration date isn't updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "responsibilities": {
          "type": "string",
          "description": "A description of job responsibilities. The use of this field is recommended as an alternative to using the more general description field. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 10,000."
        },
        "addresses": {
          "items": {
            "type": "string"
          },
          "description": "Strongly recommended for the best service experience. Location(s) where the employer is looking to hire for this job posting. Specifying the full street address(es) of the hiring location enables better API results, especially job searches by commute time. At most 50 locations are allowed for best search performance. If a job has more locations, it is suggested to split it into multiple jobs with unique requisition_ids (e.g. 'ReqA' becomes 'ReqA-1', 'ReqA-2', and so on.) as multiple jobs with the same company, language_code and requisition_id are not allowed. If the original requisition_id must be preserved, a custom field should be used for storage. It is also suggested to group the locations that close to each other in the same job for better search experience. The maximum number of allowed characters is 500.",
          "type": "array"
        },
        "postingRegion": {
          "description": "The job PostingRegion (for example, state, country) throughout which the job is available. If this field is set, a LocationFilter in a search query within the job region finds this job posting if an exact location match isn't specified. If this field is set to PostingRegion.NATION or PostingRegion.ADMINISTRATIVE_AREA, setting job Job.addresses to the same location level as this field is strongly recommended.",
          "type": "string",
          "enum": [
            "POSTING_REGION_UNSPECIFIED",
            "ADMINISTRATIVE_AREA",
            "NATION",
            "TELECOMMUTE"
          ],
          "enumDescriptions": [
            "If the region is unspecified, the job is only returned if it matches the LocationFilter.",
            "In addition to exact location matching, job posting is returned when the LocationFilter in the search query is in the same administrative area as the returned job posting. For example, if a `ADMINISTRATIVE_AREA` job is posted in \"CA, USA\", it's returned if LocationFilter has \"Mountain View\". Administrative area refers to top-level administrative subdivision of this country. For example, US state, IT region, UK constituent nation and JP prefecture.",
            "In addition to exact location matching, job is returned when LocationFilter in search query is in the same country as this job. For example, if a `NATION_WIDE` job is posted in \"USA\", it's returned if LocationFilter has 'Mountain View'.",
            "Job allows employees to work remotely (telecommute). If locations are provided with this value, the job is considered as having a location, but telecommuting is allowed."
          ]
        },
        "requisitionId": {
          "type": "string",
          "description": "Required. The requisition ID, also referred to as the posting ID, is assigned by the client to identify a job. This field is intended to be used by clients for client identification and tracking of postings. A job isn't allowed to be created if there is another job with the same company, language_code and requisition_id. The maximum number of allowed characters is 255."
        },
        "title": {
          "description": "Required. The title of the job, such as \"Software Engineer\" The maximum number of allowed characters is 500.",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "enum": [
            "VISIBILITY_UNSPECIFIED",
            "ACCOUNT_ONLY",
            "SHARED_WITH_GOOGLE",
            "SHARED_WITH_PUBLIC"
          ],
          "enumDescriptions": [
            "Default value.",
            "The resource is only visible to the GCP account who owns it.",
            "The resource is visible to the owner and may be visible to other applications and processes at Google.",
            "The resource is visible to the owner and may be visible to all other API clients."
          ],
          "description": "Deprecated. The job is only visible to the owner. The visibility of the job. Defaults to Visibility.ACCOUNT_ONLY if not specified."
        },
        "company": {
          "description": "Required. The resource name of the company listing the job. The format is \"projects/{project_id}/tenants/{tenant_id}/companies/{company_id}\". For example, \"projects/foo/tenants/bar/companies/baz\". If tenant id is unspecified, the default tenant is used. For example, \"projects/foo/companies/bar\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the job, which typically includes a multi-paragraph description of the company and related information. Separate fields are provided on the job object for responsibilities, qualifications, and other job characteristics. Use of these separate job fields is recommended. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 100,000."
        },
        "department": {
          "type": "string",
          "description": "The department or functional area within the company with the open position. The maximum number of allowed characters is 255."
        },
        "jobLevel": {
          "description": "The experience level associated with the job, such as \"Entry Level\".",
          "type": "string",
          "enum": [
            "JOB_LEVEL_UNSPECIFIED",
            "ENTRY_LEVEL",
            "EXPERIENCED",
            "MANAGER",
            "DIRECTOR",
            "EXECUTIVE"
          ],
          "enumDescriptions": [
            "The default value if the level isn't specified.",
            "Entry-level individual contributors, typically with less than 2 years of experience in a similar role. Includes interns.",
            "Experienced individual contributors, typically with 2+ years of experience in a similar role.",
            "Entry- to mid-level managers responsible for managing a team of people.",
            "Senior-level managers responsible for managing teams of managers.",
            "Executive-level managers and above, including C-level positions."
          ]
        },
        "promotionValue": {
          "description": "A promotion value of the job, as determined by the client. The value determines the sort order of the jobs returned when searching for jobs using the featured jobs search call, with higher promotional values being returned first and ties being resolved by relevance sort. Only the jobs with a promotionValue \u003e0 are returned in a FEATURED_JOB_SEARCH. Default value is 0, and negative values are treated as 0.",
          "format": "int32",
          "type": "integer"
        },
        "jobBenefits": {
          "type": "array",
          "description": "The benefits included with the job.",
          "items": {
            "enumDescriptions": [
              "Default value if the type isn't specified.",
              "The job includes access to programs that support child care, such as daycare.",
              "The job includes dental services covered by a dental insurance plan.",
              "The job offers specific benefits to domestic partners.",
              "The job allows for a flexible work schedule.",
              "The job includes health services covered by a medical insurance plan.",
              "The job includes a life insurance plan provided by the employer or available for purchase by the employee.",
              "The job allows for a leave of absence to a parent to care for a newborn child.",
              "The job includes a workplace retirement plan provided by the employer or available for purchase by the employee.",
              "The job allows for paid time off due to illness.",
              "The job includes paid time off for vacation.",
              "The job includes vision services covered by a vision insurance plan."
            ],
            "type": "string",
            "enum": [
              "JOB_BENEFIT_UNSPECIFIED",
              "CHILD_CARE",
              "DENTAL",
              "DOMESTIC_PARTNER",
              "FLEXIBLE_HOURS",
              "MEDICAL",
              "LIFE_INSURANCE",
              "PARENTAL_LEAVE",
              "RETIREMENT_PLAN",
              "SICK_DAYS",
              "VACATION",
              "VISION"
            ]
          }
        }
      },
      "id": "Job"
    },
    "GoogleCloudTalentV4ListJobsResponse": {
      "description": "List jobs response.",
      "type": "object",
      "id": "GoogleCloudTalentV4ListJobsResponse",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudTalentV4Job"
          },
          "description": "The Jobs for a given company. The maximum number of items returned is based on the limit field provided in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        },
        "metadata": {
          "description": "Additional information for the API invocation, such as the request tracking id.",
          "$ref": "GoogleCloudTalentV4ResponseMetadata"
        }
      }
    },
    "JobDerivedInfo": {
      "type": "object",
      "properties": {
        "jobCategories": {
          "items": {
            "type": "string",
            "enum": [
              "JOB_CATEGORY_UNSPECIFIED",
              "ACCOUNTING_AND_FINANCE",
              "ADMINISTRATIVE_AND_OFFICE",
              "ADVERTISING_AND_MARKETING",
              "ANIMAL_CARE",
              "ART_FASHION_AND_DESIGN",
              "BUSINESS_OPERATIONS",
              "CLEANING_AND_FACILITIES",
              "COMPUTER_AND_IT",
              "CONSTRUCTION",
              "CUSTOMER_SERVICE",
              "EDUCATION",
              "ENTERTAINMENT_AND_TRAVEL",
              "FARMING_AND_OUTDOORS",
              "HEALTHCARE",
              "HUMAN_RESOURCES",
              "INSTALLATION_MAINTENANCE_AND_REPAIR",
              "LEGAL",
              "MANAGEMENT",
              "MANUFACTURING_AND_WAREHOUSE",
              "MEDIA_COMMUNICATIONS_AND_WRITING",
              "OIL_GAS_AND_MINING",
              "PERSONAL_CARE_AND_SERVICES",
              "PROTECTIVE_SERVICES",
              "REAL_ESTATE",
              "RESTAURANT_AND_HOSPITALITY",
              "SALES_AND_RETAIL",
              "SCIENCE_AND_ENGINEERING",
              "SOCIAL_SERVICES_AND_NON_PROFIT",
              "SPORTS_FITNESS_AND_RECREATION",
              "TRANSPORTATION_AND_LOGISTICS"
            ],
            "enumDescriptions": [
              "The default value if the category isn't specified.",
              "An accounting and finance job, such as an Accountant.",
              "An administrative and office job, such as an Administrative Assistant.",
              "An advertising and marketing job, such as Marketing Manager.",
              "An animal care job, such as Veterinarian.",
              "An art, fashion, or design job, such as Designer.",
              "A business operations job, such as Business Operations Manager.",
              "A cleaning and facilities job, such as Custodial Staff.",
              "A computer and IT job, such as Systems Administrator.",
              "A construction job, such as General Laborer.",
              "A customer service job, such s Cashier.",
              "An education job, such as School Teacher.",
              "An entertainment and travel job, such as Flight Attendant.",
              "A farming or outdoor job, such as Park Ranger.",
              "A healthcare job, such as Registered Nurse.",
              "A human resources job, such as Human Resources Director.",
              "An installation, maintenance, or repair job, such as Electrician.",
              "A legal job, such as Law Clerk.",
              "A management job, often used in conjunction with another category, such as Store Manager.",
              "A manufacturing or warehouse job, such as Assembly Technician.",
              "A media, communications, or writing job, such as Media Relations.",
              "An oil, gas or mining job, such as Offshore Driller.",
              "A personal care and services job, such as Hair Stylist.",
              "A protective services job, such as Security Guard.",
              "A real estate job, such as Buyer's Agent.",
              "A restaurant and hospitality job, such as Restaurant Server.",
              "A sales and/or retail job, such Sales Associate.",
              "A science and engineering job, such as Lab Technician.",
              "A social services or non-profit job, such as Case Worker.",
              "A sports, fitness, or recreation job, such as Personal Trainer.",
              "A transportation or logistics job, such as Truck Driver."
            ]
          },
          "description": "Job categories derived from Job.title and Job.description.",
          "type": "array"
        },
        "locations": {
          "type": "array",
          "description": "Structured locations of the job, resolved from Job.addresses. locations are exactly matched to Job.addresses in the same order.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "Derived details about the job posting.",
      "id": "JobDerivedInfo"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
[...]
