{
  "name": "realtimebidding",
  "title": "Real-time Bidding API",
  "batchPath": "batch",
  "description": "Allows external bidders to manage their RTB integration with Google. This includes managing bidder endpoints, QPS quotas, configuring what ad inventory to receive via pretargeting, submitting creatives for verification, and accessing creative metadata such as approval status.",
  "revision": "20210121",
  "resources": {
    "bidders": {
      "resources": {
        "biddingFunctions": {
          "methods": {
            "create": {
              "description": "Creates a new bidding function.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/bidders/{biddersId}/biddingFunctions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the bidder for which to create the bidding function. Format: `bidders/{bidderAccountId}`",
                  "pattern": "^bidders/[^/]+$"
                }
              },
              "id": "realtimebidding.bidders.biddingFunctions.create",
              "request": {
                "$ref": "BiddingFunction"
              },
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1alpha/{+parent}/biddingFunctions",
              "response": {
                "$ref": "BiddingFunction"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the bidder whose bidding functions will be listed. Format: `bidders/{bidder_account_id}`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^bidders/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. This value is received from a previous `ListBiddingFunctions` call in ListBiddingFunctionsResponse.nextPageToken."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of bidding functions to return.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "flatPath": "v1alpha/bidders/{biddersId}/biddingFunctions",
              "description": "Lists the bidding functions that a bidder currently has registered.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListBiddingFunctionsResponse"
              },
              "id": "realtimebidding.bidders.biddingFunctions.list",
              "path": "v1alpha/{+parent}/biddingFunctions"
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://realtimebidding.googleapis.com/",
  "version": "v1alpha",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "id": "realtimebidding:v1alpha",
  "canonicalName": "Real-time Bidding",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/realtimebidding/reference/rest/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/realtime-bidding": {
          "description": "See, create, edit, and delete your Authorized Buyers and Open Bidding account entities"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ListBiddingFunctionsResponse": {
      "id": "ListBiddingFunctionsResponse",
      "type": "object",
      "properties": {
        "biddingFunctions": {
          "items": {
            "$ref": "BiddingFunction"
          },
          "type": "array",
          "description": "A list of a bidder's bidding functions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be passed to a subsequent call to the `ListBiddingFunctions` method to retrieve the next page of results in ListBiddingFunctionsRequest.pageToken."
        }
      },
      "description": "A response containing a list of a bidder's bidding functions."
    },
    "BiddingFunction": {
      "type": "object",
      "id": "BiddingFunction",
      "description": "The bidding function to be executed as part of the TURTLEDOVE simulation experiment bidding flow.",
      "properties": {
        "biddingFunction": {
          "type": "string",
          "description": "The raw Javascript source code of the bidding function. The function takes in a Javascript object, `inputs`, that contains the following named fields: `openrtbContextualBidRequest` OR `googleContextualBidRequest`, `customContextualSignal`, `interestBasedBidData`, `interestGroupData`, `recentImpressionAges`, and returns the bid price CPM (double). Example: /* Returns a bid price CPM (double). * * @param {Object} inputs an object with the * following named fields: * - openrtbContextualBidRequest * OR googleContextualBidRequest * - customContextualSignal * - interestBasedBidData * - interestGroupData * - recentImpressionAges */ function biddingFunction(inputs) { ... return inputs.interestBasedBidData.cpm * inputs.customContextualSignals.placementMultiplier; }"
        },
        "name": {
          "description": "The name of the bidding function that must follow the pattern: `bidders/{bidder_account_id}/biddingFunctions/{bidding_function_name}`.",
          "type": "string"
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "servicePath": "",
  "version_module": true,
  "rootUrl": "https://realtimebidding.googleapis.com/",
  "mtlsRootUrl": "https://realtimebidding.mtls.googleapis.com/"
}
