{
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "canonicalName": "Recommendations AI",
  "version_module": true,
  "name": "recommendationengine",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "catalogs": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "recommendationengine.projects.locations.catalogs.operations.get"
                    },
                    "list": {
                      "id": "recommendationengine.projects.locations.catalogs.operations.list",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "catalogItems": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "description": "Updates a catalog item. Partial updating is supported. Non-existing items will be created.",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.patch",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Indicates which fields in the provided 'item' to update. If not set, will by default update all fields.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. Full resource name of catalog item, such as \"projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$",
                          "description": "Required. Full resource name of catalog item, such as \"projects/*/locations/global/catalogs/default_catalog/catalogItems/some_catalog_item_id\"."
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "description": "Deletes a catalog item.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "httpMethod": "DELETE"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.list",
                      "description": "Gets a list of catalog items.",
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse"
                      },
                      "path": "v1beta1/{+parent}/catalogItems",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent catalog resource name, such as \"projects/*/locations/global/catalogs/default_catalog\".",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of results to return per page. If zero, the service will choose a reasonable default."
                        },
                        "filter": {
                          "description": "Optional. A filter to apply on the list results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The previous ListCatalogItemsResponse.next_page_token.",
                          "location": "query"
                        }
                      }
                    },
                    "import": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Bulk import of multiple catalog items. Request processing may be synchronous. No partial updating supported. Non-existing items will be created. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully updated.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems:import",
                      "path": "v1beta1/{+parent}/catalogItems:import",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.import",
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. \"projects/1234/locations/global/catalogs/default_catalog\" If no updateMask is specified, requires catalogItems.create permission. If updateMask is specified, requires catalogItems.update permission.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent catalog resource name, such as \"projects/*/locations/global/catalogs/default_catalog\".",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "request": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a catalog item.",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.create",
                      "path": "v1beta1/{+parent}/catalogItems",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
                      },
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Full resource name of catalog item, such as \"projects/*/locations/global/catalogs/default_catalog/catalogitems/some_catalog_item_id\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/catalogItems/.*$"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/catalogItems/{catalogItemsId}",
                      "description": "Gets a specific catalog item.",
                      "id": "recommendationengine.projects.locations.catalogs.catalogItems.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "eventStores": {
                  "resources": {
                    "userEvents": {
                      "methods": {
                        "purge": {
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest"
                          },
                          "description": "Deletes permanently all user events specified by the filter provided. Depending on the number of events specified by the filter, this operation could take hours or days to complete. To test a filter, use the list command first.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "POST",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.purge",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:purge",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "description": "Required. The resource name of the event_store under which the events are created. The format is \"projects/${projectId}/locations/global/catalogs/${catalogId}/eventStores/${eventStoreId}\"",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+parent}/userEvents:purge"
                        },
                        "collect": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleApiHttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a 3rd party domain. This method is used only by the Recommendations AI JavaScript pixel. Users should not call this method directly.",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.collect",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:collect",
                          "httpMethod": "GET",
                          "parameters": {
                            "ets": {
                              "description": "Optional. The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                              "format": "int64",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent eventStore name, such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"."
                            },
                            "uri": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The url including cgi-parameters but excluding the hash fragment. The URL must be truncated to 1.5K bytes to conservatively be under the 2K bytes. This is often more useful than the referer url, because many browsers only send the domain for 3rd party requests."
                            },
                            "userEvent": {
                              "type": "string",
                              "description": "Required. URL encoded UserEvent proto.",
                              "location": "query"
                            }
                          },
                          "path": "v1beta1/{+parent}/userEvents:collect"
                        },
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "path": "v1beta1/{+parent}/userEvents",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent eventStore resource name, such as \"projects/*/locations/*/catalogs/default_catalog/eventStores/default_event_store\".",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Optional. Maximum number of results to return per page. If zero, the service will choose a reasonable default.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Optional. Filtering expression to specify restrictions over returned events. This is a sequence of terms, where each term applies some kind of a restriction to the returned user events. Use this expression to restrict results to a specific time range, or filter events by eventType. eg: eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventsMissingCatalogItems eventTime\u003c\"2012-04-23T18:25:43.511Z\" eventType=search We expect only 3 types of fields: * eventTime: this can be specified a maximum of 2 times, once with a less than operator and once with a greater than operator. The eventTime restrict should result in one contiguous valid eventTime range. * eventType: only 1 eventType restriction can be specified. * eventsMissingCatalogItems: specififying this will restrict results to events for which catalog items were not found in the catalog. The default behavior is to return only those events for which catalog items were found. Some examples of valid filters expressions: * Example 1: eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventTime \u003c \"2012-04-23T18:30:43.511Z\" * Example 2: eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = detail-page-view * Example 3: eventsMissingCatalogItems eventType = search eventTime \u003c \"2018-04-23T18:30:43.511Z\" * Example 4: eventTime \u003e \"2012-04-23T18:25:43.511Z\" * Example 5: eventType = search * Example 6: eventsMissingCatalogItems",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. The previous ListUserEventsResponse.next_page_token.",
                              "location": "query"
                            }
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.list",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents",
                          "description": "Gets a list of user events within a time range, with potential filtering. The method does not list unjoined user events. Unjoined user event definition: when a user event is ingested from Recommendations AI User Event APIs, the catalog item included in the user event is connected with the current catalog. If a catalog item of the ingested event is not in the current catalog, it could lead to degraded model quality. This is called an unjoined event.",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "write": {
                          "path": "v1beta1/{+parent}/userEvents:write",
                          "description": "Writes a single user event.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The parent eventStore resource name, such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\".",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:write",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.write",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
                          },
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
                          }
                        },
                        "rejoin": {
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsRequest"
                          },
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.rejoin",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+parent}/userEvents:rejoin",
                          "description": "Triggers a user event rejoin operation with latest catalog data. Events will not be annotated with detailed catalog information if catalog item is missing at the time the user event is ingested, and these events are stored as unjoined events with a limited usage on training and serving. This API can be used to trigger a 'join' operation on specified events with latest version of catalog items. It can also be used to correct events joined with wrong catalog items.",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. Full resource name of user event, such as \"projects/*/locations/*/catalogs/default_catalog/eventStores/default_event_store\".",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$"
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:rejoin"
                        },
                        "import": {
                          "parameters": {
                            "parent": {
                              "description": "Required. \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ImportUserEventsRequest"
                          },
                          "httpMethod": "POST",
                          "description": "Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.userEvents.import",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/userEvents:import",
                          "path": "v1beta1/{+parent}/userEvents:import",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "predictionApiKeyRegistrations": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1ListPredictionApiKeyRegistrationsResponse"
                          },
                          "description": "List the registered apiKeys for use with predict method.",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations",
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent placement resource name such as \"projects/1234/locations/global/catalogs/default_catalog/eventStores/default_event_store\"",
                              "required": true
                            },
                            "pageToken": {
                              "description": "Optional. The previous `ListPredictionApiKeyRegistration.nextPageToken`.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. Maximum number of results to return per page. If unset, the service will choose a reasonable default.",
                              "type": "integer"
                            }
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET"
                        },
                        "create": {
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+parent}/predictionApiKeyRegistrations",
                          "httpMethod": "POST",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.create",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1CreatePredictionApiKeyRegistrationRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "description": "Required. The parent resource path. \"projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store\".",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "type": "string"
                            }
                          },
                          "description": "Register an API key for use with predict method.",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations"
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/predictionApiKeyRegistrations/{predictionApiKeyRegistrationsId}",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.predictionApiKeyRegistrations.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "description": "Unregister an apiKey from using for predict method.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The API key to unregister including full resource path. \"projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/predictionApiKeyRegistrations/\"",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/predictionApiKeyRegistrations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "path": "v1beta1/{+name}"
                        }
                      }
                    },
                    "placements": {
                      "methods": {
                        "predict": {
                          "description": "Makes a recommendation prediction. If using API Key based authentication, the API Key must be registered using the PredictionApiKeyRegistry service. [Learn more](https://cloud.google.com/recommendations-ai/docs/setting-up#register-key).",
                          "request": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictRequest"
                          },
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.placements.predict",
                          "path": "v1beta1/{+name}:predict",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/placements/{placementsId}:predict",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. Full resource name of the format: {name=projects/*/locations/global/catalogs/default_catalog/eventStores/default_event_store/placements/*} The id of the recommendation engine placement. This id is used to identify the set of models that will be used to make the prediction. We currently support three placements with the following IDs by default: * `shopping_cart`: Predicts items frequently bought together with one or more catalog items in the same shopping session. Commonly displayed after `add-to-cart` events, on product detail pages, or on the shopping cart page. * `home_page`: Predicts the next product that a user will most likely engage with or purchase based on the shopping or viewing history of the specified `userId` or `visitorId`. For example - Recommendations for you. * `product_detail`: Predicts the next product that a user will most likely engage with or purchase. The prediction is based on the shopping or viewing history of the specified `userId` or `visitorId` and its relevance to a specified `CatalogItem`. Typically used on product detail pages. For example - More items like this. * `recently_viewed_default`: Returns up to 75 items recently viewed by the specified `userId` or `visitorId`, most recent ones first. Returns nothing if neither of them has viewed any items yet. For example - Recently viewed. The full list of available placements can be seen at https://console.cloud.google.com/recommendation/datafeeds/default_catalog/dashboard",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/placements/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudRecommendationengineV1beta1PredictResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "list": {
                          "path": "v1beta1/{+name}/operations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.list",
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "description": "The standard list filter.",
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+$",
                              "location": "path",
                              "description": "The name of the operation's parent resource."
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The standard list page size.",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "The standard list page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                          "httpMethod": "GET"
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+/eventStores/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "The name of the operation resource.",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "path": "v1beta1/{+name}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "GET",
                          "id": "recommendationengine.projects.locations.catalogs.eventStores.operations.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}/eventStores/{eventStoresId}/operations/{operationsId}"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "recommendationengine.projects.locations.catalogs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. Indicates which fields in the provided 'catalog' to update. If not set, will only update the catalog_item_level_config field. Currently only fields that can be updated are catalog_item_level_config.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/catalogs/[^/]+$",
                      "description": "The fully qualified resource name of the catalog.",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs/{catalogsId}",
                  "httpMethod": "PATCH",
                  "description": "Updates the catalog configuration.",
                  "response": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
                  }
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/catalogs",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListCatalogs` call. Provide this to retrieve the subsequent page."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The account resource name with an associated location."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "recommendationengine.projects.locations.catalogs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all the catalog configurations associated with the project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/catalogs"
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1beta1",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudRecommendationengineV1beta1RejoinUserEventsMetadata": {
      "id": "GoogleCloudRecommendationengineV1beta1RejoinUserEventsMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata for RejoinUserEvents method."
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice": {
      "properties": {
        "displayPrice": {
          "format": "float",
          "description": "Optional. Display price of the product.",
          "type": "number"
        },
        "originalPrice": {
          "description": "Optional. Price of the product without any discount. If zero, by default set to be the 'displayPrice'.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Exact product price.",
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice"
    },
    "GoogleCloudRecommendationengineV1beta1PurchaseTransaction": {
      "id": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction",
      "description": "A transaction represents the entire purchase transaction.",
      "properties": {
        "costs": {
          "additionalProperties": {
            "format": "float",
            "type": "number"
          },
          "type": "object",
          "description": "Optional. All the costs associated with the product. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs. Total product cost such that profit = revenue - (sum(taxes) + sum(costs)) If product_cost is not set, then profit = revenue - tax - shipping - sum(CatalogItem.costs). If CatalogItem.cost is not specified for one of the items, CatalogItem.cost based profit *cannot* be calculated for this Transaction."
        },
        "revenue": {
          "format": "float",
          "type": "number",
          "description": "Required. Total revenue or grand total associated with the transaction. This value include shipping, tax, or other adjustments to total revenue that you want to include as part of your revenue calculations. This field is not required if the event type is `refund`."
        },
        "currencyCode": {
          "description": "Required. Currency code. Use three-character ISO-4217 code. This field is not required if the event type is `refund`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Optional. The transaction ID with a length limit of 128 bytes."
        },
        "taxes": {
          "additionalProperties": {
            "format": "float",
            "type": "number"
          },
          "type": "object",
          "description": "Optional. All the taxes associated with the transaction."
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1EventDetail": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1EventDetail",
      "properties": {
        "pageViewId": {
          "type": "string",
          "description": "Optional. A unique id of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageViewId` property should be kept the same for all these events so that they can be grouped together properly. This `pageViewId` will be automatically generated if using the JavaScript pixel."
        },
        "referrerUri": {
          "type": "string",
          "description": "Optional. The referrer url of the current page. When using the JavaScript pixel, this value is filled in automatically."
        },
        "experimentIds": {
          "description": "Optional. A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups (e.g. using Recommendation Engine system, using different recommendation models).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Optional. Complete url (window.location.href) of the user's current page. When using the JavaScript pixel, this value is filled in automatically. Maximum length 5KB.",
          "type": "string"
        },
        "recommendationToken": {
          "type": "string",
          "description": "Optional. Recommendation token included in the recommendation prediction response. This field enables accurate attribution of recommendation model performance. This token enables us to accurately attribute page view or purchase back to the event and the particular predict response containing this clicked/purchased item. If user clicks on product K in the recommendation results, pass the `PredictResponse.recommendationToken` property as a url parameter to product K's page. When recording events on product K's page, log the PredictResponse.recommendation_token to this field. Optional, but highly encouraged for user events that are the result of a recommendation prediction query."
        },
        "eventAttributes": {
          "description": "Optional. Extra user event features to include in the recommendation model. For product recommendation, an example of extra user information is traffic_channel, i.e. how user arrives at the site. Users can arrive at the site by coming to the site directly, or coming through Google search, and etc.",
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap"
        }
      },
      "description": "User event details shared by all recommendation types."
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse": {
      "type": "object",
      "description": "Response of the ImportCatalogItemsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorsConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsResponse"
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList": {
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList",
      "type": "object",
      "properties": {
        "value": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "Float feature value."
        }
      },
      "description": "A list of float features."
    },
    "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest": {
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. The default value is false. Override this flag to true to actually perform the purge. If the field is not set to true, a sampling of events to be deleted will be returned.",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "Required. The filter string to specify the events to be deleted. Empty string filter is not allowed. The eligible fields for filtering are: * `eventType`: UserEvent.eventType field of type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `visitorId`: field of type string. Specifying this will delete all events associated with a visitor. * `userId`: field of type string. Specifying this will delete all events associated with a user. Examples: * Deleting all events in a time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventTime \u003c \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in time range: `eventTime \u003e \"2012-04-23T18:25:43.511Z\" eventType = \"detail-page-view\"` * Deleting all events for a specific visitor: `visitorId = \"visitor1024\"` The filtering fields are assumed to have an implicit AND."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1PurgeUserEventsRequest",
      "description": "Request message for PurgeUserEvents method."
    },
    "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse": {
      "type": "object",
      "description": "Response message for TriggerCatalogRejoin method.",
      "properties": {
        "rejoinedUserEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of user events that were joined with latest catalog items."
        }
      },
      "id": "GoogleCloudRecommendationengineV1alphaRejoinCatalogResponse"
    },
    "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration": {
      "id": "GoogleCloudRecommendationengineV1beta1PredictionApiKeyRegistration",
      "description": "Registered Api Key.",
      "properties": {
        "apiKey": {
          "description": "The API key.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1UserInfo": {
      "description": "Information of end users.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1UserInfo",
      "properties": {
        "directUserRequest": {
          "type": "boolean",
          "description": "Optional. Indicates if the request is made directly from the end user in which case the user_agent and ip_address fields can be populated from the HTTP request. This should *not* be set when using the javascript pixel. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events)."
        },
        "userAgent": {
          "type": "string",
          "description": "Optional. User agent as included in the HTTP header. UTF-8 encoded string with a length limit of 1 KiB. This should *not* be set when using the JavaScript pixel or if `directUserRequest` is set."
        },
        "userId": {
          "description": "Optional. Unique identifier for logged-in user with a length limit of 128 bytes. Required only for logged-in users.",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. IP address of the user. This could be either IPv4 (e.g. 104.133.9.80) or IPv6 (e.g. 2001:0db8:85a3:0000:0000:8a2e:0370:7334). This should *not* be set when using the javascript pixel or if `direct_user_request` is set. Used to extract location information for personalization."
        },
        "visitorId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors with a length limit of 128 bytes. For example, this could be implemented with a http cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Maximum length 128 bytes. Cannot be empty."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy": {
      "description": "Category represents catalog item category hierarchy.",
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy",
      "properties": {
        "categories": {
          "description": "Required. Catalog item categories. Each category should be a UTF-8 encoded string with a length limit of 2 KiB. Note that the order in the list denotes the specificity (from least to most specific).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1Image": {
      "type": "object",
      "properties": {
        "width": {
          "description": "Optional. Width of the image in number of pixels.",
          "format": "int32",
          "type": "integer"
        },
        "uri": {
          "description": "Required. URL of the image with a length limit of 5 KiB.",
          "type": "string"
        },
        "height": {
          "description": "Optional. Height of the image in number of pixels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1Image",
      "description": "Catalog item thumbnail/detail image."
    },
    "GoogleCloudRecommendationengineV1beta1GcsSource": {
      "id": "GoogleCloudRecommendationengineV1beta1GcsSource",
      "description": "Google Cloud Storage location for input content. format.",
      "type": "object",
      "properties": {
        "inputUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Google Cloud Storage URIs to input files. URI can be up to 2000 characters long. URIs can match the full object path (for example, gs://bucket/directory/object.json) or a pattern matching one or more files, such as gs://bucket/directory/*.json. A request can contain at most 100 files, and each file can be up to 2 GB. See [Importing catalog information](/recommendations-ai/docs/upload-catalog) for the expected file format and setup instructions."
        },
        "jsonSchema": {
          "type": "string",
          "description": "Optional. The schema to use when parsing the data from the source. Supported values for catalog imports: 1: \"catalog_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#json (Default for catalogItems.import) 2: \"catalog_merchant_center\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc Supported values for user events imports: 1: \"user_events_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/manage-user-events#import (Default for userEvents.import) 2. \"user_events_ga360\" using https://support.google.com/analytics/answer/3437719?hl=en"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig": {
      "properties": {
        "gcsPrefix": {
          "description": "Google Cloud Storage path for import errors. This must be an empty, existing Cloud Storage bucket. Import errors will be written to a file in this bucket, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "description": "Configuration of destination for Import related errors.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig"
    },
    "GoogleCloudRecommendationengineV1alphaRejoinCatalogMetadata": {
      "id": "GoogleCloudRecommendationengineV1alphaRejoinCatalogMetadata",
      "description": "Metadata for TriggerCatalogRejoin method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudRecommendationengineV1beta1PredictResponse": {
      "properties": {
        "itemsMissingInCatalog": {
          "items": {
            "type": "string"
          },
          "description": "IDs of items in the request that were missing from the catalog.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's PredictRequest.page_token."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional domain specific prediction response metadata.",
          "type": "object"
        },
        "recommendationToken": {
          "description": "A unique recommendation token. This should be included in the user event logs resulting from this recommendation, which enables accurate attribution of recommendation model performance.",
          "type": "string"
        },
        "dryRun": {
          "description": "True if the dryRun property was set in the request.",
          "type": "boolean"
        },
        "results": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult"
          },
          "description": "A list of recommended items. The order represents the ranking (from the most relevant item to the least).",
          "type": "array"
        }
      },
      "description": "Response message for predict method.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1PredictResponse"
    },
    "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse": {
      "description": "Response message for ListCatalogItems method.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ListCatalogItemsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's ListCatalogItemRequest.page_token.",
          "type": "string"
        },
        "catalogItems": {
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItem"
          },
          "description": "The catalog items.",
          "type": "array"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1BigQuerySource": {
      "description": "BigQuery source import data from.",
      "id": "GoogleCloudRecommendationengineV1beta1BigQuerySource",
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from."
        },
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from."
        },
        "projectId": {
          "description": "Optional. The project id (can be project # or id) that the BigQuery source is in. If not specified, inherits the project id from the parent request.",
          "type": "string"
        },
        "gcsStagingDir": {
          "description": "Optional. Intermediate Cloud Storage directory used for the import. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory.",
          "type": "string"
        },
        "dataSchema": {
          "description": "Optional. The schema to use when parsing the data from the source. Supported values for catalog imports: 1: \"catalog_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#json (Default for catalogItems.import) 2: \"catalog_merchant_center\" using https://cloud.google.com/recommendations-ai/docs/upload-catalog#mc Supported values for user event imports: 1: \"user_events_recommendations_ai\" using https://cloud.google.com/recommendations-ai/docs/manage-user-events#import (Default for userEvents.import) 2. \"user_events_ga360\" using https://support.google.com/analytics/answer/3437719?hl=en",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ListCatalogsResponse",
      "description": "Response for ListCatalogs method.",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        },
        "catalogs": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1Catalog"
          },
          "description": "Output only. All the customer's catalogs."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse": {
      "description": "Response message for ListUserEvents method.",
      "id": "GoogleCloudRecommendationengineV1beta1ListUserEventsResponse",
      "type": "object",
      "properties": {
        "userEvents": {
          "description": "The user events.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If empty, the list is complete. If nonempty, the token to pass to the next request's ListUserEvents.page_token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1InputConfig": {
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1InputConfig",
      "description": "The input config source.",
      "properties": {
        "bigQuerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudRecommendationengineV1beta1BigQuerySource"
        },
        "userEventInlineSource": {
          "description": "The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEventInlineSource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudRecommendationengineV1beta1GcsSource",
          "description": "Google Cloud Storage location for the input content."
        },
        "catalogInlineSource": {
          "$ref": "GoogleCloudRecommendationengineV1beta1CatalogInlineSource",
          "description": "The Inline source for the input content for Catalog items."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1UserEventImportSummary": {
      "id": "GoogleCloudRecommendationengineV1beta1UserEventImportSummary",
      "properties": {
        "unjoinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported, but with catalog information not found in the imported catalog."
        },
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing catalog information.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A summary of import result. The UserEventImportSummary summarizes the import status for user events."
    },
    "GoogleCloudRecommendationengineV1beta1FeatureMap": {
      "properties": {
        "categoricalFeatures": {
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapStringList"
          },
          "type": "object",
          "description": "Categorical features that can take on one of a limited number of possible values. Some examples would be the brand/maker of a product, or country of a customer. Feature names and values must be UTF-8 encoded strings. For example: `{ \"colors\": {\"value\": [\"yellow\", \"green\"]}, \"sizes\": {\"value\":[\"S\", \"M\"]}`"
        },
        "numericalFeatures": {
          "type": "object",
          "description": "Numerical features. Some examples would be the height/weight of a product, or age of a customer. Feature names must be UTF-8 encoded strings. For example: `{ \"lengths_cm\": {\"value\":[2.3, 15.4]}, \"heights_cm\": {\"value\":[8.1, 6.4]} }`",
          "additionalProperties": {
            "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMapFloatList"
          }
        }
      },
      "type": "object",
      "description": "FeatureMap represents extra features that customers want to include in the recommendation model for catalogs/user events as categorical/numerical features.",
      "id": "GoogleCloudRecommendationengineV1beta1FeatureMap"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ProductEventDetail": {
      "description": "ProductEventDetail captures user event information specific to retail products.",
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ProductEventDetail",
      "properties": {
        "pageCategories": {
          "type": "array",
          "description": "Required for `category-page-view` events. Other event types should not set this field. The categories associated with a category page. Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: categories : [\"Sales\", \"2017 Black Friday Deals\"].",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
          }
        },
        "purchaseTransaction": {
          "$ref": "GoogleCloudRecommendationengineV1beta1PurchaseTransaction",
          "description": "Optional. A transaction represents the entire purchase transaction. Required for `purchase-complete` events. Optional for `checkout-start` events. Other event types should not set this field."
        },
        "searchQuery": {
          "type": "string",
          "description": "Required for `search` events. Other event types should not set this field. The user's search query as UTF-8 encoded text with a length limit of 5 KiB."
        },
        "productDetails": {
          "type": "array",
          "description": "The main product details related to the event. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_details' should be set for this unless the shopping cart is empty. * `search` (highly encouraged) In a `search` event, this field represents the products returned to the end user on the current page (the end user may have not finished broswing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new SEARCH event with different product_details is desired. The end user may have not finished broswing the whole page yet. This field is not allowed for the following event types: * `category-page-view` * `home-page-view`",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1ProductDetail"
          }
        },
        "listId": {
          "type": "string",
          "description": "Required for `add-to-list` and `remove-from-list` events. The id or name of the list that the item is being added to or removed from. Other event types should not set this field."
        },
        "cartId": {
          "type": "string",
          "description": "Optional. The id or name of the associated shopping cart. This id is used to associate multiple items added or present in the cart before purchase. This can only be set for `add-to-cart`, `remove-from-cart`, `checkout-start`, `purchase-complete`, or `shopping-cart-page-view` events."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItem": {
      "description": "CatalogItem captures all metadata information of items to be recommended.",
      "properties": {
        "productMetadata": {
          "description": "Optional. Metadata specific to retail products.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItem"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Filtering tags associated with the catalog item. Each tag should be a UTF-8 encoded string with a length limit of 1 KiB. This tag can be used for filtering recommendation results by passing the tag as part of the predict request filter.",
          "type": "array"
        },
        "itemGroupId": {
          "type": "string",
          "description": "Optional. Variant group identifier for prediction results. UTF-8 encoded string with a length limit of 128 bytes. This field must be enabled before it can be used. [Learn more](/recommendations-ai/docs/catalog#item-group-id)."
        },
        "categoryHierarchies": {
          "description": "Required. Catalog item categories. This field is repeated for supporting one catalog item belonging to several parallel category hierarchies. For example, if a shoes product belongs to both [\"Shoes & Accessories\" -\u003e \"Shoes\"] and [\"Sports & Fitness\" -\u003e \"Athletic Clothing\" -\u003e \"Shoes\"], it could be represented as: \"categoryHierarchies\": [ { \"categories\": [\"Shoes & Accessories\", \"Shoes\"]}, { \"categories\": [\"Sports & Fitness\", \"Athletic Clothing\", \"Shoes\"] } ]",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemCategoryHierarchy"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Catalog item description. UTF-8 encoded string with a length limit of 5 KiB."
        },
        "itemAttributes": {
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap",
          "description": "Optional. Highly encouraged. Extra catalog item attributes to be included in the recommendation model. For example, for retail products, this could include the store name, vendor, style, color, etc. These are very strong signals for recommendation model, thus we highly recommend providing the item attributes here."
        },
        "id": {
          "description": "Required. Catalog item identifier. UTF-8 encoded string with a length limit of 128 bytes. This id must be unique among all catalog items within the same catalog. It should also be used when logging user events in order for the user events to be joined with the Catalog.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Required. Catalog item title. UTF-8 encoded string with a length limit of 1 KiB."
        },
        "languageCode": {
          "description": "Optional. Deprecated. The model automatically detects the text language. Your catalog can include text in different languages, but duplicating catalog items to provide text in multiple languages can result in degraded model performance.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItem",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1UserEvent": {
      "properties": {
        "productEventDetail": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductEventDetail",
          "description": "Optional. Retail product specific user event metadata. This field is required for the following event types: * `add-to-cart` * `add-to-list` * `category-page-view` * `checkout-start` * `detail-page-view` * `purchase-complete` * `refund` * `remove-from-cart` * `remove-from-list` * `search` This field is optional for the following event types: * `page-visit` * `shopping-cart-page-view` - note that 'product_event_detail' should be set for this unless the shopping cart is empty. This field is not allowed for the following event types: * `home-page-view`"
        },
        "eventTime": {
          "type": "string",
          "description": "Optional. Only required for ImportUserEvents method. Timestamp of user event created.",
          "format": "google-datetime"
        },
        "userInfo": {
          "description": "Required. User information.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserInfo"
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are: * `add-to-cart` Products being added to cart. * `add-to-list` Items being added to a list (shopping list, favorites etc). * `category-page-view` Special pages such as sale or promotion pages viewed. * `checkout-start` User starting a checkout process. * `detail-page-view` Products detail page viewed. * `home-page-view` Homepage viewed. * `page-visit` Generic page visits not included in the event types above. * `purchase-complete` User finishing a purchase. * `refund` Purchased items being refunded or returned. * `remove-from-cart` Products being removed from cart. * `remove-from-list` Items being removed from a list. * `search` Product search. * `shopping-cart-page-view` User viewing a shopping cart. * `impression` List of items displayed. Used by Google Tag Manager."
        },
        "eventSource": {
          "enumDescriptions": [
            "Unspecified event source.",
            "The event is ingested via a javascript pixel or Recommendations AI Tag through automl datalayer or JS Macros.",
            "The event is ingested via Recommendations AI Tag through Enhanced Ecommerce datalayer.",
            "The event is ingested via Import user events API."
          ],
          "type": "string",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "AUTOML",
            "ECOMMERCE",
            "BATCH_UPLOAD"
          ],
          "description": "Optional. This field should *not* be set when using JavaScript pixel or the Recommendations AI Tag. Defaults to `EVENT_SOURCE_UNSPECIFIED`."
        },
        "eventDetail": {
          "$ref": "GoogleCloudRecommendationengineV1beta1EventDetail",
          "description": "Optional. User event detailed information common across different recommendation types."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1UserEvent",
      "description": "UserEvent captures all metadata information recommendation engine needs to know about how end users interact with customers' website.",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ProductCatalogItem": {
      "id": "GoogleCloudRecommendationengineV1beta1ProductCatalogItem",
      "type": "object",
      "description": "ProductCatalogItem captures item metadata specific to retail products.",
      "properties": {
        "canonicalProductUri": {
          "description": "Optional. Canonical URL directly linking to the item detail page with a length limit of 5 KiB..",
          "type": "string"
        },
        "exactPrice": {
          "description": "Optional. The exact product price.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemExactPrice"
        },
        "priceRange": {
          "description": "Optional. The product price range.",
          "$ref": "GoogleCloudRecommendationengineV1beta1ProductCatalogItemPriceRange"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. Only required if the price is set. Currency code for price/costs. Use three-character ISO-4217 code."
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1Image"
          },
          "description": "Optional. Product images for the catalog item."
        },
        "stockState": {
          "description": "Optional. Online stock state of the catalog item. Default is `IN_STOCK`.",
          "enumDescriptions": [
            "Default item stock status. Should never be used.",
            "Item in stock.",
            "Item out of stock.",
            "Item that is in pre-order state.",
            "Item that is back-ordered (i.e. temporarily out of stock)."
          ],
          "type": "string",
          "enum": [
            "STOCK_STATE_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ]
        },
        "availableQuantity": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The available quantity of the item."
        },
        "costs": {
          "type": "object",
          "additionalProperties": {
            "format": "float",
            "type": "number"
          },
          "description": "Optional. A map to pass the costs associated with the product. For example: {\"manufacturing\": 45.5} The profit of selling this item is computed like so: * If 'exactPrice' is provided, profit = displayPrice - sum(costs) * If 'priceRange' is provided, profit = minPrice - sum(costs)"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudRecommendationengineV1beta1ProductDetail": {
      "description": "Detailed product information associated with a user event.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Optional. Currency code for price/costs. Use three-character ISO-4217 code. Required only if originalPrice or displayPrice is set."
        },
        "itemAttributes": {
          "$ref": "GoogleCloudRecommendationengineV1beta1FeatureMap",
          "description": "Optional. Extra features associated with a product in the user event."
        },
        "displayPrice": {
          "type": "number",
          "description": "Optional. Display price of the product (e.g. discounted price). If provided, this will override the display price in Catalog for this product.",
          "format": "float"
        },
        "stockState": {
          "description": "Optional. Item stock state. If provided, this overrides the stock state in Catalog for items in this event.",
          "enum": [
            "STOCK_STATE_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "BACKORDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default item stock status. Should never be used.",
            "Item in stock.",
            "Item out of stock.",
            "Item that is in pre-order state.",
            "Item that is back-ordered (i.e. temporarily out of stock)."
          ]
        },
        "id": {
          "type": "string",
          "description": "Required. Catalog item ID. UTF-8 encoded string with a length limit of 128 characters."
        },
        "quantity": {
          "format": "int32",
          "description": "Optional. Quantity of the product associated with the user event. For example, this field will be 2 if two products are added to the shopping cart for `add-to-cart` event. Required for `add-to-cart`, `add-to-list`, `remove-from-cart`, `checkout-start`, `purchase-complete`, `refund` event types.",
          "type": "integer"
        },
        "availableQuantity": {
          "description": "Optional. Quantity of the products in stock when a user event happens. Optional. If provided, this overrides the available quantity in Catalog for this event. and can only be set if `stock_status` is set to `IN_STOCK`. Note that if an item is out of stock, you must set the `stock_state` field to be `OUT_OF_STOCK`. Leaving this field unspecified / as zero is not sufficient to mark the item out of stock.",
          "format": "int32",
          "type": "integer"
        },
        "originalPrice": {
          "format": "float",
          "description": "Optional. Original price of the product. If provided, this will override the original price in Catalog for this product.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudRecommendationengineV1beta1ProductDetail"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1Catalog": {
      "type": "object",
      "description": "The catalog configuration. Next ID: 5.",
      "id": "GoogleCloudRecommendationengineV1beta1Catalog",
      "properties": {
        "displayName": {
          "description": "Required. The catalog display name.",
          "type": "string"
        },
        "defaultEventStoreId": {
          "type": "string",
          "description": "Required. The ID of the default event store."
        },
        "catalogItemLevelConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig",
          "description": "Required. The catalog item level configuration."
        },
        "name": {
          "type": "string",
          "description": "The fully qualified resource name of the catalog."
        }
      }
    },
    "GoogleCloudRecommendationengineV1alphaTuningResponse": {
      "properties": {},
      "description": "Response associated with a tune operation.",
      "id": "GoogleCloudRecommendationengineV1alphaTuningResponse",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PredictRequest": {
      "properties": {
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the predict request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging.",
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The previous PredictResponse.next_page_token."
        },
        "params": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Optional. Additional domain specific parameters for the predictions. Allowed values: * `returnCatalogItem`: Boolean. If set to true, the associated catalogItem object will be returned in the `PredictResponse.PredictionResult.itemMetadata` object in the method response. * `returnItemScore`: Boolean. If set to true, the prediction 'score' corresponding to each returned item will be set in the `metadata` field in the prediction response. The given 'score' indicates the probability of an item being clicked/purchased given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to false, the service will return generic (unfiltered) popular items instead of empty if your filter blocks all prediction results.",
          "type": "object"
        },
        "dryRun": {
          "type": "boolean",
          "description": "Optional. Use dryRun mode for this prediction query. If set to true, a dummy model will be used that returns arbitrary catalog items. Note that the dryRun mode should only be used for testing the API, or if the model is not ready."
        },
        "labels": {
          "description": "Optional. The labels for the predict request. * Label keys can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * Non-zero label values can contain lowercase letters, digits and hyphens, must start with a letter, and must end with a letter or digit. * No more than 64 labels can be associated with a given request. See https://goo.gl/xmQnxf for more information on and examples of labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of results to return per page. Set this property to the number of prediction results required. If zero, the service will choose a reasonable default."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter for restricting prediction results. Accepts values for tags and the `filterOutOfStockItems` flag. * Tag expressions. Restricts predictions to items that match all of the specified tags. Boolean operators `OR` and `NOT` are supported if the expression is enclosed in parentheses, and must be separated from the tag values by a space. `-\"tagA\"` is also supported and is equivalent to `NOT \"tagA\"`. Tag values must be double quoted UTF-8 encoded strings with a size limit of 1 KiB. * filterOutOfStockItems. Restricts predictions to items that do not have a stockState value of OUT_OF_STOCK. Examples: * tag=(\"Red\" OR \"Blue\") tag=\"New-Arrival\" tag=(NOT \"promotional\") * filterOutOfStockItems tag=(-\"promotional\") * filterOutOfStockItems If your filter blocks all prediction results, nothing will be returned. If you want generic (unfiltered) popular items to be returned instead, set `strictFiltering` to false in `PredictRequest.params`."
        }
      },
      "description": "Request message for Predict method.",
      "id": "GoogleCloudRecommendationengineV1beta1PredictRequest",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudRecommendationengineV1beta1ImportUserEventsResponse",
      "type": "object",
      "properties": {
        "importSummary": {
          "$ref": "GoogleCloudRecommendationengineV1beta1UserEventImportSummary",
          "description": "Aggregated statistics of user event import status."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest": {
      "description": "Request message for Import methods.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. Unique identifier provided by client, within the ancestor dataset scope. Ensures idempotency and used for request deduplication. Server-generated if unspecified. Up to 128 characters long. This is returned as google.longrunning.Operation.name in the response.",
          "type": "string"
        },
        "inputConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1InputConfig",
          "description": "Required. The desired input location of the data."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. Indicates which fields in the provided imported 'items' to update. If not set, will by default update all fields."
        },
        "errorsConfig": {
          "$ref": "GoogleCloudRecommendationengineV1beta1ImportErrorsConfig",
          "description": "Optional. The desired location of errors incurred during the Import."
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1ImportCatalogItemsRequest"
    },
    "GoogleCloudRecommendationengineV1beta1ImportMetadata": {
      "id": "GoogleCloudRecommendationengineV1beta1ImportMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the Import operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "operationName": {
          "type": "string",
          "description": "Name of the operation."
        },
        "requestId": {
          "type": "string",
          "description": "Id of the request / operation. This is parroting back the requestId that was passed in the request."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that encountered errors while processing."
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were processed successfully."
        }
      }
    },
    "GoogleCloudRecommendationengineV1beta1UserEventInlineSource": {
      "description": "The inline source for the input config for ImportUserEvents method.",
      "properties": {
        "userEvents": {
          "description": "Optional. A list of user events to import. Recommended max of 10k items.",
          "items": {
            "$ref": "GoogleCloudRecommendationengineV1beta1UserEvent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1UserEventInlineSource",
      "type": "object"
    },
    "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult": {
      "type": "object",
      "description": "PredictionResult represents the recommendation prediction results.",
      "properties": {
        "itemMetadata": {
          "description": "Additional item metadata / annotations. Possible values: * `catalogItem`: JSON representation of the catalogItem. Will be set if `returnCatalogItem` is set to true in `PredictRequest.params`. * `score`: Prediction score in double value. Will be set if `returnItemScore` is set to true in `PredictRequest.params`.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "id": {
          "description": "ID of the recommended catalog item",
          "type": "string"
        }
      },
      "id": "GoogleCloudRecommendationengineV1beta1PredictResponsePredictionResult"
    },
    "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig": {
      "type": "object",
      "description": "Configures the catalog level that users send events to, and the level at which predictions are made.",
      "id": "GoogleCloudRecommendationengineV1beta1CatalogItemLevelConfig",
      "properties": {
        "predictItemLevel": {
          "enumDescriptions": [
            "Unknown value - should never be used.",
            "Catalog items are at variant level.",
            "Catalog items are at master level."
          ],
          "type": "string",
          "description": "Optional. Level of the catalog at which predictions are made. See https://cloud.google.com/recommendations-ai/docs/catalog#catalog-levels for more details.",
          "enum": [
            "CATALOG_ITEM_LEVEL_UNSPECIFIED",
            "VARIANT",
            "MASTER"
          ]
[...]
