{
  "version": "v2",
  "ownerName": "Google",
  "batchPath": "batch",
  "version_module": true,
  "ownerDomain": "google.com",
  "name": "remotebuildexecution",
  "title": "Remote Build Execution API",
  "discoveryVersion": "v1",
  "revision": "20210126",
  "id": "remotebuildexecution:v2",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "v2": {
      "methods": {
        "getCapabilities": {
          "parameterOrder": [
            "instanceName"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BuildBazelRemoteExecutionV2ServerCapabilities"
          },
          "path": "v2/{+instanceName}/capabilities",
          "flatPath": "v2/{v2Id}/capabilities",
          "description": "GetCapabilities returns the server capabilities configuration of the remote endpoint. Only the capabilities of the services supported by the endpoint will be returned: * Execution + CAS + Action Cache endpoints should return both CacheCapabilities and ExecutionCapabilities. * Execution only endpoints should return ExecutionCapabilities. * CAS + Action Cache only endpoints should return CacheCapabilities.",
          "parameters": {
            "instanceName": {
              "pattern": "^.*$",
              "location": "path",
              "type": "string",
              "description": "The instance of the execution system to operate against. A server may support multiple instances of the execution system (with their own workers, storage, caches, etc.). The server MAY require use of this field to select between them in an implementation-defined fashion, otherwise it can be omitted.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "remotebuildexecution.getCapabilities"
        }
      }
    },
    "operations": {
      "methods": {
        "waitExecution": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Wait for an execution operation to complete. When the client initially makes the request, the server immediately responds with the current status of the execution. The server will leave the request stream open until the operation completes, and then respond with the completed operation. The server MAY choose to stream additional updates as execution progresses, such as to provide an update as to the state of the execution.",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "flatPath": "v2/operations/{operationsId}:waitExecution",
          "id": "remotebuildexecution.operations.waitExecution",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "BuildBazelRemoteExecutionV2WaitExecutionRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the Operation returned by Execute.",
              "required": true,
              "location": "path",
              "pattern": "^operations/.*$"
            }
          },
          "path": "v2/{+name}:waitExecution"
        }
      }
    },
    "actionResults": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "v2/{+instanceName}/actionResults/{hash}/{sizeBytes}",
          "parameters": {
            "inlineStderr": {
              "location": "query",
              "description": "A hint to the server to request inlining stderr in the ActionResult message.",
              "type": "boolean"
            },
            "sizeBytes": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The size of the blob, in bytes."
            },
            "inlineStdout": {
              "description": "A hint to the server to request inlining stdout in the ActionResult message.",
              "location": "query",
              "type": "boolean"
            },
            "instanceName": {
              "location": "path",
              "description": "The instance of the execution system to operate against. A server may support multiple instances of the execution system (with their own workers, storage, caches, etc.). The server MAY require use of this field to select between them in an implementation-defined fashion, otherwise it can be omitted.",
              "pattern": "^.*$",
              "type": "string",
              "required": true
            },
            "inlineOutputFiles": {
              "description": "A hint to the server to inline the contents of the listed output files. Each path needs to exactly match one path in `output_files` in the Command message.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "hash": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The hash. In the case of SHA-256, it will always be a lowercase hex string exactly 64 characters long."
            }
          },
          "flatPath": "v2/{v2Id}/actionResults/{hash}/{sizeBytes}",
          "parameterOrder": [
            "instanceName",
            "hash",
            "sizeBytes"
          ],
          "id": "remotebuildexecution.actionResults.get",
          "response": {
            "$ref": "BuildBazelRemoteExecutionV2ActionResult"
          },
          "description": "Retrieve a cached execution result. Implementations SHOULD ensure that any blobs referenced from the ContentAddressableStorage are available at the time of returning the ActionResult and will be for some period of time afterwards. The TTLs of the referenced blobs SHOULD be increased if necessary and applicable. Errors: * `NOT_FOUND`: The requested `ActionResult` is not in the cache.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "update": {
          "parameterOrder": [
            "instanceName",
            "hash",
            "sizeBytes"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "hash": {
              "required": true,
              "type": "string",
              "description": "The hash. In the case of SHA-256, it will always be a lowercase hex string exactly 64 characters long.",
              "location": "path"
            },
            "resultsCachePolicy.priority": {
              "description": "The priority (relative importance) of this content in the overall cache. Generally, a lower value means a longer retention time or other advantage, but the interpretation of a given value is server-dependent. A priority of 0 means a *default* value, decided by the server. The particular semantics of this field is up to the server. In particular, every server will have their own supported range of priorities, and will decide how these map into retention/eviction policy.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "sizeBytes": {
              "required": true,
              "description": "The size of the blob, in bytes.",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "instanceName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The instance of the execution system to operate against. A server may support multiple instances of the execution system (with their own workers, storage, caches, etc.). The server MAY require use of this field to select between them in an implementation-defined fashion, otherwise it can be omitted.",
              "pattern": "^.*$"
            }
          },
          "description": "Upload a new execution result. In order to allow the server to perform access control based on the type of action, and to assist with client debugging, the client MUST first upload the Action that produced the result, along with its Command, into the `ContentAddressableStorage`. Errors: * `INVALID_ARGUMENT`: One or more arguments are invalid. * `FAILED_PRECONDITION`: One or more errors occurred in updating the action result, such as a missing command or action. * `RESOURCE_EXHAUSTED`: There is insufficient storage space to add the entry to the cache.",
          "flatPath": "v2/{v2Id}/actionResults/{hash}/{sizeBytes}",
          "response": {
            "$ref": "BuildBazelRemoteExecutionV2ActionResult"
          },
          "request": {
            "$ref": "BuildBazelRemoteExecutionV2ActionResult"
          },
          "path": "v2/{+instanceName}/actionResults/{hash}/{sizeBytes}",
          "id": "remotebuildexecution.actionResults.update",
          "httpMethod": "PUT"
        }
      }
    },
    "blobs": {
      "methods": {
        "getTree": {
          "path": "v2/{+instanceName}/blobs/{hash}/{sizeBytes}:getTree",
          "parameters": {
            "pageSize": {
              "description": "A maximum page size to request. If present, the server will request no more than this many items. Regardless of whether a page size is specified, the server may place its own limit on the number of items to be returned and require the client to retrieve more items using a subsequent request.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, which must be a value received in a previous GetTreeResponse. If present, the server will use that token as an offset, returning only that page and the ones that succeed it."
            },
            "sizeBytes": {
              "description": "The size of the blob, in bytes.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "instanceName": {
              "type": "string",
              "pattern": "^.*$",
              "description": "The instance of the execution system to operate against. A server may support multiple instances of the execution system (with their own workers, storage, caches, etc.). The server MAY require use of this field to select between them in an implementation-defined fashion, otherwise it can be omitted.",
              "required": true,
              "location": "path"
            },
            "hash": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The hash. In the case of SHA-256, it will always be a lowercase hex string exactly 64 characters long."
            }
          },
          "parameterOrder": [
            "instanceName",
            "hash",
            "sizeBytes"
          ],
          "flatPath": "v2/{v2Id}/blobs/{hash}/{sizeBytes}:getTree",
          "response": {
            "$ref": "BuildBazelRemoteExecutionV2GetTreeResponse"
          },
          "httpMethod": "GET",
          "description": "Fetch the entire directory tree rooted at a node. This request must be targeted at a Directory stored in the ContentAddressableStorage (CAS). The server will enumerate the `Directory` tree recursively and return every node descended from the root. The GetTreeRequest.page_token parameter can be used to skip ahead in the stream (e.g. when retrying a partially completed and aborted request), by setting it to a value taken from GetTreeResponse.next_page_token of the last successfully processed GetTreeResponse). The exact traversal order is unspecified and, unless retrieving subsequent pages from an earlier request, is not guaranteed to be stable across multiple invocations of `GetTree`. If part of the tree is missing from the CAS, the server will return the portion present and omit the rest. Errors: * `NOT_FOUND`: The requested tree root is not present in the CAS.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "remotebuildexecution.blobs.getTree"
        },
        "batchRead": {
          "response": {
            "$ref": "BuildBazelRemoteExecutionV2BatchReadBlobsResponse"
          },
          "id": "remotebuildexecution.blobs.batchRead",
          "httpMethod": "POST",
          "parameterOrder": [
            "instanceName"
          ],
          "flatPath": "v2/{v2Id}/blobs:batchRead",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/{+instanceName}/blobs:batchRead",
          "parameters": {
            "instanceName": {
              "location": "path",
              "pattern": "^.*$",
              "type": "string",
              "required": true,
              "description": "The instance of the execution system to operate against. A server may support multiple instances of the execution system (with their own workers, storage, caches, etc.). The server MAY require use of this field to select between them in an implementation-defined fashion, otherwise it can be omitted."
            }
          },
          "description": "Download many blobs at once. The server may enforce a limit of the combined total size of blobs to be downloaded using this API. This limit may be obtained using the Capabilities API. Requests exceeding the limit should either be split into smaller chunks or downloaded using the ByteStream API, as appropriate. This request is equivalent to calling a Bytestream `Read` request on each individual blob, in parallel. The requests may succeed or fail independently. Errors: * `INVALID_ARGUMENT`: The client attempted to read more than the server supported limit. Every error on individual read will be returned in the corresponding digest status.",
          "request": {
            "$ref": "BuildBazelRemoteExecutionV2BatchReadBlobsRequest"
          }
        },
        "findMissing": {
          "path": "v2/{+instanceName}/blobs:findMissing",
          "parameterOrder": [
            "instanceName"
          ],
          "response": {
            "$ref": "BuildBazelRemoteExecutionV2FindMissingBlobsResponse"
          },
          "id": "remotebuildexecution.blobs.findMissing",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Determine if blobs are present in the CAS. Clients can use this API before uploading blobs to determine which ones are already present in the CAS and do not need to be uploaded again. Servers SHOULD increase the TTLs of the referenced blobs if necessary and applicable. There are no method-specific errors.",
          "httpMethod": "POST",
          "parameters": {
            "instanceName": {
              "location": "path",
              "required": true,
              "description": "The instance of the execution system to operate against. A server may support multiple instances of the execution system (with their own workers, storage, caches, etc.). The server MAY require use of this field to select between them in an implementation-defined fashion, otherwise it can be omitted.",
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "flatPath": "v2/{v2Id}/blobs:findMissing",
          "request": {
            "$ref": "BuildBazelRemoteExecutionV2FindMissingBlobsRequest"
          }
        },
        "batchUpdate": {
          "response": {
            "$ref": "BuildBazelRemoteExecutionV2BatchUpdateBlobsResponse"
          },
          "request": {
            "$ref": "BuildBazelRemoteExecutionV2BatchUpdateBlobsRequest"
          },
          "parameterOrder": [
            "instanceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "flatPath": "v2/{v2Id}/blobs:batchUpdate",
          "parameters": {
            "instanceName": {
              "description": "The instance of the execution system to operate against. A server may support multiple instances of the execution system (with their own workers, storage, caches, etc.). The server MAY require use of this field to select between them in an implementation-defined fashion, otherwise it can be omitted.",
              "required": true,
              "pattern": "^.*$",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Upload many blobs at once. The server may enforce a limit of the combined total size of blobs to be uploaded using this API. This limit may be obtained using the Capabilities API. Requests exceeding the limit should either be split into smaller chunks or uploaded using the ByteStream API, as appropriate. This request is equivalent to calling a Bytestream `Write` request on each individual blob, in parallel. The requests may succeed or fail independently. Errors: * `INVALID_ARGUMENT`: The client attempted to upload more than the server supported limit. Individual requests may return the following errors, additionally: * `RESOURCE_EXHAUSTED`: There is insufficient disk quota to store the blob. * `INVALID_ARGUMENT`: The Digest does not match the provided data.",
          "path": "v2/{+instanceName}/blobs:batchUpdate",
          "id": "remotebuildexecution.blobs.batchUpdate"
        }
      }
    },
    "actions": {
      "methods": {
        "execute": {
          "id": "remotebuildexecution.actions.execute",
          "description": "Execute an action remotely. In order to execute an action, the client must first upload all of the inputs, the Command to run, and the Action into the ContentAddressableStorage. It then calls `Execute` with an `action_digest` referring to them. The server will run the action and eventually return the result. The input `Action`'s fields MUST meet the various canonicalization requirements specified in the documentation for their types so that it has the same digest as other logically equivalent `Action`s. The server MAY enforce the requirements and return errors if a non-canonical input is received. It MAY also proceed without verifying some or all of the requirements, such as for performance reasons. If the server does not verify the requirement, then it will treat the `Action` as distinct from another logically equivalent action if they hash differently. Returns a stream of google.longrunning.Operation messages describing the resulting execution, with eventual `response` ExecuteResponse. The `metadata` on the operation is of type ExecuteOperationMetadata. If the client remains connected after the first response is returned after the server, then updates are streamed as if the client had called WaitExecution until the execution completes or the request reaches an error. The operation can also be queried using Operations API. The server NEED NOT implement other methods or functionality of the Operations API. Errors discovered during creation of the `Operation` will be reported as gRPC Status errors, while errors that occurred while running the action will be reported in the `status` field of the `ExecuteResponse`. The server MUST NOT set the `error` field of the `Operation` proto. The possible errors include: * `INVALID_ARGUMENT`: One or more arguments are invalid. * `FAILED_PRECONDITION`: One or more errors occurred in setting up the action requested, such as a missing input or command or no worker being available. The client may be able to fix the errors and retry. * `RESOURCE_EXHAUSTED`: There is insufficient quota of some resource to run the action. * `UNAVAILABLE`: Due to a transient condition, such as all workers being occupied (and the server does not support a queue), the action could not be started. The client should retry. * `INTERNAL`: An internal error occurred in the execution engine or the worker. * `DEADLINE_EXCEEDED`: The execution timed out. * `CANCELLED`: The operation was cancelled by the client. This status is only possible if the server implements the Operations API CancelOperation method, and it was called for the current execution. In the case of a missing input or command, the server SHOULD additionally send a PreconditionFailure error detail where, for each requested blob not present in the CAS, there is a `Violation` with a `type` of `MISSING` and a `subject` of `\"blobs/{hash}/{size}\"` indicating the digest of the missing blob.",
          "httpMethod": "POST",
          "parameterOrder": [
            "instanceName"
          ],
          "flatPath": "v2/{v2Id}/actions:execute",
          "parameters": {
            "instanceName": {
              "pattern": "^.*$",
              "type": "string",
              "description": "The instance of the execution system to operate against. A server may support multiple instances of the execution system (with their own workers, storage, caches, etc.). The server MAY require use of this field to select between them in an implementation-defined fashion, otherwise it can be omitted.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "request": {
            "$ref": "BuildBazelRemoteExecutionV2ExecuteRequest"
          },
          "path": "v2/{+instanceName}/actions:execute",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "baseUrl": "https://remotebuildexecution.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "description": "Supplies a Remote Execution API service for tools such as bazel.",
  "documentationLink": "https://cloud.google.com/remote-build-execution/docs/",
  "kind": "discovery#restDescription",
  "canonicalName": "Remote Build Execution",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    }
  },
  "schemas": {
    "BuildBazelRemoteExecutionV2Tree": {
      "id": "BuildBazelRemoteExecutionV2Tree",
      "properties": {
        "children": {
          "description": "All the child directories: the directories referred to by the root and, recursively, all its children. In order to reconstruct the directory tree, the client must take the digests of each of the child directories and then build up a tree starting from the `root`.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2Directory"
          },
          "type": "array"
        },
        "root": {
          "$ref": "BuildBazelRemoteExecutionV2Directory",
          "description": "The root directory in the tree."
        }
      },
      "type": "object",
      "description": "A `Tree` contains all the Directory protos in a single directory Merkle tree, compressed into one message."
    },
    "BuildBazelRemoteExecutionV2CommandEnvironmentVariable": {
      "id": "BuildBazelRemoteExecutionV2CommandEnvironmentVariable",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The variable name."
        },
        "value": {
          "type": "string",
          "description": "The variable value."
        }
      },
      "description": "An `EnvironmentVariable` is one variable to set in the running program's environment."
    },
    "BuildBazelRemoteExecutionV2GetTreeResponse": {
      "description": "A response message for ContentAddressableStorage.GetTree.",
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2GetTreeResponse",
      "properties": {
        "directories": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2Directory"
          },
          "description": "The directories descended from the requested root.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, signifies that there are more results which the client can retrieve by passing this as the page_token in a subsequent request. If empty, signifies that this is the last page of results."
        }
      }
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandOutputs": {
      "description": "DEPRECATED - use CommandResult instead. Describes the actual outputs from the task.",
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandOutputs",
      "properties": {
        "outputs": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest",
          "description": "The output files. The blob referenced by the digest should contain one of the following (implementation-dependent): * A marshalled DirectoryMetadata of the returned filesystem * A LUCI-style .isolated file"
        },
        "exitCode": {
          "type": "integer",
          "description": "exit_code is only fully reliable if the status' code is OK. If the task exceeded its deadline or was cancelled, the process may still produce an exit code as it is cancelled, and this will be populated, but a successful (zero) is unlikely to be correct unless the status code is OK.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2SymlinkNode": {
      "id": "BuildBazelRemoteExecutionV2SymlinkNode",
      "description": "A `SymlinkNode` represents a symbolic link.",
      "properties": {
        "nodeProperties": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          },
          "description": "The node properties of the SymlinkNode.",
          "type": "array"
        },
        "target": {
          "description": "The target path of the symlink. The path separator is a forward slash `/`. The target path can be relative to the parent directory of the symlink or it can be an absolute path starting with `/`. Support for absolute paths can be checked using the Capabilities API. The canonical form forbids the substrings `/./` and `//` in the target path. `..` components are allowed anywhere in the target path.",
          "type": "string"
        },
        "name": {
          "description": "The name of the symlink.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesRequest": {
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesRequest",
      "properties": {
        "parent": {
          "description": "Resource name of the project. Format: `projects/[PROJECT_ID]`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicy": {
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicy",
      "description": "FeaturePolicy defines features allowed to be used on RBE instances, as well as instance-wide behavior changes that take effect without opt-in or opt-out at usage time.",
      "properties": {
        "dockerPrivileged": {
          "description": "Whether dockerPrivileged can be used.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        },
        "containerImageSources": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature",
          "description": "Which container image sources are allowed. Currently only RBE-supported registry (gcr.io) is allowed. One can allow all repositories under a project or one specific repository only. E.g. container_image_sources { policy: RESTRICTED allowed_values: [ \"gcr.io/project-foo\", \"gcr.io/project-bar/repo-baz\", ] } will allow any repositories under \"gcr.io/project-foo\" plus the repository \"gcr.io/project-bar/repo-baz\". Default (UNSPECIFIED) is equivalent to any source is allowed."
        },
        "dockerAddCapabilities": {
          "description": "Whether dockerAddCapabilities can be used or what capabilities are allowed.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        },
        "dockerChrootPath": {
          "description": "Whether dockerChrootPath can be used.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        },
        "dockerRunAsRoot": {
          "description": "Whether dockerRunAsRoot can be used.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        },
        "linuxIsolation": {
          "enumDescriptions": [
            "Default value. Will be using Linux default runtime.",
            "Use gVisor runsc runtime.",
            "Use stardard Linux runtime. This has the same behaviour as unspecified, but it can be used to revert back from gVisor."
          ],
          "type": "string",
          "enum": [
            "LINUX_ISOLATION_UNSPECIFIED",
            "GVISOR",
            "OFF"
          ],
          "description": "linux_isolation allows overriding the docker runtime used for containers started on Linux."
        },
        "dockerNetwork": {
          "description": "Whether dockerNetwork can be used or what network modes are allowed. E.g. one may allow `off` value only via `allowed_values`.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        },
        "dockerSiblingContainers": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature",
          "description": "Whether dockerSiblingContainers can be used."
        },
        "dockerRuntime": {
          "description": "Whether dockerRuntime is allowed to be set or what runtimes are allowed. Note linux_isolation takes precedence, and if set, docker_runtime values may be rejected if they are incompatible with the selected isolation.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        }
      }
    },
    "GoogleDevtoolsRemotebuildbotCommandDurations": {
      "properties": {
        "execution": {
          "format": "google-duration",
          "type": "string",
          "description": "The time spent executing the command (i.e., doing useful work)."
        },
        "download": {
          "type": "string",
          "format": "google-duration",
          "description": "The time spent downloading the input files and constructing the working directory."
        },
        "dockerPrepStartTime": {
          "description": "The timestamp when docker preparation begins.",
          "format": "google-datetime",
          "type": "string"
        },
        "dockerPrep": {
          "type": "string",
          "description": "The time spent preparing the command to be run in a Docker container (includes pulling the Docker image, if necessary).",
          "format": "google-duration"
        },
        "upload": {
          "description": "The time spent uploading the output files.",
          "format": "google-duration",
          "type": "string"
        },
        "uploadStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when uploading the output files begins."
        },
        "downloadStartTime": {
          "description": "The timestamp when downloading the input files begins.",
          "type": "string",
          "format": "google-datetime"
        },
        "stdout": {
          "type": "string",
          "format": "google-duration",
          "description": "The time spent uploading the stdout logs."
        },
        "execStartTime": {
          "type": "string",
          "description": "The timestamp when execution begins.",
          "format": "google-datetime"
        },
        "overall": {
          "format": "google-duration",
          "description": "The time spent completing the command, in total.",
          "type": "string"
        },
        "isoPrepDone": {
          "format": "google-datetime",
          "description": "The timestamp when preparation is done and bot starts downloading files.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsRemotebuildbotCommandDurations",
      "description": "CommandDuration contains the various duration metrics tracked when a bot performs a command.",
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2BatchReadBlobsResponse": {
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2BatchReadBlobsResponse",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2BatchReadBlobsResponseResponse"
          },
          "description": "The responses to the requests."
        }
      },
      "description": "A response message for ContentAddressableStorage.BatchReadBlobs."
    },
    "BuildBazelRemoteExecutionV2FileNode": {
      "id": "BuildBazelRemoteExecutionV2FileNode",
      "description": "A `FileNode` represents a single file and associated metadata.",
      "type": "object",
      "properties": {
        "nodeProperties": {
          "description": "The node properties of the FileNode.",
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          }
        },
        "isExecutable": {
          "type": "boolean",
          "description": "True if file is executable, false otherwise."
        },
        "digest": {
          "description": "The digest of the file's content.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        },
        "name": {
          "type": "string",
          "description": "The name of the file."
        }
      }
    },
    "BuildBazelRemoteExecutionV2PriorityCapabilitiesPriorityRange": {
      "id": "BuildBazelRemoteExecutionV2PriorityCapabilitiesPriorityRange",
      "type": "object",
      "properties": {
        "maxPriority": {
          "format": "int32",
          "type": "integer"
        },
        "minPriority": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Supported range of priorities, including boundaries."
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandResult": {
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandResult",
      "description": "All information about the execution of a command, suitable for providing as the Bots interface's `Lease.result` field.",
      "properties": {
        "duration": {
          "type": "string",
          "description": "The elapsed time between calling Accept and Complete. The server will also have its own idea of what this should be, but this excludes the overhead of the RPCs and the bot response time.",
          "format": "google-duration"
        },
        "status": {
          "description": "An overall status for the command. For example, if the command timed out, this might have a code of DEADLINE_EXCEEDED; if it was killed by the OS for memory exhaustion, it might have a code of RESOURCE_EXHAUSTED.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "Implementation-dependent metadata about the task. Both servers and bots may define messages which can be encoded here; bots are free to provide metadata in multiple formats, and servers are free to choose one or more of the values to process and ignore others. In particular, it is *not* considered an error for the bot to provide the server with a field that it doesn't know about."
        },
        "outputs": {
          "description": "The output files. The blob referenced by the digest should contain one of the following (implementation-dependent): * A marshalled DirectoryMetadata of the returned filesystem * A LUCI-style .isolated file",
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
        },
        "overhead": {
          "format": "google-duration",
          "type": "string",
          "description": "The amount of time *not* spent executing the command (ie uploading/downloading files)."
        },
        "exitCode": {
          "description": "The exit code of the process. An exit code of \"0\" should only be trusted if `status` has a code of OK (otherwise it may simply be unset).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2NodeProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The property name."
        },
        "value": {
          "description": "The property value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single property for FileNodes, DirectoryNodes, and SymlinkNodes. The server is responsible for specifying the property `name`s that it accepts. If permitted by the server, the same `name` may occur multiple times.",
      "id": "BuildBazelRemoteExecutionV2NodeProperty"
    },
    "BuildBazelRemoteExecutionV2OutputSymlink": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "The full path of the symlink relative to the working directory, including the filename. The path separator is a forward slash `/`. Since this is a relative path, it MUST NOT begin with a leading forward slash."
        },
        "target": {
          "type": "string",
          "description": "The target path of the symlink. The path separator is a forward slash `/`. The target path can be relative to the parent directory of the symlink or it can be an absolute path starting with `/`. Support for absolute paths can be checked using the Capabilities API. The canonical form forbids the substrings `/./` and `//` in the target path. `..` components are allowed anywhere in the target path."
        },
        "nodeProperties": {
          "description": "The supported node properties of the OutputSymlink, if requested by the Action.",
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          }
        }
      },
      "id": "BuildBazelRemoteExecutionV2OutputSymlink",
      "description": "An `OutputSymlink` is similar to a Symlink, but it is used as an output in an `ActionResult`. `OutputSymlink` is binary-compatible with `SymlinkNode`."
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool": {
      "type": "object",
      "properties": {
        "channel": {
          "type": "string",
          "description": "Channel specifies the release channel of the pool."
        },
        "state": {
          "description": "Output only. State of the worker pool.",
          "enumDescriptions": [
            "Not a valid state, but the default value of the enum.",
            "The worker pool is in state `CREATING` once `CreateWorkerPool` is called and before all requested workers are ready.",
            "The worker pool is in state `RUNNING` when all its workers are ready for use.",
            "The worker pool is in state `UPDATING` once `UpdateWorkerPool` is called and before the new configuration has all the requested workers ready for use, and no older configuration has any workers. At that point the state transitions to `RUNNING`.",
            "The worker pool is in state `DELETING` once the `Delete` method is called and before the deletion completes.",
            "The worker pool is in state `INACTIVE` when the instance hosting the worker pool in not running."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "UPDATING",
            "DELETING",
            "INACTIVE"
          ],
          "type": "string"
        },
        "workerConfig": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerConfig",
          "description": "Specifies the properties, such as machine type and disk size, used for creating workers in a worker pool."
        },
        "autoscale": {
          "description": "The autoscale policy to apply on a pool.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAutoscale"
        },
        "workerCount": {
          "description": "The desired number of workers in the worker pool. Must be a value between 0 and 15000.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "WorkerPool resource name formatted as: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]/workerpools/[POOL_ID]`. name should not be populated when creating a worker pool since it is provided in the `poolId` field.",
          "type": "string"
        }
      },
      "description": "A worker pool resource in the Remote Build Execution API.",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool"
    },
    "GoogleDevtoolsRemoteworkersV1test2FileMetadata": {
      "properties": {
        "digest": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest",
          "description": "A pointer to the contents of the file. The method by which a client retrieves the contents from a CAS system is not defined here."
        },
        "isExecutable": {
          "type": "boolean",
          "description": "Properties of the file"
        },
        "contents": {
          "format": "byte",
          "type": "string",
          "description": "If the file is small enough, its contents may also or alternatively be listed here."
        },
        "path": {
          "description": "The path of this file. If this message is part of the CommandOutputs.outputs fields, the path is relative to the execution root and must correspond to an entry in CommandTask.outputs.files. If this message is part of a Directory message, then the path is relative to the root of that directory. All paths MUST be delimited by forward slashes.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2FileMetadata",
      "type": "object",
      "description": "The metadata for a file. Similar to the equivalent message in the Remote Execution API."
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "GoogleDevtoolsRemoteworkersV1test2Digest": {
      "properties": {
        "hash": {
          "type": "string",
          "description": "A string-encoded hash (eg \"1a2b3c\", not the byte array [0x1a, 0x2b, 0x3c]) using an implementation-defined hash algorithm (eg SHA-256)."
        },
        "sizeBytes": {
          "format": "int64",
          "description": "The size of the contents. While this is not strictly required as part of an identifier (after all, any given hash will have exactly one canonical size), it's useful in almost all cases when one might want to send or retrieve blobs of content and is included here for this reason.",
          "type": "string"
        }
      },
      "description": "The CommandTask and CommandResult messages assume the existence of a service that can serve blobs of content, identified by a hash and size known as a \"digest.\" The method by which these blobs may be retrieved is not specified here, but a model implementation is in the Remote Execution API's \"ContentAddressibleStorage\" interface. In the context of the RWAPI, a Digest will virtually always refer to the contents of a file or a directory. The latter is represented by the byte-encoded Directory message.",
      "type": "object",
      "id": "GoogleDevtoolsRemoteworkersV1test2Digest"
    },
    "BuildBazelRemoteExecutionV2Directory": {
      "type": "object",
      "description": "A `Directory` represents a directory node in a file tree, containing zero or more children FileNodes, DirectoryNodes and SymlinkNodes. Each `Node` contains its name in the directory, either the digest of its content (either a file blob or a `Directory` proto) or a symlink target, as well as possibly some metadata about the file or directory. In order to ensure that two equivalent directory trees hash to the same value, the following restrictions MUST be obeyed when constructing a a `Directory`: * Every child in the directory must have a path of exactly one segment. Multiple levels of directory hierarchy may not be collapsed. * Each child in the directory must have a unique path segment (file name). Note that while the API itself is case-sensitive, the environment where the Action is executed may or may not be case-sensitive. That is, it is legal to call the API with a Directory that has both \"Foo\" and \"foo\" as children, but the Action may be rejected by the remote system upon execution. * The files, directories and symlinks in the directory must each be sorted in lexicographical order by path. The path strings must be sorted by code point, equivalently, by UTF-8 bytes. * The NodeProperties of files, directories, and symlinks must be sorted in lexicographical order by property name. A `Directory` that obeys the restrictions is said to be in canonical form. As an example, the following could be used for a file named `bar` and a directory named `foo` with an executable file named `baz` (hashes shortened for readability): ```json // (Directory proto) { files: [ { name: \"bar\", digest: { hash: \"4a73bc9d03...\", size: 65534 }, node_properties: [ { \"name\": \"MTime\", \"value\": \"2017-01-15T01:30:15.01Z\" } ] } ], directories: [ { name: \"foo\", digest: { hash: \"4cf2eda940...\", size: 43 } } ] } // (Directory proto with hash \"4cf2eda940...\" and size 43) { files: [ { name: \"baz\", digest: { hash: \"b2c941073e...\", size: 1294, }, is_executable: true } ] } ```",
      "properties": {
        "nodeProperties": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          },
          "description": "The node properties of the Directory.",
          "type": "array"
        },
        "symlinks": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2SymlinkNode"
          },
          "description": "The symlinks in the directory.",
          "type": "array"
        },
        "directories": {
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2DirectoryNode"
          },
          "description": "The subdirectories in the directory."
        },
        "files": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2FileNode"
          },
          "description": "The files in the directory.",
          "type": "array"
        }
      },
      "id": "BuildBazelRemoteExecutionV2Directory"
    },
    "GoogleDevtoolsRemoteworkersV1test2DirectoryMetadata": {
      "id": "GoogleDevtoolsRemoteworkersV1test2DirectoryMetadata",
      "type": "object",
      "description": "The metadata for a directory. Similar to the equivalent message in the Remote Execution API.",
      "properties": {
        "path": {
          "description": "The path of the directory, as in FileMetadata.path.",
          "type": "string"
        },
        "digest": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest",
          "description": "A pointer to the contents of the directory, in the form of a marshalled Directory message."
        }
      }
    },
    "BuildBazelRemoteExecutionV2ExecutionCapabilities": {
      "properties": {
        "digestFunction": {
          "description": "Remote execution may only support a single digest function.",
          "enumDescriptions": [
            "It is an error for the server to return this value.",
            "The SHA-256 digest function.",
            "The SHA-1 digest function.",
            "The MD5 digest function.",
            "The Microsoft \"VSO-Hash\" paged SHA256 digest function. See https://github.com/microsoft/BuildXL/blob/master/Documentation/Specs/PagedHash.md .",
            "The SHA-384 digest function.",
            "The SHA-512 digest function."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SHA256",
            "SHA1",
            "MD5",
            "VSO",
            "SHA384",
            "SHA512"
          ]
        },
        "execEnabled": {
          "description": "Whether remote execution is enabled for the particular server/instance.",
          "type": "boolean"
        },
        "supportedNodeProperties": {
          "type": "array",
          "description": "Supported node properties.",
          "items": {
            "type": "string"
          }
        },
        "executionPriorityCapabilities": {
          "description": "Supported execution priority range.",
          "$ref": "BuildBazelRemoteExecutionV2PriorityCapabilities"
        }
      },
      "id": "BuildBazelRemoteExecutionV2ExecutionCapabilities",
      "type": "object",
      "description": "Capabilities of the remote execution system."
    },
    "BuildBazelRemoteExecutionV2PriorityCapabilities": {
      "id": "BuildBazelRemoteExecutionV2PriorityCapabilities",
      "type": "object",
      "description": "Allowed values for priority in ResultsCachePolicy Used for querying both cache and execution valid priority ranges.",
      "properties": {
        "priorities": {
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2PriorityCapabilitiesPriorityRange"
          }
        }
      }
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsResponse": {
      "type": "object",
      "properties": {
        "workerPools": {
          "type": "array",
          "description": "The list of worker pools in a given instance.",
          "items": {
            "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool"
          }
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsResponse"
    },
    "GoogleDevtoolsRemotebuildbotResourceUsageStat": {
      "properties": {
        "total": {
          "format": "uint64",
          "type": "string"
        },
        "used": {
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsRemotebuildbotResourceUsageStat",
      "type": "object"
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandTask": {
      "type": "object",
      "description": "Describes a shell-style task to execute, suitable for providing as the Bots interface's `Lease.payload` field.",
      "properties": {
        "expectedOutputs": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskOutputs",
          "description": "The expected outputs from the task."
        },
        "timeouts": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskTimeouts",
          "description": "The timeouts of this task."
        },
        "inputs": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputs",
          "description": "The inputs to the task."
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandTask"
    },
    "BuildBazelSemverSemVer": {
      "type": "object",
      "description": "The full version of a given tool.",
      "id": "BuildBazelSemverSemVer",
      "properties": {
        "minor": {
          "description": "The minor version, e.g. 2 for 10.2.3.",
          "type": "integer",
          "format": "int32"
        },
        "patch": {
          "format": "int32",
          "type": "integer",
          "description": "The patch version, e.g 3 for 10.2.3."
        },
        "prerelease": {
          "description": "The pre-release version. Either this field or major/minor/patch fields must be filled. They are mutually exclusive. Pre-release versions are assumed to be earlier than any released versions.",
          "type": "string"
        },
        "major": {
          "type": "integer",
          "format": "int32",
          "description": "The major version, e.g 10 for 10.2.3."
        }
      }
    },
    "BuildBazelRemoteExecutionV2Platform": {
      "id": "BuildBazelRemoteExecutionV2Platform",
      "description": "A `Platform` is a set of requirements, such as hardware, operating system, or compiler toolchain, for an Action's execution environment. A `Platform` is represented as a series of key-value pairs representing the properties that are required of the platform.",
      "properties": {
        "properties": {
          "description": "The properties that make up this platform. In order to ensure that equivalent `Platform`s always hash to the same value, the properties MUST be lexicographically sorted by name, and then by value. Sorting of strings is done by code point, equivalently, by the UTF-8 bytes.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2PlatformProperty"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature": {
      "description": "Defines whether a feature can be used or what values are accepted.",
      "properties": {
        "allowedValues": {
          "description": "A list of acceptable values. Only effective when the policy is `RESTRICTED`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "policy": {
          "enum": [
            "POLICY_UNSPECIFIED",
            "ALLOWED",
            "FORBIDDEN",
            "RESTRICTED"
          ],
          "type": "string",
          "description": "The policy of the feature.",
          "enumDescriptions": [
            "Default value, if not explicitly set. Equivalent to FORBIDDEN, unless otherwise documented on a specific Feature.",
            "Feature is explicitly allowed.",
            "Feature is forbidden. Requests attempting to leverage it will get an FailedPrecondition error, with a message like: \"Feature forbidden by FeaturePolicy: Feature on instance \"",
            "Only the values specified in the `allowed_values` are allowed."
          ]
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandTaskTimeouts": {
      "type": "object",
      "properties": {
        "idle": {
          "description": "This specifies the maximum amount of time the task can be idle - that is, go without generating some output in either stdout or stderr. If the process is silent for more than the specified time, the worker will terminate the task.",
          "format": "google-duration",
          "type": "string"
        },
        "execution": {
          "description": "This specifies the maximum time that the task can run, excluding the time required to download inputs or upload outputs. That is, the worker will terminate the task if it runs longer than this.",
          "type": "string",
          "format": "google-duration"
        },
        "shutdown": {
          "format": "google-duration",
          "description": "If the execution or IO timeouts are exceeded, the worker will try to gracefully terminate the task and return any existing logs. However, tasks may be hard-frozen in which case this process will fail. This timeout specifies how long to wait for a terminated task to shut down gracefully (e.g. via SIGTERM) before we bring down the hammer (e.g. SIGKILL on *nix, CTRL_BREAK_EVENT on Windows).",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskTimeouts",
      "description": "Describes the timeouts associated with this task."
    },
    "BuildBazelRemoteExecutionV2BatchUpdateBlobsResponseResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The result of attempting to upload that blob."
        },
        "digest": {
          "description": "The blob digest to which this response corresponds.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        }
      },
      "id": "BuildBazelRemoteExecutionV2BatchUpdateBlobsResponseResponse",
      "description": "A response corresponding to a single blob that the client tried to upload."
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance": {
      "description": "Instance conceptually encapsulates all Remote Build Execution resources for remote builds. An instance consists of storage and compute resources (for example, `ContentAddressableStorage`, `ActionCache`, `WorkerPools`) used for running remote builds. All Remote Build Execution API calls are scoped to an instance.",
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance",
      "properties": {
        "loggingEnabled": {
          "description": "Output only. Whether stack driver logging is enabled for the instance.",
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "Not a valid state, but the default value of the enum.",
            "The instance is in state `CREATING` once `CreateInstance` is called and before the instance is ready for use.",
            "The instance is in state `RUNNING` when it is ready for use.",
            "An `INACTIVE` instance indicates that there is a problem that needs to be fixed. Such instances cannot be used for execution and instances that remain in this state for a significant period of time will be removed permanently."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "INACTIVE"
          ],
          "description": "Output only. State of the instance.",
          "type": "string"
        },
        "location": {
          "description": "The location is a GCP region. Currently only `us-central1` is supported.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Instance resource name formatted as: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`. Name should not be populated when creating an instance since it is provided in the `instance_id` field.",
          "type": "string"
        },
        "featurePolicy": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicy",
          "description": "The policy to define whether or not RBE features can be used or how they can be used."
        }
      }
    },
    "BuildBazelRemoteExecutionV2BatchReadBlobsRequest": {
      "properties": {
        "digests": {
          "type": "array",
          "description": "The individual blob digests.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2Digest"
          }
        }
      },
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2BatchReadBlobsRequest",
      "description": "A request message for ContentAddressableStorage.BatchReadBlobs."
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputsEnvironmentVariable": {
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputsEnvironmentVariable",
      "properties": {
        "value": {
          "type": "string",
          "description": "The envvar value."
        },
        "name": {
          "description": "The envvar name.",
          "type": "string"
        }
      },
      "description": "An environment variable required by this task.",
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2OutputFile": {
      "description": "An `OutputFile` is similar to a FileNode, but it is used as an output in an `ActionResult`. It allows a full file path rather than only a name.",
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2OutputFile",
      "properties": {
        "isExecutable": {
          "type": "boolean",
          "description": "True if file is executable, false otherwise."
        },
        "contents": {
          "description": "The contents of the file if inlining was requested. The server SHOULD NOT inline file contents unless requested by the client in the GetActionResultRequest message. The server MAY omit inlining, even if requested, and MUST do so if inlining would cause the response to exceed message size limits.",
          "type": "string",
          "format": "byte"
        },
        "digest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest of the file's content."
        },
        "path": {
          "description": "The full path of the file relative to the working directory, including the filename. The path separator is a forward slash `/`. Since this is a relative path, it MUST NOT begin with a leading forward slash.",
          "type": "string"
        },
        "nodeProperties": {
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          },
          "description": "The supported node properties of the OutputFile, if requested by the Action."
        }
      }
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteInstanceRequest": {
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteInstanceRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the instance to delete. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`."
        }
      },
      "description": "The request used for `DeleteInstance`."
    },
    "GoogleDevtoolsRemoteworkersV1test2Directory": {
      "id": "GoogleDevtoolsRemoteworkersV1test2Directory",
      "properties": {
        "files": {
          "description": "The files in this directory",
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsRemoteworkersV1test2FileMetadata"
          }
        },
        "directories": {
          "items": {
            "$ref": "GoogleDevtoolsRemoteworkersV1test2DirectoryMetadata"
          },
          "description": "Any subdirectories",
          "type": "array"
        }
      },
      "description": "The contents of a directory. Similar to the equivalent message in the Remote Execution API.",
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2WaitExecutionRequest": {
      "type": "object",
      "properties": {},
      "id": "BuildBazelRemoteExecutionV2WaitExecutionRequest",
      "description": "A request message for WaitExecution."
    },
    "BuildBazelRemoteExecutionV2ActionResult": {
      "description": "An ActionResult represents the result of an Action being run.",
      "properties": {
        "stderrDigest": {
          "description": "The digest for a blob containing the standard error of the action, which can be retrieved from the ContentAddressableStorage.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        },
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "description": "The exit code of the command."
        },
        "stdoutRaw": {
          "description": "The standard output buffer of the action. The server SHOULD NOT inline stdout unless requested by the client in the GetActionResultRequest message. The server MAY omit inlining, even if requested, and MUST do so if inlining would cause the response to exceed message size limits.",
          "type": "string",
          "format": "byte"
        },
        "executionMetadata": {
          "description": "The details of the execution that originally produced this result.",
          "$ref": "BuildBazelRemoteExecutionV2ExecutedActionMetadata"
        },
        "outputFiles": {
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputFile"
          },
          "description": "The output files of the action. For each output file requested in the `output_files` or `output_paths` field of the Action, if the corresponding file existed after the action completed, a single entry will be present either in this field, or the `output_file_symlinks` field if the file was a symbolic link to another file (`output_symlinks` field after v2.1). If an output listed in `output_files` was found, but was a directory rather than a regular file, the server will return a FAILED_PRECONDITION. If the action does not produce the requested output, then that output will be omitted from the list. The server is free to arrange the output list as desired; clients MUST NOT assume that the output list is sorted."
        },
        "stderrRaw": {
          "type": "string",
          "description": "The standard error buffer of the action. The server SHOULD NOT inline stderr unless requested by the client in the GetActionResultRequest message. The server MAY omit inlining, even if requested, and MUST do so if inlining would cause the response to exceed message size limits.",
          "format": "byte"
        },
        "stdoutDigest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest for a blob containing the standard output of the action, which can be retrieved from the ContentAddressableStorage."
        },
        "outputDirectories": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputDirectory"
          },
          "type": "array",
          "description": "The output directories of the action. For each output directory requested in the `output_directories` or `output_paths` field of the Action, if the corresponding directory existed after the action completed, a single entry will be present in the output list, which will contain the digest of a Tree message containing the directory tree, and the path equal exactly to the corresponding Action output_directories member. As an example, suppose the Action had an output directory `a/b/dir` and the execution produced the following contents in `a/b/dir`: a file named `bar` and a directory named `foo` with an executable file named `baz`. Then, output_directory will contain (hashes shortened for readability): ```json // OutputDirectory proto: { path: \"a/b/dir\" tree_digest: { hash: \"4a73bc9d03...\", size: 55 } } // Tree proto with hash \"4a73bc9d03...\" and size 55: { root: { files: [ { name: \"bar\", digest: { hash: \"4a73bc9d03...\", size: 65534 } } ], directories: [ { name: \"foo\", digest: { hash: \"4cf2eda940...\", size: 43 } } ] } children : { // (Directory proto with hash \"4cf2eda940...\" and size 43) files: [ { name: \"baz\", digest: { hash: \"b2c941073e...\", size: 1294, }, is_executable: true } ] } } ``` If an output of the same name as listed in `output_files` of the Command was found in `output_directories`, but was not a directory, the server will return a FAILED_PRECONDITION."
        },
        "outputFileSymlinks": {
          "description": "The output files of the action that are symbolic links to other files. Those may be links to other output files, or input files, or even absolute paths outside of the working directory, if the server supports SymlinkAbsolutePathStrategy.ALLOWED. For each output file requested in the `output_files` or `output_paths` field of the Action, if the corresponding file existed after the action completed, a single entry will be present either in this field, or in the `output_files` field, if the file was not a symbolic link. If an output symbolic link of the same name as listed in `output_files` of the Command was found, but its target type was not a regular file, the server will return a FAILED_PRECONDITION. If the action does not produce the requested output, then that output will be omitted from the list. The server is free to arrange the output list as desired; clients MUST NOT assume that the output list is sorted. DEPRECATED as of v2.1. Servers that wish to be compatible with v2.0 API should still populate this field in addition to `output_symlinks`.",
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputSymlink"
          }
        },
        "outputSymlinks": {
          "type": "array",
          "description": "New in v2.1: this field will only be populated if the command `output_paths` field was used, and not the pre v2.1 `output_files` or `output_directories` fields. The output paths of the action that are symbolic links to other paths. Those may be links to other outputs, or inputs, or even absolute paths outside of the working directory, if the server supports SymlinkAbsolutePathStrategy.ALLOWED. A single entry for each output requested in `output_paths` field of the Action, if the corresponding path existed after the action completed and was a symbolic link. If the action does not produce a requested output, then that output will be omitted from the list. The server is free to arrange the output list as desired; clients MUST NOT assume that the output list is sorted.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputSymlink"
          }
        },
        "outputDirectorySymlinks": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputSymlink"
          },
          "description": "The output directories of the action that are symbolic links to other directories. Those may be links to other output directories, or input directories, or even absolute paths outside of the working directory, if the server supports SymlinkAbsolutePathStrategy.ALLOWED. For each output directory requested in the `output_directories` field of the Action, if the directory existed after the action completed, a single entry will be present either in this field, or in the `output_directories` field, if the directory was not a symbolic link. If an output of the same name was found, but was a symbolic link to a file instead of a directory, the server will return a FAILED_PRECONDITION. If the action does not produce the requested output, then that output will be omitted from the list. The server is free to arrange the output list as desired; clients MUST NOT assume that the output list is sorted. DEPRECATED as of v2.1. Servers that wish to be compatible with v2.0 API should still populate this field in addition to `output_symlinks`.",
          "type": "array"
        }
      },
      "id": "BuildBazelRemoteExecutionV2ActionResult",
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2CacheCapabilities": {
      "description": "Capabilities of the remote cache system.",
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2CacheCapabilities",
      "properties": {
        "maxBatchTotalSizeBytes": {
          "description": "Maximum total size of blobs to be uploaded/downloaded using batch methods. A value of 0 means no limit is set, although in practice there will always be a message size limitation of the protocol in use, e.g. GRPC.",
          "type": "string",
          "format": "int64"
        },
        "actionCacheUpdateCapabilities": {
          "$ref": "BuildBazelRemoteExecutionV2ActionCacheUpdateCapabilities",
          "description": "Capabilities for updating the action cache."
        },
        "symlinkAbsolutePathStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "Server will return an `INVALID_ARGUMENT` on input symlinks with absolute targets. If an action tries to create an output symlink with an absolute target, a `FAILED_PRECONDITION` will be returned.",
            "Server will allow symlink targets to escape the input root tree, possibly resulting in non-hermetic builds."
          ],
          "description": "Whether absolute symlink targets are supported.",
          "enum": [
            "UNKNOWN",
            "DISALLOWED",
            "ALLOWED"
          ]
        },
        "cachePriorityCapabilities": {
          "$ref": "BuildBazelRemoteExecutionV2PriorityCapabilities",
          "description": "Supported cache priority range for both CAS and ActionCache."
        },
        "digestFunction": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "It is an error for the server to return this value.",
              "The SHA-256 digest function.",
              "The SHA-1 digest function.",
              "The MD5 digest function.",
              "The Microsoft \"VSO-Hash\" paged SHA256 digest function. See https://github.com/microsoft/BuildXL/blob/master/Documentation/Specs/PagedHash.md .",
              "The SHA-384 digest function.",
              "The SHA-512 digest function."
            ],
            "enum": [
              "UNKNOWN",
              "SHA256",
              "SHA1",
              "MD5",
              "VSO",
              "SHA384",
              "SHA512"
            ]
          },
          "description": "All the digest functions supported by the remote cache. Remote cache may support multiple digest functions simultaneously."
        }
      }
    },
    "BuildBazelRemoteExecutionV2Digest": {
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2Digest",
      "description": "A content digest. A digest for a given blob consists of the size of the blob and its hash. The hash algorithm to use is defined by the server. The size is considered to be an integral part of the digest and cannot be separated. That is, even if the `hash` field is correctly specified but `size_bytes` is not, the server MUST reject the request. The reason for including the size in the digest is as follows: in a great many cases, the server needs to know the size of the blob it is about to work with prior to starting an operation with it, such as flattening Merkle tree structures or streaming it to a worker. Technically, the server could implement a separate metadata store, but this results in a significantly more complicated implementation as opposed to having the client specify the size up-front (or storing the size along with the digest in every message where digests are embedded). This does mean that the API leaks some implementation details of (what we consider to be) a reasonable server implementation, but we consider this to be a worthwhile tradeoff. When a `Digest` is used to refer to a proto message, it always refers to the message in binary encoded form. To ensure consistent hashing, clients and servers MUST ensure that they serialize messages according to the following rules, even if there are alternate valid encodings for the same message: * Fields are serialized in tag order. * There are no unknown fields. * There are no duplicate fields. * Fields are serialized according to the default semantics for their type. Most protocol buffer implementations will always follow these rules when serializing, but care should be taken to avoid shortcuts. For instance, concatenating two messages to merge them may produce duplicate fields.",
      "properties": {
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The size of the blob, in bytes."
        },
        "hash": {
          "description": "The hash. In the case of SHA-256, it will always be a lowercase hex string exactly 64 characters long.",
          "type": "string"
        }
      }
    },
    "BuildBazelRemoteExecutionV2ExecuteResponse": {
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2ExecuteResponse",
      "description": "The response message for Execution.Execute, which will be contained in the response field of the Operation.",
      "properties": {
        "serverLogs": {
          "description": "An optional list of additional log outputs the server wishes to provide. A server can use this to return execution-specific logs however it wishes. This is intended primarily to make it easier for users to debug issues that may be outside of the actual job execution, such as by identifying the worker executing the action or by providing logs from the worker's setup phase. The keys SHOULD be human readable so that a client can display them to a user.",
          "additionalProperties": {
            "$ref": "BuildBazelRemoteExecutionV2LogFile"
          },
          "type": "object"
        },
        "cachedResult": {
          "description": "True if the result was served from cache, false if it was executed.",
          "type": "boolean"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "If the status has a code other than `OK`, it indicates that the action did not finish execution. For example, if the operation times out during execution, the status will have a `DEADLINE_EXCEEDED` code. Servers MUST use this field for errors in execution, rather than the error field on the `Operation` object. If the status code is other than `OK`, then the result MUST NOT be cached. For an error status, the `result` field is optional; the server may populate the output-, stdout-, and stderr-related fields if it has any information available, such as the stdout and stderr of a timed-out action."
        },
        "result": {
          "description": "The result of the action.",
          "$ref": "BuildBazelRemoteExecutionV2ActionResult"
        },
        "message": {
          "description": "Freeform informational message with details on the execution of the action that may be displayed to the user upon failure or when requested explicitly.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateWorkerPoolRequest": {
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateWorkerPoolRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The update mask applies to worker_pool. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If an empty update_mask is provided, only the non-default valued field in the worker pool field will be updated. Note that in order to update a field to the default value (zero, false, empty string) an explicit update_mask must be provided."
        },
        "workerPool": {
          "description": "Specifies the worker pool to update.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool"
        }
      },
      "description": "The request used for UpdateWorkerPool."
    },
    "BuildBazelRemoteExecutionV2BatchReadBlobsResponseResponse": {
      "properties": {
        "data": {
          "description": "The raw binary data.",
          "format": "byte",
          "type": "string"
        },
        "digest": {
          "description": "The digest to which this response corresponds.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        },
        "status": {
          "description": "The result of attempting to download that blob.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "A response corresponding to a single blob that the client tried to download.",
      "id": "BuildBazelRemoteExecutionV2BatchReadBlobsResponseResponse",
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAutoscale": {
      "type": "object",
      "description": "Autoscale defines the autoscaling policy of a worker pool.",
      "properties": {
        "maxSize": {
          "description": "The maximal number of workers. Must be equal to or greater than min_size.",
          "format": "int64",
          "type": "string"
        },
        "minSize": {
          "type": "string",
          "description": "The minimal number of workers. Must be greater than 0.",
          "format": "int64"
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAutoscale"
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandOverhead": {
      "type": "object",
      "description": "DEPRECATED - use CommandResult instead. Can be used as part of CompleteRequest.metadata, or are part of a more sophisticated message.",
      "properties": {
        "overhead": {
          "format": "google-duration",
          "type": "string",
          "description": "The amount of time *not* spent executing the command (ie uploading/downloading files)."
        },
        "duration": {
          "type": "string",
          "description": "The elapsed time between calling Accept and Complete. The server will also have its own idea of what this should be, but this excludes the overhead of the RPCs and the bot response time.",
          "format": "google-duration"
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandOverhead"
    },
    "BuildBazelRemoteExecutionV2ExecuteOperationMetadata": {
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2ExecuteOperationMetadata",
      "description": "Metadata about an ongoing execution, which will be contained in the metadata field of the Operation.",
      "properties": {
        "stderrStreamName": {
          "description": "If set, the client can use this name with ByteStream.Read to stream the standard error.",
          "type": "string"
        },
        "stage": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "Checking the result against the cache.",
            "Currently idle, awaiting a free machine to execute.",
            "Currently being executed by a worker.",
            "Finished execution."
          ],
          "description": "The current stage of execution.",
          "enum": [
            "UNKNOWN",
            "CACHE_CHECK",
            "QUEUED",
            "EXECUTING",
            "COMPLETED"
          ]
        },
        "stdoutStreamName": {
          "type": "string",
          "description": "If set, the client can use this name with ByteStream.Read to stream the standard output."
        },
        "actionDigest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest of the Action being executed."
        }
      }
    },
    "BuildBazelRemoteExecutionV2ActionCacheUpdateCapabilities": {
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2ActionCacheUpdateCapabilities",
      "properties": {
        "updateEnabled": {
          "type": "boolean"
        }
      },
      "description": "Describes the server/instance capabilities for updating the action cache."
    },
    "BuildBazelRemoteExecutionV2OutputDirectory": {
      "type": "object",
      "properties": {
        "treeDigest": {
          "description": "The digest of the encoded Tree proto containing the directory's contents.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        },
        "path": {
          "description": "The full path of the directory relative to the working directory. The path separator is a forward slash `/`. Since this is a relative path, it MUST NOT begin with a leading forward slash. The empty string value is allowed, and it denotes the entire working directory.",
          "type": "string"
        }
      },
      "id": "BuildBazelRemoteExecutionV2OutputDirectory",
      "description": "An `OutputDirectory` is the output in an `ActionResult` corresponding to a directory's full contents rather than a single file."
    },
    "BuildBazelRemoteExecutionV2LogFile": {
      "id": "BuildBazelRemoteExecutionV2LogFile",
      "type": "object",
      "description": "A `LogFile` is a log stored in the CAS.",
      "properties": {
        "digest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest of the log contents."
        },
        "humanReadable": {
          "description": "This is a hint as to the purpose of the log, and is set to true if the log is human-readable text that can be usefully displayed to a user, and false otherwise. For instance, if a command-line client wishes to print the server logs to the terminal for a failed action, this allows it to avoid displaying a binary file.",
          "type": "boolean"
        }
      }
    },
    "GoogleDevtoolsRemoteworkersV1test2Blob": {
      "id": "GoogleDevtoolsRemoteworkersV1test2Blob",
      "description": "Describes a blob of binary content with its digest.",
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "The contents of the blob."
        },
        "digest": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest",
          "description": "The digest of the blob. This should be verified by the receiver."
        }
      },
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2DirectoryNode": {
      "id": "BuildBazelRemoteExecutionV2DirectoryNode",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the directory."
        },
        "digest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest of the Directory object represented. See Digest for information about how to take the digest of a proto message."
        }
      },
      "description": "A `DirectoryNode` represents a child of a Directory which is itself a `Directory` and its associated metadata."
    },
    "BuildBazelRemoteExecutionV2FindMissingBlobsRequest": {
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2FindMissingBlobsRequest",
      "description": "A request message for ContentAddressableStorage.FindMissingBlobs.",
      "properties": {
        "blobDigests": {
          "description": "A list of the blobs to check.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2Digest"
          },
          "type": "array"
        }
      }
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetWorkerPoolRequest": {
      "description": "The request used for GetWorkerPool.",
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetWorkerPoolRequest",
      "properties": {
        "name": {
          "description": "Name of the worker pool to retrieve. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]/workerpools/[POOL_ID]`.",
          "type": "string"
        }
      }
    },
    "BuildBazelRemoteExecutionV2Action": {
      "properties": {
        "commandDigest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest of the Command to run, which MUST be present in the ContentAddressableStorage."
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "A timeout after which the execution should be killed. If the timeout is absent, then the client is specifying that the execution should continue as long as the server will let it. The server SHOULD impose a timeout if the client does not specify one, however, if the client does specify a timeout that is longer than the server's maximum timeout, the server MUST reject the request. The timeout is a part of the Action message, and therefore two `Actions` with different timeouts are different, even if they are otherwise identical. This is because, if they were not, running an `Action` with a lower timeout than is required might result in a cache hit from an execution run with a longer timeout, hiding the fact that the timeout is too short. By encoding it directly in the `Action`, a lower timeout will result in a cache miss and the execution timeout will fail immediately, rather than whenever the cache entry gets evicted."
        },
        "inputRootDigest": {
          "description": "The digest of the root Directory for the input files. The files in the directory tree are available in the correct location on the build machine before the command is executed. The root directory, as well as every subdirectory and content blob referred to, MUST be in the ContentAddressableStorage.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        },
        "outputNodeProperties": {
          "type": "array",
          "description": "List of required supported NodeProperty keys. In order to ensure that equivalent `Action`s always hash to the same value, the supported node properties MUST be lexicographically sorted by name. Sorting of strings is done by code point, equivalently, by the UTF-8 bytes. The interpretation of these properties is server-dependent. If a property is not recognized by the server, the server will return an `INVALID_ARGUMENT` error.",
          "items": {
            "type": "string"
          }
        },
        "doNotCache": {
          "type": "boolean",
          "description": "If true, then the `Action`'s result cannot be cached, and in-flight requests for the same `Action` may not be merged."
        }
      },
      "id": "BuildBazelRemoteExecutionV2Action",
      "description": "An `Action` captures all the information about an execution which is required to reproduce it. `Action`s are the core component of the [Execution] service. A single `Action` represents a repeatable action that can be performed by the execution service. `Action`s can be succinctly identified by the digest of their wire format encoding and, once an `Action` has been executed, will be cached in the action cache. Future requests can then use the cached result rather than needing to run afresh. When a server completes execution of an Action, it MAY choose to cache the result in the ActionCache unless `do_not_cache` is `true`. Clients SHOULD expect the server to do so. By default, future calls to Execute the same `Action` will also serve their results from the cache. Clients must take care to understand the caching behaviour. Ideally, all `Action`s will be reproducible so that serving a result from cache is always desirable and correct.",
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2ResultsCachePolicy": {
      "id": "BuildBazelRemoteExecutionV2ResultsCachePolicy",
      "description": "A `ResultsCachePolicy` is used for fine-grained control over how action outputs are stored in the CAS and Action Cache.",
      "properties": {
        "priority": {
          "format": "int32",
          "description": "The priority (relative importance) of this content in the overall cache. Generally, a lower value means a longer retention time or other advantage, but the interpretation of a given value is server-dependent. A priority of 0 means a *default* value, decided by the server. The particular semantics of this field is up to the server. In particular, every server will have their own supported range of priorities, and will decide how these map into retention/eviction policy.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteWorkerPoolRequest": {
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteWorkerPoolRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the worker pool to delete. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]/workerpools/[POOL_ID]`.",
          "type": "string"
        }
      },
      "description": "The request used for DeleteWorkerPool."
    },
    "GoogleDevtoolsRemoteworkersV1test2AdminTemp": {
      "type": "object",
      "id": "GoogleDevtoolsRemoteworkersV1test2AdminTemp",
      "description": "AdminTemp is a prelimiary set of administration tasks. It's called \"Temp\" because we do not yet know the best way to represent admin tasks; it's possible that this will be entirely replaced in later versions of this API. If this message proves to be sufficient, it will be renamed in the alpha or beta release of this API. This message (suitably marshalled into a protobuf.Any) can be used as the inline_assignment field in a lease; the lease assignment field should simply be `\"admin\"` in these cases. This message is heavily based on Swarming administration tasks from the LUCI project (http://github.com/luci/luci-py/appengine/swarming).",
      "properties": {
        "arg": {
          "type": "string",
          "description": "The argument to the admin action; see `Command` for semantics."
        },
        "command": {
          "enumDescriptions": [
            "Illegal value.",
            "Download and run a new version of the bot. `arg` will be a resource accessible via `ByteStream.Read` to obtain the new bot code.",
            "Restart the bot without downloading a new version. `arg` will be a message to log.",
            "Shut down the bot. `arg` will be a task resource name (similar to those in tasks.proto) that the bot can use to tell the server that it is terminating.",
            "Restart the host computer. `arg` will be a message to log."
          ],
          "enum": [
            "UNSPECIFIED",
            "BOT_UPDATE",
            "BOT_RESTART",
            "BOT_TERMINATE",
            "HOST_RESTART"
          ],
          "description": "The admin action; see `Command` for legal values.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAcceleratorConfig": {
      "properties": {
        "acceleratorType": {
          "description": "The type of accelerator to attach to each VM, e.g. \"nvidia-tesla-k80\" for nVidia Tesla K80.",
          "type": "string"
        },
        "acceleratorCount": {
          "description": "The number of guest accelerator cards exposed to each VM.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAcceleratorConfig",
      "description": "AcceleratorConfig defines the accelerator cards to attach to the VM.",
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateInstanceRequest": {
      "type": "object",
      "description": "The request used for `CreateInstance`.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "ID of the created instance. A valid `instance_id` must: be 6-50 characters long, contain only lowercase letters, digits, hyphens and underscores, start with a lowercase letter, and end with a lowercase letter or a digit."
        },
        "instance": {
          "description": "Specifies the instance to create. The name in the instance, if specified in the instance, is ignored.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance"
        },
        "parent": {
          "type": "string",
          "description": "Resource name of the project containing the instance. Format: `projects/[PROJECT_ID]`."
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateInstanceRequest"
    },
    "BuildBazelRemoteExecutionV2ToolDetails": {
      "type": "object",
[...]
