{
  "kind": "discovery#restDescription",
  "version": "v1alpha",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://admin-remotebuildexecution.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/remote-build-execution/docs/",
  "description": "Supplies a Remote Execution API service for tools such as bazel.",
  "protocol": "rest",
  "ownerName": "Google",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance": {
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Instance resource name formatted as: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`. Name should not be populated when creating an instance since it is provided in the `instance_id` field."
        },
        "loggingEnabled": {
          "type": "boolean",
          "description": "Output only. Whether stack driver logging is enabled for the instance."
        },
        "state": {
          "description": "Output only. State of the instance.",
          "type": "string",
          "enumDescriptions": [
            "Not a valid state, but the default value of the enum.",
            "The instance is in state `CREATING` once `CreateInstance` is called and before the instance is ready for use.",
            "The instance is in state `RUNNING` when it is ready for use.",
            "An `INACTIVE` instance indicates that there is a problem that needs to be fixed. Such instances cannot be used for execution and instances that remain in this state for a significant period of time will be removed permanently."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "INACTIVE"
          ]
        },
        "featurePolicy": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicy",
          "description": "The policy to define whether or not RBE features can be used or how they can be used."
        },
        "location": {
          "type": "string",
          "description": "The location is a GCP region. Currently only `us-central1` is supported."
        }
      },
      "description": "Instance conceptually encapsulates all Remote Build Execution resources for remote builds. An instance consists of storage and compute resources (for example, `ContentAddressableStorage`, `ActionCache`, `WorkerPools`) used for running remote builds. All Remote Build Execution API calls are scoped to an instance.",
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildbotResourceUsage": {
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildbotResourceUsage",
      "description": "ResourceUsage is the system resource usage of the host machine.",
      "properties": {
        "diskUsage": {
          "$ref": "GoogleDevtoolsRemotebuildbotResourceUsageStat"
        },
        "memoryUsage": {
          "$ref": "GoogleDevtoolsRemotebuildbotResourceUsageStat"
        },
        "cpuUsedPercent": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "BuildBazelRemoteExecutionV2Digest": {
      "properties": {
        "hash": {
          "type": "string",
          "description": "The hash. In the case of SHA-256, it will always be a lowercase hex string exactly 64 characters long."
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The size of the blob, in bytes."
        }
      },
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2Digest",
      "description": "A content digest. A digest for a given blob consists of the size of the blob and its hash. The hash algorithm to use is defined by the server. The size is considered to be an integral part of the digest and cannot be separated. That is, even if the `hash` field is correctly specified but `size_bytes` is not, the server MUST reject the request. The reason for including the size in the digest is as follows: in a great many cases, the server needs to know the size of the blob it is about to work with prior to starting an operation with it, such as flattening Merkle tree structures or streaming it to a worker. Technically, the server could implement a separate metadata store, but this results in a significantly more complicated implementation as opposed to having the client specify the size up-front (or storing the size along with the digest in every message where digests are embedded). This does mean that the API leaks some implementation details of (what we consider to be) a reasonable server implementation, but we consider this to be a worthwhile tradeoff. When a `Digest` is used to refer to a proto message, it always refers to the message in binary encoded form. To ensure consistent hashing, clients and servers MUST ensure that they serialize messages according to the following rules, even if there are alternate valid encodings for the same message: * Fields are serialized in tag order. * There are no unknown fields. * There are no duplicate fields. * Fields are serialized according to the default semantics for their type. Most protocol buffer implementations will always follow these rules when serializing, but care should be taken to avoid shortcuts. For instance, concatenating two messages to merge them may produce duplicate fields."
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool": {
      "properties": {
        "workerCount": {
          "type": "string",
          "format": "int64",
          "description": "The desired number of workers in the worker pool. Must be a value between 0 and 15000."
        },
        "state": {
          "description": "Output only. State of the worker pool.",
          "enumDescriptions": [
            "Not a valid state, but the default value of the enum.",
            "The worker pool is in state `CREATING` once `CreateWorkerPool` is called and before all requested workers are ready.",
            "The worker pool is in state `RUNNING` when all its workers are ready for use.",
            "The worker pool is in state `UPDATING` once `UpdateWorkerPool` is called and before the new configuration has all the requested workers ready for use, and no older configuration has any workers. At that point the state transitions to `RUNNING`.",
            "The worker pool is in state `DELETING` once the `Delete` method is called and before the deletion completes.",
            "The worker pool is in state `INACTIVE` when the instance hosting the worker pool in not running."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RUNNING",
            "UPDATING",
            "DELETING",
            "INACTIVE"
          ],
          "type": "string"
        },
        "channel": {
          "type": "string",
          "description": "Channel specifies the release channel of the pool."
        },
        "name": {
          "type": "string",
          "description": "WorkerPool resource name formatted as: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]/workerpools/[POOL_ID]`. name should not be populated when creating a worker pool since it is provided in the `poolId` field."
        },
        "autoscale": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAutoscale",
          "description": "The autoscale policy to apply on a pool."
        },
        "workerConfig": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerConfig",
          "description": "Specifies the properties, such as machine type and disk size, used for creating workers in a worker pool."
        }
      },
      "description": "A worker pool resource in the Remote Build Execution API.",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool",
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateWorkerPoolRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The update mask applies to worker_pool. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If an empty update_mask is provided, only the non-default valued field in the worker pool field will be updated. Note that in order to update a field to the default value (zero, false, empty string) an explicit update_mask must be provided."
        },
        "workerPool": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool",
          "description": "Specifies the worker pool to update."
        }
      },
      "type": "object",
      "description": "The request used for UpdateWorkerPool.",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateWorkerPoolRequest"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateInstanceRequest": {
      "description": "The request used for `UpdateInstance`.",
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaUpdateInstanceRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The update mask applies to instance. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If an empty update_mask is provided, only the non-default valued field in the worker pool field will be updated. Note that in order to update a field to the default value (zero, false, empty string) an explicit update_mask must be provided.",
          "type": "string"
        },
        "loggingEnabled": {
          "type": "boolean",
          "description": "Deprecated, use instance.logging_enabled instead. Whether to enable Stackdriver logging for this instance."
        },
        "instance": {
          "description": "Specifies the instance to update.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance"
        },
        "name": {
          "type": "string",
          "description": "Deprecated, use instance.Name instead. Name of the instance to update. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`."
        }
      }
    },
    "GoogleDevtoolsRemotebuildbotResourceUsageStat": {
      "properties": {
        "total": {
          "type": "string",
          "format": "uint64"
        },
        "used": {
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildbotResourceUsageStat"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicy": {
      "properties": {
        "dockerAddCapabilities": {
          "description": "Whether dockerAddCapabilities can be used or what capabilities are allowed.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        },
        "dockerSiblingContainers": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature",
          "description": "Whether dockerSiblingContainers can be used."
        },
        "dockerChrootPath": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature",
          "description": "Whether dockerChrootPath can be used."
        },
        "dockerRunAsRoot": {
          "description": "Whether dockerRunAsRoot can be used.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        },
        "containerImageSources": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature",
          "description": "Which container image sources are allowed. Currently only RBE-supported registry (gcr.io) is allowed. One can allow all repositories under a project or one specific repository only. E.g. container_image_sources { policy: RESTRICTED allowed_values: [ \"gcr.io/project-foo\", \"gcr.io/project-bar/repo-baz\", ] } will allow any repositories under \"gcr.io/project-foo\" plus the repository \"gcr.io/project-bar/repo-baz\". Default (UNSPECIFIED) is equivalent to any source is allowed."
        },
        "dockerPrivileged": {
          "description": "Whether dockerPrivileged can be used.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        },
        "dockerRuntime": {
          "description": "Whether dockerRuntime is allowed to be set or what runtimes are allowed. Note linux_isolation takes precedence, and if set, docker_runtime values may be rejected if they are incompatible with the selected isolation.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
        },
        "linuxIsolation": {
          "enumDescriptions": [
            "Default value. Will be using Linux default runtime.",
            "Use gVisor runsc runtime.",
            "Use stardard Linux runtime. This has the same behaviour as unspecified, but it can be used to revert back from gVisor."
          ],
          "type": "string",
          "enum": [
            "LINUX_ISOLATION_UNSPECIFIED",
            "GVISOR",
            "OFF"
          ],
          "description": "linux_isolation allows overriding the docker runtime used for containers started on Linux."
        },
        "dockerNetwork": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature",
          "description": "Whether dockerNetwork can be used or what network modes are allowed. E.g. one may allow `off` value only via `allowed_values`."
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicy",
      "description": "FeaturePolicy defines features allowed to be used on RBE instances, as well as instance-wide behavior changes that take effect without opt-in or opt-out at usage time.",
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateWorkerPoolRequest": {
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateWorkerPoolRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Resource name of the instance in which to create the new worker pool. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`."
        },
        "poolId": {
          "description": "ID of the created worker pool. A valid pool ID must: be 6-50 characters long, contain only lowercase letters, digits, hyphens and underscores, start with a lowercase letter, and end with a lowercase letter or a digit.",
          "type": "string"
        },
        "workerPool": {
          "description": "Specifies the worker pool to create. The name in the worker pool, if specified, is ignored.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool"
        }
      },
      "description": "The request used for `CreateWorkerPool`."
    },
    "BuildBazelRemoteExecutionV2PlatformProperty": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The property value.",
          "type": "string"
        },
        "name": {
          "description": "The property name.",
          "type": "string"
        }
      },
      "id": "BuildBazelRemoteExecutionV2PlatformProperty",
      "description": "A single property for the environment. The server is responsible for specifying the property `name`s that it accepts. If an unknown `name` is provided in the requirements for an Action, the server SHOULD reject the execution request. If permitted by the server, the same `name` may occur multiple times. The server is also responsible for specifying the interpretation of property `value`s. For instance, a property describing how much RAM must be available may be interpreted as allowing a worker with 16GB to fulfill a request for 8GB, while a property describing the OS environment on which the action must be performed may require an exact match with the worker's OS. The server MAY use the `value` of one or more properties to determine how it sets up the execution environment, such as by making specific system files available to the worker."
    },
    "BuildBazelRemoteExecutionV2Tree": {
      "properties": {
        "children": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2Directory"
          },
          "description": "All the child directories: the directories referred to by the root and, recursively, all its children. In order to reconstruct the directory tree, the client must take the digests of each of the child directories and then build up a tree starting from the `root`.",
          "type": "array"
        },
        "root": {
          "description": "The root directory in the tree.",
          "$ref": "BuildBazelRemoteExecutionV2Directory"
        }
      },
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2Tree",
      "description": "A `Tree` contains all the Directory protos in a single directory Merkle tree, compressed into one message."
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAutoscale": {
      "properties": {
        "minSize": {
          "format": "int64",
          "type": "string",
          "description": "The minimal number of workers. Must be greater than 0."
        },
        "maxSize": {
          "type": "string",
          "format": "int64",
          "description": "The maximal number of workers. Must be equal to or greater than min_size."
        }
      },
      "type": "object",
      "description": "Autoscale defines the autoscaling policy of a worker pool.",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAutoscale"
    },
    "GoogleDevtoolsRemoteworkersV1test2AdminTemp": {
      "type": "object",
      "id": "GoogleDevtoolsRemoteworkersV1test2AdminTemp",
      "description": "AdminTemp is a prelimiary set of administration tasks. It's called \"Temp\" because we do not yet know the best way to represent admin tasks; it's possible that this will be entirely replaced in later versions of this API. If this message proves to be sufficient, it will be renamed in the alpha or beta release of this API. This message (suitably marshalled into a protobuf.Any) can be used as the inline_assignment field in a lease; the lease assignment field should simply be `\"admin\"` in these cases. This message is heavily based on Swarming administration tasks from the LUCI project (http://github.com/luci/luci-py/appengine/swarming).",
      "properties": {
        "command": {
          "enum": [
            "UNSPECIFIED",
            "BOT_UPDATE",
            "BOT_RESTART",
            "BOT_TERMINATE",
            "HOST_RESTART"
          ],
          "enumDescriptions": [
            "Illegal value.",
            "Download and run a new version of the bot. `arg` will be a resource accessible via `ByteStream.Read` to obtain the new bot code.",
            "Restart the bot without downloading a new version. `arg` will be a message to log.",
            "Shut down the bot. `arg` will be a task resource name (similar to those in tasks.proto) that the bot can use to tell the server that it is terminating.",
            "Restart the host computer. `arg` will be a message to log."
          ],
          "description": "The admin action; see `Command` for legal values.",
          "type": "string"
        },
        "arg": {
          "type": "string",
          "description": "The argument to the admin action; see `Command` for semantics."
        }
      }
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputs": {
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputs",
      "type": "object",
      "properties": {
        "environmentVariables": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputsEnvironmentVariable"
          },
          "description": "All environment variables required by the task."
        },
        "inlineBlobs": {
          "description": "Inline contents for blobs expected to be needed by the bot to execute the task. For example, contents of entries in `files` or blobs that are indirectly referenced by an entry there. The bot should check against this list before downloading required task inputs to reduce the number of communications between itself and the remote CAS server.",
          "items": {
            "$ref": "GoogleDevtoolsRemoteworkersV1test2Blob"
          },
          "type": "array"
        },
        "arguments": {
          "items": {
            "type": "string"
          },
          "description": "The command itself to run (e.g., argv). This field should be passed directly to the underlying operating system, and so it must be sensible to that operating system. For example, on Windows, the first argument might be \"C:\\Windows\\System32\\ping.exe\" - that is, using drive letters and backslashes. A command for a *nix system, on the other hand, would use forward slashes. All other fields in the RWAPI must consistently use forward slashes, since those fields may be interpretted by both the service and the bot.",
          "type": "array"
        },
        "files": {
          "type": "array",
          "description": "The input filesystem to be set up prior to the task beginning. The contents should be a repeated set of FileMetadata messages though other formats are allowed if better for the implementation (eg, a LUCI-style .isolated file). This field is repeated since implementations might want to cache the metadata, in which case it may be useful to break up portions of the filesystem that change frequently (eg, specific input files) from those that don't (eg, standard header files).",
          "items": {
            "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
          }
        },
        "workingDirectory": {
          "type": "string",
          "description": "Directory from which a command is executed. It is a relative directory with respect to the bot's working directory (i.e., \"./\"). If it is non-empty, then it must exist under \"./\". Otherwise, \"./\" will be used."
        }
      },
      "description": "Describes the inputs to a shell-style task."
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetInstanceRequest": {
      "properties": {
        "name": {
          "description": "Name of the instance to retrieve. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`.",
          "type": "string"
        }
      },
      "description": "The request used for `GetInstance`.",
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetInstanceRequest"
    },
    "BuildBazelRemoteExecutionV2OutputFile": {
      "properties": {
        "digest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest of the file's content."
        },
        "isExecutable": {
          "type": "boolean",
          "description": "True if file is executable, false otherwise."
        },
        "nodeProperties": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          },
          "description": "The supported node properties of the OutputFile, if requested by the Action.",
          "type": "array"
        },
        "contents": {
          "description": "The contents of the file if inlining was requested. The server SHOULD NOT inline file contents unless requested by the client in the GetActionResultRequest message. The server MAY omit inlining, even if requested, and MUST do so if inlining would cause the response to exceed message size limits.",
          "format": "byte",
          "type": "string"
        },
        "path": {
          "description": "The full path of the file relative to the working directory, including the filename. The path separator is a forward slash `/`. Since this is a relative path, it MUST NOT begin with a leading forward slash.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2OutputFile",
      "description": "An `OutputFile` is similar to a FileNode, but it is used as an output in an `ActionResult`. It allows a full file path rather than only a name."
    },
    "GoogleDevtoolsRemoteworkersV1test2FileMetadata": {
      "properties": {
        "isExecutable": {
          "type": "boolean",
          "description": "Properties of the file"
        },
        "digest": {
          "description": "A pointer to the contents of the file. The method by which a client retrieves the contents from a CAS system is not defined here.",
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
        },
        "path": {
          "description": "The path of this file. If this message is part of the CommandOutputs.outputs fields, the path is relative to the execution root and must correspond to an entry in CommandTask.outputs.files. If this message is part of a Directory message, then the path is relative to the root of that directory. All paths MUST be delimited by forward slashes.",
          "type": "string"
        },
        "contents": {
          "format": "byte",
          "type": "string",
          "description": "If the file is small enough, its contents may also or alternatively be listed here."
        }
      },
      "type": "object",
      "description": "The metadata for a file. Similar to the equivalent message in the Remote Execution API.",
      "id": "GoogleDevtoolsRemoteworkersV1test2FileMetadata"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAcceleratorConfig": {
      "properties": {
        "acceleratorType": {
          "type": "string",
          "description": "The type of accelerator to attach to each VM, e.g. \"nvidia-tesla-k80\" for nVidia Tesla K80."
        },
        "acceleratorCount": {
          "description": "The number of guest accelerator cards exposed to each VM.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "AcceleratorConfig defines the accelerator cards to attach to the VM.",
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAcceleratorConfig"
    },
    "BuildBazelRemoteExecutionV2Platform": {
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2Platform",
      "properties": {
        "properties": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2PlatformProperty"
          },
          "type": "array",
          "description": "The properties that make up this platform. In order to ensure that equivalent `Platform`s always hash to the same value, the properties MUST be lexicographically sorted by name, and then by value. Sorting of strings is done by code point, equivalently, by the UTF-8 bytes."
        }
      },
      "description": "A `Platform` is a set of requirements, such as hardware, operating system, or compiler toolchain, for an Action's execution environment. A `Platform` is represented as a series of key-value pairs representing the properties that are required of the platform."
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteInstanceRequest": {
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteInstanceRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the instance to delete. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`."
        }
      },
      "type": "object",
      "description": "The request used for `DeleteInstance`."
    },
    "BuildBazelRemoteExecutionV2Directory": {
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2Directory",
      "properties": {
        "symlinks": {
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2SymlinkNode"
          },
          "description": "The symlinks in the directory."
        },
        "files": {
          "description": "The files in the directory.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2FileNode"
          },
          "type": "array"
        },
        "nodeProperties": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          },
          "type": "array",
          "description": "The node properties of the Directory."
        },
        "directories": {
          "description": "The subdirectories in the directory.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2DirectoryNode"
          },
          "type": "array"
        }
      },
      "description": "A `Directory` represents a directory node in a file tree, containing zero or more children FileNodes, DirectoryNodes and SymlinkNodes. Each `Node` contains its name in the directory, either the digest of its content (either a file blob or a `Directory` proto) or a symlink target, as well as possibly some metadata about the file or directory. In order to ensure that two equivalent directory trees hash to the same value, the following restrictions MUST be obeyed when constructing a a `Directory`: * Every child in the directory must have a path of exactly one segment. Multiple levels of directory hierarchy may not be collapsed. * Each child in the directory must have a unique path segment (file name). Note that while the API itself is case-sensitive, the environment where the Action is executed may or may not be case-sensitive. That is, it is legal to call the API with a Directory that has both \"Foo\" and \"foo\" as children, but the Action may be rejected by the remote system upon execution. * The files, directories and symlinks in the directory must each be sorted in lexicographical order by path. The path strings must be sorted by code point, equivalently, by UTF-8 bytes. * The NodeProperties of files, directories, and symlinks must be sorted in lexicographical order by property name. A `Directory` that obeys the restrictions is said to be in canonical form. As an example, the following could be used for a file named `bar` and a directory named `foo` with an executable file named `baz` (hashes shortened for readability): ```json // (Directory proto) { files: [ { name: \"bar\", digest: { hash: \"4a73bc9d03...\", size: 65534 }, node_properties: [ { \"name\": \"MTime\", \"value\": \"2017-01-15T01:30:15.01Z\" } ] } ], directories: [ { name: \"foo\", digest: { hash: \"4cf2eda940...\", size: 43 } } ] } // (Directory proto with hash \"4cf2eda940...\" and size 43) { files: [ { name: \"baz\", digest: { hash: \"b2c941073e...\", size: 1294, }, is_executable: true } ] } ```"
    },
    "BuildBazelRemoteExecutionV2NodeProperty": {
      "id": "BuildBazelRemoteExecutionV2NodeProperty",
      "properties": {
        "value": {
          "type": "string",
          "description": "The property value."
        },
        "name": {
          "description": "The property name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single property for FileNodes, DirectoryNodes, and SymlinkNodes. The server is responsible for specifying the property `name`s that it accepts. If permitted by the server, the same `name` may occur multiple times."
    },
    "BuildBazelRemoteExecutionV2CommandEnvironmentVariable": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The variable value.",
          "type": "string"
        },
        "name": {
          "description": "The variable name.",
          "type": "string"
        }
      },
      "id": "BuildBazelRemoteExecutionV2CommandEnvironmentVariable",
      "description": "An `EnvironmentVariable` is one variable to set in the running program's environment."
    },
    "GoogleDevtoolsRemoteworkersV1test2Digest": {
      "description": "The CommandTask and CommandResult messages assume the existence of a service that can serve blobs of content, identified by a hash and size known as a \"digest.\" The method by which these blobs may be retrieved is not specified here, but a model implementation is in the Remote Execution API's \"ContentAddressibleStorage\" interface. In the context of the RWAPI, a Digest will virtually always refer to the contents of a file or a directory. The latter is represented by the byte-encoded Directory message.",
      "type": "object",
      "properties": {
        "hash": {
          "description": "A string-encoded hash (eg \"1a2b3c\", not the byte array [0x1a, 0x2b, 0x3c]) using an implementation-defined hash algorithm (eg SHA-256).",
          "type": "string"
        },
        "sizeBytes": {
          "description": "The size of the contents. While this is not strictly required as part of an identifier (after all, any given hash will have exactly one canonical size), it's useful in almost all cases when one might want to send or retrieve blobs of content and is included here for this reason.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2Digest"
    },
    "GoogleDevtoolsRemoteworkersV1test2Directory": {
      "type": "object",
      "properties": {
        "directories": {
          "items": {
            "$ref": "GoogleDevtoolsRemoteworkersV1test2DirectoryMetadata"
          },
          "type": "array",
          "description": "Any subdirectories"
        },
        "files": {
          "items": {
            "$ref": "GoogleDevtoolsRemoteworkersV1test2FileMetadata"
          },
          "type": "array",
          "description": "The files in this directory"
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2Directory",
      "description": "The contents of a directory. Similar to the equivalent message in the Remote Execution API."
    },
    "BuildBazelRemoteExecutionV2ExecuteResponse": {
      "id": "BuildBazelRemoteExecutionV2ExecuteResponse",
      "type": "object",
      "description": "The response message for Execution.Execute, which will be contained in the response field of the Operation.",
      "properties": {
        "serverLogs": {
          "additionalProperties": {
            "$ref": "BuildBazelRemoteExecutionV2LogFile"
          },
          "description": "An optional list of additional log outputs the server wishes to provide. A server can use this to return execution-specific logs however it wishes. This is intended primarily to make it easier for users to debug issues that may be outside of the actual job execution, such as by identifying the worker executing the action or by providing logs from the worker's setup phase. The keys SHOULD be human readable so that a client can display them to a user.",
          "type": "object"
        },
        "message": {
          "description": "Freeform informational message with details on the execution of the action that may be displayed to the user upon failure or when requested explicitly.",
          "type": "string"
        },
        "result": {
          "$ref": "BuildBazelRemoteExecutionV2ActionResult",
          "description": "The result of the action."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "If the status has a code other than `OK`, it indicates that the action did not finish execution. For example, if the operation times out during execution, the status will have a `DEADLINE_EXCEEDED` code. Servers MUST use this field for errors in execution, rather than the error field on the `Operation` object. If the status code is other than `OK`, then the result MUST NOT be cached. For an error status, the `result` field is optional; the server may populate the output-, stdout-, and stderr-related fields if it has any information available, such as the stdout and stderr of a timed-out action."
        },
        "cachedResult": {
          "description": "True if the result was served from cache, false if it was executed.",
          "type": "boolean"
        }
      }
    },
    "GoogleDevtoolsRemotebuildbotCommandStatus": {
      "id": "GoogleDevtoolsRemotebuildbotCommandStatus",
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "The command succeeded.",
            "The command input was invalid.",
            "The command had passed its expiry time while it was still running.",
            "The resources requested by the command were not found.",
            "The command failed due to permission errors.",
            "The command failed because of some invariants expected by the underlying system have been broken. This usually indicates a bug wit the system.",
            "The command was aborted.",
            "The command failed because the system is not in a state required for the command, e.g. the command inputs cannot be found on the server.",
            "The bot failed to do the cleanup, e.g. unable to delete the command working directory or the command process.",
            "The bot failed to download the inputs.",
            "Unknown error.",
            "The bot failed to upload the outputs.",
            "The bot tried to upload files having a total size that is too large.",
            "The bot failed to login to docker.",
            "The bot failed to pull docker image.",
            "The bot failed to check docker images.",
            "The inputs contain duplicate files.",
            "The bot doesn't have the permissions to pull docker images.",
            "The docker image cannot be found.",
            "Working directory is not found.",
            "Working directory is not under the base directory",
            "There are issues with docker service/runtime.",
            "The command failed with \"no cuda-capable device is detected\" error.",
            "The bot encountered errors from remote CAS when downloading blobs.",
            "The bot encountered errors from remote CAS when uploading blobs.",
            "The local casproxy is not running.",
            "The bot couldn't start the container.",
            "The docker ulimit is not valid.",
            "The docker runtime is unknown.",
            "The docker capability is unknown.",
            "The command failed with unknown docker errors.",
            "Docker failed to run containers with CreateComputeSystem error.",
            "Docker failed to run containers with hcsshim::PrepareLayer error.",
            "Docker incompatible operating system error.",
            "Docker failed to create OCI runtime because of file not found.",
            "Docker failed to create OCI runtime because of permission denied.",
            "Docker failed to create process because of file not found.",
            "Docker failed to run containers with CreateComputeSystem error that involves an incorrect parameter (more specific version of DOCKER_CREATE_COMPUTE_SYSTEM_ERROR that is user-caused).",
            "Docker failed to create an overlay mount because of too many levels of symbolic links.",
            "The local Container Manager is not running."
          ],
          "description": "The status code.",
          "enum": [
            "OK",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "PERMISSION_DENIED",
            "INTERNAL",
            "ABORTED",
            "FAILED_PRECONDITION",
            "CLEANUP_ERROR",
            "DOWNLOAD_INPUTS_ERROR",
            "UNKNOWN",
            "UPLOAD_OUTPUTS_ERROR",
            "UPLOAD_OUTPUTS_BYTES_LIMIT_EXCEEDED",
            "DOCKER_LOGIN_ERROR",
            "DOCKER_IMAGE_PULL_ERROR",
            "DOCKER_IMAGE_EXIST_ERROR",
            "DUPLICATE_INPUTS",
            "DOCKER_IMAGE_PERMISSION_DENIED",
            "DOCKER_IMAGE_NOT_FOUND",
            "WORKING_DIR_NOT_FOUND",
            "WORKING_DIR_NOT_IN_BASE_DIR",
            "DOCKER_UNAVAILABLE",
            "NO_CUDA_CAPABLE_DEVICE",
            "REMOTE_CAS_DOWNLOAD_ERROR",
            "REMOTE_CAS_UPLOAD_ERROR",
            "LOCAL_CASPROXY_NOT_RUNNING",
            "DOCKER_CREATE_CONTAINER_ERROR",
            "DOCKER_INVALID_ULIMIT",
            "DOCKER_UNKNOWN_RUNTIME",
            "DOCKER_UNKNOWN_CAPABILITY",
            "DOCKER_UNKNOWN_ERROR",
            "DOCKER_CREATE_COMPUTE_SYSTEM_ERROR",
            "DOCKER_PREPARELAYER_ERROR",
            "DOCKER_INCOMPATIBLE_OS_ERROR",
            "DOCKER_CREATE_RUNTIME_FILE_NOT_FOUND",
            "DOCKER_CREATE_RUNTIME_PERMISSION_DENIED",
            "DOCKER_CREATE_PROCESS_FILE_NOT_FOUND",
            "DOCKER_CREATE_COMPUTE_SYSTEM_INCORRECT_PARAMETER_ERROR",
            "DOCKER_TOO_MANY_SYMBOLIC_LINK_LEVELS",
            "LOCAL_CONTAINER_MANAGER_NOT_RUNNING"
          ]
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "description": "The internal status of the command result.",
      "type": "object"
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandOutputs": {
      "type": "object",
      "properties": {
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "description": "exit_code is only fully reliable if the status' code is OK. If the task exceeded its deadline or was cancelled, the process may still produce an exit code as it is cancelled, and this will be populated, but a successful (zero) is unlikely to be correct unless the status code is OK."
        },
        "outputs": {
          "description": "The output files. The blob referenced by the digest should contain one of the following (implementation-dependent): * A marshalled DirectoryMetadata of the returned filesystem * A LUCI-style .isolated file",
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
        }
      },
      "description": "DEPRECATED - use CommandResult instead. Describes the actual outputs from the task.",
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandOutputs"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandTaskTimeouts": {
      "type": "object",
      "properties": {
        "idle": {
          "description": "This specifies the maximum amount of time the task can be idle - that is, go without generating some output in either stdout or stderr. If the process is silent for more than the specified time, the worker will terminate the task.",
          "format": "google-duration",
          "type": "string"
        },
        "execution": {
          "description": "This specifies the maximum time that the task can run, excluding the time required to download inputs or upload outputs. That is, the worker will terminate the task if it runs longer than this.",
          "type": "string",
          "format": "google-duration"
        },
        "shutdown": {
          "type": "string",
          "format": "google-duration",
          "description": "If the execution or IO timeouts are exceeded, the worker will try to gracefully terminate the task and return any existing logs. However, tasks may be hard-frozen in which case this process will fail. This timeout specifies how long to wait for a terminated task to shut down gracefully (e.g. via SIGTERM) before we bring down the hammer (e.g. SIGKILL on *nix, CTRL_BREAK_EVENT on Windows)."
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskTimeouts",
      "description": "Describes the timeouts associated with this task."
    },
    "BuildBazelRemoteExecutionV2ToolDetails": {
      "description": "Details for the tool used to call the API.",
      "type": "object",
      "id": "BuildBazelRemoteExecutionV2ToolDetails",
      "properties": {
        "toolVersion": {
          "description": "Version of the tool used for the request, e.g. 5.0.3.",
          "type": "string"
        },
        "toolName": {
          "description": "Name of the tool, e.g. bazel.",
          "type": "string"
        }
      }
    },
    "BuildBazelRemoteExecutionV2ExecutedActionMetadata": {
      "type": "object",
      "properties": {
        "executionCompletedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the worker completed executing the action command."
        },
        "queuedTimestamp": {
          "description": "When was the action added to the queue.",
          "type": "string",
          "format": "google-datetime"
        },
        "outputUploadCompletedTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "When the worker finished uploading action outputs."
        },
        "outputUploadStartTimestamp": {
          "description": "When the worker started uploading action outputs.",
          "format": "google-datetime",
          "type": "string"
        },
        "workerCompletedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the worker completed the action, including all stages."
        },
        "inputFetchCompletedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the worker finished fetching action inputs."
        },
        "inputFetchStartTimestamp": {
          "description": "When the worker started fetching action inputs.",
          "format": "google-datetime",
          "type": "string"
        },
        "executionStartTimestamp": {
          "type": "string",
          "description": "When the worker started executing the action command.",
          "format": "google-datetime"
        },
        "worker": {
          "description": "The name of the worker which ran the execution.",
          "type": "string"
        },
        "workerStartTimestamp": {
          "description": "When the worker received the action.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "BuildBazelRemoteExecutionV2ExecutedActionMetadata",
      "description": "ExecutedActionMetadata contains details about a completed execution."
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandResult": {
      "description": "All information about the execution of a command, suitable for providing as the Bots interface's `Lease.result` field.",
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandResult",
      "properties": {
        "metadata": {
          "description": "Implementation-dependent metadata about the task. Both servers and bots may define messages which can be encoded here; bots are free to provide metadata in multiple formats, and servers are free to choose one or more of the values to process and ignore others. In particular, it is *not* considered an error for the bot to provide the server with a field that it doesn't know about.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "An overall status for the command. For example, if the command timed out, this might have a code of DEADLINE_EXCEEDED; if it was killed by the OS for memory exhaustion, it might have a code of RESOURCE_EXHAUSTED."
        },
        "outputs": {
          "description": "The output files. The blob referenced by the digest should contain one of the following (implementation-dependent): * A marshalled DirectoryMetadata of the returned filesystem * A LUCI-style .isolated file",
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest"
        },
        "overhead": {
          "type": "string",
          "description": "The amount of time *not* spent executing the command (ie uploading/downloading files).",
          "format": "google-duration"
        },
        "duration": {
          "type": "string",
          "description": "The elapsed time between calling Accept and Complete. The server will also have its own idea of what this should be, but this excludes the overhead of the RPCs and the bot response time.",
          "format": "google-duration"
        },
        "exitCode": {
          "description": "The exit code of the process. An exit code of \"0\" should only be trusted if `status` has a code of OK (otherwise it may simply be unset).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandOverhead": {
      "type": "object",
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandOverhead",
      "properties": {
        "duration": {
          "description": "The elapsed time between calling Accept and Complete. The server will also have its own idea of what this should be, but this excludes the overhead of the RPCs and the bot response time.",
          "format": "google-duration",
          "type": "string"
        },
        "overhead": {
          "format": "google-duration",
          "type": "string",
          "description": "The amount of time *not* spent executing the command (ie uploading/downloading files)."
        }
      },
      "description": "DEPRECATED - use CommandResult instead. Can be used as part of CompleteRequest.metadata, or are part of a more sophisticated message."
    },
    "BuildBazelRemoteExecutionV2Command": {
      "type": "object",
      "description": "A `Command` is the actual command executed by a worker running an Action and specifications of its environment. Except as otherwise required, the environment (such as which system libraries or binaries are available, and what filesystems are mounted where) is defined by and specific to the implementation of the remote execution API.",
      "properties": {
        "outputPaths": {
          "type": "array",
          "description": "A list of the output paths that the client expects to retrieve from the action. Only the listed paths will be returned to the client as output. The type of the output (file or directory) is not specified, and will be determined by the server after action execution. If the resulting path is a file, it will be returned in an OutputFile) typed field. If the path is a directory, the entire directory structure will be returned as a Tree message digest, see OutputDirectory) Other files or directories that may be created during command execution are discarded. The paths are relative to the working directory of the action execution. The paths are specified using a single forward slash (`/`) as a path separator, even if the execution platform natively uses a different separator. The path MUST NOT include a trailing slash, nor a leading slash, being a relative path. In order to ensure consistent hashing of the same Action, the output paths MUST be deduplicated and sorted lexicographically by code point (or, equivalently, by UTF-8 bytes). Directories leading up to the output paths are created by the worker prior to execution, even if they are not explicitly part of the input root. New in v2.1: this field supersedes the DEPRECATED `output_files` and `output_directories` fields. If `output_paths` is used, `output_files` and `output_directories` will be ignored!",
          "items": {
            "type": "string"
          }
        },
        "environmentVariables": {
          "description": "The environment variables to set when running the program. The worker may provide its own default environment variables; these defaults can be overridden using this field. Additional variables can also be specified. In order to ensure that equivalent Commands always hash to the same value, the environment variables MUST be lexicographically sorted by name. Sorting of strings is done by code point, equivalently, by the UTF-8 bytes.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2CommandEnvironmentVariable"
          },
          "type": "array"
        },
        "platform": {
          "description": "The platform requirements for the execution environment. The server MAY choose to execute the action on any worker satisfying the requirements, so the client SHOULD ensure that running the action on any such worker will have the same result. A detailed lexicon for this can be found in the accompanying platform.md.",
          "$ref": "BuildBazelRemoteExecutionV2Platform"
        },
        "arguments": {
          "description": "The arguments to the command. The first argument must be the path to the executable, which must be either a relative path, in which case it is evaluated with respect to the input root, or an absolute path.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputFiles": {
          "type": "array",
          "description": "A list of the output files that the client expects to retrieve from the action. Only the listed files, as well as directories listed in `output_directories`, will be returned to the client as output. Other files or directories that may be created during command execution are discarded. The paths are relative to the working directory of the action execution. The paths are specified using a single forward slash (`/`) as a path separator, even if the execution platform natively uses a different separator. The path MUST NOT include a trailing slash, nor a leading slash, being a relative path. In order to ensure consistent hashing of the same Action, the output paths MUST be sorted lexicographically by code point (or, equivalently, by UTF-8 bytes). An output file cannot be duplicated, be a parent of another output file, or have the same path as any of the listed output directories. Directories leading up to the output files are created by the worker prior to execution, even if they are not explicitly part of the input root. DEPRECATED since v2.1: Use `output_paths` instead.",
          "items": {
            "type": "string"
          }
        },
        "workingDirectory": {
          "type": "string",
          "description": "The working directory, relative to the input root, for the command to run in. It must be a directory which exists in the input tree. If it is left empty, then the action is run in the input root."
        },
        "outputDirectories": {
          "description": "A list of the output directories that the client expects to retrieve from the action. Only the listed directories will be returned (an entire directory structure will be returned as a Tree message digest, see OutputDirectory), as well as files listed in `output_files`. Other files or directories that may be created during command execution are discarded. The paths are relative to the working directory of the action execution. The paths are specified using a single forward slash (`/`) as a path separator, even if the execution platform natively uses a different separator. The path MUST NOT include a trailing slash, nor a leading slash, being a relative path. The special value of empty string is allowed, although not recommended, and can be used to capture the entire working directory tree, including inputs. In order to ensure consistent hashing of the same Action, the output paths MUST be sorted lexicographically by code point (or, equivalently, by UTF-8 bytes). An output directory cannot be duplicated or have the same path as any of the listed output files. An output directory is allowed to be a parent of another output directory. Directories leading up to the output directories (but not the output directories themselves) are created by the worker prior to execution, even if they are not explicitly part of the input root. DEPRECATED since 2.1: Use `output_paths` instead.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BuildBazelRemoteExecutionV2Command"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetWorkerPoolRequest": {
      "description": "The request used for GetWorkerPool.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the worker pool to retrieve. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]/workerpools/[POOL_ID]`."
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaGetWorkerPoolRequest",
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteWorkerPoolRequest": {
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaDeleteWorkerPoolRequest",
      "description": "The request used for DeleteWorkerPool.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the worker pool to delete. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]/workerpools/[POOL_ID]`."
        }
      }
    },
    "BuildBazelRemoteExecutionV2ExecuteOperationMetadata": {
      "id": "BuildBazelRemoteExecutionV2ExecuteOperationMetadata",
      "description": "Metadata about an ongoing execution, which will be contained in the metadata field of the Operation.",
      "properties": {
        "actionDigest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest of the Action being executed."
        },
        "stage": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "CACHE_CHECK",
            "QUEUED",
            "EXECUTING",
            "COMPLETED"
          ],
          "description": "The current stage of execution.",
          "enumDescriptions": [
            "Invalid value.",
            "Checking the result against the cache.",
            "Currently idle, awaiting a free machine to execute.",
            "Currently being executed by a worker.",
            "Finished execution."
          ]
        },
        "stdoutStreamName": {
          "type": "string",
          "description": "If set, the client can use this name with ByteStream.Read to stream the standard output."
        },
        "stderrStreamName": {
          "type": "string",
          "description": "If set, the client can use this name with ByteStream.Read to stream the standard error."
        }
      },
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2OutputSymlink": {
      "description": "An `OutputSymlink` is similar to a Symlink, but it is used as an output in an `ActionResult`. `OutputSymlink` is binary-compatible with `SymlinkNode`.",
      "id": "BuildBazelRemoteExecutionV2OutputSymlink",
      "type": "object",
      "properties": {
        "path": {
          "description": "The full path of the symlink relative to the working directory, including the filename. The path separator is a forward slash `/`. Since this is a relative path, it MUST NOT begin with a leading forward slash.",
          "type": "string"
        },
        "target": {
          "description": "The target path of the symlink. The path separator is a forward slash `/`. The target path can be relative to the parent directory of the symlink or it can be an absolute path starting with `/`. Support for absolute paths can be checked using the Capabilities API. The canonical form forbids the substrings `/./` and `//` in the target path. `..` components are allowed anywhere in the target path.",
          "type": "string"
        },
        "nodeProperties": {
          "description": "The supported node properties of the OutputSymlink, if requested by the Action.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          },
          "type": "array"
        }
      }
    },
    "BuildBazelRemoteExecutionV2DirectoryNode": {
      "id": "BuildBazelRemoteExecutionV2DirectoryNode",
      "type": "object",
      "description": "A `DirectoryNode` represents a child of a Directory which is itself a `Directory` and its associated metadata.",
      "properties": {
        "digest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest of the Directory object represented. See Digest for information about how to take the digest of a proto message."
        },
        "name": {
          "description": "The name of the directory.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "BuildBazelRemoteExecutionV2OutputDirectory": {
      "id": "BuildBazelRemoteExecutionV2OutputDirectory",
      "description": "An `OutputDirectory` is the output in an `ActionResult` corresponding to a directory's full contents rather than a single file.",
      "properties": {
        "path": {
          "type": "string",
          "description": "The full path of the directory relative to the working directory. The path separator is a forward slash `/`. Since this is a relative path, it MUST NOT begin with a leading forward slash. The empty string value is allowed, and it denotes the entire working directory."
        },
        "treeDigest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest of the encoded Tree proto containing the directory's contents."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerConfig": {
      "type": "object",
      "description": "Defines the configuration to be used for creating workers in the worker pool.",
      "properties": {
        "networkAccess": {
          "description": "Determines the type of network access granted to workers. Possible values: - \"public\": Workers can connect to the public internet. - \"private\": Workers can only connect to Google APIs and services. - \"restricted-private\": Workers can only connect to Google APIs that are reachable through `restricted.googleapis.com` (`199.36.153.4/30`).",
          "type": "string"
        },
        "accelerator": {
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaAcceleratorConfig",
          "description": "The accelerator card attached to each VM."
        },
        "maxConcurrentActions": {
          "type": "string",
          "description": "The maximum number of actions a worker can execute concurrently.",
          "format": "int64"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with the workers. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International letters are permitted. Label keys must start with a letter. Label values are optional. There can not be more than 64 labels per resource.",
          "type": "object"
        },
        "vmImage": {
          "description": "The name of the image used by each VM.",
          "type": "string"
        },
        "diskSizeGb": {
          "format": "int64",
          "description": "Required. Size of the disk attached to the worker, in GB. See https://cloud.google.com/compute/docs/disks/",
          "type": "string"
        },
        "soleTenantNodeType": {
          "type": "string",
          "description": "The node type name to be used for sole-tenant nodes."
        },
        "reserved": {
          "description": "Determines whether the worker is reserved (equivalent to a Compute Engine on-demand VM and therefore won't be preempted). See [Preemptible VMs](https://cloud.google.com/preemptible-vms/) for more details.",
          "type": "boolean"
        },
        "diskType": {
          "type": "string",
          "description": "Required. Disk Type to use for the worker. See [Storage options](https://cloud.google.com/compute/docs/disks/#introduction). Currently only `pd-standard` and `pd-ssd` are supported."
        },
        "machineType": {
          "description": "Required. Machine type of the worker, such as `e2-standard-2`. See https://cloud.google.com/compute/docs/machine-types for a list of supported machine types. Note that `f1-micro` and `g1-small` are not yet supported.",
          "type": "string"
        },
        "minCpuPlatform": {
          "description": "Minimum CPU platform to use when creating the worker. See [CPU Platforms](https://cloud.google.com/compute/docs/cpu-platforms).",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerConfig"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsResponse": {
      "type": "object",
      "properties": {
        "workerPools": {
          "items": {
            "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaWorkerPool"
          },
          "description": "The list of worker pools in a given instance.",
          "type": "array"
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsResponse"
    },
    "BuildBazelRemoteExecutionV2Action": {
      "properties": {
        "doNotCache": {
          "type": "boolean",
          "description": "If true, then the `Action`'s result cannot be cached, and in-flight requests for the same `Action` may not be merged."
        },
        "outputNodeProperties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of required supported NodeProperty keys. In order to ensure that equivalent `Action`s always hash to the same value, the supported node properties MUST be lexicographically sorted by name. Sorting of strings is done by code point, equivalently, by the UTF-8 bytes. The interpretation of these properties is server-dependent. If a property is not recognized by the server, the server will return an `INVALID_ARGUMENT` error."
        },
        "commandDigest": {
          "description": "The digest of the Command to run, which MUST be present in the ContentAddressableStorage.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "A timeout after which the execution should be killed. If the timeout is absent, then the client is specifying that the execution should continue as long as the server will let it. The server SHOULD impose a timeout if the client does not specify one, however, if the client does specify a timeout that is longer than the server's maximum timeout, the server MUST reject the request. The timeout is a part of the Action message, and therefore two `Actions` with different timeouts are different, even if they are otherwise identical. This is because, if they were not, running an `Action` with a lower timeout than is required might result in a cache hit from an execution run with a longer timeout, hiding the fact that the timeout is too short. By encoding it directly in the `Action`, a lower timeout will result in a cache miss and the execution timeout will fail immediately, rather than whenever the cache entry gets evicted."
        },
        "inputRootDigest": {
          "description": "The digest of the root Directory for the input files. The files in the directory tree are available in the correct location on the build machine before the command is executed. The root directory, as well as every subdirectory and content blob referred to, MUST be in the ContentAddressableStorage.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        }
      },
      "id": "BuildBazelRemoteExecutionV2Action",
      "type": "object",
      "description": "An `Action` captures all the information about an execution which is required to reproduce it. `Action`s are the core component of the [Execution] service. A single `Action` represents a repeatable action that can be performed by the execution service. `Action`s can be succinctly identified by the digest of their wire format encoding and, once an `Action` has been executed, will be cached in the action cache. Future requests can then use the cached result rather than needing to run afresh. When a server completes execution of an Action, it MAY choose to cache the result in the ActionCache unless `do_not_cache` is `true`. Clients SHOULD expect the server to do so. By default, future calls to Execute the same `Action` will also serve their results from the cache. Clients must take care to understand the caching behaviour. Ideally, all `Action`s will be reproducible so that serving a result from cache is always desirable and correct."
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandTask": {
      "type": "object",
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandTask",
      "properties": {
        "expectedOutputs": {
          "description": "The expected outputs from the task.",
          "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskOutputs"
        },
        "timeouts": {
          "description": "The timeouts of this task.",
          "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskTimeouts"
        },
        "inputs": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputs",
          "description": "The inputs to the task."
        }
      },
      "description": "Describes a shell-style task to execute, suitable for providing as the Bots interface's `Lease.payload` field."
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandTaskOutputs": {
      "properties": {
        "directories": {
          "type": "array",
          "description": "A list of expected directories, relative to the execution root. All paths MUST be delimited by forward slashes.",
          "items": {
            "type": "string"
          }
        },
        "files": {
          "description": "A list of expected files, relative to the execution root. All paths MUST be delimited by forward slashes.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "stdoutDestination": {
          "type": "string",
          "description": "The destination to which any stdout should be sent. The method by which the bot should send the stream contents to that destination is not defined in this API. As examples, the destination could be a file referenced in the `files` field in this message, or it could be a URI that must be written via the ByteStream API."
        },
        "stderrDestination": {
          "description": "The destination to which any stderr should be sent. The method by which the bot should send the stream contents to that destination is not defined in this API. As examples, the destination could be a file referenced in the `files` field in this message, or it could be a URI that must be written via the ByteStream API.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskOutputs",
      "description": "Describes the expected outputs of the command.",
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateInstanceRequest": {
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaCreateInstanceRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Resource name of the project containing the instance. Format: `projects/[PROJECT_ID]`.",
          "type": "string"
        },
        "instanceId": {
          "description": "ID of the created instance. A valid `instance_id` must: be 6-50 characters long, contain only lowercase letters, digits, hyphens and underscores, start with a lowercase letter, and end with a lowercase letter or a digit.",
          "type": "string"
        },
        "instance": {
          "description": "Specifies the instance to create. The name in the instance, if specified in the instance, is ignored.",
          "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance"
        }
      },
      "description": "The request used for `CreateInstance`."
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature": {
      "type": "object",
      "description": "Defines whether a feature can be used or what values are accepted.",
      "properties": {
        "policy": {
          "type": "string",
          "description": "The policy of the feature.",
          "enumDescriptions": [
            "Default value, if not explicitly set. Equivalent to FORBIDDEN, unless otherwise documented on a specific Feature.",
            "Feature is explicitly allowed.",
            "Feature is forbidden. Requests attempting to leverage it will get an FailedPrecondition error, with a message like: \"Feature forbidden by FeaturePolicy: Feature on instance \"",
            "Only the values specified in the `allowed_values` are allowed."
          ],
          "enum": [
            "POLICY_UNSPECIFIED",
            "ALLOWED",
            "FORBIDDEN",
            "RESTRICTED"
          ]
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "description": "A list of acceptable values. Only effective when the policy is `RESTRICTED`.",
          "type": "array"
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaFeaturePolicyFeature"
    },
    "GoogleDevtoolsRemotebuildbotCommandDurations": {
      "properties": {
        "dockerPrep": {
          "format": "google-duration",
          "description": "The time spent preparing the command to be run in a Docker container (includes pulling the Docker image, if necessary).",
          "type": "string"
        },
        "execution": {
          "type": "string",
          "format": "google-duration",
          "description": "The time spent executing the command (i.e., doing useful work)."
        },
        "downloadStartTime": {
          "description": "The timestamp when downloading the input files begins.",
          "format": "google-datetime",
          "type": "string"
        },
        "cmWaitForAssignment": {
          "type": "string",
          "format": "google-duration",
          "description": "The time spent waiting for Container Manager to assign an asynchronous container for execution."
        },
        "dockerPrepStartTime": {
          "description": "The timestamp when docker preparation begins.",
          "type": "string",
          "format": "google-datetime"
        },
        "stdout": {
          "description": "The time spent uploading the stdout logs.",
          "type": "string",
          "format": "google-duration"
        },
        "execStartTime": {
          "type": "string",
          "description": "The timestamp when execution begins.",
          "format": "google-datetime"
        },
        "download": {
          "type": "string",
          "description": "The time spent downloading the input files and constructing the working directory.",
          "format": "google-duration"
        },
        "uploadStartTime": {
          "description": "The timestamp when uploading the output files begins.",
          "format": "google-datetime",
          "type": "string"
        },
        "upload": {
          "type": "string",
          "format": "google-duration",
          "description": "The time spent uploading the output files."
        },
        "overall": {
          "type": "string",
          "description": "The time spent completing the command, in total.",
          "format": "google-duration"
        },
        "isoPrepDone": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when preparation is done and bot starts downloading files."
        }
      },
      "id": "GoogleDevtoolsRemotebuildbotCommandDurations",
      "description": "CommandDuration contains the various duration metrics tracked when a bot performs a command.",
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2ActionResult": {
      "properties": {
        "stdoutDigest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest for a blob containing the standard output of the action, which can be retrieved from the ContentAddressableStorage."
        },
        "stderrRaw": {
          "description": "The standard error buffer of the action. The server SHOULD NOT inline stderr unless requested by the client in the GetActionResultRequest message. The server MAY omit inlining, even if requested, and MUST do so if inlining would cause the response to exceed message size limits.",
          "format": "byte",
          "type": "string"
        },
        "exitCode": {
          "description": "The exit code of the command.",
          "format": "int32",
          "type": "integer"
        },
        "outputSymlinks": {
          "description": "New in v2.1: this field will only be populated if the command `output_paths` field was used, and not the pre v2.1 `output_files` or `output_directories` fields. The output paths of the action that are symbolic links to other paths. Those may be links to other outputs, or inputs, or even absolute paths outside of the working directory, if the server supports SymlinkAbsolutePathStrategy.ALLOWED. A single entry for each output requested in `output_paths` field of the Action, if the corresponding path existed after the action completed and was a symbolic link. If the action does not produce a requested output, then that output will be omitted from the list. The server is free to arrange the output list as desired; clients MUST NOT assume that the output list is sorted.",
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputSymlink"
          }
        },
        "outputFiles": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputFile"
          },
          "description": "The output files of the action. For each output file requested in the `output_files` or `output_paths` field of the Action, if the corresponding file existed after the action completed, a single entry will be present either in this field, or the `output_file_symlinks` field if the file was a symbolic link to another file (`output_symlinks` field after v2.1). If an output listed in `output_files` was found, but was a directory rather than a regular file, the server will return a FAILED_PRECONDITION. If the action does not produce the requested output, then that output will be omitted from the list. The server is free to arrange the output list as desired; clients MUST NOT assume that the output list is sorted.",
          "type": "array"
        },
        "stderrDigest": {
          "$ref": "BuildBazelRemoteExecutionV2Digest",
          "description": "The digest for a blob containing the standard error of the action, which can be retrieved from the ContentAddressableStorage."
        },
        "outputDirectories": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputDirectory"
          },
          "description": "The output directories of the action. For each output directory requested in the `output_directories` or `output_paths` field of the Action, if the corresponding directory existed after the action completed, a single entry will be present in the output list, which will contain the digest of a Tree message containing the directory tree, and the path equal exactly to the corresponding Action output_directories member. As an example, suppose the Action had an output directory `a/b/dir` and the execution produced the following contents in `a/b/dir`: a file named `bar` and a directory named `foo` with an executable file named `baz`. Then, output_directory will contain (hashes shortened for readability): ```json // OutputDirectory proto: { path: \"a/b/dir\" tree_digest: { hash: \"4a73bc9d03...\", size: 55 } } // Tree proto with hash \"4a73bc9d03...\" and size 55: { root: { files: [ { name: \"bar\", digest: { hash: \"4a73bc9d03...\", size: 65534 } } ], directories: [ { name: \"foo\", digest: { hash: \"4cf2eda940...\", size: 43 } } ] } children : { // (Directory proto with hash \"4cf2eda940...\" and size 43) files: [ { name: \"baz\", digest: { hash: \"b2c941073e...\", size: 1294, }, is_executable: true } ] } } ``` If an output of the same name as listed in `output_files` of the Command was found in `output_directories`, but was not a directory, the server will return a FAILED_PRECONDITION.",
          "type": "array"
        },
        "stdoutRaw": {
          "description": "The standard output buffer of the action. The server SHOULD NOT inline stdout unless requested by the client in the GetActionResultRequest message. The server MAY omit inlining, even if requested, and MUST do so if inlining would cause the response to exceed message size limits.",
          "format": "byte",
          "type": "string"
        },
        "outputDirectorySymlinks": {
          "type": "array",
          "description": "The output directories of the action that are symbolic links to other directories. Those may be links to other output directories, or input directories, or even absolute paths outside of the working directory, if the server supports SymlinkAbsolutePathStrategy.ALLOWED. For each output directory requested in the `output_directories` field of the Action, if the directory existed after the action completed, a single entry will be present either in this field, or in the `output_directories` field, if the directory was not a symbolic link. If an output of the same name was found, but was a symbolic link to a file instead of a directory, the server will return a FAILED_PRECONDITION. If the action does not produce the requested output, then that output will be omitted from the list. The server is free to arrange the output list as desired; clients MUST NOT assume that the output list is sorted. DEPRECATED as of v2.1. Servers that wish to be compatible with v2.0 API should still populate this field in addition to `output_symlinks`.",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputSymlink"
          }
        },
        "outputFileSymlinks": {
          "description": "The output files of the action that are symbolic links to other files. Those may be links to other output files, or input files, or even absolute paths outside of the working directory, if the server supports SymlinkAbsolutePathStrategy.ALLOWED. For each output file requested in the `output_files` or `output_paths` field of the Action, if the corresponding file existed after the action completed, a single entry will be present either in this field, or in the `output_files` field, if the file was not a symbolic link. If an output symbolic link of the same name as listed in `output_files` of the Command was found, but its target type was not a regular file, the server will return a FAILED_PRECONDITION. If the action does not produce the requested output, then that output will be omitted from the list. The server is free to arrange the output list as desired; clients MUST NOT assume that the output list is sorted. DEPRECATED as of v2.1. Servers that wish to be compatible with v2.0 API should still populate this field in addition to `output_symlinks`.",
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2OutputSymlink"
          }
        },
        "executionMetadata": {
          "$ref": "BuildBazelRemoteExecutionV2ExecutedActionMetadata",
          "description": "The details of the execution that originally produced this result."
        }
      },
      "type": "object",
      "description": "An ActionResult represents the result of an Action being run.",
      "id": "BuildBazelRemoteExecutionV2ActionResult"
    },
    "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputsEnvironmentVariable": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The envvar name."
        },
        "value": {
          "description": "The envvar value.",
          "type": "string"
        }
      },
      "description": "An environment variable required by this task.",
      "id": "GoogleDevtoolsRemoteworkersV1test2CommandTaskInputsEnvironmentVariable",
      "type": "object"
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesResponse": {
      "type": "object",
      "properties": {
        "instances": {
          "items": {
            "$ref": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaInstance"
          },
          "description": "The list of instances in a given project.",
          "type": "array"
        }
      },
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesResponse"
    },
    "BuildBazelRemoteExecutionV2FileNode": {
      "type": "object",
      "description": "A `FileNode` represents a single file and associated metadata.",
      "properties": {
        "isExecutable": {
          "type": "boolean",
          "description": "True if file is executable, false otherwise."
        },
        "name": {
          "type": "string",
          "description": "The name of the file."
        },
        "nodeProperties": {
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          },
          "type": "array",
          "description": "The node properties of the FileNode."
        },
        "digest": {
          "description": "The digest of the file's content.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        }
      },
      "id": "BuildBazelRemoteExecutionV2FileNode"
    },
    "GoogleDevtoolsRemoteworkersV1test2DirectoryMetadata": {
      "description": "The metadata for a directory. Similar to the equivalent message in the Remote Execution API.",
      "properties": {
        "digest": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest",
          "description": "A pointer to the contents of the directory, in the form of a marshalled Directory message."
        },
        "path": {
          "type": "string",
          "description": "The path of the directory, as in FileMetadata.path."
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2DirectoryMetadata",
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2LogFile": {
      "description": "A `LogFile` is a log stored in the CAS.",
      "id": "BuildBazelRemoteExecutionV2LogFile",
      "properties": {
        "digest": {
          "description": "The digest of the log contents.",
          "$ref": "BuildBazelRemoteExecutionV2Digest"
        },
        "humanReadable": {
          "type": "boolean",
          "description": "This is a hint as to the purpose of the log, and is set to true if the log is human-readable text that can be usefully displayed to a user, and false otherwise. For instance, if a command-line client wishes to print the server logs to the terminal for a failed action, this allows it to avoid displaying a binary file."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsRemoteworkersV1test2Blob": {
      "properties": {
        "digest": {
          "$ref": "GoogleDevtoolsRemoteworkersV1test2Digest",
          "description": "The digest of the blob. This should be verified by the receiver."
        },
        "contents": {
          "format": "byte",
          "description": "The contents of the blob.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsRemoteworkersV1test2Blob",
      "type": "object",
      "description": "Describes a blob of binary content with its digest."
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesRequest": {
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListInstancesRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Resource name of the project. Format: `projects/[PROJECT_ID]`."
        }
      },
      "type": "object"
    },
    "BuildBazelRemoteExecutionV2RequestMetadata": {
      "type": "object",
      "properties": {
        "actionId": {
          "description": "An identifier that ties multiple requests to the same action. For example, multiple requests to the CAS, Action Cache, and Execution API are used in order to compile foo.cc.",
          "type": "string"
        },
        "toolInvocationId": {
          "type": "string",
          "description": "An identifier that ties multiple actions together to a final result. For example, multiple actions are required to build and run foo_test."
        },
        "toolDetails": {
          "$ref": "BuildBazelRemoteExecutionV2ToolDetails",
          "description": "The details for the tool invoking the requests."
        },
        "correlatedInvocationsId": {
          "description": "An identifier to tie multiple tool invocations together. For example, runs of foo_test, bar_test and baz_test on a post-submit of a given patch.",
          "type": "string"
        }
      },
      "description": "An optional Metadata to attach to any RPC request to tell the server about an external context of the request. The server may use this for logging or other purposes. To use it, the client attaches the header to the call using the canonical proto serialization: * name: `build.bazel.remote.execution.v2.requestmetadata-bin` * contents: the base64 encoded binary `RequestMetadata` message. Note: the gRPC library serializes binary headers encoded in base 64 by default (https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#requests). Therefore, if the gRPC library is used to pass/retrieve this metadata, the user may ignore the base64 encoding and assume it is simply serialized as a binary message.",
      "id": "BuildBazelRemoteExecutionV2RequestMetadata"
    },
    "BuildBazelRemoteExecutionV2SymlinkNode": {
      "description": "A `SymlinkNode` represents a symbolic link.",
      "id": "BuildBazelRemoteExecutionV2SymlinkNode",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the symlink.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "The target path of the symlink. The path separator is a forward slash `/`. The target path can be relative to the parent directory of the symlink or it can be an absolute path starting with `/`. Support for absolute paths can be checked using the Capabilities API. The canonical form forbids the substrings `/./` and `//` in the target path. `..` components are allowed anywhere in the target path."
        },
        "nodeProperties": {
          "type": "array",
          "items": {
            "$ref": "BuildBazelRemoteExecutionV2NodeProperty"
          },
          "description": "The node properties of the SymlinkNode."
        }
      }
    },
    "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsRequest": {
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildexecutionAdminV1alphaListWorkerPoolsRequest",
      "properties": {
        "filter": {
          "description": "Optional. A filter expression that filters resources listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. String values are case-insensitive. The comparison operator must be either `:`, `=`, `!=`, `\u003e`, `\u003e=`, `\u003c=` or `\u003c`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. You can also filter on nested fields. To filter on multiple expressions, you can separate expression using `AND` and `OR` operators, using parentheses to specify precedence. If neither operator is specified, `AND` is assumed. Examples: Include only pools with more than 100 reserved workers: `(worker_count \u003e 100) (worker_config.reserved = true)` Include only pools with a certain label or machines of the e2-standard family: `worker_config.labels.key1 : * OR worker_config.machine_type: e2-standard`",
          "type": "string"
        },
        "parent": {
          "description": "Resource name of the instance. Format: `projects/[PROJECT_ID]/instances/[INSTANCE_ID]`.",
          "type": "string"
        }
      }
    },
    "GoogleDevtoolsRemotebuildbotCommandEvents": {
      "type": "object",
      "id": "GoogleDevtoolsRemotebuildbotCommandEvents",
      "properties": {
        "dockerCacheHit": {
          "type": "boolean",
          "description": "Indicates whether we are using a cached Docker image (true) or had to pull the Docker image (false) for this command."
        },
        "usedAsyncContainer": {
          "type": "boolean",
          "description": "Indicates whether an asynchronous container was used for execution."
        },
        "dockerImageName": {
          "description": "Docker Image name.",
          "type": "string"
        },
        "inputCacheMiss": {
          "format": "float",
          "type": "number",
          "description": "The input cache miss ratio."
        },
        "numWarnings": {
          "type": "string",
          "format": "uint64",
          "description": "The number of warnings reported."
        },
        "numErrors": {
          "type": "string",
          "format": "uint64",
          "description": "The number of errors reported."
        }
      },
      "description": "CommandEvents contains counters for the number of warnings and errors that occurred during the execution of a command."
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
[...]
