{
  "baseUrl": "https://run.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "canonicalName": "Cloud Run",
  "version_module": true,
  "description": "Deploy and manage user provided container images that scale automatically based on HTTP traffic.",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "VolumeDevice": {
      "type": "object",
      "id": "VolumeDevice",
      "description": "volumeDevice describes a mapping of a raw block device within a container.",
      "properties": {
        "name": {
          "description": "name must match the name of a persistentVolumeClaim in the pod",
          "type": "string"
        },
        "devicePath": {
          "type": "string",
          "description": "devicePath is the path inside of the container that the device will be mapped to."
        }
      }
    },
    "VolumeMount": {
      "description": "VolumeMount describes a mounting of a Volume within a container.",
      "type": "object",
      "properties": {
        "subPath": {
          "description": "Path within the volume from which the container's volume should be mounted. Defaults to \"\" (volume's root). +optional",
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Mounted read-only if true, read-write otherwise (false or unspecified). Defaults to false. +optional"
        },
        "name": {
          "description": "This must match the Name of a Volume.",
          "type": "string"
        },
        "mountPropagation": {
          "type": "string",
          "description": "mountPropagation determines how mounts are propagated from the host to container and the other way around. When not set, MountPropagationHostToContainer is used. This field is beta in 1.10. +optional"
        },
        "mountPath": {
          "description": "Path within the container at which the volume should be mounted. Must not contain ':'.",
          "type": "string"
        }
      },
      "id": "VolumeMount"
    },
    "ResourceRecord": {
      "description": "A DNS resource record.",
      "type": "object",
      "id": "ResourceRecord",
      "properties": {
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for `CNAME` records. Example: 'www'.",
          "type": "string"
        },
        "type": {
          "description": "Resource record type. Example: `AAAA`.",
          "enum": [
            "RECORD_TYPE_UNSPECIFIED",
            "A",
            "AAAA",
            "CNAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unknown resource record.",
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ]
        },
        "rrdata": {
          "type": "string",
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)."
        }
      }
    },
    "AuthorizedDomain": {
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via [Webmaster Central](https://www.google.com/webmasters/verification/home).",
      "type": "object",
      "id": "AuthorizedDomain",
      "properties": {
        "id": {
          "description": "Relative name of the domain authorized for use. Example: `example.com`.",
          "type": "string"
        },
        "name": {
          "description": "Read only. Full path to the `AuthorizedDomain` resource in the API. Example: `apps/myapp/authorizedDomains/example.com`.",
          "type": "string"
        }
      }
    },
    "ConfigurationSpec": {
      "description": "ConfigurationSpec holds the desired state of the Configuration (from the client).",
      "type": "object",
      "id": "ConfigurationSpec",
      "properties": {
        "template": {
          "$ref": "RevisionTemplate",
          "description": "Template holds the latest specification for the Revision to be stamped out."
        },
        "generation": {
          "description": "Deprecated and not currently populated by Cloud Run. See metadata.generation instead, which is the sequence number containing the latest generation of the desired state. Read-only.",
          "format": "int32",
          "type": "integer"
        },
        "revisionTemplate": {
          "description": "RevisionTemplate holds the latest specification for the Revision to be stamped out. The template references the container image, and may also include labels and annotations that should be attached to the Revision. To correlate a Revision, and/or to force a Revision to be created when the spec doesn't otherwise change, a nonce label may be provided in the template metadata. For more details, see: https://github.com/knative/serving/blob/master/docs/client-conventions.md#associate-modifications-with-revisions Cloud Run does not currently support referencing a build that is responsible for materializing the container image from source.",
          "$ref": "RevisionTemplate"
        }
      }
    },
    "ServiceSpecPinnedType": {
      "properties": {
        "configuration": {
          "description": "The configuration for this service.",
          "$ref": "ConfigurationSpec"
        },
        "revisionName": {
          "description": "The revision name to pin this service to until changed to a different service type.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ServiceSpecPinnedType Pins this service to a specific revision name. The revision must be owned by the configuration provided. Deprecated and not supported by Cloud Run.",
      "id": "ServiceSpecPinnedType"
    },
    "RevisionTemplate": {
      "properties": {
        "spec": {
          "$ref": "RevisionSpec",
          "description": "RevisionSpec holds the desired state of the Revision (from the client)."
        },
        "metadata": {
          "description": "Optional metadata for this Revision, including labels and annotations. Name will be generated by the Configuration. To set minimum instances for this revision, use the \"autoscaling.knative.dev/minScale\" annotation key. (Cloud Run on GKE only). To set maximum instances for this revision, use the \"autoscaling.knative.dev/maxScale\" annotation key. To set Cloud SQL connections for the revision, use the \"run.googleapis.com/cloudsql-instances\" annotation key. Values should be comma separated.",
          "$ref": "ObjectMeta"
        }
      },
      "type": "object",
      "id": "RevisionTemplate",
      "description": "RevisionTemplateSpec describes the data a revision should have when created from a template. Based on: https://github.com/kubernetes/api/blob/e771f807/core/v1/types.go#L3179-L3190"
    },
    "InstanceSpec": {
      "description": "InstanceSpec is a description of an instance.",
      "type": "object",
      "id": "InstanceSpec",
      "properties": {
        "activeDeadlineSeconds": {
          "description": "Optional. Optional duration in seconds the instance may be active relative to StartTime before the system will actively try to mark it failed and kill associated containers. If set to zero, the system will never attempt to kill an instance based on time. Otherwise, value must be a positive integer. +optional",
          "format": "int64",
          "type": "string"
        },
        "containers": {
          "description": "Optional. List of containers belonging to the instance. We disallow a number of fields on this Container. Only a single container may be provided.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "serviceAccountName": {
          "description": "Optional. Email address of the IAM service account associated with the instance of a Job. The service account represents the identity of the running instance, and determines what permissions the instance has. If not provided, the instance will use the project's default service account. +optional",
          "type": "string"
        },
        "terminationGracePeriodSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Optional duration in seconds the instance needs to terminate gracefully. Value must be non-negative integer. The value zero indicates delete immediately. The grace period is the duration in seconds after the processes running in the instance are sent a termination signal and the time when the processes are forcibly halted with a kill signal. Set this value longer than the expected cleanup time for your process. +optional"
        },
        "restartPolicy": {
          "type": "string",
          "description": "Optional. Restart policy for all containers within the instance. Allowed values are: - OnFailure: Instances will always be restarted on failure if the backoffLimit has not been reached. - Never: Instances are never restarted and all failures are permanent. Cannot be used if backoffLimit is set. +optional"
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array",
          "description": "Optional. List of volumes that can be mounted by containers belonging to the instance. More info: https://kubernetes.io/docs/concepts/storage/volumes +optional"
        }
      }
    },
    "OwnerReference": {
      "id": "OwnerReference",
      "description": "OwnerReference contains enough information to let you identify an owning object. Currently, an owning object must be in the same namespace, so there is no namespace field.",
      "type": "object",
      "properties": {
        "controller": {
          "description": "If true, this reference points to the managing controller. +optional",
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "API version of the referent."
        },
        "blockOwnerDeletion": {
          "type": "boolean",
          "description": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then the owner cannot be deleted from the key-value store until this reference is removed. Defaults to false. To set this field, a user needs \"delete\" permission of the owner, otherwise 422 (Unprocessable Entity) will be returned. +optional"
        },
        "uid": {
          "type": "string",
          "description": "UID of the referent. More info: http://kubernetes.io/docs/user-guide/identifiers#uids"
        },
        "name": {
          "type": "string",
          "description": "Name of the referent. More info: http://kubernetes.io/docs/user-guide/identifiers#names"
        },
        "kind": {
          "type": "string",
          "description": "Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds"
        }
      }
    },
    "LocalObjectReference": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names"
        }
      },
      "type": "object",
      "description": "LocalObjectReference contains enough information to let you locate the referenced object inside the same namespace.",
      "id": "LocalObjectReference"
    },
    "ServiceSpecReleaseType": {
      "description": "ServiceSpecReleaseType contains the options for slowly releasing revisions. See ServiceSpec for more details. Not currently supported by Cloud Run.",
      "type": "object",
      "id": "ServiceSpecReleaseType",
      "properties": {
        "configuration": {
          "description": "The configuration for this service. All revisions from this service must come from a single configuration.",
          "$ref": "ConfigurationSpec"
        },
        "rolloutPercent": {
          "type": "integer",
          "format": "int32",
          "description": "RolloutPercent is the percent of traffic that should be sent to the candidate revision, i.e. the 2nd revision in the revisions list. Valid values are between 0 and 99 inclusive."
        },
        "revisions": {
          "description": "Revisions is an ordered list of 1 or 2 revisions. The first is the current revision, and the second is the candidate revision. If a single revision is provided, traffic will be pinned at that revision. \"@latest\" is a shortcut for usage that refers to the latest created revision by the configuration.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListRevisionsResponse": {
      "description": "ListRevisionsResponse is a list of Revision resources.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "items": {
          "type": "array",
          "description": "List of Revisions.",
          "items": {
            "$ref": "Revision"
          }
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this revision list."
        },
        "kind": {
          "description": "The kind of this resource, in this case \"RevisionList\".",
          "type": "string"
        }
      },
      "id": "ListRevisionsResponse",
      "type": "object"
    },
    "ContainerPort": {
      "type": "object",
      "description": "ContainerPort represents a network port in a single container.",
      "properties": {
        "containerPort": {
          "description": "Number of port to expose on the pod's IP address. This must be a valid port number, 0 \u003c x \u003c 65536.",
          "format": "int32",
          "type": "integer"
        },
        "hostIP": {
          "type": "string",
          "description": "What host IP to bind the external port to. +optional"
        },
        "protocol": {
          "description": "Protocol for port. Must be UDP or TCP. Defaults to \"TCP\". +optional",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "If specified, this must be an IANA_SVC_NAME and unique within the pod. Each named port in a pod must have a unique name. Name for the port that can be referred to by services. +optional"
        },
        "hostPort": {
          "type": "integer",
          "description": "Number of port to expose on the host. If specified, this must be a valid port number, 0 \u003c x \u003c 65536. If HostNetwork is specified, this must match ContainerPort. Most containers do not need this. +optional",
          "format": "int32"
        }
      },
      "id": "ContainerPort"
    },
    "InstanceTemplateSpec": {
      "description": "InstanceTemplateSpec describes the data an instance should have when created from a template.",
      "type": "object",
      "properties": {
        "spec": {
          "$ref": "InstanceSpec",
          "description": "Optional. Specification of the desired behavior of the instance. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status +optional"
        }
      },
      "id": "InstanceTemplateSpec"
    },
    "RevisionCondition": {
      "properties": {
        "severity": {
          "description": "How to interpret failures of this condition, one of Error, Warning, Info +optional",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Human readable message indicating details about the current status. +optional"
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time the condition transitioned from one status to another. +optional"
        },
        "reason": {
          "type": "string",
          "description": "One-word CamelCase reason for the condition's last transition. +optional"
        },
        "type": {
          "description": "RevisionConditionType is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting Types include: * \"Ready\": True when the Revision is ready. * \"ResourcesAvailable\": True when underlying resources have been provisioned. * \"ContainerHealthy\": True when the Revision readiness check completes. * \"Active\": True when the Revision may receive traffic.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the condition, one of True, False, Unknown."
        }
      },
      "type": "object",
      "id": "RevisionCondition",
      "description": "RevisionCondition defines a readiness condition for a Revision."
    },
    "SELinuxOptions": {
      "type": "object",
      "id": "SELinuxOptions",
      "description": "SELinuxOptions are the labels to be applied to the container",
      "properties": {
        "user": {
          "description": "User is a SELinux user label that applies to the container. +optional",
          "type": "string"
        },
        "role": {
          "description": "Role is a SELinux role label that applies to the container. +optional",
          "type": "string"
        },
        "level": {
          "description": "Level is SELinux level label that applies to the container. +optional",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type is a SELinux type label that applies to the container. +optional"
        }
      }
    },
    "ListDomainMappingsResponse": {
      "properties": {
        "kind": {
          "description": "The kind of this resource, in this case \"DomainMappingList\".",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "DomainMapping"
          },
          "type": "array",
          "description": "List of DomainMappings."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "metadata": {
          "description": "Metadata associated with this DomainMapping list.",
          "$ref": "ListMeta"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"domains.cloudrun.com/v1alpha1\"."
        }
      },
      "description": "ListDomainMappingsResponse is a list of DomainMapping resources.",
      "id": "ListDomainMappingsResponse",
      "type": "object"
    },
    "Job": {
      "type": "object",
      "id": "Job",
      "description": "Job represents the configuration of a single job. A job an immutable resource that references a container image which is run to completion.",
      "properties": {
        "apiVersion": {
          "description": "Optional. APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources +optional",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Optional. Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds +optional"
        },
        "status": {
          "$ref": "JobStatus",
          "description": "Optional. Current status of a job. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#spec-and-status +optional"
        },
        "metadata": {
          "description": "Optional. Standard object's metadata. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata +optional",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "$ref": "JobSpec",
          "description": "Optional. Specification of the desired behavior of a job. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#spec-and-status +optional"
        }
      }
    },
    "ConfigMapEnvSource": {
      "properties": {
        "optional": {
          "type": "boolean",
          "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported Specify whether the ConfigMap must be defined +optional"
        },
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference"
        },
        "name": {
          "type": "string",
          "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported The ConfigMap to select from."
        }
      },
      "id": "ConfigMapEnvSource",
      "type": "object",
      "description": "ConfigMapEnvSource selects a ConfigMap to populate the environment variables with. The contents of the target ConfigMap's Data field will represent the key-value pairs as environment variables."
    },
    "JobCondition": {
      "type": "object",
      "description": "JobCondition defines a readiness condition for a Revision.",
      "properties": {
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Last time the condition transitioned from one status to another."
        },
        "severity": {
          "description": "Optional. How to interpret failures of this condition, one of Error, Warning, Info",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. Type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting Types include: * \"Completed\": True when the Job has successfully completed. * \"Started\": True when the Job has successfully started running. * \"ResourcesAvailable\": True when underlying resources have been provisioned."
        },
        "message": {
          "description": "Optional. Human readable message indicating details about the current status.",
          "type": "string"
        },
        "status": {
          "description": "Required. Status of the condition, one of True, False, Unknown.",
          "type": "string"
        },
        "reason": {
          "description": "Optional. One-word CamelCase reason for the condition's last transition.",
          "type": "string"
        }
      },
      "id": "JobCondition"
    },
    "Capabilities": {
      "properties": {
        "drop": {
          "items": {
            "type": "string"
          },
          "description": "Removed capabilities +optional",
          "type": "array"
        },
        "add": {
          "description": "Added capabilities +optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Capabilities",
      "type": "object",
      "description": "Adds and removes POSIX capabilities from running containers."
    },
    "Quantity": {
      "type": "object",
      "description": "The view model of a single quantity, e.g. \"800 MiB\". Corresponds to https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/generated.proto",
      "id": "Quantity",
      "properties": {
        "string": {
          "type": "string",
          "description": "Stringified version of the quantity, e.g., \"800 MiB\"."
        }
      }
    },
    "Revision": {
      "properties": {
        "status": {
          "description": "Status communicates the observed state of the Revision (from the controller).",
          "$ref": "RevisionStatus"
        },
        "metadata": {
          "description": "Metadata associated with this Revision, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Spec holds the desired state of the Revision (from the client).",
          "$ref": "RevisionSpec"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"Revision\".",
          "type": "string"
        }
      },
      "description": "Revision is an immutable snapshot of code and configuration. A revision references a container image. Revisions are created by updates to a Configuration. Cloud Run does not currently support referencing a build that is responsible for materializing the container image from source. See also: https://github.com/knative/serving/blob/master/docs/spec/overview.md#revision",
      "id": "Revision",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "ConfigMapKeySelector": {
      "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Selects a key from a ConfigMap.",
      "type": "object",
      "properties": {
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference"
        },
        "name": {
          "type": "string",
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported The ConfigMap to select from."
        },
        "optional": {
          "type": "boolean",
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Specify whether the ConfigMap or its key must be defined +optional"
        },
        "key": {
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported The key to select.",
          "type": "string"
        }
      },
      "id": "ConfigMapKeySelector"
    },
    "DomainMappingSpec": {
      "properties": {
        "routeName": {
          "type": "string",
          "description": "The name of the Knative Route that this DomainMapping applies to. The route must exist."
        },
        "forceOverride": {
          "description": "If set, the mapping will override any mapping set before this spec was set. It is recommended that the user leaves this empty to receive an error warning about a potential conflict and only set it once the respective UI has given such a warning.",
          "type": "boolean"
        },
        "certificateMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Do not provision an HTTPS certificate.",
            "Automatically provisions an HTTPS certificate via GoogleCA or LetsEncrypt."
          ],
          "description": "The mode of the certificate.",
          "enum": [
            "CERTIFICATE_MODE_UNSPECIFIED",
            "NONE",
            "AUTOMATIC"
          ]
        }
      },
      "type": "object",
      "description": "The desired state of the Domain Mapping.",
      "id": "DomainMappingSpec"
    },
    "ObjectMeta": {
      "description": "ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create.",
      "properties": {
        "ownerReferences": {
          "type": "array",
          "description": "List of objects that own this object. If ALL objects in the list have been deleted, this object will be garbage collected. +optional",
          "items": {
            "$ref": "OwnerReference"
          }
        },
        "resourceVersion": {
          "type": "string",
          "description": "An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources. Populated by the system. Read-only. Value must be treated as opaque by clients and . More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency +optional"
        },
        "namespace": {
          "description": "Namespace defines the space within each name must be unique, within a Cloud Run region. In Cloud Run the namespace must be equal to either the project ID or project number.",
          "type": "string"
        },
        "creationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC. Populated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata +optional"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and routes. More info: http://kubernetes.io/docs/user-guide/labels +optional",
          "type": "object"
        },
        "clusterName": {
          "type": "string",
          "description": "Not currently supported by Cloud Run. The name of the cluster which the object belongs to. This is used to distinguish resources with same name and namespace in different clusters. This field is not set anywhere right now and apiserver is going to ignore it if set in create or update request. +optional"
        },
        "generateName": {
          "description": "Not currently supported by Cloud Run. GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server. If this field is specified and the generated name exists, the server will NOT return a 409 - instead, it will either return 201 Created or 500 with Reason ServerTimeout indicating a unique name could not be found in the time allotted, and the client should retry (optionally after the time indicated in the Retry-After header). Applied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency +optional string generateName = 2;",
          "type": "string"
        },
        "uid": {
          "description": "UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations. Populated by the system. Read-only. More info: http://kubernetes.io/docs/user-guide/identifiers#uids +optional",
          "type": "string"
        },
        "deletionTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested. Populated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata +optional"
        },
        "generation": {
          "description": "A sequence number representing a specific generation of the desired state. Populated by the system. Read-only. +optional",
          "type": "integer",
          "format": "int32"
        },
        "finalizers": {
          "description": "Not currently supported by Cloud Run. Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. +optional +patchStrategy=merge",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Name must be unique within a namespace, within a Cloud Run region. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: http://kubernetes.io/docs/user-guide/identifiers#names +optional",
          "type": "string"
        },
        "selfLink": {
          "description": "SelfLink is a URL representing this object. Populated by the system. Read-only. +optional string selfLink = 4;",
          "type": "string"
        },
        "deletionGracePeriodSeconds": {
          "description": "Not currently supported by Cloud Run. Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only. +optional",
          "type": "integer",
          "format": "int32"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: http://kubernetes.io/docs/user-guide/annotations +optional"
        }
      },
      "id": "ObjectMeta",
      "type": "object"
    },
    "KeyToPath": {
      "properties": {
        "key": {
          "description": "The key to project.",
          "type": "string"
        },
        "mode": {
          "format": "int32",
          "description": "Mode bits to use on this file, must be a value between 0 and 0777. If not specified, the volume defaultMode will be used. This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set. +optional",
          "type": "integer"
        },
        "path": {
          "type": "string",
          "description": "The relative path of the file to map the key to. May not be an absolute path. May not contain the path element '..'. May not start with the string '..'."
        }
      },
      "type": "object",
      "id": "KeyToPath",
      "description": "Maps a string key to a path within a volume."
    },
    "ListJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "This field is equivalent to the metadata.continue field and is provided as a convenience for compatibility with https://google.aip.dev/158. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a list may not be possible if the server configuration has changed or more than a few minutes have passed. The metadata.resourceVersion field returned when using this field will be identical to the value in the first response.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "List of Jobs."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case \"JobsList\"."
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this jobs list."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"run.googleapis.com/v1alpha1\"."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListJobsResponse",
      "type": "object",
      "description": "ListJobsResponse is a list of Jobs resources."
    },
    "SecretVolumeSource": {
      "properties": {
        "optional": {
          "type": "boolean",
          "description": "Specify whether the Secret or its keys must be defined."
        },
        "secretName": {
          "type": "string",
          "description": "Name of the secret in the container's namespace to use."
        },
        "defaultMode": {
          "format": "int32",
          "type": "integer",
          "description": "Mode bits to use on created files by default. Must be a value between 0 and 0777. Defaults to 0644. Directories within the path are not affected by this setting. This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set."
        },
        "items": {
          "items": {
            "$ref": "KeyToPath"
          },
          "type": "array",
          "description": "If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified which is not present in the Secret, the volume setup will error unless it is marked optional."
        }
      },
      "id": "SecretVolumeSource",
      "description": "The contents of the target Secret's Data field will be presented in a volume as files using the keys in the Data field as the file names.",
      "type": "object"
    },
    "EnvVar": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the environment variable. Must be a C_IDENTIFIER."
        },
        "valueFrom": {
          "$ref": "EnvVarSource",
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Source for the environment variable's value. Cannot be used if value is not empty. +optional"
        },
        "value": {
          "description": "Variable references $(VAR_NAME) are expanded using the previous defined environment variables in the container and any route environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Defaults to \"\". +optional",
          "type": "string"
        }
      },
      "id": "EnvVar",
      "description": "EnvVar represents an environment variable present in a Container.",
      "type": "object"
    },
    "SecurityContext": {
      "description": "SecurityContext holds security configuration that will be applied to a container. Some fields are present in both SecurityContext and PodSecurityContext. When both are set, the values in SecurityContext take precedence.",
      "type": "object",
      "properties": {
        "capabilities": {
          "description": "The capabilities to add/drop when running containers. Defaults to the default set of capabilities granted by the container runtime. +optional",
          "$ref": "Capabilities"
        },
        "runAsGroup": {
          "description": "The GID to run the entrypoint of the container process. Uses runtime default if unset. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "integer",
          "format": "int32"
        },
        "runAsUser": {
          "format": "int32",
          "description": "The UID to run the entrypoint of the container process. Defaults to user specified in image metadata if unspecified. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "integer"
        },
        "runAsNonRoot": {
          "description": "Indicates that the container must run as a non-root user. If true, the Kubelet will validate the image at runtime to ensure that it does not run as UID 0 (root) and fail to start the container if it does. If unset or false, no such validation will be performed. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional",
          "type": "boolean"
        },
        "readOnlyRootFilesystem": {
          "type": "boolean",
          "description": "Whether this container has a read-only root filesystem. Default is false. +optional"
        },
        "allowPrivilegeEscalation": {
          "type": "boolean",
          "description": "AllowPrivilegeEscalation controls whether a process can gain more privileges than its parent process. This bool directly controls if the no_new_privs flag will be set on the container process. AllowPrivilegeEscalation is true always when the container is: 1) run as Privileged 2) has CAP_SYS_ADMIN +optional"
        },
        "privileged": {
          "type": "boolean",
          "description": "Run container in privileged mode. Processes in privileged containers are essentially equivalent to root on the host. Defaults to false. +optional"
        },
        "seLinuxOptions": {
          "$ref": "SELinuxOptions",
          "description": "The SELinux context to be applied to the container. If unspecified, the container runtime will allocate a random SELinux context for each container. May also be set in PodSecurityContext. If set in both SecurityContext and PodSecurityContext, the value specified in SecurityContext takes precedence. +optional"
        }
      },
      "id": "SecurityContext"
    },
    "DomainMapping": {
      "description": "Resource to hold the state and status of a user's domain mapping. NOTE: This resource is currently in Beta.",
      "id": "DomainMapping",
      "type": "object",
      "properties": {
        "status": {
          "description": "The current status of the DomainMapping.",
          "$ref": "DomainMappingStatus"
        },
        "spec": {
          "$ref": "DomainMappingSpec",
          "description": "The spec for this DomainMapping."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"domains.cloudrun.com/v1alpha1\"."
        },
        "metadata": {
          "description": "Metadata associated with this BuildTemplate.",
          "$ref": "ObjectMeta"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource, in this case \"DomainMapping\"."
        }
      }
    },
    "RouteStatus": {
      "type": "object",
      "description": "RouteStatus communicates the observed state of the Route (from the controller).",
      "properties": {
        "traffic": {
          "description": "Traffic holds the configured traffic distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that we last observed.",
          "items": {
            "$ref": "TrafficTarget"
          },
          "type": "array"
        },
        "address": {
          "description": "Similar to url, information on where the service is available on HTTP.",
          "$ref": "Addressable"
        },
        "conditions": {
          "items": {
            "$ref": "RouteCondition"
          },
          "type": "array",
          "description": "Conditions communicates information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world."
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Route that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False. Note that providing a trafficTarget that only has a configurationName will result in a Route that does not increment either its metadata.generation or its observedGeneration, as new \"latest ready\" revisions from the Configuration are processed without an update to the Route's spec.",
          "format": "int32",
          "type": "integer"
        },
        "domainInternal": {
          "description": "Deprecated - use address instead. For Cloud Run, identifical to domain.",
          "type": "string"
        },
        "domain": {
          "description": "Deprecated - use url instead. Domain holds the top-level domain that will distribute traffic over the provided targets.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "URL holds the url that will distribute traffic over the provided traffic targets. It generally has the form https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app"
        }
      },
      "id": "RouteStatus"
    },
    "RevisionSpec": {
      "type": "object",
      "description": "RevisionSpec holds the desired state of the Revision (from the client).",
      "id": "RevisionSpec",
      "properties": {
        "container": {
          "description": "Container defines the unit of execution for this Revision. In the context of a Revision, we disallow a number of the fields of this Container, including: name, ports, and volumeMounts. The runtime contract is documented here: https://github.com/knative/serving/blob/master/docs/runtime-contract.md",
          "$ref": "Container"
        },
        "serviceAccountName": {
          "type": "string",
          "description": "Email address of the IAM service account associated with the revision of the service. The service account represents the identity of the running revision, and determines what permissions the revision has. If not provided, the revision will use the project's default service account."
        },
        "concurrencyModel": {
          "description": "ConcurrencyModel specifies the desired concurrency model (Single or Multi) for the Revision. Defaults to Multi. Deprecated in favor of ContainerConcurrency. +optional",
          "type": "string"
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "Containers holds the single container that defines the unit of execution for this Revision. In the context of a Revision, we disallow a number of fields on this Container, including: name and lifecycle. In Cloud Run, only a single container may be provided.",
          "type": "array"
        },
        "timeoutSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "TimeoutSeconds holds the max duration the instance is allowed for responding to a request. Not currently used by Cloud Run."
        },
        "containerConcurrency": {
          "type": "integer",
          "format": "int32",
          "description": "(Optional) ContainerConcurrency specifies the maximum allowed in-flight (concurrent) requests per container instance of the Revision. Cloud Run fully managed: supported, defaults to 80 Cloud Run on GKE: supported, defaults to 0, which means concurrency to the application is not limited, and the system decides the target concurrency for the autoscaler."
        },
        "servingState": {
          "type": "string",
          "description": "ServingState holds a value describing the state the resources are in for this Revision. Users must not specify this when creating a revision. It is expected that the system will manipulate this based on routability and load. Populated by the system. Read-only.",
          "enumDescriptions": [
            "The revision serving state hasn't been specified.",
            "The revision is ready to serve traffic.",
            "The revision is not currently serving traffic, but could be made to serve traffic quickly. Not currently used by Cloud Run.",
            "The revision has been decommissioned and is not needed to serve traffic anymore. A Revision may be brought out of retirement, but it may take longer than it would from a \"Reserve\" state."
          ],
          "enum": [
            "REVISION_SERVING_STATE_UNSPECIFIED",
            "ACTIVE",
            "RESERVE",
            "RETIRED"
          ]
        },
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array"
        },
        "generation": {
          "format": "int32",
          "type": "integer",
          "description": "Deprecated and not currently populated by Cloud Run. See metadata.generation instead, which is the sequence number containing the latest generation of the desired state. Read-only."
        }
      }
    },
    "ServiceSpecManualType": {
      "type": "object",
      "id": "ServiceSpecManualType",
      "description": "ServiceSpecManualType contains the options for configuring a manual service. See ServiceSpec for more details. Not currently supported by Cloud Run.",
      "properties": {}
    },
    "DomainMappingStatus": {
      "description": "The current state of the Domain Mapping.",
      "id": "DomainMappingStatus",
      "properties": {
        "resourceRecords": {
          "type": "array",
          "items": {
            "$ref": "ResourceRecord"
          },
          "description": "The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping."
        },
        "mappedRouteName": {
          "type": "string",
          "description": "The name of the route that the mapping currently points to."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "DomainMappingCondition"
          },
          "description": "Array of observed DomainMappingConditions, indicating the current state of the DomainMapping."
        },
        "url": {
          "type": "string",
          "description": "Cloud Run fully managed: not supported Cloud Run on GKE: supported Holds the URL that will serve the traffic of the DomainMapping. +optional"
        },
        "observedGeneration": {
          "type": "integer",
          "format": "int32",
          "description": "ObservedGeneration is the 'Generation' of the DomainMapping that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False."
        }
      },
      "type": "object"
    },
    "HTTPHeader": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The header field value",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The header field name"
        }
      },
      "id": "HTTPHeader",
      "description": "HTTPHeader describes a custom header to be used in HTTP probes"
    },
    "Addressable": {
      "type": "object",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Deprecated - use url instead."
        },
        "url": {
          "type": "string"
        }
      },
      "description": "Information for connecting over HTTP(s).",
      "id": "Addressable"
    },
    "ConfigMapVolumeSource": {
      "description": "Adapts a ConfigMap into a volume. The contents of the target ConfigMap's Data field will be presented in a volume as files using the keys in the Data field as the file names, unless the items element is populated with specific mappings of keys to paths.",
      "id": "ConfigMapVolumeSource",
      "type": "object",
      "properties": {
        "optional": {
          "description": "Specify whether the Secret or its keys must be defined.",
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "description": "If unspecified, each key-value pair in the Data field of the referenced Secret will be projected into the volume as a file whose name is the key and content is the value. If specified, the listed keys will be projected into the specified paths, and unlisted keys will not be present. If a key is specified which is not present in the Secret, the volume setup will error unless it is marked optional.",
          "items": {
            "$ref": "KeyToPath"
          }
        },
        "name": {
          "description": "Name of the config.",
          "type": "string"
        },
        "defaultMode": {
          "description": "Mode bits to use on created files by default. Must be a value between 0 and 0777. Defaults to 0644. Directories within the path are not affected by this setting. This might be in conflict with other options that affect the file mode, like fsGroup, and the result can be other mode bits set.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ServiceSpecRunLatest": {
      "description": "ServiceSpecRunLatest contains the options for always having a route to the latest configuration. See ServiceSpec for more details.",
      "id": "ServiceSpecRunLatest",
      "type": "object",
      "properties": {
        "configuration": {
          "description": "The configuration for this service.",
          "$ref": "ConfigurationSpec"
        }
      }
    },
    "ServiceSpec": {
      "properties": {
        "pinned": {
          "$ref": "ServiceSpecPinnedType",
          "description": "Pins this service to a specific revision name. The revision must be owned by the configuration provided. Deprecated and not supported by Cloud Run. +optional"
        },
        "manual": {
          "description": "Manual contains the options for configuring a manual service. See ServiceSpec for more details. Not currently supported by Cloud Run.",
          "$ref": "ServiceSpecManualType"
        },
        "release": {
          "description": "Release enables gradual promotion of new revisions by allowing traffic to be split between two revisions. This type replaces the deprecated Pinned type. Not currently supported by Cloud Run.",
          "$ref": "ServiceSpecReleaseType"
        },
        "traffic": {
          "description": "Traffic specifies how to distribute traffic over a collection of Knative Revisions and Configurations.",
          "type": "array",
          "items": {
            "$ref": "TrafficTarget"
          }
        },
        "generation": {
          "format": "int32",
          "type": "integer",
          "description": "Deprecated and not currently populated by Cloud Run. See metadata.generation instead, which is the sequence number containing the latest generation of the desired state. Read-only."
        },
        "runLatest": {
          "description": "RunLatest defines a simple Service. It will automatically configure a route that keeps the latest ready revision from the supplied configuration running. +optional",
          "$ref": "ServiceSpecRunLatest"
        },
        "template": {
          "$ref": "RevisionTemplate",
          "description": "Template holds the latest specification for the Revision to be stamped out."
        }
      },
      "id": "ServiceSpec",
      "description": "ServiceSpec holds the desired state of the Route (from the client), which is used to manipulate the underlying Route and Configuration(s).",
      "type": "object"
    },
    "Service": {
      "type": "object",
      "id": "Service",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this Service, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "status": {
          "description": "Status communicates the observed state of the Service (from the controller).",
          "$ref": "ServiceStatus"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource, in this case \"Service\"."
        },
        "spec": {
          "$ref": "ServiceSpec",
          "description": "Spec holds the desired state of the Service (from the client)."
        }
      },
      "description": "Service acts as a top-level container that manages a set of Routes and Configurations which implement a network service. Service exists to provide a singular abstraction which can be access controlled, reasoned about, and which encapsulates software lifecycle decisions such as rollout policy and team resource ownership. Service acts only as an orchestrator of the underlying Routes and Configurations (much as a kubernetes Deployment orchestrates ReplicaSets). The Service's controller will track the statuses of its owned Configuration and Route, reflecting their statuses and conditions as its own. See also: https://github.com/knative/serving/blob/master/docs/spec/overview.md#service"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "RevisionStatus": {
      "description": "RevisionStatus communicates the observed state of the Revision (from the controller).",
      "type": "object",
      "properties": {
        "imageDigest": {
          "type": "string",
          "description": "ImageDigest holds the resolved digest for the image specified within .Spec.Container.Image. The digest is resolved during the creation of Revision. This field holds the digest value regardless of whether a tag or digest was originally specified in the Container object."
        },
        "conditions": {
          "description": "Conditions communicates information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world. As a Revision is being prepared, it will incrementally update conditions \"ResourcesAvailable\", \"ContainerHealthy\", and \"Active\", which contribute to the overall \"Ready\" condition.",
          "items": {
            "$ref": "RevisionCondition"
          },
          "type": "array"
        },
        "logUrl": {
          "type": "string",
          "description": "Specifies the generated logging url for this particular revision based on the revision url template specified in the controller's config. +optional"
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Revision that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation, and the Ready condition's status is True or False.",
          "type": "integer",
          "format": "int32"
        },
        "serviceName": {
          "type": "string",
          "description": "Not currently used by Cloud Run."
        }
      },
      "id": "RevisionStatus"
    },
    "Route": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this resource, in this case always \"Route\"."
        },
        "metadata": {
          "description": "Metadata associated with this Route, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "status": {
          "$ref": "RouteStatus",
          "description": "Status communicates the observed state of the Route (from the controller)."
        },
        "spec": {
          "description": "Spec holds the desired state of the Route (from the client).",
          "$ref": "RouteSpec"
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\".",
          "type": "string"
        }
      },
      "description": "Route is responsible for configuring ingress over a collection of Revisions. Some of the Revisions a Route distributes traffic over may be specified by referencing the Configuration responsible for creating them; in these cases the Route is additionally responsible for monitoring the Configuration for \"latest ready\" revision changes, and smoothly rolling out latest revisions. See also: https://github.com/knative/serving/blob/master/docs/spec/overview.md#route Cloud Run currently supports referencing a single Configuration to automatically deploy the \"latest ready\" Revision from that Configuration.",
      "id": "Route",
      "type": "object"
    },
    "ServiceStatus": {
      "properties": {
        "conditions": {
          "items": {
            "$ref": "ServiceCondition"
          },
          "type": "array",
          "description": "Conditions communicates information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world."
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Route that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False.",
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string",
          "description": "From RouteStatus. URL holds the url that will distribute traffic over the provided traffic targets. It generally has the form https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app"
        },
        "latestCreatedRevisionName": {
          "type": "string",
          "description": "From ConfigurationStatus. LatestCreatedRevisionName is the last revision that was created from this Service's Configuration. It might not be ready yet, for that use LatestReadyRevisionName."
        },
        "domain": {
          "type": "string",
          "description": "From RouteStatus. Domain holds the top-level domain that will distribute traffic over the provided targets. It generally has the form https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app"
        },
        "traffic": {
          "type": "array",
          "description": "From RouteStatus. Traffic holds the configured traffic distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that we last observed.",
          "items": {
            "$ref": "TrafficTarget"
          }
        },
        "address": {
          "$ref": "Addressable",
          "description": "From RouteStatus. Similar to url, information on where the service is available on HTTP."
        },
        "latestReadyRevisionName": {
          "type": "string",
          "description": "From ConfigurationStatus. LatestReadyRevisionName holds the name of the latest Revision stamped out from this Service's Configuration that has had its \"Ready\" condition become \"True\"."
        }
      },
      "type": "object",
      "id": "ServiceStatus",
      "description": "The current state of the Service. Output only."
    },
    "DomainMappingCondition": {
      "description": "DomainMappingCondition contains state information for a DomainMapping.",
      "properties": {
        "type": {
          "description": "Type of domain mapping condition.",
          "type": "string"
        },
        "reason": {
          "description": "One-word CamelCase reason for the condition's current status. +optional",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "How to interpret failures of this condition, one of Error, Warning, Info +optional"
        },
        "message": {
          "description": "Human readable message indicating details about the current status. +optional",
          "type": "string"
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Last time the condition transitioned from one status to another. +optional",
          "format": "google-datetime"
        },
        "status": {
          "type": "string",
          "description": "Status of the condition, one of True, False, Unknown."
        }
      },
      "type": "object",
      "id": "DomainMappingCondition"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "id": "Expr"
    },
    "Handler": {
      "properties": {
        "exec": {
          "description": "One and only one of the following should be specified. Exec specifies the action to take. +optional",
          "$ref": "ExecAction"
        },
        "httpGet": {
          "description": "HTTPGet specifies the http request to perform. +optional",
          "$ref": "HTTPGetAction"
        },
        "tcpSocket": {
          "$ref": "TCPSocketAction",
          "description": "TCPSocket specifies an action involving a TCP port. TCP hooks not yet supported"
        }
      },
      "type": "object",
      "id": "Handler",
      "description": "Handler defines a specific action that should be taken"
    },
    "ListServicesResponse": {
      "type": "object",
      "description": "A list of Service resources.",
      "id": "ListServicesResponse",
      "properties": {
        "kind": {
          "description": "The kind of this resource, in this case \"ServiceList\".",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\"."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "metadata": {
          "description": "Metadata associated with this Service list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of Services.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        }
      }
    },
    "JobSpec": {
      "properties": {
        "parallelism": {
          "description": "Optional. Specifies the maximum desired number of instances the job should run at any given time. Must be \u003c= completions. The actual number of instances running in steady state will be less than this number when ((.spec.completions - .status.successful) \u003c .spec.parallelism), i.e. when the work left to do is less than max parallelism. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/ +optional",
          "type": "integer",
          "format": "int32"
        },
        "activeDeadlineSeconds": {
          "description": "Optional. Specifies the duration in seconds relative to the startTime that the job may be active before the system tries to terminate it. If set to zero, the system will never attempt to terminate the job based on time. Otherwise, the value must be positive integer. +optional",
          "type": "string",
          "format": "int64"
        },
        "template": {
          "$ref": "InstanceTemplateSpec",
          "description": "Optional. Describes the instance that will be created when executing a job."
        },
        "ttlSecondsAfterFinished": {
          "type": "integer",
          "description": "Optional. ttlSecondsAfterFinished limits the lifetime of a Job that has finished execution (either Complete or Failed). If this field is set, ttlSecondsAfterFinished after the Job finishes, it is eligible to be automatically deleted. When the Job is being deleted, its lifecycle guarantees (e.g. finalizers) will be honored. If this field is set to zero, the Job won't be automatically deleted. +optional",
          "format": "int32"
        },
        "backoffLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the number of retries per instance, before marking this job failed. If set to zero, instances will never retry on failure. +optional"
        },
        "completions": {
          "type": "integer",
          "description": "Optional. Specifies the desired number of successfully finished instances the job should be run with. Setting to 1 means that parallelism is limited to 1 and the success of that instance signals the success of the job. More info: https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/ +optional",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "JobSpec",
      "description": "JobSpec describes how the job execution will look like."
    },
    "IntOrString": {
      "properties": {
        "intVal": {
          "format": "int32",
          "type": "integer",
          "description": "The int value."
        },
        "type": {
          "description": "The type of the value.",
          "type": "integer",
          "format": "int32"
        },
        "strVal": {
          "type": "string",
          "description": "The string value."
        }
      },
      "type": "object",
      "id": "IntOrString",
      "description": "IntOrString is a type that can hold an int32 or a string. When used in JSON or YAML marshalling and unmarshalling, it produces or consumes the inner type. This allows you to have, for example, a JSON field that can accept a name or number."
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object"
    },
    "ListMeta": {
      "description": "ListMeta describes metadata that synthetic resources must have, including lists and various status objects. A resource may have only one of {ObjectMeta, ListMeta}.",
      "type": "object",
      "properties": {
        "continue": {
          "description": "continue may be set if the user set a limit on the number of items returned, and indicates that the server has more data available. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a list may not be possible if the server configuration has changed or more than a few minutes have passed. The resourceVersion field returned when using this continue value will be identical to the value in the first response.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "SelfLink is a URL representing this object. Populated by the system. Read-only. +optional"
        },
        "resourceVersion": {
          "description": "String that identifies the server's internal version of this object that can be used by clients to determine when objects have changed. Value must be treated as opaque by clients and passed unmodified back to the server. Populated by the system. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency +optional",
          "type": "string"
        }
      },
      "id": "ListMeta"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      }
    },
    "ExecAction": {
      "description": "ExecAction describes a \"run in container\" action.",
      "type": "object",
      "id": "ExecAction",
      "properties": {
        "command": {
          "type": "array",
          "description": "Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy. +optional",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ServiceCondition": {
      "id": "ServiceCondition",
      "description": "ServiceCondition defines a readiness condition for a Service.",
      "properties": {
        "severity": {
          "description": "How to interpret failures of this condition, one of Error, Warning, Info +optional",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Human-readable message indicating details about last transition. +optional"
        },
        "type": {
          "description": "ServiceConditionType is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting Types include: \"Ready\", \"ConfigurationsReady\", and \"RoutesReady\". \"Ready\" will be true when the underlying Route and Configuration are ready.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the condition, one of True, False, Unknown."
        },
        "lastTransitionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time the condition transitioned from one status to another. +optional"
        },
        "reason": {
          "description": "One-word CamelCase reason for the condition's last transition. +optional",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Container": {
      "type": "object",
      "description": "A single application container. This specifies both the container to run, the command to run in the container and the arguments to supply to it. Note that additional arguments may be supplied by the system to the container at runtime.",
      "properties": {
        "resources": {
          "$ref": "ResourceRequirements",
          "description": "Compute Resources required by this container. Cannot be updated. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#resources +optional"
        },
        "volumeMounts": {
          "description": "Pod volumes to mount into the container's filesystem. Cannot be updated. +optional",
          "items": {
            "$ref": "VolumeMount"
          },
          "type": "array"
        },
        "env": {
          "items": {
            "$ref": "EnvVar"
          },
          "description": "List of environment variables to set in the container. Cannot be updated. +optional",
          "type": "array"
        },
        "stdinOnce": {
          "description": "Whether the container runtime should close the stdin channel after it has been opened by a single attach. When stdin is true the stdin stream will remain open across multiple attach sessions. If stdinOnce is set to true, stdin is opened on container start, is empty until the first client attaches to stdin, and then remains open and accepts data until the client disconnects, at which time stdin is closed and remains closed until the container is restarted. If this flag is false, a container processes that reads from stdin will never receive an EOF. Default is false +optional",
          "type": "boolean"
        },
        "terminationMessagePolicy": {
          "type": "string",
          "description": "Indicate how the termination message should be populated. File will use the contents of terminationMessagePath to populate the container status message on both success and failure. FallbackToLogsOnError will use the last chunk of container log output if the termination message file is empty and the container exited with an error. The log output is limited to 2048 bytes or 80 lines, whichever is smaller. Defaults to File. Cannot be updated. +optional"
        },
        "command": {
          "description": "Entrypoint array. Not executed within a shell. The docker image's ENTRYPOINT is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Cannot be updated. More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell +optional",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lifecycle": {
          "description": "Actions that the management system should take in response to container lifecycle events. Cannot be updated. +optional",
          "$ref": "Lifecycle"
        },
        "name": {
          "description": "Name of the container specified as a DNS_LABEL. Each container must have a unique name (DNS_LABEL). Cannot be updated.",
          "type": "string"
        },
        "stdin": {
          "description": "Whether this container should allocate a buffer for stdin in the container runtime. If this is not set, reads from stdin in the container will always result in EOF. Default is false. +optional",
          "type": "boolean"
        },
        "livenessProbe": {
          "description": "Periodic probe of container liveness. Container will be restarted if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional",
          "$ref": "Probe"
        },
        "ports": {
          "items": {
            "$ref": "ContainerPort"
          },
          "description": "List of ports to expose from the container. Exposing a port here gives the system additional information about the network connections a container uses, but is primarily informational. Not specifying a port here DOES NOT prevent that port from being exposed. Any port which is listening on the default \"0.0.0.0\" address inside a container will be accessible from the network. Cannot be updated. +optional",
          "type": "array"
        },
        "image": {
          "type": "string",
          "description": "Docker image name. More info: https://kubernetes.io/docs/concepts/containers/images"
        },
        "tty": {
          "description": "Whether this container should allocate a TTY for itself, also requires 'stdin' to be true. Default is false. +optional",
          "type": "boolean"
        },
        "workingDir": {
          "description": "Container's working directory. If not specified, the container runtime's default will be used, which might be configured in the container image. Cannot be updated. +optional",
          "type": "string"
        },
        "securityContext": {
          "$ref": "SecurityContext",
          "description": "Security options the pod should run with. More info: https://kubernetes.io/docs/concepts/policy/security-context/ More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ +optional"
        },
        "volumeDevices": {
          "description": "volumeDevices is the list of block devices to be used by the container. This is an alpha feature and may change in the future. +optional",
          "items": {
            "$ref": "VolumeDevice"
          },
          "type": "array"
        },
        "imagePullPolicy": {
          "description": "Image pull policy. One of Always, Never, IfNotPresent. Defaults to Always if :latest tag is specified, or IfNotPresent otherwise. Cannot be updated. More info: https://kubernetes.io/docs/concepts/containers/images#updating-images +optional",
          "type": "string"
        },
        "args": {
          "type": "array",
          "description": "Arguments to the entrypoint. The docker image's CMD is used if this is not provided. Variable references $(VAR_NAME) are expanded using the container's environment. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Cannot be updated. More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell +optional",
          "items": {
            "type": "string"
          }
        },
        "readinessProbe": {
          "description": "Periodic probe of container service readiness. Container will be removed from service endpoints if the probe fails. Cannot be updated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional",
          "$ref": "Probe"
        },
        "terminationMessagePath": {
          "description": "Optional: Path at which the file to which the container's termination message will be written is mounted into the container's filesystem. Message written is intended to be brief final status, such as an assertion failure message. Will be truncated by the node if greater than 4096 bytes. The total message length across all containers will be limited to 12kb. Defaults to /dev/termination-log. Cannot be updated. +optional",
          "type": "string"
        },
        "envFrom": {
          "type": "array",
          "description": "List of sources to populate environment variables in the container. The keys defined within a source must be a C_IDENTIFIER. All invalid keys will be reported as an event when the container is starting. When a key exists in multiple sources, the value associated with the last source will take precedence. Values defined by an Env with a duplicate key will take precedence. Cannot be updated. +optional",
          "items": {
            "$ref": "EnvFromSource"
          }
        }
      },
      "id": "Container"
    },
    "Configuration": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of resource, in this case always \"Configuration\"."
        },
        "spec": {
          "description": "Spec holds the desired state of the Configuration (from the client).",
          "$ref": "ConfigurationSpec"
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\"."
        },
        "metadata": {
          "description": "Metadata associated with this Configuration, including name, namespace, labels, and annotations.",
          "$ref": "ObjectMeta"
        },
        "status": {
          "$ref": "ConfigurationStatus",
          "description": "Status communicates the observed state of the Configuration (from the controller)."
        }
      },
      "description": "Configuration represents the \"floating HEAD\" of a linear history of Revisions, and optionally how the containers those revisions reference are built. Users create new Revisions by updating the Configuration's spec. The \"latest created\" revision's name is available under status, as is the \"latest ready\" revision's name. See also: https://github.com/knative/serving/blob/master/docs/spec/overview.md#configuration",
      "type": "object",
      "id": "Configuration"
    },
    "ConfigurationCondition": {
      "type": "object",
      "description": "ConfigurationCondition defines a readiness condition for a Configuration.",
      "properties": {
        "reason": {
          "description": "One-word CamelCase reason for the condition's last transition. +optional",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "Last time the condition transitioned from one status to another. +optional",
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "type": "string",
          "description": "How to interpret failures of this condition, one of Error, Warning, Info +optional"
        },
        "type": {
          "type": "string",
          "description": "ConfigurationConditionType is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting Types include:\"Ready\""
        },
        "message": {
          "type": "string",
          "description": "Human-readable message indicating details about last transition. +optional"
        },
        "status": {
          "type": "string",
          "description": "Status of the condition, one of True, False, Unknown."
        }
      },
      "id": "ConfigurationCondition"
    },
    "ListRoutesResponse": {
      "id": "ListRoutesResponse",
      "properties": {
        "kind": {
          "description": "The kind of this resource, in this case always \"RouteList\".",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1alpha1\".",
          "type": "string"
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this Route list."
        }
      },
      "type": "object",
      "description": "ListRoutesResponse is a list of Route resources."
    },
    "Lifecycle": {
      "properties": {
        "postStart": {
          "description": "PostStart is called immediately after a container is created. If the handler fails, the container is terminated and restarted according to its restart policy. Other management of the container blocks until the hook completes. More info: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks +optional",
          "$ref": "Handler"
        },
        "preStop": {
          "description": "PreStop is called immediately before a container is terminated. The container is terminated after the handler completes. The reason for termination is passed to the handler. Regardless of the outcome of the handler, the container is eventually terminated. Other management of the container blocks until the hook completes. More info: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks +optional",
          "$ref": "Handler"
        }
      },
      "id": "Lifecycle",
      "description": "Lifecycle describes actions that the management system should take in response to container lifecycle events. For the PostStart and PreStop lifecycle handlers, management of the container blocks until the action is complete, unless the container process fails, in which case the handler is aborted.",
      "type": "object"
    },
    "Probe": {
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "id": "Probe",
      "type": "object",
      "properties": {
        "timeoutSeconds": {
          "format": "int32",
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional",
          "type": "integer"
        },
        "handler": {
          "$ref": "Handler",
          "description": "The action taken to determine the health of a container"
        },
        "initialDelaySeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Number of seconds after the container has started before liveness probes are initiated. More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#container-probes +optional"
        },
        "successThreshold": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum consecutive successes for the probe to be considered successful after having failed. Defaults to 1. Must be 1 for liveness. Minimum value is 1. +optional"
        },
        "failureThreshold": {
          "type": "integer",
          "description": "Minimum consecutive failures for the probe to be considered failed after having succeeded. Defaults to 3. Minimum value is 1. +optional",
          "format": "int32"
        },
        "periodSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. +optional"
        }
      }
    },
    "TrafficTarget": {
      "description": "TrafficTarget holds a single entry of the routing table for a Route.",
      "type": "object",
      "id": "TrafficTarget",
      "properties": {
        "percent": {
          "format": "int32",
          "type": "integer",
          "description": "Percent specifies percent of the traffic to this Revision or Configuration. This defaults to zero if unspecified. Cloud Run currently requires 100 percent for a single ConfigurationName TrafficTarget entry."
        },
        "configurationName": {
          "description": "ConfigurationName of a configuration to whose latest revision we will send this portion of traffic. When the \"status.latestReadyRevisionName\" of the referenced configuration changes, we will automatically migrate traffic from the prior \"latest ready\" revision to the new one. This field is never set in Route's status, only its spec. This is mutually exclusive with RevisionName. Cloud Run currently supports a single ConfigurationName.",
          "type": "string"
        },
        "tag": {
          "description": "Tag is optionally used to expose a dedicated url for referencing this target exclusively. Not currently supported in Cloud Run. +optional",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Output only. URL displays the URL for accessing named traffic targets. URL is displayed in status, and is disallowed on spec. URL must contain a scheme (e.g. http://) and a hostname, but may not contain anything else (e.g. basic auth, url path, etc. Not currently supported in Cloud Run."
        },
        "latestRevision": {
          "type": "boolean",
          "description": "LatestRevision may be optionally provided to indicate that the latest ready Revision of the Configuration should be used for this traffic target. When provided LatestRevision must be true if RevisionName is empty; it must be false when RevisionName is non-empty. +optional"
        },
        "name": {
          "type": "string",
          "description": "Name is optionally used to expose a dedicated hostname for referencing this target exclusively. Not currently supported by Cloud Run. +optional"
        },
        "revisionName": {
          "type": "string",
[...]
