{
  "id": "safebrowsing:v4",
  "title": "Safe Browsing API",
  "servicePath": "",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "version_module": true,
  "protocol": "rest",
  "revision": "20210204",
  "basePath": "",
  "version": "v4",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "canonicalName": "Safebrowsing",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "schemas": {
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry": {
      "properties": {
        "key": {
          "type": "string",
          "format": "byte",
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded."
        },
        "value": {
          "format": "byte",
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded.",
          "type": "string"
        }
      },
      "description": "A single metadata entry.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
    },
    "GoogleSecuritySafebrowsingV4RawHashes": {
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "type": "object",
      "properties": {
        "prefixSize": {
          "type": "integer",
          "format": "int32",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash)."
        },
        "rawHashes": {
          "format": "byte",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "type": "string"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4RawHashes"
    },
    "GoogleSecuritySafebrowsingV4ThreatMatch": {
      "description": "A match when checking a threat entry in the Safe Browsing threat lists.",
      "type": "object",
      "properties": {
        "cacheDuration": {
          "format": "google-duration",
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives.",
          "type": "string"
        },
        "threatType": {
          "description": "The threat type matching this threat.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string"
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The threat entry type matching this threat.",
          "type": "string"
        },
        "threatEntryMetadata": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
          "description": "Optional metadata associated with this threat."
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "description": "The platform type matching this threat."
        },
        "threat": {
          "description": "The threat matching this threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatMatch"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest": {
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5",
      "properties": {
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "listUpdateRequests": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
          },
          "description": "The requested threat list updates.",
          "type": "array"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest": {
      "properties": {
        "threatInfo": {
          "description": "The lists and entries to be checked for matches.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo"
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest",
      "type": "object",
      "description": "Request to check entries against lists."
    },
    "GoogleSecuritySafebrowsingV4ClientInfo": {
      "id": "GoogleSecuritySafebrowsingV4ClientInfo",
      "type": "object",
      "description": "The client metadata associated with Safe Browsing API requests.",
      "properties": {
        "clientId": {
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
          "type": "string"
        },
        "clientVersion": {
          "description": "The version of the client implementation.",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest",
      "description": "A single list update request.",
      "type": "object",
      "properties": {
        "threatType": {
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The type of threat posed by entries present in the list."
        },
        "threatEntryType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The types of entries present in the list.",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "state": {
          "format": "byte",
          "type": "string",
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update)."
        },
        "platformType": {
          "description": "The type of platform at risk by entries present in the list.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string"
        },
        "constraints": {
          "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints",
          "description": "The constraints associated with this request."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4RiceDeltaEncoding": {
      "type": "object",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "id": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
      "properties": {
        "encodedData": {
          "format": "byte",
          "type": "string",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder."
        },
        "firstValue": {
          "type": "string",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64"
        },
        "riceParameter": {
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "format": "int32",
          "type": "integer"
        },
        "numEntries": {
          "format": "int32",
          "type": "integer",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse": {
      "properties": {
        "matches": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          },
          "type": "array",
          "description": "The threat list matches."
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
    },
    "GoogleSecuritySafebrowsingV4ThreatHit": {
      "id": "GoogleSecuritySafebrowsingV4ThreatHit",
      "properties": {
        "resources": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource"
          },
          "description": "The resources related to the threat hit.",
          "type": "array"
        },
        "clientInfo": {
          "description": "Client-reported identification.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "userInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
          "description": "Details about the user that encountered the threat."
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The threat type reported.",
          "type": "string"
        },
        "entry": {
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type reported.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatHitThreatSource": {
      "properties": {
        "remoteIp": {
          "type": "string",
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6."
        },
        "referrer": {
          "type": "string",
          "description": "Referrer of the resource. Only set if the referrer is available."
        },
        "url": {
          "description": "The URL of the resource.",
          "type": "string"
        },
        "type": {
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ],
          "description": "The type of source reported.",
          "type": "string"
        }
      },
      "description": "A single resource related to a threat hit.",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatHitUserInfo": {
      "properties": {
        "regionCode": {
          "description": "The UN M.49 region code associated with the user's location.",
          "type": "string"
        },
        "userId": {
          "format": "byte",
          "description": "Unique user identifier defined by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
      "description": "Details about the user that encountered the threat."
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadata": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
      "properties": {
        "entries": {
          "description": "The metadata entries.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
          },
          "type": "array"
        }
      },
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4Checksum": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4Checksum",
      "properties": {
        "sha256": {
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "The expected state of a client's local database."
    },
    "GoogleSecuritySafebrowsingV4ThreatEntry": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntry",
      "properties": {
        "hash": {
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "digest": {
          "type": "string",
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "format": "byte"
        },
        "url": {
          "description": "A URL.",
          "type": "string"
        }
      },
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse": {
      "type": "object",
      "description": "An update to an individual list.",
      "properties": {
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "description": "The platform type for which data is returned.",
          "type": "string"
        },
        "newClientState": {
          "format": "byte",
          "type": "string",
          "description": "The new client state, in encrypted format. Opaque to clients."
        },
        "threatEntryType": {
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The format of the threats.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "additions": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "type": "array",
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response."
        },
        "threatType": {
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "description": "The threat type for which data is returned.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ]
        },
        "removals": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "type": "array"
        },
        "responseType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "description": "The type of response. This may indicate that an action is required by the client when the response is received."
        },
        "checksum": {
          "$ref": "GoogleSecuritySafebrowsingV4Checksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse"
    },
    "GoogleSecuritySafebrowsingV4ThreatInfo": {
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "properties": {
        "threatEntries": {
          "type": "array",
          "description": "The threat entries to be checked.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
          }
        },
        "platformTypes": {
          "items": {
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ],
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "type": "string"
          },
          "description": "The platform types to be checked.",
          "type": "array"
        },
        "threatTypes": {
          "items": {
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat list.",
              "Safe list to ship hashes of known safe URL expressions."
            ],
            "type": "string",
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST"
            ]
          },
          "description": "The threat types to be checked.",
          "type": "array"
        },
        "threatEntryTypes": {
          "description": "The entry types to be checked.",
          "type": "array",
          "items": {
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ]
          }
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatInfo",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatListDescriptor": {
      "id": "GoogleSecuritySafebrowsingV4ThreatListDescriptor",
      "type": "object",
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "properties": {
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "description": "The entry types contained in the list."
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type targeted by the list's entries.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "threatType": {
          "description": "The threat type posed by the list's entries.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntrySet": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntrySet",
      "description": "A set of threats that should be added or removed from a client's local database.",
      "properties": {
        "riceHashes": {
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        },
        "compressionType": {
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "description": "The compression type for the entries in this set."
        },
        "rawHashes": {
          "$ref": "GoogleSecuritySafebrowsingV4RawHashes",
          "description": "The raw SHA256-formatted entries."
        },
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "GoogleSecuritySafebrowsingV4RawIndices"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints": {
      "description": "The constraints for this update.",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints",
      "properties": {
        "maxDatabaseEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set."
        },
        "maxUpdateEntries": {
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set.",
          "type": "integer",
          "format": "int32"
        },
        "language": {
          "type": "string",
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format."
        },
        "region": {
          "type": "string",
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format."
        },
        "deviceLocation": {
          "type": "string",
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code."
        },
        "supportedCompressions": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ]
          },
          "description": "The compression types supported by the client."
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesResponse": {
      "type": "object",
      "properties": {
        "matches": {
          "description": "The full hashes that matched the requested prefixes.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          }
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want."
        },
        "negativeCacheDuration": {
          "format": "google-duration",
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "type": "string"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse",
      "type": "object",
      "properties": {
        "listUpdateResponses": {
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse"
          }
        },
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4RawIndices": {
      "description": "A set of raw indices to remove from a local list.",
      "type": "object",
      "properties": {
        "indices": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The indices to remove from a lexicographically-sorted local list."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4RawIndices"
    },
    "GoogleSecuritySafebrowsingV4ListThreatListsResponse": {
      "type": "object",
      "properties": {
        "threatLists": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
          },
          "description": "The lists available for download by the client.",
          "type": "array"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesRequest": {
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesRequest",
      "type": "object",
      "description": "Request to return full hashes matched by the provided hash prefixes.",
      "properties": {
        "apiClient": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation."
        },
        "threatInfo": {
          "description": "The lists and hashes to be checked.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo"
        },
        "clientStates": {
          "type": "array",
          "description": "The current client states for each of the client's local threat lists.",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "client": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "The client metadata."
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "safebrowsing",
  "resources": {
    "encodedUpdates": {
      "methods": {
        "get": {
          "path": "v4/encodedUpdates/{encodedRequest}",
          "parameterOrder": [
            "encodedRequest"
          ],
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "id": "safebrowsing.encodedUpdates.get",
          "httpMethod": "GET",
          "description": "",
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "parameters": {
            "encodedRequest": {
              "type": "string",
              "required": true,
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "location": "path",
              "format": "byte"
            },
            "clientVersion": {
              "location": "query",
              "type": "string",
              "description": "The version of the client implementation."
            },
            "clientId": {
              "location": "query",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API.",
              "type": "string"
            }
          }
        }
      }
    },
    "threatLists": {
      "methods": {
        "list": {
          "id": "safebrowsing.threatLists.list",
          "description": "Lists the Safe Browsing threat lists available for download.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v4/threatLists",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
          },
          "parameters": {},
          "path": "v4/threatLists"
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "parameterOrder": [
            "encodedRequest"
          ],
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "id": "safebrowsing.encodedFullHashes.get",
          "parameters": {
            "clientId": {
              "type": "string",
              "location": "query",
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API."
            },
            "clientVersion": {
              "type": "string",
              "location": "query",
              "description": "The version of the client implementation."
            },
            "encodedRequest": {
              "location": "path",
              "format": "byte",
              "type": "string",
              "description": "A serialized FindFullHashesRequest proto.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "description": "",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          }
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "parameterOrder": [],
          "path": "v4/fullHashes:find",
          "id": "safebrowsing.fullHashes.find",
          "flatPath": "v4/fullHashes:find",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesRequest"
          }
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "id": "safebrowsing.threatHits.create",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "v4/threatHits",
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHit"
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "path": "v4/threatHits",
          "httpMethod": "POST"
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
          },
          "id": "safebrowsing.threatMatches.find",
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "flatPath": "v4/threatMatches:find",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest"
          },
          "parameters": {},
          "path": "v4/threatMatches:find",
          "httpMethod": "POST"
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
          },
          "parameterOrder": [],
          "path": "v4/threatListUpdates:fetch",
          "flatPath": "v4/threatListUpdates:fetch",
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "id": "safebrowsing.threatListUpdates.fetch",
          "parameters": {}
        }
      }
    }
  },
  "kind": "discovery#restDescription"
}
