{
  "id": "safebrowsing:v4",
  "ownerName": "Google",
  "servicePath": "",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "basePath": "",
  "title": "Safe Browsing API",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "version_module": true,
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "FindFullHashesResponse": {
      "properties": {
        "matches": {
          "type": "array",
          "items": {
            "$ref": "ThreatMatch"
          },
          "description": "The full hashes that matched the requested prefixes."
        },
        "negativeCacheDuration": {
          "format": "google-duration",
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "type": "string"
        },
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "FindFullHashesResponse",
      "type": "object"
    },
    "RawHashes": {
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "properties": {
        "rawHashes": {
          "type": "string",
          "format": "byte",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded."
        },
        "prefixSize": {
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "RawHashes"
    },
    "UserInfo": {
      "id": "UserInfo",
      "description": "Details about the user that encountered the threat.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "The UN M.49 region code associated with the user's location.",
          "type": "string"
        },
        "userId": {
          "description": "Unique user identifier defined by the client.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "ListThreatListsResponse": {
      "properties": {
        "threatLists": {
          "description": "The lists available for download by the client.",
          "items": {
            "$ref": "ThreatListDescriptor"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListThreatListsResponse"
    },
    "ThreatMatch": {
      "type": "object",
      "properties": {
        "threatEntryMetadata": {
          "description": "Optional metadata associated with this threat.",
          "$ref": "ThreatEntryMetadata"
        },
        "threat": {
          "$ref": "ThreatEntry",
          "description": "The threat matching this threat."
        },
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string",
          "description": "The threat type matching this threat."
        },
        "threatEntryType": {
          "description": "The threat entry type matching this threat.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "platformType": {
          "description": "The platform type matching this threat.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "cacheDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives."
        }
      },
      "description": "A match when checking a threat entry in the Safe Browsing threat lists.",
      "id": "ThreatMatch"
    },
    "FetchThreatListUpdatesResponse": {
      "id": "FetchThreatListUpdatesResponse",
      "properties": {
        "minimumWaitDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want."
        },
        "listUpdateResponses": {
          "type": "array",
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list.",
          "items": {
            "$ref": "ListUpdateResponse"
          }
        }
      },
      "type": "object"
    },
    "ListUpdateRequest": {
      "description": "A single list update request.",
      "id": "ListUpdateRequest",
      "type": "object",
      "properties": {
        "threatEntryType": {
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The types of entries present in the list.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "Constraints"
        },
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The type of threat posed by entries present in the list.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        },
        "platformType": {
          "description": "The type of platform at risk by entries present in the list.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "state": {
          "format": "byte",
          "type": "string",
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update)."
        }
      }
    },
    "ClientInfo": {
      "id": "ClientInfo",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API."
        },
        "clientVersion": {
          "description": "The version of the client implementation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The client metadata associated with Safe Browsing API requests."
    },
    "ThreatListDescriptor": {
      "id": "ThreatListDescriptor",
      "type": "object",
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "properties": {
        "threatEntryType": {
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The entry types contained in the list.",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "type": "string"
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type targeted by the list's entries."
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The threat type posed by the list's entries."
        }
      }
    },
    "RiceDeltaEncoding": {
      "id": "RiceDeltaEncoding",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "properties": {
        "numEntries": {
          "format": "int32",
          "type": "integer",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`."
        },
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "format": "byte",
          "type": "string"
        },
        "firstValue": {
          "type": "string",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64"
        },
        "riceParameter": {
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ThreatEntry": {
      "id": "ThreatEntry",
      "type": "object",
      "properties": {
        "hash": {
          "format": "byte",
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string"
        },
        "digest": {
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "url": {
          "description": "A URL.",
          "type": "string"
        }
      },
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set."
    },
    "ThreatHit": {
      "type": "object",
      "id": "ThreatHit",
      "properties": {
        "clientInfo": {
          "$ref": "ClientInfo",
          "description": "Client-reported identification."
        },
        "platformType": {
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type reported.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "entry": {
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits.",
          "$ref": "ThreatEntry"
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "description": "The threat type reported.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "type": "string"
        },
        "userInfo": {
          "description": "Details about the user that encountered the threat.",
          "$ref": "UserInfo"
        },
        "resources": {
          "items": {
            "$ref": "ThreatSource"
          },
          "description": "The resources related to the threat hit.",
          "type": "array"
        }
      }
    },
    "ThreatEntryMetadata": {
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "MetadataEntry"
          },
          "description": "The metadata entries.",
          "type": "array"
        }
      },
      "id": "ThreatEntryMetadata",
      "type": "object"
    },
    "FindFullHashesRequest": {
      "description": "Request to return full hashes matched by the provided hash prefixes.",
      "id": "FindFullHashesRequest",
      "type": "object",
      "properties": {
        "apiClient": {
          "$ref": "ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation."
        },
        "clientStates": {
          "type": "array",
          "description": "The current client states for each of the client's local threat lists.",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "threatInfo": {
          "description": "The lists and hashes to be checked.",
          "$ref": "ThreatInfo"
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "ClientInfo"
        }
      }
    },
    "Checksum": {
      "type": "object",
      "description": "The expected state of a client's local database.",
      "id": "Checksum",
      "properties": {
        "sha256": {
          "format": "byte",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "type": "string"
        }
      }
    },
    "Constraints": {
      "properties": {
        "supportedCompressions": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ]
          },
          "description": "The compression types supported by the client."
        },
        "deviceLocation": {
          "type": "string",
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code."
        },
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string"
        },
        "maxUpdateEntries": {
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set.",
          "type": "integer",
          "format": "int32"
        },
        "region": {
          "type": "string",
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format."
        },
        "maxDatabaseEntries": {
          "format": "int32",
          "type": "integer",
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set."
        }
      },
      "description": "The constraints for this update.",
      "type": "object",
      "id": "Constraints"
    },
    "ThreatInfo": {
      "id": "ThreatInfo",
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "type": "object",
      "properties": {
        "threatEntryTypes": {
          "type": "array",
          "items": {
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ],
            "type": "string"
          },
          "description": "The entry types to be checked."
        },
        "platformTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ],
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ]
          },
          "description": "The platform types to be checked.",
          "type": "array"
        },
        "threatTypes": {
          "type": "array",
          "description": "The threat types to be checked.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat list.",
              "Safe list to ship hashes of known safe URL expressions."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST"
            ]
          }
        },
        "threatEntries": {
          "description": "The threat entries to be checked.",
          "items": {
            "$ref": "ThreatEntry"
          },
          "type": "array"
        }
      }
    },
    "RawIndices": {
      "description": "A set of raw indices to remove from a local list.",
      "type": "object",
      "properties": {
        "indices": {
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "id": "RawIndices"
    },
    "ListUpdateResponse": {
      "description": "An update to an individual list.",
      "properties": {
        "newClientState": {
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "type": "string",
          "format": "byte"
        },
        "responseType": {
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "type": "string",
          "description": "The type of response. This may indicate that an action is required by the client when the response is received.",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ]
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type for which data is returned.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "removals": {
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "items": {
            "$ref": "ThreatEntrySet"
          },
          "type": "array"
        },
        "threatEntryType": {
          "type": "string",
          "description": "The format of the threats.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "checksum": {
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later.",
          "$ref": "Checksum"
        },
        "additions": {
          "type": "array",
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "items": {
            "$ref": "ThreatEntrySet"
          }
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "description": "The threat type for which data is returned.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ]
        }
      },
      "id": "ListUpdateResponse",
      "type": "object"
    },
    "ThreatEntrySet": {
      "type": "object",
      "id": "ThreatEntrySet",
      "properties": {
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "RiceDeltaEncoding"
        },
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "RiceDeltaEncoding"
        },
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "RawIndices"
        },
        "compressionType": {
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "description": "The compression type for the entries in this set.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ]
        },
        "rawHashes": {
          "$ref": "RawHashes",
          "description": "The raw SHA256-formatted entries."
        }
      },
      "description": "A set of threats that should be added or removed from a client's local database."
    },
    "FindThreatMatchesRequest": {
      "properties": {
        "client": {
          "description": "The client metadata.",
          "$ref": "ClientInfo"
        },
        "threatInfo": {
          "description": "The lists and entries to be checked for matches.",
          "$ref": "ThreatInfo"
        }
      },
      "id": "FindThreatMatchesRequest",
      "type": "object",
      "description": "Request to check entries against lists."
    },
    "MetadataEntry": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded.",
          "format": "byte",
          "type": "string"
        },
        "key": {
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "MetadataEntry",
      "description": "A single metadata entry."
    },
    "FetchThreatListUpdatesRequest": {
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5",
      "properties": {
        "listUpdateRequests": {
          "type": "array",
          "items": {
            "$ref": "ListUpdateRequest"
          },
          "description": "The requested threat list updates."
        },
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        }
      },
      "id": "FetchThreatListUpdatesRequest",
      "type": "object"
    },
    "ThreatSource": {
      "id": "ThreatSource",
      "properties": {
        "referrer": {
          "description": "Referrer of the resource. Only set if the referrer is available.",
          "type": "string"
        },
        "remoteIp": {
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ],
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "description": "The type of source reported."
        },
        "url": {
          "description": "The URL of the resource.",
          "type": "string"
        }
      },
      "description": "A single resource related to a threat hit.",
      "type": "object"
    },
    "FindThreatMatchesResponse": {
      "properties": {
        "matches": {
          "type": "array",
          "items": {
            "$ref": "ThreatMatch"
          },
          "description": "The threat list matches."
        }
      },
      "id": "FindThreatMatchesResponse",
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "name": "safebrowsing",
  "batchPath": "batch",
  "version": "v4",
  "canonicalName": "Safebrowsing",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "revision": "20210203",
  "resources": {
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "id": "safebrowsing.threatListUpdates.fetch",
          "parameters": {},
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "flatPath": "v4/threatListUpdates:fetch",
          "path": "v4/threatListUpdates:fetch",
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "request": {
            "$ref": "FetchThreatListUpdatesRequest"
          }
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "description": "",
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "parameters": {
            "clientId": {
              "location": "query",
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "type": "string"
            },
            "encodedRequest": {
              "format": "byte",
              "description": "A serialized FindFullHashesRequest proto.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientVersion": {
              "type": "string",
              "location": "query",
              "description": "The version of the client implementation."
            }
          },
          "id": "safebrowsing.encodedFullHashes.get",
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "parameterOrder": [
            "encodedRequest"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "id": "safebrowsing.threatHits.create",
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "httpMethod": "POST",
          "request": {
            "$ref": "ThreatHit"
          },
          "flatPath": "v4/threatHits",
          "parameterOrder": [],
          "parameters": {},
          "path": "v4/threatHits",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "httpMethod": "POST",
          "request": {
            "$ref": "FindThreatMatchesRequest"
          },
          "response": {
            "$ref": "FindThreatMatchesResponse"
          },
          "path": "v4/threatMatches:find",
          "flatPath": "v4/threatMatches:find",
          "parameters": {},
          "id": "safebrowsing.threatMatches.find",
          "parameterOrder": [],
          "description": "Finds the threat entries that match the Safe Browsing lists."
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "parameters": {},
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "request": {
            "$ref": "FindFullHashesRequest"
          },
          "flatPath": "v4/fullHashes:find",
          "id": "safebrowsing.fullHashes.find",
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v4/fullHashes:find"
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "path": "v4/encodedUpdates/{encodedRequest}",
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "id": "safebrowsing.encodedUpdates.get",
          "parameters": {
            "clientVersion": {
              "description": "The version of the client implementation.",
              "type": "string",
              "location": "query"
            },
            "encodedRequest": {
              "format": "byte",
              "required": true,
              "type": "string",
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "location": "path"
            },
            "clientId": {
              "type": "string",
              "location": "query",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API."
            }
          },
          "parameterOrder": [
            "encodedRequest"
          ],
          "httpMethod": "GET",
          "description": ""
        }
      }
    },
    "threatLists": {
      "methods": {
        "list": {
          "parameters": {},
          "httpMethod": "GET",
          "description": "Lists the Safe Browsing threat lists available for download.",
          "parameterOrder": [],
          "response": {
            "$ref": "ListThreatListsResponse"
          },
          "flatPath": "v4/threatLists",
          "id": "safebrowsing.threatLists.list",
          "path": "v4/threatLists"
        }
      }
    }
  }
}
