{
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v4",
  "ownerName": "Google",
  "revision": "20210208",
  "ownerDomain": "google.com",
  "servicePath": "",
  "schemas": {
    "FetchThreatListUpdatesRequest": {
      "type": "object",
      "properties": {
        "listUpdateRequests": {
          "description": "The requested threat list updates.",
          "items": {
            "$ref": "ListUpdateRequest"
          },
          "type": "array"
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "ClientInfo"
        }
      },
      "id": "FetchThreatListUpdatesRequest",
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5"
    },
    "Constraints": {
      "id": "Constraints",
      "type": "object",
      "properties": {
        "maxDatabaseEntries": {
          "type": "integer",
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
          "format": "int32"
        },
        "maxUpdateEntries": {
          "format": "int32",
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set.",
          "type": "integer"
        },
        "region": {
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format.",
          "type": "string"
        },
        "supportedCompressions": {
          "description": "The compression types supported by the client.",
          "items": {
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string"
        },
        "deviceLocation": {
          "type": "string",
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code."
        }
      },
      "description": "The constraints for this update."
    },
    "ClientInfo": {
      "description": "The client metadata associated with Safe Browsing API requests.",
      "type": "object",
      "properties": {
        "clientVersion": {
          "type": "string",
          "description": "The version of the client implementation."
        },
        "clientId": {
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
          "type": "string"
        }
      },
      "id": "ClientInfo"
    },
    "ThreatInfo": {
      "properties": {
        "threatEntryTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ]
          },
          "description": "The entry types to be checked."
        },
        "threatEntries": {
          "items": {
            "$ref": "ThreatEntry"
          },
          "description": "The threat entries to be checked.",
          "type": "array"
        },
        "threatTypes": {
          "items": {
            "type": "string",
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat list.",
              "Safe list to ship hashes of known safe URL expressions."
            ]
          },
          "description": "The threat types to be checked.",
          "type": "array"
        },
        "platformTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ]
          },
          "description": "The platform types to be checked."
        }
      },
      "type": "object",
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "id": "ThreatInfo"
    },
    "ThreatListDescriptor": {
      "id": "ThreatListDescriptor",
      "properties": {
        "threatEntryType": {
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The entry types contained in the list."
        },
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string",
          "description": "The threat type posed by the list's entries."
        },
        "platformType": {
          "description": "The platform type targeted by the list's entries.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string"
        }
      },
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "type": "object"
    },
    "ListThreatListsResponse": {
      "type": "object",
      "id": "ListThreatListsResponse",
      "properties": {
        "threatLists": {
          "items": {
            "$ref": "ThreatListDescriptor"
          },
          "description": "The lists available for download by the client.",
          "type": "array"
        }
      }
    },
    "ThreatEntryMetadata": {
      "id": "ThreatEntryMetadata",
      "properties": {
        "entries": {
          "items": {
            "$ref": "MetadataEntry"
          },
          "description": "The metadata entries.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type."
    },
    "Checksum": {
      "description": "The expected state of a client's local database.",
      "id": "Checksum",
      "type": "object",
      "properties": {
        "sha256": {
          "format": "byte",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "type": "string"
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "properties": {
        "userId": {
          "description": "Unique user identifier defined by the client.",
          "format": "byte",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "The UN M.49 region code associated with the user's location."
        }
      },
      "description": "Details about the user that encountered the threat.",
      "type": "object"
    },
    "RawIndices": {
      "id": "RawIndices",
      "properties": {
        "indices": {
          "type": "array",
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "type": "object",
      "description": "A set of raw indices to remove from a local list."
    },
    "FindThreatMatchesRequest": {
      "properties": {
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        },
        "threatInfo": {
          "$ref": "ThreatInfo",
          "description": "The lists and entries to be checked for matches."
        }
      },
      "id": "FindThreatMatchesRequest",
      "type": "object",
      "description": "Request to check entries against lists."
    },
    "FetchThreatListUpdatesResponse": {
      "id": "FetchThreatListUpdatesResponse",
      "type": "object",
      "properties": {
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want.",
          "type": "string",
          "format": "google-duration"
        },
        "listUpdateResponses": {
          "type": "array",
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list.",
          "items": {
            "$ref": "ListUpdateResponse"
          }
        }
      }
    },
    "RawHashes": {
      "properties": {
        "rawHashes": {
          "type": "string",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "format": "byte"
        },
        "prefixSize": {
          "format": "int32",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash).",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "RawHashes",
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression."
    },
    "MetadataEntry": {
      "description": "A single metadata entry.",
      "type": "object",
      "id": "MetadataEntry",
      "properties": {
        "key": {
          "type": "string",
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded.",
          "format": "byte"
        },
        "value": {
          "format": "byte",
          "type": "string",
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded."
        }
      }
    },
    "ThreatEntry": {
      "type": "object",
      "id": "ThreatEntry",
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "properties": {
        "url": {
          "description": "A URL.",
          "type": "string"
        },
        "digest": {
          "type": "string",
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "format": "byte"
        },
        "hash": {
          "type": "string",
          "format": "byte",
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded."
        }
      }
    },
    "ThreatHit": {
      "type": "object",
      "id": "ThreatHit",
      "properties": {
        "entry": {
          "$ref": "ThreatEntry",
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits."
        },
        "clientInfo": {
          "$ref": "ClientInfo",
          "description": "Client-reported identification."
        },
        "userInfo": {
          "$ref": "UserInfo",
          "description": "Details about the user that encountered the threat."
        },
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The threat type reported.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "ThreatSource"
          },
          "description": "The resources related to the threat hit.",
          "type": "array"
        },
        "platformType": {
          "description": "The platform type reported.",
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        }
      }
    },
    "FindThreatMatchesResponse": {
      "id": "FindThreatMatchesResponse",
      "properties": {
        "matches": {
          "type": "array",
          "items": {
            "$ref": "ThreatMatch"
          },
          "description": "The threat list matches."
        }
      },
      "type": "object"
    },
    "RiceDeltaEncoding": {
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "type": "object",
      "id": "RiceDeltaEncoding",
      "properties": {
        "riceParameter": {
          "format": "int32",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "type": "integer"
        },
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string",
          "format": "byte"
        },
        "firstValue": {
          "format": "int64",
          "type": "string",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero."
        },
        "numEntries": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ThreatSource": {
      "properties": {
        "type": {
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ],
          "description": "The type of source reported.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the resource.",
          "type": "string"
        },
        "referrer": {
          "type": "string",
          "description": "Referrer of the resource. Only set if the referrer is available."
        },
        "remoteIp": {
          "type": "string",
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6."
        }
      },
      "type": "object",
      "description": "A single resource related to a threat hit.",
      "id": "ThreatSource"
    },
    "ListUpdateRequest": {
      "id": "ListUpdateRequest",
      "description": "A single list update request.",
      "properties": {
        "state": {
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update).",
          "format": "byte",
          "type": "string"
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "description": "The type of platform at risk by entries present in the list.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "Constraints"
        },
        "threatEntryType": {
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The types of entries present in the list.",
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "threatType": {
          "type": "string",
          "description": "The type of threat posed by entries present in the list.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        }
      },
      "type": "object"
    },
    "ThreatEntrySet": {
      "description": "A set of threats that should be added or removed from a client's local database.",
      "properties": {
        "compressionType": {
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "type": "string",
          "description": "The compression type for the entries in this set.",
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ]
        },
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "RiceDeltaEncoding"
        },
        "rawHashes": {
          "$ref": "RawHashes",
          "description": "The raw SHA256-formatted entries."
        },
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "RiceDeltaEncoding"
        },
        "rawIndices": {
          "$ref": "RawIndices",
          "description": "The raw removal indices for a local list."
        }
      },
      "id": "ThreatEntrySet",
      "type": "object"
    },
    "FindFullHashesRequest": {
      "properties": {
        "clientStates": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          },
          "description": "The current client states for each of the client's local threat lists."
        },
        "apiClient": {
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation.",
          "$ref": "ClientInfo"
        },
        "threatInfo": {
          "$ref": "ThreatInfo",
          "description": "The lists and hashes to be checked."
        },
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        }
      },
      "description": "Request to return full hashes matched by the provided hash prefixes.",
      "id": "FindFullHashesRequest",
      "type": "object"
    },
    "FindFullHashesResponse": {
      "id": "FindFullHashesResponse",
      "properties": {
        "matches": {
          "description": "The full hashes that matched the requested prefixes.",
          "type": "array",
          "items": {
            "$ref": "ThreatMatch"
          }
        },
        "minimumWaitDuration": {
          "type": "string",
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "format": "google-duration"
        },
        "negativeCacheDuration": {
          "type": "string",
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "ListUpdateResponse": {
      "id": "ListUpdateResponse",
      "type": "object",
      "description": "An update to an individual list.",
      "properties": {
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type for which data is returned.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "newClientState": {
          "type": "string",
          "format": "byte",
          "description": "The new client state, in encrypted format. Opaque to clients."
        },
        "responseType": {
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "type": "string",
          "description": "The type of response. This may indicate that an action is required by the client when the response is received."
        },
        "checksum": {
          "$ref": "Checksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later."
        },
        "threatEntryType": {
          "description": "The format of the threats.",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string"
        },
        "removals": {
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "type": "array",
          "items": {
            "$ref": "ThreatEntrySet"
          }
        },
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The threat type for which data is returned.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string"
        },
        "additions": {
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "type": "array",
          "items": {
            "$ref": "ThreatEntrySet"
          }
        }
      }
    },
    "ThreatMatch": {
      "properties": {
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "description": "The platform type matching this threat."
        },
        "threatEntryType": {
          "type": "string",
          "description": "The threat entry type matching this threat.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "threatEntryMetadata": {
          "description": "Optional metadata associated with this threat.",
          "$ref": "ThreatEntryMetadata"
        },
        "threat": {
          "$ref": "ThreatEntry",
          "description": "The threat matching this threat."
        },
        "cacheDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives."
        },
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "description": "The threat type matching this threat.",
          "type": "string"
        }
      },
      "id": "ThreatMatch",
      "type": "object",
      "description": "A match when checking a threat entry in the Safe Browsing threat lists."
    }
  },
  "basePath": "",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "resources": {
    "threatLists": {
      "methods": {
        "list": {
          "parameters": {},
          "description": "Lists the Safe Browsing threat lists available for download.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "safebrowsing.threatLists.list",
          "path": "v4/threatLists",
          "flatPath": "v4/threatLists",
          "response": {
            "$ref": "ListThreatListsResponse"
          }
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "request": {
            "$ref": "FindThreatMatchesRequest"
          },
          "flatPath": "v4/threatMatches:find",
          "parameterOrder": [],
          "id": "safebrowsing.threatMatches.find",
          "response": {
            "$ref": "FindThreatMatchesResponse"
          },
          "httpMethod": "POST",
          "path": "v4/threatMatches:find",
          "parameters": {},
          "description": "Finds the threat entries that match the Safe Browsing lists."
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "path": "v4/fullHashes:find",
          "parameters": {},
          "id": "safebrowsing.fullHashes.find",
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "flatPath": "v4/fullHashes:find",
          "httpMethod": "POST",
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "parameterOrder": [],
          "request": {
            "$ref": "FindFullHashesRequest"
          }
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Empty"
          },
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "httpMethod": "POST",
          "parameters": {},
          "id": "safebrowsing.threatHits.create",
          "parameterOrder": [],
          "path": "v4/threatHits",
          "flatPath": "v4/threatHits",
          "request": {
            "$ref": "ThreatHit"
          }
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "id": "safebrowsing.threatListUpdates.fetch",
          "flatPath": "v4/threatListUpdates:fetch",
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "path": "v4/threatListUpdates:fetch",
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "request": {
            "$ref": "FetchThreatListUpdatesRequest"
          }
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "parameterOrder": [
            "encodedRequest"
          ],
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "httpMethod": "GET",
          "parameters": {
            "clientId": {
              "location": "query",
              "type": "string",
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API."
            },
            "clientVersion": {
              "location": "query",
              "description": "The version of the client implementation.",
              "type": "string"
            },
            "encodedRequest": {
              "description": "A serialized FindFullHashesRequest proto.",
              "format": "byte",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "description": "",
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "id": "safebrowsing.encodedFullHashes.get"
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "parameterOrder": [
            "encodedRequest"
          ],
          "path": "v4/encodedUpdates/{encodedRequest}",
          "id": "safebrowsing.encodedUpdates.get",
          "description": "",
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "httpMethod": "GET",
          "parameters": {
            "clientVersion": {
              "location": "query",
              "type": "string",
              "description": "The version of the client implementation."
            },
            "encodedRequest": {
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "byte"
            },
            "clientId": {
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "name": "safebrowsing",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "id": "safebrowsing:v4",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "canonicalName": "Safebrowsing",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "title": "Safe Browsing API",
  "version_module": true
}
