{
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "canonicalName": "Safebrowsing",
  "resources": {
    "encodedFullHashes": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "description": "",
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "httpMethod": "GET",
          "parameters": {
            "encodedRequest": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "A serialized FindFullHashesRequest proto.",
              "format": "byte"
            },
            "clientId": {
              "type": "string",
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "location": "query"
            },
            "clientVersion": {
              "description": "The version of the client implementation.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "encodedRequest"
          ],
          "id": "safebrowsing.encodedFullHashes.get"
        }
      }
    },
    "threatLists": {
      "methods": {
        "list": {
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
          },
          "description": "Lists the Safe Browsing threat lists available for download.",
          "flatPath": "v4/threatLists",
          "id": "safebrowsing.threatLists.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {},
          "path": "v4/threatLists"
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "id": "safebrowsing.threatListUpdates.fetch",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
          },
          "parameterOrder": [],
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "path": "v4/threatListUpdates:fetch",
          "flatPath": "v4/threatListUpdates:fetch",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "parameters": {},
          "httpMethod": "POST"
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "parameterOrder": [
            "encodedRequest"
          ],
          "path": "v4/encodedUpdates/{encodedRequest}",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "httpMethod": "GET",
          "id": "safebrowsing.encodedUpdates.get",
          "description": "",
          "parameters": {
            "clientId": {
              "location": "query",
              "type": "string",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API."
            },
            "clientVersion": {
              "location": "query",
              "description": "The version of the client implementation.",
              "type": "string"
            },
            "encodedRequest": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "byte",
              "description": "A serialized FetchThreatListUpdatesRequest proto."
            }
          }
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "path": "v4/threatMatches:find",
          "id": "safebrowsing.threatMatches.find",
          "httpMethod": "POST",
          "flatPath": "v4/threatMatches:find",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest"
          },
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "parameters": {},
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "path": "v4/fullHashes:find",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v4/fullHashes:find",
          "parameters": {},
          "id": "safebrowsing.fullHashes.find",
          "parameterOrder": []
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "id": "safebrowsing.threatHits.create",
          "flatPath": "v4/threatHits",
          "parameterOrder": [],
          "parameters": {},
          "path": "v4/threatHits",
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHit"
          }
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "title": "Safe Browsing API",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "revision": "20210208",
  "basePath": "",
  "schemas": {
    "GoogleSecuritySafebrowsingV4ClientInfo": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API."
        },
        "clientVersion": {
          "type": "string",
          "description": "The version of the client implementation."
        }
      },
      "description": "The client metadata associated with Safe Browsing API requests.",
      "id": "GoogleSecuritySafebrowsingV4ClientInfo"
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesResponse": {
      "properties": {
        "matches": {
          "type": "array",
          "description": "The full hashes that matched the requested prefixes.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          }
        },
        "negativeCacheDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "For requested entities that did not match the threat list, how long to cache the response."
        },
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
    },
    "GoogleSecuritySafebrowsingV4Checksum": {
      "description": "The expected state of a client's local database.",
      "type": "object",
      "properties": {
        "sha256": {
          "format": "byte",
          "type": "string",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4Checksum"
    },
    "GoogleSecuritySafebrowsingV4ThreatListDescriptor": {
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "properties": {
        "threatEntryType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The entry types contained in the list.",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "platformType": {
          "description": "The platform type targeted by the list's entries.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The threat type posed by the list's entries.",
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntry": {
      "id": "GoogleSecuritySafebrowsingV4ThreatEntry",
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "properties": {
        "hash": {
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "url": {
          "description": "A URL.",
          "type": "string"
        },
        "digest": {
          "format": "byte",
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry": {
      "description": "A single metadata entry.",
      "properties": {
        "key": {
          "format": "byte",
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded.",
          "type": "string"
        },
        "value": {
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
    },
    "GoogleSecuritySafebrowsingV4ThreatMatch": {
      "description": "A match when checking a threat entry in the Safe Browsing threat lists.",
      "id": "GoogleSecuritySafebrowsingV4ThreatMatch",
      "type": "object",
      "properties": {
        "cacheDuration": {
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives.",
          "format": "google-duration",
          "type": "string"
        },
        "threat": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry",
          "description": "The threat matching this threat."
        },
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The threat type matching this threat.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The threat entry type matching this threat."
        },
        "threatEntryMetadata": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
          "description": "Optional metadata associated with this threat."
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "description": "The platform type matching this threat.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest": {
      "properties": {
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints"
        },
        "state": {
          "type": "string",
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update).",
          "format": "byte"
        },
        "threatType": {
          "type": "string",
          "description": "The type of threat posed by entries present in the list.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        },
        "threatEntryType": {
          "description": "The types of entries present in the list.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "platformType": {
          "type": "string",
          "description": "The type of platform at risk by entries present in the list.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        }
      },
      "type": "object",
      "description": "A single list update request.",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
    },
    "GoogleSecuritySafebrowsingV4RiceDeltaEncoding": {
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "id": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
      "properties": {
        "numEntries": {
          "type": "integer",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32"
        },
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "format": "byte",
          "type": "string"
        },
        "firstValue": {
          "format": "int64",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "type": "string"
        },
        "riceParameter": {
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatHit": {
      "id": "GoogleSecuritySafebrowsingV4ThreatHit",
      "type": "object",
      "properties": {
        "clientInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "Client-reported identification."
        },
        "platformType": {
          "description": "The platform type reported.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "entry": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry",
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits."
        },
        "resources": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource"
          },
          "type": "array",
          "description": "The resources related to the threat hit."
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string",
          "description": "The threat type reported.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ]
        },
        "userInfo": {
          "description": "Details about the user that encountered the threat.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadata": {
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
      "properties": {
        "entries": {
          "description": "The metadata entries.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
          }
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse": {
      "properties": {
        "listUpdateResponses": {
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse"
          },
          "type": "array"
        },
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse": {
      "properties": {
        "matches": {
          "type": "array",
          "description": "The threat list matches.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          }
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
    },
    "GoogleSecuritySafebrowsingV4ListThreatListsResponse": {
      "properties": {
        "threatLists": {
          "type": "array",
          "description": "The lists available for download by the client.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
          }
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
    },
    "GoogleSecuritySafebrowsingV4RawHashes": {
      "id": "GoogleSecuritySafebrowsingV4RawHashes",
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "type": "object",
      "properties": {
        "prefixSize": {
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash).",
          "type": "integer",
          "format": "int32"
        },
        "rawHashes": {
          "format": "byte",
          "type": "string",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest",
      "type": "object",
      "properties": {
        "listUpdateRequests": {
          "description": "The requested threat list updates.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
          },
          "type": "array"
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        }
      },
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntrySet": {
      "type": "object",
      "properties": {
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        },
        "compressionType": {
          "description": "The compression type for the entries in this set.",
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ]
        },
        "rawIndices": {
          "$ref": "GoogleSecuritySafebrowsingV4RawIndices",
          "description": "The raw removal indices for a local list."
        },
        "riceHashes": {
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "rawHashes": {
          "$ref": "GoogleSecuritySafebrowsingV4RawHashes",
          "description": "The raw SHA256-formatted entries."
        }
      },
      "description": "A set of threats that should be added or removed from a client's local database.",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest": {
      "properties": {
        "threatInfo": {
          "description": "The lists and entries to be checked for matches.",
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo"
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        }
      },
      "description": "Request to check entries against lists.",
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse": {
      "properties": {
        "newClientState": {
          "format": "byte",
          "type": "string",
          "description": "The new client state, in encrypted format. Opaque to clients."
        },
        "checksum": {
          "$ref": "GoogleSecuritySafebrowsingV4Checksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later."
        },
        "removals": {
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "type": "array"
        },
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The threat type for which data is returned.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string"
        },
        "responseType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "description": "The type of response. This may indicate that an action is required by the client when the response is received.",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ]
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "description": "The platform type for which data is returned.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The format of the threats.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string"
        },
        "additions": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "type": "array",
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse",
      "description": "An update to an individual list.",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatInfo": {
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "properties": {
        "threatTypes": {
          "type": "array",
          "description": "The threat types to be checked.",
          "items": {
            "type": "string",
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat list.",
              "Safe list to ship hashes of known safe URL expressions."
            ]
          }
        },
        "platformTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ],
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "type": "string"
          },
          "description": "The platform types to be checked."
        },
        "threatEntries": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
          },
          "description": "The threat entries to be checked.",
          "type": "array"
        },
        "threatEntryTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ],
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ]
          },
          "description": "The entry types to be checked."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatInfo",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints": {
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints",
      "type": "object",
      "description": "The constraints for this update.",
      "properties": {
        "supportedCompressions": {
          "description": "The compression types supported by the client.",
          "items": {
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "type": "string",
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ]
          },
          "type": "array"
        },
        "maxUpdateEntries": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set."
        },
        "region": {
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format.",
          "type": "string"
        },
        "deviceLocation": {
          "type": "string",
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code."
        },
        "maxDatabaseEntries": {
          "format": "int32",
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
          "type": "integer"
        },
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesRequest": {
      "properties": {
        "threatInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo",
          "description": "The lists and hashes to be checked."
        },
        "apiClient": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation."
        },
        "clientStates": {
          "description": "The current client states for each of the client's local threat lists.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "client": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "The client metadata."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesRequest",
      "type": "object",
      "description": "Request to return full hashes matched by the provided hash prefixes."
    },
    "GoogleSecuritySafebrowsingV4ThreatHitThreatSource": {
      "properties": {
        "remoteIp": {
          "type": "string",
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6."
        },
        "url": {
          "type": "string",
          "description": "The URL of the resource."
        },
        "referrer": {
          "description": "Referrer of the resource. Only set if the referrer is available.",
          "type": "string"
        },
        "type": {
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "type": "string",
          "description": "The type of source reported.",
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ]
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource",
      "description": "A single resource related to a threat hit."
    },
    "GoogleSecuritySafebrowsingV4ThreatHitUserInfo": {
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The UN M.49 region code associated with the user's location."
        },
        "userId": {
          "format": "byte",
          "description": "Unique user identifier defined by the client.",
          "type": "string"
        }
      },
      "description": "Details about the user that encountered the threat.",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo"
    },
    "GoogleSecuritySafebrowsingV4RawIndices": {
      "id": "GoogleSecuritySafebrowsingV4RawIndices",
      "description": "A set of raw indices to remove from a local list.",
      "properties": {
        "indices": {
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "id": "safebrowsing:v4",
  "version": "v4",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "name": "safebrowsing",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch"
}
