{
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "ownerName": "Google",
  "revision": "20201213",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Safebrowsing",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "safebrowsing",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "version_module": true,
  "version": "v4",
  "protocol": "rest",
  "schemas": {
    "ThreatHit": {
      "properties": {
        "clientInfo": {
          "$ref": "ClientInfo",
          "description": "Client-reported identification."
        },
        "resources": {
          "description": "The resources related to the threat hit.",
          "type": "array",
          "items": {
            "$ref": "ThreatSource"
          }
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "description": "The platform type reported.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "userInfo": {
          "description": "Details about the user that encountered the threat.",
          "$ref": "UserInfo"
        },
        "entry": {
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits.",
          "$ref": "ThreatEntry"
        },
        "threatType": {
          "description": "The threat type reported.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        }
      },
      "id": "ThreatHit",
      "type": "object"
    },
    "UserInfo": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The UN M.49 region code associated with the user's location."
        },
        "userId": {
          "description": "Unique user identifier defined by the client.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "UserInfo",
      "type": "object",
      "description": "Details about the user that encountered the threat."
    },
    "Constraints": {
      "description": "The constraints for this update.",
      "type": "object",
      "id": "Constraints",
      "properties": {
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string"
        },
        "maxUpdateEntries": {
          "type": "integer",
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set.",
          "format": "int32"
        },
        "deviceLocation": {
          "type": "string",
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code."
        },
        "region": {
          "type": "string",
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format."
        },
        "maxDatabaseEntries": {
          "type": "integer",
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
          "format": "int32"
        },
        "supportedCompressions": {
          "type": "array",
          "description": "The compression types supported by the client.",
          "items": {
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "type": "string"
          }
        }
      }
    },
    "ThreatEntry": {
      "properties": {
        "digest": {
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "hash": {
          "format": "byte",
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL."
        }
      },
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "id": "ThreatEntry",
      "type": "object"
    },
    "RawHashes": {
      "type": "object",
      "properties": {
        "rawHashes": {
          "type": "string",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "format": "byte"
        },
        "prefixSize": {
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "id": "RawHashes"
    },
    "FetchThreatListUpdatesResponse": {
      "type": "object",
      "id": "FetchThreatListUpdatesResponse",
      "properties": {
        "listUpdateResponses": {
          "type": "array",
          "description": "The list updates requested by the clients.",
          "items": {
            "$ref": "ListUpdateResponse"
          }
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want."
        }
      }
    },
    "ListThreatListsResponse": {
      "id": "ListThreatListsResponse",
      "type": "object",
      "properties": {
        "threatLists": {
          "description": "The lists available for download by the client.",
          "type": "array",
          "items": {
            "$ref": "ThreatListDescriptor"
          }
        }
      }
    },
    "ThreatInfo": {
      "id": "ThreatInfo",
      "type": "object",
      "properties": {
        "threatTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat list.",
              "Safe list to ship hashes of known safe URL expressions."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST"
            ]
          },
          "type": "array",
          "description": "The threat types to be checked."
        },
        "threatEntryTypes": {
          "type": "array",
          "description": "The entry types to be checked.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ],
            "type": "string",
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ]
          }
        },
        "platformTypes": {
          "type": "array",
          "description": "The platform types to be checked.",
          "items": {
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ]
          }
        },
        "threatEntries": {
          "description": "The threat entries to be checked.",
          "type": "array",
          "items": {
            "$ref": "ThreatEntry"
          }
        }
      },
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists."
    },
    "ThreatListDescriptor": {
      "type": "object",
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "id": "ThreatListDescriptor",
      "properties": {
        "platformType": {
          "description": "The platform type targeted by the list's entries.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "threatType": {
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "description": "The threat type posed by the list's entries.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ]
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "description": "The entry types contained in the list."
        }
      }
    },
    "ListUpdateRequest": {
      "description": "A single list update request.",
      "id": "ListUpdateRequest",
      "properties": {
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The type of threat posed by entries present in the list.",
          "type": "string"
        },
        "threatEntryType": {
          "description": "The types of entries present in the list.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "constraints": {
          "description": "The constraints associated with this request.",
          "$ref": "Constraints"
        },
        "state": {
          "format": "byte",
          "type": "string",
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update)."
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "description": "The type of platform at risk by entries present in the list."
        }
      },
      "type": "object"
    },
    "ListUpdateResponse": {
      "description": "An update to an individual list.",
      "id": "ListUpdateResponse",
      "type": "object",
      "properties": {
        "removals": {
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "items": {
            "$ref": "ThreatEntrySet"
          },
          "type": "array"
        },
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "description": "The threat type for which data is returned.",
          "type": "string"
        },
        "responseType": {
          "type": "string",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "description": "The type of response. This may indicate that an action is required by the client when the response is received."
        },
        "additions": {
          "items": {
            "$ref": "ThreatEntrySet"
          },
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "type": "array"
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "description": "The platform type for which data is returned.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "newClientState": {
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "format": "byte",
          "type": "string"
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "type": "string",
          "description": "The format of the threats.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "checksum": {
          "$ref": "Checksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later."
        }
      }
    },
    "FetchThreatListUpdatesRequest": {
      "type": "object",
      "properties": {
        "client": {
          "description": "The client metadata.",
          "$ref": "ClientInfo"
        },
        "listUpdateRequests": {
          "description": "The requested threat list updates.",
          "type": "array",
          "items": {
            "$ref": "ListUpdateRequest"
          }
        }
      },
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. NOTE: Field index 2 is unused. NEXT: 5",
      "id": "FetchThreatListUpdatesRequest"
    },
    "ThreatEntryMetadata": {
      "properties": {
        "entries": {
          "description": "The metadata entries.",
          "items": {
            "$ref": "MetadataEntry"
          },
          "type": "array"
        }
      },
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "id": "ThreatEntryMetadata",
      "type": "object"
    },
    "ThreatEntrySet": {
      "type": "object",
      "description": "A set of threats that should be added or removed from a client's local database.",
      "id": "ThreatEntrySet",
      "properties": {
        "compressionType": {
          "description": "The compression type for the entries in this set.",
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "type": "string"
        },
        "rawHashes": {
          "description": "The raw SHA256-formatted entries.",
          "$ref": "RawHashes"
        },
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "RiceDeltaEncoding"
        },
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "RawIndices"
        },
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "RiceDeltaEncoding"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "FindThreatMatchesRequest": {
      "description": "Request to check entries against lists.",
      "type": "object",
      "id": "FindThreatMatchesRequest",
      "properties": {
        "client": {
          "description": "The client metadata.",
          "$ref": "ClientInfo"
        },
        "threatInfo": {
          "description": "The lists and entries to be checked for matches.",
          "$ref": "ThreatInfo"
        }
      }
    },
    "ThreatMatch": {
      "id": "ThreatMatch",
      "properties": {
        "cacheDuration": {
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives.",
          "type": "string",
          "format": "google-duration"
        },
        "platformType": {
          "description": "The platform type matching this threat.",
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "threatEntryType": {
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "description": "The threat entry type matching this threat.",
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ]
        },
        "threat": {
          "description": "The threat matching this threat.",
          "$ref": "ThreatEntry"
        },
        "threatType": {
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "description": "The threat type matching this threat.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ]
        },
        "threatEntryMetadata": {
          "$ref": "ThreatEntryMetadata",
          "description": "Optional metadata associated with this threat."
        }
      },
      "type": "object",
      "description": "A match when checking a threat entry in the Safe Browsing threat lists."
    },
    "Checksum": {
      "id": "Checksum",
      "description": "The expected state of a client's local database.",
      "type": "object",
      "properties": {
        "sha256": {
          "type": "string",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "format": "byte"
        }
      }
    },
    "RiceDeltaEncoding": {
      "type": "object",
      "id": "RiceDeltaEncoding",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "properties": {
        "numEntries": {
          "format": "int32",
          "type": "integer",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`."
        },
        "firstValue": {
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64",
          "type": "string"
        },
        "encodedData": {
          "format": "byte",
          "type": "string",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder."
        },
        "riceParameter": {
          "format": "int32",
          "type": "integer",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero."
        }
      }
    },
    "RawIndices": {
      "description": "A set of raw indices to remove from a local list.",
      "type": "object",
      "properties": {
        "indices": {
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "id": "RawIndices"
    },
    "FindThreatMatchesResponse": {
      "type": "object",
      "id": "FindThreatMatchesResponse",
      "properties": {
        "matches": {
          "items": {
            "$ref": "ThreatMatch"
          },
          "description": "The threat list matches.",
          "type": "array"
        }
      }
    },
    "ClientInfo": {
      "type": "object",
      "id": "ClientInfo",
      "properties": {
        "clientVersion": {
          "description": "The version of the client implementation.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API."
        }
      },
      "description": "The client metadata associated with Safe Browsing API requests."
    },
    "FindFullHashesResponse": {
      "id": "FindFullHashesResponse",
      "type": "object",
      "properties": {
        "matches": {
          "description": "The full hashes that matched the requested prefixes.",
          "type": "array",
          "items": {
            "$ref": "ThreatMatch"
          }
        },
        "negativeCacheDuration": {
          "format": "google-duration",
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "type": "string"
        },
        "minimumWaitDuration": {
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "MetadataEntry": {
      "id": "MetadataEntry",
      "type": "object",
      "description": "A single metadata entry.",
      "properties": {
        "key": {
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded.",
          "type": "string",
          "format": "byte"
        },
        "value": {
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "FindFullHashesRequest": {
      "properties": {
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        },
        "apiClient": {
          "$ref": "ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation."
        },
        "clientStates": {
          "description": "The current client states for each of the client's local threat lists.",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        },
        "threatInfo": {
          "$ref": "ThreatInfo",
          "description": "The lists and hashes to be checked."
        }
      },
      "description": "Request to return full hashes matched by the provided hash prefixes.",
      "type": "object",
      "id": "FindFullHashesRequest"
    },
    "ThreatSource": {
      "description": "A single resource related to a threat hit.",
      "id": "ThreatSource",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the resource.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ],
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "type": "string",
          "description": "The type of source reported."
        },
        "referrer": {
          "description": "Referrer of the resource. Only set if the referrer is available.",
          "type": "string"
        },
        "remoteIp": {
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6.",
          "type": "string"
        }
      }
    }
  },
  "title": "Safe Browsing API",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "batchPath": "batch",
  "resources": {
    "fullHashes": {
      "methods": {
        "find": {
          "request": {
            "$ref": "FindFullHashesRequest"
          },
          "parameterOrder": [],
          "path": "v4/fullHashes:find",
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "httpMethod": "POST",
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "parameters": {},
          "id": "safebrowsing.fullHashes.find",
          "flatPath": "v4/fullHashes:find"
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "parameterOrder": [
            "encodedRequest"
          ],
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "parameters": {
            "clientId": {
              "type": "string",
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "location": "query"
            },
            "encodedRequest": {
              "type": "string",
              "location": "path",
              "description": "A serialized FindFullHashesRequest proto.",
              "required": true,
              "format": "byte"
            },
            "clientVersion": {
              "location": "query",
              "type": "string",
              "description": "The version of the client implementation."
            }
          },
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "description": "",
          "httpMethod": "GET",
          "id": "safebrowsing.encodedFullHashes.get"
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "flatPath": "v4/threatHits",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {},
          "parameterOrder": [],
          "path": "v4/threatHits",
          "request": {
            "$ref": "ThreatHit"
          },
          "id": "safebrowsing.threatHits.create",
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method."
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "id": "safebrowsing.threatListUpdates.fetch",
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "FetchThreatListUpdatesRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v4/threatListUpdates:fetch",
          "path": "v4/threatListUpdates:fetch",
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once."
        }
      }
    },
    "threatLists": {
      "methods": {
        "list": {
          "path": "v4/threatLists",
          "httpMethod": "GET",
          "description": "Lists the Safe Browsing threat lists available for download.",
          "parameterOrder": [],
          "id": "safebrowsing.threatLists.list",
          "flatPath": "v4/threatLists",
          "parameters": {},
          "response": {
            "$ref": "ListThreatListsResponse"
          }
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "parameterOrder": [
            "encodedRequest"
          ],
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "httpMethod": "GET",
          "description": "",
          "parameters": {
            "clientId": {
              "location": "query",
              "type": "string",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API."
            },
            "clientVersion": {
              "type": "string",
              "location": "query",
              "description": "The version of the client implementation."
            },
            "encodedRequest": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "format": "byte"
            }
          },
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "path": "v4/encodedUpdates/{encodedRequest}",
          "id": "safebrowsing.encodedUpdates.get"
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "flatPath": "v4/threatMatches:find",
          "id": "safebrowsing.threatMatches.find",
          "httpMethod": "POST",
          "request": {
            "$ref": "FindThreatMatchesRequest"
          },
          "parameterOrder": [],
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "response": {
            "$ref": "FindThreatMatchesResponse"
          },
          "path": "v4/threatMatches:find",
          "parameters": {}
        }
      }
    }
  },
  "id": "safebrowsing:v4"
}
