{
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "id": "safebrowsing:v4",
  "name": "safebrowsing",
  "version": "v4",
  "ownerDomain": "google.com",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Safebrowsing",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "schemas": {
    "GoogleSecuritySafebrowsingV4RiceDeltaEncoding": {
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "properties": {
        "numEntries": {
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32",
          "type": "integer"
        },
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string",
          "format": "byte"
        },
        "firstValue": {
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64",
          "type": "string"
        },
        "riceParameter": {
          "format": "int32",
          "type": "integer",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatHitUserInfo": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
      "properties": {
        "userId": {
          "description": "Unique user identifier defined by the client.",
          "type": "string",
          "format": "byte"
        },
        "regionCode": {
          "description": "The UN M.49 region code associated with the user's location.",
          "type": "string"
        }
      },
      "description": "Details about the user that encountered the threat."
    },
    "GoogleSecuritySafebrowsingV4ThreatHitThreatSource": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the resource."
        },
        "remoteIp": {
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6.",
          "type": "string"
        },
        "type": {
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ],
          "description": "The type of source reported.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ]
        },
        "referrer": {
          "type": "string",
          "description": "Referrer of the resource. Only set if the referrer is available."
        }
      },
      "description": "A single resource related to a threat hit.",
      "id": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4RawHashes": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4RawHashes",
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "properties": {
        "prefixSize": {
          "type": "integer",
          "format": "int32",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash)."
        },
        "rawHashes": {
          "format": "byte",
          "type": "string",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4RawIndices": {
      "type": "object",
      "properties": {
        "indices": {
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "description": "A set of raw indices to remove from a local list.",
      "id": "GoogleSecuritySafebrowsingV4RawIndices"
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesRequest": {
      "properties": {
        "clientStates": {
          "description": "The current client states for each of the client's local threat lists.",
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        },
        "threatInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo",
          "description": "The lists and hashes to be checked."
        },
        "apiClient": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation."
        }
      },
      "type": "object",
      "description": "Request to return full hashes matched by the provided hash prefixes.",
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesRequest"
    },
    "GoogleSecuritySafebrowsingV4ThreatListDescriptor": {
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "properties": {
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "description": "The entry types contained in the list."
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type targeted by the list's entries.",
          "type": "string"
        },
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "description": "The threat type posed by the list's entries."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatListDescriptor",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints": {
      "type": "object",
      "description": "The constraints for this update.",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints",
      "properties": {
        "deviceLocation": {
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code.",
          "type": "string"
        },
        "maxUpdateEntries": {
          "type": "integer",
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set.",
          "format": "int32"
        },
        "supportedCompressions": {
          "description": "The compression types supported by the client.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ]
          }
        },
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format."
        },
        "maxDatabaseEntries": {
          "format": "int32",
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
          "type": "integer"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntry": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntry",
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set.",
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL."
        },
        "digest": {
          "type": "string",
          "format": "byte",
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded."
        },
        "hash": {
          "format": "byte",
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatHit": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatHit",
      "properties": {
        "threatType": {
          "description": "The threat type reported.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        },
        "userInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatHitUserInfo",
          "description": "Details about the user that encountered the threat."
        },
        "clientInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "Client-reported identification."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHitThreatSource"
          },
          "description": "The resources related to the threat hit."
        },
        "entry": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry",
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits."
        },
        "platformType": {
          "description": "The platform type reported.",
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        }
      }
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest": {
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest",
      "properties": {
        "listUpdateRequests": {
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
          },
          "description": "The requested threat list updates."
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FindFullHashesResponse": {
      "id": "GoogleSecuritySafebrowsingV4FindFullHashesResponse",
      "properties": {
        "negativeCacheDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "For requested entities that did not match the threat list, how long to cache the response."
        },
        "minimumWaitDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want."
        },
        "matches": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          },
          "description": "The full hashes that matched the requested prefixes.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse": {
      "properties": {
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "description": "The platform type for which data is returned.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ]
        },
        "additions": {
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "type": "array",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          }
        },
        "threatEntryType": {
          "description": "The format of the threats.",
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "newClientState": {
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "format": "byte",
          "type": "string"
        },
        "checksum": {
          "$ref": "GoogleSecuritySafebrowsingV4Checksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later."
        },
        "responseType": {
          "description": "The type of response. This may indicate that an action is required by the client when the response is received.",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "type": "string",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ]
        },
        "threatType": {
          "description": "The threat type for which data is returned.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ]
        },
        "removals": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
          },
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "type": "array"
        }
      },
      "description": "An update to an individual list.",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse": {
      "properties": {
        "matches": {
          "description": "The threat list matches.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatMatch"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest": {
      "description": "A single list update request.",
      "type": "object",
      "properties": {
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The type of platform at risk by entries present in the list.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string"
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The types of entries present in the list.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string"
        },
        "threatType": {
          "description": "The type of threat posed by entries present in the list.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ]
        },
        "constraints": {
          "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequestConstraints",
          "description": "The constraints associated with this request."
        },
        "state": {
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update).",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequestListUpdateRequest"
    },
    "GoogleSecuritySafebrowsingV4ThreatMatch": {
      "properties": {
        "threatEntryType": {
          "type": "string",
          "description": "The threat entry type matching this threat.",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        },
        "threatType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The threat type matching this threat.",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        },
        "threatEntryMetadata": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
          "description": "Optional metadata associated with this threat."
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "description": "The platform type matching this threat.",
          "type": "string"
        },
        "cacheDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives."
        },
        "threat": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry",
          "description": "The threat matching this threat."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ThreatMatch",
      "type": "object",
      "description": "A match when checking a threat entry in the Safe Browsing threat lists."
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadata": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
          },
          "type": "array",
          "description": "The metadata entries."
        }
      },
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadata",
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type."
    },
    "GoogleSecuritySafebrowsingV4ThreatInfo": {
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatInfo",
      "properties": {
        "threatEntryTypes": {
          "type": "array",
          "description": "The entry types to be checked.",
          "items": {
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ],
            "type": "string"
          }
        },
        "platformTypes": {
          "type": "array",
          "description": "The platform types to be checked.",
          "items": {
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ]
          }
        },
        "threatTypes": {
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat list.",
              "Safe list to ship hashes of known safe URL expressions."
            ],
            "type": "string"
          },
          "description": "The threat types to be checked.",
          "type": "array"
        },
        "threatEntries": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatEntry"
          },
          "type": "array",
          "description": "The threat entries to be checked."
        }
      }
    },
    "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry": {
      "properties": {
        "key": {
          "type": "string",
          "format": "byte",
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded."
        }
      },
      "type": "object",
      "description": "A single metadata entry.",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntryMetadataMetadataEntry"
    },
    "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse": {
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse",
      "properties": {
        "listUpdateResponses": {
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponseListUpdateResponse"
          },
          "type": "array",
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list."
        },
        "minimumWaitDuration": {
          "format": "google-duration",
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want.",
          "type": "string"
        }
      }
    },
    "GoogleSecuritySafebrowsingV4Checksum": {
      "id": "GoogleSecuritySafebrowsingV4Checksum",
      "description": "The expected state of a client's local database.",
      "properties": {
        "sha256": {
          "format": "byte",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ListThreatListsResponse": {
      "properties": {
        "threatLists": {
          "description": "The lists available for download by the client.",
          "items": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatListDescriptor"
          },
          "type": "array"
        }
      },
      "id": "GoogleSecuritySafebrowsingV4ListThreatListsResponse",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ClientInfo": {
      "type": "object",
      "properties": {
        "clientId": {
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
          "type": "string"
        },
        "clientVersion": {
          "type": "string",
          "description": "The version of the client implementation."
        }
      },
      "description": "The client metadata associated with Safe Browsing API requests.",
      "id": "GoogleSecuritySafebrowsingV4ClientInfo"
    },
    "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest": {
      "description": "Request to check entries against lists.",
      "properties": {
        "threatInfo": {
          "$ref": "GoogleSecuritySafebrowsingV4ThreatInfo",
          "description": "The lists and entries to be checked for matches."
        },
        "client": {
          "$ref": "GoogleSecuritySafebrowsingV4ClientInfo",
          "description": "The client metadata."
        }
      },
      "id": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest",
      "type": "object"
    },
    "GoogleSecuritySafebrowsingV4ThreatEntrySet": {
      "properties": {
        "rawHashes": {
          "description": "The raw SHA256-formatted entries.",
          "$ref": "GoogleSecuritySafebrowsingV4RawHashes"
        },
        "compressionType": {
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "description": "The compression type for the entries in this set.",
          "type": "string",
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ]
        },
        "riceIndices": {
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding",
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleSecuritySafebrowsingV4RiceDeltaEncoding"
        },
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "GoogleSecuritySafebrowsingV4RawIndices"
        }
      },
      "description": "A set of threats that should be added or removed from a client's local database.",
      "type": "object",
      "id": "GoogleSecuritySafebrowsingV4ThreatEntrySet"
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "servicePath": "",
  "batchPath": "batch",
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "version_module": true,
  "revision": "20210208",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Safe Browsing API",
  "resources": {
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "flatPath": "v4/threatListUpdates:fetch",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesRequest"
          },
          "path": "v4/threatListUpdates:fetch",
          "id": "safebrowsing.threatListUpdates.fetch",
          "parameters": {},
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "httpMethod": "POST"
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "httpMethod": "GET",
          "id": "safebrowsing.encodedFullHashes.get",
          "description": "",
          "parameterOrder": [
            "encodedRequest"
          ],
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "parameters": {
            "encodedRequest": {
              "format": "byte",
              "type": "string",
              "required": true,
              "description": "A serialized FindFullHashesRequest proto.",
              "location": "path"
            },
            "clientVersion": {
              "description": "The version of the client implementation.",
              "location": "query",
              "type": "string"
            },
            "clientId": {
              "type": "string",
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "location": "query"
            }
          }
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "description": "",
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "parameterOrder": [
            "encodedRequest"
          ],
          "parameters": {
            "clientId": {
              "type": "string",
              "location": "query",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API."
            },
            "clientVersion": {
              "type": "string",
              "location": "query",
              "description": "The version of the client implementation."
            },
            "encodedRequest": {
              "description": "A serialized FetchThreatListUpdatesRequest proto.",
              "location": "path",
              "format": "byte",
              "required": true,
              "type": "string"
            }
          },
          "id": "safebrowsing.encodedUpdates.get",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FetchThreatListUpdatesResponse"
          },
          "httpMethod": "GET",
          "path": "v4/encodedUpdates/{encodedRequest}"
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "path": "v4/threatHits",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v4/threatHits",
          "id": "safebrowsing.threatHits.create",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4ThreatHit"
          },
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method."
        }
      }
    },
    "threatLists": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {},
          "description": "Lists the Safe Browsing threat lists available for download.",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4ListThreatListsResponse"
          },
          "id": "safebrowsing.threatLists.list",
          "flatPath": "v4/threatLists",
          "path": "v4/threatLists",
          "parameterOrder": []
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "httpMethod": "POST",
          "path": "v4/threatMatches:find",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesRequest"
          },
          "parameters": {},
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "id": "safebrowsing.threatMatches.find",
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindThreatMatchesResponse"
          },
          "flatPath": "v4/threatMatches:find"
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "id": "safebrowsing.fullHashes.find",
          "request": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesRequest"
          },
          "response": {
            "$ref": "GoogleSecuritySafebrowsingV4FindFullHashesResponse"
          },
          "path": "v4/fullHashes:find",
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "parameterOrder": [],
          "flatPath": "v4/fullHashes:find",
          "parameters": {},
          "httpMethod": "POST"
        }
      }
    }
  },
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "protocol": "rest"
}
