{
  "baseUrl": "https://safebrowsing.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "title": "Safe Browsing API",
  "mtlsRootUrl": "https://safebrowsing.mtls.googleapis.com/",
  "id": "safebrowsing:v4",
  "revision": "20210213",
  "version_module": true,
  "canonicalName": "Safebrowsing",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "documentationLink": "https://developers.google.com/safe-browsing/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://safebrowsing.googleapis.com/",
  "name": "safebrowsing",
  "description": "Enables client applications to check web resources (most commonly URLs) against Google-generated lists of unsafe web resources. The Safe Browsing APIs are for non-commercial use only. If you need to use APIs to detect malicious URLs for commercial purposes – meaning “for sale or revenue-generating purposes” – please refer to the Web Risk API.",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    }
  },
  "batchPath": "batch",
  "resources": {
    "threatLists": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListThreatListsResponse"
          },
          "description": "Lists the Safe Browsing threat lists available for download.",
          "flatPath": "v4/threatLists",
          "parameterOrder": [],
          "parameters": {},
          "id": "safebrowsing.threatLists.list",
          "httpMethod": "GET",
          "path": "v4/threatLists"
        }
      }
    },
    "threatListUpdates": {
      "methods": {
        "fetch": {
          "path": "v4/threatListUpdates:fetch",
          "request": {
            "$ref": "FetchThreatListUpdatesRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "description": "Fetches the most recent threat list updates. A client can request updates for multiple lists at once.",
          "id": "safebrowsing.threatListUpdates.fetch",
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v4/threatListUpdates:fetch"
        }
      }
    },
    "threatHits": {
      "methods": {
        "create": {
          "request": {
            "$ref": "ThreatHit"
          },
          "parameterOrder": [],
          "description": "Reports a Safe Browsing threat list hit to Google. Only projects with TRUSTED_REPORTER visibility can use this method.",
          "flatPath": "v4/threatHits",
          "path": "v4/threatHits",
          "parameters": {},
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "id": "safebrowsing.threatHits.create"
        }
      }
    },
    "encodedUpdates": {
      "methods": {
        "get": {
          "id": "safebrowsing.encodedUpdates.get",
          "description": "",
          "response": {
            "$ref": "FetchThreatListUpdatesResponse"
          },
          "flatPath": "v4/encodedUpdates/{encodedRequest}",
          "path": "v4/encodedUpdates/{encodedRequest}",
          "parameterOrder": [
            "encodedRequest"
          ],
          "parameters": {
            "clientVersion": {
              "description": "The version of the client implementation.",
              "location": "query",
              "type": "string"
            },
            "encodedRequest": {
              "location": "path",
              "format": "byte",
              "type": "string",
              "required": true,
              "description": "A serialized FetchThreatListUpdatesRequest proto."
            },
            "clientId": {
              "location": "query",
              "type": "string",
              "description": "A client ID that uniquely identifies the client implementation of the Safe Browsing API."
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "threatMatches": {
      "methods": {
        "find": {
          "httpMethod": "POST",
          "id": "safebrowsing.threatMatches.find",
          "parameterOrder": [],
          "description": "Finds the threat entries that match the Safe Browsing lists.",
          "request": {
            "$ref": "FindThreatMatchesRequest"
          },
          "response": {
            "$ref": "FindThreatMatchesResponse"
          },
          "parameters": {},
          "path": "v4/threatMatches:find",
          "flatPath": "v4/threatMatches:find"
        }
      }
    },
    "fullHashes": {
      "methods": {
        "find": {
          "request": {
            "$ref": "FindFullHashesRequest"
          },
          "flatPath": "v4/fullHashes:find",
          "description": "Finds the full hashes that match the requested hash prefixes.",
          "id": "safebrowsing.fullHashes.find",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "path": "v4/fullHashes:find",
          "response": {
            "$ref": "FindFullHashesResponse"
          }
        }
      }
    },
    "encodedFullHashes": {
      "methods": {
        "get": {
          "description": "",
          "parameterOrder": [
            "encodedRequest"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FindFullHashesResponse"
          },
          "parameters": {
            "clientVersion": {
              "type": "string",
              "location": "query",
              "description": "The version of the client implementation."
            },
            "clientId": {
              "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API.",
              "type": "string",
              "location": "query"
            },
            "encodedRequest": {
              "format": "byte",
              "description": "A serialized FindFullHashesRequest proto.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v4/encodedFullHashes/{encodedRequest}",
          "flatPath": "v4/encodedFullHashes/{encodedRequest}",
          "id": "safebrowsing.encodedFullHashes.get"
        }
      }
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "ThreatEntrySet": {
      "description": "A set of threats that should be added or removed from a client's local database.",
      "id": "ThreatEntrySet",
      "properties": {
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "RawIndices"
        },
        "riceIndices": {
          "$ref": "RiceDeltaEncoding",
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "rawHashes": {
          "description": "The raw SHA256-formatted entries.",
          "$ref": "RawHashes"
        },
        "compressionType": {
          "enum": [
            "COMPRESSION_TYPE_UNSPECIFIED",
            "RAW",
            "RICE"
          ],
          "description": "The compression type for the entries in this set.",
          "enumDescriptions": [
            "Unknown.",
            "Raw, uncompressed data.",
            "Rice-Golomb encoded data."
          ],
          "type": "string"
        },
        "riceHashes": {
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "RiceDeltaEncoding"
        }
      },
      "type": "object"
    },
    "ListThreatListsResponse": {
      "properties": {
        "threatLists": {
          "items": {
            "$ref": "ThreatListDescriptor"
          },
          "description": "The lists available for download by the client.",
          "type": "array"
        }
      },
      "id": "ListThreatListsResponse",
      "type": "object"
    },
    "ThreatEntry": {
      "properties": {
        "url": {
          "description": "A URL.",
          "type": "string"
        },
        "digest": {
          "format": "byte",
          "type": "string",
          "description": "The digest of an executable in SHA256 format. The API supports both binary and hex digests. For JSON requests, digests are base64-encoded."
        },
        "hash": {
          "format": "byte",
          "type": "string",
          "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded."
        }
      },
      "id": "ThreatEntry",
      "type": "object",
      "description": "An individual threat; for example, a malicious URL or its hash representation. Only one of these fields should be set."
    },
    "RawIndices": {
      "id": "RawIndices",
      "type": "object",
      "properties": {
        "indices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "type": "array"
        }
      },
      "description": "A set of raw indices to remove from a local list."
    },
    "ListUpdateRequest": {
      "description": "A single list update request.",
      "properties": {
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "description": "The type of platform at risk by entries present in the list.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "threatType": {
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "description": "The type of threat posed by entries present in the list.",
          "type": "string"
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string",
          "description": "The types of entries present in the list."
        },
        "constraints": {
          "$ref": "Constraints",
          "description": "The constraints associated with this request."
        },
        "state": {
          "format": "byte",
          "type": "string",
          "description": "The current state of the client for the requested list (the encrypted client state that was received from the last successful list update)."
        }
      },
      "type": "object",
      "id": "ListUpdateRequest"
    },
    "ThreatHit": {
      "properties": {
        "resources": {
          "type": "array",
          "description": "The resources related to the threat hit.",
          "items": {
            "$ref": "ThreatSource"
          }
        },
        "userInfo": {
          "$ref": "UserInfo",
          "description": "Details about the user that encountered the threat."
        },
        "clientInfo": {
          "$ref": "ClientInfo",
          "description": "Client-reported identification."
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string",
          "description": "The platform type reported."
        },
        "entry": {
          "$ref": "ThreatEntry",
          "description": "The threat entry responsible for the hit. Full hash should be reported for hash-based hits."
        },
        "threatType": {
          "description": "The threat type reported.",
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ]
        }
      },
      "id": "ThreatHit",
      "type": "object"
    },
    "FindFullHashesRequest": {
      "properties": {
        "apiClient": {
          "description": "Client metadata associated with callers of higher-level APIs built on top of the client's implementation.",
          "$ref": "ClientInfo"
        },
        "clientStates": {
          "type": "array",
          "description": "The current client states for each of the client's local threat lists.",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "client": {
          "description": "The client metadata.",
          "$ref": "ClientInfo"
        },
        "threatInfo": {
          "$ref": "ThreatInfo",
          "description": "The lists and hashes to be checked."
        }
      },
      "type": "object",
      "id": "FindFullHashesRequest",
      "description": "Request to return full hashes matched by the provided hash prefixes."
    },
    "ThreatMatch": {
      "type": "object",
      "properties": {
        "threatType": {
          "type": "string",
          "description": "The threat type matching this threat.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The threat entry type matching this threat.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ],
          "type": "string"
        },
        "threatEntryMetadata": {
          "$ref": "ThreatEntryMetadata",
          "description": "Optional metadata associated with this threat."
        },
        "cacheDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The cache lifetime for the returned match. Clients must not cache this response for more than this duration to avoid false positives."
        },
        "threat": {
          "$ref": "ThreatEntry",
          "description": "The threat matching this threat."
        },
        "platformType": {
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "type": "string",
          "description": "The platform type matching this threat.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        }
      },
      "id": "ThreatMatch",
      "description": "A match when checking a threat entry in the Safe Browsing threat lists."
    },
    "UserInfo": {
      "properties": {
        "regionCode": {
          "description": "The UN M.49 region code associated with the user's location.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Unique user identifier defined by the client.",
          "format": "byte"
        }
      },
      "description": "Details about the user that encountered the threat.",
      "id": "UserInfo",
      "type": "object"
    },
    "ClientInfo": {
      "id": "ClientInfo",
      "type": "object",
      "description": "The client metadata associated with Safe Browsing API requests.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "A client ID that (hopefully) uniquely identifies the client implementation of the Safe Browsing API."
        },
        "clientVersion": {
          "type": "string",
          "description": "The version of the client implementation."
        }
      }
    },
    "FindFullHashesResponse": {
      "type": "object",
      "properties": {
        "negativeCacheDuration": {
          "description": "For requested entities that did not match the threat list, how long to cache the response.",
          "format": "google-duration",
          "type": "string"
        },
        "matches": {
          "items": {
            "$ref": "ThreatMatch"
          },
          "type": "array",
          "description": "The full hashes that matched the requested prefixes."
        },
        "minimumWaitDuration": {
          "type": "string",
          "description": "The minimum duration the client must wait before issuing any find hashes request. If this field is not set, clients can issue a request as soon as they want.",
          "format": "google-duration"
        }
      },
      "id": "FindFullHashesResponse"
    },
    "ListUpdateResponse": {
      "description": "An update to an individual list.",
      "properties": {
        "responseType": {
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL_UPDATE",
            "FULL_UPDATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates replace the client's entire local database. This means that either the client was seriously out-of-date or the client is believed to be corrupt."
          ],
          "description": "The type of response. This may indicate that an action is required by the client when the response is received."
        },
        "platformType": {
          "description": "The platform type for which data is returned.",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ],
          "type": "string"
        },
        "additions": {
          "type": "array",
          "description": "A set of entries to add to a local threat type's list. Repeated to allow for a combination of compressed and raw data to be sent in a single response.",
          "items": {
            "$ref": "ThreatEntrySet"
          }
        },
        "threatType": {
          "description": "The threat type for which data is returned.",
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ]
        },
        "checksum": {
          "$ref": "Checksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided update. If the client state doesn't match the expected state, the client must disregard this update and retry later."
        },
        "removals": {
          "description": "A set of entries to remove from a local threat type's list. In practice, this field is empty or contains exactly one ThreatEntrySet.",
          "items": {
            "$ref": "ThreatEntrySet"
          },
          "type": "array"
        },
        "newClientState": {
          "type": "string",
          "description": "The new client state, in encrypted format. Opaque to clients.",
          "format": "byte"
        },
        "threatEntryType": {
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "type": "string",
          "description": "The format of the threats.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        }
      },
      "id": "ListUpdateResponse",
      "type": "object"
    },
    "ThreatInfo": {
      "type": "object",
      "properties": {
        "threatTypes": {
          "description": "The threat types to be checked.",
          "items": {
            "type": "string",
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "POTENTIALLY_HARMFUL_APPLICATION",
              "SOCIAL_ENGINEERING_INTERNAL",
              "API_ABUSE",
              "MALICIOUS_BINARY",
              "CSD_WHITELIST",
              "CSD_DOWNLOAD_WHITELIST",
              "CLIENT_INCIDENT",
              "CLIENT_INCIDENT_WHITELIST",
              "APK_MALWARE_OFFLINE",
              "SUBRESOURCE_FILTER",
              "SUSPICIOUS",
              "TRICK_TO_BILL",
              "HIGH_CONFIDENCE_ALLOWLIST"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Malware threat type.",
              "Social engineering threat type.",
              "Unwanted software threat type.",
              "Potentially harmful application threat type.",
              "Social engineering threat type for internal use.",
              "API abuse threat type.",
              "Malicious binary threat type.",
              "Client side detection whitelist threat type.",
              "Client side download detection whitelist threat type.",
              "Client incident threat type.",
              "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
              "List used for offline APK checks in PAM.",
              "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
              "Entities that are suspected to present a threat.",
              "Trick-to-bill threat list.",
              "Safe list to ship hashes of known safe URL expressions."
            ]
          },
          "type": "array"
        },
        "threatEntryTypes": {
          "type": "array",
          "items": {
            "enum": [
              "THREAT_ENTRY_TYPE_UNSPECIFIED",
              "URL",
              "EXECUTABLE",
              "IP_RANGE",
              "CHROME_EXTENSION",
              "FILENAME",
              "CERT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "A URL.",
              "An executable program.",
              "An IP range.",
              "Chrome extension.",
              "Filename.",
              "CERT"
            ]
          },
          "description": "The entry types to be checked."
        },
        "threatEntries": {
          "items": {
            "$ref": "ThreatEntry"
          },
          "description": "The threat entries to be checked.",
          "type": "array"
        },
        "platformTypes": {
          "items": {
            "enumDescriptions": [
              "Unknown platform.",
              "Threat posed to Windows.",
              "Threat posed to Linux.",
              "Threat posed to Android.",
              "Threat posed to OS X.",
              "Threat posed to iOS.",
              "Threat posed to at least one of the defined platforms.",
              "Threat posed to all defined platforms.",
              "Threat posed to Chrome."
            ],
            "type": "string",
            "enum": [
              "PLATFORM_TYPE_UNSPECIFIED",
              "WINDOWS",
              "LINUX",
              "ANDROID",
              "OSX",
              "IOS",
              "ANY_PLATFORM",
              "ALL_PLATFORMS",
              "CHROME"
            ]
          },
          "type": "array",
          "description": "The platform types to be checked."
        }
      },
      "description": "The information regarding one or more threats that a client submits when checking for matches in threat lists.",
      "id": "ThreatInfo"
    },
    "FindThreatMatchesResponse": {
      "properties": {
        "matches": {
          "type": "array",
          "description": "The threat list matches.",
          "items": {
            "$ref": "ThreatMatch"
          }
        }
      },
      "type": "object",
      "id": "FindThreatMatchesResponse"
    },
    "Checksum": {
      "properties": {
        "sha256": {
          "type": "string",
          "format": "byte",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database."
        }
      },
      "description": "The expected state of a client's local database.",
      "type": "object",
      "id": "Checksum"
    },
    "FindThreatMatchesRequest": {
      "id": "FindThreatMatchesRequest",
      "type": "object",
      "description": "Request to check entries against lists.",
      "properties": {
        "client": {
          "description": "The client metadata.",
          "$ref": "ClientInfo"
        },
        "threatInfo": {
          "$ref": "ThreatInfo",
          "description": "The lists and entries to be checked for matches."
        }
      }
    },
    "RiceDeltaEncoding": {
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "properties": {
        "riceParameter": {
          "type": "integer",
          "format": "int32",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero."
        },
        "firstValue": {
          "format": "int64",
          "type": "string",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero."
        },
        "numEntries": {
          "format": "int32",
          "type": "integer",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`."
        },
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "RiceDeltaEncoding",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "FetchThreatListUpdatesResponse": {
      "properties": {
        "minimumWaitDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The minimum duration the client must wait before issuing any update request. If this field is not set clients may update as soon as they want."
        },
        "listUpdateResponses": {
          "description": "The list updates requested by the clients. The number of responses here may be less than the number of requests sent by clients. This is the case, for example, if the server has no updates for a particular list.",
          "items": {
            "$ref": "ListUpdateResponse"
          },
          "type": "array"
        }
      },
      "id": "FetchThreatListUpdatesResponse",
      "type": "object"
    },
    "Constraints": {
      "id": "Constraints",
      "properties": {
        "region": {
          "type": "string",
          "description": "Requests the list for a specific geographic location. If not set the server may pick that value based on the user's IP address. Expects ISO 3166-1 alpha-2 format."
        },
        "supportedCompressions": {
          "items": {
            "enum": [
              "COMPRESSION_TYPE_UNSPECIFIED",
              "RAW",
              "RICE"
            ],
            "enumDescriptions": [
              "Unknown.",
              "Raw, uncompressed data.",
              "Rice-Golomb encoded data."
            ],
            "type": "string"
          },
          "description": "The compression types supported by the client.",
          "type": "array"
        },
        "deviceLocation": {
          "type": "string",
          "description": "A client's physical location, expressed as a ISO 31166-1 alpha-2 region code."
        },
        "maxDatabaseEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the maximum number of entries that the client is willing to have in the local database for the specified list. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set."
        },
        "maxUpdateEntries": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum size in number of entries. The update will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no update size limit is set."
        },
        "language": {
          "description": "Requests the lists for a specific language. Expects ISO 639 alpha-2 format.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The constraints for this update."
    },
    "ThreatListDescriptor": {
      "description": "Describes an individual threat list. A list is defined by three parameters: the type of threat posed, the type of platform targeted by the threat, and the type of entries in the list.",
      "type": "object",
      "id": "ThreatListDescriptor",
      "properties": {
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown platform.",
            "Threat posed to Windows.",
            "Threat posed to Linux.",
            "Threat posed to Android.",
            "Threat posed to OS X.",
            "Threat posed to iOS.",
            "Threat posed to at least one of the defined platforms.",
            "Threat posed to all defined platforms.",
            "Threat posed to Chrome."
          ],
          "description": "The platform type targeted by the list's entries.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "LINUX",
            "ANDROID",
            "OSX",
            "IOS",
            "ANY_PLATFORM",
            "ALL_PLATFORMS",
            "CHROME"
          ]
        },
        "threatType": {
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "MALWARE",
            "SOCIAL_ENGINEERING",
            "UNWANTED_SOFTWARE",
            "POTENTIALLY_HARMFUL_APPLICATION",
            "SOCIAL_ENGINEERING_INTERNAL",
            "API_ABUSE",
            "MALICIOUS_BINARY",
            "CSD_WHITELIST",
            "CSD_DOWNLOAD_WHITELIST",
            "CLIENT_INCIDENT",
            "CLIENT_INCIDENT_WHITELIST",
            "APK_MALWARE_OFFLINE",
            "SUBRESOURCE_FILTER",
            "SUSPICIOUS",
            "TRICK_TO_BILL",
            "HIGH_CONFIDENCE_ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Malware threat type.",
            "Social engineering threat type.",
            "Unwanted software threat type.",
            "Potentially harmful application threat type.",
            "Social engineering threat type for internal use.",
            "API abuse threat type.",
            "Malicious binary threat type.",
            "Client side detection whitelist threat type.",
            "Client side download detection whitelist threat type.",
            "Client incident threat type.",
            "Whitelist used when detecting client incident threats. This enum was never launched and should be re-used for the next list.",
            "List used for offline APK checks in PAM.",
            "Patterns to be used for activating the subresource filter. Interstitial will not be shown for patterns from this list.",
            "Entities that are suspected to present a threat.",
            "Trick-to-bill threat list.",
            "Safe list to ship hashes of known safe URL expressions."
          ],
          "description": "The threat type posed by the list's entries."
        },
        "threatEntryType": {
          "type": "string",
          "enum": [
            "THREAT_ENTRY_TYPE_UNSPECIFIED",
            "URL",
            "EXECUTABLE",
            "IP_RANGE",
            "CHROME_EXTENSION",
            "FILENAME",
            "CERT"
          ],
          "description": "The entry types contained in the list.",
          "enumDescriptions": [
            "Unspecified.",
            "A URL.",
            "An executable program.",
            "An IP range.",
            "Chrome extension.",
            "Filename.",
            "CERT"
          ]
        }
      }
    },
    "FetchThreatListUpdatesRequest": {
      "type": "object",
      "properties": {
        "client": {
          "$ref": "ClientInfo",
          "description": "The client metadata."
        },
        "listUpdateRequests": {
          "type": "array",
          "items": {
            "$ref": "ListUpdateRequest"
          },
          "description": "The requested threat list updates."
        }
      },
      "id": "FetchThreatListUpdatesRequest",
      "description": "Describes a Safe Browsing API update request. Clients can request updates for multiple lists in a single request. The server may not respond to all requests, if the server has no updates for that list. NOTE: Field index 2 is unused. NEXT: 5"
    },
    "RawHashes": {
      "description": "The uncompressed threat entries in hash format of a particular prefix length. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URL. Used for sending ThreatEntrySet to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "type": "object",
      "properties": {
        "prefixSize": {
          "type": "integer",
          "format": "int32",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash)."
        },
        "rawHashes": {
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "RawHashes"
    },
    "ThreatSource": {
      "description": "A single resource related to a threat hit.",
      "id": "ThreatSource",
      "properties": {
        "remoteIp": {
          "description": "The remote IP of the resource in ASCII format. Either IPv4 or IPv6.",
          "type": "string"
        },
        "referrer": {
          "description": "Referrer of the resource. Only set if the referrer is available.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the resource."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "The URL that matched the threat list (for which GetFullHash returned a valid hash).",
            "The final top-level URL of the tab that the client was browsing when the match occurred.",
            "A redirect URL that was fetched before hitting the final TAB_URL.",
            "A resource loaded within the final TAB_URL."
          ],
          "description": "The type of source reported.",
          "enum": [
            "THREAT_SOURCE_TYPE_UNSPECIFIED",
            "MATCHING_URL",
            "TAB_URL",
            "TAB_REDIRECT",
            "TAB_RESOURCE"
          ]
        }
      },
      "type": "object"
    },
    "MetadataEntry": {
      "type": "object",
      "id": "MetadataEntry",
      "description": "A single metadata entry.",
      "properties": {
        "key": {
          "type": "string",
          "format": "byte",
          "description": "The metadata entry key. For JSON requests, the key is base64-encoded."
        },
        "value": {
          "format": "byte",
          "type": "string",
          "description": "The metadata entry value. For JSON requests, the value is base64-encoded."
        }
      }
    },
    "ThreatEntryMetadata": {
      "id": "ThreatEntryMetadata",
      "description": "The metadata associated with a specific threat entry. The client is expected to know the metadata key/value pairs associated with each threat type.",
      "properties": {
        "entries": {
          "description": "The metadata entries.",
          "type": "array",
          "items": {
            "$ref": "MetadataEntry"
          }
        }
      },
      "type": "object"
    }
  },
  "version": "v4"
}
