{
  "protocol": "rest",
  "description": "Provides automatic management of network configurations necessary for certain services.",
  "id": "servicenetworking:v1",
  "rootUrl": "https://servicenetworking.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/service.management": {
          "description": "Manage your Google API service configuration"
        }
      }
    }
  },
  "title": "Service Networking API",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "revision": "20201208",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "name": "servicenetworking",
  "mtlsRootUrl": "https://servicenetworking.mtls.googleapis.com/",
  "version": "v1",
  "ownerName": "Google",
  "baseUrl": "https://servicenetworking.googleapis.com/",
  "version_module": true,
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The standard list page token.",
              "location": "query"
            },
            "filter": {
              "description": "The standard list filter.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^operations$",
              "description": "The name of the operation's parent resource.",
              "required": true
            },
            "pageSize": {
              "type": "integer",
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32"
            }
          },
          "flatPath": "v1/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "httpMethod": "GET",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
          "path": "v1/{+name}",
          "id": "servicenetworking.operations.list"
        },
        "get": {
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/[^/]+$",
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true
            }
          },
          "id": "servicenetworking.operations.get",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "cancel": {
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "id": "servicenetworking.operations.cancel",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource to be cancelled."
            }
          },
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "flatPath": "v1/operations/{operationsId}:cancel",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "path": "v1/{+name}:cancel"
        },
        "delete": {
          "id": "servicenetworking.operations.delete",
          "path": "v1/{+name}",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^operations/.*$",
              "type": "string",
              "description": "The name of the operation resource to be deleted."
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ]
        }
      }
    },
    "services": {
      "methods": {
        "addSubnetwork": {
          "path": "v1/{+parent}:addSubnetwork",
          "flatPath": "v1/services/{servicesId}/{servicesId1}/{servicesId2}:addSubnetwork",
          "httpMethod": "POST",
          "id": "servicenetworking.services.addSubnetwork",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "description": "For service producers, provisions a new subnet in a peered service's shared VPC network in the requested region and with the requested size that's expressed as a CIDR range (number of leading bits of ipV4 network mask). The method checks against the assigned allocated ranges to find a non-conflicting IP address range. The method will reuse a subnet if subsequent calls contain the same subnet name, region, and prefix length. This method will make producer's tenant project to be a shared VPC service project as needed.",
          "request": {
            "$ref": "AddSubnetworkRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "parent": {
              "pattern": "^services/[^/]+/[^/]+/[^/]+$",
              "location": "path",
              "description": "Required. A tenant project in the service producer organization, in the following format: services/{service}/{collection-id}/{resource-id}. {collection-id} is the cloud resource collection type that represents the tenant project. Only `projects` are supported. {resource-id} is the tenant project numeric id, such as `123456`. {service} the name of the peering service, such as `service-peering.example.com`. This service must already be enabled in the service consumer's project.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "searchRange": {
          "path": "v1/{+parent}:searchRange",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "flatPath": "v1/services/{servicesId}:searchRange",
          "id": "servicenetworking.services.searchRange",
          "httpMethod": "POST",
          "request": {
            "$ref": "SearchRangeRequest"
          },
          "description": "Service producers can use this method to find a currently unused range within consumer allocated ranges. This returned range is not reserved, and not guaranteed to remain unused. It will validate previously provided allocated ranges, find non-conflicting sub-range of requested size (expressed in number of leading bits of ipv4 network mask, as in CIDR range notation).",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. This is in a form services/{service}. {service} the name of the private access management service, for example 'service-peering.example.com'.",
              "type": "string",
              "required": true,
              "pattern": "^services/[^/]+$"
            }
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "validate": {
          "httpMethod": "POST",
          "response": {
            "$ref": "ValidateConsumerConfigResponse"
          },
          "parameters": {
            "parent": {
              "pattern": "^services/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. This is in a form services/{service} where {service} is the name of the private access management service. For example 'service-peering.example.com'."
            }
          },
          "request": {
            "$ref": "ValidateConsumerConfigRequest"
          },
          "flatPath": "v1/services/{servicesId}:validate",
          "path": "v1/{+parent}:validate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "id": "servicenetworking.services.validate",
          "description": "Service producers use this method to validate if the consumer provided network, project and requested range are valid. This allows them to use a fail-fast mechanism for consumer requests, and not have to wait for AddSubnetwork operation completion to determine if user request is invalid.",
          "parameterOrder": [
            "parent"
          ]
        },
        "disableVpcServiceControls": {
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "description": "Disables VPC service controls for a connection.",
          "id": "servicenetworking.services.disableVpcServiceControls",
          "flatPath": "v1/services/{servicesId}:disableVpcServiceControls",
          "request": {
            "$ref": "DisableVpcServiceControlsRequest"
          },
          "path": "v1/{+parent}:disableVpcServiceControls",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "description": "The service that is managing peering connectivity for a service producer's organization. For Google services that support this functionality, this value is `services/servicenetworking.googleapis.com`.",
              "pattern": "^services/[^/]+$",
              "required": true
            }
          }
        },
        "enableVpcServiceControls": {
          "id": "servicenetworking.services.enableVpcServiceControls",
          "description": "Enables VPC service controls for a connection.",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "The service that is managing peering connectivity for a service producer's organization. For Google services that support this functionality, this value is `services/servicenetworking.googleapis.com`.",
              "pattern": "^services/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/service.management"
          ],
          "request": {
            "$ref": "EnableVpcServiceControlsRequest"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/services/{servicesId}:enableVpcServiceControls",
          "path": "v1/{+parent}:enableVpcServiceControls",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          }
        }
      },
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^services/[^/]+$",
                  "required": true,
                  "description": "The service that is managing peering connectivity for a service producer's organization. For Google services that support this functionality, this value is `services/servicenetworking.googleapis.com`. If you specify `services/-` as the parameter value, all configured peering services are listed.",
                  "type": "string",
                  "location": "path"
                },
                "network": {
                  "type": "string",
                  "description": "The name of service consumer's VPC network that's connected with service producer network through a private connection. The network name must be in the following format: `projects/{project}/global/networks/{network}`. {project} is a project number, such as in `12345` that includes the VPC service consumer's VPC network. {network} is the name of the service consumer's VPC network.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "flatPath": "v1/services/{servicesId}/connections",
              "id": "servicenetworking.services.connections.list",
              "httpMethod": "GET",
              "description": "List the private connections that are configured in a service consumer's VPC network.",
              "path": "v1/{+parent}/connections",
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "request": {
                "$ref": "Connection"
              },
              "path": "v1/{+parent}/connections",
              "parameterOrder": [
                "parent"
              ],
              "id": "servicenetworking.services.connections.create",
              "description": "Creates a private connection that establishes a VPC Network Peering connection to a VPC network in the service producer's organization. The administrator of the service consumer's VPC network invokes this method. The administrator must assign one or more allocated IP ranges for provisioning subnetworks in the service producer's VPC network. This connection is used for all supported services in the service producer's organization, so it only needs to be invoked once.",
              "flatPath": "v1/services/{servicesId}/connections",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "description": "The service that is managing peering connectivity for a service producer's organization. For Google services that support this functionality, this value is `services/servicenetworking.googleapis.com`.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^services/[^/]+$"
                }
              },
              "httpMethod": "POST"
            },
            "patch": {
              "parameters": {
                "name": {
                  "description": "The private service connection that connects to a service producer organization. The name includes both the private service name and the VPC network peering name in the format of `services/{peering_service_name}/connections/{vpc_peering_name}`. For Google services that support this functionality, this is `services/servicenetworking.googleapis.com/connections/servicenetworking-googleapis-com`.",
                  "pattern": "^services/[^/]+/connections/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The update mask. If this is omitted, it defaults to \"*\". You can only update the listed peering ranges.",
                  "type": "string"
                },
                "force": {
                  "type": "boolean",
                  "description": "If a previously defined allocated range is removed, force flag must be set to true.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the allocated ranges that are assigned to a connection.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Connection"
              },
              "id": "servicenetworking.services.connections.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "flatPath": "v1/services/{servicesId}/connections/{connectionsId}"
            }
          }
        },
        "roles": {
          "methods": {
            "add": {
              "id": "servicenetworking.services.roles.add",
              "request": {
                "$ref": "AddRolesRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^services/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. This is in a form services/{service} where {service} is the name of the private access management service. For example 'service-peering.example.com'."
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "path": "v1/{+parent}/roles:add",
              "description": "Service producers can use this method to add roles in the shared VPC host project. Each role is bound to the provided member. Each role must be selected from within an allowlisted set of roles. Each role is applied at only the granularity specified in the allowlist.",
              "flatPath": "v1/services/{servicesId}/roles:add",
              "httpMethod": "POST"
            }
          }
        },
        "dnsRecordSets": {
          "methods": {
            "remove": {
              "httpMethod": "POST",
              "description": "Service producers can use this method to remove DNS record sets from private DNS zones in the shared producer host project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "flatPath": "v1/services/{servicesId}/dnsRecordSets:remove",
              "id": "servicenetworking.services.dnsRecordSets.remove",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/dnsRecordSets:remove",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^services/[^/]+$",
                  "description": "Required. The service that is managing peering connectivity for a service producer's organization. For Google services that support this functionality, this value is `services/servicenetworking.googleapis.com`.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "RemoveDnsRecordSetRequest"
              }
            },
            "add": {
              "path": "v1/{+parent}/dnsRecordSets:add",
              "id": "servicenetworking.services.dnsRecordSets.add",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "AddDnsRecordSetRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The service that is managing peering connectivity for a service producer's organization. For Google services that support this functionality, this value is `services/servicenetworking.googleapis.com`.",
                  "type": "string",
                  "pattern": "^services/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "description": "Service producers can use this method to add DNS record sets to private DNS zones in the shared producer host project.",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/services/{servicesId}/dnsRecordSets:add"
            },
            "update": {
              "description": "Service producers can use this method to update DNS record sets from private DNS zones in the shared producer host project.",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "UpdateDnsRecordSetRequest"
              },
              "path": "v1/{+parent}/dnsRecordSets:update",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The service that is managing peering connectivity for a service producer's organization. For Google services that support this functionality, this value is `services/servicenetworking.googleapis.com`.",
                  "pattern": "^services/[^/]+$"
                }
              },
              "flatPath": "v1/services/{servicesId}/dnsRecordSets:update",
              "id": "servicenetworking.services.dnsRecordSets.update",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ]
            }
          }
        },
        "dnsZones": {
          "methods": {
            "remove": {
              "id": "servicenetworking.services.dnsZones.remove",
              "request": {
                "$ref": "RemoveDnsZoneRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/services/{servicesId}/dnsZones:remove",
              "path": "v1/{+parent}/dnsZones:remove",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^services/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The service that is managing peering connectivity for a service producer's organization. For Google services that support this functionality, this value is `services/servicenetworking.googleapis.com`."
                }
              },
              "description": "Service producers can use this method to remove private DNS zones in the shared producer host project and matching peering zones in the consumer project."
            },
            "add": {
              "parameters": {
                "parent": {
                  "description": "Required. The service that is managing peering connectivity for a service producer's organization. For Google services that support this functionality, this value is `services/servicenetworking.googleapis.com`.",
                  "pattern": "^services/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+parent}/dnsZones:add",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/service.management"
              ],
              "id": "servicenetworking.services.dnsZones.add",
              "flatPath": "v1/services/{servicesId}/dnsZones:add",
              "httpMethod": "POST",
              "description": "Service producers can use this method to add private DNS zones in the shared producer host project and matching peering zones in the consumer project.",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "AddDnsZoneRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "projects": {
          "resources": {
            "global": {
              "resources": {
                "networks": {
                  "methods": {
                    "updateConsumerConfig": {
                      "id": "servicenetworking.services.projects.global.networks.updateConsumerConfig",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                      ],
                      "path": "v1/{+parent}:updateConsumerConfig",
                      "request": {
                        "$ref": "UpdateConsumerConfigRequest"
                      },
                      "description": "Service producers use this method to update the configuration of their connection including the import/export of custom routes and subnetwork routes with public IP.",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^services/[^/]+/projects/[^/]+/global/networks/[^/]+$",
                          "description": "Required. Parent resource identifying the connection for which the consumer config is being updated in the format: `services/{service}/projects/{project}/global/networks/{network}` {service} is the peering service that is managing connectivity for the service producer's organization. For Google services that support this functionality, this value is `servicenetworking.googleapis.com`. {project} is the number of the project that contains the service consumer's VPC network e.g. `12345`. {network} is the name of the service consumer's VPC network.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/services/{servicesId}/projects/{projectsId}/global/networks/{networksId}:updateConsumerConfig",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^services/[^/]+/projects/[^/]+/global/networks/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the consumer config to retrieve in the format: `services/{service}/projects/{project}/global/networks/{network}`. {service} is the peering service that is managing connectivity for the service producer's organization. For Google services that support this functionality, this value is `servicenetworking.googleapis.com`. {project} is a project number e.g. `12345` that contains the service consumer's VPC network. {network} is the name of the service consumer's VPC network.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/services/{servicesId}/projects/{projectsId}/global/networks/{networksId}",
                      "response": {
                        "$ref": "ConsumerConfig"
                      },
                      "id": "servicenetworking.services.projects.global.networks.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/service.management"
                      ],
                      "description": "Service producers use this method to get the configuration of their connection including the import/export of custom routes and subnetwork routes with public IP."
                    }
                  },
                  "resources": {
                    "peeredDnsDomains": {
                      "methods": {
                        "delete": {
                          "httpMethod": "DELETE",
                          "description": "Deletes a peered DNS domain.",
                          "id": "servicenetworking.services.projects.global.networks.peeredDnsDomains.delete",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/service.management"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the peered DNS domain to delete in the format: `services/{service}/projects/{project}/global/networks/{network}/peeredDnsDomains/{name}`. {service} is the peering service that is managing connectivity for the service producer's organization. For Google services that support this functionality, this value is `servicenetworking.googleapis.com`. {project} is the number of the project that contains the service consumer's VPC network e.g. `12345`. {network} is the name of the service consumer's VPC network. {name} is the name of the peered DNS domain.",
                              "pattern": "^services/[^/]+/projects/[^/]+/global/networks/[^/]+/peeredDnsDomains/[^/]+$"
                            }
                          },
                          "flatPath": "v1/services/{servicesId}/projects/{projectsId}/global/networks/{networksId}/peeredDnsDomains/{peeredDnsDomainsId}",
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "create": {
                          "flatPath": "v1/services/{servicesId}/projects/{projectsId}/global/networks/{networksId}/peeredDnsDomains",
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/service.management"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/peeredDnsDomains",
                          "httpMethod": "POST",
                          "description": "Creates a peered DNS domain which sends requests for records in given namespace originating in the service producer VPC network to the consumer VPC network to be resolved.",
                          "id": "servicenetworking.services.projects.global.networks.peeredDnsDomains.create",
                          "parameters": {
                            "parent": {
                              "pattern": "^services/[^/]+/projects/[^/]+/global/networks/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. Parent resource identifying the connection for which the peered DNS domain will be created in the format: `services/{service}/projects/{project}/global/networks/{network}` {service} is the peering service that is managing connectivity for the service producer's organization. For Google services that support this functionality, this value is `servicenetworking.googleapis.com`. {project} is the number of the project that contains the service consumer's VPC network e.g. `12345`. {network} is the name of the service consumer's VPC network.",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "PeeredDnsDomain"
                          }
                        },
                        "list": {
                          "response": {
                            "$ref": "ListPeeredDnsDomainsResponse"
                          },
                          "flatPath": "v1/services/{servicesId}/projects/{projectsId}/global/networks/{networksId}/peeredDnsDomains",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. Parent resource identifying the connection which owns this collection of peered DNS domains in the format: `services/{service}/projects/{project}/global/networks/{network}`. {service} is the peering service that is managing connectivity for the service producer's organization. For Google services that support this functionality, this value is `servicenetworking.googleapis.com`. {project} is a project number e.g. `12345` that contains the service consumer's VPC network. {network} is the name of the service consumer's VPC network.",
                              "required": true,
                              "location": "path",
                              "pattern": "^services/[^/]+/projects/[^/]+/global/networks/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/peeredDnsDomains",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/service.management"
                          ],
                          "description": "Lists peered DNS domains for a connection.",
                          "id": "servicenetworking.services.projects.global.networks.peeredDnsDomains.list"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started",
  "schemas": {
    "Billing": {
      "description": "Billing related configuration of the service. The following example shows how to configure monitored resources and metrics for billing, `consumer_destinations` is the only supported destination and the monitored resources need at least one label key `cloud.googleapis.com/location` to indicate the location of the billing usage, using different monitored resources between monitoring and billing is recommended so they can be evolved independently: monitored_resources: - type: library.googleapis.com/billing_branch labels: - key: cloud.googleapis.com/location description: | Predefined label to support billing location restriction. - key: city description: | Custom label to define the city where the library branch is located in. - key: name description: Custom label to define the name of the library branch. metrics: - name: library.googleapis.com/book/borrowed_count metric_kind: DELTA value_type: INT64 unit: \"1\" billing: consumer_destinations: - monitored_resource: library.googleapis.com/billing_branch metrics: - library.googleapis.com/book/borrowed_count",
      "id": "Billing",
      "properties": {
        "consumerDestinations": {
          "items": {
            "$ref": "BillingDestination"
          },
          "type": "array",
          "description": "Billing configurations for sending metrics to the consumer project. There can be multiple consumer destinations per service, each one must have a different monitored resource type. A metric can be used in at most one consumer destination."
        }
      },
      "type": "object"
    },
    "BillingDestination": {
      "description": "Configuration of a specific billing destination (Currently only support bill against consumer project).",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Names of the metrics to report to this billing destination. Each name must be defined in Service.metrics section."
        },
        "monitoredResource": {
          "description": "The monitored resource type. The type must be defined in Service.monitored_resources section.",
          "type": "string"
        }
      },
      "id": "BillingDestination",
      "type": "object"
    },
    "SystemParameter": {
      "type": "object",
      "id": "SystemParameter",
      "properties": {
        "urlQueryParameter": {
          "description": "Define the URL query parameter name to use for the parameter. It is case sensitive.",
          "type": "string"
        },
        "name": {
          "description": "Define the name of the parameter, such as \"api_key\" . It is case sensitive.",
          "type": "string"
        },
        "httpHeader": {
          "description": "Define the HTTP header name to use for the parameter. It is case insensitive.",
          "type": "string"
        }
      },
      "description": "Define a parameter's name and location. The parameter may be passed as either an HTTP header or a URL query parameter, and if both are passed the behavior is implementation-dependent."
    },
    "BackendRule": {
      "properties": {
        "disableAuth": {
          "description": "When disable_auth is true, a JWT ID token won't be generated and the original \"Authorization\" HTTP header will be preserved. If the header is used to carry the original token and is expected by the backend, this field must be set to true to preserve the header.",
          "type": "boolean"
        },
        "selector": {
          "description": "Selects the methods to which this rule applies. Refer to selector for syntax details.",
          "type": "string"
        },
        "minDeadline": {
          "description": "Minimum deadline in seconds needed for this method. Calls having deadline value lower than this will be rejected.",
          "type": "number",
          "format": "double"
        },
        "jwtAudience": {
          "type": "string",
          "description": "The JWT audience is used when generating a JWT ID token for the backend. This ID token will be added in the HTTP \"authorization\" header, and sent to the backend."
        },
        "operationDeadline": {
          "format": "double",
          "type": "number",
          "description": "The number of seconds to wait for the completion of a long running operation. The default is no deadline."
        },
        "deadline": {
          "type": "number",
          "format": "double",
          "description": "The number of seconds to wait for a response from a request. The default varies based on the request protocol and deployment environment."
        },
        "pathTranslation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Use the backend address as-is, with no modification to the path. If the URL pattern contains variables, the variable names and values will be appended to the query string. If a query string parameter and a URL pattern variable have the same name, this may result in duplicate keys in the query string. # Examples Given the following operation config: Method path: /api/company/{cid}/user/{uid} Backend address: https://example.cloudfunctions.net/getUser Requests to the following request paths will call the backend at the translated path: Request path: /api/company/widgetworks/user/johndoe Translated: https://example.cloudfunctions.net/getUser?cid=widgetworks&uid=johndoe Request path: /api/company/widgetworks/user/johndoe?timezone=EST Translated: https://example.cloudfunctions.net/getUser?timezone=EST&cid=widgetworks&uid=johndoe",
            "The request path will be appended to the backend address. # Examples Given the following operation config: Method path: /api/company/{cid}/user/{uid} Backend address: https://example.appspot.com Requests to the following request paths will call the backend at the translated path: Request path: /api/company/widgetworks/user/johndoe Translated: https://example.appspot.com/api/company/widgetworks/user/johndoe Request path: /api/company/widgetworks/user/johndoe?timezone=EST Translated: https://example.appspot.com/api/company/widgetworks/user/johndoe?timezone=EST"
          ],
          "enum": [
            "PATH_TRANSLATION_UNSPECIFIED",
            "CONSTANT_ADDRESS",
            "APPEND_PATH_TO_ADDRESS"
          ]
        },
        "address": {
          "description": "The address of the API backend. The scheme is used to determine the backend protocol and security. The following schemes are accepted: SCHEME PROTOCOL SECURITY http:// HTTP None https:// HTTP TLS grpc:// gRPC None grpcs:// gRPC TLS It is recommended to explicitly include a scheme. Leaving out the scheme may cause constrasting behaviors across platforms. If the port is unspecified, the default is: - 80 for schemes without TLS - 443 for schemes with TLS For HTTP backends, use protocol to specify the protocol version.",
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "description": "The protocol used for sending a request to the backend. The supported values are \"http/1.1\" and \"h2\". The default value is inferred from the scheme in the address field: SCHEME PROTOCOL http:// http/1.1 https:// http/1.1 grpc:// h2 grpcs:// h2 For secure HTTP backends (https://) that support HTTP/2, set this field to \"h2\" for improved performance. Configuring this field to non-default values is only supported for secure HTTP backends. This field will be ignored for all other backends. See https://www.iana.org/assignments/tls-extensiontype-values/tls-extensiontype-values.xhtml#alpn-protocol-ids for more details on the supported values."
        }
      },
      "id": "BackendRule",
      "type": "object",
      "description": "A backend rule provides configuration for an individual API element."
    },
    "Option": {
      "id": "Option",
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc.",
      "type": "object",
      "properties": {
        "value": {
          "type": "object",
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, `\"map_entry\"`. For custom options, it should be the fully-qualified name. For example, `\"google.api.http\"`."
        }
      }
    },
    "UpdateConsumerConfigRequest": {
      "description": "Request to update the configuration of a service networking connection including the import/export of custom routes and subnetwork routes with public IP.",
      "properties": {
        "consumerConfig": {
          "description": "Required. The updated peering config.",
          "$ref": "ConsumerConfig"
        }
      },
      "type": "object",
      "id": "UpdateConsumerConfigRequest"
    },
    "Monitoring": {
      "properties": {
        "consumerDestinations": {
          "items": {
            "$ref": "MonitoringDestination"
          },
          "type": "array",
          "description": "Monitoring configurations for sending metrics to the consumer project. There can be multiple consumer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
        },
        "producerDestinations": {
          "description": "Monitoring configurations for sending metrics to the producer project. There can be multiple producer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration.",
          "items": {
            "$ref": "MonitoringDestination"
          },
          "type": "array"
        }
      },
      "id": "Monitoring",
      "description": "Monitoring configuration of the service. The example below shows how to configure monitored resources and metrics for monitoring. In the example, a monitored resource and two metrics are defined. The `library.googleapis.com/book/returned_count` metric is sent to both producer and consumer projects, whereas the `library.googleapis.com/book/num_overdue` metric is only sent to the consumer project. monitored_resources: - type: library.googleapis.com/Branch display_name: \"Library Branch\" description: \"A branch of a library.\" launch_stage: GA labels: - key: resource_container description: \"The Cloud container (ie. project id) for the Branch.\" - key: location description: \"The location of the library branch.\" - key: branch_id description: \"The id of the branch.\" metrics: - name: library.googleapis.com/book/returned_count display_name: \"Books Returned\" description: \"The count of books that have been returned.\" launch_stage: GA metric_kind: DELTA value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" - name: library.googleapis.com/book/num_overdue display_name: \"Books Overdue\" description: \"The current number of overdue books.\" launch_stage: GA metric_kind: GAUGE value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" monitoring: producer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count consumer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count - library.googleapis.com/book/num_overdue",
      "type": "object"
    },
    "SearchRangeRequest": {
      "description": "Request to search for an unused range within allocated ranges.",
      "id": "SearchRangeRequest",
      "type": "object",
      "properties": {
        "network": {
          "description": "Network name in the consumer project. This network must have been already peered with a shared VPC network using CreateConnection method. Must be in a form 'projects/{project}/global/networks/{network}'. {project} is a project number, as in '12345' {network} is network name.",
          "type": "string"
        },
        "ipPrefixLength": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The prefix length of the IP range. Use usual CIDR range notation. For example, '30' to find unused x.x.x.x/30 CIDR range. Actual range will be determined using allocated range for the consumer peered network and returned in the result."
        }
      }
    },
    "AddRolesMetadata": {
      "properties": {},
      "description": "Metadata provided through GetOperation request for the LRO generated by AddRoles API",
      "id": "AddRolesMetadata",
      "type": "object"
    },
    "LoggingDestination": {
      "type": "object",
      "id": "LoggingDestination",
      "properties": {
        "monitoredResource": {
          "type": "string",
          "description": "The monitored resource type. The type must be defined in the Service.monitored_resources section."
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Names of the logs to be sent to this destination. Each name must be defined in the Service.logs section. If the log name is not a domain scoped name, it will be automatically prefixed with the service name followed by \"/\"."
        }
      },
      "description": "Configuration of a specific logging destination (the producer project or the consumer project)."
    },
    "SecondaryIpRangeSpec": {
      "properties": {
        "requestedAddress": {
          "type": "string",
          "description": "Optional. The starting address of a range. The address must be a valid IPv4 address in the x.x.x.x format. This value combined with the IP prefix range is the CIDR range for the secondary IP range. The range must be within the allocated range that is assigned to the private connection. If the CIDR range isn't available, the call fails."
        },
        "rangeName": {
          "type": "string",
          "description": "Required. A name for the secondary IP range. The name must be 1-63 characters long, and comply with RFC1035. The name must be unique within the subnetwork."
        },
        "ipPrefixLength": {
          "type": "integer",
          "description": "Required. The prefix length of the secondary IP range. Use CIDR range notation, such as `30` to provision a secondary IP range with an `x.x.x.x/30` CIDR range. The IP address range is drawn from a pool of available ranges in the service consumer's allocated range.",
          "format": "int32"
        }
      },
      "id": "SecondaryIpRangeSpec",
      "type": "object"
    },
    "EnableVpcServiceControlsRequest": {
      "properties": {
        "consumerNetwork": {
          "description": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is a project number, as in '12345' {network} is network name.",
          "type": "string"
        }
      },
      "id": "EnableVpcServiceControlsRequest",
      "description": "Request to enable VPC service controls.",
      "type": "object"
    },
    "GoogleCloudServicenetworkingV1ConsumerConfigReservedRange": {
      "description": "Allocated IP address ranges for this private service access connection.",
      "properties": {
        "ipPrefixLength": {
          "type": "integer",
          "description": "The prefix length of the reserved range.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The name of the reserved range."
        },
        "address": {
          "type": "string",
          "description": "The starting address of the reserved range. The address must be a valid IPv4 address in the x.x.x.x format. This value combined with the IP prefix length is the CIDR range for the reserved range."
        }
      },
      "id": "GoogleCloudServicenetworkingV1ConsumerConfigReservedRange",
      "type": "object"
    },
    "PeeredDnsDomainMetadata": {
      "type": "object",
      "id": "PeeredDnsDomainMetadata",
      "description": "Metadata provided through GetOperation request for the LRO generated by CreatePeeredDnsDomain API.",
      "properties": {}
    },
    "RemoveDnsZoneMetadata": {
      "type": "object",
      "id": "RemoveDnsZoneMetadata",
      "description": "Metadata provided through GetOperation request for the LRO generated by RemoveDnsZone API",
      "properties": {}
    },
    "DnsZone": {
      "type": "object",
      "properties": {
        "name": {
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
          "type": "string"
        },
        "dnsSuffix": {
          "type": "string",
          "description": "The DNS name suffix of this zone e.g. `example.com.`."
        }
      },
      "description": "Represents a DNS zone resource.",
      "id": "DnsZone"
    },
    "Logging": {
      "properties": {
        "consumerDestinations": {
          "description": "Logging configurations for sending logs to the consumer project. There can be multiple consumer destinations, each one must have a different monitored resource type. A log can be used in at most one consumer destination.",
          "type": "array",
          "items": {
            "$ref": "LoggingDestination"
          }
        },
        "producerDestinations": {
          "description": "Logging configurations for sending logs to the producer project. There can be multiple producer destinations, each one must have a different monitored resource type. A log can be used in at most one producer destination.",
          "items": {
            "$ref": "LoggingDestination"
          },
          "type": "array"
        }
      },
      "id": "Logging",
      "description": "Logging configuration of the service. The following example shows how to configure logs to be sent to the producer and consumer projects. In the example, the `activity_history` log is sent to both the producer and consumer projects, whereas the `purchase_history` log is only sent to the producer project. monitored_resources: - type: library.googleapis.com/branch labels: - key: /city description: The city where the library branch is located in. - key: /name description: The name of the branch. logs: - name: activity_history labels: - key: /customer_id - name: purchase_history logging: producer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history - purchase_history consumer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history",
      "type": "object"
    },
    "EnumValue": {
      "description": "Enum value definition.",
      "type": "object",
      "properties": {
        "options": {
          "items": {
            "$ref": "Option"
          },
          "type": "array",
          "description": "Protocol buffer options."
        },
        "number": {
          "type": "integer",
          "description": "Enum value number.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Enum value name."
        }
      },
      "id": "EnumValue"
    },
    "Enum": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Enum type name."
        },
        "enumvalue": {
          "items": {
            "$ref": "EnumValue"
          },
          "type": "array",
          "description": "Enum value definitions."
        },
        "options": {
          "items": {
            "$ref": "Option"
          },
          "description": "Protocol buffer options.",
          "type": "array"
        },
        "sourceContext": {
          "$ref": "SourceContext",
          "description": "The source context."
        },
        "syntax": {
          "type": "string",
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3"
          ],
          "description": "The source syntax.",
          "enumDescriptions": [
            "Syntax `proto2`.",
            "Syntax `proto3`."
          ]
        }
      },
      "description": "Enum type definition.",
      "id": "Enum"
    },
    "JwtLocation": {
      "description": "Specifies a location to extract JWT from an API request.",
      "type": "object",
      "id": "JwtLocation",
      "properties": {
        "query": {
          "description": "Specifies URL query parameter name to extract JWT token.",
          "type": "string"
        },
        "header": {
          "type": "string",
          "description": "Specifies HTTP header name to extract JWT token."
        },
        "valuePrefix": {
          "type": "string",
          "description": "The value prefix. The value format is \"value_prefix{token}\" Only applies to \"in\" header type. Must be empty for \"in\" query type. If not empty, the header value has to match (case sensitive) this prefix. If not matched, JWT will not be extracted. If matched, JWT will be extracted after the prefix is removed. For example, for \"Authorization: Bearer {JWT}\", value_prefix=\"Bearer \" with a space at the end."
        }
      }
    },
    "AddDnsZoneMetadata": {
      "type": "object",
      "id": "AddDnsZoneMetadata",
      "description": "Metadata provided through GetOperation request for the LRO generated by AddDnsZone API",
      "properties": {}
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "QuotaLimit": {
      "properties": {
        "freeTier": {
          "type": "string",
          "description": "Free tier value displayed in the Developers Console for this limit. The free tier is the number of tokens that will be subtracted from the billed amount when billing is enabled. This field can only be set on a limit with duration \"1d\", in a billable group; it is invalid on any other limit. If this field is not set, it defaults to 0, indicating that there is no free tier for this service. Used by group-based quotas only.",
          "format": "int64"
        },
        "values": {
          "type": "object",
          "description": "Tiered limit values. You must specify this as a key:value pair, with an integer value that is the maximum number of requests allowed for the specified unit. Currently only STANDARD is supported.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "metric": {
          "type": "string",
          "description": "The name of the metric this quota limit applies to. The quota limits with the same metric will be checked together during runtime. The metric must be defined within the service config."
        },
        "name": {
          "type": "string",
          "description": "Name of the quota limit. The name must be provided, and it must be unique within the service. The name can only include alphanumeric characters as well as '-'. The maximum length of the limit name is 64 characters."
        },
        "unit": {
          "description": "Specify the unit of the quota limit. It uses the same syntax as Metric.unit. The supported unit kinds are determined by the quota backend system. Here are some examples: * \"1/min/{project}\" for quota per minute per project. Note: the order of unit components is insignificant. The \"1\" at the beginning is required to follow the metric unit syntax.",
          "type": "string"
        },
        "maxLimit": {
          "format": "int64",
          "description": "Maximum number of tokens that can be consumed during the specified duration. Client application developers can override the default limit up to this maximum. If specified, this value cannot be set to a value less than the default limit. If not specified, it is set to the default limit. To allow clients to apply overrides with no upper bound, set this to -1, indicating unlimited maximum quota. Used by group-based quotas only.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-visible, extended description for this quota limit. Should be used only when more context is needed to understand this limit than provided by the limit's display name (see: `display_name`)."
        },
        "defaultLimit": {
          "description": "Default number of tokens that can be consumed during the specified duration. This is the number of tokens assigned when a client application developer activates the service for his/her project. Specifying a value of 0 will block all requests. This can be used if you are provisioning quota to selected consumers and blocking others. Similarly, a value of -1 will indicate an unlimited quota. No other negative values are allowed. Used by group-based quotas only.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "User-visible display name for this limit. Optional. If not set, the UI will provide a default display name based on the quota configuration. This field can be used to override the default display name generated from the configuration.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "Duration of this limit in textual notation. Must be \"100s\" or \"1d\". Used by group-based quotas only."
        }
      },
      "id": "QuotaLimit",
      "description": "`QuotaLimit` defines a specific limit that applies over a specified duration for a limit type. There can be at most one limit for a duration and limit type combination defined within a `QuotaGroup`.",
      "type": "object"
    },
    "RemoveDnsZoneRequest": {
      "properties": {
        "consumerNetwork": {
          "description": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is the project number, as in '12345' {network} is the network name.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name for both the private zone in the shared producer host project and the peering zone in the consumer project.",
          "type": "string"
        }
      },
      "id": "RemoveDnsZoneRequest",
      "type": "object",
      "description": "Request to remove a private managed DNS zone in the shared producer host project and a matching DNS peering zone in the consumer project."
    },
    "AddSubnetworkRequest": {
      "type": "object",
      "id": "AddSubnetworkRequest",
      "properties": {
        "requestedAddress": {
          "type": "string",
          "description": "Optional. The starting address of a range. The address must be a valid IPv4 address in the x.x.x.x format. This value combined with the IP prefix range is the CIDR range for the subnet. The range must be within the allocated range that is assigned to the private connection. If the CIDR range isn't available, the call fails."
        },
        "subnetworkUsers": {
          "description": "A list of members that are granted the `compute.networkUser` role on the subnet.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ipPrefixLength": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The prefix length of the subnet's IP address range. Use CIDR range notation, such as `30` to provision a subnet with an `x.x.x.x/30` CIDR range. The IP address range is drawn from a pool of available ranges in the service consumer's allocated range."
        },
        "subnetwork": {
          "description": "Required. A name for the new subnet. For information about the naming requirements, see [subnetwork](/compute/docs/reference/rest/v1/subnetworks) in the Compute API documentation.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the subnet.",
          "type": "string"
        },
        "consumer": {
          "description": "Required. A resource that represents the service consumer, such as `projects/123456`. The project number can be different from the value in the consumer network parameter. For example, the network might be part of a Shared VPC network. In those cases, Service Networking validates that this resource belongs to that Shared VPC.",
          "type": "string"
        },
        "consumerNetwork": {
          "type": "string",
          "description": "Required. The name of the service consumer's VPC network. The network must have an existing private connection that was provisioned through the connections.create method. The name must be in the following format: `projects/{project}/global/networks/{network}`, where {project} is a project number, such as `12345`. {network} is the name of a VPC network in the project."
        },
        "requestedRanges": {
          "type": "array",
          "description": "Optional. The name of one or more allocated IP address ranges associated with this private service access connection. If no range names are provided all ranges associated with this connection will be considered. If a CIDR range with the specified IP prefix length is not available within these ranges, the call fails.",
          "items": {
            "type": "string"
          }
        },
        "region": {
          "type": "string",
          "description": "Required. The name of a [region](/compute/docs/regions-zones) for the subnet, such `europe-west1`."
        },
        "secondaryIpRangeSpecs": {
          "type": "array",
          "description": "Optional. A list of secondary IP ranges to be created within the new subnetwork.",
          "items": {
            "$ref": "SecondaryIpRangeSpec"
          }
        }
      },
      "description": "Request to create a subnetwork in a previously peered service network."
    },
    "ConsumerProject": {
      "id": "ConsumerProject",
      "description": "Represents a consumer project.",
      "type": "object",
      "properties": {
        "projectNum": {
          "format": "int64",
          "type": "string",
          "description": "Required. Project number of the consumer that is launching the service instance. It can own the network that is peered with Google or, be a service project in an XPN where the host project has the network."
        }
      }
    },
    "AuthProvider": {
      "type": "object",
      "id": "AuthProvider",
      "description": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
      "properties": {
        "jwksUri": {
          "description": "URL of the provider's public key set to validate signature of the JWT. See [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata). Optional if the key set document: - can be retrieved from [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) of the issuer. - can be inferred from the email domain of the issuer (e.g. a Google service account). Example: https://www.googleapis.com/oauth2/v1/certs",
          "type": "string"
        },
        "authorizationUrl": {
          "description": "Redirect URL if JWT token is required but not present or is expired. Implement authorizationUrl of securityDefinitions in OpenAPI spec.",
          "type": "string"
        },
        "jwtLocations": {
          "type": "array",
          "description": "Defines the locations to extract the JWT. JWT locations can be either from HTTP headers or URL query parameters. The rule is that the first match wins. The checking order is: checking all headers first, then URL query parameters. If not specified, default to use following 3 locations: 1) Authorization: Bearer 2) x-goog-iap-jwt-assertion 3) access_token query parameter Default locations can be specified as followings: jwt_locations: - header: Authorization value_prefix: \"Bearer \" - header: x-goog-iap-jwt-assertion - query: access_token",
          "items": {
            "$ref": "JwtLocation"
          }
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of the auth provider. It will be referred to by `AuthRequirement.provider_id`. Example: \"bookstore_auth\"."
        },
        "issuer": {
          "description": "Identifies the principal that issued the JWT. See https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1 Usually a URL or an email address. Example: https://securetoken.google.com Example: 1234567-compute@developer.gserviceaccount.com",
          "type": "string"
        },
        "audiences": {
          "type": "string",
          "description": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, JWTs with audiences: - \"https://[service.name]/[google.protobuf.Api.name]\" - \"https://[service.name]/\" will be accepted. For example, if no audiences are in the setting, LibraryService API will accept JWTs with the following audiences: - https://library-example.googleapis.com/google.example.library.v1.LibraryService - https://library-example.googleapis.com/ Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com"
        }
      }
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "description": "ListConnectionsResponse is the response to list peering states for the given service and consumer project.",
      "properties": {
        "connections": {
          "description": "The list of Connections.",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "HttpRule": {
      "type": "object",
      "properties": {
        "put": {
          "type": "string",
          "description": "Maps to HTTP PUT. Used for replacing a resource."
        },
        "post": {
          "type": "string",
          "description": "Maps to HTTP POST. Used for creating a resource or performing an action."
        },
        "additionalBindings": {
          "items": {
            "$ref": "HttpRule"
          },
          "description": "Additional HTTP bindings for the selector. Nested bindings must not contain an `additional_bindings` field themselves (that is, the nesting may only be one level deep).",
          "type": "array"
        },
        "get": {
          "description": "Maps to HTTP GET. Used for listing and getting information about resources.",
          "type": "string"
        },
        "delete": {
          "description": "Maps to HTTP DELETE. Used for deleting a resource.",
          "type": "string"
        },
        "selector": {
          "type": "string",
          "description": "Selects a method to which this rule applies. Refer to selector for syntax details."
        },
        "patch": {
          "description": "Maps to HTTP PATCH. Used for updating a resource.",
          "type": "string"
        },
        "body": {
          "description": "The name of the request field whose value is mapped to the HTTP request body, or `*` for mapping all request fields not captured by the path pattern to the HTTP body, or omitted for not having any HTTP request body. NOTE: the referred field must be present at the top-level of the request message type.",
          "type": "string"
        },
        "responseBody": {
          "description": "Optional. The name of the response field whose value is mapped to the HTTP response body. When omitted, the entire response message will be used as the HTTP response body. NOTE: The referred field must be present at the top-level of the response message type.",
          "type": "string"
        },
        "custom": {
          "description": "The custom pattern is used for specifying an HTTP method that is not included in the `pattern` field, such as HEAD, or \"*\" to leave the HTTP method unspecified for this rule. The wild-card rule is useful for services that provide content to Web (HTML) clients.",
          "$ref": "CustomHttpPattern"
        }
      },
      "id": "HttpRule",
      "description": "# gRPC Transcoding gRPC Transcoding is a feature for mapping between a gRPC method and one or more HTTP REST endpoints. It allows developers to build a single API service that supports both gRPC APIs and REST APIs. Many systems, including [Google APIs](https://github.com/googleapis/googleapis), [Cloud Endpoints](https://cloud.google.com/endpoints), [gRPC Gateway](https://github.com/grpc-ecosystem/grpc-gateway), and [Envoy](https://github.com/envoyproxy/envoy) proxy support this feature and use it for large scale production services. `HttpRule` defines the schema of the gRPC/REST mapping. The mapping specifies how different portions of the gRPC request message are mapped to the URL path, URL query parameters, and HTTP request body. It also controls how the gRPC response message is mapped to the HTTP response body. `HttpRule` is typically specified as an `google.api.http` annotation on the gRPC method. Each mapping specifies a URL path template and an HTTP method. The path template may refer to one or more fields in the gRPC request message, as long as each field is a non-repeated field with a primitive (non-message) type. The path template controls how fields of the request message are mapped to the URL path. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/{name=messages/*}\" }; } } message GetMessageRequest { string name = 1; // Mapped to URL path. } message Message { string text = 1; // The resource content. } This enables an HTTP REST to gRPC mapping as below: HTTP | gRPC -----|----- `GET /v1/messages/123456` | `GetMessage(name: \"messages/123456\")` Any fields in the request message which are not bound by the path template automatically become HTTP query parameters if there is no HTTP request body. For example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get:\"/v1/messages/{message_id}\" }; } } message GetMessageRequest { message SubMessage { string subfield = 1; } string message_id = 1; // Mapped to URL path. int64 revision = 2; // Mapped to URL query parameter `revision`. SubMessage sub = 3; // Mapped to URL query parameter `sub.subfield`. } This enables a HTTP JSON to RPC mapping as below: HTTP | gRPC -----|----- `GET /v1/messages/123456?revision=2&sub.subfield=foo` | `GetMessage(message_id: \"123456\" revision: 2 sub: SubMessage(subfield: \"foo\"))` Note that fields which are mapped to URL query parameters must have a primitive type or a repeated primitive type or a non-repeated message type. In the case of a repeated type, the parameter can be repeated in the URL as `...?param=A&param=B`. In the case of a message type, each field of the message is mapped to a separate parameter, such as `...?foo.a=A&foo.b=B&foo.c=C`. For HTTP methods that allow a request body, the `body` field specifies the mapping. Consider a REST update method on the message resource collection: service Messaging { rpc UpdateMessage(UpdateMessageRequest) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"message\" }; } } message UpdateMessageRequest { string message_id = 1; // mapped to the URL Message message = 2; // mapped to the body } The following HTTP JSON to RPC mapping is enabled, where the representation of the JSON in the request body is determined by protos JSON encoding: HTTP | gRPC -----|----- `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` | `UpdateMessage(message_id: \"123456\" message { text: \"Hi!\" })` The special name `*` can be used in the body mapping to define that every field not bound by the path template should be mapped to the request body. This enables the following alternative definition of the update method: service Messaging { rpc UpdateMessage(Message) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"*\" }; } } message Message { string message_id = 1; string text = 2; } The following HTTP JSON to RPC mapping is enabled: HTTP | gRPC -----|----- `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` | `UpdateMessage(message_id: \"123456\" text: \"Hi!\")` Note that when using `*` in the body mapping, it is not possible to have HTTP parameters, as all fields not bound by the path end in the body. This makes this option more rarely used in practice when defining REST APIs. The common usage of `*` is in custom methods which don't use the URL at all for transferring data. It is possible to define multiple HTTP methods for one RPC by using the `additional_bindings` option. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/messages/{message_id}\" additional_bindings { get: \"/v1/users/{user_id}/messages/{message_id}\" } }; } } message GetMessageRequest { string message_id = 1; string user_id = 2; } This enables the following two alternative HTTP JSON to RPC mappings: HTTP | gRPC -----|----- `GET /v1/messages/123456` | `GetMessage(message_id: \"123456\")` `GET /v1/users/me/messages/123456` | `GetMessage(user_id: \"me\" message_id: \"123456\")` ## Rules for HTTP mapping 1. Leaf request fields (recursive expansion nested messages in the request message) are classified into three categories: - Fields referred by the path template. They are passed via the URL path. - Fields referred by the HttpRule.body. They are passed via the HTTP request body. - All other fields are passed via the URL query parameters, and the parameter name is the field path in the request message. A repeated field can be represented as multiple query parameters under the same name. 2. If HttpRule.body is \"*\", there is no URL query parameter, all fields are passed via URL path and HTTP request body. 3. If HttpRule.body is omitted, there is no HTTP request body, all fields are passed via URL path and URL query parameters. ### Path template syntax Template = \"/\" Segments [ Verb ] ; Segments = Segment { \"/\" Segment } ; Segment = \"*\" | \"**\" | LITERAL | Variable ; Variable = \"{\" FieldPath [ \"=\" Segments ] \"}\" ; FieldPath = IDENT { \".\" IDENT } ; Verb = \":\" LITERAL ; The syntax `*` matches a single URL path segment. The syntax `**` matches zero or more URL path segments, which must be the last part of the URL path except the `Verb`. The syntax `Variable` matches part of the URL path as specified by its template. A variable template must not contain other variables. If a variable matches a single path segment, its template may be omitted, e.g. `{var}` is equivalent to `{var=*}`. The syntax `LITERAL` matches literal text in the URL path. If the `LITERAL` contains any reserved character, such characters should be percent-encoded before the matching. If a variable contains exactly one path segment, such as `\"{var}\"` or `\"{var=*}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{var}`. If a variable contains multiple path segments, such as `\"{var=foo/*}\"` or `\"{var=**}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~/0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding, except \"%2F\" and \"%2f\" are left unchanged. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{+var}`. ## Using gRPC API Service Configuration gRPC API Service Configuration (service config) is a configuration language for configuring a gRPC service to become a user-facing product. The service config is simply the YAML representation of the `google.api.Service` proto message. As an alternative to annotating your proto file, you can configure gRPC transcoding in your service config YAML files. You do this by specifying a `HttpRule` that maps the gRPC method to a REST endpoint, achieving the same effect as the proto annotation. This can be particularly useful if you have a proto that is reused in multiple services. Note that any transcoding specified in the service config will override any matching transcoding configuration in the proto. Example: http: rules: # Selects a gRPC method and applies HttpRule to it. - selector: example.v1.Messaging.GetMessage get: /v1/messages/{message_id}/{sub.subfield} ## Special notes When gRPC Transcoding is used to map a gRPC to JSON REST endpoints, the proto to JSON conversion must follow the [proto3 specification](https://developers.google.com/protocol-buffers/docs/proto3#json). While the single segment variable follows the semantics of [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.2 Simple String Expansion, the multi segment variable **does not** follow RFC 6570 Section 3.2.3 Reserved Expansion. The reason is that the Reserved Expansion does not expand special characters like `?` and `#`, which would lead to invalid URLs. As the result, gRPC Transcoding uses a custom encoding for multi segment variables. The path variables **must not** refer to any repeated or mapped field, because client libraries are not capable of handling such variable expansion. The path variables **must not** capture the leading \"/\" character. The reason is that the most common use case \"{var}\" does not capture the leading \"/\" character. For consistency, all path variables must share the same behavior. Repeated message fields must not be mapped to URL query parameters, because no client library can support such complicated mapping. If an API needs to use a JSON array for request or response body, it can map the request or response body to a repeated field. However, some gRPC Transcoding implementations may not support this feature."
    },
    "AddDnsRecordSetRequest": {
      "id": "AddDnsRecordSetRequest",
      "properties": {
        "zone": {
          "description": "Required. The name of the private DNS zone in the shared producer host project to which the record set will be added.",
          "type": "string"
        },
        "dnsRecordSet": {
          "$ref": "DnsRecordSet",
          "description": "Required. The DNS record set to add."
        },
        "consumerNetwork": {
          "description": "Required. The network that the consumer is using to connect with services. Must be in the form of projects/{project}/global/networks/{network} {project} is the project number, as in '12345' {network} is the network name.",
          "type": "string"
        }
      },
      "description": "Request to add a record set to a private managed DNS zone in the shared producer host project.",
      "type": "object"
    },
    "ConsumerConfigMetadata": {
      "id": "ConsumerConfigMetadata",
      "properties": {},
      "description": "Metadata provided through GetOperation request for the LRO generated by UpdateConsumerConfig API.",
      "type": "object"
    },
    "Field": {
      "properties": {
        "kind": {
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "enumDescriptions": [
            "Field type unknown.",
            "Field type double.",
            "Field type float.",
            "Field type int64.",
            "Field type uint64.",
            "Field type int32.",
            "Field type fixed64.",
            "Field type fixed32.",
            "Field type bool.",
            "Field type string.",
            "Field type group. Proto2 syntax only, and deprecated.",
            "Field type message.",
            "Field type bytes.",
            "Field type uint32.",
            "Field type enum.",
            "Field type sfixed32.",
            "Field type sfixed64.",
            "Field type sint32.",
            "Field type sint64."
          ],
          "description": "The field type."
        },
        "name": {
          "description": "The field name.",
          "type": "string"
        },
        "packed": {
          "description": "Whether to use alternative packed wire representation.",
          "type": "boolean"
        },
        "number": {
          "type": "integer",
          "format": "int32",
          "description": "The field number."
        },
        "options": {
          "description": "The protocol buffer options.",
          "items": {
            "$ref": "Option"
          },
          "type": "array"
        },
        "jsonName": {
          "description": "The field JSON name.",
          "type": "string"
        },
        "defaultValue": {
          "type": "string",
          "description": "The string value of the default value of this field. Proto2 syntax only."
        },
        "cardinality": {
          "enumDescriptions": [
            "For fields with unknown cardinality.",
            "For optional fields.",
            "For required fields. Proto2 syntax only.",
            "For repeated fields."
          ],
          "type": "string",
          "description": "The field cardinality.",
          "enum": [
            "CARDINALITY_UNKNOWN",
            "CARDINALITY_OPTIONAL",
            "CARDINALITY_REQUIRED",
            "CARDINALITY_REPEATED"
          ]
        },
        "typeUrl": {
          "type": "string",
          "description": "The field type URL, without the scheme, for message or enumeration types. Example: `\"type.googleapis.com/google.protobuf.Timestamp\"`."
        },
        "oneofIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the field type in `Type.oneofs`, for message or enumeration types. The first type has index 1; zero means the type is not in the list."
        }
      },
      "type": "object",
      "id": "Field",
      "description": "A single field of a message type."
    },
    "MetricDescriptorMetadata": {
      "properties": {
        "samplePeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period."
        },
        "launchStage": {
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don’t have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the “Deprecation Policy” section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "type": "string",
          "description": "Deprecated. Must use the MetricDescriptor.launch_stage instead.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "ingestDelay": {
          "format": "google-duration",
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MetricDescriptorMetadata",
      "description": "Additional annotations that can be used to guide the usage of a metric."
    },
    "Api": {
      "description": "Api is a light-weight descriptor for an API Interface. Interfaces are also described as \"protocol buffer services\" in some contexts, such as by the \"service\" keyword in a .proto file, but they are different from API Services, which represent a concrete implementation of an interface as opposed to simply a description of methods and bindings. They are also sometimes simply referred to as \"APIs\" in other contexts, such as the name of this message itself. See https://cloud.google.com/apis/design/glossary for detailed terminology.",
      "properties": {
        "sourceContext": {
          "description": "Source context for the protocol buffer service represented by this message.",
          "$ref": "SourceContext"
        },
        "name": {
          "description": "The fully qualified name of this interface, including package name followed by the interface's simple name.",
          "type": "string"
        },
        "options": {
          "type": "array",
          "description": "Any metadata attached to the interface.",
          "items": {
            "$ref": "Option"
          }
        },
        "version": {
          "type": "string",
          "description": "A version string for this interface. If specified, must have the form `major-version.minor-version`, as in `1.10`. If the minor version is omitted, it defaults to zero. If the entire version field is empty, the major version is derived from the package name, as outlined below. If the field is not empty, the version in the package name will be verified to be consistent with what is provided here. The versioning schema uses [semantic versioning](http://semver.org) where the major version number indicates a breaking change and the minor version an additive, non-breaking change. Both version numbers are signals to users what to expect from different versions, and should be carefully chosen based on the product plan. The major version is also reflected in the package name of the interface, which must end in `v`, as in `google.feature.v1`. For major versions 0 and 1, the suffix can be omitted. Zero major versions must only be used for experimental, non-GA interfaces. "
        },
        "mixins": {
          "type": "array",
          "description": "Included interfaces. See Mixin.",
          "items": {
            "$ref": "Mixin"
          }
        },
        "syntax": {
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3"
          ],
          "type": "string",
          "description": "The source syntax of the service.",
[...]
