{
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "version": "v4",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "View and manage Google Drive files and folders that you have opened or created with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        }
      }
    }
  },
  "revision": "20201130",
  "name": "sheets",
  "protocol": "rest",
  "servicePath": "",
  "description": "Reads and writes Google Sheets.",
  "ownerName": "Google",
  "resources": {
    "spreadsheets": {
      "resources": {
        "values": {
          "methods": {
            "batchUpdate": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "httpMethod": "POST",
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the spreadsheet to update."
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "response": {
                "$ref": "BatchUpdateValuesResponse"
              },
              "id": "sheets.spreadsheets.values.batchUpdate",
              "request": {
                "$ref": "BatchUpdateValuesRequest"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges."
            },
            "append": {
              "request": {
                "$ref": "ValueRange"
              },
              "parameters": {
                "responseDateTimeRenderOption": {
                  "type": "string",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30st 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which is dependent on the spreadsheet locale)."
                  ]
                },
                "insertDataOption": {
                  "enum": [
                    "OVERWRITE",
                    "INSERT_ROWS"
                  ],
                  "type": "string",
                  "description": "How the input data should be inserted.",
                  "enumDescriptions": [
                    "The new data overwrites existing data in the areas it is written. (Note: adding data to the end of the sheet will still insert new rows or columns so the data can be written.)",
                    "Rows are inserted for the new data."
                  ],
                  "location": "query"
                },
                "spreadsheetId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the spreadsheet to update.",
                  "type": "string"
                },
                "includeValuesInResponse": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values."
                },
                "responseValueRenderOption": {
                  "location": "query",
                  "type": "string",
                  "description": "Determines how values in the response should be rendered. The default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the reply according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`."
                  ],
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ]
                },
                "range": {
                  "description": "The A1 notation of a range to search for a logical table of data. Values are appended after the last row of the table.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "valueInputOption": {
                  "description": "How the input data should be interpreted.",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ]
                }
              },
              "response": {
                "$ref": "AppendValuesResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "id": "sheets.spreadsheets.values.append",
              "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](/sheets/api/guides/values#appending_values) and [sample code](/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:append"
            },
            "batchClear": {
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "request": {
                "$ref": "BatchClearValuesRequest"
              },
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
              "id": "sheets.spreadsheets.values.batchClear",
              "response": {
                "$ref": "BatchClearValuesResponse"
              }
            },
            "batchGet": {
              "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "parameters": {
                "majorDimension": {
                  "type": "string",
                  "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=A1:B2,majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=A1:B2,majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "location": "query"
                },
                "valueRenderOption": {
                  "type": "string",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the reply according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`."
                  ],
                  "location": "query",
                  "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ]
                },
                "dateTimeRenderOption": {
                  "location": "query",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30st 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which is dependent on the spreadsheet locale)."
                  ],
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "type": "string"
                },
                "spreadsheetId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the spreadsheet to retrieve data from."
                },
                "ranges": {
                  "repeated": true,
                  "description": "The A1 notation of the values to retrieve.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "response": {
                "$ref": "BatchGetValuesResponse"
              },
              "httpMethod": "GET",
              "id": "sheets.spreadsheets.values.batchGet",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet"
            },
            "batchUpdateByDataFilter": {
              "request": {
                "$ref": "BatchUpdateValuesByDataFilterRequest"
              },
              "id": "sheets.spreadsheets.values.batchUpdateByDataFilter",
              "response": {
                "$ref": "BatchUpdateValuesByDataFilterResponse"
              },
              "parameters": {
                "spreadsheetId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path"
                }
              },
              "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameterOrder": [
                "spreadsheetId"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter"
            },
            "clear": {
              "response": {
                "$ref": "ClearValuesResponse"
              },
              "request": {
                "$ref": "ClearValuesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.clear",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "httpMethod": "POST",
              "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
              "parameters": {
                "range": {
                  "description": "The A1 notation of the values to clear.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "spreadsheetId": {
                  "type": "string",
                  "description": "The ID of the spreadsheet to update.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ]
            },
            "update": {
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "response": {
                "$ref": "UpdateValuesResponse"
              },
              "request": {
                "$ref": "ValueRange"
              },
              "httpMethod": "PUT",
              "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
              "id": "sheets.spreadsheets.values.update",
              "parameters": {
                "includeValuesInResponse": {
                  "type": "boolean",
                  "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
                  "location": "query"
                },
                "range": {
                  "description": "The A1 notation of the values to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "spreadsheetId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the spreadsheet to update.",
                  "type": "string"
                },
                "valueInputOption": {
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ],
                  "description": "How the input data should be interpreted.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ]
                },
                "responseValueRenderOption": {
                  "description": "Determines how values in the response should be rendered. The default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the reply according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`."
                  ],
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ]
                },
                "responseDateTimeRenderOption": {
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is DateTimeRenderOption.SERIAL_NUMBER.",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30st 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which is dependent on the spreadsheet locale)."
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ]
            },
            "batchClearByDataFilter": {
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "httpMethod": "POST",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "id": "sheets.spreadsheets.values.batchClearByDataFilter",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "request": {
                "$ref": "BatchClearValuesByDataFilterRequest"
              },
              "response": {
                "$ref": "BatchClearValuesByDataFilterResponse"
              },
              "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchGetByDataFilter": {
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "request": {
                "$ref": "BatchGetValuesByDataFilterRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "description": "Returns one or more ranges of values that match the specified data filters. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "id": "sheets.spreadsheets.values.batchGetByDataFilter",
              "response": {
                "$ref": "BatchGetValuesByDataFilterResponse"
              },
              "parameters": {
                "spreadsheetId": {
                  "required": true,
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "get": {
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "id": "sheets.spreadsheets.values.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "parameters": {
                "dateTimeRenderOption": {
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30st 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which is dependent on the spreadsheet locale)."
                  ]
                },
                "range": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The A1 notation of the values to retrieve."
                },
                "spreadsheetId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to retrieve data from."
                },
                "majorDimension": {
                  "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=A1:B2,majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=A1:B2,majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "location": "query"
                },
                "valueRenderOption": {
                  "type": "string",
                  "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the reply according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`."
                  ],
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ValueRange"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range."
            }
          }
        },
        "sheets": {
          "methods": {
            "copyTo": {
              "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "request": {
                "$ref": "CopySheetToAnotherSpreadsheetRequest"
              },
              "parameterOrder": [
                "spreadsheetId",
                "sheetId"
              ],
              "response": {
                "$ref": "SheetProperties"
              },
              "parameters": {
                "sheetId": {
                  "type": "integer",
                  "description": "The ID of the sheet to copy.",
                  "location": "path",
                  "format": "int32",
                  "required": true
                },
                "spreadsheetId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the spreadsheet containing the sheet to copy."
                }
              },
              "id": "sheets.spreadsheets.sheets.copyTo",
              "httpMethod": "POST",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            }
          }
        },
        "developerMetadata": {
          "methods": {
            "get": {
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId.",
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameters": {
                "metadataId": {
                  "format": "int32",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the developer metadata to retrieve.",
                  "type": "integer"
                },
                "spreadsheetId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the spreadsheet to retrieve metadata from."
                }
              },
              "parameterOrder": [
                "spreadsheetId",
                "metadataId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "DeveloperMetadata"
              },
              "id": "sheets.spreadsheets.developerMetadata.get"
            },
            "search": {
              "httpMethod": "POST",
              "id": "sheets.spreadsheets.developerMetadata.search",
              "parameters": {
                "spreadsheetId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to retrieve metadata from."
                }
              },
              "response": {
                "$ref": "SearchDeveloperMetadataResponse"
              },
              "parameterOrder": [
                "spreadsheetId"
              ],
              "request": {
                "$ref": "SearchDeveloperMetadataRequest"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "description": "Returns all developer metadata matching the specified DataFilter. If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search"
            }
          }
        }
      },
      "methods": {
        "getByDataFilter": {
          "id": "sheets.spreadsheets.getByDataFilter",
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters will return the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids will not be returned. You can include grid data one of two ways: * Specify a field mask listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, it is recommended to retrieve only the specific fields of the spreadsheet that you want.",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "spreadsheetId": {
              "location": "path",
              "description": "The spreadsheet to request.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Spreadsheet"
          },
          "request": {
            "$ref": "GetSpreadsheetByDataFilterRequest"
          },
          "flatPath": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}:getByDataFilter"
        },
        "create": {
          "parameters": {},
          "parameterOrder": [],
          "path": "v4/spreadsheets",
          "id": "sheets.spreadsheets.create",
          "request": {
            "$ref": "Spreadsheet"
          },
          "flatPath": "v4/spreadsheets",
          "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "response": {
            "$ref": "Spreadsheet"
          }
        },
        "batchUpdate": {
          "parameterOrder": [
            "spreadsheetId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "BatchUpdateSpreadsheetResponse"
          },
          "parameters": {
            "spreadsheetId": {
              "type": "string",
              "description": "The spreadsheet to apply the updates to.",
              "required": true,
              "location": "path"
            }
          },
          "id": "sheets.spreadsheets.batchUpdate",
          "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateSpreadsheetRequest"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ],
          "flatPath": "v4/spreadsheets/{spreadsheetId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Spreadsheet"
          },
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids will not be returned. You can include grid data one of two ways: * Specify a field mask listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, it is recommended to retrieve only the specific fields of the spreadsheet that you want. To retrieve only subsets of the spreadsheet, use the ranges URL parameter. Multiple ranges can be specified. Limiting the range will return only the portions of the spreadsheet that intersect the requested ranges. Ranges are specified using A1 notation.",
          "id": "sheets.spreadsheets.get",
          "parameters": {
            "ranges": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The ranges to retrieve from the spreadsheet."
            },
            "spreadsheetId": {
              "type": "string",
              "required": true,
              "description": "The spreadsheet to request.",
              "location": "path"
            },
            "includeGridData": {
              "location": "query",
              "type": "boolean",
              "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request."
            }
          },
          "path": "v4/spreadsheets/{spreadsheetId}",
          "parameterOrder": [
            "spreadsheetId"
          ]
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/sheets/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "id": "sheets:v4",
  "title": "Google Sheets API",
  "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
  "canonicalName": "Sheets",
  "rootUrl": "https://sheets.googleapis.com/",
  "basePath": "",
  "baseUrl": "https://sheets.googleapis.com/",
  "schemas": {
    "SheetProperties": {
      "properties": {
        "sheetId": {
          "description": "The ID of the sheet. Must be non-negative. This field cannot be changed once set.",
          "type": "integer",
          "format": "int32"
        },
        "tabColor": {
          "description": "The color of the tab in the UI.",
          "$ref": "Color"
        },
        "rightToLeft": {
          "description": "True if the sheet is an RTL sheet instead of an LTR sheet.",
          "type": "boolean"
        },
        "gridProperties": {
          "$ref": "GridProperties",
          "description": "Additional properties of the sheet if this sheet is a grid. (If the sheet is an object sheet, containing a chart or image, then this field will be absent.) When writing it is an error to set any grid properties on non-grid sheets. If this sheet is a DATA_SOURCE sheet, this field is output only but contains the properties that reflect how a data source sheet is rendered in the UI, e.g. row_count."
        },
        "title": {
          "description": "The name of the sheet.",
          "type": "string"
        },
        "hidden": {
          "description": "True if the sheet is hidden in the UI, false if it's visible.",
          "type": "boolean"
        },
        "index": {
          "description": "The index of the sheet within the spreadsheet. When adding or updating sheet properties, if this field is excluded then the sheet is added or moved to the end of the sheet list. When updating sheet indices or inserting sheets, movement is considered in \"before the move\" indexes. For example, if there were 3 sheets (S1, S2, S3) in order to move S1 ahead of S2 the index would have to be set to 2. A sheet index update request is ignored if the requested index is identical to the sheets current index or if the requested new index is equal to the current sheet index + 1.",
          "format": "int32",
          "type": "integer"
        },
        "tabColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the tab in the UI. If tab_color is also set, this field takes precedence."
        },
        "sheetType": {
          "type": "string",
          "description": "The type of sheet. Defaults to GRID. This field cannot be changed once set.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The sheet is a grid.",
            "The sheet has no grid and instead has an object like a chart or image.",
            "The sheet connects with an external DataSource and shows the preview of data."
          ],
          "enum": [
            "SHEET_TYPE_UNSPECIFIED",
            "GRID",
            "OBJECT",
            "DATA_SOURCE"
          ]
        },
        "dataSourceSheetProperties": {
          "description": "Output only. If present, the field contains DATA_SOURCE sheet specific properties.",
          "$ref": "DataSourceSheetProperties",
          "readOnly": true
        }
      },
      "id": "SheetProperties",
      "type": "object",
      "description": "Properties of a sheet."
    },
    "CandlestickChartSpec": {
      "description": "A candlestick chart.",
      "id": "CandlestickChartSpec",
      "type": "object",
      "properties": {
        "domain": {
          "$ref": "CandlestickDomain",
          "description": "The domain data (horizontal axis) for the candlestick chart. String data will be treated as discrete labels, other data will be treated as continuous values."
        },
        "data": {
          "type": "array",
          "description": "The Candlestick chart data. Only one CandlestickData is supported.",
          "items": {
            "$ref": "CandlestickData"
          }
        }
      }
    },
    "AutoResizeDimensionsRequest": {
      "type": "object",
      "description": "Automatically resizes one or more dimensions based on the contents of the cells in that dimension.",
      "id": "AutoResizeDimensionsRequest",
      "properties": {
        "dimensions": {
          "$ref": "DimensionRange",
          "description": "The dimensions to automatically resize."
        },
        "dataSourceSheetDimensions": {
          "$ref": "DataSourceSheetDimensionRange",
          "description": "The dimensions on a data source sheet to automatically resize."
        }
      }
    },
    "DimensionProperties": {
      "id": "DimensionProperties",
      "type": "object",
      "description": "Properties about a dimension.",
      "properties": {
        "dataSourceColumnReference": {
          "$ref": "DataSourceColumnReference",
          "readOnly": true,
          "description": "Output only. If set, this is a column in a data source sheet."
        },
        "pixelSize": {
          "format": "int32",
          "type": "integer",
          "description": "The height (if a row) or width (if a column) of the dimension in pixels."
        },
        "hiddenByFilter": {
          "type": "boolean",
          "description": "True if this dimension is being filtered. This field is read-only."
        },
        "developerMetadata": {
          "description": "The developer metadata associated with a single row or column.",
          "type": "array",
          "items": {
            "$ref": "DeveloperMetadata"
          }
        },
        "hiddenByUser": {
          "description": "True if this dimension is explicitly hidden.",
          "type": "boolean"
        }
      }
    },
    "Sheet": {
      "type": "object",
      "properties": {
        "developerMetadata": {
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "description": "The developer metadata associated with a sheet.",
          "type": "array"
        },
        "columnGroups": {
          "items": {
            "$ref": "DimensionGroup"
          },
          "description": "All column groups on this sheet, ordered by increasing range start index, then by group depth.",
          "type": "array"
        },
        "data": {
          "items": {
            "$ref": "GridData"
          },
          "description": "Data in the grid, if this is a grid sheet. The number of GridData objects returned is dependent on the number of ranges requested on this sheet. For example, if this is representing `Sheet1`, and the spreadsheet was requested with ranges `Sheet1!A1:C10` and `Sheet1!D15:E20`, then the first GridData will have a startRow/startColumn of `0`, while the second one will have `startRow 14` (zero-based row 15), and `startColumn 3` (zero-based column D). For a DATA_SOURCE sheet, you can not request a specific range, the GridData contains all the values.",
          "type": "array"
        },
        "protectedRanges": {
          "items": {
            "$ref": "ProtectedRange"
          },
          "description": "The protected ranges in this sheet.",
          "type": "array"
        },
        "rowGroups": {
          "description": "All row groups on this sheet, ordered by increasing range start index, then by group depth.",
          "type": "array",
          "items": {
            "$ref": "DimensionGroup"
          }
        },
        "charts": {
          "items": {
            "$ref": "EmbeddedChart"
          },
          "type": "array",
          "description": "The specifications of every chart on this sheet."
        },
        "bandedRanges": {
          "type": "array",
          "items": {
            "$ref": "BandedRange"
          },
          "description": "The banded (alternating colors) ranges on this sheet."
        },
        "basicFilter": {
          "$ref": "BasicFilter",
          "description": "The filter on this sheet, if any."
        },
        "slicers": {
          "type": "array",
          "description": "The slicers on this sheet.",
          "items": {
            "$ref": "Slicer"
          }
        },
        "conditionalFormats": {
          "items": {
            "$ref": "ConditionalFormatRule"
          },
          "description": "The conditional format rules in this sheet.",
          "type": "array"
        },
        "merges": {
          "type": "array",
          "description": "The ranges that are merged together.",
          "items": {
            "$ref": "GridRange"
          }
        },
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties of the sheet."
        },
        "filterViews": {
          "description": "The filter views in this sheet.",
          "items": {
            "$ref": "FilterView"
          },
          "type": "array"
        }
      },
      "description": "A sheet in a spreadsheet.",
      "id": "Sheet"
    },
    "TrimWhitespaceResponse": {
      "type": "object",
      "properties": {
        "cellsChangedCount": {
          "format": "int32",
          "description": "The number of cells that were trimmed of whitespace.",
          "type": "integer"
        }
      },
      "description": "The result of trimming whitespace in cells.",
      "id": "TrimWhitespaceResponse"
    },
    "DuplicateSheetRequest": {
      "properties": {
        "insertSheetIndex": {
          "format": "int32",
          "description": "The zero-based index where the new sheet should be inserted. The index of all sheets after this are incremented.",
          "type": "integer"
        },
        "newSheetId": {
          "description": "If set, the ID of the new sheet. If not set, an ID is chosen. If set, the ID must not conflict with any existing sheet ID. If set, it must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "newSheetName": {
          "description": "The name of the new sheet. If empty, a new name is chosen for you.",
          "type": "string"
        },
        "sourceSheetId": {
          "type": "integer",
          "format": "int32",
          "description": "The sheet to duplicate. If the source sheet is of DATA_SOURCE type, its backing DataSource is also duplicated and associated with the new copy of the sheet. No data execution is triggered, the grid data of this sheet is also copied over but only available after the batch request completes."
        }
      },
      "description": "Duplicates the contents of a sheet.",
      "id": "DuplicateSheetRequest",
      "type": "object"
    },
    "AddNamedRangeRequest": {
      "properties": {
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to add. The namedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
        }
      },
      "type": "object",
      "description": "Adds a named range to the spreadsheet.",
      "id": "AddNamedRangeRequest"
    },
    "CellFormat": {
      "id": "CellFormat",
      "description": "The format of a cell.",
      "type": "object",
      "properties": {
        "numberFormat": {
          "$ref": "NumberFormat",
          "description": "A format describing how number values should be represented to the user."
        },
        "hyperlinkDisplayType": {
          "enumDescriptions": [
            "The default value: the hyperlink is rendered. Do not use this.",
            "A hyperlink should be explicitly rendered.",
            "A hyperlink should not be rendered."
          ],
          "type": "string",
          "enum": [
            "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
            "LINKED",
            "PLAIN_TEXT"
          ],
          "description": "How a hyperlink, if it exists, should be displayed in the cell."
        },
        "textDirection": {
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "description": "The direction of the text in the cell.",
          "enumDescriptions": [
            "The text direction is not specified. Do not use this.",
            "The text direction of left-to-right was set by the user.",
            "The text direction of right-to-left was set by the user."
          ],
          "type": "string"
        },
        "padding": {
          "description": "The padding of the cell.",
          "$ref": "Padding"
        },
        "textRotation": {
          "description": "The rotation applied to text in a cell",
          "$ref": "TextRotation"
        },
        "borders": {
          "description": "The borders of the cell.",
          "$ref": "Borders"
        },
        "wrapStrategy": {
          "enum": [
            "WRAP_STRATEGY_UNSPECIFIED",
            "OVERFLOW_CELL",
            "LEGACY_WRAP",
            "CLIP",
            "WRAP"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "Lines that are longer than the cell width will be written in the next cell over, so long as that cell is empty. If the next cell over is non-empty, this behaves the same as CLIP. The text will never wrap to the next line unless the user manually inserts a new line. Example: | First sentence. | | Manual newline that is very long. \u003c- Text continues into next cell | Next newline. |",
            "This wrap strategy represents the old Google Sheets wrap strategy where words that are longer than a line are clipped rather than broken. This strategy is not supported on all platforms and is being phased out. Example: | Cell has a | | loooooooooo| \u003c- Word is clipped. | word. |",
            "Lines that are longer than the cell width will be clipped. The text will never wrap to the next line unless the user manually inserts a new line. Example: | First sentence. | | Manual newline t| \u003c- Text is clipped | Next newline. |",
            "Words that are longer than a line are wrapped at the character level rather than clipped. Example: | Cell has a | | loooooooooo| \u003c- Word is broken. | ong word. |"
          ],
          "type": "string",
          "description": "The wrap strategy for the value in the cell."
        },
        "backgroundColorStyle": {
          "description": "The background color of the cell. If background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "textFormat": {
          "description": "The format of the text in the cell (unless overridden by a format run).",
          "$ref": "TextFormat"
        },
        "backgroundColor": {
          "$ref": "Color",
          "description": "The background color of the cell."
        },
        "verticalAlignment": {
          "description": "The vertical alignment of the value in the cell.",
          "type": "string",
          "enum": [
            "VERTICAL_ALIGN_UNSPECIFIED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "enumDescriptions": [
            "The vertical alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the top of the cell.",
            "The text is explicitly aligned to the middle of the cell.",
            "The text is explicitly aligned to the bottom of the cell."
          ]
        },
        "horizontalAlignment": {
          "description": "The horizontal alignment of the value in the cell.",
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ],
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ]
        }
      }
    },
    "CutPasteRequest": {
      "id": "CutPasteRequest",
      "description": "Moves data from the source to the destination.",
      "type": "object",
      "properties": {
        "pasteType": {
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like PASTE_NORMAL but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "description": "What kind of data to paste. All the source data will be cut, regardless of what is pasted.",
          "type": "string"
        },
        "destination": {
          "description": "The top-left coordinate where the data should be pasted.",
          "$ref": "GridCoordinate"
        },
        "source": {
          "description": "The source data to cut.",
          "$ref": "GridRange"
        }
      }
    },
    "UpdateNamedRangeRequest": {
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `namedRange` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to update with the new properties."
        }
      },
      "type": "object",
      "id": "UpdateNamedRangeRequest",
      "description": "Updates properties of the named range with the specified namedRangeId."
    },
    "SlicerSpec": {
      "type": "object",
      "description": "The specifications of a slicer.",
      "id": "SlicerSpec",
      "properties": {
        "backgroundColorStyle": {
          "description": "The background color of the slicer. If background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "textFormat": {
          "$ref": "TextFormat",
          "description": "The text format of title in the slicer."
        },
        "columnIndex": {
          "type": "integer",
          "description": "The column index in the data table on which the filter is applied to.",
          "format": "int32"
        },
        "applyToPivotTables": {
          "description": "True if the filter should apply to pivot tables. If not set, default to `True`.",
          "type": "boolean"
        },
        "backgroundColor": {
          "$ref": "Color",
          "description": "The background color of the slicer."
        },
        "filterCriteria": {
          "description": "The filtering criteria of the slicer.",
          "$ref": "FilterCriteria"
        },
        "horizontalAlignment": {
          "type": "string",
          "description": "The horizontal alignment of title in the slicer. If unspecified, defaults to `LEFT`",
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ]
        },
        "title": {
          "description": "The title of the slicer.",
          "type": "string"
        },
        "dataRange": {
          "description": "The data range of the slicer.",
          "$ref": "GridRange"
        }
      }
    },
    "AddConditionalFormatRuleRequest": {
      "description": "Adds a new conditional format rule at the given index. All subsequent rules' indexes are incremented.",
      "type": "object",
      "id": "AddConditionalFormatRuleRequest",
      "properties": {
        "index": {
          "description": "The zero-based index where the rule should be inserted.",
          "type": "integer",
          "format": "int32"
        },
        "rule": {
          "description": "The rule to add.",
          "$ref": "ConditionalFormatRule"
        }
      }
    },
    "KeyValueFormat": {
      "description": "Formatting options for key value.",
      "id": "KeyValueFormat",
      "properties": {
        "position": {
          "description": "Specifies the horizontal text positioning of key value. This field is optional. If not specified, default positioning is used.",
          "$ref": "TextPosition"
        },
        "textFormat": {
          "$ref": "TextFormat",
          "description": "Text formatting options for key value."
        }
      },
      "type": "object"
    },
    "BatchGetValuesByDataFilterRequest": {
      "type": "object",
      "id": "BatchGetValuesByDataFilterRequest",
      "properties": {
        "majorDimension": {
          "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then a request that selects that range and sets `majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas a request that sets `majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ]
        },
        "dataFilters": {
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          },
          "description": "The data filters used to match the ranges of values to retrieve. Ranges that match any of the specified data filters are included in the response."
        },
        "dateTimeRenderOption": {
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30st 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which is dependent on the spreadsheet locale)."
          ],
          "type": "string",
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER]."
        },
        "valueRenderOption": {
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
          "enumDescriptions": [
            "Values will be calculated & formatted in the reply according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`."
          ],
          "type": "string"
        }
      },
      "description": "The request for retrieving a range of values in a spreadsheet selected by a set of DataFilters."
    },
    "BasicSeriesDataPointStyleOverride": {
      "description": "Style override settings for a single series data point.",
      "type": "object",
      "properties": {
        "pointStyle": {
          "$ref": "PointStyle",
          "description": "Point style of the series data point. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA, LINE, or SCATTER. If empty, the series default is used."
        },
        "color": {
          "$ref": "Color",
          "description": "Color of the series data point. If empty, the series default is used."
        },
        "colorStyle": {
          "description": "Color of the series data point. If empty, the series default is used. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "index": {
          "format": "int32",
          "description": "Zero based index of the series data point.",
          "type": "integer"
        }
      },
      "id": "BasicSeriesDataPointStyleOverride"
    },
    "RowData": {
      "id": "RowData",
      "description": "Data about each cell in a row.",
      "properties": {
        "values": {
          "items": {
            "$ref": "CellData"
          },
          "description": "The values in the row, one per column.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "FilterSpec": {
      "type": "object",
      "id": "FilterSpec",
      "properties": {
        "filterCriteria": {
          "description": "The criteria for the column.",
          "$ref": "FilterCriteria"
        },
        "dataSourceColumnReference": {
          "description": "Reference to a data source column.",
          "$ref": "DataSourceColumnReference"
        },
        "columnIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The column index."
        }
      },
      "description": "The filter criteria associated with a specific column."
    },
    "DataSource": {
      "id": "DataSource",
      "type": "object",
      "properties": {
        "calculatedColumns": {
          "description": "All calculated columns in the data source.",
          "type": "array",
          "items": {
            "$ref": "DataSourceColumn"
          }
        },
        "dataSourceId": {
          "type": "string",
          "description": "The spreadsheet-scoped unique ID that identifies the data source. Example: 1080547365."
        },
        "spec": {
          "description": "The DataSourceSpec for the data source connected with this spreadsheet.",
          "$ref": "DataSourceSpec"
        },
        "sheetId": {
          "description": "The ID of the Sheet connected with the data source. The field cannot be changed once set. When creating a data source, an associated DATA_SOURCE sheet is also created, if the field is not specified, the ID of the created sheet will be randomly generated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about an external data source in the spreadsheet."
    },
    "RefreshDataSourceObjectExecutionStatus": {
      "id": "RefreshDataSourceObjectExecutionStatus",
      "properties": {
        "reference": {
          "$ref": "DataSourceObjectReference",
          "description": "Reference to a data source object being refreshed."
        },
        "dataExecutionStatus": {
          "description": "The data execution status.",
          "$ref": "DataExecutionStatus"
        }
      },
      "description": "The execution status of refreshing one data source object.",
      "type": "object"
    },
    "BatchClearValuesByDataFilterRequest": {
      "description": "The request for clearing more than one range selected by a DataFilter in a spreadsheet.",
      "properties": {
        "dataFilters": {
          "type": "array",
          "description": "The DataFilters used to determine which ranges to clear.",
          "items": {
            "$ref": "DataFilter"
          }
        }
      },
      "type": "object",
      "id": "BatchClearValuesByDataFilterRequest"
    },
    "GetSpreadsheetByDataFilterRequest": {
      "type": "object",
      "properties": {
        "dataFilters": {
          "items": {
            "$ref": "DataFilter"
          },
          "description": "The DataFilters used to select which ranges to retrieve from the spreadsheet.",
          "type": "array"
        },
        "includeGridData": {
          "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request.",
          "type": "boolean"
        }
      },
      "description": "The request for retrieving a Spreadsheet.",
      "id": "GetSpreadsheetByDataFilterRequest"
    },
    "TextPosition": {
      "description": "Position settings for text.",
      "type": "object",
      "properties": {
        "horizontalAlignment": {
          "type": "string",
          "description": "Horizontal alignment setting for the piece of text.",
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ]
        }
      },
      "id": "TextPosition"
    },
    "WaterfallChartSeries": {
      "type": "object",
      "properties": {
        "hideTrailingSubtotal": {
          "description": "True to hide the subtotal column from the end of the series. By default, a subtotal column will appear at the end of each series. Setting this field to true will hide that subtotal column for this series.",
          "type": "boolean"
        },
        "data": {
          "description": "The data being visualized in this series.",
          "$ref": "ChartData"
        },
        "subtotalColumnsStyle": {
          "$ref": "WaterfallChartColumnStyle",
          "description": "Styles for all subtotal columns in this series."
        },
        "negativeColumnsStyle": {
          "description": "Styles for all columns in this series with negative values.",
          "$ref": "WaterfallChartColumnStyle"
        },
        "positiveColumnsStyle": {
          "description": "Styles for all columns in this series with positive values.",
          "$ref": "WaterfallChartColumnStyle"
        },
        "dataLabel": {
          "description": "Information about the data labels for this series.",
          "$ref": "DataLabel"
        },
        "customSubtotals": {
          "items": {
            "$ref": "WaterfallChartCustomSubtotal"
          },
          "type": "array",
          "description": "Custom subtotal columns appearing in this series. The order in which subtotals are defined is not significant. Only one subtotal may be defined for each data point."
        }
      },
      "id": "WaterfallChartSeries",
      "description": "A single series of data for a waterfall chart."
    },
    "BatchUpdateSpreadsheetRequest": {
      "type": "object",
      "description": "The request for updating any aspect of a spreadsheet.",
      "properties": {
        "includeSpreadsheetInResponse": {
          "type": "boolean",
          "description": "Determines if the update response should include the spreadsheet resource."
        },
        "responseIncludeGridData": {
          "description": "True if grid data should be returned. Meaningful only if include_spreadsheet_in_response is 'true'. This parameter is ignored if a field mask was set in the request.",
          "type": "boolean"
        },
        "responseRanges": {
          "description": "Limits the ranges included in the response spreadsheet. Meaningful only if include_spreadsheet_in_response is 'true'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "type": "array",
          "description": "A list of updates to apply to the spreadsheet. Requests will be applied in the order they are specified. If any request is not valid, no requests will be applied."
        }
      },
      "id": "BatchUpdateSpreadsheetRequest"
    },
    "SourceAndDestination": {
      "id": "SourceAndDestination",
      "type": "object",
      "description": "A combination of a source range and how to extend that source.",
      "properties": {
        "source": {
          "description": "The location of the data to use as the source of the autofill.",
          "$ref": "GridRange"
        },
        "dimension": {
          "description": "The dimension that data should be filled into.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ]
        },
        "fillLength": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows or columns that data should be filled into. Positive numbers expand beyond the last row or last column of the source. Negative numbers expand before the first row or first column of the source."
        }
      }
    },
    "DataSourceFormula": {
      "properties": {
        "dataSourceId": {
          "type": "string",
          "description": "The ID of the data source the formula is associated with."
        },
        "dataExecutionStatus": {
          "description": "Output only. The data execution status.",
          "$ref": "DataExecutionStatus",
          "readOnly": true
        }
      },
      "id": "DataSourceFormula",
      "description": "A data source formula.",
      "type": "object"
    },
    "UpdateChartSpecRequest": {
      "id": "UpdateChartSpecRequest",
      "properties": {
        "chartId": {
          "description": "The ID of the chart to update.",
          "type": "integer",
          "format": "int32"
        },
        "spec": {
          "description": "The specification to apply to the chart.",
          "$ref": "ChartSpec"
        }
      },
      "type": "object",
      "description": "Updates a chart's specifications. (This does not move or resize a chart. To move or resize a chart, use UpdateEmbeddedObjectPositionRequest.)"
    },
    "UpdateDataSourceResponse": {
      "id": "UpdateDataSourceResponse",
      "type": "object",
      "description": "The response from updating data source.",
      "properties": {
        "dataSource": {
          "$ref": "DataSource",
          "description": "The updated data source."
        },
        "dataExecutionStatus": {
          "$ref": "DataExecutionStatus",
          "description": "The data execution status."
        }
      }
    },
    "DeleteProtectedRangeRequest": {
      "type": "object",
      "properties": {
        "protectedRangeId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the protected range to delete."
        }
      },
      "description": "Deletes the protected range with the given ID.",
      "id": "DeleteProtectedRangeRequest"
    },
    "AutoFillRequest": {
      "id": "AutoFillRequest",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range to autofill. This will examine the range and detect the location that has data and automatically fill that data in to the rest of the range."
        },
        "useAlternateSeries": {
          "type": "boolean",
          "description": "True if we should generate data with the \"alternate\" series. This differs based on the type and amount of source data."
        },
        "sourceAndDestination": {
          "$ref": "SourceAndDestination",
          "description": "The source and destination areas to autofill. This explicitly lists the source of the autofill and where to extend that data."
        }
      },
      "description": "Fills in more data based on existing data.",
      "type": "object"
    },
    "PivotGroupLimit": {
      "description": "The count limit on rows or columns in the pivot group.",
      "type": "object",
      "id": "PivotGroupLimit",
      "properties": {
        "countLimit": {
          "format": "int32",
          "description": "The count limit.",
          "type": "integer"
        },
        "applyOrder": {
          "type": "integer",
          "description": "The order in which the group limit is applied to the pivot table. Pivot group limits are applied from lower to higher order number. Order numbers are normalized to consecutive integers from 0. For write request, to fully customize the applying orders, all pivot group limits should have this field set with an unique number. Otherwise, the order is determined by the index in the PivotTable.rows list and then the PivotTable.columns list.",
          "format": "int32"
        }
      }
    },
    "UpdateEmbeddedObjectPositionRequest": {
      "properties": {
        "objectId": {
          "format": "int32",
          "description": "The ID of the object to moved.",
          "type": "integer"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields of OverlayPosition that should be updated when setting a new position. Used only if newPosition.overlayPosition is set, in which case at least one field must be specified. The root `newPosition.overlayPosition` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "newPosition": {
          "$ref": "EmbeddedObjectPosition",
          "description": "An explicit position to move the embedded object to. If newPosition.sheetId is set, a new sheet with that ID will be created. If newPosition.newSheet is set to true, a new sheet will be created with an ID that will be chosen for you."
        }
      },
      "description": "Update an embedded object's position (such as a moving or resizing a chart or image).",
      "type": "object",
      "id": "UpdateEmbeddedObjectPositionRequest"
    },
    "TextToColumnsRequest": {
      "description": "Splits a column of text into multiple columns, based on a delimiter in each cell.",
      "properties": {
        "delimiter": {
          "description": "The delimiter to use. Used only if delimiterType is CUSTOM.",
          "type": "string"
        },
        "source": {
          "description": "The source data range. This must span exactly one column.",
          "$ref": "GridRange"
        },
        "delimiterType": {
          "description": "The delimiter type to use.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "\",\"",
            "\";\"",
            "\".\"",
            "\" \"",
            "A custom value as defined in delimiter.",
            "Automatically detect columns."
          ],
          "enum": [
            "DELIMITER_TYPE_UNSPECIFIED",
            "COMMA",
            "SEMICOLON",
            "PERIOD",
            "SPACE",
            "CUSTOM",
            "AUTODETECT"
          ]
        }
      },
      "id": "TextToColumnsRequest",
      "type": "object"
    },
    "ClearValuesResponse": {
      "type": "object",
      "properties": {
        "clearedRange": {
          "description": "The range (in A1 notation) that was cleared. (If the request was for an unbounded range or a ranger larger than the bounds of the sheet, this will be the actual range that was cleared, bounded to the sheet's limits.)",
          "type": "string"
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        }
      },
      "id": "ClearValuesResponse",
      "description": "The response when clearing a range of values in a spreadsheet."
    },
    "AddFilterViewRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "The filter to add. The filterViewId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a filter that already exists.)",
          "$ref": "FilterView"
        }
      },
      "id": "AddFilterViewRequest",
      "description": "Adds a filter view."
    },
    "BatchUpdateValuesByDataFilterResponse": {
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "totalUpdatedColumns": {
          "description": "The total number of columns where at least one cell in the column was updated.",
          "type": "integer",
          "format": "int32"
        },
        "totalUpdatedSheets": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of sheets where at least one cell in the sheet was updated."
        },
        "responses": {
          "items": {
            "$ref": "UpdateValuesByDataFilterResponse"
          },
          "description": "The response for each range updated.",
          "type": "array"
        },
        "totalUpdatedCells": {
          "type": "integer",
          "description": "The total number of cells updated.",
          "format": "int32"
        },
        "totalUpdatedRows": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows where at least one cell in the row was updated."
        }
      },
      "id": "BatchUpdateValuesByDataFilterResponse",
      "description": "The response when updating a range of values in a spreadsheet.",
      "type": "object"
    },
    "UpdateValuesByDataFilterResponse": {
      "description": "The response when updating a range of values by a data filter in a spreadsheet.",
      "type": "object",
      "id": "UpdateValuesByDataFilterResponse",
      "properties": {
        "dataFilter": {
          "description": "The data filter that selected the range that was updated.",
          "$ref": "DataFilter"
        },
        "updatedCells": {
          "description": "The number of cells updated.",
          "type": "integer",
          "format": "int32"
        },
        "updatedRange": {
          "description": "The range (in A1 notation) that updates were applied to.",
          "type": "string"
        },
        "updatedRows": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows where at least one cell in the row was updated."
        },
        "updatedData": {
          "description": "The values of the cells in the range matched by the dataFilter after all updates were applied. This is only included if the request's `includeValuesInResponse` field was `true`.",
          "$ref": "ValueRange"
        },
        "updatedColumns": {
          "format": "int32",
          "description": "The number of columns where at least one cell in the column was updated.",
          "type": "integer"
        }
      }
    },
    "TextRotation": {
      "description": "The rotation applied to text in a cell.",
      "id": "TextRotation",
      "properties": {
        "angle": {
          "format": "int32",
          "description": "The angle between the standard orientation and the desired orientation. Measured in degrees. Valid values are between -90 and 90. Positive angles are angled upwards, negative are angled downwards. Note: For LTR text direction positive angles are in the counterclockwise direction, whereas for RTL they are in the clockwise direction",
          "type": "integer"
        },
        "vertical": {
          "type": "boolean",
          "description": "If true, text reads top to bottom, but the orientation of individual characters is unchanged. For example: | V | | e | | r | | t | | i | | c | | a | | l |"
        }
      },
      "type": "object"
    },
    "UpdateSpreadsheetPropertiesRequest": {
      "id": "UpdateSpreadsheetPropertiesRequest",
      "properties": {
        "properties": {
          "description": "The properties to update.",
          "$ref": "SpreadsheetProperties"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root 'properties' is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Updates properties of a spreadsheet.",
      "type": "object"
    },
    "ColorStyle": {
      "type": "object",
      "properties": {
        "themeColor": {
          "description": "Theme color.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified theme color",
            "Represents the primary text color",
            "Represents the primary background color",
            "Represents the first accent color",
            "Represents the second accent color",
            "Represents the third accent color",
            "Represents the fourth accent color",
            "Represents the fifth accent color",
            "Represents the sixth accent color",
            "Represents the color to use for hyperlinks"
          ],
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "TEXT",
            "BACKGROUND",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "LINK"
          ]
        },
        "rgbColor": {
          "$ref": "Color",
          "description": "RGB color."
        }
      },
      "id": "ColorStyle",
      "description": "A color value."
    },
    "DataFilterValueRange": {
      "properties": {
        "majorDimension": {
          "description": "The major dimension of the values.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ]
        },
        "dataFilter": {
          "$ref": "DataFilter",
          "description": "The data filter describing the location of the values in the spreadsheet."
        },
        "values": {
          "description": "The data to be written. If the provided values exceed any of the ranges matched by the data filter then the request fails. If the provided values are less than the matched ranges only the specified values are written, existing values in the matched ranges remain unaffected.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          }
        }
      },
      "id": "DataFilterValueRange",
      "type": "object",
      "description": "A range of values whose location is specified by a DataFilter."
    },
    "PivotTable": {
      "properties": {
        "criteria": {
          "additionalProperties": {
            "$ref": "PivotFilterCriteria"
          },
          "type": "object",
          "description": "An optional mapping of filters per source column offset. The filters are applied before aggregating data into the pivot table. The map's key is the column offset of the source range that you want to filter, and the value is the criteria for that column. For example, if the source was `C10:E15`, a key of `0` will have the filter for column `C`, whereas the key `1` is for column `D`. This field is deprecated in favor of filter_specs."
        },
        "source": {
          "$ref": "GridRange",
          "description": "The range the pivot table is reading data from."
        },
        "filterSpecs": {
          "items": {
            "$ref": "PivotFilterSpec"
          },
          "type": "array",
          "description": "The filters applied to the source columns before aggregating data for the pivot table. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence."
        },
        "columns": {
          "type": "array",
          "description": "Each column grouping in the pivot table.",
          "items": {
            "$ref": "PivotGroup"
          }
        },
        "values": {
          "description": "A list of values to include in the pivot table.",
          "type": "array",
          "items": {
            "$ref": "PivotValue"
          }
        },
        "dataSourceId": {
          "description": "The ID of the data source the pivot table is reading data from.",
          "type": "string"
        },
        "valueLayout": {
          "type": "string",
          "enumDescriptions": [
            "Values are laid out horizontally (as columns).",
            "Values are laid out vertically (as rows)."
          ],
          "enum": [
            "HORIZONTAL",
            "VERTICAL"
          ],
          "description": "Whether values should be listed horizontally (as columns) or vertically (as rows)."
        },
        "dataExecutionStatus": {
          "description": "Output only. The data execution status for data source pivot tables.",
          "$ref": "DataExecutionStatus",
          "readOnly": true
        },
        "rows": {
          "description": "Each row grouping in the pivot table.",
          "items": {
            "$ref": "PivotGroup"
          },
          "type": "array"
        }
      },
      "description": "A pivot table.",
      "type": "object",
      "id": "PivotTable"
    },
    "PivotFilterCriteria": {
      "type": "object",
      "properties": {
        "visibleByDefault": {
          "type": "boolean",
          "description": "Whether values are visible by default. If true, the visible_values are ignored, all values that meet condition (if specified) are shown. If false, values that are both in visible_values and meet condition are shown."
        },
        "visibleValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Values that should be included. Values not listed here are excluded."
        },
        "condition": {
          "$ref": "BooleanCondition",
          "description": "A condition that must be true for values to be shown. (`visibleValues` does not override this -- even if a value is listed there, it is still hidden if it does not meet the condition.) Condition values that refer to ranges in A1-notation are evaluated relative to the pivot table sheet. References are treated absolutely, so are not filled down the pivot table. For example, a condition value of `=A1` on \"Pivot Table 1\" is treated as `'Pivot Table 1'!$A$1`. The source data of the pivot table can be referenced by column header name. For example, if the source data has columns named \"Revenue\" and \"Cost\" and a condition is applied to the \"Revenue\" column with type `NUMBER_GREATER` and value `=Cost`, then only columns where \"Revenue\" \u003e \"Cost\" are included."
        }
      },
      "id": "PivotFilterCriteria",
      "description": "Criteria for showing/hiding rows in a pivot table."
    },
    "DeleteBandingRequest": {
      "properties": {
        "bandedRangeId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the banded range to delete."
        }
      },
      "id": "DeleteBandingRequest",
      "description": "Removes the banded range with the given ID from the spreadsheet.",
      "type": "object"
    },
    "CopyPasteRequest": {
      "description": "Copies data from the source to the destination.",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "GridRange",
          "description": "The source range to copy."
        },
        "destination": {
          "description": "The location to paste to. If the range covers a span that's a multiple of the source's height or width, then the data will be repeated to fill in the destination range. If the range is smaller than the source range, the entire source data will still be copied (beyond the end of the destination range).",
          "$ref": "GridRange"
        },
        "pasteOrientation": {
          "enumDescriptions": [
            "Paste normally.",
            "Paste transposed, where all rows become columns and vice versa."
          ],
          "type": "string",
          "description": "How that data should be oriented when pasting.",
          "enum": [
            "NORMAL",
            "TRANSPOSE"
          ]
        },
        "pasteType": {
          "description": "What kind of data to paste.",
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like PASTE_NORMAL but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "type": "string",
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ]
        }
      },
      "id": "CopyPasteRequest"
    },
    "BatchUpdateValuesResponse": {
      "description": "The response when updating a range of values in a spreadsheet.",
      "properties": {
        "totalUpdatedColumns": {
          "format": "int32",
          "type": "integer",
[...]
