{
  "name": "slides",
  "servicePath": "",
  "id": "slides:v1",
  "version_module": true,
  "baseUrl": "https://slides.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "protocol": "rest",
  "description": "Reads and writes Google Slides presentations.",
  "title": "Google Slides API",
  "mtlsRootUrl": "https://slides.mtls.googleapis.com/",
  "resources": {
    "presentations": {
      "methods": {
        "batchUpdate": {
          "request": {
            "$ref": "BatchUpdatePresentationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/presentations",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ],
          "flatPath": "v1/presentations/{presentationId}:batchUpdate",
          "description": "Applies one or more updates to the presentation. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies: the reply to the third request, and another empty reply, in that order. Because other users may be editing the presentation, the presentation might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the presentation should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "path": "v1/presentations/{presentationId}:batchUpdate",
          "httpMethod": "POST",
          "parameterOrder": [
            "presentationId"
          ],
          "response": {
            "$ref": "BatchUpdatePresentationResponse"
          },
          "parameters": {
            "presentationId": {
              "location": "path",
              "required": true,
              "description": "The presentation to apply the updates to.",
              "type": "string"
            }
          },
          "id": "slides.presentations.batchUpdate"
        },
        "create": {
          "id": "slides.presentations.create",
          "flatPath": "v1/presentations",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "Presentation"
          },
          "path": "v1/presentations",
          "request": {
            "$ref": "Presentation"
          },
          "httpMethod": "POST",
          "description": "Creates a blank presentation using the title given in the request. If a `presentationId` is provided, it is used as the ID of the new presentation. Otherwise, a new ID is generated. Other fields in the request, including any provided content, are ignored. Returns the created presentation.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/presentations"
          ]
        },
        "get": {
          "id": "slides.presentations.get",
          "response": {
            "$ref": "Presentation"
          },
          "httpMethod": "GET",
          "path": "v1/presentations/{+presentationId}",
          "parameterOrder": [
            "presentationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/presentations",
            "https://www.googleapis.com/auth/presentations.readonly"
          ],
          "flatPath": "v1/presentations/{presentationsId}",
          "parameters": {
            "presentationId": {
              "description": "The ID of the presentation to retrieve.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets the latest version of the specified presentation."
        }
      },
      "resources": {
        "pages": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Page"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/presentations",
                "https://www.googleapis.com/auth/presentations.readonly"
              ],
              "parameters": {
                "presentationId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the presentation to retrieve."
                },
                "pageObjectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The object ID of the page to retrieve."
                }
              },
              "httpMethod": "GET",
              "id": "slides.presentations.pages.get",
              "flatPath": "v1/presentations/{presentationId}/pages/{pageObjectId}",
              "path": "v1/presentations/{presentationId}/pages/{pageObjectId}",
              "description": "Gets the latest version of the specified page in the presentation.",
              "parameterOrder": [
                "presentationId",
                "pageObjectId"
              ]
            },
            "getThumbnail": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Thumbnail"
              },
              "description": "Generates a thumbnail of the latest version of the specified page in the presentation and returns a URL to the thumbnail image. This request counts as an [expensive read request](/slides/limits) for quota purposes.",
              "parameters": {
                "pageObjectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The object ID of the page whose thumbnail to retrieve."
                },
                "presentationId": {
                  "location": "path",
                  "description": "The ID of the presentation to retrieve.",
                  "type": "string",
                  "required": true
                },
                "thumbnailProperties.mimeType": {
                  "enumDescriptions": [
                    "The default mime type."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "PNG"
                  ],
                  "description": "The optional mime type of the thumbnail image. If you don't specify the mime type, the mime type defaults to PNG."
                },
                "thumbnailProperties.thumbnailSize": {
                  "type": "string",
                  "enum": [
                    "THUMBNAIL_SIZE_UNSPECIFIED",
                    "LARGE",
                    "MEDIUM",
                    "SMALL"
                  ],
                  "location": "query",
                  "description": "The optional thumbnail image size. If you don't specify the size, the server chooses a default size of the image.",
                  "enumDescriptions": [
                    "The default thumbnail image size. The unspecified thumbnail size implies that the server chooses the size of the image in a way that might vary in the future.",
                    "The thumbnail image width of 1600px.",
                    "The thumbnail image width of 800px.",
                    "The thumbnail image width of 200px."
                  ]
                }
              },
              "parameterOrder": [
                "presentationId",
                "pageObjectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/presentations",
                "https://www.googleapis.com/auth/presentations.readonly"
              ],
              "flatPath": "v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail",
              "path": "v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail",
              "id": "slides.presentations.pages.getThumbnail"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/slides/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "canonicalName": "Slides",
  "revision": "20210128",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete your spreadsheets in Google Drive"
        },
        "https://www.googleapis.com/auth/presentations.readonly": {
          "description": "View your Google Slides presentations"
        },
        "https://www.googleapis.com/auth/presentations": {
          "description": "View and manage your Google Slides presentations"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "View your Google Spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "View and manage Google Drive files and folders that you have opened or created with this app"
        }
      }
    }
  },
  "rootUrl": "https://slides.googleapis.com/",
  "schemas": {
    "CreateSheetsChartResponse": {
      "description": "The result of creating an embedded Google Sheets chart.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created chart."
        }
      },
      "type": "object",
      "id": "CreateSheetsChartResponse"
    },
    "RgbColor": {
      "properties": {
        "green": {
          "type": "number",
          "description": "The green component of the color, from 0.0 to 1.0.",
          "format": "float"
        },
        "blue": {
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "red": {
          "format": "float",
          "description": "The red component of the color, from 0.0 to 1.0.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "An RGB color.",
      "id": "RgbColor"
    },
    "ParagraphMarker": {
      "type": "object",
      "description": "A TextElement kind that represents the beginning of a new paragraph.",
      "properties": {
        "style": {
          "$ref": "ParagraphStyle",
          "description": "The paragraph's style"
        },
        "bullet": {
          "$ref": "Bullet",
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list."
        }
      },
      "id": "ParagraphMarker"
    },
    "CreateSlideRequest": {
      "description": "Creates a new slide.",
      "id": "CreateSlideRequest",
      "type": "object",
      "properties": {
        "insertionIndex": {
          "format": "int32",
          "description": "The optional zero-based index indicating where to insert the slides. If you don't specify an index, the new slide is created at the end.",
          "type": "integer"
        },
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "placeholderIdMappings": {
          "description": "An optional list of object ID mappings from the placeholder(s) on the layout to the placeholder(s) that will be created on the new slide from that specified layout. Can only be used when `slide_layout_reference` is specified.",
          "items": {
            "$ref": "LayoutPlaceholderIdMapping"
          },
          "type": "array"
        },
        "slideLayoutReference": {
          "description": "Layout reference of the slide to be inserted, based on the *current master*, which is one of the following: - The master of the previous slide index. - The master of the first slide, if the insertion_index is zero. - The first master in the presentation, if there are no slides. If the LayoutReference is not found in the current master, a 400 bad request error is returned. If you don't specify a layout reference, then the new slide will use the predefined layout `BLANK`.",
          "$ref": "LayoutReference"
        }
      }
    },
    "TableCell": {
      "type": "object",
      "id": "TableCell",
      "properties": {
        "location": {
          "$ref": "TableCellLocation",
          "description": "The location of the cell within the table."
        },
        "tableCellProperties": {
          "$ref": "TableCellProperties",
          "description": "The properties of the table cell."
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text content of the cell."
        },
        "columnSpan": {
          "format": "int32",
          "description": "Column span of the cell.",
          "type": "integer"
        },
        "rowSpan": {
          "type": "integer",
          "description": "Row span of the cell.",
          "format": "int32"
        }
      },
      "description": "Properties and contents of each table cell."
    },
    "NestingLevel": {
      "properties": {
        "bulletStyle": {
          "$ref": "TextStyle",
          "description": "The style of a bullet at this level of nesting."
        }
      },
      "id": "NestingLevel",
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "type": "object"
    },
    "CreateImageRequest": {
      "description": "Creates an image.",
      "properties": {
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "elementProperties": {
          "description": "The element properties for the image. When the aspect ratio of the provided size does not match the image aspect ratio, the image is scaled and centered with respect to the size in order to maintain aspect ratio. The provided transform is applied after this operation. The PageElementProperties.size property is optional. If you don't specify the size, the default size of the image is used. The PageElementProperties.transform property is optional. If you don't specify a transform, the image will be placed at the top left corner of the page.",
          "$ref": "PageElementProperties"
        },
        "url": {
          "description": "The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length. The URL itself is saved with the image, and exposed via the Image.source_url field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateImageRequest"
    },
    "TableBorderProperties": {
      "id": "TableBorderProperties",
      "type": "object",
      "description": "The border styling properties of the TableBorderCell.",
      "properties": {
        "weight": {
          "$ref": "Dimension",
          "description": "The thickness of the border."
        },
        "tableBorderFill": {
          "$ref": "TableBorderFill",
          "description": "The fill of the table border."
        },
        "dashStyle": {
          "description": "The dash style of the border.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.",
            "Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dashDot'.",
            "Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDash'.",
            "Alternating large dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDashDot'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ],
          "type": "string"
        }
      }
    },
    "SolidFill": {
      "id": "SolidFill",
      "type": "object",
      "description": "A solid color fill. The page or page element is filled entirely with the specified color value. If any field is unset, its value may be inherited from a parent placeholder if it exists.",
      "properties": {
        "alpha": {
          "type": "number",
          "description": "The fraction of this `color` that should be applied to the pixel. That is, the final pixel color is defined by the equation: pixel color = alpha * (color) + (1.0 - alpha) * (background color) This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color.",
          "format": "float"
        },
        "color": {
          "description": "The color value of the solid fill.",
          "$ref": "OpaqueColor"
        }
      }
    },
    "TableCellLocation": {
      "description": "A location of a single table cell within a table.",
      "type": "object",
      "properties": {
        "rowIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The 0-based row index."
        },
        "columnIndex": {
          "format": "int32",
          "description": "The 0-based column index.",
          "type": "integer"
        }
      },
      "id": "TableCellLocation"
    },
    "TableCellBackgroundFill": {
      "properties": {
        "propertyState": {
          "type": "string",
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "description": "The background fill property state. Updating the fill on a table cell will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a table cell, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ]
        },
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        }
      },
      "id": "TableCellBackgroundFill",
      "type": "object",
      "description": "The table cell background fill."
    },
    "InsertTableColumnsRequest": {
      "type": "object",
      "properties": {
        "insertRight": {
          "type": "boolean",
          "description": "Whether to insert new columns to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
        },
        "tableObjectId": {
          "description": "The table to insert columns into.",
          "type": "string"
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell."
        },
        "number": {
          "description": "The number of columns to be inserted. Maximum 20 per request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "InsertTableColumnsRequest",
      "description": "Inserts columns into a table. Other columns in the table will be resized to fit the new column."
    },
    "CreateShapeResponse": {
      "type": "object",
      "id": "CreateShapeResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created shape."
        }
      },
      "description": "The result of creating a shape."
    },
    "DeleteTableColumnRequest": {
      "description": "Deletes a column from a table.",
      "type": "object",
      "properties": {
        "tableObjectId": {
          "type": "string",
          "description": "The table to delete columns from."
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which a column will be deleted. The column this cell spans will be deleted. If this is a merged cell, multiple columns will be deleted. If no columns remain in the table after this deletion, the whole table is deleted."
        }
      },
      "id": "DeleteTableColumnRequest"
    },
    "TableBorderRow": {
      "type": "object",
      "properties": {
        "tableBorderCells": {
          "type": "array",
          "description": "Properties of each border cell. When a border's adjacent table cells are merged, it is not included in the response.",
          "items": {
            "$ref": "TableBorderCell"
          }
        }
      },
      "id": "TableBorderRow",
      "description": "Contents of each border row in a table."
    },
    "RerouteLineRequest": {
      "type": "object",
      "id": "RerouteLineRequest",
      "description": "Reroutes a line such that it's connected at the two closest connection sites on the connected page elements.",
      "properties": {
        "objectId": {
          "description": "The object ID of the line to reroute. Only a line with a category indicating it is a \"connector\" can be rerouted. The start and end connections of the line must be on different page elements.",
          "type": "string"
        }
      }
    },
    "Bullet": {
      "description": "Describes the bullet of a paragraph.",
      "id": "Bullet",
      "type": "object",
      "properties": {
        "nestingLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The nesting level of this paragraph in the list."
        },
        "bulletStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph specific text style applied to this bullet."
        },
        "glyph": {
          "description": "The rendered bullet glyph for this paragraph.",
          "type": "string"
        },
        "listId": {
          "description": "The ID of the list this paragraph belongs to.",
          "type": "string"
        }
      }
    },
    "DeleteParagraphBulletsRequest": {
      "type": "object",
      "properties": {
        "textRange": {
          "description": "The range of text to delete bullets from, based on TextElement indexes.",
          "$ref": "Range"
        },
        "objectId": {
          "description": "The object ID of the shape or table containing the text to delete bullets from.",
          "type": "string"
        },
        "cellLocation": {
          "description": "The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table.",
          "$ref": "TableCellLocation"
        }
      },
      "id": "DeleteParagraphBulletsRequest",
      "description": "Deletes bullets from all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph."
    },
    "ReplaceAllTextRequest": {
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "properties": {
        "containsText": {
          "description": "Finds text in a shape matching this substring.",
          "$ref": "SubstringMatchCriteria"
        },
        "pageObjectIds": {
          "description": "If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes master, or if a page with that object ID doesn't exist in the presentation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replaceText": {
          "type": "string",
          "description": "The text that will replace the matched text."
        }
      },
      "type": "object",
      "id": "ReplaceAllTextRequest"
    },
    "CreateSlideResponse": {
      "id": "CreateSlideResponse",
      "description": "The result of creating a slide.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the created slide.",
          "type": "string"
        }
      }
    },
    "CreateSheetsChartRequest": {
      "properties": {
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet.",
          "type": "integer",
          "format": "int32"
        },
        "linkingMode": {
          "type": "string",
          "description": "The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.",
          "enum": [
            "NOT_LINKED_IMAGE",
            "LINKED"
          ],
          "enumDescriptions": [
            "The chart is not associated with the source spreadsheet and cannot be updated. A chart that is not linked will be inserted as an image.",
            "Linking the chart allows it to be updated, and other collaborators will see a link to the spreadsheet."
          ]
        },
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the chart. When the aspect ratio of the provided size does not match the chart aspect ratio, the chart is scaled and centered with respect to the size in order to maintain aspect ratio. The provided transform is applied after this operation."
        },
        "objectId": {
          "description": "A user-supplied object ID. If specified, the ID must be unique among all pages and page elements in the presentation. The ID should start with a word character [a-zA-Z0-9_] and then followed by any number of the following characters [a-zA-Z0-9_-:]. The length of the ID should not be less than 5 or greater than 50. If empty, a unique identifier will be generated.",
          "type": "string"
        },
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the chart.",
          "type": "string"
        }
      },
      "id": "CreateSheetsChartRequest",
      "type": "object",
      "description": "Creates an embedded Google Sheets chart. NOTE: Chart creation requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, drive.file, or drive OAuth scopes."
    },
    "Shadow": {
      "description": "The shadow properties of a page element. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind.",
      "properties": {
        "alignment": {
          "enum": [
            "RECTANGLE_POSITION_UNSPECIFIED",
            "TOP_LEFT",
            "TOP_CENTER",
            "TOP_RIGHT",
            "LEFT_CENTER",
            "CENTER",
            "RIGHT_CENTER",
            "BOTTOM_LEFT",
            "BOTTOM_CENTER",
            "BOTTOM_RIGHT"
          ],
          "type": "string",
          "description": "The alignment point of the shadow, that sets the origin for translate, scale and skew of the shadow. This property is read-only.",
          "enumDescriptions": [
            "Unspecified.",
            "Top left.",
            "Top center.",
            "Top right.",
            "Left center.",
            "Center.",
            "Right center.",
            "Bottom left.",
            "Bottom center.",
            "Bottom right."
          ]
        },
        "type": {
          "enumDescriptions": [
            "Unspecified shadow type.",
            "Outer shadow."
          ],
          "description": "The type of the shadow. This property is read-only.",
          "type": "string",
          "enum": [
            "SHADOW_TYPE_UNSPECIFIED",
            "OUTER"
          ]
        },
        "color": {
          "description": "The shadow color value.",
          "$ref": "OpaqueColor"
        },
        "transform": {
          "description": "Transform that encodes the translate, scale, and skew of the shadow, relative to the alignment position.",
          "$ref": "AffineTransform"
        },
        "alpha": {
          "description": "The alpha of the shadow's color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        },
        "blurRadius": {
          "description": "The radius of the shadow blur. The larger the radius, the more diffuse the shadow becomes.",
          "$ref": "Dimension"
        },
        "propertyState": {
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "description": "The shadow property state. Updating the shadow on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no shadow on a page element, set this field to `NOT_RENDERED`. In this case, any other shadow fields set in the same request will be ignored.",
          "type": "string"
        },
        "rotateWithShape": {
          "description": "Whether the shadow should rotate with the shape. This property is read-only.",
          "type": "boolean"
        }
      },
      "id": "Shadow",
      "type": "object"
    },
    "Response": {
      "type": "object",
      "properties": {
        "createVideo": {
          "$ref": "CreateVideoResponse",
          "description": "The result of creating a video."
        },
        "createShape": {
          "description": "The result of creating a shape.",
          "$ref": "CreateShapeResponse"
        },
        "createImage": {
          "$ref": "CreateImageResponse",
          "description": "The result of creating an image."
        },
        "createTable": {
          "$ref": "CreateTableResponse",
          "description": "The result of creating a table."
        },
        "replaceAllShapesWithSheetsChart": {
          "$ref": "ReplaceAllShapesWithSheetsChartResponse",
          "description": "The result of replacing all shapes matching some criteria with a Google Sheets chart."
        },
        "createSlide": {
          "$ref": "CreateSlideResponse",
          "description": "The result of creating a slide."
        },
        "replaceAllShapesWithImage": {
          "description": "The result of replacing all shapes matching some criteria with an image.",
          "$ref": "ReplaceAllShapesWithImageResponse"
        },
        "createLine": {
          "$ref": "CreateLineResponse",
          "description": "The result of creating a line."
        },
        "duplicateObject": {
          "description": "The result of duplicating an object.",
          "$ref": "DuplicateObjectResponse"
        },
        "replaceAllText": {
          "description": "The result of replacing text.",
          "$ref": "ReplaceAllTextResponse"
        },
        "groupObjects": {
          "description": "The result of grouping objects.",
          "$ref": "GroupObjectsResponse"
        },
        "createSheetsChart": {
          "$ref": "CreateSheetsChartResponse",
          "description": "The result of creating a Google Sheets chart."
        }
      },
      "description": "A single response from an update.",
      "id": "Response"
    },
    "Thumbnail": {
      "type": "object",
      "description": "The thumbnail of a page.",
      "id": "Thumbnail",
      "properties": {
        "height": {
          "format": "int32",
          "description": "The positive height in pixels of the thumbnail image.",
          "type": "integer"
        },
        "width": {
          "type": "integer",
          "description": "The positive width in pixels of the thumbnail image.",
          "format": "int32"
        },
        "contentUrl": {
          "description": "The content URL of the thumbnail image. The URL to the image has a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change. The mime type of the thumbnail image is the same as specified in the `GetPageThumbnailRequest`.",
          "type": "string"
        }
      }
    },
    "RefreshSheetsChartRequest": {
      "description": "Refreshes an embedded Google Sheets chart by replacing it with the latest version of the chart from Google Sheets. NOTE: Refreshing charts requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.",
      "id": "RefreshSheetsChartRequest",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the chart to refresh."
        }
      }
    },
    "UpdateSlidesPositionRequest": {
      "properties": {
        "slideObjectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of the slides in the presentation that should be moved. The slides in this list must be in existing presentation order, without duplicates."
        },
        "insertionIndex": {
          "format": "int32",
          "description": "The index where the slides should be inserted, based on the slide arrangement before the move takes place. Must be between zero and the number of slides in the presentation, inclusive.",
          "type": "integer"
        }
      },
      "description": "Updates the position of slides in the presentation.",
      "id": "UpdateSlidesPositionRequest",
      "type": "object"
    },
    "DuplicateObjectResponse": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the new duplicate object."
        }
      },
      "type": "object",
      "description": "The response of duplicating an object.",
      "id": "DuplicateObjectResponse"
    },
    "Line": {
      "id": "Line",
      "type": "object",
      "properties": {
        "lineType": {
          "enumDescriptions": [
            "An unspecified line type.",
            "Straight connector 1 form. Corresponds to ECMA-376 ST_ShapeType 'straightConnector1'.",
            "Bent connector 2 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector2'.",
            "Bent connector 3 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector3'.",
            "Bent connector 4 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector4'.",
            "Bent connector 5 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector5'.",
            "Curved connector 2 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector2'.",
            "Curved connector 3 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector3'.",
            "Curved connector 4 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector4'.",
            "Curved connector 5 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector5'.",
            "Straight line. Corresponds to ECMA-376 ST_ShapeType 'line'. This line type is not a connector."
          ],
          "description": "The type of the line.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRAIGHT_CONNECTOR_1",
            "BENT_CONNECTOR_2",
            "BENT_CONNECTOR_3",
            "BENT_CONNECTOR_4",
            "BENT_CONNECTOR_5",
            "CURVED_CONNECTOR_2",
            "CURVED_CONNECTOR_3",
            "CURVED_CONNECTOR_4",
            "CURVED_CONNECTOR_5",
            "STRAIGHT_LINE"
          ],
          "type": "string"
        },
        "lineCategory": {
          "type": "string",
          "enum": [
            "LINE_CATEGORY_UNSPECIFIED",
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ],
          "description": "The category of the line. It matches the `category` specified in CreateLineRequest, and can be updated with UpdateLineCategoryRequest."
        },
        "lineProperties": {
          "description": "The properties of the line.",
          "$ref": "LineProperties"
        }
      },
      "description": "A PageElement kind representing a non-connector line, straight connector, curved connector, or bent connector."
    },
    "Range": {
      "properties": {
        "startIndex": {
          "format": "int32",
          "description": "The optional zero-based index of the beginning of the collection. Required for `FIXED_RANGE` and `FROM_START_INDEX` ranges.",
          "type": "integer"
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The optional zero-based index of the end of the collection. Required for `FIXED_RANGE` ranges."
        },
        "type": {
          "type": "string",
          "enum": [
            "RANGE_TYPE_UNSPECIFIED",
            "FIXED_RANGE",
            "FROM_START_INDEX",
            "ALL"
          ],
          "description": "The type of range.",
          "enumDescriptions": [
            "Unspecified range type. This value must not be used.",
            "A fixed range. Both the `start_index` and `end_index` must be specified.",
            "Starts the range at `start_index` and continues until the end of the collection. The `end_index` must not be specified.",
            "Sets the range to be the whole length of the collection. Both the `start_index` and the `end_index` must not be specified."
          ]
        }
      },
      "id": "Range",
      "description": "Specifies a contiguous range of an indexed collection, such as characters in text.",
      "type": "object"
    },
    "Size": {
      "type": "object",
      "id": "Size",
      "properties": {
        "width": {
          "description": "The width of the object.",
          "$ref": "Dimension"
        },
        "height": {
          "description": "The height of the object.",
          "$ref": "Dimension"
        }
      },
      "description": "A width and height."
    },
    "PageBackgroundFill": {
      "properties": {
        "propertyState": {
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "type": "string",
          "description": "The background fill property state. Updating the fill on a page will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a page, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ]
        },
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        },
        "stretchedPictureFill": {
          "$ref": "StretchedPictureFill",
          "description": "Stretched picture fill."
        }
      },
      "type": "object",
      "id": "PageBackgroundFill",
      "description": "The page background fill."
    },
    "UpdateTableRowPropertiesRequest": {
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`. If '\"min_row_height\"' is included in the field mask but the property is left unset, the minimum row height will default to 0."
        },
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRowProperties": {
          "$ref": "TableRowProperties",
          "description": "The table row properties to update."
        },
        "rowIndices": {
          "description": "The list of zero-based indices specifying which rows to update. If no indices are provided, all rows in the table will be updated.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "description": "Updates the properties of a Table row.",
      "type": "object",
      "id": "UpdateTableRowPropertiesRequest"
    },
    "PageElementProperties": {
      "type": "object",
      "properties": {
        "transform": {
          "$ref": "AffineTransform",
          "description": "The transform for the element."
        },
        "pageObjectId": {
          "type": "string",
          "description": "The object ID of the page where the element is located."
        },
        "size": {
          "description": "The size of the element.",
          "$ref": "Size"
        }
      },
      "id": "PageElementProperties",
      "description": "Common properties for a page element. Note: When you initially create a PageElement, the API may modify the values of both `size` and `transform`, but the visual size will be unchanged."
    },
    "UnmergeTableCellsRequest": {
      "description": "Unmerges cells in a Table.",
      "id": "UnmergeTableCellsRequest",
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the upper-left (\"head\") cell of the resulting block of unmerged cells.",
          "$ref": "TableRange"
        },
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteTextRequest": {
      "description": "Deletes text from a shape or a table cell.",
      "type": "object",
      "id": "DeleteTextRequest",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape or table from which the text will be deleted."
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The optional table cell location if the text is to be deleted from a table cell. If present, the object_id must refer to a table."
        },
        "textRange": {
          "$ref": "Range",
          "description": "The range of text to delete, based on TextElement indexes. There is always an implicit newline character at the end of a shape's or table cell's text that cannot be deleted. `Range.Type.ALL` will use the correct bounds, but care must be taken when specifying explicit bounds for range types `FROM_START_INDEX` and `FIXED_RANGE`. For example, if the text is \"ABC\", followed by an implicit newline, then the maximum value is 2 for `text_range.start_index` and 3 for `text_range.end_index`. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles and lists as the two paragraphs are merged. Ranges that include only one code unit of a surrogate pair are expanded to include both code units."
        }
      }
    },
    "AffineTransform": {
      "properties": {
        "translateX": {
          "type": "number",
          "format": "double",
          "description": "The X coordinate translation element."
        },
        "shearY": {
          "format": "double",
          "description": "The Y coordinate shearing element.",
          "type": "number"
        },
        "translateY": {
          "type": "number",
          "format": "double",
          "description": "The Y coordinate translation element."
        },
        "scaleY": {
          "description": "The Y coordinate scaling element.",
          "type": "number",
          "format": "double"
        },
        "shearX": {
          "description": "The X coordinate shearing element.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "enum": [
            "UNIT_UNSPECIFIED",
            "EMU",
            "PT"
          ],
          "type": "string",
          "description": "The units for translate elements.",
          "enumDescriptions": [
            "The units are unknown.",
            "An English Metric Unit (EMU) is defined as 1/360,000 of a centimeter and thus there are 914,400 EMUs per inch, and 12,700 EMUs per point.",
            "A point, 1/72 of an inch."
          ]
        },
        "scaleX": {
          "type": "number",
          "format": "double",
          "description": "The X coordinate scaling element."
        }
      },
      "id": "AffineTransform",
      "description": "AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ] to transform source coordinates (x,y) into destination coordinates (x', y') according to: x' x = shear_y scale_y translate_y 1 [ 1 ] After transformation, x' = scale_x * x + shear_x * y + translate_x; y' = scale_y * y + shear_y * x + translate_y; This message is therefore composed of these six matrix elements.",
      "type": "object"
    },
    "InsertTextRequest": {
      "type": "object",
      "description": "Inserts text into a shape or a table cell.",
      "properties": {
        "insertionIndex": {
          "description": "The index where the text will be inserted, in Unicode code units, based on TextElement indexes. The index is zero-based and is computed from the start of the string. The index may be adjusted to prevent insertions inside Unicode grapheme clusters. In these cases, the text will be inserted immediately after the grapheme cluster.",
          "type": "integer",
          "format": "int32"
        },
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new ParagraphMarker at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text will be added to the TextRun that exists at the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        },
        "cellLocation": {
          "description": "The optional table cell location if the text is to be inserted into a table cell. If present, the object_id must refer to a table.",
          "$ref": "TableCellLocation"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape or table where the text will be inserted."
        }
      },
      "id": "InsertTextRequest"
    },
    "GroupObjectsResponse": {
      "description": "The result of grouping objects.",
      "type": "object",
      "id": "GroupObjectsResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created group."
        }
      }
    },
    "Presentation": {
      "properties": {
        "slides": {
          "items": {
            "$ref": "Page"
          },
          "type": "array",
          "description": "The slides in the presentation. A slide inherits properties from a slide layout."
        },
        "revisionId": {
          "description": "The revision ID of the presentation. Can be used in update requests to assert that the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated; however, a changed ID can also be due to internal factors such as ID format changes.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "The locale of the presentation, as an IETF BCP 47 language tag."
        },
        "pageSize": {
          "description": "The size of pages in the presentation.",
          "$ref": "Size"
        },
        "masters": {
          "description": "The slide masters in the presentation. A slide master contains all common page elements and the common properties for a set of layouts. They serve three purposes: - Placeholder shapes on a master contain the default text styles and shape properties of all placeholder shapes on pages that use that master. - The master page properties define the common page properties inherited by its layouts. - Any other shapes on the master slide appear on all slides using that master, regardless of their layout.",
          "items": {
            "$ref": "Page"
          },
          "type": "array"
        },
        "layouts": {
          "type": "array",
          "description": "The layouts in the presentation. A layout is a template that determines how content is arranged and styled on the slides that inherit from that layout.",
          "items": {
            "$ref": "Page"
          }
        },
        "notesMaster": {
          "$ref": "Page",
          "description": "The notes master in the presentation. It serves three purposes: - Placeholder shapes on a notes master contain the default text styles and shape properties of all placeholder shapes on notes pages. Specifically, a `SLIDE_IMAGE` placeholder shape contains the slide thumbnail, and a `BODY` placeholder shape contains the speaker notes. - The notes master page properties define the common page properties inherited by all notes pages. - Any other shapes on the notes master appear on all notes pages. The notes master is read-only."
        },
        "title": {
          "description": "The title of the presentation.",
          "type": "string"
        },
        "presentationId": {
          "description": "The ID of the presentation.",
          "type": "string"
        }
      },
      "description": "A Google Slides presentation.",
      "id": "Presentation",
      "type": "object"
    },
    "GroupObjectsRequest": {
      "type": "object",
      "id": "GroupObjectsRequest",
      "description": "Groups objects to create an object group. For example, groups PageElements to create a Group on the same page as all the children.",
      "properties": {
        "groupObjectId": {
          "description": "A user-supplied object ID for the group to be created. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "childrenObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "The object IDs of the objects to group. Only page elements can be grouped. There should be at least two page elements on the same page that are not already in another group. Some page elements, such as videos, tables and placeholder shapes cannot be grouped.",
          "type": "array"
        }
      }
    },
    "SheetsChart": {
      "type": "object",
      "id": "SheetsChart",
      "properties": {
        "chartId": {
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that is embedded.",
          "type": "integer"
        },
        "contentUrl": {
          "description": "The URL of an image of the embedded chart, with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change.",
          "type": "string"
        },
        "sheetsChartProperties": {
          "$ref": "SheetsChartProperties",
          "description": "The properties of the Sheets chart."
        },
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        }
      },
      "description": "A PageElement kind representing a linked chart embedded from Google Sheets."
    },
    "UpdateTableCellPropertiesRequest": {
      "id": "UpdateTableCellPropertiesRequest",
      "description": "Update the properties of a TableCell.",
      "type": "object",
      "properties": {
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied. If a table range is not specified, the updates will apply to the entire table.",
          "$ref": "TableRange"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background solid fill color, set `fields` to `\"tableCellBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableCellProperties": {
          "description": "The table cell properties to update.",
          "$ref": "TableCellProperties"
        }
      }
    },
    "UpdateVideoPropertiesRequest": {
      "id": "UpdateVideoPropertiesRequest",
      "properties": {
        "objectId": {
          "description": "The object ID of the video the updates are applied to.",
          "type": "string"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `videoProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the video outline color, set `fields` to `\"outline.outlineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "videoProperties": {
          "$ref": "VideoProperties",
          "description": "The video properties to update."
        }
      },
      "type": "object",
      "description": "Update the properties of a Video."
    },
    "TableColumnProperties": {
      "type": "object",
      "description": "Properties of each column in a table.",
      "properties": {
        "columnWidth": {
          "$ref": "Dimension",
          "description": "Width of a column."
        }
      },
      "id": "TableColumnProperties"
    },
    "Recolor": {
      "description": "A recolor effect applied on an image.",
      "type": "object",
      "id": "Recolor",
      "properties": {
        "name": {
          "type": "string",
          "enum": [
            "NONE",
            "LIGHT1",
            "LIGHT2",
            "LIGHT3",
            "LIGHT4",
            "LIGHT5",
            "LIGHT6",
            "LIGHT7",
            "LIGHT8",
            "LIGHT9",
            "LIGHT10",
            "DARK1",
            "DARK2",
            "DARK3",
            "DARK4",
            "DARK5",
            "DARK6",
            "DARK7",
            "DARK8",
            "DARK9",
            "DARK10",
            "GRAYSCALE",
            "NEGATIVE",
            "SEPIA",
            "CUSTOM"
          ],
          "description": "The name of the recolor effect. The name is determined from the `recolor_stops` by matching the gradient against the colors in the page's current color scheme. This property is read-only.",
          "enumDescriptions": [
            "No recolor effect. The default value.",
            "A recolor effect that lightens the image using the page's first available color from its color scheme.",
            "A recolor effect that lightens the image using the page's second available color from its color scheme.",
            "A recolor effect that lightens the image using the page's third available color from its color scheme.",
            "A recolor effect that lightens the image using the page's forth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's fifth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's sixth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's seventh available color from its color scheme.",
            "A recolor effect that lightens the image using the page's eighth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's ninth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's tenth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's first available color from its color scheme.",
            "A recolor effect that darkens the image using the page's second available color from its color scheme.",
            "A recolor effect that darkens the image using the page's third available color from its color scheme.",
            "A recolor effect that darkens the image using the page's fourth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's fifth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's sixth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's seventh available color from its color scheme.",
            "A recolor effect that darkens the image using the page's eighth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's ninth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's tenth available color from its color scheme.",
            "A recolor effect that recolors the image to grayscale.",
            "A recolor effect that recolors the image to negative grayscale.",
            "A recolor effect that recolors the image using the sepia color.",
            "Custom recolor effect. Refer to `recolor_stops` for the concrete gradient."
          ]
        },
        "recolorStops": {
          "type": "array",
          "items": {
            "$ref": "ColorStop"
          },
          "description": "The recolor effect is represented by a gradient, which is a list of color stops. The colors in the gradient will replace the corresponding colors at the same position in the color palette and apply to the image. This property is read-only."
        }
      }
    },
    "TableBorderCell": {
      "id": "TableBorderCell",
      "type": "object",
      "description": "The properties of each border cell.",
      "properties": {
        "tableBorderProperties": {
          "$ref": "TableBorderProperties",
          "description": "The border properties."
        },
        "location": {
          "$ref": "TableCellLocation",
          "description": "The location of the border within the border table."
        }
      }
    },
    "WriteControl": {
      "type": "object",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the presentation required for the write request. If specified and the `required_revision_id` doesn't exactly match the presentation's current `revision_id`, the request will not be processed and will return a 400 bad request error.",
          "type": "string"
        }
      },
      "id": "WriteControl",
      "description": "Provides control over how write requests are executed."
    },
    "UpdateShapePropertiesRequest": {
      "type": "object",
      "properties": {
        "shapeProperties": {
          "$ref": "ShapeProperties",
          "description": "The shape properties to update."
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape the updates are applied to."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `shapeProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the shape background solid fill color, set `fields` to `\"shapeBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string"
        }
      },
      "id": "UpdateShapePropertiesRequest",
      "description": "Update the properties of a Shape."
    },
    "TextStyle": {
      "type": "object",
      "description": "Represents the styling that can be applied to a TextRun. If this text is contained in a shape with a parent placeholder, then these text styles may be inherited from the parent. Which text styles are inherited depend on the nesting level of lists: * A text run in a paragraph that is not in a list will inherit its text style from the the newline character in the paragraph at the 0 nesting level of the list inside the parent placeholder. * A text run in a paragraph that is in a list will inherit its text style from the newline character in the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited text styles are represented as unset fields in this message. If text is contained in a shape without a parent placeholder, unsetting these fields will revert the style to a value matching the defaults in the Slides editor.",
      "properties": {
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the text. If set, the color is either opaque or transparent, depending on if the `opaque_color` field in it is set."
        },
        "baselineOffset": {
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. The `font_size` itself is not affected by changes in this field.",
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ],
          "type": "string",
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ]
        },
        "weightedFontFamily": {
          "$ref": "WeightedFontFamily",
          "description": "The font family and rendered weight of the text. This field is an extension of `font_family` meant to support explicit font weights without breaking backwards compatibility. As such, when reading the style of a range of text, the value of `weighted_font_family#font_family` will always be equal to that of `font_family`. However, when writing, if both fields are included in the field mask (either explicitly or through the wildcard `\"*\"`), their values are reconciled as follows: * If `font_family` is set and `weighted_font_family` is not, the value of `font_family` is applied with weight `400` (\"normal\"). * If both fields are set, the value of `font_family` must match that of `weighted_font_family#font_family`. If so, the font family and weight of `weighted_font_family` is applied. Otherwise, a 400 bad request error is returned. * If `weighted_font_family` is set and `font_family` is not, the font family and weight of `weighted_font_family` is applied. * If neither field is set, the font family and weight of the text inherit from the parent. Note that these properties cannot inherit separately from each other. If an update request specifies values for both `weighted_font_family` and `bold`, the `weighted_font_family` is applied first, then `bold`. If `weighted_font_family#weight` is not set, it defaults to `400`. If `weighted_font_family` is set, then `weighted_font_family#font_family` must also be set with a non-empty value. Otherwise, a 400 bad request error is returned."
        },
        "foregroundColor": {
          "description": "The color of the text itself. If set, the color is either opaque or transparent, depending on if the `opaque_color` field in it is set.",
          "$ref": "OptionalColor"
        },
        "fontSize": {
          "description": "The size of the text's font. When read, the `font_size` will specified in points.",
          "$ref": "Dimension"
        },
        "fontFamily": {
          "type": "string",
          "description": "The font family of the text. The font family can be any font from the Font menu in Slides or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`. Some fonts can affect the weight of the text. If an update request specifies values for both `font_family` and `bold`, the explicitly-set `bold` value is used."
        },
        "bold": {
          "description": "Whether or not the text is rendered as bold.",
          "type": "boolean"
        },
        "link": {
          "description": "The hyperlink destination of the text. If unset, there is no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be set to ThemeColorType.HYPERLINK and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request.",
          "$ref": "Link"
        },
        "smallCaps": {
          "type": "boolean",
          "description": "Whether or not the text is in small capital letters."
        },
        "strikethrough": {
          "description": "Whether or not the text is struck through.",
          "type": "boolean"
        },
        "italic": {
          "type": "boolean",
          "description": "Whether or not the text is italicized."
        },
        "underline": {
          "type": "boolean",
          "description": "Whether or not the text is underlined."
        }
      },
      "id": "TextStyle"
    },
    "TableRowProperties": {
      "properties": {
        "minRowHeight": {
          "$ref": "Dimension",
          "description": "Minimum height of the row. The row will be rendered in the Slides editor at a height equal to or greater than this value in order to show all the text in the row's cell(s)."
        }
      },
      "description": "Properties of each row in a table.",
      "id": "TableRowProperties",
      "type": "object"
    },
    "UpdatePagePropertiesRequest": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the page the update is applied to."
        },
        "pageProperties": {
          "$ref": "PageProperties",
          "description": "The page properties to update."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `pageProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the page background solid fill color, set `fields` to `\"pageBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UpdatePagePropertiesRequest",
      "description": "Updates the properties of a Page."
    },
    "OutlineFill": {
      "type": "object",
      "properties": {
        "solidFill": {
          "$ref": "SolidFill",
          "description": "Solid color fill."
        }
      },
      "description": "The fill of the outline.",
      "id": "OutlineFill"
    },
    "UngroupObjectsRequest": {
      "type": "object",
      "id": "UngroupObjectsRequest",
      "properties": {
        "objectIds": {
          "description": "The object IDs of the objects to ungroup. Only groups that are not inside other groups can be ungrouped. All the groups should be on the same page. The group itself is deleted. The visual sizes and positions of all the children are preserved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Ungroups objects, such as groups."
    },
    "Table": {
      "type": "object",
      "properties": {
        "rows": {
          "format": "int32",
          "description": "Number of rows in the table.",
          "type": "integer"
        },
        "tableRows": {
          "description": "Properties and contents of each row. Cells that span multiple rows are contained in only one of these rows and have a row_span greater than 1.",
          "items": {
            "$ref": "TableRow"
          },
          "type": "array"
        },
        "tableColumns": {
          "items": {
            "$ref": "TableColumnProperties"
          },
          "description": "Properties of each column.",
          "type": "array"
        },
        "columns": {
          "type": "integer",
          "format": "int32",
          "description": "Number of columns in the table."
        },
        "horizontalBorderRows": {
          "type": "array",
          "description": "Properties of horizontal cell borders. A table's horizontal cell borders are represented as a grid. The grid has one more row than the number of rows in the table and the same number of columns as the table. For example, if the table is 3 x 3, its horizontal borders will be represented as a grid with 4 rows and 3 columns.",
          "items": {
            "$ref": "TableBorderRow"
          }
        },
        "verticalBorderRows": {
          "type": "array",
          "items": {
            "$ref": "TableBorderRow"
          },
          "description": "Properties of vertical cell borders. A table's vertical cell borders are represented as a grid. The grid has the same number of rows as the table and one more column than the number of columns in the table. For example, if the table is 3 x 3, its vertical borders will be represented as a grid with 3 rows and 4 columns."
        }
      },
      "description": "A PageElement kind representing a table.",
      "id": "Table"
    },
    "ThemeColorPair": {
      "properties": {
        "color": {
          "description": "The concrete color corresponding to the theme color type above.",
          "$ref": "RgbColor"
        },
        "type": {
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "DARK1",
            "LIGHT1",
            "DARK2",
            "LIGHT2",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "HYPERLINK",
            "FOLLOWED_HYPERLINK",
            "TEXT1",
            "BACKGROUND1",
            "TEXT2",
            "BACKGROUND2"
          ],
          "enumDescriptions": [
            "Unspecified theme color. This value should not be used.",
            "Represents the first dark color.",
            "Represents the first light color.",
            "Represents the second dark color.",
            "Represents the second light color.",
            "Represents the first accent color.",
            "Represents the second accent color.",
            "Represents the third accent color.",
            "Represents the fourth accent color.",
            "Represents the fifth accent color.",
            "Represents the sixth accent color.",
            "Represents the color to use for hyperlinks.",
            "Represents the color to use for visited hyperlinks.",
            "Represents the first text color.",
            "Represents the first background color.",
            "Represents the second text color.",
            "Represents the second background color."
          ],
          "description": "The type of the theme color.",
          "type": "string"
        }
      },
      "id": "ThemeColorPair",
      "description": "A pair mapping a theme color type to the concrete color it represents.",
      "type": "object"
    },
    "TextRun": {
      "properties": {
        "style": {
          "description": "The styling applied to this run.",
          "$ref": "TextStyle"
        },
        "content": {
          "type": "string",
          "description": "The text of this run."
        }
      },
      "id": "TextRun",
      "description": "A TextElement kind that represents a run of text that all has the same styling.",
      "type": "object"
    },
    "SubstringMatchCriteria": {
      "id": "SubstringMatchCriteria",
      "properties": {
        "text": {
          "description": "The text to search for in the shape or table.",
          "type": "string"
        },
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        }
      },
      "description": "A criteria that matches a specific string of text in a shape or table.",
      "type": "object"
    },
    "UpdatePageElementAltTextRequest": {
      "type": "object",
      "id": "UpdatePageElementAltTextRequest",
      "properties": {
        "title": {
          "description": "The updated alt text title of the page element. If unset the existing value will be maintained. The title is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element.",
          "type": "string"
        },
        "objectId": {
          "description": "The object ID of the page element the updates are applied to.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The updated alt text description of the page element. If unset the existing value will be maintained. The description is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element."
        }
      },
      "description": "Updates the alt text title and/or description of a page element."
    },
    "Placeholder": {
      "type": "object",
      "properties": {
        "index": {
          "description": "The index of the placeholder. If the same placeholder types are present in the same page, they would have different index values.",
          "format": "int32",
          "type": "integer"
        },
        "parentObjectId": {
          "description": "The object ID of this shape's parent placeholder. If unset, the parent placeholder shape does not exist, so the shape does not inherit properties from any other shape.",
          "type": "string"
        },
        "type": {
          "description": "The type of the placeholder.",
          "enumDescriptions": [
            "Default value, signifies it is not a placeholder.",
            "Body text.",
            "Chart or graph.",
            "Clip art image.",
            "Title centered.",
            "Diagram.",
            "Date and time.",
            "Footer text.",
            "Header text.",
            "Multimedia.",
            "Any content type.",
            "Picture.",
            "Number of a slide.",
            "Subtitle.",
            "Table.",
            "Slide title.",
            "Slide image."
          ],
          "enum": [
            "NONE",
            "BODY",
            "CHART",
            "CLIP_ART",
            "CENTERED_TITLE",
            "DIAGRAM",
            "DATE_AND_TIME",
            "FOOTER",
            "HEADER",
            "MEDIA",
            "OBJECT",
            "PICTURE",
            "SLIDE_NUMBER",
            "SUBTITLE",
            "TABLE",
            "TITLE",
            "SLIDE_IMAGE"
          ],
          "type": "string"
        }
      },
      "id": "Placeholder",
      "description": "The placeholder information that uniquely identifies a placeholder shape."
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ReplaceAllTextResponse",
      "description": "The result of replacing text.",
      "type": "object"
    },
    "DuplicateObjectRequest": {
      "description": "Duplicates a slide or page element. When duplicating a slide, the duplicate slide will be created immediately following the specified slide. When duplicating a page element, the duplicate will be placed on the same page at the same position as the original.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the object to duplicate."
        },
        "objectIds": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The object being duplicated may contain other objects, for example when duplicating a slide or a group page element. This map defines how the IDs of duplicated objects are generated: the keys are the IDs of the original objects and its values are the IDs that will be assigned to the corresponding duplicate object. The ID of the source object's duplicate may be specified in this map as well, using the same value of the `object_id` field as a key and the newly desired ID as the value. All keys must correspond to existing IDs in the presentation. All values must be unique in the presentation and must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or greater than 50. If any IDs of source objects are omitted from the map, a new random ID will be assigned. If the map is empty or unset, all duplicate objects will receive a new random ID."
        }
      },
      "id": "DuplicateObjectRequest",
      "type": "object"
    },
    "ParagraphStyle": {
      "properties": {
        "alignment": {
          "type": "string",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "description": "The text alignment for this paragraph."
        },
        "lineSpacing": {
          "format": "float",
          "type": "number",
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent."
        },
        "direction": {
          "type": "string",
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since text direction is not inherited.",
          "enumDescriptions": [
            "The text direction is inherited from the parent.",
            "The text goes from left to right.",
            "The text goes from right to left."
          ],
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ]
        },
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount indentation for the paragraph on the side that corresponds to the start of the text, based on the current text direction. If unset, the value is inherited from the parent."
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the start of the first line of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "spaceAbove": {
          "$ref": "Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent."
        },
        "indentEnd": {
          "description": "The amount indentation for the paragraph on the side that corresponds to the end of the text, based on the current text direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
        },
        "spacingMode": {
          "description": "The spacing mode for the paragraph.",
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "type": "string"
        }
      },
      "description": "Styles that apply to a whole paragraph. If this text is contained in a shape with a parent placeholder, then these paragraph styles may be inherited from the parent. Which paragraph styles are inherited depend on the nesting level of lists: * A paragraph not in a list will inherit its paragraph style from the paragraph at the 0 nesting level of the list inside the parent placeholder. * A paragraph in a list will inherit its paragraph style from the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited paragraph styles are represented as unset fields in this message.",
      "type": "object",
      "id": "ParagraphStyle"
    },
    "CreateVideoRequest": {
      "description": "Creates a video. NOTE: Creating a video from Google Drive requires that the requesting app have at least one of the drive, drive.readonly, or drive.file OAuth scopes.",
      "properties": {
        "source": {
          "description": "The video source.",
          "type": "string",
          "enumDescriptions": [
            "The video source is unspecified.",
            "The video source is YouTube.",
            "The video source is Google Drive."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE",
            "DRIVE"
          ]
        },
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The video source's unique identifier for this video. e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0, the ID is 7U3axjORYZ0. For a Google Drive video https://drive.google.com/file/d/1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q the ID is 1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q."
        },
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the video. The PageElementProperties.size property is optional. If you don't specify a size, a default size is chosen by the server. The PageElementProperties.transform property is optional. The transform must not have shear components. If you don't specify a transform, the video will be placed at the top left corner of the page."
        }
      },
      "id": "CreateVideoRequest",
      "type": "object"
    },
    "MergeTableCellsRequest": {
      "properties": {
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the upper-left (\"head\") cell of the range. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged), a 400 bad request error is returned."
        }
      },
      "id": "MergeTableCellsRequest",
      "type": "object",
      "description": "Merges cells in a Table."
    },
    "Request": {
      "properties": {
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        },
        "createLine": {
          "description": "Creates a line.",
          "$ref": "CreateLineRequest"
        },
        "insertTableColumns": {
          "description": "Inserts columns into a table.",
          "$ref": "InsertTableColumnsRequest"
        },
        "insertTableRows": {
          "description": "Inserts rows into a table.",
          "$ref": "InsertTableRowsRequest"
        },
        "createTable": {
          "$ref": "CreateTableRequest",
          "description": "Creates a new table."
        },
        "createSlide": {
          "description": "Creates a new slide.",
          "$ref": "CreateSlideRequest"
        },
        "updateTableCellProperties": {
          "description": "Updates the properties of a TableCell.",
          "$ref": "UpdateTableCellPropertiesRequest"
        },
        "updatePageElementsZOrder": {
          "description": "Updates the Z-order of page elements.",
          "$ref": "UpdatePageElementsZOrderRequest"
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextRequest",
          "description": "Replaces all instances of specified text."
        },
        "updateLineCategory": {
          "$ref": "UpdateLineCategoryRequest",
          "description": "Updates the category of a line."
        },
        "updatePageElementAltText": {
          "description": "Updates the alt text title and/or description of a page element.",
          "$ref": "UpdatePageElementAltTextRequest"
        },
        "rerouteLine": {
          "$ref": "RerouteLineRequest",
          "description": "Reroutes a line such that it's connected at the two closest connection sites on the connected page elements."
        },
        "updateTableRowProperties": {
          "$ref": "UpdateTableRowPropertiesRequest",
          "description": "Updates the properties of a Table row."
        },
        "deleteTableRow": {
          "$ref": "DeleteTableRowRequest",
          "description": "Deletes a row from a table."
        },
        "replaceAllShapesWithSheetsChart": {
          "$ref": "ReplaceAllShapesWithSheetsChartRequest",
          "description": "Replaces all shapes matching some criteria with a Google Sheets chart."
        },
        "updateImageProperties": {
          "description": "Updates the properties of an Image.",
          "$ref": "UpdateImagePropertiesRequest"
        },
        "updateTableColumnProperties": {
          "description": "Updates the properties of a Table column.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        },
        "updateTextStyle": {
          "$ref": "UpdateTextStyleRequest",
          "description": "Updates the styling of text within a Shape or Table."
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a Table."
        },
        "createSheetsChart": {
          "description": "Creates an embedded Google Sheets chart.",
          "$ref": "CreateSheetsChartRequest"
        },
        "duplicateObject": {
          "description": "Duplicates a slide or page element.",
          "$ref": "DuplicateObjectRequest"
        },
        "mergeTableCells": {
          "$ref": "MergeTableCellsRequest",
          "description": "Merges cells in a Table."
        },
        "updateTableBorderProperties": {
          "$ref": "UpdateTableBorderPropertiesRequest",
          "description": "Updates the properties of the table borders in a Table."
        },
        "updateShapeProperties": {
          "$ref": "UpdateShapePropertiesRequest",
          "description": "Updates the properties of a Shape."
        },
        "replaceAllShapesWithImage": {
          "$ref": "ReplaceAllShapesWithImageRequest",
          "description": "Replaces all shapes matching some criteria with an image."
        },
        "updatePageProperties": {
          "description": "Updates the properties of a Page.",
          "$ref": "UpdatePagePropertiesRequest"
        },
        "createVideo": {
          "description": "Creates a video.",
          "$ref": "CreateVideoRequest"
        },
        "updateVideoProperties": {
          "description": "Updates the properties of a Video.",
          "$ref": "UpdateVideoPropertiesRequest"
        },
        "updateSlidesPosition": {
          "description": "Updates the position of a set of slides in the presentation.",
          "$ref": "UpdateSlidesPositionRequest"
        },
        "createShape": {
[...]
