{
  "name": "tasks",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "basePath": "",
  "resources": {
    "tasks": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "request": {
            "$ref": "Task"
          },
          "parameters": {
            "task": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Task identifier."
            },
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Updates the specified task. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.patch"
        },
        "delete": {
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "parameters": {
            "task": {
              "required": true,
              "description": "Task identifier.",
              "type": "string",
              "location": "path"
            },
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "id": "tasks.tasks.delete",
          "httpMethod": "DELETE",
          "description": "Deletes the specified task from the task list."
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. Optional."
            },
            "tasklist": {
              "description": "Task list identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "previous": {
              "type": "string",
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "location": "query"
            }
          },
          "description": "Creates a new task on the specified task list.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasks.insert",
          "parameterOrder": [
            "tasklist"
          ],
          "response": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "request": {
            "$ref": "Task"
          }
        },
        "get": {
          "description": "Returns the specified task.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "id": "tasks.tasks.get",
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "type": "string",
              "required": true
            },
            "task": {
              "description": "Task identifier.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Task"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "GET",
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "task": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Task identifier."
            }
          },
          "description": "Updates the specified task.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "request": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.update",
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        },
        "clear": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "id": "tasks.tasks.clear",
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/lists/{tasklist}/clear",
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "tasks/v1/lists/{tasklist}/clear"
        },
        "move": {
          "id": "tasks.tasks.move",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "New parent task identifier. If the task is moved to the top level, this parameter is omitted. Optional."
            },
            "tasklist": {
              "required": true,
              "type": "string",
              "description": "Task list identifier.",
              "location": "path"
            },
            "task": {
              "location": "path",
              "description": "Task identifier.",
              "type": "string",
              "required": true
            },
            "previous": {
              "description": "New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. Optional.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Task"
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "httpMethod": "POST",
          "description": "Moves the specified task to another position in the task list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "tasklist": {
              "type": "string",
              "description": "Task list identifier.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 20 (max allowed: 100).",
              "format": "int32",
              "type": "integer"
            },
            "completedMin": {
              "type": "string",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query"
            },
            "showDeleted": {
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "Token specifying the result page to return. Optional.",
              "location": "query"
            },
            "showHidden": {
              "type": "boolean",
              "location": "query",
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False."
            },
            "dueMin": {
              "location": "query",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string"
            },
            "completedMax": {
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query",
              "type": "string"
            },
            "dueMax": {
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "type": "string",
              "location": "query"
            },
            "updatedMin": {
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "location": "query",
              "type": "string"
            },
            "showCompleted": {
              "type": "boolean",
              "description": "Flag indicating whether completed tasks are returned in the result. Optional. The default is True. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps.",
              "location": "query"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "response": {
            "$ref": "Tasks"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "description": "Returns all tasks in the specified task list.",
          "id": "tasks.tasks.list"
        }
      }
    },
    "tasklists": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "TaskList"
          },
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/users/@me/lists",
          "flatPath": "tasks/v1/users/@me/lists",
          "parameters": {},
          "parameterOrder": [],
          "id": "tasks.tasklists.insert",
          "httpMethod": "POST",
          "description": "Creates a new task list and adds it to the authenticated user's task lists."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          },
          "parameterOrder": [
            "tasklist"
          ],
          "response": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.update",
          "httpMethod": "PUT",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Updates the authenticated user's specified task list."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.get",
          "description": "Returns the authenticated user's specified task list.",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ]
        },
        "patch": {
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameters": {
            "tasklist": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Task list identifier."
            }
          },
          "response": {
            "$ref": "TaskList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "request": {
            "$ref": "TaskList"
          },
          "id": "tasks.tasklists.patch",
          "path": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "list": {
          "flatPath": "tasks/v1/users/@me/lists",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token specifying the result page to return. Optional."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of task lists returned on one page. Optional. The default is 20 (max allowed: 100).",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "TaskLists"
          },
          "description": "Returns all the authenticated user's task lists.",
          "path": "tasks/v1/users/@me/lists",
          "parameterOrder": [],
          "id": "tasks.tasklists.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ]
        },
        "delete": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "description": "Deletes the authenticated user's specified task list.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameterOrder": [
            "tasklist"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "description": "Task list identifier.",
              "type": "string",
              "required": true
            }
          },
          "id": "tasks.tasklists.delete"
        }
      }
    }
  },
  "batchPath": "batch",
  "revision": "20200905",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Tasks",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "rootUrl": "https://tasks.googleapis.com/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "baseUrl": "https://tasks.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        },
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "",
  "protocol": "rest",
  "schemas": {
    "TaskList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskList\"."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "URL pointing to this task list. Used to retrieve, update, or delete this task list."
        },
        "title": {
          "description": "Title of the task list.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the task list (as a RFC 3339 timestamp)."
        }
      },
      "type": "object",
      "id": "TaskList"
    },
    "Tasks": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Task"
          },
          "description": "Collection of tasks."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        }
      },
      "id": "Tasks"
    },
    "Task": {
      "id": "Task",
      "type": "object",
      "properties": {
        "notes": {
          "description": "Notes describing the task. Optional.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Flag indicating whether the task has been deleted. The default is False."
        },
        "links": {
          "description": "Collection of links. This collection is read-only.",
          "items": {
            "properties": {
              "type": {
                "description": "Type of the link, e.g. \"email\".",
                "type": "string"
              },
              "link": {
                "description": "The URL.",
                "type": "string"
              },
              "description": {
                "description": "The description. In HTML speak: Everything between \u003ca\u003e and \u003c/a\u003e.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "parent": {
          "type": "string",
          "description": "Parent task identifier. This field is omitted if it is a top-level task. This field is read-only. Use the \"move\" method to move the task under a different parent or to the top level."
        },
        "title": {
          "description": "Title of the task.",
          "type": "string"
        },
        "hidden": {
          "type": "boolean",
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only."
        },
        "due": {
          "type": "string",
          "description": "Due date of the task (as a RFC 3339 timestamp). Optional. The due date only records date information; the time portion of the timestamp is discarded when setting the due date. It isn't possible to read or write the time that a task is due via the API."
        },
        "position": {
          "description": "String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). This field is read-only. Use the \"move\" method to move the task to another position.",
          "type": "string"
        },
        "completed": {
          "type": "string",
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string"
        },
        "status": {
          "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
          "type": "string"
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#task\"."
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the task (as a RFC 3339 timestamp)."
        }
      },
      "description": "LINT.IfChange"
    },
    "TaskLists": {
      "properties": {
        "items": {
          "items": {
            "$ref": "TaskList"
          },
          "type": "array",
          "description": "Collection of task lists."
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#taskLists\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "TaskLists",
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "version": "v1",
  "kind": "discovery#restDescription",
  "title": "Tasks API",
  "id": "tasks:v1"
}
