{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "servicePath": "",
  "revision": "20210204",
  "title": "Cloud Testing API",
  "baseUrl": "https://testing.googleapis.com/",
  "schemas": {
    "Distribution": {
      "description": "Data about the relative number of devices running a given configuration of the Android platform.",
      "type": "object",
      "id": "Distribution",
      "properties": {
        "marketShare": {
          "type": "number",
          "format": "double",
          "description": "Output only. The estimated fraction (0-1) of the total market with this configuration."
        },
        "measurementTime": {
          "description": "Output only. The time this distribution was measured.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "IosTestLoop": {
      "properties": {
        "appIpa": {
          "description": "Required. The .ipa of the application to test.",
          "$ref": "FileReference"
        },
        "appBundleId": {
          "description": "Output only. The bundle id for the application under test.",
          "type": "string"
        },
        "scenarios": {
          "description": "The list of scenarios that should be run during the test. Defaults to the single scenario 0 if unspecified.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "type": "object",
      "description": "A test of an iOS application that implements one or more game loop scenarios. This test type accepts an archived application (.ipa file) and a list of integer scenarios that will be executed on the app sequentially.",
      "id": "IosTestLoop"
    },
    "AndroidModel": {
      "id": "AndroidModel",
      "properties": {
        "formFactor": {
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable."
          ],
          "description": "Whether this device is a phone, tablet, wearable, etc."
        },
        "supportedAbis": {
          "type": "array",
          "description": "The list of supported ABIs for this device. This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above) or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the first element in the list. Elements are optionally prefixed by \"version_id:\" (where version_id is the id of an AndroidVersion), denoting an ABI that is supported only on a particular version.",
          "items": {
            "type": "string"
          }
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image (photo) of the device. e.g. https://lh3.googleusercontent.com/90WcauuJiCYABEl8U0lcZeuS5STUbf2yW..."
        },
        "brand": {
          "description": "The company that this device is branded with. Example: \"Google\", \"Samsung\".",
          "type": "string"
        },
        "supportedVersionIds": {
          "type": "array",
          "description": "The set of Android versions this device supports.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The human-readable marketing name for this device model. Examples: \"Nexus 5\", \"Galaxy S5\"."
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService."
        },
        "lowFpsVideoRecording": {
          "description": "True if and only if tests with this model are recorded by stitching together screenshots. See use_low_spec_video_recording in device config.",
          "type": "boolean"
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "screenY": {
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "manufacturer": {
          "description": "The manufacturer of this device.",
          "type": "string"
        },
        "codename": {
          "description": "The name of the industrial design. This corresponds to android.os.Build.DEVICE.",
          "type": "string"
        },
        "form": {
          "type": "string",
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "description": "Whether this device is virtual or physical."
        },
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "screenDensity": {
          "format": "int32",
          "description": "Screen density in DPI. This corresponds to ro.sf.lcd_density",
          "type": "integer"
        }
      },
      "description": "A description of an Android device tests may be run on.",
      "type": "object"
    },
    "CancelTestMatrixResponse": {
      "type": "object",
      "id": "CancelTestMatrixResponse",
      "description": "Response containing the current state of the specified test matrix.",
      "properties": {
        "testState": {
          "description": "The current rolled-up state of the test matrix. If this state is already final, then the cancelation request will have no effect.",
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ]
        }
      }
    },
    "ToolResultsHistory": {
      "type": "object",
      "description": "Represents a tool results history resource.",
      "properties": {
        "historyId": {
          "description": "Required. A tool results history ID.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The cloud project that owns the tool results history.",
          "type": "string"
        }
      },
      "id": "ToolResultsHistory"
    },
    "AppBundle": {
      "id": "AppBundle",
      "type": "object",
      "properties": {
        "bundleLocation": {
          "description": ".aab file representing the app bundle under test.",
          "$ref": "FileReference"
        }
      },
      "description": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles."
    },
    "IosVersion": {
      "properties": {
        "supportedXcodeVersionIds": {
          "description": "The available Xcode versions for this version.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minorVersion": {
          "format": "int32",
          "type": "integer",
          "description": "An integer representing the minor iOS version. Examples: \"1\", \"2\"."
        },
        "id": {
          "description": "An opaque id for this iOS version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        },
        "majorVersion": {
          "type": "integer",
          "description": "An integer representing the major iOS version. Examples: \"8\", \"9\".",
          "format": "int32"
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "IosVersion",
      "description": "An iOS version."
    },
    "RegularFile": {
      "type": "object",
      "properties": {
        "content": {
          "$ref": "FileReference",
          "description": "Required. The source file."
        },
        "devicePath": {
          "type": "string",
          "description": "Required. Where to put the content on the device. Must be an absolute, allowlisted path. If the file exists, it will be replaced. The following device-side directories and any of their subdirectories are allowlisted: ${EXTERNAL_STORAGE}, /sdcard, or /storage ${ANDROID_DATA}/local/tmp, or /data/local/tmp Specifying a path outside of these directory trees is invalid. The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device and copy the file there. It is strongly advised to use the Environment API in app and test code to access files on the device in a portable way."
        }
      },
      "id": "RegularFile",
      "description": "A file or directory to install on the device before the test starts."
    },
    "Apk": {
      "id": "Apk",
      "type": "object",
      "description": "An Android package file to install.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The java package for the APK to be installed. Value is determined by examining the application's manifest."
        },
        "location": {
          "$ref": "FileReference",
          "description": "The path to an APK to be installed on the device before the test begins."
        }
      }
    },
    "NetworkConfiguration": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique opaque id for this network traffic configuration."
        },
        "upRule": {
          "description": "The emulation rule applying to the upload traffic.",
          "$ref": "TrafficRule"
        },
        "downRule": {
          "description": "The emulation rule applying to the download traffic.",
          "$ref": "TrafficRule"
        }
      },
      "type": "object",
      "id": "NetworkConfiguration"
    },
    "FileReference": {
      "id": "FileReference",
      "description": "A reference to a file, used for user inputs.",
      "properties": {
        "gcsPath": {
          "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestEnvironmentCatalog": {
      "properties": {
        "androidDeviceCatalog": {
          "description": "Supported Android devices.",
          "$ref": "AndroidDeviceCatalog"
        },
        "deviceIpBlockCatalog": {
          "description": "The IP blocks used by devices in the test environment.",
          "$ref": "DeviceIpBlockCatalog"
        },
        "iosDeviceCatalog": {
          "description": "Supported iOS devices.",
          "$ref": "IosDeviceCatalog"
        },
        "networkConfigurationCatalog": {
          "$ref": "NetworkConfigurationCatalog",
          "description": "Supported network configurations."
        },
        "softwareCatalog": {
          "description": "The software test environment provided by TestExecutionService.",
          "$ref": "ProvidedSoftwareCatalog"
        }
      },
      "type": "object",
      "description": "A description of a test environment.",
      "id": "TestEnvironmentCatalog"
    },
    "AndroidMatrix": {
      "properties": {
        "androidModelIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The ids of the set of Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array"
        },
        "locales": {
          "description": "Required. The set of locales the test device will enable for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "androidVersionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The ids of the set of Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientations": {
          "description": "Required. The set of orientations to test with. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A set of Android device configuration permutations is defined by the the cross-product of the given axes. Internally, the given AndroidMatrix will be expanded into a set of AndroidDevices. Only supported permutations will be instantiated. Invalid permutations (e.g., incompatible models/versions) are ignored.",
      "type": "object",
      "id": "AndroidMatrix"
    },
    "TestExecution": {
      "id": "TestExecution",
      "properties": {
        "environment": {
          "description": "Output only. How the host machine(s) are configured.",
          "$ref": "Environment"
        },
        "testSpecification": {
          "description": "Output only. How to run the test.",
          "$ref": "TestSpecification"
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the test execution.",
          "type": "string"
        },
        "testDetails": {
          "$ref": "TestDetails",
          "description": "Output only. Additional details about the running test."
        },
        "id": {
          "description": "Output only. Unique id set by the service.",
          "type": "string"
        },
        "toolResultsStep": {
          "$ref": "ToolResultsStep",
          "description": "Output only. Where the results for this execution are written."
        },
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "description": "Output only. Indicates the current progress of the test execution (e.g., FINISHED).",
          "type": "string"
        },
        "matrixId": {
          "type": "string",
          "description": "Output only. Id of the containing TestMatrix."
        },
        "shard": {
          "description": "Output only. Details about the shard.",
          "$ref": "Shard"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this test execution was initially created."
        }
      },
      "description": "A single test executed in a single environment.",
      "type": "object"
    },
    "AndroidInstrumentationTest": {
      "type": "object",
      "id": "AndroidInstrumentationTest",
      "properties": {
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. The default value is determined by examining the application's manifest."
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "testApk": {
          "description": "Required. The APK containing the test code to be executed.",
          "$ref": "FileReference"
        },
        "orchestratorOption": {
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that the test will run without the orchestrator. In the future, all instrumentation tests will be run with the orchestrator. Using the orchestrator is highly encouraged because of all the benefits it offers.",
            "Run test using orchestrator. ** Only compatible with AndroidJUnitRunner version 1.0 or higher! ** Recommended.",
            "Run test without using orchestrator."
          ],
          "description": "The option of whether running each test within its own invocation of instrumentation with Android Test Orchestrator or not. ** Orchestrator is only compatible with AndroidJUnitRunner version 1.0 or higher! ** Orchestrator offers the following benefits: - No shared state - Crashes are isolated - Logs are scoped per test See for more information about Android Test Orchestrator. If not set, the test will be run without the orchestrator.",
          "type": "string",
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ]
        },
        "shardingOption": {
          "description": "The option to run tests in multiple shards in parallel.",
          "$ref": "ShardingOption"
        },
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest."
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "testPackageId": {
          "type": "string",
          "description": "The java package for the test to be executed. The default value is determined by examining the application's manifest."
        },
        "testTargets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run."
        }
      },
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. Android instrumentation tests run an application APK and test APK inside the same process on a virtual or physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner, which can vary on the specific instrumentation framework chosen. See for more information on types of Android tests."
    },
    "EnvironmentMatrix": {
      "properties": {
        "iosDeviceList": {
          "$ref": "IosDeviceList",
          "description": "A list of iOS devices."
        },
        "androidDeviceList": {
          "description": "A list of Android devices; the test will be run only on the specified devices.",
          "$ref": "AndroidDeviceList"
        },
        "androidMatrix": {
          "$ref": "AndroidMatrix",
          "description": "A matrix of Android devices."
        }
      },
      "description": "The matrix of environments in which the test is to be executed.",
      "type": "object",
      "id": "EnvironmentMatrix"
    },
    "Locale": {
      "properties": {
        "name": {
          "type": "string",
          "description": "A human-friendly name for this language/locale. Example: \"English\"."
        },
        "region": {
          "type": "string",
          "description": "A human-friendly string representing the region for this locale. Example: \"United States\". Not present for every locale."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Example: \"default\".",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "The id for this locale. Example: \"en_US\"."
        }
      },
      "id": "Locale",
      "description": "A location/region designation for language.",
      "type": "object"
    },
    "ResultStorage": {
      "properties": {
        "resultsUrl": {
          "description": "Output only. URL to the results in the Firebase Web Console.",
          "type": "string"
        },
        "googleCloudStorage": {
          "description": "Required.",
          "$ref": "GoogleCloudStorage"
        },
        "toolResultsHistory": {
          "description": "The tool results history that contains the tool results execution that results are written to. If not provided, the service will choose an appropriate value.",
          "$ref": "ToolResultsHistory"
        },
        "toolResultsExecution": {
          "description": "Output only. The tool results execution that results are written to.",
          "$ref": "ToolResultsExecution"
        }
      },
      "description": "Locations where the results of running the test are stored.",
      "id": "ResultStorage",
      "type": "object"
    },
    "ClientInfo": {
      "properties": {
        "clientInfoDetails": {
          "type": "array",
          "items": {
            "$ref": "ClientInfoDetail"
          },
          "description": "The list of detailed information about client."
        },
        "name": {
          "type": "string",
          "description": "Required. Client name, such as gcloud."
        }
      },
      "id": "ClientInfo",
      "description": "Information about the client which invoked the test.",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`."
    },
    "ObbFile": {
      "properties": {
        "obb": {
          "description": "Required. Opaque Binary Blob (OBB) file(s) to install on the device.",
          "$ref": "FileReference"
        },
        "obbFileName": {
          "type": "string",
          "description": "Required. OBB file name which must conform to the format as specified by Android e.g. [main|patch].0300110.com.example.android.obb which will be installed into \\/Android/obb/\\/ on the device."
        }
      },
      "description": "An opaque binary blob file to install on the device before the test starts.",
      "type": "object",
      "id": "ObbFile"
    },
    "ProvidedSoftwareCatalog": {
      "id": "ProvidedSoftwareCatalog",
      "type": "object",
      "description": "The currently provided software environment on the devices under test.",
      "properties": {
        "orchestratorVersion": {
          "description": "A string representing the current version of Android Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#com.android.support.test:orchestrator.",
          "type": "string"
        },
        "androidxOrchestratorVersion": {
          "description": "A string representing the current version of AndroidX Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#androidx.test:orchestrator.",
          "type": "string"
        }
      }
    },
    "AndroidRuntimeConfiguration": {
      "properties": {
        "orientations": {
          "description": "The set of available orientations.",
          "type": "array",
          "items": {
            "$ref": "Orientation"
          }
        },
        "locales": {
          "type": "array",
          "description": "The set of available locales.",
          "items": {
            "$ref": "Locale"
          }
        }
      },
      "type": "object",
      "description": "Android configuration that can be selected at the time a test is run.",
      "id": "AndroidRuntimeConfiguration"
    },
    "EnvironmentVariable": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for the environment variable."
        },
        "key": {
          "type": "string",
          "description": "Key for the environment variable."
        }
      },
      "id": "EnvironmentVariable",
      "type": "object",
      "description": "A key-value pair passed as an environment variable to the test."
    },
    "TrafficRule": {
      "description": "Network emulation parameters.",
      "type": "object",
      "id": "TrafficRule",
      "properties": {
        "delay": {
          "description": "Packet delay, must be \u003e= 0.",
          "format": "google-duration",
          "type": "string"
        },
        "bandwidth": {
          "format": "float",
          "description": "Bandwidth in kbits/second.",
          "type": "number"
        },
        "burst": {
          "format": "float",
          "type": "number",
          "description": "Burst size in kbits."
        },
        "packetLossRatio": {
          "format": "float",
          "type": "number",
          "description": "Packet loss ratio (0.0 - 1.0)."
        },
        "packetDuplicationRatio": {
          "type": "number",
          "description": "Packet duplication ratio (0.0 - 1.0).",
          "format": "float"
        }
      }
    },
    "IosModel": {
      "id": "IosModel",
      "properties": {
        "formFactor": {
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "type": "string",
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable."
          ]
        },
        "screenDensity": {
          "type": "integer",
          "description": "Screen density in DPI.",
          "format": "int32"
        },
        "supportedVersionIds": {
          "description": "The set of iOS major software versions this device supports.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deviceCapabilities": {
          "description": "Device capabilities. Copied from https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "screenY": {
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\".",
          "type": "string"
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A description of an iOS device tests may be run on."
    },
    "AndroidTestLoop": {
      "id": "AndroidTestLoop",
      "description": "A test of an Android Application with a Test Loop. The intent \\ will be implicitly added, since Games is the only user of this api, for the time being.",
      "properties": {
        "scenarios": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The list of scenarios that should be run during the test. The default is all test loops, derived from the application's manifest."
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "scenarioLabels": {
          "type": "array",
          "description": "The list of scenario labels that should be run during the test. The scenario labels should map to labels defined in the application's manifest. For example, player_experience and com.google.test.loops.player_experience add all of the loops labeled in the manifest with the com.google.test.loops.player_experience name to the execution. Scenarios can also be specified in the scenarios field.",
          "items": {
            "type": "string"
          }
        },
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default is determined by examining the application's manifest.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkConfigurationCatalog": {
      "id": "NetworkConfigurationCatalog",
      "properties": {
        "configurations": {
          "items": {
            "$ref": "NetworkConfiguration"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AndroidDevice": {
      "description": "A single Android device.",
      "id": "AndroidDevice",
      "properties": {
        "androidModelId": {
          "type": "string",
          "description": "Required. The id of the Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "androidVersionId": {
          "type": "string",
          "description": "Required. The id of the Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AndroidDeviceList": {
      "id": "AndroidDeviceList",
      "properties": {
        "androidDevices": {
          "description": "Required. A list of Android devices.",
          "items": {
            "$ref": "AndroidDevice"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of Android device configurations in which the test is to be executed."
    },
    "Shard": {
      "id": "Shard",
      "type": "object",
      "description": "Output only. Details about the shard.",
      "properties": {
        "shardIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The index of the shard among all the shards."
        },
        "numShards": {
          "description": "Output only. The total number of shards.",
          "format": "int32",
          "type": "integer"
        },
        "testTargetsForShard": {
          "description": "Output only. Test targets for each shard.",
          "$ref": "TestTargetsForShard"
        }
      }
    },
    "IosDeviceList": {
      "properties": {
        "iosDevices": {
          "description": "Required. A list of iOS devices.",
          "type": "array",
          "items": {
            "$ref": "IosDevice"
          }
        }
      },
      "type": "object",
      "id": "IosDeviceList",
      "description": "A list of iOS device configurations in which the test is to be executed."
    },
    "DeviceIpBlockCatalog": {
      "id": "DeviceIpBlockCatalog",
      "type": "object",
      "properties": {
        "ipBlocks": {
          "description": "The device IP blocks used by Firebase Test Lab",
          "type": "array",
          "items": {
            "$ref": "DeviceIpBlock"
          }
        }
      },
      "description": "List of IP blocks used by the Firebase Test Lab"
    },
    "ShardingOption": {
      "id": "ShardingOption",
      "description": "Options for enabling sharding.",
      "properties": {
        "uniformSharding": {
          "description": "Uniformly shards test cases given a total number of shards.",
          "$ref": "UniformSharding"
        },
        "manualSharding": {
          "description": "Shards test cases into the specified groups of packages, classes, and/or methods.",
          "$ref": "ManualSharding"
        }
      },
      "type": "object"
    },
    "IosDeviceFile": {
      "description": "A file or directory to install on the device before the test starts.",
      "properties": {
        "content": {
          "$ref": "FileReference",
          "description": "The source file"
        },
        "devicePath": {
          "description": "Location of the file on the device, inside the app's sandboxed filesystem",
          "type": "string"
        },
        "bundleId": {
          "type": "string",
          "description": "The bundle id of the app where this file lives. iOS apps sandbox their own filesystem, so app files must specify which app installed on the device."
        }
      },
      "id": "IosDeviceFile",
      "type": "object"
    },
    "ToolResultsStep": {
      "description": "Represents a tool results step resource. This has the results of a TestExecution.",
      "type": "object",
      "properties": {
        "executionId": {
          "description": "Output only. A tool results execution ID.",
          "type": "string"
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results step.",
          "type": "string"
        },
        "historyId": {
          "description": "Output only. A tool results history ID.",
          "type": "string"
        },
        "stepId": {
          "type": "string",
          "description": "Output only. A tool results step ID."
        }
      },
      "id": "ToolResultsStep"
    },
    "TestSetup": {
      "type": "object",
      "properties": {
        "environmentVariables": {
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "description": "Environment variables to set for the test (only applicable for instrumentation tests).",
          "type": "array"
        },
        "additionalApks": {
          "type": "array",
          "description": "APKs to install in addition to those being directly tested. Currently capped at 100.",
          "items": {
            "$ref": "Apk"
          }
        },
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "systrace": {
          "$ref": "SystraceSetup",
          "description": "Systrace configuration for the run. If set a systrace will be taken, starting on test start and lasting for the configured duration. The systrace file thus obtained is put in the results bucket together with the other artifacts from the run."
        },
        "directoriesToPull": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of directories on the device to upload to GCS at the end of the test; they must be absolute paths under /sdcard, /storage or /data/local/tmp. Path names are restricted to characters a-z A-Z 0-9 _ - . + and / Note: The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device."
        },
        "dontAutograntPermissions": {
          "description": "Whether to prevent all runtime permissions to be granted at app install",
          "type": "boolean"
        },
        "filesToPush": {
          "items": {
            "$ref": "DeviceFile"
          },
          "description": "List of files to push to the device before starting the test.",
          "type": "array"
        },
        "account": {
          "$ref": "Account",
          "description": "The device will be logged in on this account for the duration of the test."
        }
      },
      "id": "TestSetup",
      "description": "A description of how to set up the Android device prior to running the test."
    },
    "AndroidRoboTest": {
      "type": "object",
      "description": "A test of an android application that explores the application on a virtual or physical Android Device, finding culprits and crashes as it goes. Next tag: 30",
      "id": "AndroidRoboTest",
      "properties": {
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "roboScript": {
          "$ref": "FileReference",
          "description": "A JSON file with a sequence of actions Robo should perform as a prologue for the crawl."
        },
        "startingIntents": {
          "description": "The intents used to launch the app for the crawl. If none are provided, then the main launcher activity is launched. If some are provided, then only those provided are launched (the main launcher activity must be provided explicitly).",
          "type": "array",
          "items": {
            "$ref": "RoboStartingIntent"
          }
        },
        "maxDepth": {
          "description": "The max depth of the traversal stack Robo can explore. Needs to be at least 2 to make Robo explore the app beyond the first activity. Default is 50.",
          "type": "integer",
          "format": "int32"
        },
        "maxSteps": {
          "format": "int32",
          "description": "The max number of steps Robo can execute. Default is no limit.",
          "type": "integer"
        },
        "roboDirectives": {
          "description": "A set of directives Robo should apply during the crawl. This allows users to customize the crawl. For example, the username and password for a test account can be provided.",
          "type": "array",
          "items": {
            "$ref": "RoboDirective"
          }
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app.",
          "type": "string"
        }
      }
    },
    "StartActivityIntent": {
      "description": "A starting intent specified by an action, uri, and categories.",
      "id": "StartActivityIntent",
      "properties": {
        "action": {
          "description": "Action name. Required for START_ACTIVITY.",
          "type": "string"
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Intent categories to set on the intent."
        },
        "uri": {
          "description": "URI for the action.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ToolResultsExecution": {
      "id": "ToolResultsExecution",
      "description": "Represents a tool results execution resource. This has the results of a TestMatrix.",
      "properties": {
        "executionId": {
          "description": "Output only. A tool results execution ID.",
          "type": "string"
        },
        "historyId": {
          "type": "string",
          "description": "Output only. A tool results history ID."
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results execution.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Account": {
      "properties": {
        "googleAuto": {
          "description": "An automatic google login account.",
          "$ref": "GoogleAuto"
        }
      },
      "description": "Identifies an account and how to log into it.",
      "id": "Account",
      "type": "object"
    },
    "SystraceSetup": {
      "type": "object",
      "id": "SystraceSetup",
      "properties": {
        "durationSeconds": {
          "format": "int32",
          "description": "Systrace duration in seconds. Should be between 1 and 30 seconds. 0 disables systrace.",
          "type": "integer"
        }
      }
    },
    "RoboStartingIntent": {
      "properties": {
        "startActivity": {
          "description": "An intent that starts an activity with specific details.",
          "$ref": "StartActivityIntent"
        },
        "timeout": {
          "type": "string",
          "description": "Timeout in seconds for each intent.",
          "format": "google-duration"
        },
        "launcherActivity": {
          "description": "An intent that starts the main launcher activity.",
          "$ref": "LauncherActivityIntent"
        }
      },
      "type": "object",
      "description": "Message for specifying the start activities to crawl.",
      "id": "RoboStartingIntent"
    },
    "ApkDetail": {
      "type": "object",
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      },
      "id": "ApkDetail",
      "description": "Android application details based on application manifest and apk archive contents."
    },
    "IntentFilter": {
      "id": "IntentFilter",
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/intent-filter-element.html",
      "type": "object",
      "properties": {
        "categoryNames": {
          "description": "The android:name value of the tag.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mimeType": {
          "description": "The android:mimeType value of the tag.",
          "type": "string"
        },
        "actionNames": {
          "type": "array",
          "description": "The android:name value of the tag.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IosDeviceCatalog": {
      "properties": {
        "models": {
          "type": "array",
          "description": "The set of supported iOS device models.",
          "items": {
            "$ref": "IosModel"
          }
        },
        "runtimeConfiguration": {
          "$ref": "IosRuntimeConfiguration",
          "description": "The set of supported runtime configurations."
        },
        "xcodeVersions": {
          "items": {
            "$ref": "XcodeVersion"
          },
          "type": "array",
          "description": "The set of supported Xcode versions."
        },
        "versions": {
          "type": "array",
          "description": "The set of supported iOS software versions.",
          "items": {
            "$ref": "IosVersion"
          }
        }
      },
      "description": "The currently supported iOS devices.",
      "type": "object",
      "id": "IosDeviceCatalog"
    },
    "LauncherActivityIntent": {
      "properties": {},
      "description": "Specifies an intent that starts the main launcher activity.",
      "id": "LauncherActivityIntent",
      "type": "object"
    },
    "ManualSharding": {
      "id": "ManualSharding",
      "properties": {
        "testTargetsForShard": {
          "description": "Required. Group of packages, classes, and/or test methods to be run for each shard. When any physical devices are selected, the number of test_targets_for_shard must be \u003e= 1 and \u003c= 50. When no physical devices are selected, the number must be \u003e= 1 and \u003c= 500.",
          "items": {
            "$ref": "TestTargetsForShard"
          },
          "type": "array"
        }
      },
      "description": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid.",
      "type": "object"
    },
    "DeviceFile": {
      "type": "object",
      "description": "A single device file description.",
      "properties": {
        "regularFile": {
          "$ref": "RegularFile",
          "description": "A reference to a regular file."
        },
        "obbFile": {
          "$ref": "ObbFile",
          "description": "A reference to an opaque binary blob file."
        }
      },
      "id": "DeviceFile"
    },
    "TestTargetsForShard": {
      "description": "Test targets for a shard.",
      "properties": {
        "testTargets": {
          "description": "Group of packages, classes, and/or test methods to be run for each shard. The targets need to be specified in AndroidJUnitRunner argument format. For example, \"package com.my.packages\" \"class com.my.package.MyClass\". The number of shard_test_targets must be greater than 0.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestTargetsForShard"
    },
    "AndroidVersion": {
      "description": "A version of the Android OS.",
      "properties": {
        "codeName": {
          "type": "string",
          "description": "The code name for this Android version. Examples: \"JellyBean\", \"KitKat\"."
        },
        "id": {
          "description": "An opaque id for this Android version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        },
        "distribution": {
          "description": "Market share for this version.",
          "$ref": "Distribution"
        },
        "versionString": {
          "type": "string",
          "description": "A string representing this version of the Android OS. Examples: \"4.3\", \"4.4\"."
        },
        "apiLevel": {
          "format": "int32",
          "description": "The API level for this Android version. Examples: 18, 19.",
          "type": "integer"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "releaseDate": {
          "description": "The date this Android version became available in the market.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "id": "AndroidVersion"
    },
    "GoogleCloudStorage": {
      "description": "A storage location within Google cloud storage (GCS).",
      "properties": {
        "gcsPath": {
          "description": "Required. The path to a directory in GCS that will eventually contain the results for this test. The requesting user must have write access on the bucket in the supplied path.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudStorage"
    },
    "IosDevice": {
      "id": "IosDevice",
      "properties": {
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "iosModelId": {
          "description": "Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "iosVersionId": {
          "type": "string",
          "description": "Required. The id of the iOS major software version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      },
      "description": "A single iOS device.",
      "type": "object"
    },
    "IosTestSetup": {
      "description": "A description of how to set up an iOS device prior to running the test.",
      "type": "object",
      "id": "IosTestSetup",
      "properties": {
        "pushFiles": {
          "items": {
            "$ref": "IosDeviceFile"
          },
          "type": "array",
          "description": "List of files to push to the device before starting the test."
        },
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "additionalIpas": {
          "items": {
            "$ref": "FileReference"
          },
          "type": "array",
          "description": "iOS apps to install in addition to those being directly tested."
        },
        "pullDirectories": {
          "description": "List of directories on the device to upload to Cloud Storage at the end of the test. Directories should either be in a shared directory (e.g. /private/var/mobile/Media) or within an accessible directory inside the app's filesystem (e.g. /Documents) by specifying the bundle id.",
          "type": "array",
          "items": {
            "$ref": "IosDeviceFile"
          }
        }
      }
    },
    "TestSpecification": {
      "properties": {
        "iosTestSetup": {
          "description": "Test setup requirements for iOS.",
          "$ref": "IosTestSetup"
        },
        "androidTestLoop": {
          "description": "An Android Application with a Test Loop.",
          "$ref": "AndroidTestLoop"
        },
        "disableVideoRecording": {
          "description": "Disables video recording. May reduce test latency.",
          "type": "boolean"
        },
        "iosXcTest": {
          "description": "An iOS XCTest, via an .xctestrun file.",
          "$ref": "IosXcTest"
        },
        "testSetup": {
          "$ref": "TestSetup",
          "description": "Test setup requirements for Android e.g. files to install, bootstrap scripts."
        },
        "iosTestLoop": {
          "$ref": "IosTestLoop",
          "description": "An iOS application with a test loop."
        },
        "testTimeout": {
          "type": "string",
          "description": "Max time a test execution is allowed to run before it is automatically cancelled. The default value is 5 min.",
          "format": "google-duration"
        },
        "disablePerformanceMetrics": {
          "type": "boolean",
          "description": "Disables performance metrics recording. May reduce test latency."
        },
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "An Android instrumentation test."
        },
        "androidRoboTest": {
          "$ref": "AndroidRoboTest",
          "description": "An Android robo test."
        }
      },
      "type": "object",
      "description": "A description of how to run the test.",
      "id": "TestSpecification"
    },
    "GetApkDetailsResponse": {
      "description": "Response containing the details of the specified Android application APK.",
      "type": "object",
      "id": "GetApkDetailsResponse",
      "properties": {
        "apkDetail": {
          "description": "Details of the Android APK.",
          "$ref": "ApkDetail"
        }
      }
    },
    "DeviceIpBlock": {
      "description": "A single device IP block",
      "properties": {
        "form": {
          "description": "Whether this block is used by physical or virtual devices",
          "type": "string",
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ]
        },
        "addedDate": {
          "description": "The date this block was added to Firebase Test Lab",
          "$ref": "Date"
        },
        "block": {
          "type": "string",
          "description": "An IP address block in CIDR notation eg: 34.68.194.64/29"
        }
      },
      "type": "object",
      "id": "DeviceIpBlock"
    },
    "AndroidDeviceCatalog": {
      "properties": {
        "models": {
          "type": "array",
          "description": "The set of supported Android device models.",
          "items": {
            "$ref": "AndroidModel"
          }
        },
        "versions": {
          "type": "array",
          "description": "The set of supported Android OS versions.",
          "items": {
            "$ref": "AndroidVersion"
          }
        },
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "AndroidRuntimeConfiguration"
        }
      },
      "description": "The currently supported Android devices.",
      "id": "AndroidDeviceCatalog",
      "type": "object"
    },
    "XcodeVersion": {
      "description": "An Xcode version that an iOS version is compatible with.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The id for this version. Example: \"9.2\".",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this Xcode version. Example: \"default\"."
        }
      },
      "id": "XcodeVersion"
    },
    "TestDetails": {
      "type": "object",
      "description": "Additional details about the progress of the running test.",
      "id": "TestDetails",
      "properties": {
        "progressMessages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Human-readable, detailed descriptions of the test's progress. For example: \"Provisioning a device\", \"Starting Test\". During the course of execution new data may be appended to the end of progress_messages."
        },
        "errorMessage": {
          "description": "Output only. If the TestState is ERROR, then this string will contain human-readable details about the error.",
          "type": "string"
        }
      }
    },
    "RoboDirective": {
      "description": "Directs Robo to interact with a specific UI element if it is encountered during the crawl. Currently, Robo can perform text entry or element click.",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Required. The android resource name of the target UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        },
        "inputText": {
          "description": "The text that Robo is directed to set. If left empty, the directive will be treated as a CLICK on the element matching the resource_name.",
          "type": "string"
        },
        "actionType": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SINGLE_CLICK",
            "ENTER_TEXT",
            "IGNORE"
          ],
          "type": "string",
          "description": "Required. The type of action that Robo should perform on the specified element.",
          "enumDescriptions": [
            "DO NOT USE. For proto versioning only.",
            "Direct Robo to click on the specified element. No-op if specified element is not clickable.",
            "Direct Robo to enter text on the specified element. No-op if specified element is not enabled or does not allow text entry.",
            "Direct Robo to ignore interactions with a specific element."
          ]
        }
      },
      "id": "RoboDirective"
    },
    "Orientation": {
      "description": "Screen orientation of the device.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The id for this orientation. Example: \"portrait\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A human-friendly name for this orientation. Example: \"portrait\"."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Example: \"default\"."
        }
      },
      "id": "Orientation"
    },
    "IosRuntimeConfiguration": {
      "type": "object",
      "properties": {
        "locales": {
          "type": "array",
          "description": "The set of available locales.",
          "items": {
            "$ref": "Locale"
          }
        },
        "orientations": {
          "type": "array",
          "description": "The set of available orientations.",
          "items": {
            "$ref": "Orientation"
          }
        }
      },
      "description": "iOS configuration that can be selected at the time a test is run.",
      "id": "IosRuntimeConfiguration"
    },
    "TestMatrix": {
      "id": "TestMatrix",
      "description": "TestMatrix captures all details about a test. It contains the environment configuration, test specification, test executions and overall state and outcome.",
      "properties": {
        "testSpecification": {
          "description": "Required. How to run the test.",
          "$ref": "TestSpecification"
        },
        "testExecutions": {
          "type": "array",
          "items": {
            "$ref": "TestExecution"
          },
          "description": "Output only. The list of test executions that the service creates for this matrix."
        },
        "invalidMatrixDetails": {
          "type": "string",
          "description": "Output only. Describes why the matrix is considered invalid. Only useful for matrices in the INVALID state.",
          "enum": [
            "INVALID_MATRIX_DETAILS_UNSPECIFIED",
            "DETAILS_UNAVAILABLE",
            "MALFORMED_APK",
            "MALFORMED_TEST_APK",
            "NO_MANIFEST",
            "NO_PACKAGE_NAME",
            "INVALID_PACKAGE_NAME",
            "TEST_SAME_AS_APP",
            "NO_INSTRUMENTATION",
            "NO_SIGNATURE",
            "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
            "NO_TEST_RUNNER_CLASS",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "INVALID_ROBO_DIRECTIVES",
            "INVALID_RESOURCE_NAME",
            "INVALID_DIRECTIVE_ACTION",
            "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
            "SCENARIO_LABEL_NOT_DECLARED",
            "SCENARIO_LABEL_MALFORMED",
            "SCENARIO_NOT_DECLARED",
            "DEVICE_ADMIN_RECEIVER",
            "MALFORMED_XC_TEST_ZIP",
            "BUILT_FOR_IOS_SIMULATOR",
            "NO_TESTS_IN_XC_TEST_ZIP",
            "USE_DESTINATION_ARTIFACTS",
            "TEST_NOT_APP_HOSTED",
            "PLIST_CANNOT_BE_PARSED",
            "TEST_ONLY_APK",
            "MALFORMED_IPA",
            "MISSING_URL_SCHEME",
            "MALFORMED_APP_BUNDLE",
            "NO_CODE_APK",
            "INVALID_INPUT_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The matrix is INVALID, but there are no further details available.",
            "The input app APK could not be parsed.",
            "The input test APK could not be parsed.",
            "The AndroidManifest.xml could not be found.",
            "The APK manifest does not declare a package name.",
            "The APK application ID (aka package name) is invalid. See also https://developer.android.com/studio/build/application-id",
            "The test package and app package are the same.",
            "The test apk does not declare an instrumentation.",
            "The input app apk does not have a signature.",
            "The test runner class specified by user or in the test APK's manifest file is not compatible with Android Test Orchestrator. Orchestrator is only compatible with AndroidJUnitRunner version 1.0 or higher. Orchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR OrchestratorOption.",
            "The test APK does not contain the test runner class specified by user or in the manifest file. This can be caused by either of the following reasons: - the user provided a runner class name that's incorrect, or - the test runner isn't built into the test APK (might be in the app APK instead).",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "There is a conflict in the provided robo_directives.",
            "There is at least one invalid resource name in the provided robo directives",
            "Invalid definition of action in the robo directives (e.g. a click or ignore action includes an input text field)",
            "There is no test loop intent filter, or the one that is given is not formatted correctly.",
            "The request contains a scenario label that was not declared in the manifest.",
            "There was an error when parsing a label's value.",
            "The request contains a scenario number that was not declared in the manifest.",
            "Device administrator applications are not allowed.",
            "The zipped XCTest was malformed. The zip did not contain a single .xctestrun file and the contents of the DerivedData/Build/Products directory.",
            "The zipped XCTest was built for the iOS simulator rather than for a physical device.",
            "The .xctestrun file did not specify any test targets.",
            "One or more of the test targets defined in the .xctestrun file specifies \"UseDestinationArtifacts\", which is disallowed.",
            "XC tests which run on physical devices must have \"IsAppHostedTestBundle\" == \"true\" in the xctestrun file.",
            "An Info.plist file in the XCTest zip could not be parsed.",
            "The APK is marked as \"testOnly\". Deprecated and not currently used.",
            "The input IPA could not be parsed.",
            "The application doesn't register the game loop URL scheme.",
            "The iOS application bundle (.app) couldn't be processed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "Either the provided input APK path was malformed, the APK file does not exist, or the user does not have permission to access the APK file.",
            "APK is built for a preview SDK which is unsupported"
          ]
        },
        "testMatrixId": {
          "type": "string",
          "description": "Output only. Unique id set by the service."
        },
        "timestamp": {
          "description": "Output only. The time this test matrix was initially created.",
          "type": "string",
          "format": "google-datetime"
        },
        "clientInfo": {
          "$ref": "ClientInfo",
          "description": "Information about the client which invoked the test."
        },
        "failFast": {
          "description": "If true, only a single attempt at most will be made to run each execution/shard in the matrix. Flaky test attempts are not affected. Normally, 2 or more attempts are made if a potential infrastructure issue is detected. This feature is for latency sensitive workloads. The incidence of execution failures may be significantly greater for fail-fast matrices and support is more limited because of that expectation.",
          "type": "boolean"
        },
        "environmentMatrix": {
          "$ref": "EnvironmentMatrix",
          "description": "Required. The devices the tests are being executed on."
        },
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "description": "Output only. Indicates the current progress of the test matrix."
        },
        "resultStorage": {
          "$ref": "ResultStorage",
          "description": "Required. Where the results for the matrix are written."
        },
        "outcomeSummary": {
          "enum": [
            "OUTCOME_SUMMARY_UNSPECIFIED",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED"
          ],
          "description": "Output Only. The overall outcome of the test. Only set when the test matrix state is FINISHED.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible."
          ],
          "type": "string"
        },
        "flakyTestAttempts": {
          "description": "The number of times a TestExecution should be re-attempted if one or more of its test cases fail for any reason. The maximum number of reruns allowed is 10. Default is 0, which implies no reruns.",
          "format": "int32",
          "type": "integer"
        },
        "projectId": {
          "type": "string",
          "description": "The cloud project that owns the test matrix."
        }
      },
      "type": "object"
    },
    "IosXcTest": {
      "properties": {
        "testSpecialEntitlements": {
          "type": "boolean",
          "description": "The option to test special app entitlements. Setting this would re-sign the app having special entitlements with an explicit application-identifier. Currently supports testing aps-environment entitlement."
        },
        "xctestrun": {
          "description": "An .xctestrun file that will override the .xctestrun file in the tests zip. Because the .xctestrun file contains environment variables along with test methods to run and/or ignore, this can be useful for sharding tests. Default is taken from the tests zip.",
          "$ref": "FileReference"
        },
        "xcodeVersion": {
          "type": "string",
          "description": "The Xcode version that should be used for the test. Use the TestEnvironmentDiscoveryService to get supported options. Defaults to the latest Xcode version Firebase Test Lab supports."
        },
        "appBundleId": {
          "description": "Output only. The bundle id for the application under test.",
          "type": "string"
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory. The .xctestrun file in this zip is ignored if the xctestrun field is specified.",
          "$ref": "FileReference"
        }
      },
      "description": "A test of an iOS application that uses the XCTest framework. Xcode supports the option to \"build for testing\", which generates an .xctestrun file that contains a test specification (arguments, test methods, etc). This test type accepts a zip file containing the .xctestrun file and the corresponding contents of the Build/Products directory that contains all the binaries needed to run the tests.",
      "type": "object",
      "id": "IosXcTest"
    },
    "GoogleAuto": {
      "properties": {},
      "description": "Enables automatic Google account login. If set, the service automatically generates a Google test account and adds it to the device, before executing the test. Note that test accounts might be reused. Many applications show their full set of functionalities when an account is present on the device. Logging into the device with these generated accounts allows testing more functionalities.",
      "type": "object",
      "id": "GoogleAuto"
    },
    "ClientInfoDetail": {
      "id": "ClientInfoDetail",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of detailed client information."
        },
        "key": {
          "type": "string",
          "description": "Required. The key of detailed client information."
        }
      },
      "type": "object",
      "description": "Key-value pair of detailed information about the client which invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}."
    },
    "Environment": {
      "properties": {
        "androidDevice": {
          "$ref": "AndroidDevice",
          "description": "An Android device which must be used with an Android test."
        },
        "iosDevice": {
          "description": "An iOS device which must be used with an iOS test.",
          "$ref": "IosDevice"
        }
      },
      "id": "Environment",
      "description": "The environment in which the test is run.",
      "type": "object"
    },
    "UniformSharding": {
      "type": "object",
      "properties": {
        "numShards": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Total number of shards. When any physical devices are selected, the number must be \u003e= 1 and \u003c= 50. When no physical devices are selected, the number must be \u003e= 1 and \u003c= 500."
        }
      },
      "description": "Uniformly shards test cases given a total number of shards. For Instrumentation test, it will be translated to \"-e numShard\" \"-e shardIndex\" AndroidJUnitRunner arguments. With uniform sharding enabled, specifying these sharding arguments via environment_variables is invalid.",
      "id": "UniformSharding"
    },
    "ApkManifest": {
      "description": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html",
      "properties": {
        "applicationLabel": {
          "description": "User-readable name for the application.",
          "type": "string"
        },
        "targetSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the API Level on which the application is designed to run."
        },
        "usesPermission": {
          "description": "Permissions declared to be used by the application",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minSdkVersion": {
          "description": "Minimum API level required for the application to run.",
          "type": "integer",
          "format": "int32"
        },
        "intentFilters": {
          "type": "array",
          "items": {
            "$ref": "IntentFilter"
          }
        },
        "packageName": {
          "type": "string",
          "description": "Full Java-style package name for this application, e.g. \"com.example.foo\"."
        },
        "maxSdkVersion": {
          "format": "int32",
          "description": "Maximum API level on which the application is designed to run.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ApkManifest"
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "description": "Allows developers to run automated tests for their mobile applications on Google infrastructure.",
  "id": "testing:v1",
  "documentationLink": "https://developers.google.com/cloud-test-lab/",
  "version": "v1",
  "name": "testing",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "basePath": "",
  "rootUrl": "https://testing.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "testMatrices": {
          "methods": {
            "create": {
              "path": "v1/projects/{projectId}/testMatrices",
              "request": {
                "$ref": "TestMatrix"
              },
              "id": "testing.projects.testMatrices.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "requestId": {
                  "description": "A string id used to detect duplicated requests. Ids are automatically scoped to a project, so users should ensure the ID is unique per-project. A UUID is recommended. Optional, but strongly recommended.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "description": "The GCE project under which this job will run.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectId}/testMatrices",
              "response": {
                "$ref": "TestMatrix"
              },
              "parameterOrder": [
                "projectId"
              ],
              "description": "Creates and runs a matrix of tests according to the given specifications. Unsupported environments will be returned in the state UNSUPPORTED. A test matrix is limited to use at most 2000 devices in parallel. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed or if the matrix tries to use too many simultaneous devices."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "id": "testing.projects.testMatrices.get",
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "parameters": {
                "testMatrixId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Unique test matrix id which was assigned by the service."
                },
                "projectId": {
                  "description": "Cloud project that owns the test matrix.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "TestMatrix"
              },
              "description": "Checks the status of a test matrix. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist"
            },
            "cancel": {
              "description": "Cancels unfinished test executions in a test matrix. This call returns immediately and cancellation proceeds asynchronously. If the matrix is already final, this operation will have no effect. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "testing.projects.testMatrices.cancel",
              "response": {
                "$ref": "CancelTestMatrixResponse"
              },
              "parameters": {
                "testMatrixId": {
                  "location": "path",
                  "required": true,
                  "description": "Test matrix that will be canceled.",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Cloud project that owns the test."
                }
              }
            }
          }
        }
      }
    },
    "testEnvironmentCatalog": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "testing.testEnvironmentCatalog.get",
          "response": {
            "$ref": "TestEnvironmentCatalog"
          },
          "description": "Gets the catalog of supported test environments. May return any of the following canonical error codes: - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the environment type does not exist - INTERNAL - if an internal error occurred",
          "httpMethod": "GET",
          "parameterOrder": [
            "environmentType"
          ],
          "flatPath": "v1/testEnvironmentCatalog/{environmentType}",
          "parameters": {
            "projectId": {
              "location": "query",
              "description": "For authorization, the cloud project requesting the TestEnvironmentCatalog.",
              "type": "string"
            },
            "environmentType": {
              "description": "Required. The type of environment that should be listed.",
              "type": "string",
              "enumDescriptions": [
                "Do not use. For proto versioning only.",
                "A device running a version of the Android OS.",
                "A device running a version of iOS.",
                "A network configuration to use when running a test.",
                "The software environment provided by TestExecutionService.",
                "The IP blocks used by devices in the test environment."
              ],
              "required": true,
              "enum": [
                "ENVIRONMENT_TYPE_UNSPECIFIED",
                "ANDROID",
                "IOS",
                "NETWORK_CONFIGURATION",
                "PROVIDED_SOFTWARE",
                "DEVICE_IP_BLOCKS"
              ],
              "location": "path"
            }
          },
          "path": "v1/testEnvironmentCatalog/{environmentType}"
        }
      }
    },
    "applicationDetailService": {
      "methods": {
        "getApkDetails": {
          "response": {
            "$ref": "GetApkDetailsResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "FileReference"
          },
          "path": "v1/applicationDetailService/getApkDetails",
          "parameterOrder": [],
          "id": "testing.applicationDetailService.getApkDetails",
          "flatPath": "v1/applicationDetailService/getApkDetails",
          "description": "Gets the details of an Android application APK.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "mtlsRootUrl": "https://testing.mtls.googleapis.com/"
}
