{
  "ownerDomain": "google.com",
  "version_module": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "name": "transcoder",
  "baseUrl": "https://transcoder.googleapis.com/",
  "version": "v1beta1",
  "basePath": "",
  "schemas": {
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "Denoise": {
      "id": "Denoise",
      "type": "object",
      "description": "Denoise preprocessing configuration.",
      "properties": {
        "strength": {
          "format": "double",
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "type": "number"
        },
        "tune": {
          "description": "Set the denoiser mode. The default is `\"standard\"`. Supported denoiser modes: - 'standard' - 'grain'",
          "type": "string"
        }
      }
    },
    "ListJobsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "List of jobs in the specified region.",
          "type": "array"
        }
      },
      "description": "Response message for `TranscoderService.ListJobs`.",
      "id": "ListJobsResponse"
    },
    "Deblock": {
      "properties": {
        "strength": {
          "format": "double",
          "type": "number",
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0."
        },
        "enabled": {
          "type": "boolean",
          "description": "Enable deblocker. The default is `false`."
        }
      },
      "id": "Deblock",
      "type": "object",
      "description": "Deblock preprocessing configuration."
    },
    "Output": {
      "properties": {
        "uri": {
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. If empty the value is populated from `Job.output_uri`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "id": "Output"
    },
    "VideoStream": {
      "properties": {
        "tune": {
          "description": "Enforces the specified codec tune. The available options are FFmpeg-compatible. Note that certain values for this field may cause the transcoder to override other fields you set in the `VideoStream` message.",
          "type": "string"
        },
        "vbvSizeBits": {
          "type": "integer",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "format": "int32"
        },
        "widthPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used."
        },
        "allowOpenGop": {
          "type": "boolean",
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
        },
        "vbvFullnessBits": {
          "format": "int32",
          "type": "integer",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of `VideoStream.vbv_size_bits`."
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are FFmpeg-compatible. Note that certain values for this field may cause the transcoder to override other fields you set in the `VideoStream` message.",
          "type": "string"
        },
        "frameRate": {
          "format": "double",
          "type": "number",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120. Will default to the input frame rate if larger than the input frame rate. The API will generate an output FPS that is divisible by the input FPS, and smaller or equal to the target FPS. The following table shows the computed video FPS given the target FPS (in parenthesis) and input FPS (in the first column): | | (30) | (60) | (25) | (50) | |--------|--------|--------|------|------| | 240 | Fail | Fail | Fail | Fail | | 120 | 30 | 60 | 20 | 30 | | 100 | 25 | 50 | 20 | 30 | | 50 | 25 | 50 | 20 | 30 | | 60 | 30 | 60 | 20 | 30 | | 59.94 | 29.97 | 59.94 | 20 | 30 | | 48 | 24 | 48 | 20 | 30 | | 30 | 30 | 30 | 20 | 30 | | 25 | 25 | 25 | 20 | 30 | | 24 | 24 | 24 | 20 | 30 | | 23.976 | 23.976 | 23.976 | 20 | 30 | | 15 | 15 | 15 | 20 | 30 | | 12 | 12 | 12 | 20 | 30 | | 10 | 10 | 10 | 20 | 30 |"
        },
        "codec": {
          "type": "string",
          "description": "Codec type. The following codecs are supported: * `h264` (default) * `h265` * `vp9`"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are FFmpeg-compatible. Note that certain values for this field may cause the transcoder to override other fields you set in the `VideoStream` message.",
          "type": "string"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "entropyCoder": {
          "type": "string",
          "description": "The entropy coder to use. The default is `\"cabac\"`. Supported entropy coders: - 'cavlc' - 'cabac'"
        },
        "crfLevel": {
          "type": "integer",
          "format": "int32",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21."
        },
        "gopFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero."
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `\"yuv420p\"`. Supported pixel formats: - 'yuv420p' pixel format. - 'yuv422p' pixel format. - 'yuv444p' pixel format. - 'yuv420p10' 10-bit HDR pixel format. - 'yuv422p10' 10-bit HDR pixel format. - 'yuv444p10' 10-bit HDR pixel format. - 'yuv420p12' 12-bit HDR pixel format. - 'yuv422p12' 12-bit HDR pixel format. - 'yuv444p12' 12-bit HDR pixel format."
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. `VideoStream.rate_control_mode` must be `\"vbr\"`. The default is `false`.",
          "type": "boolean"
        },
        "heightPixels": {
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used.",
          "type": "integer"
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "bitrateBps": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The video bitrate in bits per second. Must be between 1 and 1,000,000,000."
        },
        "gopDuration": {
          "type": "string",
          "description": "Select the GOP size based on the specified duration. The default is `\"3s\"`.",
          "format": "google-duration"
        },
        "rateControlMode": {
          "description": "Specify the `rate_control_mode`. The default is `\"vbr\"`. Supported rate control modes: - 'vbr' - variable bitrate - 'crf' - constant rate factor",
          "type": "string"
        },
        "bFrameCount": {
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than `VideoStream.gop_frame_count` if set. The default is 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "VideoStream",
      "type": "object",
      "description": "Video stream resource."
    },
    "ListJobTemplatesResponse": {
      "type": "object",
      "id": "ListJobTemplatesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        },
        "jobTemplates": {
          "description": "List of job templates in the specified region.",
          "type": "array",
          "items": {
            "$ref": "JobTemplate"
          }
        }
      },
      "description": "Response message for `TranscoderService.ListJobTemplates`."
    },
    "JobTemplate": {
      "description": "Transcoding job template resource.",
      "properties": {
        "name": {
          "description": "The resource name of the job template. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
          "type": "string"
        },
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this template."
        }
      },
      "type": "object",
      "id": "JobTemplate"
    },
    "Encryption": {
      "id": "Encryption",
      "description": "Encryption settings.",
      "properties": {
        "aes128": {
          "description": "Configuration for AES-128 encryption.",
          "$ref": "Aes128Encryption"
        },
        "mpegCenc": {
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
          "$ref": "MpegCommonEncryption"
        },
        "sampleAes": {
          "$ref": "SampleAesEncryption",
          "description": "Configuration for SAMPLE-AES encryption."
        },
        "iv": {
          "type": "string",
          "description": "Required. 128 bit Initialization Vector (IV) represented as lowercase hexadecimal digits."
        },
        "key": {
          "description": "Required. 128 bit encryption key represented as lowercase hexadecimal digits.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AudioChannelInput": {
      "id": "AudioChannelInput",
      "description": "Identifies which input file, track, and channel should be used.",
      "type": "object",
      "properties": {
        "track": {
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer",
          "format": "int32"
        },
        "channel": {
          "description": "Required. The zero-based index of the channel in the input file.",
          "type": "integer",
          "format": "int32"
        },
        "key": {
          "type": "string",
          "description": "Required. The `Input.key` that identifies the input file."
        },
        "gainDb": {
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "AudioAtom": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The `EditAtom.key` that references the atom with audio inputs in the `Job.edit_list`."
        },
        "channels": {
          "items": {
            "$ref": "AudioChannel"
          },
          "type": "array",
          "description": "List of `Channel`s for this audio stream. for in-depth explanation."
        }
      },
      "id": "AudioAtom",
      "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`.",
      "type": "object"
    },
    "PreprocessingConfig": {
      "description": "Preprocessing configurations.",
      "type": "object",
      "id": "PreprocessingConfig",
      "properties": {
        "crop": {
          "$ref": "Crop",
          "description": "Specify the video cropping configuration."
        },
        "deblock": {
          "description": "Deblock preprocessing configuration.",
          "$ref": "Deblock"
        },
        "color": {
          "$ref": "Color",
          "description": "Color preprocessing configuration."
        },
        "audio": {
          "description": "Audio preprocessing configuration.",
          "$ref": "Audio"
        },
        "denoise": {
          "description": "Denoise preprocessing configuration.",
          "$ref": "Denoise"
        }
      }
    },
    "Color": {
      "description": "Color preprocessing configuration.",
      "id": "Color",
      "properties": {
        "brightness": {
          "format": "double",
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0.",
          "type": "number"
        },
        "saturation": {
          "type": "number",
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0.",
          "format": "double"
        },
        "contrast": {
          "format": "double",
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "SegmentSettings": {
      "type": "object",
      "description": "Segment settings for `\"ts\"`, `\"fmp4\"` and `\"vtt\"`.",
      "properties": {
        "segmentDuration": {
          "format": "google-duration",
          "description": "Duration of the segments in seconds. The default is `\"6.0s\"`.",
          "type": "string"
        },
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        }
      },
      "id": "SegmentSettings"
    },
    "Job": {
      "description": "Transcoding job resource.",
      "properties": {
        "failureReason": {
          "description": "Output only. A description of the reason for the failure. This property is always present when `state` is `FAILED`.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the job was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "ttlAfterCompletionDays": {
          "type": "integer",
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30.",
          "format": "int32"
        },
        "name": {
          "description": "The resource name of the job. Format: `projects/{project}/locations/{location}/jobs/{job}`",
          "type": "string"
        },
        "outputUri": {
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "description": "Specify the priority of the job. Enter a value between 0 and 100, where 0 is the lowest priority and 100 is the highest priority. The default is 0.",
          "type": "integer"
        },
        "failureDetails": {
          "description": "Output only. List of failure details. This property may contain additional information about the failure when `failure_reason` is present. *Note*: This feature is not yet available.",
          "items": {
            "$ref": "FailureDetail"
          },
          "type": "array",
          "readOnly": true
        },
        "config": {
          "description": "The configuration for this job.",
          "$ref": "JobConfig"
        },
        "inputUri": {
          "type": "string",
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. It must be stored in Cloud Storage. For example, `gs://bucket/inputs/file.mp4`."
        },
        "templateId": {
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`. Preset Transcoder templates: - `preset/{preset_id}` - User defined JobTemplate: `{job_template_id}`",
          "type": "string"
        },
        "originUri": {
          "readOnly": true,
          "$ref": "OriginUri",
          "description": "Output only. The origin URI. *Note*: This feature is not yet available."
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the transcoding started."
        },
        "state": {
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see `failure_reason` and `failure_details`"
          ],
          "description": "Output only. The current state of the job.",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "progress": {
          "$ref": "Progress",
          "description": "Output only. Estimated fractional progress, from `0` to `1` for each step. *Note*: This feature is not yet available.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the transcoding finished.",
          "type": "string"
        }
      },
      "id": "Job",
      "type": "object"
    },
    "Input": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI of the media. It must be stored in Cloud Storage. Example `gs://bucket/inputs/file.mp4`. If empty the value will be populated from `Job.input_uri`."
        },
        "key": {
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists.",
          "type": "string"
        },
        "preprocessingConfig": {
          "$ref": "PreprocessingConfig",
          "description": "Preprocessing configurations."
        }
      },
      "description": "Input asset.",
      "id": "Input"
    },
    "TextAtom": {
      "id": "TextAtom",
      "properties": {
        "inputs": {
          "type": "array",
          "description": "List of `Job.inputs` that should be embedded in this atom. Only one input is supported.",
          "items": {
            "$ref": "TextInput"
          }
        },
        "key": {
          "type": "string",
          "description": "Required. The `EditAtom.key` that references atom with text inputs in the `Job.edit_list`."
        }
      },
      "type": "object",
      "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`."
    },
    "SampleAesEncryption": {
      "id": "SampleAesEncryption",
      "description": "Configuration for SAMPLE-AES encryption.",
      "type": "object",
      "properties": {
        "keyUri": {
          "description": "Required. URI of the key delivery service. This URI is inserted into the M3U8 header.",
          "type": "string"
        }
      }
    },
    "Image": {
      "description": "Overlaid jpeg image.",
      "id": "Image",
      "type": "object",
      "properties": {
        "alpha": {
          "format": "double",
          "description": "Target image opacity. Valid values: `1` (solid, default), `0` (transparent).",
          "type": "number"
        },
        "uri": {
          "description": "Required. URI of the image in Cloud Storage. For example, `gs://bucket/inputs/image.jpeg`.",
          "type": "string"
        },
        "resolution": {
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`.",
          "$ref": "NormalizedCoordinate"
        }
      }
    },
    "MuxStream": {
      "description": "Multiplexing settings for output stream.",
      "type": "object",
      "properties": {
        "encryption": {
          "description": "Encryption settings.",
          "$ref": "Encryption"
        },
        "segmentSettings": {
          "description": "Segment settings for `\"ts\"`, `\"fmp4\"` and `\"vtt\"`.",
          "$ref": "SegmentSettings"
        },
        "key": {
          "description": "A unique key for this multiplexed stream. HLS media manifests will be named `MuxStream.key` with the `\".m3u8\"` extension suffix.",
          "type": "string"
        },
        "elementaryStreams": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of `ElementaryStream.key`s multiplexed in this stream."
        },
        "fileName": {
          "description": "The name of the generated file. The default is `MuxStream.key` with the extension suffix corresponding to the `MuxStream.container`. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `\"mux_stream0000000123.ts\"`.",
          "type": "string"
        },
        "container": {
          "type": "string",
          "description": "The container format. The default is `\"mp4\"` Supported container formats: - 'ts' - 'fmp4'- the corresponding file extension is `\".m4s\"` - 'mp4' - 'vtt'"
        }
      },
      "id": "MuxStream"
    },
    "AnimationFade": {
      "id": "AnimationFade",
      "properties": {
        "fadeType": {
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ],
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "type": "string",
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ]
        },
        "startTimeOffset": {
          "description": "The time to start the fade animation, in seconds. Default: 0",
          "type": "string",
          "format": "google-duration"
        },
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object.",
          "$ref": "NormalizedCoordinate"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "format": "google-duration"
        }
      },
      "description": "Display overlay object with fade animation.",
      "type": "object"
    },
    "Aes128Encryption": {
      "type": "object",
      "description": "Configuration for AES-128 encryption.",
      "id": "Aes128Encryption",
      "properties": {
        "keyUri": {
          "description": "Required. URI of the key delivery service. This URI is inserted into the M3U8 header.",
          "type": "string"
        }
      }
    },
    "TextStream": {
      "id": "TextStream",
      "type": "object",
      "description": "Encoding of a text stream. For example, closed captions or subtitles.",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code, such as `\"en-US\"` or `\"sr-Latn\"`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "codec": {
          "type": "string",
          "description": "The codec for this text stream. The default is `\"webvtt\"`. Supported text codecs: - 'srt' - 'ttml' - 'cea608' - 'cea708' - 'webvtt'"
        },
        "mapping": {
          "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`.",
          "items": {
            "$ref": "TextAtom"
          },
          "type": "array"
        }
      }
    },
    "TextInput": {
      "properties": {
        "key": {
          "description": "Required. The `Input.key` that identifies the input file.",
          "type": "string"
        },
        "track": {
          "type": "integer",
          "description": "Required. The zero-based index of the track in the input file.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "TextInput",
      "description": "Identifies which input file and track should be used."
    },
    "Crop": {
      "type": "object",
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "properties": {
        "bottomPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "type": "integer"
        },
        "rightPixels": {
          "type": "integer",
          "description": "The number of pixels to crop from the right. The default is 0.",
          "format": "int32"
        },
        "topPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to crop from the top. The default is 0."
        },
        "leftPixels": {
          "description": "The number of pixels to crop from the left. The default is 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Crop"
    },
    "Audio": {
      "properties": {
        "highBoost": {
          "type": "boolean",
          "description": "Enable boosting high frequency components. The default is `false`."
        },
        "lowBoost": {
          "description": "Enable boosting low frequency components. The default is `false`.",
          "type": "boolean"
        },
        "lufs": {
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0, where -24 is the Advanced Television Systems Committee (ATSC A/85), -23 is the EU R128 broadcast standard, -19 is the prior standard for online mono audio, -18 is the ReplayGain standard, -16 is the prior standard for stereo audio, -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo, and 0 disables normalization. The default is 0.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Audio preprocessing configuration.",
      "id": "Audio",
      "type": "object"
    },
    "AnimationStatic": {
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "The time to start displaying the overlay object, in seconds. Default: 0",
          "type": "string"
        },
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object."
        }
      },
      "type": "object",
      "description": "Display static overlay object.",
      "id": "AnimationStatic"
    },
    "Manifest": {
      "type": "object",
      "id": "Manifest",
      "description": "Manifest configuration.",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is `\"manifest\"` with the extension suffix corresponding to the `Manifest.type`."
        },
        "muxStreams": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of user given `MuxStream.key`s that should appear in this manifest. When `Manifest.type` is `HLS`, a media manifest with name `MuxStream.key` and `.m3u8` extension is generated for each element of the `Manifest.mux_streams`."
        },
        "type": {
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create `\"HLS\"` manifest. The corresponding file extension is `\".m3u8\"`.",
            "Create `\"DASH\"` manifest. The corresponding file extension is `\".mpd\"`."
          ],
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "description": "Required. Type of the manifest, can be \"HLS\" or \"DASH\".",
          "type": "string"
        }
      }
    },
    "Overlay": {
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "Image overlay."
        },
        "animations": {
          "items": {
            "$ref": "Animation"
          },
          "description": "List of Animations. The list should be chronological, without any time overlap.",
          "type": "array"
        }
      },
      "description": "Overlay configuration.",
      "type": "object",
      "id": "Overlay"
    },
    "Animation": {
      "id": "Animation",
      "description": "Animation types.",
      "type": "object",
      "properties": {
        "animationEnd": {
          "$ref": "AnimationEnd",
          "description": "End previous animation."
        },
        "animationStatic": {
          "description": "Display static overlay object.",
          "$ref": "AnimationStatic"
        },
        "animationFade": {
          "description": "Display overlay object with fade animation.",
          "$ref": "AnimationFade"
        }
      }
    },
    "NormalizedCoordinate": {
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`",
      "id": "NormalizedCoordinate",
      "type": "object",
      "properties": {
        "x": {
          "description": "Normalized x coordinate.",
          "type": "number",
          "format": "double"
        },
        "y": {
          "description": "Normalized y coordinate.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "FailureDetail": {
      "description": "Additional information about the reasons for the failure.",
      "id": "FailureDetail",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the failure."
        }
      },
      "type": "object"
    },
    "PubsubDestination": {
      "description": "A Pub/Sub destination.",
      "type": "object",
      "id": "PubsubDestination",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      }
    },
    "AdBreak": {
      "description": "Ad break.",
      "id": "AdBreak",
      "properties": {
        "startTimeOffset": {
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AudioChannel": {
      "id": "AudioChannel",
      "properties": {
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "AudioChannelInput"
          },
          "description": "List of `Job.inputs` for this audio channel."
        }
      },
      "type": "object",
      "description": "The audio channel."
    },
    "MpegCommonEncryption": {
      "type": "object",
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
      "id": "MpegCommonEncryption",
      "properties": {
        "keyId": {
          "type": "string",
          "description": "Required. 128 bit Key ID represented as lowercase hexadecimal digits for use with common encryption."
        },
        "scheme": {
          "type": "string",
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - 'cenc' - 'cbcs'"
        }
      }
    },
    "SpriteSheet": {
      "properties": {
        "rowCount": {
          "type": "integer",
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit.",
          "format": "int32"
        },
        "startTimeOffset": {
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        },
        "interval": {
          "type": "string",
          "format": "google-duration",
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds."
        },
        "spriteWidthPixels": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The width of sprite in pixels. Must be an even integer."
        },
        "totalCount": {
          "format": "int32",
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100.",
          "type": "integer"
        },
        "format": {
          "description": "Format type. The default is `\"jpeg\"`. Supported formats: - 'jpeg'",
          "type": "string"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "type": "string"
        },
        "spriteHeightPixels": {
          "description": "Required. The height of sprite in pixels. Must be an even integer.",
          "format": "int32",
          "type": "integer"
        },
        "columnCount": {
          "format": "int32",
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit.",
          "type": "integer"
        },
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `\"sprite_sheet0000000123.jpeg\"`.",
          "type": "string"
        }
      },
      "description": "Sprite sheet configuration.",
      "type": "object",
      "id": "SpriteSheet"
    },
    "ElementaryStream": {
      "properties": {
        "key": {
          "description": "A unique key for this elementary stream.",
          "type": "string"
        },
        "videoStream": {
          "description": "Encoding of a video stream.",
          "$ref": "VideoStream"
        },
        "textStream": {
          "$ref": "TextStream",
          "description": "Encoding of a text stream. For example, closed captions or subtitles."
        },
        "audioStream": {
          "description": "Encoding of an audio stream.",
          "$ref": "AudioStream"
        }
      },
      "type": "object",
      "id": "ElementaryStream",
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats."
    },
    "Progress": {
      "id": "Progress",
      "properties": {
        "encoded": {
          "type": "number",
          "format": "double",
          "description": "Estimated fractional progress for `encoding` step."
        },
        "analyzed": {
          "description": "Estimated fractional progress for `analyzing` step.",
          "format": "double",
          "type": "number"
        },
        "uploaded": {
          "type": "number",
          "description": "Estimated fractional progress for `uploading` step.",
          "format": "double"
        },
        "notified": {
          "format": "double",
          "type": "number",
          "description": "Estimated fractional progress for `notifying` step."
        }
      },
      "description": "Estimated fractional progress for each step, from `0` to `1`.",
      "type": "object"
    },
    "AudioStream": {
      "description": "Audio stream resource.",
      "properties": {
        "codec": {
          "type": "string",
          "description": "The codec for this audio stream. The default is `\"aac\"`. Supported audio codecs: - 'aac' - 'aac-he' - 'aac-he-v2' - 'mp3' - 'ac3' - 'eac3'"
        },
        "bitrateBps": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000."
        },
        "sampleRateHertz": {
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz.",
          "format": "int32",
          "type": "integer"
        },
        "channelCount": {
          "format": "int32",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2.",
          "type": "integer"
        },
        "channelLayout": {
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - 'fl' - Front left channel - 'fr' - Front right channel - 'sl' - Side left channel - 'sr' - Side right channel - 'fc' - Front center channel - 'lfe' - Low frequency",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mapping": {
          "items": {
            "$ref": "AudioAtom"
          },
          "type": "array",
          "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`."
        }
      },
      "id": "AudioStream",
      "type": "object"
    },
    "JobConfig": {
      "id": "JobConfig",
      "properties": {
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "Input"
          },
          "description": "List of input assets stored in Cloud Storage."
        },
        "editList": {
          "type": "array",
          "items": {
            "$ref": "EditAtom"
          },
          "description": "List of `Edit atom`s. Defines the ultimate timeline of the resulting file or manifest."
        },
        "spriteSheets": {
          "type": "array",
          "description": "List of output sprite sheets.",
          "items": {
            "$ref": "SpriteSheet"
          }
        },
        "adBreaks": {
          "items": {
            "$ref": "AdBreak"
          },
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "type": "array"
        },
        "pubsubDestination": {
          "$ref": "PubsubDestination",
          "description": "Destination on Pub/Sub."
        },
        "elementaryStreams": {
          "items": {
            "$ref": "ElementaryStream"
          },
          "description": "List of elementary streams.",
          "type": "array"
        },
        "output": {
          "$ref": "Output",
          "description": "Output configuration."
        },
        "overlays": {
          "type": "array",
          "description": "List of overlays on the output video, in descending Z-order.",
          "items": {
            "$ref": "Overlay"
          }
        },
        "muxStreams": {
          "description": "List of multiplexing settings for output streams.",
          "items": {
            "$ref": "MuxStream"
          },
          "type": "array"
        },
        "manifests": {
          "type": "array",
          "description": "List of output manifests.",
          "items": {
            "$ref": "Manifest"
          }
        }
      },
      "description": "Job configuration",
      "type": "object"
    },
    "OriginUri": {
      "id": "OriginUri",
      "type": "object",
      "description": "The origin URI.",
      "properties": {
        "dash": {
          "description": "Dash manifest URI. If multiple Dash manifests are created, only the first one is listed.",
          "type": "string"
        },
        "hls": {
          "type": "string",
          "description": "HLS manifest URI per https://tools.ietf.org/html/rfc8216#section-4.3.4. If multiple HLS manifests are created, only the first one is listed."
        }
      }
    },
    "EditAtom": {
      "id": "EditAtom",
      "type": "object",
      "description": "Edit atom.",
      "properties": {
        "inputs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of `Input.key`s identifying files that should be used in this atom. The listed `inputs` must have the same timeline."
        },
        "key": {
          "type": "string",
          "description": "A unique key for this atom. Must be specified when using advanced mapping."
        },
        "startTimeOffset": {
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`.",
          "type": "string",
          "format": "google-duration"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "format": "google-duration"
        }
      }
    },
    "AnimationEnd": {
      "type": "object",
      "description": "End previous overlay animation from the video. Without AnimationEnd, the overlay object will keep the state of previous animation until the end of the video.",
      "properties": {
        "startTimeOffset": {
          "description": "The time to end overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "AnimationEnd"
    }
  },
  "rootUrl": "https://transcoder.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "title": "Transcoder API",
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobTemplates": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a job template in the specified region.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`"
                    },
                    "jobTemplateId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`."
                    }
                  },
                  "path": "v1beta1/{+parent}/jobTemplates",
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "JobTemplate"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$"
                    }
                  },
                  "description": "Returns the job template data.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists job templates in the specified region.",
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "path": "v1beta1/{+parent}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "transcoder.projects.locations.jobTemplates.list"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Deletes a job template.",
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "jobs": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Job"
                  },
                  "path": "v1beta1/{+parent}/jobs",
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "id": "transcoder.projects.locations.jobs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Creates a job in the specified region.",
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string"
                    }
                  },
                  "id": "transcoder.projects.locations.jobs.list",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "path": "v1beta1/{+parent}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists jobs in the specified region."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "transcoder.projects.locations.jobs.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a job."
                },
                "get": {
                  "response": {
                    "$ref": "Job"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Returns the job data.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "transcoder.projects.locations.jobs.get"
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "transcoder:v1beta1",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "description": "This API converts video files into formats suitable for consumer distribution. ",
  "revision": "20201209",
  "canonicalName": "Transcoder",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}
