{
  "rootUrl": "https://transcoder.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "title": "Transcoder API",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "batchPath": "batch",
  "id": "transcoder:v1beta1",
  "protocol": "rest",
  "name": "transcoder",
  "version": "v1beta1",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "revision": "20210301",
  "description": "This API converts video files into formats suitable for consumer distribution. ",
  "servicePath": "",
  "schemas": {
    "Color": {
      "description": "Color preprocessing configuration.",
      "id": "Color",
      "type": "object",
      "properties": {
        "saturation": {
          "type": "number",
          "format": "double",
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0."
        },
        "brightness": {
          "format": "double",
          "type": "number",
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0."
        },
        "contrast": {
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ListJobTemplatesResponse": {
      "id": "ListJobTemplatesResponse",
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        },
        "jobTemplates": {
          "description": "List of job templates in the specified region.",
          "items": {
            "$ref": "JobTemplate"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SegmentSettings": {
      "type": "object",
      "description": "Segment settings for `\"ts\"`, `\"fmp4\"` and `\"vtt\"`.",
      "properties": {
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        },
        "segmentDuration": {
          "description": "Duration of the segments in seconds. The default is `\"6.0s\"`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "SegmentSettings"
    },
    "MpegCommonEncryption": {
      "id": "MpegCommonEncryption",
      "type": "object",
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
      "properties": {
        "scheme": {
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - 'cenc' - 'cbcs'",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "Required. 128 bit Key ID represented as lowercase hexadecimal digits for use with common encryption."
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "[Output only] API version used to start the operation.",
          "type": "string"
        },
        "target": {
          "description": "[Output only] Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "[Output only] Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "description": "[Output only] The time the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "statusDetail": {
          "description": "[Output only] Human-readable status of the operation, if any.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "[Output only] Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "[Output only] The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "AudioChannelInput": {
      "properties": {
        "gainDb": {
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "key": {
          "description": "Required. The `Input.key` that identifies the input file.",
          "type": "string"
        },
        "channel": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The zero-based index of the channel in the input file."
        },
        "track": {
          "type": "integer",
          "description": "Required. The zero-based index of the track in the input file.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Identifies which input file, track, and channel should be used.",
      "id": "AudioChannelInput"
    },
    "EditAtom": {
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this atom. Must be specified when using advanced mapping."
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "type": "string"
        },
        "inputs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of `Input.key`s identifying files that should be used in this atom. The listed `inputs` must have the same timeline."
        }
      },
      "type": "object",
      "id": "EditAtom",
      "description": "Edit atom."
    },
    "TextAtom": {
      "id": "TextAtom",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. The `EditAtom.key` that references atom with text inputs in the `Job.edit_list`.",
          "type": "string"
        },
        "inputs": {
          "type": "array",
          "description": "List of `Job.inputs` that should be embedded in this atom. Only one input is supported.",
          "items": {
            "$ref": "TextInput"
          }
        }
      },
      "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`."
    },
    "AdBreak": {
      "type": "object",
      "description": "Ad break.",
      "properties": {
        "startTimeOffset": {
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "AdBreak"
    },
    "JobTemplate": {
      "type": "object",
      "id": "JobTemplate",
      "properties": {
        "name": {
          "description": "The resource name of the job template. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
          "type": "string"
        },
        "config": {
          "description": "The configuration for this template.",
          "$ref": "JobConfig"
        }
      },
      "description": "Transcoding job template resource."
    },
    "AudioStream": {
      "type": "object",
      "description": "Audio stream resource.",
      "id": "AudioStream",
      "properties": {
        "channelCount": {
          "type": "integer",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2.",
          "format": "int32"
        },
        "bitrateBps": {
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "mapping": {
          "items": {
            "$ref": "AudioAtom"
          },
          "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`.",
          "type": "array"
        },
        "sampleRateHertz": {
          "type": "integer",
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz.",
          "format": "int32"
        },
        "channelLayout": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - 'fl' - Front left channel - 'fr' - Front right channel - 'sl' - Side left channel - 'sr' - Side right channel - 'fc' - Front center channel - 'lfe' - Low frequency"
        },
        "codec": {
          "description": "The codec for this audio stream. The default is `\"aac\"`. Supported audio codecs: - 'aac' - 'aac-he' - 'aac-he-v2' - 'mp3' - 'ac3' - 'eac3'",
          "type": "string"
        }
      }
    },
    "AudioChannel": {
      "type": "object",
      "properties": {
        "inputs": {
          "description": "List of `Job.inputs` for this audio channel.",
          "items": {
            "$ref": "AudioChannelInput"
          },
          "type": "array"
        }
      },
      "id": "AudioChannel",
      "description": "The audio channel."
    },
    "Progress": {
      "description": "Estimated fractional progress for each step, from `0` to `1`.",
      "type": "object",
      "properties": {
        "notified": {
          "format": "double",
          "description": "Estimated fractional progress for `notifying` step.",
          "type": "number"
        },
        "encoded": {
          "description": "Estimated fractional progress for `encoding` step.",
          "type": "number",
          "format": "double"
        },
        "analyzed": {
          "description": "Estimated fractional progress for `analyzing` step.",
          "type": "number",
          "format": "double"
        },
        "uploaded": {
          "description": "Estimated fractional progress for `uploading` step.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "Progress"
    },
    "SpriteSheet": {
      "description": "Sprite sheet configuration.",
      "properties": {
        "startTimeOffset": {
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        },
        "spriteHeightPixels": {
          "description": "Required. The height of sprite in pixels. Must be an even integer.",
          "type": "integer",
          "format": "int32"
        },
        "quality": {
          "format": "int32",
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio.",
          "type": "integer"
        },
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `\"sprite_sheet0000000123.jpeg\"`.",
          "type": "string"
        },
        "endTimeOffset": {
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "format": "google-duration",
          "type": "string"
        },
        "spriteWidthPixels": {
          "description": "Required. The width of sprite in pixels. Must be an even integer.",
          "type": "integer",
          "format": "int32"
        },
        "rowCount": {
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit.",
          "format": "int32",
          "type": "integer"
        },
        "interval": {
          "type": "string",
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds.",
          "format": "google-duration"
        },
        "totalCount": {
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100.",
          "type": "integer",
          "format": "int32"
        },
        "columnCount": {
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit.",
          "format": "int32",
          "type": "integer"
        },
        "format": {
          "description": "Format type. The default is `\"jpeg\"`. Supported formats: - 'jpeg'",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SpriteSheet"
    },
    "FailureDetail": {
      "properties": {
        "description": {
          "description": "A description of the failure.",
          "type": "string"
        }
      },
      "id": "FailureDetail",
      "description": "Additional information about the reasons for the failure.",
      "type": "object"
    },
    "Manifest": {
      "description": "Manifest configuration.",
      "type": "object",
      "properties": {
        "muxStreams": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of user given `MuxStream.key`s that should appear in this manifest. When `Manifest.type` is `HLS`, a media manifest with name `MuxStream.key` and `.m3u8` extension is generated for each element of the `Manifest.mux_streams`.",
          "type": "array"
        },
        "type": {
          "description": "Required. Type of the manifest, can be \"HLS\" or \"DASH\".",
          "type": "string",
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create `\"HLS\"` manifest. The corresponding file extension is `\".m3u8\"`.",
            "Create `\"DASH\"` manifest. The corresponding file extension is `\".mpd\"`."
          ]
        },
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is `\"manifest\"` with the extension suffix corresponding to the `Manifest.type`."
        }
      },
      "id": "Manifest"
    },
    "Denoise": {
      "description": "Denoise preprocessing configuration.",
      "type": "object",
      "id": "Denoise",
      "properties": {
        "tune": {
          "description": "Set the denoiser mode. The default is `\"standard\"`. Supported denoiser modes: - 'standard' - 'grain'",
          "type": "string"
        },
        "strength": {
          "format": "double",
          "type": "number",
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0."
        }
      }
    },
    "OriginUri": {
      "type": "object",
      "id": "OriginUri",
      "properties": {
        "hls": {
          "description": "HLS manifest URI per https://tools.ietf.org/html/rfc8216#section-4.3.4. If multiple HLS manifests are created, only the first one is listed.",
          "type": "string"
        },
        "dash": {
          "type": "string",
          "description": "Dash manifest URI. If multiple Dash manifests are created, only the first one is listed."
        }
      },
      "description": "The origin URI."
    },
    "PubsubDestination": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`."
        }
      },
      "description": "A Pub/Sub destination.",
      "id": "PubsubDestination",
      "type": "object"
    },
    "ListJobsResponse": {
      "type": "object",
      "id": "ListJobsResponse",
      "description": "Response message for `TranscoderService.ListJobs`.",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "List of jobs in the specified region."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        }
      }
    },
    "Aes128Encryption": {
      "type": "object",
      "id": "Aes128Encryption",
      "description": "Configuration for AES-128 encryption.",
      "properties": {
        "keyUri": {
          "description": "Required. URI of the key delivery service. This URI is inserted into the M3U8 header.",
          "type": "string"
        }
      }
    },
    "AnimationStatic": {
      "id": "AnimationStatic",
      "description": "Display static overlay object.",
      "type": "object",
      "properties": {
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        },
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The time to start displaying the overlay object, in seconds. Default: 0"
        }
      }
    },
    "Pad": {
      "id": "Pad",
      "properties": {
        "topPixels": {
          "format": "int32",
          "description": "The number of pixels to add to the top. The default is 0.",
          "type": "integer"
        },
        "leftPixels": {
          "description": "The number of pixels to add to the left. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "rightPixels": {
          "description": "The number of pixels to add to the right. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "bottomPixels": {
          "type": "integer",
          "description": "The number of pixels to add to the bottom. The default is 0.",
          "format": "int32"
        }
      },
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution.",
      "type": "object"
    },
    "ElementaryStream": {
      "type": "object",
      "id": "ElementaryStream",
      "properties": {
        "audioStream": {
          "description": "Encoding of an audio stream.",
          "$ref": "AudioStream"
        },
        "textStream": {
          "description": "Encoding of a text stream. For example, closed captions or subtitles.",
          "$ref": "TextStream"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this elementary stream."
        },
        "videoStream": {
          "$ref": "VideoStream",
          "description": "Encoding of a video stream."
        }
      },
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "Encryption": {
      "properties": {
        "iv": {
          "description": "Required. 128 bit Initialization Vector (IV) represented as lowercase hexadecimal digits.",
          "type": "string"
        },
        "sampleAes": {
          "$ref": "SampleAesEncryption",
          "description": "Configuration for SAMPLE-AES encryption."
        },
        "mpegCenc": {
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
          "$ref": "MpegCommonEncryption"
        },
        "aes128": {
          "description": "Configuration for AES-128 encryption.",
          "$ref": "Aes128Encryption"
        },
        "key": {
          "description": "Required. 128 bit encryption key represented as lowercase hexadecimal digits.",
          "type": "string"
        }
      },
      "id": "Encryption",
      "description": "Encryption settings.",
      "type": "object"
    },
    "NormalizedCoordinate": {
      "id": "NormalizedCoordinate",
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`",
      "type": "object",
      "properties": {
        "y": {
          "type": "number",
          "format": "double",
          "description": "Normalized y coordinate."
        },
        "x": {
          "type": "number",
          "description": "Normalized x coordinate.",
          "format": "double"
        }
      }
    },
    "PreprocessingConfig": {
      "type": "object",
      "id": "PreprocessingConfig",
      "properties": {
        "denoise": {
          "description": "Denoise preprocessing configuration.",
          "$ref": "Denoise"
        },
        "audio": {
          "description": "Audio preprocessing configuration.",
          "$ref": "Audio"
        },
        "deblock": {
          "$ref": "Deblock",
          "description": "Deblock preprocessing configuration."
        },
        "crop": {
          "$ref": "Crop",
          "description": "Specify the video cropping configuration."
        },
        "pad": {
          "description": "Specify the video pad filter configuration.",
          "$ref": "Pad"
        },
        "color": {
          "$ref": "Color",
          "description": "Color preprocessing configuration."
        }
      },
      "description": "Preprocessing configurations."
    },
    "AnimationFade": {
      "description": "Display overlay object with fade animation.",
      "type": "object",
      "id": "AnimationFade",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "The time to start the fade animation, in seconds. Default: 0"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "type": "string"
        },
        "fadeType": {
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ]
        },
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        }
      }
    },
    "JobConfig": {
      "properties": {
        "adBreaks": {
          "type": "array",
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "items": {
            "$ref": "AdBreak"
          }
        },
        "editList": {
          "items": {
            "$ref": "EditAtom"
          },
          "description": "List of `Edit atom`s. Defines the ultimate timeline of the resulting file or manifest.",
          "type": "array"
        },
        "muxStreams": {
          "items": {
            "$ref": "MuxStream"
          },
          "description": "List of multiplexing settings for output streams.",
          "type": "array"
        },
        "overlays": {
          "items": {
            "$ref": "Overlay"
          },
          "description": "List of overlays on the output video, in descending Z-order.",
          "type": "array"
        },
        "output": {
          "$ref": "Output",
          "description": "Output configuration."
        },
        "inputs": {
          "type": "array",
          "description": "List of input assets stored in Cloud Storage.",
          "items": {
            "$ref": "Input"
          }
        },
        "manifests": {
          "items": {
            "$ref": "Manifest"
          },
          "type": "array",
          "description": "List of output manifests."
        },
        "spriteSheets": {
          "items": {
            "$ref": "SpriteSheet"
          },
          "type": "array",
          "description": "List of output sprite sheets."
        },
        "elementaryStreams": {
          "items": {
            "$ref": "ElementaryStream"
          },
          "type": "array",
          "description": "List of elementary streams."
        },
        "pubsubDestination": {
          "$ref": "PubsubDestination",
          "description": "Destination on Pub/Sub."
        }
      },
      "type": "object",
      "description": "Job configuration",
      "id": "JobConfig"
    },
    "Crop": {
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "properties": {
        "rightPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the right. The default is 0.",
          "type": "integer"
        },
        "leftPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to crop from the left. The default is 0."
        },
        "bottomPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "type": "integer"
        },
        "topPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to crop from the top. The default is 0."
        }
      },
      "id": "Crop",
      "type": "object"
    },
    "Image": {
      "properties": {
        "uri": {
          "description": "Required. URI of the JPEG image in Cloud Storage. For example, `gs://bucket/inputs/image.jpeg`. JPEG is the only supported image type.",
          "type": "string"
        },
        "resolution": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`."
        },
        "alpha": {
          "description": "Target image opacity. Valid values: `1.0` (solid, default) to `0.0` (transparent).",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Image",
      "description": "Overlaid jpeg image."
    },
    "TextInput": {
      "properties": {
        "track": {
          "format": "int32",
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer"
        },
        "key": {
          "type": "string",
          "description": "Required. The `Input.key` that identifies the input file."
        }
      },
      "type": "object",
      "description": "Identifies which input file and track should be used.",
      "id": "TextInput"
    },
    "AnimationEnd": {
      "properties": {
        "startTimeOffset": {
          "description": "The time to end overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "AnimationEnd",
      "description": "End previous overlay animation from the video. Without AnimationEnd, the overlay object will keep the state of previous animation until the end of the video.",
      "type": "object"
    },
    "Deblock": {
      "description": "Deblock preprocessing configuration.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable deblocker. The default is `false`.",
          "type": "boolean"
        },
        "strength": {
          "type": "number",
          "format": "double",
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0."
        }
      },
      "id": "Deblock"
    },
    "Audio": {
      "id": "Audio",
      "description": "Audio preprocessing configuration.",
      "properties": {
        "highBoost": {
          "description": "Enable boosting high frequency components. The default is `false`.",
          "type": "boolean"
        },
        "lowBoost": {
          "description": "Enable boosting low frequency components. The default is `false`.",
          "type": "boolean"
        },
        "lufs": {
          "format": "double",
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization",
          "type": "number"
        }
      },
      "type": "object"
    },
    "MuxStream": {
      "description": "Multiplexing settings for output stream.",
      "type": "object",
      "id": "MuxStream",
      "properties": {
        "encryption": {
          "description": "Encryption settings.",
          "$ref": "Encryption"
        },
        "fileName": {
          "description": "The name of the generated file. The default is `MuxStream.key` with the extension suffix corresponding to the `MuxStream.container`. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `\"mux_stream0000000123.ts\"`.",
          "type": "string"
        },
        "elementaryStreams": {
          "description": "List of `ElementaryStream.key`s multiplexed in this stream.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "segmentSettings": {
          "description": "Segment settings for `\"ts\"`, `\"fmp4\"` and `\"vtt\"`.",
          "$ref": "SegmentSettings"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this multiplexed stream. HLS media manifests will be named `MuxStream.key` with the `\".m3u8\"` extension suffix."
        },
        "container": {
          "type": "string",
          "description": "The container format. The default is `\"mp4\"` Supported container formats: - 'ts' - 'fmp4'- the corresponding file extension is `\".m4s\"` - 'mp4' - 'vtt'"
        }
      }
    },
    "Job": {
      "description": "Transcoding job resource.",
      "id": "Job",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Specify the priority of the job. Enter a value between 0 and 100, where 0 is the lowest priority and 100 is the highest priority. The default is 0."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the job was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this job."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job. Format: `projects/{project}/locations/{location}/jobs/{job}`"
        },
        "outputUri": {
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`.",
          "type": "string"
        },
        "failureDetails": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of failure details. This property may contain additional information about the failure when `failure_reason` is present. *Note*: This feature is not yet available.",
          "items": {
            "$ref": "FailureDetail"
          }
        },
        "originUri": {
          "$ref": "OriginUri",
          "readOnly": true,
          "description": "Output only. The origin URI. *Note*: This feature is not yet available."
        },
        "templateId": {
          "type": "string",
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`. Preset Transcoder templates: - `preset/{preset_id}` - User defined JobTemplate: `{job_template_id}`"
        },
        "inputUri": {
          "type": "string",
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`)."
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time the transcoding started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "progress": {
          "description": "Output only. Estimated fractional progress, from `0` to `1` for each step. *Note*: This feature is not yet available.",
          "$ref": "Progress",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the transcoding finished."
        },
        "ttlAfterCompletionDays": {
          "type": "integer",
          "format": "int32",
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30."
        },
        "failureReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A description of the reason for the failure. This property is always present when `state` is `FAILED`."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see `failure_reason` and `failure_details`"
          ],
          "description": "Output only. The current state of the job.",
          "type": "string",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      }
    },
    "VideoStream": {
      "id": "VideoStream",
      "description": "Video stream resource.",
      "type": "object",
      "properties": {
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "allowOpenGop": {
          "type": "boolean",
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
        },
        "codec": {
          "type": "string",
          "description": "Codec type. The following codecs are supported: * `h264` (default) * `h265` * `vp9`"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are FFmpeg-compatible. Note that certain values for this field may cause the transcoder to override other fields you set in the `VideoStream` message.",
          "type": "string"
        },
        "bitrateBps": {
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. Must be between 1 and 1,000,000,000.",
          "type": "integer"
        },
        "preset": {
          "type": "string",
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are FFmpeg-compatible. Note that certain values for this field may cause the transcoder to override other fields you set in the `VideoStream` message."
        },
        "vbvFullnessBits": {
          "type": "integer",
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of `VideoStream.vbv_size_bits`."
        },
        "crfLevel": {
          "format": "int32",
          "type": "integer",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21."
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used.",
          "type": "integer",
          "format": "int32"
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are FFmpeg-compatible. Note that certain values for this field may cause the transcoder to override other fields you set in the `VideoStream` message.",
          "type": "string"
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the `rate_control_mode`. The default is `\"vbr\"`. Supported rate control modes: - 'vbr' - variable bitrate - 'crf' - constant rate factor"
        },
        "bFrameCount": {
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than `VideoStream.gop_frame_count` if set. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "entropyCoder": {
          "description": "The entropy coder to use. The default is `\"cabac\"`. Supported entropy coders: - 'cavlc' - 'cabac'",
          "type": "string"
        },
        "heightPixels": {
          "type": "integer",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used.",
          "format": "int32"
        },
        "frameRate": {
          "type": "number",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120. Will default to the input frame rate if larger than the input frame rate. The API will generate an output FPS that is divisible by the input FPS, and smaller or equal to the target FPS. The following table shows the computed video FPS given the target FPS (in parenthesis) and input FPS (in the first column): ``` | | (30) | (60) | (25) | (50) | |--------|--------|--------|------|------| | 240 | Fail | Fail | Fail | Fail | | 120 | 30 | 60 | 20 | 30 | | 100 | 25 | 50 | 20 | 30 | | 50 | 25 | 50 | 20 | 30 | | 60 | 30 | 60 | 20 | 30 | | 59.94 | 29.97 | 59.94 | 20 | 30 | | 48 | 24 | 48 | 20 | 30 | | 30 | 30 | 30 | 20 | 30 | | 25 | 25 | 25 | 20 | 30 | | 24 | 24 | 24 | 20 | 30 | | 23.976 | 23.976 | 23.976 | 20 | 30 | | 15 | 15 | 15 | 20 | 30 | | 12 | 12 | 12 | 20 | 30 | | 10 | 10 | 10 | 20 | 30 | ```",
          "format": "double"
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `\"yuv420p\"`. Supported pixel formats: - 'yuv420p' pixel format. - 'yuv422p' pixel format. - 'yuv444p' pixel format. - 'yuv420p10' 10-bit HDR pixel format. - 'yuv422p10' 10-bit HDR pixel format. - 'yuv444p10' 10-bit HDR pixel format. - 'yuv420p12' 12-bit HDR pixel format. - 'yuv422p12' 12-bit HDR pixel format. - 'yuv444p12' 12-bit HDR pixel format."
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "gopFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero."
        },
        "enableTwoPass": {
          "type": "boolean",
          "description": "Use two-pass encoding strategy to achieve better video quality. `VideoStream.rate_control_mode` must be `\"vbr\"`. The default is `false`."
        },
        "vbvSizeBits": {
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "type": "integer",
          "format": "int32"
        },
        "gopDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Select the GOP size based on the specified duration. The default is `\"3s\"`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`."
        }
      }
    },
    "AudioAtom": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. The `EditAtom.key` that references the atom with audio inputs in the `Job.edit_list`.",
          "type": "string"
        },
        "channels": {
          "description": "List of `Channel`s for this audio stream. for in-depth explanation.",
          "items": {
            "$ref": "AudioChannel"
          },
          "type": "array"
        }
      },
      "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`.",
      "id": "AudioAtom"
    },
    "SampleAesEncryption": {
      "type": "object",
      "id": "SampleAesEncryption",
      "description": "Configuration for SAMPLE-AES encryption.",
      "properties": {
        "keyUri": {
          "description": "Required. URI of the key delivery service. This URI is inserted into the M3U8 header.",
          "type": "string"
        }
      }
    },
    "Animation": {
      "type": "object",
      "description": "Animation types.",
      "id": "Animation",
      "properties": {
        "animationStatic": {
          "description": "Display static overlay object.",
          "$ref": "AnimationStatic"
        },
        "animationFade": {
          "description": "Display overlay object with fade animation.",
          "$ref": "AnimationFade"
        },
        "animationEnd": {
          "$ref": "AnimationEnd",
          "description": "End previous animation."
        }
      }
    },
    "Input": {
      "id": "Input",
      "type": "object",
      "properties": {
        "preprocessingConfig": {
          "description": "Preprocessing configurations.",
          "$ref": "PreprocessingConfig"
        },
        "key": {
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists.",
          "type": "string"
        },
        "uri": {
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value will be populated from `Job.input_uri`.",
          "type": "string"
        }
      },
      "description": "Input asset."
    },
    "TextStream": {
      "description": "Encoding of a text stream. For example, closed captions or subtitles.",
      "id": "TextStream",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code, such as `\"en-US\"` or `\"sr-Latn\"`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "codec": {
          "description": "The codec for this text stream. The default is `\"webvtt\"`. Supported text codecs: - 'srt' - 'ttml' - 'cea608' - 'cea708' - 'webvtt'",
          "type": "string"
        },
        "mapping": {
          "items": {
            "$ref": "TextAtom"
          },
          "type": "array",
          "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`."
        }
      },
      "type": "object"
    },
    "Output": {
      "properties": {
        "uri": {
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. If empty the value is populated from `Job.output_uri`.",
          "type": "string"
        }
      },
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "type": "object",
      "id": "Output"
    },
    "Overlay": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "Image overlay."
        },
        "animations": {
          "items": {
            "$ref": "Animation"
          },
          "type": "array",
          "description": "List of Animations. The list should be chronological, without any time overlap."
        }
      },
      "description": "Overlay configuration.",
      "id": "Overlay"
    }
  },
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "Transcoder",
  "ownerName": "Google",
  "baseUrl": "https://transcoder.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobTemplates": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "description": "Lists job templates in the specified region.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/jobTemplates"
                },
                "delete": {
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a job template.",
                  "path": "v1beta1/{+name}"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the job template data.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
                    }
                  },
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "response": {
                    "$ref": "JobTemplate"
                  }
                },
                "create": {
                  "path": "v1beta1/{+parent}/jobTemplates",
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "jobTemplateId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "description": "Creates a job template in the specified region.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "transcoder.projects.locations.jobTemplates.create"
                }
              }
            },
            "jobs": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "path": "v1beta1/{+parent}/jobs",
                  "httpMethod": "GET",
                  "id": "transcoder.projects.locations.jobs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists jobs in the specified region.",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    }
                  }
                },
                "create": {
                  "description": "Creates a job in the specified region.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1beta1/{+parent}/jobs",
                  "id": "transcoder.projects.locations.jobs.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "transcoder.projects.locations.jobs.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Deletes a job."
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "path": "v1beta1/{+name}",
                  "description": "Returns the job data.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "httpMethod": "GET",
                  "id": "transcoder.projects.locations.jobs.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
