{
  "kind": "discovery#restDescription",
  "basePath": "",
  "version": "v3",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "title": "YouTube Data API v3",
  "canonicalName": "YouTube",
  "resources": {
    "thumbnails": {
      "methods": {
        "set": {
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "parameters": {
            "videoId": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/thumbnails/set",
          "path": "youtube/v3/thumbnails/set",
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "parameterOrder": [
            "videoId"
          ],
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/thumbnails/set"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/thumbnails/set",
                "multipart": true
              }
            },
            "maxSize": "2097152"
          },
          "id": "youtube.thumbnails.set",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.liveChatBans.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveChat/bans",
          "description": "Deletes a chat ban.",
          "path": "youtube/v3/liveChat/bans"
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveChat/bans",
          "response": {
            "$ref": "LiveChatBan"
          },
          "request": {
            "$ref": "LiveChatBan"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "type": "string",
              "repeated": true,
              "required": true
            }
          },
          "path": "youtube/v3/liveChat/bans",
          "id": "youtube.liveChatBans.insert",
          "description": "Inserts a new resource into this collection."
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "AbuseReport"
          },
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "AbuseReport"
          },
          "httpMethod": "POST",
          "id": "youtube.abuseReports.insert",
          "flatPath": "youtube/v3/abuseReports",
          "path": "youtube/v3/abuseReports",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "id": "youtube.videoAbuseReportReasons.list",
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet."
            },
            "hl": {
              "default": "en-US",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "path": "youtube/v3/videoAbuseReportReasons",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/videoAbuseReportReasons"
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "hl": {
              "location": "query",
              "type": "string",
              "default": "en_US"
            },
            "part": {
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet.",
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/i18nLanguages",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/i18nLanguages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.i18nLanguages.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "I18nLanguageListResponse"
          }
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "path": "youtube/v3/search",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/search",
          "id": "youtube.search.list",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of search resources",
          "parameters": {
            "topicId": {
              "type": "string",
              "location": "query",
              "description": "Restrict results to a particular topic."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "type": "integer",
              "maximum": "50",
              "minimum": "0",
              "format": "uint32",
              "default": "5"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "location": {
              "location": "query",
              "description": "Filter on location of the video",
              "type": "string"
            },
            "videoDimension": {
              "enumDescriptions": [
                "",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "any",
                "2d",
                "3d"
              ],
              "description": "Filter on 3d videos."
            },
            "relatedToVideoId": {
              "description": "Search related to a resource.",
              "location": "query",
              "type": "string"
            },
            "order": {
              "description": "Sort order of the results.",
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ],
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ],
              "default": "relevance",
              "type": "string",
              "location": "query"
            },
            "relevanceLanguage": {
              "location": "query",
              "description": "Return results relevant to this language.",
              "type": "string"
            },
            "locationRadius": {
              "type": "string",
              "location": "query",
              "description": "Filter on distance from the location (specified above)."
            },
            "channelId": {
              "type": "string",
              "location": "query",
              "description": "Filter on resources belonging to this channelId."
            },
            "part": {
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet."
            },
            "forDeveloper": {
              "type": "boolean",
              "location": "query",
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user."
            },
            "regionCode": {
              "description": "Display the content as seen by viewers in this country.",
              "type": "string",
              "location": "query"
            },
            "forContentOwner": {
              "description": "Search owned by a content owner.",
              "location": "query",
              "type": "boolean"
            },
            "videoType": {
              "description": "Filter on videos of a specific type.",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ],
              "type": "string",
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ],
              "location": "query"
            },
            "videoCaption": {
              "type": "string",
              "description": "Filter on the presence of captions on the videos.",
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ],
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ],
              "location": "query"
            },
            "safeSearch": {
              "description": "Indicates whether the search results should include restricted content as well as standard content.",
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "type": "string",
              "default": "moderate",
              "location": "query",
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ]
            },
            "videoEmbeddable": {
              "location": "query",
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ],
              "description": "Filter on embeddable videos.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ]
            },
            "channelType": {
              "location": "query",
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ],
              "description": "Add a filter on the channel search.",
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ],
              "type": "string"
            },
            "type": {
              "repeated": true,
              "default": "video,channel,playlist",
              "description": "Restrict results to a particular set of resource types from One Platform.",
              "type": "string",
              "location": "query"
            },
            "publishedAfter": {
              "description": "Filter on resources published after this date.",
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "q": {
              "location": "query",
              "description": "Textual search terms to match.",
              "type": "string"
            },
            "videoCategoryId": {
              "description": "Filter on videos in a specific category.",
              "type": "string",
              "location": "query"
            },
            "eventType": {
              "enumDescriptions": [
                "",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ],
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ],
              "location": "query",
              "type": "string",
              "description": "Filter on the livestream status of the videos."
            },
            "forMine": {
              "location": "query",
              "description": "Search for the private videos of the authenticated user.",
              "type": "boolean"
            },
            "videoDefinition": {
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ],
              "description": "Filter on the definition of the videos.",
              "type": "string",
              "enum": [
                "any",
                "standard",
                "high"
              ],
              "location": "query"
            },
            "videoDuration": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ],
              "location": "query",
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ],
              "description": "Filter on the duration of the videos."
            },
            "publishedBefore": {
              "type": "string",
              "description": "Filter on resources published before this date.",
              "location": "query",
              "format": "google-datetime"
            },
            "videoLicense": {
              "description": "Filter on the license of the videos.",
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ],
              "location": "query",
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ],
              "type": "string"
            },
            "videoSyndicated": {
              "description": "Filter on syndicated videos.",
              "location": "query",
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ],
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ],
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchListResponse"
          }
        }
      }
    },
    "videoCategories": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "VideoCategoryListResponse"
          },
          "id": "youtube.videoCategories.list",
          "path": "youtube/v3/videoCategories",
          "parameters": {
            "hl": {
              "default": "en-US",
              "location": "query",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "location": "query",
              "description": "Returns the video categories with the given IDs for Stubby or Apiary.",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet.",
              "type": "string"
            },
            "regionCode": {
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videoCategories"
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "path": "youtube/v3/membershipsLevels",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/membershipsLevels",
          "id": "youtube.membershipsLevels.list",
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "response": {
            "$ref": "MembershipsLevelListResponse"
          }
        }
      }
    },
    "liveStreams": {
      "methods": {
        "delete": {
          "path": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.delete",
          "description": "Deletes an existing stream for the authenticated user.",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/liveStreams",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "location": "query",
              "maximum": "50",
              "minimum": "0"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "id": {
              "type": "string",
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "location": "query",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.",
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            }
          },
          "id": "youtube.liveStreams.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "description": "Retrieve the list of streams associated with the given channel. --",
          "path": "youtube/v3/liveStreams",
          "flatPath": "youtube/v3/liveStreams"
        },
        "insert": {
          "id": "youtube.liveStreams.insert",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveStream"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveStreams",
          "path": "youtube/v3/liveStreams",
          "description": "Inserts a new stream for the authenticated user.",
          "request": {
            "$ref": "LiveStream"
          }
        },
        "update": {
          "request": {
            "$ref": "LiveStream"
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing stream for the authenticated user.",
          "httpMethod": "PUT",
          "id": "youtube.liveStreams.update",
          "flatPath": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "response": {
            "$ref": "LiveStream"
          },
          "path": "youtube/v3/liveStreams"
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "id": "youtube.channels.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ],
          "parameters": {
            "mySubscribers": {
              "description": "Return the channels subscribed to the authenticated user",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "type": "string",
              "repeated": true,
              "description": "Return the channels with the specified IDs.",
              "location": "query"
            },
            "managedByMe": {
              "location": "query",
              "description": "Return the channels managed by the authenticated user.",
              "type": "boolean"
            },
            "mine": {
              "type": "boolean",
              "location": "query",
              "description": "Return the ids of channels owned by the authenticated user."
            },
            "forUsername": {
              "type": "string",
              "location": "query",
              "description": "Return the channel associated with a YouTube username."
            },
            "categoryId": {
              "description": "Return the channels within the specified guide category ID.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "maximum": "50",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "default": "5",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/channels",
          "response": {
            "$ref": "ChannelListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/channels"
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Channel"
          },
          "httpMethod": "PUT",
          "id": "youtube.channels.update",
          "description": "Updates an existing resource.",
          "path": "youtube/v3/channels",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "The *onBehalfOfContentOwner* parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner."
            },
            "part": {
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.) Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.",
              "location": "query",
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "Channel"
          },
          "flatPath": "youtube/v3/channels"
        }
      }
    },
    "playlistItems": {
      "methods": {
        "update": {
          "response": {
            "$ref": "PlaylistItem"
          },
          "path": "youtube/v3/playlistItems",
          "httpMethod": "PUT",
          "description": "Updates an existing resource.",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.update",
          "flatPath": "youtube/v3/playlistItems",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "id": "youtube.playlistItems.insert",
          "flatPath": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItem"
          },
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistItems"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "default": "5",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "minimum": "0",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "id": {
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "videoId": {
              "type": "string",
              "location": "query",
              "description": "Return the playlist items associated with the given video ID."
            },
            "part": {
              "type": "string",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "location": "query"
            },
            "playlistId": {
              "location": "query",
              "type": "string",
              "description": "Return the playlist items within the given playlist."
            }
          },
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "flatPath": "youtube/v3/playlistItems",
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.list",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "path": "youtube/v3/activities",
          "id": "youtube.activities.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            },
            "publishedBefore": {
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "home": {
              "location": "query",
              "type": "boolean"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "required": true,
              "location": "query"
            },
            "channelId": {
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "maximum": "50",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0"
            },
            "publishedAfter": {
              "location": "query",
              "type": "string",
              "format": "google-datetime"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ActivityListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "youtube/v3/activities",
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "TestItem"
          },
          "description": "POST method.",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "path": "youtube/v3/tests",
          "flatPath": "youtube/v3/tests",
          "request": {
            "$ref": "TestItem"
          },
          "id": "youtube.tests.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "delete": {
          "parameters": {
            "linkingToken": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Delete the partner links with the given linking token."
            },
            "type": {
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "description": "Type of the link to be deleted.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "part": {
              "type": "string",
              "description": "Do not use. Required for compatibility.",
              "location": "query",
              "repeated": true
            }
          },
          "id": "youtube.thirdPartyLinks.delete",
          "description": "Deletes a resource.",
          "path": "youtube/v3/thirdPartyLinks",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "linkingToken",
            "type"
          ],
          "flatPath": "youtube/v3/thirdPartyLinks"
        },
        "insert": {
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.thirdPartyLinks.insert",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true
            }
          },
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/thirdPartyLinks"
        },
        "list": {
          "path": "youtube/v3/thirdPartyLinks",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "parameters": {
            "type": {
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "type": "string",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "description": "Get a third party link of the given type.",
              "location": "query"
            },
            "linkingToken": {
              "type": "string",
              "description": "Get a third party link with the given linking token.",
              "location": "query"
            },
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "id": "youtube.thirdPartyLinks.list"
        },
        "update": {
          "description": "Updates an existing resource.",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet."
            }
          },
          "path": "youtube/v3/thirdPartyLinks",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.update"
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "parameters": {
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "maximum": "1000",
              "minimum": "0",
              "type": "integer"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "required": true
            },
            "mode": {
              "description": "Parameter that specifies which channel members to return.",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ],
              "default": "all_current",
              "location": "query",
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "type": "string"
            },
            "filterByMemberChannelId": {
              "type": "string",
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.",
              "location": "query"
            },
            "hasAccessToLevel": {
              "location": "query",
              "description": "Filter members in the results set to the ones that have access to a level.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "id": "youtube.members.list",
          "flatPath": "youtube/v3/members",
          "path": "youtube/v3/members",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "MemberListResponse"
          }
        }
      }
    },
    "videos": {
      "methods": {
        "reportAbuse": {
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videos/reportAbuse",
          "id": "youtube.videos.reportAbuse",
          "flatPath": "youtube/v3/videos/reportAbuse",
          "httpMethod": "POST",
          "description": "Report abuse for a video.",
          "parameterOrder": []
        },
        "getRating": {
          "parameters": {
            "id": {
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos/getRating",
          "path": "youtube/v3/videos/getRating",
          "httpMethod": "GET",
          "parameterOrder": [
            "id"
          ],
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "id": "youtube.videos.getRating",
          "response": {
            "$ref": "VideoRatingListResponse"
          }
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videos",
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.delete",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "httpMethod": "DELETE"
        },
        "insert": {
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/videos"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/videos"
              }
            },
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "maxSize": "137438953472"
          },
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Video"
          },
          "flatPath": "youtube/v3/videos",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "notifySubscribers": {
              "default": "true",
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled.",
              "type": "boolean",
              "location": "query"
            },
            "autoLevels": {
              "description": "Should auto-levels be applied to the upload.",
              "type": "boolean",
              "location": "query"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "repeated": true,
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "stabilize": {
              "description": "Should stabilize be applied to the upload.",
              "type": "boolean",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Video"
          },
          "path": "youtube/v3/videos",
          "id": "youtube.videos.insert",
          "httpMethod": "POST"
        },
        "rate": {
          "httpMethod": "POST",
          "flatPath": "youtube/v3/videos/rate",
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "parameterOrder": [
            "id",
            "rating"
          ],
          "path": "youtube/v3/videos/rate",
          "id": "youtube.videos.rate",
          "parameters": {
            "rating": {
              "location": "query",
              "type": "string",
              "required": true,
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "enum": [
                "none",
                "like",
                "dislike"
              ]
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "VideoListResponse"
          },
          "path": "youtube/v3/videos",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "videoCategoryId": {
              "description": "Use chart that is specific to the specified video category",
              "type": "string",
              "location": "query",
              "default": "0"
            },
            "chart": {
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "description": "Return the videos that are in the specified chart.",
              "location": "query",
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "type": "string"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string"
            },
            "maxHeight": {
              "maximum": "8192",
              "location": "query",
              "minimum": "72",
              "type": "integer",
              "format": "int32"
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "location": "query",
              "type": "string"
            },
            "locale": {
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "description": "Return videos with the given ids.",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "maximum": "50",
              "location": "query",
              "default": "5",
              "minimum": "1",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter."
            },
            "maxWidth": {
              "description": "Return the player with maximum height specified in",
              "format": "int32",
              "type": "integer",
              "minimum": "72",
              "location": "query",
              "maximum": "8192"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "location": "query"
            },
            "myRating": {
              "location": "query",
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE."
            },
            "regionCode": {
              "description": "Use a chart that is specific to the specified region",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.list",
          "httpMethod": "GET"
        },
        "update": {
          "response": {
            "$ref": "Video"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "Video"
          },
          "path": "youtube/v3/videos",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/videos",
          "description": "Updates an existing resource.",
          "id": "youtube.videos.update"
        }
      }
    },
    "watermarks": {
      "methods": {
        "set": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true,
          "path": "youtube/v3/watermarks/set",
          "description": "Allows upload of watermark image and setting it for a channel.",
          "id": "youtube.watermarks.set",
          "flatPath": "youtube/v3/watermarks/set",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "channelId": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "channelId"
          ],
          "request": {
            "$ref": "InvideoBranding"
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/watermarks/set"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/watermarks/set"
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "10485760"
          }
        },
        "unset": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "channelId": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "id": "youtube.watermarks.unset",
          "flatPath": "youtube/v3/watermarks/unset",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "channelId"
          ],
          "description": "Allows removal of channel watermark.",
          "path": "youtube/v3/watermarks/unset"
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.comments.delete",
          "path": "youtube/v3/comments"
        },
        "setModerationStatus": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/comments/setModerationStatus",
          "parameters": {
            "moderationStatus": {
              "type": "string",
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: MODERATION_STATUS_PUBLISHED, MODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED.",
              "required": true,
              "location": "query",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ]
            },
            "id": {
              "type": "string",
              "repeated": true,
              "required": true,
              "description": "Modifies the moderation status of the comments with the given IDs",
              "location": "query"
            },
            "banAuthor": {
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "description": "Sets the moderation status of one or more comments.",
          "httpMethod": "POST",
          "id": "youtube.comments.setModerationStatus",
          "flatPath": "youtube/v3/comments/setModerationStatus"
        },
        "update": {
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/comments",
          "flatPath": "youtube/v3/comments",
          "request": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing resource.",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.update"
        },
        "list": {
          "path": "youtube/v3/comments",
          "parameters": {
            "textFormat": {
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "description": "The requested text format for the returned comments.",
              "type": "string",
              "default": "html",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "location": "query"
            },
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include."
            },
            "parentId": {
              "location": "query",
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "maximum": "100",
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "default": "20",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "id": {
              "repeated": true,
              "description": "Returns the comments with the given IDs for One Platform.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "youtube.comments.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CommentListResponse"
          },
          "parameterOrder": [
            "part"
          ]
        },
        "markAsSpam": {
          "flatPath": "youtube/v3/comments/markAsSpam",
          "path": "youtube/v3/comments/markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.markAsSpam",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "httpMethod": "POST"
        },
        "insert": {
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "id": "youtube.comments.insert",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/comments",
          "httpMethod": "POST"
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "hl": {
              "location": "query",
              "default": "en_US",
              "type": "string"
            }
          },
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "youtube/v3/i18nRegions",
          "id": "youtube.i18nRegions.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/i18nRegions",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "delete": {
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
[...]
