{
  "servicePath": "",
  "canonicalName": "YouTube",
  "batchPath": "batch",
  "basePath": "",
  "version": "v3",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "discoveryVersion": "v1",
  "revision": "20201214",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/youtube/",
  "name": "youtube",
  "resources": {
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "httpMethod": "GET",
          "parameters": {
            "hl": {
              "location": "query",
              "type": "string",
              "default": "en_US"
            },
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.videoAbuseReportReasons.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/videoAbuseReportReasons"
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/members",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/members",
          "response": {
            "$ref": "MemberListResponse"
          },
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "parameters": {
            "filterByMemberChannelId": {
              "type": "string",
              "location": "query",
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "default": "5",
              "type": "integer",
              "location": "query"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "mode": {
              "description": "Parameter that specifies which channel members to return.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ],
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "default": "all_current",
              "type": "string"
            },
            "hasAccessToLevel": {
              "type": "string",
              "description": "Filter members in the results set to the ones that have access to a level.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            }
          },
          "id": "youtube.members.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ]
        }
      }
    },
    "subscriptions": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.subscriptions.list",
          "flatPath": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "mine": {
              "description": "Flag for returning the subscriptions of the authenticated user.",
              "type": "boolean",
              "location": "query"
            },
            "myRecentSubscribers": {
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "channelId": {
              "type": "string",
              "description": "Return the subscriptions of the given channel owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return the subscriptions with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "forChannelId": {
              "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to.",
              "type": "string",
              "location": "query"
            },
            "mySubscribers": {
              "type": "boolean",
              "location": "query",
              "description": "Return the subscribers of the given channel owner."
            },
            "maxResults": {
              "default": "5",
              "location": "query",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "location": "query",
              "required": true,
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "order": {
              "location": "query",
              "enumDescriptions": [
                "",
                "Sort by relevance.",
                "Sort by order of activity.",
                "Sort alphabetically."
              ],
              "description": "The order of the returned subscriptions",
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ],
              "default": "relevance",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "SubscriptionListResponse"
          },
          "path": "youtube/v3/subscriptions"
        },
        "insert": {
          "flatPath": "youtube/v3/subscriptions",
          "response": {
            "$ref": "Subscription"
          },
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "Subscription"
          },
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "location": "query",
              "required": true
            }
          },
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/subscriptions",
          "id": "youtube.subscriptions.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.subscriptions.delete",
          "flatPath": "youtube/v3/subscriptions",
          "path": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes a resource."
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "parameters": {
            "type": {
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "location": "query",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "description": "Get a third party link of the given type.",
              "type": "string"
            },
            "linkingToken": {
              "location": "query",
              "type": "string",
              "description": "Get a third party link with the given linking token."
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/thirdPartyLinks",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.list",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "id": "youtube.thirdPartyLinks.delete",
          "parameters": {
            "linkingToken": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Delete the partner links with the given linking token."
            },
            "type": {
              "description": "Type of the link to be deleted.",
              "type": "string",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "required": true
            },
            "part": {
              "location": "query",
              "description": "Do not use. Required for compatibility.",
              "type": "string",
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "path": "youtube/v3/thirdPartyLinks",
          "httpMethod": "DELETE",
          "description": "Deletes a resource.",
          "parameterOrder": [
            "linkingToken",
            "type"
          ]
        },
        "update": {
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "path": "youtube/v3/thirdPartyLinks",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "required": true,
              "location": "query"
            }
          },
          "id": "youtube.thirdPartyLinks.update"
        },
        "insert": {
          "id": "youtube.thirdPartyLinks.insert",
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/thirdPartyLinks",
          "path": "youtube/v3/thirdPartyLinks",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "location": "query",
              "required": true,
              "repeated": true
            }
          }
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/search",
          "id": "youtube.search.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of search resources",
          "response": {
            "$ref": "SearchListResponse"
          },
          "path": "youtube/v3/search",
          "parameters": {
            "regionCode": {
              "type": "string",
              "location": "query",
              "description": "Display the content as seen by viewers in this country."
            },
            "publishedAfter": {
              "description": "Filter on resources published after this date.",
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet.",
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "videoLicense": {
              "type": "string",
              "location": "query",
              "description": "Filter on the license of the videos.",
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ],
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ]
            },
            "type": {
              "default": "video,channel,playlist",
              "description": "Restrict results to a particular set of resource types from One Platform.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "locationRadius": {
              "location": "query",
              "description": "Filter on distance from the location (specified above).",
              "type": "string"
            },
            "forDeveloper": {
              "type": "boolean",
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "videoCaption": {
              "location": "query",
              "description": "Filter on the presence of captions on the videos.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ],
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ]
            },
            "videoDuration": {
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ],
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ],
              "description": "Filter on the duration of the videos.",
              "location": "query",
              "type": "string"
            },
            "channelType": {
              "description": "Add a filter on the channel search.",
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ],
              "type": "string",
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ],
              "location": "query"
            },
            "videoDimension": {
              "type": "string",
              "enum": [
                "any",
                "2d",
                "3d"
              ],
              "enumDescriptions": [
                "",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ],
              "location": "query",
              "description": "Filter on 3d videos."
            },
            "maxResults": {
              "format": "uint32",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "location": "query"
            },
            "safeSearch": {
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ],
              "type": "string",
              "default": "moderate",
              "description": "Indicates whether the search results should include restricted content as well as standard content.",
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "location": "query"
            },
            "relevanceLanguage": {
              "location": "query",
              "type": "string",
              "description": "Return results relevant to this language."
            },
            "location": {
              "type": "string",
              "description": "Filter on location of the video",
              "location": "query"
            },
            "q": {
              "description": "Textual search terms to match.",
              "location": "query",
              "type": "string"
            },
            "forContentOwner": {
              "description": "Search owned by a content owner.",
              "location": "query",
              "type": "boolean"
            },
            "videoDefinition": {
              "location": "query",
              "description": "Filter on the definition of the videos.",
              "type": "string",
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ],
              "enum": [
                "any",
                "standard",
                "high"
              ]
            },
            "videoEmbeddable": {
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ],
              "type": "string",
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ],
              "description": "Filter on embeddable videos.",
              "location": "query"
            },
            "relatedToVideoId": {
              "type": "string",
              "description": "Search related to a resource.",
              "location": "query"
            },
            "order": {
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ],
              "description": "Sort order of the results.",
              "default": "relevance",
              "type": "string",
              "location": "query",
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ]
            },
            "forMine": {
              "location": "query",
              "description": "Search for the private videos of the authenticated user.",
              "type": "boolean"
            },
            "channelId": {
              "location": "query",
              "description": "Filter on resources belonging to this channelId.",
              "type": "string"
            },
            "publishedBefore": {
              "type": "string",
              "location": "query",
              "description": "Filter on resources published before this date.",
              "format": "google-datetime"
            },
            "videoCategoryId": {
              "location": "query",
              "type": "string",
              "description": "Filter on videos in a specific category."
            },
            "topicId": {
              "location": "query",
              "type": "string",
              "description": "Restrict results to a particular topic."
            },
            "eventType": {
              "description": "Filter on the livestream status of the videos.",
              "type": "string",
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ],
              "enumDescriptions": [
                "",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ],
              "location": "query"
            },
            "videoSyndicated": {
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ],
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ],
              "description": "Filter on syndicated videos.",
              "type": "string",
              "location": "query"
            },
            "videoType": {
              "type": "string",
              "description": "Filter on videos of a specific type.",
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ]
            }
          }
        }
      }
    },
    "superChatEvents": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/superChatEvents",
          "path": "youtube/v3/superChatEvents",
          "httpMethod": "GET",
          "response": {
            "$ref": "SuperChatEventListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.superChatEvents.list",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Return rendered funding amounts in specified language."
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies the superChatEvent resource parts that the API response will include. Supported values are id and snippet."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "format": "uint32",
              "default": "5",
              "location": "query"
            }
          }
        }
      }
    },
    "channelSections": {
      "methods": {
        "delete": {
          "flatPath": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes a resource.",
          "id": "youtube.channelSections.delete",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/channelSections"
        },
        "insert": {
          "request": {
            "$ref": "ChannelSection"
          },
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/channelSections",
          "response": {
            "$ref": "ChannelSection"
          },
          "id": "youtube.channelSections.insert",
          "path": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "flatPath": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/channelSections",
          "id": "youtube.channelSections.list",
          "parameters": {
            "hl": {
              "location": "query",
              "description": "Return content in specified language",
              "type": "string"
            },
            "channelId": {
              "type": "string",
              "location": "query",
              "description": "Return the ChannelSections owned by the specified channel ID."
            },
            "mine": {
              "type": "boolean",
              "location": "query",
              "description": "Return the ChannelSections owned by the authenticated user."
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "id": {
              "repeated": true,
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "update": {
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "PUT",
          "id": "youtube.channelSections.update",
          "request": {
            "$ref": "ChannelSection"
          },
          "path": "youtube/v3/channelSections",
          "response": {
            "$ref": "ChannelSection"
          },
          "description": "Updates an existing resource.",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "path": "youtube/v3/i18nRegions",
          "id": "youtube.i18nRegions.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/i18nRegions",
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "parameters": {
            "hl": {
              "type": "string",
              "default": "en_US",
              "location": "query"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet."
            }
          }
        }
      }
    },
    "playlistItems": {
      "methods": {
        "update": {
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "response": {
            "$ref": "PlaylistItem"
          },
          "path": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "id": "youtube.playlistItems.update",
          "description": "Updates an existing resource."
        },
        "delete": {
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "description": "Deletes a resource.",
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.playlistItems.delete"
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.insert",
          "flatPath": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItem"
          },
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlistItems.list",
          "parameters": {
            "playlistId": {
              "type": "string",
              "location": "query",
              "description": "Return the playlist items within the given playlist."
            },
            "maxResults": {
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "type": "integer",
              "default": "5"
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "videoId": {
              "description": "Return the playlist items associated with the given video ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties."
            }
          },
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "flatPath": "youtube/v3/playlistItems",
          "httpMethod": "GET"
        }
      }
    },
    "commentThreads": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.commentThreads.update",
          "description": "Updates an existing resource.",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update."
            }
          },
          "path": "youtube/v3/commentThreads",
          "response": {
            "$ref": "CommentThread"
          },
          "request": {
            "$ref": "CommentThread"
          },
          "flatPath": "youtube/v3/commentThreads"
        },
        "list": {
          "flatPath": "youtube/v3/commentThreads",
          "httpMethod": "GET",
          "path": "youtube/v3/commentThreads",
          "id": "youtube.commentThreads.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "textFormat": {
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "location": "query",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ]
            },
            "searchTerms": {
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter.",
              "type": "string",
              "location": "query"
            },
            "allThreadsRelatedToChannelId": {
              "type": "string",
              "location": "query",
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well."
            },
            "videoId": {
              "location": "query",
              "description": "Returns the comment threads of the specified video.",
              "type": "string"
            },
            "channelId": {
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos).",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "20",
              "location": "query",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include."
            },
            "moderationStatus": {
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "location": "query",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "type": "string",
              "default": "published"
            },
            "id": {
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "order": {
              "default": "time",
              "location": "query",
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ],
              "enumDescriptions": [
                "",
                "Order by time.",
                "Order by relevance."
              ],
              "type": "string"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "CommentThreadListResponse"
          }
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/commentThreads",
          "request": {
            "$ref": "CommentThread"
          },
          "response": {
            "$ref": "CommentThread"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.commentThreads.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/commentThreads",
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "type": "string",
              "repeated": true
            }
          }
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "youtube.i18nLanguages.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "parameters": {
            "hl": {
              "default": "en_US",
              "location": "query",
              "type": "string"
            },
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet."
            }
          },
          "flatPath": "youtube/v3/i18nLanguages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/i18nLanguages"
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true,
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "httpMethod": "POST",
          "id": "youtube.thumbnails.set",
          "parameters": {
            "videoId": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/thumbnails/set",
                "multipart": true
              },
              "simple": {
                "path": "/upload/youtube/v3/thumbnails/set",
                "multipart": true
              }
            },
            "maxSize": "2097152"
          },
          "flatPath": "youtube/v3/thumbnails/set",
          "path": "youtube/v3/thumbnails/set",
          "parameterOrder": [
            "videoId"
          ]
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "response": {
            "$ref": "MembershipsLevelListResponse"
          },
          "parameters": {
            "part": {
              "required": true,
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          },
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.membershipsLevels.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/membershipsLevels",
          "path": "youtube/v3/membershipsLevels"
        }
      }
    },
    "sponsors": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/sponsors",
          "id": "youtube.sponsors.list",
          "httpMethod": "GET",
          "path": "youtube/v3/sponsors",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "filter": {
              "default": "newest",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return the most recent sponsors, from newest to oldest.",
                "Return all sponsors, from newest to oldest."
              ],
              "description": "Parameter that specifies which channel sponsors to return.",
              "enum": [
                "sponsorFilterUnknown",
                "newest",
                "all"
              ],
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the sponsor resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query",
              "repeated": true
            }
          },
          "response": {
            "$ref": "SponsorListResponse"
          },
          "description": "Retrieves a list of sponsors that match the request criteria for a channel."
        }
      }
    },
    "playlists": {
      "methods": {
        "update": {
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "Playlist"
          },
          "response": {
            "$ref": "Playlist"
          },
          "id": "youtube.playlists.update",
          "path": "youtube/v3/playlists",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlists",
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/playlists",
          "path": "youtube/v3/playlists",
          "id": "youtube.playlists.delete",
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlists.list",
          "parameters": {
            "hl": {
              "location": "query",
              "description": "Returen content in specified language",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "mine": {
              "type": "boolean",
              "location": "query",
              "description": "Return the playlists owned by the authenticated user."
            },
            "channelId": {
              "type": "string",
              "description": "Return the playlists owned by the specified channel ID.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32"
            },
            "id": {
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "youtube/v3/playlists",
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/playlists",
          "response": {
            "$ref": "PlaylistListResponse"
          }
        },
        "insert": {
          "path": "youtube/v3/playlists",
          "request": {
            "$ref": "Playlist"
          },
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/playlists",
          "id": "youtube.playlists.insert",
          "response": {
            "$ref": "Playlist"
          },
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true
            }
          },
          "id": "youtube.tests.insert",
          "path": "youtube/v3/tests",
          "flatPath": "youtube/v3/tests",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "TestItem"
          },
          "response": {
            "$ref": "TestItem"
          },
          "description": "POST method."
        }
      }
    },
    "watermarks": {
      "methods": {
        "unset": {
          "path": "youtube/v3/watermarks/unset",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/watermarks/unset",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "channelId": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "channelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Allows removal of channel watermark.",
          "id": "youtube.watermarks.unset"
        },
        "set": {
          "path": "youtube/v3/watermarks/set",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/watermarks/set",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/watermarks/set"
              }
            },
            "maxSize": "10485760"
          },
          "httpMethod": "POST",
          "id": "youtube.watermarks.set",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "InvideoBranding"
          },
          "flatPath": "youtube/v3/watermarks/set",
          "description": "Allows upload of watermark image and setting it for a channel.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "channelId"
          ]
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "transition": {
          "description": "Transition a broadcast to a given status.",
          "httpMethod": "POST",
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "path": "youtube/v3/liveBroadcasts/transition",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "location": "query",
              "description": "Broadcast to transition.",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "broadcastStatus": {
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ],
              "type": "string",
              "description": "The status to which the broadcast is going to transition.",
              "required": true,
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveBroadcasts.transition",
          "flatPath": "youtube/v3/liveBroadcasts/transition"
        },
        "control": {
          "httpMethod": "POST",
          "parameters": {
            "displaySlate": {
              "location": "query",
              "description": "Whether display or hide slate.",
              "type": "boolean"
            },
            "offsetTimeMs": {
              "format": "uint64",
              "type": "string",
              "location": "query",
              "description": "The exact time when the actions (e.g. slate on) are executed. It is an offset from the first frame of the monitor stream. If not set, it means \"now\" or ASAP. This field should not be set if the monitor stream is disabled, otherwise an error will be returned."
            },
            "walltime": {
              "format": "google-datetime",
              "description": "The wall clock time at which the action should be executed. Only one of offset_time_ms and walltime may be set at a time.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "Broadcast to operate."
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveBroadcasts.control",
          "parameterOrder": [
            "id",
            "part"
          ],
          "flatPath": "youtube/v3/liveBroadcasts/control",
          "description": "Slate and recording control of the live broadcast. Support actions: slate on/off, recording start/stop/pause/resume. Design doc: goto/yt-api-liveBroadcast-control",
          "path": "youtube/v3/liveBroadcasts/control",
          "response": {
            "$ref": "LiveBroadcast"
          }
        },
        "update": {
          "flatPath": "youtube/v3/liveBroadcasts",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "httpMethod": "PUT",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "type": "string",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.liveBroadcasts.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Updates an existing broadcast for the authenticated user.",
          "path": "youtube/v3/liveBroadcasts"
        },
        "insert": {
          "request": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new stream for the authenticated user.",
          "id": "youtube.liveBroadcasts.insert",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status."
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
[...]
