{
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "YouTube Data API v3",
  "protocol": "rest",
  "baseUrl": "https://youtube.googleapis.com/",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "canonicalName": "YouTube",
  "rootUrl": "https://youtube.googleapis.com/",
  "resources": {
    "liveStreams": {
      "methods": {
        "list": {
          "id": "youtube.liveStreams.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/liveStreams",
          "httpMethod": "GET",
          "parameters": {
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "id": {
              "type": "string",
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "repeated": true,
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "maxResults": {
              "location": "query",
              "minimum": "0",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "maximum": "50",
              "default": "5",
              "type": "integer"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.",
              "repeated": true
            }
          },
          "path": "youtube/v3/liveStreams",
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "description": "Retrieve the list of streams associated with the given channel. --",
          "parameterOrder": [
            "part"
          ]
        },
        "update": {
          "path": "youtube/v3/liveStreams",
          "description": "Updates an existing stream for the authenticated user.",
          "request": {
            "$ref": "LiveStream"
          },
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "id": "youtube.liveStreams.update",
          "response": {
            "$ref": "LiveStream"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "required": true,
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "delete": {
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveStreams",
          "description": "Deletes an existing stream for the authenticated user.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveStreams.delete",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/liveStreams"
        },
        "insert": {
          "response": {
            "$ref": "LiveStream"
          },
          "description": "Inserts a new stream for the authenticated user.",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "LiveStream"
          },
          "id": "youtube.liveStreams.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveStreams",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "id": "youtube.videoAbuseReportReasons.list",
          "parameters": {
            "hl": {
              "type": "string",
              "default": "en-US",
              "location": "query"
            },
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/videoAbuseReportReasons",
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          }
        }
      }
    },
    "playlistItems": {
      "methods": {
        "insert": {
          "id": "youtube.playlistItems.insert",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/playlistItems",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "PlaylistItem"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "id": "youtube.playlistItems.update",
          "flatPath": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "description": "Updates an existing resource.",
          "path": "youtube/v3/playlistItems",
          "request": {
            "$ref": "PlaylistItem"
          },
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "delete": {
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.delete",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "parameters": {
            "playlistId": {
              "description": "Return the playlist items within the given playlist.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "default": "5",
              "type": "integer",
              "minimum": "0",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query"
            },
            "videoId": {
              "description": "Return the playlist items associated with the given video ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "id": "youtube.playlistItems.list",
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/playlistItems"
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "mySubscribers": {
              "description": "Return the channels subscribed to the authenticated user",
              "type": "boolean",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties.",
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "location": "query",
              "type": "string"
            },
            "mine": {
              "description": "Return the ids of channels owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "format": "uint32",
              "minimum": "0",
              "default": "5",
              "maximum": "50"
            },
            "managedByMe": {
              "location": "query",
              "description": "Return the channels managed by the authenticated user.",
              "type": "boolean"
            },
            "forUsername": {
              "type": "string",
              "location": "query",
              "description": "Return the channel associated with a YouTube username."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Return the channels with the specified IDs."
            },
            "categoryId": {
              "type": "string",
              "location": "query",
              "description": "Return the channels within the specified guide category ID."
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/channels",
          "response": {
            "$ref": "ChannelListResponse"
          },
          "id": "youtube.channels.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ],
          "flatPath": "youtube/v3/channels",
          "parameterOrder": [
            "part"
          ]
        },
        "update": {
          "response": {
            "$ref": "Channel"
          },
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channels",
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.) Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "The *onBehalfOfContentOwner* parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/channels",
          "id": "youtube.channels.update",
          "description": "Updates an existing resource."
        }
      }
    },
    "subscriptions": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SubscriptionListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/subscriptions",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "order": {
              "description": "The order of the returned subscriptions",
              "enumDescriptions": [
                "",
                "Sort by relevance.",
                "Sort by order of activity.",
                "Sort alphabetically."
              ],
              "type": "string",
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ],
              "default": "relevance",
              "location": "query"
            },
            "forChannelId": {
              "location": "query",
              "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to.",
              "type": "string"
            },
            "mine": {
              "description": "Flag for returning the subscriptions of the authenticated user.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "type": "integer",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "maximum": "50"
            },
            "myRecentSubscribers": {
              "location": "query",
              "type": "boolean"
            },
            "mySubscribers": {
              "description": "Return the subscribers of the given channel owner.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "location": "query",
              "type": "string",
              "description": "Return the subscriptions with the given IDs for Stubby or Apiary.",
              "repeated": true
            },
            "part": {
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "description": "Return the subscriptions of the given channel owner.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/subscriptions",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.subscriptions.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "delete": {
          "description": "Deletes a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/subscriptions",
          "id": "youtube.subscriptions.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/subscriptions"
        },
        "insert": {
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "required": true,
              "type": "string"
            }
          },
          "id": "youtube.subscriptions.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/subscriptions",
          "response": {
            "$ref": "Subscription"
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Subscription"
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/subscriptions",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "channelSections": {
      "methods": {
        "insert": {
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/channelSections",
          "request": {
            "$ref": "ChannelSection"
          },
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "ChannelSection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection."
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "path": "youtube/v3/channelSections",
          "description": "Deletes a resource.",
          "id": "youtube.channelSections.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.channelSections.list",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/channelSections",
          "path": "youtube/v3/channelSections",
          "parameters": {
            "mine": {
              "type": "boolean",
              "description": "Return the ChannelSections owned by the authenticated user.",
              "location": "query"
            },
            "id": {
              "type": "string",
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true
            },
            "hl": {
              "type": "string",
              "location": "query",
              "description": "Return content in specified language"
            },
            "part": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties."
            },
            "channelId": {
              "description": "Return the ChannelSections owned by the specified channel ID.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "response": {
            "$ref": "ChannelSectionListResponse"
          }
        },
        "update": {
          "id": "youtube.channelSections.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/channelSections",
          "description": "Updates an existing resource.",
          "response": {
            "$ref": "ChannelSection"
          },
          "path": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "ChannelSection"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "type": "string",
              "location": "query",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails."
            }
          }
        }
      }
    },
    "watermarks": {
      "methods": {
        "unset": {
          "flatPath": "youtube/v3/watermarks/unset",
          "parameterOrder": [
            "channelId"
          ],
          "description": "Allows removal of channel watermark.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "channelId": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "id": "youtube.watermarks.unset",
          "path": "youtube/v3/watermarks/unset"
        },
        "set": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "channelId"
          ],
          "supportsMediaUpload": true,
          "request": {
            "$ref": "InvideoBranding"
          },
          "description": "Allows upload of watermark image and setting it for a channel.",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/watermarks/set",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/watermarks/set"
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "10485760"
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/watermarks/set",
          "path": "youtube/v3/watermarks/set",
          "parameters": {
            "channelId": {
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "id": "youtube.watermarks.set"
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.search.list",
          "flatPath": "youtube/v3/search",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "regionCode": {
              "location": "query",
              "type": "string",
              "description": "Display the content as seen by viewers in this country."
            },
            "channelId": {
              "location": "query",
              "type": "string",
              "description": "Filter on resources belonging to this channelId."
            },
            "videoCaption": {
              "type": "string",
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ],
              "description": "Filter on the presence of captions on the videos."
            },
            "videoLicense": {
              "type": "string",
              "location": "query",
              "description": "Filter on the license of the videos.",
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ],
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ]
            },
            "videoCategoryId": {
              "description": "Filter on videos in a specific category.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "topicId": {
              "location": "query",
              "type": "string",
              "description": "Restrict results to a particular topic."
            },
            "relatedToVideoId": {
              "type": "string",
              "description": "Search related to a resource.",
              "location": "query"
            },
            "order": {
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ],
              "location": "query",
              "type": "string",
              "description": "Sort order of the results.",
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ],
              "default": "relevance"
            },
            "maxResults": {
              "default": "5",
              "type": "integer",
              "format": "uint32",
              "minimum": "0",
              "maximum": "50",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "forMine": {
              "type": "boolean",
              "location": "query",
              "description": "Search for the private videos of the authenticated user."
            },
            "videoEmbeddable": {
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ],
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ],
              "location": "query",
              "description": "Filter on embeddable videos.",
              "type": "string"
            },
            "videoDimension": {
              "location": "query",
              "enum": [
                "any",
                "2d",
                "3d"
              ],
              "description": "Filter on 3d videos.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ]
            },
            "channelType": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ],
              "description": "Add a filter on the channel search.",
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ]
            },
            "videoType": {
              "description": "Filter on videos of a specific type.",
              "location": "query",
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ]
            },
            "locationRadius": {
              "type": "string",
              "location": "query",
              "description": "Filter on distance from the location (specified above)."
            },
            "forContentOwner": {
              "location": "query",
              "description": "Search owned by a content owner.",
              "type": "boolean"
            },
            "forDeveloper": {
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "eventType": {
              "type": "string",
              "description": "Filter on the livestream status of the videos.",
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ]
            },
            "relevanceLanguage": {
              "type": "string",
              "description": "Return results relevant to this language.",
              "location": "query"
            },
            "publishedBefore": {
              "location": "query",
              "description": "Filter on resources published before this date.",
              "format": "google-datetime",
              "type": "string"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Textual search terms to match."
            },
            "videoDefinition": {
              "description": "Filter on the definition of the videos.",
              "location": "query",
              "enum": [
                "any",
                "standard",
                "high"
              ],
              "type": "string",
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ]
            },
            "location": {
              "location": "query",
              "description": "Filter on location of the video",
              "type": "string"
            },
            "videoDuration": {
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ],
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ],
              "type": "string",
              "location": "query",
              "description": "Filter on the duration of the videos."
            },
            "videoSyndicated": {
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ],
              "location": "query",
              "description": "Filter on syndicated videos.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ]
            },
            "publishedAfter": {
              "format": "google-datetime",
              "type": "string",
              "location": "query",
              "description": "Filter on resources published after this date."
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "type": {
              "description": "Restrict results to a particular set of resource types from One Platform.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "default": "video,channel,playlist"
            },
            "safeSearch": {
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "type": "string",
              "description": "Indicates whether the search results should include restricted content as well as standard content.",
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ],
              "default": "moderate",
              "location": "query"
            }
          },
          "path": "youtube/v3/search",
          "description": "Retrieves a list of search resources",
          "response": {
            "$ref": "SearchListResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/tests",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "path": "youtube/v3/tests",
          "description": "POST method.",
          "response": {
            "$ref": "TestItem"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "TestItem"
          },
          "id": "youtube.tests.insert",
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "captions": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "sync": {
              "location": "query",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "type": "boolean"
            },
            "part": {
              "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            }
          },
          "id": "youtube.captions.insert",
          "description": "Inserts a new resource into this collection.",
          "parameterOrder": [
            "part"
          ],
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "path": "/upload/youtube/v3/captions",
                "multipart": true
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/captions",
          "request": {
            "$ref": "Caption"
          },
          "response": {
            "$ref": "Caption"
          },
          "path": "youtube/v3/captions"
        },
        "download": {
          "id": "youtube.captions.download",
          "description": "Downloads a caption track.",
          "path": "youtube/v3/captions/{id}",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/captions/{id}",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query"
            },
            "tfmt": {
              "type": "string",
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt.",
              "location": "query"
            },
            "tlang": {
              "type": "string",
              "description": "tlang is the language code; machine translate the captions into this language.",
              "location": "query"
            },
            "id": {
              "description": "The ID of the caption track to download, required for One Platform.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "GET",
          "supportsMediaDownload": true
        },
        "update": {
          "path": "youtube/v3/captions",
          "id": "youtube.captions.update",
          "request": {
            "$ref": "Caption"
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true,
          "httpMethod": "PUT",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/captions",
                "multipart": true
              }
            },
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600"
          },
          "flatPath": "youtube/v3/captions",
          "parameters": {
            "sync": {
              "type": "boolean",
              "location": "query",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Caption"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "id": "youtube.captions.delete",
          "path": "youtube/v3/captions",
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "youtube/v3/captions",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "response": {
            "$ref": "CaptionListResponse"
          },
          "httpMethod": "GET",
          "id": "youtube.captions.list",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "videoId": {
              "required": true,
              "type": "string",
              "description": "Returns the captions for the specified video.",
              "location": "query"
            },
            "id": {
              "description": "Returns the captions with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/captions"
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "LiveChatBan"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveChat/bans",
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LiveChatBan"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/liveChat/bans",
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.liveChatBans.insert"
        },
        "delete": {
          "id": "youtube.liveChatBans.delete",
          "flatPath": "youtube/v3/liveChat/bans",
          "path": "youtube/v3/liveChat/bans",
          "description": "Deletes a chat ban.",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "list": {
          "id": "youtube.liveChatModerators.list",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "flatPath": "youtube/v3/liveChat/moderators",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet."
            },
            "maxResults": {
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "format": "uint32",
              "maximum": "50",
              "default": "5",
              "type": "integer"
            },
            "liveChatId": {
              "description": "The id of the live chat for which moderators should be returned.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            }
          },
          "path": "youtube/v3/liveChat/moderators"
        },
        "insert": {
          "response": {
            "$ref": "LiveChatModerator"
          },
          "path": "youtube/v3/liveChat/moderators",
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatModerators.insert",
          "request": {
            "$ref": "LiveChatModerator"
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "path": "youtube/v3/liveChat/moderators",
          "flatPath": "youtube/v3/liveChat/moderators",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.liveChatModerators.delete",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a chat moderator.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet."
            },
            "hl": {
              "default": "en_US",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "path": "youtube/v3/i18nLanguages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.i18nLanguages.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/i18nLanguages"
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "path": "youtube/v3/channelBanners/insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "mediaUpload": {
            "maxSize": "6291456",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/channelBanners/insert"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/channelBanners/insert"
              }
            }
          },
          "supportsMediaUpload": true,
          "id": "youtube.channelBanners.insert",
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "channelId": {
              "type": "string",
              "location": "query",
              "description": "Unused, channel_id is currently derived from the security context of the requestor."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/channelBanners/insert",
          "response": {
            "$ref": "ChannelBannerResource"
          }
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/thumbnails/set",
          "id": "youtube.thumbnails.set",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "parameterOrder": [
            "videoId"
          ],
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "mediaUpload": {
            "maxSize": "2097152",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/thumbnails/set",
                "multipart": true
              },
              "simple": {
                "path": "/upload/youtube/v3/thumbnails/set",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "path": "youtube/v3/thumbnails/set",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "videoId": {
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          }
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "id": "youtube.membershipsLevels.list",
          "path": "youtube/v3/membershipsLevels",
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            }
          },
          "response": {
            "$ref": "MembershipsLevelListResponse"
          },
          "flatPath": "youtube/v3/membershipsLevels"
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Deletes a chat message.",
          "path": "youtube/v3/liveChat/messages",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.liveChatMessages.delete"
        },
        "insert": {
          "flatPath": "youtube/v3/liveChat/messages",
          "response": {
            "$ref": "LiveChatMessage"
          },
          "id": "youtube.liveChatMessages.insert",
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "type": "string",
              "repeated": true
            }
          },
          "request": {
            "$ref": "LiveChatMessage"
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/liveChat/messages"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/liveChat/messages",
          "parameters": {
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Specifies the localization language in which the system messages should be returned."
            },
            "profileImageSize": {
              "maximum": "720",
              "format": "uint32",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "location": "query",
              "type": "integer",
              "minimum": "16"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved."
            },
            "liveChatId": {
              "required": true,
              "location": "query",
              "description": "The id of the live chat for which comments should be returned.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query"
            },
            "maxResults": {
              "maximum": "2000",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "default": "500",
              "minimum": "200",
              "location": "query",
              "format": "uint32"
            }
          },
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "id": "youtube.liveChatMessages.list",
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "GET"
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include."
            }
          },
          "flatPath": "youtube/v3/abuseReports",
          "request": {
            "$ref": "AbuseReport"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "AbuseReport"
          },
          "path": "youtube/v3/abuseReports",
          "id": "youtube.abuseReports.insert",
          "httpMethod": "POST",
[...]
