{
  "id": "youtube:v3",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        }
      }
    }
  },
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "rootUrl": "https://youtube.googleapis.com/",
  "servicePath": "",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "schemas": {
    "ImageSettings": {
      "properties": {
        "bannerImageUrl": {
          "type": "string",
          "description": "Banner image. Desktop size (1060x175)."
        },
        "bannerMobileMediumHdImageUrl": {
          "description": "Banner image. Mobile size medium/high resolution (960x263).",
          "type": "string"
        },
        "smallBrandedBannerImageUrl": {
          "$ref": "LocalizedProperty",
          "description": "The URL for the 640px by 70px banner image that appears below the video player in the default view of the video watch page. The URL for the image that appears above the top-left corner of the video player. This is a 25-pixel-high image with a flexible width that cannot exceed 170 pixels."
        },
        "bannerTabletImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size (1707x283)."
        },
        "bannerTvHighImageUrl": {
          "description": "Banner image. TV size high resolution (1920x1080).",
          "type": "string"
        },
        "largeBrandedBannerImageImapScript": {
          "$ref": "LocalizedProperty",
          "description": "The image map script for the large banner image."
        },
        "largeBrandedBannerImageUrl": {
          "description": "The URL for the 854px by 70px image that appears below the video player in the expanded video view of the video watch page.",
          "$ref": "LocalizedProperty"
        },
        "bannerMobileImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size (640x175)."
        },
        "bannerTabletExtraHdImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size extra high resolution (2560x424)."
        },
        "bannerMobileLowImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size low resolution (320x88)."
        },
        "bannerTvLowImageUrl": {
          "type": "string",
          "description": "Banner image. TV size low resolution (854x480)."
        },
        "backgroundImageUrl": {
          "description": "The URL for the background image shown on the video watch page. The image should be 1200px by 615px, with a maximum file size of 128k.",
          "$ref": "LocalizedProperty"
        },
        "bannerTvImageUrl": {
          "type": "string",
          "description": "Banner image. TV size extra high resolution (2120x1192)."
        },
        "watchIconImageUrl": {
          "type": "string"
        },
        "bannerMobileExtraHdImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size high resolution (1440x395)."
        },
        "bannerExternalUrl": {
          "description": "This is generated when a ChannelBanner.Insert request has succeeded for the given channel.",
          "type": "string"
        },
        "bannerTabletHdImageUrl": {
          "description": "Banner image. Tablet size high resolution (2276x377).",
          "type": "string"
        },
        "smallBrandedBannerImageImapScript": {
          "$ref": "LocalizedProperty",
          "description": "The image map script for the small banner image."
        },
        "bannerTvMediumImageUrl": {
          "type": "string",
          "description": "Banner image. TV size medium resolution (1280x720)."
        },
        "bannerMobileHdImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size high resolution (1280x360)."
        },
        "bannerTabletLowImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size low resolution (1138x188)."
        },
        "trackingImageUrl": {
          "description": "The URL for a 1px by 1px tracking pixel that can be used to collect statistics for views of the channel or video pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ImageSettings",
      "description": "Branding properties for images associated with the channel."
    },
    "MembershipsDuration": {
      "id": "MembershipsDuration",
      "properties": {
        "memberSince": {
          "description": "The date and time when the user became a continuous member across all levels.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "type": "integer",
          "format": "int32",
          "description": "The cumulative time the user has been a member across all levels in complete months (the time is rounded down to the nearest integer)."
        }
      },
      "type": "object"
    },
    "SubscriptionContentDetails": {
      "id": "SubscriptionContentDetails",
      "properties": {
        "activityType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "subscriptionActivityTypeUnspecified",
            "all",
            "uploads"
          ],
          "type": "string",
          "description": "The type of activity this subscription is for (only uploads, everything)."
        },
        "totalItemCount": {
          "description": "The approximate number of items that the subscription points to.",
          "format": "uint32",
          "type": "integer"
        },
        "newItemCount": {
          "type": "integer",
          "description": "The number of new items in the subscription since its content was last read.",
          "format": "uint32"
        }
      },
      "description": "Details about the content to witch a subscription refers.",
      "type": "object"
    },
    "ChannelContentOwnerDetails": {
      "properties": {
        "timeLinked": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the channel was linked to the content owner."
        },
        "contentOwner": {
          "description": "The ID of the content owner linked to the channel.",
          "type": "string"
        }
      },
      "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
      "type": "object",
      "id": "ChannelContentOwnerDetails"
    },
    "VideoListResponse": {
      "type": "object",
      "id": "VideoListResponse",
      "properties": {
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "kind": {
          "default": "youtube#videoListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoListResponse\".",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Video"
          }
        }
      }
    },
    "ActivityContentDetailsBulletin": {
      "description": "Details about a channel bulletin post.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsBulletin"
    },
    "InvideoPosition": {
      "id": "InvideoPosition",
      "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one.",
      "properties": {
        "cornerPosition": {
          "description": "Describes in which corner of the video the visual widget will appear.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "topLeft",
            "topRight",
            "bottomLeft",
            "bottomRight"
          ],
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            ""
          ],
          "enum": [
            "corner"
          ],
          "description": "Defines the position type."
        }
      },
      "type": "object"
    },
    "VideoLocalization": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Localized version of the video's description."
        },
        "title": {
          "type": "string",
          "description": "Localized version of the video's title."
        }
      },
      "type": "object",
      "id": "VideoLocalization",
      "description": "Localized versions of certain video properties (e.g. title)."
    },
    "VideoPlayer": {
      "properties": {
        "embedWidth": {
          "format": "int64",
          "type": "string",
          "description": "The embed width"
        },
        "embedHtml": {
          "type": "string",
          "description": "An \u003ciframe\u003e tag that embeds a player that will play the video."
        },
        "embedHeight": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Player to be used for a video playback.",
      "id": "VideoPlayer"
    },
    "VideoContentDetailsRegionRestriction": {
      "properties": {
        "blocked": {
          "description": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowed": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries."
        }
      },
      "description": "DEPRECATED Region restriction of the video.",
      "type": "object",
      "id": "VideoContentDetailsRegionRestriction"
    },
    "LiveStreamStatus": {
      "properties": {
        "healthStatus": {
          "description": "The health status of the stream.",
          "$ref": "LiveStreamHealthStatus"
        },
        "streamStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ]
        }
      },
      "type": "object",
      "id": "LiveStreamStatus",
      "description": "Brief description of the live stream status."
    },
    "ChannelSectionListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "description": "A list of ChannelSections that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "ChannelSection"
          }
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".",
          "default": "youtube#channelSectionListResponse",
          "type": "string"
        }
      },
      "id": "ChannelSectionListResponse",
      "type": "object"
    },
    "I18nLanguageSnippet": {
      "type": "object",
      "description": "Basic details about an i18n language, such as language code and human-readable name.",
      "id": "I18nLanguageSnippet",
      "properties": {
        "name": {
          "description": "The human-readable name of the language in the language itself.",
          "type": "string"
        },
        "hl": {
          "description": "A short BCP-47 code that uniquely identifies a language.",
          "type": "string"
        }
      }
    },
    "LiveChatModerator": {
      "type": "object",
      "description": "A *liveChatModerator* resource represents a moderator for a YouTube live chat. A chat moderator has the ability to ban/unban users from a chat, remove message, etc.",
      "id": "LiveChatModerator",
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about the moderator.",
          "$ref": "LiveChatModeratorSnippet"
        },
        "kind": {
          "default": "youtube#liveChatModerator",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModerator\"."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the moderator.",
          "type": "string"
        }
      }
    },
    "ActivityContentDetailsComment": {
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with the comment.",
          "$ref": "ResourceId"
        }
      },
      "type": "object",
      "description": "Information about a resource that received a comment.",
      "id": "ActivityContentDetailsComment"
    },
    "Comment": {
      "id": "Comment",
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#comment",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "CommentSnippet",
          "description": "The snippet object contains basic details about the comment."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the comment."
        }
      },
      "description": "A *comment* represents a single YouTube comment."
    },
    "LiveChatBanSnippet": {
      "type": "object",
      "id": "LiveChatBanSnippet",
      "properties": {
        "bannedUserDetails": {
          "$ref": "ChannelProfileDetails"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An invalid ban type.",
            "A permanent ban.",
            "A temporary ban."
          ],
          "enum": [
            "liveChatBanTypeUnspecified",
            "permanent",
            "temporary"
          ],
          "description": "The type of ban."
        },
        "banDurationSeconds": {
          "format": "uint64",
          "type": "string",
          "description": "The duration of a ban, only filled if the ban has type TEMPORARY."
        },
        "liveChatId": {
          "description": "The chat this ban is pertinent to.",
          "type": "string"
        }
      }
    },
    "TokenPagination": {
      "description": "Stub token pagination template to suppress results.",
      "type": "object",
      "id": "TokenPagination",
      "properties": {}
    },
    "Channel": {
      "type": "object",
      "properties": {
        "localizations": {
          "description": "Localizations for different languages",
          "additionalProperties": {
            "$ref": "ChannelLocalization"
          },
          "type": "object"
        },
        "snippet": {
          "$ref": "ChannelSnippet",
          "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel.",
          "type": "string"
        },
        "statistics": {
          "$ref": "ChannelStatistics",
          "description": "The statistics object encapsulates statistics for the channel."
        },
        "status": {
          "description": "The status object encapsulates information about the privacy status of the channel.",
          "$ref": "ChannelStatus"
        },
        "contentOwnerDetails": {
          "$ref": "ChannelContentOwnerDetails",
          "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "contentDetails": {
          "$ref": "ChannelContentDetails",
          "description": "The contentDetails object encapsulates information about the channel's content."
        },
        "brandingSettings": {
          "$ref": "ChannelBrandingSettings",
          "description": "The brandingSettings object encapsulates information about the branding of the channel."
        },
        "topicDetails": {
          "$ref": "ChannelTopicDetails",
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel."
        },
        "conversionPings": {
          "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
          "$ref": "ChannelConversionPings"
        },
        "auditDetails": {
          "$ref": "ChannelAuditDetails",
          "description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process."
        },
        "kind": {
          "default": "youtube#channel",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\".",
          "type": "string"
        }
      },
      "id": "Channel",
      "description": "A *channel* resource contains information about a YouTube channel."
    },
    "ActivityContentDetailsPromotedItem": {
      "properties": {
        "descriptionText": {
          "description": "The text description to accompany the promoted item.",
          "type": "string"
        },
        "forecastingUrl": {
          "items": {
            "type": "string"
          },
          "description": "The list of forecasting URLs. The client should ping all of these URLs when a promoted item is not available, to indicate that a promoted item could have been shown.",
          "type": "array"
        },
        "impressionUrl": {
          "items": {
            "type": "string"
          },
          "description": "The list of impression URLs. The client should ping all of these URLs to indicate that the user was shown this promoted item.",
          "type": "array"
        },
        "customCtaButtonText": {
          "type": "string",
          "description": "The custom call-to-action button text. If specified, it will override the default button text for the cta_type."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the promoted video.",
          "type": "string"
        },
        "clickTrackingUrl": {
          "description": "The URL the client should ping to indicate that the user clicked through on this promoted item.",
          "type": "string"
        },
        "ctaType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The type of call-to-action, a message to the user indicating action that can be taken.",
          "type": "string",
          "enum": [
            "ctaTypeUnspecified",
            "visitAdvertiserSite"
          ]
        },
        "adTag": {
          "type": "string",
          "description": "The URL the client should fetch to request a promoted item."
        },
        "destinationUrl": {
          "description": "The URL the client should direct the user to, if the user chooses to visit the advertiser's website.",
          "type": "string"
        },
        "creativeViewUrl": {
          "type": "string",
          "description": "The URL the client should ping to indicate that the user was shown this promoted item."
        }
      },
      "type": "object",
      "description": "Details about a resource which is being promoted.",
      "id": "ActivityContentDetailsPromotedItem"
    },
    "LiveChatModeratorSnippet": {
      "id": "LiveChatModeratorSnippet",
      "properties": {
        "moderatorDetails": {
          "description": "Details about the moderator.",
          "$ref": "ChannelProfileDetails"
        },
        "liveChatId": {
          "description": "The ID of the live chat this moderator can act on.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsSocial": {
      "id": "ActivityContentDetailsSocial",
      "description": "Details about a social network post.",
      "type": "object",
      "properties": {
        "referenceUrl": {
          "type": "string",
          "description": "The URL of the social network post."
        },
        "imageUrl": {
          "description": "An image of the post's author.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The name of the social network.",
          "enum": [
            "typeUnspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ]
        },
        "author": {
          "type": "string",
          "description": "The author of the social network post."
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post."
        }
      }
    },
    "ActivityContentDetailsChannelItem": {
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that was added to the channel.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsChannelItem",
      "type": "object",
      "description": "Details about a resource which was added to a channel."
    },
    "Entity": {
      "id": "Entity",
      "properties": {
        "url": {
          "type": "string"
        },
        "typeId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoSnippet": {
      "type": "object",
      "id": "VideoSnippet",
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that the video was uploaded to.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The video's description. @mutable youtube.videos.insert youtube.videos.update"
        },
        "liveBroadcastContent": {
          "type": "string",
          "description": "Indicates if the video is an upcoming/active live broadcast. Or it's \"none\" if the video is not an upcoming/active live broadcast.",
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ]
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time when the video was uploaded.",
          "format": "date-time"
        },
        "defaultLanguage": {
          "description": "The language of the videos's default snippet.",
          "type": "string"
        },
        "tags": {
          "description": "A list of keyword tags associated with the video. Tags may contain spaces.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "categoryId": {
          "description": "The YouTube video category associated with the video.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel that the video belongs to."
        },
        "localized": {
          "description": "Localized snippet selected with the hl parameter. If no such localization exists, this field is populated with the default snippet. (Read-only)",
          "$ref": "VideoLocalization"
        },
        "title": {
          "type": "string",
          "description": "The video's title. @mutable youtube.videos.insert youtube.videos.update"
        },
        "defaultAudioLanguage": {
          "description": "The default_audio_language property specifies the language spoken in the video's default audio track.",
          "type": "string"
        }
      },
      "description": "Basic details about a video, including title, description, uploader, thumbnails and category."
    },
    "ChannelToStoreLinkDetails": {
      "type": "object",
      "properties": {
        "storeUrl": {
          "type": "string",
          "description": "Landing page of the store."
        },
        "storeName": {
          "description": "Name of the store.",
          "type": "string"
        }
      },
      "id": "ChannelToStoreLinkDetails",
      "description": "Information specific to a store on a merchandising platform linked to a YouTube channel."
    },
    "CommentThreadSnippet": {
      "properties": {
        "channelId": {
          "type": "string",
          "description": "The YouTube channel the comments in the thread refer to or the channel with the video the comments refer to. If video_id isn't set the comments refer to the channel itself."
        },
        "isPublic": {
          "description": "Whether the thread (and therefore all its comments) is visible to all YouTube users.",
          "type": "boolean"
        },
        "totalReplyCount": {
          "format": "uint32",
          "type": "integer",
          "description": "The total number of replies (not including the top level comment)."
        },
        "canReply": {
          "description": "Whether the current viewer of the thread can reply to it. This is viewer specific - other viewers may see a different value for this field.",
          "type": "boolean"
        },
        "topLevelComment": {
          "$ref": "Comment",
          "description": "The top level comment of this thread."
        },
        "videoId": {
          "type": "string",
          "description": "The ID of the video the comments refer to, if any. No video_id implies a channel discussion comment."
        }
      },
      "type": "object",
      "id": "CommentThreadSnippet",
      "description": "Basic details about a comment thread."
    },
    "PlaylistLocalization": {
      "properties": {
        "description": {
          "type": "string",
          "description": "The localized strings for playlist's description."
        },
        "title": {
          "type": "string",
          "description": "The localized strings for playlist's title."
        }
      },
      "type": "object",
      "description": "Playlist localization setting",
      "id": "PlaylistLocalization"
    },
    "PlaylistItemStatus": {
      "id": "PlaylistItemStatus",
      "type": "object",
      "properties": {
        "privacyStatus": {
          "description": "This resource's privacy status.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string"
        }
      },
      "description": "Information about the playlist item's privacy status."
    },
    "PropertyValue": {
      "description": "A pair Property / Value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The property's value.",
          "type": "string"
        },
        "property": {
          "type": "string",
          "description": "A property."
        }
      },
      "id": "PropertyValue"
    },
    "WatchSettings": {
      "id": "WatchSettings",
      "description": "Branding properties for the watch. All deprecated.",
      "properties": {
        "textColor": {
          "type": "string",
          "description": "The background color for the video watch page's branded area."
        },
        "featuredPlaylistId": {
          "type": "string",
          "description": "An ID that uniquely identifies a playlist that displays next to the video player."
        },
        "backgroundColor": {
          "type": "string",
          "description": "The text color for the video watch page's branded area."
        }
      },
      "type": "object"
    },
    "Activity": {
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "properties": {
        "snippet": {
          "$ref": "ActivitySnippet",
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the activity."
        },
        "contentDetails": {
          "$ref": "ActivityContentDetails",
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video."
        },
        "kind": {
          "default": "youtube#activity",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Activity"
    },
    "PlaylistStatus": {
      "type": "object",
      "properties": {
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The playlist's privacy status."
        }
      },
      "id": "PlaylistStatus"
    },
    "Member": {
      "id": "Member",
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#member",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#member\".",
          "type": "string"
        },
        "snippet": {
          "$ref": "MemberSnippet",
          "description": "The snippet object contains basic details about the member."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "description": "A *member* resource represents a member for a YouTube channel. A member provides recurring monetary support to a creator and receives special benefits."
    },
    "ActivityContentDetailsPlaylistItem": {
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information about the resource that was added to the playlist.",
          "$ref": "ResourceId"
        },
        "playlistId": {
          "type": "string",
          "description": "The value that YouTube uses to uniquely identify the playlist."
        },
        "playlistItemId": {
          "description": "ID of the item within the playlist.",
          "type": "string"
        }
      },
      "description": "Information about a new playlist item.",
      "id": "ActivityContentDetailsPlaylistItem"
    },
    "ThumbnailDetails": {
      "type": "object",
      "id": "ThumbnailDetails",
      "properties": {
        "standard": {
          "description": "The standard quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "medium": {
          "$ref": "Thumbnail",
          "description": "The medium quality image for this resource."
        },
        "maxres": {
          "description": "The maximum resolution quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "default": {
          "description": "The default image for this resource.",
          "$ref": "Thumbnail"
        },
        "high": {
          "$ref": "Thumbnail",
          "description": "The high quality image for this resource."
        }
      },
      "description": "Internal representation of thumbnails for a YouTube resource."
    },
    "LiveChatMessageListResponse": {
      "type": "object",
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessageListResponse\".",
          "type": "string",
          "default": "youtube#liveChatMessageListResponse"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "offlineAt": {
          "description": "The date and time when the underlying stream went offline.",
          "format": "date-time",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveChatMessage"
          }
        },
        "pollingIntervalMillis": {
          "description": "The amount of time the client should wait before polling again.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "id": "LiveChatMessageListResponse"
    },
    "LiveBroadcast": {
      "id": "LiveBroadcast",
      "description": "A *liveBroadcast* resource represents an event that will be streamed, via live video, on YouTube.",
      "type": "object",
      "properties": {
        "contentDetails": {
          "$ref": "LiveBroadcastContentDetails",
          "description": "The contentDetails object contains information about the event's video content, such as whether the content can be shown in an embedded video player or if it will be archived and therefore available for viewing after the event has concluded."
        },
        "status": {
          "description": "The status object contains information about the event's status.",
          "$ref": "LiveBroadcastStatus"
        },
        "statistics": {
          "description": "The statistics object contains info about the event's current stats. These include concurrent viewers and total chat count. Statistics can change (in either direction) during the lifetime of an event. Statistics are only returned while the event is live.",
          "$ref": "LiveBroadcastStatistics"
        },
        "snippet": {
          "$ref": "LiveBroadcastSnippet",
          "description": "The snippet object contains basic details about the event, including its title, description, start time, and end time."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the broadcast.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcast\".",
          "type": "string",
          "default": "youtube#liveBroadcast"
        }
      }
    },
    "VideoSuggestions": {
      "properties": {
        "processingWarnings": {
          "items": {
            "enumDescriptions": [
              "Unrecognized file format, transcoding is likely to fail.",
              "Unrecognized video codec, transcoding is likely to fail.",
              "Unrecognized audio codec, transcoding is likely to fail.",
              "Conflicting container and stream resolutions.",
              "Edit lists are not currently supported.",
              "Video codec that is known to cause problems was used.",
              "Audio codec that is known to cause problems was used.",
              "Unsupported VR video stereo mode.",
              "Unsupported spherical video projection type.",
              "Unsupported HDR pixel format.",
              "Unspecified HDR color metadata.",
              "Problematic HDR lookup table attached."
            ],
            "type": "string",
            "enum": [
              "unknownContainer",
              "unknownVideoCodec",
              "unknownAudioCodec",
              "inconsistentResolution",
              "hasEditlist",
              "problematicVideoCodec",
              "problematicAudioCodec",
              "unsupportedVrStereoMode",
              "unsupportedSphericalProjectionType",
              "unsupportedHdrPixelFormat",
              "unsupportedHdrColorMetadata",
              "problematicHdrLookupTable"
            ]
          },
          "description": "A list of reasons why YouTube may have difficulty transcoding the uploaded video or that might result in an erroneous transcoding. These warnings are generated before YouTube actually processes the uploaded video file. In addition, they identify issues that are unlikely to cause the video processing to fail but that might cause problems such as sync issues, video artifacts, or a missing audio track.",
          "type": "array"
        },
        "tagSuggestions": {
          "type": "array",
          "description": "A list of keyword tags that could be added to the video's metadata to increase the likelihood that users will locate your video when searching or browsing on YouTube.",
          "items": {
            "$ref": "VideoSuggestionsTagSuggestion"
          }
        },
        "processingHints": {
          "type": "array",
          "items": {
            "enum": [
              "nonStreamableMov",
              "sendBestQualityVideo",
              "sphericalVideo",
              "spatialAudio",
              "vrVideo",
              "hdrVideo"
            ],
            "type": "string",
            "enumDescriptions": [
              "The MP4 file is not streamable, this will slow down the processing. MOOV atom was not found at the beginning of the file.",
              "Probably a better quality version of the video exists. The video has wide screen aspect ratio, but is not an HD video.",
              "Uploaded video is spherical video.",
              "Uploaded video has spatial audio.",
              "Uploaded video is VR video.",
              "Uploaded video is HDR video."
            ]
          },
          "description": "A list of suggestions that may improve YouTube's ability to process the video."
        },
        "processingErrors": {
          "description": "A list of errors that will prevent YouTube from successfully processing the uploaded video video. These errors indicate that, regardless of the video's current processing status, eventually, that status will almost certainly be failed.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "File contains audio only (e.g., an MP3 file).",
              "Image file (e.g., a JPEG image).",
              "Movie project file (e.g., Microsoft Windows Movie Maker project).",
              "Other non-video file.",
              "Document or text file (e.g., MS Word document).",
              "An archive file (e.g., a ZIP archive).",
              "Unsupported spatial audio layout type."
            ],
            "type": "string",
            "enum": [
              "audioFile",
              "imageFile",
              "projectFile",
              "notAVideoFile",
              "docFile",
              "archiveFile",
              "unsupportedSpatialAudioLayout"
            ]
          }
        },
        "editorSuggestions": {
          "items": {
            "enumDescriptions": [
              "Picture brightness levels seem off and could be corrected.",
              "The video appears shaky and could be stabilized.",
              "Margins (mattes) detected around the picture could be cropped.",
              "The audio track appears silent and could be swapped with a better quality one."
            ],
            "enum": [
              "videoAutoLevels",
              "videoStabilize",
              "videoCrop",
              "audioQuietAudioSwap"
            ],
            "type": "string"
          },
          "description": "A list of video editing operations that might improve the video quality or playback experience of the uploaded video.",
          "type": "array"
        }
      },
      "description": "Specifies suggestions on how to improve video content, including encoding hints, tag suggestions, and editor suggestions.",
      "type": "object",
      "id": "VideoSuggestions"
    },
    "VideoProcessingDetailsProcessingProgress": {
      "properties": {
        "partsProcessed": {
          "format": "uint64",
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video.",
          "type": "string"
        },
        "timeLeftMs": {
          "format": "uint64",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video.",
          "type": "string"
        },
        "partsTotal": {
          "type": "string",
          "format": "uint64",
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video."
        }
      },
      "type": "object",
      "description": "Video processing progress and completion time estimate.",
      "id": "VideoProcessingDetailsProcessingProgress"
    },
    "VideoRecordingDetails": {
      "type": "object",
      "description": "Recording information associated with the video.",
      "properties": {
        "location": {
          "$ref": "GeoPoint",
          "description": "The geolocation information associated with the video."
        },
        "recordingDate": {
          "description": "The date and time when the video was recorded.",
          "type": "string",
          "format": "date-time"
        },
        "locationDescription": {
          "type": "string",
          "description": "The text description of the location where the video was recorded."
        }
      },
      "id": "VideoRecordingDetails"
    },
    "LiveChatMessageDeletedDetails": {
      "properties": {
        "deletedMessageId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiveChatMessageDeletedDetails"
    },
    "VideoAbuseReport": {
      "properties": {
        "reasonId": {
          "type": "string",
          "description": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID."
        },
        "comments": {
          "description": "Additional comments regarding the abuse report.",
          "type": "string"
        },
        "language": {
          "description": "The language that the content was viewed in.",
          "type": "string"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        },
        "secondaryReasonId": {
          "type": "string",
          "description": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason."
        }
      },
      "id": "VideoAbuseReport",
      "type": "object"
    },
    "LiveChatMessageAuthorDetails": {
      "properties": {
        "isChatSponsor": {
          "description": "Whether the author is a sponsor of the live chat.",
          "type": "boolean"
        },
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        },
        "isChatOwner": {
          "type": "boolean",
          "description": "Whether the author is the owner of the live chat."
        },
        "isVerified": {
          "type": "boolean",
          "description": "Whether the author's identity has been verified by YouTube."
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        },
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        },
        "isChatModerator": {
          "description": "Whether the author is a moderator of the live chat.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "LiveChatMessageAuthorDetails"
    },
    "VideoProcessingDetails": {
      "type": "object",
      "id": "VideoProcessingDetails",
      "properties": {
        "fileDetailsAvailability": {
          "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request.",
          "type": "string"
        },
        "processingStatus": {
          "enum": [
            "processing",
            "succeeded",
            "failed",
            "terminated"
          ],
          "type": "string",
          "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "editorSuggestionsAvailability": {
          "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "processingProgress": {
          "$ref": "VideoProcessingDetailsProcessingProgress",
          "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing."
        },
        "tagSuggestionsAvailability": {
          "type": "string",
          "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        },
        "processingFailureReason": {
          "enum": [
            "uploadFailed",
            "transcodeFailed",
            "streamingFailed",
            "other"
          ],
          "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "processingIssuesAvailability": {
          "type": "string",
          "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        },
        "thumbnailsAvailability": {
          "type": "string",
          "description": "This value indicates whether thumbnail images have been generated for the video."
        }
      },
      "description": "Describes processing status and progress and availability of some other Video resource parts."
    },
    "CommentThreadListResponse": {
      "id": "CommentThreadListResponse",
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "CommentThread"
          },
          "description": "A list of comment threads that match the request criteria.",
          "type": "array"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "default": "youtube#commentThreadListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\"."
        }
      },
      "type": "object"
    },
    "MembershipsLevelSnippet": {
      "id": "MembershipsLevelSnippet",
      "properties": {
        "creatorChannelId": {
          "description": "The id of the channel that's offering channel memberships.",
          "type": "string"
        },
        "levelDetails": {
          "description": "Details about the pricing level.",
          "$ref": "LevelDetails"
        }
      },
      "type": "object"
    },
    "LiveChatMessageRetractedDetails": {
      "type": "object",
      "id": "LiveChatMessageRetractedDetails",
      "properties": {
        "retractedMessageId": {
          "type": "string"
        }
      }
    },
    "PlaylistItemSnippet": {
      "description": "Basic details about a playlist, including title, description and thumbnails. Basic details of a YouTube Playlist item provided by the author. Next ID: 15",
      "properties": {
        "playlistId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify thGe playlist that the playlist item is in."
        },
        "videoOwnerChannelId": {
          "description": "Channel id for the channel this video belongs to.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the playlist item. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "position": {
          "format": "uint32",
          "description": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth.",
          "type": "integer"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist.",
          "type": "string"
        },
        "title": {
          "description": "The item's title.",
          "type": "string"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The id object contains information that can be used to uniquely identify the resource that is included in the playlist as the playlist item."
        },
        "channelTitle": {
          "description": "Channel title for the channel that the playlist item belongs to.",
          "type": "string"
        },
        "description": {
          "description": "The item's description.",
          "type": "string"
        },
        "publishedAt": {
          "description": "The date and time that the item was added to the playlist.",
          "type": "string",
          "format": "date-time"
        },
        "videoOwnerChannelTitle": {
          "type": "string",
          "description": "Channel title for the channel this video belongs to."
        }
      },
      "type": "object",
      "id": "PlaylistItemSnippet"
    },
    "LiveChatUserBannedMessageDetails": {
      "type": "object",
      "properties": {
        "bannedUserDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "The details of the user that was banned."
        },
        "banDurationSeconds": {
          "type": "string",
          "format": "uint64",
          "description": "The duration of the ban. This property is only present if the banType is temporary."
        },
        "banType": {
          "type": "string",
          "enum": [
            "permanent",
            "temporary"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The type of ban."
        }
      },
      "id": "LiveChatUserBannedMessageDetails"
    },
    "VideoCategory": {
      "description": "A *videoCategory* resource identifies a category that has been or could be associated with uploaded videos.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video category."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#videoCategory",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategory\"."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the video category, including its title.",
          "$ref": "VideoCategorySnippet"
        }
      },
      "id": "VideoCategory",
      "type": "object"
    },
    "Subscription": {
      "type": "object",
      "id": "Subscription",
      "properties": {
        "contentDetails": {
          "description": "The contentDetails object contains basic statistics about the subscription.",
          "$ref": "SubscriptionContentDetails"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to.",
          "$ref": "SubscriptionSnippet"
        },
        "kind": {
          "default": "youtube#subscription",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
          "type": "string"
        },
        "subscriberSnippet": {
          "$ref": "SubscriptionSubscriberSnippet",
          "description": "The subscriberSnippet object contains basic details about the subscriber."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the subscription.",
          "type": "string"
        }
      },
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video."
    },
    "ThumbnailSetResponse": {
      "type": "object",
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "kind": {
          "default": "youtube#thumbnailSetResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thumbnailSetResponse\".",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of thumbnails.",
          "items": {
            "$ref": "ThumbnailDetails"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "ThumbnailSetResponse"
    },
    "VideoFileDetails": {
      "properties": {
        "fileType": {
          "type": "string",
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded.",
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ],
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ]
        },
        "bitrateBps": {
          "format": "uint64",
          "type": "string",
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second."
        },
        "durationMs": {
          "description": "The length of the uploaded video in milliseconds.",
          "format": "uint64",
          "type": "string"
        },
        "fileSize": {
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
          "type": "string",
          "format": "uint64"
        },
        "audioStreams": {
          "type": "array",
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream.",
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          }
        },
        "videoStreams": {
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          },
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream."
        },
        "container": {
          "description": "The uploaded video file's container format.",
          "type": "string"
        },
        "fileName": {
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM "
        }
      },
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information.",
      "type": "object",
      "id": "VideoFileDetails"
    },
    "VideoMonetizationDetails": {
      "properties": {
        "access": {
          "description": "The value of access indicates whether the video can be monetized or not.",
          "$ref": "AccessPolicy"
        }
      },
      "type": "object",
      "description": "Details about monetization of a YouTube Video.",
      "id": "VideoMonetizationDetails"
    },
    "I18nLanguageListResponse": {
      "type": "object",
      "properties": {
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "default": "youtube#i18nLanguageListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguageListResponse\"."
        },
        "items": {
          "type": "array",
          "description": "A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource.",
          "items": {
            "$ref": "I18nLanguage"
          }
        }
      },
      "id": "I18nLanguageListResponse"
    },
    "LiveStreamListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveStream"
          },
          "description": "A list of live streams that match the request criteria."
        },
        "kind": {
          "default": "youtube#liveStreamListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\".",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        }
      },
      "id": "LiveStreamListResponse",
      "type": "object"
    },
    "LiveChatModeratorListResponse": {
      "type": "object",
      "id": "LiveChatModeratorListResponse",
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "description": "A list of moderators that match the request criteria.",
          "items": {
            "$ref": "LiveChatModerator"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\".",
          "type": "string",
          "default": "youtube#liveChatModeratorListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "VideoCategoryListResponse": {
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "VideoCategory"
          },
          "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\".",
          "type": "string",
          "default": "youtube#videoCategoryListResponse"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        }
      },
      "id": "VideoCategoryListResponse"
    },
    "LevelDetails": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name that should be used when referring to this level."
        }
      },
      "type": "object",
      "id": "LevelDetails"
    },
    "VideoCategorySnippet": {
      "description": "Basic details about a video category, such as its localized title.",
      "type": "object",
      "id": "VideoCategorySnippet",
      "properties": {
        "channelId": {
          "type": "string",
          "description": "The YouTube channel that created the video category.",
          "default": "UCBR8-60-B28hp2BmDPdntcQ"
        },
        "assignable": {
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The video category's title."
        }
      }
    },
    "LiveChatBan": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the ban.",
          "$ref": "LiveChatBanSnippet"
        },
        "kind": {
          "default": "youtube#liveChatBan",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the ban.",
          "type": "string"
        }
      },
      "id": "LiveChatBan",
      "description": "A `__liveChatBan__` resource represents a ban for a YouTube live chat."
    },
    "ActivityContentDetails": {
      "description": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc.",
      "type": "object",
      "id": "ActivityContentDetails",
      "properties": {
        "comment": {
          "description": "The comment object contains information about a resource that received a comment. This property is only present if the snippet.type is comment.",
          "$ref": "ActivityContentDetailsComment"
        },
        "recommendation": {
          "$ref": "ActivityContentDetailsRecommendation",
          "description": "The recommendation object contains information about a recommended resource. This property is only present if the snippet.type is recommendation."
        },
        "playlistItem": {
          "description": "The playlistItem object contains information about a new playlist item. This property is only present if the snippet.type is playlistItem.",
          "$ref": "ActivityContentDetailsPlaylistItem"
        },
        "social": {
          "$ref": "ActivityContentDetailsSocial",
          "description": "The social object contains details about a social network post. This property is only present if the snippet.type is social."
        },
        "favorite": {
          "$ref": "ActivityContentDetailsFavorite",
          "description": "The favorite object contains information about a video that was marked as a favorite video. This property is only present if the snippet.type is favorite."
        },
        "promotedItem": {
          "$ref": "ActivityContentDetailsPromotedItem",
          "description": "The promotedItem object contains details about a resource which is being promoted. This property is only present if the snippet.type is promotedItem."
        },
        "channelItem": {
          "$ref": "ActivityContentDetailsChannelItem",
          "description": "The channelItem object contains details about a resource which was added to a channel. This property is only present if the snippet.type is channelItem."
        },
        "like": {
          "description": "The like object contains information about a resource that received a positive (like) rating. This property is only present if the snippet.type is like.",
          "$ref": "ActivityContentDetailsLike"
        },
        "bulletin": {
          "$ref": "ActivityContentDetailsBulletin",
          "description": "The bulletin object contains details about a channel bulletin post. This object is only present if the snippet.type is bulletin."
        },
        "upload": {
          "description": "The upload object contains information about the uploaded video. This property is only present if the snippet.type is upload.",
          "$ref": "ActivityContentDetailsUpload"
        },
        "subscription": {
          "$ref": "ActivityContentDetailsSubscription",
          "description": "The subscription object contains information about a channel that a user subscribed to. This property is only present if the snippet.type is subscription."
        }
      }
    },
    "LocalizedString": {
      "properties": {
        "language": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "LocalizedString"
    },
    "ThirdPartyLink": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLink\".",
          "type": "string",
          "default": "youtube#thirdPartyLink"
        },
        "linkingToken": {
          "type": "string",
          "description": "The linking_token identifies a YouTube account and channel with which the third party account is linked."
        },
        "status": {
          "$ref": "ThirdPartyLinkStatus",
          "description": "The status object contains information about the status of the link."
        },
        "snippet": {
          "$ref": "ThirdPartyLinkSnippet",
          "description": "The snippet object contains basic details about the third- party account link."
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ThirdPartyLink",
      "description": "A *third party account link* resource represents a link between a YouTube account or a channel and an account on a third-party service."
    },
    "LiveChatSuperStickerDetails": {
      "type": "object",
      "properties": {
        "amountMicros": {
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "format": "uint64",
          "type": "string"
        },
        "superStickerMetadata": {
          "$ref": "SuperStickerMetadata",
          "description": "Information about the Super Sticker."
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "currency": {
          "description": "The currency in which the purchase was made.",
          "type": "string"
        },
        "tier": {
          "type": "integer",
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "format": "uint32"
        }
      },
      "id": "LiveChatSuperStickerDetails"
    },
    "VideoAgeGating": {
      "properties": {
        "alcoholContent": {
          "description": "Indicates whether or not the video has alcoholic beverage content. Only users of legal purchasing age in a particular country, as identified by ICAP, can view the content.",
          "type": "boolean"
        },
        "restricted": {
          "type": "boolean",
          "description": "Age-restricted trailers. For redband trailers and adult-rated video-games. Only users aged 18+ can view the content. The the field is true the content is restricted to viewers aged 18+. Otherwise The field won't be present."
        },
        "videoGameRating": {
          "description": "Video game rating, if any.",
          "enum": [
            "anyone",
            "m15Plus",
            "m16Plus",
            "m17Plus"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "VideoAgeGating",
      "type": "object"
    },
    "VideoRatingListResponse": {
      "type": "object",
      "id": "VideoRatingListResponse",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "items": {
            "$ref": "VideoRating"
          },
          "description": "A list of ratings that match the request criteria.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoGetRatingResponse\".",
          "type": "string",
          "default": "youtube#videoGetRatingResponse"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        }
      }
    },
    "LiveStreamContentDetails": {
      "type": "object",
      "description": "Detailed settings of a stream.",
      "id": "LiveStreamContentDetails",
      "properties": {
        "closedCaptionsIngestionUrl": {
          "type": "string",
          "description": "The ingestion URL where the closed captions of this stream are sent."
        },
        "isReusable": {
          "type": "boolean",
          "description": "Indicates whether the stream is reusable, which means that it can be bound to multiple broadcasts. It is common for broadcasters to reuse the same stream for many different broadcasts if those broadcasts occur at different times. If you set this value to false, then the stream will not be reusable, which means that it can only be bound to one broadcast. Non-reusable streams differ from reusable streams in the following ways: - A non-reusable stream can only be bound to one broadcast. - A non-reusable stream might be deleted by an automated process after the broadcast ends. - The liveStreams.list method does not list non-reusable streams if you call the method and set the mine parameter to true. The only way to use that method to retrieve the resource for a non-reusable stream is to use the id parameter to identify the stream. "
        }
      }
    },
    "ChannelContentDetails": {
      "type": "object",
      "properties": {
        "relatedPlaylists": {
          "type": "object",
          "properties": {
            "likes": {
              "description": "The ID of the playlist that contains the channel\"s liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            },
            "uploads": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos."
            },
            "favorites": {
              "description": "The ID of the playlist that contains the channel\"s favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            },
            "watchHistory": {
              "description": "The ID of the playlist that contains the channel\"s watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            },
            "watchLater": {
              "description": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            }
          }
        }
      },
      "id": "ChannelContentDetails",
      "description": "Details about the content of a channel."
    },
    "RelatedEntity": {
      "type": "object",
      "id": "RelatedEntity",
      "properties": {
        "entity": {
          "$ref": "Entity"
        }
      }
    },
    "ChannelBannerResource": {
      "type": "object",
      "description": "A channel banner returned as the response to a channel_banner.insert call.",
      "id": "ChannelBannerResource",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of this banner image."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\".",
          "type": "string",
          "default": "youtube#channelBannerResource"
        },
        "etag": {
          "type": "string"
        }
      }
    },
    "CommentThread": {
      "type": "object",
      "description": "A *comment thread* represents information that applies to a top level comment and all its replies. It can also include the top level comment itself and some of the replies.",
      "id": "CommentThread",
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about the comment thread and also the top level comment.",
          "$ref": "CommentThreadSnippet"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThread\".",
          "default": "youtube#commentThread",
          "type": "string"
        },
        "replies": {
          "description": "The replies object contains a limited number of replies (if any) to the top level comment found in the snippet.",
          "$ref": "CommentThreadReplies"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment thread.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "ChannelSection": {
      "properties": {
        "contentDetails": {
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section.",
          "$ref": "ChannelSectionContentDetails"
        },
        "targeting": {
          "$ref": "ChannelSectionTargeting",
          "description": "The targeting object contains basic targeting settings about the channel section."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title.",
          "$ref": "ChannelSectionSnippet"
        },
        "kind": {
          "default": "youtube#channelSection",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "type": "string"
        },
        "localizations": {
          "type": "object",
          "description": "Localizations for different languages",
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          }
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel section.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ChannelSection"
    },
    "ChannelProfileDetails": {
      "properties": {
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        },
        "channelUrl": {
          "type": "string",
          "description": "The channel's URL."
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ChannelProfileDetails"
    },
    "ThirdPartyLinkStatus": {
      "type": "object",
      "id": "ThirdPartyLinkStatus",
      "description": "The third-party link status object contains information about the status of the link.",
      "properties": {
        "linkStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unknown",
            "failed",
            "pending",
            "linked"
          ],
          "type": "string"
        }
      }
    },
    "MembershipsLevelListResponse": {
      "properties": {
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#membershipsLevelListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\"."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "MembershipsLevel"
          },
          "description": "A list of pricing levels offered by a creator to the fans."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        }
      },
      "type": "object",
      "id": "MembershipsLevelListResponse"
    },
    "ChannelSectionTargeting": {
      "id": "ChannelSectionTargeting",
      "description": "ChannelSection targeting setting.",
      "type": "object",
      "properties": {
        "languages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The language the channel section is targeting."
        },
        "countries": {
          "description": "The country the channel section is targeting.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "regions": {
          "type": "array",
          "description": "The region the channel section is targeting.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ChannelTopicDetails": {
      "id": "ChannelTopicDetails",
      "description": "Freebase topic information related to the channel.",
      "properties": {
        "topicIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API."
        },
        "topicCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Wikipedia URLs that describe the channel's content."
        }
      },
      "type": "object"
    },
    "SearchResult": {
      "type": "object",
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description.",
          "$ref": "SearchResultSnippet"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\".",
          "default": "youtube#searchResult"
        },
        "id": {
          "$ref": "ResourceId",
          "description": "The id object contains information that can be used to uniquely identify the resource that matches the search request."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "SearchResult",
      "description": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data."
    },
    "AbuseType": {
      "id": "AbuseType",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChannelBrandingSettings": {
      "description": "Branding properties of a YouTube channel.",
      "type": "object",
      "id": "ChannelBrandingSettings",
      "properties": {
        "watch": {
          "$ref": "WatchSettings",
          "description": "Branding properties for the watch page."
        },
        "hints": {
          "type": "array",
          "description": "Additional experimental branding properties.",
          "items": {
            "$ref": "PropertyValue"
          }
        },
        "channel": {
          "$ref": "ChannelSettings",
          "description": "Branding properties for the channel view."
        },
        "image": {
          "description": "Branding properties for branding images.",
          "$ref": "ImageSettings"
        }
      }
    },
    "ActivityContentDetailsRecommendation": {
      "properties": {
        "reason": {
          "description": "The reason that the resource is recommended to the user.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ]
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the recommended resource."
        },
        "seedResourceId": {
          "$ref": "ResourceId",
          "description": "The seedResourceId object contains information about the resource that caused the recommendation."
        }
      },
      "description": "Information that identifies the recommended resource.",
      "type": "object",
      "id": "ActivityContentDetailsRecommendation"
    },
    "VideoSuggestionsTagSuggestion": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The keyword tag suggested for the video."
        },
        "categoryRestricts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of video categories for which the tag is relevant. You can use this information to display appropriate tag suggestions based on the video category that the video uploader associates with the video. By default, tag suggestions are relevant for all categories if there are no restricts defined for the keyword."
        }
      },
      "description": "A single tag suggestion with it's relevance information.",
      "id": "VideoSuggestionsTagSuggestion"
    },
    "GeoPoint": {
      "type": "object",
      "id": "GeoPoint",
      "description": "Geographical coordinates of a point, in WGS84.",
      "properties": {
        "altitude": {
          "type": "number",
          "description": "Altitude above the reference ellipsoid, in meters.",
          "format": "double"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude in degrees."
        },
        "longitude": {
          "format": "double",
          "description": "Longitude in degrees.",
          "type": "number"
        }
      }
    },
    "PlaylistListResponse": {
      "id": "PlaylistListResponse",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "items": {
          "description": "A list of playlists that match the request criteria",
          "type": "array",
          "items": {
            "$ref": "Playlist"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistListResponse\".",
          "type": "string",
          "default": "youtube#playlistListResponse"
        }
      },
      "type": "object"
    },
    "LiveBroadcastSnippet": {
      "id": "LiveBroadcastSnippet",
      "properties": {
        "scheduledEndTime": {
          "type": "string",
          "description": "The date and time that the broadcast is scheduled to start.",
          "format": "date-time"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast."
        },
        "actualStartTime": {
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live.",
          "format": "date-time",
          "type": "string"
        },
        "description": {
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.",
          "type": "string"
        },
        "scheduledStartTime": {
          "format": "date-time",
          "description": "The date and time that the broadcast is scheduled to end.",
          "type": "string"
        },
        "title": {
[...]
