# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# Default owners for changes in this repo
*               @googleapis/cloud-sdk-python-team

# The python-samples-reviewers team is the default owner for samples changes
/samples/  @googleapis/python-samples-owners @googleapis/cloud-sdk-python-team

# For more information, see https://github.com/googleapis/repo-automation-bots/blob/main/packages/auto-approve/README.md
.github/auto-approve.yml @googleapis/cloud-sdk-python-team

# The following is needed to auto-approve changes to static discovery artifacts and generated documentation.
/docs/dyn/*.html                                         @yoshi-approver @googleapis/cloud-sdk-python-team
/docs/dyn/index.md                                       @yoshi-approver @googleapis/cloud-sdk-python-team
/googleapiclient/discovery_cache/documents/*.json        @yoshi-approver @googleapis/cloud-sdk-python-team
