[report]
omit =
    */samples/*
    # Issue tracked in https://github.com/googleapis/google-api-python-client/issues/2132
    describe.py
exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
