language: python
python: 2.7.13
sudo: false
cache: pip
env:
  matrix:
  - TOX_ENV=py27
  - TOX_ENV=py33
  - TOX_ENV=py34
  - TOX_ENV=py35
  - TOX_ENV=py36
install:
- pip install tox
- pip install coveralls
script:
- tox -e $TOX_ENV
after_success:
  coveralls
notifications:
  email: false
