language: python
python: 2.7
sudo: false
cache: pip
env:
  matrix:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py33
  - TOX_ENV=py34
install:
- pip install tox
- pip install coveralls
script:
- tox -e $TOX_ENV
after_success:
  coveralls
notifications:
  email: false
