recursive-include tests *.py *.json
recursive-include tests/data *.json *.sh *.p12 *.pem *.jpg *.png
recursive-include uritemplate *.py
recursive-include apiclient *.json *.py
recursive-include docs *.html
recursive-include samples *.py *.png *.html *.yaml *.json
include samples/gtaskqueue_sample/gtaskqueue/gen_appengine_access_token
include samples/gtaskqueue_sample/gtaskqueue/gtaskqueue
include samples/gtaskqueue_sample/gtaskqueue/gtaskqueue_puller
include runtests.py
include CHANGELOG
include README
include FAQ
include runsamples.py
include setpath.sh
include bin/enable-app-engine-project
