recursive-include tests *.py *.json
recursive-include httplib2 *.py *.json
recursive-include uritemplate *.py *.json
recursive-include apiclient *.json *.py
recursive-include docs *.html
recursive-include samples *.py *.png *.html *.yaml *.json
include runtests.py
include setpath.sh
include setup_utils.py
include gflags.py
include gflags_validators.py
