recursive-include tests *.py *.json
recursive-include tests/data *.json *.sh *.p12 *.pem *.jpg *.png
recursive-include uritemplate *.py
recursive-include apiclient *.json *.py
include runtests.py
include CHANGELOG
include LICENSE
include README
include FAQ
include runsamples.py
include setpath.sh
include bin/enable-app-engine-project
