<html>
  <head>
    <title>Advertiser Response</title>
    <style>
      h2 {
      margin: 3ex 0 1ex;
      }
      th {
      background-color: grey;
      }
      td {
      vertical-align: top;
      overflow: auto;
      }
      tr.details td {
      padding: 0 3ex;
      }
      td pre {
      margin: 3ex 3em;
      width: 500px;
      }
    </style>
    <script>
      function toggleDisplay(id) {
      el = document.getElementById(id);
      if (el.style.display == "none") {
      el.style.display = "block"
      } else {
      el.style.display = "none"
      }
      }
    </script>
  </head>
  <body>
    <h1>Advertisers</h1>
    <table border="1" cellspacing="0">
    {% for item in items %}
      <tr>
        <th>Advertiser ID</th>
        {% if item.status %}<th>Relationship Status</th>{% endif %}
        <th>Advertiser Name</th>
        <th>Advertiser Category</th>
        {% if item.joinDate %}<th>Join Date</th>{% endif %}
        {% if item.epcSevenDayAverage %}<th>EPC Seven Day Average</th>{% endif %}
        {% if item.epcNinetyDayAverage %}<th>EPC Ninety Day Average</th>{% endif %}
        {% if item.payoutRank %}<th>Payout Rank</th>{% endif %}
        {% if item.siteUrl %}<th>Site Url</th>{% endif %}
        {% if item.productFeedsEnabled %}<th>Product Feeds Enabled</th>{% endif %}
        {% if item.commissionDuration %}<th>Commission Duration</th>{% endif %}
        {% if item.logoUrl %}<th>Logo Url</th>{% endif %}
        {% if item.contactEmail %}<th>Contact Email</th>{% endif %}
        {% if item.contactPhone %}<th>Contact Phone</th>{% endif %}
      </tr>
      <tr class="advertiserInfo">
        <td>{{ item.id }}</td>
        {% if item.status %}<td>{{ item.status }}</td>{% endif %}
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        {% if item.joinDate %}<td>{{ item.joinDate }}</td>{% endif %}
        {% if item.epcSevenDayAverage %}<td>{{ item.epcSevenDayAverage }}</td>{% endif %}
        {% if item.epcNinetyDayAverage %}<td>{{ item.epcNinetyDayAverage }}</td>{% endif %}
        {% if item.payoutRank %}<td>{{ item.payoutRank }}</td>{% endif %}
        {% if item.siteUrl %}<td>{{ item.siteUrl }}</td>{% endif %}
        {% if item.productFeedsEnabled %}<td>{{ item.productFeedsEnabled }}</td>{% endif %}
        {% if item.commissionDuration %}<td>{{ item.commissionDuration }}</td>{% endif %}
        {% if item.logoUrl %}<td>{{ item.logoUrl }}</td>{% endif %}
        {% if item.contactEmail %}<td>{{ item.contactEmail }}</td>{% endif %}
        {% if item.contactPhone %}<td>{{ item.contactPhone }}</td>{% endif %}
      </tr>
      {% if item.description %}
      <tr class="description">
        <th>Description</th>
        <td colspan="13">{{ item.description }}</td>
      </tr>
      {% endif %}
      {% empty %}
      <tr>
        <td>
          <p style="padding:10px">No advertisers fit that criteria. Try searching for modifying your search.</p>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
