# This constraints file is used to check that lower bounds
# are correct in setup.py
# List *all* library dependencies and extras in this file.
# Pin the version to the lower bound.
#
# e.g., if setup.py has "foo >= 1.14.0, < 2.0.0dev",
# Then this file should have foo==1.14.0
httplib2==0.15.0
google-auth==1.16.0
google-auth-httplib2==0.0.3
google-api-core==1.21.0
six==1.13.0
uritemplate==3.0.0