# Test the latest version of google-auth against the version of
# api-core with ClientOptions.universe_domain.
httplib2==0.19.0
google-auth
google-auth-httplib2==0.2.0
google-api-core==2.15.0
uritemplate==3.0.1